[2019-03-04 18:59] HLeithner commented on #22114
I'm not sure if I understand it correctly but style have parameter so if you want a different style you have to create a different style and use the style parameter from the template in your index.php.

Moving this to file names makes less sense for me. You can reopen this issue and may provide a PR so we could discuss the solution.

[2019-03-04 18:59] #22114 closed, assigned to nobody

[2019-03-04 19:02] HLeithner commented on #22394
This depends on the template, if you have a custom template it should be fixed there, if its the core template we should fix it.

[2019-03-04 19:03] mbabker commented on #23228
You'd have to ask Achal when he added the tests why he added the check as well, but this is a 5-year-old thing so good luck with that type of memory.  The check makes sense to ensure you can actually do the thing before you actually do it, so I don't think removing it is the right course of action here without also handling the function having an error, which has never been done in the history of

[2019-03-04 19:07] franz-wohlkoenig commented on #22114
thanks @HLeithner

[2019-03-04 19:10] HLeithner commented on #23228
So microsoft should fix there filesystem? Could be hard to achieve ;-)

So is_writable may solve both problems... could be done for V2 of the framework?

[2019-03-04 19:12] mbabker commented on #23228
Anything's possible.  Just please provide adequate tests one way or another.  PHP and filesystem logic has changed a bit in the last decade and a lot of the Joomla filesystem code has gone untouched in that time, maybe things needed in 2007 aren't as necessary in 2019 or there's a better way to do it.

[2019-03-04 19:17] HLeithner commented on #23228
Yeah thats true, maybe someone of @joomla/automated-testing-admin could help building an WSL testing setup.

[2019-03-04 19:19] brianteeman commented on #22394
it is a core issue

[2019-03-04 19:19] HLeithner commented on #23001
You can do this in an layout override or creating your own custom field.

[2019-03-04 19:19] #23001 closed, assigned to nobody

[2019-03-04 19:20] HLeithner commented on #22394
@brianteeman could you make a PR?

[2019-03-04 19:22] rytechsites commented on #23001
We did solve this with an override, but it seems that others need a very similar functionality...especially having the 'mailto' stripped automatically.

thanks,
Laura

[2019-03-04 19:25] brianteeman commented on #22394
its a big change that would be a b/c break

[2019-03-04 19:27] SharkyKZ commented on #24056
Yes, it's somewhat outdated but changing it would break expected styling on existing sites. Some would consider this B/C break, in which case it should be done in 4.0. And it is already accomplished by removing the script completely.

This can be done by removing two lines from source script (`caption-uncompressed.js`) containing the word "width" and saving the script to `js/system/caption.js` fil

[2019-03-04 19:31] HLeithner commented on #22394
Ok then we can close this here. J4 should be ok with a new template?

@HerKle you should be able to fix this with a template override please ask in the forum if you need help with this.

[2019-03-04 19:31] #22394 closed, assigned to nobody

[2019-03-04 19:31] HLeithner commented on #23001
Ok so maybe you can create a PR against 4.0-dev?

[2019-03-04 19:33] alikon commented on #23983
maybe we should simply look at schema
[code]

[2019-03-04 19:33] HLeithner commented on #23246
@boomsya could you create a PR?

[2019-03-04 19:34] HLeithner commented on #23983
schema is sometimes really slow, especially on older mysql versions.

[2019-03-04 19:35] rytechsites commented on #23001
HLeithner,
I haven't made a PR before, and I'm not sure if it is 'important' enough to do so, would you recommend that I just copy my code here, and create a PR?

thanks,
Laura

[2019-03-04 19:37] brianteeman commented on #22394
it is not a template issue!!!!!! Have you never built a web site with Joomla

[2019-03-04 19:37] HLeithner commented on #22394
never used archive no sorry

[2019-03-04 19:39] alikon commented on #23983
maybe this one is better
[code]

[2019-03-04 19:51] Fedik commented on #24084
@infograf768 I have a suspicion that this #23637 should fix the bug,  but not sure

[2019-03-04 19:54] brianteeman commented on #22394
Clearly

[2019-03-04 20:00] Fedik commented on #22412
@franz-wohlkoenig I do not think that it is actual.
The repeatable field are depreciated, and the subform field have an attribute `layout` to choose the layout

[2019-03-04 20:02] HLeithner commented on #22394
It took me 20 minutes to figure out how to fix it with a template override.

make a copy of this template file: components/com_content/views/archive/tmpl/default_items.php

Modify line 132 from:
[code]
to
[code]

that would be enough to achieve the layout the opener wants, maybe some settings have to be set in the parameter so the readmore buttons looks the same.

So yes I already build a joomla w

[2019-03-04 20:12] HLeithner commented on #23001
I think you need a bit more then a template override, you also need to modify the custom field settings.

Everyone has done a first PR ;-) just try it.

* fork joomla-cms
* clone it to your local pc
* create a new branch from 4.0-dev
* modify the files you have to
* push it back to github
* create a pull request

if you don't have a local dev Environment you can it do on github directly.
* fork jo

[2019-03-04 20:13] HLeithner commented on #23983
works on all supported versions? At least it looks really simple.

[2019-03-04 20:16] Spudley commented on #22858
Hi Franz. I've just re-tested it on the latest version (3.9.3) and yes, the problem remains the same.

[2019-03-04 21:04] HLeithner commented on #23046
Closing, we have a PR for this #24089

[2019-03-04 21:04] #23046 closed, assigned to nobody

[2019-03-04 21:08] Milglius commented on #23991
@ReLater Yes tested with SEF, Use URL Rewriting, Modern URL Routing, and Remove IDs from URLs

[2019-03-04 21:22] Joomv commented on #22394
Just a friendly reminder to be kind on Github.  There is no need to be rude.
Thanks.

[2019-03-04 22:12] chmst commented on #24035
A Space in a text field is a space.
We need a PR which implements "Pressing the Enter key in the text fields of a form should not trigger any action."

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24035">issues.joomla.org/tracker/joomla-cms/24035</a>.</sub>

[2019-03-04 22:27] zwiastunsw commented on #24035
More. We need to investigate whether there are other situations in which we have accidental results of using the Enter key. Of course, using the Enter key in the Search fields should start the search.

[2019-03-04 22:32] brianteeman commented on #24035
Except it should in a search field and that it just a text field :(

[2019-03-04 22:33] chmst commented on #24035
Then it is better to make special fields here the enter key can trigger an action. For example in search.

[2019-03-04 22:38] brianteeman commented on #24035
Reading the following article its about how many fields are in the form

https://www.tjvantoll.com/2013/01/01/enter-should-submit-forms-stop-messing-with-that/

[2019-03-04 23:00] chmst commented on #24035
This is interesting.

But the issue here is an issue.
I fill a form and write a long text. Then I want to add a note - and in the note field I accidentally press enter. All input is los, I am back on the list view.
So how can @Harshil99  solve that?

[2019-03-04 23:21] zwiastunsw commented on #24035
Pressing the Enter key in the textarea field must start a new paragraph. Always.

[2019-03-05 00:29] ReLater commented on #23991
@franz-wohlkoenig
Could you please reopen the issue because we need at least clarifying statements for issues I described in comments https://github.com/joomla/joomla-cms/issues/23991#issuecomment-469283526 and https://github.com/joomla/joomla-cms/issues/23991#issuecomment-469287381
Thank you!

[2019-03-05 05:57] Harshil99 commented on #24035
@zwiastunsw I think we can't start paragraph in single line fields (i.e. Title field in new article).

[2019-03-05 05:59] franz-wohlkoenig commented on #23001
@HLeithner is this short Manual above somewhere to link so potential PR-Creators can be linked to?

[2019-03-05 06:01] #22412 closed, assigned to nobody

[2019-03-05 06:01] franz-wohlkoenig commented on #22412
closed based on Comment above. If closing is wrong please reopen and sorry.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22412">issues.joomla.org/tracker/joomla-cms/22412</a>.</sub>

[2019-03-05 06:03] franz-wohlkoenig commented on #22858
@Spudley thanks for test again > @HLeithner can you please comment?

[2019-03-05 06:10] #17875 closed, assigned to nobody

[2019-03-05 06:11] franz-wohlkoenig commented on #17875
closed as having Pull Request #24088

[2019-03-05 06:43] infograf768 commented on #24084
@Fedik
Correct! Closing as #23637 solves the issue indeed.

[2019-03-05 06:43] #24084 closed, assigned to nobody

[2019-03-05 07:25] infograf768 opened #24093 "[4.0] Blog sample data plugin workflow state issue"
### Steps to reproduce the issue
Clean Joomla install.
In CPanel install Blog Sample Data

### Expected result
All articles created are published

### Actual result
All articles are unpublished.

@bembelimen
I guess that as Unpublished is default Joomla workflow, it is to be expected. BUT when I add `$article['state'] = 1;` it does not work either.

Note: it works fine for the multilingual sample

[2019-03-05 08:37] franz-wohlkoenig commented on #20011
@Hackwar is this a Topic for j4 too?

[2019-03-05 08:37] HLeithner commented on #23001
There are better manuals then this.

[2019-03-05 08:39] franz-wohlkoenig commented on #21439
@Hackwar should this issue stay open for j4?

[2019-03-05 08:43] franz-wohlkoenig commented on #22010
@alikon can you please comment?

[2019-03-05 08:45] franz-wohlkoenig commented on #22036
@csthomas can this Issue be closed?

[2019-03-05 08:46] franz-wohlkoenig commented on #22056
@Didldu-Florian is this issue resolved?

[2019-03-05 08:49] franz-wohlkoenig commented on #22140
New Features go only in j4 as i know, so this should get a J4-Issue-Label.

[2019-03-05 08:50] franz-wohlkoenig commented on #23001
Link?

[2019-03-05 08:52] franz-wohlkoenig commented on #22170
@mbabker cen you please comment?

[2019-03-05 08:53] franz-wohlkoenig commented on #22174
i'll try calling @infograf768

[2019-03-05 08:53] franz-wohlkoenig commented on #22179
@infograf768 can you please comment?

[2019-03-05 08:55] franz-wohlkoenig commented on #22232
needs a j4-Label.

[2019-03-05 08:56] franz-wohlkoenig commented on #22241
@Fedik wanted the Example https://github.com/joomla/joomla-cms/issues/22241#issuecomment-424609115

[2019-03-05 08:58] franz-wohlkoenig commented on #22256
@sandewt can you please provide a Pull Request?

[2019-03-05 09:00] Hackwar commented on #23582
I've not looked into this yet. I'm in the process of rewriting tagging in 4.0, but did not get to that part yet. But in general the bug description looks correct.

[2019-03-05 09:08] Hackwar commented on #21439
Yes, please.

[2019-03-05 09:16] franz-wohlkoenig commented on #21439
needs Label J4.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21439">issues.joomla.org/tracker/joomla-cms/21439</a>.</sub>

[2019-03-05 09:23] Hackwar commented on #20011
I understand the frustration, but I agree with @mbabker here. I don't see this as part of the default Joomla core. The potential for security issues and using it wrong is to great for my taste. If you really need this, then you should look into ways to have this with proper core overrides. However I also suggest to look into optimisations of your site first. Generally, your site should respond qui

[2019-03-05 09:51] mdaoudi123 opened #24095 "JOOMLA installed on POSTGRES => problem with users email (can be duplicated)"
I installed an instance of JOOMLA on a POSTGRES database and I noticed that the email address of the users is case sensitive.
The problem is that you can create two users with the same address.
Example:
user 1: test@test.fr
User 2: Test@test.fr

Normally the verification of the email address must be insensitive box.
Indeed I noticed that in the methods of checking the email addresses in the core o

[2019-03-05 09:53] zwiastunsw commented on #24035
@Harshil99: You think well, but I wrote about the textarea field, where we have many lines.

[2019-03-05 09:57] franz-wohlkoenig commented on #24095
Please give "System information (as much as possible)"

[2019-03-05 09:58] #20011 closed, assigned to nobody

[2019-03-05 09:59] franz-wohlkoenig commented on #20011
closed as stated above, thanks for taking time @Hackwar

[2019-03-05 10:03] mdaoudi123 commented on #24095
Hi,
First thanks for responding.
Joomla version 3.9.2 (installed on Postgres) and not on Mysql
Postgres version 10
PHP version 7.2

that's all

Need more informations?

[2019-03-05 10:03] chmst commented on #24035
The issue here was the text field, for exaple the title field or the notes field

In the article of @brianteeman the user asks for submitting a form when the user presses enter.
I hate this - I use to accidentally sumbit posts  which are not finished, just because I expect that the enter makes a new paragraph and does not send. But this is a personal experience.

In joomla edit forms:

Could we sa

[2019-03-05 10:09] franz-wohlkoenig commented on #24095
as 3.9: @HLeithner can you please comment?

[2019-03-05 10:09] infograf768 commented on #22179
can't help without getting such an extension.

[2019-03-05 10:09] franz-wohlkoenig commented on #24095
@mdaoudi123 can you please append the Information in first Comment so they don't have to be searched by Volunteers?

[2019-03-05 10:10] franz-wohlkoenig commented on #22179
so @mixahlos have to provide an Extension?

[2019-03-05 10:32] infograf768 commented on #22179
that would help, yes, as I see no reason for JText to work and JText::sprintf not

[2019-03-05 10:35] infograf768 commented on #22179
My guess is that the string should be in component/extension/language/xx-XX/xx-XX.extension.sys.ini

[2019-03-05 11:00] franz-wohlkoenig commented on #22179
@mixahlos can you provide a Extension?

[2019-03-05 11:18] zwiastunsw commented on #24035
Maybe this article will help you:
[Implicit Submission of Form When Pressing Enter Key](http://stonefishy.github.io/blog/2015/06/30/implicit-submission-of-form-when-pressing-enter-key/)

I am not a programmer. In my opinion it is necessary to find an error. Implicit submission of a form with many fields, this is not the default, correct behavior.

[2019-03-05 11:54] puneeth2001 commented on #24093
Issue confirmed.
working on it.

[2019-03-05 12:01] infograf768 commented on #22174
The confusion is rather for Terms of Service and Terms & Conditions.
My advise is to choose one or the other but not both.

![screen shot 2019-03-05 at 12 37 03](https://user-images.githubusercontent.com/869724/53802923-6ddbf080-3f43-11e9-8bc0-b4b35d3b7064.png)

The User Profile plugin, when enabled and if the param is required and no article is set is, blatantly displaying Agree or No without any

[2019-03-05 12:20] vijay9908 commented on #23979
I am not getting any images to select one and even after downloading and uploading an image, I am getting no image shown up from uploads

[2019-03-05 12:22] vijay9908 commented on #23972
Can I know about this issue in detail! , so  that I can work on this.

[2019-03-05 12:24] vijay9908 commented on #23965
Issue Confirmed
Can I work on this?

[2019-03-05 12:29] HLeithner commented on #24095
@alikon can you look at this?

[2019-03-05 12:36] mdaoudi123 commented on #24095
Thanks

[2019-03-05 12:42] vijay9908 commented on #23965
Can I know what alternative to jquery can be used?

[2019-03-05 13:07] artur-stepien commented on #23983
Why do you wan't to look for a schema if it the problem is completely different? Its about the fact, that Table uses COUNT(*) do determinate if the row exists. The name of the function is just misleading. We already know what is the primary key cause it is provided as a parameter of class extending Table. When autoincrement is disabled on the Table class it looks if there is a row with provided pr

[2019-03-05 13:11] artur-stepien commented on #23983
@HLeithner  And as for the support. From what I already found it EXISTS() is implemented in MySQL/MariaDB, MS SQL, PostgreSQL and even SQLite. As for the version. Change shouldn't affect negatively any of the components cause function behavior is same. Just the method changing for a faster one.

[2019-03-05 13:30] HLeithner commented on #23983
ok so can you please provide a PR?

[2019-03-05 13:36] HLeithner commented on #23965
vanilla es6 JS should be used.

@dgrammatiko may can help here?

[2019-03-05 13:42] franz-wohlkoenig commented on #22174
thanks for Help @infograf768, so closing the Issue.

[2019-03-05 13:42] #22174 closed, assigned to nobody

[2019-03-05 14:01] artur-stepien commented on #23983
@HLeithner I need a week or so. Plenty of projects to finish.

[2019-03-05 14:02] HLeithner commented on #23983
no problem we have some time left till J4 beta ;-)

[2019-03-05 14:16] coolcat-creations commented on #23793
Can we please just style it according to the other Dropdowns and use same classes (for example save button)

[2019-03-05 14:30] vijay9908 commented on #23965
can someone help me with location of text file from where contents are displayed earlier?

[2019-03-05 14:38] HLeithner commented on #22858
I don't see a clear function in our cache layer... maybe @mbabker can help?

[2019-03-05 14:52] mbabker commented on #22858
There is a partially implemented `Joomla\CMS\Cache\CacheStorage::flush()` method, that should probably be exposed through `Joomla\CMS\Cache\Cache` too.

But that's overkill for this.  A vote operation needs to clean the `com_content` cache group and the cache for relevant modules.  Essentially, the frontend article model needs to have the `storeVote` method call `$this->cleanCache()` and the exten

[2019-03-05 14:58] dgrammatiko commented on #23965
@vijay9908 please test #24098

[2019-03-05 15:02] brianteeman commented on #22858
There might be some help looking in the hits code. as I remember @rdeutz did some work on it that sounds like it was tackling the same root issue

[2019-03-05 15:09] dgrammatiko commented on #23965
@brianteeman just replace the onclick with `document.querySelector('#tab-description').click()`

[2019-03-05 15:13] C-Lodder commented on #23793
@coolcat-creations So you want to remove the background (red/green) from the dropdown, depending on which item is selected?

[2019-03-05 15:14] #23965 closed, assigned to nobody

[2019-03-05 15:15] franz-wohlkoenig commented on #23965
closed as having Pull Request #24098

[2019-03-05 15:32] #23793 closed, assigned to nobody

[2019-03-05 15:32] franz-wohlkoenig commented on #23793
closed as having Pull Request #24099

[2019-03-05 15:55] dmurphy779 commented on #23262
I'm sorry but I don't have time to test further right now. Feel free to close this if you are unable to duplicate the issue on your end. I love what you folks are doing with the workflow component. I just hope it's intuitive / flexible enough to use. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.

[2019-03-05 16:14] #23262 closed, assigned to nobody

[2019-03-05 16:15] franz-wohlkoenig commented on #23262
closed as stated above, Issue can always reopened if needed. Thanks for your Time @dmurphy779.

[2019-03-05 17:01] coolcat-creations commented on #23973
Same problem here. It has been already reported I think and its a huge issue.

[2019-03-05 17:04] coolcat-creations commented on #23973
https://github.com/joomla/joomla-cms/pull/22942
https://github.com/joomla/joomla-cms/pull/22923
https://github.com/joomla/joomla-cms/issues/22038
https://github.com/joomla/joomla-cms/issues/22519

[2019-03-05 18:01] alikon commented on #24095
i don't think we can use **CITEXT** on the 3.x branch cause of [Unsupported versions: 9.3 / 9.2 / 9.1 / 9.0 / 8.4](https://www.postgresql.org/docs/current/citext.html)
and joomla 3.x still [support 8.3.18](https://downloads.joomla.org/technical-requirements) as minimum requirement we should use something like
[code]
and for performance  maybe change the index too
[code]

[2019-03-05 18:24] brianteeman commented on #23972
@vijay9908 all the detail is in the original post

[2019-03-05 19:07] Anu1601CS commented on #23968
@bahl24 We have lots of issue for media-manager. Try to fix this like this.
https://github.com/joomla-projects/media-manager-improvement/issues/567

[2019-03-05 19:29] alikon commented on #23983
@artur-stepien absolutely yes, sorry for the misunderstand, looking forward to your PR

l

[2019-03-05 19:31] #24093 closed, assigned to nobody

[2019-03-05 19:31] Quy commented on #24093
Please test PR #24101<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24093">issues.joomla.org/tracker/joomla-cms/24093</a>.</sub>

[2019-03-05 21:23] creative-resort commented on #23663
Thank you @ReLater.
I've read it and while I understand how the mechanics behind the scenes work,
it doesn't solve the issue.

What is the best way to debug / measure timings on functions for those ajax calls?

[2019-03-06 03:24] Joomv commented on #24034
There are a lot of use cases for RSS.  I use it to bring feeds into Intranets for example. Although the death of readers is true, the use of RSS for other things, as Luca said, posting to social networks is still high.

[2019-03-06 07:32] mdaoudi123 commented on #24095
**Hello**,
Thanks for responding.

In the begining i tried to use the "**LOWER**" function to compare the email, but i found a lot of function that use this comparaison. So i was obliged to change all the function into many files and I was afraid to forget others. so i choose this simpliest solution: "**CITEXT**".

I think that we have to create a new patch where we the function "**LOWER**" will b

[2019-03-06 08:09] infograf768 opened #24102 "[4.0] File system plugin Fatal Error"
### Steps to reproduce the issue
Edit the File system plugin
`administrator/index.php?option=com_plugins&view=plugin&layout=edit&extension_id=483`

### Actual result
fatal error: Object of class stdClass could not be converted to string in ROOT/libraries/cms/html/select.php on line 647

[2019-03-06 08:24] SharkyKZ commented on #24102
Test PR #24103 please.

[2019-03-06 08:28] infograf768 commented on #24102
Closing as https://github.com/joomla/joomla-cms/pull/24103 solves the issue.
Thanks.

[2019-03-06 08:28] #24102 closed, assigned to nobody

[2019-03-06 10:07] ramblerswebs commented on #15727
I don't see this should be closed
I have                <field name="ListFormat" type="text" default="" size="600" label="List layout format" description="List layout format" />

and am using J3.9.3 and I get a text box of 206 wide when I need more (perhaps not 600)
why have an option if it DOES NOT WORK

[2019-03-06 11:20] olleharstedt opened #24107 "Deprecated method does not point to replacement"
### Steps to reproduce the issue

### Expected result

When a method is deprecated, the documentation should contain information about what to use instead, e.g. a `@see` tag.

### Actual result

No such info. https://api.joomla.org/cms-3/classes/JDatabaseDriver.html#method_getInstance

The method is deprecated, but how to know what to use instead?

### System information (as much as possible)

###

[2019-03-06 13:31] mbabker commented on #24107
This one is a weird case of picking up a deprecation because the parent class is deprecated.

When JDatabaseDriver was introduced, it was made a subclass of JDatabase to not create as many B/C issues in changing from the old structure of the database API (think Joomla 2.5) to the redesigned structure.  So JDatabase is deprecated, and inherently everything in that parent class is too.  The docs par

[2019-03-06 15:35] webstractions commented on #23182
@pmleconte I saw the discussion and the PR from 2017. As @5uwebsite mentioned in regards to Admin to be able to view items with Guest access was not addressed. It only covers SuperUser access to view the Guest items.

My question is where does this stand today? In my situation, I added User Login & User Registration items to a menu, set them to Guest access (User Logout was set to Registered).

Ev

[2019-03-06 16:15] C-Lodder opened #24108 "[4.0] [WIP] Use namespaced classes"
- [ ] JRegistry
- [x] JRegistryFormatIni
- [x] JRegistryFormatJson
- [x] JRegistryFormatPhp
- [x] JRegistryFormatXml
- [x] JStringInflector
- [x] JStringNormalise
- [x] JData
- [x] JDataSet
- [x] JDataDumpable
- [ ] JApplicationAdministrator
- [x] JApplicationHelper
- [ ] JApplicationBase
- [ ] JApplicationCli
- [ ] JApplicationCms
- [x] JApplicationDaemon
- [ ] JApplicationSite
- [ ] JApplication

[2019-03-06 16:32] coolcat-creations commented on #23973
@zero-24 do you think you can fix this anyhow?

[2019-03-06 16:33] olleharstedt commented on #24107
So it is __not__ deprecated?

[2019-03-06 16:33] olleharstedt commented on #24107
Just close the issue if so.

[2019-03-06 16:35] mbabker commented on #24107
[The source code says it is not deprecated](https://github.com/joomla/joomla-cms/blob/6c9ff8e0a8b2fb2ecb816984446b23e4dd3db596/libraries/joomla/database/driver.php#L232).  Like I said, it is a quirk with the doc parser and the odds of the parser quirk being dealt with are not good.

[2019-03-06 16:36] olleharstedt commented on #24107
Is the doc parser here on github?

[2019-03-06 16:36] franz-wohlkoenig commented on #24107
@olleharstedt you can close your own Issue yourself.

[2019-03-06 16:36] coolcat-creations commented on #22782
I like the ideas of the 3 animated dots. But for this leaving the article unsaved should check the article in. Like described in this issue: https://github.com/joomla/joomla-cms/issues/22060

It does not make sense to keep it checked in, when the user is not working on it anymore.

I bet there is a way to solve this issue by having something like a pair between session cookie and article edition.

[2019-03-06 16:37] mbabker commented on #24107
It's phpDocumentor, the template can be found at https://github.com/joomla/api.joomla.org

[2019-03-06 16:39] olleharstedt commented on #24107
Thanks.

[2019-03-06 16:39] #24107 closed, assigned to nobody

[2019-03-06 16:41] coolcat-creations commented on #21998
There is a PR somewhere in preparation. I can't find the reference. Consider it as WIP, thank you

[2019-03-06 16:41] coolcat-creations commented on #21997
There is a PR somewhere in preparation. I can't find the reference. Consider it as WIP, thank you

[2019-03-06 16:43] coolcat-creations commented on #24076
Can anyone take care of this screen maybe? The Toggle (bottom right) could be ordered to top OFC
https://coolcat-creations.com/joomla/#/screens/267320995

[2019-03-06 16:47] coolcat-creations opened #24109 "[4.0] Redirect after edit to origin"
### What needs to be fixed
When something is edited from a shortcut link, for example like here: https://github.com/joomla/joomla-cms/pull/23934 the user should be redirected to the origin he came from

If you edit the module and close it, you end up in the module manager. It would be good to implement a refererlink on such icons so when you close something you get back to where you came from.

@i

[2019-03-06 16:49] coolcat-creations commented on #23777
This page has another big issue, For example (one of many) If you are in Install Languages there is no way to click directly on Content Languages. Suggestions how to fix this bit messed up structure are welcome :-)

[2019-03-06 17:07] coolcat-creations commented on #23626
Please see this screen: https://coolcat-creations.com/joomla/#/screens/267320995
But take Dimitris suggestion into account that both fields have 50% in Desktop and 100% width in Mobile.

[2019-03-06 17:09] akashbisht81 commented on #16020
The sidebar looks pretty

[2019-03-06 17:11] coolcat-creations commented on #22839
Hello! We redesigned the login page to match the backend design. Will submit the PR as soon as possible.
![grafik](https://user-images.githubusercontent.com/828371/53899760-381a3300-403b-11e9-9727-b0f8fe402f70.png)

[2019-03-06 17:20] micker commented on #22839
Ahhh coolcat-creations..... Some news about it cool
Major change has i see, same for other page ?

[2019-03-06 17:49] alikon commented on #24095
@mdaoudi123 yes, are you going to submit a pr ?

[2019-03-06 17:56] brianteeman commented on #23777
Already discussed extensively - guess you missed it

[2019-03-06 18:26] coolcat-creations commented on #22839
Please check this presentation for details :-)
https://www.youtube.com/watch?v=C0doSVLgqnQ

[2019-03-06 19:04] bahl24 commented on #24076
I can work on it. @coolcat-creations @C-Lodder
What would be an acceptable position to put it, both on site as well as adminstrator side?

[2019-03-06 19:21] zero-24 commented on #23973
Well as linked above there are PR's fixing that issue so it it up to @HLeithner and @laoneo to decide which to merge.

This one by @ggppdk https://github.com/joomla/joomla-cms/pull/22942 or this one by me https://github.com/joomla/joomla-cms/pull/22923

Both should fix the issue but @laoneo blocked my PR by saying:

I personally feel that @ggppdk 's solution is better here but up to @HLeithner and

[2019-03-06 23:34] brianteeman commented on #23251
Closed - see #24110

[2019-03-06 23:34] #23251 closed, assigned to nobody

[2019-03-07 05:43] N6REJ commented on #24107
@olleharstedt if you work on this would you please make the new referenced item a link i.e. "
![image](https://user-images.githubusercontent.com/1850089/53934774-96f6a100-4069-11e9-8bbb-ac9091f312e8.png)"

[2019-03-07 06:56] laoneo commented on #23973
I Did not say that your fix is wrong, all I was saying that the check should be done either in the controller or the form class. Because unfortunately this problem does exist also outside of the context of custom fields. When a field is marked as disabled there is not point in validating it.

And this should be done from my point of view the FormController class here https://github.com/joomla/joom

[2019-03-07 07:16] SharkyKZ commented on #24027
I can't reproduce this issue. The file was uploaded successfully. But see if #20968 helps.

[2019-03-07 07:22] franz-wohlkoenig commented on #24027
closed based on Comment above.

@SharkyKZ thanks for taking Time to take a Look.

[2019-03-07 07:33] SharkyKZ commented on #24027
@franz-wohlkoenig don't close this yet. The linked PR is closed so the issue still needs to be solved, if someone else can reproduce it.

[2019-03-07 08:00] infograf768 commented on #24076
@coolcat-creations
I find it difficult to work on anything for the admin template when your proposed admin design is changing so drastically (at what I saw in https://coolcat-creations.com/joomla/#/screens/267320995 for various managers) vs what we have now.

[2019-03-07 09:16] Razzo1987 opened #24111 "Custom Field - Integer: start from 0"
### Is your feature request related to a problem? Please describe.

I create a Custom Field with Integer number. When I choose the value, I can not select 0

### Describe the solution you'd like

Add 0 option

### Additional context

![custom-field-integer](https://user-images.githubusercontent.com/906604/53945485-0304f380-40c2-11e9-8900-7e9ad8433b76.PNG)

[2019-03-07 09:33] SharkyKZ commented on #24111
Set `First`, `Last` and `Step` values in your custom field.

![untitled](https://user-images.githubusercontent.com/7325021/53946564-c094e400-40cc-11e9-95b1-54f093fea573.png)

[2019-03-07 09:40] franz-wohlkoenig commented on #24111
@Razzo1987 Please ask on [Forum](https://forum.joomla.org/)

[2019-03-07 10:20] brianteeman commented on #24108
Checked a few and all of these are already done.
 JRegistryFormatIni
  JRegistryFormatJson
  JRegistryFormatPhp
  JRegistryFormatXml
  JStringInflector
  JStringNormalise
  JData
  JDataSet
  JDataDumpable

[2019-03-07 11:45] C-Lodder commented on #24108
thanks @brianteeman

[2019-03-07 11:57] brianteeman commented on #24108
These are all done as well
  JImageFilterBackgroundfill
  JImageFilterBrightness
  JImageFilterContrast
  JImageFilterEdgedetect
  JImageFilterEmboss
  JImageFilterNegate
  JImageFilterSmooth

[2019-03-07 12:05] brianteeman commented on #24108
JInputCookie
JBuffer
JButton
JBrowser
JOpenSearchImage
JOpenSearchUrl
 JCache
   JCacheControllerOutput
  JCacheControllerPage
  JCacheStorageApcu
  JCacheStorageHelper
  JCacheStorageFile
  JCacheStorageMemcached
  JCacheStorageRedis
  JCacheStorageWincache
   JCacheExceptionUnsupported
  JFeedParserAtom
  JFeedParserNamespace
  JFeedParserRss
  JFeedParserRssItunes
  JFeedParserRssMedia
JFeedFac

[2019-03-07 12:09] bahl24 commented on #24076
![screenshot from 2019-03-07 17-38-42](https://user-images.githubusercontent.com/36095178/53955792-e5567f00-40ff-11e9-81e6-0ddcd7223aed.png)
How about this?

[2019-03-07 12:17] coolcat-creations commented on #24076
Just like in my Screen but at the top?

[2019-03-07 12:35] C-Lodder commented on #24108
`JCache` is still referenced in some comment blocks, so will leave that for now

[2019-03-07 12:37] brianteeman commented on #24108
When I did the original pass through updating these I ignored the docblocks and comments

[2019-03-07 12:43] bahl24 commented on #24076
Yes, that too looks fine

[2019-03-07 12:45] brianteeman commented on #24108
JLanguageAssociations
  JLanguageHelper
  JLanguageStemmer
  JLanguageMultilang
  JLanguageTransliterate
  JLanguageStemmerPorteren

[2019-03-07 12:57] brianteeman commented on #24108
JDatabaseExporter
  JDatabaseExporterMysqli
  JDatabaseExporterPdomysql
  JDatabaseExporterPgsql
 JDatabaseImporterMysqli
  JDatabaseImporterPdomysql
  JDatabaseImporterPgsql
  JDatabaseImporter

[2019-03-07 13:04] mdaoudi123 commented on #24095
Hello,

I dont know how to do it.
Could you please tell me how? or do it in my place?

Thanks

[2019-03-07 13:05] brianteeman commented on #24108
JDatabaseQueryElement
  JDatabaseQueryLimitable
  JDatabaseQueryPreparable
  JDatabaseQueryMysqli
  JDatabaseQueryPdo
  JDatabaseQueryPdomysql
  JDatabaseQueryPgsql
  JDatabaseQuerySqlazure
  JDatabaseQuerySqlite
  JDatabaseQuerySqlsrv

[2019-03-07 13:07] brianteeman commented on #24108
JFormRuleBoolean
  JFormRuleCalendar
  JFormRuleCaptcha
  JFormRuleColor
  JFormRuleNotequals
  JFormRuleNumber
  JFormRuleOptions
  JFormRulePassword
  JFormRuleRules
  JFormRuleUsername

[2019-03-07 13:15] brianteeman commented on #24108
JFormFieldAliastag
  JFormFieldAuthor
 JFormFieldCacheHandler
  JFormFieldCalendar
  JFormFieldCaptcha
  JFormFieldCategory
  JFormFieldCheckbox
  JFormFieldCheckboxes
  JFormFieldChromeStyle
  JFormFieldColor
  JFormFieldCombo
  JFormFieldComponentlayout
  JFormFieldComponents
  JFormFieldContenthistory
  JFormFieldContenttype
 JFormFieldEditor
  JFormFieldEMail
JFormFieldFile
  JFormFieldFileLis

[2019-03-07 13:31] mbabker commented on #24107
Trying to make all the class names links requires changing the inline doc blocks in the source code and IMO worsens readability because you have to wrap everything in a special tag and hope it gets processed, i.e. `@deprecated  4.0 Use {@link \Joomla\CMS\Filesystem\File} instead` (and that bit doesn't always work, actually per [phpDocumentor's documentation](http://docs.phpdoc.org/references/phpdo

[2019-03-07 14:13] potenzatk commented on #8824
Hello

Same error I have found when trying to install the new extension in my Joomla site please check below links.

http://prntscr.com/mum8ga

Database Version | 5.1.69
Database Collation | utf8_general_ci
PHP Version | 5.3.3
Web Server | Apache/2.2.15 (CentOS)
WebServer to PHP Interface | apache2handler
Joomla! Version | Joomla! 3.1.1 Stable [ Ember ] 26-April-2013 14:00 GMT
Joomla! Platform Ver

[2019-03-07 14:26] brianteeman commented on #8824
Your joomla version is very very out of date and insecure
Your php version is end of life and insecure

Update everything and your problems will be solved

[2019-03-07 14:27] #24111 closed, assigned to nobody

[2019-03-07 14:49] Chacapamac commented on #22839
This is my input on this design and what was show on this video:

First, after more than 4 decade of experience in design I can tell you that what is the most damaging to creativity today in design, music, architecture and any other form of art is those “Trends” that popup from nowhere and follow religiously  as the “Trending” thing to do, see and listen today.

Trends for color, for style or like

[2019-03-07 15:12] Puneet-Jain-18 opened #24114 "[4.0]unacessible calendar in articles/new/publish if width is less than 920 pixel"
### Steps to reproduce the issue
go to administrator=>content=>articles=>new=>publish tab
set width of tab less than 920 pixel
open the first calender

### Expected result
Full Accessible Calender

### Actual result
Partially accessible calender
![screenshot 7](https://user-images.githubusercontent.com/34083630/53966572-6a9a5d80-4119-11e9-8ba4-3c5f181cb595.png)

### System information (as much as

[2019-03-07 15:14] franz-wohlkoenig commented on #24114
Please add "[4.0]" at start of Title.

[2019-03-07 15:27] puneeth2001 commented on #24008
@infograf768  is it for sure that it is necessary to make drag and drop available for all I mean even without filtering. IMHO it might be done for some reason I think.

[2019-03-07 15:48] infograf768 commented on #24008
it is working for all and also when filtering in 3.x.
People may use few positions and few modules. therefore it is useful for them

[2019-03-07 17:24] HLeithner commented on #23973
thx @laoneo  I merged @zero-24 Pr https://github.com/joomla/joomla-cms/pull/22923 and closed the other one.
And this issue.

[2019-03-07 17:24] #23973 closed, assigned to nobody

[2019-03-07 17:25] HLeithner commented on #22038
This should be fixed now with PR https://github.com/joomla/joomla-cms/pull/22923

[2019-03-07 17:25] HLeithner commented on #22519
This should be fixed now with PR https://github.com/joomla/joomla-cms/pull/22923

[2019-03-07 18:23] alikon commented on #24095
ok then please test this draft pr #24117

[2019-03-07 18:30] #24095 closed, assigned to nobody

[2019-03-07 18:30] franz-wohlkoenig commented on #24095
closed as having Pull Request #24117

[2019-03-07 19:09] brianteeman commented on #24108
JMailHelper #24119

[2019-03-07 19:13] brianteeman commented on #24108
JLogLogger
  JLogLoggerDatabase
  JLogLoggerEcho
  JLogLoggerFormattedtext
  JLogLoggerMessagequeue
  JLogLoggerSyslog
  JLogLoggerW3c

[2019-03-07 19:14] brianteeman commented on #24108
JHttpTransportCurl
  JHttpTransportSocket
  JHttpTransportStream

[2019-03-07 19:38] C-Lodder commented on #24108
List up to date

[2019-03-07 19:41] brianteeman commented on #24108
I don't know how we should address the following scenarios

a code comment - example
`	 * This function is passed log entries by JLogLoggerCallback.
`

a docblock - example
`	 * @param   \JInput              $input    Input
`
another example
[code]

[2019-03-07 20:30] C-Lodder commented on #24108
I'm in the process of improving the regex. I'll ping you when I'm done and also give you my node script which will assist in automatically making the changes for you.

[2019-03-07 20:40] brianteeman commented on #24108
/me doesnt like automatic scripts ;)

[2019-03-07 21:45] janwychowaniak commented on #23618
In the meantime, I have found an interesting article that might provide a suggestion on how to implement this in imho a relatively elegant and flexible way. I hope this proves helpful in resolving the issue. [> link <](https://www.byman.it/site/index.php?option=com_content&view=article&id=251:protostar-google-font-body&catid=39&Itemid=154)

[2019-03-07 23:33] brianteeman commented on #21866
As there is a pr for this now #24115 it can be closed here

[2019-03-08 00:01] rickyosser commented on #21866
Just so you all know, the PR i submitted is the exact same patch as I attached to the first message in this Feature Request. I just didn't think of doing a PR at the time.
This could have been resolver half a year ago!

[2019-03-08 00:31] #21866 closed, assigned to nobody

[2019-03-08 05:54] franz-wohlkoenig commented on #23618
it's about having the correct Solution and also a Volunteer having Time and Interest to do a Pull Request, having two successfully Tests, ...

[2019-03-08 06:29] franz-wohlkoenig commented on #24114
@Puneet-Jain-18 Thanks.

[2019-03-08 06:30] franz-wohlkoenig commented on #24114
a Issue for @coolcat-creations ?

[2019-03-08 06:35] infograf768 commented on #23618
Although it is pretty easy to implement (patch would take a few minutes only, and not exactly as described in that link which dates back from 2014), it depends on the decision of @HLeithner as this can be done as a simple change in a copy of protostar.

[2019-03-08 06:37] franz-wohlkoenig commented on #23618
Theres also the Opinion to do new Features only against J4.

[2019-03-08 06:38] infograf768 commented on #23618
I would not consider this as a real new feature as it concerns only Protostar which is not used in 4.0 ;)

[2019-03-08 06:43] SharkyKZ commented on #24035
Test PR #24123 please.

[2019-03-08 07:00] #24035 closed, assigned to nobody

[2019-03-08 07:00] franz-wohlkoenig commented on #24035
closed as having Pull Request #24123

[2019-03-08 09:37] SharkyKZ opened #24125 "Internal Server Error instead of Joomla error page on PHP-FPM"
### Steps to reproduce the issue

Run Joomla on PHP-FPM setup.
Cause an error, e.g. put a call to non-existing function in `templates/protostar/index.php`.

### Expected result

Joomla error page. With stack trace if debug is enabled.

### Actual result

Internal Server Error.

### System information (as much as possible)

Setting | Value
-- | --
 
PHP Built On | Linux 2.6.32-042stab134.8 #1 SMP F

[2019-03-08 09:45] Bakual commented on #23618
Technically it's still a new feature 😄

[2019-03-08 09:45] mdaoudi123 commented on #24095
Thanks a lot for your help.

But There is also another file where exists a email comparaison:
- components/com_users/models/reset.php => function **processResetConfirm**
- components/com_users/models/remind.php => function **processRemindRequest**
- ...
and into other files..... (search for "**$db->quoteName('email')**")

Could you please add the correction to thoses files @alikon

[2019-03-08 09:47] infograf768 commented on #23618
Not wrong. 😺

[2019-03-08 09:55] infograf768 commented on #24109
This change works fine here for https://github.com/joomla/joomla-cms/pull/23934

[modules_refferer.diff.zip](https://github.com/joomla/joomla-cms/files/2945260/modules_refferer.diff.zip)

I guess we also could use a code using session.
Not sure what is the best solution

[2019-03-08 10:47] alikon commented on #24095
yes for sure, i was in hurry yesterday and made a draft pr only
please @mdaoudi123 comment on #24117

[2019-03-08 10:51] mdaoudi123 commented on #24095
already done. thanks for responding

[2019-03-08 12:59] hitaly opened #24127 "[4.0] module positions list not cover all elements that is under it"
### Steps to reproduce the issue
create new or open a module , click on position list to select a position , you will see the calendars of Start Publishing and Finish Publishing .![screen shot 2019-03-08 at 12 56 35](https://issues.joomla.org/uploads/1/e27fef1afad8b74731b900713d2fcfec.jpg)

### Expected result

### Actual result

### System information (as much as possible)
 joomla 4 alpha 6

###

[2019-03-08 13:18] coolcat-creations commented on #24114
The article page seems not to be touched yet at all - any coding volunteer to get with me through this?

[2019-03-08 13:20] franz-wohlkoenig commented on #24127
Same using latest nightly build https://developer.joomla.org/nightly-builds.html?

[2019-03-08 13:26] coolcat-creations commented on #24109
Ok I guess after the edit is merged I or @C-Lodder can add this "fix" to the module or should this fix be done to all possible places? Then the places should be maybe listed.
I can think of - edit userprofile ... but which else?

[2019-03-08 13:39] brianteeman commented on #24114
Still not started?

[2019-03-08 13:47] coolcat-creations commented on #24114
https://github.com/joomla/joomla-cms/issues/21989

This issue is almost uncommented. The comments which have been made are solved in @drmenzelit  great PR... - everything else was still not commented. So I am saying again: If there is a coding volunteer to solve this public issue I am happy to cowork.

[2019-03-08 13:55] brianteeman commented on #24114
No one commented on #21989 because right after you posted it you made it clear that you had a private team working on it in private. No one wants to waste their time!!

How can we know what needs to be done? You have been developing in private and except for a few rumours no one knows what has been done, what needs to be done etc. You mention a PR from @drmenzelit but where is it?

You can't have

[2019-03-08 13:57] coolcat-creations commented on #24114
You tested it already and as far as I am concerned its already merged.

[2019-03-08 14:01] coolcat-creations commented on #22005
WIP - not this design as the statements above made clear that you don't want it. But the current staging menu of this repo is getting the desired dashboard and add function and we ellaborate the a11y

[2019-03-08 14:05] hitaly opened #24128 "save & save new & save close & save copy not be a list on big screens"
### Steps to reproduce the issue
it is not nice to group the save new & save close & save copy with the save button on big screens .
it is ok for mobile .
it is a hard work when create a lot of articles or modules .... etc .
![screen shot 2019-03-08 at 14 04 46](https://issues.joomla.org/uploads/1/939a245d986d2e33611d05e7846ff2c8.jpg)

### Expected result

### Actual result

### System information

[2019-03-08 14:35] infograf768 commented on #24109
we must first decide if we should use that kind of code or not.

[2019-03-08 14:37] Puneet-Jain-18 commented on #24114
There is one another thing i noticed,
if i manually resize the tab after its loaded, the tab are displayed like this
![screenshot 9](https://user-images.githubusercontent.com/34083630/54034695-941cbd00-41dd-11e9-8986-7df58b2980fc.png)

but in reloading the page on same size the responsiveness is lost,this might be a related issue

![screenshot 8](https://user-images.githubusercontent.com/34083630/

[2019-03-08 14:41] hitaly opened #24129 "[4.0] extract the search position from the menu position ."
### Steps to reproduce the issue
add the main menu module to position MENU .
add the search module to position SEARCH .
test it on mobile :
the search show just after click on the colaps menu button .![screen shot 2019-03-08 at 14 38 03](https://issues.joomla.org/uploads/1/154451470dd3ed89bda75f3cd114decd.jpeg)

### Expected result
extract the search position from the navbar div

### Actual result

[2019-03-08 14:57] franz-wohlkoenig commented on #24129
Please add "[4.0]" at Start of Title.

[2019-03-08 14:58] franz-wohlkoenig commented on #24128
Please add "[4.0]" at Start of Title.

[2019-03-08 15:36] infograf768 commented on #24109
after some discussion, that code is not the right way.
will test another and, if it works fine, will make pr

[2019-03-08 15:48] Quy commented on #24128
Duplicate #14326

[2019-03-08 15:56] #24128 closed, assigned to nobody

[2019-03-08 15:56] franz-wohlkoenig commented on #24128
closed as duplicate Report, thanks @Quy <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24128">issues.joomla.org/tracker/joomla-cms/24128</a>.</sub>

[2019-03-08 15:59] franz-wohlkoenig commented on #24129
According to https://docs.joomla.org/Bug_and_Issue_Tracker_Priority changed Priority from "Crticial" to "Medium".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24129">issues.joomla.org/tracker/joomla-cms/24129</a>.</sub>

[2019-03-08 16:06] #24127 closed, assigned to nobody

[2019-03-08 16:06] Quy commented on #24127
Fixed in the [nightly builds ](https://developer.joomla.org/nightly-builds.html).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24127">issues.joomla.org/tracker/joomla-cms/24127</a>.</sub>

[2019-03-08 16:13] MacTrophy opened #24130 "JEventDispatcher trigger args"
### Steps to reproduce the issue
I think calling anything with the `JEventDispatcher->trigger` with an event name and no args OR an empty args array will result in a error.

In my plugin I am calling
[code]
to get the `PlgAuthenticationCookie` to do it's job. If the 2nd parameter to trigger is not specified or I pass `array()`, I will get
[code]

if I call `$dispatcher->trigger('onUserAfterLogout'

[2019-03-08 16:22] ranggasito opened #24131 "menu item alias access level doesn't work."
### Steps to reproduce the issue
create menu item alias with access level registered or above

### Expected result
the system should redirect to login page / restrict the access from public

### Actual result
public still can access the page.

### System information (as much as possible)
Joomla version 3.9.3
PHP 7.2.15 ubuntu
mysql 5.7.25-0ubuntu0.18.04.2

### Additional comments
in joomla 8 is fi

[2019-03-08 16:39] infograf768 commented on #24109
I wait for @C-Lodder pr to be merged to propose the patch as the main change is in fact in the url in modules.php

[2019-03-08 16:47] Puneet-Jain-18 opened #24132 "[4.0]Preview not working for unpublished articles"
### Steps to reproduce the issue
go to administrator
Create new article=>save it =>click on preview

### Expected result
article is previewed

### Actual result
![screenshot 11](https://user-images.githubusercontent.com/34083630/54042321-d3eca000-41ef-11e9-82a4-4f73c936742d.png)

### Additional comments
previewing is working correctly for published articles

[2019-03-08 18:06] coolcat-creations commented on #24109
Thank you :)

[2019-03-08 18:07] ReLater commented on #24132
In title you say "unpublished article", in additional comments "published article".
Could you please show other settings, too. Access level and so on.

[2019-03-08 18:09] ReLater commented on #24131
What is the access level of the parent menu item?

[2019-03-08 18:18] Puneet-Jain-18 commented on #24132
PS: I said it was working **correctly** for **published articles**

Here is screeshot for problematic unpublished  article
![screenshot 12](https://user-images.githubusercontent.com/34083630/54047210-7a3ea280-41fc-11e9-845f-939fe5dd5211.png)

[2019-03-08 18:42] ggppdk commented on #24132
So what is the Expected result if you are not logged ?
- to be redirected to login page ?

And then
if are already logged or you have logged after redirection with an account that cannot preview the content
- then a more helpful message should appear like ?

"You cannot preview this item, please login with a more privileged account"

[2019-03-08 19:19] ranggasito commented on #24131
The access level of both parent and item is Registered. I changed the parent item menu type to menu heading and it works properly

[2019-03-08 19:25] mbabker commented on #24130
`PlgAuthenticationCookie::onUserAfterLogout()` requires at least one parameter, so `JEventDispatcher::getInstance()->trigger('onUserAfterLogout')` or `JEventDispatcher::getInstance()->trigger('onUserAfterLogout', [])` won't work.  You must provide at least one value in the arguments array.  So, this would be an expected behavior, not because of an issue in the event dispatcher but rather the liste

[2019-03-08 19:39] #24130 closed, assigned to nobody

[2019-03-08 19:39] franz-wohlkoenig commented on #24130
closed as expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24130">issues.joomla.org/tracker/joomla-cms/24130</a>.</sub>

[2019-03-08 20:05] ggppdk commented on #24131
Regardless if you configured inside the (type: "menu item alias") menu item to have
a 301 redirection (you will see URL of the target menu item in the address bar)
or if you disabled the redirection (default setting) thus you will get re-routed to the target menu item

in both cases the access level of the the (type: "menu item alias") menu item
will only hide the menu item

if someone has a direc

[2019-03-09 09:05] Puneet-Jain-18 commented on #24132
I think user would not be able to visit this page if he is not logged in with required privileges

[2019-03-09 11:10] franz-wohlkoenig commented on #22544
closed as having Pull Request #24138

[2019-03-09 11:34] AlekVolsk opened #24139 "[4.0] Paths in configuration.php"
Windows server

Multidirectional slashes in the paths in configuration.php
[code]
The same goes for global `JPATH_*` constants.

**Either use DIRECTORY_SEPARATOR constant or write `/` everywhere.**

[2019-03-09 11:38] Septdir commented on #24139
OSPanel download link
https://ospanel.io/download/

[2019-03-09 11:56] HLeithner commented on #24139
Php handles this correct so not a problem?

On windows the php api gives us \ as seperator and we add /tmp to this so it's a simple concat. The rest is done by php so no chance requiered.

But if you like to write a PR to rewrite \ to / it will be considered.

I closing this but you can always reopen it

[2019-03-09 11:59] AlekVolsk commented on #24139
Well, now open it again, since PHP does not handle this correctly: try applying realpath or is_dir to this path and you will realize that it does not work

[2019-03-09 12:26] simbus82 commented on #24132
@ggppdk  Previewing article must work with or without frontend login, if an user is working in backend. And must work with an published or an unpublished article. There is not much to interpreting...
Otherwise it's not a preview ... That's how it works in the world of content creation.

[2019-03-09 12:36] b2z commented on #24139
@HLeithner so you confirm that '/' is a bug? On Windows it should be `\\`, right?

[2019-03-09 13:07] joeforjoomla opened #24140 "[4.0] API Webservices empty folder"
### Steps to reproduce the issue
Install an extension without the api part and usage in the XML file

### Expected result
No empty folder is created under /api/components/com_xxx

### Actual result
Empty folder is created under /api/components/com_xxx

### Additional comments
It would be supposed that if an extension does not use the api webservices and has not a tag for that section in the XML ma

[2019-03-09 13:08] chmst opened #24141 "Login for users without backend access"
### Steps to reproduce the issue
Create a user in a group without backend access.
Try to login with this account.

### Expected result
An Error message as for example "do not have access to the Administrator section of this site"
or nothing.

### Actual result
The error message is displayed but a sliding effect initiated

[2019-03-09 13:09] franz-wohlkoenig commented on #24140
closed as no Content.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24140">issues.joomla.org/tracker/joomla-cms/24140</a>.</sub>

[2019-03-09 13:10] franz-wohlkoenig commented on #24141
@chmst please provide System Informations.

[2019-03-09 13:11] joeforjoomla commented on #24140
Reopen it @franz-wohlkoenig i was just posting the content

[2019-03-09 13:37] chmst commented on #24141
So sorry, can you close this @franz-wohlkoenig?

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24141">issues.joomla.org/tracker/joomla-cms/24141</a>.</sub>

[2019-03-09 13:42] #24141 closed, assigned to nobody

[2019-03-09 14:07] brianteeman commented on #24139
My development system is windows
The paths on this system are written

`	public $log_path = 'C:\\htdocs\\joomla-cms\\administrator/logs';
`

Windows happily writes the logs into that directory.

So what is the problem that needs to be solved?

[2019-03-09 14:18] brianteeman commented on #24129
Reading the code that is the intended behaviour. I assume @ciar4n can explain the reasoning

[2019-03-09 14:26] AlekVolsk commented on #24139
There are extensions. who use this parameter for their own purposes and do not use Joomla classes to work with them, do not check for a platform delimiter. In addition, Joomla itself does not work correctly with these paths in JFile and JFolder, unless you previously run the values of the variables through `JPath::clean()`.

But who cares, you can not prove anything.

[2019-03-09 14:29] HLeithner commented on #24139
can you give me an example component? that has this problem?

[2019-03-09 14:30] brianteeman commented on #24139
whats the point in having an api if its not going to be used?

[2019-03-09 14:37] wilsonge commented on #24140
This is the same behaviour in the site application right? I mean I'm not going to dispute it's odd behaviour but this is how the installer works with existing site and admin components too. https://github.com/joomla/joomla-cms/blob/staging/libraries/src/Installer/Adapter/ComponentAdapter.php#L208-L271

[2019-03-09 14:42] HLeithner commented on #24139
there could be many reasons why you don't us the Joomla API,
But I can't reproduce it:

[code]
[code]

@AlekVolsk and why do you delete your comments?

[2019-03-09 14:44] roland-d commented on #24139
Long time Windows user. Never had a problem with paths like `C:\\OSPanel\\domains\\j4.local\\administrator/logs`

[2019-03-09 14:45] ciar4n commented on #24129
I can't remember off hand if this was in @C-Lodder original template PR or something I changed after. I assume the reasoning was for a less cluttered small screen display. I'm easy about it so feel free to change if you deem this an issue.

Is this even going to be the J4 template? I'm hearing mixed reports.

![image](https://user-images.githubusercontent.com/2803503/54072991-a51b0c00-4279-11e9-99

[2019-03-09 15:04] HLeithner commented on #24139
The only problem I can think of at the moment is if you try to manipulate the path, f.ex. removing parts of it.

[2019-03-09 15:48] mbabker commented on #24139
General bit of advice, any time a path is going to be shown to a user it's a good idea to run it through `JPath::clean()` which standardizes the directory separator.  So when saving config changes, putting these (and other configurable paths like the `cache_path` or in 4.0 the `session_filesystem_path`) through the API wouldn't hurt anything, but it clearly isn't something that's mandatory for PHP

[2019-03-09 15:51] mbabker commented on #24140
It has earlier been deemed a requirement that components all have an administrative client (in part because of code changes in 4.0 with conventions looking for things in that area).  In theory, it is possible to create an admin only component, and there would definitely be components without an API element.  So, having a cleanup routine to remove the frontend and API directories if unused would be

[2019-03-09 15:54] Septdir commented on #24139
Such paths are not a bug. But you must admit, this is not the correct one.

[2019-03-09 16:04] wilsonge commented on #24140
I agree. My point is just we should treat the 'optional' directories the same (site and api)

[2019-03-09 17:38] joeforjoomla commented on #24140
I agree with of you @wilsonge and @mbabker , my idea was just related to the fact that historically Joomla had 2 applications, site and admin one. Now in J4 we introduced a third application.
However supposed that only a few and specialized components will have and will use this API application in the future, i think that it would be better to parse the XML manifest and create an api directory onl

[2019-03-09 19:25] ggppdk commented on #24132
@simbus82

i understand your argument about UX , **yes it would be very nice**

as long as it is not an ugly hack with security concerns,
that also cares to preview with the desired access level

i mean the preview button is a little misleading, which access level do you want to preview ?
public ?
registered ?
other ?

but ok, i understand that most common case of preview is "public" access level

[2019-03-09 19:49] ggppdk commented on #24132
I forgot to say a suggestion
maybe auto create temporary "access" coupons that are added to the URL to limit viewing to a specific content with specific access level(s) and for specific short time ...

but the above will need some implementation effort

simplest solution is to auto login backend current user to frontend

[2019-03-09 20:27] bahl24 commented on #24114
What exactly needs to be done here? Maybe, I can help

[2019-03-09 22:50] thuebschmann commented on #23703
@Fedik I have try this option too. but this is no different.

At current point of time the fields in the subform field does not support filtering/validation.
--> thats the reason of this issue report<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23703">issues.joomla.org/trac

[2019-03-10 03:27] bembelimen opened #24144 "[4.0] SCSS Build script strange behavior"
### Steps to reproduce the issue
When tinkering around with #24110 I got one strange behavior:
I moved the ```media_source/plg_editors_tinymce/css/tinymce-builder.css``` to ```media_source/plg_editors_tinymce/scss/tinymce-builder.scss``` and want to benefit from the automatic build tool.

To my surprise the file is never converted to ```media/plg_editors_tinymce/css/tinymce-builder.css```

So I lo

[2019-03-10 07:21] Puneet-Jain-18 opened #24145 "[4.0] Header Overflow in administrator/articles/options"
### Steps to reproduce the issue
Go to backend =>articles=>options

### Expected result
header inside limited width

### Actual result

![Screenshot (13)](https://user-images.githubusercontent.com/34083630/54081919-2f737680-4333-11e9-9f9e-4e1999b7d911.png)

[2019-03-10 07:24] infograf768 commented on #22005
@coolcat-creations
I suggest to close this and open a new PR/proposal when things get testable or new screenshots of the various pages are posted.

[2019-03-10 07:35] Fedik commented on #23703
@thuebschmann I meant, you should remove that attribute  :wink:

[2019-03-10 08:43] franz-wohlkoenig commented on #24145
please provide Informations like "Nightly Build" or which "Alpha-Version".

[2019-03-10 09:05] dgrammatiko commented on #24144
Nope, Javascript is asynchronous so the recurse fn should have a `.then` to execute the scss compilation

I don't think that scss files were ever meant to be distributed, thus the code **doesn't** copy them. It's not a bug it's a design decision

Probably true

This is fine

[2019-03-10 09:30] Puneet-Jain-18 commented on #24145
the version is : Joomla! 4.0.0-alpha7-dev

[2019-03-10 09:46] bembelimen commented on #24144
Thank you @dgrammatiko for your answer.

Yep, that's the reason why there is a race at all. The execution of the task needs an enforeced sequence, if this is possible with ```.then(...)``` then it's ok.

I think I was a bit inaccurate here: Ofc only the (generated) CSS files should be copied, but they never will, because when they're generated, the ```Recurse``` file collection is already done, so

[2019-03-10 09:51] dgrammatiko commented on #24144
Ok, there is a misunderstanding here, the 2 different approaches (css and scss) don't share some code. Eg the css files just get copied and minified in the new folder but the scss get compiled to .css **and** .min.css by another function. There is no chained operation here...

[2019-03-10 10:20] bembelimen commented on #24144
Ok, I checked the code and yes there is some semi-dependency but at the end of the day they are separated. I have to run, but I will put in some thoughts and perhaps have an idea for a fix (if you're not faster ;) )

I also thought, that was the plan...

[2019-03-10 15:13] twister65 commented on #24049
I can't reproduce this issue.
![Actions_Log](https://user-images.githubusercontent.com/26852967/54087007-3f00b880-434f-11e9-92d3-6a51099b589d.png)

[2019-03-10 15:14] bosunski opened #24151 "[4.0] Blank Pages at Frontend and Backend after Fresh installation of Joomla on MySQL 8"
### Steps to reproduce the issue
- Cloned fresh `4.0-dev` branch
- Ran `composer install` and then `npm install`
- Ran Joomla Web installation as usual
- Tried to open either the Administrator or the Site

### Expected result
I expect to see content both on the Frontend and backend like this:
![Screenshot 2019-03-10 at 4 09 17 PM](https://user-images.githubusercontent.com/15146515/54086989-0eb91a0

[2019-03-10 15:22] brianteeman commented on #24049
@twister65 its the module not the component

[2019-03-10 15:33] twister65 commented on #24049
Okay, I'm sorry. I can reproduce this issue in the configuration panel.

[2019-03-10 16:25] coolcat-creations commented on #22005
Ok thanks

[2019-03-10 16:25] #22005 closed, assigned to nobody

[2019-03-10 19:03] coolcat-creations commented on #24114
@bahl24 please look into my screen at #21989 - best thing is to slice the issue down to small packages of to dos to solve the whole issue. Do you have time for a chat or skype or something?

[2019-03-10 20:23] hitaly commented on #24129
i see the issue on alpha 7 too .<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24129">issues.joomla.org/tracker/joomla-cms/24129</a>.</sub>

[2019-03-11 03:52] hitaly opened #24153 "[4.0] can't install languages in joomla 4 alpha 7"
### Steps to reproduce the issue
- system panel > Manage > languages > Install Languages .
click to install any Language , not work and get error message that say :
Error
Unable to find install package

![screen shot 2019-03-11 at 03 50 20](https://issues.joomla.org/uploads/1/6755e20b6ebd91420275fb1cc74ffb18.jpeg)

### Expected result

### Actual result

### System information (as much as possible

[2019-03-11 06:01] franz-wohlkoenig commented on #24153
there are only a few Languages available at the Moment: de-de, fr-fr and persian. So this Behaviour is expected, please close the Issue.

[2019-03-11 07:16] #24153 closed, assigned to nobody

[2019-03-11 07:23] alpha20111 commented on #12704
You have done so much in such a small article. It is quite impressive. The blog urges us to reflect on important things. Thanks!
<a href="https://www.alphaassignmenthelp.com/marketing-assignment-help/">Marketing Assignment Writing Service</a><hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/track

[2019-03-11 07:46] franz-wohlkoenig commented on #12704
Above Comment looks like Spam.

[2019-03-11 07:47] infograf768 commented on #12704
It is. I blocked the user and asked maintainers to take care further of this spammer.

[2019-03-11 07:52] franz-wohlkoenig commented on #12704
thanks @infograf768

[2019-03-11 08:18] dmitriy-cloudaccess opened #24154 "[4.0] 4.0.0-alpha7-dev to 4.0.0-alpha8-dev: XMLs not updated with the new version"
### Steps to reproduce the issue
Joomla 4.0 NightlyBuilds download link (found on https://developer.joomla.org/nightly-builds.html)
is  `https://developer.joomla.org/nightlies/Joomla_4.0.0-alpha8-dev-Development-Full_Package.zip`
its version is `4.0.0-alpha8-dev`.
However next major list XML contains old version - `4.0.0-alpha7-dev`. https://update.joomla.org/core/nightlies/next_major_list.xml

##

[2019-03-11 08:51] infograf768 commented on #24154
Confirmed.

[2019-03-11 09:12] infograf768 commented on #24154
Corrected.

[2019-03-11 09:12] #24154 closed, assigned to nobody

[2019-03-11 09:16] joeforjoomla opened #24155 "[4.0] Impossible to uninstall an extension"
### Steps to reproduce the issue
Uninstall an extension on Joomla 4

### Expected result
Extension is uninstalled correctly

### Actual result
Error 'Too few arguments'  passed to the function 'onExtensionBeforeUninstall' of the new plugin 'extension/finder/finder.php'

### Additional comments
Additionally i ignore the purpose of this plugin

[2019-03-11 09:42] infograf768 commented on #24155
Looks like the code is wrong in `/libraries/src/Installer/Installer.php` line 756-761.
We have
[code]
Looks like it should be
[code]
Can you test?

The plugin is used to `add or remove common words of a language from com_finder`

[2019-03-11 09:47] infograf768 commented on #24155
btw, which extension do you try to uninstall?

[2019-03-11 09:50] joeforjoomla commented on #24155
Yes @infograf768 if you pass the correct parameters to the onExtensionBeforeUninstall event obviously it works. The issue at the moment occurs with whatever extension/plugin you are trying to uninstall.
However i still have not clear what's the reason of executing such a plugin to remove common words of a language from com_finder, for example when installing a simple system plugin that has nothing

[2019-03-11 09:52] infograf768 commented on #24155
Let me make a patch for the error.
Concerning finder, absolutely no idea.

@Hackwar should know better.

[2019-03-11 09:55] joeforjoomla commented on #24155
Maybe i've understood the purpose looking better at the code. This is something that relates to language extensions only. IMHO it would be better to check immediately at the beginning of onExtensionAfterInstall, onExtensionBeforeUninstall, etc if the extension is of type language, instead of execute a database query. I see a large margin of improvements in this plugin.

[2019-03-11 11:05] eric-lamy-agerix opened #24156 "[3.9] Adding a parameter in password management"
Hello,

Currently the password management settings allow to set for X digits lenght: at least X Upper Case, at least X Integer and at least X Symbol. However, it is not possible to ask for at least X Lower Case.

For some large accounts, it is described in the specifications that the password must have a lenght of X characters with at least X upper case, X lowercase, X integer and X symbol.
With t

[2019-03-11 11:30] bahl24 commented on #21959
It has been fixed in recent update, kindly check

[2019-03-11 11:50] #21959 closed, assigned to nobody

[2019-03-11 11:50] franz-wohlkoenig commented on #21959
closed as stated above. Thanks for Info @bahl24

[2019-03-11 12:22] mrownicki opened #24157 "[4.0] Media Manager add more format to preview and edit. WebP"
Summary of Changes
Media manger support preview graphic image like webp, jxr etc (next-gen)
Crop, rotate, save native format and quality.

Required configuration change in allowed file extensions and mime types added.
WEBP support all modern web browser except safari https://caniuse.com/#feat=webp

Testing Instructions
Upload image, manipulate and save in native format.

Expected result
After uplo

[2019-03-11 13:57] ghazal commented on #24151
Everything worked fine for me today.
Using a mac too.
Try this:
`git clone --depth=1 -b 4.0-dev https://github.com/joomla/joomla-cms/`
`composer install`
`npm ci`
instead of
`npm install`

[2019-03-11 14:02] franz-wohlkoenig commented on #24151
closed as unconfirmed Report. Please reopen if Issue persist.

@ghazal thanks for Investigation.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24151">issues.joomla.org/tracker/joomla-cms/24151</a>.</sub>

[2019-03-11 14:43] ymages commented on #24034
There can be a lot of case... but I want to remove RSS feed from my J 4.x website anyway

[2019-03-11 15:16] bosunski commented on #24151
@ghazal Thanks.

The issues still persist after trying out @ghazal 's suggestion. Tried on 2 Macbooks, still same issue.

@ghazal What is your environment details?

[2019-03-11 15:17] bosunski commented on #24151
Do you have a similar environment like mine?
System information
- MAC OSX Mojave 10.14.3
- PHP 7.2.15 and 7.3
- MySQL 8
- Node v10.15.2
- NPM v6.4.1

[2019-03-11 15:18] franz-wohlkoenig commented on #24151
reopened as Issue persist.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24151">issues.joomla.org/tracker/joomla-cms/24151</a>.</sub>

[2019-03-11 15:26] infograf768 commented on #24155
Patch here
https://github.com/joomla/joomla-cms/pull/24159

Closing.
Please create a new issue specifically for the Extension- Finder plugin. I have no idea what is a language extension plugin.

[2019-03-11 15:36] ghazal commented on #24151
My environment:
mac 10.12

node 11.10.0
npm  6.8.0
Composer  version 1.8.4
All packagers installed and updated via [Homebrew](https://brew.sh/)

iTerm instead of Mac Terminal

php 7.2.5
MySQL 5.7.22
Actually, I am using [Bitnami MAMP stack](https://bitnami.com/stack/mamp/installer), so I don't have to care about these versions.

[2019-03-11 15:54] infograf768 commented on #24155
I reopen. The issue may be in the plugin itself. It's the only one though using this event.

[2019-03-11 17:20] horus68 opened #24161 "COM_CPANEL_MSG_ADDNOSNIFF_BODY message should not include code"
### Steps to reproduce the issue
The Post install language string on security update for .htacess files includes code for the recommended manual change in the files
See:  /administrator/language/en-GB/en-GB.com_cpanel.ini
https://github.com/joomla/joomla-cms/blob/a66130ac6cf28ab6d23cd64a5b7b28e581f9d907/administrator/language/en-GB/en-GB.com_cpanel.ini#L19

### Expected result
Code should not be p

[2019-03-11 17:32] alikon commented on #24155
please test #24162

[2019-03-11 17:33] #24155 closed, assigned to nobody

[2019-03-11 17:33] franz-wohlkoenig commented on #24155
closed as having Pull Request #24162

[2019-03-11 17:49] bosunski commented on #24151
Based on what you just posted above, the only notable difference in our configuration is the MySQL versions, mine is `v8` while yours is `v5.7`. Noticing that, I downgraded to `v5.7` and everything works fine now.

It appears Joomla `v4.0` might be having compatibility issues with MySQL `v8`.

Thanks, @ghazal and @franz-wohlkoenig 😅 for the time, I'm finally done with this battle after days!

[2019-03-11 17:51] brianteeman commented on #24151
Can this be re-opened please and change the title from (mac osx) to (mysql 8) as it definitely needs investigating

[2019-03-11 17:52] bosunski commented on #24151
Alright ... I'll do that.

[2019-03-11 17:59] alikon commented on #24151
@bosunski can you report back what it is present in your  mysql 8 error.log please

[2019-03-11 18:15] bosunski commented on #24151
I didn't think of the error logs earlier as I already removed MySQL 8 and installed 5.7. I will install `v8` again and get the error logs across.

[2019-03-11 18:17] brianteeman commented on #24161
sorry but if a translator is not able to understand that they should not be translating that code then I seriously wonder if they are knowledgeable enough to successfully translate any part of joomla

[2019-03-11 18:31] SharkyKZ commented on #24155
Test PR #24163 please.

[2019-03-11 18:56] roland-d opened #24164 "[3.9.4RC] Invalid controller on clicking username with debug language"
### Steps to reproduce the issue
1. Enable Debug language in Global Configuration
2. Enable the `Action Log - Joomla` plugin
3. Go to Global Configuration
4. Click Save & close
5. Go to User -> User Action Log
6. Notice a line like:
`**User ??admin?? changed settings of the application configuration** `
7. Click on the `??admin??` username
8. Error page is shown:
<img width="1172" alt="image" src=

[2019-03-11 19:02] alikon commented on #24164
confirm

[2019-03-11 19:03] HLeithner commented on #24164
Thats more or less expected behavior because the link is also translated.

The question is way...

[2019-03-11 19:25] brianteeman commented on #22816
@GeraintEdwards did you ever write anything?

[2019-03-11 20:34] brianteeman opened #24168 "[4.0] Untranslated strings???"
### Steps to reproduce the issue
Enable debug language
All strings should be wrapped in **
Observe how many of the button are wrapped in ?? indicating untranslated but they are
I don't know if its a bug in the debug code or what

### Examples
![image](https://user-images.githubusercontent.com/1296369/54155864-e7407b00-443c-11e9-95a5-1c570b45afbb.png)

![image](https://user-images.githubusercontent

[2019-03-11 20:40] SharkyKZ commented on #24168
It means the string is translated multiple times.

[2019-03-11 20:41] brianteeman commented on #18659
As the message is truncated in the dropdown it would be a complete failure of the message if we allow it to be "deleted" in the dropdown

[2019-03-11 20:45] brianteeman commented on #17634
This can be closed

[2019-03-11 20:49] brianteeman commented on #16020
Thi should be closed now

[2019-03-11 21:51] #16020 closed

[2019-03-11 21:52] #17634 closed, assigned to nobody

[2019-03-11 21:57] #24144 closed, assigned to nobody

[2019-03-11 23:42] ciar4n commented on #16020
Has something been decided for this component sidebar?

[2019-03-12 06:00] #20689 closed, assigned to nobody

[2019-03-12 06:01] franz-wohlkoenig commented on #20689
closed as having Pull Request #24166

[2019-03-12 09:24] jvstratum opened #24170 "problem when using php.ini in combination with php 7.3"
### Steps to reproduce the issue

Place php.ini wioth some variables in public_html or /administrator

### Expected result

php variables are set and there are no errors when accessing frontend or backend

### Actual result

Frontend/backend will not load:

Warning: array_key_exists() expects parameter 2 to be array, null given in /home/.../public_html/libraries/cms.php on line 74

Warning: sessio

[2019-03-12 09:36] brianteeman commented on #24170
As you only said "some variables" and not which variables it is impossible to give anything more than a vague answer of "Joomla works with php 7.3 although it is possible that some of your extensions or template may need updating"

This should be closed here and asked on the forum

[2019-03-12 09:37] infograf768 commented on #24164
I have a possible patch for that
[code]
To get:
<img width="558" alt="Screen Shot 2019-03-12 at 10 35 00" src="https://user-images.githubusercontent.com/869724/54189670-91a6b580-44b2-11e9-9c1c-50197b069c79.png">

@HLeithner
Shall I make a PR?

[2019-03-12 09:40] jvstratum commented on #24170
Thank you for your reply Brian,

I were these variables:

max_input_vars
max_file_uploads

Sorry for posting the question in the wrong place. Please close the ticket, I will post it to the forum.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24170">issues.joomla.org/tracker/

[2019-03-12 09:42] #24170 closed, assigned to nobody

[2019-03-12 09:42] franz-wohlkoenig commented on #24170
closed as an Issue for Forum.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24170">issues.joomla.org/tracker/joomla-cms/24170</a>.</sub>

[2019-03-12 10:55] hardik-codes commented on #24168
Started working on this.

[2019-03-12 11:23] N8Solutions opened #24171 "Error: Save failed with the following error: The table '#__finder_tokens' is full"
### Steps to reproduce the issue

Make sure the `Smart Search - Content` plugin is enabled.

Save a long article. My terms of service article as raw code is **71,837 characters long**.

Click to Save the article

### Expected result

The article should save without any issues.

### Actual result

The article saves but gives the following error message:

[code]

### System information (as much as p

[2019-03-12 11:26] franz-wohlkoenig commented on #24171
@Hackwar ?

[2019-03-12 13:02] HLeithner commented on #24164
@infograf768 no, in my opinion its not a bug, the string get translated and marked as translated with **.

thx for the report I'm closing this.

[2019-03-12 13:02] #24164 closed, assigned to nobody

[2019-03-12 13:04] roland-d commented on #24164
@HLeithner Why doesn't it happen then in the userlisting?

[2019-03-12 13:06] HLeithner commented on #24164
which userlisting do you mean?

[2019-03-12 13:14] ymages commented on #24034
why what ?

[2019-03-12 14:34] puneeth2001 commented on #24168
@SharkyKZ are you sure that this is being caused by repetition of strings, I can find it in the 'preview' thing as @infograf768 said but couldn't find it in case of Change Status.

[2019-03-12 15:58] lisandroTSilva commented on #23904
**Note:** There is no code to attach, it's a conceptual question, I have no code to expose.

[2019-03-12 16:01] lisandroTSilva commented on #23904
My expectation is that it is possible to define, individually, even globally, a limit of listing items for **site** and one for **admin**

[2019-03-12 16:02] Quy commented on #24171
Duplicate @22220 ?

[2019-03-12 16:09] puneeth2001 commented on #24168
![image](https://user-images.githubusercontent.com/43813460/54216196-31922c80-450f-11e9-8ccb-596dfa38c0b9.png)
I found these being called only once in plugins/sampledata/blog/blog.php

[2019-03-12 16:12] franz-wohlkoenig commented on #24171
@N8Solutions can you please look if #22220 is a Duplicate?

[2019-03-12 16:17] SharkyKZ commented on #24168
Site menus are not translatable.

Yes, it's because `Joomla\CMS\Toolbar\Button\DropdownButton::prepareOptions()` calls `parent::prepareOptions()` which translates the string and then uses the options to create a new button. But new button expects an untranslated string.

https://github.com/joomla/joomla-cms/blob/96b325ccd38e48570e93447a113246833c3d91b8/libraries/src/Toolbar/Button/DropdownButton.p

[2019-03-12 16:30] infograf768 commented on #24168
Indeed
`$this->getText()` also uses `Text::_`

[2019-03-12 16:40] infograf768 commented on #24164
Well, my proposed patch works fine because it prevents the links from being passed through `Text::_`
The issue is that the code does not use sprintf.

Without patch, when debug lang is on, the links are of the type
`<a href="??http://localhost:8888/installmulti/trunkgitnew/administrator/index.php?option=com_users&amp;task=user.edit&amp;id=800??">??admin??</a>`

which evidently breaks them.

<img w

[2019-03-12 16:49] puneeth2001 commented on #24168
ok I get it thanks.

[2019-03-12 16:50] infograf768 commented on #24164
@roland-d
in the user manager as elsewhere in core we use `Text::sprintf` with variables for this kind of links.

[2019-03-12 17:16] roland-d commented on #24164
@infograf768 Thank you for the explanation, that does explain why it works in the User Manager. A patch to fix the broken link is welcome if you ask me. Having a known broken page is very nice :)

[2019-03-12 18:25] alikon commented on #24164
for me too, but don't want to waste @infograf768 time for a pr with 0 chances to be considered

[2019-03-12 18:27] HLeithner commented on #24164
every PR will be considered but the draft seams wrong to me.

[2019-03-12 18:30] roland-d commented on #24164
@HLeithner Can you elaborate on what is wrong with it rather than just stating it is wrong.

[2019-03-12 18:35] alikon commented on #24164
i would prefer to discuss this argument when  even a draft PR will be submitted and not based on an copy&paste  snippet ... btw, this is not a high priority issue imo

[2019-03-12 18:38] HLeithner commented on #24164
@roland-d sorry I talked to jean-marie directly that's the reason I didn't mentioned it here.

I think strpos on a hardcoded string seams wrong, can a plugin also add a url here? strpos() without === should be checked twice. Also if it is really needed to translate the url or only use the sprintf option.

So yes if jean-marie writes a PR we can discuss about it but to be honest we have so many thi

[2019-03-12 18:45] alikon commented on #24164
got your point .... and make sense to me, even in a j4 perspective only :smiley:
lack of resources is the real issue

[2019-03-12 19:24] N8Solutions commented on #22098
Better late than never. I didn't see the final request to check if it was working or not but all is working as expected as you already know. Thank you again for those that worked on this issue.

[2019-03-12 19:32] Bakual commented on #24161
Sorry Brian, but that is not relevant.
One can be a good translator and know that he don't have to translate HTML tags and still make errors on that string. Because the string indeed is quite complex and has a **lot** of code and escaped special characters in it.
His suggestion was to move part of the string (the .htaccess / webconfig changes) to a documentation page and place a link into the mess

[2019-03-12 19:54] brianteeman commented on #24161
all the code and escaped characters is in the part not to be translated

[2019-03-12 20:02] N8Solutions commented on #24171
@Quy & @franz-wohlkoenig Yes, it appears to be a duplicate. Sorry I did not see it when searching.

I can't speak to the search engine issue they describe

but in regards to the first error message mentioned it is the same as the one I received

[code]

I followed the advice @chrisdavenport gave in the other ticket.
The variable `max_heap_table_size` in phpMyAdmin for the server had not been modif

[2019-03-12 20:02] #24171 closed, assigned to nobody

[2019-03-12 20:06] wesleyferreiraadv opened #24175 "[4.0] Equalize impressions between banner clients"
### Steps to reproduce the issue
It inserted 3 Banners clients (Client A, B and C). Assign 3 banner to client A, 1 to client B and 1 to Client C). Create a mod_banner that retrieves 1 banner at a time, randomly. Generate some impressions on the frontend. Upon returning to the back end, Client A (with more banners) will have 3 times more impressions than the others.

### Expected result
When perfor

[2019-03-12 20:42] ot2sen commented on #24161
Perhaps replace it with a link to a diff instead. Less to explain, make it visual when its not supposed to be translated anyway.

[2019-03-12 21:02] Karl-Goddard opened #24176 "geoip2.phar doesn't work after update to 3.9.4"
### Steps to reproduce the issue
Update any Joomla site that uses geoip2 to v3.9.4

### Expected result
The site to be fully functional.

### Actual result
Unexpected file extension in "phar://geoip2.phar/src/Database/Reader.php"

### System information (as much as possible)

- The owner is set to apache

- The server is running on PHP 5.6.36

- CentOS Linux version 7
![screenshot-dev sungroupinc

[2019-03-12 21:09] kofaysi opened #24177 "Message reporting to log in (after cache is expired) should be warning type"
### Steps to reproduce the issue

Request a content of any link on the page or on the site after the cache has been expired.

### Expected result

The message "Please login first" will be a different color than green.

### Actual result

The message is green, a positive and successful action.

### System information (as much as possible)

J3.9.4
code to be changed
https://github.com/joomla/joomla-

[2019-03-12 21:18] kofaysi commented on #23001
Stripping away the `mailto:` from the field is a nice touch, but not having to place it in the field at all would be my choice.

The default contact e-mail field is does not need a prefix, and it decodes the mail address structure and creates a link `mailto:name@site`. Additionally, it is JavaScript encrypted. Can this be done for the mail address in the custom field, please?

[2019-03-12 21:20] kofaysi commented on #23001
@franz-wohlkoenig https://extensions.joomla.org/blog/item/how-to-contribute-to-joomla-through-github/

[2019-03-12 23:43] ReLater commented on #24176
Maybe related:
https://github.com/joomla/joomla-cms/issues/23907
https://github.com/joomla/joomla-cms/pull/23956
@HLeithner

[2019-03-13 05:23] hardik-codes commented on #24177
Working on it
@kofaysi what should be the color according to you.

[2019-03-13 05:34] kofaysi commented on #24177
Yellow is my choice :) And it fits to the warning definition, too.

[2019-03-13 05:59] infograf768 commented on #24164
Found the correct solution. Making patch now.

[2019-03-13 06:20] infograf768 commented on #24164
Please test
https://github.com/joomla/joomla-cms/pull/24178

[2019-03-13 06:25] franz-wohlkoenig commented on #23001
@kofaysi thanks for Link. Will save it for similaer Questions.

[2019-03-13 06:26] franz-wohlkoenig commented on #24171
@N8Solutions thanks for Report.

[2019-03-13 06:47] Bakual commented on #24161
Yep, and that's why it shouldn't be in the language string, if possible. In a postinstall, we can't use sprintf to insert it (which we would do in all other similar places), so using a link to a doc page (or diff or whatever) would achieve the same.
@brianteeman I don't see why you resist that idea so strongly. What is the issue with having a link instead?

[2019-03-13 06:51] roland-d commented on #24161
As a user, I like that I can just copy-paste the code directly from the message and don't have to follow a link to a page. Perhaps it is just me being lazy :)

Since it is a code fragment, can't it have it's own language string and we combine them in the output with `sprintf`? You just would not need to translate that particular string.

[2019-03-13 07:07] infograf768 commented on #24161
I have already been looking into this.
The `JText::_` is global
https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_postinstall/views/messages/tmpl/default.php#L58

Using a sprintf there would imply defining the variable when necessary (in this case the code snippet).

Only possibility I see would be to add a column in the `#__postinstall_messages` table where such snipp

[2019-03-13 07:09] Bakual commented on #24161
Since you can't directly edit the file in your browser and likely need FTP it's not that easy anyway.
A doc page could even have additional information, nicely formatted code snippets and whatever.

To my knowledge, that isn't possible for postinstall messages.

[2019-03-13 07:13] roland-d commented on #24161
Let's promote SFTP/SSH :)

[2019-03-13 07:59] infograf768 commented on #24168
Preview double translation now solved:
https://github.com/joomla/joomla-cms/pull/24178

Remains Change Status if it can be done.

[2019-03-13 08:29] franz-wohlkoenig commented on #24168
@infograf768 Issue stay open?

[2019-03-13 08:29] infograf768 commented on #24168
remains the Change Status issue to solve, if possible.

[2019-03-13 09:26] HLeithner commented on #24176
@Karl-Goddard hmm strange @jurihahn tested it with the new version successfully

[2019-03-13 10:17] Denitz opened #24179 "[4.0] Media field fails in subform"
### Steps to reproduce the issue

Use `media` field in subform.

### Expected result

Works correctly on existing and new rows.

### Actual result

Javascript error.
[code]

### System information (as much as possible)

Joomla 4 alpha8

[2019-03-13 10:53] hardik-codes commented on #24177
@kofaysi how can I reduce the cachetimeout for testing purposes?

[2019-03-13 11:17] HLeithner commented on #24176
@Karl-Goddard can test this on another host? With a lower or higher PHP version?

[2019-03-13 11:49] pavanipotturi opened #24180 "Problem with menu link to single article from administrator"
### Steps to reproduce the issue
1. Create Menu and add MenuItem with single article . The path of the menu item is appended with Tracks or Categories .
for example if we created www.example.com/test then it is going to www.example.com/Tracks/test

### Expected result
example: www.example.com/test

### Actual result

example: www.example.com/Tracks/test

### System information (as much as possible

[2019-03-13 12:01] Karl-Goddard commented on #24176
@HLeithner I have another test server running PHP7. I'll give it a try and let you know the result.

[2019-03-13 12:27] Karl-Goddard commented on #24176
PHP version:

PHP 7.2.13 (cli) (built: Dec  5 2018 07:37:23) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies with Zend OPcache v7.2.13, Copyright (c) 1999-2018, by Zend Technologies

Attached is a screenshot of the site on the php7 server after it was updated to 3.9.4
![screenshot-php7 sungroupinc com-2019 03 13-08-25-39]

(https://user-i

[2019-03-13 12:54] puneeth2001 commented on #24180
@pavanipotturi can you provide the version of Joomla you are using.

[2019-03-13 12:59] franz-wohlkoenig commented on #24180
@puneeth2001 in https://issues.joomla.org/tracker/joomla-cms/24180 its 3.9.4.

[2019-03-13 13:05] Karl-Goddard commented on #24176
@ReLater I did the patch from #23907, which now gives me a new error:

![screenshot-php7 sungroupinc com-2019 03 13-08-48-52](https://user-images.githubusercontent.com/47645546/54280020-dd1d9a00-456c-11e9-8b6c-2da46b564fe9.png)

[2019-03-13 13:42] itskoopa commented on #23890
Hello,

firstly i want to thank you for answering. But the problem still exists.

I have tried to enter it manually but still the same happens.
Even in a fresh Joomla installation without custom code there is the same behaviour.
I've also tried different formats, but every time i get the same result like described above.

Do you have any ideas?<hr /><sub>This comment was created with the <a href="

[2019-03-13 13:48] ohader commented on #24176
@Karl-Goddard In the mentioned `PharStreamWrapper.php` file around line 445, could you please `var_dump($path)` and post it here?

[2019-03-13 13:58] Karl-Goddard commented on #24176
@ohader var_dump($path) doesn't give any output. I tries placing it at the start of the function as well as before this line $manager->getCollection()->collect($this->invocation);

[2019-03-13 14:15] ReLater commented on #24180
Is that a Joomla that was migrated from Joomla 1.5 in the past or from Joomla 2.5 with a migrator tool?

Then this is a known issue because of a "confused menu table" but not a Jooma core issue. Sometimes this phenomen occurs years after the migration.

[2019-03-13 14:23] pavanipotturi commented on #24180
@ReLater is there any way to fix this issue?

[2019-03-13 14:23] ReLater commented on #24176
As far as I know the final patch is already integrated in Joomla 3.9.4 with pr 23956.  Code in 23907 was just a quick pre-test for old Joomla 3.9.3 code

[2019-03-13 14:26] ReLater commented on #24180
Repairing the menu table if error occurs again and again. Sometimes not that easy. You should ask in a forum I think.

[2019-03-13 14:30] #24180 closed, assigned to nobody

[2019-03-13 14:31] franz-wohlkoenig commented on #24180
Closed as an issue for [Forum](https://forum.joomla.org/)

[2019-03-13 14:57] coolcat-creations opened #24181 "Invisible Captcha stopped working"
### Steps to reproduce the issue

After Updating to Joomla 3.9.4 the Joomla captcha Field (core) returns always invalid value - users can't register anymore when captcha is enabled.

### Expected result
Working

### Actual result
Does not work here

### System information (as much as possible)
Joomla 3.9.4

[2019-03-13 15:05] puneeth2001 commented on #24179
@Denitz I could not reproduce the issue can you help me how.

[2019-03-13 15:24] HLeithner opened #24182 "[3.9] Changing module position adds instead of replacing the ordering dropdown"
### Steps to reproduce the issue

Change a module position, a new ordering dropdown is added.

![module ordering](https://user-images.githubusercontent.com/1497730/54290929-145f6b80-45ac-11e9-8947-c3ed276eb852.gif)

### Expected result

Replace the old ordering dropdown.

### Actual result

Adds a new dropdown

### System information (as much as possible)

Joomla: 3.9.3+

### Additional comments

[2019-03-13 15:58] Denitz commented on #24179
@puneeth2001

[article.xml.txt](https://github.com/joomla/joomla-cms/files/2962346/article.xml.txt)

Replace /administrator/components/com_content/forms/article.xml with attached file (rename to .xml), it adds the code:

[code]

Edit article and see Gallery field in Options, try to add items and select images.

[2019-03-13 16:18] omd123 opened #24183 "off line gives as result 503 Service Unavailable"
### Steps to reproduce the issue

Global Configuration -> site offline = yes
(joomla 3.9.4 + protostar template, in "configuration.php" is public $offline = '1';)

### Expected result

site off-line

### Actual result

503 Service Unavailable

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

### System information (

[2019-03-13 16:48] puneeth2001 commented on #24179
ok I will try it.

[2019-03-13 17:09] JAVesey opened #24184 "Privacy Suite not logging consents from Contact Forms"
### Steps to reproduce the issue
1. Enable the privacy suite plugins and have the Privacy Notice checkbox showing on Contact component email forms
2. User checks the "Privacy Note" check box.
3. User clicks the "Send Email" button.

### Expected result
The text alongside the Privacy Note checkbox says:
"By submitting this form you agree to the Privacy Policy of this website and the storing of the

[2019-03-13 19:18] Milglius commented on #23991
confirmed that this issue still not fixed and also exists in joomla 3.9.4

[2019-03-13 19:32] frankota commented on #24184
I had the same problem<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24184">issues.joomla.org/tracker/joomla-cms/24184</a>.</sub>

[2019-03-13 20:04] fpoulain commented on #20865
I got spam from the same entry point. Welcome in joomla. ;)

[2019-03-13 20:09] brianteeman commented on #24184
Is it this for guests (not logged in)?

If it is then it doesn't log as there is nothing to log

[2019-03-13 20:30] ReLater commented on #24184
Why should a contact form log the privacy consent? If you don't confirm you can't send the message.

I you're a registered user you have already confirmed. It's not necessary that you log that again just because you use the contact form. Just overhead.

[2019-03-13 20:42] mbabker commented on #24184
https://github.com/joomla-projects/privacy-framework/issues/213 for additional context.

[2019-03-13 21:58] PavelGloba opened #24187 "Spam is sent using com_contact"
This is https://github.com/joomla/joomla-cms/issues/20865 clone

### Steps to reproduce the issue

Leave com_contact activated (default is activated). No contacts are defined and no menu items are defined to any contact. So on the site itself there is no way to e-mail a contact using com_contact and the default Joomla contactform.

### Expected result

It is impossible that I receive any e-mail fr

[2019-03-13 23:49] travisrisner commented on #24187
I can confirm I have been battling the same issue. I rarely use the contact component, so I have opted to just disable it on all of my Joomla websites.

[2019-03-14 05:35] franz-wohlkoenig commented on #24184
Is this expected Behaviour?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24184">issues.joomla.org/tracker/joomla-cms/24184</a>.</sub>

[2019-03-14 08:31] SniperSister commented on #24187
I tried to reproduce this using a non-existent contact ID in the URL and I get a 404.

So, could you please verify that there's no record with ID 1 in com_contact in the published or archived state?

[2019-03-14 09:01] jeckodevelopment commented on #24187
I can confirm that, if in ID 1 is in **Archived** state, it's still reachable by
`index.php?option=com_contact&view=contact&id=1 `

In the **Unpublished** state, the URL gives a 404

[2019-03-14 11:44] ReLater commented on #24184
Yes, it is.

[2019-03-14 12:16] mbabker commented on #24187
As is intended.  Archived does not translate to unpublished or inaccessible on Joomla's frontend.

[2019-03-14 12:28] #24184 closed, assigned to nobody

[2019-03-14 12:28] franz-wohlkoenig commented on #24184
Thanks for Info @ReLater

Closed as expected Behaviour.

[2019-03-14 12:34] travisrisner commented on #24187
After looking back through sites I've known to have this occur, the bulk have been older sites that were built off of Joomla template quickstarts that probably had default data in the contact component. I don't see this happen with sites that were built from a blank slate.

I wouldn't mind seeing the installer in the future prompt the user about the core components and ask if they would like to be

[2019-03-14 16:19] wilsonge opened #24188 "[4.0] PLACEHOLDER: Privacy Component does not work"
~As of time of writing 14 March 2019 am about to start working on merging 3.9 code into the Joomla 4 branch. Until all of 3.9.0 release is merged in I am going to actively close people refactoring the component onto J4.0 structures or trying to fix styling. This is to make life as simple as possible for merging the rest of the 3.9.0 release in. Once all of Joomla 3.9.0 has been merged into the Joo

[2019-03-14 19:19] roland-d opened #24190 "Privacy Suite fine-tuning deletions"
### Introduction

This issue is twofold. First it is meant as a discussion on how the deletion should work in the privacy tool suite and  second a clear guideline on what needs to be implemented in a possible pull request. This has come forth out of the checking of sensitive data by the compliance team and found that not all sensitive data is removed currently.

### The problem

User information c

[2019-03-14 19:23] jurihahn commented on #24176
I tested it again with Joomla 3.9.4, and it works as verified earlier.
PHP 7.3.2 (apache2handler)

[2019-03-14 19:29] brianteeman commented on #24190
What a shame that the compliance team didnt test the privacy component during the very extensive period that it was under development and/or while it was in beta.

User data can also be rebuilt if you review the server logs or if you have backups of your data.

As for clearing the action logs. If that is a concern for the site owner then the action logs plugin already offers the functionality to d

[2019-03-14 19:32] roland-d commented on #24190
What a shame that assumption is made. I have tested the privacy component when it was in beta. More than once. This just never occurred to me until people started asking questions about it.

So what is the use of the deletion function if the data is kept in the custom fields?

[2019-03-14 19:44] mbabker commented on #24190
Blindly deleting all action logs that match a user ID is not a good suggestion.  Depending on who hooks the system and what is being logged, some logged actions may be deemed information that needs to be retained (i.e. if ecommerce extensions suddenly decided to use core tools instead of their own systems and they log messages indicating a user made a transaction at X time).  So log deletion shoul

[2019-03-14 20:19] brianteeman commented on #24190
@roland-d I referred to the team not the individual

[2019-03-14 21:21] hardik-codes commented on #23717
@chmst coold you possibly explain why such behavior is shown by ```Status change``` dropdown button for a moment.

[2019-03-14 22:45] brianteeman commented on #24108
Can this be closed now @C-Lodder

[2019-03-15 02:10] N6REJ opened #24194 "Manifest refresh fails if beez or hathor is removed"
### Steps to reproduce the issue
uninstall beez & hathor
update from 3.9.3 to 3.9.4

### Expected result

no warnings.

### Actual result
Warning
Refresh Manifest Cache failed: beez3 Extension is not currently installed.
Refresh Manifest Cache failed: hathor Extension is not currently installed.

### System information (as much as possible)
[systeminfo-2019-03-15T02_09_56+00_00.txt](https://github

[2019-03-15 02:30] ReLater commented on #24194
Because this fantastic pr https://github.com/joomla/joomla-cms/pull/17219 didn't find its way into core I think the only solution is not to uninstall extensions that are delivered with the Joomla core but to deactivate them.

You can reinstall these templates with the Extensions Discover functionality after copying the files from a full package if you want to get rid of these harmless warnings.

[2019-03-15 03:43] N6REJ commented on #24194
yeah, not worth the hassle, just wanted it to be brought up.

[2019-03-15 05:25] #24194 closed, assigned to nobody

[2019-03-15 05:25] franz-wohlkoenig commented on #24194
closed as having (not merged)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24194">issues.joomla.org/tracker/joomla-cms/24194</a>.</sub>

[2019-03-15 10:31] kofaysi commented on #24177
I believe it is in Global configuration > System > Cache settings > Cache time

[2019-03-15 11:42] irbian opened #24196 "JFactory::getDate doesn´t set the timezone properly"
### Steps to reproduce the issue

[code]
Both php config and Joomla config, with timezone set to Atlantic/Canary

### Expected result

[code]

### Actual result
[code]

### System information (as much as possible)

In this line we are setting the $tz property, but not the internal $tz. ¿Wouldn´t be that necessary? https://github.com/joomla/joomla-cms/blob/staging/libraries/src/Date/Date.php#L118

[2019-03-15 11:58] hardik-codes commented on #24177
@kofaysi I not able to reproduce the issue correctly could you please elaborate

[2019-03-15 12:28] kofaysi commented on #24177
Activate "Logged-in Users" module for the Administrator interface and logout the user there.

I don't thing that the reconstruction of the effect is so important. The message is of type message (green) by default, because no type is defined https://docs.joomla.org/Display_error_messages_and_notices. So, I argue that "a message requiring a user to log in first" should by of type notice or warning (

[2019-03-15 13:43] hardik-codes commented on #24177
Could you do screenshot please.

[2019-03-15 13:47] chrisdavenport commented on #16954
Confirmed this bug is still present in Joomla 3.9.4 as I've just been bitten by it.  The two cases that are incorrect are
`field1:1[AND]field2:1[OR]field3:0`
and
`field1:1[OR]field2:1[AND]field3:0`
both of which completely ignore the first comparison.
What is needed is proper left-right precedence and, ideally, brackets to override left-right precedence when required.

[2019-03-15 13:53] kofaysi commented on #24177
![image](https://user-images.githubusercontent.com/17022173/54436029-15baa080-4732-11e9-9214-1e4cf6c8d597.png)

[2019-03-15 13:55] hardik-codes commented on #24177
Screenshot for How do I

[2019-03-15 14:03] kofaysi commented on #24177
publishing the module to the cpanel
![image](https://user-images.githubusercontent.com/17022173/54436701-4c44eb00-4733-11e9-90a4-91e6b2141ba2.png)
logging out a user in the cpanel (home of the administrator)
![image](https://user-images.githubusercontent.com/17022173/54436709-51099f00-4733-11e9-8ff3-efcc29da13f3.png)

[2019-03-15 14:29] amelcher commented on #23636
In the meantime, maybe somebody can just add this line to the ISIS template css file?
body:not(.modal-open) .modal-backdrop.fade {display:none;}<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23636">issues.joomla.org/tracker/joomla-cms/23636</a>.</sub>

[2019-03-15 15:39] #16954 closed

[2019-03-15 15:40] franz-wohlkoenig commented on #16954
closed as having Pull Request #24197

[2019-03-15 17:03] skuzmina commented on #23894
Hi,

Can you tell when it will get fixed in Joomla?

Thanks,
Sandra

[2019-03-15 17:08] franz-wohlkoenig commented on #23894
@skuzmina Please post to the Weblinks repo: https://github.com/joomla-extensions/weblinks

[2019-03-15 22:58] 810 opened #24198 "[4.0] install error: JInstallerHelper' not found"
### Steps to reproduce the issue

Install Kunena 6.0 nightly build.

### Expected result

No error

### Actual result

Class 'Joomla\Component\Installer\Administrator\Model\JInstallerHelper' not found

### System information (as much as possible)

### Additional comments

Issue is on administrator\components\com_installer\Model\InstallModel.php line 191

[2019-03-15 23:14] ReLater commented on #24198
Please test pr https://github.com/joomla/joomla-cms/pull/24199

[2019-03-15 23:15] #24198 closed, assigned to nobody

[2019-03-16 05:27] #24177 closed, assigned to nobody

[2019-03-16 05:28] franz-wohlkoenig commented on #24177
closed as having Pull Request #24200

[2019-03-16 05:41] franz-wohlkoenig commented on #24196
@Quy can you please have a Look?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24196">issues.joomla.org/tracker/joomla-cms/24196</a>.</sub>

[2019-03-16 05:41] franz-wohlkoenig commented on #24183
@Quy can you please have a Look?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24183">issues.joomla.org/tracker/joomla-cms/24183</a>.</sub>

[2019-03-16 05:42] franz-wohlkoenig commented on #24175
@Quy can you please have a Look?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24175">issues.joomla.org/tracker/joomla-cms/24175</a>.</sub>

[2019-03-16 05:42] franz-wohlkoenig commented on #24157
@Quy can you please have a Look?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24157">issues.joomla.org/tracker/joomla-cms/24157</a>.</sub>

[2019-03-16 05:47] franz-wohlkoenig commented on #22010
@HLeithner can you please comment?

[2019-03-16 05:49] #22036 closed, assigned to nobody

[2019-03-16 05:49] franz-wohlkoenig commented on #22036
Closing Issue. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22036">issues.joomla.org/tracker/joomla-cms/22036</a>.</sub>

[2019-03-16 05:51] #22056 closed, assigned to nobody

[2019-03-16 05:51] franz-wohlkoenig commented on #22056
Closed due the Lack of response. It can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22056">issues.joomla.org/tracker/joomla-cms/22056</a>.</sub>

[2019-03-16 05:52] franz-wohlkoenig commented on #22140
@infograf768 can you please add j4-Label?

[2019-03-16 05:53] franz-wohlkoenig commented on #22170
@mbabker reminder.

[2019-03-16 05:54] #22179 closed, assigned to nobody

[2019-03-16 05:54] franz-wohlkoenig commented on #22179
Closed as no Answer, please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22179">issues.joomla.org/tracker/joomla-cms/22179</a>.</sub>

[2019-03-16 05:56] franz-wohlkoenig commented on #22232
@infograf768 can you please add a j4-Label?

[2019-03-16 05:59] franz-wohlkoenig commented on #22256
@SharkyKZ can you do the Pull Request?

[2019-03-16 06:00] #22411 closed, assigned to nobody

[2019-03-16 06:00] franz-wohlkoenig commented on #22411
Closed as no Answer; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22411">issues.joomla.org/tracker/joomla-cms/22411</a>.</sub>

[2019-03-16 06:02] franz-wohlkoenig commented on #22417
@HLeithner any Comment?

[2019-03-16 06:03] #22483 closed, assigned to nobody

[2019-03-16 06:03] franz-wohlkoenig commented on #22483
closed as no Answer. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22483">issues.joomla.org/tracker/joomla-cms/22483</a>.</sub>

[2019-03-16 06:04] #22622 closed, assigned to nobody

[2019-03-16 06:04] franz-wohlkoenig commented on #22622
closed as no Answer, Issue can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22622">issues.joomla.org/tracker/joomla-cms/22622</a>.</sub>

[2019-03-16 06:06] #22723 closed, assigned to nobody

[2019-03-16 06:07] #22734 closed, assigned to nobody

[2019-03-16 06:07] franz-wohlkoenig commented on #22734
closed as no Response, please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22734">issues.joomla.org/tracker/joomla-cms/22734</a>.</sub>

[2019-03-16 06:10] #22857 closed, assigned to nobody

[2019-03-16 06:10] franz-wohlkoenig commented on #22857
closed as no Response; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22857">issues.joomla.org/tracker/joomla-cms/22857</a>.</sub>

[2019-03-16 06:59] #22944 closed, assigned to nobody

[2019-03-16 06:59] franz-wohlkoenig commented on #22944
Closed as no Response; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22944">issues.joomla.org/tracker/joomla-cms/22944</a>.</sub>

[2019-03-16 07:00] franz-wohlkoenig commented on #23067
@wilsonge reminder.

[2019-03-16 07:01] #23076 closed, assigned to nobody

[2019-03-16 07:01] franz-wohlkoenig commented on #23076
Closed as no Answer, please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23076">issues.joomla.org/tracker/joomla-cms/23076</a>.</sub>

[2019-03-16 07:02] franz-wohlkoenig commented on #23077
Closed as no Answer, please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23077">issues.joomla.org/tracker/joomla-cms/23077</a>.</sub>

[2019-03-16 07:03] franz-wohlkoenig commented on #23090
@csthomas reminder.

[2019-03-16 07:04] #23209 closed, assigned to nobody

[2019-03-16 07:04] franz-wohlkoenig commented on #23209
Closed as no Answer, please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23209">issues.joomla.org/tracker/joomla-cms/23209</a>.</sub>

[2019-03-16 08:59] diolegend opened #24201 "Registration.Activation Problem Strange Message And No Redirection 3.X"
### Steps to reproduce the issue

Hello Everyone,

I need help with these 2 kinds of problem:

1. I have two languages which are Italian and English and I created two menus for each (register & login) to get the alias in URL.
https://www.ingrossoborseonline.com/it/registrati
https://www.ingrossoborseonline.com/en/register
...

When I registered on the website in the Italian version of the webpage

[2019-03-16 09:10] franz-wohlkoenig commented on #24201
comment by @infograf768?

[2019-03-16 09:17] #23267 closed, assigned to nobody

[2019-03-16 09:17] franz-wohlkoenig commented on #23267
Closed as no Answer; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23267">issues.joomla.org/tracker/joomla-cms/23267</a>.</sub>

[2019-03-16 09:18] #23268 closed, assigned to nobody

[2019-03-16 09:18] franz-wohlkoenig commented on #23268
Closed as no Answer; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23268">issues.joomla.org/tracker/joomla-cms/23268</a>.</sub>

[2019-03-16 09:21] #23283 closed, assigned to nobody

[2019-03-16 09:21] franz-wohlkoenig commented on #23283
A Solution is stated above, so closing this Issue. Maybe a Dev find time for doing against J4.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23283">issues.joomla.org/tracker/joomla-cms/23283</a>.</sub>

[2019-03-16 09:22] #23358 closed, assigned to nobody

[2019-03-16 09:22] franz-wohlkoenig commented on #23358
Closed as no Answer; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23358">issues.joomla.org/tracker/joomla-cms/23358</a>.</sub>

[2019-03-16 09:23] franz-wohlkoenig commented on #23456
@HLeithner can you please comment?

[2019-03-16 11:05] infograf768 commented on #24201
Are you using the core multilingual feature?
What are the exact settings for the com_users "New User Account Activation"?
Are you using SEF? htaccess?

The links you posted make no sense to me.
We only get an `Itemid` in the url when SEF is set to No
Here I have set "New User Account Activation" to "self"

I get when SEF is set to No (here for en-GB)
`SITEBASEURL/index.php?option=com_users&task=re

[2019-03-16 11:09] #24201 closed, assigned to nobody

[2019-03-16 11:09] Milglius commented on #23283
franz-wohlkoenig please provide the actual working code if you claim A Solution is stated above.

Forum is dead zero Solution there

Request to reopen this New feature request untill the actual working code would be provided

[2019-03-16 11:10] franz-wohlkoenig commented on #24201
Thanks @infograf768 for Comment.

As written above please ask on [Forum](https://forum.joomla.org/), Issue closed.

[2019-03-16 11:28] #23580 closed, assigned to nobody

[2019-03-16 11:28] franz-wohlkoenig commented on #23580
Closed as no Answer; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23580">issues.joomla.org/tracker/joomla-cms/23580</a>.</sub>

[2019-03-16 11:30] #23611 closed, assigned to nobody

[2019-03-16 11:30] franz-wohlkoenig commented on #23611
Closed as Solution provided above. Please reopen if i misunderstood.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23611">issues.joomla.org/tracker/joomla-cms/23611</a>.</sub>

[2019-03-16 11:36] franz-wohlkoenig commented on #23645
@infograf768 reminder.

[2019-03-16 11:37] #23657 closed, assigned to nobody

[2019-03-16 11:38] franz-wohlkoenig commented on #23657
closed as no Answer; please reopen if needed.

[2019-03-16 11:38] franz-wohlkoenig commented on #23659
@infograf768 reminder

[2019-03-16 11:39] franz-wohlkoenig commented on #23663
@ReLater can you please comment?

[2019-03-16 11:40] #23666 closed, assigned to nobody

[2019-03-16 11:40] franz-wohlkoenig commented on #23666
closed as no Answer; please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23666">issues.joomla.org/tracker/joomla-cms/23666</a>.</sub>

[2019-03-16 11:40] franz-wohlkoenig commented on #23703
@thuebschmann any Comment?

[2019-03-16 11:41] franz-wohlkoenig commented on #23720
@mbabker can you please comment?

[2019-03-16 12:12] nitesh-solanki opened #24202 "[4.0] Field Group (Category) error during a new category creation"
### Steps to reproduce the issue
Error
Save failed with the following error: Incorrect datetime value: '' for column 'modified' at row 1

I am getting these error when I am create a new category in Field Groups in the Joomla! 4.0.0-alpha7 while the same process is working fine at Joomla! 3.9.4

### Expected result
![screen shot 2019-03-16 at 12 12 02](https://issues.joomla.org/uploads/1/d0d6eed76d

[2019-03-16 12:39] #22256 closed, assigned to nobody

[2019-03-16 12:40] franz-wohlkoenig commented on #22256
closed as having Pull Request #24203

[2019-03-16 12:42] #23456 closed, assigned to nobody

[2019-03-16 14:37] Ninja-007 commented on #23580
@franz-wohlkoenig
I have modfied my layout and view class as per ACL, therefore there is no need of separate dashboards for different user groups now. :)

[2019-03-16 15:02] SharkyKZ opened #24205 "[4.0] Language files not loaded by plugin constructors"
### Steps to reproduce the issue

Enable language debug. Enable some plugins that autoload language files. Check loaded language files.

### Expected result

Plugin language files loaded.

### Actual result

Plugin language files not loaded.

### System information (as much as possible)

4.0-dev nightly.

### Additional comments

Seems to be stemming from #21768. CC @laoneo.

[2019-03-16 15:26] SharkyKZ commented on #24205
https://github.com/joomla/joomla-cms/blob/204944255cf6cbc08358625e541e0acccf64aa10/libraries/src/Factory.php#L745
This returns `NULL` but it should be language code?

[2019-03-16 15:29] laoneo commented on #24205
Is it a specific plugin or all of them?

[2019-03-16 15:29] ReLater commented on #24205
Related? https://github.com/joomla/joomla-cms/issues/17444

[2019-03-16 15:41] SharkyKZ commented on #24205
@laoneo this happens with plugins that load language in the constructor. Loading language manually later on during any plugin event works fine.

@ReLater Yes, it's the same. Guess I should close this.

[2019-03-16 15:41] #24205 closed, assigned to nobody

[2019-03-16 15:47] infograf768 commented on #23659
As it looks that #22446 is not going to go into 3.x and is not changed to be targeted at 4.0, this Issue looks out of scope for now.
The proposed code should imho be added to #22446 if necessary in order to merge both together when proposed and accepted.

[2019-03-16 16:29] brianteeman commented on #24205
This is what @wilsonge struggled and failed to work out last week

[2019-03-16 16:33] uglyeoin commented on #22524
I have got the articles editing part working in a modal in J3.  I'm still looking for the modules editing part.  If anyone can point me in the right direction that would be awesome.  I believe we are dropping Bootstrap in J4.  If anyone can give me a clue as to what we are using instead that would be good.  Will it be a custom library?

[2019-03-16 16:34] infograf768 commented on #23645
??

[2019-03-16 16:48] franz-wohlkoenig commented on #23645
@infograf768 meant [Comment](https://github.com/joomla/joomla-cms/issues/23645#issuecomment-469166153)

[2019-03-16 16:50] franz-wohlkoenig commented on #23659
@infograf768 thanks for Comment. So its for @HLeithner or @wilsonge

[2019-03-16 17:14] infograf768 opened #24208 "[4.0] Undefined variable Notice when displaying Contacts Manager"
### Steps to reproduce the issue
Displays the contacts manager

### Notice
`[16-Mar-2019 17:38:22 Europe/Berlin] PHP Notice:  Undefined variable: noUser in /Applications/MAMP/htdocs/installmulti/joomla40/layouts/joomla/html/batch/user.php on line 26`

The choice for "No user" is not proposed in the batch modal

[2019-03-16 18:15] infograf768 commented on #23645
Honestly, at this time, no idea about that.
Here I get if I add this field in com_content config.xml
<img width="1167" alt="Screen Shot 2019-03-16 at 19 12 51" src="https://user-images.githubusercontent.com/869724/54479683-9e633a80-481f-11e9-8c67-62d65abe1cb4.png">

[2019-03-16 18:17] franz-wohlkoenig commented on #23645
thanks for Comment @infograf768

[2019-03-16 18:20] bahl24 commented on #24202
Issue confirmed, let me try to solve this

[2019-03-16 20:11] kofaysi opened #24209 "Message reporting an error on update fail should be of error type"
### Steps to reproduce the issue

Install a package which contains an error and evoke:
https://github.com/joomla/joomla-cms/blob/fe597ef10fe6d6f0841bebc8aeebaad72d7080f3/administrator/components/com_installer/models/update.php#L466

Example of package, error and Joomla combination:
https://screenshots.firefox.com/UojAszn3JtInhoFu/ctenarsky-klub.cz

### Expected result

Message "Error updating pack

[2019-03-16 20:19] chmst commented on #24208
Confirmed.
But: The Batch function should be checked in all views, it does not make sense to get the batch modal when nothing is to do.

Batch should be always be disabled until at least one item in the list is selected as it is in Menu Items.
Then the Batchbutton must have 	->listCheck(true);
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Applic

[2019-03-16 20:36] twister65 commented on #24181
Please, could you give more information.
I successfully register a new user with recaptcha invisible and Joomla 3.9.4.
Perhaps, your settings have been changed.

[2019-03-16 21:29] chmst commented on #24208
@infograf768 can you post a screen, please? The batch button must be disabled when you are on the view contacts, until you mark at least one contact.

[2019-03-16 22:40] ReLater commented on #24209
Please test pr https://github.com/joomla/joomla-cms/pull/24210

[2019-03-16 23:13] #24209 closed, assigned to nobody

[2019-03-17 05:26] franz-wohlkoenig commented on #23816
closed as having Pull Request #23886

[2019-03-17 06:12] franz-wohlkoenig commented on #24029
@HLeithner can you please comment as Release Lead 3.9?

[2019-03-17 06:14] franz-wohlkoenig commented on #23994
@wilsonge do you know as Release Lead 4?

[2019-03-17 06:15] franz-wohlkoenig commented on #23991
@HLeithner can you please comment?

[2019-03-17 06:16] franz-wohlkoenig commented on #23980
@HLeithner can you please comment as Release Lead 3.9?

[2019-03-17 06:16] franz-wohlkoenig commented on #23972
@vijay9908 are you working on this Issue?

[2019-03-17 06:17] franz-wohlkoenig commented on #23968
@bahl24 have you tried to fix like @Anu1601CS suggested?

[2019-03-17 06:18] franz-wohlkoenig commented on #23905
@wilsonge  can you please comment as Release Lead 4?

[2019-03-17 06:18] franz-wohlkoenig commented on #23904
@HLeithner can you please comment as Release Lead 3.9?

[2019-03-17 06:19] franz-wohlkoenig commented on #23748
@wilsonge  can you please comment as Release Lead 4?

[2019-03-17 06:19] franz-wohlkoenig commented on #23734
@wilsonge  can you please comment as Release Lead 4?

[2019-03-17 06:30] infograf768 commented on #23991
imho, as the article has been approved and already published, changing its category could create issues. It would need re-approving.

[2019-03-17 06:35] vijay9908 commented on #23972
No Sir

[2019-03-17 06:50] bahl24 commented on #23968
On it.

[2019-03-17 07:02] franz-wohlkoenig commented on #23972
@vijay9908 thanks for your Answer. I asked because of https://github.com/joomla/joomla-cms/issues/23972#issuecomment-469660355

[2019-03-17 07:03] brianteeman commented on #23991
When an article has been approved you can edit the content without any more approval. So restricting a category change for that reason is not logical

[2019-03-17 07:26] stutteringp0et commented on #24034
Why not something in-between? An option to disable feeds at the category level or globally? Those who don't want them can shut them off.

[2019-03-17 07:34] HLeithner commented on #23904
com_contact doesn't expose a limit parameter but it uses the global configuration default list limit, there is only one limit for frontend and backend.

You can change the limit with a layout override, f. ex. copy the default.php and and .xml and add the limit parameter to the request fields.

something like this:
[code]

Adding a separated global front-/backend limit would be possible but there c

[2019-03-17 07:34] #23904 closed, assigned to nobody

[2019-03-17 07:36] HLeithner commented on #23980
seams to be a problem with the frontend template and javascript joomla uses for frontend editing.
which template do you use?

[2019-03-17 07:38] HLeithner commented on #24029
Sounds like a caching problem in an php opcache module, do you use opcache or apc or any other opcaching module for php?
If yes, try to disable it.

[2019-03-17 07:47] franz-wohlkoenig commented on #23904
@HLeithner thanks for taking Time to comment.

[2019-03-17 07:58] HLeithner commented on #23991
The restriction makes maybe sense, at least in a strange way. If it's this way we can't change it in 3.9 but we should fix the "create" category bug. The category should not be a dropdown if its readonly, which it is in this case.

[2019-03-17 07:59] lllopo opened #24214 "[4.0] Content Security Policy main menu item missing language string on login"
### Steps to reproduce the issue
1. Login to Joomla backend
2. Open main menu

### Expected result
The content security policy menu item should be "Content Security Policy"

### Actual result
The content security policy menu item has "com_csp" as text

### System information (as much as possible)
Joomla! 4.0.0-alpha8-dev Development [ Amani ] 9-March-2019 13:41

### Additional comments
After click

[2019-03-17 08:01] HLeithner commented on #24034
Disabling feed makes sense. other question wouldn't the feed fit better to the webservices?

[2019-03-17 08:41] HLeithner commented on #23659
We can't remove anything in a minor version. At least not following the semver definition.
Beside this, how should this work what happens to layout overrides?

[2019-03-17 08:49] HLeithner commented on #23720
@nikosdion could you give me a hint or an issue id where this was discussed?

[2019-03-17 08:53] coolcat-creations commented on #24181
So the only thing that was changed was the Joomla Version. And the Error message was unfortunately just "Captcha is invalid"... If the key is wrong it would show another error message on the Google Badge itself. Not sure how to debug.

[2019-03-17 08:57] franz-wohlkoenig commented on #24214
Is this related to #24202?

[2019-03-17 09:00] lllopo commented on #24214
I don’t think so.

[2019-03-17 09:03] micker commented on #23659
I think repetable field is already use in many extension ... Try to start migration Can be interesting now for less work on j4 migration

[2019-03-17 09:09] franz-wohlkoenig commented on #24214
sorry @lllopo was a Question for Maintainer.

[2019-03-17 09:46] PavelGloba commented on #24187
@SniperSister I've deleted the contact with id=1 and with post request it's returning 404, but the email getting sent anyway.

[2019-03-17 09:48] infograf768 commented on #23991
I will prepare a patch for that (it has still to look like a dropdown but readonly as we do when article is associated)

<img width="585" alt="Screen Shot 2019-03-17 at 10 36 02" src="https://user-images.githubusercontent.com/869724/54488339-da8aaf80-48a0-11e9-9065-15c8cc1663da.png">

[2019-03-17 10:11] infograf768 commented on #23991
Please test
https://github.com/joomla/joomla-cms/pull/24216

[2019-03-17 10:11] #23991 closed, assigned to nobody

[2019-03-17 10:47] HLeithner commented on #23663
So I checked our update system and found out that the update cache get purged before we do a update check. I create a PR #24217 to fix this. please test.

Closing this.

[2019-03-17 10:47] #23663 closed, assigned to nobody

[2019-03-17 10:49] HLeithner commented on #24066
I have done a PR that it works like @mbabker says. Please test it #24217

[2019-03-17 11:11] peterhulst commented on #23338
Hello,

On a local XAMPP installation with PHP 7.3.4 and Joomla 3.9.4 I still have this issue.
Is this normal or should it have been solved?

Regards,
Peter<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23338">issues.joomla.org/tracker/joomla-cms/23338</a>.</sub>

[2019-03-17 11:33] peterhulst commented on #23338
But now it is in:
libraries\f0f\dispatcher\dispatcher.php on line 524

so f0f instead fof.

Replacing the displatcher.php in f0f with that of fof (and editing fof-->f0f) solved the problem (file added with changed filetype)[dispatcher.txt](https://issues.joomla.org/uploads/1/9ce29c8b68b05f4530b62e02cb2e65c7.txt)

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissu

[2019-03-17 11:44] Puneet-Jain-18 opened #24218 "[4.0][a11y] New menu item Buttons inaccessible for keyboard users"
### Steps to reproduce the issue

go to backend
component/articles/**open already created already article**/New Menu Item/

try navigating to  Close or Save buttons in the footer using keyboard

### Expected result
Close or save button could be accessed

### Actual result
Not able to navigate to Close or Save buttons in the footer

[2019-03-17 12:06] Bakual commented on #24034
What is the gain in disabling feed views?
I don't see a reason to add yet another option to disable something that doesn't hurt anyone.

[2019-03-17 12:09] ymages commented on #24034
what is the gain to have feed on 90% of the websites ?

[2019-03-17 12:52] ReLater commented on #23338
@peterhulst

`f0f` is not part of the Joomla core. Normally all current Akeeba extensions use a newer FOF (e.g. `fof30`) and not `f0f` any more.

This said I think that you use another extensions that uses an outdated version of `f0f` or your extensions aren't up to date.

Your issue is not a core issue and you should ask in a forum.

[2019-03-17 12:58] #24202 closed, assigned to nobody

[2019-03-17 12:58] franz-wohlkoenig commented on #24202
closed as having Pull Request #24215

[2019-03-17 13:29] mbabker commented on #24034
What is adding an option to effectively force something that has no frontend routing and you have to explicitly expose through other options actually do to benefit users?  Or, what is so bad about RSS resource use that those who might discover your sites have RSS support need to be chased away from adding your site's RSS feed to their list?

[2019-03-17 15:18] BlackBrix commented on #13757
I can confirm wezetel's last comment even with Joomla 3.9.4 it's still the same issue:
- why in the search result list the links to archived articles only links to the archive month (where can be dozens of articles then) -> instead it should link directly to the archived article like it is the way with all other search results too ....

this is extremely annoying.

[2019-03-17 15:38] nikosdion commented on #23720
These are two different extensions. The old one is a "library" extension (lib_fof30). The newer one is a "files" (files_fof30) extension.

We changed from a library extension to a files extension because of the braindead way Joomla! handles library extensions on upgrade. The workflow is delete the entire lilbrary directory first(!!!), _then_ run the preinstall method of the package's script and if

[2019-03-17 15:57] chmst commented on #24218
Work in progress: https://issues.joomla.org/tracker/joomla-cms/23254<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24218">issues.joomla.org/tracker/joomla-cms/24218</a>.</sub>

[2019-03-17 16:11] #24218 closed, assigned to nobody

[2019-03-17 16:11] franz-wohlkoenig commented on #24218
closed as stated above, thanks @chmst

[2019-03-17 16:44] peterhulst commented on #23338
Thank you! I think it is 'Autotweet'.
The map: f0f is there because of remains of an older installation I guess

[2019-03-17 17:24] Fedik commented on #22241
well,
First. `sql_from="#__example_subgroups AS e"` - this is not real life example, because Joomla! do not have `example_subgroups` table. But it do not need anymore.

Second. the field expect request `filter` parameter (in `$_GET` or `$_POST`) , eg `&filter[group]=99`.
(This would be good to clarify in documentation)

This won't work anywhere, without `filter` parameter in request.

Third.

it i

[2019-03-17 17:54] ohader commented on #24176
* https://github.com/TYPO3/phar-stream-wrapper/issues/21
* https://github.com/TYPO3/phar-stream-wrapper/pull/22

Just for internal research and verification: Which version of the `geoip2.phar` has been used?

[2019-03-17 18:12] hakanara commented on #22241
@Fedik , I don't know who you are and how you tell all these but if I compare what you wrote above with the Joomla documentation, what you write and what the documentation say does not match at all. Either you are wrong or the documentation. You say it is a feature request but the documentation says it already works as described. It does not even say anything about the limitations or the usage way

[2019-03-17 18:19] wilsonge commented on #23994
Nope. As far as I can tell it's a bug in the tabs custom element. At least for me this patch worked. https://github.com/joomla-projects/custom-elements/pull/115 . As far as I can tell the tabs custom element breaks if it's inside a parents tabs element. But it can't travel outside the iframe to actually find it.

[2019-03-17 18:50] stutteringp0et commented on #24034
The only reason I could give to disable the feed view is to protect a portion of the site from syndication.

One of my customers has a problem with their competitors plagiarizing their content.  Rather than keep up with rapid changes in their industry - their competitors find it easier to copy the work of others, RSS makes that easy to do.  I prevent it with a system plugin now.  It doesn't preven

[2019-03-17 19:18] jurihahn commented on #24176
latest 2.9.0

[2019-03-17 19:33] Fedik commented on #22241
@hakanara pleas reread my previous comment. Pay attention on:

(This would be good to clarify in documentation)

[2019-03-17 19:43] HLeithner commented on #23720
thx for your explanation, is there a manual way to fix it?

[2019-03-17 20:28] twister65 commented on #24181
Perhaps, it could help. In the admin console, go to "Advanced Settings" for your key, and verify the "Domain/Package Name Validation" box is checked.
https://www.google.com/recaptcha/admin
Otherwise, see:
https://developers.google.com/recaptcha/docs/domain_validation
I don't think that your problem is due to Joomla 3.9.4 because recaptcha plugin has not been modified.

[2019-03-17 20:47] twister65 commented on #24181
You can also see these topics in the forum, they can solve your issue:
https://forum.joomla.org/viewtopic.php?t=970093
https://forum.joomla.org/viewtopic.php?t=970327

[2019-03-17 20:59] twister65 commented on #24181
It has been solved here:
https://forum.joomla.org/viewtopic.php?t=968779
https://forum.joomla.org/viewtopic.php?t=968430

[2019-03-17 22:16] chmst opened #24226 "[4.0] Toolbar Buttons enable and disable"
### Steps to reproduce the issue
Open a list view, for example articles. The Buttons for actions and batch are enabled.

![screen shot 2019-03-17 at 22 09 08](https://issues.joomla.org/uploads/1/c73ea0bfb7cd6edf8be211f3ac33c21a.png)

### Expected result
Buttons are disabled as long as no item ist selected

### Actual result
Buttons are enabled.
But select an item, then "deselect" it and the button

[2019-03-18 06:24] puneeth2001 commented on #24226
@chmst Its working fine for me:
![screenshot-localhost-2019 03 18-11-54-02](https://user-images.githubusercontent.com/43813460/54510742-98cb3900-4974-11e9-83a7-dec035be068f.png)

[2019-03-18 07:02] Bakual commented on #24034
I'd say if you can already solve it with a simple plugin for the whole site, then that issue can be closed.
I seriously see no reason in doing that in core.

[2019-03-18 07:04] nikosdion commented on #23720
Without having tried it, I believe that you can delete administrator/manifests/libraries/lib_fof30.xml and then install the newest FOF 3 version. I _think_ that Discover does not look into the currently installed extensions so it won't complain again. But, really, there is no good way manual or automatic. If there was a good manual way to do it I'd have already automated it and have it run during

[2019-03-18 07:06] ymages commented on #24034
it should definitively be an option , I even wonder if it is legal in Europe  to allow feed directly without the possibility to forbid it

[2019-03-18 07:34] infograf768 commented on #23067
This is not an issue, it is asking for a new feature.
Therefore it depends on the will of someone to code it, _if feasible_ as it looks quite complex, specially when using multiple templates.

[2019-03-18 08:09] coolcat-creations commented on #24181
Thank you - probably it will be this issue

I am checking with the hoster.

[2019-03-18 08:35] infograf768 commented on #24208
I have an issue here in present branch after a clean install

The `Change status` and `Batch` button are not greyed)when first displaying any manager... (that is a new behavior as it was working fine until recently). This for all managers, not only contacts.
If one selects an item in the list and then unselect it, then the buttons rightfully get greyed.
Looks like this is an issue with our js.

Fo

[2019-03-18 08:35] HLeithner commented on #23720
thx @nikosdion

@jjnxpct would you like to try this and I close the issue. Fixing the update should be an own issue.

[2019-03-18 08:35] #23720 closed, assigned to nobody

[2019-03-18 08:49] chmst commented on #24208
see also this issue: https://github.com/joomla/joomla-cms/issues/24226

[2019-03-18 08:56] infograf768 commented on #24208
Please test https://github.com/joomla/joomla-cms/pull/24228

[2019-03-18 08:56] #24208 closed, assigned to nobody

[2019-03-18 08:58] infograf768 commented on #24226
@puneeth2001
This happens in present branch after npm ci

[2019-03-18 09:08] Bakual commented on #24034
Of course it is legal in Europe, why should it be illegal?
You publish something in the internet with the intention it's read by someone. It doesn't make a difference if it's read by a RSS reader or a browser.
Btw: One can also easily scrape HTML documents automatically. Ask Google. You don't need RSS at all to steal content from another company.

And after all, you have already the possibility to

[2019-03-18 09:10] ymages commented on #24034
I dont want to install a plugin, or disable it, I want the possibility to enable it if I want, or install a plugin to enable it

[2019-03-18 10:13] Bakual commented on #24034
Still don't see a single reason to implement this, sorry.

And no, "outsourcing" the RSS functionality to a plugin would be even more wrong than adding an option (which is wrong as well).

[2019-03-18 10:20] franz-wohlkoenig commented on #24034
@ymages there will always be a Gap between "i want that in Core cause ..." and "there are other Solutions, its not for Core".

[2019-03-18 10:22] wilsonge commented on #23067
What JM says. It's definitely a cool concept. But not high on my priority list at this time

[2019-03-18 10:27] puneeth2001 commented on #24226
issue confirmed

[2019-03-18 11:04] HLeithner commented on #24183
@omd123 do you have a error.log?

maybe activate the debug options from joomla.

[2019-03-18 11:35] HLeithner commented on #22417
@helgator does it work if you url encode the string?

dokuwiki/doku.php?id=support%3Astart

[2019-03-18 12:03] wilsonge commented on #24214
It's possible it's related to https://github.com/joomla/joomla-cms/issues/17444 - but i think unlikely given all the other menu strings are loading. Certainly don't see how it's related to #24202

[2019-03-18 12:05] HLeithner commented on #22010
I tried to rebuild your issue but can't I tested it with joomla sample data and added a fulltext index to the title.

Query I used:
[code]

PHP Code I used:

[code]

this outputs all 6 rows fromt 2-5 and 1 at last.

@alikon the () for the union is correct thats the way joomla build union queries

Which mysql version do you use? I use 5.6, we need the SQL error message, the php message only tells u

[2019-03-18 12:05] #22010 closed, assigned to nobody

[2019-03-18 12:17] wilsonge commented on #24034
I don't think we're going to remove RSS support. Clearly we're going to have to do quite a bit of work on fields to make it work in more cases than just HTML - as it's going to be required for web services work as well.

[2019-03-18 12:17] #24034 closed, assigned to nobody

[2019-03-18 12:22] mbabker commented on #24183
Joomla intentionally gives a 503 response when offline mode is enabled, as is standard behavior.  See [this code](https://github.com/joomla/joomla-cms/blob/17d84600223c89ab3a5528053f7dd7bd267b1d61/libraries/src/Application/SiteApplication.php#L757-L762).

If you're getting a server level 503 page instead of the Joomla offline template, check to be sure there isn't something happening at the server

[2019-03-18 12:24] HLeithner commented on #24156
@agerix you are right this is missing. it should be trivial to add it.

[2019-03-18 12:38] wilsonge commented on #23905
No clue about this one off the top of my head. Sounds bad tho. Added it onto my list

[2019-03-18 13:02] schnuti opened #24229 "[4.0 alpha 7] fresh installation - database table warning"
### Steps to reproduce the issue
Download the installation package and install J! alpha 7
Have a look at Database "check" and you'll see this

![db-problem](https://user-images.githubusercontent.com/956537/54531182-f1a2cd80-4984-11e9-96f5-dd9e9bb0c249.jpg)

There was a title/tool-tip saying something like "index language is missing" I believe. The code from:  4.0.0-2018-07-10.sql is probably missi

[2019-03-18 13:04] HLeithner commented on #24156
I added a PR. Closing this. @agerix please test the PR.

[2019-03-18 13:04] #24156 closed, assigned to nobody

[2019-03-18 13:06] HLeithner commented on #23659
Migration seams not to be the problem (script is ready) but layout overrides may have to be changed.

[2019-03-18 13:17] HLeithner commented on #24196
@bembelimen any comments on this?

[2019-03-18 13:27] HLeithner commented on #24175
It's not easy to archive this with our current banner selection code, you can request this as feature for 4.0 and find someone who wants to write a PR.

[2019-03-18 13:42] chmst commented on #24229
Please test #24204<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24229">issues.joomla.org/tracker/joomla-cms/24229</a>.</sub>

[2019-03-18 13:52] wilsonge commented on #23659
It would make sense in this case to merge #22446 so people have a version where they can migrate their fields out of repeatable and into the subform field. But yes the repeatable field cannot be removed until 4.0 - but we can of course mark it as deprecated as soon as that is merged

[2019-03-18 14:00] brianteeman commented on #24175
The word Archive above should be Achieve.

[2019-03-18 14:04] #24229 closed, assigned to nobody

[2019-03-18 14:04] franz-wohlkoenig commented on #24229
closed as having Pull Request #24204

[2019-03-18 14:13] brianteeman commented on #24214
I thought this was not going to be in the menu anyway but only in the dashboard

[2019-03-18 14:18] mbabker commented on #24196
When the Date class is instantiated, it standardizes dates to UTC and the user's selected timezone stored in the `Joomla\CMS\Date\Date::$tz` property with UTC being pushed up into `DateTime::$timezone`.  See [the constructor](https://github.com/joomla/joomla-cms/blob/3.9.4/libraries/src/Date/Date.php#L85-L119) for details.

What practical issues are you experiencing with the standardized UTC timez

[2019-03-18 14:31] wilsonge commented on #23659
AMENDMENT TO ABOVE: Apologies. I missed there was a migration script. If there's a migration script then the correct place to do that migration is in 4.0 and not have this in 3.10!

[2019-03-18 14:36] the-djmaze opened #24231 "User account registration used for sending spam"
### Steps to reproduce the issue
1. Create a user account on a Joomla website.
2. Use a user name as "Cristal wants to see you in 9 hours http://www .connecticut-weddings.com/redirect.asp?URL=http://project1200995 .tilda.ws,"

### Expected result
Error about user name

### Actual result
Activation e-mail is send to new user as:

"Hello Cristal wants to see you in 9 hours http://www. connecticut-we

[2019-03-18 14:46] #24231 closed, assigned to nobody

[2019-03-18 14:46] Quy commented on #24231
Please test PR #20142<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24231">issues.joomla.org/tracker/joomla-cms/24231</a>.</sub>

[2019-03-18 15:02] wilsonge commented on #24214
I won't be - there's a PR somewhere to do that. But it's just a weird bug

[2019-03-18 16:02] irbian commented on #24196
It's simple, if I use the format method (https://github.com/joomla/joomla-cms/blame/staging/libraries/src/Date/Date.php#L281) with local a true, it doesn´t show the local time taking into account the DST, because it never execute a setTimezone

Actually, is even more fun, because of https://github.com/joomla/joomla-cms/blame/staging/libraries/src/Date/Date.php#L327, if I do:

format(false) // work

[2019-03-18 16:33] killerog opened #24233 "[J3] Unable to remove second 'default' menu item in multi language site"
Prerequisite:
1. Have a multi language site
2. Have a main menu with a default item
3. Have  several language specific menus with their own homepages (I'm not sure if it's only an issue in multi language sites, but I can't check it elsewhere right now)

### Steps to reproduce the issue
1. Add a new menu for a new language
2. Create a new menu item in this menu to a single article with default page

[2019-03-18 16:50] infograf768 commented on #24202
Please rather test https://github.com/joomla/joomla-cms/pull/24234
I am closing now #24215

[2019-03-18 17:01] infograf768 commented on #24233
Please post your question of our forums ( https://forum.joomla.org/viewforum.php?f=711 ) and read https://docs.joomla.org/J3.x:Setup_a_Multilingual_Site

[2019-03-18 17:01] #24233 closed, assigned to nobody

[2019-03-18 17:55] chmst opened #24235 "[4.0] Notice in articlesModel at getItems()"
### Steps to reproduce the issue

Use $model->getItems() in a script and you get a notice:

Undefined property: stdClass::$id

in administrator\components\com_content\Model\ArticlesModel.php on line 595

[2019-03-19 07:50] meet2410shah opened #24237 "[4.0]Full Screen Design"
### What needs to be fixed
![Issue](https://user-images.githubusercontent.com/44209311/54588564-617a8c00-4a49-11e9-88cf-58f14204815c.png)

### Why this should be fixed
The other written content is below this buttons and due to this it is not be visible .

### How would you fix it
I can just place the navigation bar at the top of the screen and rest of the content will remain below that navigation

[2019-03-19 07:52] meet2410shah commented on #24237
There is also no way to close from the full screen.

[2019-03-19 07:53] franz-wohlkoenig commented on #24237
please append "[4.0]" at beginning of Title.

[2019-03-19 08:15] franz-wohlkoenig commented on #24237
please provide System Informations like Nightly Build or Alpha, Browser, ... in first Comment.

[2019-03-19 08:43] franz-wohlkoenig commented on #24237
![Screen Shot 2019-03-19 at 09 42 30](https://user-images.githubusercontent.com/8235763/54591858-69c3ce80-4a2b-11e9-8262-eb44b24d5715.png)

[2019-03-19 10:11] infograf768 opened #24239 "[staging] Multilanguage: Indonesian id-ID language wrong behaviour in Associations Tab"
See: https://forum.joomla.org/viewtopic.php?f=711&t=970653#p3563278

### Steps to reproduce the issue
Install a multilingual site with 3 languages minimum, one of them being the Indonesian language.
(This can be done during a clean install of staging)
If not yet done, make sure the Indonesian content language exists.
If not yet done, create a specific main menu for Indonesian, containing a Home pa

[2019-03-19 10:16] ghost opened #24240 "[4.0] Update "Alpha8" to "Nightly Build": ... a "NULL" was provided"
### Steps to reproduce the issue
Update "Alpha8" to "Nightly Build, got:
![modified](https://user-images.githubusercontent.com/8235763/54597615-266f5d00-4a37-11e9-892b-a6fc110d7e81.png)
### System information
Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 nr.1 SMP Mon Dec 17 12:02:35 EST 2018 x86_64
Database Type | mysql
Database Version

[2019-03-19 10:27] franz-wohlkoenig commented on #24237
Issue confirmed on:

Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 nr.1 SMP Mon Dec 17 12:02:35 EST 2018 x86_64
Database Type | mysql
Database Version | 5.7.24-cll-lve
Database Collation | utf8_general_ci
Database Connection Collation | utf8_general_ci
PHP Version | 7.1.26
Web Server | Apache
WebServer to PHP Interface | cgi-fcgi
Joomla

[2019-03-19 10:40] duckpmsf commented on #22959
I have the same problema.
I'm using PHP 7.1 and the joomla version is 3.9.4.

Can someone help me regarding this situation?

Regards
Paulo

[2019-03-19 11:43] joeforjoomla opened #24241 "[4.0] SMTP connection fails without SSL/TLS"
Related PR #23591

### Steps to reproduce the issue
Try to connect to an SMTP server without any SSL/TLS security option turned on

![image](https://user-images.githubusercontent.com/17835460/54603391-7bfe3680-4a44-11e9-9db9-10027700ed81.png)

### Expected result
Connection is successful as in Joomla 3.9

### Actual result
Connection fails and doesn't fallback anymore to a new one without a secuti

[2019-03-19 12:56] thuebschmann commented on #23703
if I remove the attribute i have the problem too.

In normal field i can User filter="user_utc", but in Repeatable subform isn't work.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23703">issues.joomla.org/tracker/joomla-cms/23703</a>.</sub>

[2019-03-19 13:02] thuebschmann commented on #23703
if i use UTC as Konfig-Time-Zone there is no problem. But I need the Berlin Timezone.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23703">issues.joomla.org/tracker/joomla-cms/23703</a>.</sub>

[2019-03-19 13:11] Quy commented on #24151
Duplicate #22974?

[2019-03-19 13:15] roland-d commented on #24151
Does this need updating? https://docs.joomla.org/Joomla_and_MySQL_8

[2019-03-19 13:25] maliouris commented on #24226
Can you check this request ? https://github.com/joomla/joomla-cms/pull/24243

[2019-03-19 13:28] #24226 closed, assigned to nobody

[2019-03-19 13:29] franz-wohlkoenig commented on #24226
closed as having Pull Request #24243

[2019-03-19 13:32] #22974 closed, assigned to nobody

[2019-03-19 13:32] franz-wohlkoenig commented on #22974
closed in favor of #24151<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22974">issues.joomla.org/tracker/joomla-cms/22974</a>.</sub>

[2019-03-19 14:25] infograf768 commented on #24239
Closing as we have a patch
https://github.com/joomla/joomla-cms/pull/24244

[2019-03-19 14:25] #24239 closed, assigned to nobody

[2019-03-19 15:00] Flowman opened #24245 "Articles permission issue"
### Steps to reproduce the issue
Create a group with permission to logon to admin
Create a category and assign the group the create
Login as the user and filter by the category
Try to create an article

### Expected result
User should be able to create article

### Actual result
User cannot create article

### System information (as much as possible)
Joomla 3.9.4

### Additional comments
https://g

[2019-03-19 15:20] brianteeman commented on #24187
So why did you leave sample data on the site.

[2019-03-19 15:42] mdmstw opened #24246 "Category blog menu item shows no results after unused tag added and removed"
### Steps to reproduce the issue
1. Create a category blog menu item which has articles assigned to the selected category.
2. Verify the category blog shows a list of articles.
3. Create a new tag (Components->Tags), but don't reference it on any article.
4. Edit the category blog menu item and assign the new tag, then save the menu item.
5. Verify that the category blog shows no articles (this is

[2019-03-19 15:49] fractaleater opened #24247 "Unexpected rename of uploaded file"
### Steps to reproduce the issue
upload a file that starts with same name as domain.. ex: www.johndoe.com, and attempt upload of a file called "johndoe.com.test.pdf" (no quotes)

### Expected result
A file called "johndoe.com.test.pdf" (no quotes) in the media folder.

### Actual result
A file called "johndoecom.test.pdf" (no quotes) in the media folder.

### System information (as much as possibl

[2019-03-19 17:18] asmego opened #24250 "Revert an upgrade"
### Steps to reproduce the issue
Someone on our team selected the option to upgrade the Joomla Software. I didn't see what the exact upgrade was. Now, no one can login to Joonmla. This is the error message when we try to login.
Parse error: syntax error, unexpected '$this' (T_VARIABLE) in /home3/njcouns/public_html/administrator/components/com_civicrm/civicrm/CRM/Core/DAO.php on line 1123

I'm ass

[2019-03-19 17:21] asmego opened #24251 "Error after upgrading. I think it needs to be reverted."
### Steps to reproduce the issue
One of our users upgraded the Joomla Software. I'm not sure of the exact upgrade that they did. Now, no one can login to Joomla to make changes. Once I try to login, I get this error:
Parse error: syntax error, unexpected '$this' (T_VARIABLE) in /home3/njcouns/public_html/administrator/components/com_civicrm/civicrm/CRM/Core/DAO.php on line 1123

I'm assuming that

[2019-03-19 17:43] uruk-hai-21 opened #24252 "[3.9] QR code generator - Google Authenticator"
### Steps to reproduce the issue
Enable plugin "Two Factor Authentication - Google Authenticator"

### Expected result
When Google Authenticator is enabled in user profile the QR Code is generated

### Actual result
QR code is not generated

### System information (as much as possible)
Joomla 3.9.4

### Additional comments
Qr code is generated in /libraries/fof/encrypt/totp.php in line 157
"$encod

[2019-03-19 17:53] PhilETaylor commented on #24252
Google no longer provides a chart API for QR Codes. It was actually deprecated in 2012 and **turned off Completely on March 18, 2019**

[2019-03-19 17:55] franz-wohlkoenig commented on #24251
Please ask on [Forum](https://forum.joomla.org/)

[2019-03-19 17:56] #24251 closed, assigned to nobody

[2019-03-19 17:56] franz-wohlkoenig commented on #24250
Please ask on [Forum](https://forum.joomla.org/)

[2019-03-19 17:57] #24250 closed, assigned to nobody

[2019-03-19 18:36] HLeithner commented on #24252
So 2 possibilities, remove it or replace it with f. ex. qrcode http://phpqrcode.sourceforge.net (lib seams old enough to required php 5.3, untested)

[2019-03-19 18:41] brianteeman commented on #24252
Removing it is not an option

For j3 we could use https://github.com/kazuhikoarase/qrcode-generator/blob/master/php/qrcode.php

For j4 presumably we are using something else already as fof isnt included

[2019-03-19 18:43] HLeithner commented on #24252
why is removing not an option? for convenient reasons you mean?

[2019-03-19 18:44] HLeithner commented on #24252
The JS versions fits better vor this use case in my opinion.

[2019-03-19 18:44] brianteeman commented on #24252
yes.

and I just checked that j4 has the same problem

[2019-03-19 19:28] wilsonge commented on #24181
Reopening

[2019-03-19 20:37] wilsonge commented on #23461
Router nor event dispatcher is going to be backported. You can use `Factory::getApplication()->triggerEvent()` in J3 for components to call. The plugin changes can't be backported because of how b/c works in the extension I'm afraid (the class inheritance mainly)

[2019-03-19 20:37] Fedik commented on #23703
Are you sure? because I cannot reproduce it.
if you do not use filter attribute, the time will NOT be modified **after save** as you asked in your first comment,

The problem remain that the default value in UTC, but after save it stay what was selected.
But again, this is because 'subform' do not support filter/validation at current time.

This is known issue.
There even was a pull request #14189

[2019-03-19 22:27] jjnxpct opened #24254 "Assign accesss level to custom field functionality?"
We have encountered a situation in where a content manager started messing around with the custom fields we created for the site in stead of just using the article creation to create what they needed.

We would like to be able to add permissions the subitems of 'articles' -> 'fields' and 'fieldgroups' in the Joomla **backend**. So logged in users can have rights to edit articles, but no access to

[2019-03-19 22:34] PhilETaylor commented on #22805
Doubt it. The abuse continues.

[2019-03-19 22:37] Bakual commented on #24254
Access levels would be who can view the item. You can already set that one for both the group and field.
What you probably mean are the permission settings where you can set if someone can edit a field or its value. That is also already possible using the "Permissions" tab in the field / group.

If I misunderstoof your request, feel free to clarify. Otherwise please close this issue.
If you have q

[2019-03-20 00:25] #24252 closed, assigned to nobody

[2019-03-20 00:26] Quy commented on #24252
Please test PR #24255<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24252">issues.joomla.org/tracker/joomla-cms/24252</a>.</sub>

[2019-03-20 04:44] #22960 closed, assigned to nobody

[2019-03-20 04:44] Quy commented on #22960
Please test PR #24256<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22960">issues.joomla.org/tracker/joomla-cms/22960</a>.</sub>

[2019-03-20 05:52] franz-wohlkoenig commented on #23461
@wilsonge can the Issue be closed?

[2019-03-20 05:56] franz-wohlkoenig commented on #23703
@HLeithner should #14189 reopened and merged?

[2019-03-20 07:18] Ninja-007 commented on #23461
The issue iis resolved from my side.

[2019-03-20 07:50] #23461 closed, assigned to nobody

[2019-03-20 07:50] franz-wohlkoenig commented on #23461
closed as stated above, thanks for Report @Ninja-007

[2019-03-20 08:03] infograf768 commented on #24182
Confirmed

[2019-03-20 08:03] franz-wohlkoenig commented on #24247
@HLeithner can you please comment?

[2019-03-20 08:04] franz-wohlkoenig commented on #24246
@HLeithner can you please comment?

[2019-03-20 08:04] franz-wohlkoenig commented on #24245
@HLeithner can you please comment?

[2019-03-20 08:07] infograf768 commented on #24182
Console error
`window.writeDynaList() is deprecated without a replacement!` in core.js 1:4520

[2019-03-20 08:21] jjnxpct commented on #24254
@Bakual I am not referring to the view or access permission to individual fields that are created. I would like to be able to restrict access to the fields and fieldgroups functionality as a whole. So these items are not visible / accessable to some users in the backend. The menu items won;t show up in the submenu of the articles (list) in the backend.

Maybe an option to select usergroups that ca

[2019-03-20 08:59] ghost opened #24259 "User activation bug in Joomla"
### Steps to reproduce the issue

New User Account Activation

Then new user clicks on activation email link and is redirected to site frontend and reads message that his account is activated ,

### Expected result

the admin in backend should see activated in green colour not in red

### Actual result

admin in backend sees activated in red colour

### System information (as much as possible)

jo

[2019-03-20 09:58] HLeithner commented on #24247
We only allow 2 "." in a filename, I don't know way maybe @mbabker can answer this?
https://github.com/joomla/joomla-cms/blob/staging/libraries/vendor/joomla/filesystem/src/File.php#L46

[2019-03-20 10:07] HLeithner commented on #24246
I tested this with joomla 3.9.4. it seams that the tag filter is cached in the user session. if the user closes the browser and reopens it, all articles are correctly shown.

[2019-03-20 10:07] #24246 closed, assigned to nobody

[2019-03-20 10:11] HLeithner commented on #24245
Maybe a problem of the multi category filter feature? Can't validate it at the moment. @Quy can you check this?

[2019-03-20 10:50] Flowman commented on #24245
I guess the getActions method should check if the ID is array than process the whole array, if it a single value do what it does today.

[2019-03-20 10:50] #24182 closed, assigned to nobody

[2019-03-20 10:50] franz-wohlkoenig commented on #24182
closed as having Pull Request #24260

[2019-03-20 10:59] brianteeman commented on #24246
This has been reported before

[2019-03-20 11:02] Bakual commented on #24254
That's the "Permission" tab I was referring to. It doesn't hide the menuitem but the fields and fieldgroups can be restricted to certain users, both for editing the value and the field/fieldgroup itself.
For the menuitems, you could create a custom backend menu.

So from my understanding everything is already there. If you can't figure out how it works, please use the forums for further help.
I'm

[2019-03-20 11:02] #24254 closed, assigned to nobody

[2019-03-20 11:13] franz-wohlkoenig commented on #24196
@irbian can you create a Pull Request (https://extensions.joomla.org/blog/item/how-to-contribute-to-joomla-through-github/)?

[2019-03-20 11:16] hardik-codes commented on #24259
@Milglius could you please post screenshots for reproducing the issue?

[2019-03-20 11:17] infograf768 commented on #24259
and post the settings you use for `User Account Activation`

[2019-03-20 11:18] jjnxpct commented on #24254
Thanks for your assistance. And you are correct to say that we are able to prevent editing of fields and groups for specific user groups. So we can prevent some backend users to mess with these fields and their settings. That's great.

The only thing we won't be able to prevent is certain user groups **adding new field groups and fields**. Am I correct? That would only be possible when we prevent

[2019-03-20 11:22] franz-wohlkoenig commented on #24254
@jjnxpct have you asked on [Forum](https://forum.joomla.org/)?

[2019-03-20 11:25] jjnxpct commented on #24254
Not yet. If this it not the place to discuss this, then sure, I will try it there....

[2019-03-20 11:46] jjnxpct commented on #24254
I don't have questions  about that (anymore) ;-) My only remaining question is about accessing the fields and field group functionality as a whole. So a backend user can be restricted from accessing this functionality to add new fields (at all). But I believe that is not possible at this time.

[2019-03-20 11:47] hardik-codes commented on #24259
working on it

[2019-03-20 12:15] irbian commented on #24196
I could try, but I´m not sure yet the most correct way to solve it. Using setTimezone on the constructor?

[2019-03-20 13:11] brianteeman opened #24261 "[4.0] WCAG 1.4.3: Elements must have sufficient color contrast (.form-control-feedback)"
**Issue**: `Elements must have sufficient color contrast` ([`color-contrast`](https://dequeuniversity.com/rules/axe/3.1/color-contrast?application=axeAPI))

**Target application**: [Joomla 4 - Administrator Login](http://localhost/joomla-cms/administrator/index.php)

**Element path**: .form-control-feedback

**Snippet**:

    <span class="form-control-feedback">Field value cannot be empty</span>

[2019-03-20 13:16] hardik-codes commented on #24261
Working on it

[2019-03-20 13:19] ggppdk commented on #24254
yes
you can control
deleting, publishing, editing field configuration, editing field values

but there is no special ACL to handle creating new fields,
instead the core.create on the current component is used,
meaning if a user can create articles then the user can create new fields and field-groups too
see here:
https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_fields

[2019-03-20 13:25] Flowman commented on #24245
I just realized that create work as there is "count($user->getAuthorisedCategories('com_content', 'core.create'))" that fixes the issue for create, but I was testing core.edit and core.edit.state that does not work.

https://github.com/joomla/joomla-cms/blob/b9097d9d4bbdaaa8f1831f84a502f0c632e34cfd/administrator/components/com_content/views/articles/view.html.php#L157

[2019-03-20 13:44] jjnxpct commented on #24254
OK, thanks ggppdk! That's what I thought...

So the remaining question is: Would it make sense to have ACL handle the creation of new fields/groups or not? I would think this might be useful in some scenario's?

If so having an ACL setting alongside the option to enable/disable custom field might be a way to go.

I am not a coder... So I can not help with coding this unfortunately. I don't mind do

[2019-03-20 14:02] flyingwombats commented on #24181
I managed to find a test site on 3.9.3
I signed it up and added the keys tot he plugin. I activated the plugin and turned it on in the system area and then observed the invisible Captcha working on a form.
I then updated the site to 3.9.4 so that was the only change and observed that all was still working as it should be.<hr /><sub>This comment was created with the <a href="https://github.com/joom

[2019-03-20 14:38] brianteeman opened #24262 "[4.0] Batch not disabled"
The batch button should be disabled until the user has selected at least one item. It was in J3 but currently it is not in j4

[2019-03-20 14:41] franz-wohlkoenig commented on #24262
Duplicate #24226

[2019-03-20 14:41] hardik-codes commented on #24261
I think it is browser version specific issue
Because in chrome version 73.0.3683.75 no issues are reported by the tool  http://aka.ms/AccessibilityInsights.
@joomla-cms-bot

[2019-03-20 14:50] Fedik commented on #24262
it was fixed once #21284
seems a regression or not fully fixed

[2019-03-20 14:52] brianteeman opened #24264 "[4.0] Modules batch language"
there has been a change in
        joomla-cms/administrator/components/com_modules/tmpl/modules/default_batch_body.php
 since joomla 3

It looks like it was an attempt to fix an issue whereby the language option didnt appear when a site had multiple admin languages installed but its not correct as it results in two language selectors when batch changing site modules.

From my tests the third insta

[2019-03-20 15:06] Harshil99 commented on #24261
@brianteeman Changing foreground color to #ccd8e2 results to 4.52:1 contrast ratio ? Is it fine ?

[2019-03-20 15:28] wilsonge commented on #24240
Do you have a stack trace for this error?

[2019-03-20 15:35] franz-wohlkoenig commented on #24240
how to get a stack trace?

[2019-03-20 15:51] wilsonge commented on #24240
turn on debug in system configuration and go back to the page

[2019-03-20 15:55] franz-wohlkoenig commented on #24240
Thanks @wilsonge , but after new Installation got: "Secure Connection Failed An error occurred during a connection to fw4.joomla.com. Peer's Certificate has been revoked. Error code: SEC_ERROR_REVOKED_CERTIFICATE" - Issue is reported to CloudAccess.

[2019-03-20 16:01] #24261 closed, assigned to nobody

[2019-03-20 16:02] franz-wohlkoenig commented on #24261
closed as having Pull Request #24265

[2019-03-20 16:19] #19123 closed, assigned to nobody

[2019-03-20 16:19] franz-wohlkoenig commented on #19123
closed as having Pull Request #24266

[2019-03-20 17:08] Bakual commented on #24254
Fields and fieldgroups use the same permissions as the component they belong to. So yes, someone who can create an article can also create a field.
You can restrict this permissions on a fieldgroup level, locking that group to only the fields you want.
Adding own permissions just for the fields/fieldgroups would complicate code and UX and I think it would prevent inheritance. of the permissions (f

[2019-03-20 17:13] jjnxpct commented on #24254
OK, thanks for your thoughts!

[2019-03-20 17:42] infograf768 commented on #24262
https://github.com/joomla/joomla-cms/pull/24243 has solved that.

[2019-03-20 17:43] infograf768 commented on #24262
closing as solved in codebase.

[2019-03-20 17:43] #24262 closed, assigned to nobody

[2019-03-20 20:08] softforge opened #24268 "Parent tags area is not populated"
### Steps to reproduce the issue
In J4 go to Tags and add a tag. Save, Close

Now start a new tag and on the right under parent hit the drop down to select the first tag as the parent to the one you are creating

### Expected result
See the tag that was first created and be able to select it as a parent of the new tag being made

### Actual result
No tags appear in the drop-down. You can never sel

[2019-03-20 20:09] Bodge-IT commented on #24268
I also checked  for this issue and could repeat.

[2019-03-20 20:17] Quy commented on #24268
Duplicate #23748?

[2019-03-20 21:14] innato opened #24269 "Forgot password erases account activation"
### Steps to reproduce the issue
Checked with Joomla! 3.9.4.
1. An existing registered user visits the front-end and clicks the "forgot your password" link.
2. Fill in the user's email address on the next screen and submit.
3. Next screen will inform you that email has been sent and is asking for Username and Verification Code.
4. Immediately after this, user remembers his password.
5. User goes t

[2019-03-21 06:54] infograf768 commented on #24109
Please test https://github.com/joomla/joomla-cms/issues/24109 for the CPanel modules

[2019-03-21 07:40] infograf768 commented on #24264
Nope. The issue is a duplicate.
[code]
making patch now

[2019-03-21 07:44] brianteeman commented on #24264
It should be that's correct but my test of that didn't work. Maybe I missed something but I tried for a while.

[2019-03-21 07:50] infograf768 commented on #24264
It works here for that part, but we still have an issue for the type field.
Working on both now

[2019-03-21 08:10] franz-wohlkoenig commented on #24109
@infograf768 #23934 to test.

[2019-03-21 08:13] franz-wohlkoenig commented on #24268
Issue is closed at Tracker but here shown als "Open".

[2019-03-21 08:14] franz-wohlkoenig commented on #24269
@innato can you please look if this is reported (and maybe closed)? I remember a similaer Report.

[2019-03-21 08:15] infograf768 commented on #24264
Please test
https://github.com/joomla/joomla-cms/pull/24273
Closing as we have a patch.

[2019-03-21 08:15] #24264 closed, assigned to nobody

[2019-03-21 08:19] franz-wohlkoenig commented on #24109
closed as having Pull Request #23934

[2019-03-21 08:21] infograf768 commented on #24109
@franz-wohlkoenig
#23934 was merged and that is why I could make the new PR :)

I reopen this as it did not only concern the cpanel modules but eventually other places in core where the redirect would be nice to implement.

Please, all, state which precise places.

[2019-03-21 10:25] innato commented on #24269
@franz-wohlkoenig I am sorry but don't know what you mean. Have I not reported it by my above submission?

[2019-03-21 10:41] HLeithner commented on #23703
@franz-wohlkoenig no, this PR will not be merged, UTC should work and hopefully we get #14189 rewritten for 4.0 @Harmageddon

[2019-03-21 11:41] franz-wohlkoenig commented on #24269
I thought a similaer Issue was reported (but maybe closed) earlier.

[2019-03-21 11:43] Harmageddon commented on #23703
Indeed, #14189 sadly didn't have very high priority, because surprisingly few people noticed / reported that filters and validations don't work in subforms. Right now, it is too late to introduce it to 3.x because of our version roadmap.
I hope I manage to get a new PR for 4.0 ready for testing within the next two weeks. Will inform you then.

[2019-03-21 11:49] infograf768 commented on #24109
@chmst
Also proposed for Edit Account
https://github.com/joomla/joomla-cms/pull/24281

[2019-03-21 12:47] agilare opened #24286 "Word searched with Advanced search found in plural but not in singular"
### Steps to reproduce the issue

1. make a research on Advanced Search module, for ex. "ascenseur" (french) in https://www.energie-environnement.ch/
2. articles containing the word ("ascenseur") exists https://www.energie-environnement.ch/le-saviez-vous/420-les-ascenseurs-utilisent-davantage-d-electricite-pour-attendre-que-pour-fonctionner ("Si l’ascenseur soutire...") but are not listed in resul

[2019-03-21 14:02] Quy commented on #24268
@infograf768 Please close on Github side. Thanks.

[2019-03-21 14:13] infograf768 commented on #24268
done

[2019-03-21 14:13] #24268 closed, assigned to nobody

[2019-03-21 15:00] wilsonge commented on #24240
No rush! Just whenever you have time :)

[2019-03-21 15:02] franz-wohlkoenig commented on #24240
i tried again but its always solved on CloudAccess-Side, so i gave up.

[2019-03-21 15:05] wilsonge commented on #23779
What Michael said in short.

Doing this change would break basically every extension out there I'm afraid, so it's basically not going to happen any time soon even with J4. Working on a full blown replacement using full entities has started and will continue that will indirectly solve this

[2019-03-21 15:05] #23779 closed, assigned to nobody

[2019-03-21 15:40] mohipan opened #24290 "Warning JUser: :_load: Unable to load user with ID: 650"
Hello,
when I open blog page in front end I got message:

Warning
JUser: :_load: Unable to load user with ID: 650

What shoud I do to remove that?

Thank you in advance!

[2019-03-21 15:43] brianteeman commented on #24290
That is because there is a content item on that page that was created by an author with id:650 and thhat author is no longer on your site.

Go to the article manager in the admin and in the search filter type in
id:650

That will show you the article. Now go to the publishing tab and in the created by field select a valid user.

Any problems please ask on the forum https://forum.joomla.org

[2019-03-21 15:53] mohipan commented on #24290
can you show a screenshot of it? in order to make it easier for me to solve this problem. thank you :)

[2019-03-21 15:55] brianteeman commented on #24290
Any problems please ask on the forum https://forum.joomla.org

[2019-03-21 15:56] mohipan commented on #24290
oke thanks so much Mr. :)

[2019-03-21 16:01] #24290 closed, assigned to nobody

[2019-03-21 16:05] flyingwombats commented on #24268
I don't think they are duplicates. One is about the behaviour of adding tags in an article the other about trying to add a hierarchy of tags in the tag component. It would be worth seeing if the fix of the issue in the articles touches the issue in the tag component but I will watch the other issue and if the fix for that does not have an effect on the issue I found then I will ask to reopen this

[2019-03-21 16:09] wilsonge opened #24291 "[4.0] Consistent validation of the database name"
com_config is looser at validating the database name than the installer (which was patched as part of https://github.com/joomla/joomla-cms/pull/23704). This should be normalised using a standard validation filter for JForm

[2019-03-21 16:12] Chacapamac opened #24292 "[4.0] Multilang broken. Router issue!!"
### Steps to reproduce the issue
Just Install Alpha 8 and create a multilingual site with Cassiopeia

### Expected result

To have the french article ( Article (fr-fr) ) appear in front-end

### Actual result
**I get this error**
_Il n'y a aucun article dans cette catégorie. Si des sous-catégories sont affichées sur cette page, elles peuvent contenir des articles._

The article is present and publ

[2019-03-21 17:37] infograf768 commented on #24292
have you installed the multingual sample data through the module?

[2019-03-21 21:00] chetanmadaan opened #24295 "Duplicating a template breaks if name of joomla install (physical folder) matches the template name."
### Steps to reproduce the issue
1. Install Joomla at localhost/beez3/
2. Go to extensions >> Templates >> Templates
3. Open beez3 template.
4. Click copy template on top left.
5. Put in any name in the popup.

### Expected result
![image](https://user-images.githubusercontent.com/3968575/54784283-d2f93c80-4bf9-11e9-8be9-5a1711a5673f.png)
Template should be copied.

### Actual result
![image](http

[2019-03-21 21:45] StefanSTS commented on #20821
Hello,

I like to reopen this issue, since it is still ongoing in Joomla 4 Alpha 7.

The var/lib/php/sessions directory can be only read by root in Ubuntu 16.04. and Plesk.

A trace of the issue looks like this:

(1/1) RuntimeException
Could not create session directory "/var/lib/php/sessions"

in FilesystemHandler.php line 57
at FilesystemHandler->__construct('/var/lib/php/sessions')
in SessionFa

[2019-03-21 21:52] Chacapamac commented on #24292
I install the new language and content language by the administration after I use the “Install Multilingual” with every notes of success + Multilingual Status OK.

What is weird I even verified that both menu items are pointing to the right (french/English) Category Blog and both article are in their right specific category. I think I will reinstall from scratch to see if I can repeat the problem.

[2019-03-21 22:30] Chacapamac commented on #24292
Ok I just reinstall the full Alpha 8 everything work well but see these 2 screenshot something is up?
![French-default-English-page](https://user-images.githubusercontent.com/1907276/54788901-2c1b9d00-4c07-11e9-8d9a-b77fddb36a98.jpg)
When French is default
The english page have a french title and no article — The french page is ok

![English-default-French_page](https://user-images.githubuserconte

[2019-03-22 01:17] EmmaPuls opened #24298 "Random Image module"
### What needs to be fixed
In the [Random Image Module](https://github.com/joomla/joomla-cms/blob/9217057c486b0050fdbde816b26d3fb83e1f806a/modules/mod_random_image/helper.php#L39-L42), there is a line that sets the default width to 100 if the user enters no width.
[code]
I'm assuming the intended functionality is to set the default width to 100%, however this code is ambiguous and get's interprete

[2019-03-22 06:07] franz-wohlkoenig commented on #24298
Thanks for your Suggest, can you make a [Pull Request](https://extensions.joomla.org/blog/item/how-to-contribute-to-joomla-through-github/) against J4?

[2019-03-22 06:11] Milglius commented on #24259
@hardik-codes A Solution is stated above. Could you please post screenshots and post the settings you use for User Account Activation for not reproducing the issue in joomla 3.9.4?

[2019-03-22 06:15] JamesNGarrett commented on #24298
The field in the random image module config is a number type input and it defaults to 100.  It is clearly labled 'px'.

This is not an error just very limited in its functionality.  The module was written in a time prior to responsiveness.

[2019-03-22 06:38] franz-wohlkoenig commented on #24286
@Hackwar can you please give a Comment?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24286">issues.joomla.org/tracker/joomla-cms/24286</a>.</sub>

[2019-03-22 06:39] franz-wohlkoenig commented on #24295
@HLeithner can you please comment?

[2019-03-22 06:50] Hackwar commented on #24286
Smart Search in 3.x is broken. Don't expect this to work with anything else than English. In 4.0 all of this is fixed, in 3.x it's not possible in a b/c way. Sorry.

[2019-03-22 06:54] Hackwar commented on #24286
But I've written a plugin that backports the changes from 4.0 to 3.9. the version on my website is a bit outdated, but I'll update that soon.

[2019-03-22 06:55] hardik-codes commented on #24298
Members is this issue already resolved  as suggested by @JamesNGarrett  ?

[2019-03-22 07:09] franz-wohlkoenig commented on #24286
After Update can you please provide a Link for similaer Issues?

[2019-03-22 07:34] SniperSister opened #24299 "[4.1] Split up com_users permissions into sections"
### Is your feature request related to a problem? Please describe.
Right now, there's just a global "edit" permission for com_users, meaning that if you want to allow someone to edit users, you also have to allow them to edit groups and view levels, which obviously isn't always wanted as a security implication in terms of ACL is associated to that.

### Describe the solution you'd like
We should s

[2019-03-22 07:35] infograf768 opened #24300 "[4.0] Clean install broken!"
### Steps to reproduce the issue
Install 4.0_dev branch
Load admin.

[code]

[2019-03-22 07:36] franz-wohlkoenig commented on #24300
Confirmed.

[2019-03-22 07:41] infograf768 commented on #24292
Will test with a clean install once https://github.com/joomla/joomla-cms/issues/24300 is solved

[2019-03-22 07:50] SharkyKZ commented on #24300
Side effect of #24272.

[2019-03-22 07:52] franz-wohlkoenig commented on #24196
@HLeithner can you please answer?

[2019-03-22 07:52] infograf768 commented on #24300
@SharkyKZ
and... ?

[2019-03-22 07:55] SharkyKZ commented on #24300
Working on it.

[2019-03-22 07:56] #24183 closed, assigned to nobody

[2019-03-22 07:56] franz-wohlkoenig commented on #24183
Closed as expected Behaviour. Issue can always be reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24183">issues.joomla.org/tracker/joomla-cms/24183</a>.</sub>

[2019-03-22 07:59] franz-wohlkoenig commented on #24179
@puneeth2001 any Update?

[2019-03-22 08:00] SharkyKZ commented on #24300
FWIW, I've been meaning to open an issue about document not being available early enough in the app today.

[2019-03-22 08:02] hardik-codes commented on #24259
@Milglius actually I need help with the procedure to reproduce the issue correctly

[2019-03-22 08:08] infograf768 opened #24302 "[4.0] Warning and Notice when Installing language pack"
### Steps to reproduce the issue

Go to `administrator/index.php?option=com_installer&view=languages`
Install French (fr-FR) or German (de-DE) languages

1. We get a Notice
`There were no checksums provided in the package.`
2. We get a PHP warning
`[22-Mar-2019 09:02:29 Europe/Berlin] PHP Warning:  Creating default object from empty value in ~/libraries/src/Updater/Update.php on line 299`

[2019-03-22 08:13] infograf768 commented on #24292
I confirm.

[2019-03-22 08:16] franz-wohlkoenig commented on #24129
@hitaly thats expected if none is working on it.

[2019-03-22 08:17] SharkyKZ commented on #24300
Test PR #24303 please.

[2019-03-22 08:18] meet2410shah opened #24304 "[4.0] Titles in the Admin Page"
### What needs to be fixed
Titles in the admin page (control panel) are left aligned. It should be at the center.

### Why this should be fixed
It affects the user experience.

[2019-03-22 08:18] alikon commented on #24302
the 1) should be OK  see #17619 & #17555 (gsoc 2017) in 4.x every install pkg should have at least a checksum

for 2)  i'll investigate later

[2019-03-22 08:19] franz-wohlkoenig commented on #24125
@SharkyKZ can you please give the Issue a Categorie on Issue Tracker? I have no clue where to assign.

[2019-03-22 08:21] #24300 closed, assigned to nobody

[2019-03-22 08:22] franz-wohlkoenig commented on #24300
closed as having Pull Request #24303

[2019-03-22 08:25] infograf768 commented on #24292
The issue is with the router.

[2019-03-22 08:37] #24304 closed, assigned to nobody

[2019-03-22 08:38] franz-wohlkoenig commented on #24304
closed as having Pull Request #24306

[2019-03-22 08:38] franz-wohlkoenig commented on #24304
@meet2410shah you don't have to open a Issue if you have a Pull Request.

[2019-03-22 08:44] franz-wohlkoenig commented on #24108
@C-Lodder can this be closed?

[2019-03-22 08:50] deathlynocturnal opened #24307 "Install Joomla 4 alpha 6 - Failed"
### Steps to reproduce the issue

For me it was just running the installation process.

### Expected result

Site should install as normal.

### Actual result

Site fails me on the following:
Could not connect to the database. Connector returned number: SQLSTATE[42000]: Syntax error or access violation: 1231 Variable 'sql_mode' can't be set to the value of 'NO_AUTO_CREATE_USER' - is Joomla 4 compa

[2019-03-22 08:54] C-Lodder commented on #24108
Why close this? There are still lots of classes that require converting

[2019-03-22 09:01] SharkyKZ opened #24308 "[4.0] Document is available too late in the app?"
### Steps to reproduce the issue
Enable `System Debug` in Global Configuration.
In `System - Debug` plugin Set `Refresh Assets` to `No`.
Open a page where multiple WebComponents are loaded.
Inspect source code.

### Expected result

WebComponents have no media version appended, e.g.:

[code]

### Actual result

Some have and only some don't, e.g.:

[code]

### System information (as much as possib

[2019-03-22 09:01] brianteeman commented on #24307
Please see https://docs.joomla.org/Joomla_and_MySQL_8

[2019-03-22 09:05] #24307 closed, assigned to nobody

[2019-03-22 09:05] franz-wohlkoenig commented on #24307
closed for Reason stated above.

[2019-03-22 09:07] franz-wohlkoenig commented on #24108
@C-Lodder i asked as Brian asked before. Can you please give me a Hint for Categorie?

[2019-03-22 09:10] EmmaPuls commented on #24298
I'd be more than happy to update the plugin with responsiveness if it's cool for me to contribute?

[2019-03-22 09:14] C-Lodder commented on #24108
@franz-wohlkoenig Yeah I suppose Code Style would be fine

[2019-03-22 09:21] franz-wohlkoenig commented on #24298
if this is for j3 calling @HLeithner

[2019-03-22 09:32] infograf768 commented on #24292
I am modifying the title of this Issue

[2019-03-22 09:33] brianteeman commented on #24108
i didnt realise you had closed your pr

[2019-03-22 09:36] infograf768 commented on #24292
This can be tested again on a 4.0-dev branch clean install.
Looks like it works fine for a monolingual site

[2019-03-22 09:47] Bakual commented on #24298
"Adding functionality" has to go to J4.
"Fixing bug" (without changing functionality) can go into J3.

[2019-03-22 09:53] EmmaPuls commented on #24298
Truth but devo for my employer. I've already patched up their J3 implementation with a workaround so it's not a problem anyway.

I'll add this to J4 then and do a pull request, cheers.

[2019-03-22 10:00] infograf768 commented on #24292
Hint: the issue is only when SEF is on.

[2019-03-22 10:02] HLeithner commented on #24295
it's a bug and we should fix it. Maybe someone could write a PR for this.

[2019-03-22 10:08] infograf768 commented on #24302
Concerning 1) I did understand this has been implemented, but how shall we do to add a checksum for language packs?

[2019-03-22 10:08] HLeithner commented on #24196
I think @mbabker has much more knowledge about this as me, I also experienced problems with jdate and timezones... but didn't debugged it... changing something in jdate could lead to unexpected behavior for existing installations...

[2019-03-22 11:20] franz-wohlkoenig commented on #24027
@SharkyKZ looks like not so.

[2019-03-22 11:29] #23980 closed, assigned to nobody

[2019-03-22 11:29] franz-wohlkoenig commented on #23980
Closed due the lack of response. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23980">issues.joomla.org/tracker/joomla-cms/23980</a>.</sub>

[2019-03-22 11:38] franz-wohlkoenig commented on #23971
@bahl24 are you working on it?

[2019-03-22 11:39] franz-wohlkoenig commented on #23968
@bahl24 any News?

[2019-03-22 12:15] brianteeman opened #24312 "[4.0] [a11y] Show Password"
### Steps to reproduce the issue
Frontend login module
Admin login page
Admin user form

observe the password field and that if you can see and use a mouse then you are able to click on the eye icon and the password is revealed

### Expected result
- Users must be able to navigate to all interactive interface components using a keyboard.
- Visible focus. incomplete. Components must provide a visib

[2019-03-22 12:19] mbabker commented on #24308
The Document object can only be instantiated after routing is done because it is format aware, which is why anything trying to load scripts in `onAfterInitialise` or `onAfterRouting` (because the Document isn't created before this event is emitted) is just dead wrong and will break things.  So there is really not much choice in the matter as far as when it is created.  I'd also be very hesitant to

[2019-03-22 12:46] puneeth2001 commented on #24179
not yet, working on it.

[2019-03-22 14:09] bahl24 commented on #23971
@franz-wohlkoenig I think from the above discussion, that icon change is not needed. Correct me if I am wrong.

[2019-03-22 14:55] infograf768 commented on #24292
@SharkyKZ
could this be due to one of your prs merged recently?

[2019-03-22 16:12] SharkyKZ commented on #24292
@infograf768 this has to do with Language Filter plugin changes in 3.9. See https://github.com/joomla/joomla-cms/pull/24192/files#diff-9a4ee24a09bcef172864692ed05135ca.

[2019-03-22 16:22] infograf768 commented on #24292
@SharkyKZ
it works fine in 3.9 and was working fine 3 days ago for 4.0
therefore, something has been modified in the last days that broke it.

[2019-03-22 16:52] infograf768 commented on #24292
sorry, i now understand that some changes from 3.9 have been recently merged by @wilsonge in 4.0

[2019-03-22 16:59] joeforjoomla commented on #24292
I confirm, i had a Joomla 4 multilanguage website working since months, once installed the latest Alpha 8 all pages throw a 404. Disabling the multilanguage filter plugin fixes the problem, so it must be something merged in recent days about multilanguage.

[2019-03-22 17:56] simbus82 opened #24314 "[4.0] Error when Closing/Saving"
### Steps to reproduce the issue
Install Joomla 4.0 Nightly (22/03/2019)
Solve the stats.php bug https://github.com/joomla/joomla-cms/pull/24303

1. Open a Module, click on Save, or Save&Close or Close.
2. Open an article, delete date & time from publishing fields, then click on Save or Save&Close.

### Expected result

1. Module closed or saved or saved&closed without error.
2. Article saved or s

[2019-03-22 18:01] SharkyKZ commented on #24314
If you have updated from another nightly, use System -> Database -> Fix to update database tables.

[2019-03-22 18:03] alikon commented on #24302
a perfect example can be like com_patchtester do it
https://github.com/joomla-extensions/patchtester/blob/master/build/patchtester/build.sh#L19
even core do it https://github.com/joomla/update.joomla.org/blob/master/www/core/sts/extension_sts.xml#L184

- calculate the hash of the pkg/zip
- add the hash to the pkg manifest

we need to find a "good " way to do it in an "easy way" for the language re

[2019-03-22 18:05] simbus82 commented on #24314
Thanks! It worked!
Sorry, my fail!

PS: I think we need a notification about "Database problems" in Control Panel too. Or a new notification in the "notification bell"

[2019-03-22 20:04] Hackwar commented on #18369
I don't know what to say about this. @csthomas is right and this is expected behavior. Can we close this one?

[2019-03-22 21:14] bahl24 commented on #24214
I think the problem is in line 17 https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_csp/csp.xml, The menu tag should enclose `Content Security Policy` instead of `com_csp`. The component might need a fresh install after changing.

[2019-03-22 23:00] sparkosis23 commented on #24049
I can reproduce this issue. It is happening in the Action Logs - Latest administrator module. I have it published in the cpanel position on about 30 Joomla 3.9.4 websites. It has always been that way since the System - Akeeba Backup Log User Actions and System - Admin Tools Log User Actions plugins became available, and in each version of Akeeba components since.

When I view the administrator men

[2019-03-22 23:57] #24029 closed, assigned to nobody

[2019-03-22 23:58] isdaft commented on #24029
Thank you. Will comment back re-emerges.

[2019-03-23 00:43] alex7r commented on #23666
That's for both. I mean I would like it to be fixed at least in 4.0, but this is a non issue for 3.x also.

[2019-03-23 00:53] alex7r commented on #23376
@tonypartridge you can not rely on IDE inspections with Joomla, as there is lot's of things triggering notices. I would also be more specific and would say that there is a lot of `deprecated syntax` (or "deprecated call", I'm not sure) for years, when you can call function with the new syntax, but it still raise the inspection warning just to let you know that there is a planned removal of the old

[2019-03-23 00:58] alex7r commented on #24187
Many "not so advanced" people do.
They create the website with sample data so it will be easier to simple adjust it than create everything from scratch. After - they just change everything they see (and that's not the case with com_contact AFAIK).

[2019-03-23 05:35] #24314 closed, assigned to nobody

[2019-03-23 05:35] franz-wohlkoenig commented on #24314
Closed as expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24314">issues.joomla.org/tracker/joomla-cms/24314</a>.</sub>

[2019-03-23 05:36] #18369 closed, assigned to nobody

[2019-03-23 05:36] franz-wohlkoenig commented on #18369
Closed as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/18369">issues.joomla.org/tracker/joomla-cms/18369</a>.</sub>

[2019-03-23 07:04] mikajaxxx opened #24315 "wrong ajax requested url on multilingual websites"
### Steps to reproduce the issue
Enable multilingual
Enable `Remove URL Language Code` option in `System - Language Filter` plugin
module in frontend to load articles in ajax

### Expected result

in other languages the url of items requested by ajax must have correct link.
https://www.example.com/fa/photo/item1

### Actual result
the default language is fine.
in other languages, The article items