[2019-04-06 21:22] brianteeman commented on #24518
The problem is that the button is not "read-only". It has a class of disabled but that's not the same thing as a disabled button

Current code
[code]
As far as I remember it should be
[code]

[2019-04-06 21:27] brianteeman commented on #24470
@wilsonge your thoughts on this please as it is throughout joomla and not just here

[2019-04-06 21:41] hardik-codes commented on #24518
@Puneet-Jain-18 could you please recheck as I am getting this error message: One or more of the selected articles can't set be to  published.

[2019-04-06 23:36] jobst commented on #23504
I did not want to use "fucking stupid" in my explanation, but I totally agree!
It is as stupid as people saying you need to chmod every file to 0644 - which makes it WOLRD readable.
If you have different editors for virtual hosts they all can see each others files which in many cases is a security risk!

[2019-04-07 05:35] Puneet-Jain-18 commented on #24518
@brianteeman I will try to  do the changes suggested by you
@hardik-codes No, I don't get that kind of error

[2019-04-07 10:20] zakiya27 commented on #24490
The code is not yet added so how can i do the changes in it ?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24490">issues.joomla.org/tracker/joomla-cms/24490</a>.</sub>

[2019-04-07 10:25] franz-wohlkoenig commented on #24490
@zakiya27 This Issue is a Placeholder for @wilsonge as Release Lead Joomla 4, so he will work on it as he has Time.

[2019-04-07 11:34] brianteeman commented on #22195
@Sandra97 is this still an issue for you or can this be closed?

[2019-04-07 11:42] brianteeman commented on #17948
Nothing to do here - please close

[2019-04-07 11:43] #17948 closed, assigned to nobody

[2019-04-07 12:32] Sandra97 commented on #22195
I'm finishing moving today so I'll check tonight and will let you know.

[2019-04-07 13:16] Puneet-Jain-18 commented on #24518
This Kind Of behavior is handled at the backend by this code already.

` unpublishBtn.addEventListener('click', (e) => {
      if (e.target.classList.contains('disabled')) {
        e.stopPropagation();`

So I wanted to ask should we do changes to stop page from reloading also,??

[2019-04-07 15:31] Sandra97 commented on #22195
I can't replicate anymore. I presume we can close this issue.

[2019-04-07 15:38] #22195 closed, assigned to nobody

[2019-04-08 06:44] bahl24 commented on #24518
Kindly see #24517 which solves #24480 ,in that I have modified the condition for disabling of workflow buttons. Now Publish button will only be disabled only when all the selected items are published & active even if 1 of the selected is unpublished/archived/trashed (which is the expected behavior).
Similarly for other workflow buttons.
But yes the disabled buttons are clickable which shouldn't be

[2019-04-08 06:51] Puneet-Jain-18 commented on #24518
I will have a look Thanks !!

[2019-04-08 07:40] artur-stepien commented on #24361
@alikon The inheritance is ok. With 150+ children for lets say a products catalogue you don't have to add every category. If you have 10 fields that should be in 150 categories you're basically f*** :D So the inheritance is ok.

[2019-04-08 07:59] alikon commented on #24361
@artur-stepien please test #24516

[2019-04-08 09:30] brianteeman commented on #24443
please add the j4 tag as well as the j3 tag a it is relevant to both

[2019-04-08 11:47] Rotimi-Best commented on #19014
I am new to Joomla and want to start contributing. I want to work on this task, @C-Lodder could you please guide on where to look to fix the form styles?

[2019-04-08 12:02] franz-wohlkoenig commented on #24518
Closed as having Pull Request.

[2019-04-08 12:02] #24518 closed, assigned to nobody

[2019-04-08 12:17] C-Lodder commented on #19014
@Rotimi-Best I'd suggest talking to the template team as I'm no longer active

[2019-04-08 12:18] Rotimi-Best commented on #19014
Okay, in what channel do I meet the template team?

[2019-04-08 12:19] meet2410shah opened #24523 "[4.0] Error in ArticlesModal.php"
### Error :

Load the another page from articles, the function `getTransitions()`
line No. 511 : `ArrayHelper::getColumn($items, 'stage_id');`

![Issue1](https://user-images.githubusercontent.com/44209311/55723169-ee4fae80-5a25-11e9-83b7-acc6ab41e87f.png)

[2019-04-08 12:47] C-Lodder commented on #19014
https://volunteers.joomla.org/teams/j4-backend-template-working-group

[2019-04-08 12:48] meet2410shah opened #24525 "[4.0] Checked_out_time error"
When we "close" an administration module. It shows the error in the column "checked_out_time" that can not be null.
(Joomla 3.9 has also similar kind of issue regarding checked_out_time. #22722).

![Issue3](https://user-images.githubusercontent.com/44209311/55725039-5d2f0680-5a2a-11e9-9152-a5e164ec0a4f.png)

[2019-04-08 13:20] meet2410shah opened #24526 "[4.0] Versions.php file error"
### Steps to reproduce the issue
STEP: 1 Open an article.
STEP: 2 Click on versions

### Output
![Issue4](https://user-images.githubusercontent.com/44209311/55726758-2c50d080-5a2e-11e9-9490-4c422d936f5b.png)

### Additional comments
Modal has z-index less than the layer on it. Due to this Close button is not functioning.

[2019-04-08 14:42] Quy commented on #24526
Duplicate #22044

[2019-04-08 14:43] franz-wohlkoenig commented on #24526
Closed as duplicate Report. Thanks @Quy

[2019-04-08 14:43] #24526 closed, assigned to nobody

[2019-04-08 14:52] #24523 closed, assigned to nobody

[2019-04-08 14:52] Quy commented on #24523
Duplicate #24452. Please test PR #24458.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24523">issues.joomla.org/tracker/joomla-cms/24523</a>.</sub>

[2019-04-08 15:21] ReLater commented on #24462
@franz-wohlkoenig

Could you plese reopen. I can confirm this issue wih (an older) 3.9.5-dev. It was also reported in a German forum some minutes ago.

## Testing instructions
- Set back-end language to german (de-DE).
- Create a new User Note.
- In filed "Review Date" select a date with the date picker.
- Save user note and check the date.

![08-04-_2019_17-18-54](https://user-images.githubuserco

[2019-04-08 15:50] ReLater commented on #24462
## Addition to Testing instructions:
- When you see second image in my last post above then save again.
- The date field is empty afterwards.
![08-04-_2019_17-49-23](https://user-images.githubusercontent.com/20780646/55738111-bb59ea80-5a26-11e9-85a9-016989d2b017.jpg)

[2019-04-08 16:02] Quy commented on #24525
Unable to reproduce. Are you testing with the [nightly builds](https://developer.joomla.org/nightly-builds.html)?

[2019-04-08 16:08] ReLater commented on #18430
I don't think that it's a Joomla job to report any coding error THAT PERHAPS isn't a coding error (and that's the crux).

[2019-04-08 16:12] franz-wohlkoenig commented on #18430
thanks @ReLater, closing Issue. Please reopen if i'm wrong.

[2019-04-08 16:12] #18430 closed, assigned to nobody

[2019-04-08 16:13] asmego opened #24527 "Cannot login to Joomla"
### Steps to reproduce the issue
Go to https://njcounseling.org/administrator and login.
Then I get this error message: This page isn’t working njcounseling.org is currently unable to handle this request.
HTTP ERROR 500

Also, our Civicrm module is not working. When we click on a registration link, we also get this same error message as above. I'm not sure if the 2 issues are related or not.

###

[2019-04-08 16:18] #24527 closed, assigned to nobody

[2019-04-08 16:18] Quy commented on #24527
Please ask help at [Joomla Forums](https://forum.joomla.org/).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24527">issues.joomla.org/tracker/joomla-cms/24527</a>.</sub>

[2019-04-08 16:29] asmego commented on #24527
I have tried contacting the Joomla Forums. I have not been able to resolve this issue. 
-Andrea
    On Monday, April 8, 2019, 12:18:17 PM EDT, Joomla! CMS Bot <notifications@github.com> wrote:

Set to "closed" on behalf of @Quy by The JTracker Application at issues.joomla.org/joomla-cms/24527

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub

[2019-04-08 16:55] simbus82 commented on #24525
Try to Fix Database in System -> Database

[2019-04-08 17:04] ChristineWk commented on #24462
Confirm Testing instructions with change of the date to: 20.04.2008

Addition to Testing instructions after saving again: The field is not empty, but I got date: 20.04.**2020**

[2019-04-08 19:37] #24462 closed, assigned to nobody

[2019-04-08 19:37] Quy commented on #24462
Please test PR #24529<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24462">issues.joomla.org/tracker/joomla-cms/24462</a>.</sub>

[2019-04-08 20:35] rotimi-best opened #24530 "[4.0] Full Screen Mode: Joomla Editor"
### Is your feature request related to a problem? Please describe.
While I was trying to edit and write some code in the Joomla Editor, cause I was on my PC (which has a screen resolution of 1366 x 768 Pixel) the coding area seemed really small that just to see what is up I needed to scroll up and then scroll back down to continue typing.

![image](https://user-images.githubusercontent.com/3173071

[2019-04-09 04:37] franz-wohlkoenig commented on #24530
Thanks for your feature Request. Please add "[4.0] " at start of Title.

[2019-04-09 04:52] franz-wohlkoenig commented on #24530
In J3 is a F-Key, which is missing in J4
![Screen Shot 2019-04-09 at 06 40 23](https://user-images.githubusercontent.com/8235763/55773758-7075bc80-5a92-11e9-8455-ed3ac29ec04b.png)

[2019-04-09 04:54] franz-wohlkoenig commented on #24530
Added "J4 Backend Template", maybe it depends on the new coming one.

[2019-04-09 05:01] Rotimi-Best commented on #24530
Oh interesting. I also saw another issue that had to do with using Ctrl + Q together but that really didn't solve the problem because does button above were inconvenient IMHO.

[2019-04-09 05:49] nadjak77 commented on #24499
Can you please descripe more details what is wrong.
Thank you.

[2019-04-09 05:53] franz-wohlkoenig commented on #24499
As Release Lead he is working through different Aspects. To not forget an issue this Reminder was created.

[2019-04-09 06:15] brianteeman commented on #24530
It is simply a bug in the codemirror editor

[2019-04-09 06:17] nadjak77 commented on #24499
Thank you

[2019-04-09 09:17] itskoopa commented on #24462
Tested successfully. Thank you very much :)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24462">issues.joomla.org/tracker/joomla-cms/24462</a>.</sub>

[2019-04-09 10:43] infograf768 commented on #24443
The messages exist, but are displayed only when loading the update page `administrator/index.php?option=com_installer&view=update`

They are fetched (for each update site) from the `getUpdateSiteResponse` method in `root/libraries/src/Updater/UpdateAdapter.php` when $response is null.

[2019-04-09 13:23] wilsonge opened #24535 "[4.0] Don't store a null date but instead store the value null"
Use the change here https://github.com/joomla/joomla-cms/pull/21901 as a baseline for the other core components.

[2019-04-09 14:48] #24505 closed, assigned to wilsonge

[2019-04-09 15:03] ggppdk opened #24536 "[4.0] [RFC] simplify / reduce / remove Workflow impact on queries"
### Steps to reproduce the issue
Please read comments

by @csthomas
https://github.com/joomla/joomla-cms/pull/21702#issuecomment-420209156

by me
https://github.com/joomla/joomla-cms/pull/21702#issuecomment-420423143

### Expected result
Simple queries for viewing

### Actual result
More complex queries for viewing

### System information (as much as possible)
Current J4 status

[2019-04-09 15:15] dgrimey opened #24537 "Updated to 3.9.5 - When finished it reads that I have updated to 3.9.4"
### Steps to reproduce the issue
Ran the upgrade.
![joomla-3-9-5](https://www.scdit.com/joomla-3-9-5-update.JPG "Joomla 3--9-5 update text")

### Expected result
To read "Your site has been updated. Your Joomla version is now 3.9.5"

### Actual result

### System information (as much as possible)

### Additional comments

[2019-04-09 15:18] franz-wohlkoenig commented on #24537
Can't confirm on a livesite it shows 3.9.5 as expected.

[2019-04-09 15:46] dgrimey commented on #24537
I updated a couple more sites and I did not have it say 3.9.4. Not sure why I got it on the first site. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24537">issues.joomla.org/tracker/joomla-cms/24537</a>.</sub>

[2019-04-09 15:52] infograf768 commented on #24537
As I can't either reproduce the issue, closing.

[2019-04-09 15:52] #24537 closed, assigned to nobody

[2019-04-09 21:04] jurihahn commented on #24176
does not work even after the update to Joomla 3.9.5

[2019-04-10 05:01] franz-wohlkoenig commented on #24176
@jurihahn that is expected as no Dev. made a Pull Request which solve the Issue.

[2019-04-10 06:24] alikon commented on #10527
@franz-wohlkoenig  this can be closed as we have pr #23320

[2019-04-10 06:28] franz-wohlkoenig commented on #24509
Regarding using Labels at Github instead Categories at Issue Tracker: I would create all used Categories as Label in GH and assign them there and remove them from the Issues/PR at Tracker.

[2019-04-10 06:30] franz-wohlkoenig commented on #10527
Thanks @alikon

[2019-04-10 06:30] #10527 closed

[2019-04-10 06:31] SharkyKZ commented on #24308
Yes, a plugin event alone won't fix the issue, that's what I meant with my previous comment. The issue with setting document properties in the template would remain.

How architecturally invalid would it be to split `CMSApplication::render()` into `parse()` and `render()` and move `dispatch()` in-between? This would sort of move the component rendering closer to other parts of the document.

[2019-04-10 07:36] C-Lodder commented on #23809
@franz-wohlkoenig https://github.com/joomla/joomla-cms/pull/23780 was closed so this can be reopened

[2019-04-10 07:39] C-Lodder commented on #19014
Closing as template team are working on backend template

[2019-04-10 07:39] #19014 closed, assigned to nobody

[2019-04-10 07:40] #19257 closed, assigned to nobody

[2019-04-10 07:40] C-Lodder commented on #23808
Closing as template team are working on backend template

[2019-04-10 07:40] #23808 closed, assigned to nobody

[2019-04-10 07:40] C-Lodder commented on #23806
Closing as template team are working on backend template

[2019-04-10 07:40] #23806 closed, assigned to nobody

[2019-04-10 07:41] C-Lodder commented on #23798
Closing as template team are working on backend template

[2019-04-10 07:41] #23798 closed, assigned to nobody

[2019-04-10 07:41] C-Lodder commented on #23777
Closing as template team are working on backend template

[2019-04-10 07:41] #23777 closed, assigned to nobody

[2019-04-10 07:41] #23265 closed, assigned to nobody

[2019-04-10 07:42] C-Lodder commented on #23628
Closing as template team are working on backend template

[2019-04-10 07:43] #22972 closed, assigned to nobody

[2019-04-10 07:43] #23626 closed, assigned to nobody

[2019-04-10 07:43] #20835 closed, assigned to nobody

[2019-04-10 07:55] alikon commented on #14891
after 2 years this can be closed @franz-wohlkoenig

[2019-04-10 08:09] #14891 closed

[2019-04-10 09:21] nonickch opened #24539 "Media manager fails to traverse directories involving symlinks"
### Steps to reproduce the issue
1) On a linux server, have the /images directory point to a directory outside the joomla installation via a symlink. Here's the ls -l result in / on an affected machine (pointing to an AWS EFS mountpoint, but that doesn't seem to be related):
system# ls -l ./
drwxr-xr-x 11 webapp webapp    4096 Apr  9 17:56 administrator
...
lrwxrwxrwx  1 webapp webapp      15 Apr

[2019-04-10 09:26] franz-wohlkoenig commented on #24539
@alikon "traverse" - is this like #24515?

[2019-04-10 09:37] nonickch commented on #24539
Sorry for jumping in, but #24515 is related to a tree traversal in code which does not appear to be related to this in any way.
In the context of this bugreport, "traversal" refers to a [Directory traversal attack](https://en.wikipedia.org/wiki/Directory_traversal_attack)

[2019-04-10 09:37] alikon commented on #24539
no that pr was for fields

[2019-04-10 11:17] Ruud68 opened #24543 "HttpFactory (Curl Transport) Post sets headers with key number? Why?"
### Steps to reproduce the issue
$headers = array( 'x-api-key' => '12345'
$http = HttpFactory::getHttp();
$http->post('url', 'data', $headers);

### Expected result
CURLOPT_HTTPHEADER set as:
x-api-key: 12345

### Actual result
CURLOPT_HTTPHEADER set as:
**1:** x-api-key: 12345

### System information (as much as possible)
the additional 1: is added here: https://github.com/joomla/joomla-cms/blob/

[2019-04-10 12:20] alikon commented on #21555
@franz-wohlkoenig can be closed as we have a pr #23650

[2019-04-10 12:20] #21555 closed, assigned to nobody

[2019-04-10 12:27] mbabker commented on #24308
What is the application parsing?  It definitely isn't parsing a template, truthfully it's already wrong that the application class is responsible for rendering the template, in a MVC structured application that is the role of your controller and view (where the full application is MVC, whereas the rendering bits of the CMS architecture (components and modules) really are still executed in a proced

[2019-04-10 12:40] mbabker commented on #24543
I'm not following your issue here.  If you're doing a `var_dump($headerArray)` then you should be seeing something similar to this:

[code]

This is fully expected.  The keys in this array aren't used by curl (or any of the other transports).

The line you highlighted takes the `$headers` associative array you injected into the `Http::post()` method and standardizes the header into a string notati

[2019-04-10 13:57] Ruud68 commented on #24543
Hi,
when I do a var_dump($headers) (what I pass in the ->post) and a var_dump($headersArray) (what is set in the CURLOPT_HTTPHEADER) in Curltransport I get:
[code]

[2019-04-10 14:00] Ruud68 commented on #24543
Also found this: https://tools.ietf.org/html/rfc2616#section-4.2

What happens here is that the header field consists of a number followed by a colon followed by the name folowed by a colon forllowed by the field value.

[2019-04-10 14:02] b2z opened #24544 "TinyMCE drag & drop - "Unable to upload file" error"
Issue after update from 3.9.4 to 3.9.5.

### Steps to reproduce the issue
1. Ensure that you are using TinyMCE editor.
2. Open article.
3. Try to drag & drop an image.

### Expected result
Image is uploaded successfully.

### Actual result
Error "Unable to upload file"

### System information (as much as possible)

PHP Version: 7.2.10
Web Server: Apache/2.4.6 (CentOS) mpm-itk/2.4.7-04 OpenSSL/1.0.

[2019-04-10 14:18] mbabker commented on #24543
Your issue is you need to pass an associative array, not an already formatted array.

It looks like you're using this for your `$headers` array:

[code]

This is incorrect.  It needs to be an associative array where the key is the header name and the value is the header value.

[code]

[2019-04-10 14:34] Ruud68 commented on #24543
owww @mbabker , you just made my day :) that is indeed the what happened, shame on me for copying from the API providers documentation :(

[2019-04-10 14:34] #24543 closed, assigned to nobody

[2019-04-10 15:31] Puneet-Jain-18 opened #24545 "[4.0] Workflow Buttons not working when page navigated using browser back/forward keys"
### Steps to reproduce the issue
Go to backend
Administrator/content/articles
**Select checkbox of any article**
Go to any other website(eg www.google.com) by entering URL in the same tab
navigate back to Joomla using browser back button

### Expected result

Work Flow buttons are still accessible when the checkbox is clicked

### Actual result
![Screenshot (49)](https://user-images.githubusercont

[2019-04-10 17:00] Puneet-Jain-18 opened #24547 "[4.0] Unaccesible editor after window resize"
### Steps to reproduce the issue
Go to backend
Administrator/articles/New
Enter Some Text in the editor

Resize browser window to a **small width**

### Expected result

 The editor is Still accessible when the width of window is set to normal

### Actual result

Unable To enter any Text in the Editor before/after resizing back to normal screen
(JS Errors are produced at the console)

### System i

[2019-04-10 17:02] brianteeman commented on #24547
What are the js errors?

[2019-04-10 17:05] Puneet-Jain-18 commented on #24547
![Screenshot (51)](https://user-images.githubusercontent.com/34083630/55898687-c3f62080-5be0-11e9-85a5-887a9e4b6786.png)

Actually I removed the code which was producing JS errors but the issue still persisits

[2019-04-10 17:20] alikon commented on #23821
can we close this for reason

[2019-04-10 17:20] alikon commented on #23814
can we close this for reason

[2019-04-10 17:21] alikon commented on #23810
can we close this for reason

[2019-04-10 17:27] ggppdk commented on #24539
The issue is not about adding usage of realpath()

The issue is about adding realpath() only to 1 of the 2 directories being compared (that 1 is contained inside the other)

More specifically during comparison,
realpath() is only applied to the directory being checked as safe
it is not applied to COM_MEDIA_BASE
assuming that COM_MEDIA_BASE is not a symbolic link ?

e.g.
[code]

JPath::clean does r

[2019-04-10 17:33] HLeithner commented on #24544
Confirmed.

[2019-04-10 17:34] alikon commented on #23645
this issue was reported on Joomla! 4-alpha-6...
hopefully has been resolved  :smile:   and could always be reopened if needed
@franz-wohlkoenig  please close

[2019-04-10 17:35] HLeithner commented on #24539
could you create a PR @ggppdk for this?

[2019-04-10 17:36] brianteeman commented on #23810
Are they actually working on it or is it wistul thinking

[2019-04-10 17:36] nonickch commented on #24539
Please note that it seems that this isn't the only location where 3.9.5 introduced issues. I run into issues with the file upload as well. I'll have to search for realpath in all the 3.9.5 patch diffs

[2019-04-10 17:37] #23645 closed, assigned to nobody

[2019-04-10 17:37] ggppdk commented on #24539
@nonickch

yes it was an example , one place

@HLeithner

aahh, i am sorry, i can not contribute this period, i only partly watching the repository

[2019-04-10 17:38] #23821 closed, assigned to nobody

[2019-04-10 17:51] alikon commented on #23810
some issues recently have been closed for the same reason...
i would like to start to reduce the number of opened issues ....so ...

I hope the 1st option :smile:

[2019-04-10 18:04] brianteeman commented on #23810
I wouldn't close the issue until it's resolved.

[2019-04-10 18:14] bahl24 commented on #24547
@brianteeman The errors in console don't effect the behaviour of the editor & have been solved in #24548 , is the editor bug in Joomla or TinyMICE?

[2019-04-10 18:59] alikon commented on #17136
correct me if i'm wrong but the same behaviour happens when you switch from article to cetagories
isn'it?

[2019-04-10 19:20] alikon commented on #18960
can we close this one opened on 4.0.0-Dev Alpha 2,
it can be always reopened if needed
@franz-wohlkoenig

[2019-04-10 19:21] ciar4n commented on #23814
The issue should be closed against a PR. When backend repo opens a PR to this repo to submit their code, then the issue can be closed (presuming it resolves the issue).

[2019-04-10 19:31] alikon commented on #23814
sorry for the unsafe close request ...
please @franz-wohlkoenig  reopen

[2019-04-10 19:36] hardik-codes commented on #24545
Issue confirmed

[2019-04-10 19:59] alikon commented on #21373
is this still an issue ?

[2019-04-10 20:00] franz-wohlkoenig commented on #24398
Closed as having Pull Request.

[2019-04-10 20:00] #24398 closed, assigned to nobody

[2019-04-10 20:01] franz-wohlkoenig commented on #24547
Closed as having Pull Request #24548

[2019-04-10 20:05] #18960 closed, assigned to nobody

[2019-04-10 20:06] alikon commented on #21131
#20380 is merged and for https://github.com/joomla/joomla-cms/pull/13622#issuecomment-406894091
can we close this one ?
@franz-wohlkoenig   you can always  blame me :smile:

[2019-04-10 20:08] rytechsites commented on #24398
Thank you for moving forward on this, and putting it in the 'right places'
for a pull request!

-- Laura

On Sun, Mar 31, 2019 at 1:32 PM Michael Richey <notifications@github.com>
wrote:

--
www.RytechSites.com <http://www.rytechsites.com/>
Dynamic Websites for your company!
______________________________
Trainer with www.lynda.com <http://www.Lynda.com>
Member www.JoomlaUsersNJ.com

Proud Board M

[2019-04-10 20:10] brianteeman commented on #21373
yes

[2019-04-10 20:10] Puneet-Jain-18 commented on #24547
@franz-wohlkoenig the PR doesn't solve the error, I issue is not related to JS errors. It's something else.

[2019-04-10 20:12] #21131 closed, assigned to nobody

[2019-04-10 20:13] alikon commented on #21131
thanks @ggppdk

[2019-04-10 20:16] bahl24 commented on #24547
Yes, @franz-wohlkoenig kindly reopen this, I have mentioned in the PR that editor is still inaccessible.
It only solves the JS error

[2019-04-10 20:18] stutteringp0et commented on #24398
The next steps are out of my hands.  It takes two successful tests (by someone other than me) to confirm it's working as intended, then it can be merged. Assuming this gets merged (there really isn't any reason not to), you'll see it in the next alpha (probably).

[2019-04-10 20:26] brianteeman commented on #21373
If #24441 is accepted then the technique used there could be used here as well

[2019-04-10 20:30] rytechsites commented on #24398
Great!!

On Wed, Apr 10, 2019, 4:18 PM Michael Richey <notifications@github.com>
wrote:

[2019-04-10 23:48] ch2856 opened #24552 "Syntax error when using Quotation mark EN"
### Steps to reproduce the issue
create a new article and at the title write " (Quotation mark HEX CODE:&#x22;) and save. try to load this article on the frontend.

### Expected result
Page should load

### Actual result

Error decoding JSON data: Syntax error

### System information (as much as possible)

j 3.9.5
Mac OS

### Additional comments
1. It happens only with MacOS quote in English (")
2

[2019-04-10 23:49] ch2856 commented on #24552
HEX Code & #x22;<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24552">issues.joomla.org/tracker/joomla-cms/24552</a>.</sub>

[2019-04-11 04:47] franz-wohlkoenig commented on #24509
Please advice if existing Categorie or Label isn't needed in Future.

[2019-04-11 04:54] franz-wohlkoenig commented on #24552
Can't confirm (see "Getting Started at https://fw3.joomla.com/)

![Screen Shot 2019-04-11 at 06 52 39](https://user-images.githubusercontent.com/8235763/55931623-95029d80-5c26-11e9-9dc3-fc9643b47128.png)

[2019-04-11 05:46] infograf768 commented on #23798
It concerns more than template.
Please test https://github.com/joomla/joomla-cms/pull/24553

and read my note at the bottom of the description of the issue.

[2019-04-11 06:15] sajalaspl opened #24554 "Not able to edit TinyMCE Editor Plugin - Loading forever"
### Steps to reproduce the issue
I've Joomla 3.9.1 version. And I'm facing an interesting issue. I am not able to edit the "Editor - TinyMCE" plugin from the back-end. I've checked that it's not locked. Following is the URL which takes forever to load.

/administrator/index.php?option=com_plugins&task=plugin.edit&extension_id=412

I have tried to debug code and found out the issue in the following

[2019-04-11 06:22] franz-wohlkoenig commented on #24554
Please update on latest Release: https://github.com/joomla/joomla-cms/releases/tag/3.9.5, so closing the Issue.

[2019-04-11 06:22] #24554 closed, assigned to nobody

[2019-04-11 07:25] infograf768 commented on #24552
Can't confirm either
using
`&#x22;Myarticle&#x22;` as title
when saved is transformed to
`&quot;Myarticle&quot;` as title
and `myarticle` as alias

[2019-04-11 09:13] ch2856 commented on #24552
Thanks guys. I have tested it on different test site now and no issues, I guess it's some issue I need to check on the local server (XAMPP 7.1.24).

[2019-04-11 09:18] franz-wohlkoenig commented on #24552
@ch2856 Thanks for Report anyway :-)

[2019-04-11 09:18] #24552 closed, assigned to nobody

[2019-04-11 10:42] chmst opened #24556 "[4.0] No way to change the site name during installation"
### Steps to reproduce the issue
Start an installation. Enter the site name, go to "setup login data" (and mybe to the database setup)
Did you enter the site name right?
Do you want to update the site name?

### Expected result
You can see the site name you have entered in the first step.
You can change the site name

### Actual result
The sie name is not visible and there is
no way back to change

[2019-04-11 10:46] brianteeman commented on #24556
You can of course change it in global configuration.

This isn't any different to J3 is it?

[2019-04-11 11:28] chmst commented on #24556
In J3.x you can change tabs during the installation steps

[2019-04-11 13:45] joel-lupfer commented on #24539
`if (strpos(realpath($fullPath), JPath::clean(COM_MEDIA_BASE)) !== 0)`

Unfortunately this is not gonna solve the issue. If the `$fullPath` is a symlink then the `COM_MEDIA_BASE` should be also the same symlink, otherwise the realpath gonna return a different absolute path.

[2019-04-11 13:52] ggppdk commented on #24539
@joel-lupfer

yes,
but i did not say it solves anything,
this particular code that is a copy-paste example of existing code

i suggested modifying it, add adding realpath to both directories
- and of course all other occurrences of similar code should be modified at the same time

see here a complete list:
https://github.com/joomla/joomla-cms/commit/1547f8e76000a22d9befc2551ca9929f5d2d0c56

[2019-04-11 14:06] Puneet-Jain-18 commented on #24525
I am also unable to reproduce the error

my version :Joomla! 4.0.0-alpha8-dev

[2019-04-11 14:09] brianteeman commented on #24556
Pretty sure that you cant go back the steps in other cms installers

[2019-04-11 14:12] infograf768 commented on #24525
This PR has not yet been merged into 4.0
https://github.com/joomla/joomla-cms/pull/22748/files

@wilsonge Is that part of your next PR?

[2019-04-11 14:13] franz-wohlkoenig commented on #24525
Closed as unconfirmed Report. Thanks anyway for Report and all other Commentators.

[2019-04-11 14:13] #24525 closed, assigned to nobody

[2019-04-11 15:45] Puneet-Jain-18 opened #24558 "[4.0] [a11y] Inaccessible search suggestions for Keyboard users"
### Steps to reproduce the issue

Goto backend
administrator/content/articles

Navigate to search bar using keyboard.
Search any popular/already searched word

try to navigate to suggestions using Keyboard.

### Expected result

User could Navigate to suggestions using keyboard

### Actual result

Unable to access suggestions

### System information (as much as possible)

Joomla! 4.0.0-alpha8-dev

[2019-04-11 15:52] franz-wohlkoenig commented on #24558
##24152 ?

[2019-04-11 15:59] brianteeman commented on #24558
@franz-wohlkoenig no thats nothing to do with this

[2019-04-11 16:01] brianteeman commented on #24558
@Puneet-Jain-18 I must be  missing something in my understanding of your report as I dont have any problems. Maybe you can try making a screen recording to show the problem - I use Licecap for this https://www.cockos.com/licecap/

[2019-04-11 16:02] Puneet-Jain-18 commented on #24558
I will do that

[2019-04-11 16:08] Puneet-Jain-18 commented on #24558
![rec1](https://user-images.githubusercontent.com/34083630/55972912-0f243800-5ca2-11e9-9761-2a39139d2189.gif)

[2019-04-11 16:09] brianteeman commented on #24558
Thanks - now I understand what you mean

[2019-04-11 16:09] Puneet-Jain-18 commented on #24558
Sorry I just realized I wasant using down keys

[2019-04-11 16:09] #24558 closed, assigned to nobody

[2019-04-11 16:09] brianteeman commented on #24558
and I was just about to write that.

[2019-04-11 16:41] maliouris commented on #24545
I have made a pr for this a long time ago https://github.com/joomla/joomla-cms/pull/24328

[2019-04-11 18:10] wilsonge opened #24559 "[4.0] Resolve B/C break in BaseDatabaseModel"
The `LeagcyModelLoaderTrait` is having unexpected behaviour in J4. The static variable used to load the classes is unfortunately initialised per class. This means changing `BaseDatabaseModel::getInstance()`/`JModelLegacy::getInstance()` to `BaseModel::getInstance()` - this is not an intended b/c break. Options are:

- Move the trait to `BaseDatabaseModel` from `BaseModel`
- Rework the static varia

[2019-04-11 19:26] orware opened #24560 "[4.0] Permissions for Individual Template Styles (for Group Assignment)"
### Steps to reproduce the issue

I've primarily managed our campus website on my own for the past 10 years and the last 8 or so we've been using Joomla 1.6+ (currently on the latest version of Joomla 3.9.x) and there's been a request to maybe use a separate template for a part of the site.

The only way I've managed to keep things maintainable over the long run with our various users has been to

[2019-04-11 20:24] jurihahn commented on #24176
i have workaround for "GeoIP2.phar"
`require_once ( 'phar://' . __DIR__ . '/geoip2.phar/vendor/autoload.php' );`

[2019-04-12 04:45] franz-wohlkoenig commented on #24176
@jurihahn is it a Core-Issue?

[2019-04-12 05:00] franz-wohlkoenig commented on #24509
@brianteeman @mbabker @HLeithner @alikon @ReLater - which Categories should no be created as Labels?

[2019-04-12 08:33] Puneet-Jain-18 commented on #24545
I would check out your PR in some time thanks!!

[2019-04-12 08:38] franz-wohlkoenig commented on #24545
Closed as having Pull Request #24328

[2019-04-12 08:38] #24545 closed, assigned to nobody

[2019-04-12 09:26] RolandSM opened #24564 "Install from Web - Ordering First/Last"
Hi,

I´m missing the ordering option of the Web Installer? Why it was removed?
This was very useful to set it for example as last Tab, so when I click to Install no connection to the catalogue is done.

[2019-04-12 09:33] brianteeman commented on #24564
Just order the install plugins in the order you want in the plugin manager

[2019-04-12 09:38] franz-wohlkoenig commented on #24564
Closed as expected Behaviour.

[2019-04-12 09:38] #24564 closed, assigned to nobody

[2019-04-12 09:43] Sh4d0wF1gh7 commented on #24564
Oh no, I'm ashamed...

[2019-04-12 11:38] ReLater commented on #24509
I can't help too much here.

I visit GitHub 2, 3 times a day. First I look at the first open and closed entries under "Issue" and "PR".
Then I order both areas by "recently updated".

From my point of view labels `PR-*` only for PRs and labels `JX Issue` only for issues are sufficient to filter.

And descriptive titles and descriptions to use the search bar. But there I don't need additional versi

[2019-04-12 14:22] aaron-harding commented on #12888
I can still see this issue happening since my original post and looking at our issues being posted, it does not seem like i'm the only person having this issue.

The problem with the current setup of the module rendering is that anything modifying/referencing $module->content is getting stuck in a loop depending on the number of times the renderModule method gets called during the page load.

The

[2019-04-12 14:30] rolandalsace opened #24566 "categoryedit JFormField set attribute allowAdd to false problem"
Hi.

Joomla 3.9.5

It's not possible to change the allowAdd attribute of the JFormField categoryedit to false.

In /administrator/component/com_categories/models/fields/categoryedit.php

line : 59 we set $this->allowAdd to blank or to a simplexmlelement

line : 344 		if ($this->allowAdd)
		{

Here we tests $this->allowAdd as booleen, so when it's an SimpleXMLElement (wich is generaly the case),
th

[2019-04-12 14:35] franz-wohlkoenig commented on #24560
@HLeithner can you please comment?

[2019-04-12 15:12] wilsonge commented on #24499
Basically the double sidebar in com_config (the main menu and the option to choose component/global config) gives a poor user experience. We need to find some sort of way of an alternative design format. This is just a placeholder issue to contain that

[2019-04-12 15:14] jurihahn commented on #24176
Joomla include this library https://github.com/TYPO3/phar-stream-wrapper since version 3.9.3
It's a bug in this library.

[2019-04-12 17:10] ghazal opened #24568 "[4.0] class "Multilanguage" or "JLanguageMultilang" ?"
Today's install via CLI : 12/4/2019

Fatal error after install:
Class 'Joomla\Module\Menu\Site\Helper\JLanguageMultilang' not found
in
/modules/mod_menu/Helper/MenuHelper.php line 129
The only class I found is:
Multilanguage in
/libraries/src/Language/Multilanguage.php
This one works.

I guess it's a mix-up in the naming of class. Didn't make a pull request, not sure about the right class name.

[2019-04-12 18:24] alikon commented on #24568
please test #24569

[2019-04-12 18:48] infograf768 commented on #24568
closing as we have apatch

[2019-04-12 18:48] #24568 closed, assigned to nobody

[2019-04-13 00:12] JimDee commented on #23504
Just leaving a comment in case anyone comes here with this issue on a LiquidWeb CloudSites platform. They currently use their own permissions on things that aren't the standards recommended by J! devs. From time to time on that platform, you'll run into this issue and others that reek of weird permissions. The fix, in this case, is to simply get on w/ their tech support (as it's a managed platform

[2019-04-13 04:12] frogydiak opened #24570 "[3.9.5 Update Error] Invalid Ajax Data Update from 3.9.4"
Is there any report on Error: Invalid Ajax Data when upgrading from 3.9.4 to 3.9.5?

### System information (as much as possible)
 
PHP Built On | Linux centos-01.localdomain 3.10.0-862.6.3.el7.x86_64 #1 SMP Tue Jun 26 16:32:21 UTC 2018 x86_64
Database Type | mysql
Database Version | 5.5.60-MariaDB
Database Collation | utf8_general_ci
Database Connection Collation | utf8mb4_general_ci
PHP Version

[2019-04-13 05:06] franz-wohlkoenig commented on #23040
Reopen because: Open Admin-Module "Recently Added Articles" and save got ```1146 Table '#_action_logs_users' doesn't exist```

Database-Fix don't change Behaviour, after of an Component (Article, Menu, ...) the Error is shown.

[2019-04-13 05:09] #23040 closed, assigned to nobody

[2019-04-13 05:11] ghost opened #24571 "[4.0] Table '#_action_logs_users' doesn't exist"
### Steps to reproduce the issue

Open Admin-Module "Recently Added Articles" and save got ```1146 Table '#_action_logs_users' doesn't exist```

Database-Fix don't change Behaviour, after save of an Component (Article, Menu, ...) or Click on Logout-Button the Error is shown.
### System information
Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.

[2019-04-13 05:12] franz-wohlkoenig commented on #24566
@HLeithner can you please comment?

[2019-04-13 05:34] franz-wohlkoenig commented on #24509
I removed "J4 Issues" from Pull Requests as they got "PR-4.0-dev" automated by Bot. Haven't notices that before.

[2019-04-13 06:38] HLeithner commented on #24570
No, not till now. Please add some information so we can help.

[2019-04-13 06:41] franz-wohlkoenig commented on #24570
@frogydiak have you asked on [Forum](https://forum.joomla.org/)?

[2019-04-13 07:41] alikon commented on #24571
probably due to nightly build unable to replicate on staging

[2019-04-13 07:43] rolandalsace commented on #24566
Hi Franz.

What do you want to know else ?

With x-debug i see that (see in my description above)  that in line 344 of In /administrator/component/com_categories/models/fields/categoryedit.php
$this->allowAdd is tested as booleen and as this variable is of type SimpleXMLElement, the condition is always true.

So a $form->setFieldAttribute('catid','allowAdd','false'); has no effect.

I do not see w

[2019-04-13 07:49] franz-wohlkoenig commented on #24566
i'm calling Harald as Release Lead, i'm user no Dev.

[2019-04-13 08:12] chmst commented on #24571
confirmed. After pulling the latest changes. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24571">issues.joomla.org/tracker/joomla-cms/24571</a>.</sub>

[2019-04-13 08:22] chmst commented on #24571
I could store the table via sql by removing all " in the sql update file (MariaDB)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24571">issues.joomla.org/tracker/joomla-cms/24571</a>.</sub>

[2019-04-13 08:24] alikon commented on #24571
so are you both updating from a previous 4.0 version  and not starting from scratch ?

[2019-04-13 08:25] franz-wohlkoenig commented on #24571
yes, Update to nightly build.

[2019-04-13 08:34] chmst commented on #24571
yes, pulling yesterday's updates from v4.0 dev. It is normal that the table is not stored, but in general I cn do a database fix.
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24571">issues.joomla.org/tracker/joomla-cms/24571</a>.</sub>

[2019-04-13 08:50] alikon commented on #24571
in that case then i personally  don't care too much on these issues .... there are a lot of work in progress to port 3.9 to 4.0.... and iirc there is no update path from a nightly build to another

[2019-04-13 08:58] franz-wohlkoenig commented on #24571
thanks @alikon, closing for that reason

[2019-04-13 08:58] #24571 closed, assigned to nobody

[2019-04-13 09:01] rolandalsace commented on #24566
I suggest to change in line 57 of /administrator/component/com_categories/models/fields/categoryedit.php

$this->allowAdd = isset($this->element['allowAdd']) ? $this->element['allowAdd'] : '';

by

$this->allowAdd = isset($this->element['allowAdd']) ? (bool)filter_var((((array)$this->element->attributes())['@attributes']['allowAdd']), FILTER_VALIDATE_BOOLEAN) : '';

This solve the problème.

Regar

[2019-04-13 09:02] rolandalsace commented on #24566
or

$this->allowAdd = isset($this->element['allowAdd']) ? (bool)filter_var((((array)$this->element->attributes())['@attributes']['allowAdd']), FILTER_VALIDATE_BOOLEAN) : false;
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24566">issues.joomla.org/tracker/joomla-cms/24566</

[2019-04-13 09:18] alikon commented on #24566
please do pr

[2019-04-13 09:35] hardik-codes commented on #24566
please test #24574

[2019-04-13 09:49] franz-wohlkoenig commented on #24566
Closed as having Pull Request.

[2019-04-13 09:49] #24566 closed, assigned to nobody

[2019-04-13 10:49] alikon commented on #24465
apart the "_The page is reloaded_" for me this is not  (strictly) an error but much more a UX problem
for the ordering, for me this is an expected and wanted behaviour as per #20197
we want to give "privilege" when the word is present in the title in the result

[2019-04-13 11:00] chmst opened #24575 "[4.0] Module Edit: Position is empty coming form cPanel"
### Steps to reproduce the issue
Go to cPanel in the backend.
Edit one of the modules.

### Expected result
The Module is opened and the position of the module is "cpanel", other positions of the backend template are visible in the position dropdown.

### Actual result
Sometimes (not always) the position of module then is  "none" and there are only positions of the frontend template visible, not f

[2019-04-13 11:02] zwiastunsw commented on #24465
@alikon :This is an error. When using the keyboard, the page reloads accidentally when you move the cursor to the next number in the list. I cannot decide how many items I want to display.

[2019-04-13 11:06] alikon commented on #24465
@zwiastunsw i've analyzed the issue posted
this is a 3rd one ? or I'm wrong ?

[2019-04-13 11:07] zwiastunsw commented on #24465
I understand

[2019-04-13 11:13] zwiastunsw commented on #24465
Wait a minute. Sorry. Sorry.
There's only a UX problem here. The filter works for a new search. Earlier @Brian Teeman explained.
Therefore, it should be on the site before the search form. Or there should be information that you can change the way you organize the results of the new search.

[2019-04-13 11:16] alikon commented on #24465
are you suggesting that some better explanation should be done in the docs.joomla.org ?

[2019-04-13 11:27] zwiastunsw commented on #24465
Just a minute. I'll test it again. Because I have strange behavior.

[2019-04-13 11:30] franz-wohlkoenig commented on #24575
Issue confirmed.

[2019-04-13 12:03] zwiastunsw commented on #24465
1. I have reported that after the filter change the page is not overloaded and the results are not arranged according to the selected filter. @brianteeman explained that the filter works only for the new search.
This is a different behaviour than in the Joomla Backend. If we think that this is the correct behavior, then - in my opinion - the user should be warned about it, e.g. by an appropriate o

[2019-04-13 12:18] brianteeman commented on #24465
It is not a filter/sort of the results.

It is for new searches. That's why it is positioned next to the search box and not next to the results.

It has always been this way.

[2019-04-13 12:21] zwiastunsw commented on #24465
I accept your opinion.
I think this issue should be closed and a new one should be opened to define the issue of incorrect filter working.

[2019-04-13 15:11] #24570 closed, assigned to nobody

[2019-04-13 15:11] Quy commented on #24570
Here is a [related issue](https://forum.joomla.org/viewtopic.php?t=954808) from Joomla Forum. Please post to Joomla Forum for assistance. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24570">issues.joomla.org/tracker/joomla-cms/24570</a>.</sub>

[2019-04-13 15:35] 200MPHMEDIA opened #24578 "[4.0] "User Actions Log" repeats in Components Menu"
### Steps to reproduce the issue
Open the Control Panel > Components.
At the bottom of the list, the "User Actions Log" links are duplicated.
This the April 13 Nightly Build, but it appeared in several builds earlier.

### Expected result
Only one link should display; not duplicates.

### Actual result

### System information (as much as possible)

### Additional comments

[2019-04-13 17:23] uglyeoin commented on #23538
@franz-wohlkoenig my apologies I've been away.  Sure I'll do a pull request against J4.

[2019-04-13 20:35] mikajaxxx commented on #24315
this page has the same module
https://www.webkaj.com/fa/projects

It works perfectly in each of these conditions:
*  default language
*  joomla in subfolder ( not working on the root of server)
*  Disable 'Remove URL Language Code'
*  Disable Joomla SEF (all links generated correctly )<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a>

[2019-04-14 04:55] franz-wohlkoenig commented on #24578
@chmst can you please have a look?

[2019-04-14 06:05] alikon commented on #24578
can't confirm with current staging

[2019-04-14 06:10] infograf768 commented on #24575
This is weird. It looks like this happens when no admin module has already been edited via the manager during the session.

[2019-04-14 06:16] Puneet-Jain-18 opened #24582 "[4.0] overflow dropdown of latest action settings icon"
### Steps to reproduce the issue

Go to control panel at the backend, click on settings icon of **latest action**

### Expected result
The dropdown opens towards the left to prevent overflow

### Actual result
![rec3](https://user-images.githubusercontent.com/34083630/56089081-cdb2a900-5eaa-11e9-8848-3485ad6c89fd.gif)

### System information (as much as possible)

Joomla! 4.0.0-alpha8-dev

[2019-04-14 06:17] Puneet-Jain-18 commented on #24582
@brianteeman should I work on this, Or this is a same type of issue as we discussed here: (https://github.com/joomla/joomla-cms/pull/24579#issuecomment-482835968)

[2019-04-14 08:06] infograf768 commented on #24575
We just have to change the userstate. Making PR now

[2019-04-14 08:19] infograf768 commented on #24575
Closing as we have a patch https://github.com/joomla/joomla-cms/pull/24583

Please test

[2019-04-14 08:19] #24575 closed, assigned to nobody

[2019-04-14 10:08] HLeithner commented on #24315
could you please provide an example, the page you are linking too doesn't have any xhr request.

[2019-04-14 10:27] HLeithner commented on #23504
So I think we need a solution and failing because we can't change the permissions makes no sense to me. I'm also not sure what happens if the filesystem has extended permissions.

[2019-04-14 10:38] astridx opened #24584 "[4.0] Text in title of cheched_out shows HTML-Tags"
### Steps to reproduce the issue

Move Curser over Icon "Checked_out" in any View. You see a hint using the title-attribut that show HTML-tags.

![Bildschirmfoto von 2019 04 14 12 28 05](https://user-images.githubusercontent.com/9974686/56091643-b6c38500-5eb1-11e9-8eec-63155de955bd.png)

### Expected Result
You see a nice formatted hint. I think we do not want to use the title attribute for this.

[2019-04-14 10:44] brianteeman commented on #24584
Duplicate report #21373

[2019-04-14 10:47] astridx commented on #24584
Sorry, I did not see the duplicated issue

[2019-04-14 10:47] #24584 closed, assigned to nobody

[2019-04-14 10:47] HLeithner commented on #24176
do you have example code how you use this phar file? something I can copy-paste or install?

[2019-04-14 13:08] chmst commented on #24578
I cannot confirm. @200MPHMEDIA please check the list ofyour admin modules, if there are two items for action logs.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24578">issues.joomla.org/tracker/joomla-cms/24578</a>.</sub>

[2019-04-14 14:51] mbabker opened #24587 "[4.0] Interfaces Incomplete"
There are a lot of cases where interfaces come across as very incomplete.  With a static analysis tool, there would be loads of errors related to calling methods that do not exist on the documented return type.  When interfaces are in use, it is a best practice to only rely on methods that actually exist as part of the interface as anything else typically points to a dependency on a class implemen

[2019-04-14 16:08] mbabker commented on #23504
Before making the assertion that "changing permissions should not cause delete to fail", you need to understand filesystem permissions.  On a Linux filesystem, a delete action requires write permissions.  So a file in a readonly state (400 or 444) cannot be deleted, you must execute `chmod +w /path/to/file` to get it into a write state (600, 644, or 664 depending on your user and group permissions

[2019-04-14 17:00] brianteeman commented on #23504
If that is the case then we only need to be concerned with php 7+

[2019-04-14 18:30] jurihahn commented on #24176
In this issue https://github.com/joomla/joomla-cms/issues/23907 i have description how to get this error.

[2019-04-14 19:24] HLeithner commented on #23504
thx @mbabker that function is looks much better, at least as concept. I'm not sure who far we should go trying to delete a file. As you mention under posix file system (confirmed for linux) its not possible to delete a file if the folder is write only (even if you are the owner). So in this case we have to change the write permissions for the folder.

if we do the magic for a windows version we sh

[2019-04-14 19:42] HLeithner commented on #24176
Ok, I think we can close this, this is a phar-stream-wrapper problem and has it own issue at https://github.com/TYPO3/phar-stream-wrapper/issues/21

[2019-04-14 19:42] #24176 closed, assigned to nobody

[2019-04-14 23:37] jobst commented on #23504
@mbaker the last suggestion will not work on a *unix* based system, you cannot chmod 0777, it will refuse to do this - as it should it goes 100% against every security principles of *unix*.

Below in he code section the file EventListener.php is RW (read and write) for the user running the webserver (Apache). It still fails on my servers upgrading. I have never ever had any problems before with an

[2019-04-14 23:53] mbabker commented on #23504
Actually, yes, you can chmod a resource to 777 if you have the permissions to do so.  Additionally, with many PHP filesystem operations, the umask (default 0022) is used and that converts a 0777 permission to 0755 for directories and 0644 for files (default config normally, it's actually a little harder to get PHP to set something to 777 than you may realize).  And, as I mentioned before, in the s

[2019-04-15 04:57] franz-wohlkoenig commented on #24509
Moving from Issue Tracker-Categories to Github-Labels don't work in this Way. People of course use as always Categories, which are applied automated as Label. So it needs a Decision how to migrate. I suggest to discuss at Glip: cms-maintainers. If there is no interest its fine and all will be as now :-)

[2019-04-15 05:13] mimfa commented on #20108
add "xlsx" and "XLSX" to your Legal File Types then add "application/vnd.openxmlformats-officedocument.presentationml.presentation" to your Legal MIME Types;

[2019-04-15 06:48] mahagr commented on #23504
Just to clarify: having 0777 in any other method than `chmod()` is totally safe because of `umask()` which is being applied to the permissions (read the PHP documentation!). And yes, `chmod(0777)` (which isn't using the umask, so the file will actually be using 0777) before delete is also safe because of only the user with proper permissions to change the settings can delete the file. It just ensu

[2019-04-15 07:08] SharkyKZ commented on #24308
The doc should not switch from HTML4 to HTML5 after the component has been dispatched. But it does exactly that because the document is parsed only after the component has already been dispatched.

Again, my point is that changing document properties that affect rendering should only be considered valid if nothing has been rendered yet. At the moment this is not possible because the component is r

[2019-04-15 08:04] jobst commented on #23504
@mahagr let me explain again.

I have never ever had problems with upgrades until the last update, it always worked on all of my Joomla websites. I also know security back and forth and how to apply it and that chmod will fail in many cases as you already see as I am NOT the only one complaining.

If you want to run webserver securely making sure you limit hacking in every possible way you can (it

[2019-04-15 08:17] HLeithner commented on #23504
The only reason why we chmod is a IIS 7 issue, for normal POSIX systems this has no effect because if we can change permissions on a file doesn't not mean that we can delete it.

At least in theory see https://github.com/joomla/joomla-cms/issues/23228

Maybe @jobst and @mahagr want to understand that we also support other systems then linux. Michael showed a solution that works, setting it to 777

[2019-04-15 08:53] jobst commented on #23504
@HLeithner never said I do not understand you are supporting other systems, that is totally fine and all part of being a CMS ... it's just chmod has problems on Linux and that's all I am pointing out!

[2019-04-15 08:55] mahagr commented on #23504
I've been using Linux as my main operating system since 1996 and I've been programming in Linux kernel space in a security company for 7 years in the past (Firewall/IPS), so I do know POSIX pretty well. I also used to be a security expert and I do know the dangers of using world-writable permissions. I'm not saying that using 0777 is not bad, I'm saying that the code isn't doing that (with the exc

[2019-04-15 09:37] mahagr commented on #23504
Just something I noticed from this:

[code]

Unless you are running your web server as Editor1, Joomla is not allowed to modify any of the files in your site. This means that you need to do Joomla updates manually by copying the files and running manually the upgrade scripts.

Another note on the upgrades starting to suddenly fail: there was a bug in Joomla where read-only files were silently skip

[2019-04-15 09:39] ReLater commented on #23504
@ mbabker has provided some code in https://github.com/joomla/joomla-cms/issues/23504#issuecomment-483007077 .

Now my question to the experts here is: Why don't you provide "better" code with **detailed** and **reproducable** testing instructions and code examples that apply to Joomla core?

Anybody can test it then.

[2019-04-15 10:50] wilsonge commented on #24587
We should still probably reintroduce the interfaces we revoked here https://github.com/joomla-framework/application/commit/49d2f199a5576840ee0374664468f5dc40917fab for the `get` method and extend our interface from this

This one gets weird. We *probably* want to define a EventInterface . But we also probably want to make some of the applications own exceptions run through the `AbstractApplication

[2019-04-15 11:52] mbabker commented on #24308
Then honestly you're going to have to introduce a major rewrite of the core request-response cycle.  Because there is just no way to force the Document API into an immutable state with the current request workflow, or the fact that the entire Document API is public properties.  The fact of the matter is you cannot achieve what it is you are looking for with the core architecture in the state it is

[2019-04-15 12:07] mbabker commented on #24308
And, I have to point this one out separately.  The Document API knows nothing about rendering components.  As I'm sure you've already figured out, the rendered component is pushed into the Document API rather than the Document API being responsible for rendering that part of the page.  So how does "changing document properties that affect rendering should only be considered valid if nothing has be

[2019-04-15 13:04] franz-wohlkoenig commented on #24578
@200MPHMEDIA please close an issue if its solved. Thanks for your Report.

[2019-04-15 13:04] #24578 closed, assigned to nobody

[2019-04-15 14:50] Puneet-Jain-18 commented on #24556
Does Displaying Site name entered by user in the Head Solves the issue in any way??

![Screenshot (59)](https://user-images.githubusercontent.com/34083630/56142133-c0391400-5fbb-11e9-8d3d-b086193b8ecd.png)

[2019-04-15 14:56] brianteeman commented on #24556
No as you still cant go back to change it.

It should be noted that you cant go back and change any entries in the installer

I still don't see it as a problem

[2019-04-15 15:42] Bakual commented on #24556
It certainly isn't a big issue, but it would be a nice feature you could go back.
Also, in J3 we can do that. So it's not like it's a completely new idea :)

[2019-04-15 15:49] chmst commented on #24556
In J3.9 you can change the tab and go back for changes so this is kind of a regression in Joomla.
![install-39](https://user-images.githubusercontent.com/1035262/56144993-bc999300-5fa3-11e9-9475-d2509012460b.PNG)

@Puneet-Jain-18 in your solution the user at least can see what he /she has entered in the first step.

But why not make a simple one-pager? Or start with the db-stuff where most problem

[2019-04-15 15:52] orlitzky commented on #23504
No:

[code]

[2019-04-15 15:59] brianteeman commented on #24556
It is a one pager :)

[2019-04-15 16:13] Bakual commented on #24556
Technically, it may be (like the J3 one). But in practice it's multiple steps. It's just not a page reload.

[2019-04-15 16:18] chmst commented on #24556
I know that technically it is a one-pager. But for users ist is not, as they do not see the whole page

[2019-04-15 16:52] cypisekcypisek opened #24593 "Categories are not showing via global settings"
### Steps to reproduce the issue

After recent update to 3.9.4 version all categories but one stopped showing up as a meta tag under a title. **The category that shows (pic attached) is 'News' the one that is not included as a main menu item, any other category that is a menu item disappeared**  (pic attached - should show 'Posted in Business' after the date same as in News example).
Global settin

[2019-04-15 16:54] franz-wohlkoenig commented on #24593
Please ask on [Forum](https://forum.joomla.org/)

[2019-04-15 16:54] #24593 closed, assigned to nobody

[2019-04-15 17:24] acs-ferreira commented on #24402
I didn't test with J4 if this behavior remains the same. It happens on J3.9.5.

[2019-04-15 18:50] alikon commented on #23188
please test #24595

[2019-04-15 18:52] franz-wohlkoenig commented on #23188
Closed as having Pull Request.

[2019-04-15 18:52] #23188 closed, assigned to nobody

[2019-04-15 19:57] panta7 opened #24597 "Administrator can't change article's author"
### Steps to reproduce the issue
Backend login with administrator user. Than create or edit and article and can't change article's author. Only super user can do this.

### Expected result
Not only super user but alsa administrator could change article's author.

### Actual result
Only super user can change article's author.

### System information (as much as possible)
Joomla 3.9.5
Default admini

[2019-04-15 20:56] ReLater commented on #24597
I can't confirm your find. I can change the author (Created By) of all articles after I've logged in with Administrator rights.

[2019-04-15 21:58] jobst commented on #23504
My bad, I used this as an example.
I made this up (my tree is somewhere else) and forgot to change the group write.
Sorry.

[2019-04-16 04:28] franz-wohlkoenig commented on #24597
@panta7 have you asked on [Forum](https://forum.joomla.org/) as Github is for coding.

[2019-04-16 04:40] Puneet-Jain-18 commented on #24556
Please let me know If some changes are finalized. I would be Happy to work on this. :)

[2019-04-16 04:51] infograf768 commented on #24556
It is clear that the installer needs some love and care.
Session issue, language install issue, no more choice for admin and site language, impossible to delete database content with former db prefix, and this one here too...

[2019-04-16 04:53] Gnevyshev opened #24600 "[4.0] Regular expressions in the Redirects Manager"
As far as I understand, now Redirects Manager does not allow to use regular expressions in the field "Expired URL".
But it would be very useful!
Now, for example, if I renamed the category on the site, then for each old pagination page I need to manually configure individual redirect. If regular expressions could be used, this could all be done in a single action.
Thanks in advance!

[2019-04-16 04:56] Gnevyshev commented on #24600
In addition, it will help to reduce the number of redirects. So the site will work faster. For example, 100 redirects with regular expressions, I think, will work faster than 2000-3000 single redirects (similar to each other).

[2019-04-16 06:43] SharkyKZ commented on #24308
To clarify, by this I literally meant what developers should consider to be a valid point for setting some of the properties. And at the moment, such point simply does not exist. So I am not saying we should restrict setting anything. It should obvious that setting document properties during `onAfterRender` or `onAfterRespond` events is not valid and such cases don't need to be accounted for. Even

[2019-04-16 06:53] brianteeman commented on #24556
@infograf768  All of those are completely unrelated to this. If they are not on the project board https://github.com/joomla/joomla-cms/projects/15 then please create separate issues for each of those.

Please refrain from bringing up unrelated issues it really doesnt help and if anything detracts from the work on the current issue and results in your other issue being ignored

[2019-04-16 07:33] nikosdion commented on #24049
I have created a documentation page at https://docs.joomla.org/Make-your-own-action-log-plugin

[2019-04-16 07:50] franz-wohlkoenig commented on #24571
Additional Info: Until beta there can't be guarantee an upgrade path.

[2019-04-16 07:52] brianteeman commented on #24049
Thank you!!

[2019-04-16 08:26] Webdongle commented on #24544
Confirmed<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24544">issues.joomla.org/tracker/joomla-cms/24544</a>.</sub>

[2019-04-16 08:49] infograf768 commented on #24556
If you do not like my posts, refrain from commenting on them.
To tell it shortly: GL

[2019-04-16 08:57] jbjhjm opened #24605 "Style - Menuitem Assignement: Checkboxes disappear when the menu alias is named "hidden""
### Steps to reproduce the issue

Create a new Menu named Hidden and set the menutype to "hidden".
Add a menu item to that menu.
Open a template style and check the menu associations tab.

### Expected result
A visible checkbox to associate the template style with the created menu item.

### Actual result
No checkbox visible. Reason for that is the menu alias will be added to the Input tag as a cl

[2019-04-16 09:08] infograf768 commented on #24605
Modified "Associations" to "Assignment" as these are different functions. ;)

I confirm the behavior.
<img width="428" alt="Screen Shot 2019-04-16 at 11 05 28" src="https://user-images.githubusercontent.com/869724/56196682-97eefb00-6037-11e9-8ef0-7edbc1392334.png">

Not much we can do imho. We "could" prevent using "hidden" as menu type, but are we sure it is the only Menu Type that we should not

[2019-04-16 09:11] brianteeman commented on #24556
Thank you so much for your kind words

[2019-04-16 09:23] franz-wohlkoenig commented on #24597
Closing Issue for Reasin stated above. Please don't post double Issues on different Sites as all are Volunteers and they should not waste their Time.

[2019-04-16 09:23] #24597 closed, assigned to nobody

[2019-04-16 09:32] chmst commented on #24556
So maybe we could come back to the idea of making Joomla v4 installation userfriendly and comfortable by enabling the user to correct misspelled sitenames during installation?

[2019-04-16 09:42] franz-wohlkoenig commented on #24556
@chmst thanks for coming back to topic.

[2019-04-16 09:45] infograf768 commented on #24556
@chmst
Sorry. It looked like I was getting OT, but not really imo.
I think that the installation needs some refactoring which would also include your issue.
I do not see any solution for this issue without this important refactoring.

[2019-04-16 09:51] infograf768 commented on #24605
If we add around https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_menus/models/menu.php#L216
[code]
and the lang string, we can get

<img width="730" alt="Screen Shot 2019-04-16 at 11 35 26" src="https://user-images.githubusercontent.com/869724/56199521-5b260280-603d-11e9-9a26-625a266ec68b.png">

I just wonder if there are other terms that should be forbidden.

[2019-04-16 09:52] infograf768 commented on #24605
@HLeithner
What do you think?

[2019-04-16 10:09] HLeithner commented on #24605
sounds wrong, why I'm not allowed to create a menu type "hidden" I think I created many of them.

The checkbox gets the menu name as class attribute and hidden has a special meaning. I'm not sure why the menu alias is in the class of the checkbox... maybe prefixing it or removing it...

[2019-04-16 10:17] jjnxpct opened #24607 "PHP Warning: Use of undefined constant JPATH_COMPONENT"
### Steps to reproduce the issue
Cronjob triggers Smart Search plugin to index the content:
/usr/local/bin/php /home/[USER]/domains/[DOMAIN]/public_html/cli/finder_indexer.php --purge

### Expected result
All batches processed without any errors

### Actual result
We see these warnings (in the cron e-mail we receive):

Warning: Use of undefined constant JPATH_COMPONENT - assumed 'JPATH_COMPONENT'

[2019-04-16 10:21] infograf768 commented on #24605
Indeed. The code is
`class="chk-menulink <?php echo $type->menutype; ?>"`

But would not changing that break B/C?

[2019-04-16 10:25] ReLater commented on #24605
I would prefix it with something like
`class="chk-menulink <?php echo 'menutype-' . $type->menutype; ?>"`

We need 3 prefixes then in code of `edit_assignment.php`

And because it's a bug that must be fixed I wouldn't care about B/C in this case.

[2019-04-16 10:26] panta7 commented on #24597
Ok, sorry.

[2019-04-16 10:28] ReLater commented on #24605
Or creating an override for the ISIS template for `edit_assignment.php` with these changes.

[2019-04-16 11:38] solracsf opened #24608 "New created content (articles,modules) have id=0"
### Steps to reproduce the issue
Create a new module, it is saved with `id=0` and `asset_id=0`

### Expected result
Module has in incremented `id`

### Actual result
Actually `id=0`

Which results in module can't be edited or deleted (it can be Trashed with an error: `Null primary key not allowed` but when try to delete i have `Delete not permitted`.)

IF this module isn't deleted manually from th

[2019-04-16 11:39] mbabker commented on #24308
What properties need to be set before a component is dispatched that would affect how a component is dispatched?  Given the way components are supposed to be decoupled from templates in everything but layouts, there should not be anything here that one could theoretically change that affects a component (and the properties that might are the language and direction and as I said if you're changing

[2019-04-16 12:23] ReLater commented on #24608
I can't reproduce the issue with Database Type "MySql (PDO)", Joomla 3.9.5, 5.5.5-10.1.34-MariaDB, PHP 7.2.

Normally errors like this occur if your database tables are broken.

Check if the field id of table #__modules is marked as AUTO_EXCREMENT. If not ask in a forum to get help.

![16-04-_2019_14-21-14](https://user-images.githubusercontent.com/20780646/56209195-35a3f380-6053-11e9-901d-c7e265c

[2019-04-16 12:26] franz-wohlkoenig commented on #24608
Closed Issue as stated above.
Please ask on [Forum](https://forum.joomla.org/)

[2019-04-16 12:26] #24608 closed, assigned to nobody

[2019-04-16 12:47] acs-ferreira commented on #24608
Ok thanks anyway, **forum is completely useless**, my last three questions had no answers at all since weeks. Cheers!

[2019-04-16 12:53] franz-wohlkoenig commented on #24608
Sorry to hear that @acs-ferreira but here are also Forummember so if you Link to the Questions i'm sure they will answer (@wojsmol)

[2019-04-16 12:57] mikajaxxx commented on #24315
I attached the js and ajax file<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24315">issues.joomla.org/tracker/joomla-cms/24315</a>.</sub>

[2019-04-16 13:01] mikajaxxx commented on #24315
sorry it couold not uploaded. i changed[ajax.txt](https://issues.joomla.org/uploads/1/0420dabc0fd8bf827a5bb6024633e0c4.txt) the file type to txt [java.txt](https://issues.joomla.org/uploads/1/a3819a46bfad3464933ee968be07acaf.txt)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms

[2019-04-16 13:35] acs-ferreira commented on #24608
No problem, thanks.
I've managed to solve it myself, it was indeed an `AUTO_INCREMENT` problem.

[2019-04-16 13:40] franz-wohlkoenig commented on #24608
thanks @ReLater for help.

[2019-04-16 14:24] Puneet-Jain-18 commented on #24556
I think we can consider closing #18834 as both point to same issue.

[2019-04-16 14:26] franz-wohlkoenig commented on #18834
closed in favor #24556

[2019-04-16 14:26] #18834 closed, assigned to nobody

[2019-04-16 14:26] franz-wohlkoenig commented on #24556
thanks for finding double Report @Puneet-Jain-18

[2019-04-16 17:00] alikon commented on #24049
so this can be closed now

[2019-04-16 17:03] #24049 closed, assigned to nobody

[2019-04-16 18:07] roland-d opened #24609 "[4.0] Dashboard cog goes off screen"
### Steps to reproduce the issue
1. Login to Joomla 4 dashboard
2. Click on the cog to open the menu for that module
<img width="414" alt="image" src="https://user-images.githubusercontent.com/359377/56233173-d1992380-6082-11e9-8106-71861be2337d.png">
3. The menu collapse outside the screen
<img width="408" alt="image" src="https://user-images.githubusercontent.com/359377/56233225-e70e4d80-6082-11

[2019-04-16 18:19] #24609 closed, assigned to nobody

[2019-04-16 18:19] Quy commented on #24609
Duplicate #24582<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24609">issues.joomla.org/tracker/joomla-cms/24609</a>.</sub>

[2019-04-16 18:20] roland-d commented on #24609
Thank you @Quy I searched but did not find that one ;)

[2019-04-16 18:31] OlofBailey commented on #17989
Getting the same error in 3.9.5

[2019-04-16 18:55] mbabker commented on #17989
@OlofBailey Please don't randomly find 18 month old issues and comment "getting same error on new release".  You can't be having the same error as this issue identified as this was an issue of a file not being correctly updated with the 3.8.0 release.  If you believe you have found a bug with the new release, the proper action is to file a new issue report with all required details needed to eithe

[2019-04-16 20:21] brianteeman commented on #24536
can you please post the issue here - not just link to other ones.

[2019-04-16 20:25] brianteeman commented on #23737
i can see that these are still present BUT most are for modal close buttons which is scheduled to be rewritten. I will do a pr for the rest

[2019-04-16 20:46] FormationGrowthHacking opened #24614 "Articles of subcateogries are not displayed on Menu blog page"
### Steps to reproduce the issue
Create 1 main category "Blog"
Then create subcategories in this main categorie:
 - Blog
   -- Cat1
   -- Cat2

Then create articles in category blog and subcategories Cat1 & Cat2

Then create a Menu "XLayout Blog" for main category "Blog". I name this menu "Blog".

I configured options of articles Subcategory Levels= All in both tabs "Category" & "Categories".
I co

[2019-04-16 21:00] ReLater commented on #24614
Please close your issue here on GitHub and ask in a forum because you are using an outdated, old version of Joomla (Joomla! 3.8.11 Stable) and this platform is only for issues with current and future versions .

(In secret: You forgot this setting:
![16-04-_2019_22-52-31](https://user-images.githubusercontent.com/20780646/56243561-32345a80-609b-11e9-8734-961ccbb4b287.jpg)
)

[2019-04-16 21:11] FormationGrowthHacking commented on #24614
I am sorry. I didnt know.

I will try tgis asap. Thank you so much.

  Cordialement

Gauthier Buttez

Centre de formation France
 EURL SIREN:831 709 431 (tel:831%20709%20431)
   44 rue Montmejean
 33100 Bordeaux - FRANCE (http://maps.google.com/?q=44%20rue%20Montmejean%20Bordeaux)
   Email (http://centredeformationfrance.com/contacts/uncategorised/contact)
   Tel: +33(0)7 67 37 17 15   (tel:+33767

[2019-04-16 21:29] FormationGrowthHacking commented on #24614
Ok. Just for info, I did activate this.

I will post issue on forum.

  Cordialement

Gauthier Buttez

Centre de formation France
 EURL SIREN:831 709 431 (tel:831%20709%20431)
   44 rue Montmejean
 33100 Bordeaux - FRANCE (http://maps.google.com/?q=44%20rue%20Montmejean%20Bordeaux)
   Email (http://centredeformationfrance.com/contacts/uncategorised/contact)
   Tel: +33(0)7 67 37 17 15   (tel:+3376

[2019-04-16 21:33] #24614 closed, assigned to nobody

[2019-04-16 21:41] brianteeman commented on #24502
I think this is resolved at https://github.com/joomla/backend-template/pull/138

[2019-04-16 22:07] brianteeman commented on #24470
Sorry I was wrong suggesting that it was everywhere that we use onchange that is a problem.

If you go to the filter list in article manager. and use the keyboard to highlight a select list and try to cycle through the options using the arrow key it will fail. But if you press enter to select the list and open it then you can use the keyboard to navigate the list and select the option you want. I

[2019-04-17 01:00] davidglass commented on #14085
It is unfortunate what you are doing with Joomla, supposedly to improve "security" But you know what? When it is well dead in its box it will be truly safe.

[2019-04-17 03:34] brettdelmage opened #24616 "Joomla (extension) updates fail with misleading message after incorrect file test"
### Observed error

Various package updates fail with the misleading message "Failed deleting inaccessible file".
The message / error appears to be generated in
public static function delete
in libraries/vendor/joomla/filesystem/src/File.php

The error is thrown when a file cannot be chmod'd.

This error will occur when the file is OWNed by other than the webserver or php process.  e.g. php-fpm.

[2019-04-17 03:54] Quy commented on #24616
Related #23504 ?

[2019-04-17 04:36] franz-wohlkoenig commented on #24616
@brettdelmage I guess you Report about J3 so i set J3 Issue-Label. Please give System Information reporting an Issue.

[2019-04-17 04:39] franz-wohlkoenig commented on #24502
should it be closed or waiting till new backend is merged here?

[2019-04-17 04:47] franz-wohlkoenig commented on #24600
Can a Developer please answer as this Issue is unanswered since one Day?

[2019-04-17 04:48] franz-wohlkoenig commented on #24607
@HLeithner can you please comment?

[2019-04-17 06:33] alikon commented on #24616
yes @Quy same issue like #23504

[2019-04-17 06:42] alikon commented on #24465
Again the result order give priority when the searched word is present on the title

[2019-04-17 06:52] franz-wohlkoenig commented on #24616
Closed as duplicate Report. @brettdelmage thanks for Report, don't hesitate to report further.

@Quy @alikon thanks for finding Duplicate.

[2019-04-17 06:52] #24616 closed, assigned to nobody

[2019-04-17 06:53] SharkyKZ commented on #24308
Any properties that should be consistent throughout the document. We really just need to go back to the question of whether or not these properties should be usable outside of document renderers. What do you think? Would it be wrong to check HTML version in, for example, `HTMLHelper` methods?

[2019-04-17 07:03] HLeithner commented on #24607
@Hackwar  can you look at this?

[2019-04-17 07:36] eric-lamy-agerix opened #24617 "htaccess not updated in new version"
Since 3.9 version we have an admin messages displayed and since 3.9.3 one of these messages is :
The security team recommends to manually apply the necessary changes to existing .htaccess or web.config files, as those files can not be updated automatically.

Changes for .htaccess
(***)
Changes for web.config
Add the following lines right after "</rewrite>":
(...)

I think it could be a good idea t

[2019-04-17 08:15] marcodings commented on #24539
Extending on nonickch's argument

From the phpmanual:
realpath() expands all symbolic links and resolves references to /./, /../ and extra / characters in the input path and returns the canonicalized absolute pathname.

With that said there there should be NO usage of realpath AT ALL as it "expands all symbolic links". Symlinks could end up outside of the document route and those locations would c

[2019-04-17 08:23] HLeithner commented on #24607
I think that the CLI doesn't provide a component context so JPATH_COMPONENT isn't set while indexing.

But yes the problem seams to be in com_fields that tries to find out which component is active using this constant.

@laoneo Can we remove this check because we only add a table search path here.

[2019-04-17 09:18] HLeithner commented on #24617
htaccess.txt has been changed with the same release: https://github.com/joomla/joomla-cms/commit/8fdbcb163040ff7b8fd12fb27bbfae76816bdad3#diff-05d39072fa81e84ead7860131f02ea3f

[2019-04-17 09:18] #24617 closed, assigned to nobody

[2019-04-17 11:05] wilsonge commented on #24470
So it is technically a11y compliant but not as easy as it could/should be if I read that correctly?

[2019-04-17 11:23] brianteeman commented on #24470
That is my amended conclusion. not sure what @zwiastunsw thinks though

[2019-04-17 11:43] richard67 commented on #24600
@Gnevyshev Do I understand you right that it would be sufficient for you if the matching condition for the expired URL would be a regular expression, but the new URL would be constant? Or do you also need to use placeholders in the new URL for matches in the regular expression like it would be possible with a regex_replace function?

[2019-04-17 11:58] mbabker commented on #24308
To accomplish this means rewriting the core request-response workflow.  A plugin event on a mutable property before the component is dispatched, which is still massively before the template file is parsed for `<jdoc>` tags and executed to actually do its PHP stuff doesn't fix anything; if anything it potentially makes things worse.

No, but aside from the inline script that the email cloaking help

[2019-04-17 12:18] 200MPHMEDIA opened #24622 "[4.0] TinyMCE Toggle Button Location"
### Steps to reproduce the issue
At present, the "Toggle" Button on the TinyMCE Editor is at the bottom right of the editor window area.  It is the only link/button in that location.

It is very inconvenient to scroll down to toggle to html view.

Previoulsy, the button was located at the top left window area, making it very convenient to toggle the views back and forth.

Can the "Toggle" Link be

[2019-04-17 12:23] franz-wohlkoenig commented on #24622
Duplicate of #24076 > @200MPHMEDIA please prove.

[2019-04-17 12:31] zwiastunsw commented on #24470
We have several places where the "Display select" object is displayed.
We have two different behaviors.

**First behavior**: The screen reader announces a label ("Display # combo box 30 collapsed"). It announces that the list is collapsed. I get the information that I can expand it, select one of the options, and then confirm with the Enter key. This is the correct, accessible, expected behavior.

[2019-04-17 13:18] #24622 closed, assigned to nobody

[2019-04-17 13:34] brianteeman commented on #24470
found it and fixed it - pr coming

for some STUPID reason this list box was using chzn. That is not accessible as we know and we dont need it here

[2019-04-17 13:42] brianteeman commented on #24470
It was any select list in the search component that was infected with chosen

[2019-04-17 13:45] ReLater commented on #24607
Why not adding an additional
`define('JPATH_COMPONENT', JPATH_COMPONENT_ADMINISTRATOR);`
inside cli script.

It does:
`define('JPATH_COMPONENT_ADMINISTRATOR', JPATH_ADMINISTRATOR . '/components/com_finder');`

[2019-04-17 13:57] brianteeman commented on #24556
You can use the browser back button

[2019-04-17 13:59] zwiastunsw commented on #24470
@brianteeman: The same problem we have in Tagged items view

![tagged](https://user-images.githubusercontent.com/29527200/56293653-ca792080-6129-11e9-966b-4356aacd250b.png)

[2019-04-17 14:06] brianteeman commented on #24470
wait - you are confusing me - you raised this issue as Joomla 4

[2019-04-17 14:06] brianteeman commented on #24470
I fixed it for j3. And I cant get search to work for me at all right now

[2019-04-17 14:07] brianteeman opened #24624 "[4.0] com_search"
Is it just me or is com_search broken and always returning zero results

[2019-04-17 14:08] zwiastunsw commented on #24470
I'm sory

[2019-04-17 14:16] brianteeman commented on #24470
so are there any problems in joomla 4? We dont use chosen in j4

[2019-04-17 14:19] Webdongle opened #24626 "Frontend editing Permission issue"
### Steps to reproduce the issue
Install staging with **ANY** sample data.
Login frontend as Super User
Click gear icon and select edit
Select 'Publishing' tab

### Expected result
You should be able to change category

### Actual result
Category dropdown llist is greyed out

### System information (as much as possible)

### Additional comments
Have set 'Critical because if there is an error in AC

[2019-04-17 14:23] brianteeman commented on #24626
This is not critical See https://docs.joomla.org/Bug_and_Issue_Tracker_Priority

[2019-04-17 14:26] zwiastunsw commented on #24470
Looks like it's in the Joomla4 no problem. I checked it again.

[2019-04-17 14:26] X-Bumble commented on #24626
I can confirm this issue<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24626">issues.joomla.org/tracker/joomla-cms/24626</a>.</sub>

[2019-04-17 14:26] X-Bumble commented on #24626
I can confirm this issue<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24626">issues.joomla.org/tracker/joomla-cms/24626</a>.</sub>

[2019-04-17 14:30] zwiastunsw commented on #24470
Thank you, @brianteeman . I must have been very tired. This problem occurs only in joomla 3.x.

[2019-04-17 14:30] #24470 closed, assigned to nobody

[2019-04-17 14:33] brianteeman commented on #24626
Which sample data - there are several in j3

[2019-04-17 14:33] zwiastunsw commented on #24469
Solved - https://github.com/joomla/joomla-cms/pull/24623. Thanks @brianteeman

[2019-04-17 14:33] #24469 closed, assigned to nobody

[2019-04-17 14:33] brianteeman commented on #24470
i fixed com_tags as well

[2019-04-17 14:54] infograf768 commented on #24626
This was done on purpose.
See https://github.com/joomla/joomla-cms/pull/24216

[2019-04-17 15:05] brianteeman commented on #24626
that was a hard breaking backwards compatibility issue that should not have been done in a patch release at all. @HLeithner

[2019-04-17 15:08] infograf768 commented on #24626
It was MUCH more dangerous before
Read https://github.com/joomla/joomla-cms/issues/23991

[2019-04-17 15:09] uglyeoin opened #24628 "[4.0] Could not create new article on the fly via a modal from the menu item"
### Steps to reproduce the issue
Create a new menu item "single article"

Click to create the article from within the menu item.

Fill in the category, title and some content

### Expected result

Am able to save or save and close

### Actual result

Am able to close only but not save.  It gives no feedback.

I believe it is a modal issue as I see this in the console.

[code]

### System informati

[2019-04-17 15:13] brianteeman commented on #24626
So you solved the create category bug by completing disabling the ability to change category 🤦‍♂️

@HLeithner correctly said

[2019-04-17 15:15] Webdongle commented on #24626
Surely changing category should be linked with 'Edit state'.  i.e. if A user is trusted to publish/unpublish an Article then they should be trusted to change Category?  After all users could only select a category that they had edit Permissions for.

[2019-04-17 15:18] Gnevyshev commented on #24600
@richard67
For now, it would be enough for me to use regular expressions only for the Expired URL. But if it could be done for a New URL, I think it would be very useful in a number of cases.
Thank you!
And is it possible to do it for Joomla 3, not only for Joomla 4?

[2019-04-17 15:22] uglyeoin opened #24629 "[4.0] I see literal language strings in the actions module in the administrator on the cpanel"
### Steps to reproduce the issue
Install J4 go to cPanel.
Actions module has these strings

`PLG_SYSTEM_ACTIONLOGS_CONTENT_UPDATED`

### Expected result
Translated text

### Actual result
Literal language string

### System information (as much as possible)
[systeminfo-2019-04-17T11_09_01-04_00.txt](https://github.com/joomla/joomla-cms/files/3090336/systeminfo-2019-04-17T11_09_01-04_00.txt)

### A

[2019-04-17 15:37] franz-wohlkoenig commented on #24600
New Features goes in J4. J3 get Bug fixing.

[2019-04-17 15:38] franz-wohlkoenig commented on #24628
@uglyeoin Please add "[4.0] " at front of Title for J4 Issues.

[2019-04-17 16:17] brianteeman commented on #24626
All that should have been changed was the ability to create a new category.

Everything else is a hard b/c break that should never me done in a patch release

[2019-04-17 17:24] #24607 closed, assigned to nobody

[2019-04-17 17:24] Quy commented on #24607
Please test PR #24630.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24607">issues.joomla.org/tracker/joomla-cms/24607</a>.</sub>

[2019-04-17 17:37] alikon commented on #24607
please test #24630

[2019-04-17 18:22] uglyeoin commented on #24628
Awesome thanks, I was wondering why that didn't happen, didn't realise I should be doing it.

[2019-04-17 18:25] uglyeoin commented on #22524
Thanks @franz-wohlkoenig you might save me some work.  I will test it, it may mean that a modal popup is unnecessary.  Inline editing would be far better.

[2019-04-17 18:26] zero-24 commented on #14085
Please checkout: https://github.com/Bakual/CustomFieldGallery that contains the gallery field that was removed from core.

[2019-04-17 18:29] zero-24 commented on #14085
Feel free open new issues with feature requests and not comment on closed issue. Please be aware that we can not implement any potential use case in the core and we have a great list of extensions adding additional features.

https://extensions.joomla.org/
https://extensions.joomla.org/tags/custom-fields/

[2019-04-17 18:44] ReLater commented on #24629
Related: https://github.com/joomla/joomla-cms/issues/22816

[2019-04-17 19:18] #24629 closed, assigned to nobody

[2019-04-17 19:25] mbabker commented on #24539
Please don't add a complicated regex where a native PHP function works more than adequately.  Please understand this was done to address a security issue (if someone else on JSST wants to expand on it at this point by all means go for it, but understand that flat out reverting the changes made in 3.9.5 has bad side effects).

[2019-04-17 19:38] marcodings commented on #24539
Please enlighten us with this native PHP function as realpath() is "not it" because of its side effects resolving the softlink. If there is another simpeler way of doing this I'm all for it. Only discarding regexp "just because" makes no sense.

[2019-04-17 19:41] ricomonkeon opened #24631 "Modules break if content entered exceeds 65535 characters"
### Steps to reproduce the issue

Create a module containing a field type of editor.
Using this module, enter any content which exceeds 65535 characters.

### Expected result

An admin would expect it just to save all the content, but realistically a warning saying you cannot enter that much content, and the ability to edit down accordingly would seem sensible.

### Actual result

An "Error decodi

[2019-04-17 19:54] mbabker commented on #24539
`administrator/components/com_media/models/list.php` line 114 change to `if (strpos(realpath($basePath), JPath::clean(realpath(COM_MEDIA_BASE))) !== 0)` and have a nice day.  A better solution would be to define `COM_MEDIA_BASE` as the cleaned and resolved path (in `administrator/components/com_media/media.php` change line 41 to `define('COM_MEDIA_BASE', JPath::clean(realpath(JPATH_ROOT . '/' . $p

[2019-04-17 19:55] mbabker commented on #24539
[code]

Should get someone going.

[2019-04-17 20:08] bahl24 commented on #24624
Are you talking about #24479? I have tried to solve it in #24494

[2019-04-17 20:27] brianteeman commented on #24624
I forgot I already reported it

[2019-04-17 20:27] #24624 closed, assigned to nobody

[2019-04-17 20:29] AFCURESite commented on #15629
![image](https://user-images.githubusercontent.com/49727732/56318760-140f3e80-611d-11e9-84ac-568990901078.png)
 I don't have any menu options when I try to log in...Unfortunately, I am a pretty novice Joomla user; I inherited this client site from a previous coworker and everything seemed to go smoothly until now. Any other advice to get the site working again?

[2019-04-17 20:29] brianteeman commented on #24631
Why on earth are you putting war and peace in a module?

[2019-04-17 20:34] ricomonkeon commented on #24631
Heheh.  It was actually an admin copy-pasting an image which triggered it - the editor converts that to base64 (which uses a lot of characters).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24631">issues.joomla.org/tracker/joomla-cms/24631</a>.</sub>

[2019-04-17 20:46] joeforjoomla commented on #24631
This happened to one extension of mine too.
Saving editor contents in a single JSON database field it's not so difficult that users exceed that 65535 limit.
I had to include a check into y extension to prevent saving and warn the user in this situation, indeed being this field used by a system plugin, the result was a disaster. The entire website frontend/backend was likely to be unreachable.

[2019-04-17 21:03] brianteeman commented on #24631
If you submitted a PR then everyone would benefit

[2019-04-18 05:43] franz-wohlkoenig commented on #24628
@uglyeoin thanks :-) This is status quo (Details #24509).

[2019-04-18 05:53] franz-wohlkoenig commented on #15629
@AFCURESite Please ask on [Forum](https://forum.joomla.org/) as this is for Coding.

[2019-04-18 06:34] HLeithner commented on #24539
Your change would only work if the images directory is symlinked but not if we have symlinks under /images.

Then we have the same problem again.

[2019-04-18 07:06] marcodings commented on #24539
+1 HLeithner,

As realpath is used not only in the mediamanager, unaverted/unrecognised side-effects of realpath() are more widespread than apparent at first glance. Admittedly these are even more edgecases but that does not make it right to not adress them.

Imho realpath() should be replaced by "our own" implementation that excludes the symlink resolution behaviour, my regexp aproach could be a

[2019-04-18 08:45] dfrassi commented on #24626
I'm sorry but my users are in panic because they don't find the way to push an article in another category by frontend.
Let me know if i have to downgrade the joomla version.
Thanks.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24626">issues.joomla.org/tracker/joomla-cms/24

[2019-04-18 09:23] Webdongle commented on #24626
Using an older version of Joomla is a security risk ... and you would loose everything new after installing an old backup.  Work around would be
Create a new user group with Registered as Parent
Allow backend access
Article Permissions allow 'Access Administration Interface '
Put you required users in that new group
They can log in /administrator and only see the Articles/Categories

[2019-04-18 09:58] dfrassi commented on #24626
I have got 5.000 users in my site, it's a big drama to teaching them a new editing mode of their contents. Are you really want to mantain this feature? Are there any other possibility to solve this problem?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24626">issues.joomla.o

[2019-04-18 10:39] HLeithner commented on #24626
@dfrassi at the moment you can revert the changes from the related PR: https://github.com/joomla/joomla-cms/pull/24216/files

[2019-04-18 11:21] peteruoi commented on #24626
Plz don't do the following advice before backing up and someone else much more experienced than me confirms that this will work.
I think that reverting the changes in this file https://github.com/joomla/joomla-cms/pull/24216/files
will return the previous behaviour. I think that these changes where not part of the security holes patched so you don't have that concern. This if of course a temporary

[2019-04-18 11:38] danielsmink commented on #24539
Any ETA on a fix? We had to revert all our Joomla websites to 3.9.4. I think pretty much anyone who actually deploys their websites will run into this issue.  And if not I'm very curious to your solution of keeping the image folder intact while installing a new Joomla version.

[2019-04-18 11:57] mbabker commented on #24539
So you're going to try and define a fix without specifying what the supported behaviors are, basically this issue is now implicitly saying that symlinking core directories outside the root Joomla path is a supported operation.  Might as well just revert the patch related to https://developer.joomla.org/security-centre/777-20190401-core-directory-traversal-in-com-media.html and tell people it is fu

[2019-04-18 12:28] brianteeman commented on #24539
I have never symlinked a folder on any site I have been involved with. I do not understand what your issue is regarding updates

[2019-04-18 12:35] danielsmink commented on #24539
We use CI and don't update our Joomla's using the interface. Every deploy is a fresh installation and takes care of database migrations etc. None of the core Joomla folders are writeable. Any folders that need to be by the application are symlinked (cache,log,images). components/modules etc are installed using composer. This has worked for the past 8 years btw. (give or take)

I'm open to alternat

[2019-04-18 12:41] alpha20111 commented on #12704
I have to say that you are on the right track. This will be loved by several individuals as it is detailed and interesting. All the best for your future work. <a href="https://www.thedubai2020.com/">rta bus route map</a><hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12704">i

[2019-04-18 12:41] brianteeman commented on #24539
From **my** perspective and **personal** opinion only - that has never been a supported method of using joomla - and just as you have modified your entire installation to match your own CI you will need to further modify it to address this issue. I certainly not in favour of joomla reducing its security for everyone because someone using a customised installation doesn't like it.

[2019-04-18 12:46] HLeithner commented on #24539
Its pretty common to symlink folders if you have more then on stage. Also having Joomla readonly is much better then joomla can offer so the usecase is vaild from my point of view.

[2019-04-18 13:00] brianteeman commented on #24539
It still has never been a supported or documented means of using Joomla

[2019-04-18 13:07] franz-wohlkoenig commented on #24539
Maybe in Future a Feature if this is common as @HLeithner say?

[2019-04-18 13:16] brianteeman commented on #24539
I doubt it is very common as it is impossible on most shared hosts which is where most joomla sites are installed.

As for a feature - the media manager in j4 is completely different

[2019-04-18 13:32] roedie commented on #24539
IMHO symlinking is pretty common practice to seperate code from user created data. It is used a lot at the managed hosting companies.

[2019-04-18 13:39] brianteeman commented on #24539
Back that up with real usage data from joomla sites not any other system please

[2019-04-18 13:47] marcodings commented on #24539
Brian why this pointless arguing ...

Symlinking is a perfectly legal way to "build" your structure, its supported by linux and by apache so why are we even arguing on its usage. Its legal and its not for us to argue if it makes sense, as with anything it will differ for different people.

[2019-04-18 13:50] roedie commented on #24539
How can I back that up? By providing a list of sites or companies which are hosted this way?

The only thing I can see is that there are multiple people here arguing in favor and only one against.

[2019-04-18 14:02] brianteeman commented on #24539
@marcodings my point is to counter the statements that this is a very common practice - it is not because it can not be for the reasons I stated above.

If you want a fix then roll up your sleeves and contribute one.

[2019-04-18 14:09] mbabker commented on #24539
Because in effect Joomla does not natively support being deployed as a 100% read-only filesystem (this prevents the core CMS from updating itself or its extensions, and as Joomla does not support an upgrade mechanism outside the web interface any other option (including my save your ass gist) is at your own risk).  Because in effect Joomla does not support being deployed in an environment where in

[2019-04-18 14:13] brianteeman commented on #24539
As always @mbabker explains it more eloquently than me

[2019-04-18 14:16] mbabker commented on #24631
This is a repeat of the usual "X field in Y table should be changed from TEXT to LONGTEXT because I'm trying to store too much data into this database column" request, only I think this might be the first for `#__modules.content` (usually it's the `#__extensions` or `#__template_styles` tables, though I also vaguely remember one issue in the past because people someone was trying to do full articl

[2019-04-18 14:19] marcodings commented on #24539
@brianteeman >If you want a fix then roll up your sleeves and contribute one.
so what do my posts here suggest ? <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24539">issues.joomla.org/tracker/joomla-cms/24539</a>.</sub>

[2019-04-18 14:22] Quy commented on #24631
Maybe this one #19618

[2019-04-18 14:24] wilsonge commented on #23863
This should have been fixed by https://github.com/joomla/joomla-cms/commit/609b77dcc2c930b797363c7550efb71ed08b391e

[2019-04-18 14:24] #23863 closed, assigned to nobody

[2019-04-18 14:38] marcodings commented on #24539
@mbabker

I don't see me suggesting that in any way shape or form?

I'm arguing that symlinks are **legal file constructs** and they allow  for building a structure below `JPATH_ROOT`.
The canonical path ( where it resolves symlinks or mounts or ?) is not relevant for the security context of breaking out of `JPATH_ROOT`or gaining access to other parts of the system, potentially overwriting adding

[2019-04-18 14:44] HLeithner commented on #24539
because a behavior is not document doesn't mean we have to break it.

[2019-04-18 14:45] ricomonkeon commented on #24631
I don't think it should be changed to LONGTEXT - it's ultimately a mistake to add that much text.  The bug I'm reporting is that it breaks the site rather than fails gracefully, due to the field containing a JSON string which is not being validated for its length and so becomes invalid when it doesn't save properly.

Admins always do unexpected things they they need to be told not to - massive ima

[2019-04-18 14:51] mbabker commented on #24539
Security disclosure time then, since it seems some people want to argue semantics and don't seem to grasp basic security of a web application with an end user facing interface that allows interaction with the application's filesystem.

In Joomla versions 3.9.4 and earlier, with well crafted URLs, it was possible for a malicious visitor to use the media manager to traverse the entirety of a Joomla

[2019-04-18 14:56] brianteeman commented on #24539
It is impossible to make sure you don't break something if that something is something it was not designed to do.

[2019-04-18 15:07] mbabker commented on #24539
Again, for clarity, this specific patch fixes the inability for an end user to navigate into a directory inside a symlinked images directory.  It does not fix any issue where a directory inside the images directory is symlinked elsewhere (which includes a scenario where the images directory is symlinked to one place and one of its directories are symlinked someplace else).

Where it was commented

[2019-04-18 15:08] Arpit-24 commented on #24628
Will get fixed by merging PR #24350

[2019-04-18 15:13] #24628 closed, assigned to nobody

[2019-04-18 15:13] Quy commented on #24628
Please test PR #24350<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24628">issues.joomla.org/tracker/joomla-cms/24628</a>.</sub>

[2019-04-18 17:12] alikon commented on #24631
with #24631 now a check is made to prevent this behaviour
please test

[2019-04-18 17:34] franz-wohlkoenig commented on #24631
Closed as having Pull Request.

[2019-04-18 17:34] #24631 closed, assigned to nobody

[2019-04-18 20:18] SolutioAndy commented on #24544
The problem was introduced with this change in 3.9.5:

https://github.com/joomla/joomla-cms/commit/1547f8e76000a22d9befc2551ca9929f5d2d0c56#diff-e5953bc3eadad37980d677840c9d4f6dR97

There are a couple issues with this check:

- $filepath may not exist yet, so realpath() will return false (the target directory should be checked instead of the full file path)
- the logical not operator has higher pr

[2019-04-18 20:45] Quy commented on #24544
@SolutioAndy Can you please submit a PR? Thanks.

[2019-04-18 21:58] #24544 closed, assigned to HLeithner

[2019-04-18 21:58] Quy commented on #24544
Thank you! Please test PR #24637.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24544">issues.joomla.org/tracker/joomla-cms/24544</a>.</sub>

[2019-04-19 06:46] dmitriy-cloudaccess opened #24638 "[4.0] Alpha9: Wrong download links in XMLs"
### Steps to reproduce the issue
Joomla 4.0 NightlyBuilds download link (found on https://developer.joomla.org/nightly-builds.html)
is https://developer.joomla.org/nightlies/Joomla_4.0.0-alpha8-Alpha-Development-Full_Package.zip
its version is 4.0.0-alpha8-Alpha.
However next major list XML contains old version - 4.0.0-alpha8-dev. https://update.joomla.org/core/nightlies/next_major_list.xml

This

[2019-04-19 07:53] franz-wohlkoenig commented on #24509
Looks like Discussion has ended. If its true, Issue will be closed.

[2019-04-19 08:31] SharkyKZ commented on #24308
It doesn't have to be mutable. Anyone who tries changing it after a buffer has been set is a jerk anyways 😁 .

Switching up dispatch/parse/render with parse/dispatch/render does seemingly fix both of the issues I had in mind. Though not sure what it breaks yet. Component assets are added after template's, for one. But the same issues already exists with modules and plugins. Any chance of having so

[2019-04-19 08:45] alikon commented on #24638
should be fixed now https://github.com/joomla/update.joomla.org/pull/125

[2019-04-19 08:53] franz-wohlkoenig commented on #24638
Closed as Issue fixed. Please reopen if needed.

[2019-04-19 08:53] dmitriy-cloudaccess commented on #24638
No, it isn't fixed.
https://update.joomla.org/core/nightlies/next_major_extension.xml - still contains 4.0.0-alpha8-dev.

https://developer.joomla.org/nightly-builds.html - Download link is `https://developer.joomla.org/nightlies/Joomla_4.0.0-alpha8-Alpha-Full_Package.zip`.
version in download link is `4.0.0-alpha8-Alpha`.

Links are still broken. Automatic updates

[2019-04-19 08:59] infograf768 commented on #24626
@Webdongle

See proposal here
https://github.com/joomla/joomla-cms/pull/24640

[2019-04-19 09:04] franz-wohlkoenig commented on #24626
Closed as having Pull Request.

[2019-04-19 09:04] #24626 closed, assigned to nobody

[2019-04-19 09:12] alikon commented on #24638
see https://github.com/joomla/update.joomla.org/pull/126

[2019-04-19 09:18] dmitriy-cloudaccess commented on #24638
But what about actual download link name?
I can get the latest NB 4.0 from https://developer.joomla.org/nightlies/Joomla_4.0.0-alpha8-Alpha-Full_Package.zip
Check it here https://developer.joomla.org/nightly-builds.html

But XMLs say the download link is https://developer.joomla.org/nightlies/Joomla_4.0.0-alpha9-dev-Full_Package.zip (File doesn't exist)

Scripts still can't download updates using

[2019-04-19 09:38] alikon commented on #24638
if i'm not wrong the cron job from nightly builds runs once a day, and the last one....

`These packages were last built: Friday, 19 April 2019 02:00:39 UTC`

[2019-04-19 09:39] HLeithner commented on #24638
I fixed the version string in j4 branch and triggered a rebuild of the nightly, now everything should be ok again.

[2019-04-19 09:40] franz-wohlkoenig commented on #24638
@alikon true, nightly run one a day.

[2019-04-19 09:46] mikajaxxx commented on #24315
Today i added a simple code for item layout to detect current language for every item:

[code]
so it is nothing to do with url  and just related to current language

And it seems the problem is because it could not detects current lanague for ajax loaded item;
the ajax loaded items show "english" for current language which is default language not the current language!
<hr /><sub>This comment was c

[2019-04-19 09:55] franz-wohlkoenig commented on #21911
closed as issue seems answered. Please reopen if needed.

[2019-04-19 09:55] #21911 closed, assigned to nobody

[2019-04-19 09:55] dmitriy-cloudaccess commented on #24638
Everything is fine now. Thanks guys!

[2019-04-19 12:31] Webdongle commented on #24626
@infograf768 That patch was merged before I checked it.  great stuff thanks

[2019-04-19 12:34] ced1870 opened #24642 "[4.0] Error: Call to undefined method Joomla\CMS\Application\AdministratorApplication::isAdmin()"
### Steps to reproduce the issue

Install an extension and got the message
Error: Call to undefined method Joomla\CMS\Application\AdministratorApplication::isAdmin()

### Expected result
No error

### Actual result

### System information (as much as possible)
Joomla 4 Alpha 9

### Additional comments
Extension that works without problem on joomla 3.9
isAdmin() if a function that is used since yea

[2019-04-19 13:07] infograf768 commented on #24626
it is not merged yet. needs one more tester and a decision by @HLeithner

[2019-04-19 13:13] ReLater commented on #15173
Because the issue is still present in J3.9.5 I've created a pr https://github.com/joomla/joomla-cms/pull/24643

Experts should check the code changes there in detail.

[2019-04-19 13:15] franz-wohlkoenig commented on #15173
Closed as having Pull Request.

[2019-04-19 13:24] SharkyKZ commented on #24642
This method has been removed in 4.0. The extension is not compatible with 4.0.

[2019-04-19 13:27] ReLater opened #24644 "[com_fields] Field type media. Wrong default value/path in article edit."
### Steps to reproduce the issue
- Create a custom field for articles of type `Media`
- Select a directory and enter an existing image name inside that directory as Default Value
![19-04-_2019_15-17-13](https://user-images.githubusercontent.com/20780646/56425884-646dd400-62b6-11e9-94e8-cbbafa257b3b.jpg)
- Save the field
- Open an article and see:

![19-04-_2019_15-19-32](https://user-images.github

[2019-04-19 13:28] franz-wohlkoenig commented on #24642
Closed as expected Behaviour.

[2019-04-19 13:28] #24642 closed, assigned to nobody

[2019-04-19 13:41] zero-24 commented on #24642
The new method (that can also be used in 3.x) would be: isClient('administrator') and isClient('site') :)

[2019-04-19 14:12] ReLater commented on #18664
Is this issue still dramatically relevant for Joomla **3**? The module button now inserts `{loadmoduleid 123}` when you click on the title of the module but not the title.

[2019-04-19 14:26] alikon commented on #18664
can be closed indeed

[2019-04-19 14:27] #18664 closed, assigned to nobody

[2019-04-19 16:54] Puneet-Jain-18 opened #24645 "[4.0] Lost responsiveness of menubar of new article"
### Steps to reproduce the issue
go to administrator=>content=>articles=>new=>publish tab
Resize tab to a small width,
The menubar changes according to responsive design

![Screenshot (65)](https://user-images.githubusercontent.com/34083630/56434168-19bd7d80-62f1-11e9-8950-b583a64f49e7.png)

**Reload the screen at the same width**

### Expected result

The page is displayed with similar responsive

[2019-04-19 18:03] ced1870 commented on #24642
lol, wouah what a super backward compatibility ! do you think that it helps in some way to remove such functions ? really ?

[2019-04-20 02:32] durian808 opened #24647 "PHP producing warning in HTMLHelper.php for PHP 7.1"
J3.9.5, PHP7.1.28

The warning produced is:

    Warning: Illegal string offset 'relative' in [redacted]/httpdocs/libraries/src/HTML/HTMLHelper.php on line 626

    Warning: Cannot assign an empty string to a string offset in [redacted]/httpdocs/libraries/src/HTML/HTMLHelper.php on line 626
    (and similar...)

To fix the problem I added the following line at 626:

    if (!is_array($options)) $o

[2019-04-20 03:37] zero-24 commented on #24642
Well 4.0 is about to break some things that is what we all should expect from a new major version.

The mention method has been deprecated in October 2016 https://github.com/joomla/joomla-cms/commit/0fdd1ba6880c6de0e893185ac759fc9101304e78 So at some time old functions need to be removed ;)

But the good thing is that `isClient($identifier)` works with all supported versions and in the end a searc

[2019-04-20 03:38] zero-24 commented on #24647
Hi, can you please send your suggested changes as pull request?

[2019-04-20 03:48] Quy commented on #24647
Duplicate #16174? Which template are you using?

[2019-04-20 06:33] #24509 closed, assigned to nobody

[2019-04-20 07:00] brianteeman commented on #22311
This was resolved in #24022 and can be closed

[2019-04-20 07:01] roland-d commented on #22311
Closed as requested.

[2019-04-20 07:01] #22311 closed, assigned to nobody

[2019-04-20 07:03] brianteeman commented on #20849
See https://github.com/joomla/backend-template/issues/100#issuecomment-483850739

[2019-04-20 07:16] brianteeman commented on #16788
As #21901 has now been merged I assume that it needs to be fixed in other places as well?

[2019-04-20 07:18] brianteeman commented on #20728
I think this should be closed now - with the label change it is more generic and could hopefully be extended to inline content editing etc in the future

[2019-04-20 07:37] brianteeman commented on #24605
is there even a need to have the menutype in the class name?

The menutype exists for the javascript to identify the checkbox and not for any styling. So that can easily and correctly be changed to a data- attribute instead.

As for b/c this is only in the admin ui AND rendered markup is not part of the B/C policy

[2019-04-20 07:44] #20728 closed, assigned to nobody

[2019-04-20 07:44] zero-24 commented on #20849
closing than thanks.

[2019-04-20 07:44] #20849 closed, assigned to nobody

[2019-04-20 07:45] franz-wohlkoenig commented on #20728
Issue can always reopened if needed.

[2019-04-20 08:49] dgrammatiko commented on #24556
@chmst according to my design whenever you fill some inputs and move to the next step the previous part of the form **should** still remain visible, so the user can scroll up and do any changes if that is needed.
The code is also there: https://github.com/joomla/joomla-cms/blob/a50c70ce68a8074d558daa6e95ba51d02eb666d3/installation/template/js/setup.js#L61-L64

Now what probably happened is that th

[2019-04-20 08:50] brianteeman commented on #24605
OR the code could be written exactly the same as the selector in the module assignment

[2019-04-20 09:09] infograf768 commented on #24556
@dgrammatiko
tested your proposed changes to setup.js but this totally breaks the installation. Setup Login Data loads an empty page. I guess it needs more than these changes.

[2019-04-20 09:11] dgrammatiko commented on #24556
@infograf768 define **breaks** please. Is the styling off or it's not functional anymore, these 2 are different things...

[2019-04-20 09:15] infograf768 commented on #24556
There was an error in your proposed patch above.
It works if I delete `document.getElementById('installStep1').classList.remove('active');` not `installStepstep2` ;)
[code]

[2019-04-20 09:22] dgrammatiko commented on #24556
For me the following code works fine:
[code]

[2019-04-20 09:25] ReLater commented on #24645
Confirmed with current nightly build Joomla_4.0.0-alpha9-dev, 20 April 2019 02:00:48 UTC

@franz-wohlkoenig
I think this issue should get a "J4 Backend Template" label (?)

[2019-04-20 09:26] infograf768 commented on #24556
yes, that is what I have done. See above.
Note: it does not let one switch the installation language if you find you started with the wrong one. Maybe that was on purpose.

The other issues (session, etc., need love and care).

[2019-04-20 09:28] dgrammatiko commented on #24556
No, that used to work fine some months ago, so this is a bug. Also the language dropdown in reality is another form unrelated to the rest of the form. So this needs to be properly debuted. Same goes for all the other bugs you've mentioned above

[2019-04-20 09:35] franz-wohlkoenig commented on #24645
thanks @ReLater

[2019-04-20 09:51] ced1870 commented on #24642
"break some things that is what we all should expect from a new major version"

[2019-04-20 09:59] zero-24 commented on #24642
https://semver.org/

Well as cited above this is the standard we (and many other projects) use for versions. And per that definition major's are the place to do incompatible API changes.

Some more details can be found here:
https://docs.joomla.org/Release_and_support_cycle
https://developer.joomla.org/news/586-joomla-development-strategy.html#backward_compatibility

[2019-04-20 10:04] wilsonge commented on #16788
Yup

[2019-04-20 10:05] ced1870 commented on #24642
I know that. In this example, just tell me what is the problem of having a isAdmin function in the code ? this is a shortcut and I don't see what is exactly good in removing this function. Of course this appplies to other functions as well.
I understand that a major version breaks things because we can not do differently, but here is an example of a useless decision. this does not affect the code

[2019-04-20 10:41] zero-24 commented on #24642
Well to me isClient is much more flexibel and also allow new things like $app->isClient('installation'); Details can be found here: https://github.com/joomla/joomla-cms/pull/8971 & https://github.com/joomla/joomla-cms/pull/22492 part of the reasoning was also because we have a new `cli` client with 4.0 and we want to code to work the same in 3.x and 4.x

Well feel free to propose a PR that adds th

[2019-04-20 13:43] mbabker commented on #24642
`isAdmin` and `isSite` were written at a time where Joomla was only conceivably running its core administrator and site applications.  They were never suitable for identifying the installation application, or a highly advanced use case such as the [custom API application in the downloads site](https://github.com/joomla/downloads.joomla.org).  4.0 adds two new applications; API and Console (CLI).

[2019-04-20 14:22] thednp commented on #19643
asd

[2019-04-20 21:24] brianteeman commented on #20099
Can be closed see #24648

[2019-04-20 21:33] #20099 closed, assigned to nobody

[2019-04-21 07:37] twister65 opened #24649 "Banner tracks raise a 500 error [postgresql]"
### Steps to reproduce the issue
Install Joomla with examples. The database must be postgreSQL.
Go to Components->Banners->Banners.
Click Support Joomla! banner.
Click the Banner Details tab.
Select Yes for "Track Impressions" and "Track Clicks".
Go to the example site:
index.php/using-joomla/extensions/modules/display-modules/banner

### Expected result

### Actual result
![banner_tracks](https:/

[2019-04-21 07:46] franz-wohlkoenig commented on #24649
Please post System Information in Comment, thnaks.

[2019-04-21 08:57] kofaysi opened #24650 "In Contacts, line including title and alias is not wrapped, table width is increased instead"
### Steps to reproduce the issue

Create contact with a title of 200+ characters

### Expected result

The Title (Alias) line to be wrapped in /administrator/index.php?option=com_contact view

### Actual result

The Title (alias) line is not wrapped and the table width of the contact list is increased. Columns of Access, Hits, Language and ID are behind the right edge of the screen (scrolling is r

[2019-04-21 09:13] alikon commented on #24649
@twister65
we have made 2 fix for the same issue present on postgresql
we are the only 2 working on postgresql :+1:

[2019-04-21 09:20] pixxelfactory opened #24653 "Media manager plugin does not work in content plugins"
### Steps to reproduce the issue
- Install another media-manager (in our case just install JCE, it comes with a cool media manager)
- Create a content-plugin to add fields to the standard joomla articles (we use repeatable subforms, so we have to use a custom content-plugin)
- Insert a media-field as field inside the subform
- It shows the standard (not so powerful) Joomla-Media manager, where as

[2019-04-21 09:28] brianteeman commented on #24653
This is an issue for JCE to resolve and should be closed here and reported to them directly

[2019-04-21 09:34] franz-wohlkoenig commented on #24649
Closed as having Pull Request #24651

[2019-04-21 09:35] franz-wohlkoenig commented on #24653
Thanks for reporting Issue @pixxelfactory, closed as stated above.

[2019-04-21 09:35] #24653 closed, assigned to nobody

[2019-04-21 09:35] #24649 closed, assigned to nobody

[2019-04-21 09:36] alikon commented on #24649
@franz-wohlkoenig better we have 2 pr #24651, #24652

[2019-04-21 09:37] franz-wohlkoenig commented on #24649
@alikon comment updated by second Pull Request-#

[2019-04-21 09:45] twister65 opened #24655 "the time is not localized (Banners: Tracks)"
### Steps to reproduce the issue
In Components->Banners->Tracks, the hour is not localized.

### Expected result
date with timezone offset

### Actual result
The timezone offset is null.

[2019-04-21 10:28] franz-wohlkoenig commented on #24650
Closed as having Pull Request.

[2019-04-21 10:28] #24650 closed, assigned to nobody

[2019-04-21 11:21] pe7er opened #24657 "Hyphen not allowed anymore in MySQL database name?"
It seems not possible anymore to use a hyphen in a MySQL database name (like "joomla-cms").

### Steps to reproduce the issue
Install Joomla and use a database name with a hyphen in the name, for example joomla-cms

### Expected result
In Joomla 3.x you could use a hyphen in the database name.
I would expect to do the same in Joomla 4.

### Actual result
Trying to use a MySQL database called "joom

[2019-04-21 11:32] brianteeman commented on #24657
This is the relevant line in the code
https://github.com/joomla/joomla-cms/blob/6a360e96a8eab76239c8c0a2a3d8cb364e1b80e0/installation/src/Model/DatabaseModel.php#L183

[2019-04-21 11:32] twister65 commented on #24655
Choose a city in the list to configure the date and time to display:
System -> Global Configuration -> Server -> Location Settings -> Website Time Zone

[2019-04-21 11:32] #24655 closed, assigned to nobody

[2019-04-21 11:36] pe7er commented on #24657
PR: https://github.com/joomla/joomla-cms/pull/24658

[2019-04-21 11:37] franz-wohlkoenig commented on #24657
Closed as having Pull Request.

[2019-04-21 11:37] #24657 closed, assigned to nobody

[2019-04-21 12:11] richard67 opened #24659 "[4.0] Fontawesome icons broken on installation pages"
### Steps to reproduce the issue

Checkout latest 4.0-dev (after merge of PR #24648 ), do a `composer install` and an `npm install`, and then run a new installation.

### Expected result

Installation pages show Fontawesome icons.

### Actual result

Installation pages don't show Fontawesome icons, see red marks in following screenshots:

![screen shot 2019-04-21 at 12 10 48](https://issues.joomla

[2019-04-21 12:13] richard67 commented on #24659
@brianteeman Can you check this? Can you reproduce?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24659">issues.joomla.org/tracker/joomla-cms/24659</a>.</sub>

[2019-04-21 12:30] richard67 commented on #24659
I think I found the reason. Am preparing a PR for it.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24659">issues.joomla.org/tracker/joomla-cms/24659</a>.</sub>

[2019-04-21 12:42] franz-wohlkoenig commented on #24659
Closed as having Pull Request.

[2019-04-21 12:42] #24659 closed, assigned to nobody

[2019-04-21 14:22] richard67 commented on #24600
@Gnevyshev Well I just asked for details about your requirements in order to make your issue more clear to other readers. But that does not mean that I would like to implement it. In fact I am ok with com_redirect as it is. Stuff where I need regular expressions and wildcards I do in .htaccess file.

[2019-04-21 14:41] brianteeman opened #24662 "[4.0] Media Manager image edits background"
When editing an image with the media manager only one of the tools has a background which is essential when working with transparent or white images.

![image](https://user-images.githubusercontent.com/1296369/56471547-bf84ff80-644b-11e9-8724-59792a3979c4.png)

![image](https://user-images.githubusercontent.com/1296369/56471552-cb70c180-644b-11e9-8a6c-105792144f70.png)

![image](https://user-image

[2019-04-21 16:21] neiljames opened #24666 "[4.0] TinyMCE add link"
### Steps to reproduce the issue
Highlight text inside the article to add a menu link to point towards an exisiting internal menu link, click the link button and there is no selection choice. However if I highlight text and click the cms button I get the option to choose.

### Expected result

When I click the tinyMce link button I expected to be given a  choice of internal Menu/Article items to l

[2019-04-21 16:27] neiljames opened #24667 "Click Version Tab from Article page Screen Freezes"
### Steps to reproduce the issue
From article page click the version button

### Expected result
Pop up page for me to access the recent versions

### Actual result

Pop up page appears shaded grey and freezes, The versions/close button/top right cross do not respond to a mouse click. The only way to exit this is to use the browser back button

### System information (as much as possible)

Localho

[2019-04-21 16:28] brianteeman commented on #24667
known issue with modals

[2019-04-21 16:29] franz-wohlkoenig commented on #24667
closed as known Issue.

[2019-04-21 16:29] #24667 closed, assigned to nobody

[2019-04-21 18:38] bembelimen commented on #24495
I'm working on it!

[2019-04-21 18:41] bembelimen commented on #24497
@wilsonge let's talk here in the sprint, probably it's solved in the backend template already?

[2019-04-21 18:51] bembelimen commented on #24500
![breadcrumb](https://user-images.githubusercontent.com/1229869/56474228-2ec41900-6477-11e9-8634-7ae590d77133.png)

[2019-04-21 20:04] brianteeman commented on #23888
Looks like the problem with the fields identified in the original post is that they are all joomla-field-fancy-select

[2019-04-21 21:40] durian808 commented on #24647
@Quy, it doesn't matter what template, it's in the Joomla core:  libraries/src/HTML/HTMLHelper.php.

It appears this issue has cropped up specifically because of the way PHP 7.1 handles array parameters to functions.  Here is an example, from HTMLHelper.php:

`public static function stylesheet( $file, $options = array(), $attribs = array() )`

PHP 7.1 throws a warning since $options may not be pas

[2019-04-22 04:38] franz-wohlkoenig commented on #24666
@bembelimen is this resolved by #24110?

[2019-04-22 08:15] brianteeman commented on #24666
@franz-wohlkoenig No it is a different issue. Add link is a tinymmce feature that is not aware of joomla. The cmsactions link is a joomla plugin that is aware of joomla

[2019-04-22 08:15] HLeithner commented on #24600
I would like to see this in j4, that could make com_redirect useful for me.

[2019-04-22 08:25] HLeithner commented on #24605
@brianteeman can you create a pr for this? I would suggest do the same as in module assignment

[2019-04-22 08:44] franz-wohlkoenig commented on #24666
thanks @brianteeman, so clsoing as no core-issue?

[2019-04-22 09:12] AndyGaskell commented on #24666
If I understand this right, it sounds like perhaps a UX issue.  In the sense that it is a separate flow to create a link to an external URL, or an internal URL.  This being, perhaps sub optimal that the user needs to understand this difference at the start of the "Add a link to an article" work flow.

@neiljames does that sound like what you were thinking?

Click on TinyMCE link button...
![TinyMC

[2019-04-22 09:23] alikon commented on #16788
for com_contacts  #24675

[2019-04-22 10:09] ghazal opened #24676 "[4.0] Notices on libraries/src/Component/Router/Rules/StandardRules.php"
Notices keep showing up on front-end, sample data installed
Undefined index: login in libraries/src/Component/Router/Rules/StandardRules.php on line 209
Trying to get property 'key' of non-object in libraries/src/Component/Router/Rules/StandardRules.php on line 211

### System information (as much as possible)
PHP 7.2.5
Last build (Monday, 22 April)
Installed via CLI, Composer and NPM included ->

[2019-04-22 10:24] ghazal opened #24678 "[4.0] Global Configuration is behaving erratically"
For a while, it's been difficult to save my Settings in Global Configuration.
For example:
Default List Limit
Session Lifetime
Error Reporting
I have to click on Save, or Save and Close several times to get these Settings saved properly.

### System information (as much as possible)
 PHP 7.2.5
Last build (Monday, 22 April)
Installed via CLI, Composer and NPM included

[2019-04-22 10:25] alikon commented on #24678
can you specify if is 3.x or 4.x please

[2019-04-22 11:28] twister65 opened #24679 "Delete Banners Tracks raises an error [PostgreSQL]"
### Steps to reproduce the issue
Generate banner tracks with impression and click.
Go to Components -> Banners -> Tracks.
Click the Delete Tracks button.

### Expected result
All tracks are deleted.

### Actual result
![delete_tracks](https://user-images.githubusercontent.com/26852967/56498388-b9e9f100-6501-11e9-873f-2139591156c4.png)

### System information (as much as possible)
php: Linux pc-sal

[2019-04-22 11:34] Gnevyshev commented on #24600
@richard67
Earlier I used to use .htaccess too.
But when many thousand lines accumulated in it, then it stopped working )
But php processing copes well with this.
Therefore, I began to use com_redirect.
And it would be even more useful if it could use regular expressions.

[2019-04-22 11:34] richard67 commented on #24679
Or maybe better by `$where = '1 = 1';`

[2019-04-22 11:35] neiljames commented on #24666
There seems to be a definite split between the add link or use the cms for internal linking, the tinyMce link allows you to add the following - Text to Display - Title - Rel - Open Link in, which is more advanced. When I use the cms button I have to add the items listed by coding them directly.
To me using the cms button causes a far more complex way of adding the full contents of the anchor tag,

[2019-04-22 11:44] richard67 commented on #24679
It's a good question if we have the same mistake elswhere in code.

[2019-04-22 11:47] twister65 commented on #24679
https://github.com/joomla/joomla-cms/blob/314c3bcc0b21bd5fdd88113286435b06b19bab3f/administrator/components/com_finder/models/maps.php#L402

[2019-04-22 11:49] richard67 commented on #24679
It seems those 2 are the only ones I can find, too. Question is how could we test the 2nd one?

[2019-04-22 11:49] richard67 commented on #24679
And who will make the PR? If you want I can do it.

[2019-04-22 11:59] twister65 commented on #24679
Good question: How to to purge all maps from the taxonomy ?
Yes, you can make the PR if you want.
Thanks.

[2019-04-22 12:01] richard67 commented on #24679
@twister65 Please test PR #24682 .

For the other place I make other PR to be tested by code review, since where clause is not necessary there at all.

[2019-04-22 12:04] franz-wohlkoenig commented on #24679
Closed as having Pull Request.

[2019-04-22 12:04] #24679 closed, assigned to nobody

[2019-04-22 12:11] mbabker commented on #24647
Actually, yes, it does matter.  It's not core's responsibility to handle undocumented parameter types in every function.  If a developer is not passing the right parameter types into methods, there should correctly be warnings and/or errors emitted, the code shouldn't be silently absorbing those and coercing someone's broken input into something that can generate a valid output.  The second parame

[2019-04-22 12:17] richard67 commented on #24679
@twister65 Other PR is #24683 , please test, too, if possible.

[2019-04-22 13:17] twister65 opened #24688 "Submit an article raises an error [PosgreSQL (PDO)]"
### Steps to reproduce the issue
Log on to the site.
Click the "Submit an article" link.
Fill the title field.
Click the Save button.

### Expected result
The new article has been submitted without error.
![sub_art_ok](https://user-images.githubusercontent.com/26852967/56502408-7d72c100-6512-11e9-87f2-59797e0c310c.png)

### Actual result
The new article has been submitted with an error.
![submit_a

[2019-04-22 13:43] neiljames opened #24689 "Media Folder"
### Steps to reproduce the issue

Click the folder containing images inside the media manager

### Expected result

The folder to open and show/upload images inside the folder

### Actual result

Nothing happens, you have to go to the image tree to access the images inside the folder or upload images

### System information (as much as possible)

localhost wammp 3.1.7 64 bit

### Additional commen

[2019-04-22 13:49] Quy commented on #24689
Be sure to double click the folder.

[2019-04-22 13:50] neiljames commented on #24689
Double click works, sorry<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24689">issues.joomla.org/tracker/joomla-cms/24689</a>.</sub>

[2019-04-22 13:53] #24689 closed, assigned to nobody

[2019-04-22 14:01] richard67 commented on #24688
I could not reproduce this with current staging and PosgreSQL (PDO).

[2019-04-22 14:18] #24688 closed, assigned to nobody

[2019-04-22 18:11] chetanmadaan opened #24692 "[4.0] WordPress like URL editor"
### Is your feature request related to a problem? Please describe.
N/A.
### Describe the solution you'd like
Just thinking out loud here, I think it would be very useful to give the user a URL editor (like wordpress), where while editing the article, they can see what the URL would be on the frontend and even edit it (if menu alias is being changed, user can be given a popup for confirmation).

I

[2019-04-22 18:20] brianteeman commented on #24692
Joomla is not Wordpress

[2019-04-22 18:22] HLeithner commented on #24692
Would be possible with the new route helper.

[2019-04-22 18:38] Bakual commented on #24692
Displaying the expected URL should actually be quite simple in J4. As Harald wrote with the new Router we have a single "correct" URL for a given item.

However editing anything beside the current item alias could become quite tricky as each part of the URL would have to be identified somehow as to where it comes from (menuitem path, category path).
Any change in that path would have impacts on ot

[2019-04-22 18:41] brianteeman commented on #24692
Displaying the URL is very different to editing the URL. Unlike WordPress a url does not have to be to a single item.

[2019-04-22 19:02] HLeithner commented on #24692
In wordpress you can change the "alias" of the blog entry, so its more or less the same as our alias iirc.

So displaying the baseurl + the alias would be possible but would not work with a direct linked menu item als Thomas described

[2019-04-22 19:05] random332 opened #24693 "No error message when showing already existing e-mail"
### Steps to reproduce the issue
Register a user with the same adress than an existing user

### Expected result
Error message to show.

### Actual result
The page is reloaded and field emptied without error message in default template.
The error message is only shown when the user registers successfuly :
![error joomla](https://user-images.githubusercontent.com/49867929/56519251-e6256200-6541-11e

[2019-04-22 19:17] chetanmadaan commented on #24692
I agree Brain and I am not trying to make Joomla work like WordPress. I just have a hard time explaining my clients the links for items that are either not linked to a menu item or linked to a hidden menu item.

[2019-04-22 19:21] chetanmadaan commented on #24692
even if we can only display the URL to the and not have the editing ability just the job and for editing we can point the users to menu items and stuff. May be? May be not?

[2019-04-22 20:07] brianteeman commented on #24692
You are forgetting that you don't always know what the full url will be when you create an article because you haven't created a suitable menu item yet.

[2019-04-22 20:07] brianteeman commented on #24692
No it is very different

[2019-04-22 20:21] durian808 commented on #24647
@mbabker ...

Well, it's a choice of the Joomla developers for functions to not check parameters and return error codes.  In my opinion, it shouldn't be left to various PHP versions to emit warnings or not.

I actually wrote some test code last night to try to prove what was happening in JHtml::stylesheet() and couldn't reproduce the failure, which is strange in itself.  I couldn't get PHP 7.1 to

[2019-04-22 20:25] Bakual commented on #24692
We can only ever show the currently expected URL. If the user creates a new menuitem afterwards for that article (or its category), then of course the displayed URL would be different next time that article form is loaded.
I think just displaying the URL is an interesting idea. Editing it not so much.

[2019-04-22 20:29] random332 opened #24694 "Action log module not visible for non-superusers"
### Steps to reproduce the issue
Publish Administrator module "latest action logs" in cpanel position
Have the module to have special permission.

### Expected result
Visibility of the module in cpannel for non-superusers

### Actual result
The module is not present in cpannel except if you are a superuser.

### System information (as much as possible)
Joomla 3.9.5

### Additional comments
Logged-

[2019-04-22 20:54] HLeithner commented on #24692
Would you like to explain this? My test on a wordpress sites gives me the feeling thats something similar.

[2019-04-22 21:03] brianteeman commented on #24692
They are what wp calls permalinks https://codex.wordpress.org/Using_Permalinks

[2019-04-22 21:19] brianteeman commented on #24694
This is by design - see https://github.com/joomla/joomla-cms/issues/22922#issuecomment-435500828

[2019-04-22 21:25] mbabker commented on #24647
[code]

That should be all you need, the key is in passing a non-array as the second parameter.

Littering everything with `assert(is_array($foo));` is going a bit far.  Can't force everyone to follow the documented contract without major B/C breaks at this point (because I'm in the camp that everything should be strictly typehinted, and without a PHP 7.2 minimum adding typehints is a huge B/C bre

[2019-04-22 21:37] durian808 commented on #24647
I'm not suggesting that core API functions emit errors, I'm suggesting they return error codes – but this may not be how Joomla developers decided to write all the code.  If they did, then a) PHP wouldn't emit errors in core functions, and b) extension devs could check return codes and make their code better.  This would place the responsibility on extension devs, rather than on Joomla devs or web

[2019-04-22 21:45] mbabker commented on #24647
You can't return error codes, PHP doesn't work that way (well, you can return Exception objects, but who's really writing error handling code to deal with that; core didn't for the longest time and still doesn't do error handling in a lot of places).  You either throw an Exception or you emit an error (either the PHP engine can do it or you can do it yourself with `trigger_error()`).  There should

[2019-04-22 21:55] chetanmadaan commented on #24692
I agree, even if we can can just show the URL (Like I said in the original post), that'd be more than enough for the end user,
Right now, the user (the client) (who naive enough), doesn't even know what the URL looks like or is going to be on the frontend, unless it's linked on a menu item which is actively showing up on the frontend.

Thanks,
Chetan

[2019-04-22 22:08] durian808 commented on #24647
PHP can't return error codes?!  The typical way to handle this is for the function to return false or null if there was an error.  If there's more than one kind of possible error, then the error code (number or string) can be passed in a pass-by-reference parameter; example:

[code]

In my opinion, all Joomla API functions should be coded this way, in order to be robust for interfacing to the wild

[2019-04-22 22:24] mbabker commented on #24647
That is crap for debugging.  All you have is an error message, how do you determine where it comes from?  `error_get_last()` is useless, you didn't trigger an error.  A try/catch block is useless, you didn't throw an Exception.  A lot of developers do not do any form of error handling, including a cursory review of their log files (assuming they've even enabled logging to them), so a core API with

[2019-04-22 22:35] durian808 commented on #24647
No, no.  The API is well documented and the extension developer needs to follow exactly the parameters that are documented for each function.  If they don't, their code will be poorly written.  It's that simple.  This is the best way to insure that the developer writes good code.  Joomla core functions causing PHP warnings or errors is a poor design in my opinion.

[2019-04-22 22:43] chetanmadaan opened #24697 "[4.0] Unable to save Article with Emoji in it"
### Steps to reproduce the issue
Create an article, add Emoji from Toolbar, try to save it.

### Expected result
Should save the emoji and display on frontend.

### Actual result
`Save failed with the following error: Incorrect string value: '\xF0\x9F\x94\xA2`
![image](https://user-images.githubusercontent.com/3968575/56537318-3bf00f00-652e-11e9-8d90-2004ffa6ade7.png)

### System information (as m

[2019-04-22 22:49] mbabker commented on #24647
It just does not work that way.  If you don't let a PHP error or warning be emitted, or you do not throw an Exception, you have a non-debuggable error condition.  Having `if (!is_array($options)) { return Joomla\CMS\Error::INVALID_ARGUMENT; }` results in the actual code error being absorbed inside this "error code" and does absolutely nothing to signal that there is broken code.  That makes this a

[2019-04-22 22:59] durian808 commented on #24647
Make it mandatory that the code calling API functions must throw an exception if the function returns an error.  It would be relatively easy to locate code in an extension that is not following this rule, so the first debugging step is to verify that the developer followed the rules.  Now Joomla's API functions will not produce PHP errors or warnings in any situation, because parameter checking ha

[2019-04-22 23:14] mbabker commented on #24647
Imagine this scenario:

[code]

It has two basic problems:

1) It relies on the code which generated the error in the first place to raise an error
2) It still obscures the real error and the error context you do get from this scenario is not the actual error context

If you want to fix this issue, then either put `error_reporting(0);` into your code and ignore it or disable error reporting in you

[2019-04-23 00:02] durian808 commented on #24647
Yes, the code that generated the error is responsible for the error, not Joomla core.  In my opinion, Joomla core throwing PHP errors is not acceptable and doesn't look good for Joomla when someone views a website and sees a block of PHP errors coming from Joomla code.

The extension developer needs to follow some basic rules in order to write good code for use with Joomla, just like they need to

[2019-04-23 04:38] infograf768 commented on #24666
This is not a core issue. Joomla uses TinyMCE as default editor and therefore its functionalities as they are provided by this 3rd party extension.
The main reason to touch as less as possible to 3rd party libraries in Joomla is a matter of maintenance.
Our plugins hooks into Tiny as they hook into other editors like CodeMirror, NoEditor or others.

One is free to use the third party JCE extension

[2019-04-23 04:38] #24666 closed, assigned to nobody

[2019-04-23 05:00] infograf768 commented on #24693
Can't reproduce in 3.9.5.

<img width="1035" alt="Screen Shot 2019-04-23 at 06 58 14" src="https://user-images.githubusercontent.com/869724/56555436-3843a300-6595-11e9-89f1-06e178ac4361.png">

The correct string in fr-FR is
`JLIB_DATABASE_ERROR_EMAIL_INUSE="Cette adresse e-mail est déjà utilisée. Merci d'utiliser une autre adresse e-mail."`
Therefore the message you get is not provided by the Fren

[2019-04-23 05:30] franz-wohlkoenig commented on #24693
@random332 please update on latest Version, closing as unconfirmed Report. You can always reopen if needed.

[2019-04-23 05:30] #24693 closed, assigned to nobody

[2019-04-23 05:32] franz-wohlkoenig commented on #24694
Closed as expected behaviour. Thanks for reporting @random332.

[2019-04-23 05:32] #24694 closed, assigned to nobody

[2019-04-23 05:54] franz-wohlkoenig commented on #24697
related #7803?

[2019-04-23 06:16] brianteeman commented on #24697
@franz-wohlkoenig no

[2019-04-23 06:19] brianteeman commented on #24697
It works in Joomla 3 :(

[2019-04-23 07:17] SharkyKZ commented on #24575
Test PR #24698 please.

[2019-04-23 08:00] SharkyKZ commented on #24678
If you have OPCache enabled, see if #21949 helps. It hasn't been merged into 4.0 yet.

[2019-04-23 08:21] infograf768 commented on #24697
Maybe this would help:
https://stackoverflow.com/questions/10957238/incorrect-string-value-when-trying-to-insert-utf-8-into-mysql-via-jdbc

[2019-04-23 08:34] brianteeman commented on #24697
No its nothing to do with anything there. Inserting an emoji in the article title works perfectly when done directly in the database. It is an issue somewhere with the joomla validation code

[2019-04-23 08:34] infograf768 commented on #24697
I modified here introtext and fulltext types from `Medium Type` to `blob` and I don't get the error.
@alikon ?

[2019-04-23 08:39] brianteeman commented on #24697
I repeat - it is nothing to do with the mysql field type as you can successfully insert the multibyte character directly in the database AND it worked in joomla 3 with the same mysql settings

[2019-04-23 08:57] Bakual commented on #24697
@brianteeman Just to understand: When you say "directly in the database" you use the CLI or a PHP based tool like phpMyAdmin? The latter would be closer to what Joomla does (using PHP).
It may be that both of you are right, after all 😄

[2019-04-23 08:59] brianteeman commented on #24697
I mean directly in the database not via php with heidisql or sequel pro

[2019-04-23 09:05] franz-wohlkoenig commented on #24678
I get the reported Issue also sometimes but guessed it is a Sideeffect of Updating Nightly on Nightly (no Cache, using Defaultvalues).
### System information
Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 nr.1 SMP Mon Dec 17 12:02:35 EST 2018 x86_64
Database Type | mysql
Database Version | 5.7.24-cll-lve
Database Collation | utf8_general

[2019-04-23 09:56] ghazal commented on #24678
@franz-wohlkoenig
generally, I don't update via Nightly. I install a new batch via CLI  if I want to write about a new issue.

@SharkyKZ
Re PR #21949
It looks like this works.
[code]

I inserted it manually because since this PR, the name and path of the file had changed and became:
/administrator/components/com_config/Model/ApplicationModel.php
instead of:
administrator/components/com_config/mode

[2019-04-23 10:00] franz-wohlkoenig commented on #24678
@ghazal i'm waiting on Beta where Night-Updates on Nightly should work.

[2019-04-23 11:28] wilsonge commented on #24697
The only thing I'm aware that changed related to that was https://github.com/joomla/joomla-cms/pull/22035

[2019-04-23 11:42] Samia-boukenna commented on #15378
n

[2019-04-23 13:19] 810 opened #24703 "[4.0] Cache Warning: call_user_func_array() expects parameter 1 to be a valid callback"
### Steps to reproduce the issue

Install J4
Install Kunena 6.0 alpha 2
Setup Kunena
Go to frontend - forum - help

### Expected result

No error

### Actual result

Warning: call_user_func_array() expects parameter 1 to be a valid callback, class 'Joomla\CMS\Cache\Cache' does not have a method 'call' in C:\wamp\www\j4\libraries\src\Cache\CacheController.php on line 74

### System information (as

[2019-04-23 13:38] infograf768 commented on #24626
@dfrassi
Have you tested the patch?

[2019-04-23 13:44] chetanmadaan commented on #24697
Please let me know if any of you would like any additional information or would like me to test anything?

I also went ahead and changed the driver from Mysqli to Mysql (PDO) and now the system info reads the following info as well.

Database Collation | Database Connection Collation
-- | --
utf8mb4_unicode_ci | utf8_general_ci

[2019-04-23 14:18] wilsonge commented on #24697
Aha that was the hint i needed. Try https://github.com/joomla/joomla-cms/pull/24704

[2019-04-23 14:19] franz-wohlkoenig commented on #24697
Closed as having Pull Request.

[2019-04-23 14:19] #24697 closed, assigned to nobody

[2019-04-23 14:22] infograf768 commented on #24697
@wilsonge
Your patch does not work here (mysqli);

[2019-04-23 15:07] chetanmadaan commented on #24697
didn't work for me either.

[2019-04-23 15:08] franz-wohlkoenig commented on #24697
@chetanmadaan can you please comment on #24704

[2019-04-23 15:10] chetanmadaan commented on #24697
Just did.

[2019-04-23 15:13] mbabker commented on #24703
Please provide a stack trace and some more info (i.e. what's actually calling the cache API in Kunena), there isn't a `Joomla\CMS\Cache\Cache::call()` method in 3.9 or 4.0.

You might be trying to use the deprecated `Joomla\CMS\Cache\Controller\CallbackController::call()`, which is removed in 4.0 in favor of `Joomla\CMS\Cache\Controller\CallbackController::get()`.

[2019-04-23 15:26] 810 commented on #24703
I Load it by:
[code]

[2019-04-23 15:32] mbabker commented on #24703
Yeah, that's the deprecated bit.  Change it to `$cache->get(array('KunenaHtmlParser', 'parseBBCode'), $body)`.

[2019-04-23 15:37] 810 commented on #24703
Too few arguments to function KunenaHtmlParser::parseBBCode(), 0 passed and at least 1 expected
[code]

[2019-04-23 15:46] mbabker commented on #24703
Oh, the second param has to be an array.  So `$cache->get(array('KunenaHtmlParser', 'parseBBCode'), array($body))`.  From the looks of things, `$cache->call()` was just a shortcut method that would turn all the arguments after the callback into an array for you.

[2019-04-23 15:48] 810 commented on #24703
Ok thnx.

[2019-04-23 15:48] #24703 closed, assigned to nobody

[2019-04-23 16:22] widmann-it opened #24707 "PHP Mail not Work at Joomla"
### Steps to reproduce the issue
After the change from PHP 7.2.x to PHP 7.3.1x the mail dispatch does not work anymore.

### Expected result
Sending the email should be done

### Actual result
Email will not be sent, error message from Joomla that the mail was not sent

### System information (as much as possible)
The error can be simulated on various different systems.

### Additional comments
Th

[2019-04-23 17:02] franz-wohlkoenig commented on #24678
Closed as having Pull Request.

[2019-04-23 17:02] #24678 closed, assigned to nobody

[2019-04-23 18:16] Puneet-Jain-18 opened #24710 "[4.0] no way to remove warning messages in system/warning"
### Steps to reproduce the issue
Go to administrator/system/warnings

### Expected result
Warnings are displayed with an icon at top of each warning to close it.

### Actual result

No possible way to close a warning

![Screenshot (66)](https://user-images.githubusercontent.com/34083630/56605455-d5e4b400-6621-11e9-92fc-6cd92e0dcaee.png)

### System information (as much as possible)

Joomla! 4.0.0-

[2019-04-23 18:39] ReLater commented on #24707
Because I can't reproduce this issue (J3.9.5, PHP7.3) with `PHP-Mail` or `SMTP` (SSL/TLS; Authentication) settings and feature `Send Test Mail` on 3 test sites: Could you please provide more system informations and testing instructions?

[2019-04-23 20:50] Quy commented on #24710
What would be the point of closing the warning?

[2019-04-23 21:10] creative-resort commented on #23663
Amazing! Thank you!
This is how it's supposed to work. Very quick, now.

[2019-04-23 22:56] brianteeman commented on #24710
please close as expected behaviour

[2019-04-23 22:57] brianteeman commented on #24605
sorry i dont have time to do anything on j3

[2019-04-23 23:03] #24710 closed, assigned to nobody

[2019-04-23 23:40] loureirorg commented on #19189
Same issue:
* Joomla!: 3.9.3
* PHP 7.1.28-1
* Memcached: 3.1.3 (connected through unix socket)
* OS: Ubuntu 16.04.1

**Messages:**
**Warning:** session_start(): Unable to clear session lock record in /var/www/mysite/staging/libraries/joomla/session/handler/native.php on line 260
**Warning:** session_start(): Failed to read session data: memcached (path: /tmp/memcached.sock:11211) in /var/www/mysit

[2019-04-24 02:44] Puneet-Jain-18 commented on #24710
Actually what I thought was, even after visiting the page the warnings are displayed as the notification here
![Screenshot (67)](https://user-images.githubusercontent.com/34083630/56628483-9b9e0580-6667-11e9-907b-872c8f00e66d.png)

So if a new warning is generated at a later point of time, it might not attract the user's attention.

Also, User could decide which warnings are necessary and need to

[2019-04-24 04:38] franz-wohlkoenig commented on #19189
@loureirorg please update on latest Version.

[2019-04-24 05:30] widmann-it commented on #24707
The problem can be limited to one PHP problem, because several installations are affected. As soon as PHP 7.3 is used, the mail dispatch does not work anymore. If you switch back to 7.1 or 7.2, sending the mail works without problems. It occurs with all variants of the mail dispatch! (Sendmail, SMTP)

[2019-04-24 07:58] HLeithner commented on #23663
@creative-resort thx for your feedback.

[2019-04-24 08:21] HLeithner commented on #19189
@loureirorg could you please create a new issue because your report is unrelated to the original issue, also I think the reason is because we are unable to connect to UDS, I create a PR https://github.com/joomla/joomla-cms/pull/24073 that is not tested so it can't be merged.

Please test the PR and mark it as successful so we can merge it into Joomla.

[2019-04-24 08:23] brianteeman commented on #24710
The only correct way to remove the warning is to resolve the issue you are being warned about.

[2019-04-24 10:10] pe7er commented on #24459
I was also a bit confused about installing sample content:
the progress bar is animated, and keeps "moving" even after the installation has been completed.
[code]

Can't we remove the "progress-bar-animated" part with JavaScript after the installation has been finished?

[2019-04-24 10:11] brianteeman commented on #24459
better yet - remove the animated part completely as it fails a11y reduced-motion tests

[2019-04-24 11:59] Quy commented on #24707
Please search Joomla Forums. Here are some threads regarding this issue:

https://forum.joomla.org/viewtopic.php?f=706&t=970270
https://forum.joomla.org/viewtopic.php?f=706&t=968659

[2019-04-24 12:10] AnitaLund opened #24719 "[4.0] Viewing privacy policy from new user profile form does not work if require password reset is enabled"
### Steps to reproduce the issue

1. Enable the System - Privacy Consent plugin and select a specific Privacy Article.

2. Manually create a new user and enable Require Password Reset.

3. Log in as this new user and you should be taken to the user profile form.

4. Try to view the Privacy Article by clicking on the Privacy Policy link in the user profile form. The modal window will show the user

[2019-04-24 12:13] widmann-it commented on #24707
I am familiar with the two issues, but they do not solve the problem. Since the error occurs with different systems it is to be assumed that this is an error within PHP. In the parallel discussion in the Glip Channel D_A_CH to this problem different approaches were already mentioned.

Global sending of emails disabled - no
Switching the sending methods - sendmail to SMTP etc. without success.
Seve

[2019-04-24 13:09] 810 opened #24721 "[4.0] Menu item not enabled on view"
### Steps to reproduce the issue

Install kunena 6.1 alpha 2
Go to menu - mainmenu

### Expected result

When clicking on publish item, the icon should be green.

### Actual result

The view said the item is unpublished, but when you open the menu item, you will see its published.

![image](https://user-images.githubusercontent.com/876623/56661765-b346af80-66a2-11e9-9177-3a768d265b2d.png)

### Sys

[2019-04-24 14:11] smehrbrodt commented on #24539
I also ran into problems with this security fix. I also have my images directory symlinked since I share it with multiple websites.

This fix works great, and really improves things. Can we include it in 3.9.6?
I understand it doesn't fix all cases, but why not have it if it at least improves some of the cases?

[2019-04-24 14:18] franz-wohlkoenig commented on #24539
@smehrbrodt there is no Pull Request > no 2 successfully tests > no merge.

[2019-04-24 14:26] smehrbrodt commented on #24539
@mbabker as you are the patch author, would you mind submitting a pull request? Or should I do that?

[2019-04-24 14:39] mbabker commented on #24539
Feel free to send the PR.  I was just offering a quick fix for the most basic problem.  Doesn't fix every potential use case but it's still better than what's there now.

[2019-04-24 15:00] infograf768 commented on #24719
@mbabker

[2019-04-24 15:09] mbabker commented on #24719
TBH I don't know if there's a fix for this without shoving in a new plugin event.  The password reset required redirect is done inside [a helper method](https://github.com/joomla/joomla-cms/blob/44f518e4ada49a998ed06a748222e7264f94ea1a/libraries/src/Application/CMSApplication.php#L233) in the application classes that is based on a whitelisted set of components, layouts, and tasks.  Putting the log

[2019-04-24 15:26] franz-wohlkoenig commented on #24539
Closed as having Pull Request.

[2019-04-24 15:32] HLeithner commented on #24539
The PR doesn't solve this problem completely.

[2019-04-24 16:15] ReLater commented on #24719
Just a very nasty-hasty workaround, the basic idea and not more, that we use for two Joomla 3 sites at the moment with many new users that have to reset their password.
An override of com_users/profile/edit.php.
All I do is hiding the original label of the privacy field when requireReset is active for a user
and replacing it with a link to a static HTML page that is located on another domain.
Coul

[2019-04-24 19:07] brettdelmage commented on #24616
Thanks, I am new to this so overlooked that.

As I reported, the System version is _irrelevant_, otherwise I would have included it. Thanks.

[2019-04-24 23:20] chetanmadaan commented on #24721
Hi,

I tested and wasn't able to reproduce on default Joomla install. My best guess it has something to do with Kunena, which we shouldn't be worried about.

Thanks,
Chetan

[2019-04-24 23:22] chetanmadaan commented on #24662
I was able to reproduce this as well.

[2019-04-24 23:27] 810 commented on #24721
Its a joomla issue.
Please create a Menu Item Alias on mainmenu, then you will see the issue.

[2019-04-25 01:02] chetanmadaan commented on #24721
Hello,

My bad, I thought you said Kunena so it must have something to do with Kunena. I'll check again.

[2019-04-25 04:13] franz-wohlkoenig commented on #24707
Closed as having Pull Request.

[2019-04-25 04:13] #24707 closed, assigned to nobody

[2019-04-25 09:28] AnitaLund commented on #24719
Many thanks for the replies. I understand this is not an easy fix and will work around the issue until 4.0<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24719">issues.joomla.org/tracker/joomla-cms/24719</a>.</sub>

[2019-04-25 09:30] franz-wohlkoenig commented on #24719
Changed Issue for J4.

[2019-04-25 13:17] SharkyKZ commented on #24719
Some possible workarounds for 3.x, done in the Privacy Consent plugin:

1) Disable privacy checkbox if password reset is required. The user would have to edit the profile twice. First to reset the password and then to provide consent.

2) Disable password reset requirement while on privacy article page. But maybe this would be a security risk,

[2019-04-25 13:21] mbabker commented on #24719
Disable password reset requirement while on privacy article page. But maybe this would be a security risk

That's the bit that requires the plugin event unless you're going to hardcode the core plugin that manages that privacy policy bit into the application class, which goes against the design of com_privacy (intentionally the policy article is managed at the plugin level to not force it to be in

[2019-04-25 14:06] 810 opened #24727 "[4.0] Notice: Trying to get property 'stage_id' of non-object"
### Steps to reproduce the issue
Open new article on backend.

### Expected result

no notice

### Actual result

Notice: Trying to get property 'stage_id' of non-object in C:\wamp\www\j4\administrator\components\com_content\Model\ArticleModel.php on line 602

### System information (as much as possible)

### Additional comments

[2019-04-25 14:56] HLeithner commented on #9010
base parameter is broken and should be fixed. Base path should be the base url of the cms and not the current url.

We have the SEF plugin that tries to fix this with many regex replace voodoo.

[2019-04-25 14:59] HLeithner commented on #23568
if @caru80 would be so kind and write a PR we could test it and merge it

[2019-04-25 16:06] chetanmadaan commented on #24721
It's working just fine. Can't reproduce this.
![2019-04-25_12-03-05](https://user-images.githubusercontent.com/3968575/56750776-7fc35e00-6752-11e9-8ff1-9cbaa19a5106.gif)

[2019-04-25 18:01] brianteeman opened #24728 "Semver j3"
What is the point in saying joomla follows semantic versioning when it is only selectively applied.

### Expected result
No new features in a patch release

### Actual result

Depends on the whim of the committer

3.9.5 and now 3.9.6 have new features.

### Additional comments

[2019-04-25 20:34] HLeithner commented on #24560
It's a feature request and would be j4 related, maybe @orware could help building a PR for J4.

@wilsonge would you have a look?

[2019-04-25 20:54] ReLater commented on #23568
The reason is the same like in field itemlist. It extends `FieldsListPlugin`.

https://github.com/joomla/joomla-cms/blob/staging/plugins/fields/sql/sql.php#L19

Thus the validation runs through `OptionsRule.php` without options. ==> always false

See https://github.com/joomla/joomla-cms/pull/24643

I've opened it just because the original issue https://github.com/joomla/joomla-cms/issues/15173 is

[2019-04-26 04:20] franz-wohlkoenig commented on #23568
@laoneo ?

[2019-04-26 07:14] dfrassi commented on #24626
not yet, please can you send me the patched article.php file?

[2019-04-26 07:16] franz-wohlkoenig commented on #24626
@dfrassi how to test > https://docs.joomla.org/Testing_Joomla!_patches

[2019-04-26 07:39] dfrassi commented on #24626
Ok, i have installed the jtester component, what patch i have to apply?

![jtester](https://user-images.githubusercontent.com/897854/56791323-16515700-6807-11e9-9078-f35bde03f0c2.png)

[2019-04-26 07:57] franz-wohlkoenig commented on #24626
@dfrassi apologies, now i see #24640 is merged. @infograf768 can you please comment?

[2019-04-26 10:09] infograf768 commented on #24626
A merged PR can't be tested by patchtester.
In any case the PR is clear: now the category can be modified (after the article is saved) by users of type Publishers or UP, NOT by their own authors  if they do not have edit.state permissions.

here is the modified article.php to replace
˜/administrator/components/com_content/models/article.php
[article.php.zip](https://github.com/joomla/joomla-cms/fi

[2019-04-26 10:19] dfrassi commented on #24626
ok, now it's right
thanks

[2019-04-26 10:22] brianteeman commented on #24728
more new features merged into 3.9.6 :( :(

and yet great new features are being rejected and forced into J4 next year

[2019-04-26 10:24] HLeithner commented on #24728
@brianteeman which new feature did I merged?

[2019-04-26 10:25] brianteeman commented on #24728
#23514

[2019-04-26 10:29] HLeithner commented on #24728
Sorry that is no feature, it is a bug, because the xml was missing, that php code that uses the parameter already exists but didn't worked because you can't set it.

[2019-04-26 10:29] Bakual commented on #24728
https://github.com/joomla/joomla-cms/pull/24115 is a new feature as well (new options).

[2019-04-26 10:31] Bakual commented on #24728
Sorry, but you could argue this was for everything. Even if code is aprtially missing.
Eg frontend editing for com_contact: Most of the code is already there. It would still be a new feature and thus goes rightfully into J4.

[2019-04-26 10:31] alikon commented on #24728
#23514 is quite a bit bordeline, imo, so it depeneds on how you feel/read it

[2019-04-26 11:03] alikon commented on #8582
i'm unable to reproduce this issue with current staging
![Screenshot from 2019-04-26 13-01-21](https://user-images.githubusercontent.com/181681/56803627-75bd6000-6823-11e9-8a8e-25bf7d7ca9d7.png)

p.s
i'll close this issue in a week if no other feedback

[2019-04-26 11:21] brianteeman commented on #24728
Eg frontend editing for com_contact: Most of the code is already there. It would still be a new feature and thus goes rightfully into J4.

#23499 is exactly the same and was **_correctly_** not accepted for a patch release

[2019-04-26 11:24] franz-wohlkoenig commented on #8582
@alikon can we close this now as it always can be reopened - easier to manage?

[2019-04-26 15:24] iwjoomla opened #24729 "admin user account details throws error"
### Steps to reproduce the issue
1. In Joomla 3.9.5 backend, click Users->Manage  to display list of user accounts.
2. Click on account name (superuser account), and the error occurs without displaying account info.

### Expected result
The account details for the User should have been displayed

### Actual result
    An error has occurred.
    0 Call to undefined function Joomla\CMS\Form\dom_impo

[2019-04-26 15:31] #8582 closed

[2019-04-26 15:31] alikon commented on #8582
closing as it seems no more reproducible
it always can be reopened if needed<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8582">issues.joomla.org/tracker/joomla-cms/8582</a>.</sub>

[2019-04-26 15:49] DavidBoggitt commented on #24729
Not seeing this at all.  Try reinstalling the core and seeing if the same error occurs.  Is this on a fresh install of 3.9.5?

[2019-04-26 15:50] alikon commented on #24729
i'm unable to reproduce too

[2019-04-26 15:51] franz-wohlkoenig commented on #24729
@iwjoomla Please ask on [Forum](https://forum.joomla.org/)

[2019-04-26 15:51] #24729 closed, assigned to nobody

[2019-04-26 15:52] SharkyKZ commented on #24729
Enable Debug System in Global Configuration to see where this is coming from.

[2019-04-26 15:54] HLeithner commented on #24729
The reason is that your php installation doesn't support libxml.

[2019-04-26 16:35] iwjoomla commented on #24729
I checked PHP information and  libxml 2.9.4  is installed

[2019-04-26 17:10] #8600 closed

[2019-04-26 17:10] alikon commented on #8600
closing as we ha have pr ready for testing #24730<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8600">issues.joomla.org/tracker/joomla-cms/8600</a>.</sub>

[2019-04-26 18:07] chmst commented on #24727
Can you give more information? Did you fix the datebase?
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24727">issues.joomla.org/tracker/joomla-cms/24727</a>.</sub>

[2019-04-26 18:21] Bakual commented on #24727
Was this a fresh installation or an updated one from previous J4 version?
If the latter, please try with a fresh installation.

[2019-04-26 18:23] 810 commented on #24727
updated by github, also did a database fix, but it looks like this missing this column on the fix.

[2019-04-26 18:24] #9287 closed

[2019-04-26 18:24] alikon commented on #9287
closing as we have a pr ready for testing  #24731<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9287">issues.joomla.org/tracker/joomla-cms/9287</a>.</sub>

[2019-04-26 18:25] Bakual commented on #24727
Updated by github is not supported. So please use a fresh installation. If it works then, we can close this.

[2019-04-26 18:25] uglyeoin commented on #14280
@dgrammatiko did this get fixed in the new media manager?

[2019-04-27 04:38] franz-wohlkoenig commented on #24727
We need to inform People what kind of Update on Alpha, Beta, ... is supported. For Example "Nightly on Nightly isn't supported in Alpha, but supported with Beta", ...

[2019-04-27 06:02] HLeithner commented on #24729
Please activate debugmode as @SharkyKZ explained

[2019-04-27 07:11] Bakual commented on #24727
I think it's actually already written somewhere. But basically it's still only support for official stable releases. Everything else may or may not work.
For 4.0, the current plan is still to support updates from betas upwards, certainly not alphas.

[2019-04-27 07:16] franz-wohlkoenig commented on #24727
This Info should be in "J4 on horizon" and/or Nightly-Download.

[2019-04-27 08:12] Bakual commented on #24727
Currently it's no different from staging.
See https://developer.joomla.org/development-strategy.html point 4.4:

[2019-04-27 08:57] franz-wohlkoenig commented on #24727
@Bakual thanks, i have missed that Document.

[2019-04-27 09:33] ced1870 opened #24735 "[4.0] Error in articles"
### Steps to reproduce the issue

Try to go in the articles

### Expected result

no error

### Actual result

error

### System information (as much as possible)

Joomla 4 alpha 8, PHP 7.3.1

### Additional comments

I have removed all external plugins and extensions. When I click on the articles menu I get this error

An error has occurred.

    0 Argument 1 passed to Joomla\Utilities\ArrayHelpe

[2019-04-27 09:34] ced1870 commented on #24735
PS : if I go directly to /index.php?option=com_content&view=article&layout=edit, no error
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24735">issues.joomla.org/tracker/joomla-cms/24735</a>.</sub>

[2019-04-27 10:30] ReLater commented on #24735
I can't reproduce the issue with nightly build of today: Joomla_4.0.0-alpha9-dev, built: Saturday, 27 April 2019 02:00:48 UTC

![27-04-_2019_12-27-37](https://user-images.githubusercontent.com/20780646/56848356-4a507900-68e8-11e9-9b43-5dec8765958d.jpg)

[2019-04-27 11:38] ced1870 commented on #24735
thanks for checking
I have jjust resinstalled the core files, with no luck ... I will investigate and let you know

[2019-04-27 11:54] richard67 commented on #24728
Would PR's #24730 , #24736 and #24737 be new features, or are these bug fixes?

[2019-04-27 11:59] Sandra97 commented on #24727
In Alpha 6, 7 and 8 blog posts, we have this mention:

[2019-04-27 12:36] zero-24 commented on #22603
Please see: https://github.com/joomla/joomla-cms/pull/24738

[2019-04-27 12:36] #22603 closed, assigned to nobody

[2019-04-27 13:23] jeckodevelopment opened #24739 "Can't specify the anchor text for "URL" custom fields."
### Steps to reproduce the issue

1. Create a new field, choose URL type.
2. Create a new article that uses the URL field.
3. Specify the URL address.
4. Open the article in frontend.

### Expected result
You can specify the URL.
You have the opportunity (optional) to specify the Anchor text.

### Actual result
The raw URL is shown as field content.
The "a" tag has as anchor text the URL.

### Sys

[2019-04-27 14:35] twister65 opened #24740 "[4.0] Unable to complete the installation with PostgreSQL"
### Steps to reproduce the issue
Select the PostgreSQL (PDO) driver during installation.

### Expected result
J4 is installed with a PostgreSQL database

### Actual result
Go back to the first step.

### System information (as much as possible)
Joomla 4 alpha 8
PostgreSQL 9.5.6.

### Additional comments

[2019-04-27 14:59] iwjoomla commented on #24729
Here is what my home page looks like with Development Error Reporting enabled
![joomla_screen_using_development_debug](https://user-images.githubusercontent.com/50024063/56851300-b6bc7f80-68ca-11e9-80a6-2c52079f7444.jpg)

[2019-04-27 15:09] iwjoomla commented on #24729
With Debug enabled:
An error has occurred.
0 Call to undefined function Joomla\CMS\Form\dom_import_simplexml()
/home/tmmuseum/public_html/libraries/src/Form/Form.php:887

Call stack
--
# | Function | Location
1 | () | JROOT/libraries/src/Form/Form.php:887
2 | Joomla\CMS\Form\Form->removeField() | JROOT/administrator/components/com_users/models/user.php:148
3 | UsersModelUser->getForm() | JROOT/lib

[2019-04-27 16:14] franz-wohlkoenig commented on #22884
Closed as having Pull Request.

[2019-04-27 16:14] #22884 closed, assigned to nobody

[2019-04-27 17:40] ReLater opened #24742 "[4.0] Back-end. Question concerning sidebar removal"
Several sidebars and logic have been removed already in J4 backend. Because I fiddle a bit about custom backend templates **just a question** which code concerning sidebars will be removed in Joomla 4 (I don't want to start a new discussion here).

As example: Removal of com_templates sidebar (https://github.com/joomla/joomla-cms/pull/24092)

Now I would like to know if codes like
https://github.c

[2019-04-28 01:09] 810 opened #24744 "[4.0] Backend manage extensions wrong changelogModal item"
### Steps to reproduce the issue

Install a package component like kunena.
Go to backend - system - extensions - manage
Show all items. (filter)
kunena item like Kunena - Joomla Integration click on the version number

### Expected result

The right changelog menu item is opened.

### Actual result

He opens the modal from Kunena - AltaUserPoints Integration

### System information (as much as pos

[2019-04-28 01:12] #24727 closed, assigned to nobody

[2019-04-28 01:13] 810 commented on #24721
looks like a local issue then.

[2019-04-28 04:42] infograf768 commented on #24742
I hope not. Some 3rd party components use it.

[2019-04-28 04:58] franz-wohlkoenig commented on #24742
@coolcat-creations should know more.

[2019-04-28 05:00] franz-wohlkoenig commented on #24744
can you test on latest nightly?

[2019-04-28 06:13] franz-wohlkoenig commented on #24739
Looks like expected Behaviour: https://docs.joomla.org/J3.x:Adding_custom_fields/Url_Field

[2019-04-28 07:02] nobicycle opened #24746 "[4.0] Common Payment API"
### Is your feature request related to a problem? Please describe.

8000 extensions in the JED. Probably several hundred payment gateways in existence globally.
8000 x 400 = 3 200 000 = 3.2 million potential gateway pieces of code.

Financial processing is probably the most highly sensitive of all processing done within Joomla, and yet it is dispersed among innumerable  code plugins. The risks are

[2019-04-28 07:05] franz-wohlkoenig commented on #24746
Please report at https://github.com/joomla/jed-issues/issues/new

Closed as wrong Repo.

[2019-04-28 07:11] nobicycle commented on #24746
Closing this within 200 microseconds is impressive. However, the issue raised was about the **core**. Not JED.

[2019-04-28 07:13] franz-wohlkoenig commented on #24746
@nobicycle sorry, reopened for Reason stated above.

[2019-04-28 07:18] coolcat-creations commented on #24742
As far as I understood there is no real sidebar position. If Component creators use it they create their own sidebar thing. The removal of the sidebar in Joomla is because we have a sidemenu and the items go into that one. At least I guess so. Maybe @bembelimen can confirm or clarify.

[2019-04-28 08:02] alikon commented on #24746
IMHO this matter should be re-considered for inclusion in 4.x at least to give some basic API
given we already have some proposal like https://techjoomla.com/common-payment-api standing from 2012

[2019-04-28 08:49] #24740 closed, assigned to nobody

[2019-04-28 08:49] alikon commented on #24740
please test #24747<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24740">issues.joomla.org/tracker/joomla-cms/24740</a>.</sub>

[2019-04-28 08:50] brianteeman commented on #24742
Not sure why you tagged me in this

[2019-04-28 08:59] brianteeman commented on #24735
Not core files - you need to make sure the database is up to date as well

[2019-04-28 09:18] ced1870 commented on #24735
thanks Brian :) that was it.

[2019-04-28 09:26] #24735 closed, assigned to nobody

[2019-04-28 09:26] alikon commented on #24735
closing<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24735">issues.joomla.org/tracker/joomla-cms/24735</a>.</sub>

[2019-04-28 10:00] bembelimen commented on #24742
The Sidebar (and its JHtmlSidebar classes) will not be removed, but the core will not use them anymore (at least tries it). Because with the left menu you'll lose a lot of space, when using the sidebar.

Probably the layout position will change in some way, but the functionality will still exists.

[2019-04-28 10:04] chmst opened #24748 "[4.0] Installer Database should not use popovers"
### Is your feature request related to a problem? Please describe.
The screen for Database fix is not accessible. It looks like this:

![database-fix](https://user-images.githubusercontent.com/1035262/56862246-27d26480-69a9-11e9-976f-540868fe9540.PNG)

### Describe the solution you'd like
There is no need to show a warning or info alert when opening the screen.

There is plenty of place on this sc

[2019-04-28 10:21] twister65 opened #24749 "[4.0] Error saving a new article (pgsql)"
### Steps to reproduce the issue
Articles: New -> Save

### Expected result
Article saved

### Actual result
Throws :
Error
Save failed with the following error: 42601, 7, ERROR: syntax error at or near "ON" LINE 6: ...tid = 2 AND state >= 0 AND "ordering" >= 0) AS sq ON "id" = ... ^

### System information (as much as possible)
Joomla! Version: Joomla! 4.0.0-alpha8 Alpha [ Amani ] 18-April-2019 1

[2019-04-28 10:27] alikon commented on #24749
can you test with #24148 and with #24319 ....

[2019-04-28 10:37] 810 commented on #24744
![image](https://user-images.githubusercontent.com/876623/56863086-67517e80-69b2-11e9-8a44-48c7af384103.png)

[2019-04-28 10:55] brianteeman commented on #24748
From the screenshot it looks like there are more than two problems.

For me I question what value there is in displaying the details of the problems.

[2019-04-28 10:59] chmst commented on #24748
Indeed there are several issues.
What I wanted to be resolved here are the popovers and the alert.

If the infomation provided in the popovers is correct is not in scope of tis issue.

[2019-04-28 11:02] brianteeman commented on #24748
If the information is of no value then it's an easy fix

[2019-04-28 11:31] richard67 commented on #24749
@twister65 I've just tested PR #24148 with success. It seems to solve this issue. PR #24319 is also good. Could you test, too?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24749">issues.joomla.org/tracker/joomla-cms/24749</a>.</sub>

[2019-04-28 12:39] mbabker commented on #24746
👎 because Joomla seems to love re-inventing the wheel, Joomla does not have the resources to build and maintain its own payment gateway APIs.  There is nothing wrong with encouraging developers to utilize libraries such as Omnipay or Payum, or utilizing the SDKs of the gateways they do support, but this is not core territory.

[2019-04-28 13:04] ReLater commented on #24742
@brianteeman

Because it's your pr but didn't remove the lines that I've linked to in https://github.com/joomla/joomla-cms/issues/24742#issue-437966913 When I look into the codes for articles view `public static function addSubmenu($vName)` is an empty method now. Thus I thought you know more about the next steps.

Others:

My question is not concerning Atum. I understood the decision is incontrov

[2019-04-28 13:05] twister65 commented on #24749
We have PR #24148 .

[2019-04-28 13:05] #24749 closed, assigned to nobody

[2019-04-28 13:11] ReLater commented on #24742
Good news for me. Thanks.

[2019-04-28 16:48] Bakual commented on #24746
As Michael already wrote, there is no way we could even remotely support that, nor should we.
Use one of the solutions which already exist.

[2019-04-28 16:48] dgrammatiko commented on #24746
@mbabker is right not only for the reasons stated above but mainly because the W3C already solved this problems for us (devs) with the payment API:
https://caniuse.com/#feat=payment-request

https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API

It would be nice to check the state of the web periodically, things do evolve...

[2019-04-28 18:23] uglyeoin opened #24752 "[4.0] Create overrides screen layout inconsistent and close button doesn't work"
### Steps to reproduce the issue
![j4--screenshot-patchtesterj4 cloudaccess host-2019 04 28-19-13-17](https://user-images.githubusercontent.com/4665225/56868489-eb275d00-69ea-11e9-99c9-efd38bb33f72.png)
Go to System > Templates > choose a template > Create Overrides

### Expected result
1. All lists have items on a new line
2. Clicking a list item expands it
3. Close button works

### Actual resul

[2019-04-28 19:04] brianteeman commented on #24752
can not replicate - check your browser console for any errors

[2019-04-28 19:14] SharkyKZ commented on #24752
This was fixed some days ago, see #24639. Use the latest nightly please.

[2019-04-28 19:15] #24752 closed, assigned to nobody

[2019-04-28 19:15] uglyeoin commented on #24752
Apologies I've got it setup on the launch.joomla.org cheers for the heads up

[2019-04-29 04:46] franz-wohlkoenig commented on #24752
@uglyeoin you have to setup every day new as upgrades from nightly to nightly will work only from J4-Beta on.

[2019-04-29 05:55] infograf768 commented on #24644
I can't reproduce the issue
![Screen Shot 2019-04-29 at 07 53 39](https://user-images.githubusercontent.com/869724/56878352-f5317600-6a53-11e9-8426-0b829e16110c.png)

![Screen Shot 2019-04-29 at 07 53 03](https://user-images.githubusercontent.com/869724/56878361-024e6500-6a54-11e9-8314-ec4b081b5c92.png)

![Screen Shot 2019-04-29 at 07 54 44](https://user-images.githubusercontent.com/869724/5687837

[2019-04-29 06:00] infograf768 commented on #24644
Hmm
You are right.
If we do not select again the image when editing the article, the path is not added.

[2019-04-29 07:20] joomlahenk opened #24754 "[com_fields] - UNDO fix show on side/admin/both"
### Steps to reproduce the issue
Change custom field option show-on from site to administrator

### Expected result
Custom field tab is not displayed in front-end edit, but is displayed in backend edit
The custom field IS displayed on the actual site

### Actual result
Custom field tab not displayed in front-end edit, but is displayed in backend edit
The custom field is NOT displayed on the actual

[2019-04-29 08:05] infograf768 commented on #24644
I have been playing a bit further with this.
The `default_value` field is a textarea and is common to all custom fields.
Could not find an easy way to override the field type in this case.

The following patch could partly (see Note below) solve the issue, but only for the frontend display as it will not allow the preview of the default image when editing the article.

[code]

**Note:** I am using

[2019-04-29 08:11] ReLater commented on #24644
And in field Imagelist we only have to enter the image name. That's at least inconsistent or zero UIX.

Try this (two different directories). Now the setting `Directory` is completely useless:

![29-04-_2019_10-05-53](https://user-images.githubusercontent.com/20780646/56883291-8873a700-6a66-11e9-9f24-a07d0af8a508.jpg)

Go into article. In field click `Select` or `Clear and then Select`. The media

[2019-04-29 08:34] infograf768 commented on #24644
Is that working really?
I always get `The default value is invalid.`

[2019-04-29 10:07] ReLater commented on #24644
I forgot to mention pr https://github.com/joomla/joomla-cms/pull/24643

Maybe also of interest in this context: https://github.com/joomla/joomla-cms/issues/23568

[2019-04-29 11:48] mtkumar82 commented on #22046
I think this could be due to wrong database information. please try to comment the line from 260 to 263 in libraries/joomla/session/handler/native.php and see if there are error for mysql not connected. I have this problem due to that, Hope anyone have same and this solution work for them.

[2019-04-29 12:11] brianteeman commented on #22046
NEVER change core files!!!!

[2019-04-29 12:18] Fedik commented on #24746
@nobicycle when you doing your Shop extension, set dependency to one of existing payment extension, and if everyone will do that, then your problem are solved.
Easy, no?

There also many PHP libraries for it:
https://github.com/thephpleague/omnipay
https://github.com/Payum/Payum

In the core it will be dead and useless piece of ...code.
Maximum that it could be it like com_weblinks, separated comp

[2019-04-29 12:47] Bakual commented on #24746
I'm closing this issue for the reasons stated above.

[2019-04-29 12:47] #24746 closed, assigned to nobody

[2019-04-29 13:18] HLeithner commented on #24729
You installation doesn't support https://www.php.net/manual/de/function.dom-import-simplexml.php

[2019-04-29 14:34] steve-genilogic commented on #20955
How does one go about reinstalling the com_banners component? I tried reinstalling Joomla, but it hasn't reinstalled Banners, and I am still experiencing the issue with the ghost menu item. When I click on the menu item I get a 404 component not found error. I would like to reinstall and then just disable if possible. I'm running Joomla 3.9.5. @brianteeman @mbabker

[2019-04-29 14:35] franz-wohlkoenig commented on #20955
@steve-genilogic Please ask on [Forum](https://forum.joomla.org/) as this Repo is for Coding.

[2019-04-29 14:37] steve-genilogic commented on #20955
@franz-wohlkoenig many thanks!

[2019-04-29 16:11] alikon commented on #24744
@roland-d  can you give a look please

[2019-04-29 16:12] roland-d commented on #24744
@alikon Yes I will take a look.

[2019-04-29 20:27] rytechsites commented on #24739
I created a custom override for URLs, so we could have more control of them...

1. if a 'description' is included in the custom field, that would 'become' the text used with the url
2. if an email is used, the 'mailto' would automatically get stripped.

Not a perfect solution, but it works...

[plg_fields_url.zip](https://github.com/joomla/joomla-cms/files/3129084/plg_fields_url.zip)

[2019-04-29 21:01] ced1870 opened #24761 "[4.0] Disable pointer event on .header-shadow"
### Steps to reproduce the issue

Load a module with user actions (buttons or what you want) in the position "banner"

### Expected result

Able to click the buttons

### Actual result

Unable to click the buttons

### System information (as much as possible)

PHP 7.3 + J4alpha9

### Additional comments

The problem is that the .header-shadow DIV in the template Cassiopeia take place over the cont

[2019-04-29 22:22] brianteeman commented on #24761
As you have a solution please submit a pull request

[2019-04-29 22:22] #24728 closed, assigned to nobody

[2019-04-29 23:55] 810 opened #24762 "[4.0] php 7.3 support switch is equivalent to "break""
### Steps to reproduce the issue

### Expected result

### Actual result

PHP Warning:  "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in
\administrator\components\com_joomlaupdate\restore.php on line 1220

### System information (as much as possible)

### Additional comments

[2019-04-30 00:18] brianteeman commented on #24762
I thought this got fixed ages ago. But if not then please submit a pull request

[2019-04-30 04:15] franz-wohlkoenig commented on #24739
@HLeithner should @rytechsites make a Pull Request you would merge?

[2019-04-30 04:22] franz-wohlkoenig commented on #24754
@alikon can you please comment as #24397 is created by you?

[2019-04-30 05:18] mtkumar82 commented on #22046
No I am not suggesting to make changes in core file. I am just suggesting it to debug the issue. If issue found revert the changes back in core file.

[2019-04-30 05:59] SharkyKZ commented on #24762
This is fixed in 3.x, see https://github.com/joomla/joomla-cms/pull/23481.

[2019-04-30 06:34] alikon commented on #24754
imo #24397 is correct/expected behaviuor

[2019-04-30 06:47] SharkyKZ commented on #24721
Reopen please. I can reproduce this issue. It was introduced with https://github.com/joomla/joomla-cms/pull/24416, specifically this part https://github.com/joomla/joomla-cms/pull/24416/files#diff-94f7ebd2e6d116a7e0e4e66ae94f5e06R173.

[2019-04-30 06:47] SharkyKZ commented on #24721
@chetanmadaan please use the latest nightly.

[2019-04-30 06:54] franz-wohlkoenig commented on #24762
Closed as having Pull Request.

[2019-04-30 06:54] #24762 closed, assigned to nobody

[2019-04-30 07:10] fastslack commented on #22241
This PR solve this problem: https://github.com/joomla/joomla-cms/pull/24755

[2019-04-30 07:12] fastslack commented on #22859
@sdi68 Try with this PR https://github.com/joomla/joomla-cms/pull/24755

[2019-04-30 07:13] franz-wohlkoenig commented on #22241
Closed as having Pull Request. Thanks for comment @fastslack

[2019-04-30 07:15] franz-wohlkoenig commented on #23568
Closed as having Pull Request #24755

[2019-04-30 07:15] #23568 closed, assigned to nobody

[2019-04-30 07:16] franz-wohlkoenig commented on #22859
Closed as having Pull Request #24755. Please reopen if PR didn't fix the Issue.

[2019-04-30 07:16] #22859 closed, assigned to nobody

[2019-04-30 07:23] joomlahenk commented on #24754
The issue I have after this change is that all custom fieds on my site disappear after update to 3.9.5.
This was because I had set show-on to administrator as I don't want a user to see a tab for the CF in the editor when he wants to edit an article in the front end.

Now I need to set show-on to site to have it show on the site and then the user has a tab for the CF in the editor in the front end

[2019-04-30 07:48] alikon commented on #24754
from https://docs.joomla.org/J3.x:Adding_custom_fields/Parameters_for_all_Custom_Fields

On which part of the site should the field be shown. In the backend, in the frontend or both?

[2019-04-30 08:02] joomlahenk commented on #24754
Show on
On which part of the site should the field be shown. In the backend editor, in the frontend editor or both?
The backend is used for editing.
The frontend is the site as anyone can see it.
The frontend editor is used by a user that logs-in on the frontend and does not use the backend.
So it this case we have 3 viewing modes not just 2.

Changing this setting should not have any inpact on th

[2019-04-30 09:41] brianteeman commented on #24748
If https://github.com/joomla/joomla-cms/pull/24441 ever gets tested and merged then it will be easy to apply the same technique to solve the problem here

[2019-04-30 11:27] AndyGaskell commented on #24544
I hit this problem, exactly as described.  The fix worked for me too.

[2019-04-30 11:53] #24742 closed, assigned to nobody

[2019-04-30 13:09] HLeithner commented on #24739
Could make sense for j4,

[2019-04-30 13:20] rytechsites commented on #24739
I don't know if my solution is really the 'best' way to go.  it is a great work around for us...but if we were to wait, I would think a better way to go is to include a 2nd field when defining a url, and that field 'can' be used as the 'text' that is displayed instead of the link.

My option of using the 'description' is just 'ok', not ideal, because then you will have multiple 'text links', that

[2019-04-30 15:59] brianteeman opened #24766 "[4.0] WCAG 1.3.1,WCAG 3.3.2: Form elements must have labels (.choices__input--cloned[autocapitalize="off"][spellcheck="false"])"
Tags Fields

#### Issue
`Form elements must have labels` ([label](https://dequeuniversity.com/rules/axe/3.2/label?application=msftAI))
#### Target application
[Articles: New - Thursday Alpha 8 - Administration](http://localhost/joomla-cms/administrator/index.php?option=com_content&view=article&layout=edit)
#### Element path
.choices__inner > .choices__input--cloned[autocapitalize="off"][spellcheck

[2019-04-30 16:22] brianteeman commented on #24766
The problem is that the label we have is "for" an "id" that is hidden. The id needs to be removed from the hidden select element and added to the choices generated input element.

![image](https://user-images.githubusercontent.com/1296369/56977121-695f3d00-6b6c-11e9-9352-a2064eb7306b.png)

[2019-05-01 09:16] nobicycle commented on #24746
"nor should we use one of the solutions which already exist."

That was done with Custom Fields by Digital Peak -  how come? A fantastic new feature by the way.

No core support is needed.

1. Payment Gateway service providers would publish  API snippets to interface their gateway.
2. Developers would use the API to develop their extension IN a safe, simple and efficient way.

It is like an n-n in

[2019-05-01 09:25] nobicycle commented on #24746
@Fedik
Hi,
Custom Fields is supported. Why not a Gateway API?

"Payment provider -> API" would be written by the service provider, for sure, they only need to write one bit of code to potentially engage all Joomla extensions.

"API-> Extension" would be written by the Joomla developer, but his task is simplified in the extreme compared to to days situation.

I listed those two particular API's bec

[2019-05-01 09:29] Bakual commented on #24746
Custom Fields was a component that was donated by the developer. It is something which has a benefit for most components (not only shopping ones). Also it's simple to maintain as there are no external dependencies.
So it's something completely different.

[2019-05-01 09:32] nobicycle commented on #24746
" Also it's simple to maintain as there are no external dependencies."
Nor would their be any with a common API.

Payment Gateway service providers would publish API snippets to interface their gateway, unless they were very stupid.

This is the main point - publishing some small api for payment gateway service providers to interface to. So they can write once only.

[2019-05-01 09:39] HLeithner commented on #23725
The PR doesn't fixed the problem. I think we need a function that can rename files.

[2019-05-01 09:59] nobicycle commented on #24746
On the Jed, of the top most reviewed extensions, the ones not developer oriented (forms, backup) are:

#4. Acymailing
**#6. Virtuemart. aka Shopping**

So it seems shopping is pretty high up on the list of peoples concerns.

[2019-05-01 10:03] richard67 opened #24769 "[4.0] [PostgreSQL] Database problem with com_finder tables after new installation"
### Steps to reproduce the issue

1. Pull current (May 1, 2019) 4.0-dev branch and do `composer install` and `npm ci`, or use nightly build from tonight. Both include PR #24747, which is needed to install on PostgreSQL. Alpha 8 does not include that yet, so please don't use Alpha 8.
2. Install Joomla 4 using a PostgreSQL database.
3. After installation has finished with success, login to backend,

[2019-05-01 10:10] richard67 commented on #24769
@alikon Because you test with PostgreSQL, too: Can you reproduce this issue?

@Hackwar It seems that in your PR #20561 , the changes in joomla.sql and 4.0.0-2018-07-29.sql for postgresql database are not consistent, because the database checker checks the schema updates. Maybe you can check and fix?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker A

[2019-05-01 10:11] alikon commented on #24769
i'll look at it sure , btw can you test #24768 always postgresql related ?

[2019-05-01 10:41] richard67 commented on #24769
@alikon @Hackwar No need to investigate. I am already doing and working on a fix.

[2019-05-01 10:47] brianteeman commented on #24746
Acymailing is not an ecommerce extension

[2019-05-01 10:59] Bakual commented on #24746
I'm afraid, but you overestimate the importance of Joomla for payment processors. They may do that for Wordpress (I don't know) with it's high market share, but not for Joomla.

Beside that, there already exist such payment libraries which are independant of any CMS. Those should be used as written multiple times already. And I'm sure Virtuemart and other such extensions are already doing that jus

[2019-05-01 11:08] richard67 commented on #24769
I found the problem and made the neccessary corrections.

Closing as having PR #24771 .

[2019-05-01 11:08] #24769 closed, assigned to nobody

[2019-05-01 11:38] nzyeehaa commented on #24626
On the current joomla release, zero users can edit any existing article from the front end, (even super users). _Joomla is broken and needs an urgent update._

luckily one of my customers contacted me for an urgent resolution. There are others that will just be swearing a lot...
It has wasted four hours of experimenting with permissions/templates and searching for answers to finally find this thre