[2022-07-25 23:44] skurvish commented on #38294
Anyone?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38294">issues.joomla.org/tracker/joomla-cms/38294</a>.</sub>

[2022-07-26 06:17] sandewt commented on #38326
I confirm this issue

@zero-24 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38326">issues.joomla.org/tracker/joomla-cms/38326</a>.</sub>

[2022-07-26 06:52] zero-24 commented on #38326
I'm not sure how i can actually help here? gnu.org decided that its website can not be framed so i guess the help page needs to be changed and maybe just link to that page vs iframing that site?

[2022-07-26 08:30] ceford commented on #38326
I have copied the licence to a Help page. You can see it here: https://docs.joomla.org/Help4.x:License - so now it can be loaded from our Help Server like any other Help page. Someone needs to check the legal position!

[2022-07-26 08:34] siriusmedia-cu opened #38327 "Multilingual Associations infinitely reloads with checked-out items"
### Steps to reproduce the issue
Go to multilingual associations, select an article thats checked out/locked by another user.

### Expected result
I should just get an error message: "Check-out failed with the following error: The user checking out does not match the user who checked out the item.."

### Actual result
Backend re-loads infinitely with "Check-out failed" error message or "You are no

[2022-07-26 11:02] aarati-parajuli commented on #37124
Hi @richard67

I'm experiencing the same kind of issue for components. I have a package including a plugin and a component. In my case, 'Update Structure' in Maintenance:Database for the component sets the value of the extension version in manifest_cache to an empty string. The plugin version doesn't have any issue though.

And it shows this warning:

Notice: Trying to get property 'version' of no

[2022-07-26 13:15] brianteeman commented on #38326
legal is fine

[2022-07-26 13:33] HLeithner commented on #38326
@brianteeman when we are at this topic, other software like mobile apps list all used 3rd party packages including the license on a license page.

And since we are not only shipping GPL software it could make sense to list them too?

[2022-07-26 13:56] brianteeman commented on #38326
It could but I am not sure if it is required. Joomla itself is GPL and thats what this refers to.

[2022-07-28 07:53] crystalenka opened #38333 "Media field uses incorrect MIME type for mov/MOV video previews"
### Steps to reproduce the issue

Requirements: com_media must be configured to allow mov or MOV video files.
1. Find a component that supports videos for media fields. (Can't make a custom media field do this, as far as I can tell...though I'm about to see if I can fix that.)
2. Select a video with the mov or MOV extension.
3. Close the modal so that the video shows up the preview.

### Expected

[2022-07-28 07:55] crystalenka commented on #38333
@dgrammatiko You do a lot of stuff with the media manager I think? Where do the mime types come from?

[2022-07-28 08:07] crystalenka commented on #38333
Where is this coming from when it's rendered then?

<img width="250" alt="Screen Shot of web inspector view showing a snipped that says type equals video/MOV" src="https://user-images.githubusercontent.com/9141288/181454796-e41de7dc-11df-40ad-aafb-e20bbd0ac713.png">

[2022-07-28 08:16] dgrammatiko commented on #38333
I’m on my way to the office, I’ll have a look when I get there

[2022-07-28 08:25] brianteeman commented on #38333
is it in the joomla-media-field custome element?

[2022-07-28 08:28] crystalenka commented on #38333
Yes

[2022-07-28 09:10] dgrammatiko commented on #38333
So it's coming from this line: https://github.com/joomla/joomla-cms/blob/a84ef004541e63ea1952fb9c1ba024265ca2894e/build/media_source/system/js/fields/joomla-field-media.w-c.es6.js#L328
which obviously will give false mime type as it tries to infer that from the extension. FWIW the media field and the related work for the additional types is still unfinished, eg https://github.com/joomla/joomla-cms

[2022-07-28 09:16] crystalenka commented on #38333
Apologies for adding to that! I just saw you pop up on so many media manager related items I assumed (I guess incorrectly) that you were the code owner.

That's a lot. I would attempt to fix this myself but my javascript skills are not sophisticated enough yet to play in the build files. :/ Is there an easier way to address the immediate bug even though there is a lot left to do on the media manag

[2022-07-28 17:29] jduerscheid opened #38335 "Collapse submenu items in backend menu overview"
## Feature Request ##

Let the Menu item in the Backend View List make collapseable.

### Problem that I want to solve ##

During maintaining website which an very large number of menuitems it is really difficult to find the korrekt menu-item, even if they have the same name, like an contact Page for every different part of the website. So you can filter by level or name, but the problem is, you a

[2022-07-28 17:39] brianteeman commented on #38335
### Steps to reproduce the issue

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2022-07-28 19:23] richard67 commented on #38335
From talks in the German Glip channel i know that this issue is a feature request for the menu item list view. From the few words in the description this is absolutely not clear.

[2022-07-28 20:10] rambro opened #38336 "Top menu in the Cassiopeia template being able to wrap menu items."
### Steps to reproduce the issue

Hi all, working on a the cassiopeia template in joomla 4.0. I have a number of menu items I would like to put in the top menu at certain times of the year, it seems to me that the cassiopeia top menu in the "menu position" will not wrap the menu items and cuts off some of the menu items at some point. Is there some way to make this top menu more flexible.  I will

[2022-07-28 20:35] brianteeman commented on #38336
You will need to add a little extra css which you can do by creating a file called user.css in your template with this code

[code]

[2022-07-28 21:17] 1inkin commented on #36073
Joomla 4.2 RC1
the problem is still relevant<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36073">issues.joomla.org/tracker/joomla-cms/36073</a>.</sub>

[2022-07-28 23:33] rambro commented on #38336
Brian,

Thanks, it worked!!! I also had the clear the cache in Mozilla Firefox.

[2022-07-29 00:15] rambro opened #38338 "Having the search module be place on the right of a website."
### Steps to reproduce the issue
Hi all,

Right now the natural place of the search module is on the left side in cassiopeia. Is their a way to place the search module to the right side of a website header, no matter what position it is in the header. Right now i have the search module in the "menu position" in the header. Even if I switch the top menu and with the search menu, the search menu ten

[2022-07-29 04:39] richard67 commented on #38338
There is a module position „Search“ in Cassiopeia. Why don’t you use that instead of the „Menu“ position?

[2022-07-29 04:40] richard67 commented on #38336
So this issue can be closed?

[2022-07-29 07:20] chmst commented on #38335
Large category trees are indeed a challenge. You suggest a tree appearance and this could be better than now but is a big task.
I could imagine an additional filter for the parent category instead.

[2022-07-29 07:31] jduerscheid commented on #38335
Yes category tree’s are although sometimes a bit stupid. But I think if you solve this problem for menu tree’s it will be easy to adopt for categories. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38335">issues.joomla.org/tracker/joomla-cms/38335</a>.</sub>

[2022-07-29 08:18] brianteeman commented on #38335
Is tthis the type of thing you are looking for?

https://codepen.io/brianteeman/pen/abYVYYd

[2022-07-29 08:19] brianteeman commented on #38335
![menu](https://user-images.githubusercontent.com/1296369/181716366-641ed111-3c98-4853-880c-b72c83a4639d.gif)

[2022-07-29 08:20] brianteeman commented on #38338
Please use the forum for support

[2022-07-29 08:50] brianteeman commented on #38335
It shouldnt be too hard to create as we already have all the information about the level and the parents in the row as data attributes

[2022-07-29 12:25] chmst commented on #38338
@rambro I close this now. This area is for bugs in Joomla core. The supporters in forum.joomla.org will help you with building your website.

[2022-07-29 12:25] #38338 closed, assigned to nobody

[2022-07-29 12:25] chmst commented on #38336
@rambro I close this now. This area is for bugs in Joomla core. The supporters in forum.joomla.org will help you with building your website.

[2022-07-29 12:25] #38336 closed, assigned to nobody

[2022-07-29 13:34] jduerscheid commented on #38335
Hey Brian, yes, this is the desired behavior<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38335">issues.joomla.org/tracker/joomla-cms/38335</a>.</sub>

[2022-07-29 13:38] jduerscheid commented on #38335
Yes the information about the level is allready in the <tr> element

[2022-07-29 16:41] rambro commented on #38338
Thank you. I have been to the joomla support forum, if I was getting the answers I wanted from there, I would not be here. I thought I take the chance and find some answers to some of my questions. It was worth a shot.

Maybe you could direct me to the people who are working on the design of the cassiopeia  in github so I could ask my questions?

[2022-07-29 16:55] richard67 commented on #38338
@rambro I ask again: Have you tried module position „Search“ in Cassiopeia? You have not answered this question. So if you ignore peoples‘ questions, why do you expect people to answer your questions?

[2022-07-29 18:25] rambro commented on #38338
Hi Rich,

Did not ignore you question. I placed the search module in the below-top-bar position, the menu position and the "search" position. However, my question is that the search module is set to the left, I would like it set to the right. It not the position in the header, its getting the search module to to to the right. It probably could be done with css code but, that is the rub. I been usi

[2022-07-29 18:31] brianteeman commented on #38338
Your problem is because you have such a long menu wrapping on to the second line.

If you remove some of the menu items (even temporarily) you will see that the search is to the right of the menu. (thats why your code didnt work).

By default it works perfectly as shown below. This is my last comment as github is not for support.

![image](https://user-images.githubusercontent.com/1296369/18182262

[2022-07-29 18:34] brianteeman commented on #38260
It is crazy that 4.2 will be launching with a major new feature and the first impression for a user will be less than optimal.

This really should be a release blocker

@roland-d @richard67

[2022-07-29 19:06] chmst commented on #38338
The answer "float-end" in module_class is correct. And you neet the chrome "html5" to get it to work.

[2022-07-29 19:14] roland-d commented on #38260
@brianteeman Thanks for the heads-up, this got out of sight, but I agree, this must be fixed before release. I am working on it. Also confirmed this language string is missing.

[2022-07-29 19:16] rambro commented on #38338
chmst,

Tried it, did not work.

R.A.

[2022-07-29 20:18] roland-d commented on #38260
We have a pull request #38341

[2022-07-29 20:18] #38260 closed, assigned to nobody

[2022-07-29 22:04] rigin opened #38342 "Uninformative error message in the count() function"
### Steps to reproduce the issue
Joomla 4.1 PHP 8.0-8.1

count($not_array);

### Expected result
When switching to version 7.4, the following warning is issued.

Warning
: count(): Parameter must be an array or an object that implements Countable in
/home/Rigin/web/gaz.rigin.net/public_html/components/com_cabinet/router.php
on line
150

### Actual result
When working on PHP 8.0-8.1
A message is is

[2022-07-29 22:16] obuisard commented on #31786
More and more users are reporting this issue.  They are getting into very complicated forms using custom fields that may be required fields and read-only. It seems like this is a Joomla 4 issue as well. The only workaround right now is to set the option 'Display When Read-Only' to 'No'.

[2022-07-29 22:30] brianteeman commented on #31786
No - the only way is to use the fields correctly. A form with a required field obviously cant be created by a user that you dont give access to that field. You can't have a field that requires input and for it to be readonly. That is a non sequitur.

[2022-07-30 07:03] anshumaan255 commented on #31540
is this issue still open want to work on it

[2022-07-30 07:13] AndySDH commented on #31786
@brianteeman Depends.

The example is provided right exactly in the opening post. Maybe you want a user to **edit** (not create) an existing article that had a required field already filled by an admin. But you don't want him to be able that one field.
Just like the screenshot in the first post. This is a perfectly valid and correct usage scenario.

[2022-07-30 07:38] Franzwohlkoenig commented on #31540
@anshumaan255 https://github.com/joomla/joomla-cms/issues/31540#issuecomment-811070565

[2022-07-30 09:37] richard67 commented on #38342
@rigin They refer to an exception handler. An interrupt handler is something completely different, and you using that term in your issue there confused them maybe so they assumed you are using some kind of a library working with interrupts.

Besides that, your link to that issue does not work. It shows the right URL as link text, but the link goes to https://github.com/joomla/joomla-cms/issues/url

[2022-07-30 09:44] richard67 commented on #38342
As long as Joomla shows you the complete call stack when having debug system switched on in global configuration, I see no issue here. Is this the case, do you see the call stack if you have switched on debug?

[2022-07-30 10:30] Fedik commented on #38342
That is expected behavior for `count($not_countable)`:
php <= 7.4 will show a Warnning
php => 8 will throw an Exception

If you want to see full trace for an Exception then set debug=on in global configuration, you will get a full trace that will show what is cause this exception.

[2022-07-30 10:30] #38342 closed, assigned to nobody

[2022-07-30 12:51] rambro commented on #38338
Hi all,

Sorry to be a pain, but Brian Teeman was right if I have menu wrapping in my header, which I have, the justify-content: end or float-end will not work for the search module going right. Thank you all.

R.A.

[2022-07-30 13:31] richard67 commented on #38338
@rambro i don’t get your comment. Does it work now (because Brian was right)? Or does it not work? Your comment is ambiguous.

[2022-07-30 13:47] rambro commented on #38338
Hi Rich,

It doesn't work, because I am using wrapping in the header. I need the wrapping function, more than having my search menu shift right.

R.A.

[2022-07-30 16:09] andrescmhz commented on #38252
I have the same problem

[2022-07-30 18:54] PhocaCz opened #38345 "[4.1, 4.2] Template user.css not loaded as last (when CSS is called from module)"
### Steps to reproduce the issue
This is similar problem to this problem: https://github.com/joomla/joomla-cms/issues/35706 except that I now use the latest method to load CSS libraries.

When I run this code:

[code]
in component, everything is OK - main.css is loaded first, template user.css after.

But when I do the same in module:

[code]

main.css is loaded after user.css (see image):

![img]

[2022-07-30 19:04] hytsch opened #38346 "Custom List field (subform) in Custom List field: nested scroll bar reduces usability"
### Steps to reproduce the issue
Create a Custom Field X (type: List, Subform Only).
Create multiple list entries.
Create a Custom Field Y (type: List), and refer to Field X.

### Expected result
I expect to be able to see and select the list entries in the admin.

### Actual result
Unfortunately Joomla (the default admin template) shows the dropdown too small, it is impossible to see and select e

[2022-07-30 19:13] hytsch opened #38347 "Listfield: Add row active, despite limitation to 1"
### Steps to reproduce the issue
Create a user field (List) and limit the number of rows to 1 ("Maximum Rows" =1).

### Expected result
When editing the post, I expect the icon for adding a list entry (row) to be inactive.

### Actual result
Open the post in Admin: the plus symbol to add another row seems active, although it has no effect. As a user, I expect a green add button to have an effect o

[2022-07-30 19:13] chmst commented on #38345
Did you consider using a json.asset.file in your module? Then you can define the dependency. Not sure how this works in your environment.

[2022-07-30 19:15] PhocaCz commented on #38345
Hi Christiane, does it mean, I can define dependency in way: "load after user.css"?

[2022-07-30 19:21] ReLater commented on #38345
I can confirm this issue. I had the same problem yesterday with a template. I tried a lot, also joomla.asset.json, a plugin and so on, to get the user.css later then other assets. Didn't find a practical, intuitive way.

[2022-07-30 19:25] PhocaCz commented on #38345
BTW in fact we need the opposite of dependency here. Because if we define dependency, we load it after some declared CSS but we need to load it before some declared CSS (in this case user.css)
[code]

![img](https://i.imgur.com/UPPJwpt.png)

It's the exact opposite of what we need.

[2022-07-30 19:33] chmst commented on #38345
I saw this in template cassiopeia. But did not dive deeper into this and could be completely wrong

[code]

[2022-07-30 20:24] chmst commented on #38346
Could you please add a screenshot?
For me everything looks in normal size.

[2022-07-30 20:32] chmst commented on #38347
Could you please add a screenshot? What do you mean with "open a post"?

[2022-07-30 20:32] Fedik commented on #38345
Currently the order is FIFO + Dependency.
Because user.css loaded by template, and it always before we render modules and it cannot depend from module.css, the user.css goes first and then module.css.

That one of isses that left from j3 :)

[2022-07-30 20:44] PhocaCz commented on #38345
OK, so this means, user.css is not loaded as last currently. Is there more information on this topic? Is there any limit to ensure loading user.css or custom.css last?

[2022-07-30 21:48] hytsch commented on #38346
![image](https://user-images.githubusercontent.com/4489029/181997228-0983cfec-b744-4f91-9193-d243b99edba1.png)

[2022-07-31 02:09] sparkktv opened #38348 "Helix Ultimate 2.0.10 (PHP 8 issues)"
Testing PHP 8 in my localhost using MAMP. And running the latest version of Helix Ultimate and Helix Ultimate Template on Joomla 4.1.5. When I use PHP 8, it get the error 0
mb_strpos(): Argument #3 ($offset) must be contained in argument #1 ($haystack)
on every page of my site, but if I downgrade back to PHP 7.4 then the site works without issues. It is indeed a Helix issue as I switched over the

[2022-07-31 07:10] brianteeman commented on #38348
You are asking the wrong people - you need to ask the makers of the Helix template.

[2022-07-31 07:21] HLeithner commented on #38348
Closing See brians answer.

[2022-07-31 07:21] #38348 closed, assigned to nobody

[2022-07-31 07:43] aftertaf commented on #37975
Same apology - but I have the same issue.
IF this is related to a plugin that is not sending 4 arguments, it can be causing all API calls to fail (which is my situation : 500 internal error on GETs of any kind...) ?

[2022-07-31 09:20] Fedik commented on #38345
I think, it never planned to be a last, but just to be after template.css.

In theory it is possible, there one undocumented feature,
I try tests, maybe will do pr for user.css.

[2022-07-31 10:04] brianteeman opened #38354 "Media Field CSS RTL"
### RTL
![image](https://user-images.githubusercontent.com/1296369/182021142-b6223f11-eeb3-4937-a0ba-ae0d185f1e9c.png)

### LTR
![image](https://user-images.githubusercontent.com/1296369/182021188-8d517765-84e0-4306-a248-79f4601e37dc.png)

As can be seen in the image the RTL version is not correct as it has a border -radius

[2022-07-31 11:38] MayaSima opened #38355 "Tag dictionary associated with articles has errors"
### Steps to reproduce the issue
Create an article via a POST call to Joomla API and send an array of tag_ids

### Expected result
"tags": {
                "27": "Politics",
                "673": "Spencer Lindquist",
                "674": "Social Justice",
                "675": "Critical Race Theory",
                "676": "Dei",
                "677": "Drug Overdose",
                "678":

[2022-07-31 11:50] MayaSima opened #38356 "Easy retrieval of IDs for existing articles/tags/categories needed"
### Is your feature request related to a problem? Please describe.
When publishing a new article, tag or any other item via the Joomla API, if there is an existing article/tag/etc with the same alias, Joomla returns an error:

_“Another article from this category has the same alias (remember it may be a trashed item).”_

After that error, I need to send a PATCH request instead, but in order to do

[2022-07-31 15:24] Sulpher opened #38357 "PHP Notice: Trying to get property 'id' of non-object"
Just decided to examine server-side error.log and found numerous notices:

`[Sun Jul 31 08:13:42.671625 2022] [proxy_fcgi:error] [pid 3306697:tid 140328884639488] [client 67.46.151.63:54390] AH01071: Got error 'PHP message: PHP Notice:  Trying to get property 'id' of non-object in /var/www/site.com/libraries/src/Updater/Adapter/ExtensionAdapter.php on line 333`

Joomla 4.1.5
PHP 7.4.27

Unfortunat

[2022-07-31 16:29] brianteeman commented on #38357
It is essential to know which extensions are installed as this error message is directly related to one of them

[2022-08-01 07:16] alikon commented on #38356
not sure i've got you fully
anyway
simply 1st do a GET request like this:
`{{base_url}}/{{base_path}}/articles/?filter[search]={{title}}`
and then a POST/PATCH depending upon the GET result

[2022-08-01 08:37] brianteeman opened #38364 "Multi-factor Authentication - RTL"
### Steps to reproduce the issue
the offset-sm-3 etc is causing issues on RTL as shown in the screenshots

## LTR

![image](https://user-images.githubusercontent.com/1296369/182108335-06d40d5b-e496-4cd5-b2eb-4b82b419937a.png)

## RTL

![image](https://user-images.githubusercontent.com/1296369/182108477-c438ee03-d1e4-4f32-8761-79c7632297b5.png)

[2022-08-01 10:15] MayaSima commented on #38356
I tried to filter the results using this notation, but it didn't work returning 404 error. I also did some research online and tried other options (with and without quotes around the actual text):

?attributes.title=Test.
?data.attributes.title=Test.

All of them returning 404 error.

Overall, even if I can get this filtering to work somehow, my concern is that this is going to slow down the proce

[2022-08-01 10:47] brianteeman commented on #38326
please test #38366

[2022-08-01 10:52] alikon commented on #38326
closing as we have a pr #38366

[2022-08-01 10:52] #38326 closed, assigned to nobody

[2022-08-01 12:47] Fedik commented on #38345
Please test #38368

[2022-08-01 12:47] #38345 closed, assigned to nobody

[2022-08-01 13:11] PhocaCz commented on #38345
Hi, great, thank you, tested successfully, works great.

Thank you, Jan

[2022-08-02 06:49] alikon commented on #38356
it works fine from my side
![image](https://user-images.githubusercontent.com/181681/182310084-284a8b69-fd70-44d4-8b99-3db556dc9f8e.png)

plus  there is an index on the alias field  so the search cannot be so slow

[2022-08-02 08:10] Kostelano opened #38370 "[4.2] [Smart Search] Error with option "Gather Search Statistics" enabled"
### Steps to reproduce the issue
1. Install nightly build 4.2.
2. Install demo data.
3. Index demo data in Smart Search.
4. Go to the frontend, use the search module - for example, the query "Joomla". Everything is working.

5. Return to the admin panel, enable option **Gather Search Statistics** in the settings of the Smart Search component, then repeat the search in the frontend.

In my case, I

[2022-08-02 10:11] alikon commented on #38370
i've got a different one
![image](https://user-images.githubusercontent.com/181681/182349119-967062fa-df8f-4d7e-9f30-be5e7c0e3131.png)

anyway  I've made a  draft  #38373 can you check if it works for you too ?

[2022-08-02 10:26] #38370 closed, assigned to nobody

[2022-08-02 11:35] brianteeman opened #38374 "[4.2] Release Blocker page loading twice?"
### Steps to reproduce the issue
Visit any page and it is loading twice?

![browser](https://user-images.githubusercontent.com/1296369/182365212-4abe0acd-1c2f-458b-8181-215b5bb1b7d5.gif)
![browser2](https://user-images.githubusercontent.com/1296369/182365215-20bb9d1c-2fcf-4fa8-b5df-19cfa5e05fdf.gif)

[2022-08-02 11:59] brianteeman commented on #38374
must have been something wrong with the branch - clean pull and it works fine now

[2022-08-02 11:59] #38374 closed, assigned to nobody

[2022-08-02 14:29] kwellesleyedu commented on #38201
Yes, it appears you are describing the same problem.

The code change brought up by @pixelhexe is not a general fix and only works in a very specific condition so you need to be extremely careful if you want to try it out.

I think a design change may be needed for a fully robust solution. (as opposed to just changing some of the outer most code)

That said, I think we're all just waiting on the J

[2022-08-02 14:33] EJBJane commented on #38201
Thanks for your quick reply, I will keep following this post then. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38201">issues.joomla.org/tracker/joomla-cms/38201</a>.</sub>

[2022-08-02 14:44] EJBJane commented on #38201
There are two others in the forum with the same type of problem.
https://forum.joomla.org/viewtopic.php?f=808&t=995058
https://forum.joomla.org/viewtopic.php?f=808&t=995062<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38201">issues.joomla.org/tracker/joomla-cms/38201</a>.</

[2022-08-02 21:33] coolcat-creations opened #38376 "Joomla 4.1.5 Status Error 409 - Not possible to load the backend Template"
### Steps to reproduce the issue
Occurs on a customers site and I also read about others on Facebook and in Forums having this issue on their hosting

### Expected result
Backend Template should load

### Actual result
Backend assets are marked with status 409 and not loaded

<img width="771" alt="grafik" src="https://user-images.githubusercontent.com/828371/182476819-aa93fcc9-da93-4264-83c7-df7c1

[2022-08-02 21:47] richard67 commented on #38376
@coolcat-creations In the title of this issue you wrote „403“. Shouldn’t it be „409“?

[2022-08-02 21:52] brianteeman commented on #38376
What browser?
Have you tested without any browser extensions?
What cache?
Are you using a cdn?

as a 409 is usually related to a local problem and not a server problem all of these are important to know/test

[2022-08-03 05:08] coolcat-creations commented on #38376
I tested with:
Safari on Mac
Opera On Mac
Chrome on Mac
Firefox on Mac
With/ Without Privacy Mode
Without extensions
Not using any CDN
Cache Disabled

[2022-08-03 05:20] coolcat-creations commented on #38376
Yes 409 sorry just tried to change it on my phone but it's not possible to scroll in the Edit window for me 😅

[2022-08-03 06:27] richard67 commented on #38376
Would be interesting to know if this happens also with a 4.2-dev nightly build on the same environment.

[2022-08-03 06:30] richard67 commented on #38376
… or if it happens also with older 4.1 or 4.0 versions.

[2022-08-03 06:34] brianteeman commented on #38376
Do you have any other sites o the same host?

[2022-08-03 06:44] coolcat-creations commented on #38376
Site was an Upgrade from Joomla 3.10.10. to 4.1.5
There are other sites on the same host, Joomla 3 works well, Joomla 4.1.5 clean install same error.

[2022-08-03 06:47] brianteeman commented on #38376
ok well thats good news as it clearly identifies that the issue is somewhere in the hosting config/setup even if we dont know yet what is causing it. Would it be possible to get the domain name of the clean install so we can check the response headers etc. Perhaps the host as a cahing layer of their own that is in play?

[2022-08-03 06:51] coolcat-creations commented on #38376
I am having the Joomla Kids Lectures this week, I will contact the customer if its ok and share it as soon I can

[2022-08-03 07:06] hytsch opened #38377 "Versioning does not work completely"
### Steps to reproduce the issue
I use the versioning function and set a post from date Y to an earlier version back to a date X.

### Expected result
The content of the post should then correspond to the version as of date X.

### Actual result
However, I get a mixture: contents in core and standard fields are actually reset to the status as of date X. Contents in custom fields, on the other hand

[2022-08-03 10:26] domcotec opened #38379 "Custom field values for categories are not deleted when a category is deleted"
### Steps to reproduce the issue
1. Create a new custom field for categories (Navigate to Content > Fields, select 'Category' in the filter dropdown at the top of the page and click '+New' to create a new custom field and save it.)
2. Create a new category (Content > Categories > New)
3. In the category switch to the 'Fields' tab and add some data to the custom field you just created. Save.
(Now i

[2022-08-03 10:49] laurinash opened #38380 "spam"
removed

[2022-08-03 10:53] Franzwohlkoenig commented on #38380
please delete as spam.

[2022-08-03 10:54] anteud3000 opened #38381 "Add new item to custom client admin menu using PHP 8"
### Steps to reproduce the issue

I've recently built a J4 (4.1.5) website from scratch on a MAMP localhost running PHP 7.4.21 and everything has been working fine.

I updated the PHP version to 8.0.8 and attempted to created a streamlined client admin area having a Custom client admin (see https://magazine.joomla.org/all-issues/ ... experience) and everything worked fine UNTIL I tried to add a me

[2022-08-03 11:05] ReLater commented on #38377
Just to say it: From my point of view it's a 50:50 decision if it's correct to reset the custom fields also. Sometimes welcome, sometimes not.

[2022-08-03 11:14] hytsch opened #38382 "Copying of custom fields faulty"
### Steps to reproduce the issue
I assign several custom fields to an article category X and then copy the custom fields using the batch function.

### Expected result
If I open a custom field and save it as a copy, the copy retains the assignment to category X. Therefore, I expect the same behaviour with the batch function.

### Actual result
The copies of the custom fields lose the assignment of

[2022-08-03 11:21] hytsch opened #38383 "Copying custom fields incorrectly (name)"
### Steps to reproduce the issue
Copy a custom field using the batch function.
### Expected result
The copy contains a number in brackets (2) in the label and the addition "-2" in the name.

### Actual result
Joomla creates a copy of the field with the identical name.

### System information (as much as possible)
j4.1.5

### Additional comments
This is particularly tricky because identical names s

[2022-08-03 11:25] brianteeman commented on #38383
same as #37555 ?

[2022-08-03 13:20] dgrammatiko commented on #38333
@crystalenka try this:

<details>
<summary>code</summary>

[code]
</details>

[2022-08-03 13:50] alikon commented on #38355
you need to pass the tag id's and not the tag's title

![image](https://user-images.githubusercontent.com/181681/182624625-4131a215-5d66-48d9-8ad5-1934fc2c47f7.png)

[2022-08-03 14:30] #38380 closed, assigned to nobody

[2022-08-03 15:18] hytsch commented on #37555
exactly.

[2022-08-03 15:42] joomla-dependency-bot opened #38386 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Lock file maintenance (4.2-dev)](../pull/39053)
 - [ ] [Update dependency bootstrap to ~5.2.0 (4.3-dev)](../pull/3

[2022-08-03 15:46] brianteeman commented on #37555
So this should be closed as a duplicate

[2022-08-03 15:50] chmst commented on #38383
Closing as duplicate

[2022-08-03 15:50] #38383 closed, assigned to nobody

[2022-08-03 21:57] brianteeman opened #38391 "J4 cant install on remote postresgsql server"
### Steps to reproduce the issue
During the installation you are asked what type of database yuo are installing to : mysql, postgres etc BUT the list is filtered so that only the db options that are available on your server are presented in the select box.

This means that you can never install joomla on a remote postgres server unless you already have postgres running on the same server as php.

[2022-08-03 22:05] HLeithner commented on #38391
The filter is if the running PHP Version is supporting PostgreSQL. That has nothing todo if the Server is local or is remote.

[2022-08-03 22:05] #38391 closed, assigned to nobody

[2022-08-03 22:06] brianteeman commented on #38391
Knew I was missing something ;)

[2022-08-04 08:44] coolcat-creations commented on #38376
Can you test if you see the template Style on http://joomladevtest.torontocameraclub.com/administrator/ - its the 4.2 nightly. For me this one works for the customer not. While the staging site backend does not work for me but for my customer. It's a really weird issue. As mentioned above I have cache disabled completely and I test on different browsers.

[2022-08-04 08:53] chmst commented on #38376
I get the message "Warning! Internet Explorer should not be used for proper operation of the Administrator Backend. " on this site,

[2022-08-04 09:14] brianteeman commented on #38376
@chmst thats because my pull request is sat untested and unmerged #37900

[2022-08-04 09:21] brianteeman commented on #38376
@coolcat-creations Please check and review this https://stackoverflow.com/questions/55915264/scriptdocument-cookie-humans-21909-1-document-location-reloadtrue-scri

In  other words it sounds like it could be a bad mod_security rule on the server

[2022-08-04 09:28] brianteeman commented on #38376
and you will see that all reports of this issue are from the same hosting company :(

[2022-08-04 09:36] brianteeman commented on #38376
I should have added that the server response to all thefiles with a 409 is
`<script>document.cookie = "humans_21909=1"; document.location.reload(true)</script>`

interesting analysis showing its a server issue https://www.hetogrow.com/account-registration-error-code-cookie-humans_21909

[2022-08-04 09:45] FaiSoo commented on #38377
Yup, i have a same problem also
Here my website [Ruai99](https://ruai99.com/ "Ruai99 Slot")

But how to do, nothing much can do

my customer put these info inside, but it become Y eventually
Ruai99 มีโปรโมชั่นแจกไม่อั้นยิ่งกว่าใคร!! สมัครตอนนี้รับทันทีฟรีโบนัส และโปรโมชั่นฝากครั้งแรกที่ให้มากถึง 100% ร่วมเล่นเกมกับเรา ไม่มีผิดหวัง
Ruai99 สล็อต ออนไลน์ เว็บตรงจากค่ายดัง ไม่ผ่านเอเย่นต์ ไม่มีขั้นต่ำ

[2022-08-04 10:01] anteud3000 commented on #38381
It would appear this problem was linked to the component OSMap Free? I disabled the component and everything started to work as expected <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38381">issues.joomla.org/tracker/joomla-cms/38381</a>.</sub>

[2022-08-04 10:09] alikon commented on #38381
so not a core issue let's close it then

[2022-08-04 10:09] #38381 closed, assigned to nobody

[2022-08-04 12:09] sarahhayes103 commented on #38010
I have experienced the same issue with Joomla 4 on several different servers, when using the edit button on the menu item in the admin area. It appears to be caused by the modal code and an escaped single-quote, which triggers mod security.

This is what Mod Security has recorded
Request: GET /administrator/index.php?option=com_content&view=article&layout=modal&tmpl=component&c031c1a6095d274fd4db8

[2022-08-04 12:12] sarahhayes103 commented on #37507
I have experienced the same issue with Joomla 4 on several different servers, when using the edit button on the menu item of an article in the admin area. It appears to be caused by the modal code and an escaped single-quote, which triggers mod security.

This is what Mod Security has recorded
Request: GET /administrator/index.php?option=com_content&view=article&layout=modal&tmpl=component&c031c1a

[2022-08-04 14:15] brianteeman commented on #38376
This is where you can find it

![image](https://user-images.githubusercontent.com/1296369/182869205-561e434b-86b4-4d96-93db-ae8862c05eab.png)

I don't believe there is anything we can do about this and it should be closed and passed to the hosting company

[2022-08-04 14:35] coolcat-creations commented on #38376
@brianteeman Thank you. I am suprised a hosted can attach cookies to files. Every day something new :) Thanks for your help!

[2022-08-04 14:35] #38376 closed, assigned to nobody

[2022-08-05 06:33] chmst commented on #38382
Confirmed.
I would expect a selection of the target category on the batch modal.

[2022-08-05 06:38] chmst commented on #38379
I cannot confirm that. Did you trash the fields or did you  delete them permanently (empty trash)?

[2022-08-05 07:32] brianteeman commented on #35997
This really should be closed.

[2022-08-05 07:42] brianteeman commented on #35821
Joomla 4 already uses the proposed code and as j3 wont be getting any more changes this should be closed

[2022-08-05 07:45] domcotec commented on #38379
I deleted the category permanently.
But the cf value remains in the #__fields_values table.

It's important that you test this with a category, not with an article, because for articles it works as expected.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38379">issues.joomla.

[2022-08-05 07:53] GabyE4U opened #38400 "Issues with tags that have spaces"
### Steps to reproduce the issue
1. Create a tag with a space in the name.
2. Create subtags of this tag, with or without spaces. This doesn't matter.
3. It should look something like this:

![Tag tree](https://i.imgur.com/I1wdYLb.png "Tag tree")

4. Create an article in the administrator (in com_content).
5. Type the full name of the parent tag in the Tags field to search for the sub-tags it has.

[2022-08-05 08:16] sandewt commented on #35821
Thks

[2022-08-05 08:16] #35821 closed, assigned to nobody

[2022-08-05 08:31] #35997 closed, assigned to nobody

[2022-08-05 08:36] Fedik commented on #38400
I think it is expected, because search work for a tag title, not for any parent, but for the tag name itself.
We display the parents in drop down just for "visual siplicity", so you know wich exatly tag tree you selected.

[2022-08-05 09:15] brianteeman commented on #35381
Please test #38401

[2022-08-05 10:39] brianteeman commented on #36587
Smart Search has been considerably rewritten in Joomla 4 and I can not replicate this there.

Joomla 3 is now only receiving security fixes so I guess this should be closed - perhaps with a tag known issue or something like that @zero-24

[2022-08-05 10:48] brianteeman commented on #36620
The cols attribute is only of any use when the field has no width already set in css. It is really a legacy option and it does work - just not if there is any css setting a width or when the editor is set to anything but none.

[2022-08-05 13:31] ExploitCN opened #38403 "Who has the exp for the vulnerability of CVE-2018-11321, I can pay for it. Friends of EXP with this vulnerability can contact me"
Security issues should **NOT** be reported on this repository.

If you believe you have found a security issue, please contact the Joomla Security Strike Team via email at security@joomla.org or through the contact form at https://developer.joomla.org/security/contact-the-team.html.

Please see https://developer.joomla.org/security.html for more information on how the Joomla project responds to se

[2022-08-05 14:23] woluweb opened #38404 "Joomla 4 > Modals in the backend throwing a 403 or 404 error because of ModSecurity"
### Steps to reproduce the issue

This issue relates to 3 Modals in Joomla 4 backend:
1. when you Edit an Article from a Menu Item (not when you create it)
2. when you Edit the Association between Articles in Multilingual sites
3. when you Edit the Association between Menu Items in Multilingual sites

I had noticed this a few months ago but could not find anybody else facing the same issue.
Then @

[2022-08-05 14:28] simbus82 commented on #31530
In Joomla 3.10 this is really broken...

We have translated an IT site to EN and now all of out tagging system have URL broken.
A non SEF url cause a lot of problem, like module assignement to a menu.

How we can solve?
We have duplicated and assigned to the right language every element (tags, menu voices and articles) and it's broken.

[2022-08-05 18:43] nikosdion commented on #38364
Given that this is the example code [Bootstrap gives for checkboxes in horizontal forms](https://getbootstrap.com/docs/5.2/forms/layout/#horizontal-form) wouldn't it be a Bootstrap problem instead of a Joomla problem?

At the time of this writing the code Bootstrap suggests is the following:
[code]

[2022-08-05 19:10] brianteeman commented on #38364
That would assume that joomla is using bs and its rtl correctly - hint we're not

If we were correctly using bootstrap rtl then the class offset-* would be margin-right when in rtl instead of margin-left

Sadly we're still not using it correctly so we have a mess of some overrides that J_M wrote and the rest is missing

[2022-08-05 19:44] nikosdion commented on #38364
Then the problem is how Joomla uses Bootstrap and not the HTML code in the MFA feature. Fix Joomla's use of Bootstrap and the problem corrects itself.

[2022-08-06 06:59] brianteeman commented on #38364
exactly

[2022-08-06 08:48] coolcat-creations commented on #38376
Just one more question: Joomla 3 works without issues, so there must be something in Joomla 4 confusing mod_security of such hosters. What could it be? Searching through the net I saw that the word register is causing problems. As implementing the css works, if it's implemented manually maybe "registering" the webasset Manager is the problem?

[2022-08-06 08:58] richard67 commented on #38376
@coolcat-creations Do you have some links so interested readers don't have to search again?

[2022-08-06 09:05] coolcat-creations commented on #38376
@richard67 yes sorry:
this is mentioning the problem with the word register: https://stackoverflow.com/questions/55915264/scriptdocument-cookie-humans-21909-1-document-location-reloadtrue-scri

[2022-08-06 09:17] richard67 commented on #38376
Well I don't think we can change our web asset manager to use something else than "register" without b/c breaks.

Reading the linked stackoverflow thread, one provider was able to change their mod_security settings, while another just recommended to disable mod_security completely.

Maybe it is possible to set some mod_security rules in the .htaccess file? I haven't investigated yet.

If that is n

[2022-08-06 09:20] brianteeman commented on #38376
You can't modify mod security with htaccess

[2022-08-06 16:32] crystalenka commented on #38333
@dgrammatiko I will try it when I figure out how to do the build process 😅 thank you

[2022-08-06 18:31] dgrammatiko commented on #38333
You can create an override of the ‘media/system/js/fields/joomla-field-media.min.js’ in your active template’s js dir (ie ‘ media/templates/administrator/atum/js/system/fields/joomla-field-media.min.js’ iirc) and paste the content of the post above.

[2022-08-07 08:33] ghost opened #38411 "[4.1.5] Multilingual Associations: Default List Limit is set to '25'"
### Steps to reproduce the issue

1. Global Configuration: Set 'Default List Limit' to **5**
2. Components: Multilingual Associations: 'Default List Limit' is **5**
3. Select 'Item Type': 'Default List Limit' chance to **25**. This happen using any item type.

### Expected result

'Default List Limit' stay at '5' after selecting an item type.

### Actual result

please see 'Steps to reproduce the

[2022-08-07 18:42] brianteeman commented on #38364
ok - spent the entire today but #38412

[2022-08-07 18:42] #38364 closed, assigned to nobody

[2022-08-07 18:45] brianteeman commented on #35850
#38412

[2022-08-07 18:45] #35850 closed, assigned to nobody

[2022-08-07 19:58] sternenvogel commented on #36587
Sad but sounds reasonable. So I probably have to fix it myself and switch to Joomla 4 asap... Thanks for replying anyway.

[2022-08-07 20:30] zero-24 commented on #36587
Closing here as mentiond above.

[2022-08-07 20:30] #36587 closed, assigned to nobody

[2022-08-07 21:46] brianteeman commented on #38411
Unable to replicate - or did I miss something?

![image](https://user-images.githubusercontent.com/1296369/183312095-0e1e26cd-b383-4913-acb7-c766a44388ad.png)

![ass](https://user-images.githubusercontent.com/1296369/183312140-1c6bff4e-9c93-4de3-9184-6c409a206742.gif)

[2022-08-08 05:06] Franzwohlkoenig commented on #38411
Thanks @brianteeman for taking your time to look at the issue.

Please do a change of the item type, for example from 'Articles' to 'Menu Item' back to 'Select Item Type'. The List Limit is after each change '25':

https://user-images.githubusercontent.com/89642616/183343096-bbcabdf9-834b-4c8d-b306-8a4856011a08.mov

[2022-08-08 05:55] brianteeman commented on #38411
ok - that I can confirm

[2022-08-08 10:05] ruchit-parikh opened #38418 "When we have multiple query at same time, joomla overrides last query in case of development mode"
### Steps to reproduce the issue
When we set the **error_reporting** to **highest** and when we are processing **multiple queries at same time**, like consider using an `Iterator` and while processing those items which we fetch through iterator, if we make any other query on `getDbo` of `JFactory`, our iteration ends because query gets overridden.

[code]

### Expected result
Independent queries s

[2022-08-08 10:12] brianteeman commented on #38418
The level of error reporting is setting the php error level reporting. It can NOT change anything

[2022-08-08 10:30] ghost opened #38419 "[4.1.5] UX: Multilingual Associations: 'Status' Icons different to other components"
### What needs to be fixed
In Multilingual Associations the icons of 'Status' are different to other components:
| Multilingual Associations | Example 'Contacts' |
| --- | --- |
| <img width="322" alt="ma-status" src="https://user-images.githubusercontent.com/89642616/183396654-1d6fda82-8ee4-4c02-8d70-1850a4fc0220.png"> | <img width="390" alt="default-status" src="https://user-images.githubusercon

[2022-08-08 11:15] counterpoint opened #38420 "After component options are modified the method getParams in ComponentHelper returns old values"
### Steps to reproduce the issue

Create a plugin to handle onExtensionBeforeSave and onExtensionAfterSave. Put in diagnostics based on Joomla\CMS\Component\ComponentHelper::getParams() to show or save one of the option values. Change the option value and save. Note that both of the plugin methods show the old value, even though the new value is in the database.
### Expected result

The new value

[2022-08-08 11:21] richard67 commented on #38419
The difference is: In the other components, the status can be changed by clicking the icon, and there is a tool tip telling that, so it is not just a display but a toggle.

In the multilingual status view, the icon cannot be clicked, it is just a status display.

I hope you agree with me that for this reason they definitely should look different.

And if you check the multilingual status module wh

[2022-08-08 11:21] #38419 closed, assigned to nobody

[2022-08-08 11:26] Franzwohlkoenig commented on #38419
I do, thanks @richard67, haven't thougt about 'toggled'.

[2022-08-08 15:20] brianteeman commented on #35472
This should be closed as there is nothing useful to respond with based on the information provided

[2022-08-08 15:21] brianteeman commented on #29381
Is there a reason this is still open?

[2022-08-08 15:22] #35472 closed, assigned to nobody

[2022-08-08 15:30] crystalenka commented on #38333
Yup, it works! Putting it in an override did not work but I overrode the file directly and it works. I know it'll disappear in the next update unless there's a PR or something but I can confirm this did fix the issue with .mov files.

Thank you!

[2022-08-08 16:17] nikosdion commented on #29381
Yeah. It's never been addressed. The solution is dead simple. You can have a simple system plugin which injects a one line CSS rule to set the base size of the HTML element. It can be set, for example, to 0.9rem and the problem is fixed. I have done that for my size because Joomla 4 is completely unusable on a 13" laptop with the default macOS resolution.

[2022-08-08 17:00] chmst commented on #29381
Or you use a user.css for atum and define a smaller font-size.

[2022-08-08 18:44] Quy commented on #38120
Closing due to no response with requested info.

[2022-08-08 18:44] #38120 closed, assigned to nobody

[2022-08-08 19:00] dgrammatiko commented on #38333
@crystalenka couple of things here:
- the override should work (maybe the system shouldn't be in the path?)
- the changes are extremely minimal, like 5-6 lines
- but the code that used to sniff the mime types didn't exist till 4.2 and this [pr](https://github.com/joomla/joomla-cms/pull/37654) thus the original code was flaky
- I'm not ok contributing to joomla anymore but at least I can fix things

[2022-08-08 19:07] richard67 commented on #38333
Closing as having a pull request. Please test #38425 . Thanks in advance.

[2022-08-08 19:07] #38333 closed, assigned to nobody

[2022-08-08 20:03] nikosdion commented on #29381
@chmst Asking people to create a CSS file so that Joomla's font size **IS NOT UNUSABLE BY DEFAULT** is the antithesis of user-friendliness.

As a matter of fact, the "simple" solution of creating a system plugin was meant to provoke a response similar to "but creating a plugin to make Joomla usable is not a solution, _the core needs to change_". Whoosh! It went over your head, like every single us

[2022-08-08 21:34] brianteeman commented on #29381
Being a stats geek I went looking for something to back up this claim and this is what I found together with info I bookmarjed some time ago regrding styleguides.

[I studied the fonts of the top 1000 websites.](https://dribbble.com/stories/2021/04/26/web-design-data-fonts
)![image](https://user-images.githubusercontent.com/1296369/183513770-31e9c047-46eb-4781-8b50-44f8d5c3d1d8.png)

### CMS
wordp

[2022-08-08 22:20] nikosdion commented on #29381
@brianteeman You have only tested on your one computer and one monitor and one operating system. Your sample size is unrepresentative. Further to that, you never did any comparison.

I love facts more than you do. I actually spend a lot of money on hardware to be able to collect MORE facts than all of you do collectively. Here is what I have tested on:

* macOS Big Sur and Monterey, M2 13" built-i

[2022-08-08 22:29] brianteeman commented on #29381
You speak of your own eyesight and experience and extrapolate that to the rest of the world without evidence and try to couch that in pseudo science while treating everyone else as stupid. No wonder no one is interested in changing this. Get back to your holiday.

[2022-08-08 22:40] nikosdion commented on #29381
So you are saying the browser dev tools lie and don’t reflect the real text size being rendered. So me, many others, and the browsers all don’t know what we’re saying but you do. Your subjective reality trumps objective facts. Okay, got it. You are a jackass.

And this, people, is exactly why Joomla is dead. Its leadership and co-founders are deaf and blind to fact, reason and feedback.

[2022-08-09 07:45] crystalenka commented on #38333
Thank you, @dgrammatiko. I appreciate it!

[2022-08-09 08:57] brianteeman commented on #36229
This bit me really hard today. it makes child templates completely useless to me

[2022-08-09 09:19] brianteeman opened #38427 "[4.2-rc] OpenSearch php deprecated"
### Steps to reproduce the issue
Install Joomla 4.,2rc and the sample data
php version is 8.1.7
navigate front end of the site

### Expected result
empty php error log

### Actual result
`[09-Aug-2022 09:18:30 UTC] PHP Deprecated:  htmlspecialchars(): Passing null to parameter #1 ($string) of type string is deprecated in libraries\src\Document\OpensearchDocument.php on line 139`

[2022-08-09 09:30] tecpromotion commented on #35851
The easiest way is to contact the author. I can do this of course.

[2022-08-09 10:19] chmst commented on #38400
@GabyEdit4U Which behaviour would you expect here? I agree with @Fedik that this is "normal" behaviour.

[2022-08-09 12:41] richard67 commented on #38427
@brianteeman Which one? Blog? Or multilingual? Or testing?

[2022-08-09 13:02] brianteeman commented on #38427
It was blog - but I doubt it makes a difference

[2022-08-09 14:10] Fedik commented on #38427
It is here https://github.com/joomla/joomla-cms/blob/19a2b79ea6d1b72c9584087d2576898fb7e13a7b/libraries/src/Document/OpensearchDocument.php#L138-L140

However default value is empty string (not null) https://github.com/joomla/joomla-cms/blob/19a2b79ea6d1b72c9584087d2576898fb7e13a7b/libraries/src/Document/Document.php#L33-L40

It seems that some code overrides the default value value to `null`

[2022-08-09 15:47] #37155 closed, assigned to nobody

[2022-08-09 15:53] brianteeman commented on #36092
This issue should be closed for obvious reasons

[2022-08-09 16:05] #36092 closed, assigned to nobody

[2022-08-09 16:20] prh47bridge opened #38429 "Unable to save menu item"
### Steps to reproduce the issue

Create a menu item (the type I used was for a single article)
Give it the title "The Rhône from Sea to Source"
Do not set a parent item
Save it
Modify it by setting a parent item
Save it again

### Expected result
Both saves should work

### Actual result
The second save fails claiming that the alias, "the-rhone-from-sea-to-source", is already being used.

### Sys

[2022-08-09 16:21] prh47bridge commented on #38429
Note that changing the title of the item from "The Rhone from Sea to Source" (i.e. losing the accent on the o" doesn't make a difference. However, if I use that title to create the item I can save it as often as I want.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38429">is

[2022-08-09 16:41] #35712 closed, assigned to nobody

[2022-08-09 18:05] elfring commented on #36092
I would appreciate a more constructive feedback for proposed change possibilities.

[2022-08-09 18:34] ReLater commented on #38429
I can not confirm this issue. I followed the steps and could save the menu item several times without any warnings.

[2022-08-09 18:59] richard67 commented on #38429
@prh47bridge What’s your backend language? And is the PHP extensions “intl” for internationalization (e.g. transliteration) enabled?

[2022-08-09 19:02] ReLater commented on #36092
You are free, like everyone in the world, to provide PRs with code changes and testing instructions that others can review and test. Sometimes code reviews are sufficient, sometimes not.

If you come along with 500 changes in 48 extensions and/or libraries in 1 pr there is little chance that anyone will spend their time on it.

Likewise, the code that comes out of it should also be halfway underst

[2022-08-09 19:08] elfring commented on #36092
Do you understand anything from the mentioned source code transformation approach (which could be performed also with the help the shown Perl command example)?

[2022-08-09 19:23] ReLater commented on #36092
As I've said: You cannot expect the result of a command line to be blindly merged into the Joomla core. And no one will spend their time testing all the changes made by it. So: Smaller steps are preferred. No untestable giant actions.

I do, my friend. But again: To let people understand it you have to provide the results as readable PHP code as PRs to a Joomla branch.

[2022-08-09 19:33] elfring commented on #36092
I do not expect such an action.

:eyes: I am just looking for a better indication of the potential for change acceptance.

:thought_balloon: “Automatic” adjustments can occasionally be performed on demand by using advanced source code search and replacement commands, can't they?

[2022-08-09 19:43] brianteeman commented on #36092
From the level of information provided - zero

[2022-08-09 19:48] elfring commented on #36092
:thought_balloon: Do any other software developers care any more for similar transformation commands (so that combined operators would be used more often)?

[2022-08-09 19:51] rdeutz commented on #36092
@elfring you got some kind advice, looking forward seeing something usefull. Till then stop wasting our time.

[2022-08-09 20:36] prh47bridge commented on #38429
On further investigation, it only happens if the "modify it" step involves changing the parent item. Other changes to the menu item don't cause the problem.

My backend language is English (United Kingdom).

php-intl was not installed. I have now installed and enabled it but it has made no difference.

[2022-08-09 23:15] wilsonge commented on #38427
https://github.com/joomla/joomla-cms/blob/4.2-dev/components/com_finder/src/View/Search/OpensearchView.php#L42

[2022-08-10 05:12] ghost opened #38430 "[4.1.5] Media: Options: No 'Help' button shown"
### What needs to be fixed
As title say:

<img width="1015" alt="Untitled" src="https://user-images.githubusercontent.com/89642616/183818987-1a48b3cc-8d11-41e1-b27a-0f9c3af146a8.png">

### Why this should be fixed
There is a [help screen](https://docs.joomla.org/Help4.x:Media) where the 'Help' button can link.

### How would you fix it
?

### Comment
'Scheduled Tasks Configuration' have also no 'H

[2022-08-10 09:13] steveroger9005 opened #38432 "why"
why

[2022-08-10 09:13] Fedik commented on #38427
Please test #38431

[2022-08-10 09:13] #38427 closed, assigned to nobody

[2022-08-10 09:17] steveroger9005 opened #38433 "Mesmerize the eyes of potential buyers with retail gift boxes"
spam

[2022-08-10 09:31] #38433 closed

[2022-08-10 09:35] #38432 closed

[2022-08-10 09:46] prh47bridge commented on #38429
Just to add the specifics in case it is relevant, I created the menu item and forgot to assign a parent item. I then went in again to edit it and assign the correct parent. It refused to save. I deleted the menu item (trash and empty trash) and then tried again, assigning it to the correct parent when I created it. That worked. I can reliably reproduce the issue on my system.

[2022-08-10 10:21] brianteeman commented on #38429
I can't replicate it either - sorry

[2022-08-10 11:43] prh47bridge commented on #38429
It is more specific than I thought! It seems to depend on which parent item I choose. I can move the menu item to some parents without a problem, others produce this error. I will add some debugging to see if I can figure out what's going on.

[2022-08-10 11:45] brianteeman commented on #38429
are you 10000% certain that you dont have any trashed menu items?

[2022-08-10 11:53] prh47bridge commented on #38429
Oops! For some reason I didn't find the trashed item when I searched for it. It does exist. My bad. Sorry.

[2022-08-10 11:53] #38429 closed, assigned to nobody

[2022-08-10 12:51] dgrammatiko commented on #36229
This is a standing issue for the template manager obviously exaggerated when child templates are also in the mix. The root problem is that the overrides diffing, notification, etc is completely rubbish as almost everything that is coming from GSOC. The whole architecture of figuring out the updated layouts is very wrong (that's even without the child templates). The way that the system tries to fi

[2022-08-10 13:23] brianteeman commented on #36229
This is not about improving the UI/UX for cosmetic reasons. Without it the entire child templates thing is useless.

It should be something like this. Then you could see if there was an override in place already etc

![image](https://user-images.githubusercontent.com/1296369/183912204-fffd6a9a-7dcd-4813-8967-70b1a1e0239b.png)

[2022-08-10 13:23] h-tagliato commented on #37914
Thank you for your suggestion, therefore the option
'useEmojis' => false
remove the icons  from the next panel (those before label "increaseText" etc.),
while setting
'useEmojis' => true
the icons appear again but the wheel-chair icon returns on the front end.
(Joomla 4.1.4).

Do you have any other suggestion?
Thank you anyway<hr /><sub>This comment was created with the <a href="https://github.com

[2022-08-10 13:29] brianteeman commented on #36229
Just another example of unfinished functionality added to the core and then never finished.

[2022-08-10 13:34] brianteeman commented on #36229
in which case child templates should not have been added. it is useless as it is right now.

I said it wasnt usable and it wasnt complete when it was merged but no one listened again

[2022-08-10 13:40] biltongandpotroast commented on #37914
I had the same issue, the icons are not displayed because the 'Material Icons' Google font file is not being loaded because of a bug in /media/vendor/accessibility/js files, which use 'Material+Icons' instead of 'Material Icons'.

I tried a temp fix according to Brian Teeman's advice [here](https://forum.joomla.org/viewtopic.php?t=992530) and [here](https://issues.joomla.org/tracker/joomla-cms/370

[2022-08-10 13:48] h-tagliato commented on #37210
Really exhaustive.
Thank you very much for your explanations<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/37210">issues.joomla.org/tracker/joomla-cms/37210</a>.</sub>

[2022-08-10 14:00] dgrammatiko commented on #36229
I'll repeat again that Child Templates were introduced in 4.0.0. What you're complaining about is the GUI, which obviously you can completely ignore and do things in the CLI or your IDE. The GUI that shipped in 4.1 was a compromise due to B/C restrictions.

[2022-08-10 15:19] brianteeman commented on #36229
its still useless

[2022-08-10 15:22] dgrammatiko commented on #36229
Then don't use it, you're not forced somehow to use it.

[2022-08-10 16:59] brianteeman commented on #38430
please test #38435

[2022-08-10 17:38] #38430 closed, assigned to nobody

[2022-08-10 22:43] brianteeman commented on #35381
Quite correct that the message about overrides on the update page needs improvement. In the context of the page you are on when you get that message it is not helpful. I will see what I can come up with.

[2022-08-11 07:25] jbrailas commented on #23105
Why did you close this??
I've spent four hours trying to figure out that there is a bug! I had my custom module "Only on the pages selected". Thankfully there is a workaround as mentioned by nedjic

[2022-08-11 10:37] ReLater commented on #23105
@jbrailas

Meanwhile we're on Joomla 3.10 and I still can not confirm the issue. i don't see a "bug". Just expected bahavior from my point of view.

- Create 1 module of type mod_login.
- It's important to have just 1 because `ModuleHelper::getModule('mod_login')` returns just 1 if there are several.
- No position set in my case set.
- In index.php of the template.

[code]
- Opening Home in Browse

[2022-08-11 13:17] coolcat-creations opened #38437 "Enable upload of font file formats to the template manager"
### Is your feature request related to a problem? Please describe.
I tried to show my Joomla Kids how to customize Cassiopeia. In Germany you are not allowed to embed Google Fonts so you have to upload them into the template.
It's not possible to upload it because of security restriction.

### Describe the solution you'd like
Allow Upload of:
eot, woff, otf, ttf, woff2 and svg into a font folder o

[2022-08-11 17:00] joomlahenk opened #38438 "Remove useless uninstall warnings."
### What needs to be fixed
Uninstall warnings:
"Joomla\CMS\Filesystem\Folder::delete: Path is not a folder." and "JInstaller: :Install: SQL File not found"

### Why this should be fixed
I know these warnings are on purpose, See: #34996: [4.0] Fix fatal error while uninstall deleted plugin and: #6559: Wrong error message. But they are totally useless and just filling up the screen.
Also real warnin

[2022-08-11 18:53] brianteeman commented on #38438
what makes you think they are useless

[2022-08-11 20:17] joomlahenk commented on #38438
Maybe you can explain the use.

[2022-08-11 20:26] richard67 commented on #38438
When you open an issue you should be willing to provide the necessary information.

[2022-08-12 07:47] WM-Loose opened #38440 "Editing posts in the frontend. Selection options (title, author, category, etc.) are missing."
Editors who only work in the frontend should also be able to adjust the options without having to go to the backend.

[2022-08-12 08:38] chmst commented on #38440
You want that editors can change the article options also in frontend.

Indeed:
We have a param "show_article_options" in com_content, but this param is not used in frontend.

[2022-08-12 08:41] WM-Loose commented on #38440
https://forum.joomla.de/thread/16414-beitr%C3%A4ge-titel-verbergen-wird-ungewollt-beim-speichern-im-frontend-ge%C3%A4ndert/?postID=112252#post112252

[2022-08-12 10:05] mariantanase commented on #38437
Also in Italy

[2022-08-12 10:15] dgrammatiko commented on #38437
Only `woff` and `woff2` fonts should be supported, all the others are really, really old...

[2022-08-12 13:26] crystalenka opened #38443 "[J4.x] Calendar field in subform cut off when overflowing subform container"
### Steps to reproduce the issue
Create a calendar custom field.
Create a repeatable subform custom field.
Add the calendar field to the subform field. Save and close.

Open an article where you can edit the subform field and add some items.

### Expected result
You will be able to use the calendar field normally.

### Actual result
The calendar field gets cut off by the bounding box of the field

[2022-08-12 13:33] crystalenka commented on #38443
Some additional info:
- this happens on Safari, haven't tested in other browsers yet
- it appears to happen because of the `overflow-x:auto` rule on the `<div class="table-responsive">`. Removing that rule fixes the display of the calendar, but then the table overflows the container.
- The best solution is probably to address the table behavior when it's too wide as horizontal scrolling is not a g

[2022-08-12 13:41] counterpoint opened #38444 "Module configuration in admin interface does not translate a language string in default"
### Steps to reproduce the issue

Install an ultra simple mod_helloworld that has a configuration item such as shown in the attached XML,
and a corresponding language file, similar to attached.

### Expected result

Label field and default field translated using the language file

### Actual result

Label field is translated, but default field is left as the language string MOD_HELLOWORLD_DEFAULT

[2022-08-12 13:52] crystalenka commented on #38443
This part of how bootstrap functions, apparently:

Source: https://getbootstrap.com/docs/5.2/content/tables/#responsive-tables

So, unless we decide not to use bootstrap responsive tables, the solution is... impossible? I don't know. Maybe we could put the calendar select in a [dialog element](https://caniuse.com/dialog) (the relatively new native HTML modal)?

However I think this will also be a

[2022-08-12 14:21] coolcat-creations commented on #38437
The others are standard in the webfont kits that myfonts and other services are providing. To not make it too complicated I would suggest just to whitelist all the font formats as it does not hurt and prevents frustration when trying to upload and it does not work.

[2022-08-12 15:54] brianteeman commented on #38444
Please post the xml or close this. No one can help without the information

[2022-08-12 16:40] stell opened #38450 "Using redirect state in profile editing"
### Is your feature request related to a problem? Please describe.
When editing the user profile and saving it, you will be redirected to the user profile again.
If a third party extension redirects to the profile editing by itself and sets another target via state 'com_users.edit.profile.redirect' beforehand, it is possible to redirect to where the user started in the extension again, which is ve

[2022-08-12 19:36] counterpoint commented on #38444
I did post it as a text file. But it wasn't saved. The issue is clear enough without an example - any configuration XML for a module that uses the "default" tag and enters a language symbol will fail to have the symbol translated. [mod_remositorytree.txt](https://issues.joomla.org/uploads/1/8a960514062ef6a8243fc9a42ef3bce5.txt) <hr /><sub>This comment was created with the <a href="https://github.c

[2022-08-12 19:40] crystalenka opened #38452 "[J4.x] Custom Field List returns inconsistent results when used in subform"
### Steps to reproduce the issue

1. Create a new custom field of type 'list'. Set multiple to 'no'. Set subform only to 'yes'. Add several unique options to the list.
2. Create a new custom field of type 'subform'. Add your new list field to the subform. Make sure repeatable is set to 'yes'.
3. Create an article where you can edit the custom field.
4. Add several rows with different values set in

[2022-08-12 19:40] counterpoint commented on #38444
The file above was the workaround. The problem is exemplified here.[mod_remositorytree.txt](https://issues.joomla.org/uploads/1/633ce93a62864bd06c9f1ac98b455e6d.txt)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38444">issues.joomla.org/tracker/joomla-cms/38444</a>.</sub>

[2022-08-12 19:49] zero-24 commented on #38444
On a quick look it seams to be the expected / documented behavior: https://docs.joomla.org/Text_form_field_type

When you need that within your extension the easiest workaround would be an fork of the text field and add support for translation. To me it looks like an inherited field from other places where translation is not relevant or useful.

[2022-08-12 20:11] Fedik commented on #38437
I have removed version from the title, because it feature request, and having a version in the title may confuse :wink:

[2022-08-12 20:41] coolcat-creations commented on #38437
Thank you @Fedik
@dgrammatiko I use for example myfonts and the https://google-webfonts-helper.herokuapp.com/fonts both deliver the full package. It does not harm to allow the files so why discussing it? It's worse for a beginner not to be able to upload and being confused by it.

[2022-08-12 21:18] dgrammatiko commented on #38437
@coolcat-creations I just stated that the CMS should not promote deprecated/unsupported things. Anyways, I have my own solution that doesn't require any of all that copy/paste/upload/etc (I even tried to contribute that in the core: https://github.com/joomla/joomla-cms/pull/30914)

https://user-images.githubusercontent.com/3889375/184446207-20a88495-6897-49ae-8807-9f6967521396.mp4

[2022-08-12 23:14] coolcat-creations commented on #38437
What's wrong with allowing file types that are common for templates in the template manager?

[2022-08-13 05:59] Ronald3Tolkien3 opened #38453 "Organize your research results"
Researchers and academics publish scholarly articles that present the results of their research using data they have gathered. Research papers describe the process of testing hypotheses and models, and how these findings shape or advance a research topic. The results section of academic articles is crucial in communicating the importance of the article.
Your research findings should be placed in a

[2022-08-13 06:02] brianteeman opened #38454 "Loggable extensions and user action logs"
### Steps to reproduce the issue
In the **user acytion logs** component options remove some or all **events to log**
![image](https://user-images.githubusercontent.com/1296369/184470839-9b322719-00d7-4a39-8014-626cc470ae89.png)

In your user profile go to the Action Log tab and configure the **Events to Email**

![image](https://user-images.githubusercontent.com/1296369/184470883-d53e4b35-3cea-473

[2022-08-13 06:12] #38453 closed

[2022-08-13 07:29] joomlahenk commented on #38438
OK, J! team is not interested

[2022-08-13 07:29] #38438 closed, assigned to nobody

[2022-08-13 07:57] coolcat-creations commented on #38437
I added also the wish for allowing .min. in filenames. renaming template.min.css for example to style.min.css does not work.

[2022-08-13 08:04] brianteeman commented on #38437
Thats a slightly different issue so could you please make a new issue for that (if there isnt one already) - the reason that you cannot currently upload a *.*.* file was to address a security issue (which may not be relevant anymore)

[2022-08-13 08:17] brianteeman commented on #38452
Just a guess based on your screenshot. Is it always an array for the first and a string for subsequent values?

[2022-08-13 08:24] chmst commented on #38443
Related https://github.com/joomla/joomla-cms/issues/38346

[2022-08-13 08:30] coolcat-creations opened #38455 "Allow Upload and renaming of .xxx. files to template manager"
### Is your feature request related to a problem? Please describe.
In School class I showed how to customize a template. If you want to upload or rename a min.js or a min.css file to the template manager it's not allowed.

### Describe the solution you'd like
Allow .min. files in the template manager

[2022-08-13 09:14] HLeithner commented on #38437
The reason not to support legacy or better deprecated file types is to make it easier for people to do the right thing. If you only allow state of the art (in this case only needed) file types you automatically teach people to do the right thing and they don't need to make there own research what they have to do.

I personally would only allow woff2, the usage difference is about 1,5% an that's ma

[2022-08-13 09:45] crystalenka commented on #38452
It seems to be. Not sure what would happen if they were more mixed in as I had to get moving with the project and worked around it; I will have to experiment more later.

[2022-08-13 09:58] N6REJ commented on #38437
@coolcat-creations does his video solve the issue or is that too complex for the kids?
We definitely need to support our kids.  The winning popularity or raspberry pi's proves that point.

[2022-08-13 11:14] brianteeman commented on #38437
Instead of wasting time debating which font formats to support why not spend the time more productively on an actual method to upload the files.

PS joomla already has support for those other font formats in the preview

[2022-08-13 11:16] brianteeman commented on #38455
For reference the original reason to prevent the upload of *.*.* filenames was to address a security issue. I have no idea if that is still relevant but it explains why it is currently prevented

[2022-08-13 11:37] Quy commented on #38455
Duplicate #30908?

[2022-08-13 11:46] N6REJ commented on #30908
so simple solution.  all abc.min.css abc.min.js etc.  not just any old abc.xyz.123

[2022-08-13 11:50] brianteeman commented on #30908
shakes head in dismay

[2022-08-13 13:34] crystalenka commented on #38452
Just played with it more; this is correct. It doesn't matter if they are not in subsequent order; the first time a certain value is used, it's always an array, and every other time the value is used it is a string.

[2022-08-13 20:31] chmst commented on #38015
I could not replicate this error in many new installations. And we have no other issue like yours. @Webdongle is this still an issue or can we close it?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38015">issues.joomla.org/tracker/joomla-cms/38015</a>.</sub>

[2022-08-13 23:11] brianteeman commented on #38455
So I remembered what the security issue was and found the code that deals with it.

The good news is that code does not prevent *.min.* and I have verified that I can upload both a min.js and a min.css file

https://user-images.githubusercontent.com/1296369/184516276-31c957ed-15d2-44a9-8a07-e4fd472c5fa0.mp4

[2022-08-13 23:27] brianteeman commented on #38455
Currently it is not possible to rename a file example.csss to example.min.css but is that necessary?
It is a very quick fix if it is necessary and it would be acceptable for it to be

![image](https://user-images.githubusercontent.com/1296369/184516547-4fbe54e5-3e4c-4d20-9d8f-820adeb0c59b.png)

[2022-08-13 23:50] Webdongle commented on #38015
If nobody can replicate the error then it needs to be closed

[2022-08-13 23:50] #38015 closed, assigned to nobody

[2022-08-14 07:47] coolcat-creations commented on #38455
I can't rename a template.min.css to style.min.css. I mean that's a simple wish to something and could be frustrating if it's not possible. It would be really nice if it's possible.

[2022-08-14 07:51] brianteeman commented on #38455
if the option shown in the screenshot is acceptable it is a 2 second pr

[2022-08-14 08:01] coolcat-creations commented on #38455
Means I can upload a min.js but still not create? It would be at least a part of the solution. Creation would be appreciated too when they do not use an IDE in the first moment :-)

[2022-08-14 08:44] brianteeman commented on #38455
same fix

[2022-08-14 08:45] brianteeman commented on #38455
creating is a bit harder as the regex is more comples but i will take a look

[2022-08-14 08:56] richard67 commented on #35381
@brianteeman Is this issue solved with your PR #38449 (and possibly your other PRs), so we can close it? Or is it solved only partly so we should leave it open?

[2022-08-14 09:11] brianteeman commented on #35381
as far as i am concerned it is, but maybe its not fr me to decide

[2022-08-14 09:19] richard67 commented on #35381
Closing as having a pull request. @bembelimen Feel free to reopen this issue if I’m missing something.

[2022-08-14 09:19] #35381 closed, assigned to nobody

[2022-08-14 09:22] richard67 commented on #38418
Possibly it is related to debug and not error reporting?

[2022-08-14 10:11] brianteeman commented on #38418
Might as well close it as the original author did not respond

[2022-08-14 10:33] brianteeman commented on #38455
please test #38458

[2022-08-14 10:39] brianteeman commented on #38437
It is currently perfectly possible to upload ttf, woff and otf fonts in the template manager - don't know why you could not?

The only one that cannot be uploaded currently is woff2 and all thata has to be done is to add it to the list of font formats in the template options.

![image](https://user-images.githubusercontent.com/1296369/184533077-eaad8230-faba-4848-867e-9528de0c844f.png)

![image](h

[2022-08-14 10:39] brianteeman commented on #30908
Please test #38458

[2022-08-14 10:48] brianteeman commented on #38437
please remove the new feature tag as its already possible

[2022-08-14 16:01] Peter620327 opened #38460 "Joomla 4.0 iframe doesn't show title of embedded calendar"
### Steps to reproduce the issue

### Expected result; calendar title showing up
This is how it is working fine in joomla 3.0: see attended file 'Joomla 3.0 iframe - Show Title.JPG'
![screen shot 2022-08-14 at 15 53 55](https://issues.joomla.org/uploads/1/c80046bbc5d4a618ae0e3115e2072d5c.jpg)

### Actual result: calendar title not showing up
This is what happens on local host/joomla 4.0: see atten

[2022-08-14 20:33] brianteeman commented on #38460
Your screenshots are showing that the problem is that the data inside the iframe does not contain the desired title.

Everything inside the iframe is coming from the source site and not from joomla. Joomla can only display the information it is given.

Perhaps the data in the iframe doesnt provide the title because you are on localhost?

For any further support please use the forums

[2022-08-15 07:14] GabyEdit4U commented on #38400
@Fedik @chmst Sorry for my late reply, I was unavailable due to vacation last week.

In point 1 of the first result you can see that when you start with typing the parent tag (in this case "Test"), it will actually show all the results that have "Test Tag" as the parent tag. Only when you type in the space and the list refreshes (or type out the full Test Tag name for that matter as described in p

[2022-08-15 07:22] brianteeman commented on #37884
After several months with no other reports this should probably be closed

[2022-08-15 07:24] brianteeman commented on #37870
Closing as it was addressed with #38002

[2022-08-15 07:24] #37870 closed, assigned to nikosdion

[2022-08-15 07:25] brianteeman commented on #37783
I guess this should be closed as it is being addressed in the framework repo ?

[2022-08-15 07:31] brianteeman commented on #37769
This can be closed as I can see that the french language pack no longer uses the incorrect %s

[2022-08-15 07:32] brianteeman commented on #37642
@chmst I dont understand why you marked this as a new feature and did not close

[2022-08-15 07:38] brianteeman commented on #36648
After 8 months surely this should be closed

[2022-08-15 07:47] brianteeman commented on #36330
1. Traditionaly in a diff red is the original and green is the changed version. Hopefully if #38401 is merged it will remove any _confusion_
2.  As with all uses of a toggle button throughout joomla the text is showing the current state so your suggestion would be incorrect. However it would probably be better to change the label to "Show Differences" and the state to yes/no

[2022-08-15 08:12] brianteeman commented on #34667
As Joomla 4.2 now has a captive login option I believe this is resolved.

[2022-08-15 08:19] coolcat-creations commented on #38437
I tested again and It's not possible to upload eot and woff files. These are all files contained in the herokuapp package. If it's not adviseable to use these font formats the error should say: "You don't need this font format, we advise you to only upload woff" - A beginner does not know why you dissallow the upload of a font what for example myfonts.com or herokuapp is giving you. and if .eot is

[2022-08-15 08:26] brianteeman opened #38464 "[4.2] deprecation notice in userlevels"
### Steps to reproduce the issue
Try to create a new viewing access level

### Expected result
form opens with no php messages

### Actual result

Deprecated: json_decode(): Passing null to parameter #1 ($json) of type string is deprecated in administrator\components\com_users\src\Model\LevelModel.php on line 154

![image](https://user-images.githubusercontent.com/1296369/184602073-96db8469-411a-4

[2022-08-15 08:37] brianteeman commented on #38437
eot is not in the list of allowed file types as defined in the component options. Add it and you will be able to upload.
I have no problem uploading woff files at all as shown in the screenshot.

I have discovered a mismatch between the default options in the component (includes woff2) and the default options created in the database (does not include woff2). I will do a pr for that but it will onl

[2022-08-15 08:38] dgrammatiko commented on #38437
@coolcat-creations couple of things:
- the heroku app is abandonware, proof: https://github.com/majodev/google-webfonts-helper/pull/123
- that PR also denotes that using the app to get your fonts will actually HARM the performance of your site
- at the end of that PR there's a link to another site that zips the css/woff2 and should be probably used (as I said before I have my own take on this so t

[2022-08-15 08:45] coolcat-creations commented on #38437
Ok, got you @brianteeman and @dgrammatiko -  can we also add something to the error messages to understand why something is blocked? A beginner just does not understand and thinks Joomla does not work properly. Also the Filemanager is weird you have to click a folder before uploading and you can't move files when you forgot. But thats another issue.

Thank you, appreciate that!

[2022-08-15 08:47] brianteeman commented on #38437
What more do you want than is there currently

![image](https://user-images.githubusercontent.com/1296369/184605131-dff23cbe-b154-4b93-8841-f228f73d7f98.png)

[2022-08-15 08:48] coolcat-creations commented on #38437
Sorry somehow I overlooked this, this is a very nice solution!

[2022-08-15 08:49] coolcat-creations commented on #38437
Maybe something like "You tried to upload a svg font. Svg fonts are a outdated format and should not be used anymore. Try to upload a woff file"

[2022-08-15 08:56] #37884 closed, assigned to nobody

[2022-08-15 08:57] alikon commented on #34667
if not it could be reopened

[2022-08-15 08:57] #34667 closed, assigned to nobody

[2022-08-15 08:58] #36648 closed, assigned to nobody

[2022-08-15 09:11] brianteeman commented on #38437
Then you would need to have a message for every single type of file

[2022-08-15 09:11] alikon commented on #38464
please test #38467

[2022-08-15 09:11] #38464 closed, assigned to nobody

[2022-08-15 09:25] coolcat-creations commented on #38437
Or maybe we add a message like: This file format is not supported. To read more about why click here on manuals.joomla.org/supported-file-formats.... And there we could explain for severall file formats why they are outdated. ?

[2022-08-15 09:26] brianteeman commented on #38437
But it might not be that they are outdated. It might be that they are really not supported on the web or that they are too new a format etc.

[2022-08-15 09:36] coolcat-creations commented on #38437
Yes we could explain that all on the manuals page - Hopefully the manuals Page will have a module like "was this explanation helpful for you?" at the end so we can get feedback from the users where to improve. @bembelimen

[2022-08-15 09:55] brianteeman commented on #38437
i thought the manuals site was for developer docs not user docs?

[2022-08-15 10:09] coolcat-creations commented on #38437
Oh I thought it would be a full new documentation for every level... @bembelimen ? Is it only for developers?

[2022-08-15 11:54] chmst commented on #38460
Closing as this is not a Joomla issue

[2022-08-15 11:54] #38460 closed, assigned to nobody

[2022-08-15 12:30] brianteeman commented on #21780
I have retested this old issue and it is no longer reproducable (as expected) and can now be closed

[2022-08-15 12:32] brianteeman commented on #22590
This was created but sadly has not been accepted

[2022-08-15 13:42] Quy commented on #20255
Closing as there are no more J3 releases other than security fixes. Not an issue in J4.

[2022-08-15 13:42] #20255 closed, assigned to nobody

[2022-08-15 14:53] brianteeman commented on #25903
@richard67 that is my reading of the op issue as well.

[2022-08-15 16:11] #37769 closed, assigned to nobody

[2022-08-15 18:24] WeibelMarc opened #38468 "Content article: assigned tags partially deleted when reloading and saving again"
### Steps to reproduce the issue
Assign 9 predefined tags to a selected content article in the administrator form.
Save and close the content article.
Check the contentitem_tag_map for the selected content article (should be faithful).
Open again the same article and check the previously assigned tags.
Save the selected article again.
Check the contentitem_tag_map for the selected content article

[2022-08-15 19:42] chmst commented on #38468
Could be the same as here https://issues.joomla.org/tracker/joomla-cms/37927.

[2022-08-15 19:54] #21780 closed, assigned to nobody

[2022-08-15 22:15] WeibelMarc commented on #38468
Yes absolutely. Many thanks. Sorry for missing this issue report. The hint from Kadmon06 solves the issue (Solution 1
You need to switch the tags from AJAX to Nested. Go to Global Configuration/Tags/Data Entry, and Tag Entry Mode should be Nested.) Kind regards.

[2022-08-15 22:15] #38468 closed, assigned to nobody

[2022-08-15 23:29] obuisard commented on #38068
Indeed, there is a problem with SVGs here. Even when the allowed types and mime types are set correctly in the media manager's global configuration (like stated in the previous comment by @N6REJ), it is impossible to add SVGs to the Media manager (via uploads or drag-and-drop). Once the files are added to the images folder via FTP, for instance, the files are visible (without a preview, which is e

[2022-08-16 00:19] N6REJ commented on #38068
@Quy can you tackle this?

[2022-08-16 02:48] N6REJ commented on #22590
@brianteeman maybe link it so it can be rejuvenated

[2022-08-16 04:24] hmed95 opened #38469 "J4 : Error 101 on registration (Prohibited input U+00000020)"
### Steps to reproduce the issue

when i try to register new account, i use easysocial to handle registration.

### Expected result

at the end of registrationi get this error.

### Actual result

i contacted the extension develeopper and they told me :
It seems that this is a bug from Joomla 4 itself when the mailer subject contains '@' character in it.

### System information (as much as possibl

[2022-08-16 07:32] Fedik commented on #38469
Hm, I wonder why do we use `PunycodeHelper::emailToPunycode` for Subject:
https://github.com/joomla/joomla-cms/blob/ab6d2f8a22958a173ed93c8d5a881286a0c2d282/libraries/src/Mail/Mail.php#L218-L223
https://github.com/joomla/joomla-cms/blob/ab6d2f8a22958a173ed93c8d5a881286a0c2d282/libraries/src/Mail/MailHelper.php#L35-L40

Looks like bug to me also.

[2022-08-16 07:34] Fedik commented on #38469
I would expect `setSubject` to use
[code]
instead of
[code]

Someone remeber a reason? :)

[2022-08-16 07:39] brianteeman commented on #38469
Not me

[2022-08-16 09:53] MayaSima commented on #38356
It works indeed, not sure what I did wrong the first time I tested it. Regardless, don't you think it still would be better to send the ID of the existing item together with the error when a collision occurs?

[2022-08-16 09:56] MayaSima commented on #38355
I am passing the tag id's.

[2022-08-16 11:18] richard67 commented on #38469
Me neither. Reading a bit below I would also expect setBody to use cleanBody and not cleanLine.

[2022-08-16 11:20] MayaSima opened #38472 "Webservices issue with alias creation"
### Steps to reproduce the issue
Send a POST request to create a new article with a title that contains an em dash
### Expected result
"data": {
        "type": "articles",
        "id": "409",
        "attributes": {
            "typeAlias": "com_content.article",
            "id": 409,
            "asset_id": 944,
            "title": "We Need Moratorium on Gun Sales — ‘Time to Repeal the 2nd Am

[2022-08-16 12:03] brianteeman commented on #38472
The character you have posted in your example is not a hyphen. It looks like an em-dash —

[2022-08-16 12:38] MayaSima commented on #38472
I fixed the issue description

[2022-08-16 16:03] Stuartemk opened #38473 "4.0 Error Update (4.1.5 to 4.2)"
### Steps to reproduce the issue
Update 4.1.5 to 4.2

### Expected result
Update

### Actual result
An error has occurred.
0 Redis::setex(): Argument #2 ($expire) must be of type int, float given

### System information (as much as possible)

### Additional comments

[2022-08-16 16:28] PhilETaylor opened #38474 "4.2.0 Update from previous version - Taggable not found."
### Steps to reproduce the issue

Upgrade to Joomla 4.1.2

[code]
references:
 - https://twitter.com/VIPWebdesign/status/1559575877737922560
 - https://twitter.com/marcpliester/status/1559596612384587781
 - https://forum.joomla.org/viewtopic.php?t=995736
 - https://twitter.com/johanv74/status/1559619178373554176

Replicated locally in development sites myself using com_joomlaupdate in the backend.

[2022-08-16 16:40] ChristianGrieger commented on #38474
Got the same error and after deleting the administrator/cache/autoload_psr4.php it tells its version 4.2.0 now. Is that true or really a 4.1.2 with a wrong version display?

[2022-08-16 16:41] PhilETaylor commented on #38474
It will be 4.2.0 - the upgrade completes fine, its just that the autoload_psr4.php is not regenerated...

[2022-08-16 16:41] ChristianGrieger commented on #38474
Okay, good :) Thank you!

[2022-08-16 16:42] PhilETaylor commented on #38474
related @joomdonation https://github.com/joomla/joomla-cms/pull/37990

[2022-08-16 16:42] brianteeman commented on #38474
could someone correct the title please

[2022-08-16 16:43] PhilETaylor commented on #38474
Sorry. Changed now

[2022-08-16 17:07] chmst commented on #38411
I can confirm that this is since I am with Joomla (1.6).

[2022-08-16 17:08] brianteeman commented on #38411
did we have associations then ?

[2022-08-16 17:09] chmst commented on #38411
Setting list limit is valid only for one view, no matter which component.

[2022-08-16 17:16] brianteeman commented on #38411
Sorry I dont follow you. I have no problems with other components

[2022-08-16 17:24] richard67 commented on #38473
@Stuartemk Could you enable debugging in backend (or if you can't go to the backend anymore, edit configuration.php) so you can seer the stack trace and make a screenshot of it and post it here? Thanks in advance.

[2022-08-16 17:30] richard67 commented on #38474
Here the update from 4.1.5 to 4.2.0 went fine. Maybe it happens only with PHP 8.1? I was on 8.0. Or maybe it happens only when updating from an older version than 4.1.5?

[2022-08-16 17:31] PhilETaylor commented on #38474
Another report

[2022-08-16 17:32] richard67 commented on #38473
Here the update from 4.1.5 to 4.2.0 went fine. Maybe it happens only with PHP 8.1? I was on 8.0. @Stuartemk Could you provide some information on your PHP version and database type and version? Thanks in advance.

[2022-08-16 17:33] PhilETaylor commented on #38474
Older versions of Joomla 4 have no code in finalise (as far as I can see) to regenerate administrator/cache/autoload_psr4.php after an upgrade. #facepalm

[2022-08-16 17:33] WeibelMarc opened #38475 "com_finder: fatal error with 4.2 when click on the button search"
### Steps to reproduce the issue
With Joomla 4.2, Extended search (com_finder) activated and content indexed, enter a search term in the public search form, click on the button [Search].

### Expected result
Extended search working fine as with Joomla 4.15 previously.

### Actual result
After click on the Search button, there is an error message:
'0 Serialization of 'Closure' is not allowed'

###

[2022-08-16 17:34] richard67 commented on #38474
@PhilETaylor Code could be in the database model of the installer.

[2022-08-16 17:35] rdeutz commented on #38475
What php version do you have?

[2022-08-16 17:35] alikon commented on #38473
this appens when you have the cache enabled and  Redis as handler

[2022-08-16 17:39] WeibelMarc commented on #38475
Currently PHP 7.4, due to old modules. I will switch to PHP 8.1 at the end of the on-going site migration.
I just realized that it is the same issue as #38373.
It was not obvious when reading this error report.
But when I turned off "collect statistics", the extended search worked again.
The statistics collection was working fine today with Joomla 4.15.
Kind regards.

<hr /><sub>This comment was c

[2022-08-16 17:43] richard67 commented on #38475
Closing as duplicate report and because there is a pull request, see #38373 . Thanks for reporting.

[2022-08-16 17:43] #38475 closed, assigned to nobody

[2022-08-16 17:46] richard67 commented on #38473
@alikon Is it a known issue already? Or new?

[2022-08-16 18:06] alikon commented on #38473
new
checked on 4.1.3 and it works fine

[2022-08-16 18:26] roland-d commented on #38474
Hello @PhilETaylor Thank you for the issue.

So I ran a couple of upgrades using PHP 8.1.0
- 4.1.0 -> 4.2.0
- 4.1.2 -> 4.2.0
- 4.1.5 -> 4.2.0

They all finished normally. After that I had a backup of a user who encountered this issue with 4.1.5 to 4.2.0. So I tested it with the users backup locally from 4.1.5 -> 4.2.0 also without issues.

Do you happen to have any more information on how this cou

[2022-08-16 18:44] PhilETaylor commented on #38474
let me trawl the code history of a project I no longer contribute code to, for you...

https://github.com/joomla/joomla-cms/commit/d66de710482275264b2e82178789c7268c0eeef1

It was not until [4.0.5-rc1](https://github.com/joomla/joomla-cms/releases/tag/4.0.5-rc1) that Joomla Recreated namespace map on Joomla! update https://github.com/joomla/joomla-cms/pull/36094

So basically any upgrade from < 4.

[2022-08-16 19:06] PhilETaylor commented on #38474
https://github.com/joomla/update.joomla.org/pull/261 Is totally the wrong solution - making users do multiple updates is not the correct approach

[2022-08-16 19:07] zero-24 commented on #38474
It was not intended as solution but as workaround until the patches have been deployed as mentiond within the PR ;)

[2022-08-16 19:08] roland-d commented on #38474
I never said that there is no issue.

Was just asking for more info, not solutions.

Thank you.

[2022-08-16 19:16] heelc29 opened #38476 "[4.2] statistics plugin on the captive page"
Issue for PR #38436

### Steps to reproduce the issue

Click on one button of the statistics alert
![image](https://user-images.githubusercontent.com/66922325/184962483-da1b0cb3-8753-4af8-9d96-25b54dc1bc13.png)
![image](https://user-images.githubusercontent.com/66922325/184962516-2c55780f-780f-4fb1-b27e-35a6d2b5ffd5.png)

### Expected result

It's allowed to enable or disable statistics or alert i

[2022-08-16 19:18] PhilETaylor commented on #38474
And on that note I'll unsubscribe. Have fun.

[2022-08-16 19:30] N6REJ commented on #38473
@alikon its not based on cache or redis..
I have a bare bones site with the same issue.
It states the schema is out of date but it infact is correct.
After pulling it into my *ampp I see the following....
[code]

[2022-08-16 19:33] richard67 commented on #38473
@N6REJ Did you get the error mentioned in the description of this issue, which is clearly from redis? If not, your problem is maybe a different issue?

[2022-08-16 19:54] brianteeman opened #38477 "3.10.11 Release news"
### Steps to reproduce the issue
check the email sent by your 3.10.10 site informing you of an update

### Expected result
Links contain all the relevant information

### Actual result
Link to release news has no information about the release

![image](https://user-images.githubusercontent.com/1296369/184972678-b8c36992-c0e1-4756-bd58-a4e95c459eda.png)

@zero-24 did an article not get published?

[2022-08-16 19:58] zero-24 commented on #38477
IIRC there was never a dedicated link to the concrete article included in the mail? Also there was never a dedicated URL for 3.10 as that was always included within the 4.x release at that time.

[2022-08-16 19:59] brianteeman commented on #38477
so the text of the plugin needs to be changed if it is telling people to go to a page for more information and that page doesnt have any more information

[2022-08-16 20:01] brianteeman commented on #38477
spot the difference

![image](https://user-images.githubusercontent.com/1296369/184973870-4836ad47-c644-4aa5-94d9-381ca51f9e65.png)

![image](https://user-images.githubusercontent.com/1296369/184973909-6eea92d2-a723-434d-812c-46522fa8111b.png)

![image](https://user-images.githubusercontent.com/1296369/184973838-a9e8e570-c7ad-48a2-923b-d96cd9da0671.png)

[2022-08-16 20:02] zero-24 commented on #38477
It is hardceded to this page within the plugin: https://github.com/joomla/joomla-cms/blob/3.10-dev/plugins/system/updatenotification/updatenotification.php#L235

[2022-08-16 20:03] zero-24 commented on #38477
I do agree will ask whether it can be added back to the title.

[2022-08-16 20:04] brianteeman commented on #38477
thanks.

 _to be clear i wasnt expecting the email to link to a specific article_

[2022-08-16 20:04] #38477 closed, assigned to nobody

[2022-08-16 20:12] N6REJ commented on #38473
no, not that exact error

[2022-08-16 20:16] PhilETaylor opened #38478 "[4.2] Keyboard Shortcuts Capitalisation Advertised Wrong"
### Steps to reproduce the issue

Reporting on behalf of a user of Joomla.

Joomla 4.2.0 advertises the keyboard shortcuts with CAPITAL LETTERS indicating (to those of us that use global pallet design daily in other apps) that these need to be typed as capital letters.
<img width="562" alt="Screenshot 2022-08-16 at 21 13 39" src="https://user-images.githubusercontent.com/400092/184976808-fc923251-

[2022-08-16 20:33] PhilETaylor commented on #38478
Factually incorrect in the real world

[2022-08-16 20:34] PhilETaylor opened #38480 "[4.2] MFA Captive page issues on mobile screen size."
Reporting on behalf of Mark, a user of Joomla.

Use Joomla 4.2 on an iPhone

Login when Multi Factor enabled. Get the captive page.

Issues

1) Clicking the Joomla logo opens and quickly closes that area
2) clicking the cog top right correctly shows the toolbar buttons, but there are duplicate (badly styled) buttons injected in mobile view in the page (blue/red/link)
<img width="574" alt="Screensh

[2022-08-16 20:42] PhilETaylor commented on #38478
The truth is that it doesn't work with either caps lock on, or holding down shift, on a Mac, in Safari or Firefox to Google Chrome. The user reported that to me, and I confirmed it myself.

[2022-08-16 20:58] PhilETaylor commented on #38478
Take the demo code from https://wangchujiang.com/hotkeys/ and placed it in Codepen

[code]

https://codepen.io/philetaylor/pen/GRxwBbG

Click in the white area

type lower case r - see a pop up

type upper case r - see no popup

Conclusion, despite you thinking it does, it doesn't work as you think.

The Joomla "J" capital hotkey is hard coded as a capital letter https://github.com/joomla/joomla-c

[2022-08-16 21:40] roland-d commented on #38474
So, we have for now removed the update to 4.2.0 being offered while we are looking into the reports of sites failing the update and see how we can fix this as soon as possible.

[2022-08-16 21:54] PhilETaylor opened #38485 "4.2 - MultiFactor GMP/bcmath requirement locks users out of site"
### Steps to reproduce the issue

Install Joomla 4.2.0 on a server without GMP and bcmath PHP Extensions
Login to Joomla Admin and Enable Multi Auth using an `Web Authentication` (Touch ID on Mac)
Joomla allows this, and secures your account.

Logout

Attempt to login again

### Expected result

Expect to be prevented from locking myself and users, out of their accounts

Expect not to be able to S

[2022-08-16 22:01] PhilETaylor commented on #38485
Compare the new Multi-auth Web Authentication set up screen with the old W3C Web Authentication (WebAuthn) Login screen (which is also still available) which clearly, up front, stops you from using it if the requirements are not met.

<img width="1596" alt="Screen Shot 2022-08-16 at 23 00 49" src="https://user-images.githubusercontent.com/400092/184992899-6c3bfbbd-84f6-4797-b705-7f8dd5ab128d.png">

[2022-08-16 22:03] brianteeman commented on #38478
Maybe its a mac thing. Works perfectly on windows

[2022-08-16 22:05] brianteeman commented on #38478
Even on your code pen
type r or R
both give the same alert

note that R is not the same as shift-R

[2022-08-16 22:06] PhilETaylor commented on #38478
Are you telling me that Joomla has just shipped a flagship new feature and no one tested it on Mac's, the number one PC brand in the world, 15% marketshare in the USA, shipping 22.3 million Mac units a quarter?

/FACEPALM/

HOW THE HELL do you type a capital R without shift or caps lock then?!!?!

[2022-08-16 22:09] PhilETaylor commented on #38478
ok if I enable caps lock and click into the white of the code pen and press R it doesn't work, of I then click out (blur) and then click back into the whitespace and press R (caps lock still on) then it works.

It seems like there is a bug here for sure...

[2022-08-16 22:09] zero-24 commented on #38477
3.10 has been put in the title again. Thanks for reporting :)

[2022-08-16 22:09] #38478 closed, assigned to nobody

[2022-08-16 22:25] PhilETaylor opened #38486 "4.0.0 to 4.1.5 upgrade path now also broken - Call to undefined method UpdateModel::isTemplateActive()"
### Steps to reproduce the issue

So, the Joomla project has chosen to stop people upgrading from Joomla 4.0.0 to 4.2.0 in one step - because of https://github.com/joomla/joomla-cms/issues/38474

Instead users of Joomla 4.0.0 are forced first to 4.1.5 by https://github.com/joomla/update.joomla.org/pull/261

When a user attempts a 4.0.0 to 4.1.5 upgrade they end in an error message:

`Call to undef

[2022-08-16 22:26] PhilETaylor commented on #38474
But you did not test that "fix".

@zero-24 Congratulations - now the upgrade to 4.1.5 from 4.0.0 is also SCREWED UP https://github.com/joomla/joomla-cms/issues/38486

Im going to bed.

[2022-08-16 22:34] PhilETaylor commented on #38486
@roland-d @zero-24

[2022-08-16 22:38] zero-24 commented on #38486
Thanks we will look into that. But I'm suprised that it should be broken just now and that we have not got reports of similiar issues before.

[2022-08-16 22:38] zero-24 commented on #38486
Could you post to us the specifications of the maschine that you are running your tests with?

[2022-08-16 22:41] PhilETaylor commented on #38486
Im not surprised. No one uses Joomla 4.

Its a docker container. Its rock solid and runs perfectly. This is not an infrastructure issue - this is a Joomla Code bug where the code to delete the autoload_psr4.php was only added in Joomla 4.0.5-rc1 and so upgrading from any version below that (mine is 4.0.0) to any future version will be broken.

 Im surprised you cannot see that instantly.

[2022-08-16 22:48] PhilETaylor commented on #38486
Let me spell it out to you...

**THE CORRECT way of "fixing" this is to fix it in com_joomlaupdate and RELEASE A NEW VERSION of com_joomlaupdate which needs to be updated before upgrading Joomla.**

You need to add this code https://github.com/joomla/joomla-cms/pull/37990/files to com_joomlaupdate and release a new version of com_joomlaupdate and force users to upgrade that component BEFORE upgrad

[2022-08-16 22:51] zero-24 commented on #38486
Yes its on the list thanks.

[2022-08-16 23:03] PhilETaylor commented on #37881
oh my... Im going to say that this is probably the same cause as the Joomla 4.2 fiasco ... that the update is not deleting autoload_psr4.php and allowing it to be regenerated.

delete the /administrator/cache/autoload_psr4.php when you get the error message `Class "Joomla\Plugin\System\Cache\Extension\Cache" not found` and I bet it then magically works

[2022-08-16 23:06] PhilETaylor commented on #37881
for a 4.2.x to the 4.2.x this https://github.com/joomla/joomla-cms/pull/37990 merged in June would have fixed this persons issue reported in May.

However this was the WARNING you needed to prevent the Joomla 4.2 upgrade fiasco we see today

This issue should be closed.

[2022-08-16 23:09] PhilETaylor commented on #38474
Its almost like someone gave you a massive heads up and warning about this... https://github.com/joomla/joomla-cms/issues/37881 and then @joomdonation worked on https://github.com/joomla/joomla-cms/pull/37990 after that but no one thought about what would happen to sites upgrading from prior versions...

All the warnings were there... todays fiasco could have been averted so so easily :(

[2022-08-17 02:54] joomdonation commented on #38486
The file administrator/components/com_joomlaupdate/finalisation.php is called at the end of extraction process, so the change from https://github.com/joomla/joomla-cms/pull/37990 should be available when update from any Joomla version. So in theory, we do not need to release new version of com_joomlaupdate.

I also just tried to update from 4.1.0 to 4.2.0 from my local computer and it worked well.

[2022-08-17 04:30] ruchit-parikh commented on #38418
Its related to debug yes.

[2022-08-17 04:50] PhilETaylor commented on #38486
Now test 4.0.0 to 4.2.0 as no you will see it’s not well. Or 4.0.0 to 4.1.5 which also dies.

[2022-08-17 05:56] HLeithner commented on #38418
Iirc this is fixed in 4.x can you please try it with the current Version 4.2.0 please?

[2022-08-17 06:14] AndNovAtor commented on #35954
Now even 4.2 is released (and my original issue since minimum 3.8), and still is not implemented...
(Again, as optional feature, not default)

Still don't understand why, but anyway, yes, my issue is low priority

[2022-08-17 06:29] nikosdion commented on #38485
Thank you for NOT reporting this three months ago when I had abandoned my business for a whole month to contribute this feature and for just whining instead of proposing a code solution. Yes of course I will cancel the first vacation I had tried to take in three years to write code for the issues you are filing three months too late, playing all high and mighty, when the reality is that you COULD

[2022-08-17 06:31] nikosdion commented on #38480
Thank you for NOT testing this back in May and now playing all high and mighty. Propose a solution. I don't have the time to do that in my vacation and when I'm back I have my actual business to run.

[2022-08-17 06:34] PhilETaylor commented on #38485
Thank you for proving the Joomla project is still a toxic place. Pathetic.

I do not dictate what you do with your time - you have no right to dictate what I do with my time

Reporting issues with open source software is not whining. Its contributing.

No one expects that, and I certainly did not demand that.

Im sorry that you believe reporting genuine issues is " playing all high and mighty" - g

[2022-08-17 06:35] zero-24 commented on #38486
yes that are our results too. there are many sits where its working fine but some where it does not. interestingly it can be regular reproduced when going from 4.0.0 to 4.2 but not when going from 4.0.0 to 4.1.5 while it still looks like phil is getting it there too. we are still investigation se we can understand whats happening. we have also got reports of 4.1.5 to 4.2.0 upgrades fail but again

[2022-08-17 06:38] PhilETaylor commented on #38480
I choose to spend my time on non-toxic projects and without abuse. You do not get a right to demand how I spend my time. Thankfully.

I am reporting genuine issues in an open source project - there is no "high and mighty" - but just a genuine issue to fix.

No. I will not. And it is not required to propose a solution in an open source project when reporting genuine issues.

No one asked you to. Ev

[2022-08-17 06:50] rdeutz commented on #38485
@PhilETaylor thanks for reporting, @nikosdion enjoy your vacation. Maintenance will look at it.

[2022-08-17 06:57] nikosdion commented on #38485
@PhilETaylor Oh come on, Phil! I am replying to your issue on the same tone this issue and all your other issues the last 10 hours are written. Funny you don't like others treating you the same way you treat them, huh?

Count how many times you use the word "fiasco" in your issues the last 9 hours. Count how many personal attacks you have made. Even here you are spreading FUD by making **what you

[2022-08-17 06:59] nikosdion commented on #38480
@rdeutz Please assign this issue to me

[2022-08-17 06:59] nikosdion commented on #38485
@rdeutz Please assign this issue to me

[2022-08-17 07:01] rdeutz commented on #38485
@nikosdion ok, done.

[2022-08-17 07:01] PhilETaylor commented on #38485
I have not made a single personal attack. I have identified and reported genuine issues with the Joomla 4.2 release that could and should have been found during testing by the teams dedicated to testing the release.

It is a fiasco that, yet again, a major release has had to be pulled by the Joomla project due to issues that should and would have been caught by better quality testing.

I shall not

[2022-08-17 07:14] nikosdion commented on #38480
Pull request https://github.com/joomla/joomla-cms/pull/38488  Please test.

[2022-08-17 07:15] nikosdion commented on #38485
Pull request https://github.com/joomla/joomla-cms/pull/38488. Please test.

[2022-08-17 07:17] #38485 closed, assigned to nikosdion

[2022-08-17 07:35] nikosdion commented on #38485
@PhilETaylor Okay, let's take a deep breath. As one neurodivergent person to another: the way we perceive others' words and the way we perceive how _our_ words might affect others are not always in line with how most people do. Let's stop bickering and start working together. In the end of the day and regardless of the words we exchanged we **both** want to help Joomla succeed. I am sorry for misu

[2022-08-17 07:48] cappuccinonet opened #38489 "After upgrading to Joomla 4.2 getting error "LoginModel::getMenuLanguage() must be of type int""
after upgrading to Joomla 4.2 in a client's project we do get the following error message while using the frontend login form:

[code]

[2022-08-17 08:12] nikosdion commented on #38480
I cannot reproduce this on an iPhone SE (2020), the smallest screen device I have in my possession, using Safari and a Verification Code as indicated in the issue report.

Test 1: When logging into the backend I do see the field to enter my verification code. I do that and tap on the blue Validate button. It works as intended.

Test 2: When logging into the backend I do see the field to enter my v

[2022-08-17 08:16] nikosdion commented on #38489
That line should've read
[code]

[2022-08-17 08:25] PhilETaylor commented on #38480
Your comments I assume are about issue 2 I reported:

You are not understanding the issue

You assume the issue is that the buttons dont work. That is not what was said or reported.

The issue is that Joomla uses the toolbar for the actions. The toolbar correctly has the actions. the toolbar works - therefore there is no need for duplicated buttons to magically appear in Red Blue and a Link when o

[2022-08-17 08:29] nikosdion commented on #38486
@zero-24 I have gotten various weird issues on three out of six sites I upgraded from 4.1.5 to 4.2.0 because the autoload_psr4.php file is not being removed. My theory is that there was traffic on the site which prevented the file from being removed.

I will submit a PR for JoomlaUpdate's extract.php to do that so you could publish a new JoomlaUpdate version to address this.

[2022-08-17 08:30] PhilETaylor commented on #38486
Doesn't explain why this can be replicated in isolation, in a docker container, on a localhost.

[2022-08-17 08:32] nikosdion commented on #38486
@PhilETaylor The finalisation.php DOES have code to remove that file. That said, I think it is the wrong place to have that code. This code should be running before we include finalisation.php. Give me 5' for the PR and you can tell me if it works for you?

[2022-08-17 08:32] alikon commented on #38473
please test #38490

[2022-08-17 08:32] #38473 closed, assigned to nobody

[2022-08-17 08:34] joomdonation commented on #38486
It's right that Joomla older than 4.0.4 use the file finalisation.php which does not have code to re-generate namespace map and that's the root reason causing the error

If you use Joomla 4.0.4 or newer, upgrade should work well.

[2022-08-17 08:36] PhilETaylor commented on #38486
LMAO - yeah, tell that to users that are presented with a one click upgrade from 4.0.0 to 4.2.0... or 4.0.0 to 4.1.5 (as Published)

If Joomla publishes and upgrade path, then it should work seamlessly.

Telling users they can only upgrade correctly if they use 4.0.4 and above is not the solution.

Joomla 4.0.0 with an updated com_joomlaupdate is the solution.

[2022-08-17 08:38] nikosdion commented on #38486
@joomdonation @PhilETaylor Can you pease test https://github.com/joomla/joomla-cms/pull/38491 since you clearly both have environments demonstrably affected by this issue? My PR is more of an educated guess based on my experience with the core code and the way restoring backups might break a site. Thank you.

[2022-08-17 08:40] PhilETaylor commented on #38486
It also needs to be (needs to stay as well) after finalizeUpdate (where it already is) because admin.php deletes classes/files

[2022-08-17 08:45] PhilETaylor commented on #38486
but of course extract.php doesn't exist on 4.0.0 ... so.. like I said a whole new com_joomlaupdate would need releasing.

[2022-08-17 08:45] nikosdion commented on #38480
That's what it read like.

Yes, there **is** a need. The reason is called User Experience and consistency. If you had participated in the discussion in May or read it before making an assumption you'd have known.

Conceptually (in the mind of the user) this is NOT a standard Joomla form page where actions are always in the toolbar. This looks like, feels like and works like a login page. Login pag

[2022-08-17 08:48] PhilETaylor commented on #38480
But yet you HIDE the in-page buttons on larger displays... thus changing the User Experience and destroying consistency... /facepalm/

But yet on a larger screen they are...

No it is not. Bottom left  ( DOT DOT DOT) the ellipsis icon...

[2022-08-17 08:50] nikosdion commented on #38486
I **EXPLICITLY** said, in no uncertainty terms:

You are being deliberately obtuse and disruptive a.k.a. toxic. Stop it.

[2022-08-17 08:50] PhilETaylor commented on #38480
Proof that you have not even read what I wrote.

There are at least THREE other issues to resolve on a small screen, the JS icons in the TOP LEFT BOTTOM LEFT and BOTTOM RIGHT which are all invalid or broken in captive mode

[2022-08-17 08:51] PhilETaylor commented on #38486
You know what - Fuck you. I have better things to do than be here.

[2022-08-17 08:51] #38486 closed, assigned to nobody

[2022-08-17 08:52] PhilETaylor commented on #38480
https://github.com/joomla/joomla-cms/issues/38486#issuecomment-1217704680

[2022-08-17 08:52] #38480 closed, assigned to nikosdion

[2022-08-17 08:52] PhilETaylor commented on #38474
https://github.com/joomla/joomla-cms/issues/38486#issuecomment-1217704680

[2022-08-17 08:52] #38474 closed, assigned to nobody

[2022-08-17 08:52] PhilETaylor commented on #36457
https://github.com/joomla/joomla-cms/issues/38486#issuecomment-1217704680

[2022-08-17 08:52] #36457 closed, assigned to nobody

[2022-08-17 08:53] nikosdion commented on #38480
@PhilETaylor Again, **READ THE DISCUSSION FROM MAY**. All of that has already been discussed.

Unlike you, I actually do read what you write.

None of that has anything to do with the MFA feature. This is how Joomla works. It shows these buttons EVEN THOUGH nothing is published in these module positions. This is a template issue, not an MFA issue. My remit was very specific and I could not possibl

[2022-08-17 08:53] nikosdion commented on #38486
Thank you for your valuable feedback and your personal attacks.

[2022-08-17 08:54] PhilETaylor commented on #38486
Fuck you

[2022-08-17 08:54] Fedik commented on #38476
please test #38492

[2022-08-17 08:56] wilsonge commented on #38486
OK I've given @PhilETaylor a ban for this. This behaviour is unacceptable

[2022-08-17 09:02] ChristineWk commented on #38068
@obuisard: Thanks for your intervention

[2022-08-17 09:13] brianteeman commented on #38068
@obuisard that is not my experience as shown in this video https://www.youtube.com/watch?v=U7hHYpuNqsg&ab_channel=LearnJoomla4

[2022-08-17 09:20] nikosdion commented on #38486
I am truly sorry it came to this 😞 Hopefully Phil can find it in him to approach this project, its maintainers and its contributors with a less aggressive attitude. I appreciate his past work in the core — I use a lot of his contributions in my own extensions and all of my sites — and the fact that he does convey issues reported to him by his clients. I don't disagree with what he does, just how h

[2022-08-17 09:29] #38357 closed, assigned to nobody

[2022-08-17 09:54] sandewt opened #38497 "[4.x] Naming of overridden file (editable) is not chosen correctly."
### Steps to reproduce the issue

Goto:
- Templates: Customise (Cassiopeia) > Editor > /templates/cassiopeia > html

### Expected result
Naming:
**Override** file (editable)

### Actual result
Naming:
**Overridden** file (editable)

### System information (as much as possible)
J4

### Additional comments
Because this file is NOT overriden, that is the Original file.
![screen shot 2022-08-17 at 09

[2022-08-17 10:05] pierre-pvln opened #38499 "Child of Atum template does not show correct text at login page"
### Steps to reproduce the issue
Create a child template for Atum template
Added a user.css in css folder of atum template (/media/templates/administrator/atum_child/css/user.css)
Set this child as the default template

### Expected result
in login page sidebar left:
**Joomla Administrator Login**

### Actual result
**TPL_ATUM_BACKEND_LOGIN**

### System information (as much as possible)
Joomla 4.

[2022-08-17 10:11] jhrenshaw opened #38500 "Error with Cli Apps after upgrading to 4.2"
### Steps to reproduce the issue

php /path-to-root-directory/cli/joomla.php update:extensions:check

### Expected result

Fetching Extension Updates
==========================

 ! [NOTE] There are available updates to apply

### Actual result

RuntimeException {#1797
  #message: "Could not parse the requested URI http://path-to-root-directory/cli/joomla.php"
  #code: 0
  #file: "/path-to-root-dir

[2022-08-17 10:16] richard67 commented on #38497
The override file is the one which overrides the original file, so the original file is the one being overridden. I do not see any mistake in that terminology.

[2022-08-17 10:23] brianteeman commented on #38497
Linguistically this is a bit weird and I think it is currently wrong but would like to hear more views.

Overridden is the past participle

The original file is being overriden by the new file

therefore we have an **original** and an **override**

[2022-08-17 10:33] brianteeman commented on #38499
Confirmed

[2022-08-17 11:15] sandewt opened #38501 "[4.2] The Joomla! 4.2.0 Upgrade Package is missing some images"
### Steps to reproduce the issue

Download the concerning packages:
- Joomla! 4.2.0 Upgrade Package (.zip)
- Joomla! 4.2.0 Full Package (.zip)

Compare the images folders with each other.

Link: [Joomla! Downloads](https://downloads.joomla.org/cms/joomla4/4-2-0 "https://downloads.joomla.org/cms/joomla4/4-2-0")

### Expected result

- Joomla! 4.2.0 Upgrade Package (.zip)

This package is NOT missin

[2022-08-17 11:17] zero-24 commented on #38501
That is intended to avoid getting that images back when deleting them after the initial install via any update again.

[2022-08-17 11:28] sandewt commented on #38501
I missed these images despite the fact that I never deleted them.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38501">issues.joomla.org/tracker/joomla-cms/38501</a>.</sub>

[2022-08-17 11:33] Avenezer commented on #38370
I confirm the topikstarter message.
![screenshot_704](https://user-images.githubusercontent.com/52596123/185108426-48c78c6b-0fea-405e-8d3e-8b2fc6e409a9.jpg)

[2022-08-17 11:49] davinsmith0 opened #38502 "Spam"

[2022-08-17 12:04] sba opened #38503 "[4.2] User defined Hide Table Columns: unattractive list display"
### Steps to reproduce the issue
- Install german language pack
- Goto Content => Categories

### Expected result
![grafik](https://user-images.githubusercontent.com/186256/185113258-940f7c80-0cae-4e7f-9380-20dd05939c34.png)

### Actual result
![grafik](https://user-images.githubusercontent.com/186256/185113199-737fef7b-2a8e-48ae-9243-ab8d7150c4c0.png)

### System information (as much as possible)

[2022-08-17 12:15] #38502 closed, assigned to nobody

[2022-08-17 12:37] roland-d commented on #38473
@N6REJ The warning you get is different from the Redis issue reported here. THe warning you see is because some extension ID is not found. Sounds like a corrupt extensions table or something.

[2022-08-17 13:03] roland-d commented on #38489
@cappuccinonet If you could test PR #38504 please, this fixes the issue.

Closing as we have PR

[2022-08-17 13:03] #38489 closed, assigned to nobody

[2022-08-17 13:12] FoTo50 opened #38505 "[4.2.0] After upgrading from 4.1.5, listmodel with external database object still looks into joomla db object"
### Steps to reproduce the issue

I'm having a model in my component (jOpenSim) extended from ListModel but with an external database as db object (in my case extended from MysqliDriver).

After upgrading to 4.2.0 the method getListQuery() wants to find the (obviously not existing) tables in the Joomla DB for listing

### Expected result

List of items of external database table

### Actual result

[2022-08-17 13:22] richard67 commented on #38505
@laoneo It seems this comes from refactoring and db injection. Could you have a look? Thanks in advance.

[2022-08-17 13:48] laoneo commented on #38505
How did you set the specific database before in the model?

[2022-08-17 14:01] FoTo50 commented on #38505
During __construct() I set it through a helper with
`$this->gridDB = $this->opensim->getGridDB()`

later in the method getListQuery() I fetch the query object as

`$query = $this->gridDB->getQuery(true);`

but without the previous mentioned line before it, in 4.2.0 the query object still is trying to find the table in the Joomla database, while in 4.1.5 and previous it worked fine that way.

[2022-08-17 14:13] laoneo commented on #38505
Do you have some kind of stack trace, because when you work on the query it should not have any kind of reference to the model which has the other database.

[2022-08-17 14:13] obuisard commented on #38068
Thank you, Brian @brianteeman. It confirms that it used to work under Joomla 4.0.4. But my tests under Joomla 4.1.5 and 4.2.0 are failing.

[2022-08-17 14:17] FoTo50 commented on #38505
Maybe I should also mention, that same model also needs to deal with some component tables in the Joomla DB.

But these methods all use the "regular" way with
`$db = Factory::getDBO();`
`$query	= $db->getQuery(true);`
and are not called at the moment when the view wants to initially display the external data for an overview

[2022-08-17 14:20] laoneo commented on #38505
We need to figure out where the access to the default table is done in the model to identify the root cause of the issue. For that I need to see where exactly the error happens. Do you have the source of the model publicly available?

[2022-08-17 14:45] FoTo50 commented on #38505
Well, more or less (semi public hehe). The latest RC of my component is https://jopensim.com/jopensim4/nightly/com_opensim.0.4.0.4_RC6.2022-08-10-13-55-21.zip where the 2 admin models for this case can be found in \administrator\components\com_opensim\src\Model\ (UsersModel.php and RegionsModel.php) ... in there still unchanged and working only in <= 4.1.5

FYI: I temporary changed the method getD

[2022-08-17 15:30] #34126 closed, assigned to nobody

[2022-08-17 15:32] laoneo commented on #38505
Had a look on the code and you don't pass your own db object into the base class, either through the config array or setDbo. How should the base class, in your case ListModel, know what for a database to use? Relying only on overriding getDbo is error prone as the base class works on a different variable, before it was _db and now the one from the trait.

[2022-08-17 15:55] FoTo50 commented on #38505
Not sure how to understand (but sure willing to do so)

jOpenSimGridDB.php is created with the config ($options) array that way ... the object contains the external connection and works, even in 4.2.0

The model does not use the static Factory::getDbo method for getListQuery, but it's own to get the external object from jOpenSimGridDB.php to create the query object for it.

This even now in 4.2.0

[2022-08-17 18:37] laoneo commented on #38505
Can you please test the pr #https://github.com/joomla/joomla-cms/pull/38506. I'v illustrated there how you can do it better without storing the db in your own variable.

[2022-08-17 18:42] roland-d commented on #38505
Closing this now that we have a pull request.

[2022-08-17 18:42] #38505 closed, assigned to nobody

[2022-08-17 19:06] chmst commented on #38499
The system tries to load the language file tpl_atum_[childname] from the language folder, which does not exist. Probably the same in frontend.

[2022-08-17 19:07] richard67 commented on #38503
.dropdown-menu li label { white-space: nowrap; }

Should be a more specific selector, otherwise it would also affect other pulldowns, e.g. the pulldown menu from the menu module.

[2022-08-17 19:22] chmst commented on #38503
It is not quite consistent The columns have icons and it is not obvious which icon belongs to which entry. Would it be possible to use icons (with invisible text) instead of long names? @brianteeman

[2022-08-17 19:45] obuisard commented on #38068
I am doing more testing on this.
My findings so far:

In Joomla 4.0.4, SVG files can be uploaded EXCEPT if the files start with an XML comment. Once the comment has been removed or moved inside <svg>, it can be uploaded. This kind of comment is usually added by generators of SVG files.

In Joomla 4.1.5, no file can be uploaded unless they are 'simple' XML files (containing <svg> and the optional x

[2022-08-17 20:02] obuisard commented on #27407
This is definitely an issue that should be addressed.
There are easy ways to fix this. @SharkyKZ would you like to write a PR for it?

[2022-08-17 21:23] brianteeman commented on #38503
Anything is possible but I don't understand your request

[2022-08-17 21:25] brianteeman commented on #38068
Sounds like a issue with the security SVG filter

[2022-08-17 21:49] obuisard commented on #38068
We need to document what is a clean SVG and why some SVG files may be denied upload. SVG files need to be sanitized to avoid all kinds of security issues (cross-site scripting, HTML injections, denial of service - basically any possible attack related to XML documents).

[2022-08-17 22:18] richard67 commented on #38503
As far as I understand @chmst , she wants to use icons instead of the column titles. Have fun in a list view with 15 or 20 columns to find icons which are sufficiently distinguable from each other so you quickly can see to which of the 15 or 20 columns they belong. In my opinion a silly idea, and I haven’t seen any software which does it that way, chose the columns to be displayed in a table by an

[2022-08-17 22:20] brianteeman commented on #38503
Thats what I thought it meant but for the reasons you stated I think it must be something else

[2022-08-17 22:30] brianteeman commented on #38503
please test #38507

[2022-08-17 22:32] #38503 closed, assigned to nobody

[2022-08-17 22:33] brianteeman commented on #38068
Its more than that. The svg files used to test the filters when they were added do not work either

[2022-08-17 22:35] brianteeman commented on #38068
you need to roll back to when it worked and then see what has changed. I have my suspicions but its too late and I had too many beer to try

[2022-08-17 23:40] obuisard commented on #38068
Yes @brianteeman, thank you!

[2022-08-18 01:10] obuisard commented on #38068
The major difference I see is that in 4.0 the content of the files was scanned for specific html/xml tags. In more recent versions, a sanitizer is used instead (from vendor 'enshrined'). It's the same one used in Nicholas K. Dionysopoulos's plugin for Joomla 3 (https://github.com/nikosdion/joomlasvg).

The new sanitizer checks the SVG files and returns a clean one, if necessary. The results of tha

[2022-08-18 03:46] sonvnn opened #38508 "[4.2] Posts - Hide title (and all options)- is changed unintentionally when saving in the frontend"
No matter what was preset for an individual post in the backend, it will be overwritten by the post options set in the global settings in the backend (posts / options) when the post is edited and saved in the frontend.

Thus, the user has to go back to the backend and adjust the option of the edited post again and again.

If I have set options for a post in the backend and open and save the editor

[2022-08-18 04:29] N6REJ commented on #38068
Incase it helps here's 2 inkscape svg files.  One is in "save as inkscape svg" and the other is "save as svg"
![Bearsampp-logo-128x128](https://user-images.githubusercontent.com/1850089/185294001-2e3393bb-02d9-4ba1-81a4-54a193b08ffa.svg)
![Bearsampp-logo-inkscape](https://user-images.githubusercontent.com/1850089/185294006-2377322f-2573-4169-98b2-56bf86dade6a.svg)

[2022-08-18 06:06] mcassisa opened #38509 "Updating JCE component results in 500 error code (administration)"
### Steps to reproduce the issue

Update the JCE component and Extension Package in Joomla!

### Expected result

The expected result is an updated JCE component

### Actual result

After a message telling the administrator that all went fine, the administration part of the joomla! website is not accessible anymore (error 500)

The apache2 log:
AH01071: Got error 'PHP message: PHP Fatal error:  Ca

[2022-08-18 06:19] zero-24 commented on #38509
This is an know issue thats in discussion with the italian TT but is not something that is a core issue. Please try this language pack: https://downloads.joomla.org/de/language-packs/translations-joomla4/downloads/joomla4-italian/4-2-0-3 When that still dont work please go and install the 4.1.5 languag pack over the existing 4.2.0 pack as a workaround: https://downloads.joomla.org/de/language-pack

[2022-08-18 06:19] #38509 closed, assigned to nobody

[2022-08-18 08:17] sonvnn opened #38510 "[4.x] Deprecated: trim(): Passing null when call Path::clean - PHP 8.1"
### Steps to reproduce the issue
When call function Path::clean(''); with empty $path on PHP 8.1
System will raise warning
`Deprecated: trim(): Passing null to parameter #1 ($string) of type string is deprecated in /{root}/libraries/src/Filesystem/Path.php on line 198`

### System information (as much as possible)

- Joomla 4.x
- PHP 8.1

[2022-08-18 08:55] Abernyte-Git commented on #38497
I would agree, neither usage is horribly wrong, just confusing.  A past participle describes a completed action so the use of **overridden** should refer to the original file being amended not to its new state.
For clarity is it not better to have an Original file and an Override file, which is the present and future simple tense?<hr /><sub>This comment was created with the <a href="https://github

[2022-08-18 08:55] sandewt opened #38512 "[4.2] Position next button page navigation"
### Steps to reproduce the issue

Open a page with the page navigation buttons.

### Expected result
Position (first) next button at the right.

![screen shot 2022-08-18 at 08 52 03](https://issues.joomla.org/uploads/1/2b036b990810706dee62c346fcefdac8.png)

### Actual result

Position (first) next button at the left.

![screen shot 2022-08-18 at 08 52 23](https://issues.joomla.org/uploads/1/890a74

[2022-08-18 08:57] brianteeman commented on #38497
Thats my current thinking as well. Lets leave this open for some other comments and then we can create a pr

[2022-08-18 12:00] ReLater opened #38513 "Nightly builds. "Reinstall Joomla! core files" button dead. "updateCheck is null""
### Steps to reproduce the issue
- Joomla 4.1.5. Backend.
- Go to /administrator/index.php?option=com_config&view=component&component=com_joomlaupdate
- Edit Update Source options:
- "Custom URL": https://update.joomla.org/core/nightlies/next_patch_list.xml (image is wrong here)

![grafik](https://user-images.githubusercontent.com/20780646/185387240-57db9258-3e15-42cb-bd1e-e0e20454bebf.png)

- Sav

[2022-08-18 12:36] ReLater opened #38514 "[4] Nightly builds. "Reinstall Joomla! core files" doesn't show what ZIP it will install."
### Steps to reproduce the issue
- Go to "Joomla update" in a Joomla with current version. Or dev versions (doesn't work at the moment with Joomla 4.2-dev).
- Click "Check for update".

### Compare Joomla 3 with Joomla 4
#### Joomla 3
- tells you which file will be installed.
- Installation starts with click on "Reinstall"

![grafik](https://user-images.githubusercontent.com/20780646/185393307-3d9

[2022-08-18 12:41] zero-24 commented on #38514
I agree. The info URL goes to the nighly page as that is the only place where infos are available. But I agree that it would make sense to show some more details on reinstall maybe the version number is a first step when the decision has been taken to take the URL off.

[2022-08-18 12:46] richard67 commented on #38510
Closing as having a pull request. See #38511  .

[2022-08-18 12:46] #38510 closed, assigned to nobody

[2022-08-18 12:49] ReLater commented on #38513
I'll test again with a new 4.1.5 install.

I see that button behavior on any 4.2 site (dev or stable). Doesn't matter what the base version was. And see it for a longer time now.

But: Even if the update server url is wrong or XML damaged, whatever, there should not be a JS error.

[2022-08-18 12:57] zero-24 commented on #38513
I agree this is why i "hope" it has something todo with the local site you are doing your testing with else we might have another major issue with the updater component.

[2022-08-18 13:38] coolcat-creations commented on #19381
Tested by @webnet-assmann and me and not reproduceable anymore, @brianteeman should I close or do you want to retest as well?

[2022-08-18 13:43] coolcat-creations commented on #19804
is this a duplicate of #30101 ?

[2022-08-18 14:12] ReLater commented on #38513
I always test online. No local sites.

#### To clarify

I'm already on 4.2.1-dev. And then I get the updateCheck JS error.

The link behind the "Reinstall" is .../administrator/index.php?option=com_joomlaupdate# then.

#### New test with fresh 4.1.5

Same behavior like described in opener post.

4.1.5: All works like expected.

4.1.2-dev: See opener post. Firefox and Vivaldi. Console on Vivaldi di

[2022-08-18 14:28] brianteeman commented on #19804
ooks like they are the same although this one is the oldest

[2022-08-18 14:28] ReLater opened #38515 "[4] Upload files via FTP client (FileZilla/Windows) has at least "1 failed transmission""
### Steps to reproduce the issue
- Windows, FileZilla.
- Download a Joomla_4.1.5-Stable-Full_Package (I saw the issue already with other versions).
- Unpack ZIP file locally.
- Upload extracted files with FTP client to Linux online webspace.
- Any trial has at least "1 failed transmission" which is unsolvable.
- I know that this is not a real problem (/vendor/../bin/ folder that often have problem

[2022-08-18 14:31] rahulfromhighwire commented on #27214
I have just changed

return array_key_exists($index, $this);
to

return array_key_exists($index, (array) $this);
It is working. I just type cast in Array datatype

[2022-08-18 14:42] brianteeman commented on #38515
Pull Request incoming

[2022-08-18 15:22] zero-24 commented on #38513
I'm sorry I'm not at my desk right now but can you please verify whether and update via the "regular" update path works and just the reinstall is broken?
So 4.2.0 -> 4.2.1-dev via the next_patch update server works or not.

[2022-08-18 15:30] #38515 closed, assigned to nobody

[2022-08-18 15:36] brianteeman commented on #19381
Still reproducable

![image](https://user-images.githubusercontent.com/1296369/185435343-957fe982-4a40-4008-b487-dad49ff6d8a5.png)

![image](https://user-images.githubusercontent.com/1296369/185435752-ee7e58fc-aec7-4ce7-966d-d57c5760d8b1.png)

![image](https://user-images.githubusercontent.com/1296369/185435834-441b3868-d90f-484b-92bc-7c465860c92a.png)

![image](https://user-images.githubuserconte

[2022-08-18 15:39] coolcat-creations commented on #19381
Thank you for retesting ! @brianteeman

[2022-08-18 15:50] ceford opened #38517 "[4.2] MFA Invalid State Error"
### Steps to reproduce the issue

Front end Login.
Set up WebAuthn for a Fido2 Hardware Dongle from the list of methods.
Log out.
Log in using the Web Authentication button.
It prompts to press the button on the key, then ..

### Expected result

Login

### Actual result

A red System Error message says:
InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable

[2022-08-18 16:00] nikosdion opened #38518 "[4.2] Booting a component in CLI application breaks CLI"
Tagging @roland-d @fancyFranci @wilsonge @HLeithner @laoneo

### Steps to reproduce the issue

* Install a Joomla 4.2.0 site
* Install the minimum reproduction plugin: [plg_console_derp.zip](https://github.com/joomla/joomla-cms/files/9375325/plg_console_derp.zip)
* Go to System, Manage, Plugins and enable the Console - Derp plugin we just installed.
* Open your command line terminal and go to your

[2022-08-18 16:25] alikon commented on #38500
thanks for reporting
please follow here #38518

[2022-08-18 16:25] #38500 closed, assigned to nobody

[2022-08-18 16:39] HLeithner commented on #38518
I think forcing --site-url is the best forward compatible way, because if we get Multi-Site/Multi-Domain in the future we need this anyway because the cli doesn't know which site context should be used.

1. is more magic and in the end you also have to say which site-url is the current one, not sure if it would be possible to override the --site-url parameter in a system plugin early enough.
2. ev

[2022-08-18 16:47] nikosdion commented on #38518
@HLeithner We can't JUST add --live-site in CLI because this breaks all _existing_ CLI commands, including those which do not care about having the site's URL (e.g. taking a backup, setting the site on/off-line etc).

Here is an even better idea, now that I have debugged this six ways to Sunday and have actually found a viable workaround.

We need a **TWO-PRONGED** approach.

**STEP 1**: Add the `

[2022-08-18 16:50] brianteeman commented on #38518
am i being stupid here but as this worked correctly before 4.2 surely the first thing to do is to find what changed and broke this and just revert it.

[2022-08-18 16:51] nikosdion commented on #38518
For reference, my current workaround code:
[code]

I use this in my service providers like so:

[code]

This is fully tested now, it fixed the previously experienced borkage. If you are wondering what I do with the ComponentHelper, when you access the Control Panel page of Admin Tools I store the frontend base URL in the `siteurl` component parameter. I was using that _for years_ to be able to sen

[2022-08-18 16:55] HLeithner commented on #38518
As I mentioned too we can't require this in a minor

Not sure why we need to fall back? I mean can't we simply set the HTTP_HOST unconditional to example.com if no live_site and no --live-site parameter is set?

[2022-08-18 16:55] nikosdion commented on #38518
@brianteeman I have followed the code and nothing changed _in the CMS_. This means that something changed in the Joomla Framework. I also studied that code for over 3 hours before filing this issue. The code is NOT wrong. Whatever we were doing before must've been a bug which happily resulted in masking the major issue of not having thought about how we can pass the site's URL to the CLI applicati

[2022-08-18 16:56] HLeithner commented on #38518
of course that should be the first thing to find why it breaks now, but doesn't solve the problem that you can't emails for example

[2022-08-18 17:00] nikosdion commented on #38518
@HLeithner

I am with you, mate! I do NOT want to make `$live_site` a requirement. It's a bad idea to use it for many reasons. That's why I am interested in the better solution :)

Basically, yes, that's the idea, see https://github.com/joomla/joomla-cms/issues/38518#issuecomment-1219716101

The CliApplication would run (the evolution of) that method, passing it the value of the `--site-url` optio

[2022-08-18 17:04] HLeithner commented on #38518
I think (even if setting super global is bad) the only practical way, especially because the framework uses (of course) the super global to get the hostname (should be fixed to but can't think of a way in the moment).

So please go forward and propose a pr.

[2022-08-18 17:08] richard67 commented on #38503
Meanwhile I had a closer look on the issue, and I must admit that **I've made a mistake**.

**I was not aware of the fact that we already use in diverse list views for some columns an icon and for some other columns a text as column title**, and so I thought the icons were a new idea for the column selection dropdown of the show or hide columns feature.

I understand now that @chmst only wanted to

[2022-08-18 17:12] nikosdion commented on #38518
Thank you! Will do right after dinner.

[2022-08-18 17:13] brianteeman commented on #38503
Is this what you are referring to
![image](https://user-images.githubusercontent.com/1296369/185454821-a132a268-90b0-4586-b8a2-16d0348ec05f.png)

If so then those columns really should look the same as
![image](https://user-images.githubusercontent.com/1296369/185455060-bbeed888-4370-4d0d-a98e-9cd8104d5eec.png)

I thinlk categories is the only place where you will see the icon on its own

[2022-08-18 17:14] kp-martin commented on #38474
I have a failed update from 4.1.5 -> 4.2 -  same taggable error displays. I deleted 'autoload_psr4.php' with no change. The deleted file is replaced on reload. Debug info:
0 Class 'Joomla\Plugin\Behaviour\Taggable\Extension\Taggable' not found
Call stack
#	Function	Location
1	()	JROOT/plugins/behaviour/taggable/services/provider.php:37
2	class@anonymous/home1/jeffer/public_html/test/plugins/behavi

[2022-08-18 17:17] nikosdion commented on #38518
I have a pertinent question. The necessary code needs to go into `\Joomla\Console\Application::execute` which is part of the Joomla Framework package `joomla/console`. Should I do the PR in [the Console repo](https://github.com/joomla-framework/console) and after it is merged have one of you maintainers publish a new version and update the CMS dependencies?

[2022-08-18 17:20] brianteeman commented on #38474
delete the file administrator/cache/autoload_psr4.php
problem solved

[2022-08-18 17:22] zero-24 commented on #38513
PR here @ReLater please test works good for me: https://github.com/joomla/joomla-cms/pull/38519#issue-1343375385

[2022-08-18 17:22] #38513 closed, assigned to nobody

[2022-08-18 17:22] richard67 commented on #38503
@brianteeman The "Ordering" column also doesn't have a text, only an icon. But yes, that's what I meant.

[2022-08-18 17:23] richard67 commented on #38503
Anyway, the main thing is that I made a mistake and that I have chosen wrong words and that I realized my mistakes and want to apologize.

[2022-08-18 17:24] brianteeman commented on #38503
So I would say that the columns with just an icon should be updated to include text but I would not add the icon to the dropdown.

As for the ordering column - I have no strong opinion

[2022-08-18 17:34] HLeithner commented on #38518
hmm tbh I didn't looked at the cli architecture in deep but I'm wondering how the framework package could read joomla configuration. Also not sure when the webapplication get's loaded because we only load the console application?!

[2022-08-18 17:46] HLeithner commented on #38518
OK seems you don't need the framework console application because we load libraries/src/Application/ConsoleApplication.php as console application

[2022-08-18 18:00] Chaosxmk opened #38522 "[4.1.5] Unable to update site to 4.2"
### Steps to reproduce the issue
1. Open backend and navigate to the Joomla Update component.
2. Click "Check for updates"

### Expected result
The 4.2 update should be found, and be offered for updating

### Actual result
The page shows "Currently no update available"

### System information (as much as possible)
PHP Version: 7.4.30
Joomla! Version: Joomla! 4.1.5 Stable [ Kuamini ] 21-June-2022 1

[2022-08-18 18:09] zero-24 commented on #38522
4.2.0 has been pulled of form the update server yesterday and we are working on 4.2.1 you can still manually update with the package provided on downloads.joomla.org.

Will close as expected behavior for now.

[2022-08-18 18:09] #38522 closed, assigned to nobody

[2022-08-18 18:13] nikosdion commented on #38518
OK, thank you. I'll get right to it.

[2022-08-18 18:21] roland-d commented on #38518
I have this issue even in a 4.1.3 site where I wrote a bash script to run the Joomla CLI due to this error. So I don't think it is a 4.2.0 specific issue but older than that.

[2022-08-18 18:35] kp-martin commented on #38474
As I stated, I deleted the file administrator/cache/autoload_psr4.php numerous times but problem is not solved and re-occurs repeatedly.

[2022-08-18 18:40] brianteeman commented on #38474
it is supposed to re-appear

[2022-08-18 18:43] nikosdion commented on #38518
@roland-d I have a very large installed base of CLI users — between Akeeba Backup, Admin Tools and Ticket System it's a few tens of thousands of sites. We didn't have that problem before.

**HOWEVER** there is some nuance to this statement. Very early in the development of our Joomla 4 versions we had observed that every time we tried to **use** Joomla's `Route::_()` static method we'd get a crash

[2022-08-18 19:16] kp-martin commented on #38474
Thanks Brian but I think you misunderstand me. I understand that the file is supposed to re-occur and it does that. The problem is that the error still occurs even after deleting the file multiple times.

[2022-08-18 19:30] nikosdion commented on #38518
The Pull Request has landed https://github.com/joomla/joomla-cms/pull/38524 Please test. Thank you!

[2022-08-18 19:36] zero-24 commented on #38518
Closing here thanks Nicholas

[2022-08-18 19:36] #38518 closed, assigned to nobody

[2022-08-18 22:58] obuisard commented on #38068
I am going to write a PR that fixes the messaging that appears when the upload fails.
Another PR should be created to give the option to the administrator to sanitize SVG files rather than just scanning them for issues.

[2022-08-19 09:29] techfry opened #38531 "Newsfeed component stopped working after upgrade"
### Steps to reproduce the issue

Navigate to news feed component. Create a new feed item. You can add this: https://www.joomla.org/announcements.feed?type=rss

Create a menu item for the same to view in the frontend.

### Expected result

The page should display content from the feed.

### Actual result

In Joomla ! 4.1.5, it was working. After updating to 4.2, error is coming - String could not

[2022-08-19 09:50] rdeutz commented on #38531
Confirmed on 4.2dev

[2022-08-19 10:13] rachelwalraven opened #38532 "Not able to upload svg file"
After the update to 4.2 it's no longer possible to upload a SVG file.

### Steps to reproduce the issue
Set media options to allow svg files, svg image files and image/svg+xml mimetype
![screen shot 2022-08-19 at 10 12 39](https://issues.joomla.org/uploads/1/545d67c91d028c002441e3b34061ac3c.jpg)
Go to media manager
Upload a svg file

### Expected result
svg file is uploaded and shows in media mana

[2022-08-19 10:14] ChristineWk commented on #38440
See here please: #38508

[2022-08-19 10:15] nikosdion commented on #38476
I have submitted a PR which implements the recommended approach of the plugin being responsible to detect it is running under an MFA captive page and refrain from showing its UI. See https://github.com/joomla/joomla-cms/pull/38533

[2022-08-19 10:39] ChristineWk commented on #38532
See here please: #38530<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38532">issues.joomla.org/tracker/joomla-cms/38532</a>.</sub>

[2022-08-19 10:42] alikon commented on #38476
please test #38533

[2022-08-19 10:42] #38476 closed, assigned to nikosdion

[2022-08-19 10:44] brianteeman commented on #38532
@ChristineWk that pull request is just to improve the message. It does NOT resolve the fact that something has changed and all svg uploads are now prevented

[2022-08-19 10:51] brianteeman commented on #38532
I have found the problem causing this and am working on a pull request

Can someone mark this a release blocker please @roland-d @fancyFranci @richard67

[2022-08-19 10:51] ChristineWk commented on #38532
Yes, thanks Brian, that's why I didn't close the issue. Just pointed it out for additional information only.

[2022-08-19 11:25] nibra commented on #38518
Yes, please!

[2022-08-19 11:42] brianteeman commented on #38532
ok this doesnt make much sense to me. If I understand the code from @bembelimen correctly in the MediaHelper then we are using the enshrined/sanitizer library to try and make the svg is safe and if the library fails to make it safe then we reject it

bad1, bad3, bad4 - these should be blocked from uploading and they currently are
good, good2, good3, good4, good5 - these should be uploaded and they

[2022-08-19 11:44] nikosdion commented on #38518
@nibra I'll open an issue on the console repo because there are a few questions about how that would work.

[2022-08-19 12:25] rdeutz commented on #38531
Closing because it is fixed with #38312

[2022-08-19 12:25] #38531 closed, assigned to nobody

[2022-08-19 13:26] HLeithner commented on #38517
can you may activate debug log and show if you get more information?

maybe @nikosdion has an idea where if fails?

[2022-08-19 13:32] nikosdion commented on #38517
This is a JavaScript error. @ceford Is this something you can reproduce on a fresh installation and a browser without any browser extensions enabled? Or does it only happen on one site?

For what is worth, I have already upgraded my business site to 4.2 and migrated several thousand MFA records from LoginGuard to Joomla MFA. While only a few hundred are WebAuthn, I am using it myself and I've alre

[2022-08-19 13:32] 01Kuzma commented on #38509
The same thing happens with Lithuania translation.
Installing the 4.1.5.1 language pack has fixed this bug.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38509">issues.joomla.org/tracker/joomla-cms/38509</a>.</sub>

[2022-08-19 13:33] nikosdion commented on #38517
You know, speaking of which, have you tried clearing your browser's cache? Let's try that first and avoid potentially chasing windmills.

[2022-08-19 15:55] Fedik commented on #38068
I have added better messenging, Please test #38536

[2022-08-19 16:19] brianteeman commented on #38532
The more I look at this the more confused I am. svgsanitize is designed to _clean_ an upload svg but we appear to be using it as a validator only

[2022-08-19 16:25] ceford commented on #38517
My test was on a new install of J4.2.0. I have just done a new install of J.4.2.1RC1 with a new database. Then:

Add new User in Registered group.
Add menu item for Edit User Profile.
Login to Site as that user.
Select My Profile menu item.
Go down to Web Authentication below Multi-factor Authentication.
Add my dongle authenticator - first screenshot is after that stage.
Logout.
Login - select the

[2022-08-19 16:31] obuisard commented on #38532
Yes, the sanitizer is used to check the files, it is not used to clean them, even though it has that capability. The problem with cleaning files and use the cleaned version is that it my not have the intended results. For instance, the use of namespaces in the file. Removed, it could break the SVG output.

[2022-08-19 16:39] obuisard commented on #38532
The media manager can be used in the frontend so allowing SVG files that may have concerned issues should not be uploaded. However, if an administrator of the site knowingly puts a SVG on his/her site through FTP, for instance, nothing prevents him/her to. The admin is responsible for making sure the file is safe.

[2022-08-19 16:44] obuisard commented on #38532
Now we need to educate the user so he knows why the file is harmful. Hence better wording on the messages we send and proper documentation.

[2022-08-19 16:46] brianteeman commented on #38532
No not at all. Use svgsanitize as designed.

[2022-08-19 17:12] brianteeman commented on #38532
Telling a user that an svg file from a reputable source/application is harmful when it is not doesn't help anyone at all.

[2022-08-19 20:14] brianteeman commented on #38532
further tests with the svg files I supplied above and using the svg-scanner that is part of the package suggest that the scanner is crap. try it yourself and see how it will fail almost any svg that is not minified

[2022-08-19 20:20] nikosdion commented on #38517
I just tried that but I cannot reproduce it.

Which browser and Operating System are you using?

Have you tried with a different browser which has no browser extensions?

Are you visiting your site over HTTPS?

[2022-08-19 21:16] ceford commented on #38517
I am using Mac OSx Catalina 10.15.7. I have tried with Firefox, Google Chrome and Safari and they all give the same result, albeit with different system prompts to press the button on the dongle. They all fail to login with the Web Authentication button in the Login module. But if I click the Login button I go to a page where I am prompted to use my dongle. I do and it works.

Ah... I just filled

[2022-08-19 22:07] N6REJ commented on #38532
100% spot on.  Here are 2 images created via inkscape which is the FOSS eqv to Adobe illustrator and both will fail being uploaded.
![Bearsampp-header-logo](https://user-images.githubusercontent.com/1850089/185713330-ab14efe5-98ce-4510-8a25-164346912072.svg)
![Bearsampp-logo-128x128](https://user-images.githubusercontent.com/1850089/185713333-5b9e09ff-92cb-4d81-ba36-6a6ba335fb0d.svg)
I could suppl

[2022-08-20 05:35] brianteeman commented on #38532
@N6REJ if you minify them then they will probably work

[2022-08-20 05:37] ghost opened #38538 "[4.1.5] Fields: Sort column by 'Field Group' give '403'"
### Steps to reproduce the issue
1. go to `index.php?option=com_fields&view=fields&context=com_content.article`
2. click on column title 'Field Group'
3. a `403, Forbidden` is shown:

https://user-images.githubusercontent.com/89642616/185730255-75796d70-9c4c-477f-ba4c-c48b0c2f56e1.mov

Browser console:

<img width="717" alt="field group" src="https://user-images.githubusercontent.com/89642616/1857

[2022-08-20 09:19] richard67 commented on #38514
@zero-24 Has such a decision been made or is it planned? What speaks against showing the download URL?

[2022-08-20 09:33] zero-24 commented on #38514
Well looks like a decision has been made as it was showed within 3.x but I dont know whether it was a that definitiv decision maybe just a style opinion while that page was redesigned.

[2022-08-20 09:44] brianteeman commented on #38538
I couldn't replicate this and the error message makes no sense for a clean install

[2022-08-20 09:54] richard67 commented on #38514
I also don’t remember if it was a style thing or for another reason. So we are 2 in the club ;-)

[2022-08-20 10:36] Franzwohlkoenig commented on #38538
Thanks for your comment @brianteeman. As the site has updates starting at 4.0.0 and i had to manually update each version its something in the site, so closing.

[2022-08-20 10:36] #38538 closed, assigned to nobody

[2022-08-20 10:43] ReLater commented on #38514
3! ;-)

I only remember criticising that at the time when the huge icons came up ;-) (Background then: I always have to scroll down before I see the process bar, infos, buttons, whatever.)

[2022-08-20 11:11] ReLater commented on #38514
After short investigations:
All informations are available in file/view `administrator\components\com_joomlaupdate\tmpl\joomlaupdate\reinstall.php`

in array `$this->updateInfo`

[code]
[code]

`$this->updateInfo['object']->get('version')->_data`

and others.

[2022-08-20 11:17] richard67 commented on #38514
I know. Question is just if we want to show it and if yes, do it in a nice way.

[2022-08-20 11:42] dgrammatiko commented on #38532
SVG security is HIGHLY dependant on the way the SVG is used. As an img src the sanitisation is done BY the browser, even unsanitised svgs are fine. Read the specs: https://svgwg.org/svg2-draft/conform.html#examples

[2022-08-20 11:47] SniperSister commented on #38532
The thing is: can we safely assume that an uploaded SVG is always used in the img-src context? I don't think so.

[2022-08-20 11:48] brianteeman commented on #38532
No we can't but we can at least use the sanitize library as a sanitizer. Its clearly not great as a valaidator

[2022-08-20 11:58] dgrammatiko commented on #38532
No, the CMS doesn't have this flexibility and neither I posted the reference to imply this. I just wanted to point out that if SVGs are used as images (with src attribute pointing to the url of the image) there's no need for sanitisation. It's unrealistic to assume that this would be the only way people will use them as they can have a field and then embed the svg in the html, or in the css or...

[2022-08-20 11:59] nikosdion commented on #38517
I am a Mac user as well. macOS Catalina was the _very first_ version of macOS to offer official WebAuthn support, i.e. WebAuthn would work without having to turn on a hidden development switch in Safari. However, it was still very rough around the edges. That said, Chrome and Safari — especially any version released 2020 and later — do work just fine with WebAuthn.

You are right that every browse

[2022-08-20 12:03] ReLater commented on #38514
Thanks for spending time with it. I am not an aesthetician. I will use 2 overrides, installable via a file extension in atumn folder; with an additional $displayData['additionalInfos']. Thus I get also rid of all the noise and scroll actions that these emptystate pages produce.

[2022-08-20 12:03] #38514 closed, assigned to nobody

[2022-08-20 12:26] brianteeman commented on #38532
That's still telling someone that the svg from their reputable source is vulnerable just because we are using a library incorrectly

[2022-08-20 12:49] dgrammatiko commented on #38532
My point was that IF you can guarantee that svgs will only be used as image tags then there's no need for any sanitisation, proof is that the images from the svg.zip that @brianteeman posted above were uploaded without any changes on GitHub because the only way GH will ever use them is as img tags. In short this might give you another perspective...

![bad1](https://user-images.githubusercontent.c

[2022-08-20 13:27] ceford commented on #38517
The article on WebAuthn was revised back in March/May: https://docs.joomla.org/WebAuthn_Passwordless_Login

This morning I added some content to the Help screen which has now fed through. Still thinking about an MFA tutorial. It was my misunderstanding of the feature introduced in 4.2 that led to this issue! Thank you for your patience!

[2022-08-20 13:27] #38517 closed, assigned to nobody

[2022-08-20 13:44] nikosdion commented on #38517
Whenever you want any help understanding or documenting a feature I've contributed you can open an issue and at-mention me. I'm here to help 😉

[2022-08-20 14:08] PhocaCz opened #38539 "[J4.2] HTML inconsistency (forms)"
Hi, is there any reason for this HTML inconsistency:

**modules/mod_login/tmpl/default.php**

[code]

**components/com_users/tmpl/login/default_login.php**

[code]
I am not primarily asking about the naming of classes, etc. But about the inclusion of individual elements: Once the input is in the label, once it is next to the label.

Thank you, Jan

[2022-08-20 14:43] brianteeman commented on #38539
probably just legacy reasons

[2022-08-20 16:26] ceford commented on #38517
I have written an article using the information from Loginguard that you suggested. You might like to take a look when you have a moment: https://docs.joomla.org/J4.x:Multi-factor_Authentication

[2022-08-21 06:19] brianteeman commented on #38508
I have followed your instructions and I am unable to replicate this.

[2022-08-21 08:22] chmst commented on #38508
I cannot replicate with cassiopeia. @sonvnn Are you using a template override?

[2022-08-21 10:19] richard67 commented on #38150
Closing as having a pull request. Please test #38540 . Thanks in advance.

[2022-08-21 10:19] #38150 closed, assigned to nobody

[2022-08-21 12:32] ReLater commented on #38508
I can't reproduce it with 4.2.1-rc3-dev. Only CacheCleaner, AkeebaBU installed.

Logged in as SuperUser in BE and FE. Shared Sessions: NO. Not tested with other groups.

[2022-08-21 12:44] peterhulst opened #38542 "[J4.2] Module Newsflash: Show Article Images show/hide button does not work"
### Steps to reproduce the issue
Use the standard installation with installation template and blog articles.
The module Articel Newsflash show the intro images.
When switching Show Article Images from Show to Hide, the intro (or full images if selected) remains displayed.

### Expected result
When: Show Article Images: Hide, then all images should be hidden.
This should be the same behaviour when

[2022-08-21 12:51] nikosdion commented on #38517
@ceford Please change Two Step Verification with Multi-factor Authentication (note the capitalisation) or, where appropriate, the acronym MFA. We decided to use that terminology as it seems to be fairly standard in the industry. Other than that I think it's good :)

[2022-08-21 13:42] richard67 commented on #38497
@brianteeman Does your PR #38541 close this issue?

[2022-08-21 14:50] brianteeman commented on #38497
Yes this can be closed

[2022-08-21 14:56] richard67 commented on #38497
Closing as having a pull request. Please test #38541 . Thanks in advance.

[2022-08-21 14:56] #38497 closed, assigned to nobody

[2022-08-21 15:08] obuisard commented on #38532
My understanding is that the img tag disables scripting (SVG files are 'run' in a browser sandbox), but the files are not sanitized. Therefore, anyone downloading the file from your site get the original file.
Is that right @dgrammatiko?

[2022-08-21 15:11] brianteeman commented on #38532
The security issue occurs if a malicious svg could be uploaded (which is a low privilege task) it could then be accessed directly www.example.com/images/filename.svg . Image files are not prevented from being loaded directly

[2022-08-21 15:11] brianteeman commented on #38532
@roland-d please explain your justification for removing the release blocker label.

[2022-08-21 16:13] ceford commented on #38517
@nikosdion  Thank you - cleaned up using your suggestions and some small issues I noticed myself.

[2022-08-21 16:56] N6REJ commented on #38532
@brianteeman yes that did work.

[2022-08-21 16:57] brianteeman commented on #38532
@N6REJ its because one of the rules in svgsanitize is to mark a space as an error. We could easily allow spaces just as we allow comments.

[2022-08-21 17:20] N6REJ commented on #38532
looks like if we'd just leave it alone and let its clean it all would be well

[2022-08-21 17:37] brianteeman commented on #38532
yes. but thats not we're doing

[2022-08-21 17:41] bembelimen commented on #38532
Not sure what you mean with "spaces" but spaces are not marked as invalid. An attribute (xml:space) is marked as invalid due to a bug: https://github.com/darylldoyle/svg-sanitizer/issues/64

[2022-08-21 18:35] brianteeman commented on #38532
[code]

ah I see what you mean now about xml:space and that it was just coincidence on the files it was reported. Perhaps until the library is updated you could whitelist it in the same way as you did the comments?

[2022-08-21 19:11] jhrenshaw opened #38543 "adduser CLI command fails on upgrade to 4.2"
### Steps to reproduce the issue
go to CLI directory
php joomla.php user:adduser --username=me --name="My Name" --email=valid_email_address --password="my password" --usergroup=Registered

### Expected result
user is added to the user table

### Actual result
user is not added to the user table

the return value of $userObj->getError() is something like

'the field otpKey does not have a default v

[2022-08-21 21:45] brianteeman commented on #38532
Found a few more bugs upstream. Please test #38545 as this removes a few more false positives that are preventing upload

[2022-08-21 22:03] N6REJ commented on #38532
@brianteeman said that not me.

[2022-08-21 22:20] wilsonge commented on #38518
So I still hate changing superglobals so raised a tweaked (although architecturally bigger change) PR in #38544

Also worth noting as it hasn't been so far for the record that we have an undocumented configuration.php variable called `site_uri` https://github.com/joomla-framework/application/blob/2.0.2/src/AbstractWebApplication.php#L962 that if set also 'fixes' this. Yeah I didn't know either unt

[2022-08-22 02:39] sonvnn commented on #38508
I re-checked and found the problem came from one of our plugin. Sorry for the inconvenience. I close this issue as resolved and continue to check the issue on our side.

[2022-08-22 05:18] nikosdion commented on #38518
@wilsonge I also did not like changing superglobals and was thinking about something along the lines of what you did. However, there were a few more things to keep in mind:

* Joomla 4.2.0 was evidently broken and in such a way that should've been a release blocker to begin with.
* There was VERY limited time (less than 1 day to RC1 and 3 days to RC2) while at the same time I had other issues to f

[2022-08-22 05:29] nikosdion commented on #38518
@wilsonge I actually see how your PR would break CLI again. I will comment on that on your PR.

[2022-08-22 07:19] brianteeman commented on #38542
They are two seperate options
One controls the display of images contained in the article content and the other controls the display of the intro/full images

![image](https://user-images.githubusercontent.com/1296369/185862137-d2ba5b40-6cfe-4644-86e2-6d5a931640d9.png)

[2022-08-22 07:27] elecoest opened #38547 "TAGS : error on display tags with a lot of tags"
### Steps to reproduce the issue

In Joomla 4 latest version, PHP 8.0 in **backend** :

- Create more than 30 tags
- Add all tags on your content
- Save
- Display your content

### Expected result

All tags related are displayed

### Actual result

Only the 30th tags are displayed

### System information (as much as possible)

This file :
/libraries/src/Form/Field/TagField.php
seems load only the

[2022-08-22 07:44] GixxerMKD opened #38548 "RSS feed for tags is missing image and shows title instead of category"
### Steps to reproduce the issue
Check the RSS feed for any tag (Menu Item Type: Tagged Items)

### Expected result
RSS feed should contain intro image in <description> and should show the article category in <category>.

### Actual result
The <description> field does not include the intro image.
The <category> item in the RSS feed is not the article category but it shows the items Title instead.

[2022-08-22 07:52] laoneo commented on #38543
@nikosdion, is this related to the MFA changes of 4.2?

[2022-08-22 07:55] nikosdion commented on #38543
@laoneo Yes. Please assign this to me, I'll come up with a PR shortly.

[2022-08-22 08:05] nikosdion commented on #38543
To be fair, the table does give both columns a default value (this is MySQL, the same happens with PostgreSQL):
[code]

It appears that the database table definition is broken on the database server. Still, it's fairly trivial to fix.

[2022-08-22 08:11] nikosdion commented on #38543
This is the PR https://github.com/joomla/joomla-cms/pull/38549

[2022-08-22 08:20] lilakerr opened #38550 "Spam deleted"
spam removed

[2022-08-22 08:33] #38550 closed

[2022-08-22 08:35] richard67 commented on #38543
Closing as having a pull request. Please test #38549 . Thanks in advance.

[2022-08-22 08:35] #38543 closed, assigned to nikosdion

[2022-08-22 08:49] peterhulst commented on #38542
Thank you Brian.
However the first option (Show Article Images) does not work.
Select: Show or Hide: images are always displayed.
Regards, Peter<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38542">issues.joomla.org/tracker/joomla-cms/38542</a>.</sub>

[2022-08-22 09:19] khobraariyadh commented on #38420
تأسست ايكيا على يد انجفار كامبراد عام 1943، وظهرت على أرض الواقع ككتالوج طلب بالبريد في مدينة ألمهولت المشجرة بالسويد. وهي اليوم علامة تجارية عالمية للأثاث المنزلي توفر الأسعار المناسبة والتصميم والراحة للناس في جميع أنحاء العالم. ربما قطعنا شوطًا طويلاً منذ بداياتنا المتواضعة، لكن رؤيتنا تظل كما هي: خلق حياة يومية أفضل للكثير من الناس. استكشف قصة ايكيا هنا، لمعرفة المزيد عن تراثنا، وما الذي يدفعن

[2022-08-22 09:39] brianteeman commented on #38542
I cannot replicate that _bug_

[2022-08-22 10:38] trananhmanh89 opened #38551 "[J4.1.5] Joomla could not detect new version 4.2"
### Steps to reproduce the issue
- Install fresh joomla 4.1.5
- Go to `administrator/index.php?option=com_joomlaupdate`
- Check for update

### Expected result
- Joomla should show 4.2 available

### Actual result
- Joomla shows no update

### Additional comments
As i check on `https://update.joomla.org/core/list.xml`, the `4.2` package has `targetplatformversion="4.2"`. So joomla couldn't find ne

[2022-08-22 10:41] MartijnMaandag opened #38552 "Creation date format"
### Steps to reproduce the issue
I was testing the installation of the Dutch translation package for Joomla 4.2.1 (on a Joomla 4.2.0 site).
Some time ago the creation date in the Translation changed into YYYY-MM, nothing wrong with this, I use this in the translation.
Now I notice that the display in the extension list is changed from YYYY-MM (4.1.x) into YYYY-MM-DD (4.2.x).
This is confusing, if

[2022-08-22 10:42] dgrammatiko commented on #38532
@obuisard so, the SVG is never a threat or in anyway problematic for the server side, it's just a static file! For the client side ONLY if the SVG is embedded into the page there are potential problems. The images folder (or any folder that the media manager is managing) is supposed to be only for static assets (jpg, png, webp, avif, mp4, mov, pdf, etc) and the only way that these files are used f

[2022-08-22 10:51] mariantanase commented on #38551
https://github.com/joomla/joomla-cms/issues/38522#issuecomment-1219786939

[2022-08-22 10:57] laoneo commented on #38547
What is your default list length in the global Joomla configuration?

[2022-08-22 10:57] zero-24 commented on #38551
Thats used only for updates within the 4.2 series. The upgrade from 4.1.5 will be possible once 4.2.1 has been released which is expected to be soon as there have been RC out since last week too. Will close here for that reason that right now this is expected behavior.

[2022-08-22 10:57] #38551 closed, assigned to nobody

[2022-08-22 10:59] elecoest commented on #38547
100

The value 30 is hard designed

Le lun. 22 août 2022 à 12:57, Allon Moritz ***@***.***> a
écrit :

[2022-08-22 11:03] brianteeman commented on #38547
I  think you may have misread the code regarding the hardcoded value of 30 and where it is used.

[2022-08-22 11:11] peterhulst commented on #38542
Strange!
In Joomla! 4.2.0 Stable [ Uaminifu ] 16-August-2022 13:05 GMT the _bug_ exist.
Show Intro/Full image: _No_  works as expected
Show Article Images: _Hide_ **does not work** and is still the same as _Show_

[2022-08-22 11:21] brianteeman commented on #38542
https://user-images.githubusercontent.com/1296369/185909415-e9c8a81e-4258-426a-bb58-18a04a149b4e.mp4

[2022-08-22 11:26] roland-d commented on #38532
There are several reasons I did it at the time:
- This issue is not blocking the 4.2.1 release
- There was no PR with a fix at the time
- SVGs can still be uploaded although I agree not all of them

Now following the discussion here, can't we make it an option that users can decide for themselves to allow SVG uploads? By default we do what we do now but if users want to open it up they can. They c

[2022-08-22 11:30] brianteeman commented on #38532
not having a pr is not a reason to remove a release blocker 🤦

as release lead I respectfully suggest that you do follow the discussion or there is no way yu can actually make a good faith decision.

[2022-08-22 11:33] richard67 commented on #38552
@MartijnMaandag I don't get that. The `YYYY-MM` format is also only accurate by the month. If you have a release at August 16 and then again at August 23, both will show up as `2022-08-01`. The day is added by the display, it seems, but in the XML file where this information comes from, we have only `YYYY-MM`. So I do not see how that should be more accurate.

[2022-08-22 11:33] roland-d commented on #38532
Fair enough, I will put the release blocker back

I am following the discussion, both here and on Glip

[2022-08-22 12:40] elecoest commented on #38547
@brianteeman I have a bug, i'm not an expert :)

[2022-08-22 12:49] chmst commented on #38547
@elecoest pleaes set the parameter for tags to nested.
![grafik](https://user-images.githubusercontent.com/1035262/185924908-a7e25609-bfef-48f7-8fdc-f3477174232a.png)

[2022-08-22 12:52] chmst commented on #38547
@laoneo @brianteeman we had already different issues here. So would say that we need a UX improvement here. I have no clue for what this param is used.

[2022-08-22 12:56] laoneo commented on #38547
The 30 limit is introduced by #31481.

[2022-08-22 13:02] elecoest commented on #38547
@chmst  it's OK with your parameter. Thanks. Not really easy to understand.

[2022-08-22 13:02] #38547 closed, assigned to nobody

[2022-08-22 13:07] MartijnMaandag commented on #38552
Well, 2022-08 is the right month and accurate, 2022-08-01 is not the right date and not accurate, this is confusing. I don't know why they changed this from 4.1 to 4.2.

[2022-08-22 13:19] brianteeman commented on #38552
https://github.com/joomla/joomla-cms/pull/27162

[2022-08-22 13:31] chmst opened #38553 "Improve information text for "Tag Entry Mode""
### Steps to reproduce the issue
The tags component has a parameter tag_field_ajax_mode

![grafik](https://user-images.githubusercontent.com/1035262/185932047-3b8aa698-c93d-42fb-bef8-1076f86cd902.png)

### Expected result
The information explains which consequences the alternatives AJAX and nested have on the system.

### Actual result
The information says nothing what users can understand. i.e. h

[2022-08-22 16:02] HLeithner commented on #38437
yes https://manual.joomla.org is primary used for "developer" documentation

[2022-08-22 17:08] Kostelano commented on #38552
Yes, this is a bug. Moreover, it spread to all languages ​​(probably), and not just en-GB.

![Screenshot_1](https://user-images.githubusercontent.com/8440661/185979244-a859a582-2594-4f86-a766-1029c6dc3e94.png)

[2022-08-22 17:17] brianteeman commented on #38552
The pull request creating this was https://github.com/joomla/joomla-cms/pull/27162

There is a very long discussion there regarding this

[2022-08-22 17:27] brianteeman commented on #12888
I still cannot find a bug when doing this

[2022-08-22 17:31] Kostelano commented on #38552
The date format "does not know how" to read such a "truncated" date - for example, 2022-08. It converts it to [DATE_FORMAT_LC4](https://github.com/joomla/joomla-cms/pull/27162/files#diff-6a0163b4e4391b44d531ebd39c6d7085c55c9233472ee5d580e4a67dbfeab4f6R88).

For example, go to the `site/administrator/manifests/packages` directory and change the date in the `pkg_en-GB.xml` file to normal, then retur

[2022-08-22 18:00] brianteeman commented on #38437
I think I forgot to reference #38465

[2022-08-22 18:12] angieradtke commented on #12888
I use cassiopeia.
Add a custom module at the position banner -> Module Assignment-> all pages
Use module-Style -> html5
Create an article -> Load this module via  moduleid inside the article.
Create article menu item to this item. And it happens.

[2022-08-22 18:16] brianteeman commented on #12888
That was the missing bit. I can confirm weirdness happens when html5 is selected

[2022-08-22 19:41] nikosdion opened #38555 "[Architecture] Make the MVCFactory usable for custom services"
While writing developer documentation I ran into a maddening problem which I feel needs to be solved sooner rather than later and possibly before 5.0. It will not only make 3PD's life easier, it will also sell them on the idea of having a DI Container / Service Locator in their components. Right now, most 3PDs perceive it as a liability than an asset and the more I work with it the more I tend to

[2022-08-22 20:08] peterhulst commented on #38542
Thank you Brian.
You convinced me with the very clear video.

My idea was that "Intro Image" was the image before 'Read More'.
In the database in 'introtext'.
But it is in the database as 'images', "image_intro".
Sorry for misunderstanding.

Regards,
Peter

[2022-08-22 20:10] #38542 closed, assigned to nobody

[2022-08-22 20:10] brianteeman commented on #38542
Please can you close this

[2022-08-22 20:10] peterhulst commented on #38542
I have closed it now

[2022-08-22 21:15] brianteeman commented on #38501
@sandewt I'm sorry but I don't understand what you are saying here.

[2022-08-22 21:23] brianteeman commented on #38499
Its not just the login page it is all the pages that have this problem. It's not noticable visually on the template dashboard for example but it certainly is for a screenreader where it breaks a lot of strings

[2022-08-22 21:35] brianteeman opened #38556 "[4.2rc] fatal error when language debug is enabled"
### Steps to reproduce the issue
1. enable language debug
2. open extensions> manage

### Expected result
page loads

### Actual result
[code]

### System information (as much as possible)

### Additional comments

[2022-08-22 23:21] wilsonge commented on #38555
I think this is by design? Containers effectively store a singleton and because we can have multiple models loaded on the same page (e.g. content article and archived article module) you have to have the factory in the DIC and the factory will then create it when you need it

OK I'm going to start here by playing a bit of devils advocate. If your booting something through a DI container and you RE

[2022-08-23 04:19] sonvnn commented on #38508
Hi everyone,
I found issue from Joomla Form:loadFile() function. I tested with Astroid Framework and Helix Framework got same issue, too.

When plugins call `$form->loadFile` from `onContentPrepareForm trigger`, the params will be get default value from xml.
![Screen Shot 2022-08-23 at 10 18 41](https://user-images.githubusercontent.com/3204103/186062217-abce64fa-a105-4ec8-b5e0-0234b9545753.png)

[2022-08-23 06:18] nikosdion commented on #38555
You didn't get me at all. I am not talking about how you get "a" service from the container, I understand how DI works. I am talking about the fact that the MVCFactory needs to be pushed concrete instances of _all_ services it will subsequently be pushing to the MVC objects.

However, this is not always a good idea. For example, I may have a service which needs to do heavy I/O or use up a lot of m

[2022-08-23 07:36] MartijnMaandag commented on #38552
It is not only the language-packs, we could change them. All core extensions do have the same.

[2022-08-23 07:39] brianteeman commented on #38552
did you not read the discussion and pr I linked to #27162

[2022-08-23 08:05] MartijnMaandag commented on #38552
Yes, but my first statement that it is confusing is still there.
Why don't we change <creationDate>2022-08</creationDate into <creationDate>2022-08-23</creationDate in the languagepack? Then the actual date is shown and not the fake day 01.

[2022-08-23 08:27] surenaus1400 commented on #24315
excellent[صابون زغال فعال](http://sevilaygroup.com/q/activated-charcoal-soap "صابون زغال فعال")<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24315">issues.joomla.org/tracker/joomla-cms/24315</a>.</sub>

[2022-08-23 08:28] surenaus1400 commented on #24315
Thank you for your guidance
[چاپ مقاله دکتری](http://daneshjoiebartar.com/%da%86%d8%a7%d9%be-%d9%85%d9%82%d8%a7%d9%84%d9%87-%d8%af%da%a9%d8%aa%d8%b1%db%8c/ "چاپ مقاله دکتری")<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24315">issues.joomla.org/tracker/joomla-cms/24315</a>.

[2022-08-23 08:28] brianteeman commented on #24315
please delete the spammer

[2022-08-23 08:31] surenaus1400 commented on #24315
Thank you for sharing this article with us
 [طراحی و اجرای روف گاردن](https://tatian.ir/news/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D9%88-%D8%A7%D8%AC%D8%B1%D8%A7%DB%8C-%D8%B1%D9%88%D9%81-%DA%AF%D8%A7%D8%B1%D8%AF%D9%86 " طراحی و اجرای روف گاردن ") و [نهال گردو](http://golrangnahal.com/category/walnut-seedlings "نهال گردو") و[ خرید خانه در منطقه 22](http://amlakchitgar.ir/%D9%85%D8%B9%D8%B1%D9%81%DB%8C-%D

[2022-08-23 08:36] surenaus1400 commented on #38556
excellent
Thank you for your guidance
[فایبر سمنت برد](https://nilsazeh.com/%D9%86%D8%AD%D9%88%D9%87-%D9%86%D8%B5%D8%A8-%D9%88-%D8%A7%D8%AC%D8%B1%D8%A7%DB%8C-%D9%81%D8%A7%DB%8C%D8%A8%D8%B1-%D8%B3%D9%85%D9%86%D8%AA-%D8%A8%D8%B1%D8%AF/ "فایبر سمنت برد") , [پرسشنامه و ابزار پژوهش](https://tiktesti.ir/lives.php?s=&idc[]=6 " پرسشنامه و ابزار پژوهش") , [فروشگاه ساز](http://oojen.ir/ "فروشگاه ساز") , [چا

[2022-08-23 08:38] soocfRY commented on #38327
Ir's weird but mine have no problem on it
you can check out my website
[https://h3bet.com/th](https://h3bet.com/th "https://h3bet.com/th")<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38327">issues.joomla.org/tracker/joomla-cms/38327</a>.</sub>

[2022-08-23 08:50] alikon commented on #38556
i can confirm the issue

[2022-08-23 09:13] zero-24 commented on #24315
Comments deleted.

[2022-08-23 09:30] sandewt commented on #38501
@brianteeman I try to explain:

First: I update a site J4.1.5 with the Joomla! 4.2.0 Upgrade Package (.zip). No images are added.
Then: I installed the same site with the Joomla! 4.2.0 Full Package (.zip). Images are added.

[2022-08-23 09:42] brianteeman commented on #38501
As @zero-24 said that is the intended behaviour

[2022-08-23 09:44] sandewt commented on #38512
@brianteeman

My suggestion is to roll back the previous PR #38236, and just replace the following class:

`<a class="btn btn-sm btn-secondary"`
with
`<a class="p-2 btn btn-sm btn-secondary m-1"`<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38512">issues.joomla.org/tracker/

[2022-08-23 09:47] sandewt commented on #38501
Intended behaviour

[2022-08-23 09:47] #38501 closed, assigned to nobody

[2022-08-23 10:09] brianteeman commented on #8571
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla
cc @zero-24

[2022-08-23 10:12] brianteeman commented on #11296
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4
cc @zero-24

[2022-08-23 10:12] #8571 closed

[2022-08-23 10:12] #11296 closed

[2022-08-23 10:13] brianteeman commented on #11488
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:14] brianteeman commented on #12030
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:16] brianteeman commented on #13598
Could someone change the label on this to J4 Issue please

[2022-08-23 10:16] zero-24 commented on #11488
Its an issue that can be picked up later but thats a more or less longstanding issue so I will agree that we are closing this here for now.

[2022-08-23 10:16] #11488 closed

[2022-08-23 10:16] brianteeman commented on #13792
Please can someone change the tag to J4 Issue

[2022-08-23 10:17] zero-24 commented on #13598
Label changed.

[2022-08-23 10:17] zero-24 commented on #13792
Done

[2022-08-23 10:17] #12030 closed

[2022-08-23 10:21] brianteeman commented on #14848
https://github.com/joomla/joomla-cms/issues/32923#issuecomment-812237424

Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testi

[2022-08-23 10:22] brianteeman commented on #14851
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:24] brianteeman commented on #14912
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:25] brianteeman commented on #15101
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:26] brianteeman commented on #15421
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:29] brianteeman commented on #15599
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:30] brianteeman commented on #16271
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:36] brianteeman commented on #16375
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:41] brianteeman commented on #16528
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features. It appears that this has already been addressed in Joomla 4 and  it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:44] brianteeman commented on #18330
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:46] brianteeman commented on #18420
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:47] brianteeman commented on #18534
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:48] brianteeman commented on #18814
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 10:50] brianteeman commented on #19381
Could someone change the label to j4 issue please

[2022-08-23 10:53] brianteeman commented on #19652
Can someone change the label to J4 please as its still reproducable

[2022-08-23 10:57] brianteeman commented on #20085
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

Based on the comment above by mbabker this will now been closed.

cc @zero-24

[2022-08-23 10:59] brianteeman commented on #20263
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 11:01] brianteeman commented on #20729
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 11:03] brianteeman commented on #20807
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 11:07] brianteeman commented on #21148
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

As this issue doesn't relate to Joomla 4 it will now been closed.

If we are mistaken and this does apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 11:56] brianteeman commented on #20556
please test #38563

[2022-08-23 12:03] brianteeman commented on #18568
Thank you for raising this issue.

Joomla 3 is now in security only mode with no further bug fixes or new features.

I have verified that this issue is resolved in Joomla 4 so it will now been closed.

If we are mistaken and this does still apply to Joomla 4 please open a new issue (and reference this one if you wish) with updated details for testing in Joomla 4.
cc @zero-24

[2022-08-23 12:18] Valdnet opened #38564 "[PL] Translations in Crowdin"
There are many text strings incorrectly translated in Crowdin for Polish that are approved. Unable to correct them due to limited permissions. I am asking for reviewer's rights.

[2022-08-23 12:23] brianteeman commented on #20738
I have confirmed this is still an issue with Joomla 4.

Please change the label to J4 on github

[2022-08-23 12:34] RickR2H commented on #20556
Closed because of PR #38563

[2022-08-23 12:34] #20556 closed, assigned to nobody

[2022-08-23 12:37] brianteeman commented on #23830
Please change label to j4

[2022-08-23 12:39] laoneo commented on #38555
First of all I want to clarify, that Joomla 4.0 is the first iteration of using a DI container to build extensions, so I wanted to make it as simple as possible by not replacing one magic system with another one. Sure you write every time similar code in the provider.php file, but it is clear as hell now and the dev knows what he is doing when writing the service provider. It was a huge effort to

[2022-08-23 12:41] brianteeman commented on #23876
As far as I can tell this issue has been addressed and dbuint is no longer used.

@hackwar if you can confirm please then this can be closed