[2021-03-31 18:21] PhilETaylor commented on #32858
Run this as a test

[code]

[2021-03-31 18:29] ChrisDGFr commented on #32858
The difference between image 1 (success) and image 2 (failure) is not "From email" but "Reply to Email".

[2021-03-31 18:31] PhilETaylor commented on #32858
Correct. I know that. But you are not listening. This is not Joomla's fault if your webhost is blocking you from having a Gmail address in the headers.

[RUN THE TEST](https://github.com/joomla/joomla-cms/issues/32858#issuecomment-811307123) I have asked you to and report if it works or errors please.

[2021-03-31 18:38] alikon commented on #32858
matter for https://forum.joomla.org/ imho

[2021-03-31 18:38] #32858 closed, assigned to nobody

[2021-03-31 18:44] PhilETaylor commented on #32916
#32940

[2021-03-31 18:44] #32916 closed, assigned to nobody

[2021-03-31 18:47] meinhoonharsh commented on #32820
@PhilETaylor I am also wants to know, How can we find  which we have to edit to make changes in something we want, I got css, scss and js files through the get parameters in the URL, but unable to find the HTML for anything

[2021-03-31 19:10] AndySDH commented on #32925
No it doesn't. Think about a site with 10.000 articles. Or 50.000 articles. Do you want to clear the whole cache every time you save 1 article? That defeats the purpose of cache in the first place.

According to what you've brought up, if someone is a smart developer, what should be said instead is:

- Clear article ID
- Clear category that the article belongs to

That's it

[2021-03-31 19:11] PhilETaylor commented on #32925
Joomla doesn't cache per article or per category. It caches views.

[2021-03-31 19:13] PhilETaylor commented on #32820
Sorry, Its not for me to teach you the Joomla architecture or how to use the search :)

Start your quest in the 4.0-dev branch here: https://github.com/joomla/joomla-cms/tree/4.0-dev/administrator/components/com_users/tmpl/users

[2021-03-31 19:16] PhilETaylor commented on #32925
So what you are requesting is a complete overhaul of the caching system that Joomla has used for a decade...

Joomla 4 will clear all these caches on saving an article. Gulp.

[code]

[2021-03-31 19:17] AndySDH commented on #32925
I had/have no idea of the underlying code. Just bringing up an issue. No idea how hard or easy it is to change.

Gulp indeed.

[2021-03-31 19:20] PhilETaylor commented on #32858
I tried to help :)

[2021-03-31 19:22] richard67 commented on #32858
@PhilETaylor You could have fixed 5 bugs in the mean time 😜

[2021-03-31 19:26] AndySDH commented on #32925
Me too, I'm personally using Litespeed Cache with the LSCache plugin for Joomla (which is smart to only clear cache of changed objects when they change, instead of all objects)

Just looking out for the betterment of Joomla.

[2021-03-31 19:48] brianteeman commented on #32902
We addressed this years ago in j3. Finder in J4 is an almost complete rewrite alledgedly

[2021-03-31 19:55] PhilETaylor commented on #32902
Im no com_finder expert.. but storing the full route to items in the db and a full serialised php object per item seems overkill. my finder_links table is over 200Mb in size!

[2021-03-31 20:58] meinhoonharsh commented on #32820
@PhilETaylor Thank you, It helped alot 😁

[2021-03-31 22:36] brianteeman opened #32950 "[4.0] Site Settings - front end"
### Steps to reproduce the issue
Install the sample data and login to the frontend as a super user
Go to the site setting menu item or the template settings menu
Make any change
Save

### Expected result
The itemid is still the same - ie the big home page module is not displayed

### Actual result
there is no itemid so the big home page module is displayed

### Note
Verified that there is no itemi

[2021-04-01 07:38] Fedik commented on #32925
Caching single Article can be achieved if the cache stored per article `<key>` (eg id),
instead of `cache/com_content/` could be `cache/com_content/<key>/`

However this will not help for a list views: blog, category etc. Here need to change the rendering to be per "Item" (instead of per "view"), and then we will be able to cache every item separately.

[2021-04-01 08:57] srishty-07 opened #32952 "Bad UX - backend - if views are empty"
### Problem identified
on going on system>language>language-overrides ,there is a text bar with 'no matching result' written on it without even searching something, the same issue happens on other pages also example component>banner, tracks .
It occurs when  there is no data  on the page.

![image](https://user-images.githubusercontent.com/70388131/113267931-7ce52680-92f4-11eb-9915-0a4c87031721.pn

[2021-04-01 09:05] brianteeman commented on #32952
Why should there be nothing?

[2021-04-01 09:34] bembelimen commented on #27619
I see the point in having an XML, but I don't see this as a short term solution to get it "release ready" (or at least a very low priority, because it's not really necessary to ship this extension).

For me, the following changes would bring the whole extension in an "OK-ish" status:

- Remove the Mail Format option in teh settings. It should not be the task of the mail template manager to decide

[2021-04-01 09:53] anshi8269 commented on #32946
Can u please give the link to the website where the button separates differently?
or a pic when they get separated.
Actually, I didn't get the HTML file so I can see the problem.

[2021-04-01 09:55] brianteeman commented on #27619
Disagree as it will confuse people to see the empty html field for default messages

Agree

Agree but I have my doubts the current codebase can accommodate that. This was the number one comment made when the component was submitted and @Hackwar said it has to work this way and we are "daft" for not understanding it.

This has been going on for over a 15 months. This component was not ready to be m

[2021-04-01 09:56] brianteeman commented on #32946
@anshi8269 Everything you need to resolve this is in the post. If you don't understand that then it's probably not the right issue for you to work on.

[2021-04-01 10:29] srishty-07 commented on #32952
according to me this info-alert box should come only when a user search something and don't get the required result ,                             it will prevent confusion.

[2021-04-01 10:37] Piyussshh commented on #32929
@brianteeman I checked the images directory there were no such images named "notice-alert.png", "notice-note.png"

[2021-04-01 10:49] ChristineWk commented on #32946
@anshi8269

It belongs to: editing a module in the Protostar frontend.

Actual Result:

![screen shot 2021-04-01 at 10 47 47](https://issues.joomla.org/uploads/1/3df8be2213bf7ade60c136638d0dd43c.jpg)

Expected Result:

![screen shot 2021-04-01 at 10 48 35](https://issues.joomla.org/uploads/1/308791432428cdde0fde6365336cf3c2.jpg)<hr /><sub>This comment was created with the <a href="https://github.c

[2021-04-01 10:53] gerryfrancis commented on #32946
Thanks to everyone for your commitment!

@ChristineWk That is correct, maybe I should have highlighted the info in the first place.

[2021-04-01 10:53] brianteeman commented on #32929
@Piyussshh thats exactly what I said

[2021-04-01 10:57] Piyussshh commented on #32929
Then this is a missing file problem

[2021-04-01 10:57] chmst commented on #32952
This is right. We could differ between "There is no override yet" and "no matching result".

[2021-04-01 11:05] richard67 commented on #32952
Yes, but then it should be done consistently everywhere, not only for the overrides, i.e. "There is no %s yet" or something like that in all list views where no item exists yet, and "No matching result" if a search or filtering gives no result.

I can imagine that people think that the word "matching" in the message refers to a search or filtering, so I can understand the motivation behind this is

[2021-04-01 11:24] brianteeman commented on #32952
It would not be a simple change to make across all the uses. This is because a lot of the views are actually filtered even if you dont realise

[2021-04-01 11:28] richard67 commented on #32952
Exactly that's why at the end I can live with like it is now.

[2021-04-01 11:44] chmst commented on #32952
It is worth a discussion, but surely not in 4.0.
So I will move it to discussion.

[2021-04-01 11:45] Hackwar commented on #27619
To me, this feature is okay the way it is. I don't think that the current GUI is such a high hurdle for users that they can't use it or that it is majorly confusing. You disagree, fine with me, then lets change it. @bembelimen made a proposal and I can live with his changes.

What I can't live with are the implied racism accusations. The only contribution that I know of from the person in question

[2021-04-01 11:45] #32952 closed, assigned to nobody

[2021-04-01 12:01] brianteeman commented on #27619
That's the problem - you dont see a problem and yet everyone else does. This code is holding back the release of Joomla 4. If you say that it cant go in a 4.1 release then sorry but it will have to wait till 5.0.

**28 Jan 2000**

@brianteeman wrote

@hackwar wrote

I am sure that everyone can agree that you have not done that - or if you have then you have not communicated it.

I have no idea wha

[2021-04-01 12:05] laoneo opened #32957 "[4.0] None minified scripts are loaded"
### Steps to reproduce the issue
- Open the back end.
- Open /administrator/index.php?option=com_config.
- Set debug mode to false in the Joomla configuration.
- Save.
- Open Network tab in dev tools.

![image](https://user-images.githubusercontent.com/251072/113291475-6094ba00-92f3-11eb-89ba-b1a9c68bad7a.png)

### Expected result
Only minified scripts are loaded.

### Actual result
Carousel is lo

[2021-04-01 12:10] richard67 commented on #27619
The racism thing came up on Twitter where a well known former contributor blamed the community to make differences between people with Greek names and with Nordic names.

Your comment above seems to pick that up:

[2021-04-01 12:20] dgrammatiko commented on #32957
The code seems ok here: https://github.com/joomla/joomla-cms/blob/db414e7de7d0b9ceaf768ab145c9c6f91c714ad1/build/build-modules-js/javascript/build-bootstrap-js.es6.js#L19-L24

I can't replicate it with the default scripts on the page (the carousel is not in that view). Did you use HTMLHelper to load the scripts (eg using the `boostrap.carousel` helper: https://gist.github.com/dgrammatiko/efb3de4aa

[2021-04-01 13:44] nikosdion commented on #27619
I don't appreciate people talking behind my back like that. I withdrew the first WebAuthn contribution not because the automated system picked up some PHP styling issues — which I fixed. I withdrew it because a. I had asked explicitly for instructions and got sod all; b. I was told _by actual humans_ that I should magically know about the JavaScript workflow and code style which was at the time no

[2021-04-01 14:10] PhilETaylor commented on #27619
Shhh... [they](https://github.com/joomla/joomla-cms/pulls/PhilETaylor) are not merged yet ;-) Still time for them to be rejected :)

[2021-04-01 15:41] PhilETaylor commented on #27619
And in true style @SharkyKZ drove by and closed/rejected them...

[2021-04-01 16:05] PhilETaylor commented on #32597
So the opcache PR's were all rejected without a reason given by @SharkyKZ .. so this issue is still unaddressed, bringing us back to all 3 issues still needing addressing if someone wants to completely waste their time and have the project reject their legitimate (and valid) attempts at resolving these issues.

[2021-04-01 16:08] Fedik commented on #27619
I would keep this option in global config.
But I agree that in the editign form should be always available both editors: plain and html, independed from that option.

I like that idea. Not sure about ajax, maybe some redirect would be also enough.

I would leave 3d extensions integration for 4.x.

[2021-04-01 16:13] Fedik commented on #27619
in theory we can duplicate the plain message to the HTML when it empty,
simple `nl2br()` (kind of like was made in #32866 )

[2021-04-01 16:28] PhilETaylor commented on #32908
https://github.com/joomla/joomla-cms/pull/32919

[2021-04-01 16:28] #32908 closed, assigned to nobody

[2021-04-01 16:31] Quy commented on #32890
Thanks!

[2021-04-01 16:31] #32890 closed, assigned to nobody

[2021-04-01 16:32] PhilETaylor commented on #32890
Correct PR number is #32932

[2021-04-01 16:50] richard67 commented on #32597
@PhilETaylor I hope you know that Sharky doesn't have any right to speak for the JBS or for maintainers. He seems to perform his private war here. So please don't let him influence your motivation for your PR's.

[2021-04-01 16:51] PhilETaylor commented on #32597
I will use official channels to escalate this to OSM. Who I fully expect to do nothing. As they have done for every single CoC issue I have raised. @jeckodevelopment

[2021-04-01 18:06] Shivanshuvyas commented on #32934
Left menu expanded for one second for each module added.

[2021-04-01 23:53] wilsonge commented on #32923
This is expected behaviour. The entire point of the new router is to fix duplicate URLs to the same content. Yes it is expected this means that previously functional urls will 404. Either way this is fully described in https://github.com/joomla/joomla-cms/issues/14848

[2021-04-01 23:53] #32923 closed, assigned to nobody

[2021-04-02 04:47] joomdonation commented on #32829
PR https://github.com/joomla/joomla-cms/pull/32959

[2021-04-02 04:47] #32829 closed, assigned to nobody

[2021-04-02 05:54] variax73 commented on #32934
No. Menu expand only for first module. Second and other don't expand menu.

[2021-04-02 07:56] Ruud68 commented on #32923
Hi @wilsonge thanks for the follow up, totally forgot about that issue. Just see that I participated in that discussion and also offered a solution I created for it, for which I btw never got any response / feedback).
I understand that this is / was 'expected' behavior at the time it was discussed, but since then the world 'has moved on' and abusers are targeting this 'feature'.
So IMO this should

[2021-04-02 08:03] chmst commented on #27619
Additionally I see as user some easy UX improvements in the layouts as for example changing "Availabe Tags" to "Insert Tag".

What confuses me: Why are there edit buttons? If a user has persission for editing why does he need to use a switch?
I would prefer toggle buttons instead of switches, but why  do we need a switch there?

[2021-04-02 08:48] Fedik commented on #27619
I think the original idea is to have: "default content" (lang. constant), and "user content".
But yea it not very obvious.

Maybe we can drop them, and always display the content, instead of lang. constant.
But then need a way to User to reset message to default, in case he/she deleted something accidentally or something like that.
Maybe replace the switcher with button "Reset to default content".

[2021-04-02 08:57] joomdonation commented on #32950
PR https://github.com/joomla/joomla-cms/pull/32960 should address this issue.

[2021-04-02 08:57] #32950 closed, assigned to nobody

[2021-04-02 11:45] PhilETaylor opened #32961 "[4] Clearing cache doesn't flush PHP files from opcache"
### Steps to reproduce the issue

File Cache Storage class uses a lot of `unlink` instead of using the Filesystem layer and so removed PHP files from the cache are not removed from the opcache.

https://github.com/joomla/joomla-cms/blob/661407c91b0b3230c1a354a8c7c340e79f8fa8cb/libraries/src/Cache/Storage/FileStorage.php#L525

https://github.com/joomla/joomla-cms/blob/661407c91b0b3230c1a354a8c7c340

[2021-04-02 12:30] PhilETaylor opened #32962 "[3/4] Dont use opcache_reset"
### Steps to reproduce the issue

On most modern web hosts (I hope) opcache caching is becoming the norm.

In the early days, most people implemented `opcache_reset` as the "way" to invalidate a sites PHP files from the opcache. There are still a lot of blogs promoting this from the early days of opcache.

However, the documentation states:

`opcache_reset - This function resets the entire opcode

[2021-04-02 12:40] PhilETaylor opened #32963 "[4] Use of new CLI cmds to upgrade Joomla/install extensions and opcache"
### Steps to reproduce the issue

In Joomla4 there are new commands that can be used to

1) Install a new extension
2) remove an extension
3) Remove old system files
4) upgrade Joomla.

All of these actions call at least one opcache* function in their call stacks.

**Opcache in PHP is not shared between the CLI and any PHP process served by the web server, they are separate** therefore invalidatin

[2021-04-02 14:32] simbus82 commented on #32962
I've always suspected it, but I didn't know how to go into it!
Fortunately in my server happen only with hosts that share same PHP version, Unfortunately most of websites are under php 7.4 with opcache :-(

[2021-04-02 15:14] richard67 commented on #31909
Closing as it has been solved with PR #32728 . Feel free to re-open if something is left to be done.

[2021-04-02 15:14] #31909 closed, assigned to nobody

[2021-04-02 15:34] PhilETaylor opened #32966 "[4][CLI] Cannot delete users"
### Steps to reproduce the issue

php cli/joomla.php  user:add
test
test
test@example.xom
6

php cli/joomla.php  user:delete
test
yes

### Expected result

User just created is deleted.

### Actual result

Bug 1:
` The "session.handler" service has not been created, make sure you have created the "session" service first.`

Bug 2:
The `Delete users` in yellow appears AFTER you have entered a userna

[2021-04-02 15:35] PhilETaylor commented on #32966
Note that the user **IS DELETED** despite the error message

[2021-04-02 15:37] PhilETaylor opened #32967 "[4][cli] conflicting messages with extension:discoverinstall"
### Steps to reproduce the issue

php cli/joomla.php extension:discoverinstall

### Expected result

a single message saying that there were no extensions discovered.

### Actual result

Two messages, one is a yellow warning and one is an OK.

<img width="870" alt="Screenshot 2021-04-02 at 16 37 17" src="https://user-images.githubusercontent.com/400092/113430230-b3dd3a00-93d1-11eb-9dd8-5c8710cde53

[2021-04-02 16:59] PhilETaylor commented on #32967
Unlike the web interface this command doesn't "discover" and return a list - it just blindly installs anything it finds which is bad as the expectation is that it would be like the web interface.

Possibly consider breaking this up into two commands, one for discovering and one for installing, maybe even with a `--installall` param on the discover command to blindly install all it finds.

Thus tho

[2021-04-02 17:25] brianteeman commented on #32967
I thought we had this discussion before?

[2021-04-02 17:30] PhilETaylor commented on #32967
nothing found https://github.com/joomla/joomla-cms/issues?q=is%3Aissue+CLI+author%3APhilETaylor+is%3Aclosed but I would not be surprised.

[2021-04-02 17:33] brianteeman commented on #32967
https://github.com/joomla/joomla-cms/pull/31524#issuecomment-735441632

[2021-04-02 17:43] PhilETaylor commented on #32967
Well that's the point. It does both, blindly installing anything it finds. My point is that is not really what we (Joomla) should be looking to do and that the command should be broken up or improved,

[2021-04-02 17:49] PhilETaylor commented on #31896
Unless some idiot (like me) adds an array to JConfig, then this issue is resolved. As soon as someone adds an array to a setting in Joomla Global config, then this will occur again.

[2021-04-02 17:49] #31896 closed, assigned to nobody

[2021-04-02 17:50] PhilETaylor commented on #31896
PR https://github.com/joomla/joomla-cms/pull/32971

[2021-04-02 17:54] PhilETaylor commented on #32961
https://github.com/joomla/joomla-cms/blob/661407c91b0b3230c1a354a8c7c340e79f8fa8cb/libraries/src/Cache/Storage/FileStorage.php#L20

Soooooo anyone know what the Filesystem package has such a performance issue that Joomla itself refuses to use it?

[2021-04-02 18:14] astridx commented on #32967
If you want to install an Extendion specifically, then you can give the id. Then only this one will be installed.

[2021-04-02 18:20] brianteeman commented on #32967
but how do you find out which ones are available?

[2021-04-02 18:22] PhilETaylor commented on #32967
Its still a totally different expectation to the admin console.

There should be a

"Discover" = "List of discovered extensions"
"install All" = "installs all discovered extensions"
"install a single extension" = "installs a single discovered extension"

At the moment the default is just to discover and install all. I say that's the wrong expectation. Just running the command should give a LIST of

[2021-04-02 18:39] richard67 commented on #32966
Possibly bug 1 comes from the merged PR #29007 , i.e. the CLI needs to be adjusted to that.

[2021-04-02 20:11] aastha0507 commented on #32963
Can you assign this issue to me?

[2021-04-03 00:38] JimHolloman opened #32976 "Smart Search will sometimes return a Blank Page when the Joomla Cache is used"
### Steps to reproduce the issue
Go to:
https://savannahgavisitors.com/

Enter "segway" into the Search Box.
### Expected result
Returns 5 Results as expected (AOK)

Then, enter "Segway" into the Search Box.
### Actual result
Returns a BLANK PAGE (BUG!)

### System information (as much as possible)
Joomla 3.9.25 and PHP 7.4.
Has occurred on two different sites.

### Additional comments
Smart Searc

[2021-04-03 02:44] tranduyhung opened #32977 "[4.0] "categoryedit" and "tags" field show 2 dropdown lists"
### Steps to reproduce the issue

* Create a new menu item for `Create Article` menu item type (for creating a new article in front-end)
* Access this new menu item in front-end

### Expected result

* `Category` field should show 1 dropdown list for selecting category.
* `Tags` field should show 1 dropdown list for selecting tags.

### Actual result

* `Category` field shows a dropdown list with

[2021-04-03 02:51] joomdonation commented on #32977
Could you try night build package https://developer.joomla.org/nightly-builds.html ? It works well here for me on Joomla 4 nightly build (4.0.0-beta7 is outdated, there have been many changes to Joomla 4 since that version released)

![Create-a-Post](https://user-images.githubusercontent.com/977664/113465965-285fb980-9462-11eb-9653-7f0bf61ddd9e.png)

[2021-04-03 04:24] sandramay0905 commented on #32963
@aastha0507 you can work on a issue and create a pull request. The issue don't need to be assigned to you.

[2021-04-03 04:59] laoneo commented on #32967
[Here](https://github.com/Digital-Peak/DPDocker/blob/b4eafb116f7dd2ffa7f8d005885e6158d80e15d8/webserver/scripts/discoverapp.php#L23-L51) you can see what I had to do to find, discover and install the extensions before I setup Joomla in DPDocker. Perhaps it helps.

[2021-04-03 08:11] ghost opened #32978 "[4.0] Article: "Associations" on hover hard to read"
### What needs to be fixed
In an multilanguage Article hover on an also available Language:

![Bildschirmfoto 2021-04-03 um 09 59 50](https://user-images.githubusercontent.com/78906980/113472570-8b525000-9464-11eb-9a58-4ccee4cb0159.png)

### Why this should be fixed
Hard to read

### How would you fix it
More Difference between Letters and Background.

### Side Effects expected
Don't know.

### Sy

[2021-04-03 08:55] infograf768 commented on #32978
Confirmed. So used to use flags I guess nobody tested using lang code there.

[2021-04-03 09:00] richard67 commented on #32962
@PhilETaylor Would it make sense to extend your existing PR’s for the file based invalidation by the removal of these opcache_reset calls?

[2021-04-03 09:50] infograf768 commented on #32978
First aspect to change is to get this
<img width="425" alt="Screen Shot 2021-04-03 at 11 46 43" src="https://user-images.githubusercontent.com/869724/113474791-5e0c9e80-9472-11eb-8e58-693b78d16a10.png">

This to let choose when we have languages for different countries: de-DE, de-AT, etc.

Code would be
[code]

then we have an issue with the hover colour. Remark that in backend managers we have no

[2021-04-03 10:27] PhilETaylor commented on #32962
Small, very specific, short, direct to the point PRs have more chance of being tested and merged in my experience.

Unfortunately my time is short as easter is 2 weeks of school holidays, I'll see how much I can actually personally get done.

It does need addressing though.

[2021-04-03 10:51] joni142 opened #32981 "[4B7] user loose user groups after password reset via frontend"
### Steps to reproduce the issue
If a user attempt to use the "forgot password" function at the frontend, the assigned user groups are lost.
Only the public group is active.

Normally the user groups should not be changed by an usage of the "forgot password" function.

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2021-04-03 11:56] brianteeman commented on #32981
Can not confirm

[2021-04-03 11:56] ghost opened #32982 "[4.0] Search: Style for Dropdown-Fields "Start Date" and "End Date" missing"
### What needs to be fixed
At Page "Search" of an default Installation the Dropdown-Fields "Start Date" and "End Date" looks like a Style is missing:

![Ohne Titel](https://user-images.githubusercontent.com/78906980/113477711-0f680000-9484-11eb-9655-d5edc6888ae4.png)

### Why this should be fixed
Should'nt these Dropdown-Fields "Start Date" and "End Date" look like other Dropdown-Fields like "Sear

[2021-04-03 12:04] brianteeman commented on #32982
confirmed

[2021-04-03 12:23] Jere2000 commented on #32981
Yes i have the same issue.
After resetting the password all user group assignments are gone. Very annoying... i have to reassign all the users to the groups every time they reset their passwords.
I also noticed that the joomla log displays that a new user is being registered instead of a password reset. Maybe Joomla tries to register the existing user once more when the forgot-password function is

[2021-04-03 12:31] sandramay0905 commented on #32948
Issue confirmed.

[2021-04-03 12:45] brianteeman commented on #32981
If this was happening with just core user management then there would be thousands of reports. What extensions do you have installed - especially any plugins or components to manage login.

[2021-04-03 13:05] joni142 commented on #32981
No extensions are installed.
Tried it with a fresh joomla installation too, same problem.
After using the "forgot password" function the user group assignments are changed.

pictures from a fresh joomla installation
before:
![image](https://user-images.githubusercontent.com/34376674/113479204-f8c6a680-948d-11eb-9159-114a8618ee04.png)

after:
![image](https://user-images.githubusercontent.com/34376

[2021-04-03 14:34] jeckodevelopment commented on #32597
Hi @PhilETaylor calling @marcodings here as the relevant DC.

[2021-04-03 14:46] richard67 commented on #32597
@jeckodevelopment @marcodings More information on what the problem was can be found in this PR: #32915 . You have to expand the comments which are meanwhile hidden on GitHub by default due to the long history. You can also ask me on Glip for details.

[2021-04-03 14:48] PhilETaylor commented on #32597
Which is me actually trying to get this right and get it all merged as the opcache issues are valid issues already addressed by all other major cms. And thank you for @richard67 for his timely feedback and time taken to actually understand and test the issues involved.

As for the Shark attacks, the bites drew blood and left scars... but the shark should never have been in my paddling pool.

[2021-04-03 14:53] richard67 commented on #32597
Good we have no piranhas here ;-)

[2021-04-03 15:16] brianteeman commented on #32981
I see that you now have updated the title to indicate that this report is for joomla 4. I had assumed from the way that you wrote that you were referring to a live site and therefor a joomla 3 site

[2021-04-03 15:30] brianteeman commented on #32982
This is _partially_ solved by adding the correct class `form-select` to the select found in `administrator\components\com_finder\src\Service\HTML\Filter.php` but it looks to me that this markup should not be present in that file at all anyway. By locating the markup there it means it cannot be overridden and therefore the markup will always be bootstrap specific which is not the intention.

[2021-04-03 15:51] brianteeman commented on #32981
I have done a few tests. In each test there has been a change in the assigned user groups although not consistently the same groups.

### Before
![image](https://user-images.githubusercontent.com/1296369/113483597-33cfd680-949c-11eb-8a12-dc3d2cec8c57.png)

### After
![image](https://user-images.githubusercontent.com/1296369/113483626-582bb300-949c-11eb-9693-28bc9eecc760.png)

![image](https://user

[2021-04-03 15:52] joomdonation commented on #32981
I can confirm the issue. Just tried and see the same error. I will look at it.

[2021-04-03 15:53] infograf768 commented on #32978
What do you think about this?

![assoc_front](https://user-images.githubusercontent.com/869724/113483631-c2485600-94a4-11eb-828f-2d8d69a65c9f.gif)

[2021-04-03 15:53] brianteeman commented on #32981
@joomdonation I double checked it a few times on J3 and no problem with the groups there

[2021-04-03 15:54] joomdonation commented on #32981
I only check on J4 as the reported issue is for J4.

[2021-04-03 15:54] brianteeman commented on #32978
remark that there is no "on-hover" when it is flags

[2021-04-03 16:43] joomdonation commented on #32981
So here is what I find:

1. A quick fix would be change this line of code https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Table/User.php#L173 to

[code]

2. However, the root of the error seems causes from our database package DatabaseQuery class, method bindArray. I will try to make a PR to framework repo to fix this root error.

[2021-04-03 17:35] PhilETaylor opened #32988 "[4.0] CSP allows attacker to write unlimited db rows in detect mode."
### Steps to reproduce the issue

Possibly another release blocker.

On 7th October 2020 I reported four security issues with the com_csp to @joomla/security the JSST.  Im pleased to say that most were addressed back then including invalid data storage, persistent XSS and the ability to post reports for storage when the feature was disabled.

However one still **remains unresolved** and as the JSS

[2021-04-03 17:40] JimHolloman opened #32989 "Turning off System Cache does no turn off Caching"
Edit: In the Title, "no turn off" --> "not turn off".

### Steps to reproduce the issue

Go to: System --> Global Configuration --> System (Tab) --> System Cache under Cache Settings

And set System Cache to OFF.

### Expected result
Caching to be disabled.

### Actual result
The 'Page' continues to be cached; requiring the cache to be manually cleared between every change to the content in order

[2021-04-03 17:43] brianteeman commented on #32988
its all a waste of effort. This component is clearly not suitable for core. The fact that no one else is even testing it shows that none of the testers think its something they would use and therefore will spend time testing.

[2021-04-03 17:44] PhilETaylor commented on #32989
Are you hosting on Siteground?

Did you previously have caching enabled, then disabled it when you were making changes, and when you disabled caching in Joomla Global Configuration, did you then go and CLEAR the ALREADY cached items in the com_cache? Even with Joomla Global Configuration caching =off, if there are cache files already built they will be used. Ive reported this before and was told i

[2021-04-03 17:45] PhilETaylor commented on #32988
I tested extensively in October 2020, and it was found lacking back then, as per my initial comments about the security issues I reported :-(

[2021-04-03 17:51] brianteeman commented on #32988
you were included in the people who tested and not the else ;)

For what its worth I do remember attending a presentation by scott helme at BSides a few years ago about only recording a fraction of the reports to prevent exactly what you are describing but I can't find it now.

[2021-04-03 17:52] PhilETaylor commented on #32988
Considering you can script this to flood the db table within seconds, only storing a fraction of those, will just delay the inevitable and not fix the issue :)

[2021-04-03 17:57] brianteeman commented on #32989
You can do from Extensions> Plugins

As Phil said that can be the case. Siteground for example have their own caching layer on their servers

[2021-04-03 18:03] brianteeman commented on #32988
Still not found the info from the presentation but did find the solution to your reported issue by only reporting the issue for the specified host. See the description/explanation https://scotthelme.co.uk/fixing-mixed-content-with-csp/

[2021-04-03 18:10] PhilETaylor commented on #32981
This should be a release blocker surely right?

[2021-04-03 18:10] JimHolloman commented on #32989
Are you hosting on Siteground? No. I am using InMotion Hosting.

Did you previously have caching enabled (YES),
then disabled it when you were making changes (YES),
and when you disabled caching in Joomla Global Configuration,
did you then go and CLEAR the ALREADY cached items in the com_cache? (YES)

Even with Joomla Global Configuration caching = OFF, if there are cache files
already built they

[2021-04-03 18:10] PhilETaylor commented on #32981
This looks like a PHP 8 issue. Please report your PHP versions.

[2021-04-03 18:13] JimHolloman commented on #32989
Thanks brianteeman.

[2021-04-03 18:17] joni142 commented on #32981
My PHP version is 7.4.14

[2021-04-03 18:18] PhilETaylor commented on #32981
ok cool maybe I was wrong then, well the [proposed fix](https://github.com/joomla-framework/database/pull/247) of using `array_values()` has been the fix for a lot of PHP 8 compatibility issues.

[2021-04-03 18:47] brianteeman commented on #32981
not php 8

[2021-04-03 19:00] Fedik commented on #32988
I had this issue in my head also,
tbh I have no idea,

yea,  maybe some limitation would make sense

[2021-04-03 19:04] brianteeman commented on #32988
lipstick on a pig https://en.wikipedia.org/wiki/Lipstick_on_a_pig

[2021-04-03 19:05] brianteeman commented on #32988
Interesting stat from report-uri.com

21k sites generated 517 billion reports

[2021-04-03 19:10] Fedik commented on #32988
btw, if your site have enabled Redirect component and collect url, you can do very similar,
just do request with random URL every time:
[code]

[2021-04-03 19:15] Fedik commented on #32988
Seems we need the same fix for both com_csp, and system/redirect plugin

[2021-04-03 19:17] PhilETaylor commented on #32988
/faceplam

[2021-04-03 19:17] PhilETaylor commented on #32988
The saving grace here is that both issues are disabled by default on sites and are opt-in.

[2021-04-03 21:23] PhilETaylor commented on #32981
PR #32990

[2021-04-03 21:26] PhilETaylor commented on #32976
A blank page is an error page. In Joomla Global Configuration, turn on Debuging and set Error Reporting to maximum and repeat your test and report the PHP error back here please.

[2021-04-03 21:31] #32981 closed, assigned to nobody

[2021-04-03 22:02] PhilETaylor commented on #32989
Inmotion hosting are getting as bad as SiteGround in my experience. :-)

Ask your webhost what caching layers they are using on your account.

https://www.inmotionhosting.com/support/edu/wordpress/nginx-cache-management/
https://www.inmotionhosting.com/support/edu/cpanel/cache-manager-cpanel/

[2021-04-04 04:13] sandramay0905 commented on #32978
Looks fine for me.

[2021-04-04 08:41] brianteeman commented on #32978
According to the bootstrap 5 documentation badges should no longer have focus or hover styles for links. https://getbootstrap.com/docs/5.0/components/badge/

[2021-04-04 08:42] amankothiyal04 commented on #31540
hey @B3nito can you help me with this issue want to contribute to solve it

[2021-04-04 08:52] infograf768 commented on #32978
the PR (to come) will change badges to buttons.

[2021-04-04 08:55] ghost opened #32991 "[4.0] Blog Sample Data: Textlink `Typography` should load Menu `Typography`"
### What needs to be fixed
Install Blog Sample Data.

#### At `Home` user get a huge Picture with Text and Button `Typography`:

The Button-Link is `index.php?option=com_content&view=article&id=11` and the Article loads in the same Menu.

#### The Menu `Typography` has the Link `typography.html` and load the Article:

### Why this should be fixed
Because the Picture is so huge it looks like no Art

[2021-04-04 09:01] chmst commented on #32991
Closing because this is resolved here #31711please test.

[2021-04-04 09:01] #32991 closed, assigned to nobody

[2021-04-04 09:17] infograf768 commented on #32978
See https://github.com/joomla/joomla-cms/pull/32992 closing

[2021-04-04 09:17] #32978 closed, assigned to nobody

[2021-04-04 09:58] drmenzelit commented on #32977
I can't confirm this issue

[2021-04-04 10:38] #32977 closed, assigned to nobody

[2021-04-04 11:15] PhilETaylor commented on #32962
Moved to PR https://github.com/joomla/joomla-cms/pull/32915 for Joomla 4

[2021-04-04 11:15] #32962 closed, assigned to nobody

[2021-04-04 11:57] PhilETaylor commented on #32961
PR #32993

[2021-04-04 11:57] #32961 closed, assigned to nobody

[2021-04-04 13:11] PhilETaylor opened #32995 "[4] Post Install Actions for totp run useless sql on every page load"
### Steps to reproduce the issue

Joomla 4.0-dev
enable debug mode
Visit any admin console page and view the queries run in the debug toolbar

### Expected result

Caching so that a useless query is not run on every page load

### Actual result

SQL is run on every page load, that by default, actually returns ZERO rows (as 2fa is disabled by default)

[code]

<img width="1071" alt="Screenshot 2021

[2021-04-04 13:25] PhilETaylor opened #32996 "[4] * ?"
### Steps to reproduce the issue

Joomla global config in Joomla 4 admin

What is the `*` next to the Cache Time for ?

There is no popover help text etc...

<img width="925" alt="Screenshot 2021-04-04 at 14 24 36" src="https://user-images.githubusercontent.com/400092/113510198-946d1b00-9551-11eb-868a-bc79aa5d9cfc.png">

[2021-04-04 13:41] PhilETaylor opened #32997 "[4] Highlight CSS missing."
### Steps to reproduce the issue

Joomla `4.0-dev`
Create an article with the word "create" and the word "admin" in the body text.
Ensure the `System - Highlight plugin` is enabled
View the article on the frontend
Then append the url you are on with `?highlight=WyJjcmVhdGUiLCJhZG1pbiJd`

`WyJjcmVhdGUiLCJhZG1pbiJd` = base64encode of the array `["create","admin"]`

View the source code.

### Expecte

[2021-04-04 14:11] Quy commented on #32996
It means `required`.

[2021-04-04 14:11] PhilETaylor commented on #32996
I need more sleep obviously.

[2021-04-04 14:11] #32996 closed, assigned to nobody

[2021-04-04 14:42] RahulJha393 commented on #32997
Hey !! I would love to contribute to this. How can I share my code to help you highlighting the terms (i.e. "create" and "admin") . Kindly guide me

[2021-04-04 15:03] RahulJha393 commented on #32948
I would like to fix this issue . Kindly guide where I can start from

[2021-04-04 18:25] AndySDH opened #33016 "Contact Category Layout is missing from Menu Options"
You can set a Contact Category Layout at a Global Configuration Level (under Contact -> Category -> Choose a Layout).

You can also set a Contact Category Layout at a Category Level (under Options -> Layout)

But this option is missing at a Menu-Level.

### Steps to reproduce the issue

- Create a Menu of type "List Contacts in a Category"
- Go to "Category" tab

### Expected result

- There shoul

[2021-04-04 18:40] AndySDH commented on #33016
Looks like this is not a bug, you need to create a menu item to use an alternative category layout. So I guess intended behavior, but very confusing.

See proofs of user confusion (topics and comments):

https://forum.joomla.org/viewtopic.php?t=750018
https://forum.joomla.org/viewtopic.php?t=844520

Especially this quote sums it up:

That makes no freaking sense.
Couple that with no way to select

[2021-04-04 21:45] blueline86 commented on #31075
@chmst this is actually a slightly different problem. The other posts are relating to installing Joomla. This relates to installing components and is a simple progress bar of the file upload not SQL install which will is working in Joomla 3 but broken in 4.

[2021-04-04 23:02] prajjwal1231 commented on #32997
I would like to contribute in this issue Pls assign it to me
& can you brief me in which color you want it to be highlighted.

[2021-04-05 06:51] infograf768 commented on #32997
@PhilETaylor
the css exists but there is an error in it. Error comes from finder.css

we have
[code]
Taking off `z-index: -1;` solves the issue.

![highlight](https://user-images.githubusercontent.com/869724/113545953-63d9bf80-95eb-11eb-9945-5843351dd89f.gif)

Change has to be done in
https://github.com/joomla/joomla-cms/blob/3ff6d0ccefb8f936349a9627db5d28ecab137b81/build/media_source/com_finder/c

[2021-04-05 07:35] RahulJha393 commented on #32997
I have done the changes https://github.com/RahulJha393/joomla-cms/commit/2f951b832cee31baeaa85cf855b92a97842ef4cf
hope this solves the issue

[2021-04-05 07:45] infograf768 commented on #32997
@RahulJha393
This is the wrong place. The issue is for J4 and not J3/staging

The change has to be done in https://github.com/joomla/joomla-cms/blob/3ff6d0ccefb8f936349a9627db5d28ecab137b81/build/media_source/com_finder/css/finder.css#L116

Then make a PR towards 4.0-dev
and then use npm to test.

[2021-04-05 08:07] infograf768 commented on #32997
Another solution is to add `z-index: -2` to the body.
@drmenzelit @chmst What do you think?

[2021-04-05 08:13] ceford opened #33017 "[4.0] mod_loginsupport news url"
### Steps to reproduce the issue

Go to the Administrator login page. At the bottom left there is a link to Joomla! News - try it.

### Expected result

Joomla news page

### Actual result

Joomla main page

### System information (as much as possible)

### Additional comments

Is the label wrong or the link wrong. Or do we need an extra link for both? The link is in line 49 of

joomla-cms/adminis

[2021-04-05 08:59] RahulJha393 commented on #32997
@infograf768 Oops! OK let me check this out

[2021-04-05 09:06] infograf768 commented on #32997
@RahulJha393
Let's wait feed back from @drmenzelit @chmst

[2021-04-05 09:53] drmenzelit commented on #32997
`z-index: -2` for body can have unexpected side effects, so I think removing `z-index: -1` for `highlight` should be ok.
The finder.css file was refactored by @hans2103 some months ago.

[2021-04-05 11:17] brianteeman opened #33019 "[4.0] autoload_psr and ftp"
I dont have the ability to test this but I am fairly certain that the recent change to not store the ftp password will mean that on a site that needs to use ftp to write files it will never be able to update the autoload_psr file

[2021-04-05 11:35] brianteeman opened #33020 "[4.0]extensions install and ftp"
### Steps to reproduce the issue
Enable and configure ftp in global configuration

Go to extensions: install and the ftp login details tab

### Expected result
Username is the ftp username
Password is empty

As can be seen on the joomlaupdate screen below
![image](https://user-images.githubusercontent.com/1296369/113569950-43216200-960b-11eb-9779-1f242ee1bf94.png)

Or Username and ftp are empty as

[2021-04-05 11:50] AndySDH opened #33021 "List Limit missing from Contact Category View"
The Contact Category View is missing the ability to set the default number of contacts to display on the page.

This option is present for a lot of menu items in Joomla, such as category list, tags, single contact articles, etc.

However, it's missing for the Contact Category view. This instead just uses the "Default List Limit" in Global Configuration, with no way to set a different one per menu

[2021-04-05 12:36] ReLater opened #33022 "[4] jQuery in libraries/src/HTML/Helpers/Behavior.php"
### Steps to reproduce the issue
- See JQuery script in https://github.com/joomla/joomla-cms/blob/4.0.0-beta7/libraries/src/HTML/Helpers/Behavior.php#L176-L191

### Expected result
- As far as I've understood jQuery dependencies shall be removed from core code.

[2021-04-05 12:52] AndySDH commented on #33021
So this was already reported here: https://github.com/joomla/joomla-cms/issues/29866

The option was added in Joomla 4 here: https://github.com/joomla/joomla-cms/pull/23710

But then it was removed again (!) here: https://github.com/joomla/joomla-cms/pull/30904

/facepalm emoji

[2021-04-05 12:54] AndySDH commented on #29866
@SharkyKZ

Well, this has now been removed again even from J4, great -_- see: https://github.com/joomla/joomla-cms/pull/30904

@titusvk

{
    // Contakt List Bug - Override List Limit

    Factory::getApplication()->set('list_limit',999);
}

Had you tested this fix? I tried it, it doesn't work.

[2021-04-05 14:59] Fedik commented on #33022
yeap, `legacy/highlighter.js` also have jQuery dependency currently,

[2021-04-05 15:41] infograf768 commented on #32997
@RahulJha393
You got your answer. You can make the PR. :)

[2021-04-05 19:55] brianteeman opened #33027 "[4.0] renamed @param ??"
@wilsonge In this commit you renamed the `@param` from JForm to Form

https://github.com/joomla/joomla-cms/commit/3975a321102236231967f7f2b056838be0ee66a8

There are a gazillion similar instances - should they be updated as well ?
And what about `@var`

[2021-04-05 21:19] brianteeman opened #33029 "[4.0] Atum modules"
The admin modules have various parameters in the advanced tab.

![image](https://user-images.githubusercontent.com/1296369/113627937-19445b80-965c-11eb-8f80-d6af1b809439.png)

However several of them have no impact at all as there is no code in the module chrome that will use them.

- bootstrap_size - no impact
- header_tag - no impact

Either the chrome needs to be updated to work or the params s

[2021-04-05 21:37] Quy commented on #33029
Related #25952

[2021-04-06 03:15] jeansh opened #33030 "Joomla4.07 Installation Error!"
### Steps to reproduce the issue
( ! ) Fatal error: Uncaught Error: Call to undefined method JLoader::setup() in /var/www/html/*/libraries/bootstrap.php on line 34
( ! ) Error: Call to undefined method JLoader::setup() in /var/www/html/*/libraries/bootstrap.php on line 34

php7.4.16  Joomla4.07B

Installation Error, please help me! Thanks!

### Expected result

### Actual result

### System inform

[2021-04-06 04:29] ssnobben commented on #33030
Have you installed the latest beta build?

If not try to install that one first and come back with more info about your deploy environment & server settings too.

[2021-04-06 06:14] brianteeman commented on #33029
Just to add that the parameters do work if the chrome of "body" is selected instead of "well/default"

[2021-04-06 06:17] JimHolloman commented on #32976
Debug Mode does not produce an error.

PHPInfo.php shows memory_limit  768M for both local value and master value.

The Screaming Frog program will often show 1-5 500 errors, but sometimes no 500 errors.

[2021-04-06 06:24] jeansh commented on #33030
I download Joomla 4.0 Beta 7  from https://github.com/joomla/joomla-cms/releases/tag/4.0.0-beta7.
and  php info:
![图片](https://user-images.githubusercontent.com/32347628/113667662-b1395800-96e3-11eb-9386-a8d0e6b7cbf0.png)

[2021-04-06 06:34] ssnobben commented on #33030
This seems not like a developer problem but better doing a FPA ( Forum Post Assistant) first also in Joomla community support forum ie https://forum.joomla.org/viewforum.php?f=708&sid=a09dcce46c1273ed4761f7b7fe670805

So do a FPA and ask help there will be the way forward for you and the first step.

Have you use Joomla before?

Cheers!

[2021-04-06 06:45] jeansh commented on #33030
I've been using Joomla for years but just started using Joomla 4&nbsp; and wanted to test the new version.
&nbsp;I couldn't register for Forum successfully so I submitted Joomla Issue.

thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "joomla/joomla-cms"

[2021-04-06 07:23] ssnobben commented on #33030
Ok good then you know its not installation problem of Joomla 4 beta 7 in general but some issues with your installation environment.

So register and join the Joomla forum bcs its great support there for this kind of questions/help and do a FPA for fastest help for people to analyse your problem(s).

All the best!

[2021-04-06 09:34] blueline86 commented on #31075
Adding the below `onBefore `should fix this.

[code]

[2021-04-06 09:45] #33027 closed, assigned to nobody

[2021-04-06 10:17] richard67 commented on #33030
Closing due to reasons stated in previous comments. Feel free to re-open if it turns out closing was a mistake.

[2021-04-06 10:17] #33030 closed, assigned to nobody

[2021-04-06 10:25] PhilETaylor commented on #32976
Did you " set Error Reporting to maximum" in Joomla Global Config? or did you just enable Debug mode?

Screaming Frog ? The SEO Audit tool? that would be totally unrelated.

[2021-04-06 10:52] YatharthVyas commented on #32948
I was able to reproduce it but not consistently. I figured out that the issue has something to do with the span#refresh-status in /administrator/components/com_languages/tmpl/override/edit.php
I'd like to contribute to this. Could you please assign it to me

[2021-04-06 10:59] sandramay0905 commented on #32948
@YatharthVyas you can make a pull request without an issue is assigned to you.

[2021-04-06 11:26] wilsonge commented on #33027
Sorry just saw this - yes - and thankyou for doing it!

[2021-04-06 12:42] BrainforgeUK opened #33036 "IcoMoon Fonts - expand , contract"
### Steps to reproduce the issue

Use the following IcoMoon icons:
class="large-icon icon-expand-2"
class="large-icon icon-contract-2"

### Expected result

Display as documented here:
https://docs.joomla.org/J3.x:Joomla_Standard_Icomoon_Fonts

There appears to be no equivalent J4 page.
Still expect the same result.

### Actual result

As screenshot1.png
Extract of the HTML is screenshot2.png

ico

[2021-04-06 12:53] chmst opened #33037 "[4.0] [a11y] View categories needs improvement"
### Steps to reproduce the issue
Make a menuItem to a category List.

The result looks like this: the Category Help has a subcategory but the button for expanding is hardly visible.
All items (including the badges) are tagged as h3, which is wrong in most cases not only accessibility
The tree sstructure is not visible at all.

### Expected result
A propery looking tree structure with buttons for e

[2021-04-06 13:00] brianteeman commented on #33037
Everything is inside a single h3 🤦

[2021-04-06 13:38] richard67 commented on #33036
@hans2103 Could you have a look on that? Or should I ping the bear? Thanks in advance.

[2021-04-06 13:38] YatharthVyas commented on #32948
I figured out and solved the issue in my local version. I solved this by making the following change:

Original
`#refresh-status.show {
	display: grid;
}`

Modified
`#refresh-status.show {
	display: block;
}`

I will be adding a more detailed explanation behind why this caused the bug in my PR.

This change was made in my /media folder which is added to .**gitignore** because I believe it's conten

[2021-04-06 13:48] brianteeman commented on #33036
check the mapping build/media_source/system/scss/icomoon should be pretty self explanatory for you to work out @BrainforgeUK

[2021-04-06 14:23] infograf768 commented on #32948
See here
https://github.com/joomla/joomla-cms/blob/6d32e9491bc90490ba321ead7c471a9d8d5b2ac4/build/media_source/com_languages/css/overrider.css#L17

[2021-04-06 15:15] Quy commented on #32948
PR #33041. Thanks.

[2021-04-06 15:15] #32948 closed, assigned to nobody

[2021-04-06 15:24] drmenzelit opened #33042 "[4.0] Collapse in categories view doesn't work if navbar is not present"
### Steps to reproduce the issue
Create a menu in position `menu`
Create some categories with subcategories and some articles.
Create a menu item of type `List All Categories in an Article Category Tree`

Go to the categories page. You will see a list of categories and a + symbol in the category with a subcategory (Blog)
![grafik](https://user-images.githubusercontent.com/9153168/113733629-ef8e418

[2021-04-06 15:28] chmst commented on #33042
Related to #33037

[2021-04-06 18:12] rdeutz commented on #24492
We need to add some documentation and we are done.

[2021-04-06 19:15] wilsonge commented on #26750
@rdeutz why are you removing the release blocker here?

[2021-04-06 19:45] brianteeman commented on #24492
Until we have the documentation its still a release blocker - nothing has changed

[2021-04-06 19:55] rdeutz commented on #26750
Because it says "alternative solution" makes me thinking we have a solution, so it works. So what is blocking us from a release.

[2021-04-06 19:57] rdeutz commented on #24492
No it wasn't a release blocker from the start.

[2021-04-06 20:38] brianteeman commented on #24492
Well that's one way to resolve blockers

[2021-04-06 21:10] #32699 closed, assigned to nobody

[2021-04-06 21:14] wilsonge commented on #26750
Any 3rd party plugins developed will never show in the article view because currently we are hard coding the local one. It likely means database changes which IMO probably best done in the major release version for safety

[2021-04-06 21:20] neralex commented on #32699
The effort to remove everything unnecessary in order to create a basis for a clean template is disproportionate to the benefit. It would be much better to start with a minimal set of really necessary styles and scripts, and gradually activate more internal functions, rather than having to start with a completely overloaded system. All local repos removed.

[2021-04-06 21:40] brianteeman commented on #33029
closed see #33045

[2021-04-06 21:40] #33029 closed, assigned to nobody

[2021-04-06 21:41] brianteeman commented on #25952
Please test #33045

[2021-04-06 22:15] BrainforgeUK commented on #33036
Seems to have got confused with IcoMoon and FontAwesome.
The cassiopeia template uses FontAwesome ... the component a mix!

Using this link as a cheatsheet:
[https://fontawesome.com/icons?d=gallery&p=2&m=free](https://fontawesome.com/icons?d=gallery&p=2&m=free)

Changed the HTML to use this.
`class="fa fa-compress-arrows-alt"`

[2021-04-06 22:15] #33036 closed, assigned to nobody

[2021-04-07 03:09] JimHolloman commented on #32976
1) I spent about an hour on the phone today (Tues) with Brandon at InMotion.

2) He said that there is no caching layer for Joomla -- only for WordPress. However, I am not confident that such a statement if valid. How would the caching software be able to differentiate?

3) We increased the PHP Memory to 512M -- no success.

4) Bandon was seeing the same issues at his location. I am seeing the iss

[2021-04-07 03:11] JimHolloman commented on #32976
I did " set Error Reporting to maximum". And, I tried Debug Mode again today with the same results.

[2021-04-07 03:14] JimHolloman commented on #32976
I can also provide a .jpa copy of a site sans the images that would not be needed.

[2021-04-07 03:31] JimHolloman commented on #32976
A week ago on the Savannah site (savannahgavisitors.com), the term "segway" would consistently return 5 Results and the term "Segway" would consistently fail.

I tried a few minutes ago and both terms consistently fail on Firefox (Blank Pages).

On Chrome, 'segway" returned 5 Results on first attempt.
Refresh -- Success.
Clear the cache on Chrome.
Refresh -- Success.
--------
Try "Segway".
HTTP ER

[2021-04-07 05:47] brianteeman commented on #32976
The forum really is the best place for help on this. If I was to **guess** then I would suggest that the index for finder is corrupt and you should rebuild it.

[2021-04-07 07:01] PhilETaylor commented on #32976
With the right experience, no probably not, but this is not the place for support or consultancy sorry.

A blank page is an error page. But you have disabled error_reporting and display_errors so the error is not output to the screen. Simple. There are ways to debug that so that the error is shown.

A decent webhost would be providing a PHP Error Log file as well (error_log)

A decent webhost woul

[2021-04-07 07:04] brianteeman commented on #32976
💯 Couldnt agree more

[2021-04-07 08:00] infograf768 commented on #25952
afaik #33045 will not let full width display as we have a grid separating the modules in 2 columns with
`grid-template-columns: 1fr 1fr;` and therefore full width concerns only one column.

[2021-04-07 08:05] micker commented on #25952
thanks @infograf768 @Quy can you reopen this issue ?

[2021-04-07 08:24] JimHolloman commented on #32976
A week ago on the Savannah site (savannahgavisitors.com), the term "segway" would consistently return 5 Results and the term "Segway" would consistently fail.

I tried a few minutes ago and both terms consistently fail on Firefox (Blank Pages).

On Chrome, 'segway" returned 5 Results on first attempt.
Refresh -- Success.
Clear the cache on Chrome.
Refresh -- Success.
--------
Try "Segway".
HTTP ER

[2021-04-07 08:31] infograf768 commented on #25952
I guess this can be overriden for a specific component dashboard though.
Example: `class="cpanel-modules cpanel-mycomponent"`
[code]

[2021-04-07 08:34] JimHolloman commented on #32976
Can you tell me how to enable them?

I certainly did not intentionally disable them. And, I set the parameters in the Global Configuration as you instructed.

I will check with InMotion. Do you know of any decent webhosts for Joomla? It appears that it is time to change hosts again!

[2021-04-07 08:45] brianteeman commented on #25952
That is the only way other than creating your own admin template

[2021-04-07 09:04] chmst opened #33047 "[4.0] Frontend editing: Displaced tooltips"
### Steps to reproduce the issue
Log in into frontend, hover an edit icon on an article.

### Expected result
The tooltip is connected to the article.

### Actual result
<img width="1134" alt="tooltip-edit-button" src="https://user-images.githubusercontent.com/1035262/113840260-ca4c1280-9790-11eb-82cd-22459d28d32a.PNG">

### System information (as much as possible)

### Additional comments

[2021-04-07 09:19] chmst opened #33048 "[4.0] Popovers in Category list header, missing ordering indication"
### Steps to reproduce the issue
Open a Category list in frontend, hover the headline.

### Expected result
The ordering direction of columns is indicated by an arrow as in backend tables.
No popvers.

### Actual result
<img width="783" alt="popovers-frontend" src="https://user-images.githubusercontent.com/1035262/113842585-15ffbb80-9793-11eb-85b4-8199d4bd89ed.PNG">

### System information (as muc

[2021-04-07 09:32] chmst commented on #33021
My2Cent: This must be consistent - either all lists have it, or none.

[2021-04-07 09:47] drmenzelit commented on #33042
I'm working on a solution. PR coming soon

[2021-04-07 09:49] brianteeman commented on #33021
#30904 is definitely wrong. If we can set the number of articles to be displayed independently of the global list limit then we should be able to do the same for contacts,

Should be relatively easy to resolve. @chmst I can do that or did you tagging it JBS mean that you/someone is working on it

[2021-04-07 09:54] infograf768 commented on #33047
Solution:

[code]

[2021-04-07 10:07] infograf768 commented on #32997
@RahulJha393
Will you do the PR ?

[2021-04-07 10:07] brianteeman commented on #33047
RTL!

[2021-04-07 10:09] infograf768 commented on #33047
What about RTL? Have you tested ????

<img width="1073" alt="Screen Shot 2021-04-07 at 12 08 50" src="https://user-images.githubusercontent.com/869724/113849815-1fd8ed00-979a-11eb-977f-7764a42f20f4.png">

[2021-04-07 10:16] brianteeman commented on #33047
If you set right to auto then there is no need for the margin-inline-start

![image](https://user-images.githubusercontent.com/1296369/113850815-c28d6d80-9792-11eb-8830-d760b268ff8a.png)

[2021-04-07 10:18] brianteeman commented on #33021
To be clear #30904 was fixing a bug as the original code from #23710 was not correct

[2021-04-07 10:19] infograf768 commented on #33047
indeed, we don't need it either in ltr...

<img width="715" alt="Screen Shot 2021-04-07 at 12 18 34" src="https://user-images.githubusercontent.com/869724/113851117-7266d900-979b-11eb-9a52-96d3ca09dbb4.png">

Therefore it is not RTL specific.

[2021-04-07 10:23] infograf768 commented on #33047
and in RTL it would be (Without margin-inline-start: -10em;)

<img width="368" alt="Screen Shot 2021-04-07 at 12 21 16" src="https://user-images.githubusercontent.com/869724/113851501-dab5ba80-979b-11eb-92c8-2b8e3914e90b.png">

So, do whatever you want. I don't care at all.

[2021-04-07 10:25] regularlabs opened #33049 "[J4] Radio Buttons: Visually not clear which is selected"
When using the class="btn-group" on a form element with type="radio", it is not clear which option is actually selected:

<img src="https://user-images.githubusercontent.com/13553242/113850699-04baad00-979b-11eb-84cf-00e88a39c2c8.png" width="185"/>

You win a prize if you can tell which option is selected in the btn-group example: A or B?
Well, answer is B.

I suggest changing the styling to use b

[2021-04-07 10:39] brianteeman commented on #33021
Please see #33050

[2021-04-07 10:50] antonzeno opened #33051 "JHTML Calendar min and max date select"
Hello, Is there any way I can limit the min and max date selection on the calendar control field ? I  need to limit it in a max selection of 6 months from today date but couldnt find any info regarding it. Any help would be appreciated. Thanks

[2021-04-07 11:31] ReLater commented on #32976
Joomla fires a
[code]
then. But the webhost can forbid these changes in PHP. Ask them. And also ask them for the PHP error_log file; how to activate it, where to find it.

[2021-04-07 11:32] micker commented on #25952
yes we can do this, but that realy dommage to kill an old beahvior (j3 heritage with cpanel in full width) to limit it in 2 columns only
team do an important work to add bs5 in admin but we can use it ...
@ciar4n @dgrammatiko no way to keep this ?

[2021-04-07 11:43] dgrammatiko commented on #25952
Someone could implement a design mode, similar to https://perfectgrid.io/demo and thus allow the modification of both the width and height. That said I must also note that the way things are handled in the com_cpanel (the API for the modules, etc) is at least naive and very unfriendly to devs, so, imho the com_cpanel needs way more refactoring than adding some widget for height and width for indiv

[2021-04-07 11:49] shub1711 commented on #33051
Range selection in a date range picker can be made-to-order with desire restrictions based on the application needs.
We can set by using starting date and ending date .

[2021-04-07 12:01] micker commented on #25952
@dgrammatiko it can be powerfull but maybe to many works for a 4.0, if only allow to use width option according module option value we can easly create 1-2-3-4 columns

[2021-04-07 12:06] AndonZeno commented on #33051
Is there any link to official documentation for this? I cant find it anywhere

[2021-04-07 12:07] AndonZeno commented on #33051
Is there any link to doc for this? I cant find it anywhere

[2021-04-07 12:09] AndonZeno commented on #33051
The only solution I could find for now is using the minYear and maxYear attributes. But it doesnt seem to solve the issue as I need to put a more restricted limit, and not limit it to a specific year.

[2021-04-07 13:08] ReLater commented on #33051
There's no doc. I think shub1711 is just a troll.

You are right. There is no other setting in Joomla 3 or Joomla 4 (as far as I see after code investigations). You can try to make a feature request out of this issue for Joomla 4.

Joomla 3 doesn't accept new features.

[2021-04-07 13:14] AndonZeno commented on #33051
Thanks, I saw there has been a PR a few years ago to add dateStart and dateEnd but it looks like those never got implemented

[2021-04-07 14:49] rs4231199 commented on #33051
@AndonZeno Can you share the link to the PR?

[2021-04-07 14:56] drmenzelit commented on #33042
Closing as we have a PR #33052

[2021-04-07 14:56] #33042 closed, assigned to drmenzelit

[2021-04-07 14:56] drmenzelit commented on #33037
Closing as we have a PR #33052

[2021-04-07 14:56] #33037 closed, assigned to nobody

[2021-04-07 14:57] shub1711 commented on #33051
https://ej2.syncfusion.com/documentation/daterangepicker/range-restriction/#:~:text=You%20can%20restrict%20the%20minimum,can%20be%20selected%20as%20endDate.

May be it will help.

[2021-04-07 15:01] AndonZeno commented on #33051
Its not relevant to the question.

https://github.com/joomla/joomla-cms/pull/4814

[2021-04-07 15:03] #33021 closed, assigned to nobody

[2021-04-07 15:39] rs4231199 commented on #33051
So, the PR was closed because the author never responded. I am working on this now.

[2021-04-07 15:46] AndonZeno commented on #33051
Yep, would be a useful feature.

[2021-04-07 16:17] ciar4n commented on #25952
It's not that simple as the current dashboard is a masonry layout. The current js for that layout will not handle varied widths. As I see it there are 3 options...

1. Use a more advanced masonry js (eg. https://masonry.desandro.com/)
2. Implement a layout builder as suggested by @dgrammatiko
3. Create a new module position above the current 2 column masonry layout which will work with your bootst

[2021-04-07 16:57] micker commented on #25952
Yes the layout builder Can be cool but maybe too powerfull... A fullwidth position on top (before 2 columns) Can be simplier
@ciar4n i am agree

[2021-04-07 18:07] jaiswalpalak opened #33053 "Add effects in "readmore" button !!"
I want to improve Readmore button present in Joomla! Announcements because it is looking very ordinary so I want to make it more catchy ! please assign me this..
![Screenshot (512)](https://user-images.githubusercontent.com/78416508/113913767-52b2cd80-97fa-11eb-84f1-46dbd1db4715.png)

[2021-04-07 18:34] drmenzelit commented on #33053
What you are trying to change is on the joomla.org website. You can't solve it in this repository. And you don't need to be assigned to an issue, you can directly submit a PR. The correct repository for your issue / PR is https://github.com/joomla/joomla-websites/

[2021-04-07 18:34] #33053 closed, assigned to nobody

[2021-04-07 21:23] Dr-Sommer opened #33056 "No "Add new Authenticator" for WebAuthn Login (J4B6)"
### Steps to reproduce the issue
In user Interface klick on "W3C Web Authentication"

### Expected result
To see the  "Add new Authenticator" Button to add Authenticator

### Actual result
No "Add new Authenticator" Button

![webauth1](https://user-images.githubusercontent.com/979639/113935711-25185500-97f7-11eb-9aa8-bfd645858842.jpg)

![webauth2](https://user-images.githubusercontent.com/979639/1

[2021-04-07 21:23] PhilETaylor commented on #33056
Are you on a `https://` prefixed url which is a standard requirement for authentication with WebAuthn

[2021-04-07 21:27] PhilETaylor opened #33057 "[4] tooltips detached from their correct positions in Category List"
### Steps to reproduce the issue

Frontend with the sample data (not sure which ) creates a Category List.

Login as super admin on front end to get edit buttons in the Category list

Hover over the icons next to the edit link and look at where the popovers are.

### Expected result

No popovers, or popovers close to the mouse cursor

### Actual result

Popovers off the screen to the right hand si

[2021-04-07 21:32] PhilETaylor commented on #33056
Either of the PHP extensions GMP or BCmath must be loaded to add authenticators - can you confirm you have one of these PHP Extensions installed?

[2021-04-07 21:34] Quy commented on #33057
Duplicate #33047?

[2021-04-07 21:34] #33057 closed, assigned to nobody

[2021-04-07 21:41] PhilETaylor commented on #33020
Dont shoot me, but is that your browser autofilling the fields?  is that what the blue background is showing?

[2021-04-07 21:42] PhilETaylor commented on #33019
I vote for the FTP layer to die.

[2021-04-07 21:45] Milo-W commented on #18818
Hello,
OK, but what about other links, not menu items?

It's incredible how the Joomla community finds out strange solutions for simple things so that in the end, you have to try this, that, etc. and people tell you that it's YOUR fault, "wrong config", etc. Joomla will never be this "great CMS that everyone wants to use" due to such cases... all the time basic stuff that e.g. WP has out of the bo

[2021-04-07 21:47] PhilETaylor commented on #33017
https://github.com/joomla/joomla-cms/pull/33058

[2021-04-07 21:53] #33017 closed, assigned to nobody

[2021-04-07 21:55] brianteeman commented on #33019
so do I but Nik and a few others insisted it was needed

[2021-04-07 22:06] PhilETaylor opened #33061 "[4] Resizing screen when editing image causes preview issue"
### Steps to reproduce the issue

Hard to explain - watch video

This is on the Edit Image page in Media manager when resizing the browser to "get a better view"

### Expected result

### Actual result

https://user-images.githubusercontent.com/400092/113940817-fd74bd00-97f5-11eb-90f1-b9818606db9a.mp4

Also note that the JS values turn to NaN and there are console errors if you keep messing with t

[2021-04-07 22:06] Dr-Sommer commented on #33056
Hi Phil, Thx for your Time ;)

1. Yes, I`m using  "lets encrypt" for HTTPS

2. Yes, GMP and BCmath seems to be installed:

Here is the Output from PHP -m :

`[PHP Modules]
apc
apcu
bcmath
calendar
Core
ctype
curl
date
dom
exif
fileinfo
filter
ftp
gd
gettext
gmp
hash
iconv
imagick
imap
intl
json
libxml
mbstring
memcache
mysqli
mysqlnd
openssl
pcntl
pcre
PDO
pdo_mysql
pdo_sqlite
Phar
posix
pspell
re

[2021-04-07 22:07] ChristineWk commented on #33056
Found this, if relevant? #29731<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/33056">issues.joomla.org/tracker/joomla-cms/33056</a>.</sub>

[2021-04-07 22:08] PhilETaylor commented on #33056
Do you have a javascript error in your console.

The only reason the button would not show should be if you dont have GMP or bcmath installed.

[2021-04-07 22:09] PhilETaylor commented on #33056
`PHP -m`

Thats at the command line - which could and often does have a different list of PHP modules.

Anyway, you would get a red warning if they were not installed above where the button should be.

[2021-04-07 22:14] Quy commented on #33061
Duplicate #31859?

[2021-04-07 22:15] #33061 closed, assigned to nobody

[2021-04-07 22:15] PhilETaylor commented on #31859
also note values turn to NaN and JS console errors:

<img width="1484" alt="113941135-7c69f580-97f6-11eb-93a8-338c89b98d84" src="https://user-images.githubusercontent.com/400092/113941512-20ec3780-97f7-11eb-89d7-be4d8b45ee72.png">

[2021-04-07 22:16] ReLater commented on #33056
There is a newer version or test with a nightly build.

Looks like solved meanwhile. See https://github.com/joomla/joomla-cms/pull/30316#issuecomment-678646090

[2021-04-07 22:18] PhilETaylor commented on #33056
that upstream fix would have fixed a JS alert saying you could not add when you had touched your device. Different problem to this.

[2021-04-07 22:23] Dr-Sommer commented on #33056
Ok, I did read out the "info.php" File:

![image](https://user-images.githubusercontent.com/979639/113942037-82fd6a80-9800-11eb-9e0d-995bb50597c5.png)

Seems that both Extensions are working..

[2021-04-07 22:23] PhilETaylor opened #33062 "[4] media manager cannot cope with broken images"
### Steps to reproduce the issue

https://user-images.githubusercontent.com/400092/113942022-17170400-97f8-11eb-88a3-f4164ed1eccc.png

Download this broken image and place in your /images folder as broken.png

Set error reporting to maximum in Joomla global config

Visit media manager in the backend.

### Expected result

Media Manager works

### Actual result

Ajax call has warning:

[code]

###

[2021-04-07 22:25] Dr-Sommer commented on #33056
@PhilETaylor : there are also no Errors in the Console...

[2021-04-07 22:26] PhilETaylor commented on #33056
Please run this in a PHP file:

[code]

what does it output?

[2021-04-07 22:29] Dr-Sommer commented on #33056
Showes:

bool(true) bool(true)

[2021-04-07 22:30] PhilETaylor opened #33063 "[4] media manager destroys images when cropping"
### Steps to reproduce the issue

I was convinced this was just me - but can you replicate it?

Go to Media Manager in Joomla 4 admin

Click to Edit the joomla_black.png file

When on the CROP tab, just keep pressing save, save save save until the 4 fields show NaN

Takes 3-6 clicks.

Then you have destroyed the image. and if you have error reporting to maximum you get in your Ajax from the save,

[2021-04-07 22:32] PhilETaylor commented on #33056
ok the only other place that sets `allow_add` to false is if you are trying to edit A DIFFERENT USERS webauthn keys - this is not allowed.

[2021-04-07 22:32] JimHolloman commented on #32976
Many thanks, ReLater, for the useful information.

The last word from InMotion is that the latest versions of Joomla are not compatible with the Apache software on the server -- that is set up to support WordPress.

This makes the 3rd time I have encountered this brick wall. The previous one was with HostGator -- and that was only 13 months ago. Does anyone else recognize this as a legitimate Joom

[2021-04-07 22:34] JimHolloman commented on #32976
Then why are you making a useless post? A display of arrogrance, and high-mindness, is never pretty.

You could have said something useful like, "I would recommended that you try the Joomla forum with this issue."

Okay, now you can go ahead and ban me from the ____ (whatever this is).

[2021-04-07 22:36] PhilETaylor commented on #32976
Ive said it before and I'll say it again. Webhosts lie to cover their incompetence.

Joomla is compatible with Apache. All modern versions.

What this really says is your webhost has crippled Apache to suit their own aims and in the process has created issues.

No. Not unless you can product an error message. If you want me to produce the error message to prove its your webhost then email me at ph

[2021-04-07 22:36] brianteeman commented on #32976
I find that very hard to believe

[2021-04-07 22:37] Dr-Sommer commented on #33056
Ah, OK.... I`m trying it as ADMIN to a Registered User! So is this the Error?
How can I do it as Registered User?

Thank you so much.. ;)

[2021-04-07 22:38] PhilETaylor commented on #33056
You, logged in as admin, cannot add webauthn for other users. This is by security design of webauthn standards.

[2021-04-07 22:39] Dr-Sommer commented on #33056
So if  I Try it as regisered User on Frontend, I get this message:

`The specified username does not correspond to a user account that has enabled passwordless login on this site.`

[2021-04-07 22:39] Dr-Sommer commented on #33056
Is there a manual I can use? ThX

[2021-04-07 22:40] PhilETaylor commented on #33056
You first have to be logged in as a user, and add the Key. Then logout and then you can use the key. If the user has no keys enabled then you get the message above.

[2021-04-07 22:41] PhilETaylor commented on #33056
also see https://magazine.joomla.org/all-issues/december/passwordless-authentication-for-secure-fast-easy-logins-in-joomla-4 which was written by Nic.

[2021-04-07 22:46] Dr-Sommer commented on #33056
AAhhh... THERE IT IS!!! ;) ;) The Add Burton is in the Users Profile.. ;)

Thank You sooo much, Phil.. <3
Understanding this was a challenge for me... ;)
I'll finish now the config and post a small HOWTO for Dummys like me... ;)

THAANNK  YOOUU!!  (Struggling for Days.. ;))  )

[2021-04-07 22:47] PhilETaylor commented on #33056
Im busy adding a warning if you are not logged in as the user so you can see it in future (and others can not fall into this trap)

[2021-04-07 22:50] PhilETaylor commented on #33056
<img width="1593" alt="Screenshot 2021-04-07 at 23 50 01" src="https://user-images.githubusercontent.com/400092/113944165-010b4280-97fc-11eb-976d-3d5bb89eb71e.png">

[2021-04-07 22:54] Dr-Sommer commented on #33056
This is GREAT, Phil... ;)
As Admin I`m used to do everything in Joomla and if there is no warning (and in this case then no +Button) leaves me totally confused....  ;)

[2021-04-07 23:29] JimHolloman commented on #32976
I understand your points -- and I appreciate the offer.

Seems reasonable to me; especially if you change "crippled" to "tweaked".

At this point, error messages are of no significance. By its own assertion, InMotion does not currently support the latest versions of Joomla. I have to accept that as a totality. The support person, Sean Mu, suggested that I revert to an earlier version of Joomla and

[2021-04-07 23:32] JimHolloman commented on #32976
It may not be believable. It may be a big, black, lie. But, does that matter?

Once a hosting company makes the decision not to support Joomla, software compatibilities become mute.

Here are two facts:

1) It is no fun moving to a different hosting company every year. And, yes, that tell me that they support Joomla before I create an account.

2) People using WordPress apparently do not encounter

[2021-04-07 23:46] Dr-Sommer commented on #33056
Ok, Easy Step by Step Howto:
1. Log out from front and Backend
2. log on as the User you want to activate webauth (I assume you`ll do it on the frontend)
3. DO NOT TRY THIS AS ADMIN FOR ANOTHER USER!! See above....
4. Now you will se your Profile Data
5. Klick on EDIT PROFILE
6. Scroll down to "Add new Authenticator"
7. Authenticate your USB Key

This should be it... ;)

I`m, trying to use the bui

[2021-04-07 23:48] PhilETaylor commented on #33056
Buy a Yubikey and never look back! https://www.yubico.com/je/quiz/

[2021-04-08 00:03] richard67 commented on #33056
Closing as having a pull request. Please test #33064 . Thanks in advance.

[2021-04-08 00:03] #33056 closed, assigned to nobody

[2021-04-08 00:14] #32976 closed, assigned to nobody

[2021-04-08 04:56] infograf768 commented on #33047
See  https://github.com/joomla/joomla-cms/pull/33066

[2021-04-08 04:56] #33047 closed, assigned to nobody

[2021-04-08 05:21] infograf768 commented on #33057
See PR https://github.com/joomla/joomla-cms/pull/33066

[2021-04-08 06:20] ghost opened #33067 "[4.0] Backend: Remove Line below Multilingual Sample Data"
### What needs to be fixed
As title say:

### Why this should be fixed
Same Look like other Modules:

### How would you fix it
I don't know.

### Side Effects expected
I don't know.

[2021-04-08 06:32] MartinK63 commented on #32880
I totally disagree with the production team - this issue is a major flaw. No one these days is go to type in an url... everyone clicks on a link - a link that can be manipulated and will show up in google search results - google will eventually change the link if its a 301 but google will surely delete the false link if its a 404.
So this has to be fixed - in every version of joomla!

[2021-04-08 07:06] Ruud68 commented on #32880
Agree, it is only a matter of time (but maybe that is already happening) before google categorizes / labels sites that in their eyes server p*rn links, so when you are running a legit business you will not show anymore on page 1 when somebody searches for your household equipment because you are categorized as running a completely different business.

[2021-04-08 09:01] Shaveetha commented on #31540
I would like to solve this issue. Can you please guide me.

[2021-04-08 09:07] brianteeman commented on #32976
The most likely scenario regarding the inability to enable php display of errors is that the hosting company has disabled it as wp users complained abut the number of errors being displayed on their sites. So its not that the host doesnt support joomla or that they have optimised it for wp. I doubt anyone who made the decision to disable php debug display even considered any impact it would have o

[2021-04-08 09:11] brianteeman commented on #31540
@Shaveetha @amankothiyal04

[2021-04-08 11:17] PhilETaylor commented on #32976
I offered to take a personal look to obtain the real issue here, but no one has contacted me.

[2021-04-08 11:50] sandramay0905 commented on #32997
@prajjwal1231

please read https://github.com/joomla/joomla-cms/issues/31540#issuecomment-811070565

[2021-04-08 11:55] sandramay0905 commented on #32820
@Yash-g17

please read https://github.com/joomla/joomla-cms/issues/31540#issuecomment-811070565

[2021-04-08 11:57] sandramay0905 commented on #31340
@meinhoonharsh

please read https://github.com/joomla/joomla-cms/issues/31540#issuecomment-811070565

[2021-04-08 12:08] brianteeman commented on #31378
This should be closed if no one is going to create the pr

[2021-04-08 12:09] brianteeman commented on #31347
Do we have a label "re-evaluate for 4.1" ?

[2021-04-08 12:11] brianteeman commented on #31306
as #32496 has been merged shouldnt this be closed now or is there something outstanding?

[2021-04-08 12:27] brianteeman commented on #30934
@PhilETaylor is this resolved by your recent pr?

[2021-04-08 12:28] brianteeman commented on #30926
@zero-24 Isnt this something that really needs to be addressed for 3.10?

[2021-04-08 12:31] brianteeman commented on #30775
Maintainers - can you please make a decision on this. If its not going to be addressed (I personally dont think it should be) then it should be closed @zero-24 @HLeithner @wilsonge @rdeutz

[2021-04-08 12:31] brianteeman commented on #30777
Maintainers - can you please make a decision on this. If its not going to be addressed (I personally dont think it should be) then it should be closed @zero-24 @HLeithner @wilsonge @rdeutz

[2021-04-08 12:35] PhilETaylor commented on #30934
Does it only appear on servers that have opcache enabled or opcache configured with aggressive caching values ?

[2021-04-08 12:41] brianteeman commented on #30934
Sorry I meant the one that addresses the installer issues

[2021-04-08 13:25] PhilETaylor commented on #30934
No that [Joomla 3 PR was about extra_query](https://github.com/joomla/joomla-cms/pull/32862#) and installing extensions with Download IDs and the other was about [rebuilding the update sites](https://github.com/joomla/joomla-cms/pull/33040) cache

Both of those are already merged in Joomla 3.9.26 and r[eady for testing in the release candidate](https://github.com/joomla/joomla-cms/releases/tag/3.9

[2021-04-08 13:26] Bakual commented on #18818
If you don't like the menu-driven URLs of Joomla, then maybe just don't use Joomla - it may not be the best solution for you.
On the other hand, this system allows you do create the URLs exactly the way you want it.

[2021-04-08 13:26] PhilETaylor commented on #30934
@remiAcyba Please provide a direct link to " AcyMailing - a lower version than 6.15" and please provide the server configuration (from Joomla admin system information) that this problem happens on

[2021-04-08 13:32] Hackwar commented on #32880
We don't disagree that this is a major flaw. However we disagree that this can be fixed in a backwards compatible way. Fixing this in Joomla 3 will break thousands of websites and thus we can't fix this in the 3.x major version. Instead, we already have fixed it in 4.0.

[2021-04-08 13:45] PhilETaylor opened #33070 "[4] Rotate angle preset buttons do not update the angle"
### Steps to reproduce the issue

Edit an image in Joomla 4 media manager

### Expected result

When I click on 0/90/180/275 the Angle field should update with that figure and the image preview should rotate.

### Actual result

![Screen Recording 2021-04-08 at 02 43 05 pm](https://user-images.githubusercontent.com/400092/114037384-dad7b800-9878-11eb-89d3-0f12bf62bbd3.gif)

### System information

[2021-04-08 13:51] chmst commented on #30775
"default category" would be a better name and could serve for every component.

[2021-04-08 13:57] Hackwar commented on #32880
Just FYI: I've been trying to fix this in Joomla 1.6 already and then pushed for the last big changes to the routing which at least partially fixed this for 6 years and yet another year to fix this in 4.0.

[2021-04-08 14:13] brianteeman commented on #30525
It wouldnt make sense to be able to do that here

[2021-04-08 14:49] joomdonation commented on #26595
Hello

Do we have any plan with this Release Blocker issue? Do we still want to store **Status** and **Featured** of article into version history when workflow is enabled? I just look at it and think that the following might be solution:

- Revert PR https://github.com/joomla/joomla-cms/pull/31518 so that **Status** and **Featured** still be stored into version history.
- Add method **onWorkflowAf

[2021-04-08 15:01] HLeithner commented on #30775
I think "Uncategorised" is good enough for that use case  (getting renamed after installation). I don't think we find the perfect name that doesn't need to be renamed. Also the fact that the Article or Banner or what ever is not yet in a "correct/real" category is also expressed with this name.

If someone comes with a good proposal for all use cases (all joomla components and a good default for 3

[2021-04-08 15:01] #30775 closed, assigned to nobody

[2021-04-08 15:23] Fedik commented on #30926
It makes sense, but I would not add it to `isSite/isAdmin()` due to performance issue of the deprecated logging,
see #30997 and fix #31143

The methods `isSite/isAdmin()` is widely used, the logger will explode :wink:

[2021-04-08 15:32] HLeithner commented on #30777
I don't see a use case to show user accounts in frontend. If you need this we have com_contact for this.

I'm not against a messaging system (we already have one) but I don't see an urgent need for this. (btw. that's offtopic)

A good or at least a basic comment system would be more useful. (also offtopic ;-)

Anyway I close this for now. Could be reopened as always or create a new discussion. Or

[2021-04-08 15:32] #30777 closed, assigned to nobody

[2021-04-08 16:11] himanshu007-creator commented on #32997
if @prajjwal1231  is inactive, so should i proceed with the PR?

[2021-04-08 16:14] himanshu007-creator commented on #33070
✅confirmed same behaviour on chrome ( windows ).

[2021-04-08 16:20] HLeithner commented on #30926
No we don't need to do this in 3.10 already done in https://github.com/joomla/joomla-cms/pull/30938

[2021-04-08 16:20] #30926 closed, assigned to nobody

[2021-04-08 16:21] drmenzelit commented on #32997
@himanshu007-creator first come, first serve ;-)

[2021-04-08 16:24] PhilETaylor commented on #33070
Paging @dgrammatiko - looks like a quick bs5 fix needed here?

[2021-04-08 16:34] HLeithner commented on #31347
We have many labels but no 4.1 re-evaluate... added the new Feature label and ping @bembelimen

[2021-04-08 16:42] dgrammatiko commented on #33070
Check #33071

[2021-04-08 16:43] JimHolloman commented on #32976
Did someone need to contact you?

Here is my feedback to InMotion Hosting via the cPanel:
http://jlhpgms.com/inmotion.txt

Thanks for the help.

[2021-04-08 16:49] JimHolloman commented on #32976
Or, perhaps just a lack of knowledge and experience; words that are less harsh than 'ignorant' and 'stupid'. Being uniformed does not make one 'stupid'.

Here is my feedback, and attempt to reach the 'senior people' at InMotion Hosting. It was submitted via the cPanel:  http://jlhpgms.com/inmotion.txt

The thing that is most concerning is the pattern. If more and more hosts decide not to support J

[2021-04-08 16:53] HLeithner commented on #31378
We have a pull request #33072

[2021-04-08 16:53] #31378 closed, assigned to nobody

[2021-04-08 16:56] himanshu007-creator commented on #33063
@PhilETaylor , ✅ confirmed same behaviour ( chrome on windows )

![proof](https://user-images.githubusercontent.com/65963997/114066518-70933780-98b9-11eb-8c52-bfb50d85cef6.gif)

[2021-04-08 16:57] brianteeman commented on #32976
As suspected - inmotion have disabled by default all php error reporting
https://www.inmotionhosting.com/support/website/troubleshoot-php-errors/

[2021-04-08 17:06] alikon commented on #33070
please test #33071

[2021-04-08 17:06] #33070 closed, assigned to nobody

[2021-04-08 17:10] PhilETaylor commented on #32976
[The offer was there](https://github.com/joomla/joomla-cms/issues/32976#issuecomment-815306221). I would have asked you to complete the secure form at fix.mySites.guru and I would have debugged the issue for FREE to get the actual error message. Then if it

1) Were a real Joomla issue - we would know what to fix, would have a stack trace and something to actually base work on

2) Were a web hostin

[2021-04-08 17:15] PhilETaylor commented on #33063
The more I play with the crop/resze/rotate the more times I notice NaN javascript errors in the text fields.

[2021-04-08 17:17] JimHolloman commented on #32976
Many thanks for the link. I tried turning ON PHP Error Logging and Error Display via the php.ini parameters yesterday without success. I did noticed that PHP error_logging was not enabled.

I will try again following the steps in the article. It would be good to determine the cause of this incompatibility.  I have to wonder:

1) Could a change to the Joomla code be made that would avoid this compa

[2021-04-08 17:21] PhilETaylor commented on #32976
Well first we need to establish the ROOT CAUSE - you assume its a "compatibility issue" but this has not been proved yet.

Again that depends on the ROOT CAUSE.

No.

Again you are wrong. I, and many other hosting companies, successfully have WordPress and Joomla sites, running blazingly fast, on the same infrastructure.

[2021-04-08 17:24] PhilETaylor commented on #32976
Also - your webhost has `mod_security` enabled with a ruleset that blocks and filters input and output.

For example, a CURL request to your site returns with a `406 - Not Acceptable` page... meaning your webhost is blocking the request in `mod_security` with their selection of rules.

[code]

[2021-04-08 17:55] JimHolloman commented on #32976
I did respond to one of the Emails:

From: Phil E. Taylor <notificastins@gethub.com>

And, offered to provide you with access to the backend as well as a .jpa copy of the website. I don't know if it reached you or not.

Very interested in getting to the bottom of the issue. I have no interest in either blaming the webhost (InMotion) nor defending the webhost. But, I do like to give the "benefit of

[2021-04-08 17:57] PhilETaylor commented on #32976
There are two spelling mistakes in that email alone.

Please send me your complete site details, including FTP, using the form at https://fix.mySites.guru/now and I'll take a look for free! Im now interested to reveal the truth about this.

A JPA will be no good. I need to see the site "in-situ" on its hosting, the hosting that in conjunction with the site creates "the issue".

[2021-04-08 18:01] JimHolloman commented on #32976
Thank you. Will do late tonight or tomorrow.

 GOOD!

[2021-04-08 19:22] BrainforgeUK opened #33073 "Joomla 4 Router - JRoute::_() unexpectedly includes view and layout in return result"
### Steps to reproduce the issue

In code (menu ID is 101)
$link = JRoute::_('index.php?Itemid=101');

Simple component, no router class in the component, has following view:
src/View/Directory/HtmlView.php
tmpl/directory/default.php
tmpl/directory/default.xml (only contains layout, no other parameters)

Create a menu item.
Alias : directory
Menu Item Type : Directory
Link (auto generated) : index

[2021-04-08 21:16] brianteeman commented on #29516
This year old issue has been asked and answered. There is nothing to do here and no reason to keep it open

[2021-04-08 21:22] Quy commented on #29342
Sorry I don't remember. Close?

[2021-04-08 21:23] #29516 closed, assigned to nobody

[2021-04-08 21:25] Bond97 commented on #33067
Maybe I'm wrong, but it's impossible to do this. Because modules "Recently Added Articles" and some others are consist of table.

But module Sample Data contains a list of items "Blog sample data" and "Multilingual sample data".

First group of modules contains these tags: `thead, tbody, td, tr` and others.
Sample Data contains tags: `div class` and `li class`.

CSS for tags `div class` and `li cl

[2021-04-08 21:31] #29342 closed, assigned to nobody

[2021-04-08 22:09] brianteeman commented on #28980
@dgrammatiko @fedik is there anything to do here? Has it been resolved? Is it a non-issue?

[2021-04-08 22:09] brianteeman commented on #28966
@dgrammatiko @fedik is there anything to do here? Has it been resolved? Is it a non-issue?

[2021-04-08 22:12] dgrammatiko commented on #28966
Yup, Joomla is using the `type=module/nomodule ` attributes so effectively 2017+ browsers get the ES6 files and older browsers get the ES5. I think we can close this

[2021-04-08 22:14] brianteeman commented on #28987
I am assuming that this has been fixed elsewhere as I can no longer replicate the console error
![image](https://user-images.githubusercontent.com/1296369/114102925-1cd81c80-98c0-11eb-8426-fdc77173b728.png)

[2021-04-08 22:15] brianteeman commented on #28985
I dont understand why this was re-opened

[2021-04-08 22:15] brianteeman commented on #28966
Thought so.

@quy please close

[2021-04-08 22:16] #28966 closed, assigned to nobody

[2021-04-08 22:35] dgrammatiko commented on #28980
I agree with @C-Lodder here, fetch is a better native function but unfortunately we are fashionably late here to do anything before 4.0 stable. Probably a viable alternative is to introduce another `core.js`, let's call it `core-js-api.js` with modern functions and less code. That said I still have a couple of improvements in the pipeline: https://github.com/joomla/joomla-cms/pull/32748 and https:

[2021-04-08 22:41] Quy commented on #31242
Fixed in #33069

[2021-04-08 22:41] #31242 closed, assigned to nobody

[2021-04-08 23:07] astridx opened #33075 "[4.0] <joomla-field-fancy-select> only show placeholder hint together with multiple"
### Steps to reproduce the issue

1. Open com_contact and check the search tools

2. Delete line `multiple="true"` in https://github.com/joomla/joomla-cms/blob/03c1bf19acb1ca992c3151d7e7ec87e6ef1cb5e4/administrator/components/com_contact/forms/filter_contacts.xml#L41

2. Open com_contact again and check the search tools

### Expected result

You see the _placeholder hint_ regardless of whether mul

[2021-04-09 04:41] #28985 closed, assigned to nobody

[2021-04-09 04:42] #28987 closed, assigned to nobody

[2021-04-09 05:44] sandramay0905 commented on #33062
Confirm that after upload of broken.png media manager don't work. I don't know how to see a ajax call but in console got:

![grafik](https://user-images.githubusercontent.com/78906980/114133929-2173f380-9907-11eb-9d70-b8ee78a78d26.png)

After removing broken.ong media manager works again, so i guess the above message is caused by broken.png.

[2021-04-09 05:49] sandramay0905 commented on #33048
Confirming the issue.

[2021-04-09 05:57] sandramay0905 commented on #33020
@brianteeman i don't get the result you describe above, at `Extensions: Install` fields `Username`and `Password` are empty.

[2021-04-09 05:57] brianteeman commented on #33075
Not sure what your issue is. the layout you are referring to only makes sense to use when it is a multiple select. If you wanted the category field to be a single select then you would change the xml to the following

[code]

![image](https://user-images.githubusercontent.com/1296369/114135189-cd661080-9900-11eb-9294-094c44073947.png)

[2021-04-09 05:59] brianteeman commented on #33020
Sorry both of you I wasn't clear. Yes they are the browser autofilling the fields. The difference between the autofill is that the fields have different names. That is what I was highlighting but didnt explain it well enough obviously

[2021-04-09 06:20] sandramay0905 commented on #33020
No need for sorry, brian.

I guess i understand not correct but if you mean the difference in username `brian_db1` and `brian` by the autofill i can't confirm cause at `Extensions: Install` the field is empty.
Maybe i need to activate a autofill-function in firefox to test correct?

[2021-04-09 06:26] astridx commented on #33075
Thank you @brianteeman .

You are right. I used the Category Field as a template for my own field and didn't think any further.

But actually you didn't need the multiple option with  <joomla-field-fancy-select> then and it just confuses because it has to be there and it has to be true, right?

[2021-04-09 06:28] #33075 closed, assigned to nobody

[2021-04-09 06:28] brianteeman commented on #33075
No problem

[2021-04-09 06:30] infograf768 commented on #33073
Global Configuration : Set `Search Engine Friendly URLs` to Yes.

[2021-04-09 06:46] brianteeman commented on #28861
Maintainers please make a decision on this. It is a year since @marcodings said he would raise it in production. I can only assume that this never happened. @wilsonge @rdeutz

[2021-04-09 06:53] brianteeman commented on #33073
@infograf768 please take another coffee and re-read the post

[2021-04-09 07:09] BrainforgeUK commented on #33073
Search Engine friendly URLS already set to Yes.

**Set to No**
index.php?option=com_mytest&view=directory&Itemid=101

**Set to Yes**
index.php/directory?view=directory

[2021-04-09 07:19] drmenzelit commented on #33067
That could help
`.list-group-item:nth-last-child(3) {
  border-bottom: none;
}`

[2021-04-09 07:27] therahilshaikh commented on #22198
can i contribute?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22198">issues.joomla.org/tracker/joomla-cms/22198</a>.</sub>

[2021-04-09 07:27] Fedik commented on #28980
I think we can add `onComplete` callback. Maybe I will try to look sometime.

Introducing `promise` or replace to `fetch` will be b.c. However people already can use `fetch` in their own scripts.

[2021-04-09 07:36] Fedik commented on #33073
It sounds like `com_mycomponent` misses router, or the router misses `RouterViewConfiguration`
maybe can take as example `com_content` router or `com_finder` as very basic https://github.com/joomla/joomla-cms/blob/03c1bf19acb1ca992c3151d7e7ec87e6ef1cb5e4/components/com_finder/src/Service/Router.php#L35-L45

so for your  `com_mycomponent` and `index.php/directory?view=directory` it need:
[code]

[2021-04-09 07:57] brianteeman commented on #28390
Maintainers please make a decision about this feature request. If it would not be accepted (if developed) then it should be closed @wilsonge @rdeutz

[2021-04-09 08:12] MartinK63 commented on #32880
I cannot discuss on the b/c topic - which is very important surely - but this is issue is a problem which can badly affect the status of joomla as a reliable cms - even if the system was not hacked - a hacker can make it look like it was - at least on the url - some people wont notice the technical difference between an url and the content - they think the url is coming from the site. so i can onl

[2021-04-09 08:30] sandramay0905 commented on #22198
@therahilshaikh please read https://github.com/joomla/joomla-cms/issues/31540#issuecomment-811070565

[2021-04-09 08:33] #26624 closed, assigned to nobody

[2021-04-09 08:33] #27531 closed, assigned to nobody

[2021-04-09 08:34] #29037 closed, assigned to nobody

[2021-04-09 08:42] #29175 closed, assigned to nobody

[2021-04-09 08:43] #31417 closed, assigned to nobody

[2021-04-09 08:43] #29642 closed, assigned to nobody

[2021-04-09 08:44] #29062 closed, assigned to nobody

[2021-04-09 08:47] #30020 closed, assigned to nobody

[2021-04-09 08:48] #29155 closed, assigned to nobody

[2021-04-09 08:48] #29189 closed, assigned to nobody

[2021-04-09 08:51] #29255 closed, assigned to nobody

[2021-04-09 08:51] #30013 closed, assigned to nobody

[2021-04-09 09:07] #33020 closed, assigned to nobody

[2021-04-09 09:34] BrainforgeUK commented on #33073
The component is missing Service/Router.php
Also had to register the router factory in services/provider.php

Had assumed that without the router the default behaviour would suffice.

The minimum router class which resolves the issue is below.
I assume for completeness best to uncomment the commented lines.
Also add a loop to run through the view layouts and register them dynamically - can then ed

[2021-04-09 09:49] Fedik commented on #33073
For correct work you need all 3:
[code]

[2021-04-09 09:52] Fedik commented on #33073
Please close the issue if you have fixed your problem.

[2021-04-09 09:54] #33073 closed, assigned to nobody

[2021-04-09 10:05] brianteeman opened #33079 "FTP doesnt work"
Unless I am going mad then even in Joomla 3 ftp mode does not work except for installation.

If that finding is correct and as we have had zero reports about this then no one is using ftp mode and we should just remove it from joomla 4 - where it is currently a release blocker.

I tested this by using the docker container created by @PhilETaylor and available here https://github.com/PhilETaylor/jo

[2021-04-09 10:37] PhilETaylor commented on #32976
So I have taken a look at your (rather messy) webspace and hosting.

I could see that com_finder was generating Zero byte cache files, which would be reused causing a blank screen with a 200 response. This is strange.

I have removed ALL CUSTOM php.ini, .user.ini and PHP modifications in .htaccess.

I then used cPanel to correctly upgrade your PHP version to 8.0.3 and set what sane defaults I woul

[2021-04-09 10:43] sandramay0905 commented on #32892
@Mohamed1308 any news on your issue?

[2021-04-09 12:05] sandramay0905 commented on #32878
@chmst can i please ask you where i can get this `testing sample data`?
I installed J4 using launch.joomla.org having blog sample data, multilanguage but no testing, also don't get `testing` by `Extensions: Discover`.

[2021-04-09 12:11] sandramay0905 commented on #32820
@mariantanase can you please update the title with "[4.0]"? Then it shows in the issue-list what joomla-version your title belongs. Thanks.

[2021-04-09 12:24] Hackwar commented on #32880
You mean that something that has been like this for 15 years needs to be fixed now, definitely breaking thousands of websites and requiring development work from them? At the same time breaking our semVer promises we made? I can guarantee you, that if we change this now, the Joomla project would loose half of its userbase. Not everyone would even be directly affected by this, but the break in trus

[2021-04-09 12:26] infograf768 commented on #32878
@Bakual

[2021-04-09 12:39] sshcli commented on #28390
Please feel free to close this feature request If you don't want it. I really mean it.

[2021-04-09 12:51] chmst commented on #32878
@sandramay0905 if you cone the 4.0 dev branch of Joomla-cms, you get the plugin for testing sample data.

[2021-04-09 13:13] sandramay0905 commented on #32878
thanks for the answer, no idea what it mean. I was only looking if i haven't found a plugin.

[2021-04-09 13:48] sandramay0905 commented on #32750
Isn't it enough to get a different background for the last Message `Blog Sample data has been installed.`?

[2021-04-09 13:52] PhilETaylor commented on #32793
#32840

[2021-04-09 13:52] #32793 closed, assigned to nobody

[2021-04-09 14:07] dgrammatiko commented on #33079
Just a reminder here that https://github.com/joomla/joomla-cms/pull/21507 without the project checking the claims that FTP is still used...

[2021-04-09 14:16] PhilETaylor commented on #33079
I'm hoping to complete my work on opcache for joomla 3 this weekend. If no one has committed to ultimately testing and fixing ftp in joomla 4 then I could take a look...

Is it even worth PRing ftp and opcode issues against joomla3 though... I have a feeling it's wasted effort fixing these things in already end of life joomla 3.9 and 3.10 is a stopgap release and jumping base to 4...

It's 2021 al

[2021-04-09 14:19] dgrammatiko commented on #33079
@PhilETaylor are you gonna resurrect #21507 or fix the FTP implementation? (confused)

[2021-04-09 14:20] PhilETaylor commented on #33079
If I had my way I would rip it all out, however it seems the project wants to keep the FTP layer...

[2021-04-09 14:22] dgrammatiko commented on #33079
Since it's already broken in J3, as Brian found out, what's the point of fixing it in J4 instead of removing it? (rhetorical question)

[2021-04-09 14:32] PhilETaylor commented on #33079
To be honest, most extensions ignore the FTP layer anyway. You see far too many `unlink` `file_put_contents` `copy` `move_uploaded_file` function calls in extensions and plugins - all of which ignore the Joomla Filesystem layer (I know, because Ive been recently working on the OPCache issue, which is basically the same as the FTP issue, that every write of a file should be going through the filesy

[2021-04-09 14:58] brianteeman commented on #33079
I may be completely wrong in my test and it does work in Joomla 3. I don't think I am as this is the second or third time I have spent several hours trying to see if it works.

I am not proposing doing anything in Joomla 3 at all. I am just saying that **if it doesn't work right now** and **we are not getting reports that it doesn't work** then it can't be being used. The obvious conclusion to tha

[2021-04-09 15:43] chmst commented on #33049
What you would like as solution?  Isn't it a de-facto-standard that dark means "selected"?

In J3 we have for example this,which for me is more confusing.
![grafik](https://user-images.githubusercontent.com/1035262/114205836-04691000-995b-11eb-90f5-fb37a1681280.png)

[2021-04-09 16:05] sandramay0905 commented on #32720
@variax73 please start the title using "[4.0] " as this issue seems for joomla 4, if i understand correct.

[2021-04-09 16:07] sandramay0905 commented on #32717
@gkleissiaris have you tried, whats the result?

[2021-04-09 16:15] regularlabs commented on #33049
As you can see in the animated radio switcher: dark is NOT the selected option!

[2021-04-09 16:16] regularlabs commented on #33049
![image](https://user-images.githubusercontent.com/13553242/114210114-ac80d800-995f-11eb-8c26-4cca8cfd0314.png)

[2021-04-09 16:41] sandramay0905 commented on #32595
if i understand the discussion correct the issue is expected behavior (https://github.com/joomla/joomla-cms/issues/32595#issuecomment-791896705)

[2021-04-09 18:32] AndySDH commented on #28389
So to recap everything that has been reported:

**1) "The fields used in a subform field simply show up in the list of custom fields and it's not obvious that they belong to the subform field. At the same time it is absolutely non-obvious that you have to set the category of those fields of a subform to "none", to not have them show up multiple times. I only knew that because I searched the docume

[2021-04-09 18:43] PhilETaylor commented on #33079
Maybe its best that we (or I) take a look and document exactly

- When the FTP is coded to be used
- When it actually gets used
- When it actually is meant to be used, is used, and doesn't work
- When it actually is meant to be used, is used, and does work
- When Joomla BYPASSES using the FileSystem API (and thus directly manipulates files) - E.g Cache clearing doesn't use Joomla's File System API

[2021-04-09 18:45] PhilETaylor commented on #33079
In a (non-random) sample of 67,000 Joomla sites - not a single site in this sample uses the FTP layer, with stored credentials.

[2021-04-09 18:52] dgrammatiko commented on #33079
I guess we can all agree at this point that rejecting #21507 was a very bad decision. Now we have to redo all the work once again, on short notice. Fun times...

@wilsonge @rdeutz @HLeithner can you re-evaluate the project's requirements on FTP support?

[2021-04-09 20:42] 810 opened #33083 "[4.0][nightlybuild] Notice: Trying to get property 'message' plugins\system\stats\stats.php on line 582"
### Steps to reproduce the issue

load backend 3th party component.

### Expected result

No error.

### Actual result

 Notice: Trying to get property 'message' of non-object in C:\wamp64\www\j4\plugins\system\stats\stats.php on line 582

[code]

### System information (as much as possible)

‎4.0.0-beta8-dev git version 8-4-21

### Additional comments

[2021-04-09 21:09] brianteeman commented on #33079
@dgrammatiko It was rejected on the basis that the ftp stuff would be fixed. As with every other PR that was either merged or rejected on that basis there has been no significant progress. Other than removing the release blocker labels to give the impression that there has been progress on those issues nothing has changed.

[2021-04-09 21:27] atharva20-coder commented on #32250
can anyone attach an image of the issue, please?

[2021-04-09 21:43] brianteeman commented on #28196
I am unable to replicate this in the current bs5 atum release

[2021-04-09 21:45] brianteeman commented on #27356
Based on comments above and the lack of response for a year I assume this is resolved?

[2021-04-09 21:52] brianteeman commented on #25903
@richard67 @wilsonge is this still an issue to resolve?

[2021-04-09 21:54] brianteeman commented on #25639
@Fedik @dgrammatiko @wilsonge Is this still an issue?

[2021-04-09 21:54] richard67 commented on #25903
I don't know.

[2021-04-09 22:15] dgrammatiko commented on #25639
Partially. The core-js that @wilsonge mentioned here is already in our dependencies https://github.com/joomla/joomla-cms/blob/f4ac18829fad6eadd7260ac2f951aca0c7da459b/package.json#L77 **BUT** the ES5 rollup config needs some attention. I mean we can inflate every script by injecting the polyfills from core-js (easy fix I already have the code muted in place) or serve the polyfills as separate scri

[2021-04-10 00:05] dgrammatiko commented on #25639
@brianteeman this can be closed as there's a PR: https://github.com/joomla/joomla-cms/pull/33084

[2021-04-10 01:54] noxidsoft commented on #32820
![2021-04-10 11_51_25-Window](https://user-images.githubusercontent.com/729135/114254506-2f06a780-99f3-11eb-84ce-3de20844cfc5.jpg)
Be aware the issue is not just the table (userList) but it is the whole container-main that seems to be affected. I'm looking at it now, not sure if I'll fix it.

[2021-04-10 04:10] sandramay0905 commented on #32250
@atharva20-coder look at the mentioned pull request #32703.

[2021-04-10 04:18] JimHolloman commented on #32976
-------- Remainder clipped by Jim Holloman  --------

Phil,

You are amazing. I am astonished that you had the issue resolved so quickly.

It is wonderful to see the Smart Search working again.

I want to put Savannah on https://manage.mysites.guru/ -- and I sent you a PM via the Contact Form on the site. Your site is great! But, there is no rush.

Many thanks for the help -- and the resolution,

[2021-04-10 06:05] infograf768 commented on #33083
This happens here too after login in admin, but not always.

<img width="1250" alt="Screen Shot 2021-04-10 at 08 03 49" src="https://user-images.githubusercontent.com/869724/114260163-649b9880-99d3-11eb-9ef5-7f8b569c361f.png">

[2021-04-10 06:26] joomdonation commented on #33079
So I spent sometime to day to test FTP stuffs on my local computer (Windows 10) and below are the result:

- Installing extension works with FTP enabled
- However, I believe update Joomla! with **Installation method** set to **Hybrid (use FTP only if needed)** or **Write files using FTP** will never works (both for Joomla 3 and Joomla 4). The reason is because we do not write correct data for FTP

[2021-04-10 06:34] brianteeman commented on #27737
Found the problem and the fix. PR incoming

[2021-04-10 07:21] brianteeman commented on #33079
are you sure that the permissions on your test site were such that ftp was actually being used? I couldnt get extensions to install.

[2021-04-10 08:11] joomdonation commented on #33079
@brianteeman I installed FileZilla FTP server for testing. For the account, I just have it full permission

For more information, when I tried to enable FTP on Joomla 3 website, at first, Configuration could not be saved (because the file was marked as Read Only by Joomla! before, I had to changed permission of the file configuration.php to make it writable) after that, it is working welll

But as

[2021-04-10 08:24] sandramay0905 commented on #32403
Issue confirming.

[2021-04-10 08:29] brianteeman commented on #26398
Maintainers please make a decision here. From what I can tell this should be closed @rdeutz @wilsonge

[2021-04-10 08:31] brianteeman commented on #26052
Is this really still relevant. The template must have undergone at least two rewrites since then and changed to bootstrap 5

[2021-04-10 08:32] brianteeman commented on #25903
I am referring to the comments about mariadb

https://github.com/joomla/joomla-cms/issues/25903#issuecomment-545603979
https://github.com/joomla/joomla-cms/issues/25903#issuecomment-545609876

[2021-04-10 08:32] joomdonation commented on #27356
The issue is still there in today Joomla 4 night build.

[2021-04-10 08:33] alikon commented on #26052
No imho

[2021-04-10 08:33] #26052 closed, assigned to nobody

[2021-04-10 08:36] brianteeman commented on #24337
@bembelimen I guess this should get a 4.1 tag of some sort

[2021-04-10 09:00] YatharthVyas commented on #33048
I could narrow down the issue to https://github.com/joomla/joomla-cms/blob/f4ac18829fad6eadd7260ac2f951aca0c7da459b/libraries/src/HTML/Helpers/Grid.php#L65
Here, if I remove `class="hasPopover"` then the popover no longer appears, and the sorting works as intended.

![output)](https://user-images.githubusercontent.com/53610833/114264359-11900880-9a08-11eb-8eeb-cd776e8489f2.gif)

However, this help

[2021-04-10 09:38] dgrammatiko commented on #25639
This can be closed but there is still https://github.com/joomla/joomla-cms/issues/22164 which needs to be addressed (eg polyfills not provided by babel)

[2021-04-10 09:40] #25639 closed, assigned to nobody

[2021-04-10 09:40] joomdonation commented on #25639
Closing as requested. Thanks @dgrammatiko

[2021-04-10 10:12] regularlabs commented on #33049
A simple solution:
Set the labels inside `.btn-group.button` to `opacity: .5;`, and set the active labels back to `opacity: 1;`.
![image](https://user-images.githubusercontent.com/13553242/114266309-f1574e00-99f5-11eb-94fb-8c2956e7bea2.png)

[2021-04-10 10:14] AndySDH commented on #33049
The blue color on the selected opion instead of gray would be better as well, as of the original post by Peter

[2021-04-10 10:42] brianteeman commented on #33049
Please submit a pr

[2021-04-10 10:46] brianteeman commented on #27737
closed see pr

[2021-04-10 10:46] #27737 closed, assigned to nobody

[2021-04-10 11:40] rjharishabh commented on #32997
@infograf768
I am not getting any CSS that is applied to the ```highlight``` class. Is there anything that is missing.

![highlight](https://user-images.githubusercontent.com/61203226/114268574-5d9a7780-9a1f-11eb-8cf9-ad3c599ee7e0.JPG)

[2021-04-10 12:07] imbilashpaul commented on #32995
where is the code

[2021-04-10 12:12] imbilash opened #33088 "This happens here too after login in admin, but not always."
This happens here too after login in admin, but not always.

<img width="1250" alt="Screen Shot 2021-04-10 at 08 03 49" src="https://user-images.githubusercontent.com/869724/114260163-649b9880-99d3-11eb-9ef5-7f8b569c361f.png">

_Originally posted by @infograf768 in https://github.com/joomla/joomla-cms/issues/33083#issuecomment-817085464_

[2021-04-10 12:20] Ruud68 commented on #32880
@Hackwar The same logic applies to security issues that are in core for 15+ years, you fix them when you find out about them. Ignoring (next to security by obfuscation) is no security at all. We (the Joomla community) trust that these matters will be dealt with when they arise).
When looking at the usage stats you see that only 30% of the sites make the move from an older version, so it is already

[2021-04-10 12:22] richard67 commented on #25903
@brianteeman I wish I could help here, but to be honest, I did not really understand these comments. From my experience I would expect problems to appear when strict mode is on and not when it's off, and the error message fits to that, but here it seems to be vice versa, i.e. problems coming with the older version where strict mode was not enabled by default, and that confuses me.

So either I und

[2021-04-10 12:22] sandramay0905 commented on #32327
@Homepage-lrv i guess "reply.githug.com" is wrong as the url is github.com.

[2021-04-10 12:23] regularlabs commented on #33049
Seeing this would need a change in the css, I am at a loss.
There is no `media` folder in the repo and no idea where the template.scss grabs the necessary styles from or where to change the source btn-group styling.

[2021-04-10 12:34] peterhens commented on #33088
good info[The Best Discounted Gaming Products In 2021.pdf](https://issues.joomla.org/uploads/1/7a8aee4ec3d5a62ad0b6caad21ebe810.pdf)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/33088">issues.joomla.org/tracker/joomla-cms/33088</a>.</sub>

[2021-04-10 12:39] sandramay0905 commented on #33088
please delete spam https://github.com/joomla/joomla-cms/issues/33088#issuecomment-817129775

[2021-04-10 12:40] peterhens commented on #33088
Not a spam idiot

[2021-04-10 12:48] brianteeman commented on #32880
The stats are useless. If you set the "send once" option then you only know about the first version installed.

[2021-04-10 12:54] #33088 closed, assigned to nobody

[2021-04-10 13:13] dgrammatiko commented on #32997
Please test: https://github.com/joomla/joomla-cms/pull/33089

[2021-04-10 13:31] richard67 commented on #33083
The code where this exception is thrown looks pretty much the same in J3 and J4:
- J3 https://github.com/joomla/joomla-cms/blame/staging/plugins/system/stats/stats.php#L539
- J4 https://github.com/joomla/joomla-cms/blame/4.0-dev/plugins/system/stats/stats.php#L582

In both cases it seem weird to me to use `$data->message` directly after the `$data = json_decode($response->body);`. Can we really al

[2021-04-10 13:36] PhilETaylor commented on #32976
I just love the lies web hosts give to cover their incompetence.

LMAO. I have proved this to be factually incorrect now.

[2021-04-10 14:04] #32997 closed, assigned to nobody

[2021-04-10 14:11] brianteeman commented on #24157
see #33090

[2021-04-10 15:03] Quy commented on #33083
Duplicate #32005

[2021-04-10 15:24] HLeithner commented on #33083
A stats server update yesterday broke the server. It's fixed in the meantime.

Maybe the stats code should expect an unreachable server or failure response and should handle it carefully.

[2021-04-10 15:24] #33083 closed, assigned to nobody

[2021-04-10 15:49] Bakual commented on #32878
Texts should actually be simple to adjust. Those are regular language strings.
Coding standards should also be simple.

The control/data thing is actually hard to do in a plugin. Back then I thought about defining the data in an XML file and then read by the plugin. But since some parts have to be defined dynamically (eg the category id), static files don't work well.

As for copying files like su

[2021-04-10 15:59] brianteeman commented on #33049
I guess you need to find a real developer to help you use composer, npm and git :)

[2021-04-10 16:07] regularlabs commented on #33049
I guess so. So my job is done here. I reported the issue. If someone wants to fix it, fine. If not, 🤷🏻‍♂️

[2021-04-10 16:45] #24157 closed, assigned to nobody

[2021-04-10 17:42] Bakual commented on #33049
For reference:
The source files for the media files are usually here: https://github.com/joomla/joomla-cms/tree/4.0-dev/build/media_source
However for templates, they are in the respective template folder (https://github.com/joomla/joomla-cms/tree/4.0-dev/templates/cassiopeia/scss and https://github.com/joomla/joomla-cms/tree/4.0-dev/administrator/templates/atum/scss
This is done so they end up in

[2021-04-10 20:14] regularlabs commented on #33049
Thanks, I got that for.
This whole styling is too baked in to bootstrap. So I am dropping this.

[2021-04-10 20:14] #33049 closed, assigned to nobody

[2021-04-10 22:36] Mohamed1308 commented on #32892
@Fedik I got the same issue after using the Joomla 4 Beta 7 Full Package (https://github.com/joomla/joomla-cms/releases/tag/4.0.0-beta7) without installing Helix Ultimate, so it really is a Joomla problem and it isn't related to any extension.

@richard67 The problem still persists with Joomla 4 Beta 7. I installed J4 on an empty website (https://www.dv2025.com) via the Beta 7 Full Package (https:

[2021-04-11 04:27] sandramay0905 commented on #32892
@Mohamed1308 thanks for your answer. i do now every day a fresh install using launch.joomla.org. The first thing i do is renaming htaccess.txt to .htacccess and i never got your issue. Hope this help to find whats happen.

[2021-04-11 05:05] ghost opened #33095 "[4.0] Upload & Update: Keep size-info together"
### What needs to be fixed
At `Joomla Update` information about `Maximum upload size` and `Selected file size` :

### Why this should be fixed
Infos shouldn't be so far from each other.

### How would you fix it
Keep them in one line below the filename.

### Side Effects expected
Don't know.

[2021-04-11 06:57] sandramay0905 commented on #32273
this is what i get for `administrator/index.php?option=com_content&view=articles=articles&test=1`

[2021-04-11 07:10] sandramay0905 commented on #32262
@PhilETaylor can you please update the issue happen only if logged in as member of editor-usergroup? i tried to test the issue and didn't get it until i read at the end of the discussion about `editor` ;-)

[2021-04-11 07:49] sandramay0905 commented on #32245
@joomdonation is right, the first part about `IFrame Wrapper URL Not validated` is solved.

Should the issue be closed and a new one created about `Menu Item Type URL Not validated`?

[2021-04-11 08:04] sandramay0905 commented on #32219
if i understand correct this is solved:

[2021-04-11 08:08] joomdonation commented on #32219
Thanks for checking but it is not. This is an old PHP class not used by Joomla core but maybe still uses by third party extensions (but I guess they already migrated code to use new class JGrid already). This is a low priority issue to me

[2021-04-11 08:29] sandramay0905 commented on #32219
I guessed that something other is meant than `The published/unpublished icon is not being displayed` cause if the icons not displayed there are more issues about this reported.

[2021-04-11 08:41] Fedik commented on #32892
@Mohamed1308 My previous comment was wrong.

As @PhilETaylor  already wrote in one comment before:

To make it work you have to configure .htaccess for LiteSpeed server.

[2021-04-11 08:43] Fedik commented on #33022
check that PR #33089

[2021-04-11 08:43] #33022 closed, assigned to nobody

[2021-04-11 08:45] PhilETaylor commented on #32892
Unless you can accurately communicate WHAT was wrong, then this issue should be closed.

Just saying something is "looking weird and not working" is not good enough.

I "look weird and not working" most of the time... it doesn't mean there there is a problem with me... oh wait...

Open up your browsers console, report any Javascript errors, check the the network tab, refresh the page and report an

[2021-04-11 08:49] joomdonation commented on #32892
The javascript / css files on the site are being blocked and that's the reason causing the error. We just don't know why it is blocked
<img width="940" alt="errors" src="https://user-images.githubusercontent.com/977664/114297879-69e50a00-9add-11eb-956d-23722a2d3a54.png">

[2021-04-11 08:50] joomdonation commented on #28389
@AndySDH Could you please look at my prototype PR https://github.com/joomla/joomla-cms/pull/33096 to see if we should go with that approach?

[2021-04-11 08:51] PhilETaylor commented on #32892
These are not blocked.

`ERR_CONTENT_DECODING_FAILED` means that they are being double gzipped and therefore corrupted.

This is not a Joomla issue, this is a hosting issue.

If the hosting is already zipping JS files, then Joomla doesn't need to. This is up to the user to configure their site correctly or their server correctly.

[2021-04-11 08:53] joomdonation commented on #32892
@PhilETaylor Do you have any tip for him? Or should we tell him to contact hosting provider and ask them to check?

[2021-04-11 08:55] PhilETaylor commented on #32892
Simple, remove the last section in .htaccess. Its not needed on this webhost because the server configuration already has been configured to gzip js files.

https://github.com/joomla/joomla-cms/pull/33097

[2021-04-11 09:29] brianteeman opened #33098 "[4.0] change template style"
I can detect the active template style in a frontend template with
`$app->getMenu()->getActive()->template_style_id;`

This will return values of `0` if it is the default template style or the `id` if a style has been assigned to the menu

But is there a way that I can change the templatestyle in the template when a condition is met
eg
[code]

[2021-04-11 10:11] Fedik commented on #28980
please test #33099 if still have an interest in it  :)

[2021-04-11 10:11] #28980 closed, assigned to nobody

[2021-04-11 10:19] richard67 commented on #32892
Closing as having a pull request. Please test #33097 . Thanks in advance.

[2021-04-11 10:19] #32892 closed, assigned to nobody

[2021-04-11 10:38] ReLater commented on #32273
Because you have a typo in your url.
`&view=articles=articles`
has to be
`&view=articles`

[2021-04-11 10:40] dgrammatiko commented on #33098
Once https://github.com/joomla/joomla-cms/pull/32710 is merged you could recreate an object for templateParams (basically the db values for the style) and call that function with the template name and the obj you just created

[2021-04-11 10:43] joomdonation commented on #30809
Closing this issue because look like the issue was fixed elsewhere. The content is loaded when you edit the HTML body of the email template (see this attached screenshot)

![Edit-Mail-Template-Joomla-4-OK-Administration](https://user-images.githubusercontent.com/977664/114301076-46c25680-9aed-11eb-94c2-7d324bea53f8.png)

[2021-04-11 10:43] #30809 closed, assigned to nobody

[2021-04-11 11:05] sandramay0905 commented on #32273
@ReLater You're right, haven't seen that.

Now tried `/administrator/index.php?option=com_content&view=articles&test=1` and the view is shown as (same for `/administrator/index.php?option=com_content&view=articles#test`):

but @OctavianC got `Menu is completely closed and no menu item shows active.`

[2021-04-11 11:10] brianteeman commented on #33098
I'm sure there must be a way to it now. It can be done in a plugin but I wanted to try and just do it in the template itself.

[2021-04-11 11:11] sandewt commented on #32988
`$log_file_size_limit = 1000000; // bytes - once exceeded no further entries are added`

See:
[https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri#examples](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri#examples)

[2021-04-11 11:14] brianteeman commented on #32273
It depends if the component is already open. Go to another component and then paste in the urls and you will see that the correct component is not displayed in the **sidebar menu**

[2021-04-11 11:17] sandramay0905 commented on #32273
thanks @brianteeman for your comment, now i understand what's the issue. Sorry, i haven't understand before.

[2021-04-11 11:20] dgrammatiko commented on #33098
It's a little more complicated.  the `?template=foo` is working because there is code to support it here: https://github.com/joomla/joomla-cms/blob/443f5933a3c9336f37f992d855b61b09a5f4e21e/libraries/src/Document/HtmlDocument.php#L704
but there is no such code for the styles. Also, styles are stored in the db so there's a need for a db query to set the styles to another Id.

[2021-04-11 11:44] brianteeman commented on #33098
Getting the style is the easy part and in my case I know what the id of the style is that I want to use

[2021-04-11 11:45] brianteeman commented on #32273
@sandramay0905 Thats fine. I only knew because I had something similar in my own component

[2021-04-11 14:23] YatharthVyas opened #33101 "[4.0] Resizing browser in Article Edit View causes the article preview text box to go blank"
### Steps to reproduce the issue
1. Visit the Administrator Panel
2. From the sidebar, navigate to Content -> Articles
3. Open one Article in Edit mode
4. Resize the browser's **width** such that it crosses the **935px** mark

### Expected result
Nothing should happen to the text box.

### Actual result
![result](https://user-images.githubusercontent.com/53610833/114307680-61e99200-9afe-11eb-873b-

[2021-04-11 14:26] PhilETaylor commented on #32988
well considering we are not logging to a file, but to a database, setting a log file size makes no sense :)

[2021-04-11 15:04] Krshivam25 commented on #33101
By default, <input> and <textarea> elements don’t change size based on the content they contain. In fact, there isn’t any simple HTML or CSS way to make them do that. Kinda funny, as that seems like a reasonable use-case.

[2021-04-11 15:24] sandewt commented on #32988
I know, but one idea often leads to another.

[2021-04-11 15:42] Krshivam25 opened #33103 "[4.0] Document does not have a meta description"
### What needs to be fixed
1. Administrator page doesn't have a <meta name=description> element.
2. The content attribute of the <meta name=description> element is empty.

### Why this should be fixed
The <meta name="description"> element provides a summary of a page's content that search engines include in search results. A high-quality, unique meta description makes your page appear more relevan

[2021-04-11 15:48] Krshivam25 opened #33104 "[4.0] Document does not have a meta description"
### What needs to be fixed
1. Administrator page doesn't have a <meta name=description> element.
2. The content attribute of the <meta name=description> element is empty.

### Why this should be fixed
The <meta name="description"> element provides a summary of a page's content that search engines include in search results. A high-quality, unique meta description makes your page appear more relevan

[2021-04-11 15:49] #33104 closed, assigned to nobody

[2021-04-11 15:55] Fedik commented on #33098
it a bit tricky, you have 2 option:
1) change input `templateStyle` in `onAfterRoute`: `$app->input->set('templateStyle', 10)`;
2) set your own template and its params onAfterDispacth, the params should be loaded from your Template Style:
[code]

[2021-04-11 16:06] Fedik commented on #28196
The drop-down position (opens UP or DOWN) depend from the element position on the viewport,
By default the dropdown will opens DOWN,
but if the element is close to the bottom edge of the viewport, it will opens UP.

However there possible glitches as on the screenshots when the viewport height is very small.
In 99% cases it can be fixed by scrolling up a bit, manualy :)

[2021-04-11 16:51] brianteeman commented on #33098
thank you

[2021-04-11 16:51] #33098 closed, assigned to nobody

[2021-04-11 16:54] brianteeman commented on #33103
And why would you want your administrator page to be searchable. This is plain daft and should simply be closed as such.

[2021-04-11 16:59] brianteeman opened #33105 "[4.0] Mail Templates edit options"
What is the purpose of the edit subject and edit body options with the default being off for both.

I cant see any reason for them both not being editable by default or any reason for them ever to be non editable.

What am I missing?

[2021-04-11 17:04] brianteeman commented on #33101
@Krshivam25 that may or may not be true but its completely irrelevant to the reported issue

[2021-04-11 17:07] Quy commented on #33067
Thanks for the report. Please test PR #33106.

[2021-04-11 17:07] #33067 closed, assigned to nobody

[2021-04-11 17:48] chmst commented on #33048
Popover is unneccessay in all views. A PR will be welcome!

[2021-04-11 17:54] Fedik commented on #33105
This is kind of "Default Value" vs "User Value".
I have commented it in https://github.com/joomla/joomla-cms/issues/27619#issuecomment-812426613

[2021-04-11 18:50] brianteeman commented on #33098
I have it working as a plugin - just can't get it to work directly in the template php - guess thats not possible

[2021-04-11 18:57] Fedik commented on #33098
you mean in template index.php/component.php?
well, yea, there it will not work, because the params (template style) loaded before this file executed.

Need to be a plugin.

[2021-04-11 19:08] #33103 closed, assigned to nobody

[2021-04-11 20:40] regularlabs commented on #31928
PR to fix this (I think): #33108

[2021-04-11 20:40] richard67 commented on #31928
@regularlabs How can this be with a PR which has been merged before this one here was created?

[2021-04-11 20:42] regularlabs commented on #31928
33108 has not been merged. I just made it!

[2021-04-11 20:42] richard67 commented on #31928
@regularlabs sorry was looking at the wrong one.

[2021-04-11 20:43] regularlabs commented on #31928
😉

[2021-04-11 20:43] richard67 commented on #31928
Clsoing as having a pull request. Please test #33108 . Thanks in advance.

[2021-04-11 20:43] #31928 closed, assigned to nobody

[2021-04-12 00:22] jcss opened #34631 "Joomla 4.0 Beta8 Article & Menu Access Does Not Show User Created User Group"
#### Steps to reproduce the issue
Create a new user group named Registered-1
Open an existing Content Article
In Access box click down arrow to display user groups

#### Expected result
Registered-1 should be in list

#### Actual result
Only Joomla installed user groups are listed; Registered-1 is not listed

#### System information (as much as possible)

#### Additional comments

[2021-04-12 07:06] remiAcyba commented on #30934
Hi,

Sorry for the late answer, here is AcyMailing stater 6.14.1.
For the Joomla configuration, I can't give you a precise one, you can take the default one.

The issue was with the folder library in the administrator/components/com_acym
We renamed it into libraries but some clients had issues because the folder didn't rename correctly.
[com_acymailing_starter.tar.gz](https://github.com/joomla/joo

[2021-04-12 08:22] Krshivam25 commented on #32068
Hi, @brianteeman is this issue is still open can I work into this.?

[2021-04-12 08:28] sandramay0905 commented on #32068
@Krshivam25

please read https://github.com/joomla/joomla-cms/issues/31540#issuecomment-811070565

[2021-04-12 10:28] sandramay0905 commented on #32114
@ahotzler i enabled the plugin on back- and frontend and got on both a new symbol (here for Frontend):

I guess the issue is solved.

[2021-04-12 10:48] chmst commented on #32114
@ahotzler (looking forward to meet you again ,hopefully in summer) - sorry for late answer.
Could you re-test? As @sandramay0905 writes, when the plugin is enabled, there is the a11y symbol and clicking on it (or alt + schift + a) opens a menu with a11y options.
If not: Which browser are you using? Are there error messages on console?

[2021-04-12 14:01] ReLater commented on #32115
New pr https://github.com/joomla/joomla-cms/pull/33113 provided because @saumyasarkar11 has no time to work out the old one that should be closed please.

[2021-04-12 15:06] chmst commented on #33095
It depends on your screen / windows size, if and where the line breaks.

[2021-04-12 15:23] chmst commented on #33095
please test  #33116

[2021-04-12 15:23] #33095 closed, assigned to nobody

[2021-04-12 15:55] camilabiffle006 opened #33117 "Where can I find someone to write my college paper?"

[2021-04-12 15:57] #33117 closed, assigned to nobody

[2021-04-12 18:34] roussis commented on #26753
It is the same result.
https://www.joomla.org/index.php/component/users?Itemid%5B%5D

[2021-04-12 21:57] brianteeman commented on #21806
Until resolved this is still a release blocker.

[2021-04-12 22:08] brianteeman commented on #32989
I am guessing this can also be closed now that @PhilETaylor fixed the inmotion hosting

[2021-04-13 01:03] JimHolloman commented on #32989
While they are both related to caching, the two issues are completely independent.

1) The InMotion issue involved com_finder creating an empty cache that would result in a While Page being returned -- but no errors -- and therefore no indication of any problem.

2) This issue involves the fact that the "page" continues to be cached after Caching is turned OFF in Global Config. It is my contention

[2021-04-13 07:38] sandramay0905 commented on #32092
@Harry5001 i test your issue and got the impression, that https://github.com/joomla/joomla-cms/issues/32092#issuecomment-763983722 by @ChristineWk is right, which i test with and without the field `Layout: Dropdown`.

Or do i understand your issue wrong?

[2021-04-13 07:53] Harry5001 commented on #32092
@sandramay0905 As I said, I could not get the sub-menu item displayed no matter which setting I chose. I have the menu in Position "menu" (see previous post). As far as I understood the whole thing, @richard67 found a CSS-issue that caused this strange behavior?

[2021-04-13 07:57] sandramay0905 commented on #32032
As @PhilETaylor wrote i would also expect in the described scenario:

[2021-04-13 08:06] sandramay0905 commented on #33083
@HLeithner https://github.com/joomla/joomla-cms/issues/32005#issuecomment-760962284 by @PhilETaylor: "As the collection of stats is optional, a nice-to-have, and is in no way connected with a Joomla admins use of their site, I propose that the code above is changed to remove the throwing of exceptions that report to the user, unless in debug mode.

[2021-04-13 08:21] brianteeman commented on #32092
The css issue that @richard67 refers to is when the module is in the header position so that doesn't apply to you.

The problem is very simple - from your screenshots I can see that you have the layout set to default and not dropdown - which is what everyone else has also told you. Please change that and report back.

![image](https://user-images.githubusercontent.com/1296369/114520719-a0379c00-9c

[2021-04-13 08:29] chmst commented on #32092
In the ritght sidebar the submenus are visible. It is intended to have no submenu items in the horizontal top menu.

[2021-04-13 08:36] chmst commented on #31889
No video visible. Is this still an issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/31889">issues.joomla.org/tracker/joomla-cms/31889</a>.</sub>

[2021-04-13 08:50] Mayank-Khurmai commented on #28237
#A textarea of 50 cols width

I can resolve this issue of improper size variation

[2021-04-13 09:00] PhilETaylor commented on #31889
View the video on GitHub.

[2021-04-13 09:11] chmst commented on #33048
Closing as we have a PR

[2021-04-13 09:24] Harry5001 commented on #32092
@brienteeman I tried that setting but as this comes as a special "feature" from cassiopeia template (metismenu) and also had its very own look, I had discarded this alternative. As you can see in following screenshots the dropdown has some kind of different layout style and additionally the drop down arrows "cut off" the fonts design at the end of every item, even if there is not dropdown arrow di

[2021-04-13 09:28] sandramay0905 commented on #32005
Similar topic and part of solution #32022

[2021-04-13 09:36] brianteeman commented on #32092
So it's not a bug in Cassiopeia but in your own template?

[2021-04-13 09:42] Harry5001 commented on #32092
@brianteeman I use cassiopeia template.

Another thing that I think to remember is, that it was possible to setup the dropdown arrows in the initial variant were only visible when the corresponding parent menu item was selected but not before. In the "metismenu" variant the dropdown is always visible or never (in latter case a sub-menu item can never be selected).

[2021-04-13 09:51] richard67 commented on #32092
@Harry5001 That's desired behavior. Check available dropdown menus on whatever website you can find, and they will in 99.99% of all cases always show that a dropdown is a dropdown, and not only when you have navigated to the particular parent menu item.

[2021-04-13 09:57] PhilETaylor commented on #32989
If there is already a Joomla cache (files in /cache) when you disable Joomla Global configuration, it is my understanding they can still be used until you actually purge them, regardless of the setting you disabled in Joomla Global Config. This is by design if I remember correctly.

I have tested both your domains that I know about today and they both have the header:

`Expires: Wed, 17 Aug 2005 0

[2021-04-13 10:02] sandramay0905 commented on #31917
In `Global Configuration` > `Server` > `Mail` is only `Modify`, no Password hiding:

![grafik](https://user-images.githubusercontent.com/78906980/114535065-f1eb2100-9c4f-11eb-912d-828b936a00bb.png)

[2021-04-13 10:03] PhilETaylor commented on #31917
This issue is about the field in the new "Mail Templates" extension feature and not the Joomla Global Configuration,.

[2021-04-13 10:06] Harry5001 commented on #32092
@richard67 Okay, if that is the desired behavior, and my site is one of the one in a thousand in which a different behavior would be more appealing, so be it. What remains was the problem described in my [https://github.com/joomla/joomla-cms/issues/32092#issuecomment-818590587](https://github.com/joomla/joomla-cms/issues/32092#issuecomment-818590587)

[2021-04-13 10:43] sandramay0905 commented on #31877
@yild what is your experience using above comments?

[2021-04-13 10:45] chmst commented on #32092
@Harry5001 this is caused by your individual design of the font. If you use a font with shadows, you must have a user.css and add some padding aoround your .metismenu a.
But this is better to ask in forum.joomla.de (if you are german).
I close this for now, it is not a bug in joomla.

[2021-04-13 10:45] #32092 closed, assigned to nobody

[2021-04-13 11:04] sandramay0905 commented on #31869
Issue confirmed on Joomla 4 - nightly build.

I also assigned the custom field to the mentioned custom field group `test` but i guess this makes no difference in the behaviour.

[2021-04-13 11:10] Harry5001 commented on #32092
Thank you very much for your help. You always learn something new. Also when it's the right time to set up and test a new website with a new version and when it's just too early for something like that. I will do things differently in the future.

[2021-04-13 14:40] Bond97 opened #33119 "[4.0] Add highlighting several articles by shift button"
### Is your feature request related to a problem? Please describe.
I've testing PR #33100 and think, it's might be better add new function as described in title.

### Describe the solution you'd like

My feature request based on standard function on File Explorers on Windows OS or Linux OS.
When user need to highlight some articles, 7-10 or more, for example, it might be hard clicking on each butt

[2021-04-13 15:04] brianteeman commented on #33119
Is it the same as #25500  ?

[2021-04-13 15:19] peteruoi opened #33122 "3.9.26 update"
Sorry if i am in a hurry. Is it normal that my sites can't find the updatE? Is it a cdn problem? Or do i just have to wait?

[2021-04-13 15:22] Bond97 commented on #33122
I think, that it need some time, that CDN are updated.

You can always use manual update by following update package from github.

[2021-04-13 15:24] peteruoi commented on #33122
I know i can do a manual update. I just found it weird that both a site in america and in italy couldn't find the update after 10 minutes. And i saw something in the release notes about update (maybe totally irrelavant). When i see the update i'll close the issue asap :)

[2021-04-13 15:25] Bond97 commented on #33119
@brianteeman I think, yes. Do I need to close this issue?

[2021-04-13 15:28] sandramay0905 commented on #33119
Yes, should be closed to avoid duplicated issues.

[2021-04-13 15:29] Bond97 commented on #33119
Ok, thanks!

[2021-04-13 15:29] #33119 closed, assigned to nobody

[2021-04-13 15:29] infograf768 commented on #25500
`this.onRowClick = this.onRowClick.bind(this);` is present in multiselect.js

[2021-04-13 15:42] peteruoi commented on #33122
updates arrived!
Thank you all!!!

[2021-04-13 15:42] #33122 closed, assigned to nobody

[2021-04-13 20:44] JimHolloman commented on #32989
-------------------------------------------------------------------------------------

Thank you for taking a look at this issue. I sent you a PM with login credentials for Charleston.

1) I can replicate this - every time - on both Charleston and Savannah -- and other Joomla sites as well.

2) The setting in the System Config. is "ON - Conservative Caching".

3) It APPEARS that Firefox is caching

[2021-04-13 20:46] PhilETaylor commented on #32989
As I told you by email then:

**What you describe is the correct behaviour of Joomla.**

Please read: https://docs.joomla.org/Cache

In general, you can think of Joomla having 3 levels of cache, increasing in aggresiveness

 - Conservative caching
 - Progressive caching
 - Page caching

To disable Page Caching - To switch this off, go to administrator Extensions / Plugins, find the System – Page C

[2021-04-13 20:59] PhilETaylor commented on #32989
"System - Page Cache" is disabled by default on new Joomla 3 installs and can be configured and toggled published/unpublished.

<img width="783" alt="Screenshot 2021-04-13 at 21 59 19" src="https://user-images.githubusercontent.com/400092/114620484-8894fd80-9ca3-11eb-8821-40f5a5d78d23.png">

[2021-04-13 21:00] JimHolloman commented on #32989
Thanks for the link. I will close this issue.

Some final comments, if I may:
1) I believe that in some previous versions of Joomla, turning Caching OFF inhibited "page' caching.
2) It would be nice to have that behavior. However, I understand that such a change will likely be considered an "enhancement" for J4 rather than a J3 issue.
3) I will likely forget to enable the Page Cache plugin once I

[2021-04-13 21:00] #32989 closed, assigned to nobody

[2021-04-13 21:08] brianteeman opened #33125 "[4.0] Required Field problem with atum style"
### Steps to reproduce the issue
Open the Atum template style and delete the values for each of the inputs in the colour tab and then save

### Expected result
The style is saved and the default values from the xml are used. (this is how you get back to default after messing up your colours)

### Actual result
![image](https://user-images.githubusercontent.com/1296369/114621368-84b5ab00-9ca4-11eb-

[2021-04-13 21:11] JimHolloman commented on #32989
I got it!  I have closed this issue.

I wonder if it be feasible to add an option in the System Configuration --> System Tab to also turn ON and OFF "page" caching? That would avoid having to go to 2 different places to disable caching. And, it would be much more intuitive.

[2021-04-13 21:16] brianteeman commented on #32989
The cache settings in global configuration and the cache settings in the page cache plugin are completely unrelated - they do different things.

No nothing has changed

You almost certainly dont need it. It is really only suitable for a site that is virtually static

No - unless you are using page cache - see my previous comment.

Yes this is set by Joomla and is nothing to do with your htaccess (

[2021-04-13 21:16] rigin opened #33126 "[3.9] Problems with indexing com_finder."
### Is your feature request related to a problem? Please describe.

1. When indexing a large site on a slow server using a CLI script, for various reasons, you have to restart the process without finishing it, because the process takes several days.

When resuming, indexing does not continue from the place where it stopped, but begins to reindex the already prepared index, although a significant p

[2021-04-13 21:20] JimHolloman commented on #32989
---- Text clipped by Jim Holloman ----

Thanks, Brian.

[2021-04-13 21:23] brianteeman commented on #33126
If the site is so large and on such a slow server that is takes several days then no amount of optimisation will really help you.

Time to bite the bullet and change to a better server. Problem solved permanently in hours saving you $$$ in time

[2021-04-13 21:38] rigin commented on #33126
That's how much I love these smart guys who, in response to a specific question, begin to lecture in the style of an old grandmother... Here's a type of youth today went... ))))
The server at my house is behind the TV. And he is weak, because I need it so much - he eats electricity less.
And the situation when a large site, even on a fast server, is indexed for many hours is typical. And the situa

[2021-04-13 21:53] brianteeman commented on #33126
There is only so much juice that you can get from a lemon before you need to get another lemon

[2021-04-13 22:43] Quy commented on #33126
![account](https://user-images.githubusercontent.com/368084/114630171-d6434300-9c6e-11eb-88e5-975ac92d6d84.jpg)

![template-style](https://user-images.githubusercontent.com/368084/114630184-df341480-9c6e-11eb-8c1d-6caccfb8653b.jpg)

![joomla-update](https://user-images.githubusercontent.com/368084/114630227-f2df7b00-9c6e-11eb-8784-0647068842af.jpg)

[2021-04-13 22:47] Quy commented on #33126
Not consistent heading/margin.

![content-language](https://user-images.githubusercontent.com/368084/114630309-2b7f5480-9c6f-11eb-8f8e-3bae1b957c55.jpg)

![update-site](https://user-images.githubusercontent.com/368084/114630357-418d1500-9c6f-11eb-9363-f865bd6bba38.jpg)

![edit-profile](https://user-images.githubusercontent.com/368084/114630380-52d62180-9c6f-11eb-8cf2-bc4a60dcbe74.jpg)

[2021-04-13 23:47] #32073 closed, assigned to wilsonge

[2021-04-14 05:02] sandramay0905 commented on #33125
Confirm the issue, result is:

[2021-04-14 05:07] particthistle commented on #31306
My checklist is a wider note on what else needs to be changed in regards to making Web Services something people uptake.

The issue @anibalsanchez has raised may be much simpler in regards to Joomla 4 changes, and may be able to see this issue closed.

The only suggestions remaining from @anibalsanchez's list are whether to rename these plugins:
- API Authentication - Basic Auth
- API Authenticati

[2021-04-14 06:52] #27614 closed, assigned to nobody

[2021-04-14 08:32] anibalsanchez commented on #31306
@particthistle You are right in the sense that naming the plugins as **Web Services Authentication** would be much clearer. However, the plugin group has already be named as **api-authentication**. So, following the Joomla naming conventions for plugins the plugin group prefix must be **API Authentication**.

I think it would be better to name the plugins as:

- API Authentication - Web Services B

[2021-04-14 08:46] sandramay0905 commented on #33126
@rigin Can you append in title "[4] "? New features go in Joomla4 so its easier to find in issue-view which version they belong. Thanks.

[2021-04-14 09:05] sandramay0905 commented on #31871
Confirm most of issue using Joomla4 - nightly build. Different is that a new editor field get filtered.

[2021-04-14 09:51] sandramay0905 commented on #31754
@sakiss I couldn't get the behaviour you get.

Only if i set in tag-options the language filter to `All` the english-tag is shown in popular tag-module and article on german language-site.

[2021-04-14 11:46] sandramay0905 commented on #31649
Confirmed the issue, test on Joomla4 - nightly build:

[2021-04-14 12:03] emmanuel-tsalampounis opened #33127 "[4.0] Problem of list-fancy-select layout on sql field type"
### Steps to reproduce the issue
I am adding `list-fancy-select` layout on a sql field as:
[code]

### Expected result
When I select multiple values to be displayed as selected

### Actual result
The values are stored in db but aren't selected

### System information (as much as possible)
PHP Built On 	Linux 39f2b7fe885b 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64
Databa

[2021-04-14 12:39] Magnytu2 commented on #33063
@PhilETaylor This is an error that has been pointed out several times from memory. #32326

[2021-04-14 12:40] PhilETaylor commented on #33063
And yet still unresolved :)

[2021-04-14 12:49] Magnytu2 commented on #33063
@PhilETaylor  Yes and as soon as you use the media manager with more than 12 images it's the same. The media manager is not solid. The display of fields over the entire width is too large. And I find that its use from an article is even more fragile and I very often find myself without illustrations.

[2021-04-14 12:55] joomdonation commented on #31649
Thanks @PeterTHM for the propose code. Thanks @sandramay0905  for checking and confirming the issue. I made PR https://github.com/joomla/joomla-cms/pull/33129 to solve the issue. Please test.

[2021-04-14 12:55] #31649 closed, assigned to nobody

[2021-04-14 13:22] ReLater commented on #33127
Related issue concerning the question: https://github.com/joomla/joomla-cms/issues/31249

[2021-04-14 20:27] HRIT-Florian opened #33133 "[4.0] Joomla 4 - Extremely CPU intensive kills server!"
### Steps to reproduce the issue
Install blank Joomla4 Beta7 on a server with CPU monitoring and without any other installation.

### Expected result
These ist for example a productive Joomla3 CPU activity on a website load

![grafik](https://user-images.githubusercontent.com/12803406/114772195-d0805700-9d6d-11eb-9191-0a999d52afe6.png)

### Actual result
And Joomla4, when just opening backend logi

[2021-04-14 20:30] Quy commented on #33133
Please test with the nightly build to see if it is still an issue. Thanks.

https://developer.joomla.org/nightly-builds.html

[2021-04-14 20:45] Didldu-Florian commented on #33133
@Quy same, here, tested again with current nightly build **Extremely CPU intensive !!**

![grafik](https://user-images.githubusercontent.com/12803406/114776657-0247ec80-9d73-11eb-8301-6becaff26ae8.png)

Joomla! Version | Joomla! 4.0.0-beta8-dev Development [ Mañana ] 2-February-2021 20:02 GMT

[2021-04-14 21:34] dgrammatiko commented on #33133
Share your exact PHP info. I'll bet you're missing something and a polyfill is used thus the bad performance

[2021-04-14 21:52] Didldu-Florian commented on #33133
@dgrammatiko hope these helps, attached export settings from that joomla instance including php info
[systeminfo-2021-04-14T23 48 39+02 00.zip](https://github.com/joomla/joomla-cms/files/6313895/systeminfo-2021-04-14T23.48.39%2B02.00.zip)

[2021-04-14 22:26] dgrammatiko commented on #33133
maybe it's easier to debug this on your side. My local setup has these extensions enabled:

[code]

[2021-04-14 23:31] Quy commented on #32750
Please test PR #33100.

[2021-04-14 23:31] #32750 closed, assigned to nobody

[2021-04-14 23:42] austre opened #33135 "Got error Invalid Login with 3.9.26 update"
I logged at adminsitrator area, start a Live Update or uploaded the 3.9.26 file.

Like other updates, i expect that should complete successfully. But, an error about Invalid Login comes out.

PHP 7.3
Apache 2
Debian 9.1
![image](https://user-images.githubusercontent.com/4764413/114793954-e0923980-9d61-11eb-988d-516ac98a2792.png)

[2021-04-15 04:52] AC1982-git commented on #20738
The issue is still present in april 2021.

[2021-04-15 06:49] sandewt opened #33137 "[4.0] Provide the Vote Plugin with a counter"
### Steps to reproduce the issue

This is an improvement proposal. In the hope it wil be useful.

### Expected result

![screen shot 2021-04-15 at 06 35 47](https://issues.joomla.org/uploads/1/985d5a899345419319902abb11d628a3.png)

The plugin has a counter.
See the number of votes next to the stars.
In this case (4). Next case (5). And so on.

### Actual result

The plugin has NOT a counter

### S

[2021-04-15 07:04] sandramay0905 commented on #33137
`Vote 5` looks like the user should give 5 stars. I would say that the info `(4)` is enough as user know that 5 comes after 4 ;-)

[2021-04-15 07:23] Fedik commented on #33133
Please try apply the changes from that PR #31143 then disable "Log Deprecated" in global config.
And tell about results.

The graph itself does not tell anything usfull that we can use for track the issue.
But would be interesting see graph compassion J3 vs J4 on same server.

[2021-04-15 07:25] sandewt commented on #33137
To avoid a misunderstanding (4) has nothing to do with the number of stars.
At some point, for example, after 140 votes, the counter will indicate (140).

[2021-04-15 07:25] brianteeman commented on #33133
First post

[2021-04-15 07:26] Fedik commented on #33133
but I read it :smile:

well then, ignore my last sentence :smile:

[2021-04-15 07:35] sandewt commented on #33137
![vote_after_2](https://user-images.githubusercontent.com/9271775/114831271-7adb9700-9dcd-11eb-954b-c1b8ce38ff99.png)

This means: rating_sum / rating_count = 14 : 4 = 3.5 stars

[2021-04-15 07:48] sandramay0905 commented on #31519
The issue should get the label `a11y`.

[2021-04-15 07:50] Didldu-Florian commented on #33133
@Fedik first post ist directly comparison vs J3 on same server. The different is extremly. Where Joomla 3 is not noticeable at all, joomla 4 strikes out extremely.

[2021-04-15 08:05] HLeithner commented on #33133
Do you have more matrices of the server load? I/O, memory usage, separated Info for Apache and SQL server. What's the timescale? Some more information about the hardware like baremetal or VM (which hypervisor). SSD, how they are connected nvme,SAS,sata?

[2021-04-15 08:06] sandewt commented on #33137
Possible alternative (2):

![vote_after_3](https://user-images.githubusercontent.com/9271775/114835739-2dadf400-9dd2-11eb-987f-3d33d18ddfae.png)

[2021-04-15 08:13] sandramay0905 commented on #31505
I wouldn't call this a "bug", more a matter of taste and @infograf768 gave a solution. But maybe my knowledge of user experience is not good enough.

[2021-04-15 08:43] Didldu-Florian commented on #33133
@Fedik same problem on mentioned PR
@HLeithner dedicated Intel Xeon as mentioned in first post with 32 GB RAM on SSD SATA (not nvme)
memory usage does not strike out noticeably. More infos next...

[2021-04-15 09:22] Fedik commented on #33133
If it possible to run profiler (eg xdebug) and attach the result, that also would be nice.

[2021-04-15 09:32] ChristineWk commented on #33135
similar: #23201<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/33135">issues.joomla.org/tracker/joomla-cms/33135</a>.</sub>

[2021-04-15 10:22] CharlieH96 opened #33138 "Password reset discloses Email Address"
Hi

This issue is about the users component disclosing if an Email Address is registered to a user or not.

Thanks

### Steps to reproduce the issue
Use the com_users password reset process
Enter a registered Email
You now know this Email is registered as it redirects you, and can check for leaked passwords etc in hopes for gaining access.
Enter an invalid Email
You now know this Email is not vali

[2021-04-15 10:31] richard67 commented on #33138
@CharlieH96 Would pull request #30787 solve your issue?

[2021-04-15 10:37] CharlieH96 commented on #33138
Hi @richard67

Yes it looks like it would.

Any news on this being merged?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/33138">issues.joomla.org/tracker/joomla-cms/33138</a>.</sub>

[2021-04-15 10:56] richard67 commented on #33138
The pull request (PR) #30787 needs 2 good tests before it will get status "RTC" (ready to commit), and then later be merged.

For testing, apply the changes in the PR and test as described there in testing instructions part of the PR's description.

After the test, please mark your test result by going to the PR in our issue tracker here https://issues.joomla.org/tracker/joomla-cms/30787 , use the

[2021-04-15 10:57] richard67 commented on #33138
Closing as having a pull request. Please test #30787 . Thanks in advance.

[2021-04-15 10:57] #33138 closed, assigned to nobody

[2021-04-15 13:13] #33135 closed, assigned to nobody

[2021-04-15 16:30] Fedik commented on #33133
Here is Top 10 "slowest methods" from profiler from my test installation (php8, fpm, nfs). When open Dashboard.

Joomla 4:
![j4-default-top10](https://user-images.githubusercontent.com/1568198/114903300-56100f80-9e1f-11eb-91ca-ccc20cfd3bc6.png)

Joomla 3:
![j3-default-top10](https://user-images.githubusercontent.com/1568198/114903389-6fb15700-9e1f-11eb-9a95-dc6bc505b9af.png)

Joomla 3 is faster, I

[2021-04-15 16:36] PhilETaylor commented on #33133
I have several Joomla 4 sites on basic cheap $5 servers at DigitalOcean and Linode and I dont see any such CPU spikes, I also dont see any spikes locally.

[2021-04-15 16:36] Fedik commented on #33133
I suspect something with their file system set-up

[2021-04-15 16:38] PhilETaylor commented on #33133
Nic runs Joomla 4 for his live akeeba.com - Im sure if there were such (consistent, replicatable  ) spikes we would have heard about it by now ;-)

[2021-04-15 16:43] joomdonation commented on #28389
@AndySDH Could you please open a new issue for your the item #4 in your suggestion so that we can look at it and get it sorted?

For #5, I guess it is a nice to have feature and we can leave it to future (not a release blocker)

[2021-04-15 16:47] brianteeman commented on #33133
His blog not his main site ;)

I've been running it for a month on learnjoomla4.com and nothing but joy so far

[2021-04-15 16:54] dgrammatiko commented on #33133
sloth-theme.site (the only true SPA/PWA ever build with Joomla) runs J4 for a year on a $5 DO VPS and here are some stats
![Screenshot 2021-04-15 at 18 51 22](https://user-images.githubusercontent.com/3889375/114907851-cb79e100-9e1b-11eb-8fe2-2e9756677e51.png)

![Screenshot 2021-04-15 at 18 50 45](https://user-images.githubusercontent.com/3889375/114907883-d3d21c00-9e1b-11eb-8af0-b7bfba069778.png)

[2021-04-15 17:19] PhilETaylor commented on #32995
so today I (re-)learned that Joomla doesn't have a caching layer that's of use, unless "caching" is enabled in global config... this sucks, (what I'll call) object caching for things like this should be "a thing" so that we can speed up joomla and stop making Joomla recalculate things on each page load - especially when nothing has changed. These internal caches should not be connected/related to

[2021-04-15 18:10] alikon commented on #33133
it's really hard to compare different metrics/tools
plus
each one of you have provided different "numbers/graph"

i'm inclined to close this issue...maybe room for https://github.com/joomla/joomla-cms/discussions

[2021-04-15 18:24] Didldu-Florian commented on #33133
Thanks all for your feedback. Our hoster has now started to check further with that issue. I'm with you, it seem not to be a Joomla issue. Anyway, if anything comes up, I will share the problem with you.

[2021-04-15 18:26] #33133 closed, assigned to nobody

[2021-04-15 18:32] PhilETaylor commented on #32738
[code]

Therefore closing.

[2021-04-15 18:32] #32738 closed, assigned to nobody

[2021-04-15 19:01] PhilETaylor opened #33144 "[4] Layout issue of non-fancy radio boxes in admin console"
### Steps to reproduce the issue

A form with a field like

[code]

note there is no `layout="joomla.form.field.radio.switcher"` part.

### Expected result

Nicely laid out standard HTML radio buttons

### Actual result

Example screenshot:

<img width="521" alt="Screenshot 2021-04-15 at 20 01 04" src="https://user-images.githubusercontent.com/400092/114923954-56130e00-9e25-11eb-9d69-d0bff889bda1.

[2021-04-15 19:01] PhilETaylor commented on #33137
PR https://github.com/joomla/joomla-cms/pull/33143

[2021-04-15 19:18] PhilETaylor commented on #32966
https://github.com/joomla/joomla-cms/pull/33145

[2021-04-15 19:19] richard67 commented on #32966
Closing as having a pull request.

[2021-04-15 19:21] richard67 commented on #33137
Closing as having a pull request. Please test #33143 . Thanks in advance.

[2021-04-15 19:21] #33137 closed, assigned to nobody

[2021-04-15 19:25] YatharthVyas commented on #33048
Please re-open this issue as the PR has been closed.

[2021-04-15 19:30] AndySDH commented on #28389
Do we need a new issue for #4? I think it's well explained and referenced. We only need a PR for the fix is someone is willing to do it.

For #5, I agree that it's only a nice-to-have feature, not a release blocker. But it's so much of a super quick fix, that I think it may be worth adding it at launch already, as I imagine is a very quick implementation (the subform only needs to have the html **

[2021-04-15 19:39] campones commented on #31981
hello

was this fixed? i migrated to a new server and took that opportunity to update my joomla cms from .21 to .25 and I can't send any test smtp email, despite it's working on the former server.

[2021-04-15 20:29] PhilETaylor commented on #32005
PR https://github.com/joomla/joomla-cms/pull/33149

[2021-04-15 20:29] PhilETaylor commented on #33083
PR https://github.com/joomla/joomla-cms/pull/33149

[2021-04-15 20:30] PhilETaylor commented on #32129
PR https://github.com/joomla/joomla-cms/pull/33149

[2021-04-15 20:45] PhilETaylor commented on #32022
PR https://github.com/joomla/joomla-cms/pull/33150

[2021-04-15 20:45] #32022 closed, assigned to nobody

[2021-04-15 20:52] PhilETaylor opened #33152 "[4] Logs are prefixed and therefore not blank page when loaded"
### Steps to reproduce the issue

When Joomla logs to a file (say in Joomla 4, global config, logging = on) it does so with the following format

[code]

### Expected result

403 Forbidden header
(or 404 Not Found for security through obscurity haha)

that nothing is output before the opening `<?php`

### Actual result

200 OK Http header

[code]

[2021-04-15 21:08] brianteeman commented on #28861
Any update?

[2021-04-15 21:15] PhilETaylor commented on #33056
@Dr-Sommer please test https://github.com/joomla/joomla-cms/pull/33064 so that it has a chance of being merged :)

[2021-04-15 21:31] brianteeman commented on #33152
Does it matter? Asking for a friend

[2021-04-15 21:34] PhilETaylor commented on #33152
Does anything really matter anymore?

[2021-04-15 21:34] #33152 closed, assigned to nobody

[2021-04-16 04:21] sandramay0905 commented on #31981
Looking at the pull request #31999 for this issue you can see it was merged:

[2021-04-16 04:35] sozzled commented on #32158
Looks like this problem was fixed (or fixed itself) with the release of J! 3.9.26.

[2021-04-16 06:22] alikon commented on #32005
please test #33149

[2021-04-16 06:22] #32005 closed, assigned to nobody

[2021-04-16 07:25] Fedik commented on #28389
The subform field already have `min`/`max` attributes https://docs.joomla.org/Subform_form_field_type

[2021-04-16 07:45] AndySDH commented on #28389
I know, that's whay I'm saying. We only need to add a Field Option for the user to enter a number a maximum rows they want for that field. And put that number inside the data-maximum="..." attribute :)

[2021-04-16 08:01] ghost opened #33164 "[4.0] Blog-View: Vote-Stars need padding"
### What needs to be fixed
- Install "Blog Sample Data",
- enable vote-plugin having position `Top`or `Bottom`,
- enable in article options view vote,
- view menu `Blog`.

Top | Bottom
--- | ---
![image](https://user-images.githubusercontent.com/78906980/115993825-d29bae80-a5d4-11eb-9d13-f11e8e5021fa.png) | ![image](https://user-images.githubusercontent.com/78906980/115993671-1b069c80-a5d4-11eb-93

[2021-04-16 09:17] HLeithner commented on #32880
You can always add a ? or a & to the url and add what ever text you want.

would also work as

nothing we can do against this. even for

Additionally to this, google tries to remove the complete url for years and with a market share of a monopolist it wouldn't take long anymore

just my 2 cents

[2021-04-16 09:22] PhilETaylor commented on #32880
Google (and the world) understand that what is after a question mark is NOT the url, but request query params.

There is a huge difference between request params, and the url.

The whole point of SEARCH ENGINE FRIENDLINESS is getting rid of query params in favour of keyword stuffed urls.

The same is true for fragments (what is after a hash sign #)

Google can hide the URL in a browser. but it is

[2021-04-16 09:26] PhilETaylor commented on #32880
also, if this is "not really a problem" how come that the URL I reported (which was perfectly valid, returning a 200 OK and loading the Joomla 3.9.25 release news), has now been "fixed" to show a 404...

https://www.joomla.org/announcements/i/HACK/HACKED/YOUR/SITE/YOU/SUCK/5834-LALALALALALALLALALALALALA

which used to work, and is exploiting this, has now been "fixed" on joomla.org to return a 404

[2021-04-16 10:58] Ruud68 commented on #32880
looking forward to the PR for this, maybe one of the maintainers can share it here.

The fake URL in my blog informing my customers about this issue is still resolving okay though, so 'I have tested this PR unsuccessful' #lol

[2021-04-16 12:30] ChristineWk commented on #33164
If correct, I don't know, but temporary got spaces with:

div.content_rating img {
padding: 0.1rem;
}
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/33164">issues.joomla.org/tracker/joomla-cms/33164</a>.</sub>

[2021-04-16 12:57] racingkars opened #33167 "Backup On Update not working?"
### Steps to reproduce the issue
Update to new version

### Expected result
Making backup before updating

### Actual result
No backup made, just updating

### System information (as much as possible)
Linux on Qnap NAS

### Additional comments

[2021-04-16 13:00] alikon commented on #33167
you should do it manually before update not a core issue

[2021-04-16 13:00] #33167 closed, assigned to nobody

[2021-04-16 13:03] racingkars commented on #33167
Thnx, Then it's probably an Akeeba issue.... Sorry, i wasn't aware....

[2021-04-16 16:02] Magnytu2 commented on #32874
I don't know if this is the right place. But as you touch once again the administration template. Are you going to put the fields back into two or three columns? The user experience is really nagative to build and extend all the fields to use Joomla !. For example, even with a 32" 4K screen, I cannot have the image and the settings on the same view.
<img width="2540" alt="Capture d’écran 2021-04-1

[2021-04-16 17:09] brianteeman commented on #32874
the answer is no not multiple columns as they dont work
but yes to not full width

[2021-04-16 21:23] Quy commented on #28845
This will not be an issue with PR #33100.

![28845](https://user-images.githubusercontent.com/368084/115085400-57911480-9ebf-11eb-9f9b-49f4271b3bfd.jpg)

[2021-04-17 06:19] #29158 closed, assigned to nobody

[2021-04-17 06:19] #28986 closed, assigned to nobody

[2021-04-17 06:20] #25890 closed, assigned to nobody

[2021-04-17 06:21] #29137 closed, assigned to nobody

[2021-04-17 07:07] sandramay0905 commented on #33127
@emmanuel-tsalampounis please add "[4.0] " to the title to make it easy to know, which version is meant.

[2021-04-17 07:22] sandramay0905 commented on #32836
@wilsonge does your answer mean that the missing core file mentioned by @Scrabble96 is expected? Sorry, i don't understand the meaning.

[2021-04-17 07:25] sandramay0905 commented on #32820
@mariantanase can you please add "4.0 " to the title so its easier to know in issues-view what version is meant?

[2021-04-17 07:31] sandramay0905 commented on #32816
@infograf768 sorry to call you but do you have a comment for this issue?

[2021-04-17 07:47] #30711 closed, assigned to nobody

[2021-04-17 07:53] micker opened #33171 "[j4] media manage - article we can't add file or pdf"
### Steps to reproduce the issue
setp 1 create an item
step 2 use joomla button to add element
step 3 try to add other thing than image ... PDF etc
we can't !!!

![image](https://user-images.githubusercontent.com/2539440/115105997-75fc1c00-9f62-11eb-9eff-a83050e28955.png)

we can't publish a cms without forgot this simple action !
For solution is :
- extend and rename image button
- adding a file

[2021-04-17 07:58] sandramay0905 commented on #33171
@micker isn't it the same in your issue #31320?

[2021-04-17 08:08] micker commented on #33171
Ahhh yes i forgot it i will close it but Can you tag the old issue for me its a beta blocker

[2021-04-17 08:09] sandramay0905 commented on #33171
What do you mean?

[2021-04-17 08:19] richard67 commented on #33171
We don’t beta blockers anymore because J4 is already in beta phase.

And this or the older issue is for sure NOT a release blocker.

[2021-04-17 08:20] richard67 commented on #33171
Closing as duplicate, details see previous comments.

[2021-04-17 08:20] #33171 closed, assigned to nobody

[2021-04-17 08:35] micker commented on #31320
No news about this ? We cant propose a good CMS without adding file in content :smile:

[2021-04-17 08:45] sandramay0905 commented on #31320
@micker I'm not sure if you see https://github.com/joomla/joomla-cms/issues/30881#issuecomment-703099110 as @Quy  suggested where @dgrammatiko wrote: "I'm planing to expand the media field for any supported type"

[2021-04-17 08:53] ratanzania commented on #17412
The permissions on the /cache and /administrator/cache need to be writable.

sudo chmod 777 /var/www/html/myjoomla/administrator/cache
sudo chmod 777 /var/www/html/myjoomla/cache

[2021-04-17 09:08] joomdonation commented on #28389
@AndySDH Added Max Number Rows parameter. The remaining thing is #4 but that's hard to fix (I don't understand custom fields enough find a solution). Unless someone comes up with a solution, we might have to stay with that limitation for now. Personal, I think that if user does not have permission to edit value of a child field, he should not be allowed to edit other fields in the Subform, too, an

[2021-04-17 09:11] infograf768 commented on #32816
@Flowman
please explain in details what you mean with
`When I am logged out and trying to access a menu item with access permissions https://test.com/en/somepagewithaccess`

what kind of menu item and which access is it set to? (if it is not Public or Guest, it may not display at all).
Or does the link to that menu item is placed in an article for example?

[2021-04-17 09:18] Fedik commented on #28389
I agree.

For now we can do like this:
Child fields inherit access from a main Subform field. Or just ignore access for child fields in general :)

What is asked in 4 requires an extra logic in before save, to preload previous data and merge with User data.
We can leave it for future improvement.

[2021-04-17 09:19] AndySDH commented on #28389
Awesome! Great job @joomdonation, thanks for your effort!

I will test this current PR probably today, and confirm here if everything works!

[2021-04-17 09:39] AndySDH commented on #28389
We can close this as we have working PR

[2021-04-17 09:41] joomdonation commented on #28389
@AndySDH Once you confirmed that the PR works and solves the issue, we will close this issue and mark the PR as ready for testing/review.

[2021-04-17 10:38] Scrabble96 opened #33172 "[3.9.26] Admin article search tools not displaying correctly and/or disappear"
### Steps to reproduce the issue
Open Joomla admin in iPad
Navigate to articles - in Landscape mode
Tap down-arrow for 'Search Tools'

### Expected result
Where direct input is required (i.e. not a drop-down), would expect to see:
- Select Category -
- Select Access -
- Select Author -
- Select Tag -

### Actual result
The above only display '0 Items'
![iPad-admin-article-search-tools](https://use

[2021-04-17 12:16] particthistle opened #33173 "[4.0] On updating Joomla, "Overridden files have changed" message should be linked to allow resolution."
### Steps to reproduce the issue
- Potentially update Joomla 4 back to Beta 7
- Update to Beta 8 (nightly build 17th April 2021 or later)
- You'll see a message re overridden files.

### Expected result
Message could link through to the Overrides issue list (same place as Notifications module button for "Override(s) to check!" takes you)

### Actual result
Message is not linked. Administrator may

[2021-04-17 13:28] rjharishabh commented on #32909
@Quy Please re-open this issue

[2021-04-17 13:58] YatharthVyas commented on #33144
I can confirm this issue for Chrome (up to date) on Windows 10
![image](https://user-images.githubusercontent.com/53610833/115115529-9653c700-9fb2-11eb-8e5e-04a69957dcb4.png)

Also, the [Plugin documentation page for Joomla 4](https://docs.joomla.org/J4.x:Creating_a_Plugin_for_Joomla) doesn't mention about `layout="joomla.form.field.radio.switcher"` in their example. I remember this because I was

[2021-04-17 14:38] particthistle commented on #33173
Additional issue on Overrides Check is mentioned in https://github.com/joomla/joomla-cms/pull/32896#issuecomment-808934119

[2021-04-17 14:58] joomdonation commented on #28389
Received good feedback from @AndySDH for the PR https://github.com/joomla/joomla-cms/pull/33096 , so closing this issue.

[2021-04-17 14:58] #28389 closed, assigned to nobody

[2021-04-17 15:12] PhilETaylor commented on #32880
So its a `won't fix` then, despite being implemented in a b\c opt-in way, it was declared a new feature and not serious enough to be classed as a security fix and therefore was rejected to be fixed in Joomla 3, despite the PR and work being done to ensure b/c and opt-in nature of it = declared dead here: https://github.com/joomla/joomla-cms/pull/32887#issuecomment-808908420

Partially.

Only if "R

[2021-04-17 15:13] PhilETaylor commented on #32741
@infograf768 you have a mac right?

[2021-04-17 15:15] PhilETaylor commented on #32577
Closing as the project has declared this is a won't fix and (newly) expected behaviour - although everyone agrees its a b/c break.

[2021-04-17 15:15] #32577 closed, assigned to nobody

[2021-04-17 15:19] PhilETaylor commented on #31723
Doesn't happen today with `staging`

[2021-04-17 15:19] #31723 closed, assigned to nobody

[2021-04-17 15:20] PhilETaylor commented on #31424
No one cares. Buried to die at https://github.com/joomla/coding-standards/issues/270

[2021-04-17 15:20] #31424 closed, assigned to nobody

[2021-04-17 15:22] PhilETaylor commented on #31725
I can no longer replicate this on any browser with `staging` today. If someone else that used to be able to confirm this, can also see its working today then we can just ignore this issue and close this.

[2021-04-17 15:22] #31725 closed, assigned to nobody

[2021-04-17 15:24] PhilETaylor commented on #31726
Tested today with macOS latest beta - Safari Version 14.1 (16611.1.21.161.3) and its still as per the opening report

I cannot replicate in Firefox or Google Chrome today

[2021-04-17 15:25] PhilETaylor commented on #32187
bigger fish to fry - doubt this will be resolved here.

[2021-04-17 15:25] #32187 closed, assigned to nobody

[2021-04-17 15:39] PhilETaylor commented on #32250
Here is the list that needs to be consistent, so choose either Top or bottom and change the others, and fix the icons

| Edit Screen | Location Of Buttons Currently | Buttons | Also |
| ------------- | ------------- | ------------- | ------------- |
| Article  | Bottom | Save Save&Close Cancel  |
| Module  | Top | Save Cancel Versions |
| Profile  | Bottom | Save Cancel | No tick on save, no cross

[2021-04-17 15:43] sandramay0905 commented on #31726
Safari 13.1 (old MacOS 10.13), php 8.0.3:

[2021-04-17 15:52] PhilETaylor commented on #31726
Give up, there are bigger fish to fry and Joomla 3 is dead￼

[2021-04-17 15:52] #31726 closed, assigned to nobody

[2021-04-17 16:16] Kostelano opened #33175 "[4b7] Parameter description "Connect Password" is duplicated (Authentication - LDAP)"
### Steps to reproduce the issue
Open the "Authentication - LDAP" plugin parameters, note that the description of the "Connect Password" parameter is duplicated.

![Screenshot_1](https://user-images.githubusercontent.com/8440661/115119486-3e689080-9fb1-11eb-9e85-b9a43b48c19a.png)

[2021-04-17 16:41] Quy commented on #33175
Duplicate #32691. Thanks for the report.

Please test using the nightly builds: https://developer.joomla.org/nightly-builds.html

[2021-04-17 16:41] #33175 closed, assigned to nobody

[2021-04-17 17:36] PhilETaylor commented on #33144
#33176

[2021-04-17 17:36] #33144 closed, assigned to nobody

[2021-04-18 07:42] stefanscheid commented on #11147
Fully agree.

If one is not regularly working with a tool, it can be a needle-in-a-haystack job to find such a a setting.
Thanks for that comment!

BTW,  joomla behaves that way , even after 4 years.
Switched it off now. When a CMS is not monitored anyway, that email also doesnt help :-D

br S.

[2021-04-18 09:19] richard67 commented on #33126
@Hackwar Is there anything we could do about this?

[2021-04-18 11:32] particthistle opened #33179 "[4.0] Files uploaded to templates with upper case extensions don't appear in folder tree."
### Steps to reproduce the issue
- Prepare a file and have an uppercase file extension eg sample.PNG
- System > Site Templates (or Administrator Templates)
- Click on template to modify template files
- Click New File to upload the new file to the template

### Expected result
Uploaded file appears in the template folder tree so you can further perform actions on the file.

### Actual result
File

[2021-04-18 11:44] particthistle opened #33180 "[4.0] Resizing template images does not have an option to keep proportions"
### Steps to reproduce the issue
- Systems > Site Templates > Open template containing the image
- Select an image
- Click on resize to resize an image

### Expected result
Resize Image modal should have an option to keep the image resized proportionally.

### Actual result
Currently there's no option to keep the resize proportional, so users need to manually calculate the proportions to keep the

[2021-04-18 12:31] Kostelano opened #33183 "[4b8-dev] Invalid field type in plugin "System - Page Cache""
### Steps to reproduce the issue
Go to the "System - Page Cache" plugin parameters. Please note that the menu item exclusion field does not look correct.

I was expecting something like multiple choice like in other fields.

![Screenshot_1](https://user-images.githubusercontent.com/8440661/115145554-d79fb180-a05a-11eb-9928-ad90202bb738.png)

### System information (as much as possible)
Joomla 4 Be

[2021-04-18 12:44] ReLater commented on #33180
Confirmed: Browser blocks sending when not both fields are filled.

Just BTW: I tried to enter 0 for the height to test if it's then resized proportionally depending on the width. I get an absolutely not helpful Joomla error message (alert) "No valid image was loaded." after page has reloaded.

[2021-04-18 12:59] Flowman commented on #32816
I have a component that sends out an email to a menu item that has access permission of "registered".

Basically just create any type of menu item with any registered access permission, copy the URL when you are logged in, logout from the page and try to access the URL. When you login you will not get redirected to the correct URL when you have the "automatic language change" option in the languag

[2021-04-18 14:56] PhilETaylor opened #33185 "[4][PHP8] Directive track_errors which caused $php_errormsg to be available has been removed."
170 uses in Joomla 4 - mainly in libraries, 63 in upstream packages

https://www.php.net/manual/en/reserved.variables.phperrormsg.php

Version | Description
-- | --
PHP 8.0.0 | Directive track_errors which caused $php_errormsg to be available has been removed.
PHP 7.2.0 | Directive track_errors which caused $php_errormsg to be available has been deprecated.

<img width="448" alt="Screenshot 2021-0

[2021-04-18 15:00] PhilETaylor commented on #33180
Here is a fun bug for you.. used the 0/90/180/270 buttons on the media rotate page, and the image magically changes dimensions... but when you save it magically jumps back to the original dimensions, but rotated... Just one of many issues with the Javascript based media manager.

[2021-04-18 15:13] richard67 commented on #33185
So we should use `error_get_last()` and get the `'message'` element where we now use `$php_errormsg`, right?

[2021-04-18 15:21] PhilETaylor commented on #33185
docs comments also say:

so that will need testing too,

Maybe something like this which we use for deprecated errors in libraries/bootstrap.php might work for Notice/Warnings - no idea - not tested - looks like a nicerway to handle warnings and errors and would allow us to remove all `@` suppression in Joomla 4?

`
set_error_handler(['Joomla\CMS\Exception\ExceptionHandler', 'handleUserDeprecatedE

[2021-04-18 15:54] Magnytu2 opened #33187 "[4b8-dev] Images in the installation of the examples of Joomla! 4"
Good morning all. I have been testing almost all versions of Joomla for some time now! 4. And I can never thank you enough for all your hard work. To make Joomla! 4 more modern and design how about using these images in the installation of the examples of Joomla! 4. I find the effect of his feminine faces very beautiful and above all it gives an effect of promise to Joomla !, a view of the future.

[2021-04-18 16:03] richard67 commented on #33187
This is definitely not an issue. Moving to discussions.

[2021-04-18 16:03] #33187 closed, assigned to nobody

[2021-04-18 17:03] PhilETaylor commented on #33062
@richard67 please reopen. Seems I no longer have rights to reopen my own closed issues.

[2021-04-18 17:25] PhilETaylor commented on #33062
My two attempts at fixing this have been rejected by the maintainers. Therefore I bow out and someone else can fix it. Im not wasting anymore time on it.

[2021-04-18 17:26] richard67 commented on #33062
I haven’t rejected anything.

[2021-04-18 17:27] PhilETaylor commented on #33062
Apologies for the plural use of the word "maintainers" :) ...

[2021-04-18 18:19] dgrammatiko commented on #33180
@PhilETaylor some of the reported issues should be fixed with https://github.com/joomla/joomla-cms/pull/33192

[2021-04-18 18:20] PhilETaylor commented on #33180
I'll take a look as soon as my back pain allows extended time at a desk. Thanks.

[2021-04-18 18:23] #32245 closed, assigned to nobody

[2021-04-18 19:47] Hackwar commented on #33126
@rigin is this indeed an issue you notice on Joomla 4? I improved the indexing process quite a bit in 4.0 and it does index a lot faster. Could you provide a bit more information about your site in order to determine if the indexing time is to be expected or not?

Generally, it is not exactly trivial to determine which parts haven't been indexed and which ones would need updating. However, checkin

[2021-04-18 21:57] brianteeman commented on #32880
This one still works
https://www.joomla.org/announcements/5834-phil-this-hack-still-works-though

[2021-04-18 23:42] ReLater commented on #33180
For this issue the main problem seems to be that `administrator\components\com_templates\src\Model\TemplateModel.php::resizeImage()` uses a hard coded `Image::SCALE_FILL`. That's a scale method that needs a defined height AND width.

I think the more popular/more often expected scale methods would be
- `Image::SCALE_INSIDE` (The larger h or w decides. Other is reduced in size. Ratio is retained.),

[2021-04-19 02:32] particthistle opened #33193 "[4.0 / 4.1] File Upload in com_templates doesn't prompt to overwrite existing file."
### Steps to reproduce the issue
- System > Site Templates > Select Template
- Upload a new file
- Upload the same file a second time

### Expected result
In the media manager when you upload a file of the same name, it prompts you if you want to overwrite it or not.

The file upload in the Template manager should also prompt you to overwrite the existing file.

### Actual result
In the media mana

[2021-04-19 05:28] Bakual commented on #32880
Just out of curiosity, what is the real disadvantage of such URLs?
I get it that Google indexes it, and it gets found if you search for the URL. But Google is smart enough to not show this fake URLs in regular searches (with search terms, not URLs). Google knows the correct address and will not show the fake one. (I've tested that with the site Ruud mentioned).

So imho it's more that it scares th

[2021-04-19 05:43] Ruud68 commented on #32880
It definitely impacts users as it where the customers who brought this to the attention of the site owner. It's a (business) vulnerability. Just like a security issue, there is no issue until you get hacked... Or in this case your business gets linked by your customers to for example anti-semitism, or other nasty stuff

[2021-04-19 05:57] Bakual commented on #32880
Still wondering how the site visitors where impacted. How did they get to see those fake URLs?
I couldn't get them to show in the Google search results using search terms. I always got the correct URL in the search results, not the fake ones.

I'm not saying this shouldn't be fixed, don't get me wrong. I'm just wondering what the severety is.

[2021-04-19 06:06] Krshivam25 commented on #33193
Hi, @particthistle  I want to get started on this. Please suggest to me how to get started.

[2021-04-19 06:54] Ruud68 commented on #32880
from google itself, hover the 'correct' url and you see the bad url, but also from news aggregation sites that use the url structure to create an index, where the category in the url is used as 'container'.
![image](https://user-images.githubusercontent.com/2733197/115193727-d61ec980-a0ec-11eb-8738-0ee85569d8e3.png)

[2021-04-19 07:09] MartinK63 commented on #32880
According to SEO experts Google takes into consideration working URLs (non 404) from other websites (backlinks) for the ranking of a website. So if keywords in the URL does not appear in the content this could lead to downgrading - especially if its in a highly contested segment.

[2021-04-19 07:21] brianteeman commented on #32880
**SEO** and **Expert** are two words that should never be used in the same sentence

[2021-04-19 07:48] YatharthVyas opened #33194 "[4.0] Plugin -> User - Joomla API Token -> Allowed User Groups doesn't reset to the default ID."
### Steps to reproduce the issue
1. Visit Joomla Admin Panel
2. Plugins -> User - Joomla API Token
3. If Super User is selected then clear it, select another group and save
4. Clear out the selection (Ctrl + Click on the selected item)
5. Save
6. Refresh / Check the database table

### Expected result
The field should attain the default value, ie. Super Users (ID: 8)

![image](https://user-images.

[2021-04-19 09:01] Cecile-GH commented on #31446
Thank you. FYI, problem solved with latest Joomla updates. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/31446">issues.joomla.org/tracker/joomla-cms/31446</a>.</sub>

[2021-04-19 09:20] Bakual commented on #32880
@Ruud68 Without knowing what search words you used, that doesn't mean much. Did you search for an URL or for a keyword?
As I said I know that if you search for the URL, you get the results. But if you search eg for "Scorpio Gold Reports", you don't get that URL.
That's why I'm curious.

[2021-04-19 09:52] rigin commented on #33126
I ran into this problem on Joomla 3.9. But I understand that this has always been the case in com_finder. ))
It's just that I got it on a combination of a slow server and a large amount of indexing.
@sandramay0905 advised to add the tag [4.0] in order to draw attention to the problem.

This problem occurred when indexing the site https://rigin.net/ . There are approximately 1,500 articles in it. H

[2021-04-19 09:56] Hackwar commented on #33126
So I'm running the improved code on a website with ~7500 items, about 3500 of those are articles. Indexing that takes about 30 minutes on a good server. Your site should index in definitely less than a day.

However, this is NOT a 4.0 problem.

[2021-04-19 10:00] rigin commented on #33126
OK, I'll fix it now.

[2021-04-19 10:01] sandramay0905 commented on #33126
Sorry @rigin i thought its a feature request.

[2021-04-19 10:02] rigin commented on #33126
This is my terrible English.. )))

[2021-04-19 10:15] MartinK63 commented on #32880
I think that Ruud fixed this for his client some time ago (with his own patch) - the website shows 404 or 410 now, so google removed the url - imho it doesn't matter how to find this - it was in the search results - so 1) people could see it - may be searching for porn - and 2) may be google was downgrading the original website because of the fake url

[2021-04-19 11:54] infograf768 commented on #32816
Hmm. Still unclear.
Let's say we have 2 languages: en-GB and fr-FR

Site default language: ?
User login site default language: ?
The mail is including the link to registered menu item. As you specifiy the `/en/` as url language code, it means that menu item is tagged to en-GB.
Is it always the same menu item tagged to en-GB? I.e `https://test.com/en/somepagewithaccess`.
Or do you have also another

[2021-04-19 12:17] HLeithner commented on #33126
If needed we can backport improvements later (maybe after j4 release) but at this point in time I would really like to bring j4 into a release able state.

[2021-04-19 12:46] chmst commented on #33183
Confirmed, field of type menuitem lets select multiple menuItems in J3.x

[2021-04-19 13:43] sandramay0905 commented on #33172
Confirm issue #2: Admin article search tools disappear =< 767.

[2021-04-19 13:57] sandramay0905 commented on #32741
Confirm issue.

[2021-04-19 14:02] sandramay0905 commented on #32732
Confirm issue.

[2021-04-19 14:43] ReLater commented on #33183
Also doesn't work when I add
`layout="joomla.form.field.list-fancy-select"`

Maybe related issue: https://github.com/joomla/joomla-cms/issues/31249

[2021-04-19 14:45] BartelBe opened #33195 "At default settings, Login Page w. Guest Access produces error "You Cannot View This Resource""
### Steps to reproduce the issue
Create a login page: Select -> users -> login unchained
Leave [default] settings unchanged
Set Access Level to Guest

### Expected result
User login should result error free

### Actual result
Malformed error message appears:
×
Error
You are not authorised to view this resource.
Apart from the error message display, everything works as expected.

### System informa

[2021-04-19 15:31] infograf768 commented on #32816
Wait a bit. I have to test something else.

[2021-04-19 15:38] Fedik commented on #33183
It looks correct, it display `<select multiple>` as it set in XML. The "fancy select" is optional thing.
However, to have a fancy select in this field need to fix `GroupedlistField`

And yes, it related to #31249, but of course not the same.

[2021-04-19 15:38] Fedik commented on #31249
To fix this issue need to move `GroupedlistField::getInput()` to layout as it done for `ListField::getInput()`
and create 2 layouts
 `joomla.form.field.groupedlist` - default
 `joomla.form.field.groupedlist-fancy-select` - optional

[2021-04-19 15:43] Flowman commented on #32816
@infograf768

Wanted to record a gif for you, but Joomla lanucher is a bit broken and does not launch an new site for me.

[2021-04-19 15:51] sandramay0905 commented on #32816
is reported: https://github.com/joomla/joomla-websites/issues/1614#issuecomment-821979170

[2021-04-19 17:33] richard67 commented on #33194
@YatharthVyas That's how form validation works in Joomla (at least in 4), as far as I know. If there is a field which has an invalid value, and I'd assume an empty group ID field is such a case, then the form is not saved, so all previous values are retained.

This makes sense since there might be interdependencies between fields regarding data, so it could lead to an inconsistent result if you ju

[2021-04-19 17:46] richard67 commented on #33194
Thinking more about it, I don't see any issue. Clearing the field with selecting it while CTRL key pressed is nothing which a user would want to do, and if that happens, it's ok for me that the field changes back to the previous selection when saving.

[2021-04-19 17:50] YatharthVyas commented on #33194
It makes sense now. Thanks for the insight @richard67 . I'll close the issue for now and if need be, it can always be re-opened.

[2021-04-19 17:51] #33194 closed, assigned to nobody

[2021-04-19 18:11] richard67 commented on #33195
@BartelBe Is it the same issue as #29161 ? If so, and I think it is, then it is expected behaviour. Please check the discussion in that issue and let us know if you are ok with it. If so, you or we can close this issue here. Thanks in advance.

[2021-04-19 18:12] richard67 commented on #33195
P.S.: Especially this comment explains it well: https://github.com/joomla/joomla-cms/issues/29161#issuecomment-631135633

[2021-04-19 18:50] Quy commented on #30532
No longer an issue.

[2021-04-19 18:50] #30532 closed, assigned to nobody

[2021-04-19 18:57] Fedik commented on #33127
@emmanuel-tsalampounis does it works for you for a standard `<select>`?:

[code]

[2021-04-19 19:12] BartelBe commented on #29161
All true, but for usability sake, you can avoid all the fuzz (for the webmaster without the thorough experienced based troubleshooting) by simply requiring to select a page, instead of defaulting to an error situation in case of guest access.

[2021-04-19 19:14] BartelBe commented on #33195
Right, same as #29161.
All true, but for usability sake, you can avoid all the fuzz (for the webmaster without the thorough experienced based troubleshooting) by simply requiring to select a page, instead of defaulting to an error situation in case of guest access.

[2021-04-19 19:14] #33195 closed, assigned to nobody

[2021-04-20 06:10] ghost opened #33199 "Frontend: "Edit Menu" open Module if "Edit Module" is set to "Administrator""
### Steps to reproduce the issue
#### Backend
1. Open global configuration , set `Inline Editing` to `Modules & Menus`
2. Open module options, set `Edit Module` to `Administrator`
#### Frontend
1. Login, click on an `Edit menu item`-button
2. Module of this menu open in Backend

### Expected result
Menu open in backend

### Actual result
Module open in backend

### System information (as much as p

[2021-04-20 06:18] infograf768 commented on #32816
@Bakual @bembelimen
Can you have a look at this?

[2021-04-20 07:07] Flowman commented on #32816
Here we go, fired up a quick docker to record this.

As you can see when "automatic language change" option is disabled, it redirects to the right page. When enabled it fails back to the login page.

![joomla_error](https://user-images.githubusercontent.com/212680/115352287-c76a0c80-a1e9-11eb-8598-cdfd0d7b97f3.gif)

Hope this helps to fix the issue. The same code exists in Joomla 4 and will fail i

[2021-04-20 07:10] Fedik commented on #33194
This is how `<select multiple>` works, if all items is unchecked then the browser do not send anything to server, and so on server stays old value.
The same behavior for checkboxes, if they unchecked then the browser do not send anything to server.