[2019-06-02 07:50] brianteeman commented on #23142
I would not be in favour of that @quy as other non microsoft applications create the old style doc, xls and ppt files. I am also personally using office 2016 which is not end of life until the end of 2020. I dont see any advantage in this change or am i missing something

[2019-06-02 11:03] Quy commented on #23142
This is to keep existing ones and decide which new ones to add.

[2019-06-02 14:02] Chacapamac opened #25087 "[4.0] Fix to Administration UI UX & overall design of backend template"
First you can see my full conversation on Joomla forum (with more than 41672 view) here —> https://forum.joomla.org/viewtopic.php?f=803&t=970614

**Difference between an older design proposes and the “new” one that seem to be implanted;**

The following image represents, an older design of the administration for Joomla 4 and the newer one.

I’m testing Joomla 4 right now and I find the design rela

[2019-06-02 14:19] Quy commented on #25087
You're commenting on the old design. Please review the [new backend template](https://github.com/joomla/backend-template/tree/release).

[2019-06-02 14:19] brianteeman commented on #25087
PLEASE look at the work being done in the dedicated admin template repo where you can see all the work being done on the template and you will see that it is VERY different to the one here in the current alpha.

https://github.com/joomla/backend-template (use the releases branch)

Any comments you have etc should be made their and not here and because this post doesnt reflect  the current state of

[2019-06-02 14:20] franz-wohlkoenig commented on #25087
closed as stated above.

[2019-06-02 14:20] #25087 closed, assigned to nobody

[2019-06-02 14:22] brianteeman commented on #25087
I know you know about that repo as you have been told about it before

Did you ever reply to this request https://github.com/joomla/joomla-cms/issues/24380#issuecomment-477890217

[2019-06-02 16:02] brianteeman opened #25088 "[4.0] Duplicate ID from associations ?"
It is very important that there are no duplicate ID on a page. If you go to a page like administrator/index.php?option=com_tags&view=tag&layout=edit and search the source you will find TWO identical ID of jform_id.

As far as I can tell one is coming from layouts/joomla/edit/global.php and was introduced in #22166
The other is coming from joomla-cms/layouts/joomla/edit/publishingdata.php

[2019-06-02 17:08] #21071 closed, assigned to nobody

[2019-06-02 17:08] Quy commented on #21071
Fixed in PR #21837<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21071">issues.joomla.org/tracker/joomla-cms/21071</a>.</sub>

[2019-06-02 18:37] mbabker commented on #25025
As the note says at the top of the page, the requirements reflect the current version of the branch.  Otherwise, the page would get un-ruly rather quickly by noting what version of Joomla added support for a PHP version or what version of Joomla introduced a requirement for a PHP extension or what version of Joomla removed a requirement for a PHP extension.

The page updates will be rolled out in

[2019-06-02 18:38] HLeithner commented on #24857
This should still be the case see the src

https://github.com/joomla-framework/database/blob/2.0-dev/src/DatabaseDriver.php#L1308

[2019-06-02 18:43] brianteeman commented on #25088
Basically the ID is included in the publishingdata tab and in the basic settings

[2019-06-02 19:19] brianteeman commented on #24168
@infograf768

That's not the right PR?

[2019-06-03 00:12] #22110 closed, assigned to nobody

[2019-06-03 00:12] Quy commented on #22110
Closing as not reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22110">issues.joomla.org/tracker/joomla-cms/22110</a>.</sub>

[2019-06-03 02:00] #20925 closed, assigned to nobody

[2019-06-03 02:00] Quy commented on #20925
Closing as not reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20925">issues.joomla.org/tracker/joomla-cms/20925</a>.</sub>

[2019-06-03 03:45] Quy commented on #22828
Is this an expected behavior and won't fix? Even the `title` attribute of an `img` tag in contents is not indexed.

[2019-06-03 06:14] SharkyKZ commented on #22828
Attributes could be indexed. But what should and shouldn't be indexed is a matter of discussion.

[2019-06-03 06:28] #22247 closed, assigned to nobody

[2019-06-03 06:45] #22507 closed, assigned to nobody

[2019-06-03 06:45] alikon commented on #22507
closed as we have a pr joomla-projects/custom-elements#119<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22507">issues.joomla.org/tracker/joomla-cms/22507</a>.</sub>

[2019-06-03 07:02] #21869 closed, assigned to nobody

[2019-06-03 07:02] alikon commented on #21869
closed as expected behaviour<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21869">issues.joomla.org/tracker/joomla-cms/21869</a>.</sub>

[2019-06-03 07:56] andykirk opened #25092 "[4.0] Custom Fields for Menu Items"
### Is your feature request related to a problem? Please describe.

Page (URL)-specific content that is outside the scope of a component to provide can currently only be provided by modules. However, using modules has two drawbacks:

1. Modules are really meant to provide reusable content across multiple pages, not specific content to specific pages.
2. On a site with many pages, many, often simil

[2019-06-03 08:08] franz-wohlkoenig commented on #25092
New Features would go in J4.

[2019-06-03 08:20] infograf768 commented on #25088
I may have a solution. Will create PR to test.

[2019-06-03 09:09] infograf768 commented on #25088
Closing as we have a patch
https://github.com/joomla/joomla-cms/pull/25096

Please test.

[2019-06-03 09:09] #25088 closed, assigned to nobody

[2019-06-03 09:18] ymages commented on #24380
I am with Chacapamac  , this backend design is absurd, Ill do my own template... no customer on earth will accept this design

[2019-06-03 09:48] webgras opened #25099 "Improve UX for error "verification code not found""
### What needs to be fixed
Improve the language string COM_USERS_ACTIVATION_TOKEN_NOT_FOUND
old: Verification code not found.
new: Verification code not found. Check if your account is already activated and try to log in.

### Why this should be fixed
If a user registers at the website and gets the confirmation email to activate the account, and clicks the confirmation link with the authentication

[2019-06-03 10:10] franz-wohlkoenig commented on #25099
Guess its for J3.

[2019-06-03 10:16] webgras commented on #25099
yes, sorry, forgot to mentiont.

[2019-06-03 13:03] Quy commented on #25099
Please submit your PR to Joomla repo.

[2019-06-03 13:26] Chacapamac commented on #25087
Thanks Brian, I’m trying to see how to use https://github.com/joomla/backend-template as, if I understand well you need to setup a local environment before being able to use the files there.

Any screenshots of this “New Administration design” ?

Elisa reply to me and say that I should contact Benjamin Treacle.

[2019-06-03 13:38] webgras commented on #25099
yes, I will do that.

However, somebody suggested in a glip channel, that in case the activation token is - for example - not copied correctly or with a line break within the email, then the token will not be found. Then the error message is correct. So probably, we should also give information about that.

Shall we add some more information like that?
`"Verification code not found. <br>Check if y

[2019-06-03 13:48] Quy commented on #25099
Go for it. Others can comment once there is a PR to test.

[2019-06-03 14:36] franz-wohlkoenig commented on #25099
Closed as having Pull Request #25107

[2019-06-03 14:36] #25099 closed, assigned to nobody

[2019-06-03 16:09] mbabker commented on #25092
This is exactly what the plugin events in the MVC layer for forms is meant for.  In a well designed and documented system, a plugin could add fields to the form using the existing API (something that isn't well documented, custom fields make this a little easier but they don't handle the upload aspect of this example) and have them easily rendered (this is the part that's most painful as far as UI

[2019-06-03 16:11] xillibit commented on #24857
By calling ``$db->loadObjectList('id');`` it show as result :

``array (size=2)
  11 =>
    object(stdClass)[924]
      public 'id' => int 11
      public 'mesid' => int 43
      public 'userid' => int 106
      public 'protected' => int 0
      public 'hash' => string '68ed90e0ef18f2c9414f1160d492987f' (length=32)
      public 'size' => int 146235
      public 'folder' => string 'media/kunena/att

[2019-06-03 16:12] mbabker commented on #24536
Can someone on the bug squad please explain why there are now two RFC labels, and why the existing one wasn't just renamed if you wanted to change from the acronym to the fully spelled out name, and why nothing was posted on the issue tracker repo about this maintenance since there are code level integrations in the tracker regarding this label?  This seems like someone created more work for thems

[2019-06-03 16:34] mbabker commented on #24857
I'm going to take a guess you're using MySQLi.  And I'm going to take a guess the custom class you're loading has code in its constructor which results in a database query being executed in select circumstances, and as a result the result cursor from your multi-row query is being lost.  Not much that can be done here without dropping prepared statement support or dropping MySQLi support.

The long

[2019-06-03 16:49] franz-wohlkoenig commented on #24536
i tried to use a short one using a Description if you hover but if i delete the long-named label it is automatic assigend again, i guess by using "[RFC]" in title. I can't tell you why this not works so i gave up and live with this circumstances.

[2019-06-03 16:54] mbabker commented on #24536
[This method](https://github.com/joomla/jissues/blob/325aff2519a8462ce7413b9621aefc5dfe8e4d4f/src/App/Tracker/Controller/Hooks/Listeners/JoomlacmsIssuesListener.php#L114) in the issue tracker checks the title for "[RFC]" on issues, and [this method](https://github.com/joomla/jissues/blob/325aff2519a8462ce7413b9621aefc5dfe8e4d4f/src/App/Tracker/Controller/Hooks/Listeners/JoomlacmsPullsListener.php#

[2019-06-03 17:00] franz-wohlkoenig commented on #24536
Solution is to delete the "RFC"-Label and rename the "Request for Comment" to "RFC"?

[2019-06-03 17:02] mbabker commented on #24536
If you all want the label to be "RFC" then yes, delete the current "RFC" label, rename the "Request for Comment" label to "RFC", and submit a pull request to the issue tracker changing those files to use the new label name.  Same goes with any other label managed in those two files.

[2019-06-03 17:05] franz-wohlkoenig commented on #24536
thanks @mbabker. @Quy can you make a PR as we talked today about that RFC-Issue?

[2019-06-03 18:11] Quy commented on #25087
Here is information to setup a local environment:

https://docs.joomla.org/Special:MyLanguage/J4.x:Setting_Up_Your_Local_Environment

[2019-06-03 18:12] visualtribe commented on #25033
Question

When you tested your setup was your login link set to Public or Guest? I fixed my issue by setting the login link from Guest to Public and everything worked. I found that solution from a Stackoverflow post. However, the login link should work with Guest.

[2019-06-03 19:06] andykirk commented on #25092
Hey, thanks for the replies, much appreciated.
Not sure if I fully understand/agree with all the points though.

@mbabker :

Example 1:
"they don't handle the upload aspect of this example" - you mean uploading the hero image? I'd use the media custom field for that - it allows you to upload images. Did I misunderstand what you meant?
Custom Fields in this example would be quicker and easier than

[2019-06-03 19:48] mbabker commented on #25092
If that media field is a wrapper around the same media field used in core where it lets you upload images into the modal, then that works.  But out-of-the-box no custom field is able to process uploads on its own (that one hooks into the existing logic in com_media), as a generic re-usable field can't make assumptions on how to safely process uploads; so if you're looking for anything that support

[2019-06-03 20:06] andykirk commented on #25092
Thanks.

The media custom field would work just fine in the scenario described.

Custom fields defined for a Menu Item in this case would be retrieved and acted upon by the template itself, no extra plugin would be required.

I've no problem with writing plugins, I just thought it might be useful to share my experience and thoughts on occasions where I'd find it useful / convenient to have custom

[2019-06-03 21:14] ReLater commented on #25033
The most common workaround is to assign the user `Guest` group in `Super User` profiles, too. Then you don't have to change the settings of the login link.
Not a perfect solution but normally acceptable.

[2019-06-03 21:36] visualtribe commented on #25033
I was using superuser and it still gave me the error and wouldn't let me activate anyone until I made it Public.

[2019-06-03 21:54] joomlabeat opened #25109 "Language Switcher Cache - Bug with Modern URL Routing"
### Steps to reproduce the issue
I am encountering an issue with Modern URL Routing and Switching Languages of the articles, which seems to happen when Cache is enabled. So before I describe the whole configuration, let me also ask where has the Caching Option of the Language Switcher module gone, as I can't find it anymore in the module's Advanced Tab, and it seems impossible to exclude the modul

[2019-06-04 01:06] hgh-esn commented on #25017
@ReLater @roland-d

I got it to run now. But it was something strange.
For my tests of the earlier version, I renamed the file: .../changelog.xml    ->     .../changelog**s**.xml
So (with '**s**') it was installed in the database.

To test the latest version I haven't deinstalled my example plugin. But the xml-filename had changed - by default - to .../changelog.xml without '**s**'. So it doesn't

[2019-06-04 03:27] recreatinganew opened #25110 "Tags class empty until edit/save"
Create and save a tag during backend article creation.
Tag class is empty.
Open/edit/save/close tag in backend.
Tag class is changed to "label label-info".

I have confirmed this also happened in prior recent versions of Joomla.
Joomla 3.9.6

![image](https://user-images.githubusercontent.com/12423349/58849119-21de3c00-8657-11e9-98c7-43700ad28385.png)

[2019-06-04 05:35] SharkyKZ commented on #25110
This is an issue with your template. Although class is indeed not saved for tags created on the fly, the default tags layout uses `label label-info` class as fallback:

https://github.com/joomla/joomla-cms/blob/71266bdfb3b3b9f14c23ee32018c4cbaf9596129/layouts/joomla/content/tags.php#L24

Your template has a tags layout override (templates/shaper_helix3/html/layouts/joomla/content/tags.php) which d

[2019-06-04 06:52] franz-wohlkoenig commented on #25110
closed as no core Issue.
Please ask on [Forum](https://forum.joomla.org/) if further Informationsa are needed.

[2019-06-04 06:52] #25110 closed, assigned to nobody

[2019-06-04 10:02] ReLater commented on #25109
Related pr that removed the Cache setting from module: https://github.com/joomla/joomla-cms/pull/23174
After clicking through many linked issues I gave up and don't know the real background of this removal for sure.

I think the reason is this find https://github.com/joomla/joomla-cms/issues/23147
When I understand correctly the language switcher module is never cached.

[2019-06-04 11:38] ReLater commented on #25033
Just to clarify that you didn't misunderstand my comment:

![grafik](https://user-images.githubusercontent.com/20780646/58876334-0f531980-86ce-11e9-9cd8-63d97440cd53.png)

[2019-06-04 12:35] joomlabeat commented on #25109
It seems that it gets cached though. Cache manager shows mod_languages cached files.

[2019-06-04 13:47] SharkyKZ commented on #25109
See if PR https://github.com/joomla/joomla-cms/pull/24916 helps.

[2019-06-04 16:03] visualtribe commented on #25033
Understood, but should superuser not already be tied to Guest by default rather than adding them to guest? If I have to do this then that precludes there is something wrong with the coding that is interfering with superuser belonging to guest or really any group. Any group should be able to see guest by default. Yes?

[2019-06-04 16:16] Quy commented on #23883
Unable to reproduce error.

[2019-06-04 16:33] SharkyKZ commented on #25080
Test PR #25119 please.

[2019-06-04 16:38] Quy commented on #24536
It was mentioned in BS last meeting that there are 2 RFCs. I don't know when the 2nd one got added. If we use `Request for Comment` label, then we don't need to update issue tracker, but it is not up to me to decide.

[2019-06-04 16:40] #25080 closed, assigned to nobody

[2019-06-04 16:44] #23883 closed, assigned to nobody

[2019-06-04 17:00] franz-wohlkoenig commented on #24536
I added the second one "RFC" as its shorter and similar to "RTC" - both have a hover Description. So i like the Solution @mbabker wrote but this needs a PR.

[2019-06-04 17:07] Quy commented on #24536
PR created https://github.com/joomla/jissues/pull/1060

[2019-06-04 17:44] roland-d commented on #25017
@hgh-esn I find it hard to follow what you are doing.

If you manually change the file on your server, you cannot expect Joomla to know what file you have there. If you want an updated changelog file to be read, you will need to re-install the extension.

Please create a new issue for it so we can look into it. This issue is closed.

build/media_source/com_installer/js/changelog.es6.js

[2019-06-04 17:48] ReLater commented on #25033
Any logged in user normally doesn't see what is set to Guest. Guest is similiar to Public (no registration, no rights) but gives you the possibility to hide modules, menu items etc. that are only for NOT logged in users. Logged in users don't see them.

That's somehow open to interpretation. Following the above logic, no. But yes, your issue came up a little bit unexpected with Joomla 3.9.iDontKno

[2019-06-04 18:25] Quy commented on #24181
@coolcat-creations Is this still an issue with v3.9.6?

[2019-06-04 20:34] #22839 closed, assigned to nobody

[2019-06-04 20:34] Quy commented on #22839
Related #25087. Please discuss in the new backend template repo. https://github.com/joomla/backend-template/tree/release<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22839">issues.joomla.org/tracker/joomla-cms/22839</a>.</sub>

[2019-06-04 21:51] Chacapamac opened #25122 "Update Alpha 8 to 10 error - A string or Joomla\Uri\UriInterface object must be provided, a "NULL" was provided."
**Steps to reproduce the issue**
Update local Mamp Alpha 8 to 10

**Additional comments**

I get this error on updating from Alpha8 to Alpha 10.

**_Not sure if anything is installed but it stay at Alpha 8 ?_**

[2019-06-04 22:16] brianteeman commented on #25122
it is expected that updates with alpha releases will not work

[2019-06-04 22:21] #25122 closed, assigned to nobody

[2019-06-04 22:21] Quy commented on #25122
Please test using the nightly builds. https://developer.joomla.org/nightly-builds.html<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25122">issues.joomla.org/tracker/joomla-cms/25122</a>.</sub>

[2019-06-05 06:08] coolcat-creations commented on #24181
Yes, but I gave up trying and use 3rd party captchas on all sites. I guess its related to that it seems to use mootools.

[2019-06-05 06:47] brianteeman commented on #24019
and there is an even better solution which is zero maintenance and fully accessible - however it only supports gregorian calendars. I assume @infograf768 that this would not be acceptable unless there was some way for it to fall back to a scripted version for non-gregorian calendars?

[2019-06-05 07:08] SharkyKZ commented on #22516
I misunderstood the issue. This is duplicate of #20556.

[2019-06-05 07:55] BaleshSrle commented on #22609
I must have read "Intranet" because @SharkyKZ might wrote that.
BTW, how does Joomla! uses CDN for Banners @ Joomla! Volunteers Portal ?

[2019-06-05 08:03] franz-wohlkoenig commented on #22609
Please ask on [Forum](https://forum.joomla.org/)

[2019-06-05 08:23] dgrammatiko commented on #24019
@brianteeman AFAIK Joomla using a date-time picker not a date-picker so your suggestions are not fit

[2019-06-05 09:26] BaleshSrle commented on #22609
@franz-wohlkoenig I mean, if Joomla! can use CDN for Joomla! Volunteers Banners, why can't it use CDN for JQuery, HTML5Shiv, Bootstrap & Mootools . Right?

[2019-06-05 11:43] Chacapamac commented on #25122
This is what I did and add as custom URL —> https://update.joomla.org/core/nightlies/next_major_list.xml

I guess that doesn't work as Brian explain, now how can I update a test site I’m working on without reinstalling completely?

[2019-06-05 11:48] brianteeman commented on #25122
You always have to do a new install

[2019-06-05 12:05] Chacapamac commented on #25122
Thanks Understood.

[2019-06-05 12:23] mbabker commented on #22609
Out-of-the-box, Joomla cannot require files be loaded from a third party CDN.  Someone using Joomla can opt to use a CDN if they choose.

If you are in a closed network environment (AKA intranet), where there is limited or no access to the public internet, then loading files from a CDN is not going to be possible.  This is basically the same as if you're working on a copy of a website on your loca

[2019-06-05 13:25] brianteeman commented on #23888
@zwiastunsw please update this so that I can know if there are any more to fix

[2019-06-05 13:30] brianteeman opened #25125 "[4.0] Unused modal in com_fields"
While working on #23737 I can't see how or where `administrator\components\com_fields\Field\Modal\FieldField.php` is used. Can anyone enlighten me?

[2019-06-05 14:04] eddiekonczal opened #25127 "Accessibility violation triggered by "Search Form or Search Results" menu item: Form elements must have labels"
### Steps to reproduce the issue

Create a "Search Form or Search Results" menu item

Audit the web page with an accessibility tool such as Deque WorldSpace plugin for Chrome

### Expected result

The accessibility tool should not find any violations.

### Actual result

The following violation is reported:

Form elements must have labels

Issue description
Ensures every form element has a label

[2019-06-05 16:22] brianteeman commented on #25127
That is coming from the dropdown for ordering and unfortunately cannot be fixed as it is a problem with the js library used for that dropdown. The only thing I can suggest is to either disable the "Use search options" or to create a template override.

![image](https://user-images.githubusercontent.com/1296369/58972885-819f2900-87b6-11e9-9fac-46e781213c02.png)

[2019-06-05 16:51] zwiastunsw commented on #23888
I'm very busy until June 12th. I'm sory

[2019-06-05 17:17] #24181 closed, assigned to nobody

[2019-06-05 17:21] alikon commented on #22828
imo matter for 4.x.....closing

[2019-06-05 17:22] #22828 closed, assigned to nobody

[2019-06-06 07:52] infograf768 opened #25130 "[4.0] J Installation: loss of session language when getting to the "remove" view"
### Steps to reproduce the issue
See https://github.com/joomla/joomla-cms/issues/23222 which I now close as this one will replace it.
It is also a ping...

Set your browser preferred language to en-GB
Install a clean Joomla 4.
Select en-US as language.
Process installation until getting to the remove view.
Pass steps one after the other. en-US is kept as language and direction until getting to the

[2019-06-06 07:53] infograf768 commented on #23222
Closing in favour of https://github.com/joomla/joomla-cms/issues/25130 as it is more detailed.

[2019-06-06 07:53] #23222 closed, assigned to nobody

[2019-06-06 07:54] infograf768 commented on #25130
@franz-wohlkoenig
Please add this one to todo list to replace https://github.com/joomla/joomla-cms/issues/23222

[2019-06-06 08:00] franz-wohlkoenig commented on #25130
which Project you want?

[2019-06-06 08:01] infograf768 commented on #25130
You did it fine, thanks.

[2019-06-06 08:07] brianteeman commented on #25130
I can confirm this issue and to my unskilled eye the problem is that the value selected is NOT being stored in the session - so as soon as the page changes it reverts to the default because the code to get the value from the session always returns empty

[2019-06-06 08:55] hgh-esn opened #25132 "[4.0] Backend: Admin-Login via tablet or smartphone unimpossible"
### Steps to reproduce the issue

Use an smartphone/tablet (android) and try to login to the admin-backend under `https:://myDomain/administrator`.

### Expected result

After setting up all necessary login-data (user,password) the backend should be displayed.

### Actual result

At the moment, the login fails with a message: "Security token didn't match. ...." and a note:  "Fieldvalue can not be

[2019-06-06 09:07] dmitriy-cloudaccess opened #25133 "Wrong download links in XMLs"
This issue is similar to https://github.com/joomla/joomla-cms/issues/24638

https://update.joomla.org/core/nightlies/next_patch_list.xml has wrong download links.
version pointed in the XML is `3.9.7-dev`.
I guess actual version is 3.9.7-rc-Release_Candidate
Update server doesn't work because of that.

[2019-06-06 09:17] HLeithner commented on #25133
My fault, should work again.

[2019-06-06 09:17] #25133 closed, assigned to nobody

[2019-06-06 09:57] infograf768 commented on #25130
In fact, I think it is stored in the session. Tested by dumping `Factory::getSession()->get('setup.options.language');` towards the end of `InitialiseApp` method.
It looks therefore that the session is deleted or reinitialized further down the process.

[2019-06-06 10:18] dmitriy-cloudaccess commented on #25133
Works now. Thanks.

[2019-06-06 14:12] hgh-esn commented on #25021
@roland-d  @infograf768  @richard67 @ReLater

Should I go into code-changing to get this solution?
What's your opinion about that?

[2019-06-06 14:48] ReLater commented on #25021
Just because you pinged me: Here's my personal opinion:
1) I hate "hovers" and would prefer the popup in this case. The only practicable way to copy a link.
but also
2) I hate unnecessary clicks and would leave it as it is now in current Joomla backend. Both URLs always visible.
but also
3) I don't have to decide that

[2019-06-06 16:58] richard67 commented on #25021
@hgh-esn

I would say: No, leave it as it is. But that's just my personal opinion, I don't have to decide that.

[2019-06-06 17:13] infograf768 commented on #25021
agree with leaving it as is.

[2019-06-06 17:23] roland-d commented on #25021
Leave it as it is. The URLs are also long because you have a long URL :grin: Your URL has three subfolders.

[2019-06-06 17:23] #25021 closed, assigned to nobody

[2019-06-06 21:04] joeforjoomla commented on #24333
https://github.com/joomla/joomla-cms/pull/24338 works perfectly, no more errors

[2019-06-07 03:03] Quy commented on #25125
I assume it is for the Field button in the editor.

![editor-field](https://user-images.githubusercontent.com/368084/59078905-175db580-8896-11e9-8d42-7f4fb8f46ca1.jpg)

[2019-06-07 06:14] brianteeman commented on #25125
@quy thanks for the answer but I don't think that's it. Deleting the file has no impact on that button or the resulting modal

[2019-06-07 09:22] infograf768 commented on #24168
The right PR was https://github.com/joomla/joomla-cms/pull/24173

Reopening as `Change Status` issue is not solved yet.

[2019-06-07 13:11] Quy commented on #25125
You're right. I think it is safe to delete. In it there are untranslated language strings.

[2019-06-07 15:03] infograf768 commented on #25125
That kind of modal is used when there are associations that can be set when editing an item.
For example for com_content:
https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_content/Model/ArticleModel.php#L1107-L1137

1. There is no code to associate fields in the preprocess form of FieldModel
2. I don't even know if it makes sense to associate fields.

ATM, the field ty

[2019-06-07 15:09] infograf768 commented on #25125
As for the Field displaying in the TinyMCE CMS Content dropdown, it depends on the Button - Field editor-xtd and I wonder what it is used for as we can't select a field in the modal produced but only displays the existing fields.

[2019-06-07 15:51] Quy commented on #25125
It works in J3, but not in J4.

From the `Content - Fields` plugin:
[code]

[2019-06-07 16:18] franz-wohlkoenig commented on #25016
Guess its for J3 so adding the Label.

[2019-06-07 20:57] #25125 closed, assigned to nobody

[2019-06-07 20:57] Quy commented on #25125
Please test PR #25139.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25125">issues.joomla.org/tracker/joomla-cms/25125</a>.</sub>

[2019-06-07 21:09] brianteeman commented on #16271
@franz-wohlkoenig I assume you added the wrong tag?

[2019-06-07 22:12] brianteeman commented on #20977
After a year without reply I would close this

[2019-06-07 22:17] brianteeman commented on #21904
This really should be closed

[2019-06-07 22:22] #21904 closed, assigned to nobody

[2019-06-07 22:29] #20977 closed, assigned to nobody

[2019-06-07 22:30] brianteeman commented on #19337
As stated by @dgrammatiko this is beyond our control and the option and its limits are described correctly - please close - if I have misunderstood something it can always be reopened

![image](https://user-images.githubusercontent.com/1296369/59136697-2fa80000-897c-11e9-8665-b5dfcd77faf9.png)

[2019-06-07 22:33] #19337 closed, assigned to nobody

[2019-06-07 22:53] Quy commented on #23651
Is this the responsibility of the user/Artisteer template to adapt to Joomla 4 since it is not stable yet?

[2019-06-07 22:55] Quy commented on #19059
Anything to fix here? There is a solution as provided.

[2019-06-07 23:21] Quy commented on #18287
Since this issue arises when performed outside of Joomla, can this be considered as won't fix?

[2019-06-08 00:09] Quy commented on #20286
Pending PR #24025

[2019-06-08 03:26] mbabker commented on #23651
Should be closed as a won't fix and/or known B/C break.  Again, this is someone's module relying on functionality that happened to work due to scope creep and not purposeful API design.

[2019-06-08 03:42] franz-wohlkoenig commented on #23651
closed as stated above.

[2019-06-08 03:42] #23651 closed, assigned to nobody

[2019-06-08 03:44] franz-wohlkoenig commented on #20286
If #24025 is merged this Issue get closed.

[2019-06-08 04:29] Quy commented on #19652
An intermediary solution is to open the link in a new tab. Edit it. Close the tab which will bring you back to previous tab with all the menu items.

[2019-06-08 04:46] franz-wohlkoenig commented on #19652
Can this Issue be closed?

[2019-06-08 08:33] hgh-esn opened #25141 "[4.0] Backend: Version-modal is unable to close"
After installing the act. Nightly build 4.0-dev I found out this:

### Steps to reproduce the issue
Login into the backend.
Select an element in (categories, articles, etc.) and go into edit-mode.

When clicking to the Version-button a modal opens.

### Expected result

The modal should have reaching [x] or a reaching close button.

### Actual result

Both button are there, but the could not be cl

[2019-06-08 08:56] franz-wohlkoenig commented on #25141
@Quy shouldn't #25001 fix this?

[2019-06-08 09:15] infograf768 commented on #25141
#25001 does not fix it.
duplicate https://github.com/joomla/joomla-cms/issues/22044
closing

[2019-06-08 09:15] #25141 closed, assigned to nobody

[2019-06-08 09:15] richard67 commented on #25132
@hgh-esn Does the same happen with current nightly build?

[2019-06-08 09:18] richard67 commented on #25132
Today no time, but tomorrow I'll try to reproduce that.

We need some testers with Android mobile devices for trying to reproduce it.

@hgh-esn Could you post here Andriod version and Browser name (I assume Chrome) and version? And maybe switch on debug and error reporting in global config when logged in from desktop, and then try again?

[2019-06-08 09:44] infograf768 commented on #22044
It is not solved for Versions, even temporarily, as it does not use PopupButton

[2019-06-08 10:37] jamield commented on #19652
Has it been fixed?

On Sat, 8 Jun 2019 at 05:47, Franz Wohlkönig <notifications@github.com>
wrote:

[2019-06-08 12:56] ReLater commented on #19652
It won't be fixed in Joomla 3 because it's not a bug. It's the way Joomla does it; even if it's not always the "expected behavior" of a user. Some like it others not ;-)
Maybe something to be discussed for Joomla 4 ?

[2019-06-08 12:58] ReLater commented on #19652
Simply change the label ????

[2019-06-08 13:38] uglyeoin opened #25143 "Warning: A non-numeric value encountered in libraries/vendor/simplepie/simplepie/library/SimplePie/Parse/Dat"
### Steps to reproduce the issue
Turn error reporting to development
Use PHP 7.1

### Expected result
No errors or warnings from core

### Actual result
The above warning.  Which I believe has been fixed in Simple Pie.

### System information (as much as possible)
=============
System Information
=============
php: Linux server5.softforge.co.uk 2.6.32-754.12.1.el6.x86_64 #1 SMP Tue Apr 9 14:52:26

[2019-06-08 13:39] uglyeoin commented on #25143
I think this just requires us to update Simple Pie.  Here is the fix (I think).  https://github.com/simplepie/simplepie/pull/458<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25143">issues.joomla.org/tracker/joomla-cms/25143</a>.</sub>

[2019-06-08 13:45] #22044 closed, assigned to nobody

[2019-06-08 13:45] Quy commented on #22044
Please test PR #24369<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22044">issues.joomla.org/tracker/joomla-cms/22044</a>.</sub>

[2019-06-08 14:15] jamield commented on #19652
To be totally honest it's responses like this that drive people to
WordPress and other CMS's that take usability seriously.

What you're effectively saying is "yeah sorry it doesn't do what you would
logically expect, but tough. It's not a bug. Put up with it".

Close it if you want.

On Sat, 8 Jun 2019 at 13:56, ReLater <notifications@github.com> wrote:

[2019-06-08 15:14] brianteeman commented on #19652
It's a bug.

[2019-06-08 15:44] tonypartridge commented on #19652
I’ll see if I can do a PR tomorrow. It is a bug, should be solvable by
adding in a query parameter for editing or similar.

On Sat, 8 Jun 2019 at 16:14, Brian Teeman <notifications@github.com> wrote:

[2019-06-08 15:46] roland-d commented on #25130
What I have found so far is that the `return session_name();` in the `libraries/vendor/joomla/session/src/Storage/NativeStorage.php` file a different session name returns when we get to the `index.php?view=remove&layout=default` page. This results in that the $_SESSION is not there with the Joomla data. Which results in Joomla not knowing the language for example.

I have yet to understand/find ou

[2019-06-08 16:31] mbabker commented on #25130
Off the top of my head I think there’s something in the install app between
after the normal install finishes and the language install starts that
causes the session to be wiped.  Maybe check the seed for the session name
in the config (DI service provider).

On Sat, Jun 8, 2019 at 10:46 AM Roland Dalmulder <notifications@github.com>
wrote:

--
- Michael Please pardon any errors, this message was

[2019-06-08 18:56] ReLater commented on #19652
Why is this a bug? Because YOU say that? If you create a new menu item and return to the overview you'll see it filtered by the menu you've selected in the new menu item. Is that a bug, too, then? I hope that behavior won't be changed.

[2019-06-08 19:04] jamield commented on #19652
No that wouldn't be a bug, and that's not the behaviour that's I'm
suggesting should be changed. And it shouldn't.

From your response, I'm not sure you've understood the issue here?

On Sat, 8 Jun 2019, 19:56 ReLater, <notifications@github.com> wrote:

[2019-06-08 19:39] ReLater commented on #19652
I understood well. I just want to go sure that the filtering mentioned in https://github.com/joomla/joomla-cms/issues/19652#issuecomment-500151315 won't be changed because we're talking about the same saving routine in both cases here. "If you save go back and filter the overview by the selected menu item of the saved item."

And this behavior was not established erroneously but willfully. It's an

[2019-06-08 19:48] tonypartridge commented on #19652
If you are viewing ALL menu items and edit one then save & close you should
be returned to the view that you were on which would be ALL menu items and
Not returned back to a filtered list of menu items from the menu of the
current menu item you are editing is on. Thats just completely illogical.

On Sat, 8 Jun 2019 at 20:39, ReLater <notifications@github.com> wrote:

[2019-06-08 21:37] Quy commented on #23737
Related PR #23740

[2019-06-08 21:51] Quy commented on #23737
Deleted in PR #25139.
`administrator/components/com_fields/Field/Modal/FieldField.php`

Fixed in PR #25126
`administrator/components/com_menus/tmpl/menus/default.php`
`administrator/modules/mod_multilangstatus/tmpl/default.php`

[2019-06-08 21:52] brianteeman commented on #25132
I can not replicate this with android 9 on chrome

[2019-06-08 21:52] brianteeman commented on #24108
Pretty sure that this can be closed now

[2019-06-08 21:55] #24108 closed, assigned to nobody

[2019-06-08 21:55] brianteeman commented on #23971
Closing this as the icon used is now the same for both buttons in the new template. Although @HLeithner will be happy that the icon that's been chose is the floppy disk 🤦‍♂

![image](https://user-images.githubusercontent.com/1296369/59152651-85de7700-8a40-11e9-9cc9-01c16d0580ab.png)

[2019-06-08 21:55] #23971 closed, assigned to nobody

[2019-06-08 21:56] #23737 closed, assigned to nobody

[2019-06-08 22:00] brianteeman commented on #23601
This should be closed as the reported issue is not a bug but by design.  All the off topic comments should be continued in #23493

[2019-06-08 22:05] #23601 closed, assigned to nobody

[2019-06-09 01:50] Quy commented on #19798
Unable to reproduce. Please confirm.

[2019-06-09 04:17] hgh-esn commented on #25132
I my tests, I use  in all cases the browser  Chrome: 74.0.3729.157 and

1. Smartphone (Android: 7.0 Kernel: 3.18.35+)
2. LENOVO Tablet YT3-850F (Android: 6.0.1 Kernel: 3.10.49,)

Also I used the latest nightly build of Joomla 4.

[2019-06-09 07:23] infograf768 commented on #22044
Please see and test https://github.com/joomla/joomla-cms/pull/25147

[2019-06-09 07:25] infograf768 commented on #23636
Please see https://github.com/joomla/joomla-cms/pull/25147

[2019-06-09 08:40] richard67 commented on #25132
I can't reproduce this issue (token not matching problem) with Android 6.0.1 on a Samsung Galaxy S5 mini.

I have other issues with current J4 nightly build, for which I am currently investigating if already known or new, that when you click the user icon at the right hand side of the tool bar at the top, no pulldown is shown, so I can't log out. This seems to be a CSS issue on anym small display,

[2019-06-09 08:49] franz-wohlkoenig commented on #25132
@richard67 can you please create a new Issue for the one you found? Cause if this Issue is closed your one too.

[2019-06-09 08:53] richard67 commented on #25132
@franz-wohlkoenig As I wrote, am researching if there is already such issue. If not, the  I create one of course. But to me it looks as if the Atum backend template is not really ready for mobile phones because there are many issues, the one above was just the most annoying. And as far as I know there is still a project running for a new backend template, so I don't know if I shall make issues or

[2019-06-09 09:09] franz-wohlkoenig commented on #25132
New Backend Template should be merged as @wilsonge wrote a few Days ago so if the issue is an Template-one i would wait.

[2019-06-09 09:12] richard67 commented on #25132
@franz-wohlkoenig Yes, is all template CSS issues related to small screen sizes.

[2019-06-09 09:19] wilsonge commented on #21373
@brianteeman What ended up happening here?

[2019-06-09 09:20] richard67 commented on #25132
Regarding this issue here: I have no idea what it could be. If it was the same with all end devices, mobile or desktop, then I would have ideas, like e.g. checking php session temp dir variable, but here the only idea I have is that on mobile device there is a wrong password in the cache or wrong password entered accidently because of other keybouard langauage than expected, but I am sure the auth

[2019-06-09 09:21] franz-wohlkoenig commented on #25132
closed as unable to reproduce.

[2019-06-09 09:21] #25132 closed, assigned to nobody

[2019-06-09 09:23] brianteeman commented on #21373
see #24899

[2019-06-09 12:06] brianteeman commented on #25143
Joomla is using a very old version (1.3.1)
@HLeithner can this be updated? I see it is set in composer to use that specific version

[2019-06-09 13:00] HLeithner commented on #25143
It seams version 1.5 is the last version supporting PHP 5.3 (at least they removed testing in 1.5.1).
Later version removed testing vor php 5.4 and 5.5, Version 1.4.3 is the version version including the patch, so I would suggest to upgrade to 1.4.3.

Joomla core seams not to use this at all and has it deprecated.

Does our policy say anything against this?

[2019-06-09 13:56] mbabker commented on #25143
George purposefully didn't upgrade past 1.3.1 when converting the library to use Composer because there were no changelogs or other resources available to determine compatibility issues in newer versions of the library.  So before someone goes and blindly runs a `composer update` they need to either find appropriate changelogs and release notes or do a manual review of the diff between 1.3.1 and w

[2019-06-09 13:59] HLeithner commented on #25143
so backporting the fix would be a quick solution but I have seen there is also a php 7.4 combat fix in 1.5.3.

[2019-06-09 14:01] mbabker commented on #25143
Please don't start modifying files in `libraries/vendor`.

[2019-06-09 14:19] HLeithner commented on #25143
I'm not planing to, only to find a solution...  so a really quick look showed changes in the hashing function that would return different hashes.

At least the demo's didn't changed for 7 years. Anyway I will take a closer look but that will take sometime.  If anyone else is welcome to do it.

Whats your suggestion if we find something incompatible to our version?

[2019-06-09 14:23] mbabker commented on #25143
Either don't touch it because it's a third party library and the integration is deprecated anyway (nobody bothered updating MooTools after it was deprecated) or if you really feel that compelled to make changes then fork the library, make the changes, and change Joomla to use that forked repo as the install source (as that's the only solution that prevents unwanted revert of those changes anyway).

[2019-06-09 14:29] HLeithner commented on #25143
So won't fix is your suggestion then?

[2019-06-09 14:32] mbabker commented on #25143
If you can't safely upgrade to a more recent version then yes.

[2019-06-09 14:42] #19798 closed, assigned to nobody

[2019-06-09 17:47] brianteeman commented on #25143
The integration might be deprecated but is it really right to  ship with an outdated library that 3pd are using

[2019-06-09 18:01] mbabker commented on #25143
If it can't be safely upgraded then the better option is to not upgrade it.  Same theoretical problem with any other external dependency.

[2019-06-09 19:16] BaleshSrle commented on #22609
Guys, are you siting on your ears?! Can you read the only compent of @SharkyKZ.

I DON'T USE INTRANET, AND I WANT FROM JOOMLA TO USE CDN, BECAUSE SOME BRAINIACS WANT TO ADD MORE FILES TO UPLOAD TO SERVER, AND SOME OF US DON'T HAVE UNLIMITED SPACE ON SERVERS.
I WANT FROM JOOMLA! TO TAKE SOME OF HEAVY FILES LIKE BOOTSTRAP, JQUERY, HTML5SHIV AND UPLOAD THEM TO THEIR CDN SERVER(S) , OR TO **USE ONLY M

[2019-06-09 19:21] mbabker commented on #22609
You can configure Joomla to use a CDN, nothing stops you from doing that.

Joomla cannot be set up to by default require a CDN or to not ship the media files that it requires.  That makes Joomla unusable in a closed network environment, period.  And no, this is not a hypothetical issue.  My first experience with Joomla was on one of those closed networks where no CDNs are available at all.

As thi

[2019-06-09 21:01] roland-d commented on #25130
Blegh, still haven't been able to pinpoint the exact issue. A few more things have come to light. In the file `libraries/src/Service/Provider/Session.php` the `getHash()` of `ApplicationHelper`is called on line 102. The `getHash()` function gets the secret key from the config by doing `Factory::getApplication()->get('secret')` and this is a `null` value before Joomla is installed. After Joomla is

[2019-06-09 22:10] hgh-esn opened #25154 "[4.0] Backend: Extensions Update - Listed updates only for "enabled" extensions ?"
### Steps to reproduce the issue

Setup an update server.
Install an extension, i.e. a plugin.
Create an update for an installed extension and configure it in the update server.

### Expected result

The existing update listview should only list the plugin, if it is installed **and** enabled.
If it is enabled later on, then it should go into the update listview.

As an alternative, the current sta

[2019-06-09 22:35] brianteeman commented on #25154
That would be incredibly silly. You would be potentially leaving software on your site that has known security issues

[2019-06-10 06:33] #18287 closed, assigned to nobody

[2019-06-10 06:35] #25154 closed, assigned to nobody

[2019-06-10 06:36] alikon commented on #25154
expected behaviuor<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25154">issues.joomla.org/tracker/joomla-cms/25154</a>.</sub>

[2019-06-10 06:36] SniperSister commented on #25154
I agree with @brianteeman, the suggestion is a very bad idea, especially from a security perspective.

[2019-06-10 10:10] alikon commented on #18654
is this still an issue ?

[2019-06-10 16:21] brianteeman opened #25159 "[4.0]"
### Steps to reproduce the issue

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2019-06-10 16:25] brianteeman opened #25160 "[4.0] Filters broken in com_menus"
### Steps to reproduce the issue
Create a new menu item and then trash it
Using the filters set the status to trashed

### Expected result
You can see one trashed item

### Actual result
The status doesnt get set

### Steps to reproduce the issue
Go to the Menus->Manage
You can see that there are trashed menu items. Click on the number and you will go to the list of trashed menu items.
Try to chan

[2019-06-10 16:25] #25159 closed, assigned to nobody

[2019-06-10 17:03] Quy commented on #20879
Can this be closed?

[2019-06-10 17:35] franz-wohlkoenig commented on #20879
Closed, please reopen if needed.

[2019-06-10 17:35] #20879 closed, assigned to nobody

[2019-06-10 20:40] brianteeman commented on #23825
This issue can be closed as the production department have decided to adopt a browser support policy of PROD2019/005 - Change minimum version requirements for all browsers to n-2 and drop support for Internet Explorer. https://volunteers.joomla.org/departments/production/reports/1031-production-dept-meeting-may-28-2019

[2019-06-10 20:40] brianteeman commented on #23822
This issue can be closed as the production department have decided to adopt a browser support policy of PROD2019/005 - Change minimum version requirements for all browsers to n-2 and drop support for Internet Explorer. https://volunteers.joomla.org/departments/production/reports/1031-production-dept-meeting-may-28-2019

[2019-06-10 20:41] brianteeman commented on #23810
This issue can be closed as the production department have decided to adopt a browser support policy of PROD2019/005 - Change minimum version requirements for all browsers to n-2 and drop support for Internet Explorer. https://volunteers.joomla.org/departments/production/reports/1031-production-dept-meeting-may-28-2019

[2019-06-10 20:45] #23810 closed, assigned to nobody

[2019-06-10 20:46] #23822 closed, assigned to nobody

[2019-06-10 20:46] #23825 closed, assigned to nobody

[2019-06-10 21:24] brianteeman opened #25163 "[4.0] Build scripts TODO"
The build scripts can be massively simplified as we no longer need to convert all the JS from ES6 to ES5 as the production department have decided to adopt a browser support policy of PROD2019/005 - Change minimum version requirements for all browsers to n-2 and drop support for Internet Explorer. https://volunteers.joomla.org/departments/production/reports/1031-production-dept-meeting-may-28-2019

[2019-06-10 22:17] brianteeman commented on #22164
@wilsonge is this still relevant now ie11 support is dropped?

[2019-06-10 22:21] dgrammatiko commented on #22164
Polyfills are still very relevant in the ESxxxx land so this still needs to be addressed

[2019-06-11 03:29] #21981 closed, assigned to nobody

[2019-06-11 03:29] Quy commented on #21981
Closing as non-reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21981">issues.joomla.org/tracker/joomla-cms/21981</a>.</sub>

[2019-06-11 06:38] Bean2223 opened #25165 "Website not getting redirect.."
Hello everyone,

It’s been awhile since I checked on my website and work on it, and I just noticed that my website is not getting redirect from http://www.windowsmoviemaker.xyz/ to https://www.windowsmoviemaker.xyz/ it automatically opens to http version. It’s really annoying. I don’t have a backup on my computer, and I really need some help and hope someone can tell me how to get rid of that http

[2019-06-11 06:41] franz-wohlkoenig commented on #25165
Please ask on Wordpress, this is Joomla.

[2019-06-11 06:41] #25165 closed, assigned to nobody

[2019-06-11 07:37] infograf768 commented on #25160
Confirmed. Column ordering also broken.

[2019-06-11 07:44] infograf768 commented on #25160
Hint:
If a Menutype is not selected but all menu items (`- Select Menu -`) in the filter, then all filtering works fine.

[2019-06-11 12:57] sandstorm871 opened #25173 "Backend User Management Issue when autofill tools are used"
More & more of us are using Password Managers & browser extensions to help us use these in daily life.

I have had several reports from some of my website administrators, that when they are editing users information in the Back End > Manage Users the user's information is prepopulated with there own name, username, emails, etc.  Causing problems when the admin is trying to change a user group or o

[2019-06-11 12:58] C-Lodder commented on #25163
You may need to keep babel for the custom elements, depending on your support for Edge, as they're rolling out a major update based on Chromium soon

[2019-06-11 13:02] franz-wohlkoenig commented on #25173
New Features go in J4.

[2019-06-11 13:18] #16835 closed

[2019-06-11 13:18] brianteeman commented on #25173
@franz-wohlkoenig to me it is a bug to be fixed in J3 as I am sure we have tried to do this before so it should not autofill

[2019-06-11 13:18] Quy commented on #16835
The frontend has a different template so this is no longer applicable.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/16835">issues.joomla.org/tracker/joomla-cms/16835</a>.</sub>

[2019-06-11 13:24] alikon commented on #25173
LastPass (i suppose  1password etc too) does provide settings on a per domain basis on whether to autofill fields or not   so not an issue imo

[2019-06-11 13:26] brianteeman commented on #25173
@sandstorm871 what are they using ?

[2019-06-11 13:34] brianteeman commented on #25173
Now that I think about it the problem is most likely not something we can do anything about. There is an autocomplete=off setting we could add BUT chrome disables that.

[2019-06-11 13:35] sandstorm871 commented on #25173
I tested this myself with LastPass & 1Password, disabling autofill does stop this happening but also stops me from using my password manager to log into the site - front or backend unless I use copy/paste.
Admins I have spoken with are using similar password managers, however, one was not using a password manager, so they assumed it must have been a browser setting.

Personally, I think the backen

[2019-06-11 13:37] alikon commented on #25173
iirc  at least Lastpass should allow you to use an url so you can still use on login url and not on user management url

[2019-06-11 13:40] brianteeman commented on #25173
tell that to the browsers https://caniuse.com/#search=autofill

[2019-06-11 14:51] mbabker commented on #25173
The problem is if you disable autofill it's going to break the legitimate use cases, unless either the browser or the browser extension ignores that.

On a user profile edit page, it's really difficult to impossible to have the forms distinguish themselves as "I am editing my own account" versus "I am editing another person's account".  Even if you start using more detailed `autocomplete` attribut

[2019-06-11 15:19] brianteeman opened #25174 "[3.9.7] Upgrade issue"
I guess the release team didnt test an update or they would have noticed that you get a "checksum failed" message

![updaate](https://user-images.githubusercontent.com/1296369/59284694-97a06400-8c64-11e9-8616-40b5099fa065.gif)

[2019-06-11 15:28] HLeithner commented on #25174
I added the wrong hashes to the update server, this couldn't be tested by the release team.
Should work now.

[2019-06-11 15:28] #25174 closed, assigned to nobody

[2019-06-11 15:31] brianteeman commented on #25174
I can confirm it works now with the correct hashes

[2019-06-11 16:55] #25173 closed, assigned to nobody

[2019-06-11 18:09] conseilgouz opened #25176 ""Error decoding JSON data: Syntax error" message after 3.9.6 to 3.9.7 update"
### Steps to reproduce the issue
Update a french website where helpsite is help.joomla.fr

### Expected result
In #__users tables, params should contains "helpfile":""

### Actual result
In #__users tables, params contains ,, causing a JSON error

### System information (as much as possible)
Joomla 3.9.7

### Additional comments
File 3.9.7-2019-05-16.sql  contains incorrect reset information

[2019-06-11 18:11] HLeithner commented on #25176
@alikon could you confirm this?

[2019-06-11 18:18] pmleconte commented on #25176
Correct command should be :
UPDATE `#__users` SET `params` = REPLACE(`params`, '"helpsite":"https:\\/\\/help.joomla.fr\\/index.php?option=com_help&keyref=Help{major}{minor}:{keyref}"', '"helpsite":""');

[2019-06-11 18:19] HLeithner commented on #25176
The new value have to be replaced for the next release and as workaround.

[2019-06-11 18:20] pmleconte commented on #25176
French websites are going down one by one.....

[2019-06-11 18:21] mbabker commented on #25176
TBH, you would've been better off leaving the user params alone versus trying to remove it.  With the param gone from the UI, and the code not reading it, it would eventually cycle itself out as preferences get updated or just sit there and take up 50 bytes in a database field.

Now you've got corrupt JSON to deal with.

[2019-06-11 18:38] HLeithner commented on #25176
My suggestion to fix this would be.
[code]
Would this work without side effects?

[2019-06-11 18:44] pmleconte commented on #25176
I tried
UPDATE `#__users` SET `params` = REPLACE(`params`, ',,', ',"helpsite":"",');

It recreates helpsite param.

[2019-06-11 18:46] HLeithner commented on #25176
replacing  only ,, could lead to modify data of other fields

[2019-06-11 18:47] richard67 commented on #25176
There is no need to recreate the helpsite parameter, it is not used anymore in the code. It is only necessary to make Json valid again.

[2019-06-11 19:04] HLeithner commented on #25176
I created a PR to fix this #25177

[2019-06-11 19:21] HLeithner commented on #25176
normally the helpsite is between 2 other parameters I don't think that it's possible that the ,, are at the beginning or the end...

[2019-06-11 19:22] richard67 commented on #25176
@HLeithner I think the same, but am not 100% sure. But I guess you wanted to comment that in your PR.

[2019-06-11 19:43] alikon commented on #25176
@pmleconte please test #25177

[2019-06-11 19:57] neildarlow opened #25178 "Update package path incorrect for 3.9.7 update"
### Steps to reproduce the issue
1) Installation emails that a Joomla update is available
2) Login as Site Admin and follow Joomla update action from System Control Panel
3) The proposed update package URI path still points to the 3.9.6 version
4) Actioning the update will reinstall version 3.9.6

### Expected result
The update URI path should reference the 3.9.7 update package.

### Actual result

[2019-06-11 20:06] richard67 commented on #25178
This is by purpose. There was an error in the 3.9.7 update detected which broke French sites and which was fixed meanwile, see PR #25177 . A new release 3.9.8 will be made soon. The update package path was reverted to 3.9.6 so no more French sites will get the bad update, see [https://github.com/joomla/update.joomla.org/commit/6a93929a88025a6e04c1d6bc129076f3845ecf0f](https://github.com/joomla/upd

[2019-06-11 20:07] richard67 commented on #25178
@HLeithner Can you confirm my comment above?

[2019-06-11 20:20] HLeithner commented on #25178
Yes and update server as now 3.9.8

[2019-06-11 20:32] zero-24 commented on #25178
As we are now shipping 3.9.8 this is patched by https://github.com/joomla/update.joomla.org/pull/131 so I'm closing here.

[2019-06-11 20:32] #25178 closed, assigned to nobody

[2019-06-11 20:46] richard67 commented on #25176
@pmleconte Fixed with new release 3.9.8.

[2019-06-11 20:47] richard67 commented on #25176
@pmleconte And thanks for reporting it so fast.

[2019-06-11 20:50] zero-24 commented on #25176
closing as this has been patched by 3.9.8 thanks everyone involved.

[2019-06-11 20:50] #25176 closed, assigned to nobody

[2019-06-12 02:51] travisrisner opened #25180 "[4.0] SQL Error when logging in with the LDAP plugin"
### Steps to reproduce the issue
* Enable and configure the LDAP plugin
* Attempt to login to the administrator

### Expected result
The login would be successful if parameters are met.

### Actual result
A SQL Exception is thrown (Unknown column 'Array' in 'where clause')

### System information (as much as possible)
* Ubuntu 18.04
* PHP 7.2.19
* Nginx 1.14.0
* Joomla 4.0.0-alpha10-dev

### Addit

[2019-06-12 02:57] Quy commented on #18654
I get alerts and not the error page as reported.

![registration](https://user-images.githubusercontent.com/368084/59320359-eceb6e00-8c82-11e9-9c83-e0872c88660b.jpg)

[2019-06-12 03:29] #18654 closed, assigned to nobody

[2019-06-12 03:29] Quy commented on #18654
Closing as non-reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/18654">issues.joomla.org/tracker/joomla-cms/18654</a>.</sub>

[2019-06-12 03:31] #22220 closed, assigned to nobody

[2019-06-12 03:32] Quy commented on #22220
Fixed in PR #22599. Please upgrade to the latest version. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22220">issues.joomla.org/tracker/joomla-cms/22220</a>.</sub>

[2019-06-12 03:55] franz-wohlkoenig commented on #25180
Can you please test using the Nightly Build?

[2019-06-12 04:08] travisrisner commented on #25180
I can. I had originally downloaded the zip from the Nightly Builds link the README points to. Is there a better way for me to ensure I'm using the nightly build?

[2019-06-12 04:09] franz-wohlkoenig commented on #25180
I wanted to make sure for Nightly as i guesse you use "Joomla 4.0.0-alpha10-dev".

[2019-06-12 05:07] franz-wohlkoenig commented on #17551
Closed as no Bug fix and already fixed with the new media manager.

[2019-06-12 05:07] #17551 closed, assigned to nobody

[2019-06-12 07:27] SharkyKZ commented on #25160
Test PR #25160 please.

[2019-06-12 07:32] #25160 closed, assigned to nobody

[2019-06-12 07:32] alikon commented on #25160
please test #25181<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25160">issues.joomla.org/tracker/joomla-cms/25160</a>.</sub>

[2019-06-12 07:39] AndySDH commented on #24782
Pretty big deal that needs to be fixed

[2019-06-12 07:46] antonbag opened #25182 "[4.0] sql/mysql/sample_testing.sql does not exist"
### Steps to reproduce the issue
Fresh installation of J4 alpha10. Customize installation and install sample data.

### Expected result
The sample data is installed

### Actual result
Error "sample_testing.sql does not exist"

### System information (as much as possible)

Linux system
Php 7.3

### Additional comments

[2019-06-12 08:09] SharkyKZ commented on #24814
Test PR #25183 please.

[2019-06-12 08:15] #24814 closed, assigned to nobody

[2019-06-12 08:15] alikon commented on #24814
closed as we have a pr to test<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24814">issues.joomla.org/tracker/joomla-cms/24814</a>.</sub>

[2019-06-12 08:16] SharkyKZ commented on #25127
If this is about search input, it's fixed in 3.9.7 with https://github.com/joomla/joomla-cms/pull/24482.

[2019-06-12 08:21] brianteeman commented on #25127
No its the two dropdowns that use chosen
![image](https://user-images.githubusercontent.com/1296369/59334916-6fac1180-8cf3-11e9-8622-c59e0c0b2838.png)

[2019-06-12 08:53] SharkyKZ commented on #25127
OK. Based on discussion in #24623 this won't be fixed in 3.x?

[2019-06-12 08:58] HLeithner commented on #25127
I reverted my decision in https://github.com/joomla/joomla-cms/pull/24627 so if brian can restore his pr https://github.com/joomla/joomla-cms/pull/24623 I will merge it in 3.9.9

[2019-06-12 09:00] franz-wohlkoenig commented on #25127
@HLeithner can you please change Milestone 3.9.8 > 3.9.9?

[2019-06-12 09:14] brianteeman commented on #25127
@HLeithner All you have to do is to reopen the PR the branch is still there (I dont have access to re-open)

[2019-06-12 09:16] HLeithner commented on #25127
done thx

[2019-06-12 10:02] infograf768 commented on #24721
Please test https://github.com/joomla/joomla-cms/pull/25185
closing this issue

[2019-06-12 10:02] #24721 closed, assigned to nobody

[2019-06-12 10:19] ghazal commented on #25182
Install sample data via the module "sample data" once you've logged in admin.
Triggering sample data while installing has been discontinued.
Nevertheless, you are right, it's a bug. This should be removed from the installation process.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joom

[2019-06-12 10:56] C-Lodder opened #25186 "[4.0] Replace closest() and matches() polyfills with native methods"
### What needs to be fixed

J4 no longer supports IE11, so you no longer require the polyfills functions added and can simply use the native `Element.closest()` and `Element.matches()` methods.

[2019-06-12 11:34] BPBlueprint opened #25187 "Repeatable custom field: Editor and Textarea fields always filter HTML since Joomla! 3.9.8"
No problems with Joomla! 3.9.6
Problems since Joomla! 3.9.8

### Steps to reproduce the issue
1. Create Custom Field Type "Repeatable Field".
2. Use "Editor" and/or "Text-Area"-Fields as part of Repeatable-Field.
3. Type in HTML-Tags like < br > or < p >< /p > ...

### Expected result
HTML-Tags are not filtered / deleted after saving.

### Actual result
HTML-Tags are filtered / deleted after savin

[2019-06-12 11:35] Orgoth commented on #23725
Why not simply rename the StringController to StringUtils "or something similar"?
Then the problem is solved and there are no problems with renaming under Windows.

[2019-06-12 11:44] #25182 closed, assigned to nobody

[2019-06-12 11:44] Quy commented on #25182
Duplicate #20262<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25182">issues.joomla.org/tracker/joomla-cms/25182</a>.</sub>

[2019-06-12 13:39] franz-wohlkoenig commented on #25187
Closed as having Pull Request #25189

[2019-06-12 13:39] #25187 closed, assigned to nobody

[2019-06-12 16:44] franz-wohlkoenig commented on #25180
can a Developer of Bug Squad Team please comment?

[2019-06-12 18:03] alikon commented on #25180
it seems unrelated to core

hard to say something

[2019-06-12 18:07] travisrisner commented on #25180
That was perhaps an unnecessary part for me to add to the issue. This issue happens with just the core LDAP plugin enabled, regardless of whether my plugin is installed or not.

[2019-06-12 19:11] HLeithner commented on #25180
If we now get an array we have to adapt the joomla ldap plugin. if you can write a PR and a test please do so.

[2019-06-12 19:53] richard67 commented on #25180
I think it should be enough for a first step to change these 3 lines
[https://github.com/joomla/joomla-cms/blob/4.0-dev/plugins/authentication/ldap/ldap.php#L180-L182](https://github.com/joomla/joomla-cms/blob/4.0-dev/plugins/authentication/ldap/ldap.php#L180-L182)
from

to

@mbabker What do you think about the above? Would that be safe?

Symfony ldap doku for v 3.4 says the getAttribute function

[2019-06-12 19:55] mbabker commented on #25180
As long as key 0 always has the data you're looking for then sure.

[2019-06-12 19:57] richard67 commented on #25180
Hmm, not sure. Have to check what happens if getAttribute does not find the attribute. It might need some health checks maybe (isset, issarray and whatever else).

[2019-06-12 19:58] richard67 commented on #25180
Null is returned if nothing found.

[2019-06-12 19:59] richard67 commented on #25180
`isset` then.

[2019-06-12 20:01] mbabker commented on #25180
TBH, the LDAP plugin would be a good thing for someone on the automated testing team to work on architecture to make sure stays tested since it is such a niche feature.  Bonus, both the Symfony repo and the deprecated Joomla Framework repo have the setup to build and seed an LDAP server, someone just needs to copy it into their array of Docker images and run a system test pass with Joomla configur

[2019-06-12 20:03] richard67 commented on #25180
Thats far beyond my knowledge, that testing thing.

[2019-06-12 21:26] edrobal opened #25190 "ldap authentification error with duplicate mail"
### Steps to reproduce the issue
2 ldap entries have different cn and password but same mail

### Expected result
The second user must be able to connect with its username/password

### Actual result
when connecting (first time), second cannot connect

### System information (as much as possible)
PHP exécuté sur Linux h2web38 4.9.0-0.bpo.9-amd64 #1 SMP Debian 4.9.168-1+deb9u2~deb8u1 (2019-05-14) x

[2019-06-13 04:02] travisrisner commented on #25180
I did the PR, but am unsure at the moment on how to write the test. I am researching that, but if it's something someone from a specific team needs to handle that's fine.

[2019-06-13 04:28] franz-wohlkoenig commented on #25180
Closed as having Pull Request #25191

[2019-06-13 04:28] #25180 closed, assigned to nobody

[2019-06-13 06:50] BPBlueprint opened #25192 "Media Manager: Create subdirectory and Upload Files only into media-root-directory"
### Steps to reproduce the issue
Try to create subdirectories and upload files (pictures) into (sub)directories multiple times.

### Expected result
Subdirectory "my_subdirectory" is placed into directory "my_directory".
Uploaded picture is placed into directory /my_directory/my_subdirectory.

### Actual result
Most of the times subdirectories and pictures are placed into media-root (/images).

##

[2019-06-13 07:47] ventsonge opened #25194 "Repeatable subForm weird display on IE"
### Steps to reproduce the issue
Install a new joomla site
Add a subform on any config file
open this config screen on IE
Check the bottom of the page :

### Expected result
the subform template should not be displayed

### Actual result
 the subform template is displayed

### System information (as much as possible)
Joomla 3.9.9
Windows 7
IE 11.0

### Additional comments
I know their was a soluti

[2019-06-13 08:05] SharkyKZ commented on #22906
Test PR #25195 please.

[2019-06-13 08:05] franz-wohlkoenig commented on #22906
Closed as having Pull Request #25195

[2019-06-13 08:05] #22906 closed, assigned to nobody

[2019-06-13 12:18] infograf768 commented on #24721
Please test this new one
https://github.com/joomla/joomla-cms/pull/25197

[2019-06-13 13:39] ReLater commented on #25194
Could you post a screenshot. I have no idea what you are talking about. When you "Add a subform on any config file" isn't it normal that "the subform template is displayed"??

[2019-06-13 13:46] Quy commented on #25192
Please test PR ##25184

[2019-06-13 14:03] franz-wohlkoenig commented on #25192
Closed as having Pull Request #25184

[2019-06-13 14:33] bayareajenn commented on #25192
This was happening before 3.9.8. I think perhaps it was after 3.9.6 that the issue began.

What happens is the first time you go to Content -> Media and navigate to a directory within /images (say /images/blog) and upload an image it will work and put it in the correct place. If you go to another place and upload an image, it saves to the root of /images.

If you leave Content -> Media and go to A

[2019-06-13 18:09] franz-wohlkoenig commented on #25190
@HLeithner can you please comment?

[2019-06-13 18:13] alikon commented on #25190
maybe related to #25191

[2019-06-13 18:15] franz-wohlkoenig commented on #25190
but this Issue is for J3.

[2019-06-13 18:15] richard67 commented on #25190
Not related.

[2019-06-13 18:37] dgrammatiko commented on #25163
I’m against the idea of dropping completely the es5static files. The reason is pretty simple: even if core doesn’t support ie11 (or also android uc) there might be people that want to provide such solutions to their clients. Removing the (I’ll also say) deprecated code won’t save you much at this point rather you’ll be shouting your own feet...
Just because most of the lucky ones don’t have to dea

[2019-06-13 20:57] #21922 closed, assigned to nobody

[2019-06-13 20:57] Quy commented on #21922
Please test PR #25198.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21922">issues.joomla.org/tracker/joomla-cms/21922</a>.</sub>

[2019-06-13 22:26] wnkkm commented on #24539
Hi, I have a symlink'ed subfolder under images folder.
"/J_installation/images" is a physical path, and 'images' folder has a few physical subsolders as well as a symlink subfolder like "/J_installation/images/media" --(symlink)--> "/media".
The recently released Joomla 3.9.8 didn't resolve my problem. (failed to navigate into 'media' subfolder)

Will this symlinked subfolder be supported in futur

[2019-06-13 22:57] yanzhaoINT opened #25199 "[4.0] Batch copy articles"
### Steps to reproduce the issue
  - Select articles by checking the checkbox in articles list.
  - Click batch button.
  - Choose a category and choose copy.
  - Click 'Process'.

### Expected result
Copied articles appear in the article list with new category.

### Actual result
No new articles appear in the article list.

### System information (as much as possible)
Joomla 4 alpha 9
nginx
Ubunt

[2019-06-13 23:06] #25199 closed, assigned to nobody

[2019-06-13 23:06] Quy commented on #25199
Already reported. Please test PR #24519.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25199">issues.joomla.org/tracker/joomla-cms/25199</a>.</sub>

[2019-06-14 00:58] ventsonge commented on #25194
Sure, sorry sometime i have trouble explaining bugs in english, I hope the screen will clear this up.

it's displayed like that

![joomla weird display](https://user-images.githubusercontent.com/6533878/59476104-12969400-8e8a-11e9-8be2-d062c3697d1a.png)

You can see the template is indeed displayed where it should be, but also at the end of the page.
It's even weirder if you try to input a repeata

[2019-06-14 01:16] okonomiyaki3000 commented on #24539
I really think we should add a whitelist. I don't think it would be difficult to implement at all.

[2019-06-14 02:17] #25194 closed, assigned to nobody

[2019-06-14 02:17] Quy commented on #25194
Closing per PR #25200.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25194">issues.joomla.org/tracker/joomla-cms/25194</a>.</sub>

[2019-06-14 08:58] SharkyKZ commented on #22858
Test PR #25201 please.

[2019-06-14 09:01] franz-wohlkoenig commented on #22858
Closed as having Pull Request #25201

[2019-06-14 09:01] #22858 closed, assigned to nobody

[2019-06-14 09:38] danham567 commented on #6687
(index.php?option=com_tags&view=tags&tag_list_language_filter=it-IT&lang=ita)
that show me tha actual tag.
If i click the single tag i have a 1054 error and the url is the following:
(index.php?option=com_tags&view=tag&id=2-articletitle&lang=ita)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/t

[2019-06-14 09:39] danham567 commented on #6687
[113.pdf](https://issues.joomla.org/uploads/1/de2e58e6fee5a3c4ff69cadf0a133969.pdf)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/6687">issues.joomla.org/tracker/joomla-cms/6687</a>.</sub>

[2019-06-14 10:27] brianteeman commented on #6687
@franz-wohlkoenig please delete the spam and block the user

[2019-06-14 10:29] franz-wohlkoenig commented on #6687
can't block user, please do one have the privilieges.

[2019-06-14 14:17] bayareajenn commented on #25192
@franz-wohlkoenig will you please open this issue back up? Issue 25184 is not a patch to resolve this bug. Issue 25814 is just different code for the Media Manager to work the same way with different code. It's not meant to resolve the bug - the contributor only mentioned that "maybe" it would solve the bug (which it doesn't). But people testing that patch need to not be thinking of the bug when t

[2019-06-14 14:22] bayareajenn commented on #25192
Thanks you @franz-wohlkoenig  :)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25192">issues.joomla.org/tracker/joomla-cms/25192</a>.</sub>

[2019-06-14 15:06] HLeithner commented on #25192
@BPBlueprint could you make a git animation because I'm not sure how to replicate the issue.

[2019-06-14 15:11] HLeithner commented on #25190
iirc joomla writes an entry to the user table on ldap login and joomla needs an unique e-mail address per user. So I think we can't do much against this.

[2019-06-14 15:51] glenatron opened #25202 "Installing a component with only an installation sql file raises a big error message"
### Steps to reproduce the issue

Create a Component in accordance with the J3.x development tutorial with an sql folder and a simple `install.mysql.utf8.sql` but no numbered updates.

### Expected result

The SQL in the `install.mysql.utf8.sql` is run and there is no error raised.

### Actual result

A large error is raised, with the error stack ending in line 1085 of `Install.php` - which looks

[2019-06-14 16:18] ReLater commented on #25202
Do you have the installation tag inside your extension?
[code]
https://docs.joomla.org/Manifest_files#SQL

[2019-06-14 16:28] bayareajenn commented on #25192
@HLeithner here's what you do (I don't know how to make a git animation)...

1. login to the backend
2. Go to Content -> Media
3. Select a directory inside /images (so a subfolder - if you don't have one, create one)
4. Upload an image to a subdirectory of /images
It might work the first time. It does for me. Then...
5. Navigate to a different directory inside /images
6. Upload an image to that di

[2019-06-14 16:37] bayareajenn commented on #25192
Here's a video but I had to zip it since the media type isn't supported by github.
[media-upload-bug.zip](https://github.com/joomla/joomla-cms/files/3291461/media-upload-bug.zip)

[2019-06-14 17:01] HLeithner commented on #25192
I'm sorry but I'm unable to reproduce this, I tested it on my own servers and on joomla.com test instance without problems...

[2019-06-14 17:07] bayareajenn commented on #25192
Interesting. Do you think PHP version would affect it? What version of PHP
is joomla.com using? And your server? I'm on 7.2. But I'll test some other
sites on other versions and see if that brings anything to light.

On Fri, Jun 14, 2019, 12:02 PM Harald Leithner <notifications@github.com>
wrote:

[2019-06-14 17:08] edrobal commented on #25190
It's crazy but no choice. And this mail address is usefulness for joomla. User not registered in ldap cannot connect in private area.

[2019-06-14 17:08] #25190 closed, assigned to nobody

[2019-06-14 17:15] bayareajenn commented on #25192
It's happening with all versions of PHP so that's not it. We're not alone...this thread people have it happening too. https://www.facebook.com/groups/joomlanospam/permalink/10156021610840997/

Can you suggest anything else I can check? I'm happy to do more testing but I'm not a coder. :(

[2019-06-14 17:34] HLeithner commented on #25192
could you try another browser?

[2019-06-14 17:40] bayareajenn commented on #25192
@HLeithner nailed it! Working fine in MS Edge. I was in FF before - all the other times. Are you using Chrome?

So it appears to just not work in Firefox. @BPBlueprint what browser are you using?

I'm gonna ask on the FB thread too.

[2019-06-14 19:05] ReLater commented on #25202
Maybe I've misunderstood you but I have some problems to understand what you exactely did and where to find the "J3.x development tutorial" that you mention.
Could you please post the error stack.
And the manifest file of your extension.
Thank you!

Just a hint: You can format code snippets with three backticks before and after a code snippet.

[2019-06-14 19:27] #20286 closed, assigned to wilsonge

[2019-06-14 19:46] ReLater commented on #25202
Now I see:
- Download Step 6 of hello World manual: https://github.com/scionescire/Joomla-3.2-Hello-World-Component/archive/step-6-using-the-database.zip
- Extract and remove all files in `admin\sql\updates\mysql`.
- zip the package and install it.

Red warning message but no other messages(!)
[code]

The extension is installed now.

#### **Reload the page:** or navigate to another one:
- You see

[2019-06-14 19:46] wilsonge opened #25203 "[4.0] Improve how ContentHelperRoute is registered"
https://github.com/joomla/joomla-cms/pull/19870 namespaced ContentHelperRoute. However I still feel that this is wrong because 3PD extensions have no way of adding entries into the extensions mapper file. This file should be something that we use to allow other extensions to function who extended non-namespaced classes.

So this should probably be put in the extensions container in some way.

[2019-06-14 20:13] SharkyKZ commented on #25203
It's meant for core extensions, according to the comment inside it.

Why not just leave `components/com_content/helpers/route.php` and have it extend the namespaced class. Like in `com_contact`. Deprecate the old classes for 5.0. The "lowercase folders in core with classes" question is hardly an issue, IMO.

[2019-06-14 20:42] kirblam opened #25204 "JRoute failing to generate https urls when SSL argument set to true"
### Steps to reproduce the issue
<form action="<?php echo JRoute::_('index.php?option=com_blah', true, true); ?>"

### Expected result
<form action="https://www.ptotoday.com/component/blah/"

### Actual result
<form action="http://www.ptotoday.com/component/plus/"

### System information (as much as possible)
Appears to be specific to 3.9.8 - I believe it was working in 3.9.6
bug evident on centos

[2019-06-14 20:45] Hackwar commented on #7579
Please find a fix for this here: #25205

[2019-06-14 20:56] brianteeman commented on #25204
From the information provided it is impossible to replicate or diagnose. Obviously it is not a generic issue or there would be millions of broken sites

[2019-06-14 21:14] #7579 closed

[2019-06-14 22:04] bayareajenn commented on #25192
On the facebook thread, two more people said they were using FF. So that's the common denominator.

I tried disabling my add-ons one at a time and the problem persisted. So, is there any reason that this is our issue (meaning Joomla)? Or is it really a FF browser issue that should be taken up with them? (Lord knows how that will go.)

[2019-06-14 22:08] SharkyKZ commented on #25204
The argument is documented as an integer, not a boolean. Before #24089 it was cast as integer so passing `true` worked the same as `1`.

[2019-06-14 22:29] brianteeman commented on #25192
I used to see this a long time ago and forgot about it. Tried tonight to replicate it using both chrome and firefox on windows and could not

[2019-06-14 22:41] bayareajenn commented on #25192
Thanks Brian. I have a feeling this might just resolve itself with the next
FF update. Maybe it's some intermittent thing with their updates. But I
don't even know how to post to their issue tracker and let them know about
it. Like what would I even say to them?

Do you have any thoughts or suggestions on it? I don't think it's our code
at all. Do you?

I'm debating whether this should be closed o

[2019-06-14 22:51] glenatron commented on #25202
If nothing else, a more informative exception ( or performing some validation on the component xml file ) would make the problem a lot easier to troubleshoot- figuring out how to construct a component is pretty tricky even as an experienced developer and supporting people in doing that is probably a positive for the Joomla ecosystem.

[2019-06-15 03:48] franz-wohlkoenig commented on #25204
@SharkyKZ what does it mean, bug, expected behaviour, ...?

[2019-06-15 03:50] franz-wohlkoenig commented on #25192
Issue stay open till Reason (Browser, Core, ...) is clear.

[2019-06-15 06:41] HLeithner commented on #25202
@glenatron it woild be appreciated if you write a pr that make the install process smoother or bring us better error handling

[2019-06-15 08:25] laoneo commented on #25203
Why do 3PD extensions need to add entries to the mapper file? This is only because ContentHelper is used widely in the eco system so it would crash many extensions. To be fair here, we did it only for good will as we do not have to keep BC for core extensions or I'm wrong?

[2019-06-15 08:53] HLeithner commented on #25204
I not a bug because the documentation say the parameter should be an integer but it's an unexpected behavior change so it's more a less a b/c.

I will add a cast to the Jroute::_ function for compat reasons.

[2019-06-15 12:10] BurtNL commented on #25192
I'm experiencing the same problem here, Joomla 3.9.8, PHP 7.2.x. Uploading fails and clicking the buttons 'Thumbnail view' and 'Detail view' in the Media manager showing the following error in the console of Firefox: NS_ERROR_NOT_AVAILABLE: <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracke

[2019-06-15 12:11] brianteeman opened #25209 "[4.0] Unused file"
Can someone tell me where this file is used or confirm that it is not used
`administrator\components\com_installer\tmpl\discover\default_item.php`

[2019-06-15 12:21] franz-wohlkoenig commented on #24748
Closed as having Pull Request #25207

[2019-06-15 12:21] #24748 closed, assigned to nobody

[2019-06-15 15:27] #17076 closed, assigned to nobody

[2019-06-15 15:27] Quy commented on #17076
Closing due to no response.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/17076">issues.joomla.org/tracker/joomla-cms/17076</a>.</sub>

[2019-06-15 16:58] infograf768 commented on #19874
Known issue.

[2019-06-15 17:03] franz-wohlkoenig commented on #19874
means duplicate Report and close?

[2019-06-15 17:41] infograf768 commented on #25209
Also weird in 3.x

[2019-06-15 17:48] infograf768 commented on #19874
Not a duplicate and not close. Just meant this is a "sort of bug" we know about and I doubt we can solve in staging.
See my comment here: https://github.com/joomla/joomla-cms/pull/25197#issuecomment-502346246

[2019-06-15 17:56] muesliflyer opened #25211 "Menu item type: filter field group doesn't work when first in request fieldset"
### Steps to reproduce the issue
I am building a component managing a set of job offers. Jobs have attributes including "employer".

There is a front-end list view with filtering that allows users to restrict the listed jobs to a particular employer (among other filtering options). Selecting an employer filter causes the following GET request to be generated:

    http://localhost/joomla/index.php

[2019-06-15 18:00] franz-wohlkoenig commented on #25211
Pleas eupdate to latest Version 3.9.8

[2019-06-15 18:17] muesliflyer commented on #25092
I am not sure if you are talking about a solution without coding or not. If you are willing to code, you can add custom fields to menu item types easily in the view/tmpl/default.xml file. Then change your default.php file to generate your html code depending on that field.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="

[2019-06-15 18:44] SharkyKZ commented on #25211
Test PR #25213 please.

[2019-06-15 18:45] franz-wohlkoenig commented on #25211
Closed as having Pull Request #25213

[2019-06-15 18:45] #25211 closed, assigned to nobody

[2019-06-15 18:46] franz-wohlkoenig commented on #25209
Closed as having Pull Request #25212

[2019-06-15 18:46] #25209 closed, assigned to nobody

[2019-06-15 18:46] muesliflyer commented on #25211
Indeed, I was not on the latest version. I thought I would be notified automatically, but I wasn't. Ok. Now I am on 3.9.8. I tested the issue with the new version and the problem persists.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25211">issues.joomla.org/tracker/joomla-

[2019-06-15 18:47] franz-wohlkoenig commented on #25211
@muesliflyer as @SharkyKZ wrote above please test the Pull Request #25213

[2019-06-15 18:59] muesliflyer commented on #25092
Please disregard my comment above. I now realize you are talking about custom fields that can be defined in the browser interface.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25092">issues.joomla.org/tracker/joomla-cms/25092</a>.</sub>

[2019-06-15 22:56] wilsonge commented on #25203
It's not about people using the ContentRouter file. That's fine as it is I think. There's a class alias anyhow.

But other 3rd party components will have their own router helper files probably and I don't see many places where this components/3rd party modules are different to other extensions (e.g. virtuemart or any component with a 3rd party module ecosystem etc).

[2019-06-16 07:36] infograf768 opened #25220 "[4.0] All modals broken in frontend when editing article"
### Steps to reproduce the issue
Edit an article in frontend.
Try to insert any editor-xtd => a Modal displays with error.
Same when using the Versions button
`The requested page can't be found.`

[2019-06-16 08:30] brianteeman commented on #25220
We have multiple issues for this already (including from you)

[2019-06-16 08:32] HLeithner commented on #25203
Shouldn't 3rd party components register the route helper while component booting or in a plugin?

[2019-06-16 08:52] wilsonge commented on #25203
Well not when the components booting because you don’t wanna boot the component for smart search for example. But the auto loader doesn’t depend on that anyway.

I guess it can be loaded by the auto loader as things are. The point is any 3rd party stuff integrating won’t have the luxury of a class alias which I guess isn’t so disastrous. But certainly isn’t optimal either.

[2019-06-16 08:56] HLeithner commented on #25203
Doesn't the autoloader is able to load Component\<componentname>\Site\Helper\RouteHelper automatically?

[2019-06-16 08:56] brianteeman commented on #25203
We really shouldnt be treating extensions any differently to core components. If extensions have limitations then it really defeats the point of creating an extendable system

[2019-06-16 10:27] franz-wohlkoenig commented on #25204
Closed as having Pull Request #25225

[2019-06-16 10:27] #25204 closed, assigned to nobody

[2019-06-16 10:50] richard67 opened #25229 "[4.0] Uninstalling extensions which have an update site fails with call to undefined method"
### Steps to reproduce the issue

Happens since PR #25055 has been merged.

1. Install clean 4.0-dev.
2. In backend, install some extension which has an update site, e.g. one of the supported languages for 4.0, e.g. German DE.
3. Try to uninstall the extension.

### Expected result

Extension is uninstalled.

### Actual result

![screen shot 2019-06-16 at 10 43 42](https://issues.joomla.org/upload

[2019-06-16 11:03] alikon commented on #25229
confimed, but https://github.com/joomla-framework/database/pull/156 is merged on the framework database repo, maybe a simple update to the composer can solve it, let's ping @HLeithner

[2019-06-16 11:05] richard67 commented on #25229
@alikon Not sure if update via composer will help because there has not been made a new release of the framework database package since that time.

[2019-06-16 11:17] richard67 commented on #25229
@alikon @HLeithner Running `composer update` locally on my 4.0-dev branch solves the problem.

[2019-06-16 11:39] richard67 commented on #25229
@alikon @HLeithner It seems I just have to change file `composer.lock` as follows, right?

![Unbenannt](https://user-images.githubusercontent.com/7413183/59563569-12d69100-903c-11e9-92ea-806f1ef61c51.png)

![Unbenannt-2](https://user-images.githubusercontent.com/7413183/59563570-166a1800-903c-11e9-9c16-75f918de01df.png)

If that is all: Shall I make the PR for that?

[2019-06-16 12:08] richard67 commented on #25229
Closing as having PR #25232 .

[2019-06-16 12:08] #25229 closed, assigned to nobody

[2019-06-16 13:08] richard67 commented on #25202
This issue here could be related to an issue which the patchtester component had, see comment here: [https://github.com/joomla-extensions/patchtester/issues/186#issuecomment-309291088](https://github.com/joomla-extensions/patchtester/issues/186#issuecomment-309291088).

[2019-06-16 13:21] brianteeman commented on #25220
Duplicate of #24491 #23510 #23979

[2019-06-16 13:24] franz-wohlkoenig commented on #25220
Closed as duplicate Report.

[2019-06-16 13:24] #25220 closed, assigned to nobody

[2019-06-16 17:16] brianteeman opened #25237 "[4.0] Template Details - author [RFC]"
In the core of Joomla no individual is given specific named credit. This is true for everywhere except for the template. Why? What makes the template so special that we don't follow the same convention?

[2019-06-16 17:17] brianteeman commented on #23888
@zwiastunsw still busy?

[2019-06-16 17:29] richard67 commented on #25237
Good question.

[2019-06-16 17:31] ghazal commented on #25237
+1

Plus, there is a structural flaw in the footer tag:

[code]
The "back-to-top" feature is in the same tag as a call to a module in a footer position. So, when one assigns a module to this position, the module content is "glued" to the "back-to-top".

[2019-06-16 17:33] richard67 commented on #25237
@ghazal Please check if there is already an issue for that and create one, if not.

[2019-06-16 17:54] ghazal opened #25239 "[4.0] "back-to-top": Structural flaw in the footer tag of Cassiopeia"
There is a structural flaw in the footer tag of the site template:

[code]

### Actual result
The "back-to-top" feature is in the same tag as a call to a module in a footer position. So, when one assigns a module to the footer position, the module content is kind of "glued" to the "back-to-top".
I guess the call to the module should be at least in another tag, maybe another footer.

[2019-06-16 17:56] ghazal commented on #25237
Done.
[#25239]

[2019-06-16 18:24] Quy commented on #25239
Duplicate of Issue #23457 and its PR #23606?

[2019-06-16 19:14] C-Lodder commented on #25239
@Quy, the PR isn't a good approach at all. The "back to top" should be a custom module so that users can disable it if required

[2019-06-16 19:16] Quy commented on #25239
Closed PR #23606 for a proper fix.

[2019-06-16 21:44] zwiastunsw commented on #23888
I'm here. Today I did my first tests. :)

[2019-06-16 22:19] Quy opened #25245 "[4.0] Unable to install due to database requirement"
### Steps to reproduce the issue
Download the latest 4.0-dev branch.
Install.

### Actual result

[2019-06-16 22:34] HLeithner commented on #25245
The version string is strange because my MariaDB 10.1.40 doesn't include the 5.5.5 version.

Can you update to a higher 10.1.x version?

Also Joomla 4 will support MySQL 5.6+ only, but that will no prevent us from thinking about supporting MariaDB.

[2019-06-16 22:42] Quy commented on #25245
I am using XAMPP which MySQL came pre-installed.
The install was working as of yesterday so a commit today must have affected this.
I will see if I can update to the latest version.

[2019-06-16 23:00] HLeithner commented on #25245
The database layer has been updated today.

[2019-06-16 23:21] HLeithner commented on #25192
I replicated the issue and found the reason why the upload goes to the wrong folder. But my JS skill isn't good enough to fix it....

The problem is that aftern an upload the mediamanager javascript can't access the location of the iframe because it's empty.

https://github.com/joomla/joomla-cms/blob/staging/media/media/js/mediamanager.js#L107

maybe this is a sandbox problem or anything like that

[2019-06-16 23:50] mbabker commented on #25245
Someone needs to fix the language string to deal with the 5.5.3 message.

https://github.com/joomla-framework/database/commit/b71d7a7efa69eb625c583c08132e8c45faf107f6 changed the driver code requirements.

The driver code has never had logic to specially parse MariaDB version strings.  If this is going to become an issue, someone needs to write (with tests because this is going to be a borderline

[2019-06-17 04:42] franz-wohlkoenig commented on #21373
Closed as having Pull Request #24899

[2019-06-17 04:42] #21373 closed, assigned to nobody

[2019-06-17 06:16] BPBlueprint commented on #25192
I use Firefox!
And right -> I checked with Chrome and no problems!

[2019-06-17 06:20] alikon commented on #25237
I don't know why template should be special, imho no individual name credit should exists even in template

[2019-06-17 06:40] SharkyKZ commented on #25245
PR #25245 for language strings.

[2019-06-17 06:41] SharkyKZ commented on #25245
Does MariaDB qualify as MySQL >= 5.6?

[2019-06-17 07:01] franz-wohlkoenig commented on #24861
Closed as having Pull Request #25247

[2019-06-17 07:01] #24861 closed, assigned to nobody

[2019-06-17 07:23] SharkyKZ commented on #25239
"Back to top" It's fine as a template feature, IMO. But a template option could be added for disabling it.

[2019-06-17 07:27] dgrammatiko commented on #25192
@HLeithner the only thing that might cause this, I guess is https://github.com/joomla/joomla-cms/blob/bc3cf7564698678cc9a657dbe69ca52043b4aa20/media/media/js/mediamanager.js#L28
(Are frames discontinued in ff?)
Try to get the iframe through the id of the parent div and see if that solves the problem here

[2019-06-17 07:35] joeforjoomla opened #25248 "[4.0] Latest nightly build fails for TYPO3 fatal error"
### Steps to reproduce the issue
Install the latest nightly build

### Expected result

Just works as previous ones

### Actual result

Fatal error
![image](https://user-images.githubusercontent.com/17835460/59586398-2ab52000-90e3-11e9-94d8-2ce1d5315f1e.png)

### System information (as much as possible)

This code in the bootstrap.php and cms.php causes the error, the TYPO3 package is not included

[2019-06-17 07:47] infograf768 commented on #25248
Did not test Nightly build, but got the same error after the 3.9.3 and 3.9.4 merges into 4.0 in my localhost instance clean install.
I solved it by using composer update and accepting to discard changes as I got this in Terminal
[code]

[2019-06-17 07:48] brianteeman commented on #25248
do a composer update - that fixed it for me

[2019-06-17 08:02] infograf768 commented on #25248
Tested Nightly build. It should not happen with a Nightly build as one does not have to use composer in this case.

[2019-06-17 08:06] joeforjoomla commented on #25248
Indeed. Just now i have not composer to use.

[2019-06-17 08:07] infograf768 commented on #25248
Informed Maintainers of this issue.

[2019-06-17 08:07] joeforjoomla commented on #25248
Thanks JM

[2019-06-17 08:19] infograf768 commented on #25248
@franz-wohlkoenig
Why closing? This is a real issue. Re-opening.

[2019-06-17 08:21] HLeithner commented on #25192
I tried the same code in the console and I got a location object including all urls.

Maybe it is related to the POST on the upload? Are there any restrictions?

[2019-06-17 08:26] HLeithner commented on #25245
MariaDB 10.0 is based on MySQL 5.5 including features of MySQL 5.6.

At the moment we discuss MariaDB Support (or not breaking it) in PLT hopefully we have conclusion and solution soon.

Any input on this is welcome.

[2019-06-17 08:33] C-Lodder commented on #25239
PR: https://github.com/joomla/joomla-cms/pull/25250

[2019-06-17 08:34] alikon commented on #25239
closed for pr  #25250<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25239">issues.joomla.org/tracker/joomla-cms/25239</a>.</sub>

[2019-06-17 09:08] franz-wohlkoenig commented on #25248
thought its a Composer-issue.

[2019-06-17 09:12] infograf768 commented on #25248
It is an issue with building Nightly. As it prevents from even installing J, I think it is better to leave it open until @wilsonge solves it, so that testers using only nightlies know about the issue.

[2019-06-17 09:14] joeforjoomla commented on #25248
Running composer update fixes the issue. The missing Typo3 library in the nightly build is correctly installed.

[2019-06-17 09:45] wilsonge commented on #25248
This is my bad. In the conflict fixing somehow the typo 3 package ended up in the dev dependencies section (which doesn’t ship in the production & nightly builds). I probably need to regenerate the lock file. But I’m not going to be able to today as I’m seeing family and heading back home in London. If anyone wants to pick it up. Just delete the lock file and run composer install. We’ll probably u

[2019-06-17 09:47] HLeithner commented on #25248
I updated the phar wrapper to 3.1.2 that should fix it, correct @wilsonge ?

[2019-06-17 10:21] ralain opened #25253 "Duplicate module chrome when loading multiple instances of the same module"
### Steps to reproduce the issue

Create a simple Custom HTML module. Set Show Title to Show. Set Module Style to html5.
Insert the module multiple times in the same article using loadmodule, loadposition or loadmoduleid methods. Example:
{loadmoduleid 96}{loadmoduleid 96}{loadmoduleid 96}

### Expected result

Module repeats unchanged when viewing the article in frontend.

### Actual result

Modu

[2019-06-17 10:42] SharkyKZ commented on #25253
Duplicate of https://github.com/joomla/joomla-cms/issues/12888.

[2019-06-17 10:50] franz-wohlkoenig commented on #25253
Thanks for Report @ralain and for finding the Duplicate @SharkyKZ

Closed as duplicate Report.

[2019-06-17 10:50] #25253 closed, assigned to nobody

[2019-06-17 10:53] glenatron commented on #25202
@HLeithner sure, is the best way to raise the message to use `application->enqueueMessage($msg, 'error');` or is something else more correct in this circumstance?

Can confirm that failing to run the SQL installer file was me messing up the markup of my config file, so that is not relevant to this message at all.

[2019-06-17 11:16] franz-wohlkoenig commented on #25202
@infograf768 can the Issue be closed?

[2019-06-17 11:41] HLeithner commented on #25202
@glenatron enqueue a message would be enough so if the developer test his component at least once he should see the problem.

I'm closing this. You can reference this issue in your PR.

[2019-06-17 11:41] #25202 closed, assigned to nobody

[2019-06-17 12:20] ReLater commented on #25202
Maybe you're right and I don't understand your thoughts but there is already a correct message in the queue as you can see in the red error:

{"success":true,"message":null,**"messages"**:{**"warning"**:["JFolder: :files: Path is not a folder. Path: \/administrator\/components\/com_helloworld\/sql\/updates\/mysql"],"message":["Installation of the component was successful."]},"data":{"redirect":"\/

[2019-06-17 12:24] HLeithner commented on #25202
2 possible ways, stop the installation or let the installer ignore the missing sql file.

[2019-06-17 12:31] ReLater commented on #25202
Because I prefer to learn coding "the hard way" I would leave it as ist is. See my "Contra" in https://github.com/joomla/joomla-cms/issues/25202#issuecomment-502239994
Why should Joomla react friendly here? The extension is wrongly configured. The red message contains all necessary informations for developers and more helpful informations than the message queue can provide.

[2019-06-17 13:13] marscom65 opened #25254 "4.0 logging out"
Hi,
working on localhost with MAMP PRO 5.3 and PHP 7.2.14, it's almost impossible to work in the backend: almost every operation leads to a logout. Adding an image in the content > saving > logged out. Changing from Control Panel to system > logged out. Clicking an article in the article list > logged out.
Only installation is the JCE PRO. Same behaviour before, without any third-party installatio

[2019-06-17 13:22] HLeithner commented on #25254
Which version do you use? Did you tested the version from the backend template repository? https://github.com/joomla/backend-template

[2019-06-17 13:29] marscom65 commented on #25254
The latest Alpha version. Downloaded it from the JOOMLA project site.

[2019-06-17 14:16] bayareajenn commented on #25192
Came across this with an update date of 18 March 2019 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frame but I am not educated enough to know if this has something to do with it. And this too https://developer.mozilla.org/en-US/docs/Tools/Working_with_iframes.

[2019-06-17 16:04] mbabker commented on #25237
The 4.0 templates are no different than the templates of 3.x, 2.5, and it looks like 1.5 (assuming I went far enough back in git history because I can't be bothered to download something that old) regarding author name.  I could have sworn this discussion has happened in the past, maybe there's something in the all-but-abandoned Google Groups.  If there's nothing there, it's probably buried in a S

[2019-06-17 16:08] brianteeman commented on #25237
The previous templates just had the name of the main designer. (Which I was always against) the proposed new one has a long list of SOME of the people who have worked on the template.

I saw no reason in the past and I see no reason now to treat contribution to the template any differently to the rest of joomla.

All together as a whole!

[2019-06-17 16:26] mbabker commented on #25237
I don't really care either way what the result is.  I just wanted to make sure it was clear in this thread the templates (for better or worse) have historically NOT had `<author>Joomla! Project</author>`, since when I originally read this I was thinking there was some change between 3.x and 4.0 (which there is in the number of names, but that's it right now).

[2019-06-17 17:15] Quy commented on #25245
Upgraded to the latest version of XAMPP.

[2019-06-17 17:17] Quy commented on #25254
It is better to test with the nightly builds: https://developer.joomla.org/nightly-builds.html

[2019-06-17 17:25] ReLater commented on #25254
But not today: https://github.com/joomla/joomla-cms/issues/25248

[2019-06-17 17:40] mbabker commented on #25245
Doctrine does some post parsing for MySQLi connections to try and handle this case, see [this method](https://github.com/doctrine/dbal/blob/91f01420e1eaf6cf746ba45ccd3880a571946c32/lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php#L98-L118) for details.  Maybe something similar can be applied (but again, as I said this really should include tests in the Framework repo).  They don't do this for

[2019-06-17 17:47] mbabker commented on #25245
(And in all honesty, if the B/C break in the version parsing gets accepted then a `isMariaDBConnection()` method might need to be added to the MySQL drivers otherwise the one way someone could actually identify the platform outside the database API is most likely lost without hacky Reflection uses, not that that's a bad thing as at a minimum that would let the stats plugin and API be updated to mo

[2019-06-17 17:54] #25248 closed, assigned to nobody

[2019-06-17 17:54] mbabker commented on #25248
Nightlies are being rebuilt with https://github.com/joomla/joomla-cms/pull/25251 merged right now, updated package will be on the server within 2-3 minutes of this post.  Note https://github.com/joomla/joomla-cms/pull/25252 is included which bumps PHP minimum requirement to 7.2.

Closing.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application<

[2019-06-17 17:55] brianteeman commented on #25254
Even so it is not a common issue or we would all be seeing it. I suspect something in your configuration causing the issue. If you go to the system menu and then check to see if there are any warnings

[2019-06-17 17:59] HLeithner commented on #25245
There is no reason to bring this into Framework 1.x that version isn't used in j4 or did I miss somthing?

We only use the 2.0 and there is the question whats the best way to do it. Creating an own "empty" driver that extends mysql or try to abstract mariadb difference into mysql driver? (sound not like a good option).

It seams doctrine does it for the pdo driver in the abstractmysqldriver https:

[2019-06-17 18:03] HLeithner commented on #25192
No both are unrelated.

[2019-06-17 18:06] mbabker commented on #25245
Nope, but pointing out changing the methods that return the version string on MySQL drivers is a B/C break for anyone calling `JDatabaseDriver::getVersion()` and expecting to be able to parse out the MariaDB specific bit, hence the reason I explicitly said of the three versions of database code available (what's currently in Joomla 3.x, and the two Framework version branches) that only one should

[2019-06-17 18:12] HLeithner commented on #25245
Ok thx yeah the getVersion shouldn't change in the 1.x version.

The subclass is the question, that really depends if mariadb will really do stuff that we want to use and is not implemented the same way as mysql. I hope such thing will not be needed... I will check mariadb combat documentation maybe @alikon can help on this.

[2019-06-17 18:14] richard67 commented on #25245
[https://mariadb.com/kb/en/library/mariadb-vs-mysql-compatibility/](https://mariadb.com/kb/en/library/mariadb-vs-mysql-compatibility/)

[2019-06-17 18:21] Quy opened #25255 "[com_contact] Undefined property: ContactTableContact::$title"
### Steps to reproduce the issue
Go to Components > Contacts
Select a contact.
Click Batch.
Perform Copy to a category.

### Actual result

### System information (as much as possible)
Latest staging

[2019-06-17 18:21] richard67 commented on #25245
Looks as if certain MariaDB versions are binary compatible with corresponding MySQL vewrsion, see link above. Only for views there seem to be some incompatibility, but we don't use views in Joomla DBs.

[2019-06-17 18:25] mbabker commented on #25245
IMO a subclass isn't necessary; Joomla's driver and query classes don't expose anything that would have behavioral differences between the original and the fork.  Even looking at where Doctrine has dedicated code paths for MariaDB support, it is predominantly around JSON type support, the list of reserved keywords, or escape sequences for default values (none of which have an equivalent thing in t

[2019-06-17 18:34] richard67 commented on #25255
Confirmed.

[2019-06-17 18:40] bayareajenn commented on #25192
Got it. Worth a try. At least you know I care. Let me know where I can help (I'm not a coder, sadly). Thank you and everyone for the help on this! You're appreciated!

[2019-06-17 18:40] HLeithner commented on #25245
So I think we should do something similar to doctrine and don't use a subclass for now only add the version check and the isMariaDBConnection function as michael suggested.

We have production meeting tomorrow and will talk about it, I think minimum version should be mariadb 10.0 because we have? the same problem for mysql 5.7 with datetime columns and converting them. On the other site mariadb 10

[2019-06-17 21:17] ot2sen commented on #25237
It goes back to the first templates included. Thought of as external work, external support to some extent. Same with the early competition included templates. Made precedence of some sort.
History tells though that it ends up being community supported, and logically should hold the same project credits (and no favoured mini advertising in the core distributed package).
J4 could be the step to cha

[2019-06-17 21:18] brianteeman commented on #25237
Thanks for the historical info @ot2sen

[2019-06-17 21:25] Hackwar commented on #18789
Joomla 3.x has a feature freeze and Joomla 4.0 has removed the specific printing button. Defining a print view with that falls under the duty of the template designer/site integrator. Thus this issue is not one of the Joomla project anymore. I would like to ask to close this one.

[2019-06-17 21:43] #19476 closed, assigned to nobody

[2019-06-17 21:43] Quy commented on #19476
Please test PR #25256.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/19476">issues.joomla.org/tracker/joomla-cms/19476</a>.</sub>

[2019-06-17 21:45] Hackwar commented on #20959
This one can be closed. The code in smart search for this seems to be gibberish and would best be removed in a refactoring.

[2019-06-17 21:45] #20959 closed, assigned to nobody

[2019-06-17 21:53] brianteeman commented on #18789
Please re-open. We need a print.css for the frontend template in joomla 4 - thats what this is about

[2019-06-17 22:01] #13174 closed

[2019-06-17 22:01] Quy commented on #13174
Closing as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13174">issues.joomla.org/tracker/joomla-cms/13174</a>.</sub>

[2019-06-17 22:49] wilsonge commented on #18789
Agree with Brian here. Actually with removing the print thing we should have a print.css that probably removes all modules and just prints the main content of the page (i.e. a version of the `component.php` layout).

[2019-06-17 22:50] wilsonge commented on #15833
I 100% agree with @uglyeoin on this. This was intended for this years GSOC project (unfortunately we couldn't get a mentor team on this). But it's definitely a valid feature request

[2019-06-17 22:56] brianteeman commented on #15833
I have a PR to submit in the morning to kill the useless meta keywords

[2019-06-17 23:35] uglyeoin commented on #15833
@brianteeman doesn't related articles use that?

[2019-06-18 03:38] franz-wohlkoenig commented on #15833
Module Articles Related use Meta Keywords.

[2019-06-18 08:25] Hackwar commented on #21997
This one can be closed now. The issue has been solved in the backend-template project.

[2019-06-18 08:25] Hackwar commented on #21994
This one can be closed now. The issue has been solved in the backend-template project.

[2019-06-18 08:26] Hackwar commented on #21992
This one can be closed now. The issue has been solved in the backend-template project.

[2019-06-18 08:26] Hackwar commented on #22000
This one can be closed now. The issue has been solved in the backend-template project.

[2019-06-18 08:27] Hackwar commented on #22001
This one can be closed now. The issue has been solved in the backend-template project.

[2019-06-18 08:32] brianteeman commented on #22001
No this should not be closed - they are still open issues until the work from the  backend-template project is accepted and merged

[2019-06-18 08:33] brianteeman commented on #22000
No this should not be closed - they are still open issues until the work from the backend-template project is **accepted** and **merged**

[2019-06-18 08:33] brianteeman commented on #21997
No this should not be closed - they are still open issues until the work from the backend-template project is **accepted** and **merged**

[2019-06-18 08:33] brianteeman commented on #21994
No this should not be closed - they are still open issues until the work from the backend-template project is **accepted** and **merged**

[2019-06-18 08:34] brianteeman commented on #21992
No this should not be closed - they are still open issues until the work from the backend-template project is **accepted** and **merged**

[2019-06-18 12:37] SharkyKZ commented on #25127
This can be closed since https://github.com/joomla/joomla-cms/pull/24623 has been merged.

[2019-06-18 12:54] #25127 closed, assigned to nobody

[2019-06-18 13:09] mbabker commented on #23876
In the hopes that nobody decides to re-invent the wheel yet again (doubtful), I have extracted the DatabaseTestCase I am using for the stats server into [the Framework's Test package](https://github.com/joomla-framework/test) and updated its master branch for the Framework 2.0 requirements.  The relevant bits are [the `DatabaseTestCase`](https://github.com/joomla-framework/test/blob/master/src/Dat

[2019-06-18 14:41] HLeithner commented on #23876
Any example how to convert or use the dbunit code to the testing package? You extracted it from the statistic server the relevant commit is https://github.com/joomla/statistics-server/commit/7cb7ba80464f42d88c6052995cb301db927c77d4 ?
I didn't looked at dbunit but should the replacement straight forward?

[2019-06-18 14:57] mbabker commented on #23876
It's not a 1-for-1 swap unfortunately, nor am I trying to write a DbUnit replacement.

Right now the `DatabaseManager` only has logic for a few high level operations:

- Create a database
- Drop a database
- Truncate all tables in a database

Between the CMS and the various Framework apps floating around out there, there are a lot of differing database schemas and differing ways to manage seeding

[2019-06-18 15:02] HLeithner commented on #23876
ok thx for the explanation.

[2019-06-18 15:07] SharkyKZ commented on #25255
Test PR #25259 please.

[2019-06-18 15:08] franz-wohlkoenig commented on #25255
Closed as having Pull Request #25259

[2019-06-18 15:08] #25255 closed, assigned to nobody

[2019-06-18 15:26] Quy opened #25260 "[com_newsfeeds] PHP Notice: Undefined property: NewsfeedsTableNewsfeed::$title"
### Steps to reproduce the issue
Go to Components > News Feeds
Select a news feed.
Click Batch.
Perform Copy to a category.

### Actual result

[2019-06-18 15:29] #25260 closed, assigned to nobody

[2019-06-18 15:30] Quy commented on #25260
See PR #25259<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25260">issues.joomla.org/tracker/joomla-cms/25260</a>.</sub>

[2019-06-19 05:35] tarnian1390 opened #25267 "Help selector field in global config removed...!"
### Steps to reproduce the issue

### Expected result

### Actual result
Help selector field in global config removed...!
I can't point to my help server...

And please remove xml file from update package joomlaCMS...

### System information (as much as possible)

### Additional comments

[2019-06-19 05:35] richard67 commented on #25245
@HLeithner Any news from the production meeting?

[2019-06-19 05:48] franz-wohlkoenig commented on #25267
Please ask on [Forum](https://forum.joomla.org/)

[2019-06-19 05:48] #25267 closed, assigned to nobody

[2019-06-19 07:17] HLeithner commented on #25267
The Helpserver support has been removed in the last minor update.

[2019-06-19 07:33] HLeithner commented on #25245
We discussed it but didn't come to a conclusion because we need more information about our installation base. It seams that MariaDB has about 30% usage. The main question at the moment is the difference in json support between MariaDB and MySQL.

A snapshot of the discussion is that we like to support MariaDB but don't know exactly which version and how we handle it in the driver. Also the upgrade

[2019-06-19 08:04] infograf768 commented on #25267
@tarnian1390
The only other help server available was for French.
As it was totally obsolete and French help is now available through the joomla server, it was useless, thus that change.

[2019-06-19 08:21] brianteeman commented on #25245
If I remember correctly if using $mysqli->server_info then you need to be careful as the returned strings are different on Linux ("10.0.17-MariaDB-log") and Windows ("5.5.5-10.0.17-MariaDB-log")

[2019-06-19 09:17] alikon commented on #25245
could be a starting point https://github.com/doctrine/dbal/blob/90f79c8b39fa451264537440ead0fe1ab1c751b8/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php#L173

[2019-06-19 09:17] sajalaspl opened #25268 "0 Joomla\Filesystem\File::delete: Failed deleting inaccessible file xyz.php"
Joomla 3.9.4

This seems to be general issue, and it can happen with any extension you're installing.

For me, I'm installing EasyBlog extension, and during installation it gives me following error:

0 Joomla\Filesystem\File::delete: Failed deleting inaccessible file autoposting.php

Now, if I find "autoposting.php" in easyblog dirs, I delete it manually, it moves on. Then, it gives same error but

[2019-06-19 09:39] franz-wohlkoenig commented on #25268
Please ask on [Forum](https://forum.joomla.org/)

[2019-06-19 09:42] HLeithner commented on #25268
@sajalaspl we need more information about the versions you are using.

[2019-06-19 10:13] richard67 commented on #25245
Yes, and the regex handles what Brian mentioned above, as far as I understand it.

[2019-06-19 11:26] James-Antrim opened #25269 "[4.0] com_menu and component namespacing"
It is at the moment impossible (with core functionality) to use a folder location for component menu item configuration XML files, other than those Joomla would search anyways. I want to use component/Layouts/HTML so the files are in the same folder as the Layouts they configure.

Joomla also cannot resolve namespaced custom fields within the context of com_menu, using only core functionality.

##

[2019-06-19 11:32] uglyeoin opened #25270 "[4.0] When moving child menus back and forth they don't sit well the second time"
### Steps to reproduce the issue
Install J4
Install patch #25205
Ensure you have two menus
Create a parent item in both
Create a child item on the first parent, then create a second child item on the first child
Move the first child item to the second parent item in the other menu
It should move and bring its own child with it

Move the first child item back to the first menu parent
Both items mov

[2019-06-19 11:37] Quy commented on #25268
Possible duplicate #23504

[2019-06-19 11:40] franz-wohlkoenig commented on #25268
@sajalaspl can you please confirm the report is a duplicate of #23504?

[2019-06-19 11:53] Quy commented on #25268
Duplicate of #23504<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25268">issues.joomla.org/tracker/joomla-cms/25268</a>.</sub>

[2019-06-19 12:00] artur-stepien opened #25271 "HTML code removed from Editor field in repeatable custom field"
### Steps to reproduce the issue
* Go to: `Content -> Fields -> New`
* Fill `Title` and `Name`
* From `Type` select `Repeatable`
* In `Form Fields` add new field of type `Editor` and fill its name
* Click on `Save & Close`
* Go to: `Content -> Articles -> Add New Article`
* Find your new created custom field and fill it with for example bold text.
* Fill article `Title` and mark `Featured` to `Yes

[2019-06-19 12:11] #25271 closed, assigned to nobody

[2019-06-19 12:11] Quy commented on #25271
Fixed per #25189 to be in 3.9.9<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25271">issues.joomla.org/tracker/joomla-cms/25271</a>.</sub>

[2019-06-19 12:13] artur-stepien commented on #25271
@Quy Just quick question. When is the planned 3.9.9 release date?

[2019-06-19 12:21] franz-wohlkoenig commented on #25271
Once a Month, last Release was last Week.

[2019-06-19 12:59] sajalaspl commented on #25268
System Information:

PHP Built On | Linux aum224.aum.com 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64
-- | --
Database Type | mysql
Database Version | 5.5.5-10.2.7-MariaDB
Database Collation | utf32_general_ci
Database Connection Collation | utf8mb4_general_ci
PHP Version | 7.1.23
Web Server | nginx/1.12.1
WebServer to PHP Interface | fpm-fcgi
Joomla! Version | Joomla! 3.9.

[2019-06-19 13:11] HLeithner commented on #25268
Seams not to be a duplicate because it's on linux and the other bugreport is windows specific...

[2019-06-19 13:17] HLeithner commented on #25271
I updated the planed release date for 9.7.2019

[2019-06-19 13:27] Quy commented on #25268
Linux is discussed in the other issue. Why not keep it under one issue?

[2019-06-19 13:28] brianteeman commented on #25268
The site probably needs to use ftp mode (and it needs updating)

[2019-06-19 13:34] HLeithner commented on #25268
Because I'm not sure thats it is the same problem.

@sajalaspl can you edit the file libraries\vendor\joomla\filesystem\src\Path.php as commented in this comment: https://github.com/joomla/joomla-cms/issues/23504#issuecomment-480508661

The Line shoud be 124.

And as brian said please update to the lastest version before you test.

[2019-06-19 14:13] brianteeman opened #25272 "[4.0] xreference"
every **article** has two input fields in the publishing tab
![image](https://user-images.githubusercontent.com/1296369/59771204-32222800-92a1-11e9-80f6-c2623c3b193b.png)
![image](https://user-images.githubusercontent.com/1296369/59771236-39493600-92a1-11e9-8e7d-05c3c86d5786.png)

Guess what both have the same field name="xreference"
The first is saved in the json field 'metadata'
The second is sa

[2019-06-19 14:24] mbabker commented on #25268
Or, you know, someone can actually dig in and try fixing the API and re-validating all of the assumptions within it like I suggested 2 months ago.

[2019-06-19 14:42] #25254 closed, assigned to nobody

[2019-06-19 14:42] Quy commented on #25254
Closing for now since it is not easy to troubleshoot with a local install. Please test with nightly builds and different browser if possible. This can be reopened when additional detailed information is provided.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25254">issues.jo

[2019-06-19 15:29] brianteeman commented on #25272
Yes I know I am trying again.

[2019-06-19 17:13] Guttormson opened #25273 "Update of user settings requires knowledge of user password"
### Steps to reproduce the issue
As administrator, change a setting for another user - ie. editor, language or user group

### Expected result
As administrator I would expect to make such a change without affecting, or knowledge of, user's password

### Actual result
Requires confirmation of password with message : 'The passwords you entered do not match. Please enter your desired password in the

[2019-06-19 17:24] blastoise186 opened #25274 "Update the AppVeyor Badge to point to Release-Joomla"
### Is your feature request related to a problem? Please describe.
I've noticed that for some time now, the AppVeyor Badge on Joomla's readme file here on GitHub still directs to /joomla/joomla-cms which is no longer valid, leaving it in a constant state of "Build Failing" indefinitely.

### Describe the solution you'd like

Because the project is now under /release-joomla/joomla-cms on AppVeyor,

[2019-06-19 18:04] richard67 commented on #25274
@blastoise186 Do you want to make the pull requests (1 for staging and 1 for 4.0-dev) to correct this? Or shall I do that?

[2019-06-19 18:06] blastoise186 commented on #25274
Hi @richard67 ,

I would be happy to give it a go, it's just that there seems to be an API specific link for AppVeyor, and I don't know if the link changed when the project got moved.

But I guess it's worth me giving it a go

[2019-06-19 18:12] richard67 commented on #25274
@wilsonge George, do you know if these keys like "bpcx ..." in the link URLs of the Appveyor badges have changed when it was changed from `project/joomla/joomla-cms` to `project/release-joomla/joomla-cms`? I guess it needs an Appveyor login to check that.

[2019-06-19 18:12] blastoise186 commented on #25274
I might have a problem there actually.

According to https://www.appveyor.com/docs/status-badges/ the Status Badges normally include a security token, but it might be possible to workaround it since the repository is public

[2019-06-19 18:14] richard67 commented on #25274
Let's wait for reply from George, and if he is not available I will ask some other maintainer who should know that. I'll report back here in that case.

[2019-06-19 18:15] Quy commented on #25274
Fixed in J4 with PR #25241.

[2019-06-19 18:18] richard67 commented on #25274
@Quy No. In that PR URL is still `https://ci.appveyor.com/project/joomla/joomla-cms` and not `https://ci.appveyor.com/project/release-joomla/joomla-cms`. If you look on the page of the first link, you see old stuff from 9 months ago. If you look on the page of the 2nd link, you see recent commits for both 4.0-dev and staging. Unfortunately both @Hackwar when he coded the PR and me when I tested it

[2019-06-19 18:19] blastoise186 commented on #25274
Thanks. In theory, I could manually force the badge to use links that don't involve a security token, but I don't feel comfortable making such a change without agreement.

[2019-06-19 18:22] richard67 commented on #25274
@blastoise186 No, we should use the security token. The one (or more) maintainers who have the credentials for the Appveyor login will know if those tokens have changed or not, or will be able to look that up. No need to hurry. It seems it did not work in the last 9 months, so one or 2 days more or less will not be a big issue.

[2019-06-19 18:23] blastoise186 commented on #25274
That's good with me then. Thanks for handling it!

[2019-06-19 18:24] richard67 commented on #25274
Thanks for reporting it.

[2019-06-19 18:25] blastoise186 commented on #25274
No problem. Also, while I'm here I noticed that 3.10-dev still shows the old links for the Drone badge. Would you like me to PR that badge, since I can do that without any trouble?

[2019-06-19 18:28] richard67 commented on #25274
No, the 3.10-dev branch gets the changes from the staging branch merged in after every new 3.9.x release. And in staging it recently has been corrected. So for 3.10-dev nothing has to be done.

[2019-06-19 18:28] ReLater commented on #25273
I haven't seen that message for a long time in Joomla. Normally it's a browser addon as far as I remember that fills the password field.

That's wrong. Simply clear **both** password fields! Then you can save.

[2019-06-19 18:41] richard67 commented on #25274
@blastoise186 But if you would like to contribute to Joomla and have a bit spare time from time to time, just check some new issues, and if you know how to solve it, a pull request is always welcome. Same if you discover a new issue, feel free to make a PR. We have a few code style rules which are checked by our ci tools (Drone), and we have the rule that every PR should be tested by the author be

[2019-06-19 18:43] ReLater commented on #25271
If you find a working way to re-add the Global option for https://github.com/joomla/joomla-cms/pull/25189 ; a pr would be very welcome.

[2019-06-19 18:44] blastoise186 commented on #25274
Sure thing, thanks! I'm unfortunately unable to contribute code as it's not in my skill set, but I've been watching the repository for a few years and use Joomla a lot. So I'll definitely try to contribute a few things.

Thanks for the welcome too, I appreciate it

[2019-06-19 18:45] richard67 commented on #25274
Well, watching and using Joomla and reporting issues is also a good thing and helpful for us. So thanks for that, and keep going on.

[2019-06-19 18:54] Guttormson commented on #25273
How simple.  Thanks

On Wed, 19 Jun 2019 at 14:28, ReLater <notifications@github.com> wrote:

[2019-06-19 18:55] hgh-esn commented on #25273
... and then the user has a cleared password?

[2019-06-19 18:58] Guttormson commented on #25273
No, the password is re-entered by the system at the conclusion of the
save.  Tried it and that was what happened in my Chrome browser.

On Wed, 19 Jun 2019 at 14:55, hgh-esn <notifications@github.com> wrote:

[2019-06-19 19:03] artur-stepien commented on #25271
@ReLater Youre talking about extending this `Filter` parameter in provided PR to have something like `Use global configuration`?

[2019-06-19 19:08] franz-wohlkoenig commented on #25273
@Guttormson please close the Issue if its solved.

[2019-06-19 19:16] franz-wohlkoenig commented on #25274
Closed as having Pull Request #25275

[2019-06-19 19:16] #25274 closed, assigned to nobody

[2019-06-19 19:17] richard67 commented on #25274
IS for staging. PR for 4.0-dev follows in a minute.

[2019-06-19 19:21] richard67 commented on #25274
PR for 4.0-dev is #25276 .

[2019-06-19 19:21] blastoise186 commented on #25274
Ah ha, perfect. tysm

[2019-06-19 19:25] #25273 closed, assigned to nobody

[2019-06-19 20:33] richard67 commented on #25245
I will start to work on that if nobody else says he/she is doing that already.

[2019-06-19 21:28] alikon commented on #25245
please, go for it... you have my green light, whatever this means

[2019-06-19 21:52] richard67 commented on #25245
Because of utf8mb4 checks, the MySQLi driver of the framework includes at several places checks against hard-coded MySQL server versions, which are below the minimum requirement for J 4.0-dev / Framework database 2.0-dev. So it needs to clean this up a bit, too. So be patient.

[2019-06-20 00:52] ReLater commented on #25271
@artur-stepien

Yes. We removed the `Global` parameter there because it didn't work and I didn't want to hard code the sub field types in repeatable.php or rather to start several requests for the active filter value of any single plugin there. If you find an elegant way ... would be great.

[2019-06-20 04:15] franz-wohlkoenig commented on #25269
@alikon can you please have a look?

[2019-06-20 05:36] sajalaspl commented on #25268
@HLeithner OK, I'll upgrade Joomla version, then I'll do the changes as you've mentioned in the libraries\vendor\joomla\filesystem\src\Path.php file. And then I'll get back to you.

[2019-06-20 06:17] SharkyKZ commented on #24354
@joeforjoomla please enable system debug in Global Configuration and post stack trace. Is this on a clean installation or updated? Do you have any extensions installed? Can you post a list of all your tables and their collations?

I can create the alias but I do not get the error. On a clean installation all tables should be `utf8mb4`.

[2019-06-20 06:19] SharkyKZ commented on #24354
I can reproduce this in backend.

[2019-06-20 06:48] LoRexxar opened #25277 "Update typo3 phar-steam-wrapper"
### Is your feature request related to a problem? Please describe.

typo3 phar-steam-wrapper 2.1.1 and 2.1.2 update and fix some bugs. and some bugs  affect my use, I hope to update this plugin。

### Describe the solution you'd like

update typo3 phar-steam-wrapper to 2.1.2

### Additional context

https://github.com/TYPO3/phar-stream-wrapper/releases

[2019-06-20 07:09] LoRexxar commented on #25277
there are a secrutiy issue update in 2.1.1

https://typo3.org/security/advisory/typo3-psa-2019-008/

i think it will make my joomla cms be unsafe , Although I don't know how the problem will occur, I want to protect my server.

[2019-06-20 07:37] richard67 commented on #25245
I have a question to all: If the minimum requirement for MySQL is 5.6 in J4, does this apply only to the DB on which J4 is installed, or does it also apply to any external other MySQL DB to which any 3rd party extension can connect, using our DB driver?

I ask because the 2.0-dev branch of the framework package still contains checks for utf8mb4 compatibility with hard-coded version numbers older t

[2019-06-20 07:40] HLeithner commented on #25277
The security problem you mention has been fixed in Joomla! 3.9.6 as
[20190502] - Core - By-passing protection of Phar Stream Wrapper Interceptor
https://developer.joomla.org/security-centre.html

I will do a composer update and create a PR for it, you can test this later today.

[2019-06-20 08:20] joeforjoomla commented on #24354
@SharkyKZ closed as not a core issue.
Sorry for the delay.

[2019-06-20 08:20] #24354 closed, assigned to nobody

[2019-06-20 09:17] richard67 commented on #25245
Maybe I was thinking too complicated ... easy first draft solution is in progress.

[2019-06-20 09:18] franz-wohlkoenig commented on #25277
Closed as having Pull Request #25279

[2019-06-20 09:18] #25277 closed, assigned to nobody

[2019-06-20 09:43] hgh-esn opened #25280 "[4.0] Extensions-Update: generate an info, when extension is unpublished"
### Describe the solution you'd like
Make the update listview a bit more informative to the admin.  Show a hint for unpublished extensions when an update exist.

**Background:**
The extension update view lists all the extensions for which an update exists.

**But only the installation of the extension and not its actual state (enabled/disabled) is recognised.**

I think, it would be a good idea to

[2019-06-20 12:12] mbabker commented on #25245
Leave the utf8mb4 checks alone, they aren't hurting anything right now (it's basically dead code for checking server compatibility, but the client compatibility parts are still necessary).

[2019-06-20 12:18] richard67 commented on #25245
@mbabker Yes, I agree. And it seems we are lucky and in J4 the installer lib already uses the right way to check the minimum versio, so nothing to to in core beside fetching framework database package.

I have meanwhile a proposal which seems not to break anything with MySQL. Would need a tester with MariaDB (=> @Quy ) and a good code reviewer (= you, Michael):

[https://github.com/joomla-framewor

[2019-06-20 12:22] mbabker commented on #25280
Distinguishing an extension as enabled or disabled on the update screen is a bad idea (and FWIW WordPress does not do this either).  Regardless of whether it is enabled or disabled, it should still be updated as the vendor releases updates.  Even as a disabled extension, it is still code on your site and is a possible path toward a hack if not maintained.

[2019-06-20 12:26] franz-wohlkoenig commented on #25280
isn't his Issue the same than #25154?

[2019-06-20 12:27] mbabker commented on #25280
No, that one wanted to flat out remove disabled extensions from the update list.

[2019-06-20 12:31] brianteeman commented on #25280
Both should be closed as they encourage bad security practices

[2019-06-20 12:33] franz-wohlkoenig commented on #25280
closed as stated above. Thanks for Info @mbabker @brianteeman

[2019-06-20 12:33] #25280 closed, assigned to nobody

[2019-06-20 12:50] richard67 commented on #25245
@Quy Ah, just right now I see how my previous comment reads. Sorry, of course you are an excellent reviewer, too, and I would like you to review. Now I'll have a family visit, and after that I will see what happened.

[2019-06-20 12:52] richard67 commented on #25245
@Quy And for test, do you also have a younger MariaDB version than the one posted in the description of this issue? I have set the minimum required to 10.2 in the framework PR. If not, I have to lower that and we can later after test increase it again. Or you change that variable locally when testing.

[2019-06-20 13:21] Quy commented on #25245
Sorry I do not. Now  I upgraded to the latest version which is 10.3.15.

[2019-06-20 13:33] mbabker commented on #25245
Set it to 10.0 right now and leave it be.  If that's going to get raised, there's a bit more effort involved to clean up a lot of Travis builds there that actually run the MySQL test cases against a MariaDB server.

[2019-06-20 14:54] Quy opened #25282 "[4.0] Tooltip cutoff"
### Steps to reproduce the issue
Go to Contents > Site Modules
Hover mouse over icon under Status column.

### Actual result
![tooltip](https://user-images.githubusercontent.com/368084/59858319-a1465d80-932f-11e9-8797-3733a0605a70.jpg)

[2019-06-20 15:31] AndyGaskell opened #25283 "When choosing category, odd "Add new Category" text is shown."
### Steps to reproduce the issue

1) Edit an article, or create a new one via the "administrator", for example at section /administrator/index.php?option=com_content&view=article&layout=edit

2) In the "Category" field, type, for example "abcdef"

### Expected result
The search returns "Category not found"

### Actual result
The search returns "Add new Category", text, which is not clickable, so t

[2019-06-20 15:31] AndyGaskell commented on #25283
fix formatting<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25283">issues.joomla.org/tracker/joomla-cms/25283</a>.</sub>

[2019-06-20 15:36] AndyGaskell commented on #25283
Quick links to code...

The code...
`. 'data-no_results_text="' . JText::_('JGLOBAL_ADD_CUSTOM_CATEGORY') . '" '`
...is at...
https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_categories/models/fields/categoryedit.php#L350

The code...
`JGLOBAL_ADD_CUSTOM_CATEGORY="Add new Category"`
...is at...
https://github.com/joomla/joomla-cms/blob/staging/administrator/language/e

[2019-06-20 15:43] franz-wohlkoenig commented on #25283
can you please upgrade to latest Version?

[2019-06-20 15:53] Duddy67 opened #25284 "Errors occur when changing category in the batch window"
### Steps to reproduce the issue
Select some articles in the backend article list.
Click on the Batch button then change the category of these articles.

### Expected result
The selected articles are now in the category selected in the batch window.

### Actual result
Error messages occur but in a very random way.

It can be this one:

`Batch process failed with following error: Joomla\CMS\Table\A

[2019-06-20 16:12] AndyGaskell commented on #25283
Sorry, I've updated to the latest version and this is still the same.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25283">issues.joomla.org/tracker/joomla-cms/25283</a>.</sub>

[2019-06-20 16:13] SharkyKZ commented on #25283
You can create a new category by pressing `Enter`.

[2019-06-20 16:14] AndyGaskell commented on #25283
I also tested on 3 different systems and it is also the same.

[code]

[2019-06-20 16:19] AndyGaskell commented on #25283
@SharkyKZ I didn't realise that, thanks :)

Maybe we could change it to...
`JGLOBAL_ADD_CUSTOM_CATEGORY="Add new Category, type and hit enter"`
...or something similar, to make this clearer and more intuitive.

I've been using Joomla for over 10 years, and would not have guesses this was the design pattern

[2019-06-20 16:20] richard67 commented on #25245
@Quy PR for J4 is PR #25285 . Please test.

[2019-06-20 16:37] #25245 closed, assigned to nobody

[2019-06-20 16:45] Giuse69 opened #25286 "user.css in protostar is ignored on 404"
### Steps to reproduce the issue
Go to an invalid link that throws a 404 error

### Expected result
user.css should be included

### Actual result
just template.css is included but not user.css

### System information (as much as possible)
Joomla 3.9.8

### Additional comments

[2019-06-20 16:46] franz-wohlkoenig commented on #25283
@brianteeman do you have a comment on this?

[2019-06-20 17:08] Quy commented on #25286
Cannot reproduce.  `user.css` is in the same folder as `template.css`.

[2019-06-20 18:20] Giuse69 commented on #25286
Yes, it is. user.css is normally included across the site (also visible in the HTML source of the page) but when I type a wrong URL the source contains
`
<style>
h1, h2, h3, h4, h5, h6, .site-title {
 font-family: 'Open Sans', sans-serif;
 }
</style>
<link href="/templates/protostar/css/template.css" rel="stylesheet" />
<link href="/templates/protostar/favicon.ico" rel="shortcut icon" type="image/

[2019-06-20 18:34] Quy commented on #25286
From the page source:
[code]

I don't know what you mean by typing the wrong URL.

[2019-06-20 18:46] franz-wohlkoenig commented on #25286
so he get a 404-Page where he is missing the user.css

[2019-06-20 18:55] Giuse69 commented on #25286
No, sorry, I mean: I explicitly invoke a non existing URL to receive a 404. In that case protostar template uses template.css but  not user.css

[2019-06-20 19:09] Quy commented on #25286
In Administration, go to `Extensions > Templates > Templates`.
Click `Protostar Details and Files`.
Click `css` folder icon.
Do you see `user.css` file?

[2019-06-20 19:15] Quy commented on #25286
I think I understand you now. On the 404 error page, `user.css` is not included.

[2019-06-20 19:18] hgh-esn commented on #25280
@mbabker @brianteeman @franz-wohlkoenig
I can not really share the concerns.
If it is important to update non-activated elements as well, the possibility to exclude an update via the select tick should **not** be possible. In short, a forced update should be implemented for all installed elements, whether activated or not.

[2019-06-20 19:25] mbabker commented on #25280
Blindly applying extension updates is a pretty bad idea too.  Users ignoring updates is one thing, and it's not something anyone should try to tackle in core.  Changing the interface to give the perception that it's OK to ignore updates for disabled extensions is a pretty bad idea in the long run.  If it is installed on your site, whether active or not it needs to be maintained.  The only safe way

[2019-06-20 19:29] Quy commented on #25286
Why not create a custom 404 error page?
https://docs.joomla.org/Creating_a_Custom_404_Error_Page

[2019-06-20 20:06] AndyGaskell commented on #25283
It's an awesome feature really, wish I'd know about it sooner :)

[2019-06-20 20:10] AndyGaskell commented on #25283
Perhaps...
``` JGLOBAL_ADD_CUSTOM_CATEGORY="To add the new Category %s hit enter"```
...which would be, like...
_"To add the new Category abcde hit enter"_
...or...
``` JGLOBAL_ADD_CUSTOM_CATEGORY="Hit enter to add the new Category"```
which would be, like...
_"Hit enter to add the new Category abcde"_
...would be nicer wording.

[2019-06-20 20:42] Giuse69 commented on #25286
Yes, it's an option but I think it should be automatically done. Maybe just adding in "templates/protostar/error.php" around line 70 the inclusion of user.css if existing?

[2019-06-20 20:51] Quy commented on #25286
It is a generic error page. What kind of custom styling do you need?

[2019-06-20 21:28] Giuse69 commented on #25286
for example to tune representation of the site logo, that is part of the generic error page

[2019-06-20 21:28] AndyGaskell commented on #25283
I suppose the UI element...
![com_menus__item_pick_or_create](https://user-images.githubusercontent.com/91541/59882583-8107b480-93aa-11e9-9df7-aec459f1f748.png)
...in com_menus/item has a very similar context of use, but very different implementation.

Just a thought I had while looking for analogous UI elements in other parts of Joomla.

[2019-06-20 21:53] Quy opened #25287 "[4.0] Class PlgFinderCategories contains 1 abstract method"
### Steps to reproduce the issue
Go to Components > Smart Search
Click Index button.
View PHP error log.

### Actual result
PHP Fatal error:  Class PlgFinderCategories contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Joomla\Component\Finder\Administrator\Indexer\Adapter::setup) in \plugins\finder\categories\categories.php on line 458

@Hackwar

[2019-06-20 21:58] brianteeman commented on #25286
It's a bug. It should be used

[2019-06-20 22:00] Giuse69 commented on #25286
thanks

[2019-06-21 02:34] #25192 closed, assigned to nobody

[2019-06-21 02:34] Quy commented on #25192
Please test PR #25184<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25192">issues.joomla.org/tracker/joomla-cms/25192</a>.</sub>

[2019-06-21 03:59] franz-wohlkoenig commented on #25284
@Bug Squad Team: Have one an Idea about the 2 given Error Messages?

[2019-06-21 04:05] franz-wohlkoenig commented on #25283
If People don't understand "Add new Category" and how to handle we get much more Issues. Closing this for that Reason; please reopen if further Discussion is needed.

[2019-06-21 04:05] #25283 closed, assigned to nobody

[2019-06-21 06:35] alikon commented on #25284
i suspect  a buggy `#__asset` table

[2019-06-21 06:39] alikon commented on #25269
if i understand well seems to me more like a new feature than an issue

[2019-06-21 06:40] franz-wohlkoenig commented on #25284
Thanks @alikon. @Duddy67 Please ask on [Forum](https://forum.joomla.org/)

[2019-06-21 06:40] richard67 commented on #25284
@franz-wohlkoenig , I hope nobody here uses thie nick name "bug", otherwise he/she got an email ;-)

I've never seen those error messages before, but as Nicola said, it smells like asset table not ok.

[2019-06-21 06:42] franz-wohlkoenig commented on #25269
Changed Label as new Features go in J4.

[2019-06-21 06:55] Duddy67 commented on #25284
So this problem is not considered as a bug ?
I ran these tests with a Joomla out of the box (no extra components, plugins...) so I guess the asset table is perfectly clean.
Moreover, regarding the Duplicate entry error, it seems to be related to the tag table and not necessarily to the asset table.

[2019-06-21 06:57] franz-wohlkoenig commented on #25284
thats a new Information > reopening.

[2019-06-21 07:03] richard67 commented on #25284
@Duddy67 "Joomla out of the box ...." did you install any kind of sample data with the last step of the installation?

[2019-06-21 07:06] richard67 commented on #25284
@Duddy67 And what is your PHP version? That's missing in the system info in the description.

[2019-06-21 07:28] HLeithner commented on #25284
@alikon can be related to your PR https://github.com/joomla/joomla-cms/pull/24730 ?

[2019-06-21 07:37] alikon commented on #25284
it could be, but

so untill we have a how to reproduce way.... it's quite hard

[2019-06-21 08:00] franz-wohlkoenig commented on #25284
@Duddy67 can you please describe exactly what happens if error occur next time so we can reproduce?

[2019-06-21 08:01] andykirk commented on #25092
@muesliflyer thanks for taking the time. Yes, I was just trying to present some use-cases for including the custom fields options to menu items.

In the end I made a plugin (as @mbabker suggested) though I still believe it would have been more convenient to have had custom fields.

I'm going to close this now.

Thanks,
Andy

[2019-06-21 08:01] #25092 closed, assigned to nobody

[2019-06-21 08:15] AndyGaskell commented on #25283
Thanks for you time, thoughts and input on this @franz-wohlkoenig and @SharkyKZ 🙂

Happy for this to be closed, it's a v minor UI issue really, and perhaps a PICNIC issue anyway (problem in chair not in computer).

Personally I think, having considered it a while, that changing it to...
`JGLOBAL_ADD_CUSTOM_CATEGORY="Hit enter to add the new Category"`
...would be an improvement, but I am very happ

[2019-06-21 08:24] Duddy67 commented on #25284
@richard67
`did you install any kind of sample data with the last step of the installation?`
Nope, I created the articles by hand one by one.

`And what is your PHP version?`
My PHP version: 7.2.1

@franz-wohlkoenig
As I said it's a tricky one and you have to repeat the steps several times before one of these errors occurs. Sometimes by alternating the batch selection (ie: several articles then ju

[2019-06-21 08:37] SharkyKZ commented on #25284
@Duddy67 Please enable debug in System Configuration and try to reproduce the error in first screenshot. You should see a stack trace. Post it here.

[2019-06-21 08:47] Duddy67 commented on #25284
@SharkyKZ
Here: (it's in 2 parts, sorry for that)

![2019-06-21-104327_1280x1024_scrot](https://user-images.githubusercontent.com/19156036/59910277-e5119380-9411-11e9-9b5b-dd262a7e78a6.png)
![2019-06-21-104331_1280x1024_scrot](https://user-images.githubusercontent.com/19156036/59910292-e9d64780-9411-11e9-9fe6-73f3207406bd.png)

[2019-06-21 10:22] franz-wohlkoenig commented on #25286
Closed as having Pull Request #25289

[2019-06-21 13:33] webconsolinc opened #25290 "[4.0] Having a consistent Plugin Events"
### Is your feature request related to a problem? Please describe.
I've noticed that Joomla's Plugin Events are very inconsistent. For example, onDisplay event in editors and editors-xtd are very different. I am aware that the display will not be the same for different type of content or different feature. However, the method's arguments should always be the same (or generic) and allows the body t

[2019-06-21 13:37] franz-wohlkoenig commented on #25290
Changed Label as new Features go in J4.

[2019-06-21 14:31] Fedik commented on #25290
`onDisplay` is not really an Event, it used like a `callback` https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Editor/Editor.php#L200 same for buttons.

You should not expect that it triggered as Event for all plugins.

[2019-06-21 17:44] alikon commented on #25284
i've tryied to replicate but ..... unable to get this error
i've copyied moved artciles between categories with tag without ..... but...unable to replicate

[2019-06-21 17:53] webconsolinc commented on #25290
@Fedik, check here:
https://docs.joomla.org/Plugin/Events

Regardless, the inconsistency is there and it should be genericized. See my suggestion in the proposed solution.

Another option is something like this:

public function onEventName() {
    $args = func_get_args();
    // implement the details here...
}

Or

// EventContext can be something like \Joomla\CMS\EventContext
public function onE

[2019-06-21 18:01] alikon commented on #25290
@webconsolinc please submit a pr should be more easier to discuss further with some code

[2019-06-21 18:27] mbabker commented on #25290
Actually, no.  An event should be emitted with a consistent set of parameters, typically encapsulated within an event object (which 4.0 supports, but because of 15 years of B/C most events aren't triggered that way and I get the feeling core will never fully embraced this level of encapsulation).  The parameters should not be different regardless of where an event is triggered in the system; what

[2019-06-21 18:45] alikon commented on #25290
so we should fix documentation only, in your hopinion.?
... sounds reasonable... or   wait....  still thinking ...

that's the point where i start to loose myself

[2019-06-21 18:58] mbabker commented on #25290
The docs should be fixed to accurately reflect `onDisplay` isn't an event in the Editor API.

[2019-06-21 19:05] webconsolinc commented on #25290
@mbabker, that's fair.

Keep in mind, I just raised onDisplay as an Event and as it also listed as an event on Joomla! Website. Now we know that it's wrong. So, what documentation can the community rely on?

Also, my report was related to 3.9.6, and not 4.0. I didn't log it as bug as I didn't see it as a bug. However, I saw it as serious inconsistency issue.

Now, there are other "Events" (I don't

[2019-06-21 19:24] kjetil-kilhavn commented on #23101
I have the same issue. I had to disable two-factor authentication when switching to a Google Android-phone from my previous Sailfish OS-phone, and have not been able to activate it again. In the mean time I have updated the site to Joomla 3.9.8 and the problem persists.

[2019-06-21 21:45] ReLater commented on #25290
I have added a short information on https://docs.joomla.org/Plugin/Events/Editor#Description_3

[2019-06-21 21:49] ReLater commented on #25290
A documentation that is kept up-to-date by the "community" ;-) Everybody is welcome to help.

[2019-06-21 22:39] brianteeman commented on #23101
You absolutely do not have the same problem. The "problem" referred to here is purely a cosmetic issue.

Your problem is because there is no way provided by google for you to "move" from one phone to another and it is expected that you have to create a new authentication when you change device. This is beyond joomla's control

[2019-06-21 23:38] webconsolinc commented on #25290
@RaLater how do I get involved to be able to contribute to code and documentation?

[2019-06-22 00:41] kjetil-kilhavn commented on #23101
Ahh.. Sorry, I thought the authenticator wasn't working. Obviously didn't read the description thoroughly enough. Then I agree it's absolutely not the same issue as in my case I am not able to enable 2 factor authentication with Google again. I don't know if it is beyond Joomla's control or not, but I don't have the same problem with Github. Anyway, leaving this thread now :-)

[2019-06-22 04:34] franz-wohlkoenig commented on #25290
Documentation is a Wiki, so everyone can register and contribute. Coding i leave the Answer to @ReLater ;-)

[2019-06-22 04:37] zero-24 commented on #25290
This two pages could be a good starting point :)

https://docs.joomla.org/Special:MyLanguage/Portal:Developers

https://docs.joomla.org/JDOC:How_to_Contribute_to_Joomla!_Documentation

[2019-06-22 07:01] zero-24 commented on #24862
As this has been merged into 3.9: https://github.com/joomla/joomla-cms/pull/24992 i think we can close here? Or do you want to keep this here open until it is merged up to 4.0? @brianteeman @roland-d @alikon ?

[2019-06-22 07:29] infograf768 commented on #24862
@zero-24
please see my comment
https://github.com/joomla/joomla-cms/pull/24992#issuecomment-504639720

[2019-06-22 09:01] infograf768 commented on #24862
See https://github.com/joomla/joomla-cms/pull/25291

[2019-06-22 09:16] zero-24 commented on #24862
Merged thanks.

[2019-06-22 10:26] richard67 opened #25293 "Database error after new installation of current staging"
### Steps to reproduce the issue

Install current staging and check database view in backend.

### Expected result

No database errors.

### Actual result

1 error: `Table 'xyz_template_styles' should not have index 'idx_home'. (From file 3.9.8-2019-06-15.sql.)`

### System information (as much as possible)

Current staging or nightly build 3.9.9-dev which includes merged PR #24595 .

MySQL databa

[2019-06-22 10:26] richard67 commented on #25293
Ping @alikon :tongue:

[2019-06-22 10:53] alikon commented on #25293
i confirm your findings.... not sure if splitting sql in more files can help... but ... if you have some free time, please explore it .... i'm currently busy in moving home, so i cannot be responsive like i should do

[2019-06-22 12:17] richard67 commented on #25293
Will work on it today or tomorrow. Just wanted to leave an issue so others know it is already reported.

[2019-06-22 14:02] Gitjk opened #25294 "Table of Content Generator for Joomla 4.0"
Discussion / Feature Request:

Joomla is a CMS, but imho it still lacks an easy to use 'Table of Content' generator, which can for example automatically generate a ToC for all articles within a category from the article headings. The article index feature only allows to add anchor links within a single article. And the category list menu item displays only an 'ugly' table without the possibility t

[2019-06-22 14:06] brianteeman commented on #25294
What is wrong with using  Modules: Articles - Category

[2019-06-22 15:03] Gitjk commented on #25294
Somehow I missed that module all these years. I'll have to play with it for a few days to see if I can come up with visually appealing and easy to follow ToC structure. Primarily I want to replace the ugly category list table with something better and have a ToC generated from article headings automatically - without the need to frequently have to adjust fixed menus manually.

At a first glance th

[2019-06-22 15:11] franz-wohlkoenig commented on #25294
@Gitjk please close the Issue if its solved allready.

[2019-06-22 15:24] #23864 closed, assigned to nobody

[2019-06-22 15:24] Quy commented on #23864
Please test PR #25295<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23864">issues.joomla.org/tracker/joomla-cms/23864</a>.</sub>

[2019-06-22 15:29] Gitjk commented on #25294
Don't know yet if Brian's recommendation does what I want to have. Will close this feature request and eventually reopen it later if I find significant shortcomings with the existing 'Articles - Category' module when trying to use it for user-friendly ToCs.

[2019-06-22 15:29] #25294 closed, assigned to nobody

[2019-06-23 10:37] richard67 commented on #25293
@alikon The problem is that the database schema checker can't really handle remove and later add back index with same name, and it would be not easy to change that.

Question is: Do we really need that index for the `home` column?

Or isn't it true that we in sql selects always ask only for value of `home` column for a particular `client_id`?

In this case we would have a combined index on columns

[2019-06-23 11:16] richard67 commented on #25293
@alikon I've checked where clauses of select statements to the `#__template_styles` table and have seen that an index on the single column `home` does not really make sense.

But I saw that a combined index on columns `client_id` and `home` makes sense, see e.g. here:

- [https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_templates/models/style.php#L629-L634](https://gi

[2019-06-23 11:42] richard67 commented on #25293
Cosing as having PR #25299 .

[2019-06-23 11:42] #25293 closed, assigned to nobody

[2019-06-23 13:21] forofo opened #25300 "Entity Encoding don't work with Titles"
### Steps to reproduce the issue
(redirected from JCE developers: https://github.com/widgetfactory/jce/issues/42 )

Enable Editor Global Configuration -> Entity Encoding: "Named" , and this option only works for the article text although no for the titles of articles.

Special characters of some languages are not fixed in the title of articles when are published. Presently, we are forced to insert

[2019-06-23 15:13] hgh-esn opened #25302 "[4.0] Extension-Update: Changelog-Button and empty Modal"
### Steps to reproduce the issue
Install "German Language Pack 3.9.6.1

### Expected result
While there is no `<changelogurl>`-tag in the xml-file, for me, the **Changelog-Button**  hasn't to appear. Instead a N/A, just like with JCE?

### Actual result
The **Changelog-Button**  appears and the modal shows an empty value.
![2019-06-23_16h57_34](https://user-images.githubusercontent.com/5299726/599

[2019-06-23 18:07] brianteeman commented on #25300
I don't have an option like that - could you post a screenshot

[2019-06-23 18:12] brianteeman commented on #25300
I think you might have meant the configuration in the tinymce editor plugin and not a global configuration?

If that is correct then no setting there would have anything to do with the text in a title field

I have created many articles using french characters with accents without any problem with an incorrect value

![image](https://user-images.githubusercontent.com/1296369/59980239-d3371880-95ea

[2019-06-23 18:22] esedic commented on #25300
Based on his JCE Github issue, @forofo is probably talking about JCE config parameter, not TinyMCE.

[2019-06-23 18:35] brianteeman commented on #25300
Tinymce has a similar one ;) But the comment in the JCE issue is correct. NO editor plugin option has any impact on a text field

[2019-06-23 20:58] Quy opened #25308 "[subform] Invalid argument supplied for foreach()"
### Steps to reproduce the issue
Go System >Global Configuration > Users
Click Save button
View PHP error log

### Actual result

### System information (as much as possible)
Occurs only in v3.9.8

[2019-06-23 22:01] mbabker opened #25309 "[4.0] Deprecate Document scripts/stylesheets or revert web asset API"
TL;DR the two systems are incompatible and are going to result in more problems and confusion than it's worth.  Either the web asset API needs to be reverted, or the Document class' scripts and stylesheets properties need to be deprecated and turned into a wrapper around the asset API until the properties and methods can be fully removed.  This needs to be decided before beta because by any sane d

[2019-06-24 01:24] forofo commented on #25300
JCE developers told me it was  a Joomla problem:  https://github.com/widgetfactory/jce/issues/42

The only option to hide the bug is using "Named" instead "UTF-8".  In this way at least we can write HTML entities to hide the problem:
![jce](https://user-images.githubusercontent.com/11773511/59985020-07ccc380-962f-11e9-9cdf-01f93fc67fdf.jpg)

Only after writing the HTML entity and saving, the title

[2019-06-24 01:50] ReLater commented on #25308
Reason is the change for the subform security fix in Form.php. When the "Email Domain Options" subform object in user options is empty (no rows) we have this warning.

Please test pr https://github.com/joomla/joomla-cms/pull/25310

[2019-06-24 02:12] ReLater commented on #25300
Are you talking about problems in the frontend?

I can't reproduce your find:

![24-06-_2019_04-09-20](https://user-images.githubusercontent.com/20780646/59986240-30a48700-9636-11e9-9d5c-ec1e78d8ccc1.jpg)

![24-06-_2019_04-09-50](https://user-images.githubusercontent.com/20780646/59986246-3601d180-9636-11e9-9803-116a0c9a82a3.jpg)

![24-06-_2019_04-07-29](https://user-images.githubusercontent.com/2

[2019-06-24 02:26] #25308 closed, assigned to nobody

[2019-06-24 06:40] infograf768 commented on #25302
Confirmed with 3.9.8.1 French pack

[2019-06-24 07:04] infograf768 commented on #25300
Why would one enter an item title as html entities? They are resolved to utf8 when saved in db.

Your screenshots show the use of K2 which is anyway not Joomla core.
I think this can be closed.

[2019-06-24 07:32] franz-wohlkoenig commented on #25300
closed as stated above

[2019-06-24 07:32] #25300 closed, assigned to nobody

[2019-06-24 08:47] brianteeman commented on #25302
The code is only checking if there is a changelog url - it doesnt check if there is any content at that url

[2019-06-24 09:02] roland-d commented on #25302
I have noticed this as well. There is a problem in the code somewhere as it executes the wrong query. I haven't been able to put my finger on it yet.

[2019-06-24 09:03] infograf768 commented on #25302
The code is wrong imho
The button should not display if no changelog url.

I tested
`<?php if ($item->changelogurl != null) : ?>`
instead of
`<?php if ($item->changelogurl !== null) : ?>`
and it will display N/A instead of the button on which one can click and get the empty modal.

<img width="565" alt="Screen Shot 2019-06-24 at 11 02 39" src="https://user-images.githubusercontent.com/869724/60005

[2019-06-24 09:49] infograf768 commented on #25302
or more simply
`<?php if ($item->changelogurl !== '') : ?>`

here works ok when there is a changelog url

[2019-06-24 10:13] infograf768 commented on #25302
Please test https://github.com/joomla/joomla-cms/pull/25311
Closing as we have a patch.

[2019-06-24 10:13] #25302 closed, assigned to nobody

[2019-06-24 10:31] James-Antrim commented on #25269
It would seem that I am the only person to already be completely namespacing their component, that this issue has not surfaced before, but it is none the less a 3.9 issue. Not only are the discovery and loading of menutype/item configuration files and custom fields not working intuitively, they are not working at all without some level of core circumvention. The consequence is long after the views

[2019-06-24 15:52] mbabker commented on #25269
com_menus, and other core components (and even library classes, sadly), expect certain files to be found at specific locations.  They aren't coded to be able to hand processing over to another component or to use any custom file structure you can imagine.

What you are looking for is a level of architectural change that is going to require shipping as new features, and more than likely some form o

[2019-06-24 18:08] alikon commented on #25293
my fault i I thought it was possible.... surely i remeber wrong .....

and yes indexes are not so much usefull for this table in general .... cause i think that this table never reach a cardinality were the QueryPlanner should find more "economic" to use an index instead of a table scan of few rows....

btw for a good db schema design we can use an index for the used where clause like you did

[2019-06-24 18:28] richard67 commented on #25293
@alikon Could you the test or - if not much time - review the PR for this issue, #25299 ? Or both, test and review, if enough time?

[2019-06-24 18:32] alikon commented on #25293
done and thank you to dig in this

[2019-06-25 06:22] franz-wohlkoenig commented on #23117
Closed due the lack of Response.

[2019-06-25 06:22] #23117 closed, assigned to nobody

[2019-06-25 08:05] James-Antrim commented on #25269
While I will not dispute this is true, but there are means to supplement these expectations everywhere that can touch non-core code other than in com_menu.

In point of fact, a search for "function add[A-Za-z_]+Path" in my libraries folder had 35 results in 19 files... Only 12 of which belong to fof.

In BaseController alone there ~implemented $config indexes for base_path, model_path, view_path.

[2019-06-25 08:57] astridx opened #25323 "[4.0] Diff View in Template Manager is broken"
### Steps to reproduce the issue

1. Open Template Manager
2. Click on an override-file. Perhaps you have to create an override first.
3. Activate diff-view

### Expected result

You see the diff-view

### Actual result

No diff-view is opened.

### Additional comments
See https://github.com/joomla/joomla-cms/pull/21851 for more information about diff-view

![Templates  Customise  Cassiopeia    te

[2019-06-25 12:04] mbabker commented on #25269
3.x is feature frozen at this point.  Adding attributes is architectural change, in this case adding a feature to support a pseudo addXXXPath type of thing for menu item XML files (and for the love of everything sane Joomla and its ecosystem need to stop relying on path prefix attributes which are glorified hacks because it refuses to embrace autoloading or proper service oriented architecture; in

[2019-06-25 12:34] James-Antrim commented on #25269
I thought there would still be a 3.10 version at some point which would be directly migratable. I would have thought that they would have cleared up the namespacing by then since it seems to be part of the core of 4.0 and since my namespacing adventure has been going on a couple of months now I would have thought that they would want to make the transition for other developers as smooth as possibl

[2019-06-25 16:43] richard67 commented on #25323
When opening the edit view, a javascript error is reported for the editor (codemirror), and then the loading of the js file is aborted, see following screen shot:
![Unbenannt](https://user-images.githubusercontent.com/7413183/60116709-db24c300-9778-11e9-8fbd-6bc1609fccd2.png)

In English: 1. script media/vendor/codemirror/mode/text/x-php/text/x-php.min.js has been loaded even if its MIME type isd

[2019-06-25 17:46] ghazal commented on #25323
Issue ans JS error confirmed.
Today's build.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25323">issues.joomla.org/tracker/joomla-cms/25323</a>.</sub>

[2019-06-25 17:51] richard67 commented on #25323
The js error happens only when editing a file from an override. When editing any other file not belonging to any override, the js errro doesn't happen. So it seems really to be related to the override management.

[2019-06-25 17:52] richard67 commented on #25323
No idea what that could be. I think it needs a js expert. Maybe @dgrammatiko can help?

[2019-06-25 18:54] richard67 opened #25327 "[4.0] Menu item associations tab in edit view shows association for the menu item's language"
### Steps to reproduce the issue

1. Install clean 4.0-dev
2. Install 2 additional languages which work with 4.0-dev, e.g. German (DE) and Persian.
3. Install multilingual sample data.
4. Check associations for menu items. Check also associations for other things, e.g. articles or categories.

### Expected result

For everything which can have associations, the associations tab of the edit view sh

[2019-06-25 18:56] richard67 commented on #25327
Ping @infograf768 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25327">issues.joomla.org/tracker/joomla-cms/25327</a>.</sub>

[2019-06-25 20:39] richard67 commented on #25323
@SharkyKZ Could that be related to PR #24639 ?

[2019-06-26 05:41] SharkyKZ commented on #25323
@richard67 No, that's not related.

[2019-06-26 06:33] SharkyKZ commented on #25323
My guess it's to do with #24463.

[2019-06-26 08:09] richard67 commented on #25323
That could be. I will check details later after work.

[2019-06-26 08:21] C-Lodder commented on #24530
PR: https://github.com/joomla/joomla-cms/pull/25333

[2019-06-26 08:35] franz-wohlkoenig commented on #24530
Closed as having Pull Request #25333

[2019-06-26 08:35] #24530 closed, assigned to nobody

[2019-06-26 10:41] uglyeoin opened #25336 "[4.0] Editor Plugin - Menu. Menus do not appear, styling is also off"
### Steps to reproduce the issue
Open an article
Click on the CMS Content Editor button
Click on Menus
Choose a menu from the dropdown e.g. "main menu"

### Expected result
Menus items appear
Fonts are styled normally

### Actual result
I believe labels are showing which are only meant for screen readers
No menu items show
Fonts are in Times or something similar

### System information (as much as

[2019-06-26 10:44] brianteeman commented on #25336
Is this front end or back end

Some screenshots would be useful

[2019-06-26 11:12] lipatovroman opened #25337 "Joomla Menu Start Levels Bug"
For example we have 2 menus on site.
First menu have several levels.
Second menu just have 1 item menu.
No any problem. Both menus displays correct.

But we configured menu module to display 1-st menu items only from 2-nd level,
this menu does not displays - if now active menu item from 2-nd menu.

It only displays if own items is active.
Watch this short video:

https://www.youtube.com/watch?v=9c

[2019-06-26 11:35] brianteeman commented on #25337
Please use the forum for support https://forum.joomla.org

[2019-06-26 11:43] SharkyKZ commented on #25336
Caused by #25197. PR on the way.

[2019-06-26 11:43] uglyeoin commented on #25336
I had only tested on the back end, but unfortunately the front-end looks a bit odd

![initial](https://user-images.githubusercontent.com/4665225/60177098-ed9e0b80-980f-11e9-8ca5-7da015fcf6a4.jpg)
![on-click](https://user-images.githubusercontent.com/4665225/60177099-ed9e0b80-980f-11e9-8fe8-639805b81ad5.jpg)
![front-end](https://user-images.githubusercontent.com/4665225/60177097-ed9e0b80-980f-11e9-

[2019-06-26 11:44] uglyeoin commented on #25336
@SharkyKZ great thanks, do I still need to raise one for the front end issue do you know?  I can't see any articles and I can't edit them

[2019-06-26 11:45] brianteeman commented on #25336
re the front end - make sure you are 100% upto date and that you have run `npm i`

[2019-06-26 11:50] lipatovroman commented on #25337
This is message from forum
![Screenshot](https://biblsoft.ru/images/monopics/2019-06-26_14-48-19.jpg "Screenshot")
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25337">issues.joomla.org/tracker/joomla-cms/25337</a>.</sub>

[2019-06-26 11:52] franz-wohlkoenig commented on #25337
@lipatovroman this is a new Info, reopen.

[2019-06-26 11:54] SharkyKZ commented on #25336
Test PR #25338 please.

[2019-06-26 11:56] franz-wohlkoenig commented on #25336
Closed as having Pull Request #25338

[2019-06-26 11:56] #25336 closed, assigned to nobody

[2019-06-26 11:56] lipatovroman commented on #25337
Have you seen video?
It's normal behaviour?

[2019-06-26 11:56] franz-wohlkoenig commented on #25337
Please ask on [Forum](https://forum.joomla.org/)

[2019-06-26 11:56] #25337 closed, assigned to nobody

[2019-06-26 12:22] ReLater commented on #23063
I've made some additions to testing instructions in https://github.com/joomla/joomla-cms/issues/23063#issuecomment-495136350

[2019-06-26 12:46] uglyeoin commented on #25336
@brianteeman thanks, will try that now

[2019-06-26 12:57] uglyeoin commented on #25336
@brianteeman I don't suppose there's an easy way to make sure I'm on the latest version?  I added the custom URL from the nightly builds page to my Joomla! update and it found no updates, I assume that alpha 10 dev doesn't change every day.

[2019-06-26 13:23] brianteeman commented on #25336
Only by using gut.

[2019-06-26 13:29] ReLater commented on #25336
That's wrong. Once a day:

That's what I've learned some weeks ago after understanding it wrong for years ;-)

- Enter custom update server: https://update.joomla.org/core/nightlies/next_major_list.xml in joomla-update options.
- Go to administrator/index.php?option=com_joomlaupdate
- Click "Check for Updates"
- Go to tab "Live Update"
- Click button "Reinstall" even if Joomla tells you "You alrea

[2019-06-26 13:34] ReLater commented on #25336
Have deleted my comment because nonsense if pr not merged yet.

[2019-06-26 14:07] HLeithner commented on #25337
@lipatovroman yes that's expected behavior.

[2019-06-26 14:42] lipatovroman commented on #25337
Not clear...
Menu with all levels displays, menu from 2-nd level not displays.
In same time menu displays in 2 cases if now active from this menu.
It should not be.
How in this case I will get working menu?

[2019-06-26 14:59] brianteeman commented on #25337
![image](https://user-images.githubusercontent.com/1296369/60190897-53e45780-982b-11e9-8c41-a2a6b30d115e.png)

[2019-06-26 17:36] alikon commented on #23063
if i try to install from url that language pkg i got
![Screenshot from 2019-06-26 19-30-45](https://user-images.githubusercontent.com/181681/60201612-f959f400-9848-11e9-9fcf-8efb0cd31d55.png)

[2019-06-26 17:48] ReLater commented on #23063
Did you use de-DE_joomla_lang_full_4.0.0v1-alpha1.zip (451 kB)?

There's also a FULL-Joomla package (18.1 MB). Maybe you took that?

![26-06-_2019_19-42-32](https://user-images.githubusercontent.com/20780646/60202637-4b037e00-984b-11e9-92dc-c2ad104867d4.jpg)

[2019-06-26 17:52] alikon commented on #23063
yes you are right sorry
but if i try to install https://github.com/joomlagerman/joomla/releases/download/4.0.0v1-alpha1/de-DE_joomla_lang_full_4.0.0v1-alpha1.zip
got  this

![Screenshot from 2019-06-26 19-51-52](https://user-images.githubusercontent.com/181681/60202924-e85eb200-984b-11e9-9d31-768debe03981.png)

[2019-06-26 17:54] richard67 commented on #25323
@brianteeman Could you have a look on this issue? I think it really can have something to do with the new switchers from PR #24463 , like Sharky supposes, because that diff view for override files in the template manager contains switchers, too, and those seem still be the old ones.

[2019-06-26 18:13] brianteeman commented on #25323
Not able to test right now. the template_overrides table never gets updated

I doubt very much it is anything to do with the switcher code as that is pure css. But you can test it yourself by deleting the class=switcher for two fields in administrator\components\com_templates\forms\source.xml

[2019-06-26 18:22] richard67 commented on #25323
@brianteeman Thanks, I've tried that, removing class from the 2 switchers, and as you supposed that did not help. It seems the js of that diff view is either broken or not loaded at all. Maybe something to do with the codemirror editors in that view? Do you know who can help here further? I first thought some selector in js may fail because of changed classes, that's why I thought it could be rela

[2019-06-26 18:44] ReLater commented on #23063
I use the current nightly. Wednesday, 26 June 2019 02:01:00 UTC and have no installation issues with that de-de package.

But I think there's a typo in plugin finder.php
`impode(` instead of `implode(`

Plugin "Extension - Finder" is not activated in my Joomla.

[2019-06-26 18:48] ReLater commented on #23063
I'll make a pr for zhe impode thing

[2019-06-26 18:51] brianteeman commented on #25327
I can confirm that the association link is displayed for the language that the menu item is in which is obviously wrong.

I can confirm that hitting select on that association produces the error as shown in the screen shot **plus** the error message
`Recoverable fatal error: Object of class Joomla\Component\Menus\Administrator\Service\HTML\Menus could not be converted to string in C:\htdocs\joomla

[2019-06-26 18:54] brianteeman commented on #25282
Confirmed - I am sure a css wizard can fix this ;) aka not me

[2019-06-26 18:56] ReLater commented on #23063
See: https://github.com/joomla/joomla-cms/pull/25339

[2019-06-27 06:42] infograf768 commented on #25327
1. The first issue, i.e. the fact that the field is showing for the same language comes from https://github.com/joomla/joomla-cms/pull/24775 where was forgotten to change `_id`  to `_name` in the `getLabel()` method in MenuField.php, as done for other similar fields in that PR.
[I corrected their display in the js in https://github.com/joomla/joomla-cms/pull/25060 ]
=> Easy to solve

2. The displa

[2019-06-27 06:55] infograf768 commented on #25327
see https://github.com/joomla/joomla-cms/pull/25341

Closing as both original issues here are taken care of.

[2019-06-27 06:55] #25327 closed, assigned to nobody

[2019-06-27 07:03] infograf768 opened #25342 "[4.0] Multilingual: When selecting another menu type in the Select menu item modal the modal reloads the full menu items Manager"
### Steps to reproduce the issue
Multilingual site. https://github.com/joomla/joomla-cms/pull/25338 corrected in the test site.
Also patch with https://github.com/joomla/joomla-cms/pull/25341 although it is not necessary if the Select concerns the correct language.

Switching the Menu in the modal should show `No Matching results` if the selected menu does not contain any menu item tagged to the d

[2019-06-27 07:09] ghost opened #25343 "Article - Global Options: Different Tooltips on 3 Datetypes"
### Steps to reproduce the issue
As Title say there are this Tooltips:
![publish](https://user-images.githubusercontent.com/8235763/60244552-eaac2500-98ba-11e9-88a7-53e3cefd6991.png)
![modified](https://user-images.githubusercontent.com/8235763/60244554-eb44bb80-98ba-11e9-8be5-cf985d0682bd.png)
![create](https://user-images.githubusercontent.com/8235763/60244556-eb44bb80-98ba-11e9-89b7-c1d84b18281

[2019-06-27 07:10] SharkyKZ opened #25344 "Untranslated language strings in Editors-XTD modals"
### Steps to reproduce the issue

Edit an article in frontend.
Click on `Article` button in editor.

### Expected result

No untranslated strings.

### Actual result

Untranslated `JGLOBAL_LIST_ALIAS` and `JGLOBAL_LIST_ALIAS_NOTE` strings. Debug also reports these:

[code]

### Additional comments

Looking for comments whether we should just add missing strings or should we be loading `administrat

[2019-06-27 07:11] franz-wohlkoenig commented on #25344
J3?

[2019-06-27 07:11] SharkyKZ commented on #25344
All versions.

[2019-06-27 07:40] SharkyKZ commented on #25342
Band on the way. But I think there might be more similar issues coming from #24801 in other components. Do we really need those redirects?

[2019-06-27 07:55] SharkyKZ commented on #25342
Test PR #25345 please.

[2019-06-27 08:20] franz-wohlkoenig commented on #25342
Closed as having Pull Request #25345

[2019-06-27 08:20] #25342 closed, assigned to nobody

[2019-06-27 08:46] dgrammatiko commented on #25323
FWIW the js of that diff view was depending on 2 events emitted by the old switcher. Those events do NOT exist any more, therefore, the script doesn't do anything anymore...

[2019-06-27 09:47] infograf768 commented on #25342
#25345 does not fully solve the issue but it is possible that what is does not solve is entirely unrelated.

[2019-06-27 10:11] richard67 commented on #25323
@dgrammatiko This explains a lot. Thanks for helping.

[2019-06-27 13:30] santyabreu commented on #24187
Hello Friends.

Exactly same issue. Multiple SPAM is being sent using Joomla (last version) and contact. Here the POST entry:

![image](https://user-images.githubusercontent.com/40429279/60270336-1d204700-98e8-11e9-8360-45dee6508e4e.png)

[2019-06-27 14:10] Quy commented on #24187
If you don't use the Contacts component, then disable it.

[2019-06-27 16:00] dungvietnam opened #25347 "Create field: category not displayed"
### Steps to reproduce the issue

### Expected result![screen shot 2019-06-27 at 15 58 40](https://issues.joomla.org/uploads/1/252f210ac4f87857a138999456d2a5e8.jpg)

### Actual result

### System information (as much as possible)
Joomla_4.0.0-alpha10-dev-Development

### Additional comments

[2019-06-27 16:02] brianteeman commented on #25347
see #24782

[2019-06-27 16:13] #25347 closed, assigned to nobody

[2019-06-27 16:16] brianteeman opened #25348 "[4.0] Permissions tab - accessibility blocker"
When changing the permission of something if there is a child group then a popup notice is displayed.  For a sighted user they can still carry on and change the permissions of other properties. However for a user using a screen reader that is not the case. After changing a permission the focus then moves to the popup notice. This has to be closed before the user can continue but the focus is retur

[2019-06-27 16:27] brianteeman commented on #18832
This should be closed. It is a non-issue. The rest of the web and applications do this exactly the way we are doing it now. The design pattern in use has been used for decades

[2019-06-27 16:36] #18832 closed, assigned to nobody

[2019-06-27 17:00] alikon commented on #24187
i don't think we can do much more here
@Quy / @franz-wohlkoenig  please close

[2019-06-27 17:19] #24187 closed, assigned to nobody

[2019-06-27 17:26] dgrammatiko commented on #25323
@richard67 I can also describe a possible solution:
- Add an on click attribute on the form of that view, eg onclick="Joomla.switchDifState()"
- add a simple iife on the top of the js file on that view something like:
[code]

- The code might need some tweaks...
- This approach expects that the new switch element **has** a functional code for the onclick event

[2019-06-27 17:31] richard67 commented on #25323
@dgrammatiko Thanks. I'll try to find some time on weekend. But if someone who is more familiar with js and events finds time before, I would not be unhappy.

[2019-06-27 18:19] #16238 closed

[2019-06-27 18:20] Quy commented on #16238
Please test PR #25351<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/16238">issues.joomla.org/tracker/joomla-cms/16238</a>.</sub>

[2019-06-27 18:21] #24027 closed, assigned to nobody

[2019-06-27 18:21] Quy commented on #24027
Please test PR #25351<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24027">issues.joomla.org/tracker/joomla-cms/24027</a>.</sub>

[2019-06-27 18:29] franz-wohlkoenig commented on #24247
Closed due th lack of Response. Issue can always reopened if needed.

[2019-06-27 18:29] #24247 closed, assigned to nobody

[2019-06-27 18:34] alikon commented on #23063
not sure it is the right way.....
give it a chance  #25352

[2019-06-27 18:34] franz-wohlkoenig commented on #23063
Closed as having Pull Request #25352

[2019-06-27 18:34] #23063 closed, assigned to nobody

[2019-06-27 18:42] Quy commented on #22694
In J4, you don't have these options anymore. All you can do it select the image.
In J3, there is a workaround by editing the HTML source.

[2019-06-27 18:51] franz-wohlkoenig commented on #22694
Closed as stated above. Issue can always reopened.

[2019-06-27 18:51] #22694 closed, assigned to nobody

[2019-06-28 03:20] #25282 closed, assigned to nobody

[2019-06-28 03:20] Quy commented on #25282
See PR #25355<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25282">issues.joomla.org/tracker/joomla-cms/25282</a>.</sub>

[2019-06-28 06:35] coolcat-creations commented on #18832
Please show examples for "the rest of the web" here is a google example:
![grafik](https://user-images.githubusercontent.com/828371/60322330-77b8b200-997f-11e9-8131-a320a7de5db8.png)
thank you.

[2019-06-28 09:15] frankazoid opened #25356 ""500 JHtmlBehavior::calendar not found" when opening 'Manage backups' in Akeeba"
### Steps to reproduce the issue

1. install jomla 4
2. install akeeba (it won't install from web so i had to upload a latest package
3. run akeeba configuration wizard
4. run a backup
5. click 'manage backups' option

![screen shot 2019-06-28 at 09 14 54](https://issues.joomla.org/uploads/1/1f714f99200eb869c218587befe63239.png)

### Expected result

list of backups should be displayed

### Actual

[2019-06-28 09:26] franz-wohlkoenig commented on #25356
Is Akeeba Backup ready for J4?

[2019-06-28 09:28] frankazoid commented on #25356
It offers to install it right away. I thought that calendar is pretty basic function to stay in 4 at the same place. Sorry if I was wrong

[2019-06-28 09:28] alikon commented on #25356
that class `JHtmlBehavior::calendar` was deprecated in 3.x and has been removed in 4.x https://github.com/joomla/joomla-cms/pull/22295/files#diff-f6f264d0b0673dc25ecc75e7746ec235L266

[2019-06-28 09:29] HLeithner commented on #25356
@nikosdion do you have a j4 ready version of akeeba?

[2019-06-28 09:30] infograf768 commented on #25356
Closing as not Joomla Core.

[2019-06-28 09:30] #25356 closed, assigned to nobody

[2019-06-28 09:34] infograf768 commented on #25356
Try commenting
`		//JHtml::_('behavior.calendar');
`
in /administrator/components/com_akeeba/View/Manage/Html.php

[2019-06-28 10:12] frankazoid commented on #25356
Yes, that helped! Thank you!

[2019-06-28 10:24] franz-wohlkoenig commented on #25356
@frankazoid please ask next Time Dev. of 3rd-Party-Component first.

[2019-06-28 11:10] brianteeman commented on #24495
Is this still being worked on?

[2019-06-28 11:25] brianteeman opened #25358 "[4.0] Unused but not deprecated code"
This code in `libraries\cms\html\behavior.php` is for javascript polyfills for unsupported browsers **and** the polyfills it links to are no longer part of joomla.

So can we just delete them and/or do we need to mark them as deprecated in J3

https://github.com/joomla/joomla-cms/blob/0bdde5a48109e1e285a614c7f4c748649a967b84/libraries/cms/html/behavior.php#L293-L301

[2019-06-28 11:28] nikosdion commented on #25356
The currently published version of Akeeba Backup is compatible with alpha 8. The next version will be compatible with alpha 9.

On June 11th I changed the line @infograf768 mentioned with
[code]
since it's needed in Joomla 3.8 AFAIK. And that was all the changes I found necessary to support alpha 9 :)

Please do remember that Joomla! 4 is still in active development, as indicated by the alpha tag

[2019-06-28 11:36] HLeithner commented on #24466
com_search has been removed from J4 https://github.com/joomla/joomla-cms/pull/20637

I'm closing this. thx

[2019-06-28 11:36] #24466 closed, assigned to nobody

[2019-06-28 11:52] Bakual commented on #25358
Even when the code is useless and will not do anything, removing it could break extensions which for whatever unlikely reason have that call.
So just deprecate it in j3 and remove in 4.0.

[2019-06-28 12:08] mbabker commented on #25358
I'd say leave it.  You're still going to have to deal with polyfills (unless you're one of those people who thinks everyone on the internet should just use a nightly build of a browser with all the latest hotness enabled), just maybe not the IE conditional browser part of it.  If you remove this method now you're just going to re-add something similar when polyfills need to start being added in.

[2019-06-28 12:30] brianteeman commented on #25358
What about line 323 pointing to non existent scripts?

[2019-06-28 12:35] mbabker commented on #25358
If there are no polyfills being shipped with Joomla right now, just no-op the method.

Or, someone decide "Joomla doesn't need to ship polyfills because we have a rolling browser support policy and only latest version is ever supported" (which seems to be the push, not a good thing for frontend visitors to a Joomla site) and remove anything related to supporting browser polyfills.  I get the feeli

[2019-06-28 16:16] richard67 commented on #25180
@mbabker I've addressed your [comment above](https://github.com/joomla/joomla-cms/issues/25180#issuecomment-501433552) to the JBS team to include that into our requirements specifications for the testing platform based on what was once started in GSOC 2017. I hope it will go the right way and someone will care about it.

[2019-06-28 17:18] ayazbaloch commented on #22241
Also is not working in Admin component in edit and filter mode. Real life example is Region, Country and city.

[2019-06-28 17:24] brianteeman opened #25359 "[4.0] behavior.tabstate"
Unless I am completely misreading this then the code for saving the tabstate has been removed as the new tab code doesn't need extra code. If that is correct then we dont need to have `HTMLHelper::_('behavior.tabstate');` in 20+files

[2019-06-28 20:54] dgrammatiko commented on #25359
True

[2019-06-28 21:04] dgrammatiko commented on #25358
I was that someone but the removal was only temporary till we figure out a way to fetch those polyfills (eg there weren't - I think they still aren't Joomla3 was using the polyfill.io scripts - on npmjs at the time we've moved the assets to a package.json). Pretty easy to just include core.js from https://github.com/zloirock/core-js and get anything needed in a directory, format (.js/.min.js) you

[2019-06-29 07:04] infograf768 opened #25364 "[4.0] Multilingual Propagate method broken"
### Steps to reproduce the issue
Create a multingual site with 4 languages
French, German (de-DE) can be installed at J clean install time or through `index.php?option=com_installer&view=languages`
As Persian is hard to read for most, install Italian through `index.php?option=com_installer&view=install` package tab
[it-IT_joomla_lang_full_3.9.8v1.zip](https://github.com/joomla/joomla-cms/files/334

[2019-06-29 08:27] hakanara commented on #22241
Yes, it doesn't work for this issue. Maybe the PR solved the other issue, I don't know but the dependant SQL fields still do not work as described. Neither in menus in the admin as well.

[2019-06-29 09:57] infograf768 commented on #25364
I found where is the culprit.
In modal-fields.js the line 196
`Joomla.Modal.getCurrent().close();`
has replaced line 194 in modal-fields-uncompressed.js in J3
`jQuery('#ModalSelect' + itemType + '_' + fieldPrefix).modal('hide');`

If I use the J3 code there, the issue is solved.

No idea how to correct that when not using JQuery

[2019-06-29 10:01] infograf768 commented on #25364
@Fedik @dgrammatiko ?

[2019-06-29 13:48] Fedik commented on #25364
the problem that I even do not know what `Propagate` button for :smile:
something new :)

[2019-06-29 14:02] dgrammatiko commented on #25364
@infograf768 try to open the modal from that Propagate (wtf is this?) and then open the browser's terminal and type `Joomla.Modal.getCurrent()` what's the output?
Also try: `window.parent.Joomla.Modal.getCurrent()`, what's the output?

[2019-06-29 14:14] Fedik commented on #25364
something with processModalSelect() in media-field, in some reason it tries to close non existing modal

[2019-06-29 14:17] Fedik commented on #25364
@infograf768 please try to test next:
in `media-field.js` find `window.processModalSelect  = ..`
there change line `Joomla.Modal.getCurrent().close()` to:
[code]

[2019-06-29 15:25] franz-wohlkoenig commented on #25364
Multilingual: Propagating existing associations if desired #21321

[2019-06-29 16:34] ReLater commented on #22241
No, it isn't.

One that works with Joomla core tables and can be easily implemented by a Joomla core hack in a test site.

It's not a bug just because the documentation is incomplete.

Feel free to adapt the docs! The docs site is a public Wiki site that lives on community input, corrections and additions. I myself don't have any idea what you all are talking about here. Thus i'm not able to do an

[2019-06-29 17:20] franz-wohlkoenig commented on #23510
Closed as having Pull Request #25367

[2019-06-29 17:20] #23510 closed, assigned to nobody

[2019-06-29 17:52] hakanara commented on #22241
I will open a new feature request or a new issue with the core Joomla tables. Thank you for your time @ReLater. I think having this dependant SQL fields feature will be beneficial for Joomla community. I send my love to each person who spares their time for Joomla.

[2019-06-29 17:59] infograf768 commented on #25364
@Fedik will try tomorrow

[2019-06-29 20:09] mbabker commented on #25309
Nevermind, I'll let you all figure out how FUBAR it all is when it's too late.

[2019-06-29 20:34] ayazbaloch commented on #22241
May be users just like me doing wrong, could any guideline how we achieve this, mean how cascade drop-down work.

[2019-06-29 20:57] montellsp commented on #24355
After Update a Joomla Site from 3.7.5 to 3.9.8, site won't load and display the following error message :

_**Warning: Creating default object from empty value in /public_html/libraries/cms/application/site.php on line 540

Warning: Creating default object from empty value in /public_html/libraries/cms/application/site.php on line 540
Error displaying the error page: Call to undefined method JLang

[2019-06-30 04:54] infograf768 commented on #25364
@Fedik
Right on spot!
Making PR now. Thanks.

[2019-06-30 05:20] infograf768 commented on #25364
Please test https://github.com/joomla/joomla-cms/pull/25371

Closing as we have a patch

[2019-06-30 05:20] #25364 closed, assigned to nobody

[2019-06-30 09:17] twister65 opened #25374 "[4.0] CLI Joomla Console fatal error"
### Steps to reproduce the issue
Install the latest nightly build of Joomla 4 (alpha11).
https://developer.joomla.org/nightly-builds.html#joomla-40

Open a terminal, go to the Joomla root folder, and type:
`php cli/joomla/php list`

### Expected result
Something like that:

  command [options] [arguments]

  -h, --help            Display the help information
  -q, --quiet           Flag indicating

[2019-06-30 10:16] ghost opened #25375 "[4.0] Associations: Change Target-Category too if Category is associated"
### Problem
Copy a Reference Article to a Target change automated the Language, not the associated Category.
### Solution
Example: Copy Reference Article from de-AT to Target en-GB should also change automated the corresponding Reference-Category "Artikel (de-AT)" to Target-Category "Articles (en-GB)"
as both Categories are associated.