[2022-11-16 15:56] #29059 closed, assigned to nobody

[2022-11-16 16:13] kwellesleyedu commented on #38201
Just following up on this. (3 months later now)

I've just tested out the latest Joomla 4.2.5 with PHP on 8.1 and the issue described here still exists. The filters feature of the smart search component is still very broken.

[2022-11-16 17:35] brianteeman commented on #39226
Confirmed

[2022-11-16 20:27] heelc29 commented on #39182
See https://github.com/joomla/joomla-cms/pull/39188#issuecomment-1317624502

[2022-11-16 20:27] #39182 closed, assigned to nobody

[2022-11-16 20:51] gerryfrancis commented on #32946
@joomdonation Never mind, it is just a minor cosmetic issue. Thanks for closing! :+1:

[2022-11-16 21:26] chmst commented on #31218
@drmenzelit is this still an issue for you?

[2022-11-16 22:04] chmst commented on #37907
Meanwhile the Input - button issue looks like that:
![grafik](https://user-images.githubusercontent.com/1035262/202304305-fec46a5b-c258-4efc-bcd4-eb744b96ac83.png)

[2022-11-17 08:53] drmenzelit commented on #31218
As Brian wrote, it is too late for Joomla 4. We will need to reconsider this for Joomla 5. I'm closing this for the moment.

[2022-11-17 08:53] #31218 closed, assigned to nobody

[2022-11-17 09:07] coolcat-creations commented on #31218
Why closing and not labeling for Joomla 5 with a release blocker? Otherwise it would be again too late or forgotten.

[2022-11-17 09:33] SharkyKZ commented on #39228
It's because `Joomla\CMS\Mail\MailTemplate` relies on global language instance.

[2022-11-17 09:40] chmst commented on #39085
A shoter form for pagination would be  for example 45(138).

<title>My Travelling Blog 2022 45(138) - Visit Beautiful Indonesia</title-

[2022-11-17 09:43] phunsoft commented on #39228
@SharkyKZ Do you mean to say, that one cannot have the backend in one language, say English, and the frontend in a different language?

But even if so, why would different default languages lead to a specific language file (`administrator\language\<lang>\com_messages.ini`) *not* being loaded at all? <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker

[2022-11-17 10:14] Hackwar commented on #38276
@kosh2323 Because we "developers" are ordinary users as well. None of us is paid to do this work and we are all volunteers. So if you want to see some change, then you have to make that change.

[2022-11-17 10:31] pl71 commented on #39085
@chmst - I prefer the `page`  word to be included for clarity.  Many other languages indeed have longer words for `page`, for example, Bulgarian - "страница", but they also have abbreviations - "стр."
This is important if you want to support a11y (do screen readers read browser titles?)
If they do, so they will read these numbers and brackets.
The title tag should sound like a regular (and complet

[2022-11-17 10:43] kosh2323 commented on #38276
Hi, yes, I have no complaints, I understand, and I don't want to judge anyone, these are just facts and that's it....

[2022-11-17 11:42] angieradtke commented on #28056
I think we should split this issue into pieces.
First thing that sould be solved:
Example for wrong text -> category-filter id is used instead of title in aria attribute

**aria-label always wins over default accessiblename**

`<div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="8" data-custom-properties="[object Object]" aria-selected="true" data-deletable=""

[2022-11-17 12:11] brianteeman commented on #28056
of all the problems that is perhaps one of the least important
![image](https://user-images.githubusercontent.com/1296369/202440548-fa1fbcb5-c52a-4d8d-9709-09de9af49043.png)

But if anyone wants to look at this then its a combination of joomla-field-fancy-select and choicesjs

[2022-11-17 12:35] joomdonation commented on #39225
I image that we can a filter rule. Something like:

[code]

Then you can have a field like below:

[code]

And it should work exactly like that. The limitation is that this will only work for local adapter. Not sure if there is anything else we have to care about, or if we have a better idea to handle this request.

[2022-11-17 12:41] brianteeman commented on #39225
looks good to me

[2022-11-17 13:47] Laurent-run-974 commented on #38509
![screen shot 2022-11-17 at 13 47 39](https://issues.joomla.org/uploads/1/3cc71d49240570decda8c23aa835e4cc.png)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/38509">issues.joomla.org/tracker/joomla-cms/38509</a>.</sub>

[2022-11-17 17:41] snegicodes commented on #39181
I would like to work on this issue, can you assign me this one please?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39181">issues.joomla.org/tracker/joomla-cms/39181</a>.</sub>

[2022-11-17 17:41] snegicodes commented on #39181
I would like to work on this issue, can you assign me this one please?

[2022-11-17 17:50] bembelimen commented on #39181
Just work on it and create a pull request when you have fixed it.

[2022-11-17 20:04] jperrygodfrey opened #39231 "RHEL 8.7 and Rocky Linux 8.6 Fails to open Update sites on joomla.org"
### Steps to reproduce the issue
$ sudo dnf install httpd httpd-tools
$ sudo systemctl start httpd
$ sudo systemctl enable httpd
$ sudo dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
$ sudo dnf install -y https://rpms.remirepo.net/enterprise/remi-release-8.rpm
$ sudo dnf module list php
$ sudo dnf module reset php
$ sudo dnf module enable php:remi-8.1
$ sudo

[2022-11-17 20:31] brianteeman commented on #39231
This is a server configuration issue. Not a joomla issue

[2022-11-17 20:32] chmst opened #39232 "Created_by field looks disabled but is writeable"
### Steps to reproduce the issue
Open an article, go to tab publishing.
The created_by input field looks disabled, but is not

![grafik](https://user-images.githubusercontent.com/1035262/202553235-1cadcdb6-4025-4f9d-9a30-4d48b2b69b85.png)

### Expected result
The field looks disabled only if readonly="true"

### Actual result
The field looks disabled when readonly=""

### System information (as mu

[2022-11-17 20:44] jperrygodfrey commented on #39231
brianteeman you might think that, but if you review this post and comparisons, there is a pretty good case the Joomla is not performing the get/post the same way on these new Red Hats and Rocky spins.  https://forum.joomla.org/viewtopic.php?f=811&t=997748 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.jo

[2022-11-17 21:33] zero-24 commented on #39231
What happens when you do a plain curl call to the update server XMLs?

[2022-11-17 22:20] jperrygodfrey commented on #39231
# curl https://update.joomla.org/core/extensions/com_joomlaupdate.xml
<?xml version="1.0" ?>
<updates>
	<update>
		<name>Joomla! Update Component Update</name>
		<description>Joomla Update Component</description>
		<element>com_joomlaupdate</element>
		<type>component</type>
		<client>administrator</client>
		<version>3.6.1</version>
		<infourl title="Joomla!">https://www.joomla.org/</infourl>
		<

[2022-11-17 23:47] jperrygodfrey commented on #39231
SELinux on both Red Hat and Rocky are blocking updates.   I set to Permissive via # setenforce 0 and now the updates are working.  I am not sure where to allow this yet while keeping SELinux enforced, but I am working on it.  The help page https://www.linuxshelltips.com/install-joomla-rhel/ did not have the SELinux settings for these updates. <hr /><sub>This comment was created with the <a href="h

[2022-11-18 00:04] jperrygodfrey commented on #39231
So false alarm no bug just a setting in SELinux:

~]# setsebool -P 'httpd_can_network_connect' on<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39231">issues.joomla.org/tracker/joomla-cms/39231</a>.</sub>

[2022-11-18 00:16] cmbr opened #39234 "Link Error in /media/system/html/noxml.html File"
The Help page link in line 17 of the _/media/system/html/noxml.html_ file (_https://docs.joomla.org/Special:MyLanguage/J4.x:Missing_XML_Library_) points to a non-existent page or one without text.

See also [4.0 Redo the fatal error pages #31743](https://github.com/joomla/joomla-cms/pull/31743)

[2022-11-18 00:23] zero-24 commented on #39231
closing thanks

[2022-11-18 00:23] #39231 closed, assigned to nobody

[2022-11-18 00:26] brianteeman commented on #39231
Exactly what I said.

[2022-11-18 04:04] joomdonation commented on #37177
OK. So I looked at it and figured out the reason of the error. When you update from Joomla earlier than 4.0.4 (before PR https://github.com/joomla/joomla-cms/pull/35388 merged), the system uses `administrator/components/com_joomlaupdate/restore.php` to handle the update process. At the end of that process, it calls `finalizeRestore` function https://github.com/joomla/joomla-cms/blob/3.10-dev/admin

[2022-11-18 04:17] joomdonation commented on #38909
Closing because this is an duplicate issue. @web-tiki If you still have this problem, see https://github.com/joomla/joomla-cms/issues/37177#issuecomment-1319515680 for a reason and a workaround while waiting for official solution.

[2022-11-18 04:17] #38909 closed, assigned to nobody

[2022-11-18 04:20] Merl06 commented on #39181
I will be glad if you solve this problem. After all, it did not occur to me
alone, I just reported it.

чт, 17 нояб. 2022 г. в 19:50, Benjamin Trenkle ***@***.***>:

[2022-11-18 07:13] SharkyKZ commented on #38928
So will this major B/C break be mitigated or not?

[2022-11-18 07:48] joomdonation commented on #39228
Actually, it is loaded, but to a different $language instance. As @SharkyKZ mentioned, `Joomla\CMS\Mail\MailTemplate` relies on global language instance, and that global language instance does not have com_messages.ini loaded (it's not language aware - a bug if you ask me)

As of right now, I don't know if change `Joomla\CMS\Mail\MailTemplate` to have it language aware to solve this issue is safe

[2022-11-18 07:54] SharkyKZ commented on #39193
https://github.com/joomla-framework/filter/pull/50.

[2022-11-18 08:29] zstergios opened #39235 "Manipulating vars in onAfterInitialise()"
Joomla has great plugin system that allows you to manipulate the variables to able to re-route the result of page.
Seems not works on Joomla 4 and VM 4.

### Steps to reproduce the issue

Create a plugin and place code at onAfterInitialise() event

$this->app->input->set('option','com_virtuemart');
$this->app->input->set('view','productdetails');
$this->app->input->set('virtuemart_product_id',1);

[2022-11-18 08:41] joomdonation commented on #39235
Shouldn't you use `onAfterRoute` instead ?

[2022-11-18 08:47] chmst commented on #22842
Seems to be still valid at least for alerts.
media/vendor/joomla-custom-elements is still there with joomla-alert.css and joomla-tab.css.

[2022-11-18 09:05] zstergios commented on #39235
onAfterInitialise() is called before onAfterRoute().

The onAfterRoute has already loaded the non-desired view/component<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39235">issues.joomla.org/tracker/joomla-cms/39235</a>.</sub>

[2022-11-18 09:14] joomdonation commented on #39235
I don't know how onAfterRoute has already loaded the non-desired view/component. On my quick test, I used the code like this:

[code]

And that loads category view of category with ID = 4 in com_contact. So `onAfterRoute()` works well for me. I can use that event to route to the component/view I want.

[2022-11-18 09:55] ke-communication opened #39236 "Make Menus in Admin Menu sortable"
### Steps to reproduce the issue
In Admin Menu > Menus > Site

The items appear to be sorted by ID descending. Please make them sortable!!!

### Expected result
[menu.png](https://postimg.cc/MfxT5mZ3)

### Actual result

### System information (as much as possible)

### Additional comments

[2022-11-18 10:27] zstergios commented on #39235
On Joomla 1.5 up to 3.x the onAfterInitialise() worked for me.

I don't know if has any issue the specific component I am trying (virtuemart)

I will do my tests and I will come back with the results
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39235">issues.joomla.org/tra

[2022-11-18 10:30] richard67 commented on #36370
@helioloureiro Can you confirm this? Is your issue meanwhile solved so it can be closed?

[2022-11-18 10:35] joomdonation commented on #39235
I will have to check it again but I remember I read somewhere that in Joomla 3, Joomla Input object use $_REQUEST as reference, so any modification to Joomla input object will affect data from $_REQUEST.

On Joomla 4, $_REQUEST is not passed by reference to input object anymore,  so modify Joomla input object won't make change to $_REQUEST.

With that said, if VM for some reasons, uses data from $

[2022-11-18 10:37] ryandemmer commented on #39193
This appears to be fixed in this PR - https://github.com/joomla-framework/filter/pull/50

[2022-11-18 11:55] crystalenka commented on #39232
Should it be possible to overwrite it? Do we want to make it disabled for real, remove the styling, or something else?

I do see why this would be implemented - I imagine it's to discourage changing it accidentally since maybe changing the created user would remove someone's permissions to edit it. But "fake" disabled styling isn't the best solution here for sure.

[2022-11-18 12:05] crystalenka commented on #39236
Thanks for opening the issue! I have this frustration sometimes too :)

This has come up before here: https://github.com/joomla/joomla-cms/issues/38143

And there is a PR, but it is still in draft: https://github.com/joomla/joomla-cms/pull/38149

Since the PR is in draft I'm leaving the issue open and request other maintainers do the same so we can keep track.

[2022-11-18 12:07] crystalenka commented on #39232
I think you're right Brian, but it also gives the impression that the button is (or should be) disabled also, doesn't it? Because those are disabled styles, not readonly (which should be different imho)

[2022-11-18 12:09] chmst commented on #39232
On FF a new user is selectable and is stored.

[2022-11-18 12:11] crystalenka commented on #39219
@angieradtke is this similar to what you were experiencing?

[2022-11-18 12:13] crystalenka commented on #39126
It's because of the sticky property. Something similar happens when you have multiple media sources defined—they stack.

This should be only CSS updates (I hope...) so I will give it a try.

[2022-11-18 12:18] brianteeman commented on #39232
correct. but you cannot type a username directly because the input is indeed readonly.

The best option is probably to change it so that there is just a button and text instead of a button and readonly input

[2022-11-18 12:27] crystalenka commented on #39232
Readonly input is appropriate, because it's significant info, will be submitted with the form, and should be able to be read by screenreaders etc, but the visual affordance should be different than that of disabled fields.

This is boils down to a styling issue. Not sure if it's part of Bootstrap or our overrides.

[2022-11-18 12:34] #39232 closed, assigned to nobody

[2022-11-18 12:36] crystalenka commented on #39232
I agree with you Christiane, it is a little confusing

[2022-11-18 12:50] woluweb commented on #36718
a fix has been proposed on https://github.com/zzella/search/commit/f11bd86c29504bd9f9268f4fa2c4161559f77cbd
I have tested it successfully :)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36718">issues.joomla.org/tracker/joomla-cms/36718</a>.</sub>

[2022-11-18 12:59] woluweb commented on #36718
cfr https://github.com/joomla-extensions/search/issues/7<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36718">issues.joomla.org/tracker/joomla-cms/36718</a>.</sub>

[2022-11-18 13:04] ReLater commented on #39226
And all subfolders if there are some in the directory. While testing I have deleted all images and folders in `images/` by mistake ;-)

From my point of view this should be a release blocker.

[2022-11-18 13:20] geraandras opened #39237 "Joomla 4.2.5 with PHP8.1 - PHP Deprecated"
### Steps to reproduce the issue
Lastest Joomla 4 switched from PHP 7.4.33 to 8.1 caused this (from  error log):
PHP Deprecated:  strtolower(): Passing null to parameter #1 ($string) of type string is deprecated in /home/...account.../...domain.../libraries/src/Helper/ModuleHelper.php on line 85

### Expected result
No error message

### Actual result

### System information (as much as possible)

[2022-11-18 13:28] jikometrix commented on #39004
Do you have any thoughts on how to render character correctly for Feed?

[2022-11-18 13:35] phunsoft commented on #39228
@joomdonation Thanks. Let me first make clEar that my knowledge of the internals of Joomla are (still) very limited. So please bear with me and with what I write. Anyway, here I go...

### Global $language instance versus multiple instances
Your comment regarding the $language instances triggers some questions:
 1. If there is a *global* $language instance which does *not* have `com_messages.ini`

[2022-11-18 13:49] MacJoom commented on #39193
Yes i have successfully tested joomla-framework/filter/pull/50 - closing this issue then

[2022-11-18 13:50] joomdonation commented on #39228
@phunsoft To understand this issue, please look at this code https://github.com/joomla/joomla-cms/blob/4.2-dev/administrator/components/com_messages/src/Model/MessageModel.php#L358-L359 . You will also have to look at the code here https://github.com/joomla/joomla-cms/blob/4.2-dev/libraries/src/Language/Language.php#L287 to understand how `Language::getInstance` works and the issue will become cle

[2022-11-18 13:51] #39193 closed, assigned to nobody

[2022-11-18 14:20] phunsoft commented on #39228
@joomdonation Thanks a lot for the pointers into the code. I'll go and have a look, since I'm curious to better understand the internals. I do have enough code reading skills, but as someone which does not yet understand all the compex concepts behind a certain software, it takes time to get into it.

I had implemented the "keep languaes equal" workaround, but like the template workaround much bet

[2022-11-18 14:21] joomdonation commented on #39228
You're welcome. One day we will fix it so that you don't have to use workaround :).

[2022-11-18 14:44] phunsoft commented on #39228
If this would turn out to be too complex to solve for what ever reasons, I could think of a required post-installation step after installing a new languge: Create localized mail templates for all installed ones. And this could be supported by a message shown under System -> Warnings, or System -> Instllation Messages, if there are mail templates which do not have a localized version for each langu

[2022-11-18 15:22] joomdonation commented on #37177
Thanks for your reply @nikosdion

Not sure if I understand your reply correctly, but the `finalizeUpdate` function calls the below code, which is defined in `administrator/com_admin/script.php`, so it is related.

[code]

That makes sense if we only have to worry about people update directly from old version to latest version (contains the propose change). I was thinking about changing `restore.ph

[2022-11-18 15:33] joomdonation commented on #37177
Also, just a note that `finalizeUpdate` function depends on `clearFileInOPCache` which is defined in `extract.php`, so if we add `finalizeRestoration` function to `finalisation.php` , we will have to define `clearFileInOPCache` in `finalisation.php`, too (of course with `function_exists` check). Not sure if I miss anything else ?

[2022-11-18 15:38] nikosdion commented on #37177
The `\JoomlaInstallerScript::uninstallRepeatableFieldsPlugin` method in the `administrator/com_admin/script.php` file is only even called from `\JoomlaInstallerScript::update` which is only ever called from `\Joomla\Component\Joomlaupdate\Administrator\Model\UpdateModel::finaliseUpgrade` which has **absolutely nothing** to do with `restore.php`, `extract.php`, the `finalizeUpdate` function, or the

[2022-11-18 16:00] joomdonation commented on #37177
It is because only this fatal error issue only happens with users who has repeatable fields setup on their website as described in this issue https://github.com/joomla/joomla-cms/issues/38909 . We can easily re-procedure the issue with a fresh Joomla 3.10.11, setup repeatable fields, add one article and upgrading to latest version

What is actually happening here is that after your PR https://gith

[2022-11-18 16:09] nikosdion commented on #37177
Sorry, I've had one hell of a day, fighting a massive Chinese DDoS which eventually took down the entire US infrastructure of my host (despite managing to mitigate 99.49% of the peak traffic with CloudFlare). My brain is a bit fried as a result.

The correct solution would be what I said earlier:

This would make sure that no matter which Joomla version you are migrating from the extraction script

[2022-11-18 16:14] joomdonation commented on #37177
OK. I will prepare a PR and ask you to check when it is ready. Thanks for discussing and suggesting (the better) solution !

[2022-11-18 16:44] MarkRS-UK opened #39238 ""Log almost everything" doesn't log (non core) webservices errors (nor does anything else)"
When developing webservices (ie API) code, it appears that there is no way to log errors that occur (through the normal J! logging system).

I **have** been able to make it happen by manually putting the name of my component into the parameters column of the com_actionlogs row in the extensions table.  This is obviously not satisfactory, nor does it point to an easy solution imho.

Perhaps an entr

[2022-11-18 21:34] mbennett417 opened #39239 "YubiKey 2FA login loops in 4.2.x"
### Steps to reproduce the issue
Login as administrator in any version of 4.2 (last seen on 4.2.5) using a Yubico USB key. Enter account and password, goes to the 2FA screen and when the YubiKey button is pressed you will immediately loop back to the first login screen. You must go through the same steps, and after the second login you go the the admin screen as normal.

### Expected result
Should

[2022-11-18 22:53] ReLater commented on #30616
Still an issue with J!4.2.5.

Is it possible to make the title of this issue more meaningful? Something like "[4] Media Manager fails with SymLinks" or so.

Thank you!

[2022-11-18 22:57] ReLater commented on #30616
And could you please remove the `Information Required` label. Thx again.

[2022-11-19 07:44] alikon commented on #22570
let's move it to discussion

[2022-11-19 07:44] #22570 closed, assigned to nobody

[2022-11-19 08:12] alikon commented on #24175
let's move it to discussion

[2022-11-19 08:13] #24175 closed, assigned to nobody

[2022-11-19 08:18] alikon commented on #24560
as it is not a bug but a

let's move it to discussion

[2022-11-19 08:18] codezuma commented on #39236
@ke-communication  Is anyone working on this issue. If not can i work on this project.

[2022-11-19 08:18] #24560 closed, assigned to nobody

[2022-11-19 08:22] alikon commented on #39236
@codezuma feel free to do it 👍

[2022-11-19 08:24] chmst commented on #39236
@codezuma there ist already someone working on it: And there is a PR, but it is still in draft: https://github.com/joomla/joomla-cms/pull/38149

[2022-11-19 08:24] crystalenka commented on #39236
Hi! Check the PR I linked above, you can contribute and work together on it, or use it as a basis for your own solution. You do not need permission to propose a fix or work on an issue. :)

[2022-11-19 08:30] joomdonation commented on #37177
I made PR https://github.com/joomla/joomla-cms/pull/39245 to address this issue. Please help testing. Thanks !

[2022-11-19 08:30] #37177 closed, assigned to nobody

[2022-11-19 08:37] richard67 commented on #38909
There is a pull request now which solves this issue: #39245 . Please test it and report back your test results in the issue tracker using the blue "Test this" button. When the pull request has 2 good tests, it will be marked to be merged and then can be part of the next release. Thanks in advance.

[2022-11-19 08:40] codezuma commented on #39236
@crystalenka oh is it i was just checking because i didn't want to do it again in case it was already done.

[2022-11-19 08:41] crystalenka commented on #39236
It's not already done, there is in progress work which you can build upon or add to.

[2022-11-19 08:43] alikon commented on #19343
`PunycodeHelper::emailToPunycode`  was not deigned for that
so that's imho not an issue
but as for https://www.rfc-editor.org/rfc/rfc2822#section-3.6.3
a nice to have
i'll move it to discussion

[2022-11-19 08:44] #19343 closed, assigned to nobody

[2022-11-19 09:31] Civil-captain commented on #19856
I think 'Created by Alias' gives the impression that 'Alias' is the username of the creator.

How about we explore 'Anonymous' or 'Anonymous Creator' to keep the verb.

[2022-11-19 09:33] alikon opened #39247 "PunycodeHelper::emailToPunycode does not support multiple email addresses"
### Discussed in https://github.com/joomla/joomla-cms/discussions/39246

<div type='discussions-op-text'>

<sup>Originally posted by **ryandemmer** January  9, 2018</sup>
### Steps to reproduce the issue

In the Global Configuration, set to the Default Editor to "Editor - None"

Go to Content -> Articles -> Create New Article.

Enter in an article title.

In the Content textarea, paste in:

`<a hr

[2022-11-19 09:41] chmst commented on #19856
If a name is entered here, the creator is no longer anonymous (my understanding as non-native speaker). Author's Alias sounds good for me.

[2022-11-19 09:48] richard67 commented on #39247
Hmm, the same applies to the method `emailToUTF8`: Both methods `emailToPunycode` and `emailToUTF8` start with `$explodedAddress = explode('@', $email);` and so are not made for handling a comma-separated list of email addresses:

https://github.com/joomla/joomla-cms/blob/4.2-dev/libraries/src/String/PunycodeHelper.php#L198

https://github.com/joomla/joomla-cms/blob/4.2-dev/libraries/src/String/Pu

[2022-11-19 10:07] joomdonation commented on #39203
@robbiejackson Finally, I have time to check this . Please test PR https://github.com/joomla/joomla-cms/pull/39248. Thanks !

[2022-11-19 10:07] #39203 closed, assigned to nobody

[2022-11-19 10:12] brianteeman commented on #39247
And that's why we don't sweep issues under the carpet

[2022-11-19 10:22] drmenzelit commented on #34757
I'm looking at this

[2022-11-19 10:26] Civil-captain commented on #19856
Yeah, sounds good

[2022-11-19 10:33] richard67 commented on #39247
I could try to make a PR later today or tomorrow. If someone is faster just let us know here.

[2022-11-19 10:36] crystalenka commented on #19856
Is alias clear in this context, though? Thinking of plain language, is it a word that most users will understand right away? (Honest question!)

Some additional suggestions from Mattermost for consideration:

Creator's Display Name
Alternate Creators Name
Alternative Creators Name for Display

[2022-11-19 10:38] crystalenka commented on #19856
"Override Creator Name"?

[2022-11-19 10:58] alikon commented on #39247
if you try to do it then probably you got a reply

if you don't ...

no response at all

what should be the better pattern ?

[2022-11-19 10:59] richard67 commented on #39247
Am working on it.

[2022-11-19 11:06] joomdonation commented on #28468
PR https://github.com/joomla/joomla-cms/pull/39249 should address this issue. Please help testing. Thanks !

[2022-11-19 11:06] #28468 closed, assigned to joomdonation

[2022-11-19 11:12] mfleeson commented on #19856
Display Creator as

[2022-11-19 11:13] nikosdion opened #39250 "[4.2] Security: The reveal password feature is actively hurting password security"
OFF TOPIC

[2022-11-19 11:38] brianteeman commented on #19856
Fyi the issue raised was about capitalisation

[2022-11-19 11:41] joomdonation commented on #38720
PR https://github.com/joomla/joomla-cms/pull/39251 should fix this issue. Please help testing. Thanks !

[2022-11-19 11:41] #38720 closed, assigned to nobody

[2022-11-19 11:44] joomdonation commented on #39226
@laoneo @dgrammatiko Would be great if you could look at this release blocker issue.

[2022-11-19 11:45] crystalenka commented on #19856
That's fine, but it's also not very intuitive. It's an opportunity to both correct the capitalization per the style guide and perhaps make it more clear.

[2022-11-19 12:11] Kostelano commented on #34757
PR https://github.com/joomla/joomla-cms/pull/39252

[2022-11-19 12:11] #34757 closed, assigned to nobody

[2022-11-19 12:24] jeckodevelopment commented on #39250
Thanks Nicholas, I agree with your proposal.
Sometimes we do not consider in depth the risks (and their effects).

[2022-11-19 12:25] angieradtke commented on #39219
Right, that seems to be the issue I have

[2022-11-19 12:26] angieradtke commented on #39219
The last  element of the array is missing

[2022-11-19 12:27] richard67 commented on #39247
Not sure now after having read the previous discussion in #39246 if that would be the right fix.

The PunicodeHelper's emailToPunycode is used at several places:

[code]

It would need to check each of them if splitting the string by commas could break anything. But as far as I know, commas are not allowed in user names in email addresses (which are not punicoded) and also not in the domain part e

[2022-11-19 12:29] richard67 commented on #39247
Maybe we should apply a fix only in the `Joomla\CMS\Component\ComponentHelper::filterText` method so it handles comma-separated email address lists only when embedded into content but not when used e.g. for a field which should still allow only 1 receiver.

[2022-11-19 12:29] chmst commented on #39219
Then I must repeat my question. Did you press enter after typing the tag name? If not, there is no input.

[2022-11-19 12:30] nikosdion commented on #39250
I have the benefit of hindsight and following the infosec community for business reasons :) I understand the use case for having a reveal password feature but at this point I believe that the use case is like the Loch Ness monster: some people claim to have witnessed it, many have seen a blurry thing which might or might not be it, most are still waiting to see it at all. You know?

[2022-11-19 12:32] chmst commented on #19856
It was about capitalisation AND about using the same label in in all components.
In articles the autor is displayed in "details".  Where is the author or alias of a tag displayed?

[2022-11-19 12:47] brianteeman commented on #39250
I hadn't even realised it was new in Joomla 4 I've been using it for so long now. I do recall now I am reminded that @Hackwar did raise it as an over the shoulder issue.

[2022-11-19 12:51] Hackwar commented on #39250
I opposed that feature during the J4 admin template rewrite. I wouldn't call it an "over the shoulder" issue.

[2022-11-19 12:54] nikosdion commented on #39250
If it was just "over the shoulder" it would be merely inconvenient. This is far more dangerous because the security failure mode is _invisible_ to the user.

[2022-11-19 13:34] drmenzelit commented on #39181
@Merl06 the comment from @bembelimen was related to the question from @snegicodes . We don't asign issues, if someone has an idea how to solve it, she/he can create a pull request.

[2022-11-19 14:05] chmst commented on #39226
In all lists this checkbox selects all items. For me it is normal behaviour.

[2022-11-19 14:07] brianteeman commented on #39226
No - the checkbox selects all selected items. Just try it in article manager. Filter by a category. Select all and then delete. Only the items in that category will be deleted.

[2022-11-19 14:08] angieradtke commented on #39219
in my  case I have 25 tags selected, but in the field I can only see 24.
In the frontend I  can see all 25.  So the last one is missing in the backend.
If I reorder the tags, i can see that always the last one is missing.
This is why I think it is a wrong counting array. But if I have less than 24 everything is fine.

[2022-11-19 14:09] brianteeman commented on #39250
So should this be a config setting? And if so should it be global or per use

[2022-11-19 14:11] chmst commented on #39219
Then I think it is another issue. If I understand this here correctly then the user wants to add a new tag but this new tag is not stored.

[2022-11-19 14:24] nikosdion commented on #39250
@brianteeman I would say per use case for the following reasons:

- Joomla only uses this in login forms (com_users and mod_login)
- There might be a use case where the risk is mitigated by other factors and being able to view your password might be desirable (I am thinking Intranets accessed with locked down browsers and/or Internet kiosk points).

I would also add a Big Fat Warning in the respec

[2022-11-19 14:32] sandewt commented on #39250
My wish is to build in a choice for each user group. Because I have users with low privileges who struggle with long passwords.

[2022-11-19 14:35] nikosdion commented on #39250
@sandewt I thought about it this too, but if you are _not_ already logged in how do you know the user group? As far as I know time travel and telepathy are out of the question.

Please don't say "read the username" because that's a different security issue: information disclosure. It tells you if the username exists and whether it's a privileged account.

[2022-11-19 14:44] sandewt commented on #39250
@nikosdion
Maybe I misunderstand. A user who registers on my site gets low rights. Depending on the situation, the administrator is given more rights.

[2022-11-19 14:47] nikosdion commented on #39250
The password field is shown **before** you log into the site. At this point, you are a guest. You need to enter a username and password to log in.

Therefore you have a chicken and egg problem.

I need you to log into the site (with your username and password) to know who you are and what are your permissions.

I need your permissions to decide if the password field will show a "Reveal password" b

[2022-11-19 14:53] hytsch commented on #39219
Hi all, I can't describe it any better, just repeat that the error exists, and that it only appears after a certain number of tags. It seems important to me to point out that we have deactivated Ajax in the tag option configuration. Now the work with the tags works perfectly. => **AJAX is the problem!**

[2022-11-19 14:55] sergeytolkachyov commented on #39093
I had the same problem. Need in this fix too

[2022-11-19 14:58] chmst commented on #39219
Thank you @hytsch and @angieradtke. Your issues are related and the number of tags is relevant.

[2022-11-19 15:00] sergeytolkachyov commented on #39093
In which version of Joomla will this bug fix appear?

[2022-11-19 15:22] sandewt commented on #39250
Indeed.

When logging into the administrator, there should be a separate option to disable anyway.
In other words, distinguish between the administrator and the site client.

[2022-11-19 15:35] joomdonation commented on #38794
I made PR https://github.com/joomla/joomla-cms/pull/39253 to implement this request. Please help testing. Thanks !

[2022-11-19 15:35] #38794 closed, assigned to nobody

[2022-11-19 15:57] nikosdion commented on #39250
@sandewt Yes, of course they are separate options. I said it but I realise I did not spell it out for people who don't know the Joomla internals like I do. Sorry.

When I said that com_users and mod_login would get separate options I of course meant that _each_ of the two mod_login modules (frontend and backend) would get separate permissions. The backend Joomla login page is rendered by `administ

[2022-11-19 16:16] sandewt commented on #39250
@nikosdion

Thanks, a clear explanation. I assume that the _registration form_ of com_users falls under that as well.

[2022-11-19 16:20] nikosdion commented on #39250
I haven't used the registration form in forever but, yes, if it has a reveal password button this applies to it as well. Same for the password reset, of course.

[2022-11-19 17:12] snegicodes commented on #39181
@Merl06 Actually I am not facing the issue myself, so can you please provide me with the steps to reproduce the bug?

[2022-11-19 18:16] joomdonation commented on #39219
Hopefully PR https://github.com/joomla/joomla-cms/pull/39254 will address this issue. Please help testing. Thanks !

[2022-11-19 18:16] #39219 closed, assigned to nobody

[2022-11-19 18:16] joomdonation commented on #38763
PR https://github.com/joomla/joomla-cms/pull/39254 should address this issue. Please help testing. Thanks !

[2022-11-19 18:16] #38763 closed, assigned to nobody

[2022-11-19 18:16] joomdonation commented on #38941
PR https://github.com/joomla/joomla-cms/pull/39254 should address this issue. Please help testing. Thanks !

[2022-11-19 18:16] #38941 closed, assigned to nobody

[2022-11-19 18:18] joomdonation commented on #37927
PR https://github.com/joomla/joomla-cms/pull/39254 should address this issue. Please help testing. Thanks !

[2022-11-19 18:18] #37927 closed, assigned to nobody

[2022-11-19 18:20] Merl06 commented on #39181
install two languages, enable the "language filter" plugin and the
"language switching" module.
In the "language filter" plugin, enable the "Delete default language code"
option. the problem appears when you switch to a version of the material in
which the language is set to the default content language, instead of the
suffix appears "?format=html " the problem only appears if you click on the
lan

[2022-11-19 18:20] joomdonation commented on #35649
PR https://github.com/joomla/joomla-cms/pull/39254 should address this issue. Please help testing. Thanks !

[2022-11-19 18:20] #35649 closed, assigned to nobody

[2022-11-20 08:10] crystalenka opened #39255 "[4.x] Permissions for Individual Template Styles (for Group Assignment)"
Was an issue, wrongly converted to discussion, bringing it back as an issue so that someone can see it and maybe submit a PR.

### Discussed in https://github.com/joomla/joomla-cms/discussions/39244

<div type='discussions-op-text'>

<sup>Originally posted by **orware** April 11, 2019</sup>
### Steps to reproduce the issue

I've primarily managed our campus website on my own for the past 10 years

[2022-11-20 08:11] crystalenka opened #39256 "[4.x] Equalize impressions between banner clients"
Was an issue, wrongly converted to discussion, bringing it back as an issue so that someone can see it and maybe submit a PR.

### Discussed in https://github.com/joomla/joomla-cms/discussions/39243

<div type='discussions-op-text'>

<sup>Originally posted by **drwesleyferreira** March 12, 2019</sup>
### Steps to reproduce the issue
It inserted 3 Banners clients (Client A, B and C). Assign 3 banne

[2022-11-20 08:13] crystalenka opened #39257 "J4 XML Field Showon and Required Set to True"
Was an issue, wrongly converted to discussion, bringing it back as an issue so that someone can see it and maybe submit a PR.

### Discussed in https://github.com/joomla/joomla-cms/discussions/39211

<div type='discussions-op-text'>

<sup>Originally posted by **frogydiak** April  2, 2022</sup>
### Steps to reproduce the issue
Create an xml field and set the shownon attribute to whatever is the val

[2022-11-20 15:53] coolcat-creations opened #39260 "J4 Privacy Suite / Possibility for a “Do not Track” User Actions"
### Is your feature request related to a problem? Please describe.
In Joomla Privacy Suite, it's either possible to enable User Actions logging and “tracking” or to disable it.
If activated, the user can agree or “stay away”.
It would be good to have a feature as site owner to allow also a third option “do not track me” or “disallow”.

### Describe the solution you'd like
A Setting in the Privacy

[2022-11-20 16:07] zero-24 commented on #39260
Isnt the problem that we have to log whats happening in the system so it can be exported later? Even when not tracked via action logs that data is still in the system but not in a format that can be exported when requested?

[2022-11-20 16:13] coolcat-creations commented on #39260
You don't have to log, I mean there is a possibility to disable logging?

[2022-11-20 17:09] dr138 opened #39262 "(Joomla 3 >= 3.9.27) Sending of mail broken if DKIM is enabled."
A change to libraries/vendor/phpmailer/phpmailer/class.phpmailer.php (method mailPassthru) introduced in #33772 breaks sending of mail if phpmailer is configured to do DKIM signing (and phpmailer is configured to use php's mail()). Need also php >= 8.0 or (presumably) a windows setup (have only tested on linux + php 8.0).

The relevant patch from #33772 in libraries/vendor/phpmailer/phpmailer/clas

[2022-11-20 18:40] crystalenka opened #39263 "[4.x] Media manager - error when creating folder displays behind modal overlay"
### Steps to reproduce the issue
1. Go to the media manager
2. Create a folder that ends in lots of dots ("testing.....")
3. Submit

### Expected result
An error either in the modal, or the modal closes to display the error.

### Actual result
The error displays behind the modal window and is not immediately visible.

<img width="1204" alt="Screenshot 2022-11-20 at 20 37 13" src="https://user-imag

[2022-11-20 21:04] crystalenka commented on #25843
Just confirming this is still an issue.

[2022-11-21 00:08] ReLater commented on #39262
Is this also an issue in Joomla 4?

[2022-11-21 01:23] zero-24 commented on #39260
Yes for sites not falling under GDPR, but I could be wrong too. When you will disable the setting the same data is recorded so the question would be what you export when requested according to GDPR. ;⁠-⁠)

[2022-11-21 01:25] zero-24 commented on #39260
When we are not required it should be disabled by default in order to practice dataminimisation.

[2022-11-21 06:59] sergeytolkachyov commented on #38887
@Elfangor93 can you help me with Joomla OAuth2 class? I don't understand how to use it. Function `authenticate` needs a `code` parameter in Input (Joomla\Input\Input) but when does this function fired?
I need to authorize in 3-dparty API via OAuth2 and send some data into it. Does Joomla OAuth2 class help me with this task?

[2022-11-21 07:16] yuan1238y opened #39267 "Install extension by cli no language loaded"
### Steps to reproduce the issue

Execute command
`php /var/www/html/cli/joomla.php extension:install --path=xxx.zip`

When install has error, or install template, not translated tag.

### Expected result

The template default style name, will be set to `name - Default`

### Actual result

The default style name set to `JLIB_INSTALLER_DEFAULT_STYLE`

### System information (as much as possible)

J

[2022-11-21 08:19] Rolli1962 opened #39268 "article - versions preview: No access with author-rights"
### Steps to reproduce the issue
User with Author-Rights and owner of an article want to preview an older version in edit-mode via versions.

### Expected result
Can view the older article

### Actual result
Get access right error 403

### System information (as much as possible)
J4.2.5 (even fresh installed)

### Additional comments
Try this feature with fresh installed Joomla-Versions 4.2.5 and

[2022-11-21 09:56] coolcat-creations commented on #39260
Ok, imagine as super admin you want to have the user log on for registered users, but you don't want the logs for super admins. How to solve that?

[2022-11-21 12:26] zero-24 commented on #39260
I do get your point and i'm not against adding such a feature. When its required that we have to collect that data it would be required for super admins too as they can request thier data too. And to check whats happening the actions of an super user is more interesting than a regular user ;⁠-⁠)

When its not legally required that we collect that data an DNT setting can be added not sure what that

[2022-11-21 12:32] wojtekxtx commented on #39260
@zero-24 Data Privacy/Protection lawyer, I suspect

[2022-11-21 12:38] coolcat-creations commented on #39260
This can be formulated the other

Yes could be also the other way around: only track superusers and not regular users

[2022-11-21 13:20] coolcat-creations opened #39270 "J4 com_user - Add option to disallow URLs in Username and Name"
### Is your feature request related to a problem? Please describe.
Despite Captcha on, I get User registrations with valid emails but with scam in the username so that the valid email gets a spam mail from my Website.

### Describe the solution you'd like
I would like to have an option to shorten the name and Username to max. 20 characters (or any custom value) and to add a blacklist for those fie

[2022-11-21 13:36] laoneo opened #39271 "Bootstrap tabs state is not saved"
### Steps to reproduce the issue
- Install DPCalendar Free
- Create a location in the component
- Open the event form in the back end
- Go to the location tab
- Select a location

### Expected result
The page is reloaded and the location tab is opened.

### Actual result
The page reloads and the first tab is opened.

### System information (as much as possible)
Joomla 4

### Additional comments
I'

[2022-11-21 13:48] ReLater commented on #39267
Did you also test with current version 4.2.5 or better: current nightly build? Just to go shure that this issue hasn't been fixed already.

[2022-11-21 13:59] laoneo commented on #39263
This is a known issue and pretty sure there is already an issue open for it, but can't find it yet.

[2022-11-21 14:40] ReLater commented on #39262
Maybe related: https://github.com/joomla/joomla-cms/discussions/32418
(Found by @ChristineWk)

[2022-11-21 14:41] zero-24 commented on #39260
sure yes do you know someone we could ask?

[2022-11-21 14:43] zero-24 commented on #39260
Yes i know thats why i asked whether we have to when we have not to log something for every user but still be compliant go and add that option and set it tonnot that by default :⁠-⁠)

[2022-11-21 15:13] dr138 commented on #39262
It's not an issue with J4 (which uses unpatched phpmailer).

(In sort-of answer to #32418) DKIM can be enabled with J3/J4 using eg the method I describe above. Except for J3>=3.9.27, where something like the fix I gave is needed, otherwise mail gets broken.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.j

[2022-11-21 15:19] zero-24 commented on #39262
hmm have we verified what the plain phpmailer does in that check in newer versions? So this can be patched within our backport of the older version of phpmailer?

The first step would be a document page i'm working on for 3.10 compatibility issues with never PHP versions.

[2022-11-21 15:23] Fedik commented on #39271
As far as I remember Bootstrap does not support a "state" for their tabs.

Can be a feature request, but I doubt that it will get much attention.

[2022-11-21 19:49] stimpsonjcat opened #39272 "Workflow should show stage in list view and article edit details."
### Is your feature request related to a problem? Please describe.

There's one thing that's not working right with workflows: neither the author, nor the editor (or any admin) can see the stage of the workflow. When you open the article for editing, the drop down menu of the workflow is showing the title of the workflow, not the stage of the workflow. Also in the list view of articles, the stage

[2022-11-21 19:52] crystalenka commented on #39272
Thank you! Can you add the screenshots also that you shared on Facebook? I am on mobile and can't do it currently.

I'm not sure yet if this is a technical bug or something that was missed when the component was introduced, but will take a look :)

[2022-11-21 20:03] brianteeman commented on #39272
I think you are witnessing the ui of com_workflows

What do you see when you clcik on the stage name like bellow

![image](https://user-images.githubusercontent.com/1296369/203148046-0922e2de-178d-40b5-b7ff-cf073dbb06f6.png)

[2022-11-21 20:07] stimpsonjcat commented on #39272
I see a menu with my workflow stages in the list view. The title of the workflow is selected, not the actual stage.

<img width="756" alt="Schermafbeelding 2022-11-21 om 21 05 27" src="https://user-images.githubusercontent.com/3033162/203148531-00f77b20-8d91-42eb-86e7-1c178ffd14de.png">

[2022-11-21 20:09] stimpsonjcat commented on #39272
This it what it looks like
<img width="1384" alt="Schermafbeelding 2022-11-21 om 20 36 21" src="https://user-images.githubusercontent.com/3033162/203148968-8496d567-be08-4b77-9204-72e861d8dd7a.png">

This is what I would propose.
<img width="1384" alt="Schermafbeelding 2022-11-21 om 20 39 04" src="https://user-images.githubusercontent.com/3033162/203148977-5a1311ce-b137-4147-b9d9-543b26d80f5a.png"

[2022-11-21 21:08] brianteeman commented on #39272
Exactly what I thought. The list is a list of transitions that are valid for the current stage. The currennt stage is the selected item.

Confused? Yes I am sure you are.

[2022-11-21 21:11] crystalenka commented on #39272
It's not clear at all what stage an item might be in until you click, and only maybe at that point.

I asked him to file the ticket, @brianteeman , I am sure this can be improved.

[2022-11-21 21:13] Mike92115 opened #39274 "Article Author Displays when it should not on Article Detail Page when using a category blog menu item and Author is set to: Use Article Settings"
### Steps to reproduce the issue

Create a category blog menu item and under options set Author to use Article Settings.  Create 2 articles and within the Article Options on those articles set one to Display Author and one not to display the Author.

### Expected result

The Category blog page displays correctly, showing the Author for one article and not for the other.  Then click on the Read Mor

[2022-11-21 21:16] brianteeman commented on #39272
@crystalenka I have been saying this before workflows were even merged. :( The problem is that stage != status and transition != anything. You can only use workflows if you forget everything you already know.

@stimpsonjcat I don't know if it will help but I gave a tutorial on workflows at joomladay fr earlier this year. I really tried to simplify things - it was the only way I could understand it

[2022-11-21 21:43] SharkyKZ commented on #38370
Will this B/C break be mitigated?

[2022-11-21 21:52] jv5 commented on #35649
Did not work for me.  Tags do not get saved to article. Also, nothing gets written to the contentitem_tag_map table.

[2022-11-21 23:18] robbiejackson commented on #39203
@joomdonation I've been looking at this today. Mostly it works well, but I still get an issue if I do the following:

1. Set the global config Media / "Path to Images Folder" to a Windows-format path, eg images\photos
2. Upload a new helloworld record plus image via the front end form.
3. In the Admin back-end display the helloworld records and then click on the new one to edit it
4. In the hellow

[2022-11-21 23:25] dgrammatiko commented on #39203
There’s a pr for that: https://github.com/joomla/joomla-cms/pull/38934

[2022-11-22 02:09] ReLater commented on #39260
When this issue will be accepted:
Perhaps a middle way can be found so that user actions can at least continue to be logged anonymously ("DO-NOT-TRACK-USER"). I, for example, am not one of those people who need to know specifically who changed or did what, but when something was done or whether something was done. For different purposes on different sites.

[2022-11-22 02:51] joomdonation commented on #35649
@jv5 Could cause by something else. If you give me access to your site and tell me step by step what I need to do to see the issue, I will be happy to take a look at it and try to find a solution

[2022-11-22 04:40] joomdonation commented on #39203
@robbiejackson **The account was not found** issue should also be fixed with my last commit. Please check it again

[2022-11-22 04:53] joomdonation commented on #28643
@brianteeman The user here reported an issue with ordering of children categories (or sub-categories) of a category and in this case, we do have support for it. However, the sorting is not locale aware and it is causing this issue. If anyone has this issue, please try to change this line of code to https://github.com/joomla/joomla-cms/blob/4.2-dev/components/com_content/src/Model/CategoryModel.php

[2022-11-22 04:57] joomdonation commented on #34866
Looking at this issue again, I see that the parameter here is used to control ordering of children categories of a category, not ordering of the categories on the first page. And for that, we already have it works as expected already (except that it is not locale aware as reported here https://github.com/joomla/joomla-cms/issues/28643 )

So I would say that this issue is invalid and will close it

[2022-11-22 07:01] crystalenka commented on #39274
This could be a template issue. If you switch your template to the default  Cassiopeia, does the issue persist?

[2022-11-22 07:07] crystalenka commented on #39271
Bootstrap doesn't support that natively, sadly. https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior

I am not sure we would want to implement our own solution for that in core on top of bootstrap. (Maybe? Maybe not?)

But perhaps a session cookie in your extension would do the job for now?

[2022-11-22 07:20] joomdonation commented on #39271
In my extensions, I just use a simple if else command like below:

[code]
Then replace bootstrap. in original code with `$tabApiPrefix` variable, works well for me.

[2022-11-22 08:02] laoneo commented on #39271
I opened the issue because in Joomla 3 it works. So I was wondering why it doesn't in 4. Even the tab state script is there https://github.com/joomla/joomla-cms/blob/4.2-dev/build/media_source/legacy/js/tabs-state.es5.js, but it doesn't work when I load it the same way as https://github.com/joomla/joomla-cms/blob/3.10-dev/libraries/cms/html/behavior.php#L895. So for me it looks like a compatibilit

[2022-11-22 08:14] nikosdion commented on #39239
Based on that description, you have an old YubiKey (original or YubiKey 2) which can only do Yubico OTP (the long code that looks like this: `ccccccabcjfrfjricuhbffrbteedlgrthfbcglkgflft`).

I cannot reproduce your issue with either the YubiKey or the Web Authentication methods. I do have a suspicion though.

When you see the first Multi-factor Authentication login page please _copy_ its full URL

[2022-11-22 08:41] dgrammatiko commented on #39271
Since I was the one that removed that script let me explain the reasons for that action:

- The script was jQuery and nobody wanted to vanillify that code
- The code was extremely inefficient. It was using XPATH for traversing the DOM and the whole logic was happening AFTER the normal BS logic
- The code was also loading a polyfill (total size, jQ+BS+tabastate ~300kb, the new tabs/accordion with t

[2022-11-22 09:31] laoneo commented on #39271
I tried

[code]

and it doesn't work. That's why I opened the issue. Not to revert the changes and load the bloat, but because it is not working the expected way with the legacy code.

[2022-11-22 09:35] dgrammatiko commented on #39271
Ok, so when the project decided to use BS v5 should have updated that script as well. It should be a simple search/replace IIRC:
Search `data-toggle`
Replace: `data-bs-toggle`
Eg:  https://github.com/joomla/joomla-cms/blob/06038e5b820f09fbb9490c5ecd5c326efdcc612d/build/media_source/legacy/js/tabs-state.es5.js#L128

[2022-11-22 10:50] robbiejackson commented on #39203
@joomdonation I'm still getting an error after

- uploading a new record + image via the front-end form,
- editing the record on the back-end and pressing Save

When I click on the Image tab on the helloworld edit form it shows in the image field:

Select image
This value is not valid

(and in red) images\p2.jpg/#joomlaImage://local-images\p2.jpg/?width=400&height=267

Then when I press Select (to

[2022-11-22 11:37] dgrammatiko commented on #39203
@robbiejackson you have to either use the PR https://github.com/joomla/joomla-cms/pull/38934 or go to your browser's dev tools and CLEAR the session storage/localstorage.

These settings are not used anymore

[2022-11-22 12:04] Hackwar commented on #23219
@laoneo ?

[2022-11-22 12:08] umiha opened #39277 "XTD buttons not working in Joomla 4x on Custom field type Editor"
### Description of the bug
When using Joomla Custom field type Editor with Editor-None, Codemirror, then Joomla editor-xtd buttons are not working. When I click on any of buttons (except Read More) they are not working. For example if I click Media the screen gets grey transparent overlay but modal window doesn't show up.
Additional information - on main tab Content those xtd buttons works. They o

[2022-11-22 12:10] brianteeman commented on #39277
Please check your browser console for any javascript errors

[2022-11-22 12:24] umiha commented on #39277
Hi, I checked, but there is no javascript errors in the browser console.
Also on Network tab of browser developer tools I don't see any request with 404 status.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39277">issues.joomla.org/tracker/joomla-cms/39277</a>.</sub>

[2022-11-22 12:31] brianteeman commented on #39277
Confirmed

[2022-11-22 12:56] korenevskiy commented on #39093
https://github.com/joomla-framework/oauth2/issues/16

[2022-11-22 15:08] brianteeman commented on #39078
closing as there is a pr

[2022-11-22 15:08] #39078 closed, assigned to nobody

[2022-11-22 15:08] brianteeman commented on #39126
Closing as there is a pr

[2022-11-22 15:08] #39126 closed, assigned to crystalenka

[2022-11-22 15:11] brianteeman commented on #38230
@obuisard 4.3 ?

[2022-11-22 15:13] brianteeman commented on #38239
Is there a reason this is still open?

[2022-11-22 15:46] obuisard commented on #38230
I would prefer to be cautious and avoid issues with the build scripts BUT if we wait for Joomla 5.0, that means we won't have the update for another year... So, I do agree with updating to Codemirror v6, as long as with have the manpower for it.

[2022-11-22 15:50] nikosdion commented on #38239
@brianteeman I think it would make sense that @nibra or @HLeithner write a comment that the decision was made not to remove this in Joomla 5 and close this issue. Otherwise an _external_ observer would be wondering who made which decision when and why this is closed without appearing to be resolved 😄

[2022-11-22 15:55] HLeithner commented on #38239
I think that's clear with my first comment... so no `\Joomla\CMS\Factory` gets not removed in Joomla! 5.0, `JFactory` class alias will be moved to the combat plugin and maybe removed in Joomla! 6.0 doesn't mean that the Factory will be removed in 6.0 maybe some less used proxy functions but that's nothing for now.

[2022-11-22 15:55] #38239 closed, assigned to nobody

[2022-11-22 16:33] mbennett417 commented on #39239
Nicholas:

Yes, that type of string is exactly what I see, so I think it's time for a major YubiKey upgrade here, or switch to Google
Authenticator.

First pass:
https://www.fairgrovechamber.org/administrator/index.php?option=com_users&view=captive
Second pass:
https://fairgrovechamber.org/administrator/index.php?option=com_users&view=captive

I also very recently had another issue with this site

[2022-11-22 16:52] nikosdion commented on #39239
Sounds like you're also using Admin Tools Pro and its .htaccess Maker :) I won't give you the run-around to come to my site, I can just tell you what to do and explain to people not using it why you have to do these changes. OK, let's go!

Check your `configuration.php` file. There's a line with `$live_site`. It should read:

`public $live_site = '';`

If there is anything between those two singe

[2022-11-22 17:31] Mike92115 commented on #39274
Sorry I forgot to include that this also happens with the default Cassiopeia template.  I have also updated my menu item from the links above so they use the Cassiopeia template so there is no question about that now.

Thank you,
Mike

[2022-11-22 18:24] robbiejackson commented on #39203
ok, I cleared the storage using the devtools and started testing again from scratch.

All looks good, I couldn't generate anything unexpected.

Thanks guys!

[2022-11-22 20:40] dgrammatiko commented on #39277
There should be an older issue for this one but anyways I will try to explain what is happening, what is actually wrong in the Joomla codebase and the 3 possible ways to fix this. The default editor is rendered in the first tab of the article edit form. In that tab also ALL the modals are rendered (echoed from PHP if you prefer). The tab `Fields` that has the second instance of the editor has ONLY

[2022-11-22 23:12] jv5 commented on #35649
@joomdonation - Thank you! I would appreciate that. How do I send the access info to you?

[2022-11-23 00:42] joomdonation commented on #35649
@jv5 See https://github.com/joomla/joomla-cms/pull/39254#issuecomment-1323232859 for the requested information.

[2022-11-23 00:59] joomdonation commented on #39203
@robbiejackson Could you please go to https://issues.joomla.org/tracker/joomla-cms/39248 , report your test result so that the PR could be merged ?

[2022-11-23 05:07] joomdonation commented on #39274
Could not re-procedure the issue with fresh installation of Joomla 4.2 . For the article has **Author** parameter set to **Hide**, author is not being displayed on both category page and article page as expected.

[2022-11-23 05:25] Mike92115 commented on #39274
@joomdonation For the category blog menu item you had the Author set to use Article Settings in the options?  With that set is when it does not respect the individual article option in each article.

[2022-11-23 05:58] joomdonation commented on #39274
@Mike92115 Yes. See this attached screenshot
![menu_item](https://user-images.githubusercontent.com/977664/203481039-98e45799-4dd1-4f95-9279-96651ab98fd1.png)

[2022-11-23 10:17] #39271 closed, assigned to nobody

[2022-11-23 14:06] Ars92 opened #39285 "[4.x] Unable to update Joomla core via CLI when open_basedir includes JPATH_ROOT"
### Steps to reproduce the issue
1. Set PHP `open_basedir` restriction to `JPATH_ROOT` e.g. `/var/www/html`.
2. Execute the CLI to update Joomla core: `php cli/joomla.php core:update`
3. The command will fail on step "Extracting update package".

### Expected result
A core update should be performed correctly.

### Actual result
[code]

### System information (as much as possible)
I tested with a

[2022-11-23 14:48] OctavianC commented on #39277
I think I found a 4th one, please see #39287 :)

[2022-11-23 15:47] ZhukDmitry opened #39288 "Unexpected behavior read only field in form"
### Steps to reproduce the issue
Hi
I don't know bug it or feature request

Open any detail item for edit, ie from list to detail view form. In form definition one item is set readonly

Update your database record, set your item to some value

Save your form

### Expected result
Your readonly item should not be updated

### Actual result
Your readonly item is updated to your value in form

### Sys

[2022-11-23 16:12] rogernclarke opened #39289 "Allow different table key in JsonApiView"
Joomla allows to use different primary key names for tables. This has not been honoured in the JsonApiView::displayItem() function.

### Steps to reproduce the issue
Create a new API accessing data from a component which has a table with a primary key which is not called 'id'.
The view class for the API extends Joomla\CMS\MVC\View\JsonApiView.
Execute the API GET for a specific item id which exist

[2022-11-23 17:14] Chaosxmk commented on #39270
A max character limit wouldn't work thanks to utilities like bit.ly.

[2022-11-23 17:34] saraheagle opened #39291 "Featured menu item always shows introtext wheter set in options or not"
### Steps to reproduce the issue
Create a Menu Item Type >> Featured Articles.
In options Intro text >> set to hide

### Expected result
Intro text does not show on page

### Actual result
Intro text does show

### System information (as much as possible)
J ‎4.2.5

### Additional comments
components/com_content/tmpl/featured/default_item.php
line 86
<?php echo $this->item->introtext; ?>

should be

[2022-11-23 17:57] uzielweb opened #39293 "Joomla 3 - Tag Component in tag single item has not given the tag metadescription"
### Steps to reproduce the issue

Create a TAG and create the metadescrition for it. After this go to the site frontend and browse the tag.
When showing the created tag in frontend, check the description meta in source code from browser.

### Expected result

In the source code needs to appear the created metadescription for the current tag

### Actual result

Nothing is showed or is showed the de

[2022-11-23 18:50] Mike92115 commented on #39274
@joomdonation Thank you for that, unfortunately that is not what I am seeing.  I was able to re-create the issue on another site that I just created last week and had nothing done to it other then setup with only has the default Cassiopeia template.  As you can see here: https://atruthinpolitics.com/mike-testing Test 2 does not show Author on the Blog page, but when you look at the article detail

[2022-11-23 19:48] richard67 commented on #39285
Closing as having a pull request.

[2022-11-23 19:48] #39285 closed, assigned to nobody

[2022-11-23 19:50] richard67 commented on #33542
Closing as having a pull request. See #39295 .

[2022-11-23 19:50] #33542 closed, assigned to nobody

[2022-11-23 21:06] umiha commented on #39277
Hi, just to mention, there can be variable number of editors on a single page on article, when using custom fields.
You can have some fixed number of custom fields type Editor,
and also variable number of editors when using editors within Subform field with repeatable option.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a hre

[2022-11-23 21:24] coolcat-creations commented on #39270
That's right but an URL filter would make sense and additional length limit to prohibit long text in those fields

[2022-11-23 21:48] brianteeman commented on #39270
username is already limited to 30 characters

[2022-11-23 22:04] Quy commented on #39270
See closed PR #20142 for discussion.

[2022-11-23 22:46] richard67 commented on #39277
Closing as having a pull request. Please test #39295 . Thanks in advance.

[2022-11-23 22:46] #39277 closed, assigned to nobody

[2022-11-23 22:50] ReLater commented on #39293
Can't confirm. Tested like this.
- Article with TagA. Tag has metadesc "sdsd wwrwq retterte".
- Open article in frontend.
- Click on "TagA".
- I see in source code the description.

![grafik](https://user-images.githubusercontent.com/20780646/203659082-0274036b-716c-4fa7-84dd-f2203771e12b.png)

[2022-11-24 02:04] joomdonation commented on #39274
Ah, Yes, I can re-procedure the issue with your setup. My setup is a bit different (I set Author in article parameter set to Hide, not Use Global like in your case)

By looking at the code https://github.com/joomla/joomla-cms/blob/4.2-dev/components/com_content/src/Model/ArticlesModel.php#L663-L697 , seems we only handle that **Use Article Settings** option for certain views and layouts only, so I

[2022-11-24 03:01] joomdonation commented on #39288
readonly is only used in the UI to prevent users to change the value of that field on the form. The data for that field will still being submitted to server, so it changes the data of that field in database table

For your need, you also need to add `filter="unset"` to your field definition and it will work as expected. Closing as this is not a valid issue.

[2022-11-24 03:01] #39288 closed, assigned to nobody

[2022-11-24 07:39] coolcat-creations commented on #39270
It's a serious security issue for me :-( please bring the PR back @laoneo @GeraintEdwards

[2022-11-24 07:47] coolcat-creations commented on #39270
But name isn't- I have lots of russian spam there

[2022-11-24 08:01] brianteeman commented on #39270
yes it is

https://github.com/joomla/joomla-cms/blob/b53b47c4b3e609dd90d44f96e84cc1b32cab6e04/components/com_users/forms/registration.xml#L11-L17

[2022-11-24 08:10] brianteeman commented on #39270
As stated by @laoneo in the other PR there are extensions available. I just quickly tested one that was the first match on the JED and it worked fine https://github.com/Spudley/plg_user_restrictusername

[2022-11-24 08:24] coolcat-creations commented on #39270
Security should be a core setting :-(

[2022-11-24 08:24] brianteeman commented on #39270
This isnt security.

[2022-11-24 09:40] richard67 opened #39298 "PHP 8.1 notice "PHP Deprecated: strpos(): Passing null to parameter #1" when saving an article"
### Steps to reproduce the issue

On PHP 8.1 with error reporting set to maximum in Global Configuration and PHP configured to log errors into a log file, edit an article in backend which has no Read More button and so has no intro text. Save the article.

### Expected result

No PHP notice or warning or error logged.

### Actual result

PHP notice `PHP Deprecated:  strpos(): Passing null to param

[2022-11-24 10:17] richard67 commented on #39298
For possible solutions see https://github.com/joomla/joomla-cms/pull/38977#discussion_r1031300185 .

Am busy at the moment so it may take time until I can provide a fix.

[2022-11-24 11:14] richard67 commented on #39298
Closing as having a pull request. See #39299 .

[2022-11-24 11:14] #39298 closed, assigned to nobody

[2022-11-24 11:51] richard67 commented on #39289
It seems we need in file https://github.com/joomla/joomla-cms/blob/4.2-dev/libraries/src/MVC/View/JsonApiView.php a similar fix as it has been made in file https://github.com/joomla/joomla-cms/blob/4.2-dev/libraries/src/MVC/View/FormView.php with PR #39067 .

[2022-11-24 12:56] brianteeman opened #39300 "No layout edit if need reset password account via module"
### Discussed in https://github.com/joomla/joomla-cms/discussions/39282

<div type='discussions-op-text'>

<sup>Originally posted by **Mika17420** November 22, 2022</sup>
if a user connects via the module and if joomla params for reset password on first login. There is no redirect to the layout=edit page. You have to click on any link to see the page appear</div>

[2022-11-24 13:39] richard67 commented on #39247
So or so, allowing comma or semicolon separated receiver lists and maybe also cc and bcc would also require changes on the email cloaking plugin, as far as I can see. There is not really a standard for that, so it depends on the email client. Some use commas and some semicolon, and some accept both. So it could be a valid use case for a corporate intranet site where you can rely on people using al

[2022-11-24 14:04] roumilb opened #39302 "TineMCE fatal error when loaded with extra parameters in the configuration object"
### Steps to reproduce the issue
1. Create an extension and load an editor in it (for exemple AcyMailing) with custom config
2. Select TinyMCE as the default editor in Joomla configuration
3. Go to the TinyMCE plugin settings and save the form (you don't have to change anything)
4. Load the editor in the plugin (in AcyMailing create a new template with the website editor, save it and then refresh

[2022-11-24 14:41] Hackwar opened #39303 "[RFC] Clean-up of Form rendering process"
### Problem identified
Joomla has different ways to render a form or single form elements. There is the `Joomla\CMS\Form\` library, which can read an XML and in conjunction with the `FormField` classes render different form elements. Then there is the `Joomla\CMS\HTML\HTMLHelper` class and the classes it is loading. This class essentially allows to render arbitrary HTML and is used among other thi

[2022-11-24 15:13] umiha commented on #39277
I have tested this, #39287 and #39295, and both works for me. Great job!<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39277">issues.joomla.org/tracker/joomla-cms/39277</a>.</sub>

[2022-11-24 15:24] Rolli1962 commented on #39268
Would be only a hint I think ...
Found out, if I deactivate the access check in PreviewModel, than a Author is able to watch an older article via versions.
Don't understand, why the access-check is not working for a preview - the access-check for CompareModel is looking quite similar - but there are no access-errors for an author.
Changed (deactivated) lines in
administrator/components/com_content

[2022-11-24 15:50] brianteeman commented on #39303
Should this not be on the rfc portal? @hleithner @nibra<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39303">issues.joomla.org/tracker/joomla-cms/39303</a>.</sub>

[2022-11-24 16:02] StefanSTS opened #39306 "[4.2.5] Inheritance of template and template child overrides"
### Steps to reproduce the issue
How I got to the issue:
1. Make a child template.
2. Create an override for collapse-metismenu.php in html/mod_menu/.
3. Switch to child template.

### Expected result
The override for mod_menu should work like given in the child template.

### Actual result
The override of the child template is not working.
You have to explicitely choose the child template overrid

[2022-11-24 16:33] dgrammatiko commented on #39306
How exactly did you did that part? Just by enabling the child as the default template? If so check that ALL the menus are also using the child template as the default. Enabling just a child as default template WILL NOT (by design) assign ALL menus to that template!

[2022-11-24 16:45] StefanSTS commented on #39306
I just enabled the child template and was expecting that all the overrides in the child template would work.
It's a child template with basically just the mod_menu override.

[2022-11-24 16:50] dgrammatiko commented on #39306
I think you're not getting what I'm trying to explain: the enable child as default template is not the same as assigning all the menus to the child template. Give it a try...

[2022-11-24 16:51] ceford opened #39307 "[4] Media broken with folder named 0 (zero)"
### Steps to reproduce the issue

From the file system, create a folder with the name 0. This might be an item inherited from J3.
Select Media from the Administrator menu.

### Expected result

Normal media display.

### Actual result

Error message and no media display.
Property 'name' of argument 'item' of event onFetchMediaItems has a wrong item. Valid: non empty string

### System information

[2022-11-24 16:56] dgrammatiko commented on #39307
please test https://github.com/joomla/joomla-cms/pull/38934

[2022-11-24 17:14] StefanSTS commented on #39306
I don't want to assign menus to the child template. The menus should be assigned to the parent template. I just want to add a different layout to a module. The parent should do the work, the child should change the layout.

[2022-11-24 17:15] brianteeman commented on #39307
This is a duplicate report see #37242

[2022-11-24 17:36] #39307 closed, assigned to nobody

[2022-11-24 17:36] richard67 commented on #39307
Closing as duplicate report.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39307">issues.joomla.org/tracker/joomla-cms/39307</a>.</sub>

[2022-11-24 17:38] richard67 commented on #39306
@StefanSTS This is not how it works. Your expectation is wrong.

[2022-11-24 18:28] StefanSTS commented on #39306
Maybe the system is too limited.
I would expect everything not set on the child to be inherited from the parent.
Saying my expectation is wrong expresses not too much motivation to think further.
A simple automation of the inheritance could make the system so much simpler to use. Like in other Joomla template systems that use this for the last ten years.

[2022-11-24 18:47] brianteeman commented on #39306
Can you clairfy please. Are you saying that you have set the default site template style to be the child template and the module override is not working?

[2022-11-24 19:32] richard67 commented on #39306
Well, if that is the case, then it is indeed a bug, and I misunderstood. If not and the expected behavior makes sense, it would be a feature request. Anyway it could be that our documentation is not really complete.

[2022-11-24 20:01] StefanSTS commented on #39306
I have set the default site template style to be the child template and the module override for com_menu collapse-metismenu.php is not working.
Only if I set the module layout explicitely to the child template it works.
It might have to do with the fact that Cassiopeia introduces collapse-metismenu.php  which is not present in core mod_menu.

[2022-11-24 20:30] brianteeman commented on #39306
ah got it - I understand what is happening now and why it is the expected behaviour

You have a module and it is set to use the cassiopeia module override/

You now create a child template and create a new override of the module

You set the child template as default

You expected the module that had been explicitly set to use a specific layout to magically change without you doing anything and to

[2022-11-24 21:01] StefanSTS commented on #39306
Yes, I thought it would magically use
child template's collapse-metismenu.php
over
parent template's collapse-metismenu.php.

In the same way as it magically changes when I make an override in Cassiopeia for mod_login/default.php.
If I enable Cassiopeia it shows me "Hello Parent".
If I enable Cassiopeia Child it shows me "Hello Child".
Got the child activated here: https://php80.sts-hosting.de/j4v

[2022-11-24 21:21] StefanSTS commented on #39306
Tested another theory:
Added collapse-metismenu.php to the core module.
Used navbar-expand-sm.
Cassiopeia has navbar-expand-md.
Cassiopeia Child has navbar navbar-expand-lg.

Frontend shows -lg -> Showing the child template.

Setting in the module is set "explicitly" to From Module - collapse-metismenu.

This supports my theory that it only works when there is the same layout in the core module, b

[2022-11-24 22:27] dgrammatiko commented on #39306
@StefanSTS check if https://github.com/joomla/joomla-cms/pull/39308 is what you are after.

@brianteeman @richard67 probably this change makes sense if the parent is the same as the defined specific override, maybe not. Anyways if this is something you're interested the same logic needs to be applied in 2 more files

[2022-11-24 23:09] dgrammatiko commented on #39303
That's NOT true, ie calendar in the HTMLHelper is using `joomla.form.field.calendar` https://github.com/joomla/joomla-cms/blob/f2943fce0c3eeed3e971245b9816b981aaabfe96/libraries/src/HTML/HTMLHelper.php#L1114
which is the exact same Layout on the CalendarField  https://github.com/joomla/joomla-cms/blob/f2943fce0c3eeed3e971245b9816b981aaabfe96/libraries/src/Form/Field/CalendarField.php#L94

But I ag

[2022-11-25 07:34] laoneo commented on #23219
But then I would rather create a new function which does it right and deprecate the faulty one.

[2022-11-25 07:49] Hackwar commented on #39303
Yes, some of them use the same layout, some of them don't.

`Layout::render()` is NOT the same as `HTMLHelper` right now and even if it were, it doesn't solve the issue of code-hinting which I consider to be a major one. Without code-hinting, we also have no chance of automatically testing all configuration options of a field and will have broken fields for all eternity.

The idea is NOT to introd

[2022-11-25 07:52] alikon commented on #39289
see #39309

[2022-11-25 07:56] zero-24 commented on #23219
I do agree with @laoneo

[2022-11-25 09:28] richard67 commented on #39306
Well, I don’t want to make decisions. If it works and people like it and it gets tested, then ok for me.

[2022-11-25 09:31] richard67 commented on #39306
@dgrammatiko You mentioned two more places to be changed. So does it need to keep this issue open, and your PR solves only one part of it? Or is your PR ready and complete and we can close this issue lok. we usually do when having a PR?

[2022-11-25 09:33] richard67 commented on #39289
Closing as having a pull request. Please test #39309 . Thanks in advance.

[2022-11-25 09:35] SharkyKZ commented on #39302
Heh. In which release did it start happening though?

[2022-11-25 09:37] SharkyKZ commented on #38782
Will this B/C break be mitigated?

[2022-11-25 09:44] crystalenka opened #39311 "Scheduled Task Notifications sent to all users with "receive system emails" on"
### Steps to reproduce the issue
1. Create several users from various user groups. Make sure "receive system emails" is on and that the user groups do not have access to the scheduled tasks component.
2. Create a scheduled task.
3. Set all task notifications to on.
4. Trigger the task.

### Expected result
Only users with permissions to access the scheduled task component receive the notification

[2022-11-25 10:14] brianteeman commented on #39311
The same fundamental issues with task notifications are present with workflow notifications

#37746, #37745, #37743, #37422

[2022-11-25 10:29] dgrammatiko commented on #39306
The layout part is similar for modules/plugins and components, so naturally if one is changed the other 2 need to be adjusted for consistency. The files/methods are:
https://github.com/joomla/joomla-cms/blob/2a02425af5341bacc4658562543051c40f24fefe/libraries/src/Plugin/PluginHelper.php#L48
https://github.com/joomla/joomla-cms/blob/2a02425af5341bacc4658562543051c40f24fefe/libraries/src/MVC/View/Htm

[2022-11-25 10:31] richard67 commented on #39306
I‘ll ask the team for a decision.

[2022-11-25 10:38] richard67 commented on #39306
… Or at least for more opinions.

[2022-11-25 12:31] wojtekxtx commented on #39311
@brianteeman that means its not `one-off` case. So it needs to be worken on ASAP

[2022-11-25 12:37] brianteeman commented on #39311
are you offering to help or are you going to keep commenting from the sidelines and telling everyone else what to do

[2022-11-25 12:40] wojtekxtx commented on #39306
@richard67 Im not on the team, but you wanted opinion, so here you go:

IF template set (in ACP) as default template site-wide doesnt respect its `child-overwrites` than clearly its a bug that needs triaging > fixing. Thats it.

[2022-11-25 12:43] wojtekxtx commented on #39311
@brianteeman are you asking or are you stating the fact?

[2022-11-25 13:41] roumilb commented on #39302
I don't have a specific version but it's one of the latest Joomla 4 version

[2022-11-25 13:53] HLeithner commented on #39303
Can't we move everything which looks like a form field to JForm only?

[2022-11-25 15:30] Quy commented on #38687
Closing due to no response.

[2022-11-25 15:30] #38687 closed, assigned to nobody

[2022-11-25 16:38] Hackwar commented on #39303
Do you really want to have all the overhead of an XML file and by default the jform[] namespace for all values? I don't think forcing everything to have such an overhead is a good solution...

[2022-11-25 16:41] ReLater commented on #39311
1) This is not a forum, but an issue tracker.
2) It does not help anyone.
3) Volunteers work when they want to, can and have time.

@wojtekxtx , get started!

[2022-11-25 17:00] HLeithner commented on #39303
Doesn't mean that jform can't be optimised.
It's possible to use jformfields with another driver/adapter which doesn't use it xmls. It's just an idea. Having one framework that works good is better then having 3 which are may work better for some tasks but difficult to use and to maintain.

What's an example element to get rid of? HTML.select right?

Don't you think it would be cool to jform::crea

[2022-11-25 17:04] dgrammatiko commented on #39303
FWIW JLayout supports composition, so a select could have the sub layout options or groups and options or...

[2022-11-25 17:41] wojtekxtx commented on #39311
@ReLater Contributing code? No. Just plain no.

[2022-11-25 17:53] alikon commented on #39311
as I believe that I'm one of the few that use scheduled tasks, heavily on the wild,
I always Set:
all task notifications to off...
cause , there are far more better tools to be notified

so can you clarify a little bit better your use case ?

cause to me this is not a bug
is a nice to have

[2022-11-25 17:54] wojtekxtx commented on #39270
@brianteeman than what it is if not securiy? OFC it IS security.

[2022-11-25 18:01] crystalenka commented on #39311
I use scheduled tasks for a few things on my client sites. Since I manage quite a few of them, and some of these scheduled tasks are site-specific, I like it when it lets me know when there is a failure.

However, as they are client sites, they also have user accounts. Most do not have or need system notifications on. Some have apparently accidentally turned it on and now get emails from failed sc

[2022-11-25 18:02] crystalenka commented on #39311
Also it's less about how you personally use it and more about "Joomla offers this feature therefore it should work well in core".

[2022-11-25 21:07] chmst commented on #39311
Did you check the users permissions in the permissions view? Like that?

![grafik](https://user-images.githubusercontent.com/1035262/204055115-0e1b340b-d3c0-437d-9f3a-0834be3fcb9d.png)

Maybe the user don't see the component in the menu, but have full manager permission. Then the condition
![grafik](https://user-images.githubusercontent.com/1035262/204055380-4ccb2ac1-4c1b-4679-96eb-4111faada921.pn

[2022-11-25 21:15] BrainforgeUK opened #39314 "Displaying subcategories in category listing admin page"
### Steps to reproduce the issue

Create a heirarchy of article categories
cat1
cat1/cat1.1
cat1/cat1.2
cat1/cat1.3
cat1/cat1.4/cat1.4.1

In the article category listing search for cat1 using the id:8 search criteria as in attached screenshot.

![screen shot 2022-11-25 at 20 54 23](https://issues.joomla.org/uploads/1/609bb6d47348e66df7f130a07df57ef0.png)

### Expected result

Expect to see cat1.1,

[2022-11-25 21:18] crystalenka commented on #39311
So here's an interesting discrepancy.

Component settings are all denied, but task settings apparently don't inherit from the component settings?

<img width="597" alt="Screenshot 2022-11-25 at 23 15 39" src="https://user-images.githubusercontent.com/9141288/204056104-c9fe03bf-a15f-4e96-8051-db91e8160ceb.png">
<img width="1226" alt="Screenshot 2022-11-25 at 23 17 09" src="https://user-images.githu

[2022-11-25 21:30] ot2sen commented on #39314
Why would you expect non-related subcategories to be shown on an extremely specific ID search. It does what you ask for, doesn´t it?

[2022-11-25 21:40] BrainforgeUK commented on #39314
True it does what asked for ... BUT there are **related** subcategories which are not apparent to the user, that is the issue I am raising. The ID:x,y,z search criteria feature would be the first step to resolving that, the others provide a more complete (and preferred) solution.

[2022-11-25 21:41] Rolli1962 commented on #39272
In my opinion the workflow is a very good feature. It has only to be understood. Maybe it would be a little bit easier if in the example after installation more than one stage would be given.
Have created a workflow what think [stimpsonjcat](https://github.com/stimpsonjcat) is thinking of - with that different stages. In the back-end the view is correct. Means I think there are no coding issues:
!

[2022-11-25 21:42] chmst commented on #39311
I am not sure, but there could be a reason for these notifications.

[2022-11-25 22:06] bascherz opened #39316 "Line missing from /plugins/fields/itemlist/itemlist.php"
### Steps to reproduce the issue
Try to modify or create and save a content (category or article) custom field.

### Expected result
The field is correctly modified or created.

### Actual result
**An error has occurred.
Class 'FieldsHelper' not found.**

### System information (as much as possible)
Joomla! 4.2.5

### Additional comments
There is a line missing from near the top of itemlist.php:

[2022-11-25 22:28] brianteeman commented on #39316
There is no plugin at `/plugins/fields/itemlist/itemlist.php` in the core of Joomla. It must be an extension you have installed.

[2022-11-25 23:24] bascherz commented on #39316
That's interesting since it is just a Joomla content custom field that is causing the issue. I will make an attempt to see what other extension might own this, but I am already surprised.

[2022-11-25 23:30] richard67 commented on #39316
@bascherz Check the sources here and you will see it is not in: https://github.com/joomla/joomla-cms/tree/4.2-dev/plugins/fields

[2022-11-25 23:40] bascherz commented on #39316
I have already looked at the 4.2.5 distribution and confirmed it is not part of that. The extension manager reports that the author is "Joomla! Project" and it is version 3.9.0 of the **Fields-Itemlist Site Plugin**. Is this residue from before I migrated this site to Joomla! 4? I disabled the plugin and it doesn't appear to have made any difference (editing the field still works).

[2022-11-25 23:48] richard67 commented on #39316
When you use my link and then switch the branch from 4.2-dev to 3.10-dev, you will see it is also not part of Joomla 3.10. Sometimes extension devs just copy the copyright comments from the core.

[2022-11-25 23:57] bascherz commented on #39316
Well, wherever it came from, it doesn't appear to be needed. It also was singled-out with a core-extensions filter in extension manager. Gone. Thanks guys!

[2022-11-26 08:36] richard67 commented on #39316
Closing as not a core issue.

[2022-11-26 08:36] #39316 closed, assigned to nobody

[2022-11-26 09:54] chmst commented on #39272
In the list view the stage is visible.

It depends on your own user group what you can see. As a super user you see all articles in all stages. As user you see only the articles where you have access. So it is possible that a user sees always the same stage can perform only one action for exactly one transition.

Stage and state of articles are visible in the "published" area in backen and fronten

[2022-11-26 10:09] crystalenka commented on #39274
@joomdonation I would personally consider this a bug for a couple of reasons:

1. We know that the menu item will override global settings, but in this case the menu item is telling the layout to default to the article settings.
2. The options in the menu item is what controls the article settings both in the blog view and in the article view; with the other settings, there is no distinction. (Sam

[2022-11-26 10:43] richard67 commented on #8244
Reopen because PR #38783 has been closed.

[2022-11-26 12:41] richard67 commented on #39247
I have a solution ready for for punicode encoding which works with email lists and also cc and bcc. But that does not help much because when you show an article with such mailto links in frontend you will see that the links are still broken because the email cloaking plugin needs to be fixed (or extended), too, and that's the bigger task. Not sure yet if I can do that, but will try.

[2022-11-26 13:15] chmst commented on #39272
@stimpsonjcat
The workflow concept is somehow difficult to understand and the best is learning by doing.
Could we explain how workflow works? Do you still think that this is an issue?

[2022-11-26 13:19] Rolli1962 commented on #39272
My understanding of the question of this thread is make the status (stage) of articles visible in an overview. If the workflow-stages are configured / used in a right way, the stages are visible in the back-end. But even in the current J4.2.5 version this is not in the frontend (see example, same entries like listed before in the back-end). Or can I learn and have to do some settings ?
![wf-testvi

[2022-11-26 13:20] brianteeman commented on #39272
I nfound that the only way to be able to understand it is to not use the supplied workflow and to create your own from scratch. Only then do the confusing terms make sense. It took me many hours to even begin to understand it

[2022-11-26 13:23] chmst commented on #39272
same here :) As I said, learning by doing - and still have problems with "stage" and "state".

[2022-11-26 13:26] Rolli1962 commented on #39272
To be honest I had also to learn how it works. There are quite good explanations in the internet. But think like me first step is simple to try the given example in the installation. There is only one stage with different transitions. It takes a while until the understanding the whole thing makes only sense with more stages than one. Maybe as short-term solution it makes sense to set a link to the

[2022-11-26 15:58] stimpsonjcat commented on #39272
Ah, I'm getting it. I've been confusing stages with transitions. So the article (list) view shows the stage, not the transition. Though you can set a transition from the list view directly. The dropdown menu will show the the current stage as a title and the transitions (depending on your rights) below that.

[2022-11-26 18:08] Rolli1962 commented on #39272
Seems I am to stupid to create an account on docs.joomla.org - Maybe another one has an account there?
Here a proposal for a 2nd scenario for workflows. Hope it matches as least as basis for own creation.
And of course I am also to stupid to create here a readable content - as hidden article on one of my sites:
[possible workflow-scenario-2 for docs](https://dk4rh.de/index.php/hidden/workflow-scen

[2022-11-26 20:04] crystalenka commented on #39272
You are not too stupid, it's just really really hard. The captcha is impossible. I gave up, too.

[2022-11-27 10:58] stimpsonjcat commented on #39272
I think it would be easier to understand for users / admins if the default workflow that comes with Joomla 4 would have more than one stage. The one stage now has transitions that seem to be no more than one click to (un)publish and (un)feature an article. I would suggest to create an extra 'frontend' stage for authors to set an article to draft and allowing the author to set the article to someth

[2022-11-27 19:20] chmst commented on #39272
Thanks for your suggestion. I add the ne feature label so that it will be discussed for later versions.

[2022-11-28 08:25] laoneo commented on #38404
Reopening this as the pr was not accepted.

[2022-11-28 09:58] MartijnMaandag commented on #39218
Back from holliday ;-)
I think that technical things that come from databases should not all be translated. This way we must translate every text which could come from the database.
In the example above there is even a part translated which helps the user. The "Foutmelding:" shows it is coming from another source.
When I have a problem with a message, I turn from Dutch into English and try to sear

[2022-11-28 13:25] #37455 closed, assigned to nobody

[2022-11-28 14:18] joomdonation commented on #38276
I just looked at this issue. Similar to PR https://github.com/joomla/joomla-cms/pull/37376, I think we need to add a new parameter to calendar method https://github.com/joomla/joomla-cms/blob/4.2-dev/libraries/src/HTML/HTMLHelper.php#L1033 to allow passing an datetime format.  Something like:

[code]
Then in the code of that method, we will use `$dateTimeFormat` variable (if provided) to convert t

[2022-11-28 15:47] brianteeman commented on #39291
The code is working as intended.  When it says "show intro text" it refers to the full article.

For example you have a movie review website. the intro text is a precis of the review that you only want to display on the featured or blog pages but not on the individual article page that you access after clicking on read more

[2022-11-28 15:54] brianteeman commented on #39293
Joomla! 3 is in security only mode and there will be no further bug fix releases

[2022-11-28 15:56] brianteeman commented on #39272
Please look at the changes proposed in #39325 as I believe it removes some of the ui confusions

[2022-11-28 15:57] brianteeman commented on #39239
From my reading of this it can be closed now @mbennett417 ?

[2022-11-28 18:03] mbennett417 commented on #39239
I deliberately didn't pursue this the day before leaving the office for a holiday, since it was a non-emergency.  Responses are
inserted below.

Yes, you may close this ticket.

==
Mark Bennett
Clarity Software Systems
(417) 864-4404

On 11/22/2022 10:52 AM, Nicholas K. Dionysopoulos wrote:

Yes I'm using that program.

The string "http://fairgrovechamber.org/" was in there, and when I deleted it,

[2022-11-28 19:41] richard67 commented on #38828
Closing as having a pull request, see #39326 .

[2022-11-28 23:18] brianteeman commented on #39201
I don't understand. When I edit an existing article and click on the x then the category is reset to the default "uncategorised" category - exactly the same as when I do the same on a new article.

What were you expecting to happen that isnt

[2022-11-29 07:21] joomdonation commented on #39293
As stated above, Joomla! 3 is in security mode and there will be no further bug fix releases (although as tested by @ReLater, this issue seems to be invalid). I also tested it in Joomla 4 and could not confirm this issue, so I'm closing this issue.

[2022-11-29 07:21] #39293 closed, assigned to nobody

[2022-11-29 07:25] joomdonation commented on #39235
Closing because this is a none core issue. Feel free to re-open if you have something want to discuss further.

[2022-11-29 07:25] #39235 closed, assigned to nobody

[2022-11-29 07:32] joomdonation commented on #38824
Agree that this should be implemented by extension developer. So I'm closing this issue.

[2022-11-29 07:32] #38824 closed, assigned to nobody

[2022-11-29 07:37] joomdonation commented on #39239
Base on the response above, I assume the issue as resolved and closing this issue.

[2022-11-29 07:37] #39239 closed, assigned to nikosdion

[2022-11-29 09:37] PMWilliams123 opened #39328 "Reset to Default HTML Body - Doesn't Work"
### Steps to reproduce the issue
In the System Dashboard --> Templates / Mail templates
Select "User Actions Log: Notification Mail" to edit
Click on the "Reset to Default HTML Body" button

### Expected result

A reset HTML Body that works with correctly places {MESSAGES} tags:

_Latest User Actions
This is the latest action performed by a user on your website.
ActionDateExtensionName**{MESSAGES}

[2022-11-29 10:06] HenryMcLendon commented on #39314
The writers typically try to get help with statistics writing from [Book Writing Services](https://www.ghostwritingproficiency.com/ "Book Writing Services") and put themselves in the opposing side's shoes to write arguments of the group that opposes the viewpoints they have taken. By doing this, they can gain a deeper understanding of why the opposing people argue as they do.

[2022-11-29 11:21] saraheagle commented on #39291
Oh of course it is! Thanks for your reply.

[2022-11-29 11:21] #39291 closed, assigned to nobody

[2022-11-29 13:15] Kostelano commented on #39328
Works for me. No problem

[2022-11-29 13:36] PMWilliams123 commented on #39328
Well it doesn't for me. On at least two of my Joomla installations:

A email format that works:
Existing.jpg

And after Clicking:
After Clicking Reset To Default HTMl Body.png
![screen shot 2022-11-29 at 13 35 10](https://issues.joomla.org/uploads/1/95ce02737153ce2d6c0f499e437712c9.png)

![screen shot 2022-11-29 at 13 35 11](https://issues.joomla.org/uploads/1/2258661b9b544b8de495f643e4c8c8c7.png)

[2022-11-29 13:45] brianteeman commented on #39328
Just so we can be certain where the issue lies can you please test this using the tinymce editor and NOT the jce editor

[2022-11-29 13:51] Scrabble96 opened #39330 "[4.2x] Featured or unfeatured dates do not save using front end editor"
### Steps to reproduce the issue
Log into front end of website
Create or edit an article
Change 'featured' from 'No' to 'Yes'
Save
Add a 'Start featured' or 'Finished featured' date, or both
Save

### Expected result
Featured dates are saved

### Actual result
Featured dates are not saved

### System information (as much as possible)
Joomla 4.2.5
PHP 8.0.25
Editor: Tinymce

First noticed during a

[2022-11-29 14:32] jv5 commented on #35649
@joomdonation Email with info sent on 11/27/22. Let me know if you did not receive.

[2022-11-29 14:42] joomdonation commented on #35649
@jv5 Sorry, missed the email. Just checked and saw your email. Replied your email because the user account you sent me is blocked, so I could not login to check

[2022-11-29 14:52] chmst commented on #38828
Re-opening as the PR did not resolve the problem

[2022-11-29 14:57] brianteeman commented on #38828
@chmst maybe this should simply be closed as not achievable and that you should use the table-column selector if needed.

[2022-11-29 15:04] jv5 commented on #35649
@joomdonation Should be good now.

[2022-11-29 15:07] chmst commented on #38828
What could be improved: Extract the first columns of the table as in user permissions. But responiveness is not achievable, this is true and a reason to close here.

[2022-11-29 15:07] #38828 closed, assigned to nobody

[2022-11-29 15:34] alikon commented on #39330
can you have a look at this pr #38975

[2022-11-29 16:00] PMWilliams123 commented on #39328
Certainly -- In global configuration I changed the editor to TinyMCE

System Dashboard --> Templates / Mail templates
Select "User Actions Log: Notification Mail" to edit
Click on the "Reset to Default HTML Body" button

![Using Tiny MCE   Prsesseing Reset](https://user-images.githubusercontent.com/82041514/204579612-5a5cdf45-9d32-4324-b310-87b7203e4f6b.png)

[2022-11-29 16:14] Fedik commented on #39303
In my opinion, that batch thing should have own JFrom instance, and do render it, instead of hardcoding the fields.

[2022-11-29 16:52] brianteeman commented on #39328
Thanks for confirming that

[2022-11-29 20:24] phproberto-bluebox commented on #39303
Hello! I'm disconnected but adding a new way of rendering things sounds wrong to me. I agree that `HTMLHelper` should be deprecated and move everything it renders to layouts. Not sure why you need something new when current layout system already supports everything you want and is known by devs.

If you want something to render a class then just create a select field that creates the logic support

[2022-11-29 21:03] Hackwar commented on #39303
Which is exactly what I described above...

[2022-11-29 22:31] brianteeman commented on #38673
I identified the cause of this on aat least one site. There was a plugin from Joomlart running called System - JA Content Type. I dont know what it was for but as soon as I disabled it then everything works as expected

[2022-11-29 22:39] brianteeman commented on #38673
As soon as I enabled display of errors it was obvious - the plugin rips the guts out of core. Spits it on the floor and replaces it with a pile of poop.

https://www.joomlart.com/documentation/joomla-templates/ja-hotel-template/content-type

[2022-11-29 22:45] tmumm commented on #38673
That was part of of the migration from K2 to articles on Joomla3 site, and must not have uninstalled with the package.   Probably the culprit on the my other sites.

[2022-11-29 22:46] brianteeman commented on #38673
You really should audit what is installed on that site. there is a LOT of garbage installed that you are not using.

[2022-11-29 22:46] fancyFranci commented on #30175
I'm closing this issue now, but feel free to provide your feature at https://github.com/joomla/rfc as soon as you have the motivation to work on that topic again :)

[2022-11-29 22:46] #30175 closed, assigned to nobody

[2022-11-29 22:47] brianteeman commented on #38673
AND PLEASE PLEASE PLEASE when you have a problem enable error reporting and debug - it will save everyone a LOT of time

[2022-11-30 00:31] tmumm commented on #38673
I did turn on error reporting on another site, and didn't see anything related to that plugin.    I've now removed it on that site but removing it didn't fix the issue.  Error reporting is showing an issue with the file administrator/components/com_content/tmpl/articles/default.php

![Content_Manager__Items_-_The_Children_s_Center_Utah_-_Administration](https://user-images.githubusercontent.com/19

[2022-11-30 05:23] rbuelund commented on #38673
Hmm.. just checked on my site. I did not have the Joomlart plugin installed, but now all of a sudden the problem is gone ?? If it was an update that did the trick - I have no idea.

[2022-11-30 08:17] joomdonation commented on #39330
Actually, the dates are saved properly. You can check the article from backend to confirm that. The issue here is that the saved dates are not being shown in the frontend edit article form because of bug in our code. PR https://github.com/joomla/joomla-cms/pull/38975 solves this issue, so I'm closing this issue.

[2022-11-30 08:17] #39330 closed, assigned to nobody

[2022-11-30 09:31] #27866 closed, assigned to nobody

[2022-11-30 10:11] mrownicki commented on #38673
I confirm this issue and fix. Like Brian wrote.

[2022-11-30 10:19] chmst commented on #38673
Thanks a lot, @brianteeman - from now on we will aks for the debugging settings, I always presumed that.

So closing this as it is not a Joomla issue.

[2022-11-30 10:19] #38673 closed, assigned to nobody

[2022-11-30 10:33] brianteeman commented on #38673
If that joomlart plugin is listed on the JED then it should be reported and removed. It basically hacks com_content by replacing it with their modified version.

[2022-11-30 10:54] uglyeoin opened #39332 "I get error messages relating to the API"
### Steps to reproduce the issue
I'm not sure how the error is created but I'm worried it could be an attempt at security.

I get this error message sent through from Admin Tools because of a PHP Fatal error.  I am not the one creating this error so I can't really give information as to when it occurs, I just get an email telling me there was a fatal error.

`
A PHP Exception occurred on your site

[2022-11-30 11:03] gerryfrancis commented on #27866
A backport would have been fair, the issue was reported almost three years ago. Anyway, not relevant to me anymore...

[2022-11-30 14:16] joomdonation commented on #27866
@gerryfrancis Sorry, there won't be a backport because the project decided that Joomla 3 will only receives security fix from now on. Once the solution is accepted, I can submit the modified file for Joomla 3 here in case someone needs it.

[2022-11-30 14:22] joomdonation commented on #35649
Just want to update that I checked the site sent by @jv5 and found that the issue somehow related to field `core_xreference` field in **#__ucm_content** table does not have default value. I don't see that field in the table from Joomla 4 installation, so guess it was used in Joomla 3. The solution could be :

- Set default value for that field
- Or maybe drop that field from the table

It is not r

[2022-11-30 14:40] morphinestyle commented on #35649
Hello @joomdonation, i have same TAG issue: i try to find same field?

[2022-11-30 14:45] joomdonation commented on #35649
@morphinestyle You can try to apply the change from PR https://github.com/joomla/joomla-cms/pull/39254/ to see if it solves the issue first. You can apply that change by getting the attached file, unzip it, upload the received file to **libraries/src/Form/Field** folder on your site to see if it solves the issue.

[TagField.zip](https://github.com/joomla/joomla-cms/files/10124223/TagField.zip)

[2022-11-30 14:48] joomdonation commented on #39237
Could you please let us know step by step what we need to do to see this error (prefer with a fresh Joomla 4.2.5 installation if it is possible)

With just something from error logs like this, it's hard for us to know where the issue comes from to find out the reason and fix it.

[2022-11-30 15:14] morphinestyle commented on #35649
@joomdonation where i can found "attached file"?
Sorry, but i don't see attached files.

[2022-11-30 15:17] joomdonation commented on #35649
@morphinestyle Sorry, it is the TagField.zip in the message. See the attached screenshot
![tagfield](https://user-images.githubusercontent.com/977664/204836442-6db6ad2d-8f8a-473f-9e6a-f1947f8fe823.png)

[2022-11-30 15:26] jv5 commented on #35649
As suggested by @joomdonation, I edited the ucm_content table and dropped the core_xreference column. This appears to have resolved the issue.

When migrating my site from Joomla 3.x to 4.x, I used a migration plugin to transfer the ucm_content table (among others). During this transfer, the plugin did not remove the core_xreference column.

Thank you @joomdonation for your help!

[2022-11-30 15:33] morphinestyle commented on #35649
Sorry, you're right, i was looking on PR 39254.
I will try and let you know as soon.

[2022-11-30 15:36] dawe78 opened #39333 "[4.2] component development: Joomla database check fails if queries use "if exists" or "if not exists""
### Steps to reproduce the issue
create sql update file, eg:
ALTER TABLE `#__my_table` ADD IF NOT EXISTS `new_column` text;
Do NOT update component for reproducing this error; just keep query in update/sql/mysql folder

### Expected result
Backend, com_installer, view "database": check returns missing column "new column" of type "text"

### Actual result
Database check returns missing column "IF"

[2022-11-30 15:41] richard67 commented on #39333
The if exists and if not exists for adding and removing columns is MariaDB only, MySQL doesn’t understand it. Because we have to support both kinds of databases we cannot use it. Furthermore, extension developers who use specific MariaDB syntax not supported by MySQL should simply be punished, and their extensions should be wiped out from JED. Another thing are if exists and if not exists for addi

[2022-11-30 15:43] wilsonge commented on #39332
`NotAcceptable` suggests that you aren't setting a valid `Accept` header in your Api request to tell Joomla what content type is required.

[2022-11-30 15:47] richard67 commented on #39333
See https://dev.mysql.com/doc/refman/8.0/en/alter-table.html for MySQL and https://mariadb.com/kb/en/alter-table/ for MariaDB.

[2022-11-30 15:54] richard67 commented on #39333
For adding and removing columns, extensions devs can use the „CAN FAIL“ installer hint which was added with #36506 for their „ALTER TABLE … ADD COLUMN“ statements in their update SQL scripts.

in my opinion this issue should be closed as expected behavior. I can’t do that right now because not at my desktop.

[2022-11-30 16:05] PMWilliams123 commented on #39328
Small Questions: Why are there only 4 Parameters one can use in editing "User Actions Log: Notification Mail - en-GB"? And why does this mail template require {MESSAGES} {/MESSGAES} tags when it appears than none of the other mail templates require those tags?

[2022-11-30 17:13] brianteeman commented on #35649
@jv5 what was this migration plugin so we can let them know it is broken

[2022-11-30 17:29] #39333 closed, assigned to nobody

[2022-11-30 17:29] richard67 commented on #39333
Closing as expected behaviour for the reason stated above.

If we will have separate database drivers for MySQL and MariaDB in version 5 (or 6?), we can implement such MariaDB-specific features.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/39333">issues.joomla.org/tracker/j

[2022-11-30 18:03] jv5 commented on #35649
@brianteeman SP Transfer

Not sure the app is "broken" - although I did have many issues using it - but regarding this particular issue, the transfer of the ucm_content table was not automated by the plugin. It was not part of the "Core Files" transfer that was somewhat automated. It was when I discovered issues with the Tags that I discovered I needed to also transfer the ucm_content table (and a

[2022-11-30 18:24] dawe78 commented on #39333
I did not know MySQL doesn't support such statements; I'm using; MariaDB since years and did not take care of differences - my fault. I will change all statements to statements that are compatible with both databases. If you want to punish me for that: feel free...

Thanks for your answer and helping me make my extensions more compatible.

[2022-11-30 18:39] richard67 commented on #39333
@dawe78 With “punish” I was joking a bit ;-) Sorry if you got it wrong.

[2022-11-30 19:06] dawe78 commented on #39333
No prob... I'm really happy about your help with "CAN FAIL"... Thanks!!!

[2022-11-30 19:09] richard67 commented on #39333
@dawe78 You can see here how we use it in the core: https://github.com/joomla/joomla-cms/pull/37156 .