[2021-03-13 09:02] richard67 commented on #31916
As far as I can see, the archive package has meanwhile been tagged with 2.0 Beta 4, which includes the change from PR https://github.com/joomla-framework/archive/pull/26 , so what remains to be done is to update the CMS with that Beta 4 (it still used Beta 2 as far as I can see). Or am I missing something?

[2021-03-13 09:04] brianteeman commented on #32661
I think it is related to the versions of software installed by composer and npm - I am checking this now

[2021-03-13 09:07] richard67 commented on #32661
@brianteeman Maybe there are some remainders of previous installs or tests which are not removed when pulling the branch from remote? In this case, an `git checkout .` and then a `git clean -d -x -f` before pulling again would clean that up. It will remove all what doesn't belong to the sources, i.e. also installed extensions, languages, old compilation results, so after that it needs again a comp

[2021-03-13 09:14] brianteeman commented on #32661
thats exactly what I am doing right now ;)

[2021-03-13 09:14] richard67 commented on #32621
@jos-webservices If you attempt to copy a template, there is a text shown below the field where you enter the new name, and this text tells to use only letters, numbers and underscores.

![2021-03-13_1](https://user-images.githubusercontent.com/7413183/111025467-a2ad9880-83e4-11eb-9066-d276aabf77e8.png)

This means you shall not use dashes or hyphens "-".

So from my point of view the bug is that

[2021-03-13 09:26] joomdonation commented on #19429
Base on comments from @C-Lodder, I think all the tasks in this issue were completed. @richard67 Maybe you can take a look at it and confirm (or someone has experience with install from web can check and make sure it is working as expected). I just tried to use and see that it is working well.

[2021-03-13 09:30] brianteeman commented on #32661
Whatever it was has gone now.

[2021-03-13 09:30] #32661 closed, assigned to nobody

[2021-03-13 09:32] brianteeman commented on #19429
None of this looks correct

![image](https://user-images.githubusercontent.com/1296369/111025879-f87f4200-83de-11eb-852e-1b6fac8bebb7.png)

[2021-03-13 09:43] infograf768 commented on #30018
It is not possible to correct this directly in core.

[2021-03-13 09:44] infograf768 commented on #31909
adding `padding-inline-end: 1rem;` to `joomla-field-mediamore details {` in `.../build/media_source/system/css/fields/joomla-image-select.css` would solve the padding issue both in LTR and RTL.

[2021-03-13 09:45] richard67 commented on #19429
@brianteeman Could that come from #32422 ? If so, then the look of these fields is something on the big list to be cleaned up, i.e. not specific to the install from web.

Or is it maybe a BS 5 thing? Then it is covered by the last item "Bootstrap 5 review" in the check list in the description.

@joomdonation Unfortunately I'm not deep enough into the install from web to be the one who can sort it

[2021-03-13 09:46] brianteeman commented on #19429
BS5 i think

[2021-03-13 09:47] chmst commented on #30018
I expect that this rule is not applied on buttons.

[2021-03-13 09:54] infograf768 commented on #31909
Change `.../build/media_source/system/css/fields/joomla-image-select.css`
from
[code]
to

[code]
to get

<img width="715" alt="Screen Shot 2021-03-13 at 10 51 02" src="https://user-images.githubusercontent.com/869724/111026352-0e463480-83ea-11eb-935c-e95b0fc59883.png">

[2021-03-13 10:01] richard67 commented on #31351
Closing as having a pull request. It has already 2 good tests and so it RTC (ready to commit). See #32657 .

[2021-03-13 10:01] #31351 closed, assigned to nobody

[2021-03-13 10:36] brianteeman commented on #30018
Yes it is. It is just changing the css rule

[2021-03-13 10:40] alikon commented on #24492
for what i can tell you this should be degraded from Release Blocker to some kind of "nice to have"

[2021-03-13 10:41] alikon commented on #24492
after all workflow is disabled by default

[2021-03-13 10:48] brianteeman commented on #32621
The text is correct. The problem is that there is no filtering or checks on the input. A simple pattern of [A-Za-z0-9_] would be correct but it will need to have some form of error message as well

[2021-03-13 10:49] brianteeman commented on #24492
@alikon but what happens when a user upgrades from j3 and then enables the workflows? That is where the problem lies.

[2021-03-13 10:53] richard67 commented on #32621
Then my first assumption was right, and we need to fix that in this way.

When using a validation rule or creating a new validation rule for that, and add a `validation=...` for that field in the form XML, the error message will always be "Invalid field so-and-so", with "so-and-so" being the field title. I think that's sufficient.

[2021-03-13 10:58] alikon commented on #24492
well i've to admit that this scenario i've never had explored it yet myself, but i hope that who will do that have taken an informed decision
thats why imho it's docmentation matter and not a RB

[2021-03-13 11:02] brianteeman opened #32663 "[4.0] Repeatable Modal fields and subforms"
This is **not** about the user or media fields as they are different and there already is a PR to fix those.

This is about the other modal fields such as the article tester

### Steps to reproduce the issue
Edit `administrator\components\com_users\forms\user.xml` by inserting the following code at the beginning of the file after the opening `form` ie on line4

[code]

If you try to add a new user

[2021-03-13 11:04] brianteeman commented on #32621
The field is NOT in an xml file it is directly in `administrator\components\com_templates\tmpl\template\default_modal_copy_body.php`

[2021-03-13 11:04] richard67 commented on #32621
Oh, I see. Thanks.

[2021-03-13 11:05] brianteeman commented on #32621
It probably should be extracted into an xml

[2021-03-13 11:06] ChristineWk commented on #32489
Tried also several times and can't reproduce point: 3.3
Still shown under: Fields > Category > Status: x (set to unpublished) > type text >

 ![screen shot 2021-03-13 at 11 05 24](https://issues.joomla.org/uploads/1/d44fdb83e61dca5af3f7f227905ac59c.jpg)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.jooml

[2021-03-13 11:42] joomdonation commented on #19429
Would be great if someone with frontend skill could finish this BS5 task so that we can close this release blocker.

[2021-03-13 11:44] richard67 commented on #19429
Maybe @drmenzelit could have a look on it and check if it needs some adjustments to BS 5 in css or markup?

Or could there be js issues, too, related to BS 5 changes? In this case @dgrammatiko should have a look on it, too.

[2021-03-13 11:55] dgrammatiko commented on #32663
That was the reason I kept saying that all fields need to be implemented as custom elements (or web components). Custom elements have lifecycle events, so if you create (as it happens with subform) a new field by copying the html then the field initialises automatically (the lifecycle event for this is `connectedCallback`)

Can it be done without custom elements? Yes but you need to set up event l

[2021-03-13 12:26] Adiehm opened #32664 "tags removed when Template Configuration is saved"
### Steps to reproduce the issue
The Template I'm using allows the inclusion of custom code to be inserted at various points eg after head tag. Anything enclosed in <> is stripped off when the template config is saved eg <script>

It's not specific to the template I'm using as the same issue exists in the template Beez. If you change the default Site Title from Joomla! to <Joomla!> This results in

[2021-03-13 12:45] brianteeman commented on #32664
This is by design for security purposes

[2021-03-13 12:54] jschmi102 opened #32665 "[4.0] Modal Popup not working"
### Steps to reproduce the issue
Use one of samples from bootstrap V5 (https://getbootstrap.com/docs/5.0/components/modal/)

### Expected result
Modal Popup opens according sample

### Actual result
Modal popups do not work at all (no javascript errors or any other error reported)

### System information (as much as possible)
Joomla 4.0 Beta 7 with Casiopeia Template)

### Additional comments
Moda

[2021-03-13 13:47] dgrammatiko commented on #32665
Can you provide the code you used and didn't work? Joomla has numerous modals and all of them are totally functional

[2021-03-13 14:05] Megh05 commented on #32598
@C-Lodder @richard67 I am interested to work on this issue. Thank you!

[2021-03-13 14:06] richard67 commented on #32598
@Megh05 Just to it, no need to ask for permission ;-)

[2021-03-13 14:10] shahbazalam07 commented on #30018
I want to work on this issue

[2021-03-13 14:49] Adiehm commented on #32664
That's not a particularly good situation - I'm sure there are many Templates that allow for the insertion of code for Meta data, Google Tag manager, OG Tags etc. These are now all stripped out if the template is modified. Storing the template config in the template_styles table would seem to be the by design solution.

This has literally broken 100 or so websites that I look after.

I don't see th

[2021-03-13 14:50] Fedik commented on #32663
Here multiple issues:

* initialization (easy)
* hardcoded IDs (hard)
* bunch of callbacks (eg window.processModalX(), ) with hardcoded ID parameters (much hard)
* bootstrap modal (hard)

Custom elements can help only with initialization.
The problem much bigger than that.

@brianteeman unfortunately it cannot be fixed, without a loot of rewriting.
For now I can suggest a work around:
* Add row wi

[2021-03-13 14:54] brianteeman commented on #32663
Sorry I dont understand your work around.

For my own component I am just forking the users webcomponent

[2021-03-13 14:57] Fedik commented on #32663
I will try differently:
The site User should add a new row in the subform field, without selecting anything,
Then save the content item,
And only then select the value for this added field.

[2021-03-13 14:59] brianteeman commented on #32663
I realised what you meant as soon as I hit comment ;)

[2021-03-13 15:03] dgrammatiko commented on #32663
@Fedik this is the worse part and unfortunately cannot be done in any B/C way. But B/C might be ignored here (the modal fields or whatever the name) is an internal thing. There was a PR that was solving aspects of this but not the callbacks

[2021-03-13 15:13] srishty-07 opened #32667 "improper alignment of buttons"
### What needs to be fixed
1)improper padding of close button and edit button in edit module in frontend

2)on hover over an icon in the navbar we can add a color change or increase in icon size on hover  of that icon in navbar.

![1](https://user-images.githubusercontent.com/70388131/111034537-32cafc80-843c-11eb-9fa4-c293dcb7de93.jpg)

actual :

![2](https://user-images.githubusercontent.com/7038

[2021-03-13 15:25] brianteeman commented on #32664
The beez template field that you refer to has a "string" filter on the input and it has done so for at least 4 years. So you are trying to taste an orange by biting an apple.

If your template has any input fields you should check and see what filter is set. That's where your problem lies.

You can find the list and definition of filters here https://docs.joomla.org/Retrieving_request_data_using_J

[2021-03-13 16:00] jschmi102 commented on #32665
this is a sample which is working with Joomla 3.9.25 and not with Joomla 4.0-beta7 (I changed '< and >')

&lt;!-- Trigger the modal with a button --&gt;
&lt;button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup_modal"&gt;Show Modal&lt;/button&gt;&lt;!-- Modal --&gt;
&lt;div id="popup_modal" class="modal fade" role="document"&gt;
  &lt;div class="modal-dialog m

[2021-03-13 16:03] dgrammatiko commented on #32665
The HTML by itself WILL NEVER WORK, you need to have also the js in the output. Joomla has helper functions for these:
`HTMLHelper::_('bootstrap.modal');`

In Joomla 4 you have to **explicitly** add the interactive component you need.

[2021-03-13 16:11] jschmi102 commented on #32665
hi,
Wiith Joomla 3 a user could add html-code in an article which creates a modal popup (this was my sample). Do you mean this is not any more possible with Joomla 4? Is there a solution for this?

[2021-03-13 16:14] dgrammatiko commented on #32665
READ my comment again: `In Joomla 4 you have to explicitly add the interactive component you need.` You have to load whatever you need either in the component/module or in the template.

[2021-03-13 16:47] joomdonation commented on #32621
We actually perform server side validation already https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_templates/src/Controller/TemplateController.php#L153-L154

However, we are using **cmd** filter for **$newName**, so it accepts other characters such as .,-

I haven't tested but I think changes that two lines of code to the below code should help

[code]

The two names

[2021-03-13 16:53] richard67 commented on #32621
@joomdonation That makes sense to me and should work. If it's the right way to fix it: I don't know.

Funny detail: On my private website I use a copy of the Protostar template, which has a "-" in its name, so either the description text telling to use only characters, numbers and underscores was not there at this time, or I have ignored it. So when I migrate my site to J4 I'll have to fix that.

[2021-03-13 17:00] joomdonation commented on #32621
@richard67 I don't work with templates, so I don't know, too. I just propose code because we display the message **Letters, numbers and underscore only**

[2021-03-13 17:03] richard67 commented on #32621
Sure, and I agree. Only am thinking if there are maybe some B/C aspects.

[2021-03-13 17:11] joomdonation commented on #32279
This issue is the same with https://github.com/joomla/joomla-cms/issues/32248, so one of the two issues should be closed.

[2021-03-13 17:11] chmst commented on #32667
@srishty-07 thanks a lot for starting this.
I will assign this to you.
Your issue has several tasks and you could make several PRs - one for every part, this makes testing easier.

For working on the Edit buttons - this is a bit difficult and there is a big issue https://issues.joomla.org/tracker/joomla-cms/32170.

[2021-03-13 17:14] srishty-07 commented on #32667
sure @chmst ma'am ,
I am working on it.

[2021-03-13 17:14] #32279 closed, assigned to nobody

[2021-03-13 17:14] richard67 commented on #32279
Closing as duplicate report of #32248 .<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32279">issues.joomla.org/tracker/joomla-cms/32279</a>.</sub>

[2021-03-13 17:15] joomdonation commented on #32248
Someone should ask @Hackwar to help with this issue. Look like we are having problem with **NomenuRules**. This is a hard issue and hard for someone not familiar with new routing code to fix, so better if @Hackwar could spend sometime to fix this issue.

[2021-03-13 17:18] jschmi102 commented on #32665
hi,
pls. advise how I should use this - I added "HTMLHelper::_('bootstrap.modal');" in my php-code but this did not cause adding bootstrap modal jjavascript libs. (could not find docs about this for Joomla4).

[2021-03-13 17:33] dgrammatiko commented on #32665
Did you added also the namespaced part? HTMLHelper is namespaced and needs to be added with the casual `use Joomla\CMS\... ; `

[2021-03-13 17:54] brianteeman commented on #32621
I have looked into the history and from day this copy template functionality was added in Joomla 2.5  there was the description about no dashes https://developer.joomla.org/joomlacode-archive/issue-28472.html

[2021-03-13 17:58] richard67 commented on #32621
So I might have ignored that at that time.

So we can safely add a validation for it in J4, right?

[2021-03-13 18:01] jschmi102 commented on #32665
hi,
HTML-code for modal popup is genned by my content plugin. For Joomal of course I am adding only namespaced libs (for htmlhelper: . "use Joomla\CMS\HTML\HTMLHelper;").  Code logic is
1. HTMLHelper::_('bootstrap.modal');
2. Generate modal html
3. return

[2021-03-13 18:28] brianteeman commented on #32621
yes

[2021-03-13 18:29] richard67 commented on #32621
@joomdonation Go for it please.

[2021-03-13 18:29] brianteeman commented on #32621
OR we spend time working out how to fix the identiified issue here and any others that may appear by allowing the -

I suspect that the reason we dont allow it was because it was "too hard" to find out why the - broke things

[2021-03-13 18:31] richard67 commented on #32621
I'm open for both, the latter (maker it work with "-" I would prefer for private reasons ;-) )

[2021-03-13 18:36] dgrammatiko commented on #32665
FWIW your data attributes are wrong, check the bootstrap 5 docs

[2021-03-13 19:04] jschmi102 commented on #32665
what do you mean with "data attibutes".  If joomal4 does not provide bootstrap modal support per default any modal-html won't work.  For me It seems that calling "HTMLHelper::_('bootstrap.modal" does not provide modal support.

[2021-03-13 19:14] jschmi102 commented on #32665
hi,
I tried with original samples from bootstrap 5. This seems to work. I'll check what to change (or what is different) compared to version 3 or 4.

[2021-03-13 19:36] ChristineWk commented on #32489
OK, tried again, because I forgot 1 step.

![screen shot 2021-03-13 at 19 30 07](https://issues.joomla.org/uploads/1/d16dad4a9efdf190736f2c2b0b782781.jpg)

Category One: Set to unpublished > Field one not shown:
![screen shot 2021-03-13 at 19 32 09](https://issues.joomla.org/uploads/1/2bc1b64afd1bab5691ca322925eb3b2e.jpg)

Category Two: Set to published > Field is shown
![screen shot 2021-03-13 at

[2021-03-13 19:41] brianteeman commented on #32665
As @dgrammatiko it is the data attribute

If you look at your code you posted above they are data-something
If you lok at the bootstrap 5 docs and the code you copied from there they are data-bs-something

The problem is not Joomla it is your misreading of the documentation

[2021-03-13 23:50] blueline86 opened #32674 "Pagination not responsive on mobile"
### Steps to reproduce the issue
Create enough content items to have ~10 or more pages of items in list view on the front end.

View the front end on a mobile device.

### Expected result
The width of the pagination never exceeds 100vw when there are lots of pages. Ideally some items in the middle should be removed and replaced with an ellipsis to maintain a maximum width within the viewport. Eg:

[2021-03-13 23:50] jos-webservices commented on #32621
Sorry for ignoring that and bringing up this issue instead. I think input validation for the copy name would be the right approach.

[2021-03-13 23:53] wilsonge commented on #32376
Well first of all the API endpoints for the application would need to be designed. Any user API should only be revealing the data that it expects to see (for example an app that recieves a category id of 1 for uncategorized because that site doesn't use the category system is pointless).

As a result core can only develop for administration functionality and the idea for the application to interac

[2021-03-14 00:11] brianteeman opened #32675 "[4.0] com_mails filters not translated"
### Steps to reproduce the issue
Go to the new mail templates components found on the system page
Set the number of items to display at anything less than the total number of items eg 5
open the filter options
click on the select component filter to see the options

### Expected result
All the text is translated strings ie "USERS" not "com_users"

### Actual result
ONLY the text for items on the c

[2021-03-14 00:26] brianteeman opened #32676 "[4.0] Mail Templates - add tags"
### Steps to reproduce the issue
In the new mail templates component found on the system dashboard. Click to create a mail template

![image](https://user-images.githubusercontent.com/1296369/111053388-391ca100-845b-11eb-9a7d-6bd1f355da90.png)

On the template page click on the button to edit the body

![image](https://user-images.githubusercontent.com/1296369/111053401-59e4f680-845b-11eb-9344-0c4

[2021-03-14 00:30] brianteeman opened #32677 "[4.0] Mail Templates - Language filter"
### Steps to reproduce the issue
In the new mail templates components that can be found on the system dashboard is a language filter

![image](https://user-images.githubusercontent.com/1296369/111053512-4be3a580-845c-11eb-8f45-51187e170abf.png)

This shows all the available languages PLUS the special ALL language

The ALL should not be there because in this completely non-standard UI you can never

[2021-03-14 00:37] brianteeman opened #32678 "[4.0] Mail Templates - sorting"
In the new mail templates components that can be found on the system dashboard is a language filter

None of the sorting worked - either by clicking on the column title or by selecting from the dropdown

it is easy to test because the up/down arrows never change when you click on any of the three sortable column heading or any of the two types in the dropdown

I did try to fix it some time ago but

[2021-03-14 01:17] Adiehm commented on #32664
Thanks - I understand the Input Filtering and I can see how Beez is different to what I'm seeing with the template I'm using.

I've been using the same template facility since Joomla 2.5 and never had this problem before. I have and old disused site running Joomla 3.9.19 that I just fired up and it works perfectly i.e. if you save the Template Config which is stored in the template_styles table it

[2021-03-14 03:53] saumyasarkar11 commented on #32678
Can I know the file through which this sorting operates?

[2021-03-14 04:11] joomdonation commented on #32678
@saumyasarkar11 It is processed in **TemplatesModel** model https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_mails/src/Model/TemplatesModel.php#L24 . I believe there is a problem with filter_fields https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_mails/src/Model/TemplatesModel.php#L38 . It needs to contains all fields which can be used to

[2021-03-14 05:29] Megh05 commented on #32677
So all we have to do is to remove the ALL Language filter from the dropdown... Right?

[2021-03-14 05:36] Megh05 opened #32679 "[4.0] Template menu bar not properly aligned"
### What needs to be fixed

![image](https://user-images.githubusercontent.com/53462448/111058504-099a8280-84b5-11eb-91ed-886e729cbd32.png)

This is some extra white space on the top right corner of the mail template page

### Why this should be fixed

Good UI

### How would you fix it

By applying proper CSS

[2021-03-14 06:05] Adiehm commented on #32664
I have spent some time testing J3.9.22 J3.9.23 J3.9.24 and J3.9.25 and I've confirmed the change was made in J3.9.25. Versions 22, 23 and 24 all work perfectly, Version 25 introduces the erroneous change.

I haven't as yet figured out exactly what has changed that is causing the problem but I see that Filtering has been applied in some of the files.

<hr /><sub>This comment was created with the <a

[2021-03-14 06:21] joomdonation commented on #32678
Actually, looking more at the code, look like the sorting is completely ignored for some reasons, this method https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_mails/src/Model/TemplatesModel.php#L115 has no sorting code added

@brianteeman I think your PR https://github.com/joomla/joomla-cms/pull/27325 is good. We just need to add some code for sorting handling to getL

[2021-03-14 08:13] brianteeman commented on #32678
Re-opened and conflicts fixed as requested.

[2021-03-14 08:13] #32678 closed, assigned to nobody

[2021-03-14 08:16] sanket9787 commented on #32679
Try this
 width=100%
in css file
if error is still there please provide me the code I will cheque it

[2021-03-14 08:17] brianteeman commented on #32664
Probably this https://developer.joomla.org/security-centre/845-20210305-core-input-validation-within-the-template-manager.html

[2021-03-14 08:22] brianteeman commented on #32679
I cannot replicate this

![image](https://user-images.githubusercontent.com/1296369/111062034-60e12880-849e-11eb-9380-dc727ba7ede9.png)

[2021-03-14 08:38] brianteeman commented on #32073
This should be closed as it is resolved

[2021-03-14 08:41] brianteeman commented on #31896
No idea why @SharkyKZ re-opened this issue. The reporter closed it and without any further details re-opening it 1 month later makes no sense

[2021-03-14 08:46] Megh05 commented on #32677
@brianteeman Sir can you please help me out by providing the name of the PHP file used. Thank You!

[2021-03-14 08:59] brianteeman commented on #29810
This bug is caused by #23452 which probably should not have been merged due to lack of tests

[2021-03-14 09:06] #32664 closed, assigned to nobody

[2021-03-14 09:27] brianteeman commented on #29679
This has been resolved elsewhere and can be closed

[2021-03-14 09:39] joomdonation commented on #32455
We have new PR here https://github.com/joomla/joomla-cms/pull/32633 . Maybe this issue could be closed?

[2021-03-14 09:44] alikon commented on #32455
yes

[2021-03-14 09:44] #32455 closed, assigned to nobody

[2021-03-14 09:51] rdeutz commented on #32676
Closing because we have a PR #32681

[2021-03-14 09:51] #32676 closed, assigned to nobody

[2021-03-14 09:56] brianteeman opened #32682 "[4.0] css and js form validation"
Bootstrap v2 had two classes (has-success and has-danger) that were changed in bootstrap 4 and removed in bootstrap 5 https://getbootstrap.com/docs/5.0/forms/validation/

From my understanding we can therefore remove the use of those classes in https://github.com/joomla/joomla-cms/blob/4.0-dev/build/media_source/system/js/fields/validate.es6.js and maybe other changes can be made as well. (valid/i

[2021-03-14 10:35] #29679 closed, assigned to nobody

[2021-03-14 10:41] brianteeman commented on #31133
For reference the article duplication PR referred to was closed without being merged.

As I wrote in that issue I dont see the need for this as you can already achieve the same by using "Save as Copy"

[2021-03-14 11:50] rdeutz commented on #32677
closing because we have a PR #32684

[2021-03-14 11:50] #32677 closed, assigned to nobody

[2021-03-14 11:56] joomdonation commented on #32675
PR https://github.com/joomla/joomla-cms/pull/32687 should fix this issue.

[2021-03-14 11:58] brianteeman commented on #32675
Closed as we have a pr

[2021-03-14 11:58] #32675 closed, assigned to nobody

[2021-03-14 14:32] Quy commented on #32679
Please test PR #32689

[2021-03-14 14:32] #32679 closed, assigned to nobody

[2021-03-14 15:51] saumyasarkar11 commented on #31418
What if I disable the save button if there's no text in the title?

[2021-03-14 16:06] jschmi102 commented on #32665
hi,
Thank you all for your help! But if there had been some short info about migrating to bootstrap and Joomla 4, this could have helped to avoid to run into problem. For example:
1. Note - if you are using interactive features of bootstrap you will have to define them using HTMLHelper methods (e.g. "HTMLHelper::_('bootstrap.modal')" for modal support) to have the needed Javascript libraries added

[2021-03-14 16:06] #32665 closed, assigned to nobody

[2021-03-14 16:21] dgrammatiko commented on #32665
Joomla is an open source project based on contributions, so why don't you update those missing info to help also other devs?

[2021-03-14 17:19] himanshu007-creator commented on #32682
<code>.has-danger</code> to <code>.is-invalid</code> and <code>.has-success</code> to <code>.is-valid</code>
Should I work for this? @brianteeman

[2021-03-14 17:36] himanshu007-creator opened #32692 "[4.0] Frontend-login password visibility button click error"
### Steps to reproduce the issue
try to login to frontend of joomla and try to click just below the password visibility button.

![ss](https://user-images.githubusercontent.com/65963997/111078066-ca524d00-8519-11eb-9ab5-9810aae9a110.gif)

same happens if you click near username, it shows "Please fill in this field"

### Expected result
It should not trigger the button as button is not being clicke

[2021-03-14 18:14] brianteeman commented on #32692
It is NOT visibility:hidden or display:none

[2021-03-14 18:21] himanshu007-creator commented on #32692
Okay👍🏽. But still, message should not be visible and at the same time good the place ( similar to visibility:hidden ).
Clicking creates problem when done on right of username heading and after that just below the visibility button.

[2021-03-14 19:23] Hackwar commented on #32248
I have this on my radar, unfortunately my time right now is limited. Hopefully will be able to get this fixed this month.

[2021-03-14 21:44] chmst commented on #32692
@himanshu007-creator is right, if the password is empty - the screen jumps.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32692">issues.joomla.org/tracker/joomla-cms/32692</a>.</sub>

[2021-03-14 21:52] jos-webservices commented on #32621
Didn't have a look at the code yet, however from checking why it didn't work for me: I suspect the reason for not allowing "-" is the way the module style is saved in the DB. It is saved as [TemplateName]-[ModuleStyle]. Now, if TemplateName has a "-", dividing the two becomes difficult.

[2021-03-14 23:00] wilsonge commented on #31490
Ideally yes but don't think that's a release blocker level. Just need to make sure everything works and is styled properly for the preupdate checker

[2021-03-15 00:47] wilsonge commented on #28800
Fine leave it as it is :( but i really dislike the fact that not all our plugins are actually using the event system. As mentioned it's easy to move it to an events system but needs something more complicated to ensure we only get back the item from the correct plugin (passing in the name of the active editor/captcha system or similar)

[2021-03-15 00:47] #28800 closed, assigned to nobody

[2021-03-15 04:43] joomdonation commented on #32621
You are right. The module style is saved in **[TemplateName]-[ModuleStyle]** format, see https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Form/Field/ChromestyleField.php#L159 for reference

It is then processed here https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Helper/ModuleHelper.php#L193-L195

Basically, we are using **-** character to separate between template a

[2021-03-15 09:05] Fedik commented on #28800
We can review it in future again.

I think, when the event dispatcher would allow to call a specific plugin, it could help much here.
Something like:
[code]
But probably it not correct and it still some kind of hacky thing.

[2021-03-15 09:50] brianteeman opened #32694 "[4.0] Calendar field bug?"
I don't know if this is a bug in joomla or in my brain

I have a form with a calendar field
I have javascript that does a calculation on the value of the field and inserts the value into a new field

The javascript is triggered by `fieldname.addEventListener("change",`

If I manually enter a date in the field then the javascript is triggered and everything is good
If I select a date with the datep

[2021-03-15 10:10] Fedik commented on #32694
that a bug,
if I right remember there was an issue about it (maybe for j3)

[2021-03-15 10:15] Megh05 commented on #32694
@Fedik Yes rightly said; .addEventListner(), .triger() or change() are not currently working with jQuery. You can try by using .dispatchEvent() or .on() instead.

[2021-03-15 10:17] brianteeman commented on #32694
Glad to hear that its not my brain failure

[2021-03-15 10:18] brianteeman commented on #32694
@Megh05 no jquery is being used

[2021-03-15 10:53] brianteeman commented on #32694
@fedik any ideas how to fix it?

[2021-03-15 13:06] Hackwar commented on #32248
PR in #32695

[2021-03-15 13:13] joomdonation commented on #32248
Many thanks @Hackwar. Will test it.

[2021-03-15 13:38] #32248 closed, assigned to nobody

[2021-03-15 13:48] Fedik commented on #32694
Try like in this comment https://github.com/joomla/joomla-cms/issues/17515#issuecomment-628026800

but like this:
in calendar JS:
[code]

then in your code you should be able to use:
[code]

I not tested, in theory should work

[2021-03-15 13:51] brianteeman commented on #32694
Thanks I will take a look tonight

[2021-03-15 13:53] Fedik commented on #32694
btw, the Issue from 2017,
well, that need to fix someday :smile:

[2021-03-15 14:08] chandanXP commented on #32692
@himanshu007-creator, yes on clicking inputs, the other elements in the form should not be misplaced or moved on a same clicking event<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32692">issues.joomla.org/tracker/joomla-cms/32692</a>.</sub>

[2021-03-15 14:20] richard67 commented on #32694
I suggest we do it in 2023 😉

[2021-03-15 14:28] ReLater commented on #32115
Please note addition "Test instructions addition 2021-03-15" in first post.

[2021-03-15 16:48] moshhamedani opened #32696 "Web Scraping Service"
The article highlighted the specific goal of Seoul that is implied in the experience and is done by the North Korean migrants, who have arrived by China, the city of divided Korea. The study pays attention to the role of the protestant church, which is highly influenced by these refugees and the rituals they perform, which leads to the negotiation of the political-religious factors and their futur

[2021-03-15 17:05] #32696 closed

[2021-03-15 18:19] sksuryan commented on #32692
I think this is a bootstrap thing, since you have interacted with the form, the form expects you to enter something. I don't think we can or should change this behavior because it is tied to a bootstrap class.
Further, the same thing doesn't exist for the form in the sidebar and you can actually try to login, it will process your request and then return an error that `Empty password not allowed` w

[2021-03-15 19:13] brianteeman commented on #32694
@fedik it works!!!!

I am not going to submit a PR for this as I would probably put it in the wrong place etctetc and it will be quicker for you to add the oneliner than for us to go back and fro discussing changes that I dont understand

[2021-03-15 22:05] richard67 commented on #32248
Shall #20979 be closed, too, i.e. the new PR #32695 replaces that one?

[2021-03-15 23:22] neralex opened #32699 "[4.0b7] bootstrap default-conflicts in template.css: dropdown-menu[style]"
Hey,

I'm working with bootstrap since some years in different CMS and I was happy to see joomla 4 is coming with bootstrap 5. But your way how you are mixing own joomla-styles with the bootstrap-core-styles creates a lot of unnecessary amount of time and lines of code, to get it back to the default-styles.

One of the badest examples is this in the template.css, which creates a conflict with the

[2021-03-15 23:31] brianteeman commented on #32699
Have you looked at the scss files. It should be pretty obvious which of those are "overriding" bootstrap and which are "joomla"

[2021-03-15 23:35] neralex commented on #32699
dropdown-menu[style] is not in the files inside the scss-folder.

[2021-03-16 00:01] dgrammatiko commented on #32699
Obviously, you never created a Joomla template! How the heck **the styles of the default Joomla template** will ever affect the CSS of **your own template**?

[2021-03-16 00:23] neralex commented on #32699
The joomla-Styles overriding the bootstrap-defaults, which is creating conflicts with bootstrap itself. Try a look at here and try to rebuild it with dropdown-menu-end:

https://getbootstrap.com/docs/5.0/components/dropdowns/#menu-alignment

Or let es get a look on the navbar-defaults of BS5 - give it a try with joomla-defaults in the template.css on the frontent and on the backend:

https://getbo

[2021-03-16 00:34] dgrammatiko commented on #32699
It doesn't really matter what is in the demo template that comes with Joomla, **create your own and do whatever you like**...

[2021-03-16 06:08] neralex commented on #32699
Ya for sure I could rebuild the whole joomla frontend-standards with html-overrides for navigations, edit-forms, tabs etc. and with the next joomla-updates it bricks completely and I have to start from scratch... OMG

[2021-03-16 07:18] dgrammatiko commented on #32699
That’s what the rest of us do, especially all of us that find bootstrap a bad framework and decide to use something better...

[2021-03-16 09:19] drmenzelit commented on #32699
I was not able to found the line you mention above neither in atum nor in cassiopeia. Can you please tell me the line number?
Since the standard templates where created before BS5, it can be that some inconsistencies are present. We will be grateful for PRs correcting the scss files.

[2021-03-16 09:30] mariantanase opened #32700 "Add Button margins when update"
### Steps to reproduce the issue
When upgrading from Joomla 4 Beta 7 to the current nightly build, you are prompted to enter credentials before continuing.
The two buttons (**Cancel** and **Install**) are attached. No margin or padding between them.

### Expected result

### Actual result

![screen shot 2021-03-16 at 09 26 30](https://issues.joomla.org/uploads/1/5cda17c241681bfa9877125c3204a5ca.pn

[2021-03-16 09:37] brianteeman commented on #32699
I think you are very confused.

If you look you will see that template.css is created by compiling various scss files. These scss files are either from bootstrap or from the template itself. The latter either being an override or an addition.

So to put it very simply the template.css of both atum and cassiopeia are created so that they you do NOT load additionally the bootstrap css. Which of cour

[2021-03-16 10:19] himanshu007-creator opened #32701 "[4.0] Accessibility options showing error"
### Steps to reproduce the issue

Go to <code>User Menu</code> > <code>Accessibility Settings</code>
Try to change the present configurations and select either <code>Save</code> or <code>Save & Close</code>
Without making any changes as well, same output will be generated.

### Expected result

Configurations should get applied. If no changes are made, depending on the selection, same menu or dash

[2021-03-16 10:59] himanshu007-creator commented on #32701
In beta 8 its working fine. So closing the issue.

[2021-03-16 10:59] #32701 closed, assigned to nobody

[2021-03-16 11:11] dArK-sOuL0807 commented on #32700
Sir, let me get a chance to fix this issue.

[2021-03-16 11:12] alikon commented on #32700
maybe reading this one #32697  may help

[2021-03-16 12:25] AndySDH commented on #22232
This has been first reported as an issue in Joomla over 4 years ago (with multiple issues marked as duplicate and closed), and in 2021 is still not solved :(

[2021-03-16 14:57] NikitaEmberi commented on #32190
I would like to work on this issue. Can this issue be assigned to me? Thanks.

[2021-03-16 15:08] drmenzelit commented on #32190
You don't need to ask for permission nor to be assigned to an issue. You can create a PR directly.

[2021-03-16 15:18] NikitaEmberi commented on #32190
I am completely new to open source contribution. Thanks for informing.

[2021-03-16 15:41] richard67 commented on #32250
@PhilETaylor Do you remember any other edit views beside the module edit which have the buttons at the top? Or in other words: Does PR #32703 seem complete to you?

[2021-03-16 15:56] chmst commented on #32667
Closing as we have a PR #32667

[2021-03-16 15:56] #32667 closed, assigned to srishty-07

[2021-03-16 16:12] richard67 commented on #32700
Whoever wants to fix this issue mind the round corners of the button: When having space between the buttons, it will need all 4 corners of each button to be round.

[2021-03-16 16:56] gaurav24072002 commented on #30018
Hey ! I am interested to solve this issue  but when I go to the required instruction everything looks fine to me . @C-Lodder Please see the screenshot:
![gsoc1](https://user-images.githubusercontent.com/77109758/111348399-2a75fa00-86a6-11eb-8044-3a244b5331ee.JPG)

If you want to say something else please can you define specifically...😅
And I would be more then happy to solve the issue...

[2021-03-16 17:08] PhilETaylor commented on #32250
#close

No idea sorry, I’ve slept since then :)

[2021-03-16 17:11] himanshu007-creator commented on #30018
looks good @gaurav24072002 , have a look <a href="https://github.com/joomla/joomla-cms/pull/30148">HERE</a>.  Working on this issue is simpler and it would be good to see you work on it😉.
I was working on it previously but found the discussion above unresolved. Ask about the desired layout and send a PR . ^_~

[2021-03-16 17:14] brianteeman commented on #30018
![image](https://user-images.githubusercontent.com/1296369/111351448-179a0000-867b-11eb-9bf8-86fa5fe7887a.png)

[2021-03-16 17:16] brianteeman commented on #30018
Are you sure that you were looking at **Joomla 4**

[2021-03-16 17:18] himanshu007-creator commented on #30018
In joomla 4 , 2 ICONS ARE VISIBLE.
doubt:-
Now we have to remove one of the icon or place the external link icon on the right side of text?

[2021-03-16 17:19] drmenzelit commented on #30018
I would say, we don't need the icon for external link here

[2021-03-16 17:23] moshhamedani opened #32704 "Essay Writing Services"
Both artists I these two paintings have used the principle of nude women in their work of art to particularly portray a number of factors such as intimation, personalize, and even casualness. Both of these two works have some truth portrayed just through the principle of using sculpture of the nude woman. These two artistic works have been established to show an ultimate subjective type of message

[2021-03-16 17:24] #32704 closed

[2021-03-16 17:26] brianteeman opened #32705 "[4.0] Install from Web missing extensions"
I don't know if this is a JED team issue, a Install from Web plugin issue or what but The install from web plugin is only displaying extensions that are marked as compatible with **joomla 4 alpha**. It is not including extensions that are marked as compatible with **Joomla 4 Beta**

To make it even harder to find extensions you will also see that extension on JED are shown with a **4Alpha** tag on

[2021-03-16 17:26] usmanikram commented on #32692
The same issue is also with adminsitrator login frontend.
![Login Issue](https://user-images.githubusercontent.com/1428373/111352826-7032c280-86a6-11eb-8209-728f5ce5979b.PNG)

[2021-03-16 17:32] brianteeman commented on #30018
@drmenzelit Then you might as well remove the icon from all buttons and links. The icon is not there as decoration. It exists to fulfil an accessibility requirement to indicate if a link will open in a new browser window.

[2021-03-16 18:20] chmst commented on #30018
I suggest to remove the decorative buttons - then it looks like this: The links are external links, the green button is a button, not a link becaus it opens a message and does not address another site at once.

![grafik](https://user-images.githubusercontent.com/1035262/111359826-49679280-868c-11eb-95a9-e54947771d3f.png)

[2021-03-16 18:44] brianteeman commented on #30018
The green button is multi-purpose and it depends on the actual extension on what it is and what it does.

[2021-03-16 18:58] richard67 commented on #32250
Closing as having a pull request. Please test #32703 . Thanks in advance.

[2021-03-16 19:00] chmst commented on #30018
Ok, my suggestion  is - let the green button as it is, but remove the deorative icons from link buttons, let only the generated external-link buttons.
This is a very easy fix in the layout.

[2021-03-16 19:02] NikitaEmberi commented on #32190
Is this issue solved? Because the behaviour shown in image above does not appear in my forked repository.
It shows something like this:
![image](https://user-images.githubusercontent.com/59737567/111364854-c5c39b00-86b7-11eb-8d9c-6e4f3c19af0b.png)
![image](https://user-images.githubusercontent.com/59737567/111364921-dbd15b80-86b7-11eb-8081-fc67e54105cc.png)

[2021-03-16 19:20] drmenzelit commented on #30018
sorry, I forgot...

[2021-03-16 19:22] brianteeman commented on #32190
@NikitaEmberi You are checking Joomla 3. This is a problem in Joomla 4

[2021-03-16 19:26] neralex commented on #32699
/templates/cassiopeia/css/template.css line 3255

[2021-03-16 19:50] neralex commented on #32699
I know how the scss-compiling works but the cassiopeia is a bad example how a template can have mixed styles. For example: it comes with the bootstrap-grid and also with another grid...why? This is really confusing because I want only get a overview of the joomla-core-styles/scripts to check, which core-stuff is needed besides the BS5-styles. How should I know what is really needed and what is onl

[2021-03-16 20:14] brianteeman commented on #32699
![image](https://user-images.githubusercontent.com/1296369/111373638-11fce400-8694-11eb-8c4e-fc767bba8280.png)

Please give an example

[2021-03-16 20:22] NikitaEmberi commented on #32190
Oh my bad. I upgraded to joomla 4 but the behaviour shown in above image seems to be resolved
![image](https://user-images.githubusercontent.com/59737567/111374648-5ce22000-86c3-11eb-902a-9352088e4086.png)

[2021-03-16 20:32] Quy commented on #32190
It is still an issue using Windows Firefox 86.0.1.

[2021-03-16 23:03] neralex commented on #32699
Download the Full-Package of the latest 4.0 beta7 pre-release: https://github.com/joomla/joomla-cms/releases/tag/4.0.0-beta7

[2021-03-16 23:10] brianteeman commented on #32699
No thanks - I would much rather work with up to date code. That is already 166 commits behind.

Better to test with the nightly build if you cant work with git.  https://developer.joomla.org/nightly-builds.html

[2021-03-17 04:43] JajateeNandineeSahoo commented on #32700
I want to fix the issue but don't know where is the code this issue. Could anyone help me and tell what is the path to get the code?

[2021-03-17 05:12] shahbazalam07 commented on #32674
I want to contribute to this.

[2021-03-17 07:06] thednp opened #32708 "[4.0] Inconsistent field description id"
### Steps to reproduce the issue
* Set a `description="Some description"` property for any field type
* Investigate the markup of the field, the field label has `id="jform_params_FIELD_NAME-lbl"` while the field description has `id="jform[params][FIELD_NAME]-desc"`. These values are taken from cassiopeia default template style as an example but I'm sure this issue applies in general to all field t

[2021-03-17 07:09] shitesh2607 commented on #32700
I am working on this issue.

[2021-03-17 07:22] thednp commented on #32708
After a quick investigation, it turns out the issue is with [renderfield.php#L35](https://github.com/joomla/joomla-cms/blob/4.0-dev/layouts/joomla/form/renderfield.php#L35).

Should I commit a PR with necessary changes?

[2021-03-17 08:04] brianteeman commented on #32708
Please dont. This will massively break sites for no benefit. This is working perfectly as it is

[2021-03-17 08:10] thednp commented on #32708
As you wish.

[2021-03-17 08:10] #32708 closed, assigned to nobody

[2021-03-17 08:30] infograf768 commented on #32700
Suggestion:
[code]
<img width="791" alt="Screen Shot 2021-03-17 at 09 29 03" src="https://user-images.githubusercontent.com/869724/111437426-5ecbd380-8703-11eb-8544-83564cd2dad2.png">

[2021-03-17 09:01] Hackwar commented on #31989
There is no correct way to add the base tag. It does not belong into our output.

[2021-03-17 09:08] Hackwar commented on #31918
Yes, this is indeed expected behavior. The idea is, that the router consumes the path while it parses it, until there is nothing left. If there is something left however at the end of the parsing, we have an invalid URL, which we couldn't match to anything and thus we need to throw a 404. Otherwise you could have for example domain.tld/validurl and simply extend it to domain.tld/validurl/something

[2021-03-17 09:16] HLeithner commented on #31918
As Hannes said

[2021-03-17 09:16] #31918 closed, assigned to nobody

[2021-03-17 09:25] weeblr opened #32709 "[4.0] setTemplate does not create a valid template record"
### Steps to reproduce the issue

It's a programmatic only issue. When using `SiteApplication::setTemplate`, only a template name and params are provided.

[code]

Template record in application object now also has `inheritable` and `parent` properties which are not set by setTemplate. This causes large numbers of PHP notices to be logged in various places.

PR coming.

### Expected result

No PHP

[2021-03-17 09:30] infograf768 commented on #30018
As the code producing these supplementary icons is NOT in core, the only way I found was to override it in _icon.scss.
[code]
<img width="683" alt="Screen Shot 2021-03-17 at 10 27 59" src="https://user-images.githubusercontent.com/869724/111445278-8aeb5280-870b-11eb-92a5-4aa6f3a147b8.png">

### Note:
 It would be better to modify the code where it is produced.

[2021-03-17 09:30] Hackwar commented on #30367
Unfortunately the above tutorial is highly misleading. As others have said, this returns the wrong response code AND you need to have a menu item for your error article AND wrap your URL with a JRoute::_(). This isn't a bug in Joomla.

[2021-03-17 09:49] richard67 commented on #32709
Closing as having a pull request: #32710 .

[2021-03-17 09:49] #32709 closed, assigned to nobody

[2021-03-17 09:56] JajateeNandineeSahoo commented on #32700
Okay, no problem but I just want to know that can't I work on this issue? Is it that only a single person can work on a single issue?

[2021-03-17 09:59] ReLater commented on #30018
Or move the external icon ::after and not ::before.

[2021-03-17 10:04] infograf768 commented on #30018
Why not, but we have no power to do it in core...

[2021-03-17 10:05] weeblr commented on #32709
@richard67 This PR actually addresses the pending review comment in #32710 (which I wasn't aware of as I just discovered the other PR).

So this new PR should actually solve the problem and maybe be merged this time. Or @joeforjoomla may backport the changes from this PR to theirs?

[2021-03-17 10:08] richard67 commented on #32709
@weeblr This here is not a PR, it's an issue, and your PR #32710 solves it, or not?

[2021-03-17 10:10] weeblr commented on #32709
Sorry, too many tabs in browser, please disregard.

[2021-03-17 10:17] ReLater commented on #31989
The ability to disable almost everything in Joomla 4 has been given so that developers can establish their own solutions wherever they want. A big step forward. If we now start to disable every extension where something could possibly work wrong, that would be a bad solution. One can not uninstall these extensions. That should be sufficient.

[2021-03-17 11:11] srishty-07 opened #32711 "[4.0] Visibility issue on hover"
### Steps to reproduce the issue
Open the Joomla backend , and in the navbar on the top hover on any icon , hover effect is almost invisible

![image](https://user-images.githubusercontent.com/70388131/111441449-58525180-872d-11eb-9ad4-9b86fb2765eb.png)

### Expected result

![image](https://user-images.githubusercontent.com/70388131/111456861-8049b100-873d-11eb-9b4b-b310a80cd76b.png)

### Actual

[2021-03-17 11:37] drmenzelit commented on #32711
@srishty-07 can you please edit the title of the issue and add [4.0] so it is clear which Joomla version this issue is about? Thanks

[2021-03-17 11:43] hitesh-coder commented on #32711
can i work on this issue?

[2021-03-17 11:44] PhilETaylor commented on #31989
This issue is NOT about the SEF Plugin. Its about broken image paths.

The image should load regardless of the state of the SEF plugin.

[2021-03-17 11:48] srishty-07 commented on #32711
I'm already working @hitesh-coder

[2021-03-17 11:49] chmst commented on #32711
@hitesh-coder Everyone can work on every issue. But as you see, @srishty-07 is already on it.

I like the light background in your example, @srishty-07

[2021-03-17 12:02] mariantanase commented on #32700
I'm sorry to tell you this, but how can you fix this issue when you don't know where to find the code to fix ?

[2021-03-17 12:16] chmst commented on #32700
@JajateeNandineeSahoo you can work on this issue - everyone can work on every issue. As soon as you make a pullrequest which solves the problem, the issue will be closed and we test your PR.

[2021-03-17 12:19] JajateeNandineeSahoo commented on #32700
Actually I'm new to open source and I don't know much about it. I'm just started learning it and I thought that may be someone would have written the path to find the code.

[2021-03-17 12:51] infograf768 commented on #32700
the path is easy. look above : https://github.com/joomla/joomla-cms/issues/32700#issuecomment-800896215

[2021-03-17 13:02] ReLater commented on #31989
If you disable Joomla's link corrections for image paths? From my point of view that's the well known behavior.

[2021-03-17 13:04] ReLater commented on #32623
See pr https://github.com/joomla/joomla-cms/pull/32713

[2021-03-17 13:04] #32623 closed, assigned to nobody

[2021-03-17 13:19] PhilETaylor commented on #31989
whatever, fixed. https://github.com/joomla/joomla-cms/pull/32714

[2021-03-17 13:19] #31989 closed, assigned to nobody

[2021-03-17 14:24] drmenzelit commented on #32700
Closing as we have a PR #32716

[2021-03-17 14:31] gkleissiaris opened #32717 "Article tag URL does not redirect to “Compact List of Tagged Items” Menu Item when other language except from All is selected in the menu item"
### Steps to reproduce the issue
• Install a basic Joomla! 3.9.25
• Installed languages: Greek and English
• Enable multilingual function
• Create a Greek and an English Main Menu
• Create example tags for each language
• Create a category and sub-category for each language
• Create example articles for each subcategory and attach example tags to them
• Create menu items for each language and “Com

[2021-03-17 15:47] richard67 commented on #32567
Closing as having a pull request. Please test #32718 . Thanks in advance.

[2021-03-17 15:47] #32567 closed, assigned to nobody

[2021-03-17 16:21] vivek286 commented on #32578
I want to work on it

[2021-03-17 16:38] Ritwik880 opened #32719 "Create a cookie management system to manage cookies as required by GDPR and other privacy regulations."
### Is your feature request related to a problem? Please describe.
When the cookie is set on the client’s browser , it can persist for days , months or years , This makes it easy to save user preferences & visit information , The cookies are stored on the client’s hard disk , so , if the server crashes , the cookies are still available .

### Describe the solution you'd like
First, we create a fun

[2021-03-17 16:55] variax73 opened #32720 "[4.0] Add next PATH to override other components layouts"
### Is your feature request related to a problem? Please describe.
I need to override in my developed component layout from other component (E.G. "com_categories"). I know there is possiblity in global template but this is not realy usefull.

### Describe the solution you'd like
Please add in standard list PATH to override, one more PATH, to developed component. Now the list looks like thiis:
 '..

[2021-03-17 17:46] alikon commented on #32578
or just run  `/usr/bin/php /path/to/joomla-cms/build/bump.php -v 3.9.whatever`
before packging
https://github.com/joomla/joomla-cms/blob/staging/build/bump.php#L324 should do the trick

[2021-03-17 17:48] PhilETaylor commented on #32578
or... you could **read the actual text of the issue** to understand that would then make it even more factually incorrect /faceplam

[2021-03-17 17:50] PhilETaylor commented on #32578
What ACTUALLY needs doing:

 - Six places in staging need `__DEPLOY_VERSION__` manually replacing with `3.9.25`
 - The places in staging that have `3.9.26` need to be manually replaced with `3.9.25`

[2021-03-17 17:57] NikitaEmberi commented on #30018
Hi, I want to work on this issue but not really understanding where exactly would it be feasible to change the code in order to reflect changes. I have been trying but stuck. Can someone help me on this. Thanks.

[2021-03-17 17:57] alikon commented on #32578
me neither,
i'm just guessing what has gone probably wrong or in a wrong order

[2021-03-17 18:00] joeforjoomla commented on #32719
This is a troll, close it.

[2021-03-17 18:02] brianteeman commented on #32578
More time is spend discussing it and posting screenshots than it would take to fix it

[2021-03-17 18:02] PhilETaylor commented on #32578
@HLeithner I assume knows what he did wrong I assume, it looks like there was an issue with the copyright year, and so the release was prepared, changed and then prepared again without thought to the knock on effects... and with the last min addition to security fixes.

This issue documents the knock on effects and what is needed to ensure that the integrity of the `@since` tags is resolved.

<img

[2021-03-17 18:05] #32719 closed, assigned to nobody

[2021-03-17 18:17] PhilETaylor opened #32721 "Simplify PHP version reported"
### Steps to reproduce the issue

Based on actual feedback today from "a normal user" of Joomla.

install old PHP version and visit admin to see the PHP end of life warning, with a NORMAL EVERY DAY USER of Joomla eyes (not as a PHP developer or expert)

### Expected result

 - We have detected that your server is using **PHP 7.2.34** which is obsolete

### Actual result

<img width="852" alt="Scre

[2021-03-17 18:22] brianteeman commented on #32721
To be clear are you saying that just the version number should be simplified or that the entire message should be simplified to your expected result.

I agree with the php version being simplified

I do not agree that the message itself should be truncated

[2021-03-17 18:30] PhilETaylor commented on #32721
https://github.com/joomla/joomla-cms/pull/32722

[2021-03-17 18:30] #32721 closed, assigned to nobody

[2021-03-17 18:56] drmenzelit commented on #30018
@gaurav24072002 the screenshot shows the page of BreezingForms in the Extensions Directory... what I you trying to do?

[2021-03-17 20:38] variax73 commented on #32720
Because, in my opinion:
- when Administrator adds new template and marks it as default - layouts
overriding is lost;
- there is a need to implements special procedures to install and uninstall
overridden layouts;
- this is complementary to layouts overriding mechanisms for system's
layouts (E.G.
"administrator\components\com_associations\layouts\joomla\searchtools\default.php"
or
"administrator\co

[2021-03-17 21:11] NikitaEmberi commented on #30018
I removed  .icon-download:before, .icon-list:before, .icon-share-alt classes . Now it looks like this:
![image](https://user-images.githubusercontent.com/59737567/111538681-fcbaaf00-8792-11eb-8c54-4e4c0e80fb4f.png)
Would this be fine?

[2021-03-18 00:11] ReLater opened #32725 "[4] Code cosmetic. com_content article default.php"
### Steps to reproduce the issue
- See https://github.com/joomla/joomla-cms/blob/4.0.0-beta7/components/com_content/tmpl/article/default.php#L43
- - ` && $this->item->pagination` can be removed. "If it's not empty then it is and we don't have to check again if it is."
- See https://github.com/joomla/joomla-cms/blob/4.0.0-beta7/components/com_content/tmpl/article/default.php#L49-L51
- - Remove comm

[2021-03-18 03:25] ashuydv commented on #30018
Can I work on fixing this issue??

[2021-03-18 05:37] #30367 closed, assigned to nobody

[2021-03-18 06:12] gaurav24072002 commented on #30018
I made `a[target=_blank]:before` as display: none; and it looked like this:
![image](https://user-images.githubusercontent.com/77109758/111581087-a6735d80-87de-11eb-96a5-7335be93e56d.png)

Now we don't have two icon . Is this fine ?

[2021-03-18 06:25] drmenzelit commented on #32711
Closing this as we have a PR #32726

[2021-03-18 06:25] #32711 closed, assigned to srishty-07

[2021-03-18 07:18] Ayushsunny commented on #31540
Is this issue still persist?

[2021-03-18 07:22] infograf768 commented on #32700
My proposal above https://github.com/joomla/joomla-cms/issues/32700#issuecomment-800896215 is wrong.

[2021-03-18 07:41] infograf768 commented on #32700
Maybe this will be OK

https://github.com/joomla/joomla-cms/pull/32716#issuecomment-801703473

Reopening

[2021-03-18 08:28] infograf768 commented on #30018
@gaurav24072002

I think your solution is fine.

Adding in  `/administrator/templates/atum/scss/blocks/_icons.scss`

[code]
or
[code]
Then running npm ci
will do the job.

[2021-03-18 09:23] rjharishabh commented on #31473
@PhilETaylor where can find Joomla 4 repo.
I have cloned Joomla 3.x repo, but I want to work on some known issues related to Joomla 4.x

[2021-03-18 09:38] infograf768 commented on #30018
The code to modify is here
https://github.com/joomla/install-from-web-server/blob/4479cb21830d8a6a1e898e8c4394f4ea2bd29859/components/com_apps/layouts/apps/j4/extensions_full.php#L120-L143

[2021-03-18 09:49] gaurav24072002 commented on #30018
@infograf768 Thanks for you help.. I am on it..

[2021-03-18 09:58] drmenzelit commented on #31473
After cloning you need to check out the 4.0 branch

[2021-03-18 10:00] brianteeman commented on #31473
https://github.com/joomla/joomla-cms/blob/4.0-dev/README.md

[2021-03-18 10:13] infograf768 commented on #30018
Modifying in the external app to get 2 icons will also require some padding

<img width="598" alt="Screen Shot 2021-03-18 at 11 11 11" src="https://user-images.githubusercontent.com/869724/111609655-cf91ef00-87da-11eb-9075-e2d4d1bfdf1c.png">

Taking off the icon is maybe the simplest way there.

[2021-03-18 10:48] rjharishabh commented on #31473
Thanks sir

[2021-03-18 12:14] jaiswalpalak opened #32729 "Add "Dark mode" button in you website"
I want to add a dark mode button in your website please issue this to me because i want to contribute for my gsoc2021 and i am new here

[2021-03-18 12:24] rdeutz commented on #32729
I think this is something we need to discuss first. Beside this we can have different Styles for a template.

[2021-03-18 12:24] #32729 closed, assigned to nobody

[2021-03-18 12:31] rdeutz commented on #32725
agreed

I think it's there from an older version, can be removed

agreed

Can you make a PR?

[2021-03-18 12:48] PhilETaylor commented on #32578
#32731

[2021-03-18 12:48] #32578 closed, assigned to nobody

[2021-03-18 14:11] gorgonz opened #32732 "batch process in "users" doesn't assert, that a user is at least member of one group"
### Steps to reproduce the issue
- create a new user
- verify, that the user is member of public
- now select this user and push button "batch"
- In the dialog select "public" as group, activate option "delete from group" and password option "no action"
- execute

### Expected result
an error message like "the user must be member of at least one group"

### Actual result
the batch is done and the

[2021-03-18 14:15] ReLater commented on #32725
I'll do when I find time. Maybe some days... Against which branch?

[2021-03-18 14:46] szoupi opened #32733 "An error has occurred after installing non compatible with Joomla! 4 component"
### Steps to reproduce the issue
Try to install a Joomla! 3.x component. In this case gantry5 framework joomla-pkg_gantry5_v5.4.36.zip through System > Extension install

### Expected result
The action should be forbidden. Message should appear and user should be redirected to back to previous state.

### Actual result
- Installation is interrupted. Message appears:
An error has occurred.
0 Call t

[2021-03-18 14:54] ReLater commented on #32733
How should Joomla know if an extension isn't compatible? It's the job of the programmers to protect users from such disasters.. That can be easily managed by installer scripts and /or update manifests.

Just because an extension is not explicitly marked as "Joomla 4 compatible" that doesn't mean that it is not compatible.

[2021-03-18 15:07] david19161 opened #32734 "[4.0] Media Manager cant insert in content unless logged in as admin"
### Steps to reproduce the issue
1. Ensure you are not logged into site administrator
2. Login to front-end of site as super user
3. Edit any article and click Image in the CMS Content dropdown to bring up Media Manager
4. Select and attempt to insert any image

### Expected result
Image is inserted into content

### Actual result
Nothing happens.
Using browser console in Firefox shows [HTTP/1.1 4

[2021-03-18 15:22] ChristineWk commented on #32733
See also: #31825  <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32733">issues.joomla.org/tracker/joomla-cms/32733</a>.</sub>

[2021-03-18 15:22] rdeutz commented on #32725
4.0-dev

[2021-03-18 15:29] sksuryan commented on #32627
![image](https://user-images.githubusercontent.com/42460131/111651349-270c7b00-882c-11eb-927d-073a16bca9d6.png)

@Bond97 looks pretty responsive to me, not sure what's causing it. I have tested it using Microsoft Edge and Mozilla Firefox.

[2021-03-18 15:41] brianteeman commented on #32627
@sksuryan exactly as the title says

[2021-03-18 15:53] sksuryan commented on #32627
![image](https://user-images.githubusercontent.com/42460131/111654736-07c31d00-882f-11eb-84b7-a158bab07e51.png)
![image](https://user-images.githubusercontent.com/42460131/111655234-7902d000-882f-11eb-882d-0ecccb21bcc9.png)

oh my bad sorry, I saw the screenshot and thought it was overflowing, but even in that case @brianteeman I think it's just because it was selected. Otherwise, it's totally fin

[2021-03-18 16:00] chmst opened #32735 "[4.0] Modal Batch in users is not complete"
### Steps to reproduce the issue
In users - manage select one or more users and click the action "batch".

### Expected result
A modal like in J3, where actions on the selected group can be performed.
<img width="504" alt="j3-users-batch" src="https://user-images.githubusercontent.com/1035262/111656698-0da70700-880b-11eb-9ec8-f535d7ce4dd4.PNG">

### Actual result
Missing actions for groups
<img wi

[2021-03-18 16:11] szoupi commented on #32733
I tested with a component that that was written and tested for J3x. The component's programmers cannot be held responsible for future versions of Joomla! code, the code of which are unaware of, it is impossible. I suggest that installation process should not start if minimum requirements are not met, eg explicit J4 compatibility  or whatever, otherwise accidentally J3.x component installation coul

[2021-03-18 16:40] jwaisner commented on #32733
Closing this as #31825 defines the changes that can be recommended to ensure compatibility with J4, but not a bug.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32733">issues.joomla.org/tracker/joomla-cms/32733</a>.</sub>

[2021-03-18 16:40] #32733 closed, assigned to nobody

[2021-03-18 16:49] drmenzelit commented on #30018
After some discussions in the maintainer team, we think the best way to solve this issue is to move the external link icon after the text of the button: decorative icon - text - external link... That is more or less standard in web.

[2021-03-18 17:37] C-Lodder commented on #30018
lol

[2021-03-18 18:22] gaurav24072002 commented on #30018
But what I suggested also looked fine according to me but it's ok we can also move the external icon towards right of text . can you please assign this issue to me . as I am working on this issue for long and I know the code base of it.

[2021-03-18 18:46] dgrammatiko commented on #32720
So, since you already coded your component then why don't you implement that yourself, eg https://github.com/joomla/joomla-cms/blob/2dab92fdb41d3cff0b7513473bf918f34852a69a/administrator/components/com_media/controller.php#L33-L68

There's nothing missing from the API's perspective that stops you doing whatever you want with your layouts

[2021-03-18 18:51] gaurav24072002 opened #32737 "Hovering effect on user menu"
we should add a hovering effect on ``user menu`` button to make it more accessible for user to open it rather then clicking it to open.

![gsoc user menu](https://user-images.githubusercontent.com/77109758/111680774-9001ec00-8848-11eb-98fc-9076b897402e.JPG)

![gsoc user menu2](https://user-images.githubusercontent.com/77109758/111681036-dce5c280-8848-11eb-9516-e13662db70be.JPG)

[2021-03-18 18:59] rdeutz commented on #30018
@gaurav24072002 we don't use assiging so often, I assign issues/PR to not forget what I have to look at. You can make a PR and set it to draft that should be enough, if you then mention the issue in your PR people can see that you are working on it.

[2021-03-18 19:03] PhilETaylor opened #32738 "[4] NPM "3 high severity vulnerabilities""
### Steps to reproduce the issue

git checkout 4.0-dev
npm ci

### Expected result

No vulnerabilities in dependancies.

### Actual result

[code]

### System information (as much as possible)

Mac.

### Additional comments

Im aware that this is an ongoing issue, I wonder if there is now a plan on how the project will be dealing with this via automation going forward?

running `npm audit fix --fo

[2021-03-18 19:08] gaurav24072002 commented on #30018
ok sure 😅

[2021-03-18 19:09] dgrammatiko commented on #32738
@PhilETaylor just run `npm audit fix` and merge back the package.json and the lock file (this should be automated for minor patch version)

[2021-03-18 19:10] PhilETaylor commented on #32738
so we need a manually created PR when someone can be bothered to at the moment ? :-) is that what you mean by Merge Back ?

[2021-03-18 19:12] alikon commented on #32738
we just need a clear statement on what are the minimum requirements for node npm etc....
just that

[2021-03-18 19:14] PhilETaylor commented on #32738
https://github.com/joomla/joomla-cms/pull/32739

[2021-03-18 19:35] richard67 commented on #32737
@gaurav24072002 You mean hover effect on the button which opens the menu? Or on the single menu items? For the buttons there is already a pull request to change it: #32726 .

[2021-03-18 19:38] gaurav24072002 commented on #32737
@richard67  I mean whenever we hover our mouse cursor on user menu icon it itself will open the drop down menu for user rather then clicking on it.

[2021-03-18 19:42] richard67 commented on #32737
@gaurav24072002 Then you should write that. You wrote you want a hover effect, and that's something else. And why do you think it is more accessible?

Bootstrap came away from their drop down menus opening on hover. @brianteeman Do you know what was the reason? I don't remember if right now.

[2021-03-18 19:43] richard67 commented on #32737
Ah, I just see I was reading a bit too fast, you wrote it at the end of the sentence.

But still I think it's not a good idea.

[2021-03-18 19:44] PhilETaylor commented on #32738
Reopening as #32739 failed and a new major version of something is being installed ...

[2021-03-18 19:45] gaurav24072002 commented on #32737
But I have seen many websites with this feature and it looks very handy for a user too...

[2021-03-18 19:46] dgrammatiko commented on #32738
Actually, at some point, someone needs to bite the bullet and update vue to version 3. Anyways I'll check if there's a workaround here (obviously I'm not willing to do the vue upgrade)

[2021-03-18 19:58] richard67 commented on #32737
From [https://getbootstrap.com/docs/4.0/components/dropdowns/](https://getbootstrap.com/docs/4.0/components/dropdowns/), just the first paragraph in section "Overview" at the top :

Following the link behind the "intentional design decision" there leads to:

https://markdotto.com/2012/02/27/bootstrap-explained-dropdowns/

This explains it, and I agree with it: It is bad UX if something needs to be

[2021-03-18 19:59] dgrammatiko commented on #32738
Not that easy, anyways PR: https://github.com/vuejs/rollup-plugin-vue/pull/433

[2021-03-18 20:02] richard67 commented on #32737
By the way, just in case you don't know yet: Joomla doesn't only allow the default templates which come with the release. Joomla allows to use template from 3rd party on frontend and backend.

So there is no need for making the default templates shipped with the release to mact everybody's taste (which is impossible anyway).

If someone is not happy and wants dropdown which opens on hovering or wh

[2021-03-18 20:04] richard67 commented on #32250
Re-opening the issue since it turned out that the PR doesn't solve all inconsistencies.

[2021-03-18 20:11] PhilETaylor commented on #32738
Thanks for taking a look. I know my own limitations :)

[2021-03-18 21:25] ReLater commented on #32733
They are responsible. Joomla 4 can be tested for years.. And as I've said it's not too difficult to block installation on Joomla 3 in an extension. 10 additional lines of code. OR TO MARK THE EXTENSION ACCORDINGLY on download pages which is not the case with Gantry 5.

[2021-03-18 21:34] PhilETaylor opened #32741 "[3] Export Selected as CSV Button Wrap"
### Steps to reproduce the issue

Probably a `won't fix` this late in the development cycle of Joomla 3.x but reporting anyway.

Install Joomla 3.9.25
Enable Action Logs and browse around to generate some actions
Visit Users -> Action Log
Look at the toolbar

### Expected result

No wrapping of the "Export Selected as CSV" button

### Actual result

<img width="698" alt="Screenshot 2021-03-18 at 2

[2021-03-18 21:38] chmst commented on #32737
Such hovering effects are not used in JoomlaThey are nice and fancy but they are not a11y. How sees or hears a blind user what happens?
Hover effects are also  bad for users with motoric disabilities who use keyboard or cannot move the mouse as we do.

[2021-03-18 21:38] #32737 closed, assigned to nobody

[2021-03-19 04:23] pank1999 commented on #31473
i want to contribute and try to resolve this issue please assign this task to me

[2021-03-19 04:26] pank1999 commented on #31540
i want to solve this issue please guide me

[2021-03-19 07:04] alikon commented on #31473
unable to replicate this with php 8 in 3.9.26-dev

[2021-03-19 08:02] variax73 commented on #32720
Again. In Joomla4 I want to use the 'com_category' component in my
programmable component (com_myComponent). In the manifest file, I create a
menu item: "... <menu link = "option = com_categories & amp; extension =
com_myComponent.itemstype" view = "categories" > COM_MYCOMPONENT_ITEMS_TYPE
</menu> ... ". This entry calls com_categories with its own layout files.
The question is, how can I overwrit

[2021-03-19 09:30] saumyasarkar11 commented on #32725
I have made the requested PR

[2021-03-19 10:49] drmenzelit commented on #32700
I'm closing the issue since it is the expected behaviour of a btn-group to have the buttons together without space between them: https://getbootstrap.com/docs/5.0/components/button-group/

Feel free to re-open if you think the btn-group is wrong here.

[2021-03-19 10:49] #32700 closed, assigned to nobody

[2021-03-19 10:53] drmenzelit commented on #32725
Closing as we have a PR #32746

[2021-03-19 10:53] #32725 closed, assigned to nobody

[2021-03-19 14:43] Akashrajpoots14 commented on #32741
Hey ! I am interested to solve this issue but when I go to the required instruction everything looks fine to me . @C-Lodder  Please see the [screenshot:
<img width="775" alt="joomla3 25 bug" src="https://user-images.githubusercontent.com/73773797/111797895-e0834480-885c-11eb-85d2-ede481f4e338.png">

[2021-03-19 14:46] PhilETaylor commented on #32741
Try safari on Mac

Sent from my iPhone

[2021-03-19 16:35] joomdonation commented on #32735
@sksuryan Do you want to take this one? Look like these lines of code are missing https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_users/views/users/tmpl/default_batch_body.php#L41-L43

Just add the above lines of code below this line https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_users/tmpl/users/default_batch_body.php#L45 should addre

[2021-03-19 16:37] sksuryan commented on #32735
sure will do!

[2021-03-19 17:16] alikon commented on #32735
please test #32749

[2021-03-19 17:16] #32735 closed, assigned to nobody

[2021-03-19 18:47] PhilETaylor commented on #32734
hmmm... this echos some of the media bugs I reported, and others fixed, before...

[2021-03-19 18:48] PhilETaylor commented on #32734
hmmm... this echos some of the media bugs I reported, and others fixed, before...

https://github.com/joomla/joomla-cms/issues/32259
https://github.com/joomla/joomla-cms/issues/30005

related?

[2021-03-19 21:16] philip-sorokin opened #32750 "A progress bar after installing demo data is not collapsing"
### What needs to be fixed

The progress bar must be hidden once the data is installed.

### Why this should be fixed

Visible active progress bar is confusing users, they think the installation is not over and waiting.

### How would you fix it

Just hide this progress bar right after installation.

![2021-03-19_23-53-20](https://user-images.githubusercontent.com/11632367/111843017-77113d80-8911-

[2021-03-19 21:24] philip-sorokin opened #32751 "Subform field type buttons are too close to each other"
### What needs to be fixed

Add a space between the buttons.

### Why this should be fixed

On mobile devices, it's almost impossible to press on such buttons.

### How would you fix it

Add a margin.

### Side Effects expected

No.

![2021-03-19_23-54-07](https://user-images.githubusercontent.com/11632367/111843628-9492d700-8912-11eb-90e6-636931980150.png)

[2021-03-19 21:32] philip-sorokin opened #32752 "Radio buttons with J3 attributes "showon" and classes "btn-yes-no" are not working."
### Steps to reproduce the issue

1. Create a radio form field, add the classes "btn-group btn-yes-no".
2. Create several another fields, for example, text or number. Set them all attributes: showon="mainField:2".

### Expected result

Hidden fields are hidden on initialization. They appear when pressing right radio button.

### Actual result

They are not hidden and not appearing, radio buttons a

[2021-03-19 21:54] Quy commented on #32752
Please test using the nightly builds: https://developer.joomla.org/nightly-builds.html

[2021-03-19 21:58] philip-sorokin opened #32753 "JSON data stored in the database in non ASCII languages is too long."
### Is your feature request related to a problem? Please describe.

I have a module, users put into a subform field type some text in unicode. As the data is stored in JSON format (module params), its size is increasing by three times, because a json_encode function is escaping all unicode characters. My 23 KB file is becoming more than 64 KB and is not fit into limit MEDIUMTEXT. I see it's fixed

[2021-03-19 22:20] brianteeman commented on #32753
If I remember correctly then JSON_UNESCAPED_UNICODE will not work with utf8

[2021-03-20 04:21] hitesh-coder commented on #32751
@philip-sorokin could you please provide steps to reproduce this issue

[2021-03-20 05:06] sandramay0905 commented on #32750
This is a duplicate Report of closed Issues #24459, #25963.

[2021-03-20 08:45] Fedik commented on #32753
if database table will have non UTF8 collation, it will explode.
And/Or while table export/import by some tool that may break non escaped UTF symbols.

[2021-03-20 09:20] Fedik commented on #32694
please test #32755

[2021-03-20 09:21] alikon commented on #32694
closing as we have a pr #32755

[2021-03-20 09:21] #32694 closed, assigned to nobody

[2021-03-20 09:50] Fedik commented on #17515
please test #32756

[2021-03-20 09:54] alikon commented on #17515
closing as we have a pr #32756

[2021-03-20 09:54] #17515 closed, assigned to nobody

[2021-03-20 11:31] rdeutz commented on #32170
closing because we have a PR #32757

[2021-03-20 11:31] #32170 closed, assigned to nobody

[2021-03-20 12:33] NikitaEmberi commented on #32190
@Quy thanks for your help. It helped me solve the issue.

[2021-03-20 13:54] philip-sorokin commented on #32753
@Fedik all Joomla! tables in  utf8mb4 encoding. Some 3-party components in Joomla! 2.5 and Joomla 3 may have another encoding, but we are talking about Joomla! 4, it's not covering these components without proper encoding.

[2021-03-20 13:55] philip-sorokin commented on #32751
@hitesh-coder just create a subform field with several inputs.

[2021-03-20 14:05] Quy commented on #32190
@NikitaEmberi There are more like this. Please do a find and fix. Thanks.

[2021-03-20 14:05] #32190 closed, assigned to nobody

[2021-03-20 14:48] NikitaEmberi commented on #32190
@Quy sir there were merge conflicts with the pr issued. Do I need to solve them? I see this issue is now closed...

[2021-03-20 16:18] joomdonation commented on #31473
@PhilETaylor Could you please check to see if you still get this error with latest Joomla 4.0-dev? I could not re-procedure this issue anymore

[2021-03-20 16:37] Quy commented on #32190
@NikitaEmberi The procedure is to close the issue when there is a PR for it.

[2021-03-20 18:29] richard67 commented on #32542
@brianteeman The first PR for staging is ready: #32606 . I'd be happy if you could test. Thanks in advance.

[2021-03-20 18:32] PhilETaylor commented on #31473
I cannot replicate this, in todays (8f9fac668cb27489c85daa9301d0cb383f96a5ba) Joomla `staging` branch, based on the "Steps to reproduce the issue" provided by @HLeithner in opening this issue last year.

However, This same problem was reported by me in Joomla 4 (https://github.com/joomla/joomla-cms/issues/31925) and was replicated by others and ultimately fixed (https://github.com/joomla/joomla-cm

[2021-03-20 19:16] david19161 commented on #32734
Yes Phil, I saw your previous reports and wondered why the issue had been closed

This particular issue is maybe caused by the administrator path being hard-coded into the iamge select endpoint as follows:

file : media/system/js/fields/joomla-image-select.js
line : 195

const apiBaseUrl = `${Joomla.getOptions('system.paths').rootFull}administrator/index.php?option=com_media&format=json`;
<hr /><s

[2021-03-20 19:19] PhilETaylor commented on #32734
that was changed in some places like `build/media_source/system/js/fields/joomla-field-media.w-c.es6.js` in https://github.com/joomla/joomla-cms/pull/30617/files

Maybe one instance was missed.

Paging @SharkyKZ who worked on that.

[2021-03-20 20:16] richard67 commented on #32542
@brianteeman The PR for 4.0-dev is ready now, too: #32608 . I'd be happy if you could test that one, too. Thanks in advance.

[2021-03-20 20:36] richard67 commented on #32542
@brianteeman The PR for 3.10-dev is ready now, too: #32607 . I'd be happy if you could test that one, too. Thanks in advance.

In opposite to the other two PR's mentioned before, this one can be easily tested by code review. But I'd prefer it do be done by someone who has tested one of the other two PR's before, so he or she is aware of the issue and how it is fixed.

[2021-03-20 20:37] richard67 commented on #32542
Closing as having the three pull requests mentioned in my previous three comments. Please test. Thanks in advance.

[2021-03-20 20:37] #32542 closed, assigned to richard67

[2021-03-21 06:20] joomdonation commented on #31473
@PhilETaylor Actually, after looking carefully at the code, I can re-procedure the issue myself. The error happens when there is no menu item created to one of the options:

- List All Categories
- Category List
- Category Blog

And category is accessed via Articles - Categories module. The actual error causes by some changes in php 8:

- Before php 8: $cateogory->id > 1 return false for root cate

[2021-03-21 06:58] joomdonation commented on #31473
So I made two PRs: one for staging https://github.com/joomla/joomla-cms/pull/32767 and one for 4.0-dev https://github.com/joomla/joomla-cms/pull/32768 . We can close this issue now.

[2021-03-21 06:59] alikon commented on #31473
please test #32767 and #32768

[2021-03-21 06:59] #31473 closed, assigned to nobody

[2021-03-21 10:04] joomdonation commented on #30217
@brianteeman Could you please take a quick look at this PR https://github.com/joomla/joomla-cms/pull/32771 to see if it address your concern?

[2021-03-21 10:09] anurag806 commented on #32752
we need to recreate the radio button

[2021-03-21 10:14] hitesh-coder opened #32772 "Edit button appears twice in front-end"
## Steps to reproduce this issue
Open joomla frontend page and at the top-right corner you will see two edit button appearing

### What needs to be fixed
<img width="1440" alt="Screenshot 2021-03-21 at 3 37 50 PM" src="https://user-images.githubusercontent.com/58116679/111901095-e4c98080-8a5b-11eb-8a7b-dfc593e0d717.png">

### Why this should be fixed
I Think it is a mistake that edit button is app

[2021-03-21 10:16] brianteeman commented on #32772
This is a known bug and its a layout problem not a duplicate button which you will see if you click on both buttons. One is for the module settings of the main menu module. The other is for the modules settings of the breadcrumbs module

[2021-03-21 10:22] sandramay0905 commented on #32772
@hitesh-coder see https://github.com/joomla/joomla-cms/pull/32757#issuecomment-803300900

[2021-03-21 10:34] rdeutz commented on #32772
not a bug or dublicate

[2021-03-21 10:34] #32772 closed, assigned to nobody

[2021-03-21 11:08] richard67 commented on #32753
Not in all scenarios. There is one valid scenario which is the reason why we still have the utf8mb4 conversion in J4. If someone is on J3.10 and migrates his or her database from an old MySQL or MariaDB server which doesn't support utf8mb4 to a newer one which does, then he or she doesn't check in "Extensions -> Manage -> Database" that there are database problems (missing utf8mb4 conversion) and

[2021-03-21 11:10] richard67 commented on #32753
In general with database things we have to keep in mind the updating process from older versions. We can't just assume everybody runs a newly installed J4 where things may be fine, we also have to consider scenarios like the above.

[2021-03-21 12:24] rdeutz commented on #30546
@richard67 close this when we have PRs for all problems that came up with this issues, I removed the release blocker label meanwhile because the biggest problem is solved.

[2021-03-21 12:28] richard67 commented on #30546
@rdeutz Ok, will do so if remaining open things (PR for some post install message and same or other PR for showing some info in the pre-update checker, both pointing to some documentation to be done, too) are ready. I have it in preparation.

Agree. I just didn't want to decide that alone, that's why I haven't done that before.

[2021-03-21 14:15] richard67 commented on #30217
Closing as having a pull request. Please test #32771 . Thanks in advance.

[2021-03-21 14:15] #30217 closed, assigned to nobody

[2021-03-21 20:06] jwaisner opened #32787 "[4.0-dev] [PHP 8.0.0] Creation of Articles hangs"
### Steps to reproduce the issue

1. Have a setup using PHP 8.0.0
2. On a clean install, attempt to create an article
3. Notice the browser seems to be doing something but nothing happens
4. Check MySQL database and see the article has been added to the database
5. Go back to backend and check articles. Notice no articles listed.

I was able to change to PHP 7.4.13 and the issue went away so seems

[2021-03-21 20:11] PhilETaylor commented on #32787
Im sorry I cannot replicate this with PHP 8.0.3 and `4.0-dev` - Do you have any Javascript Console Error messages or PHP error logs ?

<img width="530" alt="Screenshot 2021-03-21 at 20 09 57" src="https://user-images.githubusercontent.com/400092/111919351-7697b480-8a81-11eb-8bd0-e1d66e347ea5.png">

[2021-03-21 20:22] PhilETaylor opened #32788 "[4] Dragging item causes icons to misplace"
### Steps to reproduce the issue

Try to drag a menu item or content item in Joomla 4 admin

### Expected result

circle based icons retain their inner icons

### Actual result

circle based icons inner icons are offset to the bottom and right of the circle - easier to see in this video:

![Screen Recording 2021-03-21 at 08 20 33 pm](https://user-images.githubusercontent.com/400092/111919678-21f53

[2021-03-21 20:43] PhilETaylor opened #32790 "[4] Batch allows invalid data input in redirects"
### Steps to reproduce the issue

in com_redirect `/administrator/index.php?option=com_redirect` create a new Redirect Link with

 `Expired URL` = "123"
 `New URL` = "123"

Click SAVE, correctly note that there is an error : "Save failed with the following error: The source and destination URLs can't be the same."

<img width="723" alt="Screenshot 2021-03-21 at 20 43 42" src="https://user-images.g

[2021-03-21 20:56] PhilETaylor opened #32791 "[4] One click publishing allows invalid data input in redirects"
### Steps to reproduce the issue

enable the Redirect plugin in Joomla 4.

Visit example.com/hahahhaha (note its a 404 error, this is correct)

refresh the list of links in the admin console for the Redirects /administrator/index.php?option=com_redirect

see `hahahhaha` in the list

Click the (X) next to it

### Expected result

Validation Error! There is no "New Url" and so its invalid to be able

[2021-03-21 21:14] brianteeman commented on #32788
Confirmed on chrome windows

[2021-03-21 21:19] PhilETaylor opened #32793 "[4] Redirect is really only a redirect if status is 300-399, new url is never used else"
### Steps to reproduce the issue

So this is a logic thing.

in com_redirects we allow the entry of an old (called Expired) Url and a New URL, in advanced mode (enabled in options) we allow a Redirect Status Code also.

Now, if you enable advanced mode, you still have the Expired URL field and the New URL field but you can select ANY valid HTTP Response code from he dropdown from 100 to 511

Howev

[2021-03-21 21:45] jwaisner commented on #32787
Yes, the close button does return me to the list of articles. I am not seeing any errors in JS console. PHP log has no errors to report either.

[2021-03-21 21:54] PhilETaylor opened #32794 "[4][Mobile] Action toggle icon covers search go button"
### Steps to reproduce the issue

On iPhone 11 Pro iOS 14.3 (and I assume all small screens, indeed Safari on Mac squashed does it)

The Cog Icon for the collapsed action buttons menu overlaps the search button meaning people with fat fingers (cough) cannot press the search button

### Expected result

Useable

### Actual result

<img width="476" alt="Screenshot 2021-03-21 at 21 52 01" src="https:

[2021-03-21 21:59] PhilETaylor opened #32795 "[4][Mobile] Form validation error message not in view"
### Steps to reproduce the issue

When on mobile, and completing a form, and attempting to submit it, there is no on screen feedback that the form failed validation unless one closes the button action drawer and scrolls all the way up the page, or seeks out the validation error field.

### Expected result

The button action drawer closes on button press
Scroll into view the first field that is in

[2021-03-21 22:00] chmst commented on #32788
Confirmed on firefox

[2021-03-21 22:04] PhilETaylor opened #32796 "[4][Mobile] zero padding on top of messages at top of page"
### Steps to reproduce the issue

As well as the Cog Icon covering up part of the feedback messages (see:  https://github.com/joomla/joomla-cms/issues/32794 ) there is no padding at the top of the messages.

See actual result for example:

### Expected result

Padding maybe...

### Actual result

<img width="558" alt="Screenshot 2021-03-21 at 22 02 06" src="https://user-images.githubusercontent.co

[2021-03-21 22:07] PhilETaylor commented on #32796
<img width="492" alt="Screenshot 2021-03-21 at 22 07 23" src="https://user-images.githubusercontent.com/400092/111922467-d5fdc080-8a91-11eb-8eb3-5256613d3879.png">

[2021-03-21 22:09] PhilETaylor commented on #32796
<img width="498" alt="Screenshot 2021-03-21 at 22 09 02" src="https://user-images.githubusercontent.com/400092/111922503-0f363080-8a92-11eb-83d9-fbe728add7d9.png">

[2021-03-21 22:15] PhilETaylor opened #32797 "[4][Mobile] New Edit Mail Template screens not mobile friendly"
### Steps to reproduce the issue

 iPhone 11 Pro iOS 14.3 (Simulated)

System -> Mail Templates -> select one, and create a new template for it

### Expected result

The ability to create/edit Mail Templates while on small mobile devices

### Actual result

The EDIT toggles are below the fields and the screen is extremely wide on a small phone, no padding

<img width="480" alt="Screenshot 2021-03-

[2021-03-21 22:15] Hackwar commented on #31313
Tested as well and works as expected.

[2021-03-21 22:49] richard67 commented on #30744
Closing as having a pull request. Please test #32798 . Thanks in advance.

[2021-03-21 22:49] #30744 closed, assigned to nobody

[2021-03-21 23:18] wilsonge commented on #31490
OK Functionally things seem to work again. I'm leaving the issue open because it probably still needs further code review. But I'm removing the release blocker tag

[2021-03-21 23:30] brianteeman commented on #31490
and what about the FTP stuff?
Thats part of the update component and there has been nothing proposed for that at all

[2021-03-21 23:31] brianteeman commented on #32795
Not just on mobile. The same problem exists on desktop views

[2021-03-21 23:54] wilsonge commented on #31490
What's broken with the FTP stuff? As far as I'm concerned nothing should have changed there between J3.x and 4.x?

[2021-03-22 05:13] joomdonation commented on #32787
I'm using PHP 8.0.1 and could not replicate this, too. It is working well for me.

[2021-03-22 06:03] hitesh-coder commented on #32794
hey @PhilETaylor instead of adding padding i think we should make cog icon smaller and place it at top-right corner. As this problem appears at more places i think this would be best way. If this sounds good please let me know i would love to try this or any other suggestion you would prefer

[2021-03-22 07:42] brianteeman commented on #31490
For a start if you select FTP then you dont get prompted for the ftp username and password

[2021-03-22 08:09] joomdonation commented on #31490
PR https://github.com/joomla/joomla-cms/pull/32799 should fix that issue.

[2021-03-22 08:51] codeswithroh commented on #32797
Could you help me find the code-base for this problem ?

[2021-03-22 09:09] manakwadhwa2002 opened #32800 "Readme.md file in the staging branch need copyright modification from 2020 to 2021"
### What needs to be fixed
Readme.md file in the staging branch need copyright text change from 2020 to 2021

### Why this should be fixed
As this is year 2021 not 2020 so it needs to be updated

### How would you fix it
Simply change the text in readme.md file in staging branch

### Side Effects expected
No side effect expected

[2021-03-22 09:11] rdeutz commented on #32800
done https://github.com/joomla/joomla-cms/commit/1b07d3ccd6a968e924a6f8064a4cd8c88503311c

closing

[2021-03-22 09:11] #32800 closed, assigned to nobody

[2021-03-22 09:31] shanmukhi678 commented on #32796
were is the code how you are checking the issues

[2021-03-22 09:45] manakwadhwa2002 opened #32801 "Change copyright text of branches and align it with staging branch"
### What needs to be fixed
Add text to the Readme.md file of other branches and align it with staging branch in order to maintain symmetry amoung all branches.

### Why this should be fixed
It look good in reading the documentation of any version of any branch.

### How would you fix it
Add the text to readme.md file

### Side Effects expected
No side effects expected

[2021-03-22 10:00] brianteeman commented on #32801
1. Changes made in branches are merged up so you dont need to create the same pull request for each branch
2. as of Joomla 4 we are only using the start date
3. You would also need to update the readme.txt

[2021-03-22 10:01] richard67 commented on #32801
Closing as there is a pull request for this issue (which might be closed, too, because it's wrong).

[2021-03-22 10:01] #32801 closed, assigned to nobody

[2021-03-22 10:49] #31313 closed, assigned to nobody

[2021-03-22 11:52] ced1870 opened #32804 "radio button broken in J4Beta7"
### Steps to reproduce the issue
use a standard radio button with the css class "btn-group" as it was in Joomla 3 and Joomla 4 earlier beta

### Expected result
to work

### Actual result
it dislays nice but on click the active button is not rendered correctly. The default value is still active

### System information (as much as possible)
Joomla 4 Beta 7

### Additional comments
it seems related

[2021-03-22 12:10] cloudfaction opened #32805 "Update to J4 gives error JEventDispatcher when searching site"
### Steps to reproduce the issue

update 3.10 to 4 site (4 beta 8 DEV)

### Expected result

when searching in the updated site, get search results

### Actual result

Search produces error: Class 'JEventDispatcher' not found

### System information (as much as possible)

**`#Date: 2021-03-22 12:07:51 UTC
#Software: Joomla! 4.0.0-beta8-dev Development [ Mañana ] 2-February-2021 20:02 GMT

#Fields:

[2021-03-22 12:37] ReLater opened #32807 "Just a test! Ignore issue!"
Just a test! Ignore issue!

[2021-03-22 12:38] ReLater commented on #32807
A second test.

[2021-03-22 12:38] #32807 closed, assigned to nobody

[2021-03-22 12:39] ReLater commented on #32805
All I know is that there was a promise:

Notes on Search (com_search)

( https://docs.joomla.org/Joomla_3.x_to_4.x_Step_by_Step_Migration )

I haven't heard any news about that for a long time.

[2021-03-22 13:39] Quy commented on #32804
Fixed in #32367. -lease test using the nightly builds. https://developer.joomla.org/nightly-builds.html

[2021-03-22 13:39] #32804 closed, assigned to nobody

[2021-03-22 13:47] StarX0406 commented on #32796
@PhilETaylor I would like to contribute to this project can you please assign this one to me.

[2021-03-22 14:03] PhilETaylor commented on #32796
@StarX0406 This project doesnt assign issues to contributors, but feel free to submit a PR and it will be tested by others.

[2021-03-22 15:18] ssnobben opened #32808 "Joomla modern router redirect users to wrong login/logout menu multilanguage"
### Steps to reproduce the issue
In a multilanguage site create users group/user profiles where you have to be registered to see all profiles in site and otherwise instead be rerouted to the register menu/login menu by clicking on the user profile.

If you use Joomla users options>Integration>URL Routing>Legacy it works as expected but not with modern router setting. See attachment.

### Expected

[2021-03-22 15:20] ssnobben commented on #32808
Image attached: ![screen shot 2021-03-22 at 15 20 02](https://issues.joomla.org/uploads/1/b17a22252de676f0b32d42bf282bfc3c.png)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32808">issues.joomla.org/tracker/joomla-cms/32808</a>.</sub>

[2021-03-22 15:20] AlisonAMG commented on #32012
This is absolutely a release blocker. And for me a J4 blocker. I don't get involved in Git but had to come and speak up about this. This takes my control as a site builder without big coding skills and leaves me at the mercy of a template to say how many columns my articles will be displayed in. How on earth is this not a massive break for migration?

[2021-03-22 16:05] ssnobben commented on #32808
I think we solve this issue for now by fixing the different menus options there.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32808">issues.joomla.org/tracker/joomla-cms/32808</a>.</sub>

[2021-03-22 16:05] #32808 closed, assigned to nobody

[2021-03-22 16:17] jwaisner commented on #32787
Hmm... Looks like this issue only occurs with 8.0.0 then. Does anyone have that version to test against to confirm it isnt something (other than version) that is breaking the setup?

[2021-03-22 17:53] Ruud68 commented on #32490
reopening as #32500 is closed

[2021-03-22 17:58] Ruud68 commented on #32490
in the meantime:
"I think your website was hacked....I was searching for a .... article and found some really bad page URLs.

Just go to Google and search on this, with quotes around it:
"https://www....../"

I see 29 results; but if you click on the pages they do  look like legit content....but check out the ends of the URLs!  Awful stuff!  I suspect maybe at some point in the past you got hacked

[2021-03-22 18:14] PhilETaylor commented on #32787
I have now built PHP 8.0.0 from source in a docker container, and although I have several installation issues relating to mysql adapter and pdo adapters to now raise, I still cannot replicate any issue with saving of articles in PHP 8.0.0 exact version

<img width="541" alt="Screenshot 2021-03-22 at 18 13 08" src="https://user-images.githubusercontent.com/400092/112038195-76a7bb00-8b3a-11eb-9a20-4

[2021-03-22 18:16] brianteeman commented on #32490
This should be closed. You have a fix already. Nothing is going to change by closing your fix.

[2021-03-22 18:35] alikon commented on #32490
usually i try to reopen an issue  when the relative pr  is closed
...even if i don't like :smile_cat:

[2021-03-22 18:51] Ruud68 commented on #32490
I closed the pr because it takes the attention away from this (real) underlying issue. The question is: is there an issue? When looking at the urgency of the pr, there isn't... So back to the initial issue at hand.
In the meantime I will be patching sites manually, just as I did for the person who forwarded me the mail his customer send ( the one I quoted above).

[2021-03-22 18:55] brianteeman commented on #32490
@alikon my comment was not addressed at you.

[2021-03-22 19:37] jwaisner commented on #32787
Okay, looks like something in my IDE then with PHP 8.0.0. Closing this as it is not a bug.

[2021-03-22 19:37] #32787 closed, assigned to nobody

[2021-03-22 20:44] jeckodevelopment commented on #32012
Agree with @AlisonAMG
Removing the choice of the number of column makes the whole menu system loosing flexibility

[2021-03-22 20:57] Quy commented on #32752
Fixed in #32367. Please test using the nightly builds. https://developer.joomla.org/nightly-builds.html

[2021-03-22 20:57] #32752 closed, assigned to nobody

[2021-03-22 21:05] rdeutz commented on #32012
I think we need to have the J3 Blog layout as legacy view for an easier update from J3. I think I am not the only one who has used a blog as base and made some overwrites for specific reasons. If we only have the css way (not a bad one to be clear) it will put some more burden on the shoulders of sitebuilder to migrate to J4.

[2021-03-22 21:12] PhilETaylor commented on #32797
PR #32810

[2021-03-22 21:12] #32797 closed, assigned to nobody

[2021-03-22 21:13] Jenniline commented on #32734
Hi @PhilETaylor and @david19161. My name is Jenniline Ebai I am applying for GSOCI 2021 under the Media Manager project. I notice that this issue directly relates to the project. I will like to work on this issue and use it to get acquainted with the Media Manager Project. I have read the discussion and I have tried to understand what this issue means please can you give me some description and di

[2021-03-22 21:14] PhilETaylor commented on #32734
This should be a release blocker like the others were. (@infograf768 @wilsonge)

[2021-03-22 21:16] PhilETaylor commented on #32734
@Jenniline welcome. This might not be a good starting issue as it has history, everything you need to know is linked in this issue, and the two previous issues that have already been resolved. It might be that @SharkyKZ missed one instance of the hard coded path. I steer clear of JS in Joomla so I'll be of no help here :)

[2021-03-22 21:17] Jenniline commented on #32734
okay Thanks

[2021-03-22 21:41] brianteeman commented on #32012
sadly my pleas on the importance of this have fallen on deaf ears for  3 years, ever since the counters were  destroyed by people who believe you must be a front end designer and css guru to be allowed to build a web site with joomla

[2021-03-23 02:35] Flowman opened #32815 "[3.9] MenuRules weird behavior"
### Steps to reproduce the issue

Setup a SEF site.
Create 2 menu items in this order.

- Sign in | index.php?option=com_users&view=login
- Sign out | index.php?option=com_users&view=login&layout=logout&task=user.menulogout

When trying to use an URL with access permission to sign in to the page http://test.com/en/administration/ user will be redirected to the Sign out page instead of the Sign in

[2021-03-23 02:36] Flowman commented on #32815
Forgot to say if you change the menu order it works fine, but in this case I need to have the menus in this specific order and it should still work.

[2021-03-23 03:24] Flowman opened #32816 "[4.0] [3.9] languagefilter automatic language change"
### Steps to reproduce the issue

This is a weird one to explain.

I got a multi language site with associated login menu items. The language filter is configured for automatic language change.

When I am logged out and trying to access a menu item with access permissions https://test.com/en/somepagewithaccess , I will be redirected to the login page. The return URL is set to the correct page I wa

[2021-03-23 07:15] manakwadhwa2002 commented on #32796
#32819 this pull request solves this issue.

[2021-03-23 07:20] alikon commented on #32796
please test #32819

[2021-03-23 07:20] #32796 closed, assigned to nobody

[2021-03-23 07:51] manakwadhwa2002 commented on #32796
@alikon I have tested #32819, just need approvals from team members. If there is any other issue regarding it please let me know

[2021-03-23 07:57] manakwadhwa2002 commented on #32794
@PhilETaylor this pull request resolves this issue #32819.

[2021-03-23 07:58] drmenzelit commented on #32796
@manakwadhwa2002 the process is to wait for "green lights" from the automated tests of the PR and 2 human tests (besides your own). At the moment some automated tests are failing, maybe you can have a look at the details in the PR.

[2021-03-23 08:07] manakwadhwa2002 commented on #32796
@drmenzelit, sure I'll have a look

[2021-03-23 08:07] sonnemondundsterne commented on #32012
In my opinion, the main problem is that here the design is mixed with the logic. These settings belong to the template not to the component.

[2021-03-23 08:12] drmenzelit commented on #32794
Closing as we have a PR #32819

[2021-03-23 08:12] #32794 closed, assigned to nobody

[2021-03-23 08:13] gaurav24072002 commented on #30018
Hey! can anyone please tell me where to find the SCSS file of extensions??

[2021-03-23 08:16] manakwadhwa2002 commented on #32796
@drmenzelit @alikon , I am unable to understand the check fail in #32819. There is some npm error. It would be a great help if you can look at the error and help me resolve it if possible.
Thanks in advance

[2021-03-23 08:22] pi3yeargrad commented on #15629
I was using an old 3.3.6

GoDaddy updated the PHP and my site crashed. They got me back up by rolling the PHP back but a lot of stuff didn't work. They said I had to update joomla. I was doing fine slowly updating up till 3.6.5 and then it said update to 3.9. After that update I can't get into the backend. My site works but I cant make any changes. I tried the:

ALTER TABLE `#__menu_types` ADD COL

[2021-03-23 08:25] Ruud68 commented on #32490
As a follow up to the conclusions stated above: "this is a legacy issue" and "the fix is to not use the legacy router" it isn't.
This is also an issue with the modern router. So switching to the new router is not fixing this vulnerability.
Select the modern router and set it to not remove the article id's.
Both J3 and J4 are affected by this.

[2021-03-23 08:33] brianteeman commented on #15629
@pi3yeargrad please use the forum for support https://forum.joomla.org

[2021-03-23 08:35] brianteeman commented on #32012
@sonnemondundsterne I suggest you think a little bit harder

[2021-03-23 08:55] infograf768 commented on #32734
@david19161
You are correct. Taking off `administrator` in that line solves the issue.

[code]
PR welcome.

[2021-03-23 09:33] mariantanase opened #32820 "Users page is too wide"
### Steps to reproduce the issue
1. Fresh Joomla 4.0.0 beta 8 dev
2. In admin backend, go to "Users". The details page user list is too wide and need to make horizontal scroll.

### Expected result

### Actual result
![screen shot 2021-03-23 at 09 29 39](https://issues.joomla.org/uploads/1/58584d9253ac28a44a31b4dddd191214.png)

### System information (as much as possible)
PHP 7.4.13
Screen resolut

[2021-03-23 09:47] PhilETaylor commented on #32820
Gets even worse if you enable the 2FA features as another column is added.

Discussions:
https://github.com/joomla/joomla-cms/discussions/31915
https://github.com/joomla/joomla-cms/discussions/32549

[2021-03-23 10:35] Nitesh639 commented on #31540
I want to solve this issue.

[2021-03-23 10:47] drmenzelit commented on #32794
We go with #32810 , please test it if possible. Thanks.

[2021-03-23 13:21] jackspairo opened #32823 "Best Taxi Service Provider in Airdrie"
### Steps to reproduce the issue
As opposed to public transportation, taxi services provide a great deal of flexibility. They offer you the flexibility to fly there whenever clients want. They do not even stop constantly, like trains or buses, to pick up and drop off other passengers.

Airdrie taxi provides its services across Canada with high professional drivers. It also facilitates the customer

[2021-03-23 13:28] alikon commented on #32823
spam

[2021-03-23 13:28] #32823 closed

[2021-03-23 15:03] Khanjan04 commented on #32682
Can I work on this issue right now? @brianteeman

[2021-03-23 15:34] Quy commented on #28863
Fixed in #31838

[2021-03-23 15:34] #28863 closed, assigned to nobody

[2021-03-23 16:36] Advaith3600 opened #32824 "Support for insecure password for super admin"
In the 4.x version of the framework, it is mandatory to have a strong password for super admin, to get started with the project. Most people pick some easy password to start with, then when they are ready to deploy, changes to a stronger one. Forcing users to choose a strong password from the beginning reduces the efficiency of a developer.

The solution to this will be to have a button, unchecked

[2021-03-23 16:39] brianteeman commented on #32824
As opposed to reduces the security of the website. I know which I prefer.

[2021-03-23 16:47] Advaith3600 commented on #32824
My suggestion was to give an option to the user for them to decide. Personally, I would definitely prefer security over a bit of extra time that I get from small things. But in this situation, I would stick to a much less secure environment in the time of "development". The option to change the password is still there if they want to at a later point. This way we can ensure both types of users are

[2021-03-23 16:51] brianteeman commented on #32824
1. If the site in online then it must be secure
2. if the site is local then how do you enforce the password to be changed when it is moved online

[2021-03-23 16:53] rdeutz commented on #32824
We are not going to add such an option.

[2021-03-23 16:53] #32824 closed, assigned to nobody

[2021-03-23 16:58] zero-24 commented on #32824
Its not that we have an obscure rules like 2 numbers, 6 symbols 4 uppercase and 2 lowecase just the only requirement to have a minimum if 12 chars. Thats following the recomendation from the international Security Agencys IIRC thats the suggestion from the europen agency.

One could argue that with the DSGVO in place we also have to apply industry standard security practices as well as secure by d

[2021-03-23 17:00] zero-24 commented on #32824
The development argument was also discussed back then. The problem with that is after the development ended such sites get moved up to production so we have that less secure PW on production too.

[2021-03-23 17:08] HLeithner commented on #32824
And if you want you can lower the password min length to 8 characters after installation.

[2021-03-23 18:01] Ganesh163 commented on #32793
![Updated status code](https://user-images.githubusercontent.com/43933478/112195062-88b75580-8c2f-11eb-9447-c46002344e0c.png)
Hi @PhilETaylor. I have added a line in the help text to clearly view your point. Does this work ??

[2021-03-23 19:11] alikon commented on #32012
imho this is, barely a release blocker for j4
..cause..
no one will update to j4  from j3 on day-0
did you ?

[2021-03-23 19:21] rdeutz commented on #32734
Closing because we have a PR #32825

[2021-03-23 19:21] #32734 closed, assigned to nobody

[2021-03-23 20:21] leoalv commented on #32012
@sonnemondundsterne Your idea is not correct, this solution has to be implemented in the component, because com_content is not only used to display a simple blog, it is used for much more along with custom fields. And the number of columns setting is important and should remain no matter what templates you use.

I really don't understand, when you want to implement something so necessary to improv

[2021-03-23 20:25] brianteeman commented on #32012
@alikon it is NOT about upgrades.

[2021-03-23 20:34] redelevencreative commented on #32012
Cat blog menu link currently is amazing. Great options for a site builder to change layouts without having to delve into code

[2021-03-23 20:40] frostmakk commented on #32012
Nobody in their right mind would release a new car model without a decent paint job and all the gauges and switches in place.
I could swear there was a steering wheel here before. Maybe it's mind controlled now?
Where have all the UI people gone?

[2021-03-24 03:44] rs4231199 commented on #32788
I am working on this.

[2021-03-24 04:36] Nitesh639 commented on #32692
can anyone guide me how I work on my local computer?

[2021-03-24 07:09] drmenzelit commented on #32692
@Nitesh639 are you a GSoC student? If yes, please join the students channel in glip.

[2021-03-24 07:41] joomdonation opened #32829 "[4.0] Form data lost when create category fail"
### Steps to reproduce the issue
1. Access to administrator area of your site, try to create a new category
2. In the **Alias** field, enter one of the existing Alias (so that category could not be created)

### Expected result
Error displayed, but previous entered data is kept so that we just have to correct the wrong data and save the category again

### Actual result
Error displayed, all the en

[2021-03-24 07:42] OctavianC opened #32830 "[3.9] PHPMailer creates wrong mail headers with PHP 8"
### Steps to reproduce the issue
- System - Global Configuration - Server - Mail Settings - Mailer should be set to "PHP Mail"
- Run the following code. Make sure images/joomla_black.png exists so that the attachment works (it's there by default)
[code]

### Expected result
An HTML formatted email with an image attachment.

[code]

### Actual result
The result is that the email is missing the "Con

[2021-03-24 07:42] sksuryan commented on #32820
Interesting, because I worked on a similar issue with the mail template, but I'm not able to reproduce this one.

[2021-03-24 07:58] zero-24 commented on #32830
We have to do changes to phpmailer ourself anyway as our version is out of support so can you please send a PR against: https://github.com/joomla-backports/PHPMailer

After thats merged there we have to do a release and update composer to point to our fork.

[2021-03-24 07:59] zero-24 commented on #32830
Ah and did you checked whether that works on php lower than 8 too? Or do we need to do a version conditional?

[2021-03-24 08:04] Khanjan04 commented on #32682
I have tried to solve it according to my understanding. Please have a look and let me know if any changes are required. This is the PR related to this issue https://github.com/joomla/joomla-cms/pull/32831

[2021-03-24 08:11] OctavianC commented on #32830
Just tested this with PHP 7.3.27 and both `\n` and `\r\n` seem to work correctly.

[2021-03-24 08:40] Khanjan04 commented on #32682
I have tried to solve this issue according to my understanding. This is the PR related to it https://github.com/joomla/joomla-cms/pull/32832 Please have a look and let me know if any changes are required.

[2021-03-24 08:59] brianteeman commented on #32829
I think we have had a similar report before regarding the menus

[2021-03-24 09:15] gkleissiaris commented on #32717
As I said before in my previous message, if you want to just overcome the problem and have the tags’ link pointing to the correct URL (a “Compact List of Tagged Items” menu item) that is **/en/news-en/projects-en/projects-with-label-02-en** page and not **/en/component/tags/tag/label-01 page**, you should just change the language of the “Compact List of Tagged Items” menu item from English to All.

[2021-03-24 10:21] Krshivam25 commented on #32829
Hi @joomdonation I would like to contribute please let me know how to start

[2021-03-24 10:22] infograf768 commented on #32717
What is the language filter parameter used in Tags Options?

<img width="723" alt="Screen Shot 2021-03-24 at 11 21 23" src="https://user-images.githubusercontent.com/869724/112294529-3871df00-8c93-11eb-8945-3b6f7da3dc6c.png">

[2021-03-24 10:31] rdeutz commented on #32829
@Krshivam25 this is not how it works. Usualy an issue report is something "Hey I found this". If the reporter knows how to fix it, he/she could have made a PR with a fix. So to start to look into this:

* try to reproduce the issue
* find the code who is resposible
* try to fix it
* make a PR

[2021-03-24 10:43] jsr4id commented on #31859
Can someone recreate and label this?

[2021-03-24 11:17] gkleissiaris commented on #32717
The default, "All". I didn't change it. Should I use "Current"? I didn't know there was such an option.

[2021-03-24 12:20] richard67 commented on #32682
Closing as having a pull request. Please test #32832 . Thanks in advance.

[2021-03-24 12:40] drmenzelit commented on #31859
I can confirm the issue.

[2021-03-24 15:24] Scrabble96 opened #32836 "[3.9.25] missing file /administrator/manifests/packages/pkg_weblinks.xml"
### Steps to reproduce the issue
I use Watchful.net to monitor my Joomla websites.
On my latest scan it's telling me that it is missing a core file:
/administrator/manifests/packages/pkg_weblinks.xml

### Expected result
Not sure. Is it supposed to be there?

### Actual result
No sign of the file in that location

### System information (as much as possible)
J3.9.25, Linux Litespeed web server, PH

[2021-03-24 15:27] sandramay0905 commented on #32836
Isn't weblinks an decoupled extension?

[2021-03-24 15:29] Scrabble96 commented on #32836
I've no idea what 'weblinks' is. The file in question can be found in the Core files here, though.

[2021-03-24 15:42] z3-zalox opened #32837 "Search title results have N chars cutted at the end of string for each quote ou double quote"
### Steps to reproduce the issue
Search an article with quote or double quote on title
example: Foo bar's text

### Expected result
The title result have all chars printed on results
result example: Foo bar's text

### Actual result
actual result example: Foo bar's tex

[2021-03-24 15:48] alikon commented on #32836
no as it is not a core extension, but you can find it here https://github.com/joomla-extensions/weblinks/blob/master/src/administrator/manifests/packages/pkg_weblinks.xml

[2021-03-24 16:43] rdeutz commented on #21277
Closing because we have a PR #25559

[2021-03-24 16:43] #21277 closed, assigned to nobody

[2021-03-24 16:56] ReLater commented on #32837
I think there's already a solution for.
Please test https://github.com/joomla/joomla-cms/pull/32637 and mark it as successfully tested (if it works) to bring it in next Joomla 3.9 release.

[2021-03-24 16:58] #32837 closed, assigned to nobody

[2021-03-24 17:38] Scrabble96 commented on #32836
Um, what's this then?

![image](https://user-images.githubusercontent.com/36987494/112357760-bb149180-8cc7-11eb-8f5a-ee595509d417.png)

[2021-03-24 18:17] alikon commented on #32836
oops :fearful:
my bad didn't check that
i can guess a refuse ?

[2021-03-24 18:27] Scrabble96 commented on #32836
Sorry, I don't know what a 'refuse' means in this context.

[2021-03-24 18:30] ceford opened #32841 "[4.0] How to use Bootstrap components in an article."
### Steps to reproduce the issue

This question arises from a Forum discussion about using Bootstrap modal and carousel 'components' within an article. The user said:

That does not work in Joomla 4 because the javascript for those components is not loaded and I don't see an obvious way to provoke loading. A plugin might be needed - but what trigger to uee?

Test: go to https://getbootstrap.com/do

[2021-03-24 18:31] alikon commented on #32836
weblinks should be decoupled from core iirc...

[2021-03-24 19:25] ReLater commented on #32841
Add HTMLHelper::_('bootstrap.framework'); or JHtml::_('bootstrap.framework'); whereever you want, e.g. in the template index.php.

That will load the whole JS. 14 files or so. Juhuu!

Use JHtml::_('bootstrap.modal'); if you just need the modal JS.

Use JHtml::_('bootstrap.loadCss', true); to load the whole Bootstrap CSS.

Or use the new WebAsset Manager codes. The methods above are a shortcut for

[2021-03-24 19:47] #32841 closed, assigned to nobody

[2021-03-24 20:34] slepoy1 opened #32843 "Smart Search result: Wrong content type sorting"
### Steps to reproduce the issue
In backend > plugins > finder, I sorted plugins to display "Users" at the end of list:
1. Smart Search - EasyBlog Posts
2. Smart Search - EasySocial Videos
3. Smart Search - EasySocial Albums
4. Smart Search - EasySocial Groups
5. Smart Search - EasySocial Users

### Result
But in fact (IN FRONTEND), in search results the latest items is 3. “Smart Search - EasySoci

[2021-03-24 22:37] wilsonge commented on #32805
Search was decoupled. There's a branch here containing the fixes. You should have an update site setup on update - see:  https://github.com/joomla-extensions/search/blob/4.0-dev/src/components/com_search/Model/SearchModel.php

[2021-03-24 22:49] wilsonge commented on #32836
Weblinks file is present in update packages as we didn't install it on old sites. But it should be available to update to a j4 compatible version

[2021-03-24 22:49] wilsonge commented on #32836
See the 4.0-dev branch here https://github.com/joomla-extensions/search

[2021-03-24 23:17] rdeutz commented on #19429
Final bits are done in #32851, closing this

[2021-03-24 23:17] #19429 closed, assigned to nobody

[2021-03-24 23:17] rdeutz commented on #30018
Closing because we have a PR #32851

[2021-03-24 23:17] #30018 closed, assigned to nobody

[2021-03-25 00:28] Quy opened #32852 "[4.0] Uncaught TypeError: input is null"
### Steps to reproduce the issue

Log in to the backend.
Edit your profile.
Go to J`oomla API Token` tab.
Click `Save` button to generate token.
Click the `Copy` button.
View browser's console.
See error.

### Actual result

[code]

[2021-03-25 05:24] joomdonation commented on #32852
PR https://github.com/joomla/joomla-cms/pull/32853 should fix this issue.

[2021-03-25 05:24] #32852 closed, assigned to nobody

[2021-03-25 05:26] Denitz opened #32854 "Invalid menu item types filter"
### Steps to reproduce the issue

Create the admin menu link with array parameter in component manifest file.

I.e. the link to display component-specific plugins:

[code]

Next try to create new menu item for backend menu.

### Expected result

No errors.

### Actual result

[code]

### System information (as much as possible)

Not related.

### Additional comments

[2021-03-25 06:07] Denitz opened #32855 "Backend menu item types not translated"
### Steps to reproduce the issue

Enable language debug and create a new admin menu item of "Articles > Create an Article" type.

### Expected result

See in menu items list:

`**Articles** » **Create An Article**`

### Actual result

`**Articles** » article`

### System information (as much as possible)

Unrelated

### Additional comments

Joomla 3 and 4 affected.

[2021-03-25 06:19] infograf768 commented on #32855
Can't reproduce
J4
<img width="231" alt="Screen Shot 2021-03-25 at 07 17 32" src="https://user-images.githubusercontent.com/869724/112427646-39118080-8d3a-11eb-98af-78879a23b139.png">

J3
<img width="479" alt="Screen Shot 2021-03-25 at 07 18 20" src="https://user-images.githubusercontent.com/869724/112427697-50506e00-8d3a-11eb-9e75-39024877d5e2.png">

[2021-03-25 07:06] Denitz commented on #32855
@infograf768 Are you sure you create a menu item in Administrator menu, not in Site?

[2021-03-25 07:12] infograf768 commented on #32855
Was in site indeed. Should have read better.
In admin, it looks like what you describe is common to all mernu items. Looking into it.

[2021-03-25 08:48] forrestkirby opened #32856 "Created Date changes on every save if timezone is other than UTC"
### Steps to reproduce the issue

- install Joomla! with Blog Demo Data and German language pack
- set Time Zone in Global Configuration 🠖 Server to `Berlin`
- note the current time and create a new category
- edit the category and view the *Publsihing* tab: the *Created Date* will be the actual creation date + 1 hour
- save the category (without having edited anything)
- view the *Publsihing* tab

[2021-03-25 08:59] infograf768 commented on #32855
Please test
[code]

i.e. modify `administrator/components/com_menus/views/items/view.html.php` from line 159
from
[code]
to
[code]

[2021-03-25 09:35] joomdonation commented on #32856
PR https://github.com/joomla/joomla-cms/pull/32857 should fix this issue. Please test.

[2021-03-25 09:35] #32856 closed, assigned to nobody

[2021-03-25 10:10] ChrisDGFr opened #32858 "Mail() Error on Password reset"
### Steps to reproduce the issue

Reset Password form or Login reminder

### Expected result
A mail is sent to the user.

### Actual result
Announcement
Can't launch the mail function.

Error
Unable to send the e-mail.

### System information (as much as possible)
Joomla! 3.9.21 and 3.9.25 on PHP 7.3.27.

### Additional comments

I have configured Joomla to send mail with the mail() function. The

[2021-03-25 10:30] Denitz commented on #32855
Templates should be checked as well, maybe this after 143:

[code]

[2021-03-25 10:37] infograf768 commented on #32855
Yep.

Can you make PR?

[2021-03-25 10:48] saumyasarkar11 commented on #32858
Add [3.9] in the PR title

[2021-03-25 10:48] saumyasarkar11 commented on #32858
Add [3.9] in the PR title

[2021-03-25 10:56] richard67 commented on #32858
@saumyasarkar11 No, that's not necessary here. We only do that for issues specific to Joomla 4 or 3.10.

[2021-03-25 11:10] saumyasarkar11 commented on #32855
I've tried to create this PR as per your instructions stated above. Do let me know your feedback

[2021-03-25 11:15] infograf768 commented on #32855
I did in your PR.

[2021-03-25 11:23] brianteeman opened #32860 "[4.0] subfields terminology"
I was doing some work today with the new subfields and I found it quite difficult to explain. I think that instead of saying

"This plugin lets you create new fields of type 'subfields' in any extension where custom fields are supported."

We change it so that field is called subform and the fields inside it are just fields

"This plugin lets you create new fields of type 'subform' that contains o

[2021-03-25 11:51] AndySDH commented on #32860
Thanks for tagging me :)

I can agree, subform can sound better than "subfields / "sub fields" terminology.

subform was actually the original name (https://github.com/joomla/joomla-cms/pull/22446#issuecomment-431360034), but then a discussion arised that it was already used by an extension (https://github.com/joomla/joomla-cms/pull/22446#issuecomment-429035134).

I personally have nothing against

[2021-03-25 12:09] Denitz commented on #32855
The code is wrong

replace original code
[code]

with

[code]

[2021-03-25 12:30] forrestkirby commented on #32856
PR #32857 fixes the issue, thank you!

[2021-03-25 12:59] infograf768 commented on #32855
@Denitz

I am in fact wondering about modifying the path when we have another layout or override in the site template.

[2021-03-25 13:06] brianteeman commented on #32855
@Denitz please submit a pull request instead of posting code in a comment

[2021-03-25 13:28] saumyasarkar11 commented on #32858
Ok, got it

[2021-03-25 14:25] PhilETaylor commented on #32854
Which Joomla version?

[2021-03-25 14:26] ChrisDGFr commented on #32858
Mail() works [in password reset] when sending from site@<mysite>.fr to site@<mysite>.fr
but not from site@<mysite>.fr to <mysite>@gmail.com<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32858">issues.joomla.org/tracker/joomla-cms/32858</a>.</sub>

[2021-03-25 14:28] ChrisDGFr commented on #32858
Mail() works [in password reset] when sending from site@mySite.fr to site@mySite.fr
but not from site@mySite.fr to mySite@gmail.com

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32858">issues.joomla.org/tracker/joomla-cms/32858</a>.</sub>

[2021-03-25 17:38] chmst commented on #32187
Despite of colours - it looks jerky. I have no solution, so cannot complain, but wohld like a smooth decent ring.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32187">issues.joomla.org/tracker/joomla-cms/32187</a>.</sub>

[2021-03-25 17:41] #25684 closed, assigned to nobody

[2021-03-25 17:41] #24308 closed, assigned to nobody

[2021-03-25 17:41] #26229 closed, assigned to nobody

[2021-03-25 17:42] #27755 closed, assigned to nobody

[2021-03-25 17:42] #27784 closed, assigned to nobody

[2021-03-25 17:42] #31247 closed, assigned to nobody

[2021-03-25 17:42] #30120 closed, assigned to nobody

[2021-03-25 17:42] #31254 closed, assigned to nobody

[2021-03-25 17:43] #26054 closed, assigned to nobody

[2021-03-25 17:43] #27985 closed, assigned to nobody

[2021-03-25 17:43] #28246 closed, assigned to nobody

[2021-03-25 17:50] dgrammatiko commented on #32187
The initial version was with actual SVG and the animation Joomla -> heart by Noemi but the old guard was insisting on keeping this thing (which is not even responsive, the width/height are fixed)... Sad panda

[2021-03-25 17:51] ChrisDGFr commented on #32858
Sending a Contact form works perfectly.![screen shot 2021-03-25 at 17 50 29](https://issues.joomla.org/uploads/1/16502aa2b39083ea90ed1b0261e1600f.png)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32858">issues.joomla.org/tracker/joomla-cms/32858</a>.</sub>

[2021-03-25 19:12] anurag806 commented on #32854
we can do this code
 $o->request = array_filter($request, 'strlen');

[2021-03-25 19:13] PhilETaylor commented on #32854
that's the code that is broken... as $request is an array.

[2021-03-25 20:03] Yash-g17 commented on #31540
@HLeithner I'd love to work on this issue , can you please assign and guide me ?

[2021-03-25 20:06] Yash-g17 commented on #32820
@mariantanase  I'd love to solve this  can you please assign this to me ?

[2021-03-25 20:08] PhilETaylor commented on #32820
The Joomla Project doesn't assign issues to contributors in that way. Just work on it and submit a PR :-)

https://github.com/joomla/joomla-cms/blob/staging/.github/CONTRIBUTING.md

[2021-03-25 20:24] brianteeman commented on #31540
The Joomla Project doesn't assign issues to contributors in that way. Just work on it and submit a PR :-)

https://github.com/joomla/joomla-cms/blob/staging/.github/CONTRIBUTING.md

[2021-03-25 20:28] brianteeman commented on #32860
Please test #32864

[2021-03-25 20:28] #32860 closed, assigned to nobody

[2021-03-25 20:32] ahotzler commented on #32858
I tried to reproduce the problem, Joomla 3.9.25, PHP 7.3.27, PHP mail, Password Reminder "view=reset".

For me everything worked as expected

[2021-03-25 20:57] Yash-g17 commented on #32820
@PhilETaylor How do I figure out which file this issue is pointing towards ?

[2021-03-25 21:22] PhilETaylor opened #32867 "[4] Something broke Joomla 4 Global Config tabs in 4.0-dev"
### Steps to reproduce the issue

` git reset --hard`
` git pull`
`git checkout 4.0-dev`
`rm -rf administrator/templates/atum/css; rm -rf templates/cassiopeia/css; rm -rf media/; rm -rf node_modules/; rm -rf libraries/vendor/; composer install; npm ci;`

Gives commit
f6004739b367f65f2f4c6ee1fdfa70f7ed7dff0b

visit Joomla Admin -> Global Configuration

### Expected result

Tabs and no JS error

###

[2021-03-25 21:22] PhilETaylor commented on #32867
@dgrammatiko ?

[2021-03-25 21:28] #32867 closed, assigned to nobody

[2021-03-25 21:28] PhilETaylor commented on #32867
restarted Safari and seems ok now... very very strange

[2021-03-25 21:40] dgrammatiko commented on #32867
Aggressive Browser caching? (the dev env shares the same mediaversion hash no matter how many git checkouts you did, the hash is based on the JVersion which basically is the same for the 4.0-dev)

[2021-03-25 21:41] PhilETaylor commented on #32867
Maybe, Ive had a few issues recently with Safari though (Im running the beta version of macOS)

forgive me, this is not a bug, and I should have restarted my browser before reporting (although I did checkout many different revisions and rebuild from scratch several times!)

[2021-03-25 21:59] Quy commented on #30880
Please test PR #32868

[2021-03-25 21:59] #30880 closed, assigned to nobody

[2021-03-25 22:00] Quy commented on #29152
Please test PR #32868

[2021-03-25 22:00] #29152 closed, assigned to nobody

[2021-03-25 22:09] PhilETaylor commented on #32830
see https://github.com/joomla-backports/PHPMailer/pull/1

[2021-03-26 04:45] Ayushsunny commented on #31540
is there any mentor who can help us to solve this issue?

[2021-03-26 05:13] Nitesh639 commented on #32692
@drmenzelit Yes mam.

[2021-03-26 08:28] infograf768 commented on #32855
Patch https://github.com/joomla/joomla-cms/pull/32871
closing

[2021-03-26 08:28] #32855 closed, assigned to nobody

[2021-03-26 08:51] alikon commented on #32830
can someone remember me why we need a backport and not using the last one ?
https://github.com/PHPMailer/PHPMailer/releases/tag/v6.3.0

[2021-03-26 09:56] OctavianC commented on #32830
It's probably because it requires PHP 5.5+ and Joomla! 3 still supports 5.3.10

[2021-03-26 10:12] Rossig66 opened #32872 "Receiving 'Error due to concurrent publishing operation!' when trying to publish"
When trying to publish on Joomla version 1.0.15 I keep getting the error message 'Error due to concurrent publishing operation!'

No other user is online or has tried to publish, only me. I was able to successfully publish an hour before the error first appeared but have been unable to since seeing it. It occurred yesterday morning and has been ongoing since ..... please help!

Please see attached

[2021-03-26 10:19] PhilETaylor commented on #32830
This is exactly the kind of institutional knowledge that should be documented somewhere so that it is not lost and can be referred to.

[2021-03-26 10:21] rdeutz commented on #32872
Joomla 1.x is out of support for pretty much 12 years and for such question we have a forum https://forum.joomla.org/ but I have my doubts that you find someone who can help you.

[2021-03-26 10:21] #32872 closed, assigned to nobody

[2021-03-26 10:44] drmenzelit commented on #32682
Reopening because PR was not complete

[2021-03-26 11:31] StefanSTS commented on #32012
Honestly, if the numbers of columns are not there anymore it might be better to remove the blog layout altogether and let's use the category layout only.

Suggestion 1:
Or we could just add the old number fields and have a native blog layout with simple choices for column numbers in simple drop downs. Like when children try to change it, they can do it.
Give these numbers as params to the template

[2021-03-26 13:01] rdeutz commented on #27619
I want to suggest the following changes.

Even if technically this is different from an article/category/menu I think we need to provide a user interface people are familiar with.

### UI:
I would change it that it works like menus, you create an item chose a template, select a language and then you can add information.

If you don't have an overwrite the list will be empty.

This allows also to u

[2021-03-26 13:26] brianteeman opened #32874 "[4.0] Field Layouts"
#32422 introduced a range of utility classes that can be used to set the width and layout of fields... This was essential because some pages with columns (eg template styles) just didnt work and the fields would jump around so we switched to a single column

So now we need a plan to apply the utility classes throughout the admin to resolve some issues such as 100% width input fields not being acce

[2021-03-26 14:06] PhilETaylor commented on #32490
as a side.. Joomla.org is effected by this :-)

https://www.joomla.org/announcements/BLAHBLAHBLAHBLAHBLAHBLAH/5834-BLAHBLAHBLAHBLAHBLAHBLAH

[2021-03-26 14:17] Ruud68 commented on #32490
All Joomla sites with legacy and / or modern router are affected, both Joomla 3 and 4!. Only way to get rid of this feature is to switch of the article ID via the modern router, but that is not always an option as you can understand, especially those with large number of articles

[2021-03-26 14:54] abhijha0602 commented on #31540
I want to solve this issue

[2021-03-26 15:03] brianteeman commented on #27619
Seems like a good plan. Either that or kick it out as its not fit for purpose or ready for j4 as was stated 15 months ago

[2021-03-26 16:33] Fredooweb commented on #23201
Hi,

I had the same problem on my local server, just because I didn't change the log Directory : it stays on my production server directory.
So, I've just change this directory and it works well.

Hope it helps :-)

[2021-03-26 17:05] rdeutz commented on #32874
I would say we make it component by component, so that we don't run into too much merge conflicts. I think the first step should be a list where we have to change things

[2021-03-26 17:44] chmst opened #32878 "Restructure plugins for sample data"
### Is your feature request related to a problem? Please describe.
Sample data plugins were made in J3 but now we have much changes in views / database / features.

Blog sample data have been updated, but this is not a valid
Now in J4 these plugins (blog sample data, multilanguage, testing) are not up to date and very hard to maintain.
Hard to maintain

- manily because data and control structure

[2021-03-26 18:18] PhilETaylor commented on #32490
Incoming PR https://github.com/joomla/joomla-cms/pull/32879 Please review, and test the hell out of it.

[2021-03-26 18:37] PhilETaylor opened #32880 "[4] Modern routing, nonSEF & SEF urls alias manipulation"
### Steps to reproduce the issue

forked from https://github.com/joomla/joomla-cms/pull/32879 about https://github.com/joomla/joomla-cms/issues/32490

There is one more case I wanted to address but ran out of time and that is with the **new MODERN routing** its possible to generate a url like:

https://example.com/?view=article&id=3:my-article&catid=9

where `my-article` is the alias of the My Art

[2021-03-26 18:43] PhilETaylor commented on #32830
This was fixed upstream in https://github.com/PHPMailer/PHPMailer/pull/2188 and I have made a PR to merge that same change in the Joomla force of phpMailer here: https://github.com/joomla-backports/PHPMailer/pull/1 please test that and report back on that PR. This can then get closed.

[2021-03-27 11:59] ReLater commented on #32880
Just a question: Is there a reason that the alias is included in id value? Does the router code need it somewhere?

Generally speaking: I personally am happy that the alias is not checked and that it doesn't matter if there is one or not or the wrong one. (I also understand all the discussions about SEO problems but know how to avoid them.)

[2021-03-27 12:35] PhilETaylor commented on #32880
It's not needed but for as long as it's provided it should be validated as user input

You don't understand the SEO effect, you prove this by thinking you can stop it, when you actually have no control over how people link to your site.

Some really nasty things can be inserted into the alias and linked to your site from other sites. Google will eventually associate that new fake url with the nast

[2021-03-27 13:30] Bakual commented on #32880
Is there any proof that this will happen? Because I actually think Google is smart enough to not do that. After all, it's a single link from an external site and all internal links to the same content have a different URL. For Google that is a mild form of duplicate content and they pretty sure give priority to the same-site links when it comes to which URL is correct.
Correct forming of canonical

[2021-03-27 13:41] PhilETaylor commented on #32880
Whatever. At the end of the day it's unsanitised user input. It should either be removed or be validated - it should not be ignored￼￼. No one else should be able to craft valid URLs for your site.￼ Period.

[2021-03-27 14:06] Hackwar commented on #27619
The problem is, that with your proposal, plugins can't add such mails. Besides that, you can only have hardcoded mails. An extension couldn't add mail templates on the fly by simply inserting the entry in the table.

[2021-03-27 14:22] Bakual commented on #32880
I just checked with some major news-site here in Switzerland (20min.ch) and Germany (bild.de and spiegel.de). You can manipulate their URL of any article as well, but they redirect (301) to the correct page then. Which is what I would expect as a user and site owner. As a site owner, I don't like presenting 404 to my users, even if they mispelled the URL.

So imho the best solution would be to che

[2021-03-27 14:25] PhilETaylor commented on #32880
So basically you are saying that all the work in https://github.com/joomla/joomla-cms/pull/32879 is completely wrong approach. Got it. I disagree. This is why Joomla makes no progress.

A 404 is literally the correct response to an invalid url!

[2021-03-27 14:29] PhilETaylor commented on #32490
So #32879 and https://github.com/joomla/joomla-cms/issues/32880 tried to address this - and came up against opposition. Its clear people dont want this fixed.

[2021-03-27 14:50] rdeutz commented on #27619
How a plugin should do this?

Don't understand why this should be the case.

Why this should be needed? You have to change the template to use this functionality, so on the fly doesn't makes sense to me.

[2021-03-27 14:57] Bakual commented on #32880
Technically yes. But most sites actually like it when users find the correct page even if they misspelled the URL. So a redirect 301 to the correct URL is also an absolutely correct response.

I agree that the current state is not a desired behavior. However I think it's still better than showing a 404. And yes I think the other PR is not a correcct solution.
But then, I'm just one single guy. I h

[2021-03-27 15:01] PhilETaylor commented on #32880
I cannot for the life of me remember the last time I typed a full url longer than just its domain name and its TLD extension.. and maybe a slash and one word 🤷‍♂️

[2021-03-27 15:26] Hackwar commented on #27619
I don't understand what you mean.

When the templates which you can edit are only stored in the XML, the plugins also need a way to show up in the list of possible new mail templates.

A form component could use this component to handle the mails its sending out. So for every form you have in the form component, you might have one or more different mails which are send out. These mails right now c

[2021-03-27 15:30] Ruud68 commented on #32880
@Bakual  here you go: dm me if you need the domainname so you can see what google is actually showing in the index https://github.com/joomla/joomla-cms/issues/32490#issuecomment-804273560

[2021-03-27 15:44] Ruud68 commented on #32490
Just catching up on this, thanks @PhilETaylor for taking the time to put your time and effort in it. Opposition is IMO a good thing, as it tends to get the best out of us by getting better and more insights. I for some of those reasons closed my J4 PR #32500 (a different approach, but it stranded in me doing a lot of 'cosmetic' changes without getting any other follow up / response)

I strongly fe

[2021-03-27 15:56] PhilETaylor commented on #32880
@Hackwar can you confirm that in Joomla 4, this specific alias hack is fixed in modern routing you worked on, or is Joomla 4 still allowing this?

[2021-03-27 16:02] Hackwar commented on #32880
No, this has not been changed in 4.0. When the URL is non-SEF, the router generally doesn't really change anything in it.

[2021-03-27 16:02] PhilETaylor commented on #32880
so, this is still a bug to fix in Joomla 4 then. Got it. Thanks for confirming.

[2021-03-27 16:04] Hackwar commented on #32880
Are you planning to just check this during the parseing? Because I would be hesitant to get the aliases each time from the database for building the URLs. In worst case you add a few hundred queries for a single page by that.

[2021-03-27 16:07] PhilETaylor commented on #32880
I have no plans to work on this.

If the alias is in the url for absolutely no reason then it can simply be removed. It serves no purpose other than "fake seo"

There are not a "few hundred" aliases in the url. There is on. Only one.

https://example.com/?view=article&id=3:my-article&catid=9

`my-article` should be a valid alias of the article of id 3. If its not then its not valid. at the moment

[2021-03-27 16:13] PhilETaylor commented on #32490
My final contribution then is https://github.com/joomla/joomla-cms/pull/32887 which is b/c compatible and has configuration to allow a 404 or redirect or b/c off mode.

However, [as stated, its got little to no chance](https://github.com/joomla/joomla-cms/pull/32879#issuecomment-808751601) of ever being merged to Joomla 3.

[2021-03-27 16:19] PhilETaylor commented on #32880
Checking Joomla 4, with "Remove IDs from URLs" turned off, then the same bug exists with SEF urls that https://github.com/joomla/joomla-cms/pull/32887 aimed to fix in Joomla 3 whereas:

A url of http://127.0.0.1:4444/bottom-most/1-my-article is generated, and can be manipulated like http://127.0.0.1:4444/bottom-most/1-HAHAHAHAHAHAH without a redirect/404 being generated :-(

[2021-03-27 16:20] obuisard opened #32888 "Cannot upgrade to Joomla 4 from Joomla 3.10 Alpha 5"
### Steps to reproduce the issue

Install Joomla 3.10 alpha 5
In config of Joomla! update, set 'update channel' to 'custom URL' and 'custom URL' to 'https://update.joomla.org/core/nightlies/next_major_list.xml'
Go back to Joomla! update and go on with the update (target version being Joomla 4 beta 8-dev)
(Write files directly)

### Expected result

Update to Joomla 4

### Actual result

The Joomla

[2021-03-27 16:23] Ruud68 commented on #32880
Exactly! that is also why I said it is a show stopper and pinged @wilsonge on this.
We can discuss a lot, but as you said 'if there is no interest', well time can be better spend

[2021-03-27 16:25] Ruud68 commented on #32880
this is only for parsing, not for building. So that would involve only 1 (not additional but) changed query: you are already querying for the id that will be extended to query both the id and the alias

[2021-03-27 16:43] ChristineWk commented on #32888
I think, you need this Update Server: https://update.joomla.org/core/test/310to4_list.xml
See: https://www.joomla.org/announcements/release-news/5833-joomla-4-0-0-beta7-and-joomla-3-10-alpha5.html

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32888">issues.joomla.org/track

[2021-03-27 16:53] brianteeman commented on #27619
I would rather have a component that works and is usable than a component that is incomplete and almost impossible to use. Being theoretically able to extend its use is completely irrelevant if its unusable. I said this 15 months ago

[2021-03-27 17:17] Bond97 commented on #32888
I think, you might try to install Joomla 3.10.0 alpha 6-dev from https://developer.joomla.org/nightly-builds.html

After install set right update server (see comment above) and try to upgrade to Joomla 4.0.0 beta 7.

Recently there is commited new "Pre-update checker" to Joomla 3.10.0. It provide additional information, which extension, component or plugin might be a reason to fail successfull upg

[2021-03-27 17:31] Quy opened #32890 "[4.0] Column 'ordering' cannot be null when restoring original version"
### Steps to reproduce the issue
Create a new article.
Click `Save` button.
Edit article.
Click `Save`  button.
Edit article.
Click `Versions` button.
Click on a version.
Click `Restore` button.

### Actual result

[2021-03-27 17:35] brianteeman commented on #32890
is this with workflow enabled?

[2021-03-27 17:37] PhilETaylor commented on #32830
Sorry to be the downer here, but I cannot replicate this with PHP 8.0.3 and Joomla 3 `staging`

I used your example code to send an email, caught it with MailHog, and downloaded to Mac Mail. And I can find no issue, the image renders correctly in both mailbag and Mac Mail

<img width="1144" alt="Screenshot 2021-03-27 at 17 32 05" src="https://user-images.githubusercontent.com/400092/112729143-9700

[2021-03-27 17:38] Quy commented on #32890
Yes. However, when workflow is disabled, there is a different message.

[2021-03-27 17:39] obuisard commented on #32888
Thank you, I will try that ASAP. I missed the URL https://update.joomla.org/core/test/310to4_list.xml<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32888">issues.joomla.org/tracker/joomla-cms/32888</a>.</sub>

[2021-03-27 17:40] rdeutz commented on #27619
It's not the template what is stored in xml it is only what templates are available.

But what we can do is to have a table instead of xml, from where we get the data is not really a problem. The problem comes when we deinstall a compoente who has made inserts into the table. An other idea could be a plugin event getEmailTemplates and this gives a list of additionals templates.

At the end of the

[2021-03-27 17:43] brianteeman commented on #32890
there is a release blocker for versions and workflow

[2021-03-27 17:51] PhilETaylor commented on #32830
@OctavianC  Please test https://github.com/joomla-backports/PHPMailer/pull/3

I could never replicate the problem, but I dont seem to make it worse with the proposed fix, which is similar to the upstream fix, but because of the change in major version is harder to apply

[2021-03-27 18:08] zero-24 commented on #32888
Hmm both sould work the only differnce should be that the first update server is with the nighly builds and the seccond to the latest beta. On a quick look it seems there is an issue with something merged into 4.0-dev after the latest beta but that has to be investigated.

[2021-03-27 18:14] Hackwar commented on #32880
That is what I described above. If you have a page with a hundred URLs, you get at least a 100 queries additionally to check the alias, which is why I'm asking to not do this in build, but in parse.

We are not validating the ID during parseing of the URL. That is something that the component has to do later on. So it would be an additional query. But one additional query shouldn't really worry us

[2021-03-27 18:25] PhilETaylor commented on #32890
Confirmed. Can you confirm this was tested in PHP 8?
<img width="511" alt="Screenshot 2021-03-27 at 18 20 39" src="https://user-images.githubusercontent.com/400092/112730498-cf57c900-8f29-11eb-8a80-5b15047f4c6c.png">

[2021-03-27 18:33] Quy commented on #32890
PHP 7.4.9

[2021-03-27 18:34] PhilETaylor commented on #32890
Please confirm your CANT restore the original version but your CAN restore subsequent versions

[2021-03-27 18:45] Quy commented on #32890
I can restore versions except for the last one listed.

[2021-03-27 18:46] PhilETaylor commented on #32890
The "last one listed" is "the first version created when you first create the article"... when the ordering is 0 in the db...

[2021-03-27 18:48] Quy commented on #32890
I confirm your assessment.

[2021-03-27 19:09] obuisard commented on #32888
I am sad to say that using https://update.joomla.org/core/test/310to4_list.xml lead to the same results.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32888">issues.joomla.org/tracker/joomla-cms/32888</a>.</sub>

[2021-03-27 19:39] PhilETaylor commented on #32890
trying to restore the original version of a Category gives other null warnings

<img width="732" alt="Screenshot 2021-03-27 at 19 01 49" src="https://user-images.githubusercontent.com/400092/112731410-f369d900-8f2e-11eb-9af8-d6684bbf79bc.png">

[2021-03-27 19:42] PhilETaylor commented on #32890
Ive debugged this but now Im in a loop and I cannot fight my way out, it seems that "ordering" on an Article being inserted to the db gets coverted from a 0 to NULL deep in the process for updating the assets tables.. in libraries/src/Table/Nested.php there is

[code]

Before the store, the ordering is 0 and after the store its NULL, which is then passed the the versioning plugin using the onTable

[2021-03-27 21:52] Jullum opened #32891 "Writing is two-way communication rather than one-way expression"
Why do you say that, because **many people often think that writing is a person's business,** but this is obviously wrong. If you think like this, you will often overlook the most important issues, and you will ignore the reader. Of course, you will not know what the reader needs, you only know what you will write. Writing is actually a teaching process, a one-to-many process.

For example, the te

[2021-03-27 22:01] #32891 closed

[2021-03-27 23:02] Mohamed1308 opened #32892 "Joomla 4 website's backend not working after renaming htaccess.txt to .htaccess"
Hello.
I got a issue after renaming htaccess.txt to .htaccess in the public_html folder of my Joomla 4 website (https://www.freepetsitters.com). I renamed it in order to get rid of "index.php" in the URLs.
### Steps to reproduce the issue
1. Download Helix Ultimate 2 Beta 1 Quickstart Package (https://github.com/JoomShaper/helix-ultimate/releases/tag/v2.0.0-beta.1), upload it to the public_html fo

[2021-03-28 00:06] AMurray2016 commented on #32892
I've left a comment on the Joomla forum about this: https://forum.joomla.org/viewtopic.php?f=803&t=985622&p=3627757#p3627757.  In essence: Quick-starts are not the recommended way to install Joomla.

For your testing, I would use the J4 nightly build, then install Helix Ultimate 2.0 Beta 1 through Extension Manager, and avoid the quick-start package altogether; Joomshaper should provide this Beta

[2021-03-28 06:19] Mohamed1308 commented on #32892
Hello @AMurray2016.
As I have already mentioned on https://forum.joomla.org/viewtopic.php?f=803&t=985622&p=3627766, I also got the problem after using a J4 Full Package (In my case, Joomla 4 Beta 5) without installing Helix Ultimate.

[2021-03-28 06:27] alikon commented on #32490
closing as we have a pr #32887

[2021-03-28 09:28] Fedik commented on #32892
It not a Joomla! issue. Ask for support in the extension developers.

the extension is "hacking" joomla runtime

And this is another confirmation.

[2021-03-28 09:48] richard67 commented on #32892
@Fedik In the forum post the author states he has tried with a regular Beta 5 and without the Helix Ultimate.

[2021-03-28 09:54] richard67 commented on #32892
@Mohamed1308 Did you also read the FAQ for Joomla 4 Beta 5? It tells that there is an extra step to do in SQL, e.g. in phpMyAdmin.

Please report back if you had followed these instructions or not, and please do as advised in the support forum and try with the latest Joomla 4 Beta, which is Joomla 4 Beta 7 and can be found here: https://github.com/joomla/joomla-cms/releases/tag/4.0.0-beta7 , and r

[2021-03-28 10:04] richard67 commented on #32892
P.S.: Joomla 4 Beta 7 doesn't need that additional SQL step.

[2021-03-28 12:41] PhilETaylor commented on #32892
LiteSpeed is not officially supported by the Joomla Project (although its **mostly** a direct replacement for Apache, and even Rochen, who host joomla.org use it for Joomla.org, still... its not officially supported by the Joomla Project https://downloads.joomla.org/technical-requirements) - just a FYI as there are differences.

[2021-03-28 14:00] 200MPHMEDIA commented on #32750
Agree.  Experience the same issues when installing Sample Data.  No finality of installation of sample data obvious on screen.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32750">issues.joomla.org/tracker/joomla-cms/32750</a>.</sub>

[2021-03-28 14:04] brianteeman commented on #32750
Are the words "Blog sample data has been installed" not obvious enough?

[2021-03-28 14:18] philip-sorokin commented on #32750
@brianteeman you can stop the animation to make the progress bar inactive when the installation is done. The animation makes we think the installation is not over. It's reporting: "Something installed 100%", but we see the active bar and thinks it's going to install something else.

[2021-03-28 14:28] philip-sorokin commented on #32752
It's more beautiful in Joomla! 3. Why you did not implement slideIn/slideOut animation? What this outline on the picture for?
![image](https://user-images.githubusercontent.com/11632367/112755808-03df8980-8feb-11eb-9d56-9a25f4bf55b0.png)

[2021-03-28 14:29] brianteeman commented on #32750
Not everyone sees the animation

[2021-03-28 14:31] philip-sorokin commented on #32750
I have associacions with a buggy soft in Windows, it holds on 100% and not finishing.

[2021-03-28 15:03] PhilETaylor commented on #32490
Unfortunately the PR was rejected by the maintainers (as is their right) therefore this issue will remain in Joomla 3 forever.

[2021-03-28 15:13] philip-sorokin opened #32894 "MIssing keys for the #__content table (publish_up, publish_down)"
![image](https://user-images.githubusercontent.com/11632367/112756635-c846be80-8fee-11eb-8d7b-f6e189f004fb.png)

Every query to the content table makes a database server search the rows without indexes. These queries are very expensive. Any site with over 1000 articles will be slow. I saw sites with 10K articles, they work terribly. We should optimize the queries. Any condition in the where clause

[2021-03-28 15:30] rjharishabh opened #32895 "Administrator login form doesn't follow Post/Redirect/Get pattern"
### Steps to reproduce the issue
* Login to Administrator with incorrect credentials
* Refresh the page and the error message was there.

### Expected result
The error message should be disappeared after refreshing the page.

### Actual result

https://user-images.githubusercontent.com/61203226/112757660-62673080-9008-11eb-910d-30dc2754efc9.mp4

### System information (as much as possible)
PHP 8.0

[2021-03-28 15:48] PhilETaylor commented on #32894
While I find it hard to believe that the query is not already optimised, I have talked about per second publishing as being a barrier to caching for a decade now.

However, MySQL 8 r[etired support for the Query Cache](https://mysqlserverteam.com/mysql-8-0-retiring-support-for-the-query-cache/) anyway, and MariaDB is [not an officially supported database type](https://downloads.joomla.org/technica

[2021-03-28 16:00] philip-sorokin commented on #32894
It's not scalable. A google bot will overload this database when it comes to crawl 22620 items.

[2021-03-28 16:32] PhilETaylor commented on #32894
**This has to be a release blocker for Joomla 4 for sure.**

Sorry I was wrong, deleted my comment, lets start again:

I have talked about per second publishing as being a barrier to caching for a decade now..  However, MySQL 8 then [retired support for the Query Cache](https://mysqlserverteam.com/mysql-8-0-retiring-support-for-the-query-cache/) making it a mute point in the end, and MariaDB is [n

[2021-03-28 16:50] PhilETaylor commented on #32895
Please test #32897

[2021-03-28 16:53] #32895 closed, assigned to nobody

[2021-03-28 17:00] rjharishabh commented on #32895
Yeah, thanks

[2021-03-28 17:16] philip-sorokin commented on #32894
@PhilETaylor maybe your composite index is not using for all lookups because it can be used only with a leftmost prefix: https://dev.mysql.com/doc/refman/8.0/en/multiple-column-indexes.html

[2021-03-28 18:03] PhilETaylor commented on #29988
replicated again today by accident.

[2021-03-28 18:10] PhilETaylor opened #32900 "[4] com_finder limitations on number of authors and categories"
### Steps to reproduce the issue

My site (thanks to [Overload](https://github.com/nikosdion/overload)) is huge.

I (could) have 20,000 different Authors.
I (could) have 20,000 different Categories.

The actual number is irrelevant.

The point is that a menu item pointing to Smart Search will load ALL the author names into the HTML and all the Category names into the HTML

The Problem:
**This make

[2021-03-28 18:14] PhilETaylor opened #32901 "[4][com_finder] Authors are not sorted a-z or any way"
### Steps to reproduce the issue

Lots of authors !

Visit Smart Search menu item on frontend

View the authors dropdown

### Expected result

A-Z on name? on Surname(probably not doable as could be an author alias which is just a string) ?

### Actual result

<img width="448" alt="Screenshot 2021-03-28 at 19 11 44" src="https://user-images.githubusercontent.com/400092/112762833-d0f0c200-8ff9-11eb

[2021-03-28 18:21] PhilETaylor opened #32902 "[4][com_finder][ACL bypass] Smart Search reveals author names of unpublished/acl restricted articles."
### Steps to reproduce the issue
tested on Joomla 4.0-dev

Create a menu link to Smart Search
Visit that menu link and look in the Advanced Search -> Search by author dropdown - note what you see

Create a new UNPUBLISHED Article. Enter an Author Alias you would recognise. NOTE THE ARTICLE IS UNPUBLISHED.

Visit that menu link and look in the Advanced Search -> Search by author dropdown - note wha

[2021-03-28 18:30] PhilETaylor opened #32903 "[4][com_finder][ACL bypass] Smart Search reveals categories of unpublished/acl restricted categories."
### Steps to reproduce the issue
tested on Joomla 4.0-dev

Create a menu link to Smart Search
Visit that menu link and look in the Advanced Search -> Search by category dropdown - note what you see

UNPUBLISH all your categories.

Visit that menu link and look in the Advanced Search -> Search by category dropdown - note what you see

### Expected result

I expect to NOT see any categories in the d

[2021-03-28 18:41] PhilETaylor opened #32904 "[4][com_finder] Unable to unpublish a category within reasonable time"
### Steps to reproduce the issue

On a large site (thanks to [Overload](https://github.com/nikosdion/overload))
26512 Articles
125 categories

Not an unreasonable size for a Joomla site really. (https://Afloat.ie currently has 35695 k2 items and 275 categories for example).

Here is a dump of a HUGE database for you https://www.phil-taylor.com/HUGE.sql.gz (Joomla admin u: admin p: adminadminadmin)

[2021-03-28 18:57] #32903 closed, assigned to nobody

[2021-03-28 19:54] PhilETaylor opened #32908 "[4] Voting needs another css revisit please"
### Steps to reproduce the issue

Enable `Content - Vote` plugin
Enable `Voting` in Article options
Visit an article

### Expected result

Something not full width.

### Actual result

<img width="1014" alt="Screenshot 2021-03-28 at 20 52 23" src="https://user-images.githubusercontent.com/400092/112765983-a279e380-9007-11eb-8bf3-9ebdbd5baf6c.png">

### System information (as much as possible)

saf

[2021-03-28 19:56] PhilETaylor opened #32909 "[4] Voting set to bottom is after pagination"
### Steps to reproduce the issue

Enable `Content - Vote` plugin with Bottom option selected
Enable `Voting` in Article options
Visit an article

### Expected result

Content then voting then pagination

### Actual result

Content then pagination then voting

<img width="1029" alt="Screenshot 2021-03-28 at 20 55 48" src="https://user-images.githubusercontent.com/400092/112766061-fdabd600-9007-11eb

[2021-03-28 20:28] PhilETaylor opened #32912 "[4] Content fighting for space. We need a global solution to grid layouts."
### Steps to reproduce the issue

Lets remember that the primary use for Joomla is CONTENT/ARTICLES

Just one example = Enable Workflow. Visit articles.

Any suggestions on how we resolve this globally? maybe allow the user to hide/show columns important to them?

This is how wordpress does it as an example:

![Screen Recording 2021-03-28 at 09 30 38 pm](https://user-images.githubusercontent.com/4

[2021-03-28 20:38] PhilETaylor commented on #32858
This sounds like your webhost doesn't allow relaying mail

ALL of Joomla's mail goes through the Mail Layer in Joomla, all emails are sent the same way. Therefore if the test mail works then all should work.

Can you try setting your email address in Joomla Global Config to the `mySite@gmail.com` email you are truing and attempt to send a test email to that email (not password reset - a test email

[2021-03-28 20:42] PhilETaylor commented on #32820
There appears to be a certain breakpoint where the horizontal scroll takes place.

https://user-images.githubusercontent.com/400092/112767389-68f8a680-900e-11eb-9907-9c0b0d10d5a1.mp4

[2021-03-28 20:43] PhilETaylor commented on #32788
#32889

[2021-03-28 20:43] #32788 closed, assigned to nobody

[2021-03-28 20:56] PhilETaylor commented on #32598
Please test #32913

[2021-03-28 20:57] ahotzler commented on #32858
Doesnt make sense, he wrote "The test of sending mail works."

[2021-03-28 20:58] richard67 commented on #32598
Closing as having a pull request. Please test #32913 . Thanks in advance.

[2021-03-28 20:58] #32598 closed, assigned to nobody

[2021-03-28 20:59] PhilETaylor commented on #32858
The "The test of sending mail works." because he is sending from site@mySite.fr to site@mySite.fr

I want to know if it works sending to an OFF SERVER domain name like gmail.com

[2021-03-28 20:59] PhilETaylor commented on #32597
Is addressed here #32862

[2021-03-28 21:01] ahotzler commented on #32858
Ok, now i understand what you mean. Would such a behaviour end in: "Can't launch the mail function."?

[2021-03-28 21:02] PhilETaylor commented on #32858
In my testing.. yes.

[2021-03-28 21:03] ahotzler commented on #32858
Ok, thanks, I didn't expect that.

[2021-03-28 21:46] Quy commented on #32909
PR #32914

[2021-03-28 21:52] PhilETaylor commented on #32597
For Joomla 4 is here https://github.com/joomla/joomla-cms/pull/32915

// cc @nikosdion

[2021-03-28 22:01] PhilETaylor opened #32916 "[4] Page loader overlay position on install from url screen"
### Steps to reproduce the issue

In Joomla 4 admin attempt to install Akeeba Backup for Joomla 4 using the Install From URL method

https://www.akeeba.com/download/akeeba-backup/8-0-2/pkg_akeeba-8-0-2-core-zip.zip

### Expected result

The page overlay to have the Joomla logo somewhere near the middle of the screen

### Actual result

<img width="1594" alt="Screenshot 2021-03-28 at 22 51 38" src=

[2021-03-28 22:06] PhilETaylor opened #32917 "[4] A string or Joomla\Uri\UriInterface object must be provided, a "NULL" was provided."
### Steps to reproduce the issue

Joomla 4.0-dev (Enable Debug mode in Joomla Global Config)

Install an old version (only just old!) of Akeeba Backup Core (FREE) from https://www.akeeba.com/download/akeeba-backup/8-0-2/pkg_akeeba-8-0-2-core-zip.zip

Once installed go to:

System -> Update -> Extensions
Click Clear Cache
Click Find Updates
See three available updates
Select ALL THREE UPDATES and c

[2021-03-28 22:16] chmst commented on #32912
It is a know issue, since long time. It depends also on the length of names in the headlines and is worse in other languages. "Zugriffszahlen" for "Hits" for example make big columns.
'Configuring colums" is planned for future Versions, as much as I know.

[2021-03-28 22:19] PhilETaylor commented on #32912
I simply cannot imagine anyone wanting to release Joomla 4 - the new shiny flagship product, with content being this squashed :(

[2021-03-28 22:44] brianteeman commented on #32912
I had a solution but it was rejected

[2021-03-29 05:52] joomdonation commented on #32917
This should be reported to Akeeba, please. Somehow, during install/update process of the extension package, they remove updates (found by clicking on Find Updates button) of the other two items (I can only guess that it is because during update the package, they perform updates for the other two items automatically)

So when Joomla tries to update the other two items, it could not found data for t

[2021-03-29 05:53] PhilETaylor commented on #32917
However Joomla should handle that and not display a PHP error, but a user friendly error.

[2021-03-29 06:00] joomdonation commented on #32917
I can only explain the reason of the error. It's hard for us to write code to check everything (especially for a special/strange case like this one).

[2021-03-29 06:27] TobyParker commented on #32595
[Article.pdf](https://issues.joomla.org/uploads/1/c1c87c39ea814973f67b7ff293baf771.pdf)

[Blog.pdf](https://issues.joomla.org/uploads/1/421a15cf67bca3f0a4ac0bc3697ae429.pdf)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32595">issues.joomla.org/tracker/joomla-cms/32595</a>.<

[2021-03-29 07:36] PhilETaylor commented on #32917
Its not hard to use try/catch blocks :) - all PHP exceptions in an app should be caught and a User Friendly (not developer friendly, unless debug mode is on) error should be shown.

[2021-03-29 08:12] rs4231199 commented on #32916
Confirmed on Edge(chromium based) Windows

[2021-03-29 08:25] nikosdion commented on #32917
I am not taking any bug reports for Joomla 4 for two reasons.

1. Joomla 4 is not stable yet.
2. I am rewriting the entire Akeeba Backup and Admin Tools components to use core MVC, BS5 styling and vanilla JS with no pre-/post- installation scripts so it's absolutely clear that any issues in the installation and update process are 100% caused by Joomla itself.

About this issue. We (Akeeba Ltd) do

[2021-03-29 08:30] PhilETaylor commented on #32917
If I could find another three Joomla 4 compatible extensions, with updates available, I would have tested them too to prove this was not an Akeeba based issue :)

I'll circle back to this bug at the end of the week, having spent the last 4 full days on open source I need to do my day job today :-(

[2021-03-29 08:40] rs4231199 commented on #32916
Im working on this

[2021-03-29 08:44] rdeutz commented on #31709
closing as we have a PR #32893

[2021-03-29 08:44] #31709 closed, assigned to nobody

[2021-03-29 09:23] brianteeman commented on #32012
@rdeutz something like this
![image](https://user-images.githubusercontent.com/1296369/112815972-c9243280-9078-11eb-9194-9c5c16da9d05.png)

[2021-03-29 09:29] brianteeman commented on #32912
easy to implement using https://github.com/fiduswriter/Simple-DataTables

[2021-03-29 09:31] PhilETaylor commented on #32912
A lot of these JS based data tables are no good in real life, for example this demo, loads ALL the data in the page, and then does the pagination in JS - that's ok with a handful of articles, not scaleable for 1000000000 articles in a db :)

https://fiduswriter.github.io/Simple-DataTables/1-simple/

[2021-03-29 09:38] toivo opened #32922 "[4.0]Fatal error: Trait "Joomla\Plugin\System\Webauthn\PluginTraits\AjaxHandler" not found"
### Steps to reproduce the issue
Download Beta8-dev full package of 29 March: https://developer.joomla.org/nightlies/Joomla_4.0.0-beta8-dev-Development-Full_Package.zip
Expand and install.
Remove the installation folder.
Rename htaccess.txt to .htaccess.
Go to the site and the back end.

### Expected result
No errors displayed.

### Actual result

Fatal error: Trait "Joomla\Plugin\System\Webauthn\

[2021-03-29 09:57] brianteeman commented on #32912
Look again

[2021-03-29 09:59] saumyasarkar11 commented on #32916
I don't find this on google chrome

[2021-03-29 10:12] PhilETaylor commented on #32912
I found the one demo with it now, thanks.

However, You don't need a whole data-table library to hide/show columns in a table.

For someone with Joomla 4 level of JS knowledge this would be less than 50-100 lines of code to be implemented and totally reusable.

Unfortunately my JS is not any where near Joomla 4 standard else I would have proposed something.

Hey @dgrammatiko any interest in this?

[2021-03-29 10:16] brianteeman commented on #32912
I was just sharing it to show that there are many ways to skin a cat. Just needs an open mind

[2021-03-29 11:02] toivo commented on #32922
As a test I installed Beta8-dev Full version from 26 February in the same environment and then updated from today's https://developer.joomla.org/nightlies/Joomla_4.0.0-beta8-dev-Development-Update_Package.zip.  No problems whatsoever.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/jooml

[2021-03-29 11:25] toivo commented on #32922
Sorry, typo in my environment, s/b Apache 2.4.46c.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32922">issues.joomla.org/tracker/joomla-cms/32922</a>.</sub>

[2021-03-29 11:33] joomdonation commented on #32922
Could you please check to see if the file plugins/system/webauthn/src/PluginTraits/AjaxHandler.php is available in your Joomla installation? If it is there and you are still getting the error, maybe you should try to delete/rename the file administrator/cache/autoload_psr4.php to have Joomla re-generate the namespace map again might solve the issue.

[2021-03-29 12:07] ReLater commented on #32922
Just for the sake of completeness: https://github.com/joomla/joomla-cms/issues/31752

[2021-03-29 12:31] dgrammatiko commented on #32912
Here you go:

![Screenshot 2021-03-29 at 14 26 35](https://user-images.githubusercontent.com/3889375/112836386-d2be9200-909a-11eb-9196-e95c85ce1006.png)

[code]

FYI some Bootstrap classes are really fighting the code here due to the fact that **all** the utility classes in Bootstrap 5 **HAVE !important embeded**: https://twitter.com/dgrammatiko/status/1370717251918311428 Bootstrap has its own mer

[2021-03-29 12:32] PhilETaylor commented on #32912
56 lines... impressive... I was right :)

[2021-03-29 12:33] dgrammatiko commented on #32912
I could have used jQuery for even fewer lines 🤣

[2021-03-29 12:35] PhilETaylor commented on #32912
now you have gone and done it... I was trying SO HARD not to mention the Jword!

Even *I* could have done it with jQuery ;-)

[2021-03-29 12:35] PhilETaylor commented on #32912
all we need now is to persist the state in a cookie ;-) and set some reasonable defaults

[2021-03-29 12:36] Ruud68 opened #32923 "[4.0] Modern Router URL #SEO issue on upgrade?"
### Steps to reproduce the issue
setup (or use) a Joomla 3.9 / 3.10 site
create nested categories e.g News > TSX Venture > NM
create article in the NM category e.g. test article
setup menu to main category News > type category blog
set article options > integration > legacy router

1] on front-end go to menu test, click the tsx venture category > click the nm category > open test article > note th

[2021-03-29 12:37] dgrammatiko commented on #32912
Also, you need some logic for the mobiles/tablets/restricted viewports

[2021-03-29 12:59] toivo commented on #32922
@joomdonation - sorry, the original test folder was deleted and reused. Next time I should keep the original virtual host and just rename the folder.

Now I created a new virtual host, expanded the same Full version of 29 March and the file AjaxHandler.php is in that folder. Did the same steps as the failed installation and this time both the front end and the back end worked all right.  Possibly

[2021-03-29 13:13] dgrammatiko commented on #32912
Here's an updated version that will reveal the options only for screens > 1024px

[code]

This is **not** reactive, meaning **will not** adjust in realtime if you resize the window, either you are on tablet/mobile or on desktop (tracking the resize will be way more code to get it right)

[2021-03-29 13:17] PhilETaylor commented on #32912
Im happy to leave it with you if you think you can put together a first look PR for this? It can always be improved once the framework is actually in place and I think this kind of thing, if we can for together to get it right, would be hugely beneficial.

[2021-03-29 13:18] PhilETaylor commented on #32912
Not just for articles list screens, but for all list table screens

[2021-03-29 13:30] dgrammatiko commented on #32912
@PhilETaylor please take over, I could help you with any JS anytime

[2021-03-29 14:07] PhilETaylor commented on #32912
ok it will be the end of the week now, the day job needs me this week :)

[2021-03-29 16:50] AndySDH opened #32925 "Whole component cache is cleared when saving one single item"
Something that always bothered me in Joomla, but never reported...

And I did a thorough google search and it looks nobody reported this before either.

When using Joomla Cache, even the documentation says:
https://docs.joomla.org/Cache

Which is indeed what you would expect and what would make sense. When you save an article (or a contact, or any other item from any component), only the cache for

[2021-03-29 17:10] alikon commented on #32922
i think this can be closed for now
@toivo  feel free to reopen if happens again

[2021-03-29 17:10] #32922 closed, assigned to nobody

[2021-03-29 17:23] Fedik commented on #32925
I think it is valid issue.
However I do not see an easy way to fix it.
Currently we have cache stored per $option, and $key based on `$app->registeredurlparams`
https://github.com/joomla/joomla-cms/blob/4172b68dac980a85c6070511622322006e98fb5b/libraries/src/MVC/Controller/BaseController.php#L660-L664

That does not allow us to distinct the cache per Article, at least I do not see how.
Maybe someon

[2021-03-29 20:08] Hackwar commented on #32843
Smart Search sorts results by relevance. The order of the finder plugins has no influence on the order of the search results. The finder plugins are never executed during searching. They are only used to populate the index. This is not a bug, but expected behavior.

[2021-03-29 20:26] #32843 closed, assigned to nobody

[2021-03-29 20:26] HLeithner commented on #32843
As hannes said that's expected but relevance could be adjusted by the indexing plugin

[2021-03-29 20:58] brianteeman opened #32929 "[4.0] Missing images ?"
The images referenced in the css below do not exist. Not sure if this is a missing files problem or a bad css problem

https://github.com/joomla/joomla-cms/blob/ec5c72b21109906080673c2888838240e95df288/administrator/templates/system/scss/system.scss#L38-L69

[2021-03-29 22:03] richard67 commented on #32929
Looks like either a copy and paste issue or an upmerge issue, or some old historical stuff from times when the Atum template was created.

Images with such names only exist in 3.x:

[code]

In the 4.0-dev branch are no images with names like `notice*.png`.

[2021-03-29 22:10] richard67 commented on #32929
Hmm, no upmerge issue. This file `joomla-cms/administrator/templates/system/scss/system.scss` has been added with PR #31221 . => Ping @dgrammatiko .

[2021-03-29 22:48] dgrammatiko commented on #32929
All these files are totally useless. I mean frames (not iframes!!!) are not supported anymore. Actually I was thinking to totally remove the system templates and patch the one place where these things are used (as fallbacks) with a prerendered html (as we re doing for the other hard fails)

[2021-03-30 04:36] joomdonation commented on #32890
PR https://github.com/joomla/joomla-cms/issues/32890 should fix the issue for both category and article. I don't know how workflow works, so I don't set default value for state field to avoid it causes un-expected behavior. For workflow enabled, maybe a different PR would be needed.

[2021-03-30 06:13] variax73 opened #32934 "[4.0.0-beta7] Problem with expand the left menu in admin side."
### Steps to reproduce the issue
1. Log as s Administrator.
2. Go to System->Administrator Modules.
3. Search "Admin Menu" (Id=12).
4. Duplicate them.
5. Publish them.
6. Collapse left menu ("Toggle Menu" switch). Showing narrow menu with icons only.
7. Click any icon from duplicated module - menu don't expand. Menu expands correctly only in first module.

### Expected result
Left menu expands for

[2021-03-30 08:41] Fedik commented on #32929
This is from joomla 2.5, or even older 1.5
At that time we did not have layouts system. This style was loaded to keep styled "important parts" in fallbacks when the default template did not have index.php or component.php.

In joomla 4 the messages styles loaded with layout
https://github.com/joomla/joomla-cms/blob/ec5c72b21109906080673c2888838240e95df288/layouts/joomla/system/message.php#L43-L45

[2021-03-30 10:05] PhilETaylor commented on #32934
I reported something similar and was told it was "by design"

[2021-03-30 11:41] Orgoth commented on #31091
Hello and please excuse me for bringing the ticket up again.
What would be the argument against using a pure PHP implementation of the SCSS compiler?
For example: https://github.com/scssphp/scssphp
This only requires php 5.6 as a minimum requirement.
https://github.com/scssphp/scssphp/blob/master/composer.json

For version 3.x I wrote myself a plugin which reads the current template and compiles t

[2021-03-30 11:44] dgrammatiko commented on #31091
Personally speaking, I wouldn't ever use an **NON** spec-compliant compiler: https://github.com/scssphp/scssphp/issues?q=is%3Aissue+is%3Aopen+label%3A%22spec+compliance%22

[2021-03-30 11:55] Orgoth commented on #31091
Thank you for the very quick reply.
That makes sense of course, that the compiler should then also comply with the spec.
At least it would be theoretically an option if the compiler would fully comply with the spec.

Have a nice week.

[2021-03-30 19:06] alikon commented on #32917
1. Joomla 4 is not stable yet.
 2. I am rewriting the entire Akeeba Backup and Admin Tools components to use core MVC, BS5 styling and vanilla JS with no pre-/post- installation

better to repoen this on RC i guess then ?

[2021-03-30 19:28] #32917 closed, assigned to nobody

[2021-03-30 19:34] alikon commented on #32917
sure....i'll do it
maybe not tomorrow... but i'll do it

[2021-03-30 20:49] zero-24 commented on #32888
Hmm i have just tried to update from 3.10-alpha6-dev to 4.0-beta8 and I can not reproduce the issue here. Can you do so on that versions? Do you have some extensions installed or was that an clean 3.10 install?

[2021-03-30 21:46] obuisard commented on #32888
I have tried several combinations:
from 3.10-alpha5 and 3.10-alpha6-dev (dated March,25) to 4.0-beta7 or 4.0-beta8-dev.
Every single time with no additional extension, just clean installs.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/32888">issues.joomla.org/tracker/joomla-

[2021-03-30 22:06] obuisard commented on #32888
I have tried once again from todays builds (my hard drive is going to hate me)![screen shot 2021-03-30 at 22 04 51](https://issues.joomla.org/uploads/1/0795320731c93f18d0f472289113ebff.jpg).
3.10-alpha6 to 4.0-beta8. First screen once Joomla's update ends.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.jo

[2021-03-30 22:45] zero-24 commented on #32888
Hmm interesting, i did not got that while doing the same upgrade path. @richard67 do you have an idea what this error could be about?

[2021-03-30 22:51] richard67 commented on #32888
Not yet, have to check tomorrow or on weekend when I have more time.

[2021-03-30 22:55] zero-24 commented on #32888
Great thanks!

[2021-03-31 04:24] rs4231199 commented on #32916
@PhilETaylor
Is this the expected behavior?
![image](https://user-images.githubusercontent.com/43215292/113090242-f7377d00-9206-11eb-92a3-04c36b5127e3.png)

Or should it cover the whole screen?

[2021-03-31 04:39] rs4231199 commented on #32916
That is probably because of the screen size. Zoom out up to 25%, then test it.

[2021-03-31 06:24] PhilETaylor commented on #32916
No idea.

[2021-03-31 06:29] PhilETaylor commented on #32830
Although this is closed, and the fix merged to the back port, the back port still needs to be implemented in the cms right? @zero-24

[2021-03-31 06:59] zero-24 commented on #32830
Yes thats right the plan is to point our conposer.json to the backports repo and than pull the changes from there into the CMS.

[2021-03-31 07:28] LoicAG opened #32939 "Port Joomla to Brainfuck"
### Is your feature request related to a problem? Please describe.
The developers in our company would love to contribute to the Joomla code base. Since they are experts in Brainfuck, and unwilling to use or learn any other language, we kindly ask that you port the current code to Brainfuck.

### Describe the solution you'd like
The entire code base in Brainfuck

### Additional context
A day early

[2021-03-31 07:34] LoicAG commented on #32939
Not here, we switched to Daylight Saving Time already

[2021-03-31 07:36] SharkyKZ commented on #32939
Joomla! is already fucked. Nothing more to fuck 😒

[2021-03-31 07:56] meinhoonharsh commented on #31340
I want to work on this Isssue

[2021-03-31 07:56] meinhoonharsh commented on #31340
I want to work on this Issue

[2021-03-31 07:57] meinhoonharsh commented on #32901
I want to work on this Issue

[2021-03-31 08:00] progreccor opened #32941 "[4.0] Dot in database name is prohibited now"
### Steps to reproduce the issue

Try creating a database name with a dot in it

### Expected result

Work as in Joomla 3

### Actual result

I get error "The database name is invalid. It must not contain the following characters: \ / ."

### System information (as much as possible)

Centos 7, php 7.4

### Additional comments

I have a rule - create database names equal to the domain name. Now I c

[2021-03-31 08:13] meinhoonharsh commented on #32901
I am unable to reproduce this Issue
.
When I click on Smart Search
I can see only four Options in dropdown

may be I was having a lack of Something or anything else, could you  please help

[2021-03-31 08:19] sandramay0905 commented on #31340
@meinhoonharsh you can work on an issue as there is nobody who can allow or disallow.

[2021-03-31 08:53] bembelimen commented on #32941
That's for a reason:

https://dev.mysql.com/doc/refman/8.0/en/identifiers.html

![grafik](https://user-images.githubusercontent.com/1229869/113117934-3e297080-920f-11eb-9266-64232d1393aa.png)

[2021-03-31 09:12] progreccor commented on #32941
but Joomla always quote all identifiers! There was no problems with that

[2021-03-31 09:19] progreccor commented on #32941
Some hosting providers create databases with dot in its name. And Joomla 3 works fine before on this hostings.
We may encounter serious problems

[2021-03-31 09:39] kernusr commented on #32941
This condition applies to queries that do not escape the name of the database. But in joomla the  database always is escaped

I will add that some hosts I know long time used the {Owner}.{Database_Name} pattern  and Joomla 3 worked fine in such conditions.
The introduction of this restriction will lead to the fact that users have to create a new database before upgrading to Joomla 4.

[2021-03-31 10:01] brianteeman commented on #32939
Please delete. We dont need profanity on the issue tracker

[2021-03-31 10:02] brianteeman commented on #32012
Closed - please see #32943

[2021-03-31 10:02] #32012 closed, assigned to chmst

[2021-03-31 10:06] brianteeman commented on #32941
Could you give an example please so that we can test. I know that all the hosts I use have a owner_databasename setup

[2021-03-31 10:31] meinhoonharsh commented on #31344
I want to work on this Issue. But after all these conversation happened previously, I am bit confused that changes will be considered or not

[2021-03-31 11:54] PhilETaylor commented on #32901
You need to add some articles and index them.

[2021-03-31 11:55] PhilETaylor commented on #32901
Or use the database provided I the issue which is huge and has a lot of articles and different authors...

[2021-03-31 11:56] PhilETaylor commented on #32830
my point, badly made, was that maybe its worth keeping this issue open until those additional tasks have taken place so it doest get lost.

[2021-03-31 11:57] PhilETaylor commented on #32830
Also as far as I know my changes were not tested by anyone other than myself... do you really trust me that well.. I dont :)

[2021-03-31 12:06] zero-24 commented on #32830
Ah reopend that Issue here until the PR against the CMS is made.

[2021-03-31 12:10] OctavianC commented on #32830
Well, there's one more person who tested this - I just got caught up with other issues and totally forgot to reply.

Before patch:
![before-php8](https://user-images.githubusercontent.com/1422378/113141678-aa699b80-9232-11eb-97c4-1dab50ff43ae.png)

After patch:
![after-php8](https://user-images.githubusercontent.com/1422378/113141692-b0f81300-9232-11eb-8868-007ea1dde69d.png)

Server information, i

[2021-03-31 12:13] PhilETaylor commented on #32830
Pleased it worked for you. I thought it would work as its the same fix that the PHPMailer project used.

The credit for the actual fix was with the upstream project, as they had already done the hard work, all I did was find a way to merge it into the older version of PHPMailer.

[2021-03-31 12:13] smartsofthyd89 opened #32944 "Direct selling business consultancy & MLM software develops best direct selling software as per requirement"
[Direct Selling Business Consultancy](https://www.smartsoft.in/business-consultancy.aspx "Direct selling business consultancy") provides MLM Software which helps to lead businesses through network marketing. Best Direct selling software key features helps in critical functions. Best MLM software helps in member compensation plans. Top MLM software company manages user profile maintain a sales cycl

[2021-03-31 12:34] joomdonation commented on #32944
Spam

[2021-03-31 12:34] #32944 closed

[2021-03-31 12:44] imtiyaj786 commented on #31540
how can i check this issue in own ?

[2021-03-31 13:31] ReLater commented on #31540
Hello volunteers,
- You don't have to ask if you are allowed to take over an issue.
- - Identify the issue in an installation of Joomla.
- - Try to find a solution for the issue.
- - Test ist.
- Finally provide a pull request on GitHub that others can test. If tests are not successfull you can change your pull request for further test.
- There are no mentors to accompany you. It goes without sayin

[2021-03-31 13:53] ChrisDGFr commented on #32858
I added the statement "JLog::add('my error message', JLog::ERROR)" at the beginning of the PHPMailer::mailSend function.
I have a log when the function is called from a contact form, but not from the com_users module.
Bad luck!<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/3

[2021-03-31 14:55] gerryfrancis opened #32946 "Protostar: Buttons in button groups sometimes more separated from each other"
### What needs to be fixed

Protostar (Joomla! version 3.x).

Buttons (`<label>` class `.btn`) within button groups are separated from each other with a 1 pixel gap occupied by their respective side frames when the HTML block includes other (`<input>`) lines in between.

This is an example of a button group when editing a module in the Protostar frontend:

![grafik](https://user-images.githubuserc

[2021-03-31 15:39] PhilETaylor commented on #32941
I have never seen a host with a period in database names ever. Only underscores.

[2021-03-31 16:37] PhilETaylor commented on #32858
Password reset uses:

[code]

Contact form uses:

[code]

The `sendMail()` method simple sets the params and then calls `send` method. So they are both using the same code eventually to send.

"Can't launch the mail function" is not a exact phrase used anywhere in Joomla or phpMailer so I assume that is translated. What is the exact phrase used in your language on the screen - send a screenshot.

[2021-03-31 16:40] PhilETaylor commented on #32858
Also please run this test:

Im still convinced this is a hosting issue.

[2021-03-31 16:48] PhilETaylor commented on #32830
@zero-24 Is a release going to be made here?

[2021-03-31 17:00] ChrisDGFr commented on #32858
That is the exact phrase.
![Image 111](https://user-images.githubusercontent.com/4035917/113182584-5c18c480-9253-11eb-9d1d-47f3b813eac2.jpg)

[2021-03-31 17:07] PhilETaylor commented on #32858
Well that is being raised by phpMailer when it cannot sed using the linux `mail` function (E.g a web hosting issue) Do you have `safe_mode` enabled in PHP?

https://github.com/joomla/joomla-cms/blob/afc196adc65a83458a35277b00d4ff5018b40450/libraries/vendor/phpmailer/phpmailer/class.phpmailer.php#L1524

The actual mail command is in this function on lines 700 and 702 of libraries/vendor/phpmailer/p

[2021-03-31 17:08] Quy opened #32948 "[4.0] Spinner icon displays out of bound"
### Steps to reproduce the issue
Go to System > Language Overrides.
Select a Language & Client.
Click New button.
Click cursor in Search Text field.

### Actual result

![language-override](https://user-images.githubusercontent.com/368084/113182425-bc821480-9207-11eb-861c-f10a6a8b6476.gif)

[2021-03-31 17:10] PhilETaylor commented on #32858
Also try running mail independently of Joomla by creating a test.php file with this in it:

[code]

and then run that and see if there are any errors.

[2021-03-31 17:12] zero-24 commented on #32830
IIRC with lessphp we used the branch but i agree that doing an propper release would be better. We would have to take a look what makes the most sense in our case.

[2021-03-31 17:12] progreccor commented on #32941
Joomla 3 works great with dots in database name. So I can't upgrade from joomla 3 to Joomla 4 if my database have dot in the name.

That's weird situation.

[2021-03-31 17:17] ChrisDGFr commented on #32858
I think I found the problem.

**Works :**

From email : site@mySite.fr
Reply to email : site@mySite.fr

**Do not work :**

From email : site@mySite.fr
Reply to email : mySite@gmail.com

From email : mySite@gmail.com
Reply to email : mySite@gmail.com

It seems that com_users takes "Reply to email" as "From email".

[2021-03-31 17:18] PhilETaylor commented on #32941
A [Production Department Meeting](https://volunteers.joomla.org/departments/production/reports/1031-production-dept-meeting-may-28-2019) in 2019 determined the minimum MySQL version for Joomla 4 would be

MySQL 5.6 (Note: The minimum MySQL version can be subject to change during the lifetime of Joomla 4 if necessary)

The [official requirements page](https://downloads.joomla.org/technical-requirem

[2021-03-31 17:20] PhilETaylor commented on #32858
Cough Cough. This is not a Joomla issue. This is a hosting issue.

[2021-03-31 17:26] ChrisDGFr commented on #32858
Com_users should use the sender designated to it: site@mySite.fr.

[2021-03-31 17:29] PhilETaylor commented on #32858
It does. It uses the `$mailfrom` value from global config.

https://github.com/joomla/joomla-cms/blob/afc196adc65a83458a35277b00d4ff5018b40450/components/com_users/models/reset.php#L457

[2021-03-31 17:34] ChrisDGFr commented on #32858
How do you explain that :

**Works :**

From email : site@mySite.fr
Reply to email : site@mySite.fr

**Do not works :**

From email : site@mySite.fr
Reply to email : mySite@gmail.com

[2021-03-31 17:34] PhilETaylor commented on #32941
Ive just run a test and **Joomla 4 seems to run fine with a period in the database name** by changing the db name in config after installation, but like you say, you cannot install it with a period In the name. like you say, joomla is quoting the identifiers and therefore according to the mysql docs a period (U+002E) should be allowed.

So I guess the decision Joomla needs to make is to allow it (

[2021-03-31 17:35] PhilETaylor commented on #32858
I do not know who your site is configured. I do know what the code states.

What are the VALUES you have set in your Joomla global Configuration?

[2021-03-31 17:39] progreccor commented on #32941
Yes, Joomla 3 allow dot in the database name. So I think that Joomla 4 should do the same.

[2021-03-31 17:40] PhilETaylor commented on #32858
If that is the value in your Joomla Global Config for the Mail Sending - So Joomla is correctly using the same FROM address. And correctly changing the Reply from address on emails that might need a reply, and your webhost is rejecting those - because that's also what spammers do.

I see nothing that needs fixing here in Joomla.

[2021-03-31 17:47] PhilETaylor commented on #32941
Please test https://github.com/joomla/joomla-cms/pull/32949

[2021-03-31 17:48] richard67 commented on #32941
Closing as having a pull request. Please test #32949 . Thanks in advance.

[2021-03-31 17:48] #32941 closed, assigned to nobody

[2021-03-31 17:50] PhilETaylor commented on #32858
Code doesn't change :) webhost configurations and spam controls change :-)

[2021-03-31 17:58] ChrisDGFr commented on #32858
Here are pictures of the different configurations and their consequences.
![Image 116](https://user-images.githubusercontent.com/4035917/113189243-44ddd500-925b-11eb-8244-8d79de385714.jpg)
![Image 119](https://user-images.githubusercontent.com/4035917/113189306-57f0a500-925b-11eb-93cc-f1fb3cccefd3.jpg)
![Image 122](https://user-images.githubusercontent.com/4035917/113189333-62ab3a00-925b-11eb-9b9a

[2021-03-31 18:14] PhilETaylor commented on #32858
![image](https://user-images.githubusercontent.com/400092/113190930-d6961400-9254-11eb-8812-f01f7057264c.jpeg)

So your failure is failing to send using the `mail` function on your webhost, an email FROM a gmail.com address ... again, this is your webhost probably stopping you with spam controls on what addresses you can send from with PHP Mail. This is totally normal for a webhost to stop spammin

[2021-03-31 18:20] ChrisDGFr commented on #32858
You know what, I am going to add a Forwarder from site@clapiedsrando.fr to clapiedsrando@gmail.com.