[2019-03-23 07:52] infograf768 commented on #24292
The issue is in the modification of the `onAfterInitialise()` method.
It was
[code]
it is now
[code]
This last one works fine in 3.9 but breaks 4.0

[2019-03-23 08:01] zero-24 commented on #24214
No it should not as this is the place where the language string com_csp should be used.

Banners and most of the other components is using the same: https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_banners/banners.xml#L32 ;)

[2019-03-23 08:37] joeforjoomla commented on #24292
Thanks for the clarification @infograf768 ... waiting for someone more expert to fix it

[2019-03-23 08:49] joeforjoomla commented on #24292
I confirm that the previous version of onAfterInitialise solves the problem with multilanguage on J4 Apha 8

[2019-03-23 09:39] SharkyKZ commented on #24292
Using `Router::PROCESS_BEFORE` instead of `Router::PROCESS_DURING` here appears to fix the issue.
[code]
This needs a lot of testing.

[2019-03-23 09:49] SharkyKZ commented on #24308
Pardon my ignorance, but are you saying it's a matter of naming convention? Can we place an event other than `onBeforeDispatch` midway through `dispatch()` (e.g. `onAfterLoadDocument` or whatever)?

`onAfterComponentDispatch` seems redundant as it would be triggered at the same point as `onAfterDispatch`.

[2019-03-23 10:06] joeforjoomla commented on #24292
I agree @SharkyKZ a lot of testing

[2019-03-23 10:09] infograf768 commented on #24292
@SharkyKZ
tested that OK here.
But is'nt the main issue with the modifications of the `getInstance()` method in CMSApplication between 3.x and 4.0 ?

[2019-03-23 10:11] Hackwar commented on #21248
From my perspective there are several ways to store such data. You could use an attribute of a span, you could store it in a custom field, in a separate table or in an XML structure instead of JSON. If you enable the blacklist, I don't see why we should allow HTML comments in there and thus I would propose to deny this feature request. Admittedly, I'm also requesting this to clean up the tracker.

[2019-03-23 10:15] Hackwar commented on #13174
As I wrote above, this feature request is not really a solution AND would prevent current customisations. I'm voting against this, whatever effect that has. Considering that this request is over 2 years old and we have a better solution in 4.0, I'm proposing to close this.

[2019-03-23 10:27] Milglius commented on #9010
is it fixed now? relaated maybe to #23316

[2019-03-23 10:29] Milglius commented on #23316
how to provide link to you ?

[2019-03-23 10:29] HLeithner commented on #13174
Still a valid issue, maybe not with union but a way to inject sort and paginationable results.

Afaik there is not solution in com finder for this.

[2019-03-23 10:30] steffans commented on #21248
@Hackwar HTML comments are valid tags and intended for any metadata (notes, etc.) within the markup. Comment tags are not visually shown and do not interfere with the actual markup. For example other editors like Gutenberg use the comment tags for metadata as well.

So why blacklist them at all?

[2019-03-23 10:37] HLeithner commented on #24187
Has sample data the mail to sender option active?

[2019-03-23 10:39] HLeithner commented on #23666
Makes sense to have this button especially when 4.0 doesn't have any sidetoolbar

[2019-03-23 11:57] nikosdion commented on #24049
I think @tampe125 accidentally misled me as to the nature of the problem. I just found the time to take a look at it myself. The problem is, indeed, in our software -- and a documentation issue in Joomla itself. Sorry for wasting everyone's time :(

The problem is that he's using a system plugin to record the user actions but the language strings are in the component's language strings. They won't

[2019-03-23 12:00] roland-d commented on #24049
@nikosdion I can proofread if you like.

[2019-03-23 12:26] nikosdion commented on #24049
Do you have a simple component I could try to write action logs for? Otherwise I'd have to create Yet Another To-Do Component using the Joomla MVC framework first, then create the actions log -- but that sounds more like an invitation to an asylum than a solid plan.

[2019-03-23 12:47] roland-d commented on #24049
Perhaps we can use https://github.com/joomla-extensions/boilerplate/tree/feature/list-edit as base. It should be installable and workable last time I checked, otherwise I may need to do some fixing.

[2019-03-23 12:53] Hackwar commented on #23620
This has been fixed in the meantime by @bembelimen by moving all these checks to ajax calls, which then again can fail however they want without impacting loading the system menu item.

[2019-03-23 13:28] mbabker commented on #24308
I would not have a unique system event for the document being loaded.  Why not one for the language, session, or any other service in `Joomla\CMS\Factory`?

Having two simultaneous events, while redundant, is not necessarily an issue if they are intended to be in differing contexts.  Plus, if something changes where the last couple of lines of the application's dispatch method aren't the call to r

[2019-03-23 13:48] Harshil99 opened #24323 "[4.0] [a11y] Select User in Created by field is not focusable"
### Steps to reproduce the issue
Go to Article/New/Publishing
Tab through the fields.

### Expected result
Select user (icon beside the field) should be focusable.

### Actual result
Field is focusable (Not needed as nothing can be done there if only selection is to be done that is also from another container) not Select user icon beside it.

### System information (as much as possible)
Joomla! 4.

[2019-03-23 14:41] brianteeman commented on #24323
Confirmed it is not selectable

[2019-03-23 15:21] Harshil99 opened #24324 "[4.0] 'Edit' text not visible on hover"
### Steps to reproduce the issue
Go to Control Panel.
Click on the setting (gear) icon of any one of these (Sample Data, Logged-in Users, Popular Articles, Recently Added Articles, Site Information).
Hover over Edit.

### Expected result
Text ('Edit') color remains same i.e. Black or even according to specific contrast ratio like that in 'Unpublish' text below it.

### Actual result
Text ('Edit')

[2019-03-23 15:23] maliouris commented on #24312
https://github.com/joomla/joomla-cms/pull/24287. Sorry for this but my changes were applied to my last pull request. Can you check it ?

[2019-03-23 15:39] maliouris commented on #24312
https://github.com/joomla/joomla-cms/pull/24287 I didn't make a new brach and this pull request ended up like this. Should I remove it and make 2 clear new pull requests ?

[2019-03-23 15:48] Harshil99 opened #24325 "[4.0] [a11y] Setting icon is not accessible"
### Steps to reproduce the issue
Go to Control Panel.
Tab through whole page using keyboard.

### Expected result
Setting Icon of all Administrator Modules (Sample Data, Logged-in Users etc.) can be selected for keyboard only users.

### Actual result
Not able to select Setting icon through keyboard.

### System information (as much as possible)
Joomla! 4.0.0-alpha8-dev
Google Chrome Version 72.0.

[2019-03-23 16:24] #24295 closed, assigned to nobody

[2019-03-23 16:24] Quy commented on #24295
Please test PR #24316<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24295">issues.joomla.org/tracker/joomla-cms/24295</a>.</sub>

[2019-03-23 16:50] uglyeoin commented on #22524
Can anyone tell me what this line means?  Does this mean someone else is already working on this?  If that is the case then I should stop.

https://github.com/joomla/joomla-cms/blob/9d6238f46d398036ee60a94410c50ee4761db9f9/administrator/components/com_content/views/article/tmpl/edit.php#L53

[code]

[2019-03-23 17:07] Hackwar commented on #13174
Finder is all about exactly that.

There is no way to get what you want with com_search in a even remotely B/C way. Everything would mean that you have to either re-implement com_finder or make such an effort as a 3PD, that you might as well create a finder plugin instead.

[2019-03-23 18:07] Bakual commented on #22524
Now that we have a webservice API in J4, it could also be interesting to use the inline editing feature of TinyMCE (and probably other editors) for editing content of articles or modules.
Then you would only need the full edit form when you want to change parameters, not when you want to change the content.

[2019-03-23 18:16] Quy commented on #24312
Please test PR #24326<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24312">issues.joomla.org/tracker/joomla-cms/24312</a>.</sub>

[2019-03-23 18:31] Puneet-Jain-18 commented on #24325
works well for Joomla! 4.0.0-alpha7-dev
Problem is in alpha 8

[2019-03-23 18:36] uglyeoin commented on #22524
Wow I was totally unaware of that. But YES that would absolutely be the right way to do things.

[2019-03-23 18:37] uglyeoin commented on #22524
I'll have to have a look into things. I have it nearly working on J3. But that wasn't the request. I still think it's an improvement.

[2019-03-23 21:58] #23620 closed, assigned to nobody

[2019-03-24 04:10] #24323 closed, assigned to nobody

[2019-03-24 04:10] Quy commented on #24323
Please test PR #24330<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24323">issues.joomla.org/tracker/joomla-cms/24323</a>.</sub>

[2019-03-24 07:33] Milglius commented on #23979
@infograf768  how you create this image to show actual result?

[2019-03-24 08:02] infograf768 commented on #24292
Closing as we have a patch where this can be discussed further if necessary.
https://github.com/joomla/joomla-cms/pull/24332

[2019-03-24 08:02] #24292 closed, assigned to nobody

[2019-03-24 08:30] infograf768 commented on #24315
Do we have such a module in core? Apparently not.
I suggest you contact the people providing roksproket as this is not a core issue.

[2019-03-24 08:56] mikajaxxx commented on #24315
It is not about roksprocket! it is about the joomla core plugin option that cause conflict with ajax requests!(i mentioned a famous ajax module for testing purpose). i created my own module and the same problem exists!
the option i described above in `System - Language Filter` cause conflict on the ajax requests! no matter which module you want to use!

<hr /><sub>This comment was created with the

[2019-03-24 09:00] infograf768 commented on #24315
Sorry, I personally can't help on this as I have no idea of the issue and solution.

That would be a hint I guess for anyone concerned and able to provide a patch (if feasible).

[2019-03-24 09:34] mikajaxxx commented on #24315
`Remove URL Language Code` option caused ajax request could not set active language for generated urls. in fact it ignored language code for other langues too! so if we have exception for this option to ignore ajax request in other languages maybe the problem will be solved.

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a hr

[2019-03-24 10:15] joeforjoomla opened #24333 "[4.0] joomla-toolbar-button-min.js disconnectedCallback has error"
### Steps to reproduce the issue
Execute the disconnectedCallback of the toolbar button custom element

### Expected result
No js errors in the console

### Actual result
Failed to execute 'removeEventListener' on 'EventTarget': 2 arguments required, but only 1 present

The disconnectedCallback function has the following and incomplete call to removeEventListener, it should be either removed or at

[2019-03-24 10:40] brianteeman commented on #23641
Just commenting that Chrome Version 73.0.3683.86 (Official Build) (64-bit) has been released now and there is no problem

[2019-03-24 11:46] ReLater commented on #24315
I think one have to see some working code to reproduce the issue. Mainly how the request URL is constructed. With or without lang parameter etc. I can just talk about me and I'm not an expert but I always would build AJAX requests in Joomla as non-sef urls (index.php?option=bla&id=blu&lang=xy).

If you have a module. Can you provide it in a reduced form? Rocksproket is too complex.

[2019-03-24 13:10] mikajaxxx commented on #24315
https://www.webkaj.com/fa/

At the bottom of the page you can see a module (i attached the screen) if you hit load more button the new items has no langueage code in url

my module is complex too, but the same result produced
all the links produced by JRoute::_();

if i disable `Remove URL Language Code` option or move joomla to subfolder or disable SEF, system works perfectly
<hr /><sub>This comm

[2019-03-24 14:13] Arpit-24 commented on #24145
Resetting the zoom on the page fixes the issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24145">issues.joomla.org/tracker/joomla-cms/24145</a>.</sub>

[2019-03-24 16:15] #24114 closed, assigned to nobody

[2019-03-24 16:15] Quy commented on #24114
Please test PR #24336<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24114">issues.joomla.org/tracker/joomla-cms/24114</a>.</sub>

[2019-03-24 16:17] #24237 closed, assigned to nobody

[2019-03-24 16:17] Quy commented on #24237
Please test PR #24334<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24237">issues.joomla.org/tracker/joomla-cms/24237</a>.</sub>

[2019-03-24 16:37] SniperSister opened #24337 "[4.0] Serverside enforcement of rel=noopener for all external links"
### Is your feature request related to a problem? Please describe.
Not having the rel=noopener attribute applied to outgoing links is a potential security issue. So far, Joomla has tackled this by enforcing the attribute in various places like i.e. the WYSWIYG editor config, JHTML::link, layouts etc. - however, links generated outside of those places still depend on the user adding the attribute b

[2019-03-24 16:43] mbabker commented on #24337
Just going to re-iterate that this needs to remain an option and not an arbitrary platform behavior.  Also keep in mind that this will have performance implications as it is going to require crawling the entire HTML document and parsing all `<a>` elements, with the only balance to this being to use the page cache plugin.

[2019-03-24 16:45] brianteeman commented on #24337
I am not in favour of ever changing the user generated content.

Adding noopener is not enough - you also have to add noreferer

NOTE: This was rejected as a security issue three years ago by the JSST
NOTE 2: When I introduced the current noopener links there was massive pullback to this change from the SEO team

[2019-03-24 16:47] SniperSister commented on #24337
Well, nothing stops us from getting smarter :)

[2019-03-24 16:49] #24333 closed, assigned to nobody

[2019-03-24 16:49] brianteeman commented on #24337
Shame I was on the end of so much abuse at the time but glad to see the JSST is finally acknowledging th8is

[2019-03-24 16:49] Quy commented on #24333
Please test PR #24338<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24333">issues.joomla.org/tracker/joomla-cms/24333</a>.</sub>

[2019-03-24 17:08] infograf768 commented on #24315
I have installed here roksprocket-2.1.26 on a clean multilingual site (3.9.4).
I used one module for en-GB and one for fr-FR, Mozaic Layout.
Articles to display are tagged to the same language, as is their category.
Protostar default template. `Remove URL Language Code` set to Yes.

Whatever the site default language selected, I get the correct links.

Note: I always have a menu item of type "List

[2019-03-24 17:26] mikajaxxx commented on #24315
Thank you for your time infograf768
could you provide a link to the joomla you have been tested?
the joomla is on the root?
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24315">issues.joomla.org/tracker/joomla-cms/24315</a>.</sub>

[2019-03-24 17:32] mbabker commented on #24337
Another thing to consider is this being an all-or-nothing implementation will have unwelcome side effects on some sites.  Having this plugin run on `joomla.org` would walk through the mega menu and footer links and add unwanted rel attributes to those links; even though they are external in the context of the Joomla installation they are not external in the context of building a multi-site network

[2019-03-24 17:36] brianteeman commented on #24337
Where - I dont see that

[2019-03-24 17:41] SniperSister commented on #24337
Maybe I miss something obvious, but how does noopener and/or noreferrer impact SEO?

[2019-03-24 17:43] infograf768 commented on #24315
joomla tested on localhost as root indeed

[2019-03-24 17:46] mbabker commented on #24337
Doesn't noreferrer prevent passing referral data between domains?  Meaning referrals from `www.joomla.org` to `developer.joomla.org` would not be trackable.

[2019-03-24 17:51] Arpit-24 commented on #23717
@chmst Not really sure but do you mean to get rid of the outline that appears on click?

Like as shown

![upload](https://user-images.githubusercontent.com/26358271/54883392-83ca3a80-4e8b-11e9-85ae-7bee43d36eda.gif)

[2019-03-24 17:51] brianteeman commented on #24337
Yes that's correct

[2019-03-24 17:54] brianteeman commented on #24337
There is only an issue anyway if the link is target blank and iirc Https negates it as well

[2019-03-24 17:55] SniperSister commented on #24337
Solution: don’t add norefferer and use a referrer-policy header instead, because that’s more flexible

[2019-03-24 17:56] mikajaxxx commented on #24315
yeah local host doens't show the problem. also on the sub folder! as i mentioned the problem just show up on root of the server!
this is really weird situaton!
check this:
https://www.luxazin.com/en/
on this website i used the exact same module and component but no problem have been showed up!

also in this example i disabled `Remove URL Language Code` and the system works correctly
https://www.lu

[2019-03-24 17:59] brianteeman commented on #24337
That's overkill to address the security concerns as it would apply to all links not just those in a target blank

[2019-03-24 18:05] SniperSister commented on #24337
Checking google's recommendation, it seems like that noopener actually is enough to kill the security issue - noreferrer is just an additional recommendation on top to improve privacy.

So, just applying noopener should fix the issue without affecting tracking.

[2019-03-24 18:07] mbabker commented on #24337
I still have reservations because of the performance hit but if the scope is contained to only noopener then the plugin doesn't need to be as complex and is less likely to be something people immediately disable.

[2019-03-24 18:18] brianteeman commented on #24337
Can't find the link right now but some older browsers don't support noopener

[2019-03-24 18:20] brianteeman commented on #24337
https://caniuse.com/#search=Noopener

[2019-03-24 19:19] ggppdk commented on #24315
hhmm i am always adding the current / desired language to my AJAX requests (that are non-sef URLs)
i used to have some issues without it, i am not sure (don't remember now it was long time ago) what they were and under which configuration they occurred

[2019-03-24 19:39] ggppdk commented on #24337
Starting the regular expression with a fixed text greatly reduces the performance impact
in this case it would be <a\s

Also this should be much lighter than the performance impact of emailcloak plugin which is handling more cases ?

[2019-03-24 20:18] mbabker commented on #24337
The mail cloaking code only runs on smaller snippets of HTML (most commonly the com_content article body), though may also run multiple times in a request cycle.  Unless someone's got an engineering level genius idea, this would be something that runs on the fully completed HTML document and would inherently process every `<a>` element (those from user input such as the article body, the links gen

[2019-03-24 20:40] brianteeman commented on #24337
and I repeat it should only run when you have target=_blank

[2019-03-25 07:20] infograf768 commented on #23979
I use Licecap on Macintosh

[2019-03-25 10:18] bahl24 commented on #24324
I am unable to reproduce the issue, kindly recheck.
![Screenshot from 2019-03-25 15-47-21](https://user-images.githubusercontent.com/36095178/54911847-56c26a00-4f15-11e9-820a-7238a4a2fe4a.png)

[2019-03-25 11:26] Bakual opened #24339 "[4.0] Multilanguage Status module can't be unpublished"
### Steps to reproduce the issue
Set up a multilingual site (eg using the sample data)
Try to disable the now unneeded multilanguage status module in the module manager
Refresh page.

### Expected result
Module is disabled and doesn't appear anymore.

### Actual result
Module always appears and gets republished without any notice on page refresh.

### Additional comments
PR #19463 added code which

[2019-03-25 11:34] duckpmsf commented on #22959
Hi all,

Can you please help me regarding this subject?

Best Regards
Paulo

[2019-03-25 12:56] infograf768 commented on #24339
https://github.com/joomla/joomla-cms/pull/19463 was made to deal with the automatic loading of the module which had been present in the 4.0 existing code at the time as you remarked.
The issue was that it did not display the module as published in the module manager and someone could by error display 2 modules... Also the status position would display the second module in a weird way.
I kind of li

[2019-03-25 13:14] infograf768 commented on #24339
It does for a sample indeed, but once that sample is created, the user will test and modify the site and the module is very helpful to check at any time if anything is wrong.
I have even proposed a new PR
https://github.com/joomla/joomla-cms/pull/24062
to check for more possible errors and get new messages to improve the module.

[2019-03-25 13:39] Bakual commented on #24339
It's still wrong. The need for your two PRs are a direct result of that.

Which can and should be solved. Shouldn't be that hard.

Imho, the code for the module should be taken out of the mod_status one and the multilang module threated like a regular module. Put it as an own module into the status position (like in J3) and fix the display issues and everything is fine.

[2019-03-25 14:10] Bakual commented on #24008
For frontend modules, ordering works fine for me.
For backend modules, ordering is broken both with drag and drop and when trying to set the ordering in the module settings. I only have the option "None" there.
![image](https://user-images.githubusercontent.com/1018684/54926100-efee8200-4f0f-11e9-9960-b0579d47fad5.png)

[2019-03-25 14:42] Bakual commented on #24339
See https://github.com/joomla/joomla-cms/pull/24341

Closing as we have a PR.

[2019-03-25 14:42] #24339 closed, assigned to nobody

[2019-03-25 15:23] oschibsted opened #24342 "List of tagged items - 1054 - Unknown column 'Array' in 'where clause'"
### Steps to reproduce the issue
Create a menu item using a "Compact list of tagged items" or "Tagged Items", set a tag and then navigate to the page.

### Expected result
See the list of articles that are tagged with the selected tag.

### Actual result
A SQL error, "1054 Unknown column 'Array' in 'where clause'".

### System information

Database Type | mysql
Database Version | 5.6.43
Database C

[2019-03-25 15:27] oschibsted commented on #24342
Full error:

Unknown column 'Array' in 'where clause'
/CENSORED/libraries/joomla/database/driver/mysqli.php:665

Call stack
--
# | Function | Location
1 | () | JROOT/libraries/joomla/database/driver/mysqli.php:665
2 | JDatabaseDriverMysqli->execute() | JROOT/libraries/joomla/database/driver.php:1459
3 | JDatabaseDriver->loadAssoc() | JROOT/libraries/src/Table/Table.php:731
4 | Joomla\CMS\Table\Tab

[2019-03-25 15:28] apophis1982 opened #24343 "(Subform)Repeatable editor blank after drag&drop reorder"
### Steps to reproduce the issue
Create a new Field with type repeatable and add under form fields one field type Editor. Set options to be shown in a tab in article edit view. Create a new article go to the tab and add 2 rows. Write something in each editor field and save and reorder the rows.

### Expected result
After reordering the rows editor behavior is normal

### Actual result
After you re

[2019-03-25 15:29] ciar4n opened #24344 "[FireFox] Template menu assignment - page-break-inside property ignored"
Break inside been ignore in FireFox if column-count is set.

### Steps to reproduce the issue
Have less than 4 menus. Navigate to template style menu assignment tab. Note if using sample data, it is probably easier to just delete the extra li nodes to display less than 4 menus (browser tools).

### Expected result
![image](https://user-images.githubusercontent.com/2803503/54932264-68564280-4f12-11

[2019-03-25 15:45] #24344 closed, assigned to nobody

[2019-03-25 15:45] Quy commented on #24344
See PR #24345<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24344">issues.joomla.org/tracker/joomla-cms/24344</a>.</sub>

[2019-03-25 15:57] Puneet-Jain-18 opened #24346 "[4.0] item remain highlighted even after hover is removed"
### Steps to reproduce the issue
go to template styles=>advanced=> (select a parameter in which you have to select a file)
continuously hover over two items

### Expected result
the black hover background from the previous item is removed on hovering over the new item

### Actual result
2 item remains with black hovering background
![Screenshot (37)](https://user-images.githubusercontent.com/34083

[2019-03-25 16:49] Puneet-Jain-18 commented on #24324
issue reproduces for me
version Joomla 4.0.0 alpha 8 -dev

[2019-03-25 17:23] SharkyKZ commented on #24342
Call stack indicates the issue is with your template:

[code]

[2019-03-25 17:45] oschibsted commented on #24342
Thanks alot. That was the problem!

[2019-03-25 17:45] #24342 closed, assigned to nobody

[2019-03-25 17:47] SharkyKZ commented on #24308
Stylesheets and scripts don't have this issue, they indeed have version appended in the renderer. In core this currently affects only `Joomla\CMS\HTML\HTMLHelper::webcomponent()`. WebComponents are added using document's `addScriptOptions()` so setting media version in the renderer is not possible. I don't see why would it be wrong to use document's properties within `HTMLHelper` methods. What if

[2019-03-25 17:49] SharkyKZ commented on #24125
Closing this as per https://github.com/joomla/joomla-cms/issues/24183#issuecomment-473887905 it's a server configuration issue.

[2019-03-25 17:49] #24125 closed, assigned to nobody

[2019-03-25 18:01] mbabker commented on #24308
That's how I'd do it.  I honestly think your issue here has more to do with the state of the architecture than really needing a dedicated `onAfterDocumentCreatedButBeforeComponentDispatched` hook point and the new hook point is just the quick fix to satisfy a short term issue.  And actually, it seems you've already nailed it on the head.

If web components are being added by this method in a way w

[2019-03-25 21:07] schnuti commented on #24346
I can confirm the issue.
It should be tagged as Media Manager. To test go directly to NMM.
I think I found the problem. An active attribute is added when hovering but is probably not correct removed. However when I use browser debugging (Chrome and FF)the active attribute (and the grey background) is removed as expected.<hr /><sub>This comment was created with the <a href="https://github.com/jooml

[2019-03-25 21:50] #23910 closed, assigned to nobody

[2019-03-25 21:50] Quy commented on #23910
Please test PR #24349<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23910">issues.joomla.org/tracker/joomla-cms/23910</a>.</sub>

[2019-03-25 22:29] #23260 closed, assigned to nobody

[2019-03-25 22:29] Quy commented on #23260
Please tees PR #24350<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23260">issues.joomla.org/tracker/joomla-cms/23260</a>.</sub>

[2019-03-26 07:51] SharkyKZ commented on #24308
It's just not about media version or web components though. This is about whether setting any of document's properties in plugins and using them outside of document and its renderers is valid or not. I would say that it is.

Making web components a document property and moving them to a renderer would be the short term solution as it wouldn't solve potential similar problems elsewhere.

[2019-03-26 09:46] C-Lodder commented on #24337
Note that despite using `noreferrer` for browsers that don't support `noopener`, this won't work on IE11 for Windows 7 or earlier versions of 10. I'm not sure what Joomla's policy is on OS versions

[2019-03-26 09:57] zero-24 commented on #24337
Well what does mean "won't work" here? Just nothing happens? Or something breaks? I think the first case can be accepted. When the general issue can be fixed. :)

[2019-03-26 10:28] joeforjoomla opened #24354 "URLs with utf8mb4 characters allowed"
### Steps to reproduce the issue
Try to copy/paste an utf8mb4 character such as 😍 into a whatever alias menu, articles, etc when the 'Unicode aliases' option is enabled

### Expected result
The utf8mb4 character is stripped out and the link is working

### Actual result
The utf8mb4 is still there and the link is broken causing a MySQL error:

1267 Illegal mix of collations (utf8_general_ci,IMPLICI

[2019-03-26 10:43] agilare commented on #24286
Will the plugin porting the fix to 3.9 be publicly available ?

[2019-03-26 11:25] Skullbock commented on #21248
I agree with @steffans here. Power users would also like to leave their comments in html pages without having them removed.
This doesn't go against what @brianteeman said regarding "untrusted users". We just need to allow for comments to be whitelisted. @steffans maybe try with a PR for this?

[2019-03-26 11:53] C-Lodder commented on #24337
@zero-24 I'm not sure as I don't use Win 7 or an older version if Win 10. This will be something for the security team to research

[2019-03-26 12:19] mbabker commented on #24308
Aside from dealing with components that early exit because plugins have a knack for breaking things, name something that a plugin cannot alter about a Document instance at `onAfterDispatch` or any hook point after that that it would be able to with a hook before the component is executed.  My point is if you need a hook in that specific spot, it seems like some other integration is messed up and t

[2019-03-26 12:43] dougbevan opened #24355 "Won't load after update: error JlanguageHelper"
### Steps to reproduce the issue
Try to load site after update

### Expected result
Site load

### Actual result
PHP Fatal error:  Call to undefined method JLanguageHelper::parseIniFile() in D:\Sites\hivppi\libraries\src\Language\Language.php on line 803

### System information (as much as possible)

### Additional comments
Tried update through web gui, process hung at 100%.  Tried manual method,

[2019-03-26 13:33] SharkyKZ commented on #24308
Web components is currently the only exposed issue in the cor. But 3rd party plugins would expose more issues wherever documents properties are used in component. For example, if a plugin was to set document's `direction` property, this part of Web Installer would fail:

https://github.com/joomla/joomla-cms/blob/6c686d23bfde9c3a66779e306ac0d2d7ad756544/plugins/installer/webinstaller/webinstaller.p

[2019-03-26 13:43] sergueikp opened #24357 "[3.9.4] In Administration > Système > Configuration, if change the value in any field after Saving have to reload the page to see saved value"
### Steps to reproduce the issue
1. Go to administration side
2. Go to Système > Configuration > Tab Serveur > Paramètres du serveur
3. Change value in the field Rapport d'erreurs: from old value "Aucun" to new value : "Maximum"
4. Click Save button, page is saved and reloaded
5. but you see the old value "Aucun" in the field Rapport d'erreurs
6. Refresh (reload) the page in the browser by clickin

[2019-03-26 13:44] mbabker commented on #24308
I'd say that specific case makes the point that plugins should be restricted from doing some things, not being able to do more 😉

[2019-03-26 14:08] martyharty commented on #19954
In Joomla 4 uploading pdf is enabled by default, but not rendered on the frontend.

Changing plugins/fields/media/tmpl/media.php from:
<code>
...
if (!$path)
{
	continue;
}
$buffer .= sprintf('<img src="%s"%s>',
	htmlentities($path, ENT_COMPAT, 'UTF-8', true),
	$class
);
...
</code>
To:
<code>
...
if (!$path)
{
	continue;
}
if(substr($path, -4) == '.pdf')
{
	$parts = explode('/', $path);
	$buffer

[2019-03-26 14:26] martyharty commented on #19954
With href:
<pre>
if (!$path)
	{
		continue;
	}
	if(substr($path, -4) == '.pdf')
	{
		$parts = explode('/', $path);
		$buffer = '<&#8205;a href="'. $path .'" target="_blank" rel="noopener">'. $parts[1] .'</a>';
	} else {
	$buffer .= sprintf('<img src="%s"%s>',
		htmlentities($path, ENT_COMPAT, 'UTF-8', true),
		$class
		);
	}
</pre><hr /><sub>This comment was created with the <a href="https://githu

[2019-03-26 14:30] #24325 closed, assigned to nobody

[2019-03-26 14:30] Quy commented on #24325
Please test PR #24340<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24325">issues.joomla.org/tracker/joomla-cms/24325</a>.</sub>

[2019-03-26 14:42] #24355 closed, assigned to nobody

[2019-03-26 14:42] Quy commented on #24355
Please ask for help at [Joomla Forum](https://forum.joomla.org/viewforum.php?f=710).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24355">issues.joomla.org/tracker/joomla-cms/24355</a>.</sub>

[2019-03-26 14:48] zero-24 commented on #24337
Well when not implemented / interpreted by the browser i expect it to be ignored. But I see nothing we can do against that. By your comment i was thinking about special problems you know about ;)

[2019-03-26 15:08] #24346 closed, assigned to nobody

[2019-03-26 15:08] Quy commented on #24346
Please test PR #24351<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24346">issues.joomla.org/tracker/joomla-cms/24346</a>.</sub>

[2019-03-26 16:02] Quy opened #24360 "[4.0] Undefined index: namespace"
### Steps to reproduce the issue
Download the nightly build.
Install.
Check PHP error log.

### Actual result
PHP Notice:  Undefined index: namespace in \libraries\src\Installer\Adapter\ComponentAdapter.php on line 1423

### System information (as much as possible)
Joomla_4.0.0-alpha8-dev-Development-Full_Package

[2019-03-26 18:14] artur-stepien opened #24361 "Duplicated custom fields in content component"
### Steps to reproduce the issue
- Go to administration of Content component
- Create a category called `A`
- Create a category called `B` and select parent category to `A` so the category tree looks like this: `A -> B`
- Create custom article field called `Test` and as a category select both `A` and `B`. Then in `Options` tab select `Automatic Display` to `Before Content`
- Create article called

[2019-03-26 18:24] ggppdk commented on #24337
question
target="somerandomframename" despite HTML5 deprecated still works in all browsers and will effectively behave as target="_blank" thus it needs noopener ?

[2019-03-26 18:38] maggus commented on #21248
I have very little GitHub experience. Thus, if a pull request is something that has to be done by the original author please tell me how to do this.

Thank you for discussing this issue anyway!

[2019-03-26 19:38] #24179 closed, assigned to nobody

[2019-03-26 19:38] Quy commented on #24179
Please test PR #24362<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24179">issues.joomla.org/tracker/joomla-cms/24179</a>.</sub>

[2019-03-26 19:54] hardik-codes commented on #23798
@infograf768 I have got a patch ready should I submit it now ?

[2019-03-26 20:40] #24357 closed, assigned to nobody

[2019-03-26 20:40] Quy commented on #24357
Unable to reproduce. Please ask for assistance in [Joomla Forum](https://forum.joomla.org/).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24357">issues.joomla.org/tracker/joomla-cms/24357</a>.</sub>

[2019-03-26 21:00] SharkyKZ commented on #24357
Previously such issue was caused by OPCache and fixed with #21949. Are you using any sort of caching on your system?

[2019-03-26 21:01] brianteeman commented on #24337
answer
yes

See a demo of the problem here https://mathiasbynens.github.io/rel-noopener/

[2019-03-26 21:17] wilsonge commented on #24360
Confirmed. This currently blocks the installer from completing for me too.

[2019-03-26 21:31] zero-24 commented on #24360
cc @roland-d and @NunoLopes96 it might should be checked before that there is a value in the namespace parameter as IIRC this is optional.

[2019-03-26 22:18] brianteeman opened #24364 "[4.0] npm failure"
With the current branch at time of posting running npm install produces the following fatal error

[code]

It has been working perfectly on the same windows 10 computer in the same folder for months.

Tried a composer update but no change in the output from npm -i

[2019-03-26 22:22] brianteeman commented on #24364
of course as soon as I posted this and rebooted it started to work

[2019-03-26 22:22] #24364 closed, assigned to nobody

[2019-03-27 06:25] franz-wohlkoenig commented on #24240
@wilsonge After enabling "Debug" get "Whoops, looks like something went wrong." at Back- and Frontend.

[2019-03-27 06:44] franz-wohlkoenig commented on #24343
@HLeithner can you please comment?

[2019-03-27 06:53] franz-wohlkoenig commented on #23316
sorry, don't get what you mean.

[2019-03-27 07:00] franz-wohlkoenig commented on #9010
@HLeithner can you please comment?

[2019-03-27 07:21] SharkyKZ commented on #24308
😕

Which things? Setting document properties, for example?

[2019-03-27 07:29] alikon commented on #24360
see #24367

[2019-03-27 07:45] #24360 closed, assigned to nobody

[2019-03-27 07:46] franz-wohlkoenig commented on #24360
closed as having Pull Request #24367

[2019-03-27 07:49] franz-wohlkoenig commented on #22959
@duckpmsf it needs a Dev. having Time and Interest to investigate an Issue.

[2019-03-27 09:24] #23636 closed, assigned to nobody

[2019-03-27 09:24] franz-wohlkoenig commented on #23636
closed as having Pull Request #24369

[2019-03-27 09:38] sergueikp commented on #24357
Hi, I'm using native Joomla caching and JCH Optimize Pro plugin which minimize the javascript and html files. I will deactivate it and see if there will be some changes.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24357">issues.joomla.org/tracker/joomla-cms/24357</a>.</sub

[2019-03-27 09:52] sergueikp commented on #24357
I've deactivated JCH Optimize Pro, but it gives no effect.
It's strange because the problem exists only In Administration > Système > Configuration page.
I've tested on some other pages like users and menu, there is no such problem. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla

[2019-03-27 09:59] sergueikp commented on #24357
Even in Administration > Système > Configuration > Options any page there is no such problem !
Only on Système > Configuration page. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24357">issues.joomla.org/tracker/joomla-cms/24357</a>.</sub>

[2019-03-27 11:01] infograf768 commented on #23798
Be patient please...
https://github.com/joomla/joomla-cms/pull/22107 has not been yet merged in 4.0
Once done, patch welcome, but please read the comments in that PR.

[2019-03-27 11:53] schultz-it-solutions opened #24372 "Remove version information from various libraries"
A customer of ours had his Joomla! website being scanned for vulnerabilities. Among other findings, the consultant suggested to remove version information from various 3party libraries used by Joomla!

I agree with this suggestion and therefore submit this issue here. That respective version information could for example be stored in a central "3rd-Party Libraries - Versions used.txt" file. I am l

[2019-03-27 11:59] zero-24 commented on #24372
Hi @schultz-it-solutions

why would removing version information protect your site? As you are still using an vulnerable version and by just checking the hash of the file the version can be detected.

[2019-03-27 12:00] franz-wohlkoenig commented on #24372
Changed Title as Priority is assigned at Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24372">issues.joomla.org/tracker/joomla-cms/24372</a>.</sub>

[2019-03-27 12:03] blueboar2 opened #24374 "Optimize the flags images in /media/mod_languages/images"
In the images in /media/mod_languages/images folder there are 161 gif images with flags. Some are ok (for example at.gif, 83 bytes), but others are quite big (tk_tm.gif is 1608 bytes, 20 times larger). I suggest to optimize images (for example, remove XMP metadata and change color number from 256 to smaller - for 18x12 flags there is no need to 256 colors).

I removed the metadata from files, and

[2019-03-27 12:04] zero-24 commented on #24374
Hi it seams the images are not attached. Can you please send them as pull request?

[2019-03-27 12:05] franz-wohlkoenig commented on #24374
@Bakual do i remeber correctly similaer Discussions about Flags?

[2019-03-27 12:06] blueboar2 commented on #24374
![screen shot 2019-03-27 at 12 05 25](https://issues.joomla.org/uploads/1/26feb2bd028abdcfd5464eb34cffa2ae.gif)![screen shot 2019-03-27 at 12 05 25](https://issues.joomla.org/uploads/1/d738acb887d1a258b8d3149ee39d070e.gif)![screen shot 2019-03-27 at 12 05 25](https://issues.joomla.org/uploads/1/e815125af67b19c3880c5b13a145f28f.gif)![screen shot 2019-03-27 at 12 05 25](https://issues.joomla.org/upl

[2019-03-27 12:07] blueboar2 commented on #24374
Send them as pull request on github?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24374">issues.joomla.org/tracker/joomla-cms/24374</a>.</sub>

[2019-03-27 12:08] horus68 opened #24376 "[4.0] COM_ACTIONLOGS_POSTINSTALL_BODY missing closing tag"
### Steps to reproduce the issue
 </a> missing in version 4 language string COM_ACTIONLOGS_POSTINSTALL_BODY
https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/language/en-GB/en-GB.com_actionlogs.ini#L52

`COM_ACTIONLOGS_POSTINSTALL_BODY="<p>With the release of Joomla 3.9.0 you can now log all administrative actions performed by your users in supported extensions. It is now easy to see

[2019-03-27 12:09] blueboar2 commented on #24374
I've uploaded it to http://gtrk-kurgan.ru/images.zip. Are these ok?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24374">issues.joomla.org/tracker/joomla-cms/24374</a>.</sub>

[2019-03-27 12:11] franz-wohlkoenig commented on #24376
please add "4.0 " at Start of Title.

[2019-03-27 12:12] mbabker commented on #24308
That was a bad example to highlight because if a plugin is changing the direction property of the document in an unexpected way it's probably going to break things for the rest of that request in a bad way, especially if you're in a template that has RTL support.

My main point here is I don't see why the document needs a special event after it is created to allow plugins to do things before the c

[2019-03-27 12:12] schultz-it-solutions commented on #24372
@zero-24
Of course you are right this is only a small increase in security (makes it more expensive to "scan the web for vulnerable software").

But if it were completely useless, then why was the version number removed from the Joomla "<meta name="generator" content="Joomla! - Open Source Content Management"> " tag? I kind of remember that in Joomla 1.5 the detailed version number was indeed show

[2019-03-27 12:13] schultz-it-solutions commented on #24372
the "tag" was removed, sorry:

 meta name="generator" content="Joomla! - Open Source Content Management"

[2019-03-27 12:19] mbabker commented on #24372
This should be closed as won't fix.  At no point should third party code be altered by Joomla.  Depending on how version information is exposed, removing it has the potential of breaking code that uses it (i.e. if a library has its version number in a variable or function somewhere, removing that causes code that might parse and use that version info for something to not function correctly).

File

[2019-03-27 12:20] zero-24 commented on #24372
Closing for the reason by Michael didn't noticed they are all from the vendor folder ;)

[2019-03-27 12:20] #24372 closed, assigned to nobody

[2019-03-27 12:22] mbabker commented on #24376
https://github.com/joomla/joomla-cms/pull/22027 has not been merged to 4.0 yet.

This should be closed per https://github.com/joomla/joomla-cms/issues/24188

[2019-03-27 12:24] zero-24 commented on #24376
Closing for the reason above and #24188

[2019-03-27 12:24] #24376 closed, assigned to nobody

[2019-03-27 12:24] zero-24 commented on #24376
This is going to be fixed when the PR mention get merged up to 4.0

[2019-03-27 12:26] zero-24 commented on #24374
Yes: https://docs.joomla.org/Using_the_Github_UI_to_Make_Pull_Requests

at the path where the images are you should be able to upload them using github UI too.

[2019-03-27 13:04] blueboar2 commented on #24374
Done. https://github.com/joomla/joomla-cms/pull/24378<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24374">issues.joomla.org/tracker/joomla-cms/24374</a>.</sub>

[2019-03-27 13:10] #24374 closed, assigned to nobody

[2019-03-27 13:10] franz-wohlkoenig commented on #24374
closed as having Pull Request #24378

[2019-03-27 13:11] rytechsites commented on #23536
Will this be worked on in a future release?  This is important, as we have many category blog views, and want to be able to 'control' the custom fields to 'not display' in the blog view, but in the article view, and previously the only way was to use the 'display after content'.

[2019-03-27 13:40] Milglius commented on #24259
@hardik-codes with what procedure you need help?

[2019-03-27 13:42] hardik-codes commented on #24259
@Milglius could you just post the screenshot where the user activated appears in red?

[2019-03-27 13:51] Chacapamac opened #24380 "[4.0] Joomla 4 Backend Design Reloaded"
### Steps to reproduce the issue

Open Joomla 4

### Expected result

Being in a pro, ergonomically correct interface

### Actual result

Far from it

### Additional comments
I wrote the same things in Joomla forum to try have the community talk about one, if not the most important aspect of the release of Joomla 4. —> https://forum.joomla.org/viewtopic.php?f=803&t=970614

You and I, we know Jooml

[2019-03-27 14:03] franz-wohlkoenig commented on #24380
There is a Backend-Design in Work > @coolcat-creations

[2019-03-27 14:04] tntmartin opened #24381 "Activate user without login"
### Steps to reproduce the issue
I hope this is the right place to request changes.

After Joomla 3.8.12 it's no longer possible to activate new user by link in e-mail.
Now an additional requirement to login before clicking on the link. Is it resonable to make this security design optinal in future versions so you can turn it off? I mean you have the option for users to get activated directly on r

[2019-03-27 14:13] ReLater commented on #24259
Sorry @Milglius but this is not the first issue that you post without detailed step-by-step instructions. It's not fair that helpers have to test all possible settings. That's a waste of time.

#### I can't reproduce the issue with these settings.

![27-03-_2019_14-57-33](https://user-images.githubusercontent.com/20780646/55082239-9ae27580-50a1-11e9-91d7-04d057bed298.jpg)

After clkicking the acti

[2019-03-27 14:28] Milglius commented on #24259
@ReLater I try my best to help

Yes its happens not with self but with administrator

I hope @hardik-codes now understands procedure for reproducing the joomla issue

[2019-03-27 14:30] Chacapamac commented on #24380
**Where can we see that ?**
— So far, Joomla Alpha-8 still drag that Sad “NEW DESIGN” Hopefully it is not what you are talking about?

[2019-03-27 14:33] franz-wohlkoenig commented on #24380
its beeing developed in a private Repository, as far a s i know - please search for @coolcat-creations Issues, where she wrote about it.

[2019-03-27 14:36] Chaosxmk commented on #22959
The problem is also that the bug is intermittent. Despite opening this issue months ago, since January I have yet to experience it again.

[2019-03-27 14:37] franz-wohlkoenig commented on #24380
https://volunteers.joomla.org/teams/j4-backend-template-working-group

[2019-03-27 14:41] brianteeman commented on #22959
I would file it down to the magic fairies and move on.

[2019-03-27 15:03] Chacapamac commented on #24380
After checking, Yes Elisa is the author of that SAD “NEW DESIGN” an the Joomla DEV are going for it. Sad Day for Joomla.

I see that the effort I put to change the course of that mistake is useless.

Go ahead and make My Joomla 4 be rejected at the plate. Sad Day for Joomla.

[2019-03-27 15:16] micker commented on #24380
i understand but htink about this => you can create your own admin template ! sometime we think to have the best solution but community doesn't want this .... not a sad day just a desagre ...
check wordpress community and guthemberg .... that realy a sad day because no real solution wihtout a fork

[2019-03-27 15:26] bembelimen commented on #24380
Sorry @Chacapamac but 7 of your 10 bullet points have nothing to do with the template, it's content (yes, displayed menu items and module orders are not task of the template). So we have the following opinions left:

With the new template it's possible to configurate your colorset by parameters.

Same here, no problem to configurate your own colorset in the params

If you think, no drop-shadow sho

[2019-03-27 16:10] #24145 closed, assigned to nobody

[2019-03-27 16:10] franz-wohlkoenig commented on #24145
closed as having Pull Request #24382

[2019-03-27 16:11] yozmag opened #24383 "Multi category - blog layout view"
### Is your feature request related to a problem? Please describe.
We have the need to have a page with category blog layout but select several categories that are not nested. This also allow to have a rss feed for several categories

### Describe the solution you'd like
I have made a copy of the feature view (This allow several categories) and the featured model( comment line ('filter.frontpage',

[2019-03-27 16:41] Chacapamac commented on #24380
Fantastic that you can modify the color, great, but painting over a broken UI/UX will not change the fact that overall ergonomic and ease of use is a mess.

A big point responsible of the success or failure of any CMS will always be these few first seconds or minutes a new user, a web site developer will discover the interface.
If it’s easy, comfortable and professionally made, they will stick to

[2019-03-27 16:53] bembelimen commented on #24380
Did you take any actions suggested in the post above or are you just here to expressing your opinion?

Linking the same bullet points again and again does not make them any more relevant for the backend template...

[2019-03-27 16:59] HLeithner commented on #24380
@Chacapamac didn't you see the design before? it has been published end of 2017 https://magazine.joomla.org/issues/issue-nov-2017/item/3289-episode-iv-a-new-user-interface-for-the-joomla-backend

Now its a bit late to say everything is bad because the template team has create a new modern template.

Changes are hard and even I will miss the horizontal main menu but for people not doing joomla sinc

[2019-03-27 18:08] C-Lodder commented on #24380
Perhaps you may want to consider the user experience and a11y on this matter. When you have a light dropdown on a light background, (e.g white on white), using a dropdown shadow makes it easier for the user to see the dropdown menu.

A prime example:

![screeny](https://user-images.githubusercontent.com/2019801/55099318-67aae100-50b7-11e9-8acc-06db28e2a830.png)

This is also done by (not just with

[2019-03-27 18:46] Milglius commented on #24383
this is useful

[2019-03-27 19:00] Bakual commented on #24383
Just use tags to achieve what you want. That should do the trick.
A real multicategory (not nested categories) view isn't possible with Joomla. You get issues with ACL and routing.

[2019-03-27 19:22] Milglius commented on #24157
webp is not supported in joomla 3,9,4 also

[2019-03-27 20:15] ot2sen commented on #24380
Look @Chacapamac it is clear that change isn´t a strenght of yours.
Nevertheless, change is what brings joomla forward.
You said your piece here, and sent us to forum thread to validate your
concern. It didn´t. All it did was make us click the signature link of
yours and visit your site.
This didn´t bring extra validity to your UX/UI/Design concerns, at all. You
sent me back to another design era.

[2019-03-27 20:32] brianteeman commented on #24383
I share @Bakual concerns BUT without seeing the code it is  stab in the dark. Please submit a Pull Request with your changes so they can be evaluated

[2019-03-27 21:00] mbabker commented on #24381
This cannot be turned off without re-introducing the referenced security issue, even if it is an option turned on by the user's choice it has security repercussions.  Issue should be closed as a won't fix.

[2019-03-27 21:09] #24381 closed, assigned to nobody

[2019-03-27 21:32] ghost opened #24387 "tag list field show"
### Steps to reproduce the issue

create items tag and field

click on tag and you get list of tagged items with all fields shown

### Expected result

get only tagged items list without fields shown

### Actual result

list of tagged items with all fields display

### System information (as much as possible)

joomla 3.9.4
protostar template

### Additional comments

[2019-03-27 21:38] brianteeman commented on #24387
Please post some screenshots

[2019-03-27 21:56] Chacapamac opened #24388 "[4.0] Custom HTML Module don’t add a module class added in the module admin - Only show mod-custom custom?"
### Steps to reproduce the issue

Add a custom module class in the module admin — e.g. myclass

### Expected result
See the class added to the normal “<div class="mod-custom custom">“

Like “`<div class="mod-custom custom myclass">“`

### Actual result
Custom class is no show
“<div class="mod-custom custom">“

### System information (as much as possible)
Mamp Local Installation - php 7.2.1

[2019-03-27 22:01] Milglius commented on #24387
@brianteeman A Solution is stated above. Could you please post screenshots for not reproducing the issue in joomla 3.9.4 protostar template?

[2019-03-27 22:03] Milglius commented on #24259
@ReLater How should we know if its expected bahavior?

[2019-03-27 22:09] brianteeman commented on #24387
I still don't understand the original post. That's why I asked for some screenshots

[2019-03-27 22:10] brianteeman commented on #24388
What is the module chrome for the position

[2019-03-27 22:13] Milglius commented on #24387
@brianteeman you have article with tag and field?

[2019-03-27 22:21] Chacapamac commented on #24388
Probably my bad as it is a css tom position, it is xhtml<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24388">issues.joomla.org/tracker/joomla-cms/24388</a>.</sub>

[2019-03-27 22:22] Chacapamac commented on #24388
custom position<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24388">issues.joomla.org/tracker/joomla-cms/24388</a>.</sub>

[2019-03-27 22:43] Chacapamac commented on #24388
If I look at my working backup the style/chrome was xhtml before?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24388">issues.joomla.org/tracker/joomla-cms/24388</a>.</sub>

[2019-03-28 01:23] jobst commented on #23504
So I have the problem, too, but I know that one of your assumptions is incorrect and I will get to that.

Agreed.

Agreed

I am not sure how you do the test whether the file is write able, but in MY case I am 100% sure that the file is write able by the user running the server. However, CHMOD is the problem, let me explain.

Assume "Apache" is the user running the webserver, for the sake of this e

[2019-03-28 01:33] jobst commented on #23504
If I knew how I would ;-)

[2019-03-28 04:01] #24269 closed, assigned to nobody

[2019-03-28 04:01] Quy commented on #24269
Please test PR #24327<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24269">issues.joomla.org/tracker/joomla-cms/24269</a>.</sub>

[2019-03-28 05:36] franz-wohlkoenig commented on #24388
Please add "[4.0] " at Start of Title.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24388">issues.joomla.org/tracker/joomla-cms/24388</a>.</sub>

[2019-03-28 05:40] franz-wohlkoenig commented on #24387
@Milglius can you please provide more Information, so willing Volunteers may understand the Issue? Maybe a Step-by-Step-Description, Screenshots or Screencast.

[2019-03-28 05:43] franz-wohlkoenig commented on #24259
@Milglius like https://github.com/joomla/joomla-cms/issues/24387#issuecomment-477456211 please describe your Issue so Volunteers can understand.

[2019-03-28 05:48] #24380 closed, assigned to nobody

[2019-03-28 05:48] franz-wohlkoenig commented on #24380
Closed as main Points seems said - if i'm failed, please reopen.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24380">issues.joomla.org/tracker/joomla-cms/24380</a>.</sub>

[2019-03-28 05:49] franz-wohlkoenig commented on #24157
@laoneo can you please comment?

[2019-03-28 05:53] #23817 closed, assigned to nobody

[2019-03-28 05:54] franz-wohlkoenig commented on #23817
closed as having Pull Request #24386

[2019-03-28 05:55] #23813 closed, assigned to nobody

[2019-03-28 05:55] franz-wohlkoenig commented on #23813
closed as having Pull Request #24385

[2019-03-28 05:59] franz-wohlkoenig commented on #24008
closed as having Pull Request #24358

[2019-03-28 06:40] franz-wohlkoenig commented on #23883
@B3nito Isn't Bootstrap2 supported by J3 and not BS4 as your Template use?

[2019-03-28 06:44] franz-wohlkoenig commented on #23871
@kofaysi have you found?

[2019-03-28 06:54] Bakual commented on #24008
My PR solves another issue. While also ordering the drag and drop afaik uses a different JavaScript script (draggable.js).

[2019-03-28 06:58] infograf768 commented on #24008
I am reopening this.
For site modules:
As I said, when filtered, for example by position, the ordering is not respected when it has been done via drag and drop.

Manager
<img width="1256" alt="Screen Shot 2019-03-28 at 07 54 40" src="https://user-images.githubusercontent.com/869724/55136500-da0ad800-512e-11e9-9f97-9d681ed4ed78.png">

Frontend
<img width="434" alt="Screen Shot 2019-03-28 at 07 51 3

[2019-03-28 07:01] franz-wohlkoenig commented on #24008
@infograf768 @Bakual Sorry for closing.

[2019-03-28 07:16] laoneo commented on #24157
I don't see any issues to support webp.

[2019-03-28 07:32] franz-wohlkoenig commented on #23868
@mbabker can you please answer the Question?

[2019-03-28 07:34] franz-wohlkoenig commented on #23864
@bahl24 any News?

[2019-03-28 07:36] franz-wohlkoenig commented on #23825
@laoneo can you please comment?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23825">issues.joomla.org/tracker/joomla-cms/23825</a>.</sub>

[2019-03-28 07:41] franz-wohlkoenig commented on #23819
closed as having Pull Request #23843

[2019-03-28 07:41] #23815 closed, assigned to nobody

[2019-03-28 07:42] franz-wohlkoenig commented on #23815
closed as having Pull Request #24083

[2019-03-28 07:46] franz-wohlkoenig commented on #23808
@vijay9908 are you working on it?

[2019-03-28 07:51] 4digitalworld opened #24393 "AMP for E-Mail: button for "confirm e-mail""
### Steps to reproduce the issue

I propose to add support for the AMP format for the e-mail address, so that in the email with the confirmation of the email address there is a button that you can immediately click to confirm the email address without going to the site. This is supported now in AMP.

You can see this process on the video link below.

And here is a link to an article from Google: [

[2019-03-28 07:56] martyharty commented on #19954
Attached improved code to always get the end-path from different files folders. https://gridx.joomla.com/
Changing plugins/fields/media/tmpl/media.php to:
[code]

[2019-03-28 08:07] franz-wohlkoenig commented on #19954
@martyharty can you do a Pull Request - https://extensions.joomla.org/blog/item/how-to-contribute-to-joomla-through-github/ ?

[2019-03-28 08:21] #23751 closed, assigned to nobody

[2019-03-28 08:21] franz-wohlkoenig commented on #23751
Closed as known Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23751">issues.joomla.org/tracker/joomla-cms/23751</a>.</sub>

[2019-03-28 08:25] hardik-codes commented on #19954
@franz-wohlkoenig can I do this if @martyharty doesn't have any problem

[2019-03-28 08:28] franz-wohlkoenig commented on #23451
closed as having Pull Request #23706

[2019-03-28 08:29] franz-wohlkoenig commented on #19954
@hardik-codes sure.

[2019-03-28 08:36] franz-wohlkoenig commented on #23674
Closed as there is a Way to handle. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23674">issues.joomla.org/tracker/joomla-cms/23674</a>.</sub>

[2019-03-28 08:36] martyharty commented on #19954
Please go ahead. I noticed setting a files path on Media Field is not accessible from frontend. Check with user(name) and pass(word) on https://gridx.joomla.com/ (default images path is no problem).

Regarding Joomla 4 it seems the System - Privacy Consent plugin is not redirecting user on frontend login.
Also saving Content Fields on backend: An error has occurred. 0 Class 'FieldsHelper' not foun

[2019-03-28 08:38] franz-wohlkoenig commented on #23659
changed Title cause of above Comment by @wilsonge

[2019-03-28 08:44] C-Lodder commented on #23825
Haven't tested, but  perhaps https://github.com/joomla/joomla-cms/pull/24288 solves this

[2019-03-28 08:44] franz-wohlkoenig commented on #19954
@hardik-codes new Features goes only in J4

@martyharty please report the Request at CloudAccess.

[2019-03-28 08:52] franz-wohlkoenig commented on #23825
Thanks @C-Lodder, Issue stay open till #24288 is tested.

[2019-03-28 09:00] franz-wohlkoenig commented on #23568
@HLeithner gently Reminder.

[2019-03-28 09:09] HLeithner commented on #24393
Can you do a PR for J4 or is this a feature request?

[2019-03-28 09:26] franz-wohlkoenig commented on #23538
@uglyeoin do i understand correct you will create a Pull Request against J4?

[2019-03-28 09:29] franz-wohlkoenig commented on #23537
@pulsarinformatique as new Features goes in J4 is it your Interest as Feature Request for J4?

[2019-03-28 09:33] sanek4life commented on #24393
feature request

[2019-03-28 09:41] vijay9908 commented on #23808
No sir

Regards,
Vijay

On Thu, Mar 28, 2019, 2:17 PM Franz Wohlkönig <notifications@github.com>
wrote:

[2019-03-28 09:51] yozmag commented on #24383
I will make a pull request for review, but @Bakual concerns are unfunded because this is just other view of articles, there is no change in the article, just like feature blog view but for items that are not feature, acl and routing just the same.

[2019-03-28 10:07] franz-wohlkoenig commented on #23808
@vijay9908 sorry, i missunderstood https://github.com/joomla/joomla-cms/issues/23808#issuecomment-462655173

[2019-03-28 10:43] franz-wohlkoenig commented on #23510
@infograf768 can i close this Issue having PR #23539?

[2019-03-28 10:46] franz-wohlkoenig commented on #23422
@Scrabble96 is this Issue solved?

[2019-03-28 10:48] franz-wohlkoenig commented on #23376
@Ninja-007 is this Issue solved?

[2019-03-28 10:51] franz-wohlkoenig commented on #23326
I guess the feature Request is for J4 so i changed the Title.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23326">issues.joomla.org/tracker/joomla-cms/23326</a>.</sub>

[2019-03-28 10:59] infograf768 commented on #23510
I would wait as @astridx is not sure yet of her PR

[2019-03-28 11:05] franz-wohlkoenig commented on #23261
@laoneo can you please Comment?

[2019-03-28 11:48] franz-wohlkoenig commented on #23246
@boomsya gently Reminder.

[2019-03-28 11:51] franz-wohlkoenig commented on #23235
whats the Status of this Issue?

[2019-03-28 11:53] SniperSister commented on #23235
I guess someone has to make a decision if the problem is worth an exception or not.

[2019-03-28 11:55] franz-wohlkoenig commented on #23235
thanks @SniperSister, calling @HLeithner as Release Lead.

[2019-03-28 12:03] franz-wohlkoenig commented on #23212
@laoneo gently Reminder.

[2019-03-28 12:07] HLeithner commented on #23235
I follow michael's way, it doesn't make sense to check every if every function of a package is available. Especially if the hoster disable the wrong function like curl_exec instead of the curl_init.

Anyway a dashboard that could check the server would make sense. The question is if there is a 3rd party lib that we can use for this.

[2019-03-28 12:09] brianteeman commented on #24393
We should not do this in the core.

1. It only works with Gmail
2. It requires the site owner to get approval from Google to use it.

[2019-03-28 12:11] mbabker commented on #23235
This type of health check would have to be written specific for Joomla (most of it would be the standard component MVC structure, all you're really writing then is a series of checks to either check the Joomla config for recommended settings or the PHP config for recommended settings and enabled/disabled capabilities, and adding in plugin hooks so extensions could add their own things here similar

[2019-03-28 12:13] franz-wohlkoenig commented on #23235
so closing?

[2019-03-28 12:25] franz-wohlkoenig commented on #23132
@AndySDH so this Issue can be closed?

[2019-03-28 12:27] franz-wohlkoenig commented on #23127
Added to Categorie "Fields".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23127">issues.joomla.org/tracker/joomla-cms/23127</a>.</sub>

[2019-03-28 12:42] HLeithner commented on #23235
sounds good but have to be done ;-)

I thought a bit more in the direction, lib xy say me if curl, mysql, postgres, you name it "really" work. a typ of unit test.

[2019-03-28 12:44] Chacapamac commented on #24380
Nothing to do with change, but the square wheel will never work.

NOTE:
Design are subjective but people go to university to learn the do and don’t and basics rules that are recognize to make good or bad design — UX is always the same, the user experience is king and everything should start there. Before any design the UX should be on paper. The UI (Design) should now clothes and help the UX.

- I

[2019-03-28 12:52] flyingwombats commented on #23132
So there is an issue with repeatable fields.
We cannot get subforms into joomla 3.10 because its a new feature and there are no new features in 3.10
BUT.... could subforms be brought in to 3.10 or even 3.9.6 (3.9.5 is about to be packaged) as a bug fix and not a feature? As its replacing one way of doing something with another and fixes a bug, could it not be argued that its a bug/security fix and

[2019-03-28 13:06] franz-wohlkoenig commented on #23117
@laoneo closing the Issue?

[2019-03-28 13:58] hardik-codes commented on #19954
@franz-wohlkoenig so I have to make a PR for 4.0-dev ?

[2019-03-28 14:00] franz-wohlkoenig commented on #22901
@Quy #14033 seems not to work.

[2019-03-28 14:03] franz-wohlkoenig commented on #19954
yes, there are only Bugfixes in J3.

[2019-03-28 16:02] pulsarinformatique commented on #23537
hello

yes, definitively !
thanks

cyril

[2019-03-28 16:04] boomsya commented on #23246
no

[2019-03-28 17:27] alikon commented on #23246
please test  #24397

[2019-03-28 17:29] #23246 closed, assigned to nobody

[2019-03-28 17:43] AndySDH commented on #23132
Technically yes. There is no point in fixing this if it's getting deprecated anyway...

You're preaching to the choir... I'm with you, I'd love if that was possible, we tried everything to get #22446 pushed in 3.9.x but they just don't want to do it :( I guess because it's a pretty big revamp and not just a small fix.

[2019-03-28 20:43] rytechsites commented on #18457
Is there any update on this feature?

As our sites use fields more and more, it seems like being able to select fields to display in the category list is even more important for core.

thank you!

[2019-03-28 20:45] rytechsites opened #24398 "[4.0] Add TAG selection to Category List View"
### Is your feature request related to a problem? Please describe.
No,

### Describe the solution you'd like
For the Category Blog view, there is the option to select 'by tag' within a category (which is great by the way).

Could this option be added as well for Category LIST View?

### Additional context

[2019-03-29 04:16] gylaz opened #24401 "Install the Hound GitHub App"
### Is your feature request related to a problem? Please describe.

Hound currently cannot review this repo because it can't set the Pull Request status.

### Describe the solution you'd like

Install the [Hound GitHub app](https://github.com/apps/hound) which would address the issue.
An admin of this repo would have to simply follow the link, click "Configure" and install Hound app on just this o

[2019-03-29 05:22] franz-wohlkoenig commented on #18457
@rytechsites it needs a Dev. having Interest and Time.

[2019-03-29 05:23] franz-wohlkoenig commented on #23537
@pulsarinformatique please append "[4.0] " at Start of Title.

[2019-03-29 05:25] franz-wohlkoenig commented on #23132
@HLeithner can you please decide as Release Lead 3.9?

[2019-03-29 05:45] franz-wohlkoenig commented on #24398
Added Categories "com_tags" and "Feature Request" at Issue Tracker.

@rytechsites please add "[4.0 " at Start of Title as Feature Requests goes in J4.

[2019-03-29 05:54] franz-wohlkoenig commented on #22754
@HLeithner can you please comment for J3?

[2019-03-29 05:57] franz-wohlkoenig commented on #22694
@laoneo is the new Media Manager for this Request?

[2019-03-29 06:09] NickSdot commented on #23376
I hope that this is not a stupid question, so I try my luck. :-D

As far as I understood it right J! 3.9 already have all the relevant libraries for J!4 included.

What I wonder about is whether or not it is possible to use the new J!4 component design patterns in J!3.9 already? Let's say I copy all com_banner files & database tables in a J!3.9 installation. Can I tell Joomla! to use the new way?

[2019-03-29 06:10] franz-wohlkoenig commented on #22589
@Hackwar can you please comment about the Router-Aspects?

[2019-03-29 06:15] Ninja-007 commented on #23376
Yes the issue is no longer important for me. But there will be J4 early adapters who will look for some documentation. They may ask questions here.

[2019-03-29 06:18] Ninja-007 commented on #23326
Thanks.
I have changed my design to ACL based dashboard rendering. Therefore the issue is longer interesting for me. However it will be good to have the feature in J4. :)

[2019-03-29 06:22] #23376 closed, assigned to nobody

[2019-03-29 06:22] franz-wohlkoenig commented on #23376
@Ninja-007 Thanks for Answer. I will close it, if Release Lead like to have Comments about Documentation here he will reopen.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23376">issues.joomla.org/tracker/joomla-cms/23376</a>.</sub>

[2019-03-29 06:25] franz-wohlkoenig commented on #22524
Changed Title for J4.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22524">issues.joomla.org/tracker/joomla-cms/22524</a>.</sub>

[2019-03-29 06:26] franz-wohlkoenig commented on #23326
do you mean "no longer"?

[2019-03-29 06:35] bembelimen commented on #23537
I'm not sure if this permission makes sense. If you have already edit permission you could just put in the old texts without going over the version control, so where is the benefit of this permission?

[2019-03-29 06:56] coolcat-creations commented on #24380
Hello @Chacapamac - I received your mail through the volunteers portal but there was no reply adress, please provide a communication canal to lead you to the tasks that are currently important in Joomla 4 Backend and to see if you are able to help with those.

[2019-03-29 08:12] jeckodevelopment commented on #24401
@HLeithner @wilsonge @mbabker

[2019-03-29 08:34] janmyszkier commented on #22754
Just another reason to change this - save time:
example:
- install update using downloaded package (because developer use git and they put files in git, so the company deployment tool can move it to the server)
- you want to see what was the changed logic between update on december and update on january and see if there's something you need to alter in your code
- good luck analyzing thousands of

[2019-03-29 09:31] HLeithner commented on #22754
That's a legal decision. Maybe @ronnikc can say something about this.

[2019-03-29 09:58] solracsf opened #24402 "PHP Warning (open_basedir) when using reCaptcha v2"
Here is the warning:

`Warning: is_file(): open_basedir restriction in effect. File(/home/webapps/nexthttps:/www.google.com/recaptcha/api.js?onload=JoomlaInitReCaptcha2&render=explicit&hl=fr-FR) is not within the allowed path(s): (/home/webapps/next:/var/lib/php/session:/tmp) in /home/next/libraries/src/Filesystem/File.php on line 640`

Don't know if this is core related or not...but testing a URL

[2019-03-29 10:09] Milglius commented on #24387
a Step-by-Step-Description is stated above.

@franz-wohlkoenig you have article with tag and field?

[2019-03-29 10:10] brianteeman commented on #24387
Please close this. It's a simple request for screenshot so we can see the issue more clearly. As the op refuses to do that then we can't help

[2019-03-29 10:13] Milglius commented on #24259
a Step-by-Step-Description, Screenshots is stated above
@franz-wohlkoenig please describe your Issue so I can understand how to help you

[2019-03-29 10:14] Milglius commented on #24387
It's a simple request @brianteeman do you have article with tag and field?

[2019-03-29 10:26] #24387 closed, assigned to nobody

[2019-03-29 10:26] franz-wohlkoenig commented on #24387
@Milglius sorry, you let me no choice than clsoing.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24387">issues.joomla.org/tracker/joomla-cms/24387</a>.</sub>

[2019-03-29 10:28] #24259 closed, assigned to nobody

[2019-03-29 10:28] franz-wohlkoenig commented on #24259
closed for same Reason as wrote in #24387<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24259">issues.joomla.org/tracker/joomla-cms/24259</a>.</sub>

[2019-03-29 11:15] ghost opened #24405 "tagged items articles titles list without fields display bug"
### Steps to reproduce the issue

in frontend create article with tag and fields

click on published article tag "brian sit"

you get example url  /component/tags/tag/brian-sit

you get list of articles that have "brian sit" tag

### Expected result

the list of articles titles are displayd

### Actual result

the list of articles titles including fields are displayed

### System information (as m

[2019-03-29 11:45] ghost opened #24406 "Expected bahavior Register a new user in Joomla fornt-end"
### Steps to reproduce the issue

Register a new user in Joomla fornt-end.

### Expected result

no documentation?

From my point of view: not Expected bahavior.

### Actual result

After clkicking the activation link in email to new user: Activated is not green:

screenshot by @ReLater in #24259

### System information (as much as possible)

joomla 3.9.4
moder sef on

### Additional comments

whe

[2019-03-29 11:55] brianteeman commented on #24406
Please close - question has been asked and answered

[2019-03-29 11:56] brianteeman commented on #24405
please close for reasons already explained several times

[2019-03-29 12:03] Milglius commented on #24406
question has been **never** answered

[2019-03-29 12:05] Milglius commented on #24406
its very strange why @brianteeman  trys to hide joomla bugs

if the joomla policy is to hide bugs I ll use wordprees instead

[2019-03-29 12:17] Milglius commented on #24405
question has been never answered

its very strange why @brianteeman trys to hide joomla bugs

if the joomla policy is to hide bugs I ll use wordprees instead

[2019-03-29 12:19] Bakual commented on #24406
Closing as expected behavior.
This also answers the question "why Brian tries to hide Joomla bugs". He doesn't because there is no bug.

If you prefer Wordpress over Joomla, feel free to use it. Always use the tool which fits your needs best.

[2019-03-29 12:35] Hackwar commented on #22589
This is expected behavior and your website is not correctly configured. Even if @infograf768 thinks it's wrong, you still have to create menu items for your content, otherwise you get crap URLs. That the tagging system is also crap, is a different story. I wouldn't know what else to say about this.

[2019-03-29 12:36] brianteeman commented on #22589
@Hackwar please be careful with your words

[2019-03-29 12:37] #22589 closed, assigned to nobody

[2019-03-29 12:37] franz-wohlkoenig commented on #22589
@Hackwar thanks for Comment, closing Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22589">issues.joomla.org/tracker/joomla-cms/22589</a>.</sub>

[2019-03-29 12:48] franz-wohlkoenig commented on #24405
Closed in favor Discussion #24387

[2019-03-29 12:48] #24405 closed, assigned to nobody

[2019-03-29 13:16] Milglius commented on #24406
So bug in joomla is expected behavior, no documentation in joomla is expected behavior. If you find bug in joomla just write there is no bug and close the joomla issue.

In that case I prefer Wordpress

can you recommend me tool to migrate from buggy outdated joomla 3,9,5 to modern Wordpress 5,1,1?

@Bakual what is expected behavior?

where to find joomla expected bahavior on Both the "Enabled" an

[2019-03-29 13:33] Milglius commented on #24405
So bug in joomla is expected behavior, no documentation in joomla is expected behavior. If you find bug in joomla just write there is no bug and close the joomla issue.

In that case I prefer Wordpress

can you recommend me tool to migrate from buggy outdated joomla 3,9,5 to modern Wordpress 5,1,1?

[2019-03-29 13:45] Milglius commented on #23283
Yes I prefer Wordpress, joomla was ok decade ago, now joomla is outdted and buggy cms and its getting even worse

current joomla devs as @brianteeman @franz-wohlkoenig and @Bakual show no respect for joomla user

there is no bug there is no documentation and joomla issue is closed

In that case I prefer Wordpress

can you recommend me tool to migrate from buggy outdated joomla 3,9,5 to modern Word

[2019-03-29 13:51] zero-24 commented on #24401
Should be active now again.

[2019-03-29 14:01] Bakual commented on #23283
Deleted last comment as it was not related to this issue.

[2019-03-29 14:06] Bakual commented on #24406
Documentation can be found on docs.joomla.org. There are quite a few pages realting to user account activation. Support can be found on forum.joomla.org.
This isn't the place for both of those. An issue can be openend here if there is a bug or you're missing a feature. But you just have a different understanding of what is expected, that's not a bug.

[2019-03-29 14:12] rytechsites commented on #24398
done, thank you.

[2019-03-29 15:19] yozmag commented on #24383
Add a PR 24412 for this

[2019-03-29 15:27] #24383 closed, assigned to nobody

[2019-03-29 15:27] franz-wohlkoenig commented on #24383
closed as having Pull Request #24412

[2019-03-29 16:05] wilsonge commented on #24401
Looks good to me now too. Thanks for reaching out!

[2019-03-29 16:05] #24401 closed, assigned to nobody

[2019-03-29 22:22] HLeithner commented on #23132
@wilsonge do you see any bug fix for this in 3.9, else you should close it because we will have a subfields for j4.

[2019-03-30 02:07] 810 commented on #24393
Outlook is also supporting amp now.

https://techcommunity.microsoft.com/t5/Outlook-Blog/Support-for-AMP-HTML-preview-in-Outlook-com/ba-p/382832

[2019-03-30 02:09] stutteringp0et commented on #24398
How would that work?  Tags applied to the category would automatically apply to content within the category? Or totally separate, allowing categories to be returned on tag searches?

[2019-03-30 02:17] rytechsites commented on #24398
I would think it would work the same as it does in category blog view.  Thats why i thought it woukdnt be too difficult to code, since category blog view already has that funtionality.

[2019-03-30 03:13] NickSdot opened #24414 "[4.0] ComponentHelper::getComponentName() returns wrong name in some cases"
I run into an issue which results in making some problems and extra effort required to use the old element name of a component in J!4.

In an edit view of a component is no `$this->option` set by default. So the used \Joomla\CMS\MVC\Controller\FormController is using `ComponentHelper::getComponentName($this, $this->getName())` in it's constructor to get the element name for the url to redirect to

[2019-03-30 05:01] Milglius commented on #24406
@Bakual in links you provided there are 0 information on :  joomla docs is outdated and joomla forum is dead

joomla expected bahavior on Both the "Enabled" and "Activated" columns?

what diferencies have "Enabled" and "Activated" ?

So bug in joomla is expected behavior, no documentation in joomla is expected behavior. If you find bug in joomla just write there is no bug and close the joomla issu

[2019-03-30 05:06] franz-wohlkoenig commented on #24402
i guess its about J3 so calling @HLeithner to comment.

[2019-03-30 06:57] Bakual commented on #24406
Apparently, you haven't used the "Help" button within your Joomla backend (available on most pages), and you haven't searched the documentation (my link was just the start page).
The forum isn't dead either, but it's a community. So your tone may matter.

[2019-03-30 06:58] #24406 closed, assigned to nobody

[2019-03-30 07:11] nikosdion commented on #24049
Looking at my to-do list I don't think I have a realistic chance of helping with that beyond proof-reading someone else's work. Sorry :(

[2019-03-30 07:20] kofaysi opened #24415 "Web Links in Search results open in parent window instead of new window (global)"
### Steps to reproduce the issue

Set Global configuration > Web Links > Target > Open in new window
Search (finder / smart search) for a weblink name which has Target set to Global
Open the link of the weblink in the search results.

### Expected result

Opens in new window.
Link structure should be:
`index.php?option=com_weblinks&task=weblink.go&id=119&Itemid=591`

### Actual result

Opens in pa

[2019-03-30 07:32] #24415 closed, assigned to nobody

[2019-03-30 07:32] franz-wohlkoenig commented on #24415
Please report in https://github.com/joomla-extensions/weblinks/<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24415">issues.joomla.org/tracker/joomla-cms/24415</a>.</sub>

[2019-03-30 11:19] joeforjoomla commented on #24393
This is not something that can be done at core level. There are too many implications as @brianteeman outlined.

[2019-03-30 11:21] franz-wohlkoenig commented on #21148
closed as having Pull Request #24417

[2019-03-30 11:22] ghost opened #24418 "[4.0] Help button and link at installation J4 Alpha7"
When I click this button at installation, this link is opened in same window.

Can this link open in a new window?

[code]

[code]

`

[2019-03-30 11:23] franz-wohlkoenig commented on #24418
As far as i know its about Accessibility to not open in a new Window.

[2019-03-30 11:38] Scrabble96 commented on #23422
Well, I wouldn't say solved, exactly, as the topic went off in several directions and other topics, links to help files, given and differing opinions from other commenters, etc., so probably best just to close it for now. It's probably all covered elsewhere.

[2019-03-30 11:38] #23422 closed, assigned to nobody

[2019-03-30 12:19] diolegend opened #24419 "Registration Email Activation Problem, Only JSON Message"
### Steps to reproduce the issue
We have to go: [https://www.ingrossoborseonline.com/en/](https://www.ingrossoborseonline.com/en/) and click the register button, insert all the details of account and finally click the register button.

We will get an email message from info@ingrossoborseonline.com which tell me to click the link for email verification.

And will show this message and nothing else.

[2019-03-30 12:38] ReLater commented on #24419
Please ask in a forum for help. The issue that you describe isn't a Joomla core issue. You're using JoomShopping and an AJAX-driven registration form that is not part of Joomla core.

I can't reproduce your issue with a "normal" Joomla.

[2019-03-30 12:39] #24419 closed, assigned to nobody

[2019-03-30 12:39] franz-wohlkoenig commented on #24419
Closed for Reasons stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24419">issues.joomla.org/tracker/joomla-cms/24419</a>.</sub>

[2019-03-30 12:50] jeremysmartin399 commented on #24418
For what it is worth, W3C had this to say about [opening new tabs and windows from a link](https://www.w3.org/TR/WCAG20-TECHS/G200.html):
"The objective of this technique is to limit the use of links or buttons that open new windows or tabs within Web content. **In general, it is better not to open new windows and tabs since they can be disorienting for people, especially people who have difficult

[2019-03-30 16:36] ggppdk commented on #24337
About doing this Content Security Policy

It looks like **disown-opener** CSP directive was dropped from webappsec-csp
(anyway no browser added support of it)
https://github.com/w3c/webappsec-csp/pull/327

but something new is planned
Adding a new HTTP header called Cross-Origin-Window-Policy

i do not link to it below, so that you try to read it,
just referencing saying that something is planned

[2019-03-30 16:38] franz-wohlkoenig commented on #23809
closed as having Pull Request #24420

[2019-03-30 16:39] #23807 closed, assigned to nobody

[2019-03-30 16:40] franz-wohlkoenig commented on #23807
closed as having Pull Request #24421

[2019-03-30 17:47] klucon commented on #24418
Ok, I read the link and understood the W3C specification.
Can you close it?

[2019-03-30 17:48] klucon commented on #24418
I will close it.

[2019-03-30 17:48] #24418 closed, assigned to nobody

[2019-03-30 19:16] C-Lodder commented on #23809
Franz, could you reopen please as the PR was closed. Thanks

[2019-03-30 19:41] pulsarinformatique commented on #23537
Hi

Right now ANYONE can access the VERSION button . It may conflict the new J4 custom workflow feature in which only some users can publish / unpublish contents.

if some users can't publish or unpublish contents thanks to the new custom workflow system BUT can access the Version control it conflicts the workflow

thanks

cyril

[2019-03-30 19:42] franz-wohlkoenig commented on #23809
Reopened as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23809">issues.joomla.org/tracker/joomla-cms/23809</a>.</sub>

[2019-03-30 19:48] Quy commented on #23809
Is PR #23780 not a fix?

[2019-03-30 20:01] bembelimen commented on #23537
Yes I understand this but I don't see the problem here? If someone has edit rights, why shouldn't be/she/it access the version button?

[2019-03-30 21:45] Bakual commented on #23537
Afaik, not anyone. Only those with edit permissions. And those by design.

[2019-03-30 22:01] brianteeman commented on #23537
Can you give a real world example of a scenario where you see the problem

[2019-03-30 22:09] pulsarinformatique commented on #23537
Hi
This is simple : let's say we have a mygroup group whose members can't edit the contents, just read them. Since they have access to the VERSION button they can revert to an older version thus modifying the current content !

Therefore we whould add a "edit versions' permission in com_content so that only some given user groups could actually get access to the version control.

thanks

cyril

[2019-03-30 22:17] brianteeman commented on #23537
Is that even possible?

[2019-03-30 22:24] pulsarinformatique commented on #23537
you take it the way you want: having the possibility to revert to a former version shouldn't be accessible to everyone. This should be controled.

[2019-03-30 22:40] brianteeman commented on #23537
If a user is able to edit the content directly then I still don't see the benefit/need to prevent them from accessing versions. Thats what I am really trying to understand

[2019-03-30 23:03] pulsarinformatique commented on #23537
If you take my first post here you will read the issue comes with J4 new workflow. With this powerful new workflow system you now have cases in which you allow some users to edit a content BUT you don't want them to publish it!

If these users cand access the versions button they will automatically publish a former version !!!

This is why the new workflow system forces us to more precisely contro

[2019-03-31 01:05] stutteringp0et commented on #24398
I misunderstood the title - I get it now.  Yeah, probably not hard to implement.

[2019-03-31 05:13] franz-wohlkoenig commented on #24398
@stutteringp0et do you make a Pull Request? > https://extensions.joomla.org/blog/item/how-to-contribute-to-joomla-through-github/

[2019-03-31 05:16] franz-wohlkoenig commented on #23809
@Quy i thought also as @dgrammatiko wrote in #24420 but it seems not, so @C-Lodder wanted it reopened.

[2019-03-31 05:19] franz-wohlkoenig commented on #24414
@infograf768 can you please comment?

[2019-03-31 05:20] #23968 closed, assigned to nobody

[2019-03-31 05:21] franz-wohlkoenig commented on #23968
closed as having Pull Request #24423

[2019-03-31 06:27] franz-wohlkoenig commented on #24240
Clpsing as Issue resolved elsewhere.

[2019-03-31 06:27] #24240 closed, assigned to nobody

[2019-03-31 06:31] bembelimen commented on #23537
Ok, I think I understand the issue now. I have to check first, but I think the problem is on a deeper level:
1. The front-end still does not implement the workflow correctly in all places: https://github.com/joomla/joomla-cms/pull/21702
2. I have to check if the version correctly handle the state (I guess not)

[2019-03-31 06:34] franz-wohlkoenig commented on #21580
Updated Screenshot in opening Thread to show all Warnings, Notices, ...

[2019-03-31 07:40] Bakual commented on #23537
If they can't edit the content, then they of course shouldn't have access to version. If that's currently the case (haven't tested), then that is a bug to be solved.
It doesn't need an additional permission, it just needs to properly check edit permissions.

[2019-03-31 10:19] dgrammatiko commented on #23809
#23780 fixes the tabs and the tab state as well, so this can be closed

[2019-03-31 10:24] #23809 closed, assigned to nobody

[2019-03-31 10:24] franz-wohlkoenig commented on #23809
Closed as stated above, thanks @dgrammatiko <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23809">issues.joomla.org/tracker/joomla-cms/23809</a>.</sub>

[2019-03-31 10:45] franz-wohlkoenig commented on #23512
closed as having Pull Request #24427

[2019-03-31 11:24] mikajaxxx commented on #24315
I checked all the codes,and it seems the problem comes form `Remove URL Language Code` option!
i hope someone could help us to solve this problem.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24315">issues.joomla.org/tracker/joomla-cms/24315</a>.</sub>

[2019-03-31 15:41] HLeithner commented on #24402
The host has a basedir set and it seams that we test a url if it exists with is_file, that seams wrong to me. I did't checked the codepath but I think checking external files for existence makr no sense.

[2019-03-31 17:32] stutteringp0et commented on #24398
I could.  I thought @rytechsites made the issue and might take that PR.  I'll take a look at the changes and go forward from there.

[2019-03-31 17:39] stutteringp0et commented on #24398
@rytechsites

While I'm looking at this code - I'd like to be crystal clear as to what your request is.

When creating a menu item for category blog, you can select tags for the menu item.  Creating a category list menu item has no such option.

This is where you want tag availability, right?  And you want it to function the same as category blog tag selection?

[2019-03-31 18:13] 200MPHMEDIA opened #24430 "[4.0] Parent Category Move Does Not Include Child Category"
### Steps to reproduce the issue
From a list of Parent Categories, using the relocation feature, move a Parent Category to the top of the Category List.

### Expected result
The Parent and its Child Categories should all move together with the Parent.

### Actual result
Only the Parent Category moves; the Child remains where it is and becomes a child of the Category which was above the Parent befo

[2019-03-31 18:24] wilsonge commented on #24214
Closed as we have a PR https://github.com/joomla/joomla-cms/pull/24431

[2019-03-31 18:24] #24214 closed, assigned to nobody

[2019-03-31 18:33] franz-wohlkoenig commented on #24430
Please add "[4.0] " at start of Title.

[2019-03-31 19:11] HLeithner commented on #24393
I'm pretty sure someone creates a plugin for this and we can reevaluate this later again if google keep this "feature" or drop it like many other things...

[2019-03-31 19:11] #24393 closed, assigned to nobody

[2019-03-31 19:18] sanek4life commented on #24393
This can be added as an option. Now all modern e-mail clients support AMP.  Anyway, most site visitors will have mail from Gmail, so this will be a big plus for the site. And for users of other services, you can send letters without AMP

[2019-03-31 19:18] sanek4life commented on #24393
[https://blog.amp.dev/2019/03/26/building-the-future-of-email-with-amp/](https://blog.amp.dev/2019/03/26/building-the-future-of-email-with-amp/)

After a developer preview with top email senders, Gmail is launching general availability of AMP for Email today. You can head to the Gmail blog to see some illustrative examples of the email recipient experience. You can also check out these provider sp

[2019-03-31 19:24] sanek4life commented on #24393
@brianteeman All major mail services already support this standard!

Gmail
Outlook
Yahoo
Mail.ru

[2019-03-31 19:27] sanek4life commented on #24393
https://raw.githubusercontent.com/ampproject/amphtml/master/spec/img/amp-email-mime-parts.png

Adding AMP to existing emails

Email is structured as a MIME tree. This MIME tree contains the message body and any attachments to the email.

Embedding AMP within an email is simple, add a new MIME part with a content type of text/x-amp-html as a descendant of multipart/alternative. It should live along

[2019-03-31 19:29] brianteeman commented on #24393
they do not support it. they plan to support it. big difference

On Sun, 31 Mar 2019 at 20:27, s <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2019-03-31 19:31] sanek4life commented on #24393
This can be added to Joomla 4. When Joomla 4 comes out, all mail services will already support this AMP format.

[2019-03-31 19:31] 200MPHMEDIA commented on #24430
Sorry mate.  Forgot to add that.  Was too focused on explaining the issue.  Cheers.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24430">issues.joomla.org/tracker/joomla-cms/24430</a>.</sub>

[2019-03-31 19:34] Milglius commented on #24387
big sorry to @brianteeman and @franz-wohlkoenig just reinstalled joomla and now it is fixed :)

[2019-03-31 19:36] Milglius commented on #24405
big sorry to @brianteeman and @franz-wohlkoenig just reinstalled joomla and now this issue is fixed :)

[2019-03-31 19:53] gkrn commented on #24324
i am unable to reproduce the issue too , kindly recheck.
version Joomla 4.0.0 alpha 8-dev
Google Chrome Version- 73.0.3683.86

[2019-03-31 19:53] sanek4life commented on #24393
![image](https://don16obqbay2c.cloudfront.net/wp-content/uploads/blog_amp/welcome-preview.gif)

@brianteeman @HLeithner

This is a million times better than the standard link in the letter during registration on the site!

![image](https://raw.githubusercontent.com/ampproject/amphtml/master/spec/img/amp-email-mime-parts.png)

Why not do it? This option will not harm the mails. There is also a func

[2019-03-31 19:58] HLeithner commented on #24393
I don't know if you ever have seen joomla registrations mails but they are plain text ;-)
We have a PR for adding mail templates https://github.com/joomla/joomla-cms/pull/22126 depending on its implementation maybe it's possible to add alternative parts to the mail then you can add what every you want to your mails.

[2019-03-31 20:03] sanek4life commented on #24393
@HLeithner I saw standard letters from Joomla when registering on the site. I know that there is a plain text, and that is why I suggest making the AMP version with a button, so that the user does not need to make another transition to the site during registration. It will be very convenient for everyone. This will not break the ability to send plain text messages to mail clients that do not suppo

[2019-03-31 20:34] Harshil99 commented on #24324
The issue produces some commits ago but now on hover it works good.

[2019-03-31 20:34] #24324 closed, assigned to nobody

[2019-03-31 20:41] SharkyKZ commented on #24308
What if it's doing it in a totally expected way?

[2019-03-31 20:43] SharkyKZ commented on #24308
This has completely slipped my mind until now but the issue also occurs when properties are being set in the template (e.g. HTML5 mode in J3.x). Because component is rendered before the template is even parsed.

[2019-03-31 20:47] rytechsites commented on #24398
stutteringp0et,

Yes, exactly my thought is just to add the capability in the Category List to select TAGGED articles within a category.  This would give a lot of power to the category list page.

Yes, I would think it could work exactly as the 'tag selection' already works in the blog view.

I'm not a php code, so I did not create the pull request...

thank you!
-- Laura

[2019-03-31 20:53] rytechsites commented on #18457
Should this be marked to a [4.0] request since it would be a FEATURE?  (A very important feature), so it doesn't 'get lost' in joomla 3.x?

[2019-03-31 20:56] mbabker commented on #24308
On the language case, name a valid reason for a plugin to flip the
direction from that set by the language for the entire document.

What can a component render that should be different based on HTML4 versus
HTML5?

All these hypotheticals can run around in circles all day.  The document
can be in a different state between when a component is rendered and when
the template is rendered, there’s no

[2019-04-01 05:11] franz-wohlkoenig commented on #18457
@rytechsites you're right, please add it at Start of Title.

[2019-04-01 05:44] franz-wohlkoenig commented on #24430
@wilsonge can you please comment?

[2019-04-01 05:57] franz-wohlkoenig commented on #24430
Cannot confirm Issue. But the move of the Subcategorie is only shown after Refresh like cklicking on "Categories" at Sidemenu.

[2019-04-01 06:07] franz-wohlkoenig commented on #24241
Can you please provide more Details. I can't reproduce this Issue.

[2019-04-01 06:17] franz-wohlkoenig commented on #24175
@drwesleyferreira please add "[4.0] " at Start of the Title.

[2019-04-01 07:13] #23812 closed, assigned to nobody

[2019-04-01 07:13] franz-wohlkoenig commented on #23812
Closed as works now as expected: Test using Firefox 66.0.2 on MacOS 10.13.6 @C-Lodder please reopen if Issue isn't solved on your Side.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23812">issues.joomla.org/tracker/joomla-cms/23812</a>.</sub>

[2019-04-01 07:22] #23734 closed, assigned to nobody

[2019-04-01 07:23] franz-wohlkoenig commented on #23734
Closed as Issue resolved somewhere. @lllopo please reopen if Issue isn't resolved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23734">issues.joomla.org/tracker/joomla-cms/23734</a>.</sub>

[2019-04-01 07:25] #23717 closed, assigned to nobody

[2019-04-01 07:25] franz-wohlkoenig commented on #23717
Closed as Issue resolved somewhere. @chmst please reopen if Issue isn't resolved.

[2019-04-01 07:32] #23697 closed, assigned to nobody

[2019-04-01 07:33] franz-wohlkoenig commented on #23697
Closed as Issue resolved somewhere. @infograf768 please reopen if Issue isn't resolved.

[2019-04-01 08:01] joeforjoomla commented on #24241
I'm using an SMTP account on my localhost as usual. Let me know if you need additional informations about the SMTP configuration.

[2019-04-01 08:04] joeforjoomla commented on #24241
The only way to have it working as in Joomla 3 is settings
public $SMTPAutoTLS = false;
in the PHPMailer.php

[2019-04-01 08:05] joeforjoomla commented on #24241
![image](https://user-images.githubusercontent.com/17835460/55312390-b6fd6280-5465-11e9-8656-eab420805b8c.png)

[2019-04-01 09:51] franz-wohlkoenig commented on #24241
I searched for SMTP at CloudAccess, can't find.

[2019-04-01 09:52] joeforjoomla commented on #24241
I don't know which SMTP you are searching. I'm just talking about a standard SMTP account.

[2019-04-01 09:52] beeweebee opened #24435 "Multilanguage Pagination HREFLANG and association links are wrong"
### Steps to reproduce the issue

Create a blog view in a multilanguage site.
Browse any pages but the first page of the blog.
URL should be something like this for a French page: https://www.mydomain.com/fr/sefurlformyblogfirstpage?start=42

### Expected result

The URL should be something like this for the associated page in hreflang in English for instance: https://www.mydomain.com/en/sefurlfor

[2019-04-01 09:53] beeweebee opened #24436 "Multilanguage Pagination HREFLANG and association links are wrong"
### Steps to reproduce the issue

Create a blog view in a multilanguage site.
Browse any pages but the first page of the blog.
URL should be something like this for a French page: https://www.mydomain.com/fr/sefurlformyblogfirstpage?start=42

### Expected result

The URL should be something like this for the associated page in hreflang in English for instance: https://www.mydomain.com/en/sefurlfor

[2019-04-01 09:58] infograf768 commented on #23697
The nouser display issue was solved here:
https://github.com/joomla/joomla-cms/pull/24228

[2019-04-01 10:00] #24435 closed, assigned to nobody

[2019-04-01 10:00] franz-wohlkoenig commented on #24435
Closed as duplicate Report #24436<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24435">issues.joomla.org/tracker/joomla-cms/24435</a>.</sub>

[2019-04-01 10:02] franz-wohlkoenig commented on #24241
Don't know what this mean.

[2019-04-01 10:06] joeforjoomla commented on #24241
Don't you know what is an SMTP account?

[2019-04-01 10:23] infograf768 commented on #24436
How would one know if there are the same number of pages in each blog?
Your french blog may have 12 pages displayed depending on its parameters, and English could have 6.
Therefore the language filter (and the module...) would need a special setting, only for com_content (and blog or featured) where we would have to check `$this->pagination->limitstart`, then check if it is similar in the asssocia

[2019-04-01 10:44] ghost opened #24438 "Error page not being invoked for certain urls containing numbers"
### Steps to reproduce the issue
Download and install Joomla 3.9.4. with "sample data english blog".
rename htaccess.txt to .htaccess in joomla root directory
Enable SEF urls in joomla global configuration (no need to enable url rewriting)
Type "yourdomain.com/rubbish" - you get the "error" page and "not found" shows correctly.

Now type "yourdomain.com/1" or "yourdomain.com/1rubbish" or any url t

[2019-04-01 10:52] franz-wohlkoenig commented on #24241
I don't know what you mean by "standard" SMTP-Account, so i searched at CloudAccess.

[2019-04-01 10:54] joeforjoomla commented on #24241
I mean an SMTP account configured as in the screenshot.

[2019-04-01 11:00] franz-wohlkoenig commented on #24438
Can't confirm on a quick Test on a 3.9.4-Livesite, got always 404 as expected.

[2019-04-01 11:01] beeweebee commented on #24436
@infograf768 Thanks for your comment. I understand the limitstart issue and I can see that that's a problem. Maybe there's no easy fix to that in Joomla.
However, allow me to respectfully disagree with your comment regarding Search Engines being very happy. Let's say you have 50 pagination pages on your blog. All of them has the autoreferential hreflang tag pointing to the first page of the blog.

[2019-04-01 11:12] brianteeman commented on #24438
Pretty certain that this is a known issue when you use a number that matches an article id

[2019-04-01 11:14] beeweebee commented on #24436
Maybe a setting in the association tab would be to check "on" or "off" the following feature:

IF the associated menu link is a blog, then if there's no corresponding page in the alternate language, redirect the user to the last page of the blog in the alternate language.

ELSE redirect to the same pagination page.

Just an idea!

[2019-04-01 11:16] franz-wohlkoenig commented on #23618
@HLeithner Release Lead decide :-)

[2019-04-01 11:26] ReLater commented on #24438
No. It's like @brianteeman says. And it's the known and "correct" behavior at least since Joomla 2.5. BTW: you can use it for short urls (nice side effect).

Use "Modern URL Routing" plus "Remove IDs from URLs" to get rid of it.

[2019-04-01 11:31] franz-wohlkoenig commented on #23425
Closed as works as expected now. @ReLater please reopen if Issue isn't solved on your Side.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23425">issues.joomla.org/tracker/joomla-cms/23425</a>.</sub>

[2019-04-01 11:32] #24438 closed, assigned to nobody

[2019-04-01 11:32] franz-wohlkoenig commented on #24438
Closed as expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24438">issues.joomla.org/tracker/joomla-cms/24438</a>.</sub>

[2019-04-01 11:34] franz-wohlkoenig commented on #23326
At the End a Release Lead Decision.

[2019-04-01 11:45] franz-wohlkoenig commented on #23250
Issue confirmed.
### System information
Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 nr.1 SMP Mon Dec 17 12:02:35 EST 2018 x86_64
Database Type | mysql
Database Version | 5.7.24-cll-lve
Database Collation | utf8_general_ci
Database Connection Collation | utf8_general_ci
PHP Version | 7.1.26
Web Server | Apache
WebServer to PHP Interfac

[2019-04-01 11:45] Bakual commented on #24436
I think Google doesn't usually list a blog view itself, they list the individual articles within a blog.
Beside the pagination link would change over time as new content comes in which moves older content back.
So the pagination in a list doesn't matter much to search engines. Afaik they actually ignore it.

From a CMS point of view, we just can't know if the page "x" in french has the same conten

[2019-04-01 11:48] HLeithner commented on #23618
Is this really useful? Doesn't a custom.css does the same in 3 lines?
But I will merge it if its only a small addition because it doesn't effect merging into 4.0 (because it doesn't exists in j4)

You have to find someone that could write a PR

[2019-04-01 11:58] 200MPHMEDIA commented on #24430
All:  can confirm that AFTER a parent Category move, and a CTL F5 screen refresh, the child Category has, in fact, been moved with the parent.  This seems to be clumsy and a "mystery" action that a user must take to make the list appear properly.  Wonder how everyday john-doe user would know that?  Do you think that, after moving a Category, that a "forced" screen refresh might be a solution?<hr /

[2019-04-01 12:19] franz-wohlkoenig commented on #24430
This isn't expected Behaviour.

[2019-04-01 13:27] franz-wohlkoenig commented on #23087
@laoneo any Comment please?

[2019-04-01 13:31] franz-wohlkoenig commented on #23087
Addes Categorie "Feature Request" at Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23087">issues.joomla.org/tracker/joomla-cms/23087</a>.</sub>

[2019-04-01 13:33] brianteeman opened #24443 "Failing Update checks - no indication"
### Steps to reproduce the issue
Easiest way is to have a local site and disconnect from the internet. Confirm that your site cannot see updated by checking for updates using the joomla update component

### Expected result
In J3 the checks for new joomla and extensions will display an error on the control panel bottom left
In J4 the checks for new joomla and extensions will display an error on th

[2019-04-01 13:36] jcodewalker commented on #22241
@Fedik if it really works like you say the form doesn't need the "groups" field at all, since the filter parameter is passed via GET or POST "subgroups" field works anyway. The same result can be obtained with a custom field. We can say this is a way to xml a custom (simply) list field...

[2019-04-01 14:24] #22804 closed, assigned to nobody

[2019-04-01 14:24] franz-wohlkoenig commented on #22804
Closed as now resolved elsewhere. @PhilETaylor please reopen if resolving isn't true.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22804">issues.joomla.org/tracker/joomla-cms/22804</a>.</sub>

[2019-04-01 15:52] 200MPHMEDIA commented on #24430
What isn't expected behaviour?  The user does not expect the list to display with the sub-categories?  We do not understand what you are saying.
It should be a reasonable expectation by a user that when a Category with Sub-Categories is moved, that it should display that without having pre-informed knowledge to refresh the screen.  My questions is: how would they know to refresh the screen?  In ot

[2019-04-01 16:12] franz-wohlkoenig commented on #24430
sure, its written in https://github.com/joomla/joomla-cms/issues/24430#issuecomment-478445887

[2019-04-01 16:22] 200MPHMEDIA commented on #24430
I give up.  I'm rowing up the wrong river trying to explain a problem.

[2019-04-01 16:27] franz-wohlkoenig commented on #24430
maybe a language problem but i confirm you all the Time :-) The Difference is i gave Info to Dev. that after a Refresh it looks fine.

[2019-04-01 16:49] 200MPHMEDIA commented on #24430
Yes, AFTER a refresh it does look correct.  But, if you were an administrator, and did not know that a screen refresh was required, what would you do if the list view did not change.  You would assume you did something wrong.

Why, after a Category is moved and dropped into place, cannot the screen refresh itself.

It does that when changing the Status of an item in the list view.

[2019-04-01 17:00] billtomczak commented on #21148
Thank you https://github.com/Arpit-24! I can confirm the PR corrects the problem in English.

[2019-04-01 17:01] brianteeman commented on #24430
It is a bug and it needs to be fixed - we all agree

On Mon, 1 Apr 2019 at 17:49, 200MPHMEDIA <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2019-04-01 17:04] franz-wohlkoenig commented on #21148
@billtomczak please mark your Test at https://issues.joomla.org/tracker/joomla-cms/24417 as successfully

[2019-04-01 17:05] 200MPHMEDIA commented on #24430
Thank you so much Brian!!!  At least someone recognizes it as an issue and suggests it be fixed, which is what I said in the beginning.  Cheers for that!

[2019-04-01 17:25] eddiekonczal opened #24446 "Accessibility errors with Tagged Items menu item"
### Steps to reproduce the issue

- Create a "Tagged Items" menu item
- Enable "Filter Field" on the "Item Options" tab
- Enable "Display Select" on the "Pagination Options" tab
- Save the menu item
- Analyze the page with the "WorldSpace Attest DevTools" plugin for Google Chrome

### Expected result

The page should not return any accessibility errors

### Actual result

The page returns these ac

[2019-04-01 19:39] eddiekonczal opened #24448 "Accessibility issue with email link"
### Steps to reproduce the issue

- Click the email icon for an article
- Analyze the "Email this link to a friend" popup window to page with the "WorldSpace Attest DevTools" plugin for Google Chrome

### Expected result

The page should not return any accessibility errors

### Actual result

The following violation is reported:

### System information (as much as possible)

PHP Built On | Linux w

[2019-04-01 19:50] hardik-codes commented on #24448
@eddiekonczal could you post the relevant screen shots for reproducing the issue

[2019-04-01 20:00] eddiekonczal commented on #24448
Here are the screen shots:

1. Click "Email this link to a friend" icon (upper right of article):
![1-click-email-link](https://user-images.githubusercontent.com/35043141/55355489-723def80-5496-11e9-942a-b33036577072.png)

2. Pres F12 in Chrome to bring up Developer Tools:
![2-press-F12-in-Chrome](https://user-images.githubusercontent.com/35043141/55355582-bdf09900-5496-11e9-940c-5b9c0e2387db.png)

[2019-04-01 20:14] gkrn commented on #24354
I think you need to go to your PhpMyadmin and change the collation of the the tables from 'utf8_general_ci' to 'utf8mb4_unicode_ci'.
Here's an article i found that might help -https://www.joomlathat.com/support/music-collection/1267-illegal-mix-of-collations-utf8-general-ci-implicit-and-utf8mb4-general-ci-coercible-for-operation-like

[2019-04-01 21:39] joeforjoomla commented on #24354
@gkrn we are talking about Joomla core tables, not something to go and change through phpMyAdmin
Additonally, the 'alias' field for each table of Joomla is set to utf8mb4_bin

[2019-04-01 22:44] dgrammatiko opened #24450 "[4.0] Move code out of core.js"
### Steps to reproduce the issue

Move https://github.com/joomla/joomla-cms/blob/621d9d76605a779e9c7b73d48af2090f944f0a94/build/media_source/system/js/core.es6.js#L917-L934
to another file!!!!

### Expected result

Core.js is supposed to be Joomla's API not the common garbage bin!!!

### Actual result

### System information (as much as possible)

### Additional comments

[2019-04-02 05:21] #23811 closed, assigned to nobody

[2019-04-02 05:21] franz-wohlkoenig commented on #23811
closed as having Pull Request #24449

[2019-04-02 05:24] franz-wohlkoenig commented on #24446
@zwiastunsw can you please comment?

[2019-04-02 06:00] franz-wohlkoenig commented on #22524
See #24110

[2019-04-02 06:03] franz-wohlkoenig commented on #22507
@brianteeman can you please help?

[2019-04-02 06:06] #22415 closed, assigned to nobody

[2019-04-02 06:06] franz-wohlkoenig commented on #22415
closed as Discussion is on #22446. Please reopen if i'm wrong.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22415">issues.joomla.org/tracker/joomla-cms/22415</a>.</sub>

[2019-04-02 06:08] franz-wohlkoenig commented on #22390
@HLeithner can Release Lead please decide?

[2019-04-02 06:20] franz-wohlkoenig commented on #22314
Please add Label "J4 Backend Template".

[2019-04-02 06:20] franz-wohlkoenig commented on #22311
Please add Label "J4 Backend Template".

[2019-04-02 06:24] #21964 closed, assigned to nobody

[2019-04-02 06:25] franz-wohlkoenig commented on #21964
Issue resolved, so closed. Please reopen if i'm wrong.

[2019-04-02 06:27] franz-wohlkoenig commented on #21936
@joelsan can you please answer?

[2019-04-02 06:29] franz-wohlkoenig commented on #21928
@innato is this an Issue anymore?

[2019-04-02 06:32] franz-wohlkoenig commented on #21855
@infograf768 can you please test as @Anu1601CS mentioned above?

[2019-04-02 06:39] franz-wohlkoenig commented on #21780
@laoneo all three mentioned Pull Requests are merged, are "contacts, banners, newsfeeds and categories" also migrated and this one can be tested again if Issue still exist?

[2019-04-02 07:11] laoneo commented on #21780
Yes

[2019-04-02 07:13] laoneo commented on #22390
In J4 this code gets removed anyway. So I would close this issue and leave J3 as it is.

[2019-04-02 07:28] franz-wohlkoenig commented on #21780
Thanks @laoneo. Issue is the same as described in first Comment.

[2019-04-02 07:30] #22390 closed, assigned to nobody

[2019-04-02 07:30] franz-wohlkoenig commented on #22390
Closed as stated above, thanks @laoneo <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22390">issues.joomla.org/tracker/joomla-cms/22390</a>.</sub>

[2019-04-02 07:33] #21580 closed, assigned to nobody

[2019-04-02 07:33] franz-wohlkoenig commented on #21580
Closed as no Core-Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21580">issues.joomla.org/tracker/joomla-cms/21580</a>.</sub>

[2019-04-02 07:45] franz-wohlkoenig commented on #21301
Please add Label "J4 Backend Template".

[2019-04-02 07:46] franz-wohlkoenig commented on #21244
@puneeth2001 is there a Pull Request coming?

[2019-04-02 07:47] franz-wohlkoenig commented on #21125
Please add Label "J4 Backend Template".

[2019-04-02 08:00] beeweebee commented on #24436
Hi @Bakual, thanks for your input. There's no special "user" use to it. SEMRush (powerful SEO tool) is reporting this duplicate hreflang tag as an error this is the original reason I am starting to enquire about this.
So it's only from a SEO standpoint that I work on the matter. I don't think it's critical because as you said, Google may not index blog view. It's just that those tags are incorrect

[2019-04-02 08:02] brianteeman commented on #22507
If i could have fixed it myself i would already have done so

[2019-04-02 09:00] franz-wohlkoenig commented on #21089
@f-hamel can this Issue be closed?

[2019-04-02 09:02] franz-wohlkoenig commented on #20977
@aaron-harding will you create a Pull Request?

[2019-04-02 09:12] franz-wohlkoenig commented on #20864
@Bakual should this Issue stay open?

[2019-04-02 09:16] franz-wohlkoenig commented on #20849
@markusmarchewa can you provide a Pull Request (+accessibility)?

[2019-04-02 09:30] franz-wohlkoenig commented on #20720
@Taatshi can you please look if this is an Issue on latest Nightly Build?

[2019-04-02 09:31] franz-wohlkoenig commented on #20627
@Taatshi can you please look if this is an Issue on latest Nightly Build?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20627">issues.joomla.org/tracker/joomla-cms/20627</a>.</sub>

[2019-04-02 09:36] #19997 closed, assigned to nobody

[2019-04-02 09:38] franz-wohlkoenig commented on #19954
closed as having Pull Request #24409

[2019-04-02 09:40] f-hamel commented on #21089
Yes we can.
I guess somithin is wrong with the envrionment an session handling in php.

[2019-04-02 09:41] #21089 closed, assigned to nobody

[2019-04-02 09:46] franz-wohlkoenig commented on #19855
Categorie "Feature Request" added at Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/19855">issues.joomla.org/tracker/joomla-cms/19855</a>.</sub>

[2019-04-02 10:03] franz-wohlkoenig commented on #19085
@avjoomla can you please test if this Issue is resolved?

[2019-04-02 10:15] franz-wohlkoenig commented on #19014
@C-Lodder @himanshuc3 did you ever find each other?

[2019-04-02 10:21] franz-wohlkoenig commented on #18659
Please add Label "J4 Backend Template".

[2019-04-02 10:24] #18634 closed, assigned to nobody

[2019-04-02 10:24] franz-wohlkoenig commented on #18634
Closed due the lack of response.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/18634">issues.joomla.org/tracker/joomla-cms/18634</a>.</sub>

[2019-04-02 10:26] franz-wohlkoenig commented on #18457
@infograf768 please change Label to "J4 Issue".

[2019-04-02 10:28] brianteeman commented on #20986
Reopening.
The switcher should be a fieldset and the label from the xml used as a legend
The label should be the value eg JNO and JYES
If desired a more verbose aria-label can be added with a value of "label"-"value"

I created a codepen to show it can work (without any js)
https://codepen.io/brianteeman/pen/MRwJqd?

Does this really need to be a custom element?

Obviously the styling would need t

[2019-04-02 10:32] brianteeman commented on #20986
Sorry @chmst I completely forgot about the codepen that you shared. That also works if you add the fieldset and legend (its prettier than mine as well) https://codepen.io/nickbottomley/pen/uhfmn

[2019-04-02 10:42] zwiastunsw commented on #20986
Your concept is the right one. It doesn't have to be a custom element. Because as you show, you can do it well without any JavaScript.

[2019-04-02 10:44] joelsan commented on #21936
@Milglius  & @franz-wohlkoenig , are you asking me to contribute my own code to the Joomla project?
If so , I'll think about a solution in the weekend and let you know.
___

[2019-04-02 10:46] dgrammatiko commented on #20986
**YES ALL FIELDS NEEDS TO BE CUSTOM ELEMENTS**
Here is the reasons:
- Custom elements are the only scripts that are **lazily loaded**
- Custom Elements are the only scripts that serve ES6 code to the newer browsers (>90%)
- Custom Elements leverage the browsers events so repeated fields work without any more code
- Custom Elements are modular by nature which is the right way to do it

[2019-04-02 10:49] brianteeman commented on #20986
If it needed any js that might be true
If they worked that might be true
If anyone understands them and is able to contribute that might be true
There is a reason @wilsonge called a moratorium on them

But all of that is off topic for this switcher

[2019-04-02 10:55] chmst opened #24452 "[4.0] Error when there is no category in articles"
### Steps to reproduce the issue
Install a fresh version.
Then go to com_content, categories, trash and delete the category.

### Expected result
A warning, something like "Delete not possible. You must have at least one category"

### Actual result
The category is deleted.
The view artices now throws the error:
Argument 1 passed to Joomla\Utilities\ArrayHelper::getColumn() must be of the type arr

[2019-04-02 10:56] dgrammatiko commented on #20986
Unsubscribed...

[2019-04-02 11:00] wilsonge commented on #20986
This has a bug (I think) where i had to click on it twice to change the value (first time only gained focus but didn't toggle)

Agree this is styled a bit nicer

Either way if we can do this without JS (and it works in IE11) then go with it and ditch this custom field

[2019-04-02 11:04] brianteeman commented on #20986
Going to have a go and see what code I can produce based on @chmst proposal

[2019-04-02 11:04] franz-wohlkoenig commented on #21936
i was asking cause of this comment.

[2019-04-02 11:13] #23758 closed, assigned to nobody

[2019-04-02 11:13] #24450 closed, assigned to nobody

[2019-04-02 12:18] C-Lodder commented on #19014
@franz-wohlkoenig Can't remember that far back. But don't close as the issue still stands

[2019-04-02 12:29] mbabker commented on #24452
Nothing says that there must be at least one category.

Actually, that specific error at that specific line means that nobody is doing error checking in the `getTransitions` method, a common missing thing in Joomla's code.  The `getItems` doc block clearly indicates a boolean false is returned on failure.

[2019-04-02 13:12] brianteeman commented on #24452
As you can create a category on the fly within the article edit form there shouldnt be a reason that you cannot delete all empty categories

[2019-04-02 13:24] franz-wohlkoenig commented on #16835
@infograf768 Please add Label "J4 Backend Template". Thanks for adding Labels so far and in Future ;)

[2019-04-02 13:27] franz-wohlkoenig commented on #16497
@infograf768 Please add Label "J4 Backend Template". Thanks for adding Labels so far and in Future ;)

[2019-04-02 13:41] infograf768 commented on #16497
Please remember, in case alerts are displayed to the right side for LTR, to display them to the left side in RTL. The main reason is to prevent the alerts from hiding the admin menu.

[2019-04-02 14:26] innato commented on #21928
@franz-wohlkoenig I haven't checked the present Joomla! version 3.9.4, but if the issue has not been addressed in a version after J3.9.1, then it will still exist. But as I commentd on 28th Oct 2018, I have worked around it.
In case you're checking because the issue is still open, I will be happy to close it, as Joomla! 4 is on its way soon...

[2019-04-02 14:29] infograf768 commented on #21780
I confirm the issue is still present. Tested for contacts although they rightfully use `AssociationServiceInterface`
The issue is present for SEF as well as no SEF.

[2019-04-02 14:38] infograf768 commented on #24436
"For us" is the key here. Joomla is in this regard much more advanced than many CMS.
Symetrical is a common use indeed but J goes further.
A blog menu item can be associated to whatever menu item one needs, depending on the language.

[2019-04-02 14:52] franz-wohlkoenig commented on #24436
@infograf768 so this is expected Behaviour?

[2019-04-02 14:54] infograf768 commented on #24436
Yes. Closing.

[2019-04-02 14:54] #24436 closed, assigned to nobody

[2019-04-02 14:56] saraheagle opened #24456 "Module styles from specific template only work when that template is used on that page"
### Steps to reproduce the issue
- Make sure you have the Beez & Protostar templates installed and enabled
- Have the Beez template as the default template
- Create a new "Custom" module and put it into a position where it can be seen on the front end of the website.
- In the advanced tab choose the "well" Protostar module style

### Expected result
- The "well" Protostar module style is being use

[2019-04-02 15:31] chmst commented on #24452
@brianteeman you are right.
@mbabker After a new installation this error has diappeared. Sorry for wrong alert.

[2019-04-02 15:38] innato commented on #21928
Thank you for waking me up. Issue closed.

[2019-04-02 15:38] #21928 closed, assigned to nobody

[2019-04-02 15:41] wilsonge commented on #23132
I mean the things unusable. But it makes more sense to do a migration in j4 for subforms.

[2019-04-02 15:41] #23132 closed, assigned to nobody

[2019-04-02 15:42] mbabker commented on #24452
There's still a bug to be addressed and something should be open (either this with the title corrected or a new item) to address it.  [This line](https://github.com/joomla/joomla-cms/blob/2bdb02a464362efc3e26f442a91d141a2521bf11/administrator/components/com_content/Model/ArticlesModel.php#L514) does not check for a boolean false return, meaning there is no error handling and that should be fixed t

[2019-04-02 15:46] franz-wohlkoenig commented on #24452
@chmst can you please open an Issue as @mbabker suggested above?

[2019-04-02 15:59] lausianne commented on #20878
I use Helix3 and have the same issue. The solution is only accessible for paying customers. **AlainRnet**, could you share your solution, please?

[2019-04-02 16:06] coolcat-creations commented on #16497
Everything about the current alerts is not accessible.
They are not only displayed wrong for the wrong situation but also not accessible at all.
If anyone has an idea how to programmatically solve it would be higly appreciated.

[2019-04-02 16:45] brianteeman commented on #16497
it is easy to do as long as we abandon the completely broken web component that is being used. However that is nothing to do with this issue.

If the design calls for them to be on the right then this should stay open. If not then it should be closed.

Please remember that the biggest problem is that the majority of these popup alerts should not even be alerts at all

[2019-04-02 16:58] ReLater commented on #16497
+1 for that.

Most messages appear after page reload that means the page is at top position where the message container should be. I read them and scroll down and can go on. I don't see any benefits to have these messages glued annoyingly over the content and to close them again and again and again and again before you can go on with your work.

-1 because that doesn't change anything. Because you

[2019-04-02 17:00] alikon commented on #24452
unable to replicate with

- Install a fresh latest staging without data
- go to com_content, categories
- trash and delete the category

both
..index.php?option=com_content
and
...index.php?option=com_categories&extension=com_content

gives expected result
`No Matching Results `

what i'm missing ?

[2019-04-02 17:03] brianteeman commented on #16497
falderal ?

[2019-04-02 17:09] ReLater commented on #16497
https://dictionary.reverso.net/english-definition/falderal

[2019-04-02 17:14] mbabker commented on #24452
The title is not relevant at this point.  As I noted in https://github.com/joomla/joomla-cms/issues/24452#issuecomment-479058646 the bug is the lack of error checking when calling `$this->getItems()`, if for some reason that returns a boolean false that scenario is not accounted for which results in the "Argument 1 passed to Joomla\Utilities\ArrayHelper::getColumn() must be of the type array, bool

[2019-04-02 17:19] chmst commented on #24452
As I said, the error has diappeard after a new installation. Probably it was a database update between the last pulls which caused the error.

[2019-04-02 17:37] alikon commented on #24452
did you mean after https://github.com/joomla/joomla-cms/blob/2bdb02a464362efc3e26f442a91d141a2521bf11/administrator/components/com_content/Model/ArticlesModel.php#L514

something like

[code]
?

[2019-04-02 17:44] mbabker commented on #24452
Right.

[2019-04-02 17:51] #24452 closed, assigned to nobody

[2019-04-02 17:51] franz-wohlkoenig commented on #24452
closed as having Pull Request #24458

[2019-04-02 19:04] brianteeman commented on #16497
cool - learnt a new word

[2019-04-02 19:16] brianteeman commented on #20986
the code in the nickbottomley pen works on IE11 according to my test

[2019-04-02 19:26] Chaosxmk commented on #24456
Alternatively, if it proves too difficult to allow a user to use a module style from any template, then the list of available styles should be limited to only the active template.

[2019-04-02 19:27] coolcat-creations commented on #16497
So what we need to solve is:
- exception handling -> show the right alerts / warnings / informations / errors for the right case @?
- position and "animation" -> show it in the right place without moving the content down @?
- design -> make a designproposal that fits to the new backend @coolcat-creations

Before doing a design proposal I would need the advise of the developer which exeptions exist

[2019-04-02 19:44] brianteeman commented on #16497
all is possible.

After seeing your repo and the accessibility failures in the work done so far design proposals are a waste of time if there is no commitment to basic accessibility. You dont add accessibility on as afterthought it has to be done from the beginning. The template proposal is far more than a design and is not the same as your proposal in the magazine. Sorry but you chose to exclude

[2019-04-02 19:48] brianteeman commented on #24456
Same as #17953 ??

[2019-04-02 19:51] coolcat-creations commented on #16497
Every attempt to cowork with you like with an adult fails unfortunately (see just your answer right now). No wonder I don't want to work in this repo and prefer to ignore you.

[2019-04-02 20:56] N6REJ opened #24459 "[4.0] Blog Sample Data doesn't show completed."
### Steps to reproduce the issue

install clean dev_4.0
after installation run blog sample data installer

### Expected result
sample data is installed and informs me its completed.
install button changes to "installed" or "completed"
progress bar goes away or CLEARLY indicates completed ( change color? )

### Actual result
![image](https://user-images.githubusercontent.com/1850089/55435531-ad5825

[2019-04-02 21:15] Bakual commented on #24459
The last message states it has been installed and the progress bar is at 100%. Imho it's quite clear.

Of course the bar could be changing colors (should be simple with CSS) - but I wouldn't make that specific for the sample data. Progress bars ideally look the same in the whole CMS.
I also wouldn't hide it. That would be strange and unexpected.

I wouldn't touch the "install" buttons. After a pag

[2019-04-02 21:17] brianteeman commented on #16497
and thats why you make so little progress

[2019-04-02 21:29] ot2sen commented on #16497
Open Source matters

[2019-04-02 21:30] mbabker commented on #24456
It's too complex to limit the options in that field to whatever is contextually relevant to the module.  Which includes limiting the template position selector to "active template" or the module chrome selector in the same way (you'd need a lot of heavy engineering to be able to properly filter this down, and a lot of AJAX driven field reloading to reset other fields if you change something, i.e.

[2019-04-02 21:35] coolcat-creations commented on #16497
Not sure what you are refering to and why you are all the time such an unkind and sarkastic person @brianteeman but this thread shows me that its better to ignore you again. I feel sorry for you, that you can't be a nice person.

[2019-04-02 22:02] N6REJ opened #24460 "[4.0] installing template throws isAdmin error"
### Steps to reproduce the issue
install j4 staging.
attempt to install "helix ultimate"

### Expected result

installed correctly

### Actual result

![image](https://user-images.githubusercontent.com/1850089/55439050-fa8cc500-5568-11e9-9139-13534140f3b4.png)

### System information (as much as possible)

[systeminfo-2019-04-02T20_55_44+00_00.txt](https://github.com/joomla/joomla-cms/files/303605

[2019-04-02 22:28] Quy commented on #24460
Turn on debug. The error could be coming from the template.

[2019-04-02 22:56] AlainRnet commented on #20878
Sorry, I don't remember and I haven't access either. I seem to remember that the bug is now closed and that it is enough to update Helix.

[2019-04-02 22:56] mbabker commented on #24460
https://api.joomla.org/cms-3/classes/Joomla.CMS.Application.CMSApplication.html#method_isAdmin

[2019-04-02 23:01] AlainRnet commented on #20878
Perhaps you can try :

as described here : https://github.com/joomla/joomla-cms/issues/20879#issuecomment-400450383

[2019-04-03 05:04] franz-wohlkoenig commented on #24459
+1 for this.

[2019-04-03 05:09] #24456 closed, assigned to nobody

[2019-04-03 05:10] franz-wohlkoenig commented on #24456
Closed as duplicate Report #17953. Thanks for Hint @brianteeman <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24456">issues.joomla.org/tracker/joomla-cms/24456</a>.</sub>

[2019-04-03 05:12] franz-wohlkoenig commented on #17953
@coolcat-creations can you please see https://github.com/joomla/joomla-cms/issues/24456#issuecomment-479211889 by @mbabker?

[2019-04-03 05:18] franz-wohlkoenig commented on #16497
+1 for "Save"-Message without moving Content.

[2019-04-03 06:21] lausianne commented on #20878
Thank you! That helped a lot. I had to disable a few other extensions, too (SJ Mega Menu and Extra Menu Params - both by YouTech/SmartAddons). There is no update for Helix3, and the successor, Helix Ultimate seems dead, too ...

[2019-04-03 06:48] coolcat-creations commented on #17953
There is an error if you name a module chrome same like the system template so if the same error is fired when using cross templates people will at least understand where the "bug" comes from. Thats the solution I would propose.

Second solution would be that there is only one modules.php from the system and it's overriden completely with the modules.php in the html folder. That would at least fol

[2019-04-03 06:53] Bakual commented on #20864
It's partially solved (eg overrides work now) but Michaels ideas would go further.

[2019-04-03 06:54] infograf768 commented on #24460
The template needs a lot of care to use in j4.
isAdmin but also isSite in the plugin, (I could install by using isClient(), but also much more.

Closing

[2019-04-03 06:54] #24460 closed, assigned to nobody

[2019-04-03 06:56] Bakual commented on #17953
In J3 it's probably not possible to solve.
In J4 we changed the chromes to use JLayouts and it already works the way you want it (I think). 😄

[2019-04-03 06:59] brianteeman commented on #16497
It's really quite simple.

1. The current code is misusing the term role=alert - see https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role for when it should be used and you wil see.

2. When you understand when there should be an alert you will see that a success message is not an alert
3. Do we even need a message to say "this has been saved"? If yo

[2019-04-03 07:02] franz-wohlkoenig commented on #16497
Agree.

[2019-04-03 07:08] brianteeman commented on #16497
To be clear. Most of the "alerts" are not alerts and should not have a role=alert. They are user notifications only.

https://www.w3.org/WAI/tutorials/forms/notifications/

[2019-04-03 07:16] infograf768 commented on #16497
Success messages should be kept as Notices, not alerts.

[2019-04-03 07:25] coolcat-creations commented on #17953
@Bakual exciting :) Any documentation how to migrate?

[2019-04-03 08:47] HLeithner commented on #24315
Joomla uses the cookie if no language is given, so maybe it isn't sent with the xhr request?

I can't find the buttons on your site...

[2019-04-03 09:01] mojoooo opened #24462 "Reopen: review time of user notes is saved wrong"
Hello again,

i've already reported this error in https://issues.joomla.org/tracker/joomla-cms/23890 and need to reopen it again, because the problem isn't solved yet.
I've tested your suggestions without success.

I can provide you with some more information:
When I create a new user hint the review time is set automatically to the current date. After saving it gets converted to a different date

[2019-04-03 09:07] franz-wohlkoenig commented on #24462
Please ask on [Forum](https://forum.joomla.org/)

[2019-04-03 09:16] Bakual commented on #17953
Documentation? What is that?
You can look at what I did in https://github.com/joomla/joomla-cms/pull/23570
Basically you will have to copy the stuff inside the each function in modules.php to an own  JLayout.

[2019-04-03 09:39] wilsonge commented on #20986
Cool. then obviously I approve removing the javascript one in favour of the css based one if we don't need the JS. We obviously want to style it akin to the latest proposals https://coolcat-creations.com/joomla/#/screens/267320995 @coolcat-creations

[2019-04-03 09:57] brianteeman commented on #20986
For now I will just do some basic styling akin to the current switch

BTW do you know why com_config doesn't use the renderfield layout? I wasted a lot of time until I realised that

[2019-04-03 10:26] wilsonge commented on #20986
No clue. Feel free to convert if it doesn't break anything. I guess something to do with it being on the old MVC in J3 (although can't point at anything specific)

[2019-04-03 10:31] saraheagle commented on #17953
#23570 is perfect, it'll be great to be able to use module types from other templates. Thank you :)

[2019-04-03 11:16] Bakual commented on #17953
@saraheagle That's already merged into 4.0 😄

[2019-04-03 11:20] franz-wohlkoenig commented on #17953
@brianteeman can this Issue be closed?

[2019-04-03 11:21] coolcat-creations commented on #17953
Just one question - if 3.10 will be like 4.0 from the B/C is this feature from #23570 forseen to already work in 3.10 or not?

[2019-04-03 11:22] brianteeman commented on #17953
No new features in 3.10

As its not going to be changed in j3 and it is resolved in j4 then yes you can close it

[2019-04-03 11:24] coolcat-creations commented on #17953
Ok @franz-wohlkoenig somewhere where B/C changes are documented this will be something that will break lots of templates so it has to be written somewhere in the upgrade informations.

[2019-04-03 11:27] franz-wohlkoenig commented on #17953
#23570 has Label "Documentation Required".

[2019-04-03 11:33] coolcat-creations commented on #17953
@franz-wohlkoenig yes but that are two things. Dokumentation Required vs. Ugrade Warnings... or not?

[2019-04-03 11:41] franz-wohlkoenig commented on #17953
Sorry, i read "documented" and "written somewhere" and looked at Label.

[2019-04-03 11:43] coolcat-creations commented on #17953
Yes sorry - formulated it wrong... Is there any document whoch collects all B/C breaks?

[2019-04-03 11:49] franz-wohlkoenig commented on #17953
https://docs.joomla.org/Potential_backward_compatibility_issues_in_Joomla_4

[2019-04-03 11:52] Bakual commented on #17953
Yep, this has to be added to that BC issues doc. And best with a link to my PR or some other explanation how it works.

Templates that want to support bot J3 and J4 can already add those new JLayouts. In j3 they will just be ignored. When migrating to J4, the JLayout will then work and the modules.php will just be ignored.

[2019-04-03 11:54] coolcat-creations commented on #17953
Ok great so the other answer that this will not work in 3.10 was wrong then. Good to hear. Thank you @Bakual

[2019-04-03 12:01] Bakual commented on #17953
@coolcat-creations The JLayouts will not work in 3.10. Brian said that correctly. It will only work with 4.x.

However you can write a template which works both in 3.x and 4.x by adding both the current modules.php and the new JLayouts. That's what I meant.

[2019-04-03 12:12] coolcat-creations commented on #17953
Got it, thanks!

[2019-04-03 12:20] puneeth2001 commented on #21244
Not anytime soon, I am planning to work on it after a couple of days.

[2019-04-03 12:56] hardik-codes commented on #24459
@Bakual should I do these changes

[2019-04-03 13:21] Bakual commented on #24459
@hardik-codes You don't have to ask for permission. Just do if you're interested 😄

[2019-04-03 13:49] hardik-codes commented on #24459
@Bakual What should be the exact change so that it iconsistent with the joomla design?

[2019-04-03 13:59] #20986 closed, assigned to nobody

[2019-04-03 13:59] franz-wohlkoenig commented on #20986
closed as having Pull Request #24463

[2019-04-03 14:08] Bakual commented on #24459
I have no clue - I'm not a designer 😄
Maybe @coolcat-creations has an idea.

[2019-04-03 14:13] coolcat-creations commented on #24459
If all the steps are bound to each other its enough to have 1 Progressbar, telling the current progress and in the end the result (installation of sample data completed) no need so much messages IMHO.

[2019-04-03 14:44] infograf768 commented on #24459
it is not really. Some steps can succeed while others will not.

[2019-04-03 15:13] brianteeman commented on #24459
Is it ever possible for a scenario like this?
Step 1 - pass
Step 2 - fail
Step 3 - pass
Step 4 - pass

[2019-04-03 15:37] infograf768 commented on #21244
See https://github.com/joomla/joomla-cms/pull/24457

[2019-04-03 16:00] infograf768 commented on #24459
Yes, I remarked that when the plugin was modified in 3.9 for security reasons.
It will be merged  in 4.0 with this new code.

https://github.com/joomla/joomla-cms/commit/bbdf775fbee26d275ce60ea466b778e4694210a1#diff-8ca6ae5a8651d5eb87f3bad712894457

<img width="932" alt="capture" src="https://user-images.githubusercontent.com/869724/55492966-6ab64c00-5638-11e9-8df9-90baa7dd7fbd.png">

In my test I

[2019-04-03 17:41] Bakual commented on #24459
It can skip a step if some requirements are not met (eg if an extensions isn't installed), but that's still technically a success. If one step actually fails, the whole thing will stop and it will never go further.

[2019-04-03 21:04] stutteringp0et commented on #24398
I was running some tests and the funny thing is that the tag selection doesn't do anything in blog view.

I'm going to ask around to be certain that configuration is supposed to do what I'm expecting it to do.

[2019-04-04 01:13] zwiastunsw commented on #24446
I confirm. The error is caused by the lack of label for the input field generated by javascript:
```<div class="chzn-search"><input type="text" autocomplete="off" readonly=""></div>```
This code is generated by media/jui/js/ajax-chosen.js script.

In addition: the screen reader does not read values selected from the list by the user.

**Note 1**: The same error occurs on the search results list pa

[2019-04-04 01:36] zwiastunsw opened #24465 "Filter Ordering not working"
### Steps to reproduce the issue
1. Use Search to search for a popular word (e.g. joomla on a test site)
2. When you go to the search results page, try sorting the results.
![ordering_39](https://user-images.githubusercontent.com/29527200/55523763-da552700-568a-11e9-89c7-50853037d3ca.png)

### Expected result
The page is reloaded and the position order is changed according to the selected criterio

[2019-04-04 01:37] zwiastunsw opened #24466 "[4.0] Filter ordering not working"
### Steps to reproduce the issue
1. Use Search to search for a popular word (e.g. joomla on a test site)
2. When you go to the search results page, try sorting the results.
![orderingJ4](https://user-images.githubusercontent.com/29527200/55523802-0670a800-568b-11e9-8b34-6a14fe894294.png)

### Expected result
The page is reloaded and the position order is changed according to the selected criterion

[2019-04-04 01:49] zwiastunsw opened #24467 "[3.9.x] [a11y] Search field has no label"
### Steps to reproduce the issue
1. Use screen reader, e.g. NVDA
2. Go to the search results list page (for ex. use search module to search for a popular word, e.g. joomla on a test site)
3. Go to serach field
or
Inspect the code
### Expected result
* The screen reader should announce a label for the search box

or
* The code should include a label for the field "Search" (label for="search-searchw

[2019-04-04 01:52] zwiastunsw opened #24468 "[4.0] [a11y] Search form has no label"
### Steps to reproduce the issue
1. Use screen reader, e.g. NVDA
2. Go to the search results list page (for ex. use search module to search for a popular word, e.g. joomla on a test site)
3. Go to serach field
or
Inspect the code

![searchj4](https://user-images.githubusercontent.com/29527200/55524287-17bab400-568d-11e9-8038-d4544a82fb4b.png)

### Expected result
* The screen reader should announc

[2019-04-04 01:53] stutteringp0et commented on #24398
Digging around a bit more, there's a bug in the tag selection for blog menu items.  It does work if I work around the bug.  Not a big issue, but the bug needs to be fixed first before this can be implemented.

[2019-04-04 02:01] zwiastunsw opened #24469 "[3.9.x] [a11y] Number of positions selector is not accessible"
### Steps to reproduce the issue
1. Use screen reader, e.g. NVDA
2. Go to the search results list page (for ex. use search module to search for a popular word, e.g. joomla on a test site)
3. Go to "Display #" list.
4. Select any number position

### Expected result
1. The screen reader announces the selected number of items
2. After pressing the Enter key, the page is reloaded and the selected num

[2019-04-04 02:03] zwiastunsw opened #24470 "[4.0] [a11y] Number of positions selector is not accessible"
### Steps to reproduce the issue
1. Use screen reader, e.g. NVDA
2. Go to the search results list page (for ex. use search module to search for a popular word, e.g. joomla on a test site)
3. Go to "Display #" list.
4. Select any number position

### Expected result
1. The screen reader announces the selected number of items
2. After pressing the Enter key, the page is reloaded and the selected num

[2019-04-04 02:07] ranggasito opened #24471 "AMP format please"
### Is your feature request related to a problem? Please describe.
I'am trying to remove scriptOptions from JDocument but it's protected property so I can't remove or disable it. I need to build joomla in amp format, so it's not allowed in amp format to add scripts except from amp source.

### Describe the solution you'd like
I think Joomla should support html document type in AMP version

### Add

[2019-04-04 02:22] zwiastunsw commented on #24448
This is rather an error in your template.
Correct atribute is: lang="en-gb".
And such an attribute should be displayed.

[2019-04-04 02:39] stutteringp0et opened #24472 "[4.0] Tag selection in Category Blog menu item broken"
### Steps to reproduce the issue
You must have one or more articles with tags

Create a new menu item of type "Category Blog"
Select a category
Attempt to select a tag

### Expected result
Can select one or more tags

### Actual result
upon clicking a tag, this error occurs in the javascript console:

`Uncaught TypeError: e.replace is not a function
    at t.stripHTML (choices.min.js?3.0.4:4)

[2019-04-04 02:40] stutteringp0et commented on #24398
opened issue #24472

[2019-04-04 03:27] mbabker commented on #24471
Your template is in the scope of the Document class chain, so you can `$this->scriptOptions = [];` all you want and take the risk of breaking something along the way.  You're right there isn't a setter to just overwrite the property from outside, and making it public isn't the fix for that (it's wrong that there are so many public properties on the class in the first place but the time to fix that

[2019-04-04 04:59] hardik-codes commented on #24467
Working on it

[2019-04-04 05:00] hardik-codes commented on #24470
Working on it

[2019-04-04 05:24] franz-wohlkoenig commented on #24465
Issue confirmed. Change Results for Example to "Oldes first" and click again on "Search"-Button didn't show oldest Article first (similaer Alphabetical Order).

No Errors on Console.

### System information
- 3.9, latest nightly build
- Template: Protostar
- macOS Sierra, 10.13.6
- Firefox 66 (64-bit)
#### CloudAccess.net
- PHP 7.1.27
- MySQLi 5.7.24-cll-lve

[2019-04-04 05:32] franz-wohlkoenig commented on #24466
@HLeithner should Issues of J3 and J4 be reported only in J3 like #24465 so this Issue get closed?

[2019-04-04 05:36] franz-wohlkoenig commented on #24469
Can you please open a new Issue for the "Tagges Items"-Note so we have one Topic in one Issue?

[2019-04-04 05:59] franz-wohlkoenig commented on #24472
Thanks for your Report. I guess its a duplicate of #23589. I tested your Steps to reproduce and get similaer issues "No results match" on Articles, Menues. So i will change the Title of #23589 and link to this Issue. If this is fine for you, please close this Issue.

[2019-04-04 07:01] franz-wohlkoenig commented on #21244
closed as having Pull Request #24457

[2019-04-04 07:43] brianteeman commented on #24468
Is this on the front end?

If so is this Search or Smart Search?

[2019-04-04 07:45] brianteeman commented on #24466
If I remember correctly that is to chose the sort order on a new search and not the existing one

[2019-04-04 07:46] brianteeman commented on #24446
This is a problem from the chzn script that can't be fixed in joomla 3

[2019-04-04 07:49] brianteeman commented on #24465
Same answer as #24466

[2019-04-04 07:49] infograf768 commented on #24465
Looks like this is due to the `$relevance` variable in the search content plugin.
It is defined in the query as
`$relevance[] = ' CASE WHEN ' . $wheres2[0] . ' THEN 5 ELSE 0 END ';`

a `var_dump($relevance);` gives when searching for "joomla"
`array(1) { [0]=> string(67) " CASE WHEN LOWER(a.title) LIKE LOWER('%joomla%') THEN 5 ELSE 0 END " } `

Then further, we have.

[code]

If I comment `$order

[2019-04-04 07:49] infograf768 commented on #24466
See https://github.com/joomla/joomla-cms/issues/24465#issuecomment-479789450

[2019-04-04 08:00] infograf768 commented on #24465
### NOTE
If I search for something else than "Joomla", then it works OK

[2019-04-04 08:10] alagesanbe08 opened #24474 "When login via android mobile (chrome browser) - Login not working"
### Steps to reproduce the issue

1. Open Chrome browser in android
2. Try to login in Joomla site

### Expected result

Login into site

### Actual result

It does not allow to login

Chrome version: 72.0.3626.105

I just tried more than 3 sites in 3 different device

[2019-04-04 08:25] franz-wohlkoenig commented on #24474
Have you asked on [Forum](https://forum.joomla.org/)?

[2019-04-04 08:32] HLeithner commented on #24466
Joomla 4 should not include com_search.

[2019-04-04 08:33] infograf768 commented on #24466
Was it formerly decided? imho there was a debate on this.

[2019-04-04 08:50] Bakual commented on #24474
It certainly works for my sites on my android.
Tested with Chrome 73.0.3683.90 and Android 7.0

[2019-04-04 08:57] brianteeman commented on #24474
And my sites with Android 8 and 9

[2019-04-04 08:58] #24474 closed, assigned to nobody

[2019-04-04 08:59] franz-wohlkoenig commented on #24474
@Bakual @brianteeman Thanks for testing. Closing as no Core-Issue. Issue can always be reopened.

[2019-04-04 09:39] simbus82 commented on #24466
It seems that a lot of Joomla users (professionals, not developers, but real "admin" users) see the presence of two search systems as really confusing. Even for me, com_search is no longer useful. Smart Search works pretty well in most cases.

[2019-04-04 09:42] ciar4n opened #24476 "[4.0] More integrator friendly views / overrides"
Joomla places the bulk of article (com_content) elements in a dl tag. Pretty much everything from dates, authors, custom fields, category etc. From a core development point of view, it is an easy solution where everything can be dumped into the same list. Outside of Joomla however, it is not common at all.

My issue isn't actually with the dl, but with how they are placed in a separate layout. Con

[2019-04-04 09:43] chmst commented on #16497
Also Warnings are not alerts. Or sometimes I cannot see why something ist an alert and not an error. For example administrator login. An empty input is a error -> alert. It the user is not authorised to login, it is a warning. But the same effect: The user canniot log in.

[2019-04-04 09:43] infograf768 commented on #21855
I can't reproduce this issue anymore on dev branch. Closing.

[2019-04-04 09:43] #21855 closed, assigned to nobody

[2019-04-04 09:44] brianteeman commented on #16497
@chmst the problem comes from a misunderstanding of the bootstrap class=alert which has been converted to role=alert

[2019-04-04 10:04] wilsonge commented on #24476
So the original reason for JLayouts was it meant less things to override for template devs. I'm happy if from the template dev side of view you'd rather override per extension to go with that if you think it's better (your the one doing this as a job not me 😄). I'm definitely down for trying to make template overrides as simple as possible.

Yes that readmore thing is way complex and can be simpli

[2019-04-04 10:10] HLeithner commented on #24466
I'm not 100% sure about this decision ask @wilsonge and @Hackwar on this topic

[2019-04-04 10:16] wilsonge commented on #24468
https://github.com/joomla/joomla-cms/blob/4.0-dev/components/com_search/tmpl/search/default_form.php#L23

https://github.com/joomla/joomla-cms/blob/4.0-dev/components/com_finder/tmpl/search/default_form.php#L36

Both :)

[2019-04-04 10:21] zwiastunsw commented on #24466
@brianteeman write:

I confirm that this is the case.
OK. This is not a error. But this is a UX problem. The user has to guess when to use a sorting filter. The page layout suggests that you first need to perform a search.

2. I know that the Search component is not to be in Joomla 4. But it is. If it is not to be, it should simply be removed.

[2019-04-04 10:29] zwiastunsw commented on #24468
On frontend. Only Search. In Smart Search label exist.

[2019-04-04 10:30] brianteeman commented on #16497
There is a great article here https://inclusive-components.design/notifications/ and as it shows most of the time the things we call "alerts" are really "notifications". So we need a way to differentiate our messages between alerts and notifications AND a way to differentiate between alerts that require an action in the alert (alert-dialog) and alerts that are fyi

[2019-04-04 10:32] zwiastunsw commented on #24446
Extacly...

[2019-04-04 10:33] brianteeman commented on #24468
@wilsonge it is present for smart search but the markup is wrong
it says label for q where q is the name.
it should say label for q where q is the id

I will work on both of these shortly on the train

[2019-04-04 10:34] zwiastunsw commented on #24469
OK

[2019-04-04 10:35] brianteeman commented on #24446
Unfortunately it cannot be fixed in j3 so should be closed

[2019-04-04 10:36] zwiastunsw commented on #24468
it should say label for q where q is the id

I agree!

[2019-04-04 10:37] #24446 closed, assigned to nobody

[2019-04-04 10:37] franz-wohlkoenig commented on #24446
Closed for the Reason stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24446">issues.joomla.org/tracker/joomla-cms/24446</a>.</sub>

[2019-04-04 10:41] chmst commented on #16497
So I think that notifications can disappear after a given time of a few seconds. I also like the design, where notifications appear at the right side as we are already used to get notifications there.
How we handle alerts is another question. They maxy not disappear and request an action.

I admit that I dont see the consequences for screenreaders and keqboard users. The error-message (alert) must

[2019-04-04 10:52] coolcat-creations commented on #16497
Suggestion: In the red area we have space to display System messages without moving content around.
There can be a messagebox added for any kind of notifications. For real fatal errors a popup with drop in background can apear.

![grafik](https://user-images.githubusercontent.com/828371/55550471-8c671000-56d8-11e9-97bd-4cba6c90cc54.png)

[2019-04-04 10:53] wilsonge commented on #24468
I'm blind. Please carry on ;)

[2019-04-04 10:56] zwiastunsw commented on #24468
add id="q" into:
```	<input type="text" name="q" ```
The value of the `for` attribute must be the input  `ID` value, not `name`

[2019-04-04 11:06] ciar4n commented on #24476
Certainly, in the case of the 'info_block' (author, date, category etc.), JLayouts does offer an easy yet very opinionated solution to template devs. From a design perspective, it is rather restrictive outside of bunching all elements into a list. Considering it is there in core, I would say it has had a negative effect on Joomla template design in general. I mean it is easy to spot a Joomla websi

[2019-04-04 11:12] brianteeman commented on #16497
@chmst it is mainly about focus - do they take the focus or not. Sites often use aria-live to announce an alert etc to a screenreader user without taking the focus BUT i dont think that applies in our case as we only display them on a page load and not "live"
Its also about how you are able to dismiss those that take focus. The escape key should be able to dismiss/close not just a close button

[2019-04-04 11:13] brianteeman commented on #16497
@coolcat-creations as long as the messages fit in the area thats fine

[2019-04-04 11:23] franz-wohlkoenig commented on #24468
closed as having Pull Request #24477

[2019-04-04 11:23] #24468 closed, assigned to nobody

[2019-04-04 11:32] brianteeman opened #24478 "[4.0] Batch copy fails"
### Steps to reproduce the issue
Install sample data
Select all articles
Select batch
Select a category and copy

### Expected result
Articles are copied to the selected category

### Actual result
Message says Success but no articles have been copied

### System information (as much as possible)

### Additional comments

[2019-04-04 11:38] franz-wohlkoenig commented on #24478
Issue confirmed.

[2019-04-04 11:50] brianteeman opened #24479 "[4.0] com_search no results"
### Steps to reproduce the issue
Install sample data
On the front end use the search module to search for any term

### Expected result
Search page with results

### Actual result
Search always returns 0 results

The query generated is```

SELECT  CASE WHEN LOWER(a.title) LIKE LOWER('%welcome%') THEN 5 ELSE 0 END  AS relevance,a.title AS title, a.metadesc, a.metakey, a.created AS created,CONCAT(a.

[2019-04-04 11:50] coolcat-creations commented on #16497
@brianteeman for that we would need to collect possible messages. Thinks like "Saved!" would absolutely fit in there but we need to seperate the fatal errors from the notices to see what could possibly appear there. Another possibility would be to truncate the messages after x characters and allow the user to expand the message to read more.

[2019-04-04 11:52] brianteeman commented on #24478
Checking the database the content is created but joomla cannot see it. Probably related to workflows?

[2019-04-04 11:56] hardik-codes commented on #24467
@zwiastunsw
``` id="q"``` is already there in
```<input type="text" name="q" ```
then why the issue still persists?

[2019-04-04 11:56] brianteeman opened #24480 "[4.0] Edit state on multiple articles fails"
### Steps to reproduce the issue
Create two identical articles in the same category
One published and one unpublished
Select both articles
From the change status dropdown select publish

### Expected result
One item published resulting in two published articles

### Actual result
No change to published state and incorrect messages

![image](https://user-images.githubusercontent.com/1296369/5555373

[2019-04-04 12:07] zwiastunsw commented on #24467
I don't understand. You show a piece of code, but you don't write where it comes from.
This is piece of from "com_search/views/search/tmpl/default_form.php":
[code]
In this code there is no label for="search-searchword"
The label may be hidden for sighted users, but it must exist for users of screen readers. To hide the label from sighted users, use the `class="element-invisible"` for `label` tag.

[2019-04-04 12:29] ghost opened #24481 "[4.0] select installation language"
Quicker way of selecting the installation language in the language list (move to top of list).

Options:
1. Auto-install the installation language into Joomla (it's not going to be correct 100% of the time as it's not guaranteed to be the right language - but probably is more often than not)
2. At minimum put the current installation language to the top of the list of languages so people can easil

[2019-04-04 12:30] hardik-codes commented on #24467
My bad
I missed out giving the file name
Really sorry

[2019-04-04 12:34] franz-wohlkoenig commented on #24480
Issue confirmed.

[2019-04-04 12:36] Webdongle opened #24483 "Install from web not connecting"
### Steps to reproduce the issue

Navigate to Extensions >>> Manage ... Install from web (tab)

### Expected result
Extensions display

### Actual result
Message says
"Can't connect to the Joomla! server. Please try again later. "

### System information (as much as possible)

### Additional comments
https://forum.joomla.org/viewtopic.php?f=715&t=971065

[2019-04-04 12:38] franz-wohlkoenig commented on #24483
Issue confirmed.

[2019-04-04 12:40] franz-wohlkoenig commented on #24467
closed as having Pull Request #24482

[2019-04-04 12:40] #24467 closed, assigned to nobody

[2019-04-04 12:45] brianteeman commented on #24483
Please close here and report to https://github.com/joomla/joomla-websites

[2019-04-04 13:12] Webdongle commented on #24483
https://forum.joomla.org/viewtopic.php?f=715&t=971065 has a list of links none of which can I see 'Install from web'.  Please reopen or give an exact link. Thanks.

[2019-04-04 13:26] brianteeman commented on #24483
It is nothing to do with the code in joomla. I already gave you the correct link to report this.

[2019-04-04 13:28] roland-d commented on #24483
@Webdongle I believe it should be this one: https://github.com/joomla/jed-issues/issues/new

[2019-04-04 13:36] bahl24 commented on #24480
@brianteeman Do you mean 1 published & 1 unpublished?
Also if 1 article is published, the published button is disabled.

[2019-04-04 13:51] franz-wohlkoenig commented on #18765
@wilsonge Reopened for Project "[4.0] Installer"<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/18765">issues.joomla.org/tracker/joomla-cms/18765</a>.</sub>

[2019-04-04 13:54] brianteeman commented on #24480
yes i did and i have updated the original report

[2019-04-04 14:04] franz-wohlkoenig commented on #18823
@wilsonge Reopened for Project "[4.0] Installer".

[2019-04-04 14:06] coolcat-creations commented on #18823
I'd recommend to contribute changes into the backend-template repo joomla/backend-template

[2019-04-04 14:12] Webdongle commented on #24483
@roland-d
Thanks.  Done https://github.com/joomla/jed-issues/issues/88

[2019-04-04 14:21] mbabker commented on #24483
@roland-d IFW isn't maintained by JED.  I posted the right repo links in that issue.

[2019-04-04 14:23] Bakual opened #24484 "[4.0] Improve JLayout Override Creation"
### Is your feature request related to a problem? Please describe.
Currently, the override manager only allows to create overrides for JLayouts based on the second directory level. Probably worst example being `/joomla/content` (29 layouts including two subfolders).
It doesn't allow to select a single layout.
It doesn't allow to select a deeper folder (eg /layouts/joomla/content/icons)
it doesn't

[2019-04-04 14:36] mbabker opened #24485 "[4.0] Install From Web - Cross-Origin Read Blocking warning in Chrome 73"
x-post of https://github.com/joomla-extensions/install-from-web-client/issues/56 as the issue and fix will be similar for both the standalone plugin for 3.x and the core plugin for 4.0.

[2019-04-04 14:39] infograf768 commented on #24481
Reminder: custom distros may already include another language than en-GB and its default installation language selected.

[2019-04-04 14:43] wilsonge commented on #24481
how does the existing installer work with that? does it grey out languages that are installed or?

[2019-04-04 14:46] ghost opened #24486 "[4.0] Separate tags from CategoryServiceInterface"
Reminder for @wilsonge.

[2019-04-04 14:46] mbabker commented on #24483
While I'm here, for anyone experiencing any problems please open your browser's developer console and glance at either the JavaScript console for any warnings or errors related to the plugin's JavaScript or at the network requests going out to `https://appscdn.joomla.org`.  Peak into the responses from the install from web server and see what kind of error messages you might be getting (I'm pretty

[2019-04-04 14:48] wilsonge commented on #24486
To expand here tags shouldn't be coupled to categories (e.g. https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Categories/CategoryServiceInterface.php#L48-L59) and these interfaces should be separated

[2019-04-04 14:52] ghost opened #24487 "[4.0] Convert com_privacy, com_actionlogs and com_csp to namespaced components"
Reminder for @wilsonge. Style the privacy suite etc.

[2019-04-04 14:53] infograf768 commented on #24481
Nothing special in 3.x.
The localise.xml file defines a default install language, thus it is already selected.
Nothing is modified when getting to the install language list if the user goes further there during installation. I would have to test again to find if the choice is given or not for defined default languages between both already present languages. (not on desktop now).

[2019-04-04 14:53] ghost opened #24488 "[4.0] API Authentication rework"
Reminder for @wilsonge.

[2019-04-04 14:57] ghost opened #24489 "[4.0] Build a webauthn extension"
Reminder for @wilsonge.

[2019-04-04 15:02] ghost opened #24490 "[4.0] Ensure all Joomla fields have overridable layouts"
Reminder for @wilsonge.

[2019-04-04 15:05] ghost opened #24491 "[4.0] Editor XTD and Versioning in the frontend is broken"
Reminder for @wilsonge. Similar: #23510, #23979

[2019-04-04 15:06] brianteeman commented on #24481
Are there still language distributions? I thought they had all stopped.

[2019-04-04 15:08] ghost opened #24492 "[4.0] Migration path for workflows state permissions"
Reminder for @wilsonge.

[2019-04-04 15:12] ghost opened #24493 "[4.0] Remove language prefix from language files to ease crowdin process"
Reminder for @wilsonge.

[2019-04-04 15:17] wilsonge commented on #24488
Clarification for this: Media Manager (and indeed anything requiring internal web service use) is unable to authenticate to itself (as the user password is obviously not available). As a result move to a simple token based service (not full oAuth). With both a system based token (only 1 stored in configuration but resettable) and user tokens that can be reset as required (stored in the db). This i

[2019-04-04 15:17] wilsonge commented on #24489
This is a nice to have been worked on elsewhere but hopeful for 4.0

[2019-04-04 15:32] franz-wohlkoenig commented on #24479
closed as having Pull Request #24494

[2019-04-04 15:32] #24479 closed, assigned to nobody

[2019-04-04 15:44] Webdongle commented on #24483
I don't know if if it is a server issue or a plugin issue. It's been reported so it's up to you devs to sort iit out. very time I post an issue I get passive aggressive shite and the bloody run around.

[2019-04-04 15:50] franz-wohlkoenig commented on #24483
please be relaxed, @Webdongle

[2019-04-04 15:53] mbabker commented on #24483
With that attitude, there's nothing I can do and I'm going to write this off as a non-confirmed issue.  From my end, everything is working correctly; verified on my local computer, a joomla.org server, a client website, and my personal website (all different servers and a variety of PHP 7.x backends on Joomla 3.9.4).

A forum post with a bunch of "me too" or a GitHub issue with "me too" does not h

[2019-04-04 15:55] mbabker commented on #24483
Re-open until further details can be provided.  Will be closed in 48 hours if additional debugging information cannot be provided to identify the issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24483">issues.joomla.org/tracker/joomla-cms/24483</a>.</sub>

[2019-04-04 16:13] stutteringp0et commented on #24472
I can get results, I just can't click on any of them - I get the JS error

[2019-04-04 16:15] franz-wohlkoenig commented on #24472
so can you give more Informations like Browser, OS, ...
### System information
Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 nr.1 SMP Mon Dec 17 12:02:35 EST 2018 x86_64
Database Type | mysql
Database Version | 5.7.24-cll-lve
Database Collation | utf8_general_ci
Database Connection Collation | utf8_general_ci
PHP Version | 7.1.26
Web Se

[2019-04-04 16:17] stutteringp0et commented on #24472
=============
System Information
=============
php: Linux deathticle 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64
dbserver: mysql
dbversion: 5.5.5-10.2.16-MariaDB-10.2.16+maria~artful
dbcollation: utf8mb4_general_ci
dbconnectioncollation: utf8_general_ci
phpversion: 7.2.15-0ubuntu0.18.04.2
server: nginx/1.14.0
sapi_name: fpm-fcgi
version: Joomla! 4.0.0-alpha8-dev Developmen

[2019-04-04 16:43] infograf768 commented on #24481
@wilsonge

Example of the French custom distro:
[Joomla_394-Stable-Full_Package_French_v1.zip](https://github.com/joomla/joomla-cms/files/3044474/Joomla_394-Stable-Full_Package_French_v1.zip)

The custom distro contains fr-FR in the pack

This is what we get when we install:

1. The installation uses the `installation/localise.xml`
[code]

2. This will pre-select the installation language:

![Scre

[2019-04-04 18:18] ghost opened #24495 "[4.0] Hide columns"
Reminder for @wilsonge.

[2019-04-04 18:20] ghost opened #24496 "[4.0] Fix responsiveness"
Reminder for @wilsonge.

[2019-04-04 18:21] ghost opened #24497 "[4.0] Sidebar menu in system dashboard (languages etc)"
Reminder for @wilsonge.

[2019-04-04 18:33] jurihahn commented on #24176
I think my test was wrong ... I made my correction, then I applied the patch, but it looks like patch tool dont override my hotfix...
My last test with pure Joomla was not successful, I cannot use "geoip.phar".

[2019-04-04 22:20] gkrn commented on #24470
i tried reproducing this issue, in my case the "Display # list " announces blank . Is this what you mean?

[2019-04-04 22:53] brianteeman commented on #24470
@zwiastunsw it is not just this field. It is every select field throughout joomla that uses the onchange event

As soon as you remove that then the list will be announced correctly.
BUT then there isn't a submit button so nothing will ever change

It's a big a11y problem and its everywhere in joomla

I don't know of a technique to resolve this but one must exist

[2019-04-04 23:02] brianteeman commented on #24470
More info and a better explanation of the problem

https://adamsilver.io/articles/select-boxes-shouldnt-submit-on-change/

[2019-04-04 23:17] felixkat commented on #24483
Changing `dataType: 'json',`  to `dataType: 'jsonp',` fixed the issue for me.

\media\js\client.js  -   Line  57<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24483">issues.joomla.org/tracker/joomla-cms/24483</a>.</sub>

[2019-04-05 00:54] newjie opened #24498 "Chinese strings are not correctly truncated if $noSplit is set to true."
### Steps to reproduce the issue
       Use JHtmlString::truncate to truncate Chinese string, with the parameter $noSplit being true

### Expected result
       The string should be truncated correctly in accordance to the $length parameter

### Actual result
       The function returns "..."

### System information (as much as possible)
       Joomla 3.9.4

### Additional comments
I use truncate

[2019-04-05 05:37] infograf768 commented on #24498
Chinese may also use the Multibyte space `「　」`
We could add in code this possibility but it would not solve the issue when no space at all.

Only way would be to detect the range of chinese multibyte characters in general in the string concerned. But this is very complex as there are many blocks possible.
Range should be something like
`[0x3007,0x3007],[0x3400,0x4DBF],[0x4E00,0x9FEF],[0x20000,0x2E

[2019-04-05 05:47] ghost opened #24499 "[4.0] Sidebar in com_config styling/layout"
Placeholder for @wilsonge

[2019-04-05 05:48] infograf768 commented on #24414
A better person to ask would be @mbabker

[2019-04-05 05:49] ghost opened #24500 "[4.0] Breadcrumbs/Help & Options icon "row" in template"
Placeholder for @wilsonge

[2019-04-05 05:51] ghost opened #24501 "[4.0] Template colour hue template option"
Placeholder for @wilsonge

[2019-04-05 05:52] ghost opened #24502 "[4.0] SysInfo system manager icon"
Placeholder for @wilsonge

[2019-04-05 05:54] ghost opened #24503 "[4.0] RTL"
Placeholder for @wilsonge

[2019-04-05 05:55] ghost opened #24504 "[4.0] UX testing"
Placeholder for @wilsonge

[2019-04-05 05:56] ghost opened #24505 "[4.0] Modals broken"
Placeholder for @wilsonge

[2019-04-05 09:55] ghazal commented on #24472
Already discussed in #24211

We are using the script choices.js and its joomla adapted dependant script, joomla-field-fancy-select.js
The error lies in an  old version of choices.js.
It's been corrected in an ulterior version, not yet implemented in j4.
But if we use choices.js last version, the  joomla adapted dependant script, joomla-field-fancy-select.js is not really functional.
Until this scr

[2019-04-05 09:58] fontanil commented on #24483
Tried to make this changes (in media/plg_installer_webinstaller/js/client.js line 57) but don't work for me.
Needed to do the same change in client.min.js too (dataType:"json" to dataType:"jsonp") and it works now.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24483">issues.

[2019-04-05 10:19] brianteeman commented on #24470
As far as I can see there are only two possible solutions

1. Add a submit button
2. Use the javascript technique shown here http://www.themaninblue.com/experiment/AccessibleSelect/ which When you change the select using the keyboard it shouldn't submit its change until you select a value –	by pressing enter or tabbing off it.
The code for that is here http://www.themaninblue.com/experiment/Access

[2019-04-05 10:44] newjie commented on #24498
Multibyte space is generally not used in Chinese text. Even if it is used, it is not used to separate words.
How about this change:
[code]

[2019-04-05 10:49] felixkat commented on #24483
Sorry, I should have mentioned that.

[2019-04-05 11:40] ggppdk commented on #24483
Yes changing to jsonp works,

The following is already mentioned in the forum thread

I have updated to the new updated plugin
and then tested works with chrome and edge
fails with firefox and internet explorer

WIth firefox 66 i get

[2019-04-05 11:49] ReLater commented on #24483
Since I've updated "Installer - Install from Web" from version 1.1.1 (worked without issues) to newest version 2.0.0 I can confirm the issue with Firefox 66.0.2 (64-Bit) but not with Vivaldi 2.4.1488.35 (Stable channel) (32-Bit) and not with Chrome Version 73.0.3683.103 (Offizieller Build) (64-Bit).

The messages in console
[code]
https://developer.mozilla.org/de/docs/Web/HTTP/CORS/Errors/CORSMiss

[2019-04-05 12:01] franz-wohlkoenig commented on #23823
closed as having Pull Request #24508

[2019-04-05 12:01] #23823 closed, assigned to nobody

[2019-04-05 12:15] mbabker commented on #24483
Apparently something changed between when I pushed joomla-extensions/install-from-web-client@85f87e94ed752eeae53ed241b793daa52095a913 and now because I was trying to break away from needing jsonp support but apparently that's not happening.  Update coming shortly.

[2019-04-05 12:22] #24483 closed, assigned to nobody

[2019-04-05 12:23] mbabker commented on #24483
https://downloads.joomla.org/extensions/install-from-web/2-0-1<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24483">issues.joomla.org/tracker/joomla-cms/24483</a>.</sub>

[2019-04-05 12:24] Arpit-24 commented on #23824
I am unable to reproduce this issue. Possibly got fixed somewhere. Can you recheck?

[2019-04-05 13:06] wilsonge commented on #13647
Reopening as important for webservices in j4

[2019-04-05 13:07] wilsonge commented on #24487
Going to close this in favour of just reusing https://github.com/joomla/joomla-cms/issues/24188

[2019-04-05 13:07] #24487 closed, assigned to wilsonge

[2019-04-05 13:18] Hackwar commented on #24188
The data from the privacy dashboard has to be moved to modules and then integrated into the users dashboard.

[2019-04-05 15:24] stutteringp0et commented on #24472
Fantastic! Thanks for the update, I'll close this issue.

[2019-04-05 15:24] #24472 closed, assigned to nobody

[2019-04-05 15:25] stutteringp0et commented on #24398
OK, there's a workaround and planned update which will resolve #24472 - I'll proceed with this request.

[2019-04-05 16:33] mbabker opened #24509 "[META] Label and Metadata Overload"
Pull requests already have a `PR-*` label indicating a branch they are assigned to.

There is a `JX Issue` label indicating a branch an issue "belongs" to.

There is a insistence that every issue title be prefixed with a [VERSION] indicator so it's clear what version something affects.

The `JX Issue` labels are now being applied to pull requests, which just doubles up on effort required by humans

[2019-04-05 16:41] alikon commented on #24361
i'm unable to replicate if i understand this issue correctly
![Screenshot from 2019-04-05 18-40-46](https://user-images.githubusercontent.com/181681/55643017-5f972380-57d2-11e9-8091-ee524768f1ea.png)

[2019-04-05 16:42] brianteeman commented on #24509
The original intent of the "J3/4 Issue" that I created was to identify issues only - PR already had the branch

As for adding it to the pr title - its a nice to have but I wouldnt bother adding it if it hasnt been done

[2019-04-05 16:45] mbabker commented on #24509
Adding versions to titles only benefits those who are following by email primarily and want to set up notifications for specific things instead of using GitHub.  Otherwise, a large bulk of this activity (especially en masse activity like what has been happening over the last few days) is largely doing nothing but burning through already limited API resources (even with a network of bot accounts th

[2019-04-05 16:50] brianteeman commented on #24509
triage is hard

[2019-04-05 16:52] HLeithner commented on #24509
Version in title. Is really useful for email notifications. But wasn't you who suggested to remove categories in the tracker and replace it with labels?

Using labels could help classifying for people interested only in one kind of issue, I simply ignore them most of the time.

[2019-04-05 16:58] alikon commented on #24509
i was trying to get some stats from github and can confirm it's quite an hard task :face_with_head_bandage:
so any proposal to better "filter" data is warmly welcomed from my perspective

[2019-04-05 16:59] brianteeman opened #24511 "WCAG 1.3.1,WCAG 4.1.1,WCAG 4.1.2: ARIA roles used must conform to valid values (div[role="quickicons"])"
**Issue**: `ARIA roles used must conform to valid values` ([`aria-roles`](https://dequeuniversity.com/rules/axe/3.2/aria-roles?application=msftAI))

**Target application**: [Control Panel - backend design - Administration](http://localhost/backend-template-release/backend-template-release/administrator/index.php)

**Element path**: div[role="quickicons"]

**Snippet**:

    <div role="quickicons">

[2019-04-05 17:02] mbabker commented on #24509
Yes, I want to see tracker categories dropped and just use labels for that, it's the same capability implemented in two systems and only visible in one.  But, last I checked the categories break things down into components (literally, every core component is represented there) or other sections and focuses of the application (Cache, SQL engines, things like "Feature Request" or "Accessibility", et

[2019-04-05 17:07] brianteeman commented on #24511
sorry - opened in the wrong repo

[2019-04-05 17:07] #24511 closed, assigned to nobody

[2019-04-05 17:18] alikon commented on #24509
yes probably it is, but it is quite an easy and fast one way ...  for lazy people.... like me :smile:

btw, from my experience is not matter of a tool.... that allows or not some features...as you already said
... there is a need  of a lot  of

when system  are quite complex ....

[2019-04-05 17:23] mbabker commented on #24509
Well, unfortunately everyone kept coming up with reasons why every commercial issue tracking solution on the market in 2012 was a no-go for Joomla and I was young and naive enough to put my foot in my mouth and start up the issue tracker repo.  If I ever perfect the art of time travel, remind me to head back to that summer day and slap myself silly 🤣

[2019-04-05 17:36] alikon commented on #24509
don't get me wrong ....i have a good perception on how it is hard to meter things,
plus add  the context of a community driven  project...  complexity quickly became O(N^N) :smile:

[2019-04-05 18:17] ggppdk commented on #24361
Confirmed, e.g. you have field assigned to category D
- and you have category tree
A
 -> B
-> -> C
-> -> -> D

If you also assign field to the (ancestor) categories A,B,C (see picture)

![bug_field_mul_view](https://user-images.githubusercontent.com/5092940/55648133-279adb00-57e8-11e9-9480-5791861c4d1a.png)

Then you will get field values to appear 4 times when viewing the article in category D be

[2019-04-05 18:31] ReLater commented on #24509
Please don't forget that only a few contributers are allowed to set labels (or am I wrong?). You always need someone that is doing that job without too much delay. If the labels are always set in issues then that's perfect for filtering and I don't need more but if not I prefer the [4.x], [3.x], [whatever] markers for fast scrolling through the newest/recently updated issues on GitHub.

[2019-04-05 18:33] alikon commented on #24361
yes  i can confirm the issue now
thanks @ggppdk for info :+1:

[2019-04-05 19:30] Bakual commented on #24361
I would look for anopther solution than using group-by. Groups are meant to use aggregate functions on the grouped rows. We don't need that.
A better approach is using DISTINCT.

[2019-04-05 20:17] HLeithner commented on #24509
You say I'm holding it wrong because your email client is broken? A working email client uses the reference header to display threads. But ok if the title is a problem for you, you maybe can explain me how to differ between J3 und J4 issues / PRs, because github doesn't include tags. Not in the header and not in the body.

I'm only talking about my own workflow and use what was already here. I'm u

[2019-04-05 20:23] mbabker commented on #24509
The issue tracker doesn't show issues and pull requests as a separate entity the same way GitHub does, that label was used as a way to distinguish the two.  There are probably better ways to deal with it but that was one of the first ideas that came up and it just stuck.

And I don't mean to imply anyone's workflow is necessarily wrong, but I do think relying on email to do GitHub stuff more than

[2019-04-05 22:52] artur-stepien commented on #24361
Well in this situation  GROUP BY or DISTINCT makes no difference.  Its just internal way of finding fields. So Just use the faster one?

[2019-04-06 05:17] franz-wohlkoenig commented on #24509
I would be glad to change Stuff at Issue Tracker and Github that fits Developers and Users coming usually here to report an Issue.

[2019-04-06 05:46] bahl24 commented on #24480
@brianteeman I have solved the issue that the unpublished article was not being published, before opening a PR I wanted to ask if I should remove the warning message-"Edit state is not published"?
Warning is displayed when we try to publish an already published article, so IMO warning is needed.

[2019-04-06 06:16] Puneet-Jain-18 opened #24514 "[4.0] articles not displayed in com_content"
### Steps to reproduce the issue
Go To administrator/content/articles in the backend of the website

### Expected result

![Screenshot (43)](https://user-images.githubusercontent.com/34083630/55665717-ee9f4c80-5861-11e9-8e72-c6a39e197098.png)

### Actual result
![Screenshot (42)](https://user-images.githubusercontent.com/34083630/55665719-f19a3d00-5861-11e9-8c0f-51dc3c2e4e4f.png)

### System infor

[2019-04-06 06:17] Bakual commented on #24361
GROUP BY also means you need to add each selected column (that doesn't contain different values) to the GROUP BY command.
DISTINCT is much simpler as you can just specify one column.

So at least the code gets simpler with DISTINCT 😄

[2019-04-06 06:18] Bakual commented on #24514
I'm closing this as no detail is given.

[2019-04-06 06:21] Puneet-Jain-18 commented on #24514
@Bakual sorry posted by mistake without adding information

[2019-04-06 06:24] infograf768 commented on #24514
Has this test been done with a clean install of 4.0-dev branch?
If not please do as I do not have this error here.

[2019-04-06 06:25] Puneet-Jain-18 commented on #24514
Yes, I have tested it on a clean install the error Reproduce.

[2019-04-06 06:25] franz-wohlkoenig commented on #24514
Can't confirm too.
### System information
Setting | Value
-- | --
PHP Built On | Linux lamp122.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 nr.1 SMP Mon Dec 17 12:02:35 EST 2018 x86_64
Database Type | mysql
Database Version | 5.7.24-cll-lve
Database Collation | utf8_general_ci
Database Connection Collation | utf8_general_ci
PHP Version | 7.1.26
Web Server | Apache
WebServer to PHP Interf

[2019-04-06 06:29] Puneet-Jain-18 commented on #24514
I will check it once more.

[2019-04-06 06:34] alikon commented on #24361
for me the issue is here https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_fields/models/fields.php#L209
why
`// Traverse the tree up to get all the fields which are attached to a parent` ?

[2019-04-06 07:25] franz-wohlkoenig commented on #24361
closed as having a Pull Request.

[2019-04-06 07:25] #24361 closed, assigned to nobody

[2019-04-06 07:31] Bakual commented on #24514
Please delete configuration.php and reinstall J4 fresh. That error comes from changes in SQL schema and only happens when you update from a previous J4 installation (not supported yet).

Closing as expected behavior.

[2019-04-06 07:31] #24514 closed, assigned to nobody

[2019-04-06 07:34] Puneet-Jain-18 commented on #24514
Ok !! Sorry and thanks :)

[2019-04-06 08:39] brianteeman commented on #24480
Is the message useful? No

[2019-04-06 08:40] brianteeman commented on #24480
Look at the behaviour in joomla 3

[2019-04-06 08:53] infograf768 commented on #24514
If there is no category at all, see https://github.com/joomla/joomla-cms/pull/24458

[2019-04-06 11:18] franz-wohlkoenig commented on #24480
closed as having Pull Request.

[2019-04-06 11:18] #24480 closed, assigned to nobody

[2019-04-06 13:40] twister65 commented on #24049
@mbabker:
Should an actionlog plugin extend to `ActionLogPlugin` ?
Can you help please, have you a developer guide ?

[2019-04-06 14:26] orlitzky commented on #23228
This is the same thing as issue 23504. Someone who doesn't understand filesystem permissions introduced a check that doesn't do what he thinks it does. Being able to chmod has nothing to do with being able to delete.

[2019-04-06 14:30] orlitzky commented on #23504
This also completely breaks every Joomla installation that uses filesystem ACLs to grant read/write access. Using "can I chmod" as a test is fucking stupid, and has no basis in anything at all for being correlated with "can I delete this file."

Here's the patch to fix it:

[code]

[2019-04-06 15:19] nikosdion commented on #24049
There is no developer's guide. I can tell you what we do. We derived that information by studying Joomla's code and experimenting.

You don't have to extend any other plugin BUT your plugin must be in the `actionlog` folder. Otherwise you'll get untranslated strings like I described above :( All activated `actionlog` plugins are loaded by Joomla's Action Log `system` plugin on every page load. Tha

[2019-04-06 15:20] nikosdion commented on #24049
@roland-d I guess my comment above is as good a developer's guide as anyone's gonna write. Do you want me to put it in the docs wiki? If so, tell me exactly where.

[2019-04-06 17:04] twister65 commented on #24049
As you say above, the plugin must be placed in the `Actionlog` plugin folder.
Please, find the new actionlog akeeba plugin attached:
[plg_actionlog_akeebabackup.zip](https://github.com/joomla/joomla-cms/files/3050710/plg_actionlog_akeebabackup.zip)

[2019-04-06 17:10] sjb1963 commented on #24049
Thank you very much!  So far, it looks like it's working properly.

Steve
ᐧ

On Sat, Apr 6, 2019 at 10:05 AM Olivier <notifications@github.com> wrote:

--
"On the off chance that you’re not going to live forever, why not take a
chance at being happy now?" ~ Charlie Skinner (The Newsroom)

[2019-04-06 17:11] brianteeman commented on #24471
This should be closed. There are extensions available that provide amp support and/or you can use the method described by @mbabker

[2019-04-06 17:28] brianteeman commented on #24448
Please close.

@zwiastunsw has given the correct answer. There is nothing to fix in Joomla as it correctly uses a valid attribute

[2019-04-06 17:30] brianteeman commented on #24049
@nikosdion Thanks for the documentation

I would just create the doc anywhere on the wiki and then leave it to the doc team to move it to the correct place.

[2019-04-06 18:08] franz-wohlkoenig commented on #24471
Closed as stated above.

[2019-04-06 18:08] #24471 closed, assigned to nobody

[2019-04-06 18:09] franz-wohlkoenig commented on #24448
Closed as stated above.

[2019-04-06 18:09] #24448 closed, assigned to nobody

[2019-04-06 18:17] Puneet-Jain-18 opened #24518 "[4.0] Page Reload on Clicking Publish button for Published Article"
### Steps to reproduce the issue
go to already created articles in the backend administrator
Select a check-box of a published article
open change status toolbar list and click on publish

### Expected result
Nothing Happens as the button is read-only

### Actual result
The page is reloaded.
Request Probably goes to the backend(to be confirmed)

### System information (as much as possible)

joomla

[2019-04-06 18:30] nikosdion commented on #24049
@twister65 I have already refactored that plugin. And Admin Tools' plugin. I also moved around the language strings and made sure that upon installing the new version the old system plugin will be uninstalled and the new actionlog plugin will be enabled (but only if the old system plugin was enabled). I just haven't had the time to release a new version for unrelated reasons.

@brianteeman I'll do

[2019-04-06 19:22] #24478 closed, assigned to nobody

[2019-04-06 19:22] Quy commented on #24478
Please test PR #24519<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24478">issues.joomla.org/tracker/joomla-cms/24478</a>.</sub>