[2019-05-01 12:25] mbabker commented on #24746
Those already exist.  Most payment gateways provide SDKs for working with their gateways.  It is on the developer to integrate those SDKs into their project.  It's not a "Joomla creates a payment gateway API and PayPal and Stripe and Authorize.NET turn around and write code to support Joomla's API" workflow (most of the gateways don't write the integrations for ecommerce solutions like WooCommerce

[2019-05-01 12:34] mbabker commented on #23725
If you're talking about having something in the update script that renames existing files, that won't fly.  That means changing packaging to exclude files and that's going to cause problems otherwise you're running into a process where you have to extract the new package, delete files from the new package, and try to rename existing files.  And then you're right back at the same problem the PR had

[2019-05-01 13:14] HLeithner commented on #23725
Maybe the update script is to complicated and outdated, it tries to delete file from joomla 1.5 unconditionally.

A rename function could be as simple as:

[code]

[2019-05-01 14:24] mbabker commented on #23725
Then you should suggest to WordPress the step of their update scripts that removes outdated files is too complicated and outdated too 😉

Because a bunch of lazy people had the bright idea to have core update as an extension of Joomla using the same extension update libraries instead of writing a proper core updater, the update script is in essence the same things an extension update can do.  The d

[2019-05-01 14:58] HLeithner commented on #23725
So with j4 we can remove all old deleted files because we require an update to 3.10 before we update to j4.

About the renaming.

I always know the hash of the wrong file (hopefully only one hash), this allows me to decide which file I have to use.

Anyway when the zip file get extracted it will
a) override the wrong file on windows, so we rename
b) have 2 files on posix and I have to delete the w

[2019-05-01 15:07] mbabker commented on #23725
That sounds great on paper.  Clearly, that doesn't work in real life otherwise the current 3.9 code would not have to include deletions for 1.5 file paths that didn't exist in 1.6+.

But, sure, go ahead and overengineer a solution to a one-time problem and impose more issues on end users that core can easily take care of.

[2019-05-01 15:13] mbabker commented on #23725
BTW, core already massively screwed up by removing the change deltas for the 1.7 and 2.5 database upgrades in the 3.0 branch.  Because core is insistent on using these change deltas to verify the database state instead of moving the `installation/sql` directory somewhere persistent, removing change deltas results in not accurately checking the database state.  So no, you cannot just blindly start

[2019-05-01 15:19] HLeithner commented on #23725
Why do you think I'm ignoring you?

I only want to see why things should simple work? If there is a reason my idea is stupid I accept it and wouldn't try to push it further...

But trying to get a consistent filesystem doesn't sound bad for in my opinion, but ok if you have a idea where we can move the file I'm happy too I only want to fix this and go on.

[2019-05-01 15:27] mbabker commented on #23725
The rename option works best if you don't already have the new file in the filesystem.  Because of how the internals of everything works, you can't rename the file in the repository then try to run a rename operation in the update script otherwise you're running into a "try to rename to existing file" problem.  And the delete bit has its own issues as the pull request demonstrates.  So the sanest

[2019-05-01 16:12] HLeithner commented on #23725
Ok, so move the file would be the besser solution but is it possible that we have the same library duplicated in the cms? one in "lib/src/filesystem" and one in "lib/vendor/joomla/filesystem"

Can remove the cms version?

[2019-05-01 16:22] mbabker commented on #23725
You can get away with aliasing `Joomla\CMS\Filesystem\Support\StringController` to `Joomla\Filesystem\Support\StringController`, they're mostly one in the same so that works out OK.  These might be the only 2 classes you get away with it though.

[2019-05-01 16:37] HLeithner commented on #23725
Shouldn't the StringController be in Controller namespace and directory?
And what would you do if as 3rd party lib renames a file?

[2019-05-01 16:50] mbabker commented on #23725
It's not a controller in any practical sense of the term.  Seems like that class is just honestly just a singleton references array for strings (why it needs to be references I have no idea, I've never dug into that class).

Depends on the library, and the file, and what the change was.  When the Symfony components switched from PSR-0 to PSR-4, you just accept the change and delete the old file pa

[2019-05-02 07:49] brianteeman commented on #24766
On further investigation the problem is not coming from our implementation of choices as their own demo has the exact same problem

Possible solutions
- https://github.com/jshjohnson/Choices/pull/122
- https://github.com/jshjohnson/Choices/issues/296

[2019-05-02 12:57] brianteeman commented on #23888
Other identified fields that exhibit the problem are those with select buttons. Like select a category. I have a fix in preparation for those.

[2019-05-02 18:47] brianteeman commented on #23888
see #24775 for more of the above being fixed

[2019-05-02 21:32] jeckodevelopment commented on #24739
@rytechsites please check PR #24776 as it implements your suggestion

[2019-05-03 04:02] franz-wohlkoenig commented on #24739
Closed as having Pull Request #24776

[2019-05-03 04:02] #24739 closed, assigned to nobody

[2019-05-03 07:10] infograf768 commented on #24739
IMHO, if we need a different anchor text, we should use a new parameter and make sure it goes through JText.
In any case, this would be a new feature, and therefore for J4

[2019-05-03 10:25] jeckodevelopment commented on #24739
i agree with your approach @infograf768
will try to work on that, any help is welcome ;)

[2019-05-03 11:08] rytechsites commented on #24739
I agree as well... my solution was just as a work around.  This can be donr
better, so languages can be considered...

Laura

On Fri, May 3, 2019, 6:26 AM Luca Marzo <notifications@github.com> wrote:

[2019-05-04 05:23] roland-d commented on #24744
Closing this as we have a PR #24777

[2019-05-04 05:23] #24744 closed, assigned to roland-d

[2019-05-04 08:41] wilsonge commented on #23932
Closing this as I've merged most the things and we have the issue in the accessibility tracker to deal with the remaining issues. We can open issues here for specific items

[2019-05-04 08:41] #23932 closed, assigned to nobody

[2019-05-04 10:15] pe7er opened #24780 "[4.0] Users: Edit - date fields not editable but changable via HTML"
### Steps to reproduce the issue
Users > Manage > select a user

As Super Admin you cannot edit the Registration date because it's readonly.
![users-edit1](https://user-images.githubusercontent.com/1217850/57177599-c48f7900-6e65-11e9-85e0-393edc201406.png)

You can edit the HTML source (via Google Chrome > Inspect)
![users-edit2](https://user-images.githubusercontent.com/1217850/57177598-c48f7900-

[2019-05-04 12:05] sanderpotjer opened #24782 "[4.0][com_fields] Category select is missing/broken for fields"
From #24711

https://github.com/joomla/joomla-cms/blob/e2abc0993baa4e5abb5a3166c56f3888c278c40c/administrator/components/com_fields/Model/FieldModel.php#L989
This needs to be investigated, but it ain't part of this PR. Just dropping this note here, because I think testers will stumble accross not being able to set a category for a custom field.

Creating a separate issue for this to make sure we f

[2019-05-04 12:37] sanderpotjer opened #24783 "[4.0][com_postinstall] Move Post-installation Messages from Components menu to System?"
With the new "System" dashboard containing all features relevant to the site administrators, I'm wondering if it would not be more logical to display the "Post-installation Messages" as an option under `administrator/index.php?option=com_cpanel&view=system`instead of the "Components" menu in the sidebar.

Any specific reason to leave it under "Components"?

[2019-05-04 12:39] sanderpotjer commented on #24783
Just noticed it is already visible on the system page :-)

<img width="380" alt="Screenshot 2019-05-04 at 14 38 06" src="https://user-images.githubusercontent.com/522834/57179111-4a1d2400-6e7a-11e9-8785-332fd188e010.png">

I would suggest to remove it from the Components menu. Objections?

[2019-05-04 17:32] Quy commented on #24783
See PR #23760

[2019-05-04 18:11] #24783 closed, assigned to nobody

[2019-05-04 18:28] sanderpotjer commented on #24783
@quy thanks for pointing to the PR!

[2019-05-05 06:47] pulsarinformatique commented on #23537
Hi

any news on this question please ? As Bakual stated the version control button should not be available for users who don't have the publish permissions.

thanks

cyril

[2019-05-05 09:35] pe7er opened #24793 "[4.0] Users - Tab for Custom Fields is labeled as "Fields""
### Steps to reproduce the issue

1. Create a new Field Group: Users > Field Groups > New
Name: [My User Profile Group]

![fields3](https://user-images.githubusercontent.com/1217850/57191787-a2f7c580-6f29-11e9-8b37-069c4e0fc6bd.png)

2. Create a new Field: Users > Fields > New
Name: [Photo]

3. Edit User: Users > Manage > Click on a User

### Expected result
I would expect that the Field Group Tab

[2019-05-05 11:01] ghazal opened #24797 "[4.0] Full Sample Data Errors on Menus Links"
### Steps to reproduce the issue
Choose Install Sample Data during Install Process.

### Actual result
On Menu Manager for All modules, we can see these errors :

![image](https://user-images.githubusercontent.com/490245/57192694-8fe9f300-6f33-11e9-8752-3e182080ec3f.png)

The actual link on Front-end is:

`index.php?option=com_config&view=article&id=29&Itemid=303`

On Menu Manager for All Front-en

[2019-05-05 11:02] Bakual commented on #23537
@pulsarinformatique I didn't write "publish" permission. I did write "edit" permission. That's not the same.

[2019-05-05 12:04] ReLater commented on #24797
You shouldn't do that. The sample data during installation are completely outdated and as far as I know this ist still an valid issue: https://github.com/joomla/joomla-cms/issues/20262

Install sample date AFTER installation in ControlPanel! There's a module to do that.

[2019-05-05 12:09] ghazal commented on #24797
OK.

[2019-05-05 12:09] #24797 closed, assigned to nobody

[2019-05-05 12:15] ReLater commented on #24793
At the moment I can't confirm your find. In your testing instructions I miss the step
- Select the field group "[My User Profile Group]" and save the field.

Did you do that?

Which J4 version are you using?

I will update mine to current nightly version and try again.

[2019-05-05 12:28] brianteeman commented on #24793
I can't confirm this either

[2019-05-05 12:32] ReLater commented on #24793
I can't reproduce after update to newest nightly
![05-05-_2019_14-31-10](https://user-images.githubusercontent.com/20780646/57194073-992e8c00-6f42-11e9-82e3-5e832b650491.jpg)

[2019-05-05 13:19] PeterTHM commented on #24780
This issue may occure because the calendar.es5.js allways replaces the field value with the given data-alt-value (if set) when the field is not set to disabled.

Because this fields are not intended to be changed manually, I would suggest to set them to disabled in the user.xml

[2019-05-05 13:45] brianteeman commented on #24780
setting the field to disabled will make it invisible to assistive technology

[2019-05-05 13:53] pe7er commented on #24793
Thank you for testing @ReLater and @brianteeman !
I had this issue with the current 4.0-dev (synchronized this morning).

When I tried to reproduce this issue again, I found out that I **had NOT assigned** the [Photo] field to the [My User Profile Group] Field Group. So my Field Group said "None".
![users-backend3](https://user-images.githubusercontent.com/1217850/57194963-6938b600-6f4d-11e9-9e27-

[2019-05-05 13:58] brianteeman commented on #24793
Not for me. That would imply that all fields really should be in a group and there really isnt a need for that to be the case

[2019-05-05 14:19] ReLater commented on #24793
@pe7er

You can create a language override for `JGLOBAL_FIELDS` or if you want to be more component specific you can create **new** language strings via `Languages: Overrides` in the back-end like `COM_USERS_FIELDS_USER_LABEL`, `COM_CONTENT_FIELDS_ARTICLE_LABEL` and so on.

These language strings don't exist yet in Joomla core.

[2019-05-05 16:18] wilsonge commented on #18761
This has been done

[2019-05-05 16:18] #18761 closed, assigned to nobody

[2019-05-05 18:17] ghazal commented on #24676
A

[2019-05-05 18:17] #24676 closed, assigned to nobody

[2019-05-06 09:00] wilsonge commented on #24793
I’m going to close this as the original issue can’t be reproduced. In terms of the field groups. If we want to rename the none group (I’m sympathetic to that actually to improve UX) then that should be done against staging not j4

[2019-05-06 09:00] #24793 closed, assigned to nobody

[2019-05-06 09:13] wilsonge commented on #24647
Thankyou for reporting this but like Michael says we’re not going to be fixing this one. If there’s an issue in 3rd party code that’s for them to solve. The doc blocks make it clear what types are and aren’t allowed in the style sheet function

[2019-05-06 09:13] #24647 closed, assigned to nobody

[2019-05-06 09:48] vijay9908 commented on #24055
yup!!

[2019-05-06 10:44] brianteeman opened #24814 "[4.0] Workflow doesnt set filters"
As part of the accessibility requirements of a list view it is essential that the table has a caption that describes the table, the sort order and any filters.

The first two of those are already done.

While investigating a method to do the filter part I saw that the two filters related to workflows (stage and condition) do not set the activeFilter

To test add this code to the top of the article

[2019-05-06 20:35] Chaosxmk commented on #24780
Does assistive technology need the input to have a name attribute? A readonly input without a name will have its value tossed away when the form is sent. Still bypass-able by manually putting the field name back in, but that comes down to the same effect as setting the field as disabled.

[2019-05-06 21:48] #23533 closed, assigned to nobody

[2019-05-06 21:59] brianteeman commented on #21547
This should be closed as fixed elsewhere

[2019-05-07 00:22] #21547 closed, assigned to nobody

[2019-05-07 04:34] webconsolinc opened #24822 "Custom Content"
### Is your feature request related to a problem? Please describe.

Hi, I love Joomla! Custom Fields. It's working very well and serve the purpose for all businesses.

In addition to that, I am looking to have a way of creating custom content type that extends from "Articles". For example, I need a content type called "Products" (because Articles, as a term, is more for Blog) while I know that I c

[2019-05-07 04:44] franz-wohlkoenig commented on #24822
Thanks for your comment. Theres a Discussion at #19150, please comment there. Closed for this Reason.

[2019-05-07 04:44] #24822 closed, assigned to nobody

[2019-05-07 09:58] zobeco opened #24823 "How to redirect example.com from HTTPS to HTTP, then HTTP example.com to newdomain.com?"
### Steps to reproduce the issue

As of now I use this rule (in .htaccess of example.com) to redirect HTTPS/HTTP example.com to newdomain.com:

Options +FollowSymLinks
RewriteEngine on
RewriteRule (.*) http://newdomain.com/$1 [R=301,L]
And from searching, I found that the following rule redirects HTTPS to HTTP:

RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST

[2019-05-07 09:59] franz-wohlkoenig commented on #24823
Please ask on [Forum](https://forum.joomla.org/)

[2019-05-07 09:59] #24823 closed, assigned to nobody

[2019-05-07 10:02] zobeco opened #24824 "Website not getting redirect from http to https"
### Steps to reproduce the issue

Mine website is not getting redirect from http://www.zobeco.com to https://www.zobeco.com. I have purchased an SSL certificate from hosting provider. i have installed the redirect plugin but not getting SSL secure.
### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2019-05-07 10:05] franz-wohlkoenig commented on #24824
@zobeco as answered in #24823 please ask on [Forum](https://forum.joomla.org/) as this Reporitory is for Coding. Thanks for your Understanding.

[2019-05-07 10:05] #24824 closed, assigned to nobody

[2019-05-07 12:27] mbabker opened #24826 "Deprecations without descriptions"
There are over 150 deprecated elements in the code that is parsed for the https://api.joomla.org website (basically the libraries directory) that have no descriptions about the deprecation.  Ideally, every deprecated element (or its parent if we're talking about an entire class having been deprecated) should have some form of description either pointing to an alternative or indicating that the fun

[2019-05-07 13:41] webconsolinc commented on #19150
Think this feature will only add value to the core the eco system. Yes, extension can be done very easily to achieve this, however, there's multiple ways of how people doing things, and when it comes to upgrading, sometimes things start breaking, and that yield bad experiences to users... consequently, Joomla! gets negative impact from bad implementation.

So, by introducing such feature, which st

[2019-05-07 14:14] chmst opened #24827 "[4.0] Broken id in com_cpanel&view=system headers"
### Steps to reproduce the issue
System Panel: option=com_cpanel&view=system.

The card headers have strange ids:![screen shot 2019-05-07 at 14 07 48](https://issues.joomla.org/uploads/1/c24a19b241bcd4e6483e85ede5ec4a20.png)

Unfortunately I cannot find where the id is generated or modified.

### Expected result

### Actual result

### System information (as much as possible)

### Additional comme

[2019-05-07 14:17] chmst commented on #24827
Note: Strange IDs are not really the problem. But this destroys the aria-hidden Attribute for the leading icon.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24827">issues.joomla.org/tracker/joomla-cms/24827</a>.</sub>

[2019-05-07 14:25] Lab5-Switzerland opened #24829 "JS Form Validation for Subforms/Repeatable Fields Bug IE - Here is the Solution"
### What needs to be fixed
In IE(11), Fields of a Subform or Repeatable Form dont validate - Seemingly.
Truth is : IE tries to validate the invisible Subform-repeatable<template> part of the subform - which ofc never contains values by its very nature - thus always producing errors

### Why this should be fixed
Because Client side form validation is essential. The bug described just exists, becaus

[2019-05-07 14:43] GoolaGong opened #24830 "[4.0] Alpha8 %00 Internal Server Error"
### Steps to reproduce the issue
I'm a novice at testing new versions of Joomla, but wanted to test Joomla 4 before it was issued formally and I had to try and upgrade from 3.9.
I installed it first on my PC under XAMPP, copied a few articles and categories from the live site and everything worked without problem.
I then set up a new sub-domain of my live site on my host, created a database and in

[2019-05-07 14:57] ReLater commented on #24827
I think it's /media/vendor/skipto/skipTo.js

[2019-05-07 15:02] brianteeman commented on #24827
The id is coming from skipto plugin

I dont see how it is breaking any aria attribute though

[2019-05-07 15:03] ReLater commented on #24830
Maybe it's better to give a nightly build a chance?
https://developer.joomla.org/nightly-builds.html

[2019-05-07 15:07] brianteeman commented on #24827
![image](https://user-images.githubusercontent.com/1296369/57310709-278d4400-70e2-11e9-9edf-677d613b90f8.png)

[2019-05-07 15:18] GoolaGong commented on #24830
Just tried that - Your site has been updated. Your Joomla version is now 4.0.0-alpha9-dev.

Site won't load at all now: Error: Unknown column 'm.publish_up' in 'where clause': Unknown column 'm.publish_up' in 'where clause'

[2019-05-07 15:29] franz-wohlkoenig commented on #24829
Closed as having Pull Request #24832

[2019-05-07 15:32] ReLater commented on #24830
I'm not sure if I understood you correctly.
It's not possible to update from Joomla 3.9 to Joomla 4. Joomla 3.10 will be the first version that will be prepared for updates to Joomla 4. You have to wait.

[2019-05-07 15:33] #24829 closed, assigned to nobody

[2019-05-07 16:17] GoolaGong commented on #24830
No, indeed. I have the main site (Joomla 3.9) installed under www...., a dev... test site (Joomla 3.9), in a sub-domain, where I test changes and carry out updates before implementing on the main site. I then set up a further sub-domian, dev4... where I installed Joomla 4.0 Alpha 8. All "three" sites have their own database and are complete separate Joomla installations.
So, I tried to update Alph

[2019-05-07 16:27] ReLater commented on #24830
Yes, it's not guaranteed that updates from J4-dev to J4-dev work. All I know is that I can/could update my `Joomla 4 nightly` to `Joomla 4 nightly of the following day` for a longer time via `Joomla! Update` > `Upload & Update` (FULL or UPGRADE package) with a fdatabase fix afterwards `administrator/index.php?option=com_installer&view=database`.

But "not guaranteed".

[2019-05-07 16:37] franz-wohlkoenig commented on #24830
Updates from alpha to alpha are not supported. Best to use nightly as suggested. Joomla4 iin Beta will then support updates from Nightly to Nightly. For this Reason Issue closed.

[2019-05-07 16:37] #24830 closed, assigned to nobody

[2019-05-07 17:08] GoolaGong commented on #24830
Thanks for suggestions, etc. I've just rebuilt my test Joomla 4.0 Alpha 9, added two articles, no changes to settings (other than a couple in Configuration) and I'm getting exactly the same problem "500 Internal Server Error".

[2019-05-07 19:31] ReLater commented on #24830
- Set Error Reporting to Maximum and enable Debug (System) inside Global Configuration.
- Did you rename `htaccess.txt` to `.htaccess` ?
`sef_rewrite: true` (your system informations say that).

[2019-05-07 21:09] chmst commented on #24827
Thank you @brianteeman and @ReLater. This issue can be closed.  <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24827">issues.joomla.org/tracker/joomla-cms/24827</a>.</sub>

[2019-05-07 21:32] GoolaGong commented on #24830
Cracked my problem!
How did I forget to rename htaccess.txt?
My apologies for wasting everybody's time and very many thanks for your help.

[2019-05-07 23:12] xmanflash commented on #19150
Wordpress has this built into the core.  Programming it via plugins or
the functions.php theme file works a treat.

And they still a great eco system.  :)

Its one of the few remaining Joomla hold outs in my view.

Cheers,
Pete

On 07-May-19 11:42 PM, WEBCONSOL Inc wrote:

[2019-05-08 04:35] #24827 closed, assigned to nobody

[2019-05-08 08:27] infograf768 opened #24836 "[4.0] skipto not adapted to many languages, specially to RTL"
### Steps to reproduce the issue
Install Persian language
Add this file to the Persian admin language where I have translated just a few strings for the demonstration. (Change .txt to .ini) and switch admin language.

[fa-IR.plg_system_skipto.txt](https://github.com/joomla/joomla-cms/files/3156006/fa-IR.plg_system_skipto.txt)

### Results
In English

<img width="515" alt="Screen Shot 2019-05-08 at

[2019-05-08 12:30] SniperSister opened #24839 "[4.0] console command can't be called in debug mode"
### Steps to reproduce the issue
Enable debug mode, call `php cli/joomla.php list`

### Expected result
List returned

### Actual result
`Fatal error: Uncaught TypeError: Argument 1 passed to Symfony\Component\Debug\ExceptionHandler::handle() must be an instance of Exception, instance of Error given in [..]/libraries/vendor/symfony/debug/ExceptionHandler.php:106`

[2019-05-08 14:36] brianteeman commented on #24836
They are aria terms so should not be translated

[2019-05-08 15:21] infograf768 commented on #24836
I understand these ARIA role terms are normally markup terms i.e. `<main>` or `<nav> ... </nav>` or `<search>`
I still don't understand why they should be displayed as such in the dropdown.
Is it simply an overseen in the js?

Note: Do I mistake or `Search` does not focus on the Search field?
Looks like we miss a `<search>` in the layout. When adding one, it does focus after tabbing but the page h

[2019-05-08 22:14] Quy commented on #21244
Per wilconge:

[2019-05-09 00:30] ehatcher opened #24842 "Sorry if this is the wrong place code is showing up on the front end"
I don't know how or when it started because the code only shows up on Chrome and Edge and not Firefox. I do most things in firefox. I have attached a photo. Is it a setting? or a bug?

![website chrome and edge 3](https://user-images.githubusercontent.com/17323554/57416920-4964f480-71d0-11e9-9c90-52412a9c2dc2.png)

### Steps to reproduce the issue
I have no idea. I think it may be a setting for ac

[2019-05-09 02:25] #24842 closed, assigned to nobody

[2019-05-09 02:25] Quy commented on #24842
Please ask help in Joomla Forum https://forum.joomla.org/<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24842">issues.joomla.org/tracker/joomla-cms/24842</a>.</sub>

[2019-05-09 06:40] infograf768 commented on #24721
@alikon

[2019-05-09 07:00] infograf768 commented on #24721
I can reproduce when creating a Menu Item Alias, not any other it seems.

[2019-05-09 10:51] reillplast opened #24844 "[4.0] Extended Search Tools for Categories - select parent category"
In order to sort many subcategories more easily, an additional filter similar to the menu items (see screenshot = select parent menu item) would be helpful. This would allow to select a parent category to filter.

<img width="1158" alt="Select-Parent-Category" src="https://user-images.githubusercontent.com/19149137/57447717-f9ca0b80-7257-11e9-9c0f-d997d0419831.png">

[2019-05-09 13:35] Fassendek opened #24845 "ERROR: Invalid login - Joomla 3.9.6"
Hello! I'm trying to update to Joomla 3.9.6 and I get this javascript alert:
**ERROR: Invalid login.**
I'm not the only one with this problem. I read a lot of material on this topic, but did not find the cause and method of solving this problem. And on earlier versions of Joomla! was the same problem since 3.9.0 Prompt how to update and get rid of this problem? Changing the browser and manual inst

[2019-05-09 13:35] ReLater commented on #24844
As far as I know there won't go new features into Joomla 3. Only bug fixes.

Maybe you have a chance in Joomla 4 and maybe @franz-wohlkoenig changes the label accordingly. You should mention Joomla 4 then in your opening https://github.com/joomla/joomla-cms/issues/24844#issue-442174750 .

[2019-05-09 13:40] ReLater commented on #24845
I saw this error in the past because of a "strange" line in my .htaccess file. In that case it was a line that should block some bot requests. Thus: Try again after deactivating your htaccess.

[2019-05-09 13:46] Fassendek commented on #24845
Deactivating file .htaccess doesn't help!

[2019-05-09 13:50] franz-wohlkoenig commented on #24845
@Fassendek Please ask on [Forum](https://forum.joomla.org/)

[2019-05-09 13:50] #24845 closed, assigned to nobody

[2019-05-09 14:09] Quy commented on #24844
Related PR #17211?

[2019-05-09 15:39] alikon commented on #24721
confirm, but weird

[2019-05-09 16:41] twister65 opened #24846 "[4.0] Action Logs show constant rather than value"
### Steps to reproduce the issue
- Enable or disable a plugin.
- Watch the Latest Actions module in the Control Panel

### Expected result
User xxx published the plugin plg_captcha_recaptcha_invisible

### Actual result
PLG_SYSTEM_ACTIONLOGS_CONTENT_PUBLISHED

### System information (as much as possible)
- Joomla! Version: Joomla! 4.0.0-alpha9-dev Development [ Amani ] 19-April-2019 09:23 GMT
- Da

[2019-05-09 16:48] franz-wohlkoenig commented on #24846
is this also an issue using Nightly Build?

[2019-05-09 17:15] twister65 commented on #24846
This is the Nightly Build from this day.

[2019-05-09 17:16] twister65 commented on #24846
This is another issue : System information is not correct.

[2019-05-09 17:17] brianteeman commented on #24846
please open a new issue report for each issue

[2019-05-09 21:27] twister65 commented on #24846
We have PR #24847

[2019-05-09 21:27] #24846 closed, assigned to nobody

[2019-05-10 07:30] infograf768 commented on #24721
I can apparently solve it here by modifying the model
/administrator/components/com_menus/Model/ItemsModel.php line 277 +
from
[code]

to
[code]
Since 1.7 we were using the `MenusHtmlMenus` `state()` method to display the state on the grid.
It considered the `$enabled` status of the component and displayed a tip
<img width="386" alt="Screen Shot 2019-05-10 at 09 28 37" src="https://user-images.git

[2019-05-10 07:49] infograf768 commented on #24721
Note:
if we do not need anymore `$enabled` for the component, we could simplify the whole query select by taking off the `CASE`, simply using:
[code]
What do you think?

[2019-05-10 09:42] brianteeman opened #24849 "[4.0] Changelog js error"
The new code to display the changelog of an available update in the extension manager produces a javascript error when you click on the button

/cc @roland-d

[code]

[2019-05-10 11:31] C-Lodder commented on #24849
@brianteeman https://github.com/joomla/joomla-cms/blob/4.0-dev/build/media_source/system/js/core.es6.js#L938

Try replacing:
[code]

with this:

[code]

Although this Javascript really needs to be moved out of `core.js` and into a separate file associated with `com_installer`: https://github.com/joomla/joomla-cms/blob/4.0-dev/build/media_source/com_installer/js/installer.es6.js

Perhaps someone ca

[2019-05-10 16:38] infograf768 commented on #11178
Closing as no reply. Please open a new issue if problem still exists.

[2019-05-10 16:38] #11178 closed

[2019-05-10 16:49] HLeithner commented on #16862
This has been fix in Joomla 3.9.6 with PR #21952

[2019-05-10 16:49] #16862 closed

[2019-05-10 17:15] brianteeman opened #24850 "[4.0] Toolbar buttons"
Many of the toolbar buttons use a regular button layout but the majority are using  the joomla-toolbar-button element

For consistency and to make styling easier all the toolbar buttons need to be converted to use a layout with  joomla-toolbar-button.

Examples include
- [x] Versions
- [x] Batch
- [x] ~Options~ changed with new template
- [ ] modal buttons (templates, new menu etc)
- [ ] Associati

[2019-05-10 17:34] brianteeman opened #24851 "[4.0] modal footers"
Most of the buttons in the modal footers have been converted from `a role=button` to correctly use `< button >` but there are still quite a few that need to be updated

[2019-05-10 20:13] brianteeman commented on #24850
I have done the versions button as an example #24852

[2019-05-10 20:39] brianteeman opened #24853 "[4.0] icon width"
Fontawesome icons are **not** all the same width. In some circumstances this results in undesired behaviour as seen below

![eye](https://user-images.githubusercontent.com/1296369/57555395-148da480-736c-11e9-8c6f-e212f5f9aaaf.gif)

Ref:
https://fontawesome.com/how-to-use/on-the-web/styling/fixed-width-icons

[2019-05-10 22:20] brianteeman opened #24855 "[4.0] Menu collapsed when returning"
Select a component from the menu

### Expected result
Menu remains open when you return to the list view from the edit view

### Actual result
Menu collapsed
![menu](https://user-images.githubusercontent.com/1296369/57559519-1b231880-737a-11e9-9f27-ae1b8b98de5b.gif)

[2019-05-10 22:31] SharkyKZ commented on #24855
Test PR https://github.com/joomla/joomla-cms/pull/24801 please.

[2019-05-10 22:32] brianteeman commented on #24855
From the title of that PR I couldnt see how it was related. I can now - thanks

[2019-05-10 22:32] #24855 closed, assigned to nobody

[2019-05-11 00:15] Rakeshmvd opened #24856 "[4.0] Language and auto update plugins"
Feature request.

Please add these two plugins as standard plugins.

They are so simple and yet very important for the further progress of Joomla. They really need to be implemented as standard plugins since they add really necesary functions.

EasyLanguage http://www.isapp.it/en/easy-language/83-easy-language-en.html
Auto update through cron: https://www.joomlashowroom.com/products/auto-update-fo

[2019-05-11 03:20] 810 opened #24857 "[4.0] Database loadObjectList only showed 1 object"
### Steps to reproduce the issue
Driver: Mysqli
3rt party: Kunena 6.0 alpha 3 nightly

Forum Message has 4 attachments.

`C:\Users\Jelle\Documents\gitkraken\Kunena-Forum\src\libraries\kunena\attachment\helper.php:237:`

`SELECT *
FROM `#__kunena_attachments`
WHERE `mesid` IN (67)' (length=63)`

`C:\Users\Jelle\Documents\gitkraken\Kunena-Forum\src\libraries\kunena\attachment\helper.php:261:
array (

[2019-05-11 03:52] mbabker commented on #24857
For starters...

1) If you're calling `$db->getQuery(true);`, your first method call doesn't need to be `$query->clear()` because you're already dealing with a new DatabaseQuery object.

2) `$db->setQuery((string) $query);` is just wasting CPU cycles, on both 3.x and 4.0.  On 3.x, the PDO drivers are converting string queries into query objects for prepared statement support (not as big of a deal

[2019-05-11 03:54] mbabker commented on #24856
Randomly adding a plugin that supports automatic updates is a bad idea.  Search through this tracker, there are several discussions over the years dealing with automatic update support.  The TL;DR here is it is much more than slapping some code in the CMS and shipping it.

[2019-05-11 06:21] infograf768 commented on #24856
As for easylanguage, I just had a look at it.
The plugin implies an obsolete replacement of the language switcher module helper (it does not consider component items associations).
It also needs an override of the search content plugin.
Its code would need a full refactoring and can't be integrated as is in Joomla.

In any case, one is free to get it from JED and use if desired (and conscious of t

[2019-05-11 06:21] #24856 closed, assigned to nobody

[2019-05-11 06:36] infograf768 commented on #24721
Just found out we still have the `state()` method in Service/HTML/Menus.php.
Shall we keep the method or just delete it too?

[2019-05-11 06:42] infograf768 commented on #24721
With former code we do get a tip, although wrongly displayed
<img width="479" alt="Screen Shot 2019-05-11 at 08 40 02" src="https://user-images.githubusercontent.com/869724/57566088-ac20e080-73c8-11e9-9b9d-1ba5f028304d.png">

[2019-05-11 09:30] Milglius commented on #23261
who is responsible for the media manager features ?

[2019-05-11 09:32] franz-wohlkoenig commented on #23261
https://volunteers.joomla.org/teams/new-media-manager-team

[2019-05-11 09:32] Milglius commented on #23316
its for ichard67 not to you franz

[2019-05-11 09:56] alikon commented on #24857
something is wrong on your side i've tested with this silly snippet

[code]

and results have correctly  the 2 instances of `English (en-GB)` client and admin corresponding to 802 as expected

[2019-05-11 09:56] #24857 closed, assigned to nobody

[2019-05-11 10:04] 810 commented on #24857
@alikon Could you please test the loadObjectList with key and class, i think there is a issue. Else the code shouldn't be working on J3.8 too.

[2019-05-11 10:06] alikon commented on #24857
stdClass shouldn't be enough ?

[2019-05-11 10:46] 810 commented on #24857
Not for us, we have our own classes.

[2019-05-11 12:39] ReLater commented on #23316
@Milglius

Click on his avatar or username > There you'll see his website link > There you'll find a contact form.

[2019-05-11 12:56] richard67 commented on #23316
@you should provide the link here for all.

I did say:

"we (me and others)" and not "I" because I think it needs more than 1 tester to be able to reproduce that problem, which seems to be very specific for particular versions of OS or browser, or to be related to some site specific things, since I was not able to reproduce it with a standard Joomla.

[2019-05-11 16:10] Quy commented on #24151
Close this as a known issue as there is a doc page for it?

[2019-05-11 16:32] #22417 closed, assigned to nobody

[2019-05-11 16:33] Quy commented on #22417
Closing due to no response.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22417">issues.joomla.org/tracker/joomla-cms/22417</a>.</sub>

[2019-05-11 17:02] franz-wohlkoenig commented on #24151
closed as stated above; Issue can always be reopened.

[2019-05-11 18:35] Quy commented on #24502
Let's close it since wilsonge mentioned that the backend template will be merged shortly.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24502">issues.joomla.org/tracker/joomla-cms/24502</a>.</sub>

[2019-05-11 18:40] brianteeman commented on #24502
It should stay open until it is merged and confirmed that the issue is solved

[2019-05-11 20:58] mbabker commented on #24151
Actually, there should be one issue open somewhere tracking the progress of MySQL 8 compatibility in the CMS.  Without that, items will be continually closed pointing to that docs page which gives the impression that Joomla is not making efforts to support MySQL 8 (hell it still doesn't fully support 5.7).

Closing items and pointing to a doc page generally comes across as "this is how Joomla work

[2019-05-12 00:16] Rakeshmvd commented on #24856
As a Joomla user since version 1.0, I have never liked the joomla muli-language system. Creating three menu's for two languages is illogical and very cubersome as websites change often. With the rise of various Page-Builders and their new structure, I see that Joomla is getting momentum again. With EasyLanguage, you do not need the three menu ways anymore. This is in my opinion the right way forew

[2019-05-12 00:16] helgator commented on #22417
Sorry for the late reply. Because I needed a quick solution I made a html override of the menu module and hard coded my link in there. Hence never got a chance to test the url encode approach in production.

[2019-05-12 04:41] franz-wohlkoenig commented on #24151
Reopen Issue as comment by @mbabker stated above.

[2019-05-12 08:54] infograf768 commented on #22417
@HLeithner
Your solution works fine.

[2019-05-12 10:14] brianteeman opened #24859 "[4.0] todo: remove remaining references to jhtmlsidebar"
As the title says - there is still a lot of code referring to the sidebar in the views that we are not using

[2019-05-12 11:32] brianteeman opened #24861 "[4.0] Batch update redirects"
### Steps to reproduce the issue
Click on the batch update new urls in com-redirects

### Expected result
Accordion opens

### Actual result
[code]

[2019-05-12 11:42] brianteeman opened #24862 "[4.0] User action log - name or user"
In the user action log we use name and user inconsistently

![image](https://user-images.githubusercontent.com/1296369/57581693-e2d32580-74b2-11e9-95e0-1cf1042edb87.png)

Here it says user "brian-login" where "brian-login" is the field username and
Name = "brian" where "brian" is the field name

But here in the filter
![image](https://user-images.githubusercontent.com/1296369/57581712-30e82900-74b

[2019-05-12 14:37] Quy commented on #21373
PR #23944 but still debatable whether it is the right fix

[2019-05-12 15:25] Quy commented on #22336
@brianteeman OK to close?

[2019-05-12 17:38] Quy commented on #24814
Please test PR #24864<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24814">issues.joomla.org/tracker/joomla-cms/24814</a>.</sub>

[2019-05-12 18:17] brianteeman commented on #24814
Please re-open as #24864 is nothing to do with this

[2019-05-12 19:51] SharkyKZ commented on #24859
Should note that removing these prevents plugins from modifying the sidebar.

[2019-05-12 20:33] brianteeman commented on #24859
obviously without a sidebar there is nothing for the plugin to modify ;)

[2019-05-12 20:46] brianteeman commented on #24849
Thanks @C-Lodder I will leave it for someone else to make the pr

[2019-05-12 20:55] brianteeman commented on #24851
See #24871

[2019-05-12 20:55] #24851 closed, assigned to nobody

[2019-05-12 23:13] kat0d commented on #24754
@alikon alikon and where is the

- Disabled: Should the field be disabled in the edit form.
- Read only: Should the field be read-only in the edit form.
parameters ???
![image](https://user-images.githubusercontent.com/11921942/57588915-9b857d00-7524-11e9-9c78-7bf4aa8d18d2.png)

[2019-05-12 23:35] kat0d opened #24876 "Custom fields J3.x"
### Steps to reproduce the issue
- Add user custom field
- try to hide this field from user edit form, and just to show in user profile
or
- assign read-only attribute
or
- disable in the edit form

### Expected result
disable field in the user edit form

### Actual result
#nothing works!!!
where is this futures ?!!!
![image](https://user-images.githubusercontent.com/11921942/57588973-98d75780-752

[2019-05-13 04:07] Quy commented on #23737
Please confirm that this can be closed.

[2019-05-13 04:29] N6REJ commented on #15727
@frankmayer reopen this please

[2019-05-13 04:45] wnkkm opened #24877 "TinyMCE drag & drop - "Unable to upload file" error"
### Steps to reproduce the issue
1. Create an image folder like "/media/photo/2019" outside joomla's "images" folder;
2. Create a symbolic link of a subfolder "media" in "images" folder for the "/media" folder;
  (so that images/media/... symbolic folder name can access to the physical folder "/media/...")
3. Configure TinyMCE's plugin setting "Images Directory" to have "media/photo/2019";
4. Edit

[2019-05-13 04:53] franz-wohlkoenig commented on #24877
@wnkkm thanks for your Report. Can you please look if #24539 is about same Issue? If yes please comment there and close this Issue.

[2019-05-13 04:57] franz-wohlkoenig commented on #24876
@kat0d thanks for your Report. Is it the same you asked at https://github.com/joomla/joomla-cms/issues/24754#issuecomment-491637331?

[2019-05-13 05:21] wnkkm commented on #24539
This issue seems to be the same issue as I reported as
[TinyMCE drag & drop - "Unable to upload file" error #24877](https://github.com/joomla/joomla-cms/issues/24877).
Thanks.

[2019-05-13 05:23] wnkkm commented on #24877
Yes, I think the issue https://github.com/joomla/joomla-cms/issues/24539 looks the same issue.
So I close this issue.

[2019-05-13 05:23] #24877 closed, assigned to nobody

[2019-05-13 07:12] kat0d commented on #24876
@franz-wohlkoenig basically yes. i just can't find out, is it i'm missing something, or it's just really bugs. because custom fields exists quite long time in Joomla. and this is not full list of their bugs.

[2019-05-13 07:14] SharkyKZ opened #24878 "[4.0] UCM state and history not updated when changing item state in list view."
### Steps to reproduce the issue

Create an article or contact. Add some tags.
Go to item list. Change item state (publish/unpublish) using inline or toolbar button.
View item's `core_state` value in `#__ucm_content` table.
Edit the item, view its versions history.

### Expected result

`core_state` value is `1`.
Versions entry created.

### Actual result

`core_state` value is `0`.
Versions entry

[2019-05-13 07:45] SharkyKZ commented on #24859
After this there won't be. But currently plugins can add entries even if the sidebar is otherwise empty. Isn't that why there is `!empty($this->sidebar)` check in the first place?

[2019-05-13 09:05] HLeithner commented on #15727
We can't fix this i the xml because it's not the right place to add styling, the only thing you can do is to add a custom "class" and add css to the template. Even if we add a "style" attribute to the xml tag it would be the wrong approach because we shouldn't do any styling in the form xml.

[2019-05-13 09:05] #15727 closed

[2019-05-13 09:06] ReLater commented on #15727
For mod_search we are using this code:
https://github.com/joomla/joomla-cms/commit/6160e39f0ba970035dedea991545ae695c5fbb48#diff-602b029403197b38b1471bf1c6b6c1cd

Means: ressetting the width style with `auto`.

I don't think that it's worth to implement things like that. See comment https://github.com/joomla/joomla-cms/issues/15727#issuecomment-491740002 (custom class)

[2019-05-13 09:13] HLeithner commented on #22336
This is solved with the default parameter using the value "_:" the reason for using _: is that we have to select a template. In case of _: its the current.

[2019-05-13 09:13] #22336 closed, assigned to nobody

[2019-05-13 09:18] brianteeman commented on #21869
I am re-opening this as I still don't understand the logic behind having the delete buttons only visible on a page that does not show any associations

[2019-05-13 09:38] wilsonge commented on #23737
Looks like 3 files left to me

[2019-05-13 10:07] Bakual commented on #15727
Best would be to actually remove the `size` attribute fromt he XML. As nowadays things like size should be done with CSS. Especially since `size` isn't reliable anyway.

[2019-05-13 10:54] HLeithner commented on #15727
@Bakual would you like to make a pr for j5?

[2019-05-13 11:43] mbabker commented on #24859
Even if plugins can conceptually manipulate these sidebars (hint, you don't really have an event in most admin components between the time they seed the sidebars and the time they are rendered), the fact is the sidebar rendering has been FUBAR since the introduction of customizable admin menus because the sidebar is not in-sync with those menus or user customizable in any way.  Just get rid of the

[2019-05-13 12:48] wilsonge opened #24885 "[4.0] Regression in JMail"
We've got a regression in the mailer. As part of this pull request moving us to exception handling, we're failing to resend the email https://github.com/joomla/joomla-cms/pull/21320/files#diff-5aaa46eebca8b0cbd13c16868c45123aR130 if the auto tls feature is enabled (or attempting to disable it for that matter). I strongly suspect this is the reason that @brianteeman had issues in the privacy compon

[2019-05-13 12:49] brianteeman commented on #24885
further testing shows I get thT 500 ERROR whenever I try to send a mail

[2019-05-13 12:56] wilsonge commented on #24885
Try this https://github.com/joomla/joomla-cms/pull/24886 - it's required either way. I'll leave this one open for now however as there might be more required for your issue

[2019-05-13 13:09] joeforjoomla commented on #24885
@wilsonge i had already opened this one that i reference: https://github.com/joomla/joomla-cms/issues/24241

[2019-05-13 13:18] olleharstedt opened #24887 "JFile::upload should return result code instead of boolean"
### Is your feature request related to a problem? Please describe.

If upload file fails, you want to know why so that you can show an error message to the user and also react accordingly in the code. Right now, the type of the error is just recorded in the log.

### Describe the solution you'd like

Return integer instead of boolean. OR throw an exception.

To increase backward compatibility, 1 c

[2019-05-13 13:18] wilsonge commented on #24885
Ahh nice. I'd missed that :)

[2019-05-13 13:19] #24241 closed, assigned to nobody

[2019-05-13 13:19] wilsonge commented on #24885
Looks like this is solved by #24886

[2019-05-13 13:19] #24885 closed, assigned to nobody

[2019-05-13 14:05] brianteeman commented on #24499
I am not 100% convinced that there is a problem to resolve here. The only non sidebar alternative that comes to mind is to have a select at the top like in module manager where you select between site and admin but here it would be between global and a big list of components

[2019-05-13 14:06] HLeithner commented on #24887
changing this would be a b/c break even if it shouldn't be too bad, did you checked if this is still a valid issue in j4?

[2019-05-13 14:10] brianteeman commented on #24388
I cannot replicate this

[2019-05-13 14:12] franz-wohlkoenig commented on #24388
closed as solved elsewhere. @Chacapamac please reopen if i failed.

[2019-05-13 14:12] #24388 closed, assigned to nobody

[2019-05-13 14:34] olleharstedt commented on #24887
Yes, this is still an issue in 4: https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Filesystem/File.php#L449

[2019-05-13 14:35] olleharstedt commented on #24887
Also see discussion here: https://github.com/joomla/joomla-cms/pull/20438#issuecomment-491591446

[2019-05-13 14:45] HLeithner commented on #24887
So you already got your answer from Michael https://github.com/joomla/joomla-cms/pull/20438#issuecomment-389866320

please create a pull request against the framework and throw a exception if it doesn't succeed.

[2019-05-13 14:46] #24887 closed, assigned to nobody

[2019-05-13 14:54] Quy commented on #24876
So this is the same issue as #24754?

[2019-05-13 15:14] Quy commented on #22336
Should the doc page be updated about `_:`? https://docs.joomla.org/Modulelayout_form_field_type

[2019-05-13 15:17] kat0d commented on #24876
@Quy no, we are pursuing the same goal, as I understand it. But these are different bugs. we use different options.
and there is one more
if you not allow edit custom field values in field permissions
![image](https://user-images.githubusercontent.com/11921942/57632531-82271400-75aa-11e9-89e1-f20ded8da2ae.png)
if this field is present in user profile edit form(which i can't disable with Joomla opt

[2019-05-13 15:27] kat0d commented on #24876
my goal:
- add repeatable field, so admin can add fields, and user can see this fields in user profile page, but can't see it in user edit form, or at least can't edit it. and this simple task is currently impossible with standard joomla options.

[2019-05-13 15:35] HLeithner commented on #22336
If you can do this please do so.

[2019-05-13 15:45] ramblerswebs commented on #15727
I don't understand all these comments. If I remove the lines
input,
textarea,
.uneditable-input {
	xxwidth: 206px;
}
lines 912 onwards from administrator/templates/isis/css/template.css then the input field display to what look like the correct width

[2019-05-13 17:15] kat0d commented on #24876
ok, so here is a quick, if someone need this future now
- disable "Edit Custom Field Value" in field "Permissions" tab
create template rewrite:
JOOMLA-SITE\components\com_users\views\profile\tmpl\edit.php
now it's in your template
JOOMLA-SITE\templates\JOOMLA-TEMPLATE\html\com_users\profile\edit.php

find:
[code]
in my case it's line 68
add before this line:
[code]
you're done, BUT, if you have on

[2019-05-13 17:16] franz-wohlkoenig commented on #24876
@laoneo ?

[2019-05-13 18:00] Bakual commented on #15727
@ramblerswebs The point is: It's correct that the CSS specifies the width, as it is a design question which is in the responsibility of the template. So the CSS is fine, and naturally the `size` attribute is ignored.

@HLeithner I wasn't aware we're already doing PRs for J5 😆

[2019-05-13 18:11] olleharstedt commented on #24887
Eh, no. Because it doesn't answer whether or not you prefer a result code or throwing an exception. Please read the whole thread. This issue is not about promoting my old PR.

[2019-05-13 18:12] roland-d commented on #24849
Closing as we have a PR #24890

[2019-05-13 18:12] #24849 closed, assigned to nobody

[2019-05-13 21:16] Chacapamac commented on #24388
Franz, you said

and

I’m not sure... what is the solution ?

[2019-05-14 04:15] franz-wohlkoenig commented on #24388
@Chacapamac this was between my 2 comments :-)

[2019-05-14 09:08] HLeithner commented on #24887
My fault it's not in the framework its in the CMS.

[2019-05-14 09:09] Nishchal1906 commented on #10608
I would recommend you to use pepipost SMTP. The guide link is as follows :- https://pepipost.com/developers/integrations/joomla/ and it is extremely easy to integrate. It helps you to send 30,000 emails for the first month and and then 100 emails for free every day thereafter. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a h

[2019-05-14 09:11] brianteeman commented on #10608
Please delete the spam

[2019-05-14 09:19] olleharstedt commented on #24887
Done: https://github.com/joomla/joomla-cms/pull/24894

[2019-05-14 09:42] HLeithner commented on #15727
iirc there shouldn't be no "big" deprecation in j3.10 for 4.0 so changes is is only possible in j5

[2019-05-14 10:39] wilsonge commented on #21373
Use the tooltips css from https://github.com/joomla/joomla-cms/pull/24892

[2019-05-14 10:53] Milglius commented on #21869
@brianteeman  what software you use to create this image above ?

[2019-05-14 11:01] brianteeman commented on #21869
Licecap - it is free software available for all platforms

[2019-05-14 11:02] brianteeman commented on #21373
I will do that shortly

[2019-05-14 12:44] brianteeman commented on #21373
or maybe not as it relied on getting focus

[2019-05-14 12:56] AndySDH commented on #24754
Agreed.

That setting has always been for controlling where the field can be edited.

It just has a bad description.

So the correct thing to do is that the "Show on" setting should be renamed to "Can be edited in..."
with options: Backend/Frontend/Both

And #24397 should indeed be reverted.

[2019-05-14 12:56] ciar4n commented on #21373
Your tooltip CSS should also work for hover. Just need to include :hover....

[code]

[2019-05-14 13:00] brianteeman commented on #21373
yes I have it working on hover but i havent been able to get focus to work - it needs focus for keyboards

[2019-05-14 13:01] Bakual commented on #15727
Agreed. But I don't think I will remember this here when we start the J4 branch. So don't count on me.

[2019-05-14 13:03] franz-wohlkoenig commented on #15727
@Bakual makes a "J5"-Label sense?

[2019-05-14 13:51] ciar4n commented on #21373
At a glance, if your CSS is the same as the above then the focus should work IF the hover works.

[2019-05-14 13:55] brianteeman commented on #21373
I agree it should but it appears there is a difference between what can be focussed and hovered. I will get there in the end.

[2019-05-14 14:21] Bakual commented on #15727
It may be. Lets ask @wilsonge what his thoughts are about adding issues to the backlog for J5 already :)

[2019-05-14 14:54] brianteeman commented on #21373
Got it

[2019-05-15 00:12] brianteeman opened #24907 "[4.0] Plugin as services ERROR"
### Steps to reproduce the issue
after Plugin as services (#20547) the home page displays

 An error has occurred.
0 Class 'Joomla\Plugin\Quickicon\Joomlaupdate\Extension\Joomlaupdate' not found

/cc @laoneo

[2019-05-15 05:50] SharkyKZ commented on #24907
If you updated from a previous nightly, delete `libraries/autoload_psr4.php` so it can be regenerated.

[2019-05-15 06:00] infograf768 commented on #24907
Closing as @SharkyKZ reply is correct.

[2019-05-15 06:00] #24907 closed, assigned to nobody

[2019-05-15 07:05] laoneo commented on #24907
Thanks @SharkyKZ for the fast response.

[2019-05-15 07:49] brianteeman commented on #24907
Thank you!!

[2019-05-15 08:13] SharkyKZ commented on #24859
OK, just wanted to make sure. I guess it should be removed from `Joomla\CMS\MVC\View\ListView` too?

[2019-05-15 08:20] brianteeman commented on #24859
There are still some components not yet converted

[2019-05-15 08:50] SharkyKZ commented on #24839
Test PR #23859 please.

[2019-05-15 08:55] franz-wohlkoenig commented on #24839
Closed as having Pull Request #23859

Thanks for hint, @SharkyKZ

[2019-05-15 08:55] #24839 closed, assigned to nobody

[2019-05-15 09:40] ReLater opened #24911 "[4.0] administrator module edit. Dropdown Save&Close fails when module User Status deactivated"
### Steps to reproduce the issue
- Backend
- Go to modules > Administrator modules.
- Deactivate all modules of type "User Status".
- Open module "Title" of Type "Title" (many others have the same problem but type "Custom")
- Click on button `Save & Close` to open dropdown submenu.

### Expected result
- Dropdown opens.
![15-05-_2019_11-29-02](https://user-images.githubusercontent.com/20780646/577

[2019-05-15 11:57] mbabker commented on #24826
@franz-wohlkoenig This isn't a 4.0 issue.  Right now it's "only" a 3.x issue in the sense that a documentation run hasn't been done on the 4.0 branch yet, but there are probably similar doc block deficiencies in 4.0 as well.  Either way, most of the deprecation notices should be fixed on 3.x first.

[2019-05-15 15:02] joeforjoomla opened #24913 "[4.0] Plugin as services side effect - B/C break"
### Steps to reproduce the issue
@laoneo after your PR https://github.com/joomla/joomla-cms/pull/20547
the execution of plugins has changed based on the constructor return value.

Till now if a plugin __construct returned 'false' the plugin execution was completely stopped and all attached event listeners skipped

With the plugin as service dispatching this doesn't happen anymore, a plugin is alwa

[2019-05-15 15:25] joeforjoomla commented on #24913
More specifically it seems that this happens because you move the registerListeners() out of the CMSPlugin __construct to the PluginHelper class

[2019-05-15 17:06] EX34Mush opened #24914 "Install from Web not conncting - new report"
### Steps to reproduce the issue: Open Extensions:Install.  go to default option of Install from Web

### Expected result: Displays a range of extensions

### Actual result:  Hangs for a while then displays : Can't connect to the Joomla! server. Please try again later.

### System information (as much as possible): Joomla 3.9.6

### Additional comments:  Problem exists in both Firefox and MS Edge.

[2019-05-15 17:13] brianteeman commented on #24914
The extensions directory is currently unavailable

[2019-05-15 17:27] Quy commented on #24914
From Joomla's Twitter:

[2019-05-15 19:11] #24914 closed, assigned to nobody

[2019-05-15 19:11] alikon commented on #24914
then i will suppose that this issue is not strictly related to the cms
p.s.
feel free to correct me if 'm wrongly closing it<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24914">issues.joomla.org/tracker/joomla-cms/24914</a>.</sub>

[2019-05-15 20:07] mbabker commented on #24914
For the record with a public blog post I've updated the IFW server to have an offline message until things are back to normal.

[2019-05-15 20:57] fevangelou opened #24917 "B/C fix - Modules (including core) using the "cache" XML parameter always cached, regardless of that parameter's value"
### Steps to reproduce the issue
Many Joomla core modules (e.g. mod_menu, mod_custom etc.) as well as lots of third-party modules still use "cache" as the de-facto XML parameter to allow for a module to be cached along with the rest of Joomla's rendered content (when Joomla caching is set to "on") or excluded from Joomla's cache overall.

The current check in JModuleHelper::moduleCache() is curren

[2019-05-15 21:06] #24917 closed, assigned to nobody

[2019-05-15 21:06] Quy commented on #24917
FYI: It is not necessary to open an issue if you have a PR for it.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24917">issues.joomla.org/tracker/joomla-cms/24917</a>.</sub>

[2019-05-15 21:08] fevangelou commented on #24917
The pull request template mentions a reference to the issue ID at the very top. Perhaps you should explicitly mention there that it's not need to also open an issue. ;)

[2019-05-15 21:18] lambdaheart opened #24918 "[4.0] Introduce a concept of multi select field before it's too late"
### Is your feature request related to a problem? Please describe.
Currently if I want to use custom fields for implementing article gallery or attachments I could use something like `repeatable` field and then construct a subform with `media` field for attaching the image and `text` field for adding caption to that image.

However, this is pain in the a** because user has to add images one by one

[2019-05-15 21:34] fevangelou commented on #24692
@chetanmadaan That's because WP is a post-based CMS, whereas Joomla is an application-based CMS (application = component in Joomla lingo).

WordPress can easily determine that post ID X referenced on the URL will always map to the posts table (and the record with ID X).

Calling an article ID in Joomla through the URL though would yield nothing as you need to define WHICH component to redirect the

[2019-05-16 04:22] hgh-esn opened #24920 "[4.0] Backend: a note-field for plugins"
Hi to all developers of joomla,
I'm trying to build a new feature for Joomla 4x, because I'm missing a note-field for plugins. I'v done it in my J3.9.6 Installation as a core-hack. There I use the isis-template. Doku see -> https://moba-hgh.de/joomla

When setting up this in my Joomla! 4.0.0-alpha9-dev environment, all works, but I get a little bug in the plugins formview. The note-field is insert

[2019-05-16 05:14] franz-wohlkoenig commented on #24918
Please add "[4.0]" at Start of Title as new Features go in J4.

[2019-05-16 05:33] franz-wohlkoenig commented on #24308
@SharkyKZ can you please sens an E-Mail to franz.wohlkoenig@community.joomla.org? I have to ask you and didn't find another Way for it.

[2019-05-16 06:39] laoneo commented on #24913
Don't think so that this existed till now like that, and if then it was wrong as the constructor should not return any value. It just didn't register when the parent constructor is not called.

You mean within a plugin? Just overwrite the registerListeners function as you can do already and should do.

[2019-05-16 08:07] ghazal commented on #24920
Nice idea.
It would be useful since tooltips have been removed from admin.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24920">issues.joomla.org/tracker/joomla-cms/24920</a>.</sub>

[2019-05-16 08:24] brianteeman commented on #24920
Impossible to guess without seeing the cod

[2019-05-16 08:42] infograf768 commented on #24911
Confirmed.
Are missing
[code]

[2019-05-16 08:45] joeforjoomla commented on #24913
Yes, more than the return value of the constructor itself to not register a plugin it was needed to return before the parent constructor is called.

Yes, now the only way is overwrite the registerListeners function.

Could we find something better than overwriting a parent method? It's not so beautiful

[2019-05-16 08:45] infograf768 commented on #24911
Issue can be solved by adding
`HTMLHelper::_('bootstrap.framework');`
in
`/administrator/components/com_modules/tmpl/module/edit.php`

[2019-05-16 08:58] laoneo commented on #24913
You should overwrite the function also the old way. Not calling a parent constructor should be avoided. Because then you have no guarantee that when something got changed in the base class is also working in your extending one.

[2019-05-16 09:08] ReLater commented on #24920
@hgh-esn
By the way: I've read your 3.9-documentation that you've linked to in your first comment. Are you aware that fields `system_data` and `custom_data` are removed from table `#__extensions` in Joomla 4?
See further discussion here: https://github.com/joomla/joomla-cms/issues/19348
The discussion/the issue is still open if the related PRs shall be reverted but...

[2019-05-16 09:13] ReLater commented on #24920
@ghazal

I don't see the connection with this issue. And old hover tooltips for descriptions will be replaced by another solution as far as I know.

[2019-05-16 09:22] ReLater commented on #24911
I'll provide a pr.

[2019-05-16 09:35] franz-wohlkoenig commented on #24911
Closed as having Pull Request #24921

[2019-05-16 09:35] #24911 closed, assigned to nobody

[2019-05-16 10:02] ReLater opened #24922 "[4.0] Reminder due to pr #24921. Remove "HTMLHelper::_('bootstrap.framework');" from modules"
### ToDo
- After pr https://github.com/joomla/joomla-cms/pull/24921 is merged check whick modules need line `HTMLHelper::_('bootstrap.framework');`
- See https://github.com/joomla/joomla-cms/pull/24921#issuecomment-493000484

[2019-05-16 10:07] hgh-esn commented on #24920
@ReLater

... yes I am - and was surprised about that. But in my J4-patch I have created a new field named "note" in #__extensions. So it should be not a problem.

The only problem that I have at the moment is the duplicate display of the note-field in the formview. If this is cleared I will make all necessary steps to get it into the core.  <hr /><sub>This comment was created with the <a href="ht

[2019-05-16 10:11] ghazal commented on #24920
@ReLater
In j3.X, there is some much useful information in those "old hover tooltips". I really hope devs developing j4 extensions will get the drift, ie their removal.
So, I assumed that any additional information, wherever it is, would be welcomed.

[2019-05-16 10:26] EX34Mush commented on #24914
Thanks for letting us know.  It coincided with a totally separate install problem I was having and to begin with I thought it might be related.

Not sure what you mean by ‘offline message’ in this context.  I’m still getting the ‘Can’t connect’ message rather than something to say the Install from Web service is currently down for maintenance.

From: Michael Babker <notifications@github.com>
Sent:

[2019-05-16 10:38] EX34Mush commented on #24914
Message has just appeared, thank you!

From: Michael Babker <notifications@github.com>
Sent: 15 May 2019 21:08
To: joomla/joomla-cms <joomla-cms@noreply.github.com>
Cc: EX34Mush <alan.bannister@btinternet.com>; Author <author@noreply.github.com>
Subject: Re: [joomla/joomla-cms] Install from Web not conncting - new report (#24914)

For the record with a public blog post I've updated the IFW server

[2019-05-16 11:04] hgh-esn commented on #24920
@ReLater, @brian

here come a screenshot from the file that  - for me - produces the messing code.
![j4-com_plugins_tmpl_plugin_edit php](https://user-images.githubusercontent.com/5299726/57848591-8d13bb80-77d9-11e9-8343-e4645b3a7bbe.jpg)

the original file is:   .../administrator/components/com_plugins/tmpl/plugin/edit.php

The green framed area is code, I putted in.

When I comment out the code

[2019-05-16 13:37] saraheagle opened #24923 "[4.0] Smart Search Filter Inverse Search"
### Steps to reproduce the issue
Go to Smart Search >> New Filter >> Edit Filter tab
Currently we can search by type, categories etc and tick on what we want included in the search.

### Expected result
It would be very useful if we could invert the search so we could tick on what was *not* to be included instead.

So we could have a category for all articles called "Not Searchable". And tick that

[2019-05-16 13:55] Quy commented on #24539
Please test PR #24924.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24539">issues.joomla.org/tracker/joomla-cms/24539</a>.</sub>

[2019-05-16 14:37] franz-wohlkoenig commented on #24923
changed Title as new Features goes in J4.

[2019-05-16 18:04] Fedik commented on #24692
it is already possible, no? with editors-xtd/menu button

[2019-05-16 19:36] empty88 opened #24926 "RSS shows wrong category"
### Steps to reproduce the issue
add "?format=feed&type=rss" to an url of a page that contains a category blog that shows all articles in the selected category and its subcategories

### Expected result
tha value of the category tag is the category/subcategory of each article

### Actual result
the value of the category tag is always the selected category of the category blog not of the single fee

[2019-05-16 21:26] yfxwardy opened #24930 "Remove IDs from URLs break manual number urls"
### What needs to be fixed
Article - Integration -Remove IDs from URLs - YES

### Why this should be fixed
If we have articles with manual name alias like this - "025-part-of-the-some-book" we get error 404 on this articles. I have many many such pages.
And I dont want to turn this setting off because I need another new blog without automatic articles id.

### How would you fix it
I think the syst

[2019-05-17 03:48] hgh-esn commented on #24920
This morning I inspected the code around 'joomla.edit.global'
(we find it in: ".../layouts/joomla/edit/global.php") ;)

`<?php
/**
 * @package     Joomla.Site
 * @subpackage  Layout
 *
 * @copyright   Copyright (C) 2005 - 2019 Open Source Matters, Inc. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

defined('JPATH_BASE') or die;

use Joomla\

[2019-05-17 04:37] franz-wohlkoenig commented on #24926
Please update on latest Version 3.9.6.

[2019-05-17 04:44] franz-wohlkoenig commented on #24918
@alikon something to comment as Feature Request?

[2019-05-17 04:46] franz-wohlkoenig commented on #24930
@Hackwar calling but this is for J4

[2019-05-17 05:24] empty88 commented on #24926
I updated now on 3.9.6 but nothing changed

[2019-05-17 05:32] SharkyKZ commented on #24692
@Fedik the question is about displaying links to frontend items in backend.

It's already possible but only for published items. Article preview button already uses this.

[2019-05-17 05:39] franz-wohlkoenig commented on #24926
have you asked on [Forum](https://forum.joomla.org/) (this Repository is for coding)?

[2019-05-17 05:41] SharkyKZ commented on #24926
I can confirm this issue.

[2019-05-17 05:45] franz-wohlkoenig commented on #24926
@SharkyKZ so its a Bug and not intended?

[2019-05-17 05:47] empty88 commented on #24926
@franz-wohlkoenig if this is the wrong place for reporting bugs, I will post to the forum, sorry

[2019-05-17 05:48] SharkyKZ commented on #24926
@franz-wohlkoenig Yes, I think so.

@empty88 this is the right place.

[2019-05-17 05:50] franz-wohlkoenig commented on #24926
@empty88 as its now clear its a bug its the right place :-)

[2019-05-17 05:59] empty88 commented on #24926
Well, now I am very proud of finding a bug and contributing to this excellent project ;-)

[2019-05-17 06:21] SharkyKZ commented on #24926
Test PR #24932 please.

[2019-05-17 06:23] franz-wohlkoenig commented on #24926
Closed as having Pull Request #24932

[2019-05-17 06:23] #24926 closed, assigned to nobody

[2019-05-17 06:36] dmitriy-cloudaccess commented on #24638
Reopening.
Download link on https://developer.joomla.org/nightly-builds.html is https://developer.joomla.org/nightlies/Joomla_4.0.0-alpha9-dev-Development-Full_Package.zip (version is 4.0.0-alpha9-dev)

https://update.joomla.org/core/nightlies/next_major_list.xml points to version 4.0.0-alpha10-dev.
Can't download update.

[2019-05-17 07:18] HLeithner commented on #24638
The reason is that our build server can't deploy the nightly builds at the moment, we come back when we fixed this.

[2019-05-17 08:18] SharkyKZ commented on #23538
Test PR #24933 please.

[2019-05-17 08:19] franz-wohlkoenig commented on #23538
Closed as having Pull Request #24933

[2019-05-17 08:19] #23538 closed, assigned to nobody

[2019-05-17 09:23] ReLater commented on #24920
You don't have to exclude 'version_note' because this field doesn't exist in plugins. No "automatic" output will happen then.

What I would do:
- Leave the note field where it is. Create a pr with the basic changes and wait for comments if somebody doesn't want the field where it automatically is. That's one of the reasons why we are on GitHub. You can change and adjust your pr stepwise.
- or (I t

[2019-05-17 13:52] rbuelund opened #24937 "[4.0] Error in Alpha9"
### Steps to reproduce the issue
Live upgrade to Alpha 10 and repair databse.

### Expected result
A functioning dashboard

### Actual result

Error: Class 'Joomla\Plugin\Quickicon\Joomlaupdate\Extension\Joomlaupdate' not found

### System information (as much as possible)
PHP 7.3

### Additional comments

[2019-05-17 13:55] rbuelund commented on #24937
Sorry - Alpha 9<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24937">issues.joomla.org/tracker/joomla-cms/24937</a>.</sub>

[2019-05-17 13:59] mbabker commented on #24638
Fixed.  An update was needed on the build server after rotating SSL certificates.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24638">issues.joomla.org/tracker/joomla-cms/24638</a>.</sub>

[2019-05-17 14:45] thednp opened #24938 "[range] form field sets to min when default value is 0 (zero)"
### Steps to reproduce the issue
Anywhere in your template/module options make a new field

[code]
![range-field-issue-code](https://user-images.githubusercontent.com/6761246/57935552-bd875280-78ca-11e9-81eb-515abaa7b6fe.png)

Check module/template admin form

### Expected result
Expecting the form play nice with 0 (zero) values and default values.

### Actual result
![range-issue-front-end](https

[2019-05-17 15:44] SharkyKZ commented on #24937
Duplicate #24907. Delete `libraries/autoload_psr4.php` file.

[2019-05-17 15:49] #24937 closed, assigned to nobody

[2019-05-17 16:23] SharkyKZ commented on #24938
Test PR #24939 please.

[2019-05-17 17:47] #24938 closed, assigned to nobody

[2019-05-18 02:14] Quy commented on #21831
https://docs.joomla.org/Make-your-own-action-log-plugin

Please close if it provides the information you need.

[2019-05-18 04:48] Quy commented on #22880
Please test PR #24832

[2019-05-18 05:32] franz-wohlkoenig commented on #22880
Closed as having Pull Request #24832

[2019-05-18 05:32] #22880 closed, assigned to nobody

[2019-05-18 08:04] roland-d opened #24940 "[4.0] Duplicate field labels"
### Steps to reproduce the issue
1. Go to Users list
2. Edit a user
3. Notice that the options at the bottom have a duplicate field label
<img width="605" alt="image" src="https://user-images.githubusercontent.com/359377/57966570-1f3fcf00-7954-11e9-9bc5-6fc1b1438eba.png">

### Expected result
The field will have only 1 label

### Actual result
The field has a duplicate label

### System informatio

[2019-05-18 08:32] roland-d commented on #24940
Perhaps related #24802

[2019-05-18 10:20] richard67 commented on #24940
Same with the switcher in the "User Actions Log Options" tab.

All controls have a control label div. Switcher fieldset in addition has legend:
![Unbenannt](https://user-images.githubusercontent.com/7413183/57968135-e6f5bc00-7966-11e9-9f32-c0890534b971.png)

Not sure what the right solution is: To make the legend invisible (display: none) or not to output the control label div for a switcher field

[2019-05-18 10:47] richard67 commented on #24748
@brianteeman As you closed PR #24441 in favour of PR #24892 which got merged, can this also be applied for the issue here? As far as I see it is something else. Anyway, the information in the tool tips of the installer database view are relevant in my opinion. So if there is a way to make them accessible or replace the popovers by some div like you did in other places, it should be done. If you ha

[2019-05-18 11:12] alikon commented on #24862
@roland-d can you consider this on in #24936

[2019-05-18 11:23] brianteeman commented on #24748
@richard67 use the technique in #24899 as an example.

[2019-05-18 11:26] brianteeman commented on #24940
No display: none is not the solution. It was working perfectly - not sure what has been changed but i will take a look

[2019-05-18 11:29] richard67 commented on #24748
@brianteeman Not sure if I understand #24899 . How can I test that?

[2019-05-18 11:34] brianteeman commented on #24748
apply the pr. open an article for editing. use the browser back button to go back to the list view and checkout the change on the padlock icon

[2019-05-18 12:02] brianteeman commented on #24940
Fixed - see #24942

[2019-05-18 12:12] franz-wohlkoenig commented on #24940
Closed as having Pull Request #24942

[2019-05-18 12:12] #24940 closed, assigned to nobody

[2019-05-18 12:19] richard67 commented on #22930
I started to work on it a bit but then focused on other stuff. I will close this issue and if necessary open a new one when I continue on that subject.

[2019-05-18 12:19] #22930 closed, assigned to nobody

[2019-05-18 12:49] richard67 commented on #24922
[code]

[2019-05-18 12:52] roland-d commented on #24862
@alikon I checked but this is a big change, it is worth to have it's own PR as it needs changing quite a few functions and language files.

[2019-05-18 12:58] richard67 commented on #17076
@Paladin @Schmidie64 Is this still an issue with Joomla! 3.9.6?

[2019-05-18 12:59] uglyeoin commented on #23261
Anyone can make a pull request, including yourself.  Not all pull requests are accepted.  So you should discuss it first to make sure it is worth your time creating a pull request.  It may be that after looking at it the use case is not for the majority, which would be a reason it may not be accepted.

I definitely see the use myself, but that doesn't mean everyone would use it.  I'd like to see a

[2019-05-18 13:02] richard67 commented on #22266
@n3t Is this still an issue with latest 4.0-dev branch or latest 4.0 Alpha 9? I ask because there have been made many changes since you opened this issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22266">issues.joomla.org/tracker/joomla-cms/22266</a>.</sub>

[2019-05-18 13:11] #24235 closed, assigned to nobody

[2019-05-18 14:31] ReLater commented on #24922
Finding is not the ""problem"" but to decide if Bootstrap is loaded also for functionalities of the HTML output of the modules.
I don't have the time at the moment to investigate that.

[2019-05-18 14:36] richard67 commented on #24922
So it would need to compare the HTML output produced by the modules listed in my first listing with the content of the same modules when the `HTMLHelper::_('bootstrap.framework');` has been removed, and if output is the same, then the line is obsolete, right? Or does it need more to be investigated?

[2019-05-18 14:59] ReLater commented on #24922
Yes. Even if I've learned Joomla 4 core doesn't need JQuery/Bootstrap-JS and everything in core will be replaced somehow by Vanilla scripts it looks like that this isn't the fact yet. Thus I'm in doubt.

[2019-05-18 15:03] richard67 commented on #24922
I will see if I can find time. But if you find time before me or others, let us known here so we don't do double work.

[2019-05-18 15:42] uglyeoin opened #24943 "Upload image closes when I press enter"
### Steps to reproduce the issue
Go to upload an image from an article, I used the image button to produce the popup click on "upload" click "browse" select an image and hit enter.

### Expected result
The image will be available and I can press the upload button to upload the image

### Actual result
The window closes.

I can go through the same process and click the "open" button with my mouse a

[2019-05-18 15:48] franz-wohlkoenig commented on #24943
can you please post the System Information in the post so People haven't to download them.

[2019-05-18 16:13] uglyeoin opened #24945 "Batch moving menu items to a new menu only works if you click a menu item"
### Steps to reproduce the issue
Create two menus both with items and child items.
Try to move a menu from the secondary menu to the primary menu "menu item root"

### Expected result
Menus move

### Actual result
Menus get added to the current menu or sometimes just disappear.

If you try to move them to an **item** in the primary menu they move successfully.

At that point you can click on the i

[2019-05-18 16:19] Brettheim opened #24946 "Wrong ACL behaviour with ‘modify state’ action in interaction of articles and categories"
ACL !!! FRONTEND !!!

For a given usergroup of article writers: Don’t grant any action rights on articles for this usergroup in System>Config>Articles. Then have a category and grant all action rights to the usergroup there. The writers will then be able, to create and edit articles, that are stored in that category (or a subcategory).
This worked fine in the past. And it works fine currently: BUT

[2019-05-18 16:42] uglyeoin commented on #24943
I have done so but it's made it a very long post.  Is that what you meant?

[2019-05-18 16:44] uglyeoin commented on #24943
I'm sure that can be the only sensible solution I have changed.

[2019-05-18 17:08] uglyeoin opened #24948 "Ajax doesn't work for child menus if you change the menu"
### Steps to reproduce the issue
Create a menu item, it doesn't matter which one.
Go to menus, look at the option for "parent item".
If you have parents within the menu they are available or else it says "menu item root".

Change the "menu".
now to go "parent item".  It only offers you "menu item root".

Click on save.  Now click on "parent item", you see all of the parent items are available.

##

[2019-05-18 23:49] simcoblog opened #24950 "403 Forbidden Error Getting Worse and Spreading"
I started getting the 403 Forbidden Error about two years ago when I tried to close a few of the content pages/files I created for the two sites I built using Joomla back in 2012.  I've Googled and seen people talk about a possible conflict between Joomla and ModSecurity.

My Web hosting company does not allow individual customers to tinker with ModSecurity settings, but they will do it for you if

[2019-05-19 01:32] #24950 closed, assigned to nobody

[2019-05-19 01:32] Quy commented on #24950
Please ask help in Joomla Forum. https://forum.joomla.org/<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24950">issues.joomla.org/tracker/joomla-cms/24950</a>.</sub>

[2019-05-19 04:49] franz-wohlkoenig commented on #24943
thanks @uglyeoin for Info so Dev. can read easy technical Informations.

[2019-05-19 04:51] franz-wohlkoenig commented on #24945
@uglyeoin can you please write System Informations in Comment soe People haven't to download them?

[2019-05-19 09:09] C-Lodder opened #24951 "[4.0] Cache call() method supposed to be deprecated?"
### Steps to reproduce the issue

The `call()` method inside the Cache Callback Contrroller is marked as deprecated:
https://github.com/joomla/joomla-cms/blob/staging/libraries/src/Cache/Controller/CallbackController.php#L37

However appear to have been removed in Joomla 4

Therefore using `Factory::getCache()->call([xxx, xxx]);`

will throw an error

[2019-05-19 09:09] MartijnMaandag opened #24952 "[4.0] override check in language files"
### Steps to reproduce the issue
I do understand after the Dutch JoomlaDagen that there is a check on template overrides in Joomla 4 if the original item is changed.
It would be nice to have a check on language overrides also.

### Expected result
Warning if the original language string is removed or changed.

### Additional comments
When I do use a override to correct a (for me) wrong tramslation

[2019-05-19 09:49] brianteeman commented on #24952
Hi. I was talking about this with @roland-d about this on Saturday night. Could you please explain all the type of checks you would like to see and the benefit of each.

[2019-05-19 11:26] SharkyKZ commented on #24951
Yes, it's marked to be removed in 4.0 and was removed in 4.0.

See https://github.com/joomla/joomla-cms/issues/24703.

[2019-05-19 11:34] #24951 closed, assigned to nobody

[2019-05-19 12:59] hgh-esn opened #24953 "[4.0] alpha-10-dev - Class 'JEventDispatcher' not found"
After updateing my J4-alpha-9-dev to -10-def I get the following error: "An error has occurred.
0 Class 'JEventDispatcher' not found"

### Steps to reproduce the issue

1. Open system>manage>plugins (or any of the moduls)
2. Select any of the listed plugins an go into it.
3. Do a "save" || "save2exit" || "close"
4  The error-message  occurred.

### Expected result

Return without error-message to

[2019-05-19 13:03] roland-d commented on #24953
Hello, thank you for your report. This has been fixed with this commit:
https://github.com/joomla/joomla-cms/commit/615242353f9d9e7e008120979115dd00784f9f0d

You can either apply the fix manually or download the nightly build tomorrow from https://developer.joomla.org/nightly-builds.html

Since this has been only merged 7 hours ago, it is not in the nightly build from last night.

[2019-05-19 13:03] #24953 closed, assigned to nobody

[2019-05-19 13:12] hgh-esn commented on #24953
OK, thanks,

I'll wait until tomorrow, doing an update.

[2019-05-19 15:19] SharkyKZ commented on #23396
Can't reproduce this on core.

Looks like `com_gsimporter` passes only 2 arguments but it should be at least 3 in 3.x. See documentation https://docs.joomla.org/Plugin/Events/Content#onContentAfterSave.

[2019-05-19 16:02] franz-wohlkoenig commented on #23396
closed as stated above.

[2019-05-19 16:02] #23396 closed, assigned to nobody

[2019-05-19 17:45] C-Lodder commented on #24951
Does the deprecated notice not mean it _will_ be deprecated in 4.0?

[2019-05-19 23:27] lairdf opened #24955 "Smart Search not finding content with "21""
### Steps to reproduce the issue
- Create an article with a title of "Century 21"
- Create a menu item for smart search
- Search for "century 21"

### Expected result
- Expect to find the content matching "century 21"

### Actual result
- Article is not found.

### System information (as much as possible)
Joomla! 3.9.4 (and tested also on Joomla! 3.9.5 and Joomla! 3.9.6)

### Additional comments
C

[2019-05-20 00:13] mbabker commented on #24951
The generally accepted practice for a `@deprecated` annotation is the version will be the first version the element may be removed in.  So something `@deprecated 4.0` means it may be removed in 4.0.  It doesn't mean "as of 4.0 this element is deprecated and will be removed at the next major version".

[2019-05-20 05:36] franz-wohlkoenig commented on #24946
@HLeithner can you please comment as Release Lead?

[2019-05-20 06:18] SharkyKZ commented on #23377
I can't reproduce this on core. But `count()` calls can be removed anyways if their result is not used.

[2019-05-20 06:34] C-Lodder commented on #24951
Ah fair enough. Thanks for clarifying

[2019-05-20 06:43] franz-wohlkoenig commented on #23377
closed for Reason stated above.

[2019-05-20 06:43] #23377 closed, assigned to nobody

[2019-05-20 07:21] brianteeman commented on #24943
I couldnt replicate this.

Which browser are you using?

[2019-05-20 07:24] brianteeman commented on #24782
I can confirm this - good spot

[2019-05-20 07:26] brianteeman commented on #24497
There are quite a few open pr that will resolve most of this (if not all)

[2019-05-20 07:33] brianteeman commented on #24109
This should be closed. The original issue has been resolved as have lots of other similar "return to origin" issues. If there are any new links that need to "return to origin" then they should be in their own new issue/pr

[2019-05-20 07:33] franz-wohlkoenig commented on #24109
closed as stated above.

[2019-05-20 07:33] #24109 closed, assigned to nobody

[2019-05-20 08:44] uglyeoin commented on #24943
Chrome

On 20 May 2019 08:21, Brian Teeman <notifications@github.com> wrote:

I couldnt replicate this.

I suppose it's possible this is a browser issue, but even so it's one we should try to overcome.

Which browser are you using?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/joomla/joomla-cms/issues/24943?email_source=not

[2019-05-20 08:55] brianteeman commented on #24943
I was testing using Chrome Version 74.0.3729.157 (Official Build) (64-bit) for windows

[2019-05-20 09:30] MartijnMaandag commented on #24952
What I am thinking about is a list with all the overrides (constants) with the value of the override and the current value of the variable (original text).
It is more or less the same as the view as it is now, without the filter and showing also the text from the original developer (Joomla or Extension builder).
It must give the option to delete the override (if I notice it is the same as original

[2019-05-20 09:31] okonomiyaki3000 opened #24959 "Media manager no longer works when files folder is symlink"
### Steps to reproduce the issue
Move your files folder outside of your joomla root and put a symlink to it in its place. A totally normal thing you might want to do.

### Expected result
Since this is a totally normal thing and it has always worked until now, you'd expect it to work exactly the same as if your actual files folder was there. In other words, no different from a completely standard

[2019-05-20 09:33] uglyeoin commented on #24943
Weird. Let me try again and make a video to ensure we're both doing the same thing

On 20 May 2019 09:55, Brian Teeman <notifications@github.com> wrote:

I was testing using Chrome Version 74.0.3729.157 (Official Build) (64-bit) for windows

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/joomla/joomla-cms/issues/24943?email_s

[2019-05-20 09:35] SniperSister commented on #24959
Duplicate of https://github.com/joomla/joomla-cms/issues/24539, closing

[2019-05-20 09:35] #24959 closed, assigned to nobody

[2019-05-20 09:44] okonomiyaki3000 commented on #24539
This is kind of a nonsensical statement. Symlinks are a really normal and common thing. You don't need to explicitly state that you support them, you need to explicitly state that you do not support them if that's the case.

[2019-05-20 11:04] HLeithner commented on #24539
@okonomiyaki3000 if you are interested to help please test https://github.com/joomla/joomla-cms/pull/24924

[2019-05-20 11:08] HLeithner commented on #24946
@brettheim did it worked in J3.9.5?

[2019-05-20 12:10] mbabker commented on #24952
Not really the most practical thing to pull off.  For templates, it's a relatively easier check to make (you can check modification timestamps, file checksums, assume source file paths based on the override file path, etc.), but because of the way Joomla "lazy" loads each language file you couldn't sanely do a post-update check of every constant in your override INI to check for changes (two immed

[2019-05-20 12:20] brianteeman commented on #23063
Is this still reproducible. I followed the instructions (except for changing alpha4 to alpha14) but I didnt get anything like your results

[2019-05-20 12:23] hgh-esn commented on #24920
Hi to all,

at the moment, I'm gathering all informations together to make a branch later.
But I have some questions.

The feature needs a new field named "note" in the db-table "#__extensions".
In my test-environment I used phpMyAdmin to create the field via an ALTER table command.

In Joomla, this field must be created on installation. Therefore I have identified a file "joomla.sql" in the folde

[2019-05-20 12:29] brianteeman commented on #24930
I have tested this but I cannot replicate the problem am I missing something?

1. My options
![image](https://user-images.githubusercontent.com/1296369/58021545-193c2080-7b03-11e9-811a-a3a83e52fbf0.png)

2. My url
![image](https://user-images.githubusercontent.com/1296369/58021567-26590f80-7b03-11e9-85f3-9f4ed75071bc.png)

3. Front end
![image](https://user-images.githubusercontent.com/1296369/580

[2019-05-20 13:17] ReLater commented on #24920
One is for mysql databases the other one for postgresql databases. Both can be used in Joomla.

Yes.

administrator/components/com_admin/sql/updates/

"Automatically". Your pr gets a "Language Change" label. You don't have to do more. Just en-GB.*.ini

[2019-05-20 13:31] brianteeman commented on #23966
The problem is that this field (and others) is not using a layout - instead all the markup is being generated (badly) in the library` libraries\src\Form\Field\NoteField.php`

@wilsonge has already pointed out that all fields need to use a layout and that will resolve everything for this note field as well.

I will try to work on this next week but if anyone else wants to do it then just go for it

[2019-05-20 14:30] Webdongle opened #24962 "Readmore redirect incorrect"
### Steps to reproduce the issue
Create an Article with readmore
Set Access registered

Create Category blog for category the Article is in
Set the blog to Show Unauthorised
Visit the front end not logged in
Click the readmore link

### Expected result
You are redirected to the login page

### Actual result
You reach a page that tells you that you are unauthorised

### System information (as much

[2019-05-20 14:37] franz-wohlkoenig commented on #24962
please "System information (as much as possible)"

[2019-05-20 14:41] Webdongle commented on #24962
On all systems afaik.  But we will know that if others test on their systems.
Here is the sys info where I tested it

PHP Built On | Linux info 3.0 #1337 SMP Tue Jan 01 00:00:00 CEST 2000 all GNU/Linux
-- | --
Database Type | mysql
Database Version | 5.5.60-0+deb7u1-log
Database Collation | latin1_general_ci
Database Connection Collation | utf8mb4_general_ci
PHP Version | 7.3.5
Web Server | Apache

[2019-05-20 14:56] Brettheim commented on #24946
This behavior has crept into one of the past releases. In 3.9.5 it was already there, as an update to 3.9.6 didnt fix it. As I've done several updates recently, I can not say exactly with which version the problem came up.

[2019-05-20 15:06] mbabker commented on #24962
For reference, that issue was closed without a commit.  https://github.com/joomla/joomla-cms/pull/1215 and https://github.com/joomla/joomla-cms/pull/1216 were the pull requests with relevant updates for that issue.  It was also noted that particular fix was only needed for 2.5 and that 3.1 at the time wasn't impacted by that issue.  And for completeness, neither of those changes would actually app

[2019-05-20 15:38] Webdongle commented on #24962
OK so the bug wasnt fixed in 2.5 but was not present in 3.1.  But is now present in 3.6.9. although the code is different.
Who else has tested to confirm it ?
Will it be fixed ?

[2019-05-20 15:45] mbabker commented on #24962
No idea what the state of that code/feature is.  Just wanted to clarify the status of the issue you linked so nobody spent time trying to do a `git blame` to figure out what changed after that issue.

I don't think whatever issue you're seeing is actually related to that old JoomlaCode issue at all.  The fix for that issue applied only to the 2.5 code base and the same suggested fix is not applica

[2019-05-20 16:15] pmleconte commented on #24955
Hi,

Could not reproduce this issue.

Did you try to clear index then index again ?

If you check in smart search component, do you see your article with its title ?

[2019-05-20 16:21] uglyeoin opened #24964 "Turning on debug then trying to upload an image to an article says JSON error"
### Steps to reproduce the issue
Turn on Debug in Global Configuration.
Click on an article.
Try to upload an image.

### Expected result
See files and folders of images you can use in your article.

### Actual result
"The server returned an invalid JSON response."

### System information (as much as possible)
=============
System Information
=============
php: Linux squareballoon.gds.guru.net.uk

[2019-05-20 16:22] uglyeoin commented on #24945
Thanks @franz-wohlkoenig done and will continue to do so moving forwards.  Good tip thanks.

[2019-05-20 16:32] uglyeoin commented on #24943
Sorry it was Firefox, I noticed in my system information that it mentioned the browser.  Here is a video of me using my mouse most of the way and then hitting enter.

https://ibb.co/pZzfsC7

[2019-05-20 17:16] lairdf commented on #24955
I have re-indexed a few times.  For me, it's not only reproducible, but it happens every time.  In my example, the article IS found if I search for "century", so I'm sure the article is indexed in the search index.  But searching for "century 21" fails.  I can even create a new article with a 21 ("foo 21") at the end of the title, and CAN find it with "foo", but not when searching for "foo 21".

[2019-05-20 17:23] Robespeler commented on #24930
@brianteeman,
I don't know why exactly you cant replicate this problem.
Maybe it is  Global Configuration - Use URL Rewriting (But I tested - it isn't)
Maybe some old article or category layout override? Don't know.

My joomla version: 3.9.6
PHP Version | 7.2.15
Web Server | Apache/2.4.7
I have several nesting levels in menu and in categories
![2019-05-20 20_14_34-Menus_ Items](https://user-images

[2019-05-20 17:29] brianteeman commented on #24930
The first post said joomla 4 - that's what I used

[2019-05-20 17:36] Robespeler commented on #24930
@brianteeman
This was transffered not by me.
Will you help me or We should wait Joomla 4 to work with?

[2019-05-20 17:48] lairdf commented on #24955
So, please put a hold on this.  I think the issue may in fact be on my side.   The same search behaviour (not finding a 21) does NOT occur on my Dev or Testing environments, only my live/production site.

I'm going to close this issue, to not waste your time.

[2019-05-20 17:48] #24955 closed, assigned to nobody

[2019-05-20 17:51] franz-wohlkoenig commented on #24930
@Robespeler there was no Information about which Version you wrote so i guessed J4.

[2019-05-20 17:55] Quy commented on #24964
Unable to replicate the error. Tested on cloudaccess.host with j3.9.6.

[2019-05-20 17:56] Robespeler commented on #24930
@franz-wohlkoenig
Sorry If it was my mistake
I thought that you transffered it to explain this problem will be solved in joomla 4

[2019-05-20 18:06] brianteeman commented on #24943
Your video shows that you are not using the JCE editor for images. Please close this here and report it to JCE - it is nothing to do with the core of Joomla

[2019-05-20 18:06] Webdongle commented on #24962
Woods ... Trees
My point of adding that link was not for the code it contained but to ratify that the issue was (at one time) considered a bug.  Thus the fact that clicking the readmore link (when the user is not permitted to see the Article) needs to redirect to login/register.

Can someone please follow the test instructions and con firm (or deny) the bug exists.  Then perhaps someone might fix

[2019-05-20 18:07] brianteeman commented on #24964
I assume from your other post that this is also using JCE and is nothing to do with core Joomla

[2019-05-20 18:11] #24964 closed, assigned to nobody

[2019-05-20 18:11] alikon commented on #24964
not from core<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24964">issues.joomla.org/tracker/joomla-cms/24964</a>.</sub>

[2019-05-20 18:12] #24943 closed, assigned to nobody

[2019-05-20 18:12] alikon commented on #24943
not from core<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24943">issues.joomla.org/tracker/joomla-cms/24943</a>.</sub>

[2019-05-20 18:15] brianteeman commented on #24962
I use the readmore feature on a very popular site exactly in the way that you describe and it works perfectly. Just to be 100% certain I also tested with protostar as well as the custom site template

[2019-05-20 18:19] mbabker commented on #24962
`*sigh*`

It was not my intent to say it's working as expected or confirm a bug or tell someone to close the issue or anything like that.  When I see someone file an issue with a reference to another past issue, generally that signals to me that either there is a regression from the past issue or an incomplete fix.  And after spending 10 minutes reading that issue and the references I could find,

[2019-05-20 18:20] franz-wohlkoenig commented on #24930
if its a new Feature it goes in J4, Bugs needs to be solved in J3.

[2019-05-20 18:21] Webdongle commented on #24962
@mbabker  thanks for that

@brianteeman thanks for the feedback am checking now to see why I get different results.

[2019-05-20 18:22] brianteeman commented on #24930
@franz-wohlkoenig it is a bug report

@Robespeler I have also tested it on one of my sites and an article with an alias of `27-september-2017` loaded as expected

[2019-05-20 18:26] brianteeman commented on #18659
Please can this be closed. It defeats the objective of having the messages in the first place as we want people to read the entire message - not just the snippet shown in the dropdown

[2019-05-20 18:28] #18659 closed, assigned to nobody

[2019-05-20 18:32] Webdongle commented on #24962
With Articles >>> options >>> Show Unauthorised Links no and blog menu item Show Unauthorised Links yes.  I get the unauthorised when clicking the readmore

With Articles >>> options >>> Show Unauthorised Links yes and blog menu item Show Unauthorised Links use global.  I get the page with the intro text and readmore.  Clicking that readmore link just refreshes the page showing the intro text.

Sa

[2019-05-20 18:33] brianteeman commented on #14596
@wilsonge This is waiting on a decision by you for almost exactly one year

[2019-05-20 18:38] brianteeman commented on #24962
The settings on my site that works perfectly and I believe are the same as your failing test are

### Article Options
![image](https://user-images.githubusercontent.com/1296369/58044028-ab115100-7b36-11e9-9975-504ab2d57959.png)

### Menu
![image](https://user-images.githubusercontent.com/1296369/58043977-8e751900-7b36-11e9-84ee-718805cb0c5e.png)

[2019-05-20 18:54] brianteeman commented on #14353
This should be closed. New features are not going in to J3 any more

[2019-05-20 18:57] brianteeman commented on #14019
@franz-wohlkoenig please retag j4

[2019-05-20 18:57] #14353 closed

[2019-05-20 18:59] brianteeman commented on #13601
This is resolved for J4

[2019-05-20 19:00] brianteeman commented on #13403
Please retag this for J4

[2019-05-20 19:04] brianteeman commented on #24948
Can't replicate this
![newmenu](https://user-images.githubusercontent.com/1296369/58045452-72737680-7b3a-11e9-9d0b-1ed9c6557db1.gif)

[2019-05-20 19:08] brianteeman commented on #24945
You are mistaken - "menu item root" is not a different menu it is the top level of the current menu. So if you do what you did then you get the expected result

[2019-05-20 19:30] Robespeler commented on #24930
I tested with more attention and ...
It is some another problem.
If Remove IDs from URLs - Yes
I have error 404 with any normal alias too. Number in alias doesn't matter.
Now I just don't know why I have 404 error with this setting on.

[2019-05-20 19:32] brianteeman commented on #24930
I suggest that you ask for support on the forum

[2019-05-20 19:37] #24930 closed, assigned to nobody

[2019-05-20 20:04] #24920 closed, assigned to nobody

[2019-05-20 20:04] Quy commented on #24920
See PR #24966<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24920">issues.joomla.org/tracker/joomla-cms/24920</a>.</sub>

[2019-05-20 20:13] Quy commented on #17189
OK to close?

[2019-05-20 20:34] Webdongle commented on #24962
Yes that works. At least the readmore leads to the page showing the intro text.  But that page has a readmore not 'login to readmore' link.  But the following doesn't
Article options
![unauthorised 01](https://user-images.githubusercontent.com/1115202/58049438-c5522b80-7b44-11e9-8cac-ed67fad1c23d.JPG)
Article Registered
![unauthorised 03](https://user-images.githubusercontent.com/1115202/58049730-

[2019-05-20 20:40] Quy commented on #24298
Related PR #22068 for J4.

[2019-05-20 21:03] brianteeman commented on #24962
Don't know what to say. It works perfectly for me

[2019-05-20 21:36] Webdongle commented on #24962
Because you have global Yes.  When Global is No ... then Article setting 'Use global (No)' overrides the menu setting.  Set Articles >>> Options (not Articles >>> your Articles name ... options) to No for show authorised.  Then the blog menu item setting 'Yes' is not honoured ... it is overwritten by the Article  'Use global (No)'.  The article setting should not override the blog menu item settin

[2019-05-20 21:59] uglyeoin commented on #24948
Me either, I've tried on a few sites in different browsers.  Not sure what occurred there, must have been a dodgy loading problem.  If I encounter it a little more consistently I'll try to work out why.

[2019-05-20 21:59] #24948 closed, assigned to nobody

[2019-05-20 22:06] brianteeman commented on #24962
I can not confirm that either

![image](https://user-images.githubusercontent.com/1296369/58054819-b757d700-7b53-11e9-899a-d94c52852ac9.png)

![image](https://user-images.githubusercontent.com/1296369/58054837-c8a0e380-7b53-11e9-8adf-218e61002ed0.png)

![image](https://user-images.githubusercontent.com/1296369/58054865-e2422b00-7b53-11e9-866b-4564fb4ceaa9.png)

![image](https://user-images.githubu

[2019-05-20 23:47] humeraabid commented on #19692
I enabled URL Rewriting and it started to work

[2019-05-21 00:41] okonomiyaki3000 commented on #24539
@HLeithner will do

[2019-05-21 01:30] okonomiyaki3000 commented on #24539
The patch looks good. I understand it that only solves the issue that the root media folder is a symlink and not the issue that some nested folder may also be one. That issue is not something I'm personally concerned about but, if it's important enough to require a solution, how about adding a whitelist of paths to the com_media options. No need for some complex logic to determine the safety of pa

[2019-05-21 02:08] wnkkm commented on #24539
Maintaining a white list of media paths seems to be a good solution for now.
(My Joomla installation has a symlink subfolder under 'images' folder of Joomla installation. So the current patch cannot work for my case.)

Thanks.

[2019-05-21 03:39] franz-wohlkoenig commented on #13601
@brianteeman Does this mean to close the Issue?

[2019-05-21 03:40] franz-wohlkoenig commented on #17189
closing - issue can always reopened if needed.

[2019-05-21 03:40] #17189 closed, assigned to nobody

[2019-05-21 03:42] franz-wohlkoenig commented on #24298
@Quy does this mean something for this Issue?

[2019-05-21 03:44] franz-wohlkoenig commented on #24962
@Webdongle can you please ask further on [Forum](https://forum.joomla.org/), clsoing for this Reason.

[2019-05-21 03:44] #24962 closed, assigned to nobody

[2019-05-21 05:08] HLeithner commented on #24539
I think we will take this solution for j3 if we don't find a better solution, j4 has a new mediamanger with self defined basefolders incl. External storage providers.

[2019-05-21 05:18] #24539 closed, assigned to HLeithner

[2019-05-21 05:18] franz-wohlkoenig commented on #24539
sorry, misreaded.

[2019-05-21 06:51] alikon commented on #24918
@franz-wohlkoenig  imoa feature request that can be covered  already with extensions

[2019-05-21 07:21] franz-wohlkoenig commented on #24918
closed for Reason stated above.

Thanks @alikon

[2019-05-21 07:39] brianteeman commented on #21545
Is this still an "under discussion" item?

[2019-05-21 07:45] brianteeman commented on #19723
This should be closed for the reasons stated above by @mbabker

[2019-05-21 08:00] #19723 closed, assigned to nobody

[2019-05-21 08:21] HLeithner commented on #21545
Yes it is and in testing hannes is already doing some work.

[2019-05-21 08:36] brianteeman commented on #21545
Sorry I obviously wasn't clear - Is this still under discussion **and needs to remain open**

[2019-05-21 08:42] okonomiyaki3000 opened #24969 "Repeatable Subforms IE Bug"
### Steps to reproduce the issue
Open any form containing a repeatable subform with IE.

### Expected result
Repeatable subform can add or remove rows on demand. Doesn't do so automatically.

### Actual result
A row will always be added automatically because IE does not support the `<template>` tag and those contents will be treated like regular html.

### System information (as much as possible)

[2019-05-21 08:44] franz-wohlkoenig commented on #24969
J3?

[2019-05-21 08:45] okonomiyaki3000 commented on #24969
Yes. 3.9

[2019-05-21 08:46] okonomiyaki3000 commented on #24969
It seems it happened here: f2a9874944c9776b2c6a9ccf4df2ae7b7ccb4875

[2019-05-21 08:49] SharkyKZ commented on #24969
There's this PR #24947 but it has conflicts since #24919 was merged.

[2019-05-21 08:51] #24969 closed, assigned to nobody

[2019-05-21 08:51] alikon commented on #24969
as we have a pr #24947 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24969">issues.joomla.org/tracker/joomla-cms/24969</a>.</sub>

[2019-05-21 08:55] HLeithner commented on #21545
Yeah I don't think so by lack of interest

[2019-05-21 08:55] #21545 closed, assigned to nobody

[2019-05-21 10:09] #23618 closed, assigned to nobody

[2019-05-21 10:09] alikon commented on #23618
closing as it is a new feature on protostar and new feature must go on 4.x and 4.x don't have protostar<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23618">issues.joomla.org/tracker/joomla-cms/23618</a>.</sub>

[2019-05-21 13:10] #23134 closed, assigned to nobody

[2019-05-21 15:17] Quy commented on #22854
Isn't this a hosting issue than a core issue?

[2019-05-21 15:29] alikon commented on #22854
hosting issue for me

[2019-05-21 15:29] brianteeman commented on #22854
The only thing we could do is to prevent someone putting in a link to their own site.

[2019-05-21 15:32] Quy commented on #22854
You should be able to post your own site. I tested locally without issues.

[2019-05-21 15:38] #22854 closed, assigned to nobody

[2019-05-21 15:38] alikon commented on #22854
not a core issue<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22854">issues.joomla.org/tracker/joomla-cms/22854</a>.</sub>

[2019-05-21 15:58] #23146 closed, assigned to nobody

[2019-05-21 15:58] alikon commented on #23146
closed as we already have a search inside the content to the article manager and also there are extensions for this task<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23146">issues.joomla.org/tracker/joomla-cms/23146</a>.</sub>

[2019-05-21 16:25] brianteeman commented on #24952
I spent quite a bit of thinking time today on this and like @mbabker I can't think of a sensible way to achieve this

[2019-05-21 16:28] brianteeman opened #24972 "[4.0] Workflows affecting publish date"
While testing #24968 I saw that a publish_up date doesn't always get created.

The behaviour now in Joomla 4 is that if you create a new article it has a default status of unpublished and it is created with a null date for publish_up

If you go back to edit the article and change the status to publish and then save and you get a publish_up of now()

BUT If you change the status from the list view

[2019-05-21 16:35] brianteeman opened #24973 "[4.0] Workflows change status messge"
If you change the status if an article from the action "Change Status" dropdown then you will get a message such as
![image](https://user-images.githubusercontent.com/1296369/58113907-84165600-7bee-11e9-83e4-b7d6085ed055.png)

BUT if you change a status by clicking on the icon and selecting a new status for the item you will get a different "generic" message

![image](https://user-images.githubuse

[2019-05-21 16:48] #23544 closed, assigned to nobody

[2019-05-21 16:48] alikon commented on #23544
closing as it imo is a new feature and not an issue
new features should go in the 4.x
@aasimali please submit  a pr on that branch<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23544">issues.joomla.org/tracker/joomla-cms/23544</a>.</sub>

[2019-05-21 16:55] richard67 commented on #24952
I also thought about it and agree with @mbabker and @brianteeman for reasons which @mbabker explained above.

[2019-05-21 17:19] chetanmadaan commented on #24692
Thanks for the explanation. All am I really looking for is a link for the _dumb end user_ to access the URL of the current article. I do understand the different between WP & Joomla

[2019-05-21 17:20] chetanmadaan commented on #24692
I just tried the preview and it opens the article in the iframe but doesn't really shows the user what the URL is, which is what the original request was.

[2019-05-21 17:23] chetanmadaan commented on #24692
Yes but again that inserts the link inside the content. What we are looking for is a direct link for the current article starting user in the face.

[2019-05-21 17:24] brianteeman commented on #24692
Why? What use it it to you? How are you using it?

[2019-05-21 18:02] aasimali commented on #23544
@alikon
Can you please submit a PR for this feature? as I am not from the development background.

[2019-05-21 18:06] richard67 commented on #24972
It seems setting the publish date to now() when publishing an article is not the only thing which works well in the article edit view but doesn't work in the list view, see PR #24878 .

[2019-05-21 18:08] richard67 commented on #24878
It seems saving the UCM stuff when publishing an article is not the only thing which works well in the article edit view but doesn't work in the list view, see issue #24972 .

[2019-05-21 18:08] chetanmadaan commented on #24692
I am trying to get a link to the current article without linking it to a menu and without telling the user to manually type in site.com/index.php?option=... and all that stuff.

[2019-05-21 18:13] brianteeman commented on #24692
Again I ask you why? Why do you need it?
Without a menu it is going to be impossible

[2019-05-21 19:03] Bakual commented on #24692
I think it can be useful to see the URL that an article is going to get.
Easier to share (otherwise you need to navigate to it in frontend).
Easier to spot suboptimal structures (eg missing menuitem)

[2019-05-21 19:26] mbabker commented on #24952
A couple of years ago I was toying with the idea of [having a plugin](https://github.com/mbabker/plg_system_languagecache) that caches a compiled `Joomla\CMS\Language\Language` instance which eliminates the need to read all of the language files on each request if the files are already in the cache.  The plugin conceptually works, but it ultimately runs into the same problem with the load order of

[2019-05-22 06:34] SharkyKZ commented on #14899
Test PR #24977 please.

[2019-05-22 06:35] franz-wohlkoenig commented on #14899
Closed as having Pull Request #24977

[2019-05-22 06:35] #14899 closed

[2019-05-22 06:48] Hackwar commented on #21266
I've not encountered that since and thus will close this.

[2019-05-22 06:48] #21266 closed, assigned to nobody

[2019-05-22 07:39] SharkyKZ commented on #24878
#24972 seems workflow-related.

My issue appears to be caused by Behavior plugins not running on state change. Issue also affects other content types.

[2019-05-22 07:54] brianteeman commented on #24878
Yes #24972 is a related issue in that it is all because of the workflow code

[2019-05-22 09:47] #14869 closed

[2019-05-22 09:47] alikon commented on #14869
after more than 2 years without any follow-up
i'm going to close it.
it can be always reopened if needed<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14869">issues.joomla.org/tracker/joomla-cms/14869</a>.</sub>

[2019-05-22 10:29] MartijnMaandag commented on #24952
I don't think you understand what I want. I don't want an automated check.
I don't think there are much language overrides in a site. It is not as important als template overrides, which can disturbe your site.
I would be glad if the present information is changed:
![screen shot 2019-05-22 at 10 11 53](https://issues.joomla.org/uploads/1/699a2aab972d10ede356b14778097024.png)
The filter must contai

[2019-05-22 10:32] #9756 closed

[2019-05-22 10:32] alikon commented on #9756
closing as https://github.com/joomla-framework/application/pull/82 has been merged<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9756">issues.joomla.org/tracker/joomla-cms/9756</a>.</sub>

[2019-05-22 10:43] Waldbaer88 opened #24980 "show related content to multiple ids (array & comma seperated)"
### Steps to reproduce the issue
call
index.php?option=com_tags&view=tag&id=1,2,3

### Expected result
same as call
index.php?option=com_tags&view=tag&id[0]=1&id[1]=2&id[2]=3

### Actual result
following ids get ignored, same as
index.php?option=com_tags&view=tag&id=1

### System information (as much as possible)
Joomla 3.9.4, 3.9.6

### Additional comments
Both ways should work, especially since

[2019-05-22 10:43] alikon commented on #10449
after something like 3 years i hope some more new browser are used
i'm going to close it.
it can be always reopened if it's still an issue<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10449">issues.joomla.org/tracker/joomla-cms/10449</a>.</sub>

[2019-05-22 10:44] brianteeman commented on #24952
Ah - we misunderstood

This sounds similar to #22259 although with the addition of the Text column

Both of which seems a good idea to me although the comments from @infograf768 on that issue state that it is not possible

[2019-05-22 11:03] B3nito opened #24981 "No same alias possible in different language (url building)"
### Steps to reproduce the issue
In old installation it was possible have

menu (FR)
- Features (alias: features) * language french

menu (EN)
- Features (alias:features) * language english

I can prove it was possible, because I have Menuitems with same aliases from different languages. Now big problem because it is not possible anymore and my boss dont want to have features-fr and features-en as

[2019-05-22 11:04] B3nito commented on #24853
you can use fw class

[2019-05-22 11:05] franz-wohlkoenig commented on #24981
Can you give "System information (as much as possible)" like which Joomla-Version you talk about?

[2019-05-22 11:09] #21244 closed, assigned to nobody

[2019-05-22 11:09] Quy commented on #21244
Please test PR #24979<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21244">issues.joomla.org/tracker/joomla-cms/21244</a>.</sub>

[2019-05-22 11:23] brianteeman commented on #24981
I suspect this plugin is the problem and nothing to do with core

[2019-05-22 11:24] brianteeman commented on #24853
Yes thats exactly what is in the link

[2019-05-22 11:33] franz-wohlkoenig commented on #24981
guess J3 is meant by @B3nito

[2019-05-22 12:04] mbabker commented on #24952
That bit runs into the problems with the load order of files and constants.  It is hardcoded into the `Language` class that the overrides file be loaded when it is instantiated and it is loaded into a separate array from the main message catalogue, then when a language file is loaded basically the new file is merged over the message catalogue then the overrides merged back in on top of that.  So t

[2019-05-22 12:08] mbabker commented on #10449
Still doesn't change the fact certain polyfills do not behave correctly for older browsers for which Joomla claims to support.  Unless Joomla is now taking the stance of "only use the browsers I want you to use, which is something released this year" and ignoring enterprise environments that don't get to day-zero upgrade browsers as they push updates.

[2019-05-22 12:18] mbabker commented on #23876
Nevermind, seems the test focus is on infrastructure instead of the actual tests.

[2019-05-22 12:20] HLeithner commented on #23876
if the infrastructure doesn't work as it should, and that's a topic we are working on, it hard to upgrade the tests.
@Hackwar if you have time could you look at this?

[2019-05-22 12:21] alikon commented on #10449
reopened<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10449">issues.joomla.org/tracker/joomla-cms/10449</a>.</sub>

[2019-05-22 12:50] brianteeman commented on #20263
@laoneo It would be great if we could get this fixed for J4 - I tried and failed :(

[2019-05-22 13:06] alikon commented on #10449
btw

[2019-05-22 13:06] Hackwar commented on #23876
I'm actually working on exactly that right now. The unit tests don't work with the database anyway and we currently have no integration tests in our testing setup. With that being the case for nearly 2 years, the old tests of 3.x are pretty much useless right now and thus we have to start over anyway. So I'm looking into how to setup these integration tests properly. Hopefully in the next few days

[2019-05-22 13:09] brianteeman commented on #10449
@alikon It doesnt matter because of the stated browser support policy for j3

[2019-05-22 13:15] alikon commented on #10449
then we should change that policies in some way, i've quoted microsoft https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support
i'm afraid  that this issue can stay open from another 3 years without no progress :raised_hands:

[2019-05-22 13:20] mbabker commented on #10449
Then so be it.  If something is a confirmed bug, realistically the only reasons to close it are because the bug is fixed or the project is acknowledging that the bug is something that it won't fix.  Closing issues because "well, nobody ever came around to it so it can't be that important" doesn't send the best of messages.  I've put in way too many hours dealing with PHP 5.3 specific problems, you

[2019-05-22 13:25] mbabker commented on #10449
My point here is if Joomla says it's supporting a given environment and there's a confirmed bug in that environment, there's a responsibility to at some point fix the issue.  Whether that's a priority is to be determined by whomever is taking the time to fix bugs in most cases.  It could very well be nobody cares about fixing IE8 compat issues, but until IE8 support is dropped then the issue shoul

[2019-05-22 13:31] alikon commented on #10449
my fault here was that i've made a simply thinking that if Microsoft tell us in the 2016 don't use less than ie11 and i've missed to check browser support policy for j3

[2019-05-22 13:50] mbabker commented on #10449
Most CMS' have a slower support policy than either the upstream software vendors (PHP, MySQL, PostgreSQL) or the clients used to interface with them (browsers).  So sadly, the vendors saying "this is EOL" or "don't use this because we know it's old and garbage" doesn't apply to the CMS support policies.

(BTW, a browser or database upgrade nag would be great for a health check system like I've sug

[2019-05-22 13:57] brianteeman opened #24988 "Rips has died"
@zero-24 @SniperSister It would be great if you could take a look at rips as it is currently failing on all pr as it is unable to connect to the api

[2019-05-22 14:34] infograf768 commented on #24952
Some aspects could be done for the list, after a full refactoring of the overrides.
Please read https://github.com/joomla/joomla-cms/issues/22259#issuecomment-423063296

If that refactoring is done, we "could" get new ways of filtering to display in the list all overrides with a "Show All" and filter separately or not by Language, Client and even Constant.

But that would not solve your expected r

[2019-05-22 14:45] infograf768 commented on #24981
I can't reproduce the issue here with core.
<img width="1277" alt="Screen Shot 2019-05-22 at 16 38 38" src="https://user-images.githubusercontent.com/869724/58183817-42e67a80-7cb0-11e9-895f-7b29350ebb33.png">

URLs obtained are:
`mysite.com/en/login-form` for en-GB
and
`mysite.com/login-form` for fr-FR (as fr-FR is default language and `Remove URL Language Code` is set in the languagefilter plugin

[2019-05-22 14:48] franz-wohlkoenig commented on #24981
@B3nito please ask on [Forum](https://forum.joomla.org/)

Closed as stated above.

[2019-05-22 14:48] #24981 closed, assigned to nobody

[2019-05-22 15:28] N6REJ commented on #14843
due to the insane age of this issue its now dependant on #15754 & #14427 since both of those will most likely completely change this issue.

[2019-05-22 15:29] chetanmadaan commented on #24692
The user doesn't want to link it to a menu item. It is possible without a menu item. the link is
**index.php?option=com_content&view=article&id=xxx**

[2019-05-22 15:30] chetanmadaan commented on #24692
Thank You @Bakual

[2019-05-22 15:39] franz-wohlkoenig commented on #14843
@N6REJ what does this mean for this Issue?

[2019-05-22 15:58] brianteeman commented on #24692
index.php?option=com_content&view=article&id=xxx

But the SEF url will be dependant on whatever is the closest best fit for the menu.

[2019-05-22 16:06] SharkyKZ commented on #17843
Can't reproduce this on current nightly. The file has been modified and the failing code is no longer there.

[2019-05-22 16:07] franz-wohlkoenig commented on #17843
closed for Reason stated above. Issue can always reopened.

[2019-05-22 16:07] #17843 closed, assigned to nobody

[2019-05-22 16:08] zero-24 commented on #24988
We are working on it will let you know when we are ready. thanks for reporting. cc @SniperSister

[2019-05-22 16:10] brianteeman commented on #17843
i can confirm that this is no longer a valid bug and can be closed

[2019-05-22 16:11] brianteeman commented on #24988
Thanks - if possible could you restart it on all the failing pr from today

[2019-05-22 16:21] zero-24 commented on #24988
Will try that when possible. Thanks.

[2019-05-22 16:22] SniperSister commented on #24988
RIPS is back again!

[2019-05-22 16:28] SniperSister commented on #24988
Fixed!

[2019-05-22 16:34] zero-24 commented on #24988
Latest jobs has been rebooted please feel free to ping me on any missing one.

[2019-05-22 16:34] zero-24 commented on #24988
It might took some time to process them for sure.

[2019-05-22 16:42] brianteeman commented on #24988
i think it is every pr #24974 on that needs restarting

[2019-05-22 17:19] alikon commented on #14843
hold on please
it's just another very old one but it still deserve some more investigation
...unfortunately

[2019-05-22 18:07] zero-24 commented on #24988
restartet: https://ci.joomla.org/joomla/joomla-cms/18602 but it will take some time atm we have 23 builds in the queue ;)

[2019-05-22 18:13] brianteeman commented on #24988
Thank you

[2019-05-22 19:07] chetanmadaan commented on #24692
Then we build something that's allow use to generate the same URL on the backend. Either way, we want give the user URL's for item in the frontend. Like Virtuemart does for products and Wordpress does for posts that its.

May be we can follow the buttons inside the Editor that allows us to insert links to menu items, articles & contact items. Just a non SEF link directly to the item?

[2019-05-22 22:07] #23674 closed, assigned to nobody

[2019-05-22 22:44] Quy commented on #23772
I assume so. Maybe close one of them or both if they are no longer an issue.

[2019-05-23 00:19] Quy commented on #22061
Let's finally decide to either open in a new tab or same tab so it can be changed accordingly.

[2019-05-23 02:32] Quy commented on #24980
Please provide steps on how to produce this.

[2019-05-23 02:58] Quy commented on #23063
I can reproduce with the instructions provided using `alpha4-dev`. Install the French language pack and check again under `3rd Party Extensions Pre-Update Check `.

[2019-05-23 03:49] franz-wohlkoenig commented on #22061
@Quy For Accessibility-Reasons it should be the same Tab.

[2019-05-23 03:50] franz-wohlkoenig commented on #23063
closed for Reasons stated above. Please reopen if needed.

[2019-05-23 03:52] franz-wohlkoenig commented on #23772
closed as stated above; Issue can always be reopened.

[2019-05-23 03:52] #23772 closed, assigned to nobody

[2019-05-23 03:52] franz-wohlkoenig commented on #22959
closed as stated above; Issue can always be reopened.

[2019-05-23 03:52] #22959 closed, assigned to nobody

[2019-05-23 03:53] Quy commented on #23063
Should be opened since it is reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23063">issues.joomla.org/tracker/joomla-cms/23063</a>.</sub>

[2019-05-23 03:55] franz-wohlkoenig commented on #23063
too early on my side, apologize.

[2019-05-23 07:38] SharkyKZ commented on #22395
Test PR https://github.com/joomla/joomla-cms/pull/24990 please.

[2019-05-23 07:38] franz-wohlkoenig commented on #22395
Closed as having Pull Request #24990

[2019-05-23 07:38] #22395 closed, assigned to nobody

[2019-05-23 08:11] brianteeman commented on #23063
But can you reproduce with the current j4?

[2019-05-23 08:22] brianteeman commented on #24988
Sorry something is still not right

[2019-05-23 09:15] ReLater commented on #23063
- Yes. Go to administrator/index.php?option=com_joomlaupdate
- Click on Check for Update
- Check error-log file and tebulator Pre-Update Check

I made some investigations some days ago but ended in one of these weird, "modern" JS solutions and gave up to find the reason for "Unknown error" for language packs.

[2019-05-23 11:36] Waldbaer88 commented on #24980
I added a description how to trigger the SEF convert to the main post.
I'm new to GitHub, so maybe I'm not using it in an optimized way... I'm sorry for this and appreciate any tips! E.g. I forgot to add a com_tags label when I uploaded the issue and now I don't find a way to add it any longer... maybe somebody may add it.
Should I translate the fix from the German forum to English or is it clear

[2019-05-23 11:59] Quy commented on #24980
Are you manually typing `index.php?option=com_tags&view=tag&id=1,2,3`? If Joomla generated this link, then please provide steps in Joomla how to reproduce.

The correct syntax is `index.php?option=com_tags&view=tag&id[0]=1&id[1]=2&id[2]=3`.

[2019-05-23 12:16] brianteeman commented on #24019
There are several examples of fully accessible datepickers here https://www.webaxe.org/accessible-date-pickers/

[2019-05-23 12:21] brianteeman commented on #23824
I am unable to reproduce this issue - can be closed as it was probably resolved elsewhere. Can always be reopened

[2019-05-23 12:22] brianteeman commented on #23825
Confirming that this error is still present

[2019-05-23 12:23] #23824 closed, assigned to nobody

[2019-05-23 12:25] brianteeman commented on #23810
Looks like the same root cause as #23825

[2019-05-23 12:29] brianteeman commented on #23536
Closed due to lack of interest

[2019-05-23 13:28] B3nito commented on #24853
Yes, you only need to change the icon, its not a big problem.

[2019-05-23 13:36] B3nito commented on #24981
Sorry, ok thank you! I am using plugin for multilanguage domain. Can something like this be part of core and supported. Multidomain is important thing.
https://github.com/YireoJoomla/plg_system_languagedomains

[2019-05-23 13:46] infograf768 commented on #24981
This plugin is not maintained anymore (for 2 years). Look at Jed where there is another one which does not replace the language filter plugin.

[2019-05-23 15:42] Waldbaer88 commented on #24980
Thanks for replying back! The syntax you labeled "correct" is the array syntax which works as expected. If you provide this type of link to the Joomla Router in one of the described ways (as I did in a custom extension), it will be converted to the comma seperated list, looking as follows:
/component/tags/1,2,3
This list will be truncated to just 1 by com_tags (/models/tag.php; line 181), which wa

[2019-05-23 16:23] alikon commented on #24980
@Waldbaer88  you can propose a pr yourself is easy https://docs.joomla.org/Using_the_Github_UI_to_Make_Pull_Requests

[2019-05-23 16:43] SharkyKZ commented on #24980
Where does it say that ID as comma separated values is supported? They shouldn't be because with Unicode Aliases enabled commas are allowed in aliases.

[2019-05-23 16:56] Waldbaer88 commented on #24980
@SharkyKZ: It is said e.g. [here (comment 1)](https://issues.joomla.org/tracker/joomla-cms/4971) and in com_tags' router, which converts the array to this format ([components/com_tags/router.php line 83](https://github.com/joomla/joomla-cms/blob/1cc5425184a21038abbc3941486c5cfde2a7be0c/components/com_tags/router.php#L83)). If this is a general problem, I'll probably to unexperienced to solve it...

[2019-05-23 17:00] zero-24 commented on #24988
any details? Please let us know what is not right ;) It it difficult to debug "something" or do you mean there are reports like this: https://ci.joomla.org/joomla/joomla-cms/18629/1/19 ? Are all branches up-to-date?

[2019-05-23 17:02] zero-24 commented on #24988
I have just resolved some false positives but this is the only issue i can see right now?

[2019-05-23 17:13] brianteeman commented on #24988
I think so - i will recheck again soon.  Do we need to ping you when rips fails or not?

[2019-05-23 17:16] brianteeman commented on #24988
It looks like all the ones of mine that are failing now are due to 4(?) false positives

[2019-05-23 17:25] richard67 commented on #24980
@Waldbaer88 In your issue description there is a mistake.

You wrote:

But i think it should be something like this, with providing some value for `id[0]`:

[2019-05-23 17:27] Waldbaer88 commented on #24980
@richard67 You're completely right, of course, I corrected it.

[2019-05-23 17:34] richard67 commented on #24980
@Waldbaer88 Beside this, I am against your requirement, because it is syntactically not correct. Defining an array as once would not be `1,2,3`, it would be `[1,2,3]`. Or how else shall any parser see whether it shall be a sinngle string "1,2,3" or an array? Shall the parser read the thought of the guy who has set up the web site.

[2019-05-23 17:45] Quy commented on #24980
`// ID in com_tags can be either an integer, a string or an array of IDs`

It does not state comma separated. Please use the correct format. There is nothing to fix here.

[2019-05-23 17:47] Waldbaer88 commented on #24980
@richard67 Nice idea, but the format being simple 1,2,3 is not my idea, but already implemented in parts (as written above) - just not consequently as it looks. I see two solutions to this:
1. The component gets a fix to be able to read id=1,2,3 as well as id[0]=1&id[1]=2&id[2]=3 (easy and without problems that did not exist before as far as I can see it; I'll add a pull request for this soon)
2.

[2019-05-23 17:55] Quy commented on #24980
You are not reading/understanding the code correctly. I don’t know how else to explain it.

[2019-05-23 18:00] Waldbaer88 commented on #24980
That may be - as I said, I'm not that experienced, sorry for that.
Maybe you can explain to me why an array-link (e.g. index.php?option=com_tags&view=tag&id[0]=1&id[1]=2&id[2]=3) generated by an extension gets overwritten automatically to /component/tags/1,2,3 which displays just the same as /component/tags/1? Is this really intended?

[2019-05-23 18:02] Quy commented on #24980
`/component/tags/1,2,3` Are you sure as I am unable to reproduce this URL?

[2019-05-23 18:04] Waldbaer88 commented on #24980
Sorry, should be `/component/tags/tag/1,2,3`. What does your result look like?

[2019-05-23 18:33] Quy commented on #24980
Sorry I’m not at my computer to test to let you know.

[2019-05-23 18:36] Waldbaer88 commented on #24980
No problem, just take your time!

[2019-05-23 19:57] zero-24 commented on #24988
Yes please tag me on all issues. Please only first check that the branch is up-to-date when rips errors than tag me.

Yes they are all the same false positives that I have fixed / reviewed now on a new check they should work.

As the actual issue is solved I'm going to close here again. :)

[2019-05-23 19:57] #24988 closed, assigned to nobody

[2019-05-23 20:24] lambdaheart commented on #24918
@alikon @franz-wohlkoenig I don't see how this can be covered with extensions. Whole idea of `repeatable` field is that it integrates with other fields (which can be created by other users).

If a standard for this undoubtedly very useful behaviour is not set in core Joomla then I don't see how two different fields from two different authors can work well with one another in this situation.

[2019-05-24 04:30] franz-wohlkoenig commented on #24918
reopen for further discussion @alikon

[2019-05-24 06:38] alikon commented on #24923
@Hackwar is this something that you are considering in your smart search re-work?

[2019-05-24 07:11] Hackwar commented on #24923
This can indeed be done, but it wont be possible for 4.0 anymore, I'm afraid. For 4.1 this can however be considered.

[2019-05-24 08:24] chandanndeep opened #24997 "[4.0] Quick Edit on Articles"
Am very happy with quick change the Article Status. Really this will very helpful.

![image](https://user-images.githubusercontent.com/17069784/58313280-d04dda00-7e2a-11e9-92f9-1f2940148c8a.png)

Same like Article status. If we provide Quick change of **Article Title**, **Category**, **Status**. Will be much easier for Joomla Users.
And If we can Ajax Save. It will more powerful.

[2019-05-24 08:34] softarius opened #24998 "Getting fields for a table in another schema"
[0004-getTableColumns-for-another-schema.txt](https://issues.joomla.org/uploads/1/7281e7ba37eb3836a10c1d0c665b7246.txt)

### Steps to reproduce the issue

- install Joomla with PostgreSQl driver.
- create a new schema (for example 'test')
- create a new table in this schema

[code]
- in code call getTableColumns for this table

[code]
### Expected result
Array with fields of table

### Actual resu

[2019-05-24 08:39] franz-wohlkoenig commented on #24998
Please "System information (as much as possible)"

[2019-05-24 08:47] softarius commented on #24998
## System information (as much as possible)

- PostgreSQL Joomla driver using (important!)
- Any operation system (Windows or Linux for me)
- Joomla 3.9.6 (or staging)
- PostgreSQL 10 (or other)
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24998">issues.joomla.org/tracker/

[2019-05-24 08:51] alikon commented on #24998
you have already the solution so then
please submit a pr is  easy: https://docs.joomla.org/Using_the_Github_UI_to_Make_Pull_Requests

[2019-05-24 09:14] softarius commented on #24998
Yes. Done.
PR #24999<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24998">issues.joomla.org/tracker/joomla-cms/24998</a>.</sub>

[2019-05-24 09:15] richard67 commented on #24998
Then you can close this issue because there is a PR.

[2019-05-24 09:21] #24998 closed, assigned to nobody

[2019-05-24 09:21] alikon commented on #24998
closing as we have a pr for testing #24999<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24998">issues.joomla.org/tracker/joomla-cms/24998</a>.</sub>

[2019-05-24 09:42] richard67 commented on #24980
@Waldbaer88 To me it seems that `/component/tags/tag/1,2,3` is a SEF URL, or am I wrong? If I am right: What happens if you switch off SEF URLs in global config?

[2019-05-24 09:49] alikon commented on #20234
please test #24999

[2019-05-24 09:50] #20234 closed, assigned to nobody

[2019-05-24 09:50] alikon commented on #20234
closed as we have a pr to test<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20234">issues.joomla.org/tracker/joomla-cms/20234</a>.</sub>

[2019-05-24 12:05] mbabker commented on #22817
Hmm, not the template or the test architecture.  Odds are nobody's touching it.

[2019-05-24 12:08] mbabker commented on #23868
This really needs to be addressed with some urgency, if you don't believe me build a "src" library extension that installs files in the "libraries/src" directory and see how long it takes you to FUBAR a Joomla installation.  Or, ya know, just ignore a huge concern in the system architecture that allows users and developers to too easily break Joomla; wouldn't be the first time architectural concer

[2019-05-24 12:08] #24485 closed, assigned to nobody

[2019-05-24 12:10] Milglius commented on #21936
is there a contribution to test this code?

[2019-05-24 12:14] franz-wohlkoenig commented on #21936
@Milglius there is no Pull Request.

[2019-05-24 12:20] micker commented on #24692
have a consistent item url without creating a menu link will be smother for workflow .... i like this idea for end-user
but how to check duplicate content if we have menu link AND direct item link ..

[2019-05-24 14:45] diddipoeler opened #25000 "[4.0] Bug after update alpha9-dev to alpha10-dev"
### Steps to reproduce the issue
update from 9 to 10

### Expected result

An error has occurred.
0 Class 'Joomla\Plugin\Quickicon\Joomlaupdate\Extension\Joomlaupdate' not found

### Actual result

### System information (as much as possible)

### Additional comments

[2019-05-24 14:47] simbus82 commented on #25000
I have the same problem, after a DB Fix too.

[2019-05-24 14:48] brianteeman commented on #25000
Delete the autoloader file in the libraries folder and then regresh

[2019-05-24 14:54] #25000 closed, assigned to nobody

[2019-05-24 14:54] Quy commented on #25000
Duplicate #24907<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25000">issues.joomla.org/tracker/joomla-cms/25000</a>.</sub>

[2019-05-24 15:10] infograf768 commented on #24945
Not sure I understand.
let's say you want to batch move "menu-item-1"
No where we see "menu item root" but instead "Add to this menu" in the dropdown and also the menu items for that menu.
If "Add to this menu" is selected in batch and Move, the "menu-item-1" item is rightfully moved to the root of the selected menu.
If one selects a menu item instead in the dropdown, the menu item is added as chi

[2019-05-24 17:31] alikon commented on #24945
normal for me too (or i don't understand the issue)

[2019-05-24 19:21] Quy commented on #16629
This appears to be fixed and related to PR #25001.

[2019-05-24 19:23] #16629 closed

[2019-05-24 20:25] audetcameron commented on #20216
We were using
[code]
However since a recent update this is now blank.
My friend Justin found that we needed to go into the back end and enable the Show On  (BOTH)  option.  In order to get the value to display again.
![image](https://user-images.githubusercontent.com/6738453/58354838-896adf00-7e40-11e9-8ed9-3be8b767e54a.png)

[2019-05-24 20:36] Waldbaer88 commented on #24980
@richard67 Of course it's a SEF URL (just as I wrote in the topic), that's what `JRoute::_()` is for, isn't it? So yes, the automatic conversion can be turned off via the global setting, but the link it generates should work with it turned on, too, doesn't it?
The actual conversion of the array seems to be done by [the line I linked to above](https://github.com/joomla/joomla-cms/blob/1cc5425184a21

[2019-05-24 22:12] ReLater commented on #20216
@audetcameron

Maybe your find is a new issue. It was reported on a German forum for Joomla 3.9.5 like  this:

Before update the `->value` was the `Text` of the selected list `OPTION`.
Before update the `->rawvalue` was the `Value` of the selected list `OPTION`.

After update the `->value` is empty.

I've tested it and couldn't confirm the issue but my setting for `Show on` was `Both` (= Default).

[2019-05-25 06:57] infograf768 commented on #24945
Closing. Can be reopened if necessary with screenshots explaining the issue in details

[2019-05-25 06:57] #24945 closed, assigned to nobody

[2019-05-25 07:04] ghost opened #25005 "Bug when you hide Author in Blog Article Category but want to show Author when you open single article"
### Steps to reproduce the issue

Set not show author in category blog layount

### Expected result

Then you hide Author in Blog Article Category you Expected to show Author then you open artile in that category

### Actual result

Author hidden on blog category and also hidden then you open the article

### System information (as much as possible)

J 3.9.6
protostar
modern sef
php 7.2.18
### Add

[2019-05-25 07:06] franz-wohlkoenig commented on #25005
don't understand the issue, can you please give more details (maybe using screenshots)?

[2019-05-25 09:04] infograf768 commented on #25005
Tested this.

Menu item category blog "Show Author" set to "Hide"
One of the article (belonging to the category displayed by that menu item) "Show Author" set to "Show".
All works fine. The Author displays when loading the article.

But I confirm the issue if the article "Show Author" is set to "Use Global (Show)".
In that case the Author is not displayed.

This is indeed a bug imho.

[2019-05-25 09:19] infograf768 commented on #25005
Looks like the problem comes from the fact that the `Show _author` parameter `=""` when Using Global. This is the same as "0" for the`$displayData['params']->get('show_author')`, because the global setting is not taken care of in the $displayData when the article param is empty.

[2019-05-25 09:52] richard67 commented on #24980
@Waldbaer88 I may be wrong, but as far as I know, the router is not there for SEF only. I wanted to know what happens when you switch SEF off in order to see if the behavior with and without SEF is the same, for diagnostic. I never said that anything should not work with SEF on. The opposite is true regarding interpreting that query parameter: It should work in the same way with and without SEF UR

[2019-05-25 10:09] infograf768 commented on #25005
Further look shows that the params of the blog menu item override the `show global` article settings when there is no specific menu item for the article as technically the active menu item is still the blog menu item.

[2019-05-25 10:17] Waldbaer88 commented on #24980
@richard67 Thanks for explaining - I'm sorry, if I sounded rude, I appreciate your thoughts! According to the documentation, the SEF/"humanly readable URL"-conversion is at least the router's main purpose ([JRoute](https://api.joomla.org/cms-2.5/classes/JRoute.html) and [Route](https://api.joomla.org/cms-3/classes/Joomla.CMS.Router.Route.html) class docs) and I did not find anything additional unt

[2019-05-25 10:34] infograf768 commented on #25005
so, not sure anymore if this should be considered as a bug...

[2019-05-25 10:54] richard67 commented on #25005
Am also not sure if a bug or expected behavior when reading all the above.
@infograf768 Do you know who could know?

[2019-05-25 10:58] richard67 commented on #24922
@ReLater Meanwhile I am also in doubt if it is as easy as I assumed it to be. Do you know who could help us with that?

[2019-05-25 13:24] Milglius commented on #25005
How to attach screenshots in github @franz-wohlkoenig ?

[2019-05-25 13:28] Milglius commented on #25005
![jj3c](https://user-images.githubusercontent.com/43875462/58369933-d36bc780-7f09-11e9-821c-6327e3ee7c5c.gif)

Hope this helps

Then you hide Author in Blog Article Category you Expected to show Author then you open artile in that category, but then you open orticle it should show Author

[2019-05-25 13:30] franz-wohlkoenig commented on #25005
![Screen Shot 2019-05-25 at 15 28 44](https://user-images.githubusercontent.com/8235763/58369962-0f9b2a00-7f02-11e9-915e-92ea762072e8.png)

[2019-05-25 13:39] ReLater commented on #24922
Yes, not easy to test. Time-consuming.

I use a plugin that removes bootstrap-*.js in backend. Then compare the output plus functionalities of the backend modules with and without active plugin. I also deactivate other backend modules as far as possible.

First result: mod_popular doesn't need bootstrap.

BUT then I've found that `/templates/atum/layouts/chromes/body.php` DOESN'T load bootstrap-*.

[2019-05-25 13:53] ReLater commented on #24922
Maybe @franz-wohlkoenig knows whom to ping?
I try @dgrammatiko , @wilsonge , @Bakual https://github.com/joomla/joomla-cms/issues/24922#issuecomment-495919259

[2019-05-25 13:55] franz-wohlkoenig commented on #24922
@ReLater sorry, have no idea.

[2019-05-25 14:35] SharkyKZ commented on #25005
Not a bug. Articles inherit parameters of category menu item.

[2019-05-25 14:59] Milglius commented on #25005
@SharkyKZ  this is real and annoying joomla bug because I want Articles not inherit parameters (show Author) of category menu item.

[2019-05-25 16:36] Quy commented on #14861
This appears to be a server configuration issue than core issue.

[2019-05-25 17:35] infograf768 commented on #25005
@SharkyKZ
It does inherit indeed, but only when its parameters Use Global. Therefore I do understand the questionning.
@Milglius
As I wrote, setting the article parameter to Show and not Use Global will solve your issue.

[2019-05-25 19:09] brianteeman commented on #24922
There is NO point looking at this until the new template is completed

[2019-05-25 19:33] ReLater commented on #24922
From my point of view modules should load their dependencies also with other templates but only if needed.

The main question is: Will be backend core extensions BS and Jquery free or not?

Yes for chrome `body.php`. That's an atum layout. But not mod_popular.

[2019-05-25 19:33] #24922 closed, assigned to nobody

[2019-05-25 19:38] ReLater commented on #15173
@franz-wohlkoenig
Please reopen. Thank you!

[2019-05-25 20:01] wilsonge commented on #24922
The backend extensions will be jQuery (direct usages) free. However they won't be Bootstrap free from a CSS perspective. The aim is to make the backend not automatically load the javascript on all pages unless required.

[2019-05-25 21:07] Milglius commented on #25005
@infograf768 site has about 2000 articles, setting the article parameter manualy to each article to Show will take a lot of time

[2019-05-25 23:11] Bakual commented on #25005
@Milglius Set it to "Use Global" (or "Show") in the menu items and use a layout override in that view where you don't display the author name. That's probably the simplest solution.

The inheritance of the parameters isn't a bug and expected behavior. The "Use Global" entry just shows the "wrong" value as it doesn't take into consideration parameters from menu items (eg category views) and other p

[2019-05-26 03:47] franz-wohlkoenig commented on #24997
@bembelimen can you please comment on this Request?

[2019-05-26 06:35] bembelimen commented on #24997
@Hackwar is working on something like that of I remember correctly.

[2019-05-26 11:32] brianteeman opened #25008 "[4.0] Impossible to access control panel"
If you are a manager and try to access the admin then you land on the "control panel" but as soon as you click on any link there is no way to get back to the "control panel"

[2019-05-26 12:07] franz-wohlkoenig commented on #25008
J4?

[2019-05-26 12:09] brianteeman commented on #25008
Yes. Sorry the screenshot is missing

[2019-05-26 14:01] arbindbhagat opened #25009 "[4.0] Important Plugin/Event missing"
When a not-logged-in user tries to access a content that is only for logged-in-users, that user is redirected to the login page.

We want to develop a plugin that does some important thing when this happens. However, on https://docs.joomla.org/Special:MyLanguage/Plugin/Events page, I don't see any event that would get triggered in this case of redirection-to-login-page.

Joomla must have an event

[2019-05-26 16:44] brianteeman commented on #25008
![image](https://user-images.githubusercontent.com/1296369/58384774-f2d42480-7fdd-11e9-851a-dbcc5dc13d81.png)

[2019-05-26 17:35] franz-wohlkoenig commented on #25009
can you please give "System information (as much as possible)"

[2019-05-26 17:47] arbindbhagat commented on #25009
It is a feature that Joomla is missing. So, basically, it is a feature request. So, the system information won't help in this case.

[2019-05-26 18:00] Hackwar commented on #24997
No, I'm currently not.

[2019-05-26 19:42] ReLater commented on #25009
When I try as a not-logged-in user to access  a content that is only for logged-in-users I'm not redirected but see a message:

[code]

Please provide some more detailed testing instructions how to build your scenario.

If $app->redirect participates (i don't know) events onBeforeRespond and onAfterRespond are triggered.

[2019-05-26 21:22] #24761 closed, assigned to nobody

[2019-05-26 21:22] Quy commented on #24761
Please test PR #25010<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24761">issues.joomla.org/tracker/joomla-cms/24761</a>.</sub>

[2019-05-27 06:16] SharkyKZ commented on #22516
Alias is clickable for me.

Menu heading is not but that's intended. It's a heading, not a link.

[2019-05-27 06:56] chandanndeep commented on #24997
@franz-wohlkoenig
Thanks for Edit the Title and Adding the label.

[2019-05-27 06:59] #22516 closed, assigned to nobody

[2019-05-27 06:59] alikon commented on #22516
expected behaviour<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22516">issues.joomla.org/tracker/joomla-cms/22516</a>.</sub>

[2019-05-27 06:59] chandanndeep commented on #24997
@Hackwar
Are we offering this type of feature in Joomla 4?

[2019-05-27 07:03] #25005 closed, assigned to nobody

[2019-05-27 07:03] alikon commented on #25005
expected behavior<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25005">issues.joomla.org/tracker/joomla-cms/25005</a>.</sub>

[2019-05-27 07:09] #21552 closed, assigned to nobody

[2019-05-27 07:09] alikon commented on #21552
obviously lack of interest<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21552">issues.joomla.org/tracker/joomla-cms/21552</a>.</sub>

[2019-05-27 07:17] #14861 closed

[2019-05-27 07:17] alikon commented on #14861
let's close this for now, it can be reopened if required
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14861">issues.joomla.org/tracker/joomla-cms/14861</a>.</sub>

[2019-05-27 07:57] SharkyKZ commented on #19348
One little use in core could be for plugins that run periodically and store their last run timestamp. Having it stored along with params causes the plugin to run every time a plugin is edited. Just a nitpick though.

[2019-05-27 09:12] infograf768 commented on #25008
PR https://github.com/joomla/joomla-cms/pull/25012
closing as we have a patch

[2019-05-27 09:12] #25008 closed, assigned to nobody

[2019-05-27 09:13] brianteeman commented on #25008
Thanks

[2019-05-27 09:42] ahamed opened #25013 "[4.0] HTML Service registry not register anything."
### Steps to reproduce the issue
For a component, if anyone creates `Extension/CompnameComponent.php` file and inside this class, the `boot()` function does not register anything.

If I register something like
`$this->getRegistry()->register('testregistry', new AdministratorService);`
and call this like
`HTMLHelper::_('testregistry.func', $arg1, $arg2)`
this returns `500 JHtml testregistry not fou

[2019-05-27 09:43] iqmedien opened #25014 "upload bug at joomla 3.9.6"
Hello,

we have a big problem with uploading pictures since last week. We are using firefox and when we want to upload a picture to a folder in the backend - this pictures dont save into the chosen folder rather in the first "images/" path. So it doesn't work when I want to upload a picture for example to "images/test".

Ironically I don't have this problem at internet exlporer or chrome. It's onl

[2019-05-27 09:43] iqmedien opened #25015 "upload bug at joomla 3.9.6"
Hello,

we have a big problem with uploading pictures since last week. We are using firefox and when we want to upload a picture to a folder in the backend - this pictures dont save into the chosen folder rather in the first "images/" path. So it doesn't work when I want to upload a picture for example to "images/test".

Ironically I don't have this problem at internet exlporer or chrome. It's onl

[2019-05-27 09:44] franz-wohlkoenig commented on #25014
Please ask on [Forum](https://forum.joomla.org/) as this Repository is for coding.

[2019-05-27 09:44] #25014 closed, assigned to nobody

[2019-05-27 09:45] franz-wohlkoenig commented on #25015
Please ask on [Forum](https://forum.joomla.org/) as this Repository is for coding.

[2019-05-27 09:56] thuebschmann opened #25016 "JHtml::_('calendar'... doesn't Support attribute Pattern"
### Steps to reproduce the issue
platce the folling cate in Templace

&lt;?php
$attrib = array ("class"=>"cal");

$attrib['placeholder']='tt.mm.jjjj';
$attrib['pattern']='\d{2}\.\d{2}\.\d{4}';
echo JHtml::_('calendar', time(), 'test', 'test','%d.%m.%Y', $attrib);
?>

### Expected result
<pre>
&lt;input type="text" id="test" name="test" value="" class="cal" pattern="\d{2}\.\d{2}\.\d{4}\" placeholde

[2019-05-27 09:58] franz-wohlkoenig commented on #25016
please add System Information in comment.

[2019-05-27 10:03] Bakual commented on #25016
Does that even make much sense in a localised enviroment?
Imho it would only work in your own extension which you run on a site where only one language is installed. As soon as you have a distributed extension, you don't know in which language it will be used and the pattern may be different.

[2019-05-27 12:19] thuebschmann commented on #25016
here are the system information
[systeminfo-2019-05-27T11_52_29+02_00.txt](https://github.com/joomla/joomla-cms/files/3223690/systeminfo-2019-05-27T11_52_29%2B02_00.txt)

[2019-05-27 13:06] franz-wohlkoenig commented on #25016
@thuebschmann its about copy the System Information in the opening Comment so Volunteers don't have to download them.

[2019-05-27 14:29] hgh-esn opened #25017 "[4.0] Backend: Plugin-update changelog fails"
**### Steps to reproduce the issue**
There must be a plugin installed,  witch has the necessary changelog-/server and -data activ. [See](https://github.com/roland-d/component_joomla/releases/tag/v0.0.2)
Go into System>Update>Extensions. In the upcoming extension-update-listview the changelog-item fails

**### Expected result**

There should be a link to a modal-windows at the changelog-item

**###

[2019-05-27 14:52] ReLater commented on #25017
See https://github.com/joomla/joomla-cms/issues/23063

[2019-05-27 15:01] franz-wohlkoenig commented on #25017
@ReLater so its a known issue?

[2019-05-27 15:18] thatgrrl opened #25019 "[4.0] Class 'JRequest' not found"
I installed the new Joomla alpha, fresh from the source just now. I thought I would have a look at what's new. My site runs on the protostar template and not many extensions added. But, I can not get past the login screen due to an error.

Class 'JRequest' not found

With a note in red about the template -

Error
The template for this display is not available.

I'm going back to Joomla3, my backup

[2019-05-27 16:28] SharkyKZ commented on #25019
One or more of your extensions is using `JRequest` class which doesn't exist in 4.0. Enable debug by setting `$debug` to `true` in `configuration.php` file. You'll see where this is coming from.

[2019-05-27 16:33] brianteeman opened #25020 "[4.0] Workflow status change"
If you click on the status icon in order to change the status it changes to a select box and if you select a new status then the page is saved etc

However if you decide that you dont want to change the status after all there is no way to "close" the select box. I would have expected that clicking anywhere other than in the select box would close the select and return to the icon

[2019-05-27 16:36] ReLater commented on #25017
No. I was wrong. 2 different issues.

[2019-05-27 16:48] hgh-esn opened #25021 "[4.0] Backend - Extensions: Update - remove urls -> text-links, to make the view clearer"
### Steps to reproduce the issue

Going into the backends "System>Update>Extensions"

### Expected result
To make the page and the listing clearer, it would be much more effective, the url's were not displayed as plain text. For the first one it is better to set a text-link who shows a modal-popup with the link-data. The second url should be displayed as an external text-link .

<img width="957" a

[2019-05-27 16:51] Sandra97 commented on #25015
I'm using Firefox and noticed this issue too on several sites using different templates recently, (including official properties).

[2019-05-27 17:27] wilsonge commented on #19348
Right now I'm sitting on this. Right now we have two developers who are using the `custom_data` field. This clearly doesn't fall under the 90% rule. HOWEVER i totally accept right now not many people are testing extensions on Joomla 4 yet until we get a beta out. So I'm aware this exists but unless i see more developers saying they use this table I'm not planning on the `custom_data` field yet.

[2019-05-27 18:22] Llewellynvdm commented on #19348
Really? so we have to setup a place to take a poll for this and then do a marketing campaign to get all those not following Joomla on github to come and vote? that seems like a bit much... :-1:

I know many, many Joomla 3rd party developers who are not following the Joomla issue on github, that is why respond on this forum is not a poll.

Secondly I have not been using this field for the very reas

[2019-05-28 02:20] Quy commented on #22792
Duplicate #22140?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22792">issues.joomla.org/tracker/joomla-cms/22792</a>.</sub>

[2019-05-28 04:18] franz-wohlkoenig commented on #22792
closed as duplicate report. Please reopen if its not.

[2019-05-28 04:18] #22792 closed, assigned to nobody

[2019-05-28 04:24] franz-wohlkoenig commented on #25019
closed as no Core Issue.

[2019-05-28 04:24] #25019 closed, assigned to nobody

[2019-05-28 07:24] SharkyKZ commented on #22216
Test PR #25024 please.

[2019-05-28 07:27] #22216 closed, assigned to nobody

[2019-05-28 07:27] alikon commented on #22216
closed as we have a pr #25024<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22216">issues.joomla.org/tracker/joomla-cms/22216</a>.</sub>

[2019-05-28 08:15] matjon opened #25025 "Documentation: remove mcrypt PHP extension from requirements"
Hello,
On https://downloads.joomla.org/technical-requirements "Mcrypt Support" is listed as one of required PHP extensions. Joomla, however, does not require Mcrypt any more. Checking for Mcrypt was removed via pull request #18334. This extension itself was removed from PHP 7.2 and moved to PECL, so it is not present on many hosting providers.

Greetings,
Mateusz Jończyk

[2019-05-28 08:16] matjon commented on #25025
This was already requested but overlooked in https://github.com/joomla/joomla-cms/issues/18384#issuecomment-338425288 .<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25025">issues.joomla.org/tracker/joomla-cms/25025</a>.</sub>

[2019-05-28 08:23] Ribberholt opened #25026 "Custom.css not loading in chrome"
### Steps to reproduce the issue
Open the page in chrome

### Expected result
every custom.css edit to function

### Actual result
no custom css function

### System information (as much as possible)
Template: Purity III from Joomlart
Joomla version: Latest

### Additional comments
I found this thread: https://github.com/joomla/joomla-cms/issues/14220
Which adress my issue to a toe. How ever it wa

[2019-05-28 08:26] HLeithner commented on #25025
@Sandra97 can you look at this?

mcrypt check has been removed in 3.8.2

[2019-05-28 08:32] brianteeman commented on #25026
If part of a a joomlart template doesnt work then you should contact Joomlart for support

[2019-05-28 08:33] franz-wohlkoenig commented on #25026
closed as no core issue.

[2019-05-28 08:33] #25026 closed, assigned to nobody

[2019-05-28 08:34] HLeithner commented on #25019
@thatgrrl please contact the author of the extension if you could find the extension as mention by SharkyKZ. The API used is deprecated since Joomla 1.7

[2019-05-28 08:36] Sandra97 commented on #25025
PR submitted [#207]( https://github.com/joomla/downloads.joomla.org/pull/207)

[2019-05-28 08:37] franz-wohlkoenig commented on #25025
closed as stated above.

[2019-05-28 08:37] #25025 closed, assigned to nobody

[2019-05-28 09:52] HLeithner commented on #24343
I can confirm this problem, maybe someone with better js knowledge then me could look at this.

[2019-05-28 10:11] AndySDH opened #25027 "[4.0] Feature Idea: Showon for filling Custom Fields"
This is an idea I had for a while.
The ability to show the input form of a custom field based on the value of another custom field in the same input form.

For example, say you have a category of "Sports".

You have a custom field of type "List" called "Sport Type" that can be: football, basket, tennis, swimming, water-polo, etc...

You have a custom field of type "Text" called "Pool size". You wa

[2019-05-28 10:51] AndySDH commented on #24754
Just a reminder for this. Please @alikon can you check this?

[2019-05-28 11:01] AndySDH commented on #24918
For that there already is a fantastic extension for it: https://www.regularlabs.com/extensions/articlesfield/

[2019-05-28 11:11] lavipr commented on #21869
Hi, I'm working on it for 4.0.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21869">issues.joomla.org/tracker/joomla-cms/21869</a>.</sub>

[2019-05-28 11:23] AndySDH commented on #24343
Repeatable field is going away in Joomla 4. It will be replaced by the better version, called Subfields
https://github.com/joomla/joomla-cms/pull/24711

Please test if the problem happens with this new version too and report in that PR.

[2019-05-28 11:27] pe7er commented on #24907
Thanks!

[2019-05-28 11:27] AndySDH commented on #20720
Repeatable field is going away in Joomla 4. It will be replaced by the better version, called Subfields
See: #24711

Please test if the problem happens with this new version too and report in that PR.

[2019-05-28 11:39] franz-wohlkoenig commented on #20720
closed for Reason stated above.

[2019-05-28 11:39] #20720 closed, assigned to nobody

[2019-05-28 11:39] HLeithner commented on #24343
We support 3.x for at least 2 years after j 4.0 release so this should be fixed.

[2019-05-28 11:39] franz-wohlkoenig commented on #24343
closed for Reason stated above.

[2019-05-28 13:03] alikon commented on #24754
feel free to submit a pr, i've already said my pov on this matter https://github.com/joomla/joomla-cms/issues/24754#issuecomment-487850964

[2019-05-28 13:08] AndySDH commented on #24754
@alikon Sorry but did you read my post here? That description is badly worded to begin with.

This is just bad wording and not the intended functionallity. Custom Fields already have a setting that controls whether the custom field should be displayed or not on the frontend. This:

![image](https://user-images.githubusercontent.com/25923699/58480241-3a7fbb00-815a-11e9-8042-2caa2169a9d8.png)

So th

[2019-05-28 13:13] AndySDH commented on #24754
Also another proof that the option was only meant to be for the editing form, and not the frontend display, is that the method is called "displayFieldOnForm"

See, key word: OnForm.

![image](https://user-images.githubusercontent.com/25923699/58480720-31431e00-815b-11e9-9421-a2b35f3ffd18.png)

So right now you added a check for the frontend display based on an option that was meant for the edit fo

[2019-05-28 13:14] dioubernardo opened #25029 "Notice: Undefined index: option in components/com_content/views/category/view.html.php"
### Expected result
No notice

### Actual result

[Tue May 28 10:09:08.334702 2019] [php7:notice] [pid 30629] [client 46.229.168.143:60256] PHP Notice:  Undefined index: option in components/com_content/views/category/view.html.php on line 269

### System information (as much as possible)
PHP executando em | Linux joomla 3.13.0-170-generic #220-Ubuntu SMP Thu May 9 12:40:49 UTC 2019 x86_64
-- | --

[2019-05-28 13:21] SharkyKZ commented on #25029
Using a SEF extension like sh404sef? Probably a duplicate of #22973.

[2019-05-28 13:47] GCLW commented on #25015
If this just started happening #24637 might have something to do with it.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25015">issues.joomla.org/tracker/joomla-cms/25015</a>.</sub>

[2019-05-28 13:51] infograf768 commented on #25015
Can anyone test after reverting https://github.com/joomla/joomla-cms/pull/24637 ?
I can't reproduce the issue here.

[2019-05-28 13:54] franz-wohlkoenig commented on #25015
@iqmedien can you please test as @infograf768 suggest above?

[2019-05-28 14:00] HLeithner commented on #25015
I can't reproduce this problem with firefox... @Sandra97 on all joomla properties? I tried j.org and it works for me with ff 67....

[2019-05-28 15:19] chetanmadaan commented on #24692
I wouldn't know the coding aspect of it. Again, duplicates is something Joomla 4 shouldn't have or atleast try to fix the duplicate url problem.

[2019-05-28 15:32] infograf768 commented on #21869
It is totally useless to display these toolbar buttons when one has already displayed items and their possible associations. Adding them happily has no undesired consequences.

[2019-05-28 15:33] GCLW commented on #25015
Create a sub-directory of "images" under the main images directory.
Create a sub-directory of "testing123" under that directory.

Update the plugin: Editor - TinyMCE
Make sure you are editing tab "Set 0" so Administrator is showing in the groups that use this profile.
Under the "Images Directory" setting, select "images/testing123" (save & close)
* the actual path on the server is "images/images/t

[2019-05-28 15:46] infograf768 commented on #25015
oh, then it would have to do with a double `images/images/` directory?

[2019-05-28 16:11] GCLW commented on #25015
I guess it would be relative to what you have set as the "path to files" or "path to images" folder settings under the media global configuration.
You could possibly have a different directory specified, and then the issue would pop up if you had a nested directory of the same name.

It might sound odd to some people but I have a couple clients that have images sub-directories setup under the root

[2019-05-28 16:41] Bakual commented on #24692
That's not possible: Menulinks are essential in Joomla.
The only URL you could get without a menuitem would be the non-SEF one (eg index.php?option=com_content&view=article&catid=123&id=456).

As I said in an earlier comment, the only thing whjich would be possible to do in J4 is having the frontend URL displayed in the form. It wouldn't be editable at all. If you want to change it, you would have

[2019-05-28 16:58] brianteeman commented on #24692
And that would not be a permanent url (like in wordpress) but subject to change as menu items change

[2019-05-28 17:11] Quy commented on #22507
I assume this is upstream:
`\media\vendor\joomla-custom-elements\js\joomla-alert.js`

`role` is set here:
[code]

[2019-05-28 17:17] brianteeman commented on #22507
Upstream is https://github.com/joomla-projects/custom-elements/issues/118

[2019-05-28 18:13] Bakual commented on #24692
Exactly. It would only be a convenient way to quickly share an URL.

[2019-05-28 19:14] micker commented on #24692
yes it will a be untresting solution to create a dynamic link between menu link and url in content
now that doesn't work if we change menu link urlused in content isn't update
=> can we herite link params with itemid ?

[2019-05-28 21:03] Quy opened #25031 "[4.0] Class 'Joomla\Component\Finder\Administrator\Indexer\FinderHelperRoute' not found"
### Steps to reproduce the issue
Add `Smart Search` module.
Perform search on front end.

### Actual result

### System information (as much as possible)

[2019-05-28 21:06] Sandra97 commented on #25015
@HLeithner Not on all, it was on one, but I'm unable to tell you which one as I work on several. I just did tests on 3 official properties but I was unable to reproduce the issue (note that it wasn't happening all the time)

[2019-05-28 22:26] hgh-esn commented on #25021
Need help !!!!

I'm totally confused.
How can I push this changes from the forked repo ????

[2019-05-28 22:46] brianteeman commented on #25021
It was a deliberate decision to display the url and not "hide" it behind a "text link" so that the user can see what the url is before clicking it

Instead of using a modal just have a div that is displayed on "hover", "active" like the search box and see #24899 for an example

[2019-05-28 22:50] brianteeman commented on #25021
In your forked repo make sure that you create a new branch and make your changes there.
Then if you come to this repo you will see a message similar to this

![image](https://user-images.githubusercontent.com/1296369/58517396-24e2b380-81a3-11e9-9f6b-4036ae8bfbfc.png)

Click on the button "compare and pull request"

On the next page change the base from staging to 4.0-dev and complete the details

[2019-05-28 22:52] brianteeman commented on #25021
PS you need to remove those changes from your 4.0dev branch because they just appeared in your other PR.

Golden rule to remember - 1 branch = 1 pr

[2019-05-29 00:49] visualtribe opened #25033 "Administration or Super User, User Activation on Frontend Broken"
### Steps to reproduce the issue
Receive user activation email
Click on link
link takes me to a login on the public side
login
taken to home page and told "You are not authorised to view this resource." yet I am a super user which can see everything. It also doesn't work for Administrator level.
Yet it logs me in and secured pages can be seen. If I click the link again takes me to the home page an

[2019-05-29 01:41] visualtribe commented on #25033
It might be just this site for some reason. My other sites seem to work. I build my Joomla sites all the same and with the same components. For some reason it won't pass to the complete page. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25033">issues.joomla.org/tracker/joo

[2019-05-29 03:07] Quy commented on #24556
Related #22907 as it includes the proposal to add a back button.

[2019-05-29 03:09] Quy commented on #24481
Duplicate #22907?

[2019-05-29 04:06] Quy commented on #22321
Duplicate #22907?

[2019-05-29 04:23] franz-wohlkoenig commented on #25033
Please ask on [Forum](https://forum.joomla.org/)

[2019-05-29 04:23] #25033 closed, assigned to nobody

[2019-05-29 09:35] crimle opened #25036 "Quickicons error after update to Joomla! 4.0.0-alpha10-dev"
### Steps to reproduce the issue
Goto Components > Joomla! Update > Options
Set Update Channel = Custom URL
Set Custom URL = https://update.joomla.org/core/nightlies/next_major_list.xml
Start and confirm the update process
After the update is accomplished click the [ControlPanel] button

### Expected result
The ControlPanel is displayed without error message

### Actual result
The ControlPanel is

[2019-05-29 09:42] brianteeman commented on #25036
Updates when in alpha are not really supported. This is a known issue and can be fixed by deleting this file \libraries\autoload_psr4.php
It will then be automagically regenerated and your site will work

[2019-05-29 10:29] wilsonge commented on #22907
Can we put the screenshots in https://github.com/joomla/joomla-cms/issues/24481 please as they look good (but there's been some discussions there on various technical aspects). This is definitely something I'd like to implement though!

[2019-05-29 10:29] #22907 closed, assigned to nobody

[2019-05-29 10:32] wilsonge commented on #24481
Yup. Closed that one in favour of this as we have the discussion about the localisation packs there. However for anyone looking here make sure you look at #22907 as there are some nice design prototypes

[2019-05-29 10:41] franz-wohlkoenig commented on #25036
closed for Reason stated above.

[2019-05-29 10:41] #25036 closed, assigned to nobody

[2019-05-29 10:44] HLeithner commented on #25015
This bug was introduced in 2017 by #15057 and is now in affect because of the security fix in #24637.

Now it should be fixed with #25037

[2019-05-29 10:44] #25015 closed, assigned to nobody

[2019-05-29 11:01] Chacapamac commented on #22907
Anything I can do, ask, I’m not a programmer but really good at CSS, design and ergonomic.
Don’t forget to see my discussion and my vision on the sad design of the administration here —> https://forum.joomla.org/viewtopic.php?f=803&t=970614

[2019-05-29 11:06] HLeithner commented on #24946
I'm sorry I can't find any change in the 3.9.3-3.9.5 that could lead to this problem, it would be great if you can find the exact version it problem has been introduced.

[2019-05-29 12:26] neiljames opened #25039 "[4.0] Form cannot be submitted for Article save"
### Steps to reproduce the issue
Click save to save changes made to an article

### Expected result
Article saved

### Actual result
When save button clicked  a popup tells me "Error, form cannot be submitted as its missing required data. Please correct marked field and try again".
Category* one of the options must be selected.
However the category selection box has no categories available to choo

[2019-05-29 13:56] Quy commented on #25039
Cannot reproduce. Please test the nightly build: https://developer.joomla.org/nightly-builds.html

[2019-05-29 16:41] #25031 closed, assigned to nobody

[2019-05-29 16:41] alikon commented on #25031
please test  #25040<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25031">issues.joomla.org/tracker/joomla-cms/25031</a>.</sub>

[2019-05-29 21:02] chetanmadaan commented on #24692
Thank you all for the contributions so far. The URL won't be permanent or editable. Just display.

[2019-05-30 04:22] franz-wohlkoenig commented on #25039
closed for REason stated above and due the lack of response.

[2019-05-30 04:22] #25039 closed, assigned to nobody

[2019-05-30 04:22] franz-wohlkoenig commented on #25013
@infograf768 can you please comment?

[2019-05-30 04:39] Quy commented on #24980
Why not create a menu item for it so you have friendly URLs instead of `/1,2,3`?

[2019-05-30 07:10] hgh-esn opened #25061 "[4.0] Backend: Extensions-Update-View: Warning-message is quite annoying"
### Steps to reproduce the issue

Go into system>update>extensions. See what's coming up.

### Actual result

When calling / reloading, etc.  the extensions-update view,  the constantly popping up warning message is quite annoying, especially since it must first be closed to get to all the buttons.
<img width="954" alt="2019-05-30_08h46_25" src="https://user-images.githubusercontent.com/5299726/58

[2019-05-30 07:16] hgh-esn commented on #25017
@ReLater
And when you or someone else will make a change to bring back the origin functionality?

[2019-05-30 07:24] hgh-esn commented on #25021
@brianteeman

In the case of the update-view, a hoovered div is - I think- suboptimal - why?
1. In a hoovered div, the user can't scratch the url into the clipboard for further operations.
In the modal it continues to be possible as in the original view.

2. The hoovered div may be cut on top, because of other languages than en-GB. See this "de-DE" screenshot - here the upper informations are bein

[2019-05-30 07:53] HLeithner commented on #24980
@Waldbaer88 adding comma separated list to and input parameter makes less sense especially if we already support the array syntax and support it in the sef router.

So you why don't you use SEF urls?

In the meantime I close this because I don't see a good reason for adding this feature.

[2019-05-30 08:33] ReLater commented on #25061
That's a known issue and as far as I know that's already under consideration.

And yes, I hope too, that these messages will go away as popups in J4. Back to ISIS style....

[2019-05-30 08:34] SharkyKZ commented on #24980
Re-open please. Router does set SEF segment as a comma-separated list of IDs. I.e. if you build an URL like `index.php?option=com_tags&view=tag&id[]=2&id[]=3` the SEF URL is `index.php/component/tags/tag/2,3`.

Tag component frontend is broken in general due to multi-tag capability in tag view. I looked into this in the past and to me this capability doesn't make sense. E.g. how to handle access l

[2019-05-30 08:34] franz-wohlkoenig commented on #24754
Closed as having Pull Request #25062

[2019-05-30 08:34] #24754 closed, assigned to nobody

[2019-05-30 08:35] franz-wohlkoenig commented on #25061
closed as known issue.

[2019-05-30 08:35] #25061 closed, assigned to nobody

[2019-05-30 08:42] hgh-esn commented on #25061
And what is the known issue?

[2019-05-30 08:47] HLeithner commented on #24980
Oh yes the router doesn't explode the ids back to an array on parse that should be fixed.

[2019-05-30 08:47] SharkyKZ commented on #25061
Related issues #21803,  #16497, #13907.

[2019-05-30 08:49] richard67 commented on #24980
Anyone here who wants to fix this?

[2019-05-30 10:07] ReLater commented on #23425
This isssue isn't solved with current nightly. But I don't know if it should be reopened because of "Wait for final and new backend template atum 4!" whenever things like this issue are reported.
??????

[2019-05-30 10:21] Quy commented on #23425
Duplicate #21803

[2019-05-30 10:26] ReLater commented on #25017
I can confirm this issue. I've build a custom plugin and followed the documentation https://docs.joomla.org/Adding_changelog_to_your_manifest_file

Before that I've tested with the component of first comment here with the same negative results.

Everything's OK in view "Extensions Manage"
![30-05-_2019_12-18-53](https://user-images.githubusercontent.com/20780646/58626630-899e2b00-82d5-11e9-97e3-cb

[2019-05-30 10:32] #23425 closed, assigned to nobody

[2019-05-30 10:34] Ferriero opened #25063 "Modern URL Routing"
### Steps to reproduce the issue

Hi everyone

I activated the modern URL Routing and set Remove ID from the URLs to yes.

Since I made the links obtained with "Link article" no longer work if the article is not part of the same category.

In addition to manually changing the links (which I would like to avoid) what can I do?

Here's where to find the links:
Links that do not work: open "Da visita

[2019-05-30 10:38] franz-wohlkoenig commented on #25063
Please ask on [Forum](https://forum.joomla.org/)

[2019-05-30 10:38] #25063 closed, assigned to nobody

[2019-05-30 11:03] ReLater commented on #25017
Addition:
After installation of my plugin field `changelogurl` in database table `#__updates` is empty (NULL).

![30-05-_2019_12-57-03](https://user-images.githubusercontent.com/20780646/58628826-08499700-82db-11e9-9668-7bbf09afb038.jpg)

When I add it manually I see the Changelog button but the update changelog for version 0.0.2 is empty, too.

![30-05-_2019_13-02-13](https://user-images.githubus

[2019-05-30 11:21] ReLater commented on #25017
Addition 2:

I sse now 2 Changelog buttons. But both open the same empty changelog of my plugin version 0.0.2

![30-05-_2019_13-06-41](https://user-images.githubusercontent.com/20780646/58629184-0cc27f80-82dc-11e9-8a4e-e90d57cac404.jpg)

And when I make a database fix for `Joomla CMS` my manually added `changelogurl` is removed from database table `#__updates.` Somehow weird. At least too weird fo

[2019-05-30 11:30] ReLater commented on #25061
And just partially related: https://github.com/joomla/joomla-cms/issues/23425

[2019-05-30 11:44] roland-d commented on #25017
I will take a look

[2019-05-30 12:11] roland-d commented on #25017
This is also related to PR #24890 which I need to fix again due to the conflict.

@ReLater There is an issue with your manifest file. This manifest file: https://raw.githubusercontent.com/ReLater/plg_system_changelogtest/master/updateserver-infos.xml has no `changelogurl` tag in it. That is why it is missing from the updates table.

See my test manifest file here: https://rolandd.com/24026/lists.x

[2019-05-30 12:19] roland-d commented on #25017
Now that #24890 is merged, you may want to update your test installation as well. This contains some important fixes.

[2019-05-30 13:45] ReLater commented on #25017
I tried it without and with tag but then had the empty popup and was unsure... I've added an example code to the documentation to clarify which manifest file we talk about:
https://docs.joomla.org/Adding_changelog_to_your_manifest_file

[2019-05-30 13:47] roland-d commented on #25017
The empty popup is because of issue #24890 It should work after you have those changes. In case you use the nightly build, you will have to wait till tomorrow, otherwise you need to run `npm run build:js` from the root folder.

[2019-05-30 13:53] ReLater commented on #25017
Thanks! Will wait for the next nightly.

[2019-05-30 14:45] hgh-esn commented on #25017
@roland-d

Thanks for your quick work - I'll wait also until the next nightly tomorrow.

I have this issue , but I have the `changelogurl tag` in my manifest-file.

[2019-05-30 15:09] Waldbaer88 commented on #24980
I'm glad that my problem finally got clear. I'm sorry if I did not succeed in communicating this earlier...

I remember having added a pull request some days ago (following the tutorial alikon pointed out) fixing this problem by inserting some lines [here](https://github.com/joomla/joomla-cms/blob/37d3df819a58d63e864eae6dd6649d030524a8f2/components/com_tags/models/tag.php#L181). I also used #24980

[2019-05-30 15:13] roland-d commented on #24980
@Waldbaer88 We do not delete pull requests. As far as I can see your pull request did not come through. You can check your pull requests at this link:
https://github.com/joomla/joomla-cms/pulls/Waldbaer88

[2019-05-30 15:59] #24980 closed, assigned to nobody

[2019-05-30 15:59] Quy commented on #24980
Please test PR #25065<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24980">issues.joomla.org/tracker/joomla-cms/24980</a>.</sub>

[2019-05-30 19:47] brianteeman opened #25066 "[4.0] Custom fields warning"
### Steps to reproduce the issue
Create a new custom field for content

### Expected result
Form with no errors

### Actual result
The following warning at the top of the page

`Warning: Declaration of PlgFieldsRepeatable::onCustomFieldsPrepareDom($field, DOMElement $parent, JForm $form) should be compatible with Joomla\Component\Fields\Administrator\Plugin\FieldsPlugin::onCustomFieldsPrepareDom($

[2019-05-30 20:10] SharkyKZ commented on #25066
Test PR #25067 please.

[2019-05-30 20:13] #25066 closed, assigned to nobody

[2019-05-31 00:07] iwjoomla commented on #24729
Just to follow up, the problem is now fixed.  The PHP 7.1 extensions "xmlreader" and "xmlwriter" were enabled on the server...  and now Users->Manage->Admin (in this case) displays correctly.
Thanks for everyone's help and suggestions.

[2019-05-31 07:37] infograf768 commented on #23063
Looks like there were some changes recently.
Without modifying the version. I still get the error
`PHP Warning:  Creating default object from empty value in /Applications/MAMP/htdocs/joomla40/libraries/src/Updater/Update.php on line 299`
Looks like the empty value comes from the language packs (which are 3.x packs) as I have 3 packs.
but no more `Unknown Error` in the `Compatible` column.
<img wid

[2019-05-31 12:57] ReLater commented on #25017
Tested successfully. All issues are solved.
Thank you!

[2019-05-31 13:23] #25017 closed, assigned to roland-d

[2019-05-31 13:23] Barbara0000 opened #25073 "Published, but is Pending"
### Steps to reproduce the issue
I want to add an article in one of my pages, on the english language. Every time when I am adding new articles, at 1/3 pages I get a problem where my article is not published.
I do exactly the SAME things in all 3 languages, but from some reason, I always get this mistake (not always in the same site, so each time differently).
Then, sometimes I do again, the SAME

[2019-05-31 13:28] #25073 closed, assigned to nobody

[2019-05-31 13:28] alikon commented on #25073
please ask support on forum https://forum.joomla.org/<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25073">issues.joomla.org/tracker/joomla-cms/25073</a>.</sub>

[2019-05-31 13:29] HLeithner commented on #25073
And you should really upgrade your joomla installation.

[2019-05-31 13:31] inwebhawk commented on #20878
Worked for me, Thanks.

[2019-05-31 14:28] ReLater opened #25074 "PLG_LOADMODULE_XML_DESCRIPTION should mention loadmoduleid"
### Steps to reproduce the issue
- Joomla 3
- Go to settings of plugin "Content - Load Modules".
- Read the description.
- `loadmoduleid` alternative is not mentioned.

### Additional comments
https://github.com/joomla/joomla-cms/blob/staging/administrator/language/en-GB/en-GB.plg_content_loadmodule.ini#L14
https://github.com/joomla/joomla-cms/blob/staging/administrator/language/en-GB/en-GB.plg_co

[2019-05-31 18:48] Hackwar commented on #7579
I agree that this wpuld be a bug, however testing with current 4.0-dev, I can not reproduce this error anymore. Could someone else please check this, too? In the best case we can mark this one as already solved. 😄

[2019-05-31 19:52] hgh-esn commented on #25017
@roland-d
sorry, I could get it to run, but I haven't any content in the popping up modal.

@ReLater
Do you have content in the modal?

[2019-05-31 21:05] #25074 closed, assigned to nobody

[2019-05-31 21:06] Quy commented on #25074
Please test PR #25076<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/25074">issues.joomla.org/tracker/joomla-cms/25074</a>.</sub>

[2019-05-31 21:11] #9010 closed

[2019-05-31 21:11] Quy commented on #9010
Please test PR #25077<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9010">issues.joomla.org/tracker/joomla-cms/9010</a>.</sub>

[2019-05-31 21:17] Hackwar commented on #9010
That was quick. For all who followed this issue: After some carefull consideration, it simply seems as if this tag is not necessary and should simply be removed. To confirm, please test #25077. Thank you!

[2019-06-01 04:28] franz-wohlkoenig commented on #7579
Changed Status to "Infomration required".

[2019-06-01 08:31] roland-d commented on #25017
@hgh-esn Make sure you have the last nightly build. This contains all the needed changes to make it work.

[2019-06-01 09:39] ReLater commented on #13674
As far as I see the extension id is unknown yet when `onExtensionBeforeUpdate` is triggered. Thus it must be calculated in the plugin itself based upon the manifest data with a db query OR the logic of the core Installer/Update process must be changed significantly.

I just flew over the code and don't see a practicable/acceptable way.
Objection welcome ;-)

With other words: I would close tis iss

[2019-06-01 09:46] franz-wohlkoenig commented on #13674
closed as stated above as it can always reopened if needed. thanks @ReLater

[2019-06-01 09:46] #13674 closed

[2019-06-01 11:23] richard67 commented on #7579
Unfortunately the screenshots linked in the issue description are not available anymore.
I've tested with current staging and 4.0-dev, and behavior is the same on both.
So if I understand the issue description right, then it is still an issue in both staging and 4.0-dev.
But if I understand it wrong, the issue is solved in both staging and 4.0-dev.
Would be helpful to get info from @RoterNagel , m

[2019-06-01 11:40] ReLater commented on #25017
Yes. All worked as expected after update to before-last nightly.
Maybe you want to test and check my plugin https://github.com/ReLater/plg_system_changelogtest . All relevant files can be seen in the master branch.
Install release 0.0.1!

Only the close buttons of the popups don't work corecctly but as far as I see that's a CSS issue.
![01-06-_2019_13-30-40](https://user-images.githubusercontent.c

[2019-06-01 11:43] Hackwar commented on #7579
The way I understand it, the problem is, that menu items were not changed correctly when changing the parent of a menu item. The way that I expect it to work: You have 4+ menu items, parent1, parent2, child1.1, child1.1.1, child1.1 is the child of parent1, child1.1.1 is the child of child1.1. If you change child1.1 to be the child of parent2, then child1.1.1 should still be the child of child1.1,

[2019-06-01 11:49] richard67 commented on #7579
I had 2 menus, in 1st menu 1st item with parent = root and 2nd item with parent = 1st item.
Now edited menu item 1 and changed menu from 1st menu to 2nd menu.
Result: 1st menu item moved to 2nd menu, 2nd menu item remained in 1st menu. Parent seems to be set right (root), but I think level and lft/rgt stuff might be wrong. So it looks weird in menu items list regarding level, and the tab where you

[2019-06-01 12:54] richard67 commented on #7579
In database, parent menu item of 2nd menu item is still 1st menu item, but if you edit the 2nd item, it shows "Menu item root" as parent item. If you now save without having done any changes in the edit view, the display in the list view becomes correct regarding menu level, and the parent item in database (and i guess also the lft and rgt values) are set correct.

This is all true for both curren

[2019-06-01 13:02] brianteeman opened #25080 "[4.0] Regression creating fields"
If a field does not have a params/fieldname.xml with a fieldparams fieldset then you can not save the field

### Steps to reproduce the issue
Try to create a new color field

### Expected result
Field successfully saved

### Actual result
![image](https://user-images.githubusercontent.com/1296369/58748823-b38e5380-8475-11e9-8415-64dddfcfbb38.png)

Save failed with the following error: Field 'field

[2019-06-01 13:02] richard67 commented on #7579
The 2nd menu item in the list view after having moved its former parent to the other menu:

![Tes-issue-7579-J3_menuitems-1](https://user-images.githubusercontent.com/7413183/58748746-2818c080-847d-11e9-8161-c81d1874c73c.png)

You can see it is shown as 2nd level, level 1 is missing.

In comparison the 1st menu item, which has been moved from 1st to 2nd menu, looks ok in the list view:

![Tes-issu

[2019-06-01 13:06] richard67 commented on #7579
It happens only when you change the menu for a menu item which has childs in the edit view of that menu item:
![Tes-issue-7579-J3_changed-menu-for-menuitem-1](https://user-images.githubusercontent.com/7413183/58748878-d5d89f00-847e-11e9-9ed6-22542a98faf7.png)

[2019-06-01 15:12] Quy commented on #23051
I cannot reproduce.

[2019-06-01 15:14] franz-wohlkoenig commented on #23051
closed as stated above, Issue can always reopened.

[2019-06-01 15:14] #23051 closed, assigned to nobody

[2019-06-01 16:16] xillibit commented on #24857
In this case it should have KunenaAttachment object not stdClass

[2019-06-01 20:57] #22266 closed, assigned to nobody

[2019-06-01 20:57] Quy commented on #22266
Closing to due no response and unable to replicate per test instructions.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22266">issues.joomla.org/tracker/joomla-cms/22266</a>.</sub>

[2019-06-01 22:07] Quy commented on #22110
@franz-wohlkoenig Can you reproduce with the latest version?

[2019-06-02 01:58] Quy commented on #22247
I consider the wording to be fine since events are different actions that can occur for the selected components.

[2019-06-02 02:21] Quy commented on #22507
Please test https://github.com/joomla-projects/custom-elements/pull/119

[2019-06-02 02:34] Quy commented on #23142
Lets decide if to include Office 365 files, including docx, pptx, xlsx only.

[2019-06-02 02:40] N6REJ commented on #21071
Gotta love subtleties

[2019-06-02 04:59] franz-wohlkoenig commented on #22110
@Quy no testing anymore.

[2019-06-02 07:47] natiki commented on #25025
Hi,

Looks like mcrypt support is still listed on the website? (see screenshot) Also I cannot see definitively which version of J! no longer requires mcrypt support? And if we are going to be removing it from the website we need to indicate this J! version as well, because otherwise upgrading PHP becomes hit and miss.

![image](https://user-images.githubusercontent.com/4738140/58758388-2ecb3480-85