[2020-02-03 03:14] korenevskiy commented on #27758
Friends, good day to all.
I looked at screenshots with pre-existing ISIS variants. This is great. Evolution was on the face. The style became flat, but the perception remained high.
In my work, I always make sites using Protostar and Cassiopeia. This is convenient, all libraries are connected, Bootstrap and Jquery are connected, and Default settings are reset. Great-earth. I'm defining panels and

[2020-02-03 03:25] korenevskiy commented on #27758
Unfortunately, I couldn't see j4adminui/khonsu, so I copied this template to my build. I was shown an error, there is no CSS folder. Will someone show a screenshot of 4adminui/khonsu ?

[2020-02-03 03:47] korenevskiy commented on #27758
Here on Github you can see tabs at the top of the page. It's intuitive, it's understandable. You can immediately see that these are tabs. The blue tabs in the middle of the screen in the article editor are not perceived clearly. When you take a car to kashernig or rent it, you get into someone else's car, no matter how different and foreign it was, the car always has a steering wheel, the turn swi

[2020-02-03 06:59] tgv604 commented on #23077
No fix, apparently no one cares, but in the meantime you can put this js in your template

[code]

[2020-02-03 07:10] brianteeman commented on #26652
Sorry I see it now. I was trying the edit button

[2020-02-03 07:20] infograf768 commented on #26259
Setting as Release blocker.

@Bakual
Please follow up on your merged PR.

[2020-02-03 07:44] HLeithner commented on #23077
It would really be great if @tgv604 can make a proper PR we could test, merge and finally fix this bug.

thx

[2020-02-03 08:24] brianteeman commented on #26652
Please test #27782

[2020-02-03 08:24] #26652 closed, assigned to nobody

[2020-02-03 08:30] brianteeman commented on #24503
I think we can close this placeholder now

[2020-02-03 08:30] #24503 closed, assigned to wilsonge

[2020-02-03 08:32] brianteeman commented on #24495
@bembelimen is this still being worked on? If you started and don't have time to finish can you share what you have done so far and then others can take it on. Please

[2020-02-03 08:32] brianteeman commented on #24299
@SniperSister any update?

[2020-02-03 09:02] ceford commented on #27752
With a flash of inspiration I solved this problem in a couple of minutes, that after spending two days from dawn til midnight stepping through the code with the debugger to try to find out what was going on, without success. This is the story:

I often run more than one local Joomla website for development purposes so I need to set the cookie path. So I did a new install of the latest nightly buil

[2020-02-03 09:08] SharkyKZ opened #27784 "[4.0] How to override HTMLHelper methods?"
In J3 we have `Joomla\CMS\HTML\HTMLHelper::register()` method but in J4 it's deprecated in favor of `Joomla\CMS\HTML\Registry` but that one seems to handle only classes, not specific methods.

[2020-02-03 09:14] alikon commented on #27752
https://docs.joomla.org/Category:Tips_and_tricks/  or https://docs.joomla.org/Category:FAQ

[2020-02-03 10:17] chmst commented on #27758
Hi folks, why don't you save your breath to make as wonderful template? Moaning and knowing better is easy. Doing better is required. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27758">issues.joomla.org/tracker/joomla-cms/27758</a>.</sub>

[2020-02-03 10:33] brianteeman commented on #24662
Closed see #27785

[2020-02-03 10:33] #24662 closed, assigned to nobody

[2020-02-03 11:15] ceford opened #27786 "[4.0] Admin login javascript needs try/catch"
### Steps to reproduce the issue

In the admin global configuration set the wrong cookie path - I mistyped and did not notice.
Logout and try to login.

### Actual result

The login form does nothing. I spent two days trying to figure out what happened.

### System information (as much as possible)

This is mostly not relevant to this issue.
Joomla 4.0-beta1-dev nightly build from 2020/02/01 PHP7.

[2020-02-03 11:29] sanek4life commented on #27768
@mbabker This feature was made in 2005, along with the first version of Joomla. In 2005, no one shared content on social networks.

Now we live in a different world where people share links on social networks, and social networks have a requirement - this is a preview image for each link. But not all articles have images (for example: song lyrics or documentation), but it should be possible to spe

[2020-02-03 11:32] ceford opened #27787 "[4.0] Admin Global Configuration Cookie Labels"
### Steps to reproduce the issue

In Global Configuration set either Cookie Domain or Cookie Path to invalid values and logout.

### Expected result

Normal login.

### Actual result

You will not be able to login. The login form appears dead. You may not remember what you were doing before logging out and spend days trying to figure out what went wrong. I did!

### System information (as much as

[2020-02-03 11:35] ceford commented on #27752
I have created two separate more specific Tracker Items so this one can be closed. I don't see how to do that myself.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27752">issues.joomla.org/tracker/joomla-cms/27752</a>.</sub>

[2020-02-03 11:35] Quy commented on #27752
See #27787 #27786

[2020-02-03 11:35] #27752 closed, assigned to nobody

[2020-02-03 11:43] Polm90 commented on #23077
Thank you, it works with this fix!

[2020-02-03 12:17] SharkyKZ commented on #27755
I noticed that `HTML::_()` registers methods if they're not registered yet. Maybe `HTML::isRegistered()` should do the same?

[2020-02-03 12:19] andriesbron opened #27789 "Joomla installation issue Mac OS 16" Catalina and MAMP 5.6"
### Steps to reproduce the issue

Mac OS 16" Catalina
MAMP 5.6
Download latest Joomla
put it in the htdocs of Mamp
Make all directories readable+writable for everyone (development reasons)
Browse with Safari to the site

### Expected result

See Joomla installation page

### Actual result

Safari shows server too busy, dropped the connection.

### System information (as much as possible)

0   libx

[2020-02-03 12:43] ceford opened #27790 "[4.0] htaccess.txt fix for resource waste"
### Steps to reproduce the issue

Create a page with any broken image, css or js link.

### Expected result

Page renders as expected. But...

### Actual result

If you put the link in the browser url field you well get a standard Joomla Page Not Found page. Joomla has loaded the application stack to return a 404 Not Found page for every such broken link. And the browser has not used them - it onl

[2020-02-03 12:50] andriesbron commented on #27789
Reloading the page several times sometimes shows the page. This looks like a process on my PC is disturbing something rather than Joomla!<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27789">issues.joomla.org/tracker/joomla-cms/27789</a>.</sub>

[2020-02-03 12:54] ceford opened #27791 "[4.0] Custom jdoc position in Admin atum template"
Would it be possible to add a custom jdoc position to the atum template index.php file just before header? For me it would be the location of a custom top menu which I have created and tested. It just needs a line in index.php and a position in templateDeatails.xml. Example:

	<jdoc:include type="modules" name="topmenu" style="none" />
	<position>topmenu</position>

This change would avoid the nee

[2020-02-03 12:59] mbabker commented on #27784
Use the registry for services, subclass the class whose method(s) you want to extend, and treat it as any other PHP class going forward.

[2020-02-03 12:59] Bakual commented on #26259
@infograf768 That's not my task and I never said I'd do that.
It's exactly as @SharkyKZ wrotes, the template copy needs to take care of all assets (language files obviously included), not just simply copy the folder. If it properly reads and copies the assets, then the language file issue is solved as well.

[2020-02-03 13:01] brianteeman commented on #27791
Just submit a pull request

[2020-02-03 13:08] mbabker commented on #27790
This should not be in the htaccess file by default.  It is perfectly acceptable to have a PHP application generate these “static” resource types, even if less performant than serving a file; this opinionated of a rule in the default file would effectively make it impossible for extensions to serve responses for these file types if they were configured to be able to do so.  You are welcome to custo

[2020-02-03 13:11] mbabker commented on #27768
That’s why I suggest different fields for these types of images, not misusing the existing image fields which serve an explicit purpose for use in the frontend layout.  Note I’m not flat out saying that the idea here is wrong (some kind of field for managing social media imagery), but the approach you’re suggesting IMO is wrong.

[2020-02-03 13:14] mbabker commented on #27768
Core does not have to have every imaginable feature within it for the CMS to be successful.  It is perfectly fine to send users to the extension ecosystem to add on capabilities to their websites.  The problem is basically always one of people thinking some feature must be in the core CMS, usually for some pretty arbitrary or limited reason.

[2020-02-03 13:16] mbabker commented on #27755
An isser should not act as a setter.

[2020-02-03 13:17] SharkyKZ commented on #27784
So no more granular control over methods? In J3 it was possible for different plugins to override different methods of the same service.

[2020-02-03 13:20] SharkyKZ commented on #27755
And `HTMLHelper::_()` should?

[2020-02-03 13:29] SharkyKZ commented on #27769
It looks like this image is using JCaption. It actually fits the image to screen width but it does not recalculate on window resize.

[2020-02-03 14:42] blueforce commented on #27758
we already have a «doing better» one as you know...but «own rules» block a better solution...

[2020-02-03 14:58] SharkyKZ commented on #27784
Not only to override but now it's not possible for different plugins to add new methods. So this code is going to break completely:

https://github.com/joomla/joomla-cms/blob/20b306e68edf4d5c7ef14a87cd33c311275838e5/components/com_users/tmpl/profile/default_params.php#L27-L35

[2020-02-03 15:22] sanek4life commented on #27768
@mbabker You created Joomla 15 years ago. But you forgot that Joomla was created as a CMS.
CMS = content management system.

I do not ask to add a slider or the possibility of buying on the website.
What I wrote about relates to the basic functions of the CMS in 2020.

You can add another, additional field - for example, "image for social networks." In which you can, for example, make such a param

[2020-02-03 15:24] sanek4life commented on #27768
@mbabker I believe that Joomla should continue to develop way in order to make publishing content on the site more convenient and better than now.

CMS is a tool for publishing and managing content. I'm not talking about the functions of an online store or forum or gallery or something similar. Why doesn't Joomla develop features for publishing content?

[2020-02-03 15:25] brianteeman commented on #27768
Your solution works for you.
It does not work for me as I use that field for my intro image

Do you see the problem?

[2020-02-03 15:26] sanek4life commented on #27768
@brianteeman We can add another field, as I wrote above.

[2020-02-03 15:28] brianteeman commented on #27768
and then we are back to exactly what @mbabker said in the beginning.

this is going to go nowhere using the images and links functionality for social media links is not the correct thing to do.

[2020-02-03 15:28] #27768 closed, assigned to nobody

[2020-02-03 15:55] mbabker commented on #27755
With the way the API was originally designed (runtime lookups for static functions in classes following a specific naming structure), the way the underscore method behaves is honestly the most efficient way to do it.  Deprecating the path lookup feature and the per-method key registration in favor of service classes gets things to the point that in 5.0 that method should not be registering anythin

[2020-02-03 16:08] mbabker commented on #27784
That example gets harder to deal with, but there are different ways to deal with it.

[code]

Granular control on a per method basis only works if you are only using the API design from when Joomla 1.6 was released when this feature was added (all methods must be static methods inside a class, i.e. no support for class instances with dependency injection which makes automated testing of any of the

[2020-02-03 16:24] Quy commented on #27752
@ceford See screenshot where you can make a comment or close issue.

![close](https://user-images.githubusercontent.com/368084/73670624-6bf04500-465e-11ea-9b77-1417ae29857b.jpg)

[2020-02-03 16:28] SharkyKZ commented on #27755
I just think this looks really dodgy:

[code]

[2020-02-03 16:48] mbabker commented on #27755
That's the side effect of supporting runtime resolution of the methods.  Without that, you're in an even weirder spot because you effectively have to manually register every method in every class explicitly on every request, and that's a lot of performance overhead.

[code]

[2020-02-03 16:56] mbabker commented on #27755
BTW, totally unrelated, but see if this replacement for [`HTMLHelper::call()`](https://github.com/joomla/joomla-cms/blob/20b306e68edf4d5c7ef14a87cd33c311275838e5/libraries/src/HTML/HTMLHelper.php#L312-L323) works OK without side effects, I think this should work OK for PHP 7.2+ without needing the temp array (and probably should be a bit more performant):

[code]

[2020-02-03 17:24] zero-24 commented on #27621
What happes when the update cache is cleared? Using Extensions -> Updates -> Clear Or Components -> Joomla! Update -> Clear cache.

[2020-02-03 19:02] ceford commented on #27791
I submitted a pull request - my first ever. And it scared the hell out of me when it said there were thousands of changes to commit. I had selected the staging branch rather than the j4dev branch. Changed that after a couple of minutes with a big sigh of relief.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://iss

[2020-02-03 19:13] alikon commented on #26175
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:14] alikon commented on #26058
Closing this  due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:15] alikon commented on #25970
Closing this  due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:15] alikon commented on #25721
Closing this  due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:15] #25721 closed, assigned to nobody

[2020-02-03 19:16] ceford commented on #27790
Thanks for the extended comments for why this was not a good idea. I first noticed the problem when the debugger went through umpteen page load cycles. That was because I was using 'onerror' in the img tag to fetch images from the production server if they did not exist on the development server. I think end-users should at least know about the issue.<hr /><sub>This comment was created with the <a

[2020-02-03 19:18] alikon commented on #25269
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:18] #25269 closed, assigned to nobody

[2020-02-03 19:18] brianteeman commented on #26058
@alikon what was the required information that you were seeking? From what I can see everything is here.

[2020-02-03 19:18] alikon commented on #25268
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:18] #25268 closed, assigned to nobody

[2020-02-03 19:19] alikon commented on #25013
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:19] Quy commented on #27791
Thank you for contributing! You will get the hang of it in no time. See #27793

[2020-02-03 19:19] #27791 closed, assigned to nobody

[2020-02-03 19:20] alikon commented on #25009
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:20] #25009 closed, assigned to nobody

[2020-02-03 19:20] alikon commented on #24997
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:21] brianteeman commented on #25013
@alikon What is this required information you are seeking. Just because no one responded to the report is no reason for it to be closed

[2020-02-03 19:21] alikon commented on #24952
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:22] alikon commented on #24946
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:22] #24946 closed, assigned to nobody

[2020-02-03 19:22] alikon commented on #24876
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:22] #24876 closed, assigned to nobody

[2020-02-03 19:23] brianteeman commented on #24952
This was not a bug report - it was a feature request

[2020-02-03 19:23] alikon commented on #24600
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:23] Quy commented on #27789
Please post in Joomla Forum for assistance https://forum.joomla.org/ . If a bug is found, please provide detailed information. Thanks.

[2020-02-03 19:23] #27789 closed, assigned to nobody

[2020-02-03 19:23] alikon commented on #24560
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:24] alikon commented on #24481
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:24] brianteeman commented on #24600
@alikon - please STOP blindly closing issues. This was a feature request not a bug report. There was no required information missing.

[2020-02-03 19:25] alikon commented on #24430
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:25] alikon commented on #24414
Closing this due to not receiving required information to determine if this is a bug or not. If you feel this still needs review, please open a new tracker entry with as much information as possible to ensure it can be reviewed properly

[2020-02-03 19:26] brianteeman commented on #24481
I am re-opening this - it should not be closed. Please Please stop closing issues without reading them. And please stop using a default text that has no relevance to the topic.

[2020-02-03 19:29] brianteeman commented on #24430
Re-opened -

[2020-02-03 19:30] brianteeman commented on #24414
@alikon what was the required information that was missing.

[2020-02-03 19:31] brianteeman commented on #24560
@alikon This was not a bug report it was a valid feature request

[2020-02-03 19:33] alikon commented on #24414
Mar 30, 2019 and no action so what is the point ?
but maybe you are right

[2020-02-03 19:33] brianteeman commented on #25970
@alikon what is this required information you are seeking. This is a very valid feature request not a bug report.

[2020-02-03 19:39] SharkyKZ commented on #27755
HTMLHelper does register non-static methods at the moment. Having that in mind, a simpler `get_class_methods()` would be in line with how it works now.

Thanks for your answers but they seem to be targeted at 4.0 and beyond while I'm looking for a solution for 3.x. Should we just revert that part in #10882 to fix a specific case and just ignore that services aren't being registered properly or can

[2020-02-03 19:43] alikon commented on #24600
sure,
but not blindly closing issues, only different approach

[2020-02-03 19:51] mbabker commented on #27755
No, there isn't any good way to fix that specific case.

The problem is the known callbacks aren't registered until they are called (i.e. do `JHtml::isRegistered('jquery.framework')` or `JHtml::isRegistered('date')` in an `onAfterInitialise` hook, they'll both be false there).  That goes back to the whole runtime resolution thing.  To get that to return true, you would have to explicitly call `JHt

[2020-02-03 19:55] mbabker commented on #27755
The change in https://github.com/joomla/joomla-cms/pull/10882/files#diff-5f1cbd8b480fca338736dce8ebfe2248L12-R12 is correct given the 3.x API design.  One should not be manually registering their HTML helper class to the autoloader AND manually registering each available callback via `JHtml::register()`.  They should be using `JHtml::addIncludePath()` and dealing with the fact that a service isn't

[2020-02-03 20:02] jwaisner commented on #26058
@brianteeman These were marked as information required by someone. They have been open with no updates for months. I do not think closing record that are in that state and offering the option to create a new entry is a problem. This tracker is not managed effectively and is difficult to navigate. From a reporting perspective this looks like we are sitting on multiple open items when in reality the

[2020-02-03 20:06] jwaisner commented on #24952
@brianteeman if this is a feature request from this far back and was tagged as "information Needed". Then something was missing at some point. Maybe it isnt the right status now, but no follow up as been completed and if it needs a different state then someone who felt it was a viable feature could have changed it to "confirmed" so someone can start a PR.<hr /><sub>This comment was created with th

[2020-02-03 20:10] mbabker commented on #24414
Did anyone even take the time to attempt to reproduce the issue or understand what the code is currently doing to cause this bug report to be submitted in the first place?  Or was everyone just hoping I might peak at it and answer and realize that 9 months later I never did and decided the item should go unactioned?

[2020-02-03 20:14] mbabker commented on #25013
This is a case where a reproducer is needed.  Since the original issue report says that the component class' `boot()` method isn't being called, it could very well be there is something misconfigured about the component or there could be some edge case being run into that the code isn't handling.  This one is legitimately something to put a "if no response after X then close" condition on, but usu

[2020-02-03 20:15] brianteeman commented on #26058
It might have been marked as information required (not on github only on jissues) but that was before @infograf768 commented and confirmed the report. The solution to "outdated" issues is not to blindly close them. In this specific example I personally would have just removed the information required label as it was clearly out of date and there was no outstanding information. In particular the co

[2020-02-03 20:16] alikon commented on #24414
it seems that my view on issues management it is far from yours....
but that's Ok

[2020-02-03 20:18] mbabker commented on #26175
All of the required information is there!

This is a feature request to trigger before/after events on drag and drop reordering.  Hell, it could easily be done if the controller actions handling that were using the existing model `save()` method which triggers the `onContentBeforeSave` and `onContentAfterSave` events.

If you're closing feature requests because nobody has acted upon them, then use

[2020-02-03 20:27] SharkyKZ commented on #27755
I don't think so. We'd really need just the same logic as in the underscore method. And once service key is successfully registered, we'd pull it from the registry so no huge penalty here.

[2020-02-03 20:41] mbabker commented on #27755
That would be a huge B/C break.  And would become a burden for contributors as core would have to boot up the internal registry of known JHtml helper functions on every request and seed it with all of the core HTML helpers (the public methods of `JHtml` itself and all of the helper classes in `libraries/cms/html`).  You either end up with dynamic code that introduces a very noticeable performance

[2020-02-03 21:14] brianteeman opened #27794 "[4.0] RFC metatags preview"
Is there any interest in something like this being part of the core

https://metatags.io/

Basically it would be in addition to the meta fields that we have and would provide a live preview of how the page would appear when shared on a variety of platforms

[2020-02-03 21:19] brianteeman commented on #27787
Whilst it was unfortunate what happened to you I dont believe that the user interface is the place to document everything.

In this particular example do you really believe that the message would have prevented you entering an invalid value. I don't as presumably you thought it was correct when you entered it.

[2020-02-03 21:20] brianteeman commented on #27765
@bakual is there anything still to do here or did I address everything in my PR

[2020-02-03 21:30] brianteeman commented on #27740
I could not replicate that
![image](https://user-images.githubusercontent.com/1296369/73692271-e7d4a680-46cb-11ea-8a85-68b32fb5a326.png)

Secondly and perhaps more importantly you cannot have a clickable link inside a bootstrap tooltip as you can never move your mouse into the tooltip to click on it.

[2020-02-03 21:38] Fedik commented on #27794
That would be a nice feature, I think

[2020-02-03 21:50] micker commented on #27794
yes realy good !

[2020-02-03 22:26] brianteeman commented on #27708
For background I can recall at least 3 separate times that we have had contributions as a result of a sponsorship - each time with major issues

1. As soon as the code was delivered the developer and sponsor ceased their involvement leaving Joomla with unmaintainable code that was eventually removed after years of not working.

2. The code was completed after 18 months during which time no one did

[2020-02-03 22:31] brianteeman commented on #27761
Sorry for the quick reply before. The explanation behind making that reference is that it has always been a policy of Joomla that any core feature must be available on all supported platforms and browsers.

You are correct that it wont break a website but it will most likely confuse users for whom a feature does not work.

[2020-02-03 22:33] Bakual commented on #27765
I think you got the icon covered.
But here it is about the special menuitems (dashboard/quicktask) which can't yet be added by 3rd parties. I'm quite sure that needs changes in the installer itself and maybe also in the CssMenu class.

[2020-02-03 22:40] brianteeman commented on #27765
iirc  quicktask is the same as the add new function in joomla 3. Was that available to extensions?

[2020-02-03 22:55] brianteeman commented on #27765
Found the answer for the dashboard

https://github.com/joomla/backend-template/issues/264

[2020-02-03 22:57] rdeutz commented on #27708
I am not against paying people for doing work on Joomla! I am against give up control in which direction Joomla! moves.

What is missing in the proposal is, what happened when something a company is working on is not included and the final PR is closed without merging? Do we add a message company X worked on this but is doesn't hit the level of quality we need.

Instead of looking for a bit of a c

[2020-02-03 23:27] korenevskiy opened #27796 "[4.0] Add function in modules for disable module in php this module."
### Is your feature request related to a problem? Please describe.
It is not possible to change the display of the module itself in the module code.
In the module, I make a check to display the module only for a Component, only for a Category, only for an Article, only for a menu item, or only for Mobile devices. After checking, I forbid showing the module. For example, you don't need to show a sl

[2020-02-03 23:33] ReLater commented on #27761
I can't find any evidence on the page you've linked to that is proving this statement. i only see a discussion there. And I find some good arguments there to NOT integrate it in core in a overhasty way.

[2020-02-04 01:00] korenevskiy commented on #27758
![Joomla 4 Editor](https://user-images.githubusercontent.com/6898474/73703991-c2af5a80-4702-11ea-8df2-763f82857f67.png)
Maybe something like this.

[2020-02-04 01:22] Quy commented on #27572
Partial fix #27798. The remaining fix will be upstream at Bootstrap.

[2020-02-04 01:43] korenevskiy commented on #27784
Fully support. For example, you could create a plugin that modified the methods for the Joomshopping component. This way Joomshopping could be updated via the update server. However, Joomshopping could use a modified plugin method.

[2020-02-04 02:29] korenevskiy commented on #27758
Draft 2
![Joomla 4 Editor 2](https://user-images.githubusercontent.com/6898474/73708382-42dbbd00-470f-11ea-87fc-dd8ea904c51d.png)

[2020-02-04 04:07] korenevskiy commented on #27784
Hey, what happened to the wide switches?
Before
![J4 publish+](https://user-images.githubusercontent.com/6898474/73713001-e54e6d00-471c-11ea-861c-e13c222411ff.png)
After
![J4 publish-](https://user-images.githubusercontent.com/6898474/73713017-f13a2f00-471c-11ea-8f1d-00e9b5f7f41f.png)

[2020-02-04 04:08] korenevskiy commented on #27758
Hey, what happened to the wide switches?
Before
![J4 publish+](https://user-images.githubusercontent.com/6898474/73713049-0d3dd080-471d-11ea-8948-9e2d9713b92e.png)
After
![J4 publish-](https://user-images.githubusercontent.com/6898474/73713063-1333b180-471d-11ea-929a-c1ce622192f1.png)

[2020-02-04 04:19] chandanndeep commented on #24997
@alikon
This is not a bug. If you read this post. Am talking about new feature.

[2020-02-04 05:34] korenevskiy commented on #27758
Still, it would be cool to use the full J3 style.

[2020-02-04 07:02] SharkyKZ commented on #27755
Sorry, but I didn't suggest any of that. My idea is just to have `isRegistered()` return `true` if the method can be managed by `HTMLHelper` (same way `_` method works), and perhaps optionally register it. If it's not suitable for this method (I do think it would be weird to have it return `true` after `unregister()` call), maybe a new method can be introduced.

And for 4.0, either I have no idea

[2020-02-04 07:05] ceford commented on #27787
My motivation was to help prevent some unfortunate soul losing a site. I notice that there is no descriptor for the Cookie Path field (COM_CONFIG_FIELD_COOKIE_PATH_DESC is not present in the language file). If there were a helpful message I would have seen it in one of the other sites I created and it might have helped me figure out what went wrong. And no coding involved! Should I go back to the

[2020-02-04 07:26] jeckodevelopment commented on #27708
Thanks everyone for sharing their feedback on that.
I really appreciate your input.

As mentioned in the beginning, this was an idea that has been around for several months (or years) now and I thought that GH would have been the right place to discuss it and get your inputs and think IF and eventually HOW this could be done.

[2020-02-04 07:42] #27713 closed, assigned to nobody

[2020-02-04 07:42] SharkyKZ commented on #27713
Closing as duplicate #23077.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27713">issues.joomla.org/tracker/joomla-cms/27713</a>.</sub>

[2020-02-04 07:52] Bakual commented on #27765
Yes, it looks the same (not sure if technically, it's done the same). No it wasn't available to 3rd party. That's why haven't filed this as bug but as feature request.

I'll have to find sometime to dig into this a bit more. I think I got the clues together to find a solution, just no time yet 😄

[2020-02-04 07:57] chmst commented on #26704
Can't reproduce.
Clean Joomla! 4.0 dev
Firefox Macintosh.
same result as @Quy

[2020-02-04 08:15] brianteeman commented on #27787
I really dont agree that this description would have helped you. It is no different to lots of fields where the incorrect values will kill your site

[2020-02-04 09:05] simbus82 commented on #27794
Thank you @brianteeman! This is a great feature that i want to see in a CMS that have to help people's websites to be performant and useful: it's a **SEO feature** too!
I'm a SEO and a feature like this is great! It can be **really useful for social sharing** too.

About the feature to preview snippets, i can say that the **only problem** will be manage in the time "how" search engines (Google, Bi

[2020-02-04 09:06] ceford commented on #27787
OK. Let's forget it. I will close this issue.

[2020-02-04 09:06] brianteeman commented on #27794
One of the reasons for making this an RFC is that my other pull requests to improve meta data are all still waiting tests and approval

[2020-02-04 09:07] brianteeman commented on #27787
It will be useful to add this to the docs web site

[2020-02-04 09:07] #27787 closed, assigned to nobody

[2020-02-04 09:16] impressionestudio commented on #27758
@korenevskiy, the screenshots you added have improvements that I like, but I feel like they are some minimum improvements in order for us to be able to accept a design which mostly is bad. I would prefer more radical changes/improvements and I hope that people will also think towards this direction than patching again and again the existing template.

[2020-02-04 09:29] chmst commented on #27758
@korenevskiy Can you make a PR's for that? Everyone is free to make PRs for everything. Be careful with rtl languages or languages with longer words and smaller devices.

@impressionestudio "The people" is you! Every PR has the chance to be merged.

[2020-02-04 09:37] brianteeman opened #27801 "[4.0] Show Password accessibility"
While testing #27733 I discovered a new accessibility issue with the show password button. When you press the button the password is revealed - which is correct. But there is no indicator that this has happened to a non sighted user.

After looking around to see how others address this I see it is a common failure (but that's not a reason for us not to fix it if we can)

The best example I have se

[2020-02-04 09:48] korenevskiy commented on #27758
@impressionestudio
I agree completely.
Using these fixes, I continued on. And I realized that more and more I want to use from ISIS.
I believe that a good design will take time. I'll try to work on the design again. But I would also suggest having a 2nd template in J4 that fully matches the ISIS style. Buttons, menus, everything already set up in ISIS should be combined with ATUM, thus creating IS

[2020-02-04 10:11] Bakual commented on #24997
Actually, TincyMCE would support inline editing. And with the new API endpoints in J4, I suppose it could be doable.
Personally I think it would be a great idea.

[2020-02-04 12:01] ghost-in-the-machine-web commented on #27801
test

[2020-02-04 12:08] richard67 commented on #27794
@brianteeman Would it be helpful if you post a list here as reference so we can find them more easily?

[2020-02-04 12:15] brianteeman commented on #27794
https://github.com/joomla/joomla-cms/pull/27359
https://github.com/joomla/joomla-cms/pull/25258

[2020-02-04 12:16] richard67 commented on #27774
Maybe related issue #25033 . @N8Solutions Could you check if this is the same issue as you have and if the [workaround mentioned here](https://github.com/joomla/joomla-cms/issues/25033#issuecomment-498429171) and described [more in detail here](https://github.com/joomla/joomla-cms/issues/25033#issuecomment-498635259) works for you, and if the [explanation provided here](https://github.com/joomla/j

[2020-02-04 12:51] rdeutz commented on #27759
I agree should be fixed in 3.x, maybe we cam try/catch the db queries but working on installer code is far from fun. I removed the release blocker label. A workaround is to unstall the extension as far as I know. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27759">issues.j

[2020-02-04 13:08] mbabker commented on #27755
Calling `isRegistered()` should not attempt to register anything.  It violates SRP and is architecturally incorrect behavior.

With the service registry, `register()` and `isRegistered()` start to go away.  From the outside, there won’t be an API anymore to check if a specific method exists somewhere.  It is a tradeoff to replacing the existing system, but it must be done.

You have already pointe

[2020-02-04 13:10] brianteeman commented on #25869
see #27803

[2020-02-04 13:10] #25869 closed, assigned to nobody

[2020-02-04 13:12] brianteeman commented on #25892
I am going to close this in the absence of a suggested solution based on the comments of @HLeithner and @mbabker above

[2020-02-04 13:12] #25892 closed, assigned to nobody

[2020-02-04 13:25] chandanndeep commented on #24997
@Bakual
Yes, I Agreed

[2020-02-04 13:27] brianteeman commented on #25819
$db->quoteName('cc.core_publish_up'),

Yes that is correct. Just not sure if it should go into core as whee do you stop adding stuff. Should author and category also be added. What about intro image etc

[2020-02-04 13:32] brianteeman commented on #25620
@Open2logic still waiting

[2020-02-04 13:33] brianteeman commented on #25143
@HLeithner anything happening here?

[2020-02-04 13:48] jjnxpct commented on #25819
Good point. I do think pub date is more 'essential' the others. But sure, why not add author and category? ;-) Also, it would be very nice to be able to sort on the pub date... But it's just what I would use / need. So if this is not for the core, no problem for me.

[2020-02-04 14:26] Open2logic commented on #25620
When you want a registration form in Joomla you can only call the component.
I was not sure whether to finish the plugin or make a module to show the registry component but with the option of group assignment. In this way, we not only gained the functionality of the group assignment but we could not have the Joomla registration form in a module and we can show next to an article. After testing I t

[2020-02-04 15:15] Simonwep commented on #27538
@brianteeman Maintainer of pickr here 👋
Accessibility was discussed in this [thread](https://github.com/Simonwep/pickr/issues/11) which was closed and required features implemented by @NateSeymour. lacymorrow also tested it with the Google's Accessibility Developer Tools [here](https://github.com/Simonwep/pickr/issues/167) and added missing features in [this PR](https://github.com/Simonwep/pickr/p

[2020-02-04 15:29] sanek4life commented on #27761
I believe that if it is in demand and it does not break the website, then it can be done! One way or another, in 1-2 years it will be available to more than 95% of users, so why not do it now, in advance? But we want to develop the global web, and most importantly - it does not break the website.

What difference does it add in 2 years, when it will be available to everyone, or now, if it does not

[2020-02-04 15:43] Quy commented on #26704
Closing due to non reproducible/response. Please test with the nightly build and advise browser if still an issue. Thanks.

[2020-02-04 15:43] #26704 closed, assigned to nobody

[2020-02-04 15:47] mbabker commented on #27755
If you really want the current method approach to work, there's a way to do it.  This is the basic prototype for the relevant methods in `Joomla\CMS\HTML\HTMLHelper` and `Joomla\CMS\HTML\Registry` without any compatibility layer, if you want to see it happen it shouldn't be much effort to work back in all the other stuff that should be deprecated.  The biggest thing here though is that the behavio

[2020-02-04 15:47] sanek4life commented on #27769
@brianteeman @SharkyKZ  I talked about same problem 4 years ago - [https://github.com/joomla/joomla-cms/issues/10051](https://github.com/joomla/joomla-cms/issues/10051)

and this problem is still not resolved, and now I again saw this problem on a new test site.

[2020-02-04 15:53] mbabker commented on #27761
Because the general philosophy in maintaining Joomla is that it does not conditionally introduce features that are only available to users running on the most current PHP platforms, or web server platforms, or visitors using the latest browsers; the core feature set is in part decided upon by what is supported in the lowest versions of whatever Joomla claims to support, or if a feature can be poly

[2020-02-04 15:58] mbabker commented on #27769
Inline CSS is still the incorrect fix.  The proper fix is to add the appropriate CSS to your template.

[2020-02-04 16:01] sanek4life commented on #27769
This is the standard template Protostar that everyone has in Joomla 3. It turns out that this is a problem of Joomla?

[2020-02-04 16:11] sanek4life commented on #27761
@mbabker I think that we need to change the philosophy of Joomla. And highlight the most important:

- [x] 1) This is in demand
- [x] 2) This does not break the website

And if both points are fulfilled, then you can add this to the CMS. But there is nothing wrong if the CMS will be developed? Why are new features added late in 1-2 years? You can do this now and wait for others to update their bro

[2020-02-04 16:19] sanek4life commented on #27794
@brianteeman I think this is great! This is needed in Joomla!
It may also be compatible with this request - [https://github.com/joomla/joomla-cms/pull/10932](https://github.com/joomla/joomla-cms/pull/10932)

[2020-02-04 16:27] mbabker commented on #27761
Nobody said Joomla is not open to new technologies.  What people are saying is that Joomla is not built in a way that it delivers a different experience based on if the website is running on a server powered by PHP 5.3 or 7.3, or if the application is interacted with by someone using Internet Explorer 11 or Edge 18.  It doesn't matter if "using this new feature doesn't break a website".

Your eval

[2020-02-04 16:36] mbabker commented on #27769
As was pointed out on your issue 4 years ago, the appropriate CSS is already included in the template, and as you yourself pointed out because of changes in browsers you were experiencing the issue on an older browser but not a more recent version.

Either way the change you are suggesting is just wrong, end of discussion.  If you can demonstrate an actual bug in Joomla then submit a proper bug re

[2020-02-04 16:39] brianteeman commented on #27794
@sanek4life read that link and you will see it has already been done

[2020-02-04 16:42] brianteeman commented on #27538
@Simonwep Thanks for taking the time to pop in and comment. I will comment more in depth on your own site. For the benefit of casual observers - passing automated tests does not make anything accessible. They only report on the things that can be tested automatically. For example they cannot report on the ability to  move from A to B etc.

[2020-02-04 17:20] jeremysmartin399 commented on #27761
@ReLater If I'm reading the [WP article about adding lazy loading into WP core](https://make.wordpress.org/core/2020/01/29/lazy-loading-images-in-wordpress-core/) correctly, they plan to add lazy-loading to WP 5.4 in the next 2 weeks. Some commented that 2 weeks felt rushed, but I could not find any comments from developers with concerns about users with different browsers having a different exper

[2020-02-04 17:22] brianteeman commented on #27538
@Simonwep comment and suggestion added here https://github.com/Simonwep/pickr/issues/11#issuecomment-582009375

[2020-02-04 17:40] brianteeman commented on #21767
closing this as this has now been resolved elsewhere

[2020-02-04 17:40] #21767 closed, assigned to nobody

[2020-02-04 17:45] brianteeman commented on #22524
@uglyeoin I hope its ok if I close this now as we do at least have a proof of concept now

[2020-02-04 17:45] #22524 closed, assigned to nobody

[2020-02-04 17:48] uglyeoin commented on #22524
@brianteeman does it solve the problem described in this issue?  The solution proposed was a modal popup window, which avoided a reload of the page, which was a nice feature, but also ensured any module positions were below the editing window thus no scrolling occurred.

I assume that is not accessible but I think the very best option would be to have inline editing.  Perhaps using https://develop

[2020-02-04 17:50] brianteeman commented on #22524
inline editing of  a module would only work for a customhtml module - not for any others

[2020-02-04 17:55] uglyeoin commented on #22524
Yes, that much is true.  Although, that's not to say we couldn't do it for a custom module, but the article it should be no problem.  We would have to consider how they change any other parameters such as unpublished so it requires a bit of thought and a wider conversation.  I'm 100% of the thought that users would find this the most intuitive way to edit content.

[2020-02-04 17:58] brianteeman commented on #22524
inline is great for fixing a typo. for everything else it sucks
my 5p

[2020-02-04 18:00] uglyeoin commented on #22524
I've seen it work in quite a few systems really well

[2020-02-04 20:25] N8Solutions commented on #27774
Hello @richard67,

Thank you for the information. The workaround in that other ticket does in fact take care of the problem.

However, as @visualtribe [suggested in that issue here](https://github.com/joomla/joomla-cms/issues/25033#issuecomment-498736229 ""), this is being done with the superuser account, so why should a "workaround" even be necessary?

It would be way more intuitive if the superu

[2020-02-04 20:30] richard67 commented on #27774
@wilsonge or @SniperSister or both: Could you have a look on it and comment about it?

@N8Solutions Well, if there still an issue then of course let it open here so we can keep track on. I'm just a normal contributor like you are, so I've pinged the experts to have a look on it and comment. Thanks for caring about Joomla!

[2020-02-04 21:28] chmst commented on #27758
It has been said so many times:
A lovely design on fullscreen, in ltr language, with nice but not free fonts, lots of jquery and no a11y is one thing.
Implementing it for all devices, for rtl languages or languages with very long words, with free fonts, flexible for changes in the future and a11y is another thing. So please - do it if you can.
Make your buttons and filters as you would like them -

[2020-02-04 21:36] richard67 commented on #27758
I will not be happy as long as these silly figures like "xx% up to date" or similar will be shown, like I once had seen in a preview. A I said above: Not only that they are rubbish because no way to really count how many % a system is up to date, % of what, but also because users will think they are safe when seing 99% but then it's the 1 % which opens the security hole ;-)

[2020-02-04 21:46] brianteeman commented on #27758
It's like being just a little bit pregnant.

[2020-02-04 22:11] N8Solutions commented on #27774
Yes, I believe there is. I would think it only natural that a user with Superuser privileges should be able to activate an account with the setup described here without having to resort to a workaround. So thank you @richard67! I sincerely appreciate your help! The workaround provided in the other issue you linked to is more efficient and easier to implement until this gets resolved.<hr /><sub>Thi

[2020-02-04 22:15] brianteeman opened #27805 "[4.0] mobile button visible on desktop"
### Steps to reproduce the issue
The toogle toolbar button is not _hidden_ on the desktop view and is focussable (can be clicked on)

To make it easier to see add the following code to the template.css

[code]
### Expected result
nothing happens

### Actual result
clickable red box
![after](https://user-images.githubusercontent.com/1296369/73792247-cfcc5800-479b-11ea-81a6-bf6487d30803.gif)

### Ad

[2020-02-04 22:15] richard67 commented on #27774
@N8Solutions Well, we are all volunteers here who love Joomla and have a bit time left, it doesn't need much ... and some of us like to code new things or fix things ... some others like to test fixes ... and we all like to help.

So if you love Joomla, too, and sometimes have a free minute, it would be very welcome if you could support us a bit. Maybe just read issues and comment with helpful com

[2020-02-04 22:17] brianteeman commented on #27805
This is probably caused by the changes made in #27705

[2020-02-04 23:10] richard67 commented on #27774
P.S.: I thought about creating an award for the longest issue title ever ;-)

[2020-02-05 00:36] ghost opened #27807 ""Smart Search - Content" Causes Error to be Thrown."
### Steps to reproduce issue

Create an article with 30 pages of content, a very large article.

### Expected result

File would save without issue

### Actual result

When I save I get the following error:

Error -

Article save failed with the following error: SQLSTATE[HY000]: General error: 1114 The table 'lny6d_finder_tokens' is full

I first submitted a ticket to Siteground.com and the tech t

[2020-02-05 01:17] chrisdavenport commented on #27807
The #__finder_tokens table is a MEMORY table which has a relatively low limit on size for obvious reasons.  You're not running out of disk space, you're running out of memory.  Normally, the indexer should detect when you are approaching the limit and switch to using a disk-based table instead (with a consequent performance hit), but it is not happening in your case, probably because you have a si

[2020-02-05 03:05] ravisaxena23 commented on #27805
i guess CSS is same as written in  navbar-toggler button but i will look into it

[2020-02-05 06:10] Subhang23 commented on #26771
I am working on this

[2020-02-05 07:58] mvanvu opened #27809 "TinyMCE problem with element name"
Follow the file /media/editors/tinymce/js/tinymce.js at line 47

`var name = element ? element.getAttribute('name').replace(/\[\]|\]/g, '').split('[').pop() : 'default', // Get Editor name`
So, If I have two editors with the names are jform[description] and  jform[en-GB][description] then the editors will not work perfectly because the editors are the same name "description".

[2020-02-05 08:00] infograf768 commented on #27805
What if we re-add the class `toggler-burger` for the button line 152 of index.php ?
[code]

[2020-02-05 09:13] shoulders opened #27810 "Plugin Layout Field"
### Is your feature request related to a problem? Please describe.
There is no layout field for plugins in the standard field types.
https://docs.joomla.org/Standard_form_field_types

### Describe the solution you'd like
What I would like to see is a Plugin Layout field added. This would allow me to select a layout like i can in components and modules.
![image](https://user-images.githubuserconten

[2020-02-05 09:28] korenevskiy commented on #27758
@chmst Why can't use jQuery on a site in Atum?

[2020-02-05 09:39] korenevskiy commented on #27758
@chmst
Can you talk about RTL support?
You probably don't know? The layout uses the style property
justify-content: flex-start;
justify-content: flex-end;
These properties are automatically reversed for RTL. Making markup with " justify-content"
For a normal language, the icon in the button will be on the left and the text on the right. This is the same without interventions and additions, for RTL

[2020-02-05 09:40] SharkyKZ commented on #27755
Out of memory. But issue seems to be coming from elsewhere, not those 100-200 callables.

[2020-02-05 10:57] Hackwar commented on #27765
You can add your own dashboard by simply using a URL like the dashboards for a menu entry in your component. For the icon next to the menu item, you can add the parameter to the XML of the view. That way you can have this in your custom backend menu. For such an icon upon installation, I would (for now) advise to set these parameters in the menu item in an install script, since there you should al

[2020-02-05 11:05] korenevskiy commented on #27758
@chmst
I think you're worried about RTL.  RTL support is not solved by using buttons in which the Icon and text are vertically below each other. It's not done that way. Some RTL languages don't have capital letters, so let's write English without capital letters!  We will not make a bad compromise between all localizations. At the moment, the technology allows you to do without compromises and mee

[2020-02-05 11:06] brianteeman commented on #27765
I "think" the question was how to add to the existing dashboards. For example how to add a "backup" component to the system dashboard and not the component dashboard

You can now my PR was merged :)

[2020-02-05 11:07] korenevskiy commented on #27758
Where do you see these numbers? I don't see them.

[2020-02-05 11:19] richard67 commented on #27758
I saw them a few months ago in a preview of the so-called alternative template. It can be that they've removed them meanwhile.

[2020-02-05 11:25] Bakual commented on #27765
That's exactly what I want to prevent. It basically shows that the dashboard functionality wasn't built exactly with 3rd parties in mind. To much special handling for core.

That is not what I meant in this issue here, but is an important request as well. It's bad UX if the user has to manually add such modules to the system view.

[2020-02-05 11:39] infograf768 commented on #27758
we do that for years... And it is totally independent from Uppercase or not.
the rtl metadata tag in each language  xml is the parameter. Little by little, this is now done in Atum, and verymuch broken in Khonshu (see my test there).

Install last night release of 4.0-dev, install the Persian language and test back-end....
Switch back-end language... Play with it... Basically, before posting, plea

[2020-02-05 11:45] infograf768 commented on #27758
See my comments here https://github.com/joomla-projects/j4adminui/issues/186#issuecomment-582334190

[2020-02-05 12:03] chmst commented on #27758
It my not be imported to J4 backend.

no, isis ist not J4 and it is not a11y. Atum does.

[2020-02-05 12:13] korenevskiy commented on #27758
Why can't I use jQuery in backend?

[2020-02-05 12:20] brianteeman opened #27812 "[4.0] The Road to Beta ?"
# The Road to Beta

Joomla 4 has been under development for a very long time now and the first alpha release is now almost two and half years ago (17 Nov 2017). The vast majority of the work has been done by just a handful of people and they are all close to (or have reached) burn out.

_These are my personal views and opinions gathered from my involvement in the development of joomla 4, the avail

[2020-02-05 12:24] 4digitalworld opened #27813 "[Images and Links]: additional fields for responsive image"
I suggest adding additional fields for **Intro Image**/**Full Article Image** in the article tab **Images and Links**:

![изображение](https://user-images.githubusercontent.com/3662519/73840897-5af42f00-482a-11ea-844f-035fe4806abc.png)

**New options for displaying:**

- dont' show image (example: for 📄 documentation/lyrics/etc article)
- hide caption (showing/hide the caption below the image)

**

[2020-02-05 12:56] korenevskiy commented on #27758
https://j4admintest.joomla.com/administrator/index.php?option=com_templates&view=styles
User: abaquzem
Password: AtES4XWw
Here you can see a ready-made panel with Khonsu by clicking the link.
In fact, everything works. It looks quite decent. What's wrong with the template?
Why is this template not allowed ?

[2020-02-05 13:10] brianteeman commented on #27758
because there are so far over 100 open issues with it that must be resolved

[2020-02-05 13:15] brianteeman commented on #27758
and there is something wrong with that install as it is missing all the icons - you can tell by collapsing the sidebar menu ;)

[2020-02-05 13:20] richard67 commented on #27758
@korenevskiy Screenshot just taken from the dashboard of the Konshu backend you have linked to:

![konshu-100-percent-updated](https://user-images.githubusercontent.com/7413183/73845274-8f63ed00-4822-11ea-8ee6-d5c6ce3b52c6.png)

So how does it come that you asked me above where I have seen this figure? You should have seen it more often than I have.

[2020-02-05 13:21] SniperSister commented on #24299
Drowning in work so didn't had time to tackle that issue, but it's definitely on my todo list

[2020-02-05 13:27] 4digitalworld opened #27815 "[Smart Search]: displaying search results with image thumbnails"
Search engines such as [Google](https://www.google.com/cse/all) and [Yandex](https://site.yandex.com/) allow you to display site search results along with thumbnails of images for each link.

I suggest adding a thumbnail image display for each link to the site search results (**Smart Search**).

**Of course, in the settings there will be such options as:**

- thumbnails of images: show/hide
- tab

[2020-02-05 13:35] chmst commented on #27758
As much as I know, Joomla may not be dependent of jQuery as it was years ago from mootools.

[2020-02-05 13:39] richard67 commented on #27758
As far as I know it should still be possible to use jquery, it is just not loaded by default. But why use meanwhile old-fashioned jquery when vanilla js meanwhile is state if the art? I know that many projects want to get rid of jquery and want to use vanilla js.

[2020-02-05 13:50] mbabker commented on #27758
The aim is for Joomla’s core JavaScript API to be vanilla and not dependent on MooTools or jQuery or whatever the next framework everyone will hate in 5 years is.  The aim is not to ban use of jQuery in the backend.

[2020-02-05 14:02] korenevskiy commented on #27758
Well, the work isn't finished yet.
Joomla 4 is also not finished, but it is being prepared in production. The Khonsu template is also incomplete, so why is It already bad at the development stage?

[2020-02-05 14:08] richard67 commented on #27758
That's what I wanted to say with my previous comment. Thanks @mbabker for explaining it again in more clear words.

[2020-02-05 14:53] Hackwar commented on #27758
A serious issue is, how this affects the release of 4.0. The last team worked with a template that I would call more finished than this one and it took 10 months to finish it. We can't release a 4.0 Beta before the template isn't finished and merged and thus you can expect a delay of about a year for the beta. That would have additional consequences, like for example we would most likely need a ne

[2020-02-05 15:01] impressionestudio commented on #27758
I believe that you have drifted away.
**The problem, many Joomlers have with Atum, is not the information it shows but the way it shows it.**

If an information like "100% updated" is wrong, then we will decide all together to substitute it with something useful. But you have to admit that this information looks aesthetically pleasing in Konshu.

On the contrary, the information displayed in Atum

[2020-02-05 15:25] Quy commented on #27158
@waveywhite please submit PR for consideration/testing.

[2020-02-05 16:05] N6REJ commented on #27812
Thanks for a well written document @brianteeman

[2020-02-05 16:35] waveywhite commented on #27158
Yes. Sorry for the delay. I'll get on to this.

[2020-02-05 16:48] Quy commented on #26771
See #27816. Thanks! @Subhang23

[2020-02-05 16:48] #26771 closed, assigned to nobody

[2020-02-05 17:04] brianteeman commented on #27815
That's appropriate for a search engine but I don't see its use on an individual web site. Certainly not enough of a use for it to be in the core

[2020-02-05 17:09] Quy commented on #26006
Closing. No need to have 2 issues for the same topic. Please continue discussion at #27758.

[2020-02-05 17:09] #26006 closed, assigned to nobody

[2020-02-05 18:02] brianteeman commented on #27014
I believe that #27464 addresses the final parts of this - if wrong it can always be reopened

[2020-02-05 18:02] #27014 closed, assigned to nobody

[2020-02-05 18:02] ravisaxena23 commented on #27805
@infograf768 @brianteeman please check

[2020-02-05 18:08] brianteeman commented on #27805
Closing as we have a pr for testing #27818

[2020-02-05 18:08] #27805 closed, assigned to nobody

[2020-02-05 18:18] SharkyKZ commented on #27755
Memory issue seems because of recursion. `Registry::initialise()` calls `Registry::register()` method which in turn runs `Registry::initialise()` again because `Registry::$initialised` hasn't been set yet. Is there a reason we can't register core library methods in the constructor? And is this even needed if we go this path? Populating registry on the fly would essentially allow it to act as some

[2020-02-05 19:15] brianteeman commented on #26973
I just looked at that - it still works

[2020-02-05 20:41] mbabker commented on #27755
Constructor forces the initialization to happen as soon as the object is instantiated.  The way I prototyped it defers that initialization to first use.  The Registry is going to be instantiated on every request thanks to the service layer, but in requests that are serving non-HTML responses (API requests, MVC requests that are doing a write action and redirect, com_finder indexer and its AJAX cal

[2020-02-05 22:25] brianteeman commented on #26696
Closed see #27819

[2020-02-05 22:25] #26696 closed, assigned to nobody

[2020-02-05 22:51] MostafaHamedAbdelmasoud opened #27820 "can't see selected articles for editing"
![image here](http://rtl-ltr.000webhostapp.com/i.png)

### Steps to reproduce the issue
1- go to articles from content sidebar in admin panel.
2- select article to edit.
3- click on edit button.
4- then click on back button of your browser.
5- then click edit button again without selecting anymore articles. just the previous selected item must be selected automatically.
6-  it will show "Please fi

[2020-02-05 23:07] brianteeman commented on #26477
Closed as solved elsewhere by @Hackwar - thanks

[2020-02-05 23:07] #26477 closed, assigned to nobody

[2020-02-06 02:12] korenevskiy commented on #27758
@impressionestudio I agree with you. You're right.
@brianteeman Please tell me, my screenshots do not change the template functionally, and do not change the sequence and state of the active elements. Is it possible to make corrections in the Atum template that I have given in my screenshots above right now? Perhaps with some modifications. I want to note that due to the background lighting, the c

[2020-02-06 02:13] ravisaxena23 commented on #27820
Sir, I think Joomla is designed in such a way that once you go back using browser back button. You cannot come to selected item. I guess Joomla probhits the use of back button on pages where user do editing. Still I don't know much kindly wait for @brianteeman @richard67 reply.

[2020-02-06 05:24] webtimgist commented on #27807
Thank you for your reply.

No lowering the threshold to 10000 didn't have any effect.

I will report this to Siteground.com and see if they can increase memory limit.

Thanks for the reference to the Smart Search documentations as well. I will pass this along to siteground.com<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a hr

[2020-02-06 06:06] Shorty0811 commented on #27812
Well spoken!

Unfortunately, my English is not nearly as good (which annoys me extremely) to actively contribute to the development. But I learn more every day and hope to be able to make my contribution someday.

What happened in the forums in the last few days is not understandable. Instead of ALL working together and finally completing J4, the meaningfulness of a new backend template is discuss

[2020-02-06 06:36] richard67 commented on #27820
To be honest: I have no idea if it is a bug or desired behavior. Question; What happens when after having used the browser‘s back button you don’t use the edit Button of the backend but using the forward button of the browser to come back to the edit view? I can’t test here right now, I will be at work soon .

[2020-02-06 06:49] richard67 commented on #27708
Regardless whether I like this idea or not: I think the spam problem described by @mbabker could be solved by using a separate page and not the PR itself to list the sponsoring companies. Where this page should be and what it should list (just a count of sponsored PRs or projects, or a list of links to the PRs for each company) should be discussed further. The list should be sorted either by manua

[2020-02-06 06:55] Bakual commented on #27758
@korenevskiy You're free to make PRs to improve Atum like still many others do. The template isn't chiseled in stone. Changes are absolutely possible.
Just make sure the requirements are met.

[2020-02-06 06:58] richard67 commented on #27812
So as @brianteeman correctly pointed out, the next step should be to assign people to the particular tasks and set timelines. Who will do than when and where?

[2020-02-06 07:28] brianteeman commented on #27812
Sorry if you misunderstood. My intention was to list what needs to be done and not to suggest that people should be **assigned** to a task.

[2020-02-06 07:42] brianteeman commented on #27801
Closing as we have a pull request to test #27821

[2020-02-06 07:42] #27801 closed, assigned to nobody

[2020-02-06 08:28] Subhang23 opened #27823 "Fixing of CSS styling in the close button of add modules for any rtl language"
### Steps to reproduce the issue

Switch to a rtl language (Ex:-Persian)
Go to dashboard and press on the add modules button
You can notice the icon for close is not properly placed

### Expected result

The icon should be placed more to the right

### Actual result
![Screenshot from 2020-02-06 13-26-02](https://user-images.githubusercontent.com/43785080/73917169-e205dd80-48e4-11ea-88b5-27e907267b

[2020-02-06 08:31] Subhang23 commented on #27823
I would like to work on this

[2020-02-06 08:41] horus68 commented on #27812
On translations:
- You can mark as solved the "Pro-actively engage with translation teams to encourage completion". There are lots of translations more then 99% and some days they are 100%, it depends when new strings being added.
When the RC version will be released the translations for the most used languages will be 100%... as always!

- On the "Infrastructure for delivering translations" this

[2020-02-06 08:58] infograf768 commented on #25675
reopened as #26264 did not solve it.

[2020-02-06 09:03] sanek4life commented on #27815
Now it’s not 2005. This is a custom search for a website. Google doesn’t use thumbnails images in its primary Google.com search, but it does provide the opportunity for websites that have added website search to their website.

The web is changing, over the past 15 years, everything has changed a lot, but for the average user, Joomla looks the same as she was in 2005. This is not something unneces

[2020-02-06 09:10] richard67 commented on #27812
@brianteeman Then I maybe misunderstood the following in your list in section "How do we get to Beta?":

So for me the above seem to be the next logical steps, and the 2nd item implied to me that someone has to assign people, or at least people have to assign themselves and someone has to make a list.

[2020-02-06 09:15] infograf768 commented on #27823
It should be easy
we have for rtl

[code]

We have to add a `[dir=rtl] & {` where the margin is
`margin: 0 -22px 0 16px;`

for both

[2020-02-06 09:20] richard67 commented on #27812
You know I just don't want that everybody likes this very good summary here but nothing happens then.

[2020-02-06 09:26] SharkyKZ opened #27824 "[4.0] Highlighted taxonomy illegible"
### Steps to reproduce the issue

Use Smart Search in frontend. Use category name as keyword.

### Expected result

Readable text.

### Actual result

![Screenshot_2020-02-06 Smart Search](https://user-images.githubusercontent.com/7325021/73923200-212b3300-48d3-11ea-8c0a-d8a869f1e563.png)

[2020-02-06 09:39] brianteeman commented on #27812
That is what I meant

[2020-02-06 09:40] brianteeman commented on #27815
Show me a web site using images in its search.

[2020-02-06 09:55] korenevskiy commented on #27758
@Bakual You mean not accurate with the design layout?

[2020-02-06 09:59] korenevskiy commented on #27758
@Bakual  So I'm not violating the requirements.
Friends, where can I see this list of requirements?

[2020-02-06 09:59] infograf768 commented on #27824
The issue comes from the use of `badge-secondary` and `span.highlight`
the text is white and the highlight is yellow, so no contrast.

Can be solved to get
<img width="1208" alt="Screen Shot 2020-02-06 at 10 45 40" src="https://user-images.githubusercontent.com/869724/73925242-0904e500-48ce-11ea-9eb4-ac4f1ed523f2.png">

By modifying the css to
[code]
But also, obviously the .badge text is much too

[2020-02-06 10:04] richard67 commented on #27758
Yes, my complaint about the "updated %" figure was a bit off topic regarding design. What I wanted to do with it was to point out that Konshu not only introduces a new template design but also new functionality like this figure, but the new functionality seems to be made by designers and not to mention security and technical aspects.

[2020-02-06 10:18] Hackwar commented on #27758
The requirements are the same as for every pull request. For Khonsu they have been posted in the readme, which is posted on the front-page of the repository.

[2020-02-06 10:25] MostafaHamedAbdelmasoud commented on #27820
yes it may be a common desired behaviour. it should see the old selected articles i think.
when i click forward button of browser, it shows the edit layout of last selected article.

[2020-02-06 10:28] richard67 commented on #27820
So that seems to be correct and ok for you, right?

I think why should someone use the back button to get back but then use something else than the forward button to go forward again?

Therefore the use case described in the issue seems weird to me.

[2020-02-06 10:33] infograf768 commented on #27820
This is not a bug.

[2020-02-06 10:37] infograf768 commented on #27820
Closing as not a bug.

[2020-02-06 10:37] #27820 closed, assigned to nobody

[2020-02-06 10:56] korenevskiy commented on #27673
A 100-character header is not enough.
We don't make headlines to make it easy to search for an article in the archive. We create headlines to sell products, to write news, to attract people. Thus, the CMS must adapt to the needs, content Creators should not adapt to the CMS, especially when the CMS is at the development stage, we must and can already take into account the requirements of the marke

[2020-02-06 10:57] brianteeman commented on #27709
Closed see #27826

[2020-02-06 10:57] #27709 closed, assigned to nobody

[2020-02-06 11:14] chmst commented on #27673
Maybe it is a misunderstanding. I menat the title in the table #__assets which is only visible for maintainers in the database. And think that the title there could be truncated.
In #__content the lengt of title is 255.

@korenevskiy Do you think this is to short?

[2020-02-06 11:16] gerryfrancis commented on #27815
There are some Google Search-driven sites, e.g. notebookcheck.net, which do that.

But, TBH, showing a thumbnail next to the link only makes sense to me if the image is big enough to touch it with my fingers to open the link.

[2020-02-06 11:19] brianteeman commented on #27447
Closed see #27827

[2020-02-06 11:19] #27447 closed, assigned to nobody

[2020-02-06 11:21] brianteeman commented on #27673
This is the issue. It isn't anything to do with the webservices API

[2020-02-06 11:26] web54 opened #27828 "behaviour when error on type of menu"
### Steps to reproduce the issue

go into menu
see types of menu and remember one existing
go to edit another menu (existing)
change type with existing type
get error (existing type)
enter new type (non existing)
save and close

### Expected result
should edit the menu you are in

### Actual result

create a new menu

### System information (as much as possible)

### Additional comments

[2020-02-06 11:47] infograf768 commented on #27824
Will make PR later.

[2020-02-06 11:50] gerryfrancis commented on #27813
@sanek4life I guess the average person who writes articles does not want to be forced to choose between so many values. If you really want to have your suggestions supported for every single article, be aware that the user experience of the site might become pretty inconsistent...

[2020-02-06 11:53] brianteeman commented on #27538
Closed as we have a PR for testing #27829

[2020-02-06 11:53] #27538 closed, assigned to nobody

[2020-02-06 12:25] sanek4life commented on #27815
[https://www.rollingstone.com/results/#?q=the%20beatles](https://www.rollingstone.com/results/#?q=the%20beatles)

[2020-02-06 12:30] sanek4life commented on #27815
You can set the size of the thumbnail to display in the search settings. it can be for example 100x100 or 500x500, it is not so important, each webmaster will install it in the settings on his own.

Now almost all news sites use site search along with thumbnails of images from articles.

[2020-02-06 12:31] sanek4life commented on #27815
@brianteeman It uses even Techcrunch!!!
[https://search.techcrunch.com/search;_ylc=X3IDMgRncHJpZANuVElYNjNGdFNBT3JLa0RVNVZCQkZBBG5fc3VnZwM5BHBvcwMwBHBxc3RyAwRwcXN0cmwDMARxc3RybAM3BHF1ZXJ5A2FuZHJvaWQEdF9zdG1wAzE1ODA5OTIyNDc-?p=android&fr=techcrunch](https://search.techcrunch.com/search;_ylc=X3IDMgRncHJpZANuVElYNjNGdFNBT3JLa0RVNVZCQkZBBG5fc3VnZwM5BHBvcwMwBHBxc3RyAwRwcXN0cmwDMARxc3RybAM3BHF1ZXJ5A2FuZ

[2020-02-06 12:34] 200MPHMEDIA commented on #27812
If I were a programmer, would be more than happy to take on projects.  Certainly have time to do it.  But, coding, PHP, and all that stuff just isn't in my portfolio.  Appreciation is extended to all those that devote much time to making Joomla! 4 a good product.  Thank you.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href

[2020-02-06 12:34] chrisdavenport commented on #27815
If memory serves, the image data is already stored in the #__finder_links table, so you just need to write a template override to include the image in the search results.

[2020-02-06 12:34] sanek4life commented on #27815
@brianteeman I think this is not your problem if you have not used search on various websites in the past 15 years. I myself almost do not use search, but when I need a search, almost everywhere I see articles in search along with thumbnails of images! I believe that this is already the standard for many news websites.

Please add these few lines of code so that in the search you can make an optio

[2020-02-06 12:36] sanek4life commented on #27815
I know it! Therefore, I suggest adding a setting to show thumbnails of images from articles. This is not so hard. Why invite each site administrator to override the template when you can make this setting available to everyone once? I think Joomla will be much better if this setting appears.

[2020-02-06 12:38] sanek4life commented on #27815
@brianteeman @chrisdavenport All data has already been indexed. This will not spoil the database for sites. Just add this setting for website administrators on Joomla. This will greatly simplify life and improve the user experience!

[2020-02-06 12:38] brianteeman commented on #27815
Please, please no more options.
Every time you add an option you kill a kitten

[2020-02-06 12:42] sanek4life commented on #27815
But **[Techcrunch](https://search.techcrunch.com/search;_ylc=X3IDMgRncHJpZANuVElYNjNGdFNBT3JLa0RVNVZCQkZBBG5fc3VnZwM5BHBvcwMwBHBxc3RyAwRwcXN0cmwDMARxc3RybAM3BHF1ZXJ5A2FuZHJvaWQEdF9zdG1wAzE1ODA5OTIyNDc-?p=android&fr=techcrunch)** disagrees with you. This is the standard of today's web. Search with thumbnails from articles. This is the standard.

![изображение](https://user-images.githubusercontent.

[2020-02-06 12:46] sanek4life commented on #27815
[https://search.engadget.com](https://search.engadget.com/search;_ylc=X3IDMgRncHJpZAMzcFNBMFdrVVNRNmxMR2xMaEtrVGlBBG5fc3VnZwM5BHBvcwMwBHBxc3RyAwRwcXN0cmwDMARxc3RybAM3BHF1ZXJ5A2FuZHJvaWQEdF9zdG1wAzE1ODA5OTMwMzc-?p=android&fr=engadget)

[https://www.theverge.com/search?q=android](https://www.theverge.com/search?q=android)

How many links to websites should I send? I think that this is clear to every

[2020-02-06 12:50] gerryfrancis commented on #27761
I understand both reasonings. If someone wants to have it, probably some overrides will do it.

I would not like to see this as default behavior that cannot be changed. Admins must have the possibility to switch it on or off.

[2020-02-06 12:51] sanek4life commented on #27813
I wrote more than 5,000 articles on the site, which is on Joomla CMS.

I have never used the `Images and Links` tab, because it does not satisfy my needs. But if this tab contained the improvements I proposed, then I would always use this tab to upload the `Intro Image`.

[2020-02-06 12:55] sanek4life commented on #27813
@gerryfrancis These options are optional, as well as using this `Images and Links` tab, but if someone wants to upload more images for better display on different devices, we must allow this. I think this is very important.

This tab can be deleted, because in the current view, almost no one needs it. It’s easier to upload an `Intro Image` right away in the editor, without this tab.

But if we sav

[2020-02-06 12:57] gerryfrancis commented on #27828
The new menu certainly has a different alias ("[name]-2"), thus it really is a new menu item.

[2020-02-06 13:02] gerryfrancis commented on #27813
Maybe a stupid question, but why not uploading one high-res image and handling its style with the template CSS?

[2020-02-06 13:05] sanek4life commented on #27761
Absolutely right! I suggest making such a setting in Joomla. I think it will be useful to very, very many administrators and users of websites.

I have one problem. I'm upload over one thousand images in one folder, and when I open the media manager, a lot of RAM is taken from my computer. I think so many website administrators have a similar problem with thousands of articles on their websites.

[2020-02-06 13:09] sanek4life commented on #27813
Are you an editor on a website or just developing extensions?
I am the editor of thousands of articles. I need a handy tool to use the website and add articles. I do not want to write tons of code for each article on the website. I want to write articles and have a convenient editor. You understand me???

[2020-02-06 13:10] brianteeman commented on #27813
@sanek4life Please remember that Joomla is designed to be an extendable system. It can not nor will it ever have options for every thing that someone suggests. The more options that are added to the core the more it takes to maintain AND the more complicated it becomes for you the user.

This is why you can extend joomla - either with addons or overrides - so that **you** can make **your** web sit

[2020-02-06 13:10] #27813 closed, assigned to nobody

[2020-02-06 13:12] brianteeman commented on #27761
That is a completely different issue and would have been resolved by you if you had not put all your images in the same folder. Your operating system has the exact same issue.

I am closing this issue at this time. If and when lazy-loading is available natively in all supported browsers it can be looked at again.

For now you will find many extensions available that will do this for you n your sit

[2020-02-06 13:12] #27761 closed, assigned to nobody

[2020-02-06 13:13] brianteeman commented on #27815
As already explained by @chrisdavenport you can achieve this with an override.

Joomla can not and should not have options for every thing that someone thinks will be useful to them.

I am closing this

[2020-02-06 13:13] #27815 closed, assigned to nobody

[2020-02-06 13:15] brianteeman commented on #27809
Any reason why your fields are not named jform[description] jform[en-GBdescription]

[2020-02-06 13:16] sanek4life commented on #27815
@brianteeman I think I need to change the Joomla CMS to the WordPress.
I write articles on a website that has been using Joomla since 2007, from version 1.0.
I see absolutely no development of this CMS for editors and for a more convenient publication of articles on the website. I think I was wrong when I read the word CMS in 2007, which means **CONTENT MANAGEMENT SYSTEM**.

If this is a managemen

[2020-02-06 13:23] sanek4life commented on #27761
@brianteeman I'm not even surprised why there are so few developers left who are still interested in developing Joomla. Any normal idea is rejected and Joomla remains the same as it was in 2005, only the design of the control panel changes. That’s all I’ve seen in the last 15 years. Only a change of design for the control panel.

I see so many opportunities in other CMS, such as WordPress and Drup

[2020-02-06 13:30] gerryfrancis commented on #27813
@sanek4life It is very important to know that all the new features you would like to have implemented in Joomla! must be maintained so that they work within every minor version. That is what everyone expects as soon as they are available and applicable. "It just works" sounds so simple, but in fact the developers are working very hard to achieve that goal. Some minor changes within some part of th

[2020-02-06 13:32] mvanvu commented on #27809
It just an example. I have many language codes and I want to get the post data as an array not a string.

[2020-02-06 13:38] mvanvu commented on #27809
Nevermine but it's an issue. I think we should check the ID of textarea instead the name that will be replaced by some restriction.

[2020-02-06 13:44] jeremysmartin399 commented on #27761
@sanek4life  Maybe [LLFJ - Lazy Load for Joomla! ](https://extensions.joomla.org/extension/lazy-load-for-joomla/)would work for your sites? It is free with a 5 star rating on JED with 42 reviews. (It does use Mootools)  Or maybe a plugin could be developed to add lazy loading on Joomla! 4? With [Wordpress appearing to add lazy loading to core](https://make.wordpress.org/core/2020/01/29/lazy-loadin

[2020-02-06 13:49] Fedik commented on #27809
You need to provide a detailed info what you doing and what exactly does not work.

This behavior made to make possible to override the editor settings, by plugins etc.

The ID cannot be used, because example in subform it will be different id for the same editor name. that make overide not possible.

[2020-02-06 14:51] sanek4life commented on #27761
I think that the leadership of Joomla needs to decide that there are some things that should be **native** for Joomla, and not as extensions from third-party developers. At the very least, one could make official extensions for some ideas, as was done with the **[Weblinks](https://extensions.joomla.org/extension/official-extensions/weblinks/)**.

After migrating from 1.5 to 2.5, many good extensio

[2020-02-06 14:57] gerryfrancis commented on #27815
@sanek4life I do not agree. Joomla! is a CMS, not perfect, but consistent. There are lots of plugins available that are capable to manage content the way you want to have it, no need to change to WordPress. Even those sites have to be programmed and styled individually, which is called web design.

It seems that you are a true editor, that is totally fine. Whatever CMS you want to use, you probabl

[2020-02-06 16:38] sanek4life commented on #27815
@brianteeman I found this website! officially!

[https://forum.joomla.org/](https://forum.joomla.org/) - The official Joomla forum uses **[Google Custom Search](https://cse.google.com/cse/all)** for websites.

[https://cse.google.com/cse/all](https://cse.google.com/cse/all) - @Joomla team uses this @google search for his forum because his own search is not good enough! I believe that this is an of

[2020-02-06 16:41] brianteeman commented on #27815
Sorry I am not engaging you with any more.

[2020-02-06 16:47] mbabker commented on #27815
@sanek4life at this point you're just trolling.  If you took more than 2 seconds to look at the forums you would know those aren't even running Joomla.

As is explained, all the data is there for you to do what you desire to do, it requires you to create and maintain template overrides for the functionality.  It's up to you to get your hands dirty and do some work and not expect everyone else to d

[2020-02-06 16:53] mbabker commented on #27761
Then you really do not understand the amount of effort it takes to maintain a general purpose content management system designed for a multitude of use cases by a multitude of individuals and organizations, and inherently why said content management system becomes unmaintainable if everything is included in core.  Take a step back and stop looking at things as an entitled consumer of the software

[2020-02-06 16:56] sanek4life commented on #27815
@mbabker Instead of writing articles and publishing content, should I study programming?

Maybe if I get sick, should I be a doctor? Do I have to be a shepherd to eat food? Who else do I need to be? I am not asking for something supernatural. These are the basic needs for a CMS.

I am not writing about the need to make a new template for Joomla. There are functions that should be in every Joomla t

[2020-02-06 17:05] mbabker commented on #27815
And I'm sorry you seem to think it's OK to crap over the work of the third party ecosystem and demand that every function you need be an integrated part of the core platform.  I'm also sorry you seem to think that Joomla should look and behave exactly the same as every other CMS out there.

I'll save you the couple hundred dollars an hour that would normally be charged for my consulting services a

[2020-02-06 20:28] richard67 commented on #27807
@webtimgist Please report back what was the result, if they could increase it and if so, if it has helped. We leave the issue open for a while.

[2020-02-06 22:20] brianteeman commented on #27729
closing in favour of #27777

[2020-02-06 22:20] #27729 closed, assigned to nobody

[2020-02-06 22:22] brianteeman commented on #27668
@fedik your explanation of what it means is correct. Just to me the english used is not accurately describing that.

[2020-02-06 23:05] brianteeman commented on #27589
Closing as my question was answered

[2020-02-06 23:05] #27589 closed, assigned to nobody

[2020-02-06 23:06] brianteeman commented on #27403
Closed - too late to fix this now as the damage has been done

[2020-02-06 23:06] #27403 closed, assigned to nobody

[2020-02-06 23:11] brianteeman commented on #26543
confirmed the issue

[2020-02-06 23:13] Quy opened #27831 "[4.0] Missing toolbar with RTL in EdgeHTML"
### Steps to reproduce the issue
Use Microsoft Edge.
Install Persian language.
Edit account.
Switch to Persian language for the backend language.
Click Save & Close.
Edit account.
See missing toolbar.
This is happening with toolbars in other areas.

### Expected result
![toolbar-ltr](https://user-images.githubusercontent.com/368084/73986383-572bdf80-48f2-11ea-8455-83407b442064.jpg)

### Actual res

[2020-02-06 23:15] brianteeman commented on #27831
So this is the non-chromium edge?

[2020-02-06 23:17] ChristineWk opened #27832 "[4.0] Edit template files in the backend"
### Steps to reproduce the issue

Error symptom: Edit template (Cassiopeia) files in the backend -> editor window is only approx. 15 or 20 px wide because the content to be edited has slipped into the right margin of the actual editor window

### Expected result

### Actual result

see screenshot

### System information (as much as possible)

4.0.0-dev from 05feb2020

### Additional comments

It f

[2020-02-06 23:17] Quy commented on #27831
How do I find out? This comes preinstalled with Windows 10 Home.

[2020-02-06 23:20] ChristineWk commented on #27832
![backend_cassiopeia_05feb2020](https://user-images.githubusercontent.com/15275917/73987104-a5b39b00-493f-11ea-8f50-83453f6db29a.JPG)

[2020-02-06 23:22] ChristineWk commented on #27832
sorry, I had the wrong button & closed by fault (:-<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27832">issues.joomla.org/tracker/joomla-cms/27832</a>.</sub>

[2020-02-06 23:23] richard67 commented on #27832
Can confirm on clean new install of a clean current 4.0-dev. Edited content appears for a short flash in editor area but then ends in the margin right beside it. But others I’ve asked to test could not reproduce it. So it seems it doesn’t happen to everybody.

[2020-02-06 23:24] brianteeman commented on #26319
After further investigation and consultation with external experts I am closing this. The error messages you are referring to are generated by the browser (not joomla) for an html5 required input field

[2020-02-06 23:24] #26319 closed, assigned to nobody

[2020-02-06 23:25] ChristineWk commented on #27832
@richard67 Thanks :-)

[2020-02-06 23:25] brianteeman commented on #27831
I cant tell you as I already upgraded to the chromium release https://www.microsoft.com/en-us/edge

[2020-02-06 23:31] wilsonge commented on #27612
I can't because it says it's been force pushed/recreated since it was closed

[2020-02-06 23:31] wilsonge commented on #27612
Tbh I'm really reluctant to reintroduce this everywhere. I want it still class based please. Not global select applying like we made the mistake with chosen

[2020-02-06 23:35] richard67 commented on #27832
@ChristineWk I’ve changed category in the issue tracker. Templates (Site) was wrong because you edit the files in the Admin template. It doesn’t matter if you edit site or admin template files I think. And com_templates was not suitable too because the issue is not related to template management functions. It’s an issue on the backend templates’ file editor view.

[2020-02-06 23:35] brianteeman commented on #27612
ok I will make a new PR

Can you still check that PR as I believe the approach there is correct

[2020-02-06 23:36] Quy commented on #27831
Upgraded and now it is fine. Should non-chromium Edge be supported?

[2020-02-06 23:36] wilsonge commented on #27612
Ahh yes should be fine. sorry i should have re-reviewed before commenting rubbish

[2020-02-06 23:37] brianteeman commented on #27612
yes you should ;)

[2020-02-06 23:43] brianteeman commented on #27612
Closed see #27833

[2020-02-06 23:43] #27612 closed, assigned to nobody

[2020-02-06 23:44] brianteeman commented on #27831
That I don't know. I would create a new issue regarding that and then @wilsonge can direct a decision

[2020-02-07 00:19] richard67 commented on #27832
I’ll see if I can find out more. I’ve replicated the issue on 2 different Linux systems with different browsers. @ChristineWk used Linux, too, as far as I know. Christine please confirm or correct. @N6REJ you used Windows and could not reproduce, right? Maybe again an issue with case-sensitivity of file names having to fit to class names?

[2020-02-07 00:21] richard67 commented on #27832
@chmst You could not reproduce, too, right?  Did you use Windows as Webserver for the test?

[2020-02-07 00:22] brianteeman commented on #27832
I can replicate on windows
It is a codemirror issue (disable codemirror and you will see its ok)

[2020-02-07 00:24] richard67 commented on #27832
Or case sensitivity in asset file name or path? That fits better to this issue than the class file name thing. I think some asset loading fails on Linux. Need to continue tomorrow with better error logging,

[2020-02-07 00:25] richard67 commented on #27832
Ah thanks @brianteeman .

[2020-02-07 00:26] brianteeman commented on #27832
Its 100% a codemirror issue

The issue you observed will happen anywhere that the codemirror editor is being used.

[2020-02-07 00:27] richard67 commented on #27832
Thanks Brian, that info helps much. Will investigate tomorrow if nobody is faster.

[2020-02-07 00:40] brianteeman commented on #27832
@fedik can you check this please.

I am pretty certain this is related to the web assets changes you have recently made

[2020-02-07 02:32] aditya20t opened #27834 "Error in installing Hindi language extension."
### Steps to reproduce the issue

Go to system settings and try to install hindi language extenstion.

### Expected result

### Actual result
![Screenshot (54)](https://user-images.githubusercontent.com/55142272/73995888-1a0e2e80-4980-11ea-9ea0-d9c0472f3226.png)

### System information (as much as possible)

version: 4.0.0-beta1-dev

### Additional comments

[2020-02-07 02:43] Quy commented on #27834
Duplicate #26653

[2020-02-07 02:43] #27834 closed, assigned to nobody

[2020-02-07 03:38] N6REJ commented on #27832
Yeah, I'm on windows 10 x64 pro.  I do have a linux laptop if necessary

[2020-02-07 06:27] nielsnuebel opened #27837 "[4.0] httpheaders Plugin issue Document inline styles and script now with md5 array key"
### Steps to reproduce the issue
1. error_reporting = development
2. com_csp options:
- CSP enabled
- Mode = detect

3. refresh frontend
4. com_csp options:
- mode = automatic
- hash for styles and script enabled
5. com_csp activate some item for example
![image](https://user-images.githubusercontent.com/3214077/74006065-e11f8b00-497a-11ea-9d68-0f9d42ca36e3.png)
6. reload backend
![image](https://

[2020-02-07 06:39] SharkyKZ commented on #27837
Related closed PR https://github.com/joomla/joomla-cms/pull/26505.

[2020-02-07 06:50] ghost opened #27838 "Joomla template bug"
### Steps to reproduce the issue

    Install Joomla
    Go to extensions >> Templates >> Templates
    Open protostar template.
    Click copy template on top left.

copy protostar template it creates strange extensions file /css/template.css?c250e51230c550e0

### Expected result

/css/template.css

### Actual result

/css/template.css?c250e51230c550e0

### System information (as much as possible

[2020-02-07 07:29] nielsnuebel commented on #27837
@SharkyKZ exactly that was the error, @zero-24 already fixed it

[2020-02-07 07:31] SharkyKZ commented on #27837
I don't think this was fixed yet. Please keep this issue open.

[2020-02-07 08:28] brianteeman commented on #27838
Do you have any cache extensions installed?

[2020-02-07 08:28] Milglius commented on #27838
no

[2020-02-07 08:41] brianteeman commented on #27838
I can not replicate this.

[2020-02-07 09:05] richard67 commented on #27832
@N6REJ No need, Brian could reproduce it on Windows, too.

[2020-02-07 10:03] infograf768 commented on #27823
@Subhang23
Are you going to make this specific PR?

[2020-02-07 10:26] infograf768 commented on #27158
Modified title as this would have to be done for 4.0 (new feature).

[2020-02-07 10:55] brianteeman commented on #26322
I've done a PR for 3 of these (#27843). actionslogs is a bigger issue and needs a seperate pr

[2020-02-07 11:20] ChristineWk commented on #27832
@richard67 Thanks for correcting the category in Issue Tracker. It was late/early :-) I'm on Windows.
History behind: I wanted to test PR27799 and discovered mentioned above. It was 4.0.0-dev from 20jan2020. Then I removed and installed a completely new installation on 05feb2020.

@brianteeman confirm: It is a codemirror issue (disable codemirror and you will see its ok)

<hr /><sub>This comment w

[2020-02-07 12:43] Quy commented on #27838
I can not replicate too.

[2020-02-07 12:48] ceford commented on #27790
I have now read about water-marking, a topic I have never before needed to work with, and realise my suggestion for htaccess was not appropriate as a default. Once again thanks to mbabker for his comments. This issue can be closed (but I don't see a Close button).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://i

[2020-02-07 12:50] #27790 closed, assigned to nobody

[2020-02-07 12:50] Subhang23 commented on #27823
I will be doing it. I actually made a mistake with the branches.

[2020-02-07 13:30] 200MPHMEDIA opened #27844 "[4.0] File location for Text "Single Article""
### Steps to reproduce the issue

Looking for the file that contains the text string "Single Article" which appears in the Menu Item Type modal.

Please point us to the file or files.  Thank you.

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2020-02-07 13:41] Fedik commented on #27832
The problem with `node build` somewhere, it does not produce minified version of codemiror css files
(if  enabled debug mode all will work).
I cannot find where it was :smile:

@dgrammatiko where the code for minification of codemiror css files? :smiley:

[2020-02-07 13:45] Fedik commented on #27838
@Milglius where do you see this file `/css/template.css?c250e51230c550e0`?

[2020-02-07 13:47] brianteeman commented on #27832
i would have expected it in build/init.es6.js

[2020-02-07 13:50] brianteeman commented on #27844
The file is en-GB.com_content.sys.ini
You should not need to ever touch that file though - thats why we have language overrides

[2020-02-07 13:53] Fedik commented on #27832
build/init only copying a files (and merge some)

[2020-02-07 14:14] Quy opened #27845 "[4.0] TypeError: tabLink is null"
### Steps to reproduce the issue
Go to System
Click Text Filters
View browser's console.

Sadly my attempt at a fix failed.
https://github.com/joomla-projects/custom-elements/pull/134

### Actual result

[code]

### Expected result
The selected tab is active.

[2020-02-07 14:26] Quy opened #27846 "[4.0] Trying to access array offset on value of type null"
### Steps to reproduce the issue
Go to System > Site Templates
Click Cassiopeia Details and Files
Edit a file
See PHP error log

### Actual result

[2020-02-07 14:44] Fedik commented on #27832
I can offer only this #27847

[2020-02-07 14:49] brianteeman commented on #26655
its not returning anything because there is nothing for it to return when there should be

[2020-02-07 14:56] Quy commented on #26655
When in descending order, ordering should be disabled. Check Categories.

[2020-02-07 14:57] waveywhite commented on #27158
I've uploaded the code to https://github.com/waveywhite/com_scaler - is someone able to take it from there? I'm unsure of the proper way to integrate it as a Joomla 4 PR.

A few issues with the code:
1. It's Joomla 3 code and uses the MVC libraries which are being deprecated. However, it is extremely simple and there's no admin section apart from some settings.
2. It uses a "fixed" inflector which

[2020-02-07 14:59] infograf768 commented on #27823
Thanks. Please limit your changes to this issue and please test https://github.com/joomla/joomla-cms/pull/27841 which solves mobile alignment.

[2020-02-07 15:22] richard67 commented on #27832
@Fedik Is PR #27847 an intermediate solution (= workaround), or is it the final solution?
Or in other words: Can this issue be closed?

[2020-02-07 15:25] brianteeman commented on #27844
Closed as there is nothing further to add

[2020-02-07 15:25] #27844 closed, assigned to nobody

[2020-02-07 15:29] Bakual commented on #27765
I found a solution to add those dashboard/quicktask icons to the menu.

However I'm not closing this issue yet, since there are other aspects (like having presets for the dashboard and "hooks" for the system dashboard) which I believe are not solved.

[2020-02-07 15:39] Fedik commented on #27832
More like workaround, but there nothing "hacky",
I think, if there no other fixes, then this issue can be closed

[2020-02-07 15:45] richard67 commented on #27832
There is no other fix, not yet .. shall we wait a bit maybe?

[2020-02-07 15:50] richard67 commented on #27846
@Quy When I was reproducing issue #27832 , I did exactly the same what you describe in your steps to reproduce the issue here, but I did not have these entries in PHP error log. And I had error reporting switched to "Development" before. Does that happen with any file you edit? Or only particular?

[2020-02-07 15:52] Quy commented on #27846
It could be related to PHP 7.4.1.

[2020-02-07 15:53] richard67 commented on #27846
Ah that makes sense, I didn't test with 7.4, only with 7.3 and 7.2.

[2020-02-07 15:56] richard67 commented on #27846
But the only array elements I see are `$this->image['height']` and `$this->image['width']`. Could you add some code to dump variable type of `$this->image` into the log file and check what happens? I'd like to know if it's maybe an object instead of an array. Something like `error_log(gettype($this->image))`?

[2020-02-07 15:56] Fedik commented on #27832
I would close, I have doubt that there will be another one :wink:

[2020-02-07 15:57] richard67 commented on #27832
Ok, we can reopen it if protest ;-)

[2020-02-07 15:58] richard67 commented on #27832
Closing as there is PR #27847 . Thanks @Fedik 😄 .

[2020-02-07 15:58] #27832 closed, assigned to nobody

[2020-02-07 15:59] richard67 commented on #27846
I have 7.4 only on a test domain in web, not locally, so it would be a bit uncomfortable for me to install latest 4.0-dev and test. Would have to clean it up before.

[2020-02-07 16:04] Quy commented on #27846
`$this->image` is null. You can install the nightly build.

[2020-02-07 16:09] Quy commented on #27812
`Alternative Admin Template` It appears development has ceased.

[2020-02-07 16:13] richard67 commented on #27846
That PHP file is not really well documented.

[2020-02-07 16:15] richard67 commented on #27812
Any link?

[2020-02-07 16:18] Quy commented on #27812
https://github.com/joomla-projects/j4adminui/issues/186#issuecomment-583064115

[2020-02-07 16:22] Quy commented on #27846
Tested on 7.3.14 with no errors. Here is the generated code without height/width values. Maybe remove the placeholder attribute?

[code]

[2020-02-07 16:24] richard67 commented on #27846
@Quy Makes sense, only echo it if not null.

[2020-02-07 16:28] richard67 commented on #27812
Seems they stop for core but later wanna make 3rd party template.

[2020-02-07 16:30] Quy commented on #27846
I don't know why the following code is there on that page and how to trigger the modal.

[code]

[2020-02-07 16:31] richard67 commented on #27846
@Quy Then we are two who don't know that.

[2020-02-07 16:34] brianteeman commented on #27812
lets try and keep this on topic please

[2020-02-07 16:35] richard67 commented on #27812
Sorry, yes.

[2020-02-07 19:49] Quy commented on #27846
Go to images > system >
Click on an image to get crop and resize buttons.

[2020-02-07 20:19] richard67 commented on #27846
@Quy I go to edit a picture where you said, I don't get anything in PHP erro log but also can't see any buttons.

[2020-02-07 20:22] Quy commented on #27846
Are you using PHP 7.4+? I think I have a fix. There is a logic to enable the resize modal for image type which it is not doing right now.

[2020-02-07 20:22] richard67 commented on #27846
PHP 7.2.

[2020-02-07 20:23] Quy commented on #27846
I still think it is a PHP 7.4+ issue. I don't get the error with PHP 7.3.14

[2020-02-07 20:23] richard67 commented on #27846
And where shall these bloody buttons appear? Maybe I'm just too silly to find them? You have a screenshot?

[2020-02-07 20:24] richard67 commented on #27846
aah i have them, was blind, now can see.

[2020-02-07 20:26] richard67 commented on #27846
I don't have the issue with 7.2 so yes, it could be a 7.4+ issue.

[2020-02-07 22:19] Quy commented on #27846
Please test PR #27851

[2020-02-07 22:19] #27846 closed, assigned to nobody

[2020-02-07 22:47] brianteeman commented on #27759
Is this pr relevant/helpful https://github.com/joomla/joomla-cms/pull/21363

[2020-02-07 22:49] brianteeman commented on #27758
![robert-atum-light](https://user-images.githubusercontent.com/1296369/74071517-0c968a00-49fc-11ea-856c-d07e5d9fe466.gif)

[2020-02-08 01:13] N6REJ commented on #27837
what is com_csp?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27837">issues.joomla.org/tracker/joomla-cms/27837</a>.</sub>

[2020-02-08 02:36] Quy commented on #27837
System > Content Security Policy

[2020-02-08 03:43] Quy commented on #27740
Closing for reasons stated.

[2020-02-08 03:43] #27740 closed, assigned to nobody

[2020-02-08 03:44] #27572 closed, assigned to nobody

[2020-02-08 03:45] Quy commented on #27828
Closing for reason stated.

[2020-02-08 06:27] web54 commented on #27828
yes but that should not be the right behaviour

[2020-02-08 06:28] web54 commented on #27828
what is the reason ?

[2020-02-08 08:50] sanek4life commented on #26772
@kawshar i saw your comment [https://github.com/joomla-projects/j4adminui/issues/186#issuecomment-581073848](https://github.com/joomla-projects/j4adminui/issues/186#issuecomment-581073848)

@kawshar can you comment on this issue?

[2020-02-08 10:09] gerryfrancis commented on #27828
The concept of Joomla! is that each item is unique and has its own ID. You cannot overwrite an item with another of the same type with the same alias name, because Joomla! "recognizes" that such an item already exists, and applies a slightly different alias ("[name]-2") to the other item.

[2020-02-08 11:24] infograf768 commented on #27682
Closing as not a bug.

[2020-02-08 11:24] #27682 closed, assigned to nobody

[2020-02-08 12:30] SharkyKZ commented on #27845
Please test PR https://github.com/joomla-projects/custom-elements/pull/135.

[2020-02-08 12:36] #27845 closed, assigned to nobody

[2020-02-08 13:09] Twincarb commented on #27838
Isn't it the intended behaviour of Protostar to set a version to template.css?

// Add Stylesheets
JHtml::_('stylesheet', 'template.css', array('version' => 'auto', 'relative' => true));
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27838">issues.joomla.org/tracker/joomla-c

[2020-02-08 13:12] web54 commented on #27828
yes, that is why I got an error, explained by joomla, an stay in the menu I want to change.
But at this moment (after error) I enter a new type, and it copymy menu instead of editing the menu I am in.
To be more clear : If I do not make the mistake to choose an existing one, it change the type when closing without creating a copy

[2020-02-08 13:25] brianteeman commented on #27838
yes it is but from the description of the report he is saying that this is the filename created

[2020-02-08 13:50] Fedik commented on #27838
but not saying that it create in file system,
translations may be not perfect :wink:

I suspect he seen it in the page source code, that of course not a bug

[2020-02-08 13:57] brianteeman commented on #27838
well lets wait a few days for a reply before closing

[2020-02-08 15:13] SharkyKZ commented on #27828
Re-opening as valid issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27828">issues.joomla.org/tracker/joomla-cms/27828</a>.</sub>

[2020-02-08 15:43] ChristineWk commented on #27838
Agree. Check some URLs to find out the "difference" :-)

... /templates/mytemplatecopy/css/template.css" rel="stylesheet" **type="text/css"** />
.../templates/mytemplatecopy/css/user.css" rel="stylesheet" **type="text/css"** />

.../templates/protostar/css/template.css?8e17160b713641b3cc489b29e3405a51" rel="stylesheet" />
.../templates/protostar/css/user.css?8e17160b713641b3cc489b29e3405a51" rel="

[2020-02-08 17:17] wilsonge commented on #27831
This is a decision for production to make as a whole - my personal opinion would be not to support it

// cc @HLeithner

[2020-02-08 18:38] HLeithner commented on #27831
Our current support cycle is planned Major version - 2, MS forces all users to upgrade to blink rendering version but I didn't found the timeline for the eol of EdgeHTML. So I would suggest to fix this problem instead hoping that EdgeHTML is not longer supported by MS.

[2020-02-08 19:03] Webdongle opened #27856 "Category blog Access"
### Steps to reproduce the issue
set 'Show unauthorised' to Yes
Create  Category Blog menu item set 'Show unauthorised' to use Article settings.
Create an Article with a readmore set 'Show unauthorised' to No

### Expected result
Viewing from the frontend the The Article intro text should not be shown to non logged in visitors

### Actual result
Viewing from the frontend the The Article intro text

[2020-02-08 19:06] brianteeman commented on #27856
The expected result and the actual result are the same ??

[2020-02-08 19:42] brianteeman opened #27858 "[4.0] Logo moves (a11y)"
### Expected result
Logo is loaded where it will appear

### Actual result
Logo is loaded in the middle and then moves to the left.
![logo](https://user-images.githubusercontent.com/1296369/74091056-15926480-4aab-11ea-9210-cd0e826a867c.gif)

### Additional comments
Its something in the scss perhaps display: inline-block on the logo but I can't quite work it out

### Additional comments accessibili

[2020-02-08 19:44] phpwebtech commented on #27856
No the expected result and the actual result is not the same.

It doesn't matter what the article setting is set to. The behaviour is the same.

Global: No
Menu: Use Article settings
Article: Yes
The Article setting of Yes is used
Not logged in visitors see intro text in Category/featured blog

Global: No
Menu: Use Article settings
Article: No
The Article setting of No is used
Not logged in visito

[2020-02-08 19:49] brianteeman commented on #27856
I am referring to the report where the two are the same. It is hard to comment without knowing what you "think" the expected result is supposed to be.

@Webdongle If you truly believe this to be a security risk (and I still dont know what you are expecting) then you really should have known better to post a security issue in public

[2020-02-08 20:07] Webdongle commented on #27856
@brianteeman
Thanks have edited the post.  had forgot to alter it after copy/paste.

[2020-02-08 20:25] phpwebtech commented on #27856
The expected behaviour:

The Article setting of Yes is used
Not logged in visitors see intro text in Category/featured blog

The Article setting of No is used
Not logged in visitors should NOT see intro text in Category/featured blog

The actual behaviour is as mentioned before:

The Article setting of Yes is used
Not logged in visitors see intro text in Category/featured blog

The Article setting

[2020-02-08 23:19] brianteeman commented on #27536
weird but its a bootstrap intended behavioour

See pull request #27859

[2020-02-08 23:19] #27536 closed, assigned to nobody

[2020-02-08 23:42] brianteeman commented on #27533
It wasn't actually a space it was the wrong colour ;)

See #27860

[2020-02-08 23:42] #27533 closed, assigned to nobody

[2020-02-09 07:49] alikon opened #27863 "[4.0] unable to add sample data"
### Steps to reproduce the issue
use the latest 4.0-dev
add sample data

### Expected result
able to add sample data

### Actual result
js error

![Screenshot from 2020-02-09 08-48-13](https://user-images.githubusercontent.com/181681/74098494-00ecb580-4b19-11ea-83d8-b53a6936976b.png)

### System information (as much as possible)

tested on FF 72.0.2

[2020-02-09 09:24] MostafaHamedAbdelmasoud commented on #27858
Is issue fixed now?
Can I work on it?

[2020-02-09 09:39] Shorty0811 commented on #27863
I have no problems. Works fine.

[2020-02-09 09:44] infograf768 commented on #27572
Please look at https://github.com/joomla/joomla-cms/pull/27864
Still a .svg issue in RTL for Safari.

[2020-02-09 10:41] brianteeman commented on #25870
Closed see #27865

[2020-02-09 10:41] #25870 closed, assigned to nobody

[2020-02-09 10:46] brianteeman commented on #21411
I do not believe this can ever be possible as there is no limit to the number of menu items that an article could be displayed on. It would only really be possible and/or useful on a system (unlike joomla) where every piece of content is displayed on its own menu item.

[2020-02-09 10:46] #21411 closed, assigned to nobody

[2020-02-09 10:48] brianteeman commented on #27856
Is this the same issue as #21407

[2020-02-09 10:51] brianteeman commented on #23087
@micker there have been quite a few changes since you made this report and the UI has changed for the pages you are referring to. I am going to close this now because of that BUT if you feel there are still issues then it can either be reopened or you can create a new issue

[2020-02-09 10:51] #23087 closed, assigned to nobody

[2020-02-09 11:03] alex-90-rus opened #27866 "An error was detected in the breadcrumbs module"
A bug was detected in breadcrumbs on the material output page in the com_tags component.
There is a link to the same page you are on, and the last element in the module-the page title is pulled up.

Described the problem on the forum [Your text to link here...](https://forum.joomla.org/viewtopic.php?f=706&t=977867 "https://forum.joomla.org/viewtopic.php?f=706&t=977867")

[2020-02-09 11:20] brianteeman commented on #24019
The only solution I can find is to separate the date and time

[2020-02-09 11:36] richard67 commented on #27863
@alikon Switch on debug in global config and try again, and if same error post again screenshot. We could then see where it is (line and row) in the **unminified** script file.

[2020-02-09 11:43] alikon commented on #27863
i can confirm my findingins on the 1st attempt , maybe some cache issue, but really weird

[2020-02-09 11:43] #27863 closed, assigned to nobody

[2020-02-09 12:24] Webdongle commented on #27856
Looks like but have also spotted that (in featured/category blog) 'Use Article setting' for 'Show Title' is not working either.

For some reason the 'Use Article setting' is being ignored and the Global setting is being used instead of the Article setting.

Perhaps the code that initiates the 'Use Global' is being used when 'Use Article setting' should be used?

This is a security issue as far as

[2020-02-09 12:29] gerryfrancis commented on #27866
Is https://github.com/joomla/joomla-cms/pull/23599 related to your problem?

[2020-02-09 12:41] brianteeman commented on #27856
![image](https://user-images.githubusercontent.com/1296369/74102240-7ec0b900-4b39-11ea-96be-0ff6e192747a.png)

![image](https://user-images.githubusercontent.com/1296369/74102241-808a7c80-4b39-11ea-87ce-da023bbaefc7.png)

[2020-02-09 12:59] brianteeman opened #27867 "[4.0] webasset user.css"
### Steps to reproduce the issue
Create a user.css for the atum template

### Expected result
user.css overrides template.css

### Actual result
template.css is loaded after user.css making user.css useless
![image](https://user-images.githubusercontent.com/1296369/74102526-06a7c280-4b3c-11ea-94c2-dccf119ffeef.png)

### System information (as much as possible)

### Additional comments

[2020-02-09 13:32] Webdongle commented on #27856
Surely that refers to security issues that allow exploits.  This is not that type of security issue.  Now please stop trying to disrupt issues that I create.

[2020-02-09 13:45] richard67 commented on #27866
#23599 has been merged long before 3.9.15 was released, and according to the Forum Post Assistant (FPA) output in the forum post linked above in the description, the problem took place on a 3.9.15.

So the only explanation I have would be an outdated template override of the html view of com tags, which doesn't contain the fix from #23599 .

Or it is a related but not the same problem.

@alex-90-r

[2020-02-09 13:46] richard67 commented on #27866
I have set priority to medium on the issue tracker since this is neither a critical nor an urgent issue.

[2020-02-09 14:17] Bakual commented on #27765
One step closer. I can add presets from my own component now.
Now to find a way to automatically add modules (most importantly the mod_submenu) to my dashboard without using a complex script. Already looked at SQL but since modules have an asset, that's not a simple insert into the #__modules table.

[2020-02-09 15:17] wilsonge commented on #27765
Grab the com_modules backend model and use that. shouldn't be too hard. that will ensure the asset gets created

[2020-02-09 15:37] wilsonge commented on #27587
PR here https://github.com/joomla/joomla-cms/pull/27871

[2020-02-09 15:37] #27587 closed, assigned to nobody

[2020-02-09 15:49] Fedik commented on #27867
please test #27872

[2020-02-09 15:51] #27867 closed, assigned to nobody

[2020-02-09 15:56] kawshar commented on #26772
@sanek4life sadly the initiative abandoned officially.

[2020-02-09 16:17] Bakual commented on #27765
Yep, but that means every component needs to do that in their custom install script. Imho that's the worst case scenario (not bad, but still worst case *smile*)
I'd prefer that the installation routine can handle that itself. But I don't have yet the elegant idea that I want :)

[2020-02-09 16:18] mbabker commented on #27856
ACL violations are security issues in that someone gaining unauthorized read access to parts of the system is an information leak.  This exact scenario is the example used in the impact table on https://developer.joomla.org/security.html.  Security issues are not isolated to only malicious code exploits.

[2020-02-09 16:30] Webdongle commented on #27856
@mbabker @brianteeman

Done

[2020-02-09 16:30] #27856 closed, assigned to nobody

[2020-02-09 16:38] wilsonge commented on #26306
PR https://github.com/joomla/joomla-cms/pull/27874

[2020-02-09 16:38] #26306 closed, assigned to nobody

[2020-02-09 16:42] wilsonge commented on #25020
If you click elsewhere presumably that would make this not accessible?

[2020-02-09 16:48] phpwebtech commented on #27856
After a quick glance it looks like it might be the same issue.

As I've mentioned in the [thread at the Joomla Forum](https://forum.joomla.org/viewtopic.php?f=728&t=977825&sid=8b2391e3c1e3ce8b53b7d52ceb2bbe17), the "_Use Article Setting_" in the Menu settings doesn't make sense from a logic point of view. I found the following comment that might explain why.

From a logical point of view it would

[2020-02-09 16:54] brianteeman commented on #25020
Not really sure. It should work the same as a drop-down select. I think

[2020-02-09 19:10] richard67 commented on #24587
API has to be complete with beta, so changed label from release blocker to beta blocker.

[2020-02-09 19:11] richard67 commented on #24587
@wilsonge Who do you think could be assigned to this? Is above my knowledge of the API.

[2020-02-09 19:46] hakanara opened #27875 "Wrong alias for İ (capital i with dot in Turkish alphabet)"
### Steps to reproduce the issue
Either in a fresh Joomla installation or an old Joomla with a latest version, the same thing happens. When you write İ in the title area (in articles or in a component), the alias is produced as "i-" not "i". So for example if you write "İş" it becomes "i-s" as alias, not "is". İ is a Turkish letter (capital for i, not like in English). By the way, all other Turkis

[2020-02-09 19:54] infograf768 commented on #27875
Can you post here a .zip of your localise.php containing the transliterate method?

[2020-02-09 20:01] hakanara commented on #27875
[tr-TR.localise.zip](https://github.com/joomla/joomla-cms/files/4177675/tr-TR.localise.zip)

[2020-02-09 20:11] alex-90-rus commented on #27866
@richard67 I checked, the problem is not related to override.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27866">issues.joomla.org/tracker/joomla-cms/27866</a>.</sub>

[2020-02-09 20:50] richard67 commented on #27866
@alex-90-rus Could you post a screnshot so we all can understand the problem better?

[2020-02-09 21:28] jwaisner commented on #27750
Reducing to Low priority as this is not affecting functionality, just an unnecessary notification.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27750">issues.joomla.org/tracker/joomla-cms/27750</a>.</sub>

[2020-02-09 21:30] jwaisner commented on #27007
@skurvish is this still happen in the latest build?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27007">issues.joomla.org/tracker/joomla-cms/27007</a>.</sub>

[2020-02-09 21:35] alex-90-rus commented on #27866
@richard67 [http://g.recordit.co/lpP9UiTK35.gif](url)

[2020-02-09 21:37] alex-90-rus commented on #27866
@richard67 [http://g.recordit.co/lpP9UiTK35.gif](http://g.recordit.co/lpP9UiTK35.gif)

[2020-02-09 21:40] alex-90-rus commented on #27866
By the way, in Joomla! 3.9.2 there is no such error, I checked

[2020-02-09 21:42] richard67 commented on #27866
![lpP9UiTK35](https://user-images.githubusercontent.com/7413183/74110510-7f833a80-4b8d-11ea-94a2-217a4621abb2.gif)

[2020-02-09 22:37] webtimgist commented on #27807
Yes, as soon as I hear from them I will post that information here. One of the solution was to use Apache Solr instead of a script based search engine. Most hosts don't make that available, (shame), on shared hosting accounts, and comes at a premium if we have a VPS or dedicated server. If Joomla could tap into Solr, that would put this issue to rest.<hr /><sub>This comment was created with the <a

[2020-02-09 22:57] webtimgist commented on #27807
This is what Siteground had to say:

Kuzman Stoyanov

Feb 8, 2020 02:09 PM
Hello Timothy,

I was able to recreate the error, but sadly did not find a solution for it. The current memory_limit value is 768M:

https://boston911truth-dev.org/i.php

This is a default value for all our Shared hosting plans. Note that it can not be increased on a shared hosting plan, its value is global and changing it

[2020-02-09 23:34] brianteeman opened #27876 "[4.0] RFC List views too busy"
The list views are getting busier and busier and for many sites a lot of the information really isnt needed.

I don't want to propose a completely configurable list view as thats just a mess of options. Instead just a really simple Basic/Advanced switch with the default being Basic.

Below is a mockup of what it could look like

### Basic
![image](https://user-images.githubusercontent.com/1296369/

[2020-02-10 00:01] brianteeman commented on #25020
The specification for a list is here https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html

From what I can tell there are two issues that perhaps have the same fix

A select list should change the value immediately (it does) and then you press enter to confirm (it does) and that technically you can not undo a change so there is no escape to close.

However the issue i

[2020-02-10 00:19] phpwebtech commented on #21407
I better paste the comment that I posted in [#27856] - Category blog Access, since it seams to be a related issue.

As I've mentioned in the thread at the Joomla Forum, the "Use Article Setting" in the Menu settings doesn't make sense from a logic point of view. I found the following comment that might explain why.

Based on code history, 'Use Article Setting' option was added to menu items by mis

[2020-02-10 00:37] Quy commented on #27807
@chrisdavenport Would your PR https://github.com/joomla/joomla-cms/pull/16621 help in this case?

[2020-02-10 00:41] zwiastunsw commented on #24019
Unfortunately, I also don't know a good solution for the date and time selector in one component. Creating a separate date and time selector seems to be a good idea.
HTML5 offers simple html controls for date and time selection (input type="date" and input type="time").  These have limitations, but are accessible and well supported by browsers.
It can also be assumed that if the user can enter the

[2020-02-10 00:50] skurvish commented on #27007
I haven't tried it again on J4. Not sure when I can do so as I am heading off on a trip for the next 5 weeks.

[2020-02-10 01:45] chrisdavenport commented on #27807
It might, but probably not.  The problem is the very large article, which presumably has a large number of indexable terms in it.  During the indexing process each term is added to a temporary MEMORY table which is held in the server's RAM.  Since RAM is a limited resource there is, in MySQL at least, a configuration variable which limits how much RAM each MEMORY table is allowed to use before a d

[2020-02-10 03:10] shawnhy opened #27877 "Integer type custom field is forced mandatory"
### Steps to reproduce the issue
1. Create a custom field Group
2. Create a custom field. and choose type "Integer"; Required: NO. Assign to all article categories.
3. Create an article. Try not input value to this integer type field.

### Expected result
Leaving the field blank should be allowed. The field There should be an "x" mark in the field to cancel inputed value.

### Actual result
User i

[2020-02-10 06:02] infograf768 commented on #27875
Just add the `İ` line 118 after the `ή`

so you get
`        'i'     =>    'ì,í,î,ï,ı,ĩ,ī,ĭ,į,и,й,ъ,ы,ь,η,ή,İ', `

[tr-TR.localise.php.zip](https://github.com/joomla/joomla-cms/files/4179183/tr-TR.localise.php.zip)

[2020-02-10 07:15] Bakual commented on #27875
Closing this issue as it's a language pack issue, not a core issue.

[2020-02-10 07:49] hakanara commented on #27875
As I have mentioned on the issue (The first post) I already tried to add "İ" into that line, but it didn't work. I tried it again since you said this is the solution, it didn't work again. Do you have any other ideas why it might occur? I will create another fresh Joomla in Turkish and see how it behaves. It wasn't like this before.

[2020-02-10 08:05] peteruoi commented on #27876
I think it's a nice idea to have customisable list view. However to have a fixed "light" view it's very subjective. Thousand of use cases and it's surely debatable if hits is more important or author or none.
I think that the extra options for everyting it's not as mess as you suggest cause it will be  one time configuration when you build the site and dependable on your needs. (It won't be someth

[2020-02-10 08:06] infograf768 commented on #27875
It will never work. `İ` is a specific utf8 character which is not considered as having a lowercase equivalent.

[2020-02-10 08:08] brianteeman commented on #27876
Sorry for confusion. The colour was a different issue. I will update the screenshot

[2020-02-10 08:11] SharkyKZ commented on #27483
Can't reproduce this issue. Are you using regular Search (com_search) or Smart Search (com_finder)?

[2020-02-10 08:29] C-Lodder commented on #24019
@zwiastunsw Shame FF and Safari don't support this: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local

[2020-02-10 08:51] zwiastunsw commented on #24019
@C-Lodder : I know Safari does not yet support these controls as expected, but it will display text fields. So accessibility will also be provided.

[2020-02-10 08:58] brianteeman commented on #26005
Closed see #27879

[2020-02-10 08:58] #26005 closed, assigned to nobody

[2020-02-10 08:59] brianteeman commented on #24019
As far as I am aware the native html date and datetime pickers do not support non-gregorian calendars

[2020-02-10 09:06] brianteeman commented on #27858
@MostafaHamedAbdelmasoud you don't need to ask

[2020-02-10 09:08] brianteeman commented on #27858
Further investigation shows that the logo is moved by the javascript here but I cannot work out why it is being triggered and why it is not left aligned without the javascript.

https://github.com/joomla/joomla-cms/blob/69052cad4e38b58c8201e5f39257a4bd1dc19681/build/media_source/templates/atum/js/template.es6.js#L64

[2020-02-10 09:20] zwiastunsw commented on #24019
I don't know that. I'm sorry.

[2020-02-10 09:23] chmst commented on #27877
If you have a field of type integer, then an integer is expected.
Can ou use a text field or a select list with integers or space or other values?

<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27877">issues.joomla.org/tracker/joomla-cms/27877</a>.</sub>

[2020-02-10 09:30] brianteeman commented on #27858
closed see #27880

[2020-02-10 09:30] #27858 closed, assigned to nobody

[2020-02-10 12:42] 200MPHMEDIA commented on #27876
The "Access" column should be visible and it should be changeable to any ACL level by clicking on the item to change it vs. opening the object and going through several steps to do it.  That way, if a user forgets initially, they can instantly change it in the list view.  J! 3 has that feature.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Applic

[2020-02-10 12:51] brianteeman commented on #27876
That;s the problem with making a basic/advanced view - it will have to be one persons subjective choice. My subjective choice is that access is not relevant on a regular site so it is in the advanced set.

Where? I don't see it

[2020-02-10 13:47] Fedik commented on #27876
I would prefer "review" existing columns/styling, without segmentation to Advanced/Basic/Even more basic/Basic than ever.

From my point of view.

* "Featured" and "Status" take really to much attention. I have no idea what we can do about, in j3 it was icons, but here it not really possible.
* "Date created" can be removed.
* Title column need simplify a bit, drop "Alias" label: do  `Blabla Title

[2020-02-10 14:03] richard67 commented on #27866
@brianteeman Since you had made PR #23599 and that has been released with 3.9.3 and the issuer here sais here that in 3.9.2 he did not have this error: Could you check if PR #23599 might have caused the issue here (if it is an issue)?

[2020-02-10 14:34] SniperSister commented on #21407
Been made aware of this ticket by @Webdongle

As described by @ReLater, a fix for this issue (and I tend to agree that it actually is an issue because it does not match a users expectation) isn't a straightforward thing. The articles are retrieved using one massive SQL query; filtering this last based upon a parameter of an article (that might be set to "use global" which makes stuff even worse) i

[2020-02-10 14:38] Webdongle commented on #21407
@SniperSister
So is it an issue or does it need to be fixed by jsst? Who fixes it?

[2020-02-10 14:54] joomleb commented on #27740
Hi guys, sorry for my later. @brianteeman, Please, test:

**1** - **Single quote saved as double quote** > "...I could not replicate that...":
- Adding as single quote: The title of <a href='https://test2.egulp.net/locations' target='_blank' rel='noopener'>Location</a>
- It is saved as double quote: The title of <a href="https://test2.egulp.net/locations" target="_blank" rel="noopener">Location</a

[2020-02-10 15:02] mbabker commented on #27876
For a lot of people (myself included), being able to quickly see created/published date is quite important, especially in organizations where content is routinely being loaded into a website before it's scheduled publication time.  Something you might be able to de-emphasize somehow, but definitely not something that can just go away.

A better use of the space the alias occupies would be a fronte

[2020-02-10 15:05] infograf768 commented on #27875
@Bakual
In fact it is a bit more complex and one could say it is not only a lang pack issue because of the utf8 nature of this specfic character.
I think that if we could first change that specific character to a latin upper I, we could solve the issue.
This may require a new method.

[2020-02-10 15:11] mbabker commented on #27877
Right, when the field has a value inside of it.  If a field is not marked as a required field, then it should be possible to submit an empty value and it pass validation.

[2020-02-10 15:33] Fedik commented on #27876
about a created column,  you are right, I have edited my comment :)
alias still useful to have especially when title != alias, and need to find "what the article for this link"

[2020-02-10 15:45] SniperSister commented on #21407
After taking a closer look at the issue, I tend to agree with @ReLater that the best option is to remove the use_article option in the parameter.

@joomla/security any other ideas?

[2020-02-10 16:22] hakanara commented on #27875
@infograf768 Thank you very much for your time and efforts. Actually I have been using Joomla for 12 years and I never remember seeing something like this before, even though I have some articles which have a title starting with "İ".

İ is an upper case letter of i in Turkish. It is not lovercase.

[2020-02-10 16:23] hakanara commented on #27875
And if it is not considered to have a lowercase, then how does it have the alias i with a dash? There should be some code where it recognizes how it turns to lowercase. I am not a PHP expert, just thinking and asking.

[2020-02-10 16:33] Webdongle commented on #21407
mmmmmmmmm Remove a feature (that used to work) because it stopped working.  Is that not going backwards?

Why not change the code (that makes the action) when 'Use Article settings' is selected?
It used to work correctly ... when  'Use Article settings' was selected it took the value of that setting..
Is there not an IF statement that relates to that selection ... what is the condition for that IF

[2020-02-10 16:59] brianteeman commented on #27876
@fedik That is why/when you would use the advanced view

[2020-02-10 17:04] brianteeman commented on #27876
@mbabker same comment to you. Use the advanced view for your use case. Basic will not be for everyone. Your use case with the date is not something everyone uses.

[2020-02-10 17:24] vintzl opened #27881 "Joomla 4.0.0-beta1-dev-Development — Notice: Undefined index: keywords"
### Steps to reproduce the issue

JFactory::getDocument()->_metaTags['name']['keywords'];

### Expected result

get the keywords list

### Actual result

### Additional comments

Since, 2020/02/10, Joomla_4.0.0-beta1-dev-Development, `JFactory::getDocument()->_metaTags['name']['keywords'];` yields nothing.

[2020-02-10 17:26] brianteeman commented on #27881
Please see #25258

[2020-02-10 17:37] brianteeman commented on #27866
Sorry but I do not see what the issue is.

[2020-02-10 17:39] alex-90-rus commented on #27866
@brianteeman A bug was detected in breadcrumbs on the material output page in the com_tags component.
There is a link to the same page you are on, and the last element in the module-the page title is pulled up.

[2020-02-10 17:43] alex-90-rus commented on #27866
@brianteeman  The title tag is displayed last, not the menu item

[2020-02-10 17:52] brianteeman commented on #27866
This is what I have - I dont understand the problem

![tag](https://user-images.githubusercontent.com/1296369/74175619-1273b180-4c2e-11ea-82c0-3d79a7663673.gif)

[2020-02-10 18:17] Subhang23 commented on #27823
@infograf768 I don't understand what I should do here.

[2020-02-10 18:19] alex-90-rus commented on #27866
what version of joomla did you test on?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27866">issues.joomla.org/tracker/joomla-cms/27866</a>.</sub>

[2020-02-10 18:32] Quy commented on #27823
See PR #27883

[2020-02-10 18:32] #27823 closed, assigned to nobody

[2020-02-10 18:37] brianteeman commented on #27866
3.9.15

[2020-02-10 19:04] #27881 closed, assigned to nobody

[2020-02-10 19:09] infograf768 commented on #27875
I suggest you test something and you may see how weird is this utf8 character.
in global configuration, set unicode slugs to Yes.
Then create an article which title will contain your special character.
Save and look at the alias.
instead of keeping the same character, it is display as an i to which is added another dot on top.

[2020-02-10 21:51] jwaisner commented on #27877
Confirmed this occurs on the Staging branch as well as 4.0dev.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27877">issues.joomla.org/tracker/joomla-cms/27877</a>.</sub>

[2020-02-10 21:54] MostafaHamedAbdelmasoud opened #27887 "UI Asymmetry of heights of inputs and its buttons in edit menues"
### What needs to be fixed
![](http://rtl-ltr.000webhostapp.com/assets/tempsnip.png)
![](http://rtl-ltr.000webhostapp.com/assets/options.PNG)

hello everyone,
in first screenshot:
here in edit menues from administrator panel, there are some differences between heights for inputs and buttons (select) as they should be on the same size

in second screenshot:
remove icon is also different in height f

[2020-02-10 22:28] brianteeman commented on #27887
I can not replicate this.

In addition in your first screen  top right there is some off text that should not be there

[2020-02-10 22:29] brianteeman commented on #27887
![image](https://user-images.githubusercontent.com/1296369/74196247-b8d2ad80-4c54-11ea-873a-13d16f93b5b4.png)

![image](https://user-images.githubusercontent.com/1296369/74196248-ba9c7100-4c54-11ea-89ad-2f0a3fb8d2c8.png)

[2020-02-10 22:48] chmst commented on #27887
I cannot confirm this issue. Everything looks okay in my installations.
@MostafaHamedAbdelmasoud Have you changed something in your xml files?
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27887">issues.joomla.org/tracker/joomla-cms/27887</a>.</sub>

[2020-02-10 22:49] MostafaHamedAbdelmasoud commented on #27887
**yes i was just see something**

what's your version of joomla? i have version 3.9.15 -> downloaded from [joomla.org](https://downloads.joomla.org/)

**_OS: microsoft 10
php version: 7.4.2_**

[2020-02-10 22:59] jwaisner commented on #27887
I cannot recreate this using using 3.9.15 on Windows 10 and PHP 7.4.2<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27887">issues.joomla.org/tracker/joomla-cms/27887</a>.</sub>

[2020-02-10 23:06] MostafaHamedAbdelmasoud commented on #27887
ok i installed a new one, and yes this issue doesn't exist in it.
i didn't know what happened exactly.
so it can be closed now. 👍

[2020-02-10 23:07] #27887 closed, assigned to nobody

[2020-02-10 23:21] phpwebtech commented on #21407
It would be interesting to see what the massive SQL query looks like :)

"Use Article settings" is not logical and I believe it's part of the problem.

"Show Unauthorised Links" seams to work down to the Menu level. It's the selection at the Article level that doesn't work.

Without knowing how the code is written my logical solution would be:

- Remove the "Use Article settings" at the Menu level

[2020-02-10 23:49] chmst commented on #27876
The user should select, which columns he wants or needs. So everyone can choose his or her preferences. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27876">issues.joomla.org/tracker/joomla-cms/27876</a>.</sub>

[2020-02-11 02:24] Webdongle commented on #21407
'use article settings' is logical because (with the exception of meta data) menu settings override Article settings.

So for consistency 'show unauthorised' (in category blog menu) should override the Article setting.

Therefore 'use article settings' is logical and necessary. Otherwise individual control of Articles showing/hiding intro text would not be possible.

⁣Sent from BlueMail ​

On 10 Fe

[2020-02-11 05:34] pranotiTechjoomla opened #27888 "[Sub-form] Validation message for repeatable-table layout of sub-form getting blank"
### Steps to reproduce the issue

Login to administrator
Goto Email Domain Options of user config and add domain.
Domain name is a required field.
Save domain name with a blank value.

### Expected result

The error message should show as **Invalid field:  Domain Name**

### Actual result

The error message only shows **Error**

### System information (as much as possible)

Joomla Version 3.9.X (t

[2020-02-11 06:43] richard67 commented on #27866
Are only the breadcrumbs wrong, and the URL used in the browser is correct? Or is the URL wrong, too?

[2020-02-11 07:19] alex-90-rus commented on #27866
Posted on the test site [http://k3axapkb.bget.ru/](http://k3axapkb.bget.ru/)
When you click on the "Tagged Items" menu item, you can see that the url is formed correctly /article-1/tagged-items.html, but Tag 1 will appear in breadcrumbs. The last item must be " Tagged Items"
Also, if you fill in the "Browser Page Title" in the admin panel, this will be the last element of breadcrumbs.

[2020-02-11 07:20] Flowman opened #27889 "[3.9] Field status filter does not remove unpublished"
### Steps to reproduce the issue

Create a status field, enable filtering and remove unpublished from list.

[code]
### Expected result

Unpublished should be removed.

### Actual result

Unpublished is still present.

### System information (as much as possible)

Joomla 3.9.15
PHP 7.3.2

### Additional comments

Issue is in JFormFieldPredefinedList where the in_array will always return true on 0.

[2020-02-11 07:21] alex-90-rus commented on #27866
![OR8KyYIYGF](https://user-images.githubusercontent.com/60842600/74217389-4f848600-4cb8-11ea-8433-fefdec792ea4.gif)

[2020-02-11 08:42] chmst commented on #27877
In my opinion this is expected behaviour for a field type="integer".
It is more a feature request, as there are other field types, i.e. "number" or usage of filter="integer" or rule="numeric" or select lists which can be used for a mixed input.

[2020-02-11 08:54] jeckodevelopment commented on #27794
It would be a good improvement Brian. Thank you

[2020-02-11 09:12] brianteeman commented on #27889
Where are you using this?

[2020-02-11 10:14] brianteeman commented on #27876
How about

1. Basic View  (as above)
2. Advanced View
 - Select all
 - Select individual columns as a checkbox

The code would be a bit more complex but it should satisfy your requests

The only thing would be it would be per list view (ie com_content, com_contact) and not per user as that would start to get really complex and messy.

There could be a compromise setting similar to the editor setti

[2020-02-11 10:25] Polm90 commented on #27888
Same issue, even in custom components, even on frontend side

[2020-02-11 12:29] Flowman commented on #27889
In my own component. But I like to use Joomla native code.

It' a list of affiliates but they should only be able to be published, archived, trashed.

Either way there is a filter function on the status field or JFormFieldPredefinedList that is not working with 0.

[2020-02-11 12:33] brianteeman commented on #27889
It must be an issue in your code because clearly we use that everywhere in Joomla

[2020-02-11 13:43] mbabker commented on #27877
Sorry @chmst but your expected behavior is incorrect.  For any supported field type (like the “url”, “tel”, “number”, and “email” inputs in HTML5 or any field type in Joomla which translates to an HTML `<select>` element), if the field is NOT marked as a required field, then it MUST be possible to submit an empty field and that submission pass validation. It is bad system design if choosing a fiel

[2020-02-11 14:23] SharkyKZ commented on #27889
I can confirm this issue.

[2020-02-11 14:32] brianteeman commented on #27889
so how does it work in core?

[2020-02-11 14:32] richard67 commented on #27889
As far as I know (but I might be wrong, so correct me if so), the "filter" is applied at form validation, i.e. it has no impact on which options are shown but only on which options are being accepted on validation.

[2020-02-11 14:45] SharkyKZ commented on #27889
@brianteeman We don't use this field with the values required to run into the issue.  But it's totally valid issue. The closest we have in core is this:

If you remove `0` from the list and view the dropdown, `Uunpublished` option will still be listed.

@richard67 Right, we have conflicting attributes here. That's another issue. Needs to be solved before 4.0.

[2020-02-11 14:55] SharkyKZ commented on #27331
@vbv2312 sorry for late response. This fell off my radar.

1. Did you click `Save` and not `Save & Close` button?
2. Some of the files concerned are listed in the discussion here https://github.com/joomla/joomla-cms/issues/26639#issuecomment-565336094.
3. `Joomla.submitform()` is executed but no validation is performed because button lacks `form-validation` attribute.

[2020-02-11 15:58] peteruoi commented on #27876
@brianteeman that is what i was talking about. With this everyone wins. Simplicity for simple cases or new joomla users, Customisation for every use case according to everyone's need. Per list view is more than enough to have such a great small feature in core. (It;s not the perfect sollution someone might say cause there is a case where different user groups would want different view but if we go

[2020-02-11 16:33] Quy commented on #27530
Please test PR #27895

[2020-02-11 16:55] chmst commented on #27877
So I used it since years in my extensions  and  did not see it as an issue  :).  But I understand your point.

[2020-02-11 16:56] Quy commented on #27831
OK the issue is with `position: sticky` in RTL with EdgeHTML.
@ciar4n Can you recommend a fix? Thanks.

[code]

[2020-02-11 17:49] Quy commented on #25904
Fixed in #27857. If not, please advise. Thanks.

[2020-02-11 17:49] #25904 closed, assigned to nobody

[2020-02-11 17:55] jwaisner commented on #27809
@mvanvu Can you please provide information asked by Fedik?

[2020-02-11 18:00] ciar4n commented on #27831
This appears to be the case... https://stackoverflow.com/questions/56835658/in-microsoft-edge-sticky-positioning-doesnt-work-when-combined-with-dir-rtl

Until RTL/sticky is fixed in Edge, maybe something like...

[code]

[2020-02-11 18:44] Quy commented on #27831
Please test PR #27897

[2020-02-11 18:44] #27831 closed, assigned to nobody

[2020-02-11 18:56] mvanvu commented on #27809
@jwaisner
1. Edit the xml file /administrator/components/com_content/models/forms/article.xml
2. Add the new test fields into the end of form at line 1069
[code]
5. Edit or add new article you will see the new editor. From the second editor, try to insert an image from the image button or any button you want and you will see the image will be inserted into the first editor not the second editor.

[2020-02-11 19:01] mvanvu commented on #27809
I have also submitted a PR #25931 for the same issue but look like no one care.

[2020-02-11 19:15] Quy commented on #27809
@mvanvu You have not commented/updated with suggested changes in PR #25931. So this issue already has PR #25931?

[2020-02-11 19:18] mvanvu commented on #27809
@Quy No, the PR #25931 for another issue that has the same issue with TinyMCE editor.

[2020-02-11 22:26] bembelimen commented on #27477
There are several reasons for this broken behavior:
- Plugin is called "jdragndrop" (https://github.com/joomla/joomla-cms/blob/4.0-dev/plugins/editors/tinymce/tinymce.php#L508) but the real name is "jdragdrop" (https://github.com/joomla/joomla-cms/blob/4.0-dev/build/media_source/plg_editors_tinymce/js/plugins/dragdrop/plugin.es6.js#L2)
- TinyMCE has an own uploader, which has to be overwritten (ht

[2020-02-11 23:07] phpwebtech commented on #21407
I don't agree that "Use Article Settings" at the Menu level is logical. Especial not from the user (administrator) point of view. As an administrator I'm used to set change the Global settings, which then is inherited down to the final level (Article level). Even if the setting at the Article level should work, then it's completely illogical that one has to go to the Menu level and change a the se

[2020-02-11 23:31] manav014 commented on #27888
I am working on the issue and would be updating soon.

[2020-02-12 00:44] Webdongle commented on #21407
@phpwebtech

Here is the complication. With meta data the Article settings override menu settings but with other options the Article settings are not inherited they are just not used.

In other words they are not inherited down to Articles and changing Article settings has no affect.

Therefore 'Use Article settings' is needed in Category/Featured blog menu items in order to control the display of

[2020-02-12 01:36] Webdongle commented on #21407
Global settings affect all Articles.

Menu item type 'single article' affects only one Article.  Thus Article Option settings are redundant.

Menu item type blog affects several Articles.  Thus 'Use Article settings' is needed for individual control of Article display.

Menu Option settings and Article Option settings are set to 'use global' by default.  They are NOT inherited from global.

⁣Sent

[2020-02-12 09:03] C-Lodder commented on #27876
@brianteeman You could do something like this: https://github.com/joomla/40-backend-template/pull/90

[2020-02-12 09:14] brianteeman commented on #27876
Thanks @C-Lodder I will check that out - I forgot all about it

[2020-02-12 09:30] brianteeman opened #27902 "[4.0] Workflow - confused"
Can anyone explain this to me
![image](https://user-images.githubusercontent.com/1296369/74320844-414a6e80-4d79-11ea-8fa3-4692aefdb9f2.png)

As you can see we have a column with an icon and text next to it.

From what I can tell the icon represents the status and the text represents the stage as shown here when using a different workflow

![image](https://user-images.githubusercontent.com/1296369/

[2020-02-12 10:03] phpwebtech commented on #21407
I'm afraid you're  missing my point. To start with it's a good idea to look at the logic a user (administrator) face. When that is done one can thinking of the logic of the programming.

The Global setting of "Show Unauthorised Links" can be set to Yes or No. This setting is then passed on down in the hierarchy where on usually can chose: Use Global (Y/N), Yes and No. When choosing "Use Global" at

[2020-02-12 10:17] Webdongle commented on #21407
@phpwebtech It is you that is missing the point.  It is not an hierarchy.

e.g. scenario
In a Category blog the admin wants to allow only two intro text to show but login to see the full text.
This is achieved by
1.  Making the Articles view level 'registered
2.  Global 'Show Unauthorised' set NO
3.  Category blog 'Show Unauthorised' set  'Use Article settings'
4.  The two Articles 'Show Unauthori

[2020-02-12 11:04] richard67 commented on #27902
Is doesn't say **"Published [Published]"**, it says **"Publish [Published]"**.

First one is the transition, to publish, the second one in brackets is the state after the transition, i.e. it will be published.

[2020-02-12 11:07] phpwebtech commented on #21407
From a users point of view it looks like a hierarchy, where the Global setting can be passed on to lower levels.

The problem is that the design of the system doesn't work. When using the "Use Article Settings" at the Menu level, the setting of No do not work. If the design doesn't produce an expected result, then the design might be poor.

_Based on code history, 'Use Article Setting' option was

[2020-02-12 11:12] manav014 commented on #27888
https://github.com/joomla/joomla-cms/pull/27904
is there any other improvement required?

[2020-02-12 11:14] brianteeman commented on #27902
Why the transition and not the stage?

/me confused

[2020-02-12 11:33] aditya20t opened #27905 "Hard-coded HTML in templates/system/incompatible.html file."
### Steps to reproduce the issue
Simply go to templates/system/incompatible.html

### Expected result
![Screenshot (61)](https://user-images.githubusercontent.com/55142272/74331333-7eceec00-4db9-11ea-9bd1-9b96b40ec0b5.png)

### Actual result

![Screenshot (59)](https://user-images.githubusercontent.com/55142272/74331340-82627300-4db9-11ea-9bfe-c7c2d8c255b4.png)

[2020-02-12 11:42] Webdongle commented on #21407
@phpwebtech

They are not passed down.  They are selected with the default selection 'use global'.  That is independent selection not inherited.

The system does work it is the code that is broken.  The feature did work  but something was changed that prevented the code (for the option) taking affect.  It is not the design that is poor it is the implementation of the code that is poor.

That is in

[2020-02-12 11:51] Webdongle commented on #21407
With your suggestion remove those settings from blog menu item and set Article settings default selection 'Use Global'.

I do see your point and think that would be good except for two things.
1. Article settings are being ignored.  It would take a big rewrite of the code for Article settings to be hierarchical and take president over global/Menu settings.
2. If it was done it would be a feature c

[2020-02-12 11:52] SharkyKZ commented on #27905
This is expected. The file is not meant to be accessed directly. When Joomla! renders the page placeholder tag is replaced by minimum PHP version.

https://github.com/joomla/joomla-cms/blob/07bc37bfba86f7845318b3f9db907a0acd69b3fb/index.php#L18-L27

[2020-02-12 11:54] phpwebtech commented on #21407
A general principle in the system is that Global settings are "distributed" down to the "Use Global setting" at lower levels otherwise the Global settings would be quite useless.

[2020-02-12 12:01] adad20 commented on #27905
Okay I am closing this issue then.

[2020-02-12 12:01] #27905 closed, assigned to nobody

[2020-02-12 12:04] infograf768 opened #27907 "[4.0] choices.js input issue"
in `/media/vendor/choicesjs/js/choices.js` we have this code
[code]
For example it defines the min-width and width of the input in the `tag` field.

When the placeholder text is long, the min-width may be too important, forcing the field to go over the edge of the page.

### Steps to reproduce the issue
Install Persian language although the issue is NOT related to RTL.
Edit an article and look at

[2020-02-12 12:04] richard67 commented on #27902
Sorry typo, in brackets is stage after transition, not state after transition.

[2020-02-12 12:05] richard67 commented on #27902
Why it was made like this you have to ask the inventor ... hope he or she reads and comments.

[2020-02-12 12:07] Webdongle commented on #21407
No they are not distributed down.
Global settings (for Article Options) are Global in name only.  THERE IS NO HIERARCHY.

Menu only uses Global if that is selected.
Menu only uses Yes if that is selected
Menu only uses No if that is selected
Menu only uses 'Use Article settings' if that is selected.

Without 'Use Article settings' the Article settings are ignored.

The problem is not the system.

[2020-02-12 12:13] richard67 commented on #27902
@bembelimen Could you confirm my understanding or corect me if I'm wrong, and explain why it was made like that? I think the reason was because for the "old" system we alsu used actions, i.e. verbs, and not status, i.e. adjectives, for the pull down, is that right?

[2020-02-12 12:18] phpwebtech commented on #21407
Unfortunately, I've never used the system when the "Use Article Setting" have been working. Neither do I know what it looked like before the "Use Article Setting" was introduced.

Without know how the code is written and "structured", it's difficult to suggest what changes should be done. Even if it's manly to remove code that goes with "Use Article settings", then it require more changes then cor

[2020-02-12 12:25] brianteeman commented on #27902
It's nothing to do with adjectives or verbs. Should it be stage or transition?

[2020-02-12 12:32] phpwebtech commented on #21407
I was talking in general, not in particular about the "Show Unauthorised Links". What I meant was that the chosen setting in Global is distributed down to the Global alternative at a lower level, which can be illustrated in the following way:

Global setting of xx:
**No**

xx settings at lower level:
Use Global (**No**)
Yes
No

Global setting of xx:
**Yes**

xx settings at lower level:
Use Global

[2020-02-12 12:33] richard67 commented on #27902
As I said: "Transition [Stage after that transition]"

[2020-02-12 12:37] Webdongle commented on #21407
Use Global (Yes)
Yes
No

Those settings would not work.  The menu setting would be used.  Thus All registered intro text would be seen on the blog page or it would not.  There would be no way for admin to allow 'teaser' text on the blog page for just a few Articles.

[2020-02-12 13:13] ciar4n commented on #27907
I think any JS setting a `width` and a `min-width` can be removed.  It doesn't make any sense and I can only presume is there to support a legacy browser.

[2020-02-12 13:37] jeckodevelopment commented on #27708
Just to add some background information about this idea, that's what other projects do:
https://make.wordpress.org/community/2019/01/02/paid-freelance-contributors-the-idea-of-the-wapuu-program

How WordPress marks Sponsored Contributions:
- https://profiles.wordpress.org/hristo-sg/
- https://profiles.wordpress.org/amykamala/

Company contributions on Drupal:
https://www.drupal.org/third-grove#pro

[2020-02-12 13:42] phpwebtech commented on #21407
It was just a general example showing what I meant with variables "distributed" from Global to lower level.

[2020-02-12 13:51] brianteeman commented on #27902
Thats not what it is displaying

What we have is
"Transition [Condition]"

![image](https://user-images.githubusercontent.com/1296369/74340810-8765f900-4d9e-11ea-8cd5-1c6ca30a7d4f.png)

![image](https://user-images.githubusercontent.com/1296369/74340831-9b115f80-4d9e-11ea-9b3e-d86d2bea7bbe.png)

![image](https://user-images.githubusercontent.com/1296369/74340866-ab293f00-4d9e-11ea-9cde-fd0cde6c81f

[2020-02-12 13:56] brianteeman commented on #27708
Company contributions works a little differently to sponsored contributions as you describe.

Every time I contribute on drupal.org and get a credit I can chose to keep that credit as Brian or I can add the company (perhaps a client) so that the client also gets a credit. Note that credits are given for a lot more than writing the code and they have had a lot of spam as a result which now means th

[2020-02-12 14:11] Fedik commented on #27907
hm, maybe better open issue at source https://github.com/jshjohnson/Choices

[2020-02-12 14:14] brianteeman commented on #27708
Should add that with drupal it is more of a "corporate recognition" than a "corporate sponsor".

_I did this contribution while I was at work for employerA_ or _I did this contribution while working on a web site for clientA_

Very different to what you propose

[2020-02-12 14:21] ciar4n commented on #27907
True. These inline widths are not set on the choices demo (https://joshuajohnson.co.uk/Choices/ ). I thought it was something we added.

[2020-02-12 14:21] manav014 commented on #27888
https://github.com/joomla/joomla-cms/pull/27909
Improved Solution

[2020-02-12 14:32] jwaisner commented on #27888
Please reference PR  [# 27909](https://github.com/joomla/joomla-cms/pull/27909)

[2020-02-12 14:32] #27888 closed, assigned to nobody

[2020-02-12 14:34] jwaisner commented on #27674
Please reference PR [#27899](https://github.com/joomla/joomla-cms/pull/27899)

[2020-02-12 14:58] hakanara commented on #27875
The same lines exist in update.sql. Is it a bug or is it something that has to be?

[2020-02-12 15:18] infograf768 commented on #27907
Posted in Choices github
https://github.com/jshjohnson/Choices/issues/823

[2020-02-12 15:28] hakanara commented on #27875
I saw what you mean. I did all the changes, It created an alias with a character that looks like a lowercase i but it is not the exact i.

I would like to repeat here, I believe something had changed either with server, PHP or Joomla. Because I created many web sites with Joomla within the last 12 years. Contact means "İletişim" in Turkish. So at every web site I created at least a contact menu it

[2020-02-12 15:34] mbabker commented on #27708
@jeckodevelopment Those programs are very different to the idea proposed here which is basically "we will pay Joomla X dollars to be listed as a 'sponsor' for Y work within the project".  The key thing being that companies aren't paying Drupal/Acquia or WordPress/Automattic to be able to "claim" this entitlement.

And the fact of the matter is it shouldn't take some sort of financially beneficial

[2020-02-12 16:36] Quy commented on #27837
Duplicate #26501

[2020-02-12 16:36] #27837 closed, assigned to nobody

[2020-02-12 19:16] alikon commented on #19792
after 2 years of nothing
let me sadly close

[2020-02-12 19:16] #19792 closed, assigned to nobody

[2020-02-12 19:30] jeckodevelopment commented on #27708
we should still have their consent.
I've an idea to have it working

[2020-02-12 19:42] koraldon commented on #26258
Would love to see this implemented

[2020-02-12 20:27] mbabker commented on #27708
Don't waste your time on it now.  If nobody could decide on a policy over the last 2 years then clearly the status quo wins, which is to do nothing.  Better off just killing the page completely at this point over leaving the "GDPR says Joomla cannot thank you for your contributions" message up.

[2020-02-12 20:45] alikon commented on #27708
let me amend you a little bit :smile:

[2020-02-12 21:37] brianteeman commented on #27866
Ah - I think I understand you now.

What happens if you go to the breadcrumbs module and change the setting "show last" to no

![image](https://user-images.githubusercontent.com/1296369/74379549-eb5ce180-4ddf-11ea-8034-9213b8a7c68f.png)

[2020-02-12 21:43] brianteeman commented on #27824
@infograf768 did you forget?

[2020-02-12 21:45] infograf768 commented on #27824
I was concentrated on the damned svg...
Will do tomorrow.

[2020-02-12 21:52] brianteeman commented on #26050
Only the custom help menu doesn't work now

[2020-02-12 22:01] brianteeman commented on #27824
NP. just shout if not and I can do it

[2020-02-13 05:10] Quy commented on #27876
Is this same as #24495?

[2020-02-13 06:49] infograf768 commented on #27875
See https://en.wikipedia.org/wiki/Dotted_and_dotless_I
Also
https://stackoverflow.com/questions/48067545/why-does-unicode-implement-the-turkish-i-the-way-it-does

I am not aware of any change from former Joomla.

[2020-02-13 08:46] no-matter-0 opened #27913 "[4] Save failed with the following error: Joomla\Component\Finder\Administrator\Table\MapTable::_getNode(1, id) failed."
### Steps to reproduce the issue
Backend try to save an article

### Actual result
The article is saved but there is a warn message

### System information (as much as possible)
Joomla 4 beta1-dev (nightly build)

### error
Save failed with the following error: Joomla\Component\Finder\Administrator\Table\MapTable::_getNode(1, id) failed.

[2020-02-13 08:50] Shorty0811 commented on #27913
I can not confirm. Saving is no problem.

[2020-02-13 08:54] infograf768 commented on #27824
Closing as we have a patch.
https://github.com/joomla/joomla-cms/pull/27914

[2020-02-13 08:54] #27824 closed, assigned to nobody

[2020-02-13 09:00] #26695 closed, assigned to nobody

[2020-02-13 09:00] SharkyKZ commented on #26695
Please test PR https://github.com/joomla/joomla-cms/pull/27915.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26695">issues.joomla.org/tracker/joomla-cms/26695</a>.</sub>

[2020-02-13 09:26] infograf768 commented on #27907
@Fedik
If no reply, we could do
[code]
this would override choices.js and solve our problem
What do you think?

[2020-02-13 09:31] brianteeman commented on #27876
possibly. not really enough information there to know what that refers to

[2020-02-13 09:31] richard67 commented on #27913
@no-matter-0  Beta 1 is not released yet, so the system information in the desciption above is wrong.

Have you used a 4.0 nightly build? If so, from when? Or have you used a git clone and the current 4.0-dev branch?

Both current 4.0-dev branch and the current nighlies built from it have as version 4.0-beta1-dev, mind the "-dev" at the end, it means "in development phase to that version", i.e. Be

[2020-02-13 09:36] alex-90-rus commented on #27866
http://k3axapkb.bget.ru/article-1/tagged-items.html

[2020-02-13 09:38] no-matter-0 commented on #27913
yes 4.0 nightly build beta 1 from https://developer.joomla.org/nightly-builds.html<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27913">issues.joomla.org/tracker/joomla-cms/27913</a>.</sub>

[2020-02-13 09:41] Fedik commented on #27907
yeap, but something like in your first comment:
[code]
so it always will be at least 10ch width, and limited by 100% by box size
in theory

[2020-02-13 10:26] infograf768 commented on #27907
My tests show here that `min-width: 10ch !important;` or `min-width: 100% !important;` would not change the result.
In both cases `width: 100% !important;` is what counts.
Looks like `max-width: 100%;` is also not really necessary.

[2020-02-13 10:56] Fedik commented on #27907
I meant without `width: 100% !important;` :wink:
the `width` can stay as calculated by JS, we only have an issue with min-width, by removing it (with `min-width: 10ch !important;`) we will not force it to be bigger than container

[2020-02-13 10:59] richard67 commented on #27866
@alex-90-rus Did you check the settings of the breadcrumbs module as asked by @brianteeman in [his previous comment](https://github.com/joomla/joomla-cms/issues/27866#issuecomment-585430342)?

See the option in question marked with a red frame in following screenshot (if your backend language is Russian, the setting should apear at the same place as in the English version, i.e. the 4th from top =

[2020-02-13 11:11] richard67 commented on #27913
@no-matter-0 Have you made a new, clean installation using that nightly build? or have you updated from a previous nightly build or alpha version using the Joomla Update component or any other method (e.g. just replacing the files, which would be wrong)?

If updated: This is not really supported yet. Updates will be supported between released versions as soon as Beta 1 will be releases. So your in

[2020-02-13 11:13] no-matter-0 commented on #27913
yes it was an update

[2020-02-13 11:14] richard67 commented on #27875
Can't we just force the whole world to use pure ASCII? ;-) (sorry, bad joke)

[2020-02-13 11:23] alex-90-rus commented on #27866
I set in the settings - hide the last element in the pathway. Now the last item corresponds to the menu item I clicked " Tagged Items" http://k3axapkb.bget.ru/article-1/tagged-items.html
But I need the last element in the pathway on other pages and it shouldn't be a link

[2020-02-13 11:43] richard67 commented on #27913
@no-matter-0 I you have the time and the possibility, please test again with a new installation as I suggested in my previous comment and report back the result here. Thanks in advance.

[2020-02-13 13:44] chmst opened #27919 "[4.0] Error when changing the category of an article with custom fields"
### Steps to reproduce the issue
Have two categories A and B  and articles in category A.

Have a custom field for articles of these categories.

Open an article and change the category from A to B.

Save the article.

### Expected result
The article is saved.

### Actual result
The $this->hits is empty when it comes to save in TableContent and store fails with message "Incorrect value "" for colu

[2020-02-13 14:21] laoneo commented on #25013
It looks indeed like that something with the registration is not correct. The content component registers services in the component class as well which works. Otherwise the back end articles list would crash. Here is the line with the registration:
https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/components/com_content/src/Extension/ContentComponent.php#L106

Did you register the co

[2020-02-13 15:12] shubhamshubh commented on #27919
Confirmed.
I am working on the issue.

[2020-02-13 15:24] 4digitalworld opened #27920 "[Associations]: do not show categories in another language"
### Steps to reproduce the issue

1. Go to any `article`, `category`, `tag` or `menu`
2. Click on the `Association` button.
3. Select the desired category
4. You will see categories not only in the selected language, but also in other languages

### Expected result

- Only show categories that match the selected language

### Actual result

- Categories are displayed in all, in any languages, rega

[2020-02-13 15:39] 4digitalworld opened #27921 "[Created Date] is not created for articles that were created using the [multilingual] option"
### Steps to reproduce the issue

1. Create any article and choose the language - `All`. `Save and close` the article.
2. Go to this article and choose the language - `English`. `Save and close` the article.
3. Go back to the article and click on the `Associations` button. Write an article in `Russian` language. Save the article in Russian by clicking on the `Save Target` button.
4. `Close` the ar

[2020-02-13 16:00] sanek4life commented on #26772
@810 @ciar4n @kawshar I found this project if it helps make it easier to make a dark theme for `Control Panel` in Joomla - [https://github.com/ForEvolve/bootstrap-dark](https://github.com/ForEvolve/bootstrap-dark)

[2020-02-13 16:20] ciar4n commented on #26772
Not really. Atum is using css variables so it should be a lot easier to just re-define these variables inside a `@media (prefers-color-scheme:` rather than loading entirely different css.

[2020-02-13 16:40] Quy commented on #27838
@ChristineWk Please advise which page(s) that shows the "difference".

[2020-02-13 16:51] ChristineWk commented on #27838
@Quy The first 2 lines: From an older Protostar (of course up to date) starting years ago > Template copy.
The second 2 lines: I think, when creating a new Protostar, then it will built as above automatically.

[2020-02-13 16:57] Quy commented on #27838
OK. So this is not an issue, but a misunderstanding by the user looking at the page source and not the file system?

[2020-02-13 17:04] ChristineWk commented on #27838
Agree again that is not a bug :-) Checked differences via page source. From an URL, created  years ago.

[2020-02-13 17:07] Quy commented on #27838
Closing as not a bug. Please provide details/screenshots if still an issue. Thanks.

[2020-02-13 17:07] #27838 closed, assigned to nobody

[2020-02-13 17:08] Twincarb commented on #27838
@Quy wasn't this being kept open for the OP @Milglius to respond?

[2020-02-13 17:11] Quy commented on #27838
@Twincarb It is not locked so he can still respond. If reproducible with additional information it will be reopened.

[2020-02-13 17:23] infograf768 commented on #27920
will look tomorrow but I am not sure we can solve this.

[2020-02-13 17:41] Twincarb opened #27922 "[4.0] module style page rendering error"
### Steps to reproduce the issue
Clean install of J4
Change a module style to use sliders or tabs

### Expected result
Joomla front end page to be rendered

### Actual result
Error: JHtml sliders not found.: JHtml sliders not found.
Error: JHtml tabs not found.: JHtml tabs not found.

### System information (as much as possible)
J4 Nightly

### Additional comments

[2020-02-13 19:04] richard67 commented on #27921
@infograf768 Can you replicate this?

@sanek4life Could you switch on error reporting to maximum in Global Configuration, section "Site", for a short test, and then again create an article in English and save it, and check your PHP error log (if you have error log into a log file enabled in your PHP settings) or on your screen (if you have display errors on in PHP settings)?

[2020-02-13 19:07] richard67 commented on #27921
@sanek4life And could you check in database if the created date is set there? Table name is `#__content` (replace `#__` by your database prefix), column name is `created`.

[2020-02-13 19:09] richard67 commented on #27920
We would have to re-populate the dropdown list after each change of the language. Am either not sure if we can do that.

[2020-02-13 19:24] sanek4life commented on #27920
![изображение](https://user-images.githubusercontent.com/3662519/74469610-10b82100-4eae-11ea-8c06-d90241097249.png)

In Joomla, this is already provided for articles. If during editing two articles you click on button `Change Target`, then we will see only articles for a particular language, and we will not see articles for another language. I think that this can also be done for categories, so th

[2020-02-13 19:25] brianteeman commented on #27922
Which modul

[2020-02-13 19:28] richard67 commented on #27920
@sanek4life I see. But as far as I understand you mean with "Editing 2 articles" not the normal article edit view but the comparison view of the Multilingual Associations Component, right?

[2020-02-13 19:31] sanek4life commented on #27920
Yes. look at my first comment and first screenshot.

there are many articles in one language on my website. and now I am translating these articles into another language and I constantly see a mixture of categories for different languages in this field.

[2020-02-13 19:32] richard67 commented on #27920
Ah yes ... sometimes I am a bit slow .. thanks for clarification.

[2020-02-13 19:37] Twincarb commented on #27922
Menu, Breadcrumbs, Articles - Category, Login

All have the same response<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27922">issues.joomla.org/tracker/joomla-cms/27922</a>.</sub>

[2020-02-13 19:40] alikon commented on #27919
confirmed from me too
i'll let you work on this

[2020-02-13 22:12] brianteeman commented on #27922
Is this the thing you are talking about
![image](https://user-images.githubusercontent.com/1296369/74483234-f716d980-4ead-11ea-8caf-b8ee55db2fd3.png)

[2020-02-13 22:15] Twincarb commented on #27922
@brianteeman yes that's correct<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27922">issues.joomla.org/tracker/joomla-cms/27922</a>.</sub>

[2020-02-13 23:02] MostafaHamedAbdelmasoud commented on #27922
i don't have this error

[2020-02-14 06:22] Milglius commented on #27838
It is in page source code. ChristineWk why it's not a bug?

copy protostar name it mytemplatecopy and instead of this

... /templates/mytemplatecopy/css/template.css" rel="stylesheet" type="text/css" />
.../templates/mytemplatecopy/css/user.css" rel="stylesheet" type="text/css" />

you get this ugly code

.../templates/mytemplatecopy/css/template.css?8e17160b713641b3cc489b29e3405a51" rel="styleshe

[2020-02-14 06:36] SniperSister commented on #27838
That „ugly code“ is a hash of the file content. It will change when the linked file is changed, causing the browser to reload that file from the server instead of using the locally cached (and now outdated) file.

That’s not a bug, it’s a feature.

[2020-02-14 06:49] richard67 commented on #27922
@Twincarb Have you made a new, clean installation using that nightly build? or have you updated from a previous 4.0 nightly build or 4.0 alpha version using the Joomla Update component or any other method (e.g. just replacing the files, which would be wrong)?

If updated: This is not really supported yet. Updates will be supported between released versions as soon as Beta 1 will be releases. So yo

[2020-02-14 06:54] richard67 commented on #27922
P.S.: Due to the description I assume it is a clean installation, the question in my previous comment is just to be really sure.

[2020-02-14 06:56] SharkyKZ commented on #27796
You shouldn't be disabling the module at this point. Early return is fine (although would be better done in the layout to give users control). See PR https://github.com/joomla/joomla-cms/pull/19416 for possibility of excluding empty modules when counting modules in the template.

[2020-02-14 06:58] infograf768 commented on #27921
I cannot replicate this.

1. When using the association created when editing an article, then associations tab and create article. No problem at all here.

<img width="1201" alt="Screen Shot 2020-02-14 at 07 49 29" src="https://user-images.githubusercontent.com/869724/74508141-94016300-4efe-11ea-8976-4bb7d368d11c.png">

2. No problem either when article created via the multilingual associations co

[2020-02-14 07:09] SharkyKZ commented on #27922
These are old MooTools based chromes. They can be removed unless someone wants to refactor them to use something else (Bootstrap?).

[2020-02-14 07:19] Milglius commented on #27838
That code makes site slow. When was such feature introduced in protostar? How to disable such a feature?

[2020-02-14 07:31] infograf768 commented on #27920
The situation is very different.

The modal uses the `forcedLanguage` parameter (whether using `Target` in com_associations or using `Select` when editing an item).

In the Category field, we have a list of categories which is not filtered BUT the assigned language for each category IS displayed.
In the OP original screenshot one can see for example
`Category (en-uk) (en-GB)` where `(en-GB)` has b

[2020-02-14 07:37] infograf768 commented on #27920
BTW, that field is called `categoryedit`.
File is `/administrator/components/com_categories/models/fields/categoryedit.php`

[2020-02-14 07:39] SniperSister commented on #27838
Because a hash is generated? Hell no, that has no measurable impact.

[2020-02-14 07:50] Milglius commented on #27838
David what test you done on .../templates/mytemplatecopy/css/template.css?8e17160b713641b3cc489b29e3405a51" rel="stylesheet" />
.../templates/mytemplatecopy/css/user.css?8e17160b713641b3cc489b29e3405a51" rel="stylesheet" /> to claim this?

[2020-02-14 07:54] SniperSister commented on #27838
What have you tested to claim that it makes the site slow?

[2020-02-14 07:57] #27922 closed, assigned to nobody

[2020-02-14 07:57] SharkyKZ commented on #27922
Please test PR https://github.com/joomla/joomla-cms/pull/27923.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27922">issues.joomla.org/tracker/joomla-cms/27922</a>.</sub>

[2020-02-14 08:05] sanek4life commented on #27920
Language settings on my website, if the screenshots confused you:

![изображение](https://user-images.githubusercontent.com/3662519/74511891-14808d80-4f18-11ea-8c8e-a33d094703e3.png)

I use only 2 languages on my website: `en-GB` and `ru-RU`

![изображение](https://user-images.githubusercontent.com/3662519/74511979-498ce000-4f18-11ea-81a2-2c136a297642.png)

I changed the flag for language `en-GB`.

[2020-02-14 08:15] infograf768 commented on #27920
This is unrelated.
I am now looking if I can filter the categories.
be patient please.

[2020-02-14 08:34] bembelimen commented on #27902
Richard is right, it's "Transition [new condition]". The reason is very easy: you execute transitions (in theory multiple transitions can lead to a stage, so it makes no sense to put in the stage here) and not the stage.

Perhaps I'm wrong here, but the idea was from you Brian? So the user understand the new condition of the item.

[2020-02-14 08:47] infograf768 commented on #27920
Please test replacing the file `/administrator/components/com_categories/models/fields/categoryedit.php` by this one (after unzipping it);

[categoryedit.php.zip](https://github.com/joomla/joomla-cms/files/4203549/categoryedit.php.zip)

[2020-02-14 09:00] brianteeman commented on #27902
You mean I am right not Richard ;)
It still confuses me that you select something in a list and the selected value is not what is displayed

[2020-02-14 09:09] bembelimen commented on #27902
Ups yes, sorry, I shouldn't write in the tram...ofc, you're right.

If I remember correctly (and I still fully agree to it), this combination helps people to see, if the article after execution is visible/disabled on the page, to prevent surprises. (Because now you don't see any condition based on the stage name)

[2020-02-14 09:10] brianteeman commented on #27902
The issue is that the value selected is not the value displayed

[2020-02-14 09:11] richard67 commented on #27902
Let's say I was right on the left side - that there is a transition - and the you were right with the right side - that there is a condition - and this condition belongs to the state after ttransition, that's why bembelimen said "new condition", so I was not too much wrong with the right hand side.

I think the problem behind it is that you can define states and transitions with names not being as

[2020-02-14 09:14] infograf768 commented on #27920
@richard67
The diff is
[code]

I think it should be BC. Can you test?

[2020-02-14 09:14] bembelimen commented on #27902
You could also have a "neutral" name like: "proofread" but it does not indicate if it's visible on the page (published) or not (unpublished). Probably the confusion comes from reusing the old names?

[2020-02-14 09:18] brianteeman commented on #27902
Actually it becomes more confusing when using your own names (thats how I spotted it)

For me the main issue is the difference between the selected value and the displayed value. Pretty certain that this fails accessibility rules

[2020-02-14 09:21] infograf768 commented on #27920
Example of result
<img width="328" alt="Screen Shot 2020-02-14 at 10 20 26" src="https://user-images.githubusercontent.com/869724/74518209-ae920700-4f13-11ea-9551-ae1a1f41b003.png">

[2020-02-14 09:32] infograf768 commented on #27920
Hmm
@richard67

Indeed, this would work for a new article but you are right

So, it is possible to use this when associations are at state and language is already defined but changing language in a pure edit (for article as example), would not work...

[2020-02-14 09:34] brianteeman commented on #27902
I guess it comes down to - do I need to know what the name of the transition is?

I need to know the stage that the article is in and the condition that means. I don't need to know the name given to the transition - do i?

[2020-02-14 09:55] Oemand opened #27924 "Installation: Using default database name might cause an issue"
### Steps to reproduce the issue

Start installation of joomla.
Don't change the default suggested databasename.
Fill out the rest correctly.
The installer gives you an error that your database user do not have enough permisions to create database.
You change the database name and resubmit.
Gives you "0 A Database error occurred."
Cannot install joomla.

Please see video: https://www.dropbox.com/s

[2020-02-14 10:20] sanek4life commented on #27921
I was able to repeat my actions on a test site on a local server.

@infograf768 @richard67  I did not write a complete procedure in my first post.

**Here is the complete procedure:**

1. Create any article and choose the language - `All`. `Save and close` the article.
2. Go to this article and choose the language - English. `Save and close` the article.
3. Go back to the article and click on the

[2020-02-14 10:24] Milglius commented on #27838
David when was such feature introduced in protostar? How to disable such a feature?

[2020-02-14 10:24] sanek4life commented on #27921
@richard67 @infograf768 I was able to repeat this problem on my local server (Joomla! 3.9.15, PHP 7.3.9, MySQL  5.5.5-10.3.13-MariaDB-log) and on my VPS (Joomla 3.9.15, PHP 7.2.26, MySQL 5.5.64). I think that anyone can repeat this problem if he does everything on the points that I wrote. Perhaps if you do it in another way, then there will be no problem, but if you do it exactly as I wrote, then

[2020-02-14 10:26] brianteeman commented on #27838
You should not disable it - it is there for very good reasons. (If you check other cms you will see they do the same/similar thing)

[2020-02-14 10:28] Milglius commented on #27838
brian what reason it is?

[2020-02-14 10:40] MostafaHamedAbdelmasoud commented on #27920
i have replaces it, there is not difference as shown.

it shows all categories too from all lang.

![Capture](https://user-images.githubusercontent.com/36406025/74524107-3dcafa80-4ed3-11ea-8d93-336582d69fec.PNG)

[2020-02-14 10:45] infograf768 commented on #27921
I did also exactly as you wrote and no issue here. Saving a Target will always save also the created date. I found an issue though concerning the publishing date (1 hour difference) for the original item.

![created](https://user-images.githubusercontent.com/869724/74524498-6e388600-4f1f-11ea-9a74-83f9adf31a63.gif)

[2020-02-14 10:50] infograf768 commented on #27921
No problem here.
![created](https://user-images.githubusercontent.com/869724/74524863-2108e400-4f20-11ea-8adf-da094dd1408d.gif)

[2020-02-14 10:57] infograf768 commented on #27920
Anyway the patch should only be useful in com_associations and has to be modified (if possible)
No idea why it does not work for you. cache issue? file not really replaced?

[2020-02-14 11:04] Fedik commented on #27838
answer already was:

Only correction, not when " linked file is changed" but when you update joomla, it is version based hash.
This to prevent old files loading when site updated, to avoid browser cache that may lead to unexpected behavior and bugs.

There 0 performance impact, the hash updated only once.

[2020-02-14 11:13] infograf768 commented on #27920
@MostafaHamedAbdelmasoud
You are right. If the language is not saved yet it does not work.

[2020-02-14 11:40] bembelimen commented on #27902
Yes you need, because different transitions could go to a stage and you could have a plugin which does something on a transition but does nothing on another one.

[2020-02-14 11:46] sanek4life commented on #27921
I looked carefully and saw that you missed one important step in this problem.

You immediately selected the desired language for the article `English` and then immediately saved it.

![изображение](https://user-images.githubusercontent.com/3662519/74528069-57525d80-4f38-11ea-9d11-9b5dba21123a.png)

1) **You need to select the language** - `All` and then click `Save and Close`. You will see that t

[2020-02-14 11:52] sanek4life commented on #27921
I repeated your actions and I have no problem. I see a field - **Created Date** for both articles.

**And now you repeat my actions and you will see the problem that I wrote about.**

[2020-02-14 11:57] sanek4life commented on #27921
@infograf768 This issue only appears for articles that were originally saved without language. Only for articles in which the language was selected in the field - `All`.

This problem does not exist if the article was originally created with a certain language (for example, `English`). Joomla did not always have the option of multilingualism and many did not change the meaning in the language fiel

[2020-02-14 12:06] sanek4life commented on #27921
@richard67 This problem only if the article was saved with the language - `All`. If the article was saved with any language (for example, `English`), then I do not see this problem.

[2020-02-14 12:20] sanek4life commented on #27921
This problem is absolutely for all articles that have been saved with the language - `All`.

For example:

1. You saved 2 articles on the site and forgot to specify the language (both articles were saved with language - `All`).
2. After that, you go into one article and specify the language - `English`.
3. Then go to another article and specify the language - `Russian`.
4. After that, you combine

[2020-02-14 13:21] richard67 commented on #27924
2 questions:
1. Which kind of database are you using? MySQL? Or PostgreSQL?
2. Does the database user have the permission to create databases?

[2020-02-14 13:21] MostafaHamedAbdelmasoud commented on #27920
it is working now like a charm 👍

[2020-02-14 13:36] MostafaHamedAbdelmasoud commented on #27920
do you mean this feature should only work in (com_associations) option and shouldn't work in any option else, like (com_content) option....etc?

[2020-02-14 13:47] Milglius commented on #27838
That code protostar template makes joomla site slow as hell. Do google PageSpeed Insights. It slows site by about 3 seconds.

So Fedik and David, what test you done to claim that 3 seconds is zero impact?

When was such feature introduced in protostar? How to disable such a feature?

[2020-02-14 13:54] MostafaHamedAbdelmasoud commented on #27920
@infograf768
if that what you mean.

in  ```bash
administrator\components\com_categories\models\fields\categoryedit.php ```

we can change your edited condition:
[code]

with this new condition:
[code]
## Condition

i just checked if there is a reference in the layout or not.
PS: reference is existed only in associations layout.

## Result

all categories appears in any layout except associations

[2020-02-14 14:06] Twincarb commented on #27838
@Milglius the change was made to the default template **3 years ago** I have not seen any speed changes with it in place. If this caused a speed issue then it would have been reported over and over on the main forum.
Due to the complex number of variables that could be causing your issues then it would be better to open a post on the main support forum. https://forum.joomla.org/

[2020-02-14 14:20] Milglius commented on #27838
Dave due to the complex number of closed but unsolved issues of joomla it would be better to https://developers.google.com/speed/pagespeed/insights/

Whese tests show how bad horrible joomla template performs with thisfeature not disabled on .../templates/mytemplatecopy/css/template.css?8e17160b713641b3cc489b29e3405a51" rel="stylesheet" />
.../templates/mytemplatecopy/css/user.css?8e17160b713641b3

[2020-02-14 14:37] infograf768 commented on #27920
My patch is not good at all.

1. It will  not work when creating a new article as the language is not saved yet (whether in com_associations or normal edit)
2. If an article language is modified, the category field may be emptied but the article may be saved and closed with the old category when editing an article directly.

So we need to limit it to com_associations and make it work also for new

[2020-02-14 14:40] Fedik commented on #27838
@Milglius stop this nonsense, you have an issue on your side somewhere,
and I suspect you misunderstood what  pagespeed/insights/ said to you.
The hash itself does not affect a performance.

If you need a help in solving of your problem, please follow @Twincarb comment, and ask for help at https://forum.joomla.org/

[2020-02-14 15:02] GCLW commented on #27924
Looking at the attached video. Why is Joomla! even attempting to create a database?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27924">issues.joomla.org/tracker/joomla-cms/27924</a>.</sub>

[2020-02-14 15:15] Quy commented on #27483
@Milglius Can't reproduce either. Please advise which search type you are using.

[2020-02-14 15:30] chmst commented on #27924
You first have to install a database, did you install the database "joomla_db". And can access it via phpMyAdmin, also if it is empty?

My hosting panels all require database names to have a certain structure, so I never can use the default name on servers.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.j

[2020-02-14 15:44] brianteeman commented on #27924
It does this by design - some people think its a convenient feature. I did try to remove that in the past but that was rejected

[2020-02-14 15:52] chmst commented on #27924
It is a nice feature. I like it when working local. What about adding an information to the install screen that the database must be installed and accessible on the server?

[2020-02-14 16:21] Quy commented on #21407
Is #19601 the same issue?

[2020-02-14 16:28] chmst opened #27928 "[4.0] Confusing label for TOS field"
### Steps to reproduce the issue
Register yourself in frontend.
The TOS is mandatory but followed by "(optionaol)" which is confusing

### Expected result
Either it is mandatory or optional, not both.

### Actual result
![tos-optional](https://user-images.githubusercontent.com/1035262/74549194-81fbe080-4f4f-11ea-9198-5bca650f42da.JPG)

### System information (as much as possible)

### Additional c

[2020-02-14 16:29] MostafaHamedAbdelmasoud commented on #27920
1- yes we can limit it to com_associations, i will find a solution too.
2- and you are right....we can't make it for a new item like new article  as we want to select language first..... but we can handle it from jquery select the language first then show categories part depending on this language.
.
i want to work on it too; to get familiar with code and know how the components connect with each

[2020-02-14 16:34] brianteeman commented on #27928
I can not replicate that

![image](https://user-images.githubusercontent.com/1296369/74549455-92a85880-4f47-11ea-850f-bfef56087ebb.png)

There isnt even an option for that field to be optional - it is either required or disabled
![image](https://user-images.githubusercontent.com/1296369/74549586-ce432280-4f47-11ea-9f4f-a52a5143876a.png)

[2020-02-14 16:39] chmst commented on #27928
Your screen is as it should be. Thank you, so it is something in my installation.

[2020-02-14 16:40] 4digitalworld opened #27929 "[Smart Search] + [Multilingual]: search for articles in a specific language (only for different language versions of the website)"
### Is your feature request related to a problem? Please describe.

A `Smart Search` in Joomla indexes a field that points to the language for the article. We can even turn off any language of the `Smart Search`. But I did not see such an opportunity so that for the `English` version of the website I could display the search results only in `English`, and for the `Russian` version of the website I

[2020-02-14 16:41] #27928 closed, assigned to nobody

[2020-02-14 17:02] richard67 commented on #27924
Pity. I would have supported removal.

[2020-02-14 17:59] alikon commented on #27924
i'm unable to replicate this behaviour on PDO postgresql,  where my user don't have the GRANT to create a new database, after setting the correct available database under my user the installation goes successfully to end

p.s
even if i can agree in some way that on localhost can be maybe handy, in the wild, it is quite  rare that your user have the GRANT to create a new database

[2020-02-14 18:02] alikon commented on #27924
can someone replicate the issue under a mysql db ?

[2020-02-14 18:10] brianteeman commented on #27924
@alikon

The report says

[2020-02-14 18:13] richard67 commented on #27924
@brianteeman @alikon means the 2nd part of the test, try with correct information after first attempt failed, see in issue description:

[2020-02-14 18:15] alikon commented on #27924
yes, i've understood that, but,
 i've done the same  steps on a pdo  postgresql
where i don't have the GRANT to create a new database
so 1st attempt with a new db name the correct error message has been display
after i've setted the already existing db name .... but i've got no error and the installation went fine
so i've asked to replicated the same on a mysql.......unfortunately I currently don'

[2020-02-14 18:18] brianteeman commented on #27924
sorry I should have watched the video

[2020-02-14 18:19] richard67 commented on #27924
@alikon I'll test tomorrow if still necessary then. Today I am off my desk.

[2020-02-14 18:21] richard67 commented on #27924
It might be that particular hosters don't allow underscore in db name, what is the case for the default name, and maybe this causes the connection abort due to missing error handling, or the hoster's db behaves strange with that, but when having other error, e.g. missing privilege, the hoster reacts correct and returns the right error.

Just an idea.

[2020-02-14 18:23] brianteeman commented on #27924
I have tested it and can confirm the exact results.

If you have the wrong details and then try to connect with the correct details then you get the error as described

[2020-02-14 18:24] richard67 commented on #27924
I have an idea where to look for it in our code .. will do so tomorrow.

[2020-02-14 18:25] richard67 commented on #27924
I agree with beta-blocker.

[2020-02-14 18:27] alikon commented on #27924
then it should be a mysql driver issues.... postgresql rocks :smile:

[2020-02-14 21:56] ghost opened #27934 "bad Joomla template bug"
#27838

j 3,9,15, php 7.4.2

copy protostar name it mytemplatecopy and instead of this

... /templates/mytemplatecopy/css/template.css" rel="stylesheet" type="text/css" />
.../templates/mytemplatecopy/css/user.css" rel="stylesheet" type="text/css" />

you get this ugly code

.../templates/mytemplatecopy/css/template.css?8e17160b713641b3cc489b29e3405a51" rel="stylesheet" />
.../templates/mytemplate