[2019-02-12 10:56] Agustin-Pantoja commented on #18028
Hi again,

I had another blank page in the administrator backend after updating a different website from the one I mentioned above from joomla to joomla 3.9.2. This time the error was: Error 0 Call to undefined method JAdminCssMenu::addchild

I just checked my own post here and again I renamed the folder mod_menu in administrator/templates/isis/html. Now it works again.

I am starting to think tha

[2019-02-12 11:09] brianteeman commented on #23883
Is internet explorer in compatibility mode? If so then that is a known issue from google

https://support.google.com/recaptcha/answer/6223838?hl=en

[2019-02-12 12:04] bembelimen commented on #23675
Hello @brianteeman I tinkered around with the system board and have first codes:
https://github.com/bembelimen/joomla-cms/tree/system-dashboard
If you have time to check (it's not PR ready yet), I would really appreciate it.

[2019-02-12 12:48] brianteeman commented on #23675
Thats a lot better - only 26 queries.

[2019-02-12 13:38] B3nito commented on #23883
It is not added to the compatibility view settings, and it is the Internet Explorer 11. When I view website in Internet Explorer Captcha is not loading and not visible but still required field. It gives an error when trying to register.

[2019-02-12 13:48] rebootl commented on #17147
So, I'm on an updated debian stretch (which is the current stable atm.) and I'm getting this warning for PHP 7.0.33-0+deb9u1 and PHP 7.1. What do you expect me to do here, install an unofficial debian package from some source I cannot verify? IMHO this is kinda harmful, and ur handling of the issue seems a bit arrogant, no?

[2019-02-12 13:52] B3nito commented on #23883
I have errors on the page like squeezebox not defined and hash not defined modal.js and the ToS is not working. It seems it requires mootools but I cannot use mootools on the page. Is it not show on IE because off mootools?

[2019-02-12 13:52] mbabker commented on #17147
My last comment from July 2017 still stands.  The PHP project itself no longer supports PHP 7.0 in any form and as of the beginning of this year only security support is provided for PHP 7.1.  The plugin is based on the support timeframes from the PHP project.  Operating systems which provide extended support outside of the PHP project's support timeframe are not considered in these checks.  You a

[2019-02-12 15:51] brianteeman commented on #23883
OK so this sounds much more like an issue with your site template as you have multiple things not working.

[2019-02-12 17:55] B3nito commented on #23883
I tested. When I enable Mootools it works in IE. But Mootools should not be mandatory.

[2019-02-12 19:51] amitranjan2 commented on #23812
@C-Lodder  can you give me the system information?
its working fine in ubuntu 18.04

[2019-02-12 20:22] ciar4n commented on #23816
14rem should do it.

[2019-02-12 20:27] hardik-codes commented on #23816
ok

[2019-02-12 21:00] amitranjan2 commented on #23748
@dgrammatiko Is this `choice.js` issue or joomla?

[2019-02-12 21:48] dgrammatiko commented on #23875
@Milglius get this https://github.com/dgrammatiko/imageUploaderHelper

Make all the alterations you need and then all your files will be watermarked or whatever you choose to do there after the upload process.

[2019-02-12 23:21] zwiastunsw opened #23887 "[4.0] Incorrect scope in elements with ARIA role"
### Steps to reproduce the issue
1. Go to Modules Article Category Edit page
2. Run ChromeLens Accessibility test
### Actual result
You will receive more than 20 messages: **Elements with ARIA roles must be in the correct scope**

All tree nodes should be contained in or owned by an element with role `tree`. Currently tree nodes with the role of `treeitem` are not correct in element with role `gro

[2019-02-12 23:24] dgrammatiko commented on #23887
@zwiastunsw you need to open an issue to choices, unfortunately, people thought that this script was a good fit for Joomla, welcome to chosen no2...

[2019-02-12 23:32] zwiastunsw commented on #23887
@dgrammatiko : I'm sory. I don't understand your comment

[2019-02-12 23:35] dgrammatiko commented on #23887
@zwiastunsw we **don't** have control over that code!!!
It means you need to open an issue to their repo: https://github.com/jshjohnson/Choices

And if you're lucky it may get resolved

[2019-02-12 23:38] zwiastunsw commented on #23887
Hmmm. It's too difficult for me.

[2019-02-13 00:43] zwiastunsw opened #23888 "[4.0] Labels Ordering are not associated with forms"
### Steps to reproduce the issue
1. Go to Modules new/edit
2. Use screen reader (I use NVDA),  move focus to Ordering field
or
3. Click on the Ordering label
or
4. Check Accessibility tree (in Chrome)

### Expected result
* The screen reader should announce the role combobox and the label Ordering
* When you click on a label, the field should receive a focus
* The field should have an accessible n

[2019-02-13 00:48] zwiastunsw opened #23889 "[4.0][a11y] Labels Module Assignment are not associated with forms"
### Steps to reproduce the issue
1. Go to Modules new/edit
2. Use screen reader (I use NVDA),  move focus to Module Assignment field
or
3. Click on the Module Assignment label
or
4. Check Accessibility tree (in Chrome)

### Expected result
* The screen reader should announce the role combobox and the label Module Assignment
* When you click on a label, the field should receive a focus
* The field

[2019-02-13 07:11] arrowthemes commented on #11388
Thank you for adding this 'Feature request'. :)
<img width="774" alt="done" src="https://user-images.githubusercontent.com/1540099/52693375-a5283480-2f77-11e9-87e1-1c89414eb66f.png">

[2019-02-13 08:35] brianteeman commented on #23888
Most of the custom elements have the same problem. I did raise this previously

[2019-02-13 08:47] alex7r commented on #23376
@mbabker There is no such thing as "legacy mode".
Actually there is "no legacy mode switcher", but something that can be called "legacy mode" is almost named like it in code itself:
![image](https://user-images.githubusercontent.com/18716997/52698356-60ef6100-2f84-11e9-8e20-7ad6baf86223.png)

@Ninja-007 you can comment or remove the legacy fallback at `html/libraries/src/Extension/ExtensionManager

[2019-02-13 09:03] infograf768 commented on #23812
I also can't reproduce the issue. Scrolling works here OK.

[2019-02-13 09:24] jeckodevelopment commented on #23883
which template are you using?

[2019-02-13 09:25] mojoooo opened #23890 "[3.9] review time of user notes is saved wrong"
### Steps to reproduce the issue
Login as administrator and go to user -> notes. Try to change the review time of a user note.

### Expected result
The entered date will be saved and shown as the new review date.

### Actual result
After entering and saving the new date, it gets converted like:

The day will ever be converted to the 20th.

The month stays the same as entered.

The year changes irr

[2019-02-13 12:22] dgrammatiko commented on #23888
@zwiastunsw the id on the select element there is wrong

@brianteeman what do you mean most custom elements have the same issue? It might be a bug in the id as in the example above but there is no fundamental problem with form fields inside a custom element:
<img width="1654" alt="screenshot 2019-02-13 at 13 17 32" src="https://user-images.githubusercontent.com/3889375/52711519-4fad5100-2f92-11e9-

[2019-02-13 12:47] brianteeman commented on #23888
Check the switcher,fancy-field-select and media custom field and the field used for article selection eg Article Associations (might not be a custom field (?)

The label is not associated with the field

[2019-02-13 12:49] dgrammatiko commented on #23888
Erm, I'm just showcasing the media custom field above...

[2019-02-13 12:52] hardik-codes opened #23891 "[4.0] Language change for toggle editor button"
### Steps to reproduce the issue
Open any article from the article list view.
If there are no articles create one

### Expected result
In my humble opinion, the toggle editor button should be like this
![toggle3](https://user-images.githubusercontent.com/34353697/52712745-821f7400-2fbb-11e9-9117-d1a7355df7cc.png)

### Actual result
![toggle 2](https://user-images.githubusercontent.com/34353697/527

[2019-02-13 12:53] hardik-codes commented on #23891
@brianteeman please comment on the validity of the issue

[2019-02-13 12:56] brianteeman commented on #23888
sorry that one is ok - I was using edge as the browser and it presents the a11y tree in a different way and I misread it for that one. the other  two are correct reports.

PS the real easy giveaeway without checking the accessibiity tree is that you should be able to click on the field label and the browser will highlight the field input

[2019-02-13 13:23] mbabker commented on #23376
That is not "legacy mode".  That is a B/C compatibility layer ensuring that old code works with the new conventions, as any architectural change should do.  Class names or comments containing the word "legacy" do not equate to a legacy mode, which in Joomla terminology refers to a very specific thing that existed in Joomla 1.5.

[2019-02-13 13:25] bahl24 commented on #23864
@rogercreagh Working on the issue.

[2019-02-13 13:57] brianteeman commented on #23891
If you are creating a pull request there is no need to create an issue as well.

This can be closed

[2019-02-13 14:05] #23891 closed, assigned to nobody

[2019-02-13 14:46] puneeth2001 commented on #23636
@C-Lodder Can I know what to change here, this file is in I am not exactly knowing where the mistake is
  layouts/joomla/toolbar/versions.php
![screenshot from 2019-02-13 20-13-20](https://user-images.githubusercontent.com/43813460/52719600-f19d5f80-2fcb-11e9-899b-ae0d6e5d9b39.png)

[2019-02-13 14:53] C-Lodder commented on #23636
@puneeth2001 - I don't know off the top of my head. You'll have to debug it

[2019-02-13 14:58] Ninja-007 commented on #23376
Backward compatibility of J4 to J3 extensions is a Legacy mode for me. I have my own extensions and some third party extensions. My extensions should be in J4 architecture and NOT J3 compatible. They should use namespaces, new event system, new classe names etc.

So I my question was, instead of reading code of my extensions (developed by someone in the team) which it time consuming, it would be g

[2019-02-13 15:00] puneeth2001 commented on #23636
ok, I'll try doing it.

[2019-02-13 15:01] tonypartridge commented on #23376
There is no need to read code? If you use an IDE run an inspection for php deprecated classes and it will tell you everything you are using that is deprecated and should be updated.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ninja-007 <notifications@github.com>
Sent: Wednesday, February 13, 2019 2:58 pm
To: joomla/joomla-cms
Cc: Tony Partridge; Mention
Subj

[2019-02-13 15:13] mbabker commented on #23376
There is not a "legacy mode", there is not a configuration option to disable "legacy" code or backward compatibility or raise warnings because a specific class is in use.  The long and short is if a class is not deprecated, it is just fine to use it.  If a class is deprecated (which depending on the convention in use may trigger a `E_USER_DEPRECATED` message in your PHP logs or a `Log::WARNING` le

[2019-02-13 16:04] hardik-codes commented on #23795
@C-Lodder I'm still stuck with the implementation of the svg clock icon ?

[2019-02-13 16:14] C-Lodder commented on #23795
@hardik-codes : https://github.com/joomla/joomla-cms/blob/4.0-dev/build/media_source/system/css/fields/calendar.css#L152

You will need to encode the SVG for CSS usage, using a tool like this: https://yoksel.github.io/url-encoder/

[2019-02-13 16:24] vijay9908 commented on #23874
Things like these don't create any problem and moreover such generic things can be avoided.

[2019-02-13 16:26] tapiochre101 commented on #23875
@Milglius try the JCE Editor Component. It comes with a very handy image editor that allows you to rotate, resize and crop your images.

Hope this helps.
C<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23875">issues.joomla.org/tracker/joomla-cms/23875</a>.</sub>

[2019-02-13 16:31] tapiochre101 opened #23894 "Weblinks not inheriting Global Settings for Target"
Unsure if this gets pulled over from githib or not. Sorry if I mess up!

### Steps to reproduce the issue

    1. In Components >> Web Links Manager >> Options, set Target to "Open in New Window"

    2. Create a new Weblink Category (or use an existing category)

    3. Create a new Weblink, assign to the category

    4. Set the Weblink's target is to "Use Global"

    5. Create a Weblink Module

[2019-02-13 16:36] #23894 closed, assigned to nobody

[2019-02-13 16:36] Quy commented on #23894
Please post to the Weblinks repo: https://github.com/joomla-extensions/weblinks<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23894">issues.joomla.org/tracker/joomla-cms/23894</a>.</sub>

[2019-02-13 16:39] tapiochre101 commented on #23894
Thanks

https://github.com/joomla-extensions/weblinks/issues/397

Regards

Chris Elliott
Tapiochre Ltd

M: 07958 726700

Follow me on Twitter: @tapiochre

2017 – Tapiochre’s 15th Year in Business

From: Quy <notifications@github.com>
Reply-To: joomla/joomla-cms <reply@reply.github.com>
Date: Wednesday, 13 February 2019 at 16:37
To: joomla/joomla-cms <joomla-cms@noreply.github.com>
Cc: "chris@tapio

[2019-02-13 17:32] brianteeman commented on #23887
not sure why you have highlited the div with the role=group as that is not a containing div for the items with a role=treeitem

[2019-02-13 17:41] brianteeman commented on #23887
@zwiastunsw you are correct however that the role attribute is not being used correctly pretty much everywhere

[2019-02-13 18:00] danjde opened #23895 "Blank summary window after upload media image"
### Steps to reproduce the issue
Uploading any media into contents

### Expected result
shows the upload confirmation window with all relevant information

### Actual result
only an empty page shown

### System information (as much as possible)
Debian 8
Apache2 2.4.10
php 5.6.38
mysql 5.5.59
Joomla 3.9.2
verified file permission, all ok

### Additional comments
I've try with others Joomla sites ho

[2019-02-13 19:04] HLeithner commented on #23895
Could you please check the php and apache  error log.

[2019-02-13 19:19] hardik-codes commented on #23795
@C-Lodder Which css file contains  the code for the ```Clear```, ```Today``` and ```Close``` buttons.

[2019-02-13 20:37] C-Lodder commented on #23795
You dont need to modify the CSS file. The buttons will most likely be injected from the JS file but dont worry about those, cause I'll be rewriting the calendar as a custom element soon

[2019-02-13 20:50] Spudley commented on #23867
I'm a little confused here; I've been mentioned in this thread... so is there actually anything that I need to do, or can I ignore all of this? It looks like the required changes have been made, right?

[2019-02-14 00:01] okonomiyaki3000 commented on #23867
@Spudley I'm mentioned here too but I have no intention of taking any action whatsoever.

[2019-02-14 00:28] zwiastunsw opened #23896 "[4.0][a11y] Hints not correctly linked to forms"
### Steps to reproduce the issue
1. Go to Admin menu > Content > Articles > New
2. Use screen reader (e.g. NVDA)
3. Go on "Option" tab
4. Move focus to options: Icons, Print, Email, Unauthorised Links, Read More Text

### Expected result
You should hear the names and labels of the fields and related hint, eg.

### Actual result
Form controls sometimes have related instructions (hints, tip). Sighte

[2019-02-14 01:18] brndt commented on #23772
I have the same problem with Chrome (72.0.3626.96, 64 bit)/Opera(58.0.3135.53)
Joomla 3.9.3.

Meanwhile Firefox works perfectly.

[2019-02-14 06:33] HLeithner commented on #23867
The violation has already been fixed by Luca, so you don't have to do anything.

[2019-02-14 08:42] hardik-codes commented on #23795
Ok then.
But will I not be needing the CSS file to reduce the border above```Sat``` and ```wk```?

[2019-02-14 08:54] B3nito opened #23898 "Feature request for privacy - User Registration without consent"
### Is your feature request related to a problem? Please describe.
I want to give the User the possibility to say NO and still use website.
Currently User is forced to give consent.

### Describe the solution you'd like
Possibility for user to say "NO" and his activities are not tracked.

[2019-02-14 08:56] B3nito commented on #23883
I am using a Bootstrap 4 Template. I made unset mootools because I don't need it. But it breaks captcha on Internet Explorer. When I enable Mootools it works.

[2019-02-14 08:59] jeckodevelopment commented on #23898
Technically, you shouldn't handle personal data without consent.
If a user is registered, means that you are handling/processing personal data.
It's not only about tracking activities, data processing includes also the fact that you might have access to personal data, and user registration gives you the opportunity to view (then process) users data.

[2019-02-14 09:37] C-Lodder commented on #23795
I'm not sure about that. I haven't debugged it properly.

[2019-02-14 10:26] sakiss opened #23899 "[4.0] Text Not Found in Finder > Filters"
### Steps to reproduce the issue
Under the _com_finder_ click _filters_
Url: administrator/index.php?option=com_finder&view=filters

### Expected result
Show the list of the filters

### Actual result
_Fatal error: Text Not Found_

### System information (as much as possible)
Joomla 4.0 alpha6

### Additional comments
Add the Text class in the file:
administrator/components/com_finder/tmpl/filters

[2019-02-14 10:31] amitranjan2 commented on #23899
For your concern Duplicate #23677

[2019-02-14 10:45] sakiss commented on #23899
Ok I am closing as duplicate

[2019-02-14 10:45] #23899 closed, assigned to nobody

[2019-02-14 11:14] hardik-codes commented on #23795
Ok then I'll try it on my part. Let me know the css file please.

[2019-02-14 11:48] C-Lodder commented on #23795
calendar.css

[2019-02-14 13:54] hardik-codes commented on #23795
@C-Lodder please review PR#23903

[2019-02-14 14:02] lisandroTSilva opened #23904 "Customization of the contact limit displayed in the category menu"
### Steps to reproduce the issue

- Create some contacts (10 for example) in a specific category.
- Create a type menu "Contacts » List Contacts in a Category"
- System > Global Configuration > tab _Site_ > option:  _Default List Limit_, This setting that determines the Contact Limit displayed.

### Expected result
This item sets the number of rows in the administrative area and in the site, I wou

[2019-02-14 14:12] C-Lodder commented on #23795
Closing as we have a PR: #23903

[2019-02-14 14:12] #23795 closed, assigned to nobody

[2019-02-14 14:42] sakiss opened #23905 "[4.0] Auto-ordering on item saving Not working"
### Steps to reproduce the issue
Use the \Joomla\CMS\Table\Table::save inside your Model

This function is meant abstract all the functions for saving an item (bind, check, store).
In case it gets as 2nd parameter the ordering field name ($orderingFilter), it is supposed to re-order the item, based on the existing rows in the table.

### Expected result
Give a proper/incremental ordering number

#

[2019-02-14 15:11] puneeth2001 commented on #23636
By the way, can I work on it??

[2019-02-14 15:19] Bakual commented on #23636
@puneeth2001 You certainly don't need a permission to do it. We're thankful you're helping! 👍

[2019-02-14 15:50] puneeth2001 commented on #23636
@C-Lodder Is it necessary that the backdrop should be there?
![screenshot from 2019-02-14 21-19-03](https://user-images.githubusercontent.com/43813460/52798608-4ad5c380-309e-11e9-9fb1-102647cff2f2.png)

[2019-02-14 15:54] puneeth2001 commented on #23856
#23636
similar problem is here.

[2019-02-14 16:05] C-Lodder commented on #23636
@puneeth2001 - Yes the backdrop should be there for UX purposes, so it allows people to focus easily on the contents of the modal

[2019-02-14 16:29] hardik-codes commented on #22507
@brianteeman Working on it

[2019-02-14 16:38] hardik-codes commented on #22544
@brianteeman in which file should the above code has to be put to ?

[2019-02-14 16:51] hardik-codes commented on #23626
On changing the ```max-width: $input-max-width;``` the width of both title filed and alias field change simultaneously.

[2019-02-14 16:53] brianteeman commented on #22544
If I knew that I would have done it myself :)

[2019-02-14 19:05] bembelimen commented on #22544
The output is here: https://github.com/joomla/joomla-cms/blob/4.0-dev/layouts/joomla/toolbar/basic.php

[2019-02-14 19:51] jurihahn opened #23907 "GeoIP "geoip2.phar" don't work with Joomla 3.9.3"
### Steps to reproduce the issue
Create library for Joomla with files
geoip2.phar from https://github.com/maxmind/GeoIP2-php
"geoip.php":
`include_once('geoip2.phar');`

use
`jimport('libraryname.geoip');`

### Expected result
No exceptions, all works as with Joomla 3.9.2

### Actual result
Exception:
Failed opening required 'phar:\/\/geoip2.phar\/vendor\/autoload.php

### System information (as m

[2019-02-14 20:03] jurihahn commented on #23907
i found this https://www.drupal.org/project/drupal/issues/3028265
i think Drupal have same problem

[2019-02-14 20:13] jurihahn commented on #23907
This quick path:
[code]

[2019-02-14 20:21] mbabker commented on #23907
See https://github.com/TYPO3/phar-stream-wrapper/pull/15 for upstream fix

Patching third party files is only a solution for a temporary fix, this type of change cannot be allowed in the CMS.

[2019-02-14 20:22] mbabker commented on #23907
Also as pointed out in https://www.drupal.org/project/drupal/issues/3026443 and related conversation, that patch is actually pretty likely to re-introduce security issues.

[2019-02-14 20:26] hardik-codes commented on #22544
Is there any thing remains to be changed @bembelimen as I think the above file already has the code as suggested by @brianteeman

[2019-02-14 20:48] brianteeman commented on #22544
@hardik-codes no it doesn't. if it did then there wouldnt be an issue to fix :)

[2019-02-15 06:25] jurihahn commented on #23907
yes, this is just quick solution that work for me. Without this solution my service dont work... Gets Joomla update with fix in version 3.9.4?

[2019-02-15 10:04] jojo12 opened #23909 "Bug with 3.9.3: content plugin with leaflet doesn't works anymore"
### Steps to reproduce the issue
contentplugin osm_akuechler is installed and activated
textfilter is no filter

### Expected result
like that in Joomla! 3.9.2 it worked and showed a osmmap in article.

### Actual result
no map in article

### System information (as much as possible)
PHP erstellt für 	Linux server46.hostfactory.ch 3.16.0-6-amd64 #1 SMP Debian 3.16.56-1+deb8u1 (2018-05-08) x86_64
D

[2019-02-15 10:20] HLeithner commented on #23909
I tested the plugin with 3.9.3 and it works fine for me, at least the example works fine.

You have to be more specific.

Reference to the plugin issue https://github.com/admiralsmaster/osm_akuechler/issues/8

[2019-02-15 10:47] zwiastunsw opened #23910 "[4.0] - Menu Item Type - Button single article Edit not working"
### Steps to reproduce the issue

* Create a menu item of the Single article type
* Click button "Edit" for editing selected article.
![edit_article](https://user-images.githubusercontent.com/29527200/52851733-1fdb8600-3117-11e9-875d-d15b62606bfc.png)

### Expected result
The modal window should open.

### Actual result
Modal window does not open. Errors are reported in the console
[code]
### Syst

[2019-02-15 10:54] Bakual commented on #23909
Since this is not a core issue, I'm closing it.
Please ask the developer of the plugin for further assistance.

[2019-02-15 10:54] #23909 closed, assigned to nobody

[2019-02-15 10:59] zwiastunsw opened #23911 "[4.0] Assignment menu function not accessible to blind users"
The user of the screen reader gets access to almost all implemented operating possibilities, but they are not understandable.
1. The "Menu selection" label is not announced by the screen reader.
2. A widget to select / expand menu tree is not accessible because
  a. Does not have an accessible name (headings or label)
  b. “Select” & “Expand” labels are not announced by the screen reader
  c. “All

[2019-02-15 11:02] amitranjan2 commented on #23910
issue confirmed

[2019-02-15 11:07] amitranjan2 commented on #23910
And also,
Save & Close   and Save button not working
Only Close button is working

[2019-02-15 11:18] zwiastunsw commented on #23910
@amitranjan2
Save @ Close button not workin in modal window when you can open a modal window (See: [#23260]{https://github.com/joomla/joomla-cms/issues/23260)) . In this case the modal window cannot be opened at all.

[2019-02-15 11:38] Milglius commented on #23875
@mbabker mentioned that one just can use api , but the problem no one knows where to insert this api in joomla

[2019-02-15 12:07] puneeth2001 commented on #23910
![screenshot from 2019-02-15 17-28-59](https://user-images.githubusercontent.com/43813460/52855533-af992880-3147-11e9-9dc4-8e651692d545.png)
I am getting nothing like that

[2019-02-15 12:11] zwiastunsw commented on #23910
1. click Select button
2. Select menu type Articles > Single Article
3. Select article

[2019-02-15 12:12] amitranjan2 commented on #23910
Follow this

click >> Select >> Articles>>Single Article

[2019-02-15 12:18] puneeth2001 commented on #23910
can I work on this issue?

[2019-02-15 12:21] zwiastunsw commented on #23910
I think so.  And also on that: https://github.com/joomla/joomla-cms/issues/23260

[2019-02-15 12:58] zwiastunsw commented on #23896
Same issue:
7. Articles: New/Edit Field pages
* **Options** tab: "Placeholder", "Render Class", "Edit Class", "Display When Read-Only"
8. Articles: New Field Group pages
* * **Options** tab: "Display When Read-Only"

[2019-02-15 13:27] mbabker commented on #23907
It depends on when the upstream fix is released.  The quick fix that you suggested though should not be included in a release because it re-introduces a similar issue that adding that library tries to solve (basically if you're rolling with that patch you're suggesting on a production site you need to be pretty darn certain that no other PHAR files are able to get into your environment, or you sho

[2019-02-15 13:30] mbabker commented on #23875
The plugin @dgrammatiko linked to demonstrates use of the Image API.

[2019-02-15 13:46] zwiastunsw commented on #23888
I have identified the same problem on many pages. In order not to assume new issues, here is a list of detected cases:

1. Article new/edit page:
   - **Content** tab: Ordering field, Tags field
2. Articles: New / Edit Category
   - **Category** tab: Parent field, Tags field
3. Articles: New/Edit Field
   - **General** tab: Category field
4. Articles: New/Edit Field pages
   - **Options** tab: Dis

[2019-02-15 14:58] Milglius commented on #23875
so api works only in plugin you cant just paste `watermark(\Joomla\Image\Image $watermark, integer $transparency = 50, integer $bottomMargin, integer $rightMargin) : \Joomla\Image\Image` in the template ?

[2019-02-15 15:14] mbabker commented on #23875
You can't paste that line as is anywhere, the API documentation doesn't give code examples but some basic documentation of what the method does and its signature which contains what the method expects to receive and what will be returned at the end of it.  If you need a practical example, this is one:

[code]

This should be done in a plugin listening to a save event, not in your template.  The Im

[2019-02-15 15:16] mbabker commented on #23875
At this point this issue is turning into a user support request, which isn't what this platform is used for.  If you need further assistance, please use the forums at https://forum.joomla.org.

Given there is an API in Joomla for plugins to process images, the media manager in 4.0 will have more image editing capabilities, and there are extensions for 3.x to do this type of thing, there isn't any

[2019-02-15 15:16] #23875 closed, assigned to nobody

[2019-02-15 19:53] Milglius commented on #23875
Thank you for information

[2019-02-15 21:17] #23511 closed, assigned to nobody

[2019-02-16 05:01] mmustermann628483 opened #23914 "Remove trailing white spaces in htaccess"
Remove the trailing white spaces in line 11, 13, 14, 15 and 38 in the file htaccess.

[2019-02-16 05:47] mmustermann628483 opened #23915 "Remove trailing white spaces in robots.txt"
Remove the trailing white spaces in line 1, 2, 3, 6, 7, 8 and the double blank line at the end in the file robots.txt.

[2019-02-16 07:53] HLeithner commented on #23914
If you like to change the source code of the project you have to learn how to do it. Github makes it really simple for small changes.

In your case, you only have to open the file to change in github, click on the edit button and make the changes you want to do. After this you get a pull request page, there you can create a pull request against the joomla repository and we can the the change easil

[2019-02-16 08:51] hardik-codes commented on #23915
@mmustermann628483 in which version of Joomla has to be done. I'll be working on it

[2019-02-16 08:52] hardik-codes commented on #23914
@mmustermann628483 in which version of Joomla this has to be done. I'll be working on it

[2019-02-16 09:20] Bakual commented on #23915
We only ship the https://github.com/joomla/joomla-cms/blob/staging/robots.txt.dist file. The robots.txt in your web directory is done either by you manually or by your webhost.

[2019-02-16 09:24] Bakual commented on #23914
We don't create any .htaccess file. This would have been done by you or your webhost.
What we ship is the file https://github.com/joomla/joomla-cms/blob/staging/htaccess.txt.

If I look at your mentioned lines, those are all comments. A trailing whiespace doesn't matter at all there.
Is there a reason you want to remove those?

[2019-02-16 09:57] brianteeman commented on #23898
This should not be in the core

[2019-02-16 10:41] mmustermann628483 commented on #23914
Yes I am talking about the file that is shipped by the installation. It is not important, just my editor asked me to fix the white spaces. I just wanted to mention this since Joomla! has such a strict code styling.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23914">issues.

[2019-02-16 10:42] mmustermann628483 commented on #23915
Yes I am talking about the file that is shipped by the installation. It is not important, just my editor asked me to fix the white spaces. I just wanted to mention this since Joomla! has such a strict code styling. Just 10 seconds to "fix" that.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tr

[2019-02-16 10:54] hardik-codes commented on #23914
@mmustermann628483  working on it

[2019-02-16 10:55] hardik-codes commented on #23915
@mmustermann628483 working on it

[2019-02-16 11:00] Bakual commented on #23915
Closing since we have a PR #23916

[2019-02-16 11:00] #23915 closed, assigned to nobody

[2019-02-16 11:00] Bakual commented on #23914
Closing since we have a PR #23917

[2019-02-16 11:00] #23914 closed, assigned to nobody

[2019-02-16 11:45] alikon commented on #23658
test #23918

[2019-02-16 11:56] HLeithner commented on #23658
Closed because we have a PR thx @alikon

[2019-02-16 11:56] #23658 closed, assigned to nobody

[2019-02-16 13:44] brianteeman commented on #23896
There is nothing wrong. The description is in the accessibility tree as you can see below.

![image](https://user-images.githubusercontent.com/1296369/52900647-3bff2600-31f0-11e9-8eed-c6d866742bf9.png)

The reason that you are not "hearing" it on your NVDA screen reader is that it is not configured to announce descriptions by default - you have to enable that in the screen reader options.  Other s

[2019-02-16 13:47] brianteeman commented on #23896
General note. If it is in the accessibility tree then there is no problem. No need to have a screen reader to test.

[2019-02-16 14:30] zwiastunsw commented on #23896
You are partially right.
When a controls has a `title' attribute, some screen readers read its contents. These descriptions are in the accessibility tree because the reader "calculated" them from the `title attribute` and not from the `describedby` attribute.
In the cases presented by you, as well as in a few others, we have both the badly addressed attribute `describedby` and additionally the `ti

[2019-02-16 14:39] brianteeman commented on #23896
Well in that case the title is clearly not redundant ;)

In future it will make it easier to understand what you are saying if you include sample code of how it should be. Not php just simple html markup

[2019-02-16 14:51] zwiastunsw commented on #23896
You have a description text in the output code twice, See Key Reference case
* in `input` tag and
* in `smal ...` tag below
 So you have to repeat it unnecessarily.
In my opinion, the code should be like this:

[code]

[2019-02-16 14:55] brianteeman commented on #23896
So the problem that needs to be resolved is that currently the code` aria-describedby="jform[xreference]-desc"` is coming from

https://github.com/joomla/joomla-cms/blob/23d5fb7edc3046f598a8318e80777f8a1ad75985/layouts/joomla/form/renderfield.php#L39

When it needs to come from the $input defined on the next line. Therefore we need to change all the files in https://github.com/joomla/joomla-cms/tr

[2019-02-16 15:02] zwiastunsw commented on #23896
1. The `describedby` attribute must be deleted from `<div class="control....">` and assigned accordingly to form control
2. The `title` attribute, if exist, should be deleted

[2019-02-16 15:50] puneeth2001 commented on #23863
can I work on this issue

[2019-02-16 16:56] Quy commented on #23863
@puneeth2001 You do not need to ask for permission. Go for it.

[2019-02-16 20:51] brianteeman commented on #23896
I will have something to test shortly. Just working through all your reports to make sure I have covered them all.

[2019-02-16 20:55] zwiastunsw commented on #23896
Write more precisely what you expect. Or in other words, because I don't understand

[2019-02-16 20:59] brianteeman commented on #23896
I am working on a pull request. The basic has been done and I am just making sure it fixes everything you reported.

[2019-02-16 21:01] zwiastunsw commented on #23896
I will try to test it as soon as you publish PR. But not today - it is very difficult for me to update the test environment.

[2019-02-16 21:02] brianteeman commented on #23896
For this test you will be able to apply the pull request using the patchtester

[2019-02-16 21:03] zwiastunsw commented on #23896
OK

[2019-02-16 21:27] brianteeman commented on #23888
see #23919

[2019-02-16 21:40] brianteeman opened #23920 "[4.0] custom field fancy select"
### Steps to reproduce the issue
Where this field type is displayed we have extra space as seen below

![image](https://user-images.githubusercontent.com/1296369/52905528-632b1700-3233-11e9-9e5b-6fa72bfab6bb.png)

@dgrammatiko can you take a look

[2019-02-16 21:41] dgrammatiko commented on #23920
tags?

[2019-02-16 21:42] brianteeman commented on #23920
yes - sorry didnt want the screen shot too big

![image](https://user-images.githubusercontent.com/1296369/52905552-b4d3a180-3233-11e9-93c3-423a87f7c5f8.png)

[2019-02-16 21:51] dgrammatiko commented on #23920
Hm, I don't get that, which browser?

[2019-02-16 21:58] brianteeman commented on #23920
Not on all pages it would seem

Check  User Notes: Edit Category

[2019-02-16 22:04] dgrammatiko commented on #23920
This is coming from the choices.js:
![screenshot 2019-02-16 at 23 04 07](https://user-images.githubusercontent.com/3889375/52905767-3b41b080-323f-11e9-8a08-3011cf0e4efc.png)

[2019-02-16 22:06] brianteeman commented on #23920
but why only on that page?

[2019-02-16 22:31] dgrammatiko commented on #23920
It's your beloved Bootstrap, just remove the class `col-sm-12`

[2019-02-16 22:32] brianteeman commented on #23920
so its not choices then ;)

[2019-02-16 22:35] dgrammatiko commented on #23920
I tend to blame always Javascript but when Bootstrap is also involved my chances are running low on the first one 😛

[2019-02-16 22:37] dgrammatiko commented on #23911
@zwiastunsw if you can come up with an HTML markup I'll do the js part...

[2019-02-16 22:45] brianteeman commented on #23920
Closed see #23921

[2019-02-16 22:45] #23920 closed, assigned to nobody

[2019-02-17 00:25] brianteeman commented on #23889
Please test #23922

[2019-02-17 00:33] #23889 closed, assigned to nobody

[2019-02-17 00:34] brianteeman commented on #23888
@zwiastunsw can you update the list please as I think some of them have been resolved in the #23919

[2019-02-17 10:06] brianteeman commented on #23896
If all the reported issues are dealt with can you close this please. If not please let me know which are still to do

[2019-02-17 10:10] puneeth2001 commented on #23863
@Quy  is it ok:
![screenshot from 2019-02-17 15-39-46](https://user-images.githubusercontent.com/43813460/52911477-4ee62900-32ca-11e9-9d9e-e3d8011a8353.png)

[2019-02-17 10:13] brianteeman commented on #23888
As far as I can tell it is just the switcher fields that need fixing. Can you suggest what the html should be and I can fix that

[2019-02-17 11:37] rgtr opened #23924 "Uploading File Exists Error"
### Steps to reproduce the issue
If you have a media item with spaces [uploaded in 2013 when spaces in media file names was acceptable], rename the item with "-"'s replacing the spaces
Upload.

### Expected result
File will upload. e.g.
Old file: "SN Mill 20.jpg" with spaces remains
New File "SN-Mill-20.jpg" with dashes uploads ok,

### Actual result
Error File Exits

### System information (as mu

[2019-02-17 11:48] zwiastunsw commented on #23888
As you can see, there were no switches in the list above. Because this is a separate topic.
Label tag cannot be applied to a set of fields. See:

The easiest way seems to me to add a legend tag inside the fieldset tag.
So who should look like that:

[code]

[2019-02-17 11:57] brianteeman commented on #23888
OK I can work on that. I was struggling with finding out how to do the mark up - but the legend seems a good approach with a class of sr-ony

I will work on that.

[2019-02-17 12:07] zwiastunsw commented on #23911
@dgrammatiko : Do you want to improve only the switch?
Your code seems to be correct, but I think you first need to rebuild the code responsible for selecting a menu item to define the switch's operations well.

[2019-02-17 12:15] zwiastunsw commented on #23888
I thought rather about replacing the current `label` tag with a `legend` tag. `Label` tag is not correct here. It contains a label, but this label is not assigned to any element. Its relationship with the switch is only visual.

[2019-02-17 12:16] brianteeman commented on #23888
@dgrammatiko just realised that this switcher is all js - not my area ;)

[2019-02-17 12:17] dgrammatiko commented on #23888
@zwiastunsw @brianteeman decide what the markup should be and I'll do the changes

[2019-02-17 12:19] dgrammatiko commented on #23911
@zwiastunsw ok define the HTML here and I'll do the coding part

[2019-02-17 12:20] brianteeman commented on #23888
I am happy with the legend idea. A fieldset is supposed to have one anyway

[2019-02-17 12:22] dgrammatiko commented on #23888
We need someone to style the legend so it looks like label, eg respects the style of the rest of the form. @ciar4n some help here?

[2019-02-17 12:23] zwiastunsw commented on #23888
My opinion: `legendl tag instead of `label`
![legendtag](https://user-images.githubusercontent.com/29527200/52912806-f9ece780-32b6-11e9-8c85-789658d55cb2.png)
You will need to style like a label.

[2019-02-17 12:27] brianteeman commented on #23888
Replacing the label with a legend wont work.
We render the label and the input separately not as one single input so in this case the legend tag will be outside of the fieldset which is not valid

[2019-02-17 12:30] dgrammatiko commented on #23888
@brianteeman the legend will be a child of the fieldset not outside. The styling needs to be adjusted so it looks like a label, so not changing the markup, just some fancy styling

[2019-02-17 12:39] brianteeman commented on #23888
but you would then need to change the renderfield code to not output a label

[2019-02-17 12:41] dgrammatiko commented on #23888
@brianteeman there is already an option in the codebase for this

[2019-02-17 14:01] zwiastunsw commented on #23863
@puneeth2001 : Don't ask if it's okay. Do PR. Testers will evaluate.

[2019-02-17 14:31] zwiastunsw commented on #23888
@dgrammatiko : Note. Remember to correctly add `aria-describedby` to the switcher (to `fieldset` in this cause)

[2019-02-17 14:37] dgrammatiko commented on #23888
`aria-describedby` should point to legend, right?

[2019-02-17 14:37] zwiastunsw commented on #23888
no to legend, to fieldset

[2019-02-17 15:26] bembelimen commented on #21547
See: https://github.com/joomla/joomla-cms/pull/23458

[2019-02-17 16:51] twister65 opened #23925 "Update to Joomla 3.9.3 fails (PostgreSQL)"
PR #23526 ([com_actionlogs] - log checkin actions) fails.
### Steps to reproduce the issue
Update to Joomla 3.9.3 with a PostgreSQL database.

### Expected result
No alert message.

### Actual result
![update3-9-3](https://user-images.githubusercontent.com/26852967/52916124-15b6b480-32dc-11e9-8b4d-1fed367144d0.png)

[2019-02-17 16:54] twister65 commented on #23925
To fix this issue, apply this SQL script to your postgreSQL database before the update to Joomla 3.9.3 :
[3.9.4-2019-02-17.txt](https://github.com/joomla/joomla-cms/files/2873171/3.9.4-2019-02-17.txt)
Don't forget to change the prefix (#_).

[2019-02-17 18:32] bahl24 commented on #23814
![screenshot from 2019-02-18 00-00-26](https://user-images.githubusercontent.com/36095178/52917336-33057600-3310-11e9-9bcf-e2ba7245334b.png)
@ciar4n I am getting the horz scroll bar, can you specify which browser you are using or pull recent updates and try again

[2019-02-17 18:51] bahl24 commented on #23803
@C-Lodder Modal is visible when you click on select button
![screenshot from 2019-02-18 00-19-21](https://user-images.githubusercontent.com/36095178/52917555-ec654b00-3312-11e9-8781-194302706c25.png)

[2019-02-17 19:49] ciar4n commented on #23814
That is the issue. There should not be a horizontal scrollbar.

[2019-02-17 20:09] bahl24 commented on #23814
@ciar4n Then are you expecting all buttons on single page without scroll bar, so how to navigate?

[2019-02-17 20:46] ciar4n commented on #23814
Sorry but I do not understand what you are saying. Please note I am talking about the horizontal scroll, not the vertical scroll.

[2019-02-17 20:46] Sulpher opened #23926 "Add language param to Custom HTML module in backend"
We can use a custom HTML module for back-end to display something on dashboard.
Since this module means custom text, in the case of multilingual website it might be useful to allow admin to prepare different HTML modules for each language section.

Yes, it is possible  to make a new module like 'hello world' and insert one language string there which might be overriden via Joomla override, but my

[2019-02-17 20:50] brianteeman commented on #23926
Admin modules already do this

[2019-02-17 20:55] Sulpher commented on #23926
I do not see an option to select the language for admin modules (see the screenshot above). There is no such problem for front modules.

[2019-02-17 21:03] Sulpher commented on #23926
![jadmin](https://user-images.githubusercontent.com/3432048/52919170-98596700-3310-11e9-9f74-0865bdc10d57.gif)
Joomla 3.9.3

[2019-02-17 21:07] brianteeman commented on #23926
![image](https://user-images.githubusercontent.com/1296369/52919235-00e81a00-32f8-11e9-9eea-ac5c8f4a4ac0.png)

[2019-02-17 21:29] Sulpher commented on #23926
Wow, I did not about this feature. Thank you, Brian :-)

[2019-02-17 21:29] #23926 closed, assigned to nobody

[2019-02-17 22:20] ciar4n commented on #23888
PR created.. https://github.com/joomla/joomla-cms/pull/23927

[2019-02-18 01:21] #23776 closed, assigned to nobody

[2019-02-18 04:18] bahl24 commented on #23814
I want to know that without scrollbar how can we navigate?
One solution can be to close the toggle menu <600px so that all content is on the screen eliminating need of horz scroll bar.

[2019-02-18 08:05] C-Lodder commented on #23803
Seems to be working now

[2019-02-18 08:05] #23803 closed, assigned to nobody

[2019-02-18 08:08] C-Lodder commented on #23812
It's an issue in Firefox for me. There seems to be something wrgonw tih the frontend. Possible some JS script causing everything to run extremely slow and cause the browser to crash.

[2019-02-18 08:08] C-Lodder commented on #23799
Seems to be working now

[2019-02-18 08:08] #23799 closed, assigned to nobody

[2019-02-18 10:35] brianteeman commented on #23301
+1 for this being something that you do in a template override and not for the core

[2019-02-18 10:49] brianteeman opened #23932 "[4.0] Media Manager"
The new media manager is almost completely inaccessible to any user who is not using a mouse especially when in the list view.

Even though it is tabular data and therefore should be a table the information is presented as a list :(

@zwiastunsw

[2019-02-18 11:12] wilsonge commented on #23932
I've been dabbling with trying to make it keyboard accessible the last week (note just trying to make the existing markup give or take work - not trying to convert it to a table unless that's a hard requirement). I can push up some incomplete work on it if it helps too.

[2019-02-18 11:13] wilsonge commented on #23925
@alikon Are you able to take a look into this?

[2019-02-18 11:14] alikon commented on #23925
sure i'll look at this

[2019-02-18 11:15] wilsonge commented on #23932
By the way the one thing I can't work out. If i open the 'dropdown' that has the action buttons (i.e. edit etc), it resets the keyboard focus back to the html tag in the dom. is that expected when the dom is mutated or not?

[2019-02-18 11:23] rolandalsace opened #23933 "looping in users goups"
Possible to make looping in users groups
See pictures (copy of DB)

### Steps to reproduce the issue
Always

### Expected result
Fatal error: Maximum function nesting level of '256' reached, aborting! in ...\libraries\src\Helper\UserGroupsHelper.php on line 169

### Actual result

### System information (as much as possible)

### Additional comments

[2019-02-18 11:24] brianteeman commented on #23932
Tabular data should be presented as a table.

When you navigate through a table with your eyes you are able to understand what the data represents because you can see that it is in a column called size.

When you navigate through a table with a screen reader you can hear what the data represents because you can hear that it is in a column called size.

That's what all the pull requests using scope

[2019-02-18 11:25] rolandalsace commented on #23933
![screen shot 2019-02-18 at 11 25 11](https://issues.joomla.org/uploads/1/76147d108e3281d0ca2753ae1257abea.jpg)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23933">issues.joomla.org/tracker/joomla-cms/23933</a>.</sub>

[2019-02-18 11:25] brianteeman commented on #23932
And I will repeat what I have said since the first public release of this media manager. Requiring a double click to select an item is just plain wrong.

[2019-02-18 11:35] brianteeman commented on #23932
without seeing the code I cant tell

[2019-02-18 11:44] wilsonge commented on #23932
I'll push it into a local branch tomorrow (as i said it's still a long way from finished - so no point in making it a proper PR yet) so I can demo some of it.

[2019-02-18 11:46] brianteeman commented on #23932
the main thing about using lists would be that this would be different to every other view in joomla and that you can not do any type of sorting. Both of these issues make it less accessible by design even if the code is tweaked to satisfy automated tests

[2019-02-18 11:54] zwiastunsw commented on #23932
I am currently testing a new media manager. I confirm Brian's observations. Please take a few days (5-6) for a detailed evaluation and description.

[2019-02-18 12:21] HLeithner commented on #23907
@jurihahn maybe you can help test https://github.com/TYPO3/phar-stream-wrapper/pull/15 and give the typo3 devs feedback if it works.

3.9.4 release is planned for 12. March so it should be ready a week before.

[2019-02-18 14:02] ciar4n commented on #23814
That would certainly be a start. Moving the menu to an absolute position on smaller screens. Not floating the quickicons. Also need some consideration of what columns are expected on smaller screens within tables.

[2019-02-18 14:05] stankurd opened #23935 "mail protect"
### Steps to reproduce the issue
Joomla 4.0
script joomla-hidden-mail.min.js crash site i get this error in konsole
Error: Script terminated by timeout at:n
connectedCallback@/media/system/js/joomla-hidden-mail.min.js?793a1d91502d7a55abeb1654c7aa6828:1:498
@http:///media/system/js/joomla-hidden-mail.min.js?793a1d91502d7a55abeb1654c7aa6828:1:14

### Expected result

### Actual result

### System in

[2019-02-18 15:25] artur-stepien commented on #23779
That would be way to far. Why not use build legacy class? I mean keep the current behavior in `JTable` and fix the new `Joomla\CMS\Table\Table` so it works as it should? Use namespaced class in new components or components released in 4.0 with a correct usage, while giving developers time to migrate. Then drop support for JTable in next major update (5.0?)

[2019-02-18 15:34] bahl24 commented on #23814
But I still can't understand what is the problem in having the scroll bar,
as it makes navigation far easier.

On Mon 18 Feb, 2019, 7:32 PM Ciaran Walsh <notifications@github.com wrote:

[2019-02-18 15:34] mbabker commented on #23779
You can't do anything with the constructors of the table classes without causing problems for anyone creating instances of those classes, in essence you leak internal implementation details if you must change every call of `new Joomla\CMS\Table\Extension($db)` to `new Joomla\CMS\Table\Extension('#__extensions', 'extension_id', $db)`.  The other option is remove the table name and PK from the base

[2019-02-18 16:15] #23039 closed, assigned to nobody

[2019-02-18 16:22] zero-24 commented on #23933
how did you configured such group loop?

[2019-02-18 17:16] rolandalsace commented on #23933
Hi.
Simply, in admin com_users&view=group&layout=edit , in changing parent user group and selecting a son by error

[2019-02-18 17:18] rolandalsace commented on #23933
Strange that sons are displayed in select field.

[2019-02-18 18:24] ciar4n commented on #23814
A difference of opinion I guess. As a rule I believe horizontal scroll is to be avoided.

[2019-02-18 18:54] ZerooCool opened #23937 "Registration redirect page is empty"
### Steps to reproduce the issue
Go to : https://www.visionduweb.fr/component/users/?view=registration
Create a account
Redirect auto to : https://www.visionduweb.fr/component/users/?view=registration&layout=complete
This page show the confirmation from new registration, need the mail validation.

### Expected result
Redirection to index.php or to a specific article (Please validate your account f

[2019-02-18 18:56] alikon commented on #23925
unable to reproduce upgrading from 3.9.2 to 3.9.3 with postgresql 11.1 (Ubuntu 11.1-3.pgdg18.04+1)
@twister65 from what version of joomla are you upgrading ? and on what postgresql version ?

[2019-02-18 18:57] ZerooCool commented on #12872
Not necessarily a template problem.
This can also be a server problem if a security policy has been implemented (CSP).

The captcha is not displayed?
Wait a few minutes for Google to consider your site.

If your server has a CSP security policy, the connection to Google may not be allowed.
Add the address https://www.google.com and https://www.gstatic.com in the allowed script-src values of your C

[2019-02-18 19:06] twister65 commented on #23925
I upgraded from Joomla 3.9.0 to 3.9.3 with postgresql 10.6.

[2019-02-18 19:15] twister65 commented on #23925
The update of Joomla 3.8 to Joomla 3.9 revealed anomalies with Log action and privacy tool suite. The tables have been created but not the sequences. I do not know why, I can not explain it.

[2019-02-18 20:38] ZerooCool commented on #23937
I see that :
https://transfernow.net/ddl/capture

[2019-02-18 21:09] wilsonge commented on #23932
https://github.com/wilsonge/joomla-cms/tree/media-manager-ally

Here's my WIP branch. I'm absolutely certain it won't be close to fully keyboard accessible yet. But should be a step in the right direction.

So what is in here is that tabbing takes you through the images and now will blur out the images to show the action areas. For the dropdown menu you can use enter to open it and escape to close

[2019-02-18 21:28] #23392 closed, assigned to nobody

[2019-02-18 21:28] Quy commented on #23392
Closing since it is not a Joomla core issue, but a setup/configuration issue that you can get further assistance at [Joomla Forum](https://forum.joomla.org/).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23392">issues.joomla.org/tracker/joomla-cms/23392</a>.</sub>

[2019-02-18 22:44] dgrammatiko commented on #23935
@stankurd browser? steps to reproduce?

[2019-02-18 23:04] brianteeman commented on #23932
Before I test did you make any changes to the list views as they are the biggest problems

[2019-02-18 23:05] zero-24 commented on #23392
Sorry I missed your answer. This rule above is not going to protect you against anything that CSP are build for in the first place. For this to happen you should atleast implement an script-src I would also suggest an default-src

You know the Report-Only mode right?

But I agree with @Quy that this kind of question is not intended to be discussed here.

For future reference here some documentatio

[2019-02-18 23:09] wilsonge commented on #23932
No. I've been working on tabbing through and using keyboards to open the menus:

![image](https://user-images.githubusercontent.com/1986000/52980480-2d706480-33d2-11e9-97b3-8db597e551d8.png)

[2019-02-18 23:14] brianteeman commented on #23932
Ok. Now I know which parts to test :)

Other than the cropping I'm not sure this is an improvement

[2019-02-18 23:15] wilsonge commented on #23932
When you tabbed through the elements before you still actually focussed on the dropdown/select box - they just weren't visable to the user. Now they are and the dropdown can be opened with the keyboard. That's the major change

[2019-02-18 23:49] #23468 closed, assigned to nobody

[2019-02-18 23:49] Quy commented on #23468
This is not producible with the core Protostar template, therefore, it must be with your template. Please consult with this template provider for assistance.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23468">issues.joomla.org/tracker/joomla-cms/23468</a>.</sub>

[2019-02-19 00:06] wilsonge commented on #23932
Pushed a couple of fixes up - I think this fixes a most the bugs aside from when you open the menu with enter it also selects the item. I've spent the last hour trying to figure that one out and totally failed. So I'll leave it for another PR. Does the browse stuff become vaguely keyboard accessible with that branch?

[2019-02-19 01:56] #21613 closed, assigned to nobody

[2019-02-19 01:58] #23846 closed, assigned to nobody

[2019-02-19 01:59] #23029 closed, assigned to nobody

[2019-02-19 02:00] #22779 closed, assigned to nobody

[2019-02-19 02:01] #22807 closed, assigned to nobody

[2019-02-19 06:05] stankurd commented on #23935
=============
System Information
=============
php: Linux s36.linuxpl.com 4.4.41-grsec #1 SMP Tue Jan 10 11:31:31 CET 2017 x86_64
dbserver: mysql
dbversion: 5.6.36
dbcollation: latin2_general_ci
dbconnectioncollation: utf8_general_ci
phpversion: 7.3.0
server: Apache
sapi_name: cgi-fcgi
version: Joomla! 4.0.0-alpha7-dev Development [ Amani ] 27-December-2018 17:58 GMT
useragent: Mozilla/5.0 (Window

[2019-02-19 06:08] #23925 closed, assigned to nobody

[2019-02-19 09:30] ghost opened #23941 "[4.0] CLI ConsoleApplication must be declered abstract"
### Steps to reproduce the issue

Just execute /cli/joomla.php on command line

### Expected result
Output of the working cli

### Actual result
Following php error:
[code]

### System information (as much as possible)
PHP 7.1

### Additional comments
Maybe this caused by following abstract functions in `libraries/src/Application/EventAware.php`:
[code]
I saw we are user this in `/libraries/src/Ap

[2019-02-19 10:23] zero-24 commented on #23935
@stankurd can you reproduce the issue when you have cleared the Firefox browser cache? And can you confirm this on the latest nightly build too?
https://developer.joomla.org/nightly-builds.html

When yes please let us know what you do to get the mention error message.

[2019-02-19 10:42] danjde commented on #23895
Hi @HLeithner,
I've try to look into php and Apache log but I can not find any useful information.
I've enabled for php (/etc/php5/apache2/php.ini):

`error_reporting = E_ALL`

Then I've verified if it is hooked log path by executing www.mysite.com/phpinfo.php:

but uselessly.
I don't know how give you more informations, if you can give me some useful suggestions, I will apply them :-)

[2019-02-19 10:53] zero-24 commented on #23895
Can you show us the content of the file /var/log/apache2/php_errors.log for that given time period that could help analyse the problem.

[2019-02-19 11:00] brianteeman commented on #23675
closed see #23936

[2019-02-19 11:00] #23675 closed, assigned to nobody

[2019-02-19 11:00] danjde commented on #23895
..I', sorry but /var/log/apache2/php_errors.log stay empty as empty stay /var/log/apache2/error.log

[2019-02-19 11:11] danjde commented on #23895
I've set to Joomla log to "developer" and now I can see:

[2019-02-19 11:19] danjde commented on #23895
Disabling all imagerecycle components solve this issue.
Removing imagerecycle does it better!

Many thanks!

[2019-02-19 11:19] #23895 closed, assigned to nobody

[2019-02-19 11:39] brianteeman commented on #23932
@wilsonge you haven't enabled creating issues on your fork so reporting here purely about keyboard navigation in the thumbnail view

1. No way to access the category tree
2. tabbing to a folder has no visual indicator and the two hidden buttons never get highlighted as they do when you mouse over (see video at bottom)
3. If you guess that you are the first folder button then it can be selected wit

[2019-02-19 11:46] brianteeman opened #23943 "[4.0] Media Manager missing strings"
There are two language files for the media manager.

language\en-GB\en-GB.com_media.ini
administrator\language\en-GB\en-GB.com_media.ini

I would expect them to have the same number of strings as there is no difference between the front end and the admin views (at least that I could see)

I would also expect that the values of the strings was the same in both but it is not
eg
COM_MEDIA_NAME="Image

[2019-02-19 11:54] brianteeman commented on #23758
Check this out - it is perfect - and note the use of aria-live

https://schne324.github.io/dragon-drop/demo/

[2019-02-19 11:58] dgrammatiko commented on #23758
@brianteeman yup based on dragula so it's. good fit. Also proves that it was a good idea to get dragula in J4 couple of years ago...

[2019-02-19 12:00] brianteeman commented on #23758
wish I had the skill to implement it

[2019-02-19 13:20] #23792 closed, assigned to nobody

[2019-02-19 13:20] Quy commented on #23792
Please test PR #23881<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23792">issues.joomla.org/tracker/joomla-cms/23792</a>.</sub>

[2019-02-19 13:23] mbabker commented on #23941
This would be fixed by https://github.com/joomla/joomla-cms/pull/23847 but apparently either I'm on a pull request blacklist or changes that aren't related to the template or web applications causing errors to be thrown in everyone's faces aren't getting any attention.

[2019-02-19 14:41] puneeth2001 commented on #23943
@brianteeman  just clarifying that it is been called from administrator\language\en-GB\en-GB.com_media.ini

[2019-02-19 14:47] C-Lodder commented on #23625
PR: #23780

[2019-02-19 14:47] #23625 closed, assigned to nobody

[2019-02-19 14:52] mbabker commented on #23943
If the admin language file is the only one used then the frontend file should be removed.  It's an excess and unused resource and it puts extra work on translators to maintain an unused resource (and they already have enough excess work in their workflows).

[2019-02-19 14:53] brianteeman commented on #23943
@puneeth2001 then please remove the incorrect file if it is not being used AND check that all the required strings are present. For example COM_MEDIA_INCREASE_GRID is not present in the admin version but it is needed

[2019-02-19 14:53] C-Lodder commented on #23805
PR: https://github.com/joomla/joomla-cms/pull/23945

[2019-02-19 14:53] #23805 closed, assigned to nobody

[2019-02-19 15:06] puneeth2001 commented on #23943
@brianteeman surprisingly only 'COM_MEDIA_NAME' string is the only thing which is present in common in both the files(but with different string values) and remaining all strings are different i.e if one is present in a file it is not present in the other one.  I'll put the screenshot of the code if necessary.

[2019-02-19 15:07] brianteeman commented on #23943
This string is still missing COM_MEDIA_INCREASE_GRID Check the code!!!

[2019-02-19 15:16] puneeth2001 commented on #23943
ok I'll check it

[2019-02-19 15:20] zwiastunsw commented on #23932
@brianteeman : How do you register the order of the tabulation? What application do you use?

[2019-02-19 15:21] puneeth2001 commented on #23943
sorry!! yes, there are some strings along with this which must be added.

[2019-02-19 15:27] puneeth2001 commented on #23943
@brianteeman there are a lot of strings which need to be added and I am not sure that they might be used from the other file somewhere I think it's better to leave it that way or any suggestions??

[2019-02-19 16:14] HLeithner commented on #23907
@mbabker can you give @jurihahn some advice how to test the typo3 PR please?

[2019-02-19 16:20] mbabker commented on #23907
Quickest thing I can come up with is apply the changes from that repo's `src` directory to the files in `libraries/vendor/typo3/phar-stream-wrapper/src` in a Joomla install.  There isn't a quick and simple diff to apply and unless you really want to mess with Composer stuff that's probably the easiest choice.  You could try mangling the diff from https://patch-diff.githubusercontent.com/raw/TYPO3/

[2019-02-19 16:25] brianteeman commented on #23932
Sorry I don't understand the question

[2019-02-19 16:53] wojsmol commented on #23932
@brianteeman @zwiastunsw is asking what application you used to register this red line on image in https://github.com/joomla/joomla-cms/issues/23932#issuecomment-465096710

[2019-02-19 17:07] brianteeman commented on #23932
Chrome lens

[2019-02-19 19:47] wilsonge commented on #23888
I've merged that to unblock here

[2019-02-19 20:37] brianteeman commented on #23888
Not really. That field will have to be done by someone else in another pr. You don't want me writing JavaScript

[2019-02-19 21:06] wilsonge commented on #23932
@brianteeman

1. No way to access the category tree

I've made it accessible so you can navigate back up the tree

2. tabbing to a folder has no visual indicator and the two hidden buttons never get highlighted as they do when you mouse over (see video at bottom)

Fixed - as a demo I'd only done this for image type files - now rolled out to directory, file and video formats too

3. If you guess th

[2019-02-19 21:31] brianteeman commented on #23932
@wilsonge

3. https://webaim.org/techniques/keyboard/

7. I would try changing
aria-label="Toggle select item"
to
aria-label="Select <<filename>>"

That  really should be a checkbox not an a href though as it is not a link

will test more in the morning

[2019-02-19 21:57] wilsonge commented on #23932
3/6 - OK So reading your link I'm slightly more confused. Links are just enter (which is what we have). If we make it a button by adding a `role=button` (which these don't have right now - although arguably should) then it should trigger on space OR enter - so why do we need both?

7. You're totally right. If it's as simple as a string change if you propose a string for those two I can get that im

[2019-02-19 21:59] wilsonge commented on #23932
It should - but then we somehow need to wrap everything in a form. Which is going to get dodgy from other angles I guess :/

[2019-02-19 21:59] brianteeman commented on #23932
but they are not links are they.

[2019-02-19 22:00] brianteeman commented on #23932
and role=button on an "a" will only make it report as a button. it still wont work as a button for keyboard users

[2019-02-19 22:01] wilsonge commented on #23932
ahh sorry I misread - i interpreted it as one or the other should work. Not using one or the other will work

[2019-02-19 22:03] wilsonge commented on #23932
OK So the menu trigger is now done correctly. Should the links opening modals report as buttons two (and act accordingly)

[2019-02-19 22:10] brianteeman commented on #23932
if it looks like a button then it should act like a button :)

buttons are to perform actions
links should only be used to open a new page or jumpt to a section in the same page
https://a11y-101.com/design/button-vs-link

[2019-02-19 22:11] brianteeman commented on #23932
Github mangled by suggested change for the aria-label

it should be Select filename and Select foldername

[2019-02-19 22:17] brianteeman commented on #23932
Remind me again of the advantages of this new media manager because at this point I really dont see it or the advantage of writing it in a language that our contributor base are not familiar with. It doesnt even offer the one thing that was specified for a new media manager - the ability to see if an image is being used etc.

[2019-02-19 22:24] brianteeman commented on #23943
No it is not better to leave it broken

[2019-02-19 22:36] wilsonge commented on #23932
- Significantly nicer interface (no page reloads every time you go into submenus etc)
- Image editing (we can go more complex than what is there - as it basically just goes down into implementation and browser deps)

Like I understand that the contributor base is largely PHP - but most our competitor PHP CMS is basically having to enter the JS world for some frontend stuff. Honestly it's taken me

[2019-02-19 22:42] brianteeman commented on #23932
just expressing my frustration that the delivered code is not up to standard and abandoned by those who wrote it and only developers who know vue can contribute to fix the mess.

[2019-02-19 22:45] wilsonge commented on #23932
I know it's fraustrating. But I promise if you spend a little bit of time on the templates it's not as bad as you think. It's honestly taken me a handful of evenings after work from never having touched vue.js before to get up to speed (admittedly I'd dabbled in react and angular before now - but not sure it was significantly helpful)

[2019-02-19 22:57] #23874 closed, assigned to nobody

[2019-02-19 22:57] Quy commented on #23874
Please test PR #23946<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23874">issues.joomla.org/tracker/joomla-cms/23874</a>.</sub>

[2019-02-19 23:03] brianteeman opened #23947 "[4.0] Media Manager upload secret"
There is a hidden secret in the new media mangler. You don't need to upload images using the upload button - you can just drag and drop anywhere. Unfortunately the string is hard coded in english :(

![image](https://user-images.githubusercontent.com/1296369/53053867-93c0ba00-349a-11e9-8c5c-fb5c7e1ee1b3.png)

[2019-02-19 23:15] brianteeman opened #23948 "[4.0] Media manager buttons"
All instances of button are missing a "type" which means that they default to submit

Throughout Joomla we always use type=button in this case.

I seem to recall there is an issue with ie11 as well if you dont have a type

[2019-02-20 01:38] zwiastunsw commented on #23932
1. The Delete button in the Toolbar removes selected files and folders **without warning**.
2. Folders are deleted with the entire content without warning. In Joomla 3.x it was not possible to delete a folder with content.
3. An anchor is used to select a folder / image. This is neither a link nor a button.  Native element of HTML, which is used to select he position is the checkbox. No link, and

[2019-02-20 03:09] puneeth2001 commented on #23943
ok I'll do it.

On Wed, 20 Feb 2019, 03:55 Brian Teeman <notifications@github.com wrote:

[2019-02-20 08:28] robertwline opened #23952 "[3.9.3] New User Activation: joomla fail to send mail to user after manual activation frpm backend"
### Steps to reproduce the issue
When new user registers at the site I provide to enable/activate him from backand area.

### Expected result
Clicking on the activate/enabling button user link, in the backand area, should sent email to user to inform him about approved activation.

### Actual result
The user is enabled and activated but the user doesn't reveive any activation mail.

### System inf

[2019-02-20 08:51] brianteeman commented on #23952
This is a known issue. There is no code in Joomla to perform this action. Sadly no one seems interested in fixing it.

You can read about some plugins etc to fix this for you in this article and its comments https://brian.teeman.net/joomla/870-authorising-and-approving-joomla-users

[2019-02-20 08:59] brianteeman commented on #23932
@zwiastunsw The delete warnings are in this pr #23756

The select all is present - but hidden a little - it is the link that looks like a checkbox that is in this image

![image](https://user-images.githubusercontent.com/1296369/53079122-a7494080-34ed-11e9-8e87-07fa26b58874.png)

[2019-02-20 09:04] zwiastunsw commented on #23932
Really. :)

[2019-02-20 09:16] brianteeman commented on #23947
see #23951

[2019-02-20 09:16] #23947 closed, assigned to nobody

[2019-02-20 12:56] robertwline commented on #23952
Thanks

[2019-02-20 12:56] #23952 closed, assigned to nobody

[2019-02-20 14:11] brianteeman opened #23954 "Invalid comments in modules?"
Am I being daft and missing something but when I read

https://github.com/joomla/joomla-cms/blob/a66130ac6cf28ab6d23cd64a5b7b28e581f9d907/modules/mod_articles_latest/helper.php#L47-L50

The comment implies to me that each of these is set by a param in the module. But only one of those is actually set by a param in the module

[2019-02-20 14:16] hendrikbehncke commented on #19348
Is there anything else needed to proof the custom_data field is needed and should not be removed?
This issue is open for over a year now and multiple people stated the field should be kept.

[2019-02-20 14:21] lborges1310 opened #23955 "Logo não aparece no Google Chrome do Joomla 1.6.3"
O logo do meu site Joomla 1.6.3 não aparece no Google Chrome.

Ele aparece normalmente no Internet Explorer

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2019-02-20 14:42] C-Lodder commented on #23955
1. Please write your issues in English
2. Joomla 1.6.3 is no longer supported. Please refer to the migration documentation and get your site updated

[2019-02-20 14:46] mbabker commented on #23955
According to Google Translate, this is an issue with the logo on your site.  As this is a template issue, you should seek support in the forums at https://forum.joomla.org (there is an international section as well to post in your native language if English isn't a strong language for you).  Likewise, Joomla 1.6 is not supported at all.  So closing as not a core issue.

[2019-02-20 14:46] #23955 closed, assigned to nobody

[2019-02-20 15:06] #23941 closed, assigned to nobody

[2019-02-20 15:25] brianteeman commented on #23943
Closed see #23957

[2019-02-20 15:25] #23943 closed, assigned to nobody

[2019-02-20 15:29] #23907 closed, assigned to nobody

[2019-02-20 15:29] Quy commented on #23907
Please test PR #23956<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23907">issues.joomla.org/tracker/joomla-cms/23907</a>.</sub>

[2019-02-20 15:29] HLeithner commented on #23954
I think you only need the count parameter, because you want the latest X articles that are visible.

But yes I think you can remove the comment if you want.

[2019-02-20 15:35] brianteeman commented on #23954
Annoyingly I actually wanted to be able to display unpublished items which is how I came to this code

[2019-02-20 15:40] spignataro opened #23958 "What is the point of $glue in union"
https://github.com/joomla/joomla-cms/blob/staging/libraries/joomla/database/query.php#L1519

When looking at doing unions we are very limited considering it looks like for many years that union() function in the primary query is still lacking the $glue capability. Is there a reason why we can not set our own glue for our unions?

[2019-02-20 15:46] HLeithner commented on #23958
you are right seams useless at least for the shipped JDatabaseQuery classes

[2019-02-20 16:34] f-hamel commented on #23941
/reopen

[2019-02-20 16:34] f-hamel commented on #23941
Still got the same error.

[2019-02-20 16:38] mbabker commented on #23941
You need to be using the current git branch.  Nightly builds are built nightly, not on every commit.

[2019-02-20 16:45] f-hamel commented on #23941
I merged the current 4.0-deb branche in to mine and update my command classes to use the new structure.

[2019-02-20 16:49] alikon commented on #23952
there is already a pr for this  #20282

[2019-02-20 17:33] f-hamel commented on #23941
thanks @mbabker. Miss the `composer install`

[2019-02-20 17:47] rolandalsace commented on #22169
Hi.

Today the problème is always here with the last nigthly build of J4 alpha7 (2019-02-20)

The problème is only on categories.

In the store action the json "rules" field of the #__assets table is cleared, instead of be completed with the new user's group rule.

So the others user's group rule are lost.

It's only in asset stored by com_categories (but for all extensions)<hr /><sub>This comment

[2019-02-20 19:03] rolandalsace opened #23960 "com_content workflow transition field problem"
In com_content edit form, the select transition list have no option (only the actual state of the current item.

The problem is here :

In /components/com_content/froms/articles.xml the field "transition" have this description :

		<field
			name="transition"
			type="transition"
			component="com_content"
			addfieldprefix="Joomla\Component\Workflow\Administrator\Field"
			label="COM_CONTENT_STAT

[2019-02-20 21:59] ot2sen opened #23961 "[4.0] Feature request: Limit folder size in media manager"
For the current J3 and former series, the users haven´t had a "better practice" guide, to help them act in their own best interest when populating their media folder(s).

This feature request is based upon once again seeing a site with a gigantic amount of media files in the root of the /images folder. This last case of volunteer work showed approximately 1400 images in the root of /images, which

[2019-02-21 07:18] robertwline commented on #23952
Thanks

[2019-02-21 09:18] infograf768 commented on #23961
Looked on the web. No idea how to define a folder limit size via php.

[2019-02-21 09:46] dneukirchen commented on #23961
we should not limit the folder size...
instead we should paginate the requests so that the load time is acceptable.
on server side we need to implement paginated responses.
on client we need to implement infinite scroll or show a pager.

[2019-02-21 09:59] brianteeman commented on #23954
Closed see #23964 for solution

[2019-02-21 09:59] #23954 closed, assigned to nobody

[2019-02-21 10:00] brianteeman commented on #23961
That's a much better solution and also one that doesn't break backwards compatibility on a site that already has "too many" images in the one folder

[2019-02-21 11:00] brianteeman opened #23965 "[4.0] jQuery used to open tab"
Currently the code to link to a tab uses jquery. Not only do we want to get rid of jquery but the code currently doesn't work

### Steps to reproduce the issue
Go to  Plugins: Content - Page Break and click on "Show full description"

### Expected result
go to the description tab

### Actual result
Nothing except for this error in the console

[code]

[2019-02-21 11:04] puneeth2001 commented on #22805
@PhilETaylor can I know why is this issue closed

[2019-02-21 11:19] brianteeman opened #23966 "[4.0] Note field"
### Steps to reproduce the issue
The note field is used to display the information about the skins in the tinymce editor plugin

The code has always been wrong but in j4 it now results in visually broken code as well

![image](https://user-images.githubusercontent.com/1296369/53165328-54918680-35ca-11e9-9cef-6deecabdae89.png)

[2019-02-21 11:55] HLeithner commented on #22805
All issues and PRs from Phil are still valid but he stepped from Joomla 11 days ago.

Hopefully he comes back one day.

[2019-02-21 11:56] bahl24 opened #23968 "[4.0]Out of image buttons unusable in media-manager"
Go to media manager, decrease icon size, click image actions
![screenshot from 2019-02-21 17-21-36](https://user-images.githubusercontent.com/36095178/53167263-7821f480-35fd-11e9-9521-2435e2806bd4.png)
Buttons outside image are unusable as action tab closes as we leave image

### Expected result
All buttons work

### Actual result
action tab closes as we leave image

[2019-02-21 12:05] rgtr commented on #23924
No visible code to a Joomla User ...

[2019-02-21 12:10] puneeth2001 commented on #22805
Can I work on this right now?

[2019-02-21 12:11] HLeithner commented on #22805
sure

[2019-02-21 12:40] brianteeman opened #23971 "[4.0] Save button icon"
As reported here https://github.com/joomla/joomla-cms/pull/23942#issuecomment-465076511

The newly separated save button uses a different icon to the save group.

The design proposal was to use the same icon for both.

Plus it seems odd to me to use the icon for edit to signify save https://fontawesome.com/v4.7.0/icon/pencil-square-o

[2019-02-21 13:13] puneeth2001 commented on #23968
Can I work on this?

[2019-02-21 13:20] infograf768 commented on #22805
we have already a pr for that<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22805">issues.joomla.org/tracker/joomla-cms/22805</a>.</sub>

[2019-02-21 13:23] infograf768 commented on #22805
see #23756

[2019-02-21 13:54] brianteeman opened #23972 "[4.0] Media Manager paths"
Media Manager has an option to set the path to the images folder. But the new media manager doesnt use that path - instead it uses the paths defined in the filesystem plugin.

However we cant just delete the path set in the options as
1. what happens on upgrades from J3 that have a path set that isnt "images"
2. we still use the image_path that is set in the component options in multiple places

[2019-02-21 14:34] bahl24 commented on #23971
@brianteeman Can I work on this?

[2019-02-21 14:52] brianteeman commented on #23971
@bahl24 you do not need to keep asking

[2019-02-21 15:51] rolandalsace opened #23973 "customfields acl problem when field displayed but disabled"
When a custom field is displayed (access level) but not allowed in permission "edit custom field value", the field is displayed but disabled in the edit form (for exemple in com_content).

But when you validate the form, this line return true :

In /librairies/src/Form/Form.php line 2076

$fieldExistsInRequestData = $input->exists((string) $element['name']) || $input->exists($group . '.' . (string

[2019-02-21 19:36] dioubernardo opened #23974 "Problems removing news feed extension"
### Steps to reproduce the issue
Uninstall newsfeed extensions

### Expected result
Remove all itens from menu

### Actual result
A menu item named com_newsfeeds_categories is visible

### System information (as much as possible)
Joomla 3.9.3 default instalation

### Additional comments
In index.php?option=com_installer&view=database

Table 'joomla.#__newsfeeds' doesn't exist

Tabela 'ce6py_newsfe

[2019-02-21 19:49] mbabker commented on #23974
Core extensions cannot be uninstalled, this will cause problems.

[2019-02-21 20:24] ot2sen commented on #23961
Pagination sounds good too, agree. Would also bring life back to those having used less good practice for years.

[2019-02-21 21:35] brianteeman commented on #23974
This should be closed

[2019-02-21 21:42] brianteeman commented on #23765
This should be closed as a duplicate

[2019-02-21 21:47] #23765 closed, assigned to nobody

[2019-02-21 21:48] #23974 closed, assigned to nobody

[2019-02-21 21:58] brianteeman commented on #23794
It is nothing to do with translations or language strings.

This column gets its value from the assets table
[code]

The value in the assets table is COM_WORKFLOW_DEFAULT_WORKFLOW

So the problem is not here but with the code that creates the record in the assets table which is actually an error in the installation sql.

Pull request incoming

[2019-02-21 22:05] brianteeman commented on #23794
Please test #23976

[2019-02-21 22:11] brianteeman commented on #23623
This should be closed. The code is working as intended

[2019-02-21 22:13] brianteeman commented on #23457
This should be closed as we have a PR

[2019-02-21 22:13] brianteeman commented on #23446
This should be closed as the question has been answered

[2019-02-21 22:17] #23794 closed, assigned to nobody

[2019-02-21 22:21] brianteeman commented on #23157
This should be closed as it is already possible

[2019-02-21 22:22] brianteeman commented on #23154
As Michael says this can't be fixed and we should not attempt to manipulate external code. All you can do is to raise a bug with php

Should be closed as cant fix

[2019-02-21 22:23] brianteeman commented on #23141
This should be closed. The code is working as intended

[2019-02-21 22:26] brianteeman commented on #23088
Unable to replicate with current branch

[2019-02-21 22:31] brianteeman commented on #22872
This should be closed based on the comments of @mbabker above

[2019-02-21 22:32] brianteeman commented on #22871
This should be closed. Its possible in J4 and at this time no new features are being accepted for J3

[2019-02-21 22:35] #23154 closed, assigned to nobody

[2019-02-21 22:35] #23141 closed, assigned to nobody

[2019-02-21 22:36] #23157 closed, assigned to nobody

[2019-02-21 22:37] #23446 closed, assigned to nobody

[2019-02-21 22:37] #22871 closed, assigned to nobody

[2019-02-21 22:38] #22872 closed, assigned to nobody

[2019-02-21 22:38] brianteeman commented on #22524
I would really like to see this in j4

[2019-02-21 22:39] #23457 closed, assigned to nobody

[2019-02-21 22:40] #23623 closed, assigned to nobody

[2019-02-21 22:46] #23088 closed, assigned to nobody

[2019-02-21 22:46] Quy commented on #23088
Not reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23088">issues.joomla.org/tracker/joomla-cms/23088</a>.</sub>

[2019-02-21 22:46] brianteeman commented on #22336
No - if you want a default layout then you just call that layout default.php

You can see that this is already done in mod_articles_news

That module has three layouts and even though nothing is defined in the xml the default.php is always selected

[2019-02-22 00:26] zwiastunsw opened #23977 "[4.0][a11y] Incorrect buttons"
Pairs of buttons from the kit **Select/Create | Edit/Clear** used in different places are hidden from sighted users by use of CSS.

Code example:
[code]

The problem occurs:
- in various types of menu items, e.g. Single article: Select Article* field
- on page User Notes: New/Edit - Category* field
- on page Modules: New/Edit Menu - Base Item field
![buttons-select](https://user-images.githubuserc

[2019-02-22 04:31] bahl24 commented on #23971
@brianteeman Which icon should I replace the pencil symbol with?

[2019-02-22 04:32] hardik-codes commented on #23977
Working on it

[2019-02-22 04:38] bahl24 commented on #23971
Plus or Check or files symbol

[2019-02-22 07:31] infograf768 commented on #23971
Using the present icon is fine imho and consistent with 3.x

<img width="433" alt="screen shot 2019-02-22 at 08 29 39" src="https://user-images.githubusercontent.com/869724/53226690-31bfaa80-367c-11e9-9f94-4b80c9098621.png">

[2019-02-22 08:11] infograf768 opened #23979 "[4.0] com_media frontend edit image with xtd broken"
### Steps to reproduce the issue
Log in frontend as super User.
Edit an article and select the Image xtd (Used TinyMce as editor)
Try to edit an image.

### Actual result
Frontend page loaded in modal

![mediafrontend](https://user-images.githubusercontent.com/869724/53228352-39ce1900-3681-11e9-87bd-02db550f5a3c.gif)

Looks like the issue is different from https://github.com/joomla/joomla-cms/issu

[2019-02-22 08:36] infograf768 commented on #23971
If it has absolutely to be changed, we may want to use
https://fontawesome.com/v4.7.0/icon/floppy-o
which does mean save in fontawesome

[2019-02-22 09:09] HLeithner commented on #23971
you are really funny jean-marie ;-) we have 2019

[2019-02-22 09:25] chmst commented on #23971
icon-bookmark ?

[2019-02-22 09:29] infograf768 commented on #23966
The correct path is
`/media/vendor/tinymce/skins/`
but placing a new skin there is killed when using npm ci.
As, normally, final users do not have to use npm ci when updating J, it may be possible to add the skin there and it would not be deleted. Not sure.

Also, tinymcebuilder is not designed to load the css from such a new skin. As well for init.es6.js. Maybe more in other files.

@dgrammatiko

[2019-02-22 09:32] HLeithner commented on #23971
to be a bit constructive, my opinion is something like this:
![image](https://user-images.githubusercontent.com/1497730/53233173-05605a00-368d-11e9-9617-a542dc0a008b.png)

[2019-02-22 09:40] brianteeman commented on #23966
the actual text is off topic - please open a separate issue for that - this issue is about the Note field itself. I just used the skins as an example of its use. It is used in many places

[2019-02-22 09:41] brianteeman commented on #23971
Whats wrong with using the same icon for both. They are both "save"

[2019-02-22 09:47] HLeithner commented on #23971
also possible but I think one is "save and continue working" and the other ist "save and be finished"

But the save icon at the moment is the "edit" icon so that would be "wrong" anyway

[2019-02-22 09:48] #23775 closed, assigned to nobody

[2019-02-22 09:59] bahl24 commented on #23971
@infograf768 's icon seems most appropriate

[2019-02-22 10:00] drmenzelit commented on #23971
I think, the edit icon is maybe "wrong", but for me it implies that I saved my work but I can still edit something. So in my opinion we should keep the current icon.

[2019-02-22 10:18] brianteeman commented on #23971
When you are using an external and common icon set and the icon is called "edit" then it is reasonable to assume that users will see this icon being used elsewhere to indicate "edit" and not "save" which is what we want.

Anyway I brought this up simply because the design document shows one icon being used for both

[2019-02-22 11:11] dgrammatiko commented on #23966
@infograf768 I’m pretty sure I had a pr that cleaned up this mess by moving the override template to the actual template of the site

[2019-02-22 11:39] dgrammatiko commented on #23966
@infograf768 feel free to resurrect:
https://github.com/joomla/joomla-cms/pull/14510 and https://github.com/joomla/joomla-cms/pull/14456
Both totally valid and imo needed changes. These PRs align tinyMCE to the rest of the overriding methods on Joomla

[2019-02-22 11:39] vaivk369 opened #23980 "[3.9] When using Joomla toolbar in frontend list view, clicking on edit, publish, unpublish, trash buttons reloads the page, when we click on OK from "Please first make a selection from the list." alert"
### Steps to reproduce the issue
I have used following code, to display Joomla toolbar on my list view in frontend.

JLoader::register('JToolBarHelper', JPATH_ADMINISTRATOR . '/includes/toolbar.php');

JToolBarHelper::editList();
JToolBarHelper::publishList();
JToolBarHelper::unpublishList();
JToolBarHelper::trash();

### Expected result

When I do not make any selection and hit any of the button,

[2019-02-22 11:55] dioubernardo commented on #23974
All other core extensions are protected at /administrator/index.php?option=com_installer&view=manage. It is not. It would be interesting then to block it so that it can not be uninstalled in the administrative interface

[2019-02-22 12:35] dioubernardo opened #23981 ""SEO Settings" label wrong in português"
In /administrator/index.php?option=com_config

- English
![image](https://user-images.githubusercontent.com/3487994/53242758-7bac8e80-3684-11e9-9742-dbb21b8e26f4.png)

- Portuguese
![image](https://user-images.githubusercontent.com/3487994/53242832-b7475880-3684-11e9-8b9e-135abae44747.png)

One possible translation would be "Configurações de SEO", the current translation is "Configuration saved su

[2019-02-22 13:14] mbabker commented on #23974
Protected has a very bad definition and is heavily misused.  If you mark something protected, you can't disable it either, and most core extensions can be safely disabled.  I tried fixing this definition, sadly like most purely technical pull requests it ended up abandoned because I couldn't continue keeping a patch updated that clearly was not getting any attention.

[2019-02-22 13:42] joomdonation opened #23982 "Fatal error on PHP 5.4.19 on repeatable-table.php"
### Steps to reproduce the issue
Use Joomla subform on PHP older than 5.5

### Expected result
Works as expected

### Actual result
Fatal error: Can't use function return value in write context in /home/content/76/10380776/html/imbarcoimmediato/layouts/joomla/form/field/subform/repeatable-table.php on line 59

### System information (as much as possible)
Joomla 3.9.3, PHP 5.4.19 (it's a client web

[2019-02-22 14:02] artur-stepien opened #23983 "EXISTS instead of COUNT(*) in Joomla\CMS\Table\Table"
### Additional comments
Wouldn't it be faster to use EXISTS instead of COUNT(*) in `Joomla\CMS\Table\Table::hasPrimaryKey()`? For a small tables difference isn't noticeable.  But the higher count of rows in a table the bigger the time saved from using EXISTS(). MySQL/MariaDB uses that, MS SQL does too, even SQLLight does. I don't think that would make any difference for the core cause I didn't saw

[2019-02-22 14:25] brianteeman commented on #23981
@bakual

[2019-02-22 14:48] brianteeman commented on #23977
@hardik-codes Please let me know if you are still working on it. If not then I have the code ready

[2019-02-22 14:56] hardik-codes commented on #23977
@brianteeman You may go ahead with it by submitting the PR

[2019-02-22 16:37] #23982 closed, assigned to nobody

[2019-02-22 16:37] Quy commented on #23982
Please test PR #23984<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23982">issues.joomla.org/tracker/joomla-cms/23982</a>.</sub>

[2019-02-22 16:41] infograf768 commented on #23966
@dgrammatiko
Alas I would not know what to do with these.

@brianteeman
The issue looks related to renderfield.php which does not accept specific elements in the xml, allowing therefore to create new css classes or conditions to cope with this bad display.

[2019-02-22 17:05] brianteeman commented on #23977
Please text #23985

[2019-02-22 17:10] #23977 closed, assigned to nobody

[2019-02-22 17:16] HLeithner commented on #23983
if its faster its good, if you like to create a PR you are welcome please do this against j4 branch.

[2019-02-22 17:21] team187 opened #23987 "User permissions reseted after update to 3.9.3"
### Steps to reproduce the issue

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

Hello,

I had a problem on several sites after upgrading to the latest version of joomla from 3.9.1. I have modified the default Manager permissions before the upgrad, to display only few menus and components and everything was reseted now. And I had to s

[2019-02-22 17:46] greenreptile commented on #23201
I had the same problem and the reason was because of **no space on host**. you can check it too.

[2019-02-22 17:48] Bakual commented on #23981
@dioubernardo You need to contact the portuguese translation team as that comes from the language pack. See https://community.joomla.org/translations/joomla-3-translations.html#pt-br
Or you can directly contribute a better translation on Crowdin (https://crowdin.com/project/joomla-cms/pt-BR#) as I think that language team is using Crowdin for their translations.

I'm closing this issue since it is

[2019-02-22 17:48] #23981 closed, assigned to nobody

[2019-02-22 18:08] chrisvphogan opened #23988 "[3.9.3] Language overrides Filter Field is Missing - after update to 3.9.3"
### Steps to reproduce the issue

After update to Joomla 3.9.3 I seem to have lost the ability to add overrides.

I have English GB as default language. When I try to create a new override I am asked to select a language and client, but the box to enable me to do this is not there.

### Expected result

A dropdown box with a list of 'installed languages' should be there!?

### Actual result

The b

[2019-02-22 21:56] hakanara commented on #22241
This issue is still open.

Just to make it more clear, I quote the explanation that I copied from [https://docs.joomla.org/SQL_form_field_type]

but the subgroups field includes an sql_filter attribute which refers to the groups field by name:

Then _if the groups field has the value 99_, the following SQL statement will be executed for the subgroups field:

**SELECT e.* FROM jos_example_subgroups

[2019-02-23 07:46] infograf768 commented on #23966
Checked further:
1. I see no reason (for TinyMCE) to use the Note type for that field. Using a spacer would be easier. (as we do for com_media Options). Don't know if any pb with spacer and a11y. If there is then the spacer field may have to be modified.
2. The renderfield.php file has been heavily modified in 4.0 vs 3.x. This explain the double display of the description in a supplementary `<div>

[2019-02-23 08:49] infograf768 commented on #23988
The possible issues and way to solve it are listed in https://github.com/joomla/joomla-cms/issues/22885

[2019-02-23 10:24] ghost opened #23991 "frontend create article select category bug"
### Steps to reproduce the issue

frontend create article and select category then try to select category one more time if you try to select category you can only do this using search and crate new category

Steps to reproduce the issue

    Install Joomla 3
    Create an user with group Author
    Log into front-end with this account
    Click on menu item Submit new article
    Create an article

[2019-02-23 11:04] infograf768 commented on #23794
Please test https://github.com/joomla/joomla-cms/pull/23992

[2019-02-23 12:52] majidahmadi2022 opened #23993 "on content before save not working in modules"
### Steps to reproduce the issue

create a content plugin with onContentBeforeSave method
and go to modules (custom module) edit and save
but onContentbeforesave not work same content and other components

[2019-02-23 13:08] SharkyKZ commented on #23993
Saving extensions triggers `onExtensionBeforeSave` event.

[2019-02-23 14:31] zero-24 commented on #23987
´Dear Bojan, please let us know what was changed and what got lost. Could you reproduce this issue with an core install without any 3rd Party extensions?

And what 3prd Party extensions are installed on that site? I personally can not remember any change that would cause such an problem between 3.9.1 and 3.9.3.

Just a sidenote it is not recommended to do this and changing the core shipped roles.

[2019-02-23 14:33] chrisvphogan commented on #23988
Tried to clear cache etc and I've also tried to reinstall the 3.9.3 update again via the Joomla Backend and 'Components' > 'Joomla! Update'

Problem is, Akeeba kicks in, and begins to back up (but fails)...I also tried FTP upload of the update, but I get the same Akeeba problem, and even when I try to install/upload the package, the same problem of the backup just going to a blank page occurs!

It

[2019-02-23 14:37] brianteeman commented on #23988
Disable akeeba backup on update option

[2019-02-23 15:37] zwiastunsw opened #23994 "[4.0] Missing tabs"
### Steps to reproduce the issue
1. Log in to the Backend
2. Select in admin menu: Menus > All Menu  Items > a menu item of the Single Article or Blog Category type.
3. Activate the Edit (or New) button.
4. In the modal window, change the current Content (or Category) tab to Option (or other) tab.
5. Leave the modal window by clicking Close
6. Repeat the Edit (or New) button.
### Expected result
I

[2019-02-23 15:42] chrisvphogan commented on #23988
Ok great didn’t know that was available as it wasn’t named as Akeeba in plug-ins:

‘System - Backup on update’

I’ll give this a go once at computer...and hope the missing bar appears on the overrides!

[2019-02-23 15:51] dgrammatiko commented on #23994
@zwiastunsw it's a known problem not related to tabs but the modal-fields which is totally broken

[2019-02-23 15:59] zwiastunsw commented on #23994
I understand. Is there anyone working on that?

[2019-02-23 16:50] mbabker commented on #23987
Since when?  The ACL tree is nothing like other parts of the system in that it can fully be customized (you really only need 3 ACL groups for a fully functional site; Public (the root node of it all), Guest (this is in part thanks to that goofy parameter that exists), and Super User (because someone has to manage things)), there is no requirement that the groups and settings that ship with the CMS

[2019-02-23 17:35] zero-24 commented on #23987
Yes and as noted I don't see a technical reason that enforce this suggestion and I don't think that this issue has something to do with that permission change. But I would not recommend changing this roles even when it should be technical possible.

[2019-02-23 19:54] bembelimen commented on #23960
Thx for this find, please test the PR...

[2019-02-23 20:08] #23960 closed, assigned to nobody

[2019-02-23 20:08] Quy commented on #23960
Please test PR #23996<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23960">issues.joomla.org/tracker/joomla-cms/23960</a>.</sub>

[2019-02-24 01:04] ReLater commented on #23987
I made a test yesterday but with a 3.9.2 and not 3.9.1  where lots of ACL settings for Administrator and Manager and parent groups are changed. Nearly all core extensions and rights forbidden in back-end.

I can't reproduce the issue. All settings are the same afterwards.

But that Joomla installation is very minimalistic. Just Akeeba Backup, EasyJoomlaBackup, JCE.

[2019-02-24 01:46] team187 commented on #23987
It must be then some previous update from 3.8.

I will try to get back with more details.

On all sites Akeeba backup, K2, rsfirewall, rsform, and unite nivo slider. I'm almost sure they couldn't affect the ACL configuration.

Thanks for the current advices and help.

[2019-02-24 05:39] puneeth2001 commented on #23979
@infograf768 What do you want the expected result to be?

[2019-02-24 06:34] majidahmadi2022 commented on #23993
thanks please close this ;-)

[2019-02-24 06:34] #23993 closed, assigned to nobody

[2019-02-24 07:22] puneeth-chanda opened #23998 "[4.0] Save and close button not working"
### Steps to reproduce the issue
go to http://localhost/joomla-cms/administrator/index.php?option=com_menus&view=item&client_id=0&layout=edit&id=102
and click edit.

### Expected result
a popup appears where save and close button works

### Actual result
Save and close button not working
![screenshot from 2019-02-24 12-50-11](https://user-images.githubusercontent.com/43813460/53296323-31b5db00-383

[2019-02-24 08:24] infograf768 commented on #23998
Known issue with all modals. This needs to be solved globally.

[2019-02-24 08:33] puneeth2001 commented on #23998
Are anyone working on it??

[2019-02-24 08:36] infograf768 commented on #23998
@dgrammatiko , normally.

[2019-02-24 08:40] infograf768 commented on #23979
Same as in backend: being able to use these edit functionalities, when authorized to do so.

[2019-02-24 08:41] puneeth2001 commented on #23979
issue confirmed!

[2019-02-24 08:48] infograf768 commented on #23948
closing as we have a patch https://github.com/joomla/joomla-cms/pull/23997

[2019-02-24 08:48] #23948 closed, assigned to nobody

[2019-02-24 10:24] puneeth2001 commented on #23827
can I work on it??
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23827">issues.joomla.org/tracker/joomla-cms/23827</a>.</sub>

[2019-02-24 11:45] hardik-codes commented on #23827
@puneeth2001 there is already a PR for this issue and this issue might be closed once the PR is reviewed

[2019-02-24 12:28] wlh1950 opened #23999 "Error in router.php and view.feed.php"
### Steps to reproduce the issue

The error.log file on my hosts server shows these errors:

Undefined index: id in /joomla/components/com_tags/router.php on line 84

Invalid argument supplied for foreach() in /joomla/components/com_tags/views/tag/view.feed.php on line 35

### System information (as much as possible)

Joomla 3.9.3

### Additional comments

[2019-02-24 13:54] dgrammatiko commented on #23998
@infograf768 somebody else volunteered to resurrect this PR: https://github.com/joomla/joomla-cms/pull/20788

[2019-02-24 15:32] #23999 closed, assigned to nobody

[2019-02-24 15:32] Quy commented on #23999
Please test PR #23543<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23999">issues.joomla.org/tracker/joomla-cms/23999</a>.</sub>

[2019-02-24 16:26] #23998 closed, assigned to nobody

[2019-02-24 16:26] Quy commented on #23998
Duplicate #23260 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23998">issues.joomla.org/tracker/joomla-cms/23998</a>.</sub>

[2019-02-24 18:12] 200MPHMEDIA opened #24001 "Issue with viewing Module Positions on Front-End Joomla! 4"
If you view the Module Positions in the new Template, some of them are cut off and not visible.

Try the ?tp=1 view after enabling the plugin.

Anyone considering putting those display boxes on a higher z-index so they can be seen in full and not cut off, either fully or partially.

Those with some "juice" with the developers: please pass this along to them.

Thanks.

### Actual result

### System

[2019-02-24 18:23] roland-d commented on #23130
Hello, closing this issue as there is a pull request #23591

[2019-02-24 18:23] #23130 closed, assigned to nobody

[2019-02-24 19:00] ThomasK0lasa commented on #22241
I am sorry but I don't have time to create proper example. :(

[2019-02-24 21:09] hakanara commented on #22241
@ThomasK0lasa and @franz-wohlkoenig , I think the example above that I took from Joomla docs is more than enough. Isn't it? What kind of example do you need? Maybe I can prepare it?

[2019-02-24 21:20] ciar4n commented on #24001
This issue is likely to be resolved once https://github.com/joomla/joomla-cms/pull/22272 is merged into 4.0-dev.

[2019-02-24 23:43] j2studio opened #24004 "Required Custom User Fields Does not Scroll to "Error" on submit"
### Steps to reproduce the issue
Create Additional User Fields
Make Field Required
On front end, skip required field and try to submit

### Expected result
Page to scroll to error indicating that required field is missed

### Actual result
Page does not move and user dones't know why

### System information (as much as possible)
Joomla 3.9.3
YooTHeme Pro 1.18.10
Safari or Chrome on Mac

### Additi

[2019-02-25 00:13] brianteeman commented on #24004
Joomla does not currently support inline error messages

[2019-02-25 02:55] nblancodl opened #24005 "Template Morph do not set as default"
### Steps to reproduce the issue

Hello, I have install the Morph template in my Joomla administrator but when I set it as default it doesn't update to this template, it remains with the past that I had installed. I need to set as default the Morph template for my web page.

My name is Natalia Blanco, my email is [nblancodl@gmail.com](mailto:nblancodl@gmail.com) and my domain is compgenioss.com

T

[2019-02-25 03:07] j2studio commented on #24004
Ok thanks, Brian.

[2019-02-25 03:07] #24004 closed, assigned to nobody

[2019-02-25 03:47] #24005 closed, assigned to nobody

[2019-02-25 03:48] Quy commented on #24005
Please ask support questions in [Joomla Forum](https://forum.joomla.org/).<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24005">issues.joomla.org/tracker/joomla-cms/24005</a>.</sub>

[2019-02-25 08:58] kofaysi commented on #23582
I have analyzed the helper file and find out that tags are filtered according the view access level:
https://github.com/joomla/joomla-cms/blob/1b01db5b0f638ca89a0da12f9681c32af0c76a2c/modules/mod_tags_popular/helper.php#L51
but the articles with these tags are not filtered:
https://github.com/joomla/joomla-cms/blob/1b01db5b0f638ca89a0da12f9681c32af0c76a2c/modules/mod_tags_popular/helper.php#L118
a

[2019-02-25 09:01] infograf768 opened #24008 "[4.0] Modules drag and drop ordering broken"
### Steps to reproduce the issue
Make sure you have a number of modules set to the display in the same position.
Filter by this position in the Module Manager.
If a multilingual site, also filter by Language
Drag and drop is totally unreliable although the modules are moved OK in the manager.

The only way to get for example a specific module to display on top on the position is to not NOT FILTER

[2019-02-25 13:34] magskate opened #24015 "Website not working"
Hi,
our website is not working
westfieldvillage.co.uk

Error message:
Fatal error: Cannot use Joomla\String\String as String because 'String' is a special class name in /home/westfie3/public_html/libraries/vendor/joomla/registry/src/Format/Json.php on line 12

### Actual result

### System information (as much as possible)

### Additional comments

[2019-02-25 13:34] HLeithner commented on #24015
Sounds like you have an old Joomla Version and upgraded you PHP version.

[2019-02-25 14:24] 200MPHMEDIA commented on #24001
Thank you.  Will look for the update.

From: Ciaran Walsh <notifications@github.com>
Sent: Sunday, February 24, 2019 4:20 PM
To: joomla/joomla-cms <joomla-cms@noreply.github.com>
Cc: 200MPHMEDIA <herb200mph@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [joomla/joomla-cms] Issue with viewing Module Positions on Front-End Joomla! 4 (#24001)

This issue is likely to be resolved once #22

[2019-02-25 14:52] franz-wohlkoenig commented on #24001
@200MPHMEDIA please close the Issue as its resolved.

[2019-02-25 15:14] sveinaberg commented on #23773
This is to me a weird behavior. In the back-end, as a super user, one should be able to find any article by searching for the category, whether the super user is a member of said group or not?

[2019-02-25 15:48] tonypartridge commented on #23773
Not at all, that’s not how ACL works. Backend isn’t only for a single group.

In your scenario you are assuming everyone should see everything in the backend.

[2019-02-25 15:52] zwiastunsw opened #24019 "[4.0] Date picker is not accessible for keyboard user"
### Steps to reproduce the issue
1. Go to Joomla Backend
2. Go to Content/Article/New or Edit / Publishing tab
  - Use Tab key to move focus to calendar field
   - Use Down arrow to open calendar dialog (not work, use tab to move fokus to calendar icon and use Spacebar to open calendar dialog)
   - Use Down arrow to move focus to current date
   - Use Left/Right/Down/Up arrows to select date
   -

[2019-02-25 15:53] sveinaberg commented on #23773
But shouldn't the super user be able to access all groups in the back-end? Do I need to add the super user to all groups in order to manage all content?

[2019-02-25 15:55] tonypartridge commented on #23773
Only if you add the super user to that group. ACL doesn't assume Super users are the highest possible level. It just sets defaults. If you create an isolated usergroup then it is isolated from everyone but that group.

[2019-02-25 15:55] mbabker commented on #23773
Access groups does not use ACL.  So yes, your super user group needs to be added to every access group.

[2019-02-25 16:17] #24001 closed, assigned to nobody

[2019-02-25 16:19] #24015 closed, assigned to nobody

[2019-02-25 16:19] Quy commented on #24015
Duplicate #8817<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24015">issues.joomla.org/tracker/joomla-cms/24015</a>.</sub>

[2019-02-25 17:18] sveinaberg commented on #23773
OK, that is doable. Thanks for your help!

[2019-02-25 20:30] bahl24 commented on #23491
@ReLater I think the issue has been fixed, I was unable to reproduce it. Kindly recheck.

[2019-02-25 20:48] bahl24 commented on #24008
@infograf768 Drag and drop is not working in other places also such as article manager

[2019-02-25 20:50] #23773 closed, assigned to nobody

[2019-02-25 20:50] Quy commented on #23773
Closing as expected behavior.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23773">issues.joomla.org/tracker/joomla-cms/23773</a>.</sub>

[2019-02-25 22:08] dgrammatiko commented on #24019
I think @C-Lodder is working on this

[2019-02-25 22:14] dgrammatiko commented on #24008
@infograf768 that might be a bug and probably the cause is that the script is reading some attribute to get information if the list has nested elements or not (that's from the top of my head). So in reality the patch should be quite easy: in the filters script we should take care of the form or the table (wherever the nested attribute is set and make sure that the value reflects the filtered list.

[2019-02-25 23:23] ReLater commented on #23491
I rely in your statement.

[2019-02-25 23:23] #23491 closed, assigned to nobody

[2019-02-26 05:19] Milglius commented on #23961
That's a much better solution #23261 combined with @dneukirchen proposal its the best

we should not limit the folder size... users should be able to upload as many media files as they want...

instead we should paginate the requests so that the load time is acceptable.
on server side we need to implement paginated responses.
on client we need to implement infinite scroll or show a pager.

[2019-02-26 06:43] infograf768 commented on #24008
Just remain to find the "anyone"...

[2019-02-26 07:00] infograf768 commented on #23491
Sorry to say but admin menus are totally broken at this stage of the branch.
Creating an admin menu with menu items does not create a tree at all.

[2019-02-26 12:18] puneeth2001 commented on #23798
can I work on this issue now?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23798">issues.joomla.org/tracker/joomla-cms/23798</a>.</sub>

[2019-02-26 12:20] puneeth2001 commented on #23815
@hardik-codes are you still working on it if not I'll do it.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23815">issues.joomla.org/tracker/joomla-cms/23815</a>.</sub>

[2019-02-26 12:27] hardik-codes commented on #23798
@puneeth2001 I'm already working on it and waiting for the commits to be merged

[2019-02-26 12:29] puneeth2001 commented on #23817
I could not reproduce the issue can you say me how?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23817">issues.joomla.org/tracker/joomla-cms/23817</a>.</sub>

[2019-02-26 12:30] hardik-codes commented on #23815
Yeah working on it

[2019-02-26 12:37] puneeth2001 commented on #23628
it is ok for me here:![screen shot 2019-02-26 at 12 36 59](https://issues.joomla.org/uploads/1/10500d6dbfddbf6a1c51793d03038846.png)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23628">issues.joomla.org/tracker/joomla-cms/23628</a>.</sub>

[2019-02-26 12:50] puneeth2001 commented on #22804
Is there any PR ready for it?

[2019-02-26 13:10] zero-24 commented on #23933
Hi please check this PR: https://github.com/joomla/joomla-cms/pull/24021.

As we have an PR I'm going to close this issue here. Please let us know your test results there.

[2019-02-26 13:10] #23933 closed, assigned to nobody

[2019-02-26 13:37] Quy commented on #21960
Can this be closed?

[2019-02-26 13:38] ciar4n commented on #23817
Open publishing tab of an article. Reduce the viewport size.

[2019-02-26 13:41] joeforjoomla commented on #21960
Yes, closed.

[2019-02-26 13:41] #21960 closed, assigned to nobody

[2019-02-26 14:46] puneeth2001 commented on #23817
I reduced the viewport as much as possible but I am getting like this even then:
![screenshot from 2019-02-26 20-14-56](https://user-images.githubusercontent.com/43813460/53421303-72fce500-3a03-11e9-99b7-2084221e4c76.png)

[2019-02-26 14:50] puneeth2001 commented on #21981
can I know how to reproduce the issue
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21981">issues.joomla.org/tracker/joomla-cms/21981</a>.</sub>

[2019-02-26 14:53] ciar4n commented on #23817
Considering some mobiles are as low as 320px, you will need to reduce your viewport further.

[2019-02-26 15:14] ReLater commented on #23491
Also related: https://github.com/joomla/joomla-cms/issues/23070

[2019-02-26 15:21] brianteeman commented on #23817
### 320px
![image](https://user-images.githubusercontent.com/1296369/53423898-1f29d600-39da-11e9-9b1d-5be91cb97408.png)

### 360px
![image](https://user-images.githubusercontent.com/1296369/53423926-29e46b00-39da-11e9-81d9-5a4628dc02ce.png)

[2019-02-26 15:30] infograf768 commented on #23798
Folks, I remind you that there were important changes in 3.8-9 for this feature and that it has not yet been ported to 4.0.
Look at a 3.9.3 site to see what we have there.
I suggest to wait until more stuff is ported to 4.0.

[2019-02-26 16:10] Quy commented on #19301
Fixed with PR #23918 in J3.

[2019-02-26 16:12] brianteeman commented on #19301
@quy that might not fix the issue here as the installer for j4 is almost completely different code

[2019-02-26 17:40] hardik-codes commented on #23796
@infograf768 how by the use of ```<ul><li>``` were you able to achieve the desired effect ? Please help with the code

[2019-02-26 17:59] alikon commented on #19301
imho #23918 is not enough we lack the client side validation
but in the meantime test the server side one :smile: #24024

[2019-02-26 18:45] brianteeman commented on #23251
And now released

[2019-02-26 19:19] dgrammatiko commented on #19301
@alikon @brianteeman the front end part was already fixed in
https://github.com/joomla/joomla-cms/pull/21584 but then that PR was closed. FWIW my intension when I did patch the validation.js to deal with the pattern attribute was to move to HTML5 validation and also have one regex per field (php or js). Obviously converting all the forms is kinda big task but honestly I hope someone will do it for

[2019-02-26 21:37] Karl-Goddard opened #24027 "Media Manager Video Uploads"
### Steps to reproduce the issue
Add mp4 to legal extensions and MIME types and try uploading a video using Media Manager. The video I am trying to upload is smaller than my PHP upload size limit and the joomla max size limit in global config. Note that this issue doesn't occur if I set restrict uploads to "NO".

### Expected result
Successful upload.

### Actual result
Error: Not a valid image

#

[2019-02-26 21:52] isdaft opened #24029 "[3.9.3] Banner Module cached; Over-ride edits to fail to update IRL"
### Steps to reproduce the issue
create an override for a banner
create associated module and link to an area dictated in .xml
make edits to over-ride php

### Expected result
any and all subsequent edits to the over-ride will be seen after the edit is made.

### Actual result
html produced from php over-ride SOMETIMES, will stay the same even though the over-ride php is supposed to show something

[2019-02-26 23:21] brianteeman opened #24032 "[4.0] Components menu"
As Redirects and Post Installation Messages are now correctly in the system control panel they should be removed from the actual components menu.

[2019-02-26 23:22] brianteeman commented on #24032
and joomla update

[2019-02-27 04:23] hardik-codes commented on #22544
Working on it

[2019-02-27 05:42] bahl24 commented on #24032
On it.

[2019-02-27 07:15] hardik-codes commented on #24019
May I assist you in this @C-Lodder if you are working on it ?

[2019-02-27 07:27] hardik-codes commented on #22507
@brianteeman where is ```role=alert``` defined ?

[2019-02-27 07:33] C-Lodder commented on #24019
WhenI get some time again I will start on it again after a first failed attempt. The code isnt documented at all so Im in 2 minds whether or not to try again or extend something that's already out there

[2019-02-27 08:41] C-Lodder opened #24034 "[4.0] [RFC] Remove RSS support"
Some big tech companies that have already dropped RSS years back

- Firefox (RSS button) - 2011
- Apple (OSX Lion) - 2012
- Google Reader - 2013
- Twitter - 2013

As there are some fairly popular extensions out there for RSS feeds, I'm going to suggest dropping core support for it.

[2019-02-27 08:50] brianteeman commented on #24034
Isn't rss used as a format for other extensions to consume joomla content eg mailchimp, acyba??

[2019-02-27 08:50] SharkyKZ commented on #24034
Remove what exactly? `Joomla\CMS\Feed` library? Newsfeeds extensions? Component feed views?

[2019-02-27 08:52] C-Lodder commented on #24034
@SharkyKZ All of the above. Perhaps decouple them as Weblinks was so they can still be downloaded from JED

[2019-02-27 08:53] Bakual commented on #24034
I'm not sure why it would be an argument for dropping RSS on the server side when some clients removed their support. They probably removed it because there are better RSS readers out there (don't know - never used RSS myself except for Podcasts).
Imho, there is no reason to remove RSS support as it is something that is done very easily.

[2019-02-27 08:59] C-Lodder commented on #24019
@hardik-codes - If you're comfortable with JS and familiar with Custom Elements, feel free to take it on. It'll be fairly big task

[2019-02-27 09:05] Harshil99 opened #24035 "[4.0] Pressing 'Enter' in text input field works differently"
### Steps to reproduce the issue

- Go to Article-New.
- Fill the required title field.
- Press 'Enter' in title field only or in other text field like tags, version note.

### Expected result
It should do either of these (save , save & close , save & new).

### Actual result
Usually pressing 'Enter' should do submit (here save/save & close/save & new) but here it close the new article without sav

[2019-02-27 10:11] HLeithner commented on #24034
RSS stands for the open web and is part of every blog software. Removing the support for it doesn't add any value to Joomla, at least you haven't described any.

[2019-02-27 10:16] HLeithner commented on #24034
yeah that works really well, plz check weblinks repo there is a discussion to drop it or merge it back into core. Because there is no/less interested in most of the repo beside the main repo.

[2019-02-27 10:20] jeckodevelopment commented on #24034
Please keep in mind that RSS is widely used to post automatically to Social networks through third-party systems

[2019-02-27 11:34] wilsonge commented on #23932
I think nearly all of this is now captured in https://github.com/joomla/accessibility/issues/58 ?

[2019-02-27 11:41] zwiastunsw commented on #23932
@wilsonge : I will work on this report and complement it. I will also mean in it the problems that have been solved. Thank you for your work on the accessibility of Media Manager.

[2019-02-27 12:07] brianteeman commented on #23932
If the skipto code is resurrected then it would solve many of the issues about getting to the media manager  that you reported. I just am not prepared to do it and for the JAT to ignore it again

[2019-02-27 12:16] zwiastunsw commented on #23932
@brianteeman: If you have time to finish it, you will simply resurrect it. Patience is a virtue of gods.

[2019-02-27 12:22] brianteeman commented on #23932
I am many things but I am not god ;)

[2019-02-27 13:19] mbabker commented on #24034
Everyone here is arguing for keeping RSS support but nobody wants to put in the effort to make RSS a first class citizen of core (https://github.com/joomla/joomla-cms/issues/13647 and https://github.com/joomla/joomla-cms/issues/14176 as examples).  Either RSS needs to be supported as well as HTML or it should not be a core feature because the current implementation just sucks.

[2019-02-27 13:25] bembelimen commented on #24032
see https://github.com/joomla/joomla-cms/pull/23760 for first try, I'll update it over the weekend

[2019-02-27 13:31] brianteeman commented on #24032
Sorry @bembelimen I completely missed that. Great minds think alike

[2019-02-27 13:31] #24032 closed, assigned to nobody

[2019-02-27 13:42] dioubernardo opened #24039 "PHP Notice: Undefined index: id in components/com_tags/router.php"
PHP Notice:  Undefined index: id in /storage/htdocs/joomla/furg/components/com_tags/router.php on line 79

PHP Notice:  Undefined index: id in /storage/htdocs/joomla/furg/components/com_tags/router.php on line 84

### System information (as much as possible)
PHP Version 7.3.2-3
Ubuntu 14.04.1
Joomla! 3.9.3 Stable

[2019-02-27 13:48] olleharstedt opened #24040 "Tainted string in administrator/components/com_config/view/component/tmpl/default.php"
### Steps to reproduce the issue

Enable the PHP tainted string extension: http://php.net/manual/en/book.taint.php
Create a component, go to default action.

### Expected result

No tainted string.

### Actual result

Fatal error: main() [echo]: Attempt to echo a string that might be tainted in /var/www/joomla/administrator/components/com_config/view/component/tmpl/default.php on line 116

### Sys

[2019-02-27 13:58] Bakual commented on #24034
Can it be improved? Sure. Does it suck? Certainly not.
Is there interest in improving it? Apparently not enough. But that doesn't mean it has to be removed.

Most of the issues with RSS aren't really tied to RSS anyway. It's the various plugins which silently assume a HTML document type and try to load JS or whatever into the document. Removing RSS doesn't solve this.

[2019-02-27 14:11] mbabker commented on #24034
That's exactly why it sucks.  Part of Joomla's selling point is its extensibility and the ability for users and developers to interact with data throughout the request cycle.  Show me one non-HTML request where plugins can hook the view outside the application's system events.  Compare that to the number of controllers that early abort the request cycle because it's easier to call `$app->close()`

[2019-02-27 15:00] Bakual commented on #24034
I know that. Because I maintain an extension which serves also podcasts and another one which does XLS output. So I know firsthand where you come from.
I just don't think dropping support is the answer.

[2019-02-27 15:17] mbabker commented on #24034
I'd rather it not be dropped either, but being realistic here, if core were to actually take the time to make plugin integrations in non-HTML views work correctly for just the core stack, it would still wreak just enough havoc on the ecosystem that the move to whatever version that were introduced in would be almost as painful as the 1.5 to 2.5 migration.  I would safely bet that 85% of plugins ou

[2019-02-27 15:40] ReLater commented on #24039
Related? https://github.com/joomla/joomla-cms/issues/23999

[2019-02-27 16:06] Quy commented on #24039
@dioubernardo Can you provide steps on how to reproduce it?

[2019-02-27 17:19] puneeth2001 commented on #24035
issue confirmed

[2019-02-27 17:38] hardik-codes commented on #23796
@infograf768 how do I install any RTL language. Because the install button on this page ```administrator/index.php?option=com_installer&view=languages``` doesn't seem to be working

[2019-02-27 19:13] infograf768 commented on #23796
this has been solved already and rtl patch too which i will post asap

[2019-02-27 19:13] #23796 closed, assigned to nobody

[2019-02-27 19:17] infograf768 commented on #23796
see
https://github.com/joomla/joomla-cms/pull/23902 for ltr

[2019-02-27 20:08] hardik-codes commented on #17634
@C-Lodder in which CSS file this cleanup has to be done?

[2019-02-27 20:17] dioubernardo commented on #24039
Install default Joomla and read apache error log after many access ;)

[2019-02-27 20:44] Quy commented on #24039
Which link(s)? The log should show the referring links/pages.

[2019-02-27 22:08] chuckscroggs commented on #23290
Followed instructions to set check menu to "No" but it does not remove the warning.

[2019-02-28 08:54] infograf768 commented on #23796
Please test https://github.com/joomla/joomla-cms/pull/24043 for RTL + some other stuff.

[2019-02-28 11:39] dioubernardo commented on #24039
In many links

[Thu Feb 28 06:29:35.041084 2019] [php7:notice] [pid 25715] [client 200.19.255.54:43925] PHP Notice:  Undefined index: id in /storage/htdocs/joomla/furg/components/com_tags/router.php on line 84, referer: https://furg.br/en/component/tags/tag/nucleo-de-traducao

[Thu Feb 28 06:30:51.871571 2019] [php7:notice] [pid 25721] [client 200.19.255.54:43231] PHP Notice:  Undefined index: id

[2019-02-28 14:07] HLeithner commented on #24040
Its filtered for base64
``` get('return', '', 'base64');```

[2019-02-28 17:57] olleharstedt commented on #24040
OK, I'll have to dig into the actual source code to check.

[2019-02-28 17:58] akashbisht81 commented on #24040
This is HARD !

[2019-02-28 17:58] sjb1963 opened #24049 "Action Logs show constant rather than value re: akeeba admin & backup"
### Steps to reproduce the issue

- Requires Either Akeeba Admin or Backup to be installed.
- All action log related plugins enabled
- Perform any action , such as changing a setting in Admin tools or running a backup.

### Expected result
In "Latest Actions" Module on the back end administrator panel.
User <a href="{accountlink}">{username}</a> started a new backup for profile {title}

### Actual

[2019-02-28 18:25] ReLater commented on #24040
Then:
[code]

[2019-02-28 18:29] olleharstedt commented on #24040
The link in the security issue template leads to a 404: https://developer.joomla.org/security/contact-the-team.html.

[2019-02-28 18:31] mbabker commented on #24040
Umm, that URL most definitely is not a 404.

Anyway, this is a false positive.  A return URL is given as a value that is validated to match a base64 regex, and any use of base64 when fetching data from the input/filter APIs must be manually decoded by the caller.  If the taint extension is reporting use of base64 in general as an issue, that is a concern for that extension's maintainer.  Also, the

[2019-02-28 18:31] #24040 closed, assigned to nobody

[2019-02-28 21:13] billtomczak opened #24050 "Debug plugin errors on php 7.3"
### Steps to reproduce the issue
* Install Joomla 4
* set error reporting to at least 'Simple'

### Expected result
no errors

### Actual result
The following errors are reported on admin pages
Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /var/www/html/plugins/system/debug/debug.php on line 590

Warning: "continue" targeting switch is equivale

[2019-02-28 21:32] SharkyKZ commented on #24050
Already fixed, see #23253.

[2019-02-28 21:34] billtomczak commented on #24050
My Apologies - I did a search and didn't find anything.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24050">issues.joomla.org/tracker/joomla-cms/24050</a>.</sub>

[2019-02-28 22:34] #24050 closed, assigned to nobody

[2019-03-01 04:02] #24039 closed, assigned to nobody

[2019-03-01 04:02] Quy commented on #24039
Please test PR #24051<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24039">issues.joomla.org/tracker/joomla-cms/24039</a>.</sub>

[2019-03-01 08:06] Milglius commented on #23991
so it is fixed now ?

[2019-03-01 08:15] infograf768 commented on #23991
Not sure I understand your problem.
As a superuser, I create an article and select a category for this article (I do not save it yet).
Then I move to another Tab (to set the language if I need it for example).
Then come back to the Category field and select another category in the dropdown.
No issue at all here.

maybe your issue is due to your template?

[2019-03-01 13:19] ReLater commented on #23991
Tested with an Manager account. I can NOT reproduce this issue, too. I can change the category as often as I want.

Maybe you have set additional settings due to category in the menu item "Submit an Article".

[2019-03-01 14:57] puneeth2001 commented on #24008
on it.

[2019-03-01 15:23] puneeth2001 commented on #24008
it is working when we sort it by order, should I make it independent of this thing.

[2019-03-01 15:43] puneeth-chanda opened #24055 "Untracked strings in help page"
### What needs to be fixed
some untracked strings must be removed
![screenshot from 2019-03-01 21-10-34](https://user-images.githubusercontent.com/43813460/53648674-8065d980-3c66-11e9-847d-22085cd5cd32.png)

### Why this should be fixed
Seems awkard

### How would you fix it

### Side Effects expected

[2019-03-01 15:50] brianteeman commented on #24055
Duplicate report

[2019-03-01 15:52] puneeth2001 commented on #24055
is the issue already present

[2019-03-01 16:42] #24055 closed, assigned to nobody

[2019-03-01 16:42] Quy commented on #24055
Duplicate #23630. Please test PR #23839.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24055">issues.joomla.org/tracker/joomla-cms/24055</a>.</sub>

[2019-03-01 17:18] infograf768 commented on #24008
It is not working when filtering.

[2019-03-01 22:19] kurtroesand opened #24056 "Image caption in 3.9.3 breaks responsive images"
I upgraded to Joomla 3.9.3 the other day, and I noticed a strange behavior for responsive images.

### Steps to reproduce the issue
Load an article that have an image in it. Notice that there is a 'float' and 'width' tag inside the HTML. Where the 'width' has been set according to screens size.

Resize window an refresh browser and a new width has been set.

This breaks responsive images, and it l

[2019-03-02 03:24] #21024 closed, assigned to nobody

[2019-03-02 09:10] chmst commented on #24035
Confirmed. It is at least an unexpected behaviour without any kind of information.

[2019-03-02 09:31] franz-wohlkoenig commented on #24049
Should'nt this be reported at 3rd-Party (akeeba)?

[2019-03-02 10:18] zwiastunsw commented on #24035
Pressing the Enter / Space key in the text fields of the form should not trigger any action. Only in the case of the Enter / Space buttons should trigger an action consistent with the role of the button.

[2019-03-02 12:52] HLeithner commented on #24049
@nikosdion can you have a look if this is a akeeba problem or core?

[2019-03-02 13:29] ReLater commented on #24049
Perhaps a related PR? https://github.com/joomla/joomla-cms/pull/22282
I closed it because lack of interest and because of "has conflicts".

[2019-03-02 13:30] nikosdion commented on #24049
Please note that the person who debugged that issue was @tampe125 and I believe he's the one who asked our user to file an issue in the Joomla repo. For further enquiries please message him, he has a much better idea of what's going on. I can only repeat what he told me two days ago.

The language strings do exist in Akeeba Backup's language files. The language files are not loaded by the User Act

[2019-03-02 13:35] ReLater commented on #24056
Could you please describe the steps where (editor, introimage, fullimage) and how you inserted the image.

[2019-03-02 14:40] SharkyKZ commented on #24056
What you describe is expected behavior and the code responsible for it hasn't been touched for years. See https://github.com/joomla/joomla-cms/blob/staging/media/system/js/caption-uncompressed.js. It could certainly be improved though.

[2019-03-02 14:56] chrisvphogan commented on #23988
After trying to install without System - Backup on update turned on I get the following message now?

![screenshot 2019-03-02 at 14 44 05](https://user-images.githubusercontent.com/22639013/53683645-30852200-3cfb-11e9-9320-4ae4dff8f8ee.png)

[2019-03-02 17:03] coolcat-creations commented on #22314
It's not intended to be split, I described it in the JCM Article that it's intended to have options to display certain columns or not. It does not have to have such a big button but every user has different data which is important for them, so the backend gets more overview if the user is able to customize the table columns. For example rating is maybe not important to some editors but rather the

[2019-03-02 18:21] kurtroesand commented on #24056
The images are inserted using 'Images and links'.

[2019-03-02 18:34] kurtroesand commented on #24056
Ok, I understand, but the reality is that Joomla 3.9.3 started to break responsive images.

I run a news site that has been working flawlessly for almost two years now, but after upgrading to 3.9.3 images started to not be responsive any longer.

Check this  page as an example. (https://ksu.no/artikler/ksu-no/95930-skattebetalere-meldte-seg-med-6-milliarder-i-glemte-formuer) – resize the browser w

[2019-03-02 18:48] Webdongle opened #24065 "oops"
oops

[2019-03-02 18:57] brianteeman commented on #24065
Where is the duplication?

[2019-03-02 19:23] Webdongle commented on #24065
need to change my glasses just seen the not

[2019-03-02 19:23] #24065 closed, assigned to nobody

[2019-03-02 19:28] 200MPHMEDIA opened #24066 "Continually checks for updates"
### Steps to reproduce the issue
Every time the "Control Panel" (left menu) link is clicked, both Joomla and Extensions go through an "update check."  This uses resources.  Can this action be eliminated until the actual "Update" buttons are clicked instead of the CP link.  The update check each time is redundant.

### Expected result

### Actual result

### System information (as much as possible)

[2019-03-02 19:32] 200MPHMEDIA opened #24067 "[4.0] Table Options opens when clicking in main area"
### Steps to reproduce the issue
In the Articles List View, ant the Table Options is used to selected Articles in a Category, which produces the expected results.

However, when you click in the main area of the Article List, the Table Options open again, this time in wide screen format, on top of the list, making the screen unusable thereafter.

### Expected result

The Table Options should not r

[2019-03-02 19:43] Chaosxmk commented on #24066
The idea of the plugins is to let people know that an update is available without having to check manually. Maybe restrict it to auto-checking once per day?

[2019-03-02 19:48] mbabker commented on #24066
The design of these two plugins allows the control panel to be loaded while asynchronously checking the update status of their respective groups.  The plugins will use the cache settings of the update checks to decide whether an update server needs to be pinged (which results in extra HTTP server-to-server calls) or if what is in the cache can be used.  Changing this to a synchronous process is a

[2019-03-02 20:51] brianteeman commented on #24067
The options are open to show that you have a filter set.

[2019-03-02 20:52] brianteeman commented on #24067
Can you post a screenshot of what you mean by "unusable"

[2019-03-02 21:01] ReLater commented on #24067
I'm not absolutely sure but I think that this is fixed already in current Joomla 4 (nightly builds).
https://developer.joomla.org/nightly-builds.html

[2019-03-02 21:03] brianteeman commented on #24067
Grrh Thats why it asks for the System information. How is anyone supposed to know it was Joomla 4<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/24067">issues.joomla.org/tracker/joomla-cms/24067</a>.</sub>

[2019-03-02 21:12] ReLater commented on #24056
I just know that I never used JCaption for image captions but overrides with figure and figcaption HTML. I never used it because of the issue you describe above. Doesn't react dynamically on windows resize. Thus I think SkarkyKZ is right.

[2019-03-02 21:39] Bakual commented on #24066
I'm closing this issue as it is working as intended (actually it's a feature, not a bug).
Also as Michael already wrote, if you don't like the behavior you can turn it off by disabling the plugins.

[2019-03-02 21:39] #24066 closed, assigned to nobody

[2019-03-02 22:51] Hackwar commented on #21024
So far this has not been implemented. So are we just closing this now to be forever forgotten?

[2019-03-02 23:00] HLeithner commented on #24056
The code adding the width didn't changed in the last years. So the version before should behave exactly the same, except someone modified the core.

You may can fix your problem by add
[code]
to your css file in your template.

[2019-03-03 07:55] Sandra97 commented on #21024
It's supposed to be implemented as of 4.0 Beta as we mentioned in the Alpha 6 blog post:

I really hope it will happen and not be forgotten.

@wilsonge Can you please confirm?

[2019-03-03 08:10] puneeth2001 commented on #23958
does this belong to J4

[2019-03-03 08:36] franz-wohlkoenig commented on #24029
@infograf768 can you please comment?

[2019-03-03 08:56] franz-wohlkoenig commented on #24027
@infograf768 can you please comment?

[2019-03-03 09:46] franz-wohlkoenig commented on #24067
@200MPHMEDIA please append "[4.0]" in front of the Title.

[2019-03-03 09:50] franz-wohlkoenig commented on #23991
closed as unconfirmed Report, it can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23991">issues.joomla.org/tracker/joomla-cms/23991</a>.</sub>

[2019-03-03 09:53] franz-wohlkoenig commented on #23988
@chrisvphogan have you asked in Forum?

[2019-03-03 09:54] #23987 closed, assigned to nobody

[2019-03-03 09:54] franz-wohlkoenig commented on #23987
closed as comment above. It can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23987">issues.joomla.org/tracker/joomla-cms/23987</a>.</sub>

[2019-03-03 09:58] #23983 closed, assigned to nobody

[2019-03-03 09:58] franz-wohlkoenig commented on #23983
@artur-stepien as there is no Answer i close this one, it can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23983">issues.joomla.org/tracker/joomla-cms/23983</a>.</sub>

[2019-03-03 10:01] franz-wohlkoenig commented on #23980
@infograf768 can you please comment?

[2019-03-03 10:02] franz-wohlkoenig commented on #23973
@infograf768 can you please comment?

[2019-03-03 10:04] franz-wohlkoenig commented on #23968
@infograf768 can you please comment?

[2019-03-03 10:06] franz-wohlkoenig commented on #23961
@ot2sen can this Issue be closed?

[2019-03-03 10:07] franz-wohlkoenig commented on #23958
@HLeithner can you please comment?

[2019-03-03 10:08] franz-wohlkoenig commented on #23937
@HLeithner can you please comment?

[2019-03-03 10:09] #23935 closed, assigned to nobody

[2019-03-03 10:09] franz-wohlkoenig commented on #23935
closed as no reply. It can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23935">issues.joomla.org/tracker/joomla-cms/23935</a>.</sub>

[2019-03-03 10:20] artur-stepien commented on #23983
I can prepare this in a fast way by adding a string query to Table class. But I think this should be added to the Query object in a first place. Cause this is something that can be used in models of bigger components. I'll check it and let you know soon.

[2019-03-03 10:28] brianteeman commented on #23961
no - this is a valid feature request

[2019-03-03 10:28] franz-wohlkoenig commented on #23924
@infograf768 can you please comment?

[2019-03-03 10:29] franz-wohlkoenig commented on #23961
@brianteeman thanks for Info.

[2019-03-03 10:35] franz-wohlkoenig commented on #23905
@infograf768 can you please comment?

[2019-03-03 10:36] franz-wohlkoenig commented on #23904
@infograf768 can you please comment?

[2019-03-03 10:37] #23898 closed, assigned to nobody

[2019-03-03 10:37] franz-wohlkoenig commented on #23898
close as comment above. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23898">issues.joomla.org/tracker/joomla-cms/23898</a>.</sub>

[2019-03-03 10:39] franz-wohlkoenig commented on #23896
@zwiastunsw can this Issue be closed?

[2019-03-03 10:40] franz-wohlkoenig commented on #23890
@HLeithner can you please comment?

[2019-03-03 10:44] brianteeman commented on #24035
@zwiastunsw Thats not correct. Think of the joomla admin login form.

[2019-03-03 11:04] franz-wohlkoenig commented on #23871
@HLeithner can you please comment?

[2019-03-03 11:07] #23856 closed, assigned to nobody

[2019-03-03 11:07] franz-wohlkoenig commented on #23856
closed as duplicate Report #23636<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23856">issues.joomla.org/tracker/joomla-cms/23856</a>.</sub>

[2019-03-03 11:11] franz-wohlkoenig commented on #23827
closing this issue as having Pull Request #23865

[2019-03-03 11:11] #23827 closed, assigned to nobody

[2019-03-03 11:17] HLeithner commented on #23973
@rolandalsace which version do you use?

[2019-03-03 11:18] astridx opened #24070 "[4.0] Enable Debug mode is not working"
### Steps to reproduce the issue

Enable
![global configuration rsfd administration](https://user-images.githubusercontent.com/9974686/53694370-3556de00-3dae-11e9-99ae-aafafb3e6aa9.png)

### Expected result

I see debug information on the end of the page.

### Actual result

I do not see debug information.

![home](https://user-images.githubusercontent.com/9974686/53694372-3556de00-3dae-11e9-9706-

[2019-03-03 11:19] franz-wohlkoenig commented on #24070
@infograf768 can you please comment?

[2019-03-03 11:19] HLeithner commented on #23958
I think this is not an issue and can be closed, because it keeps the API consistent and maybe needed by new database drivers.

[2019-03-03 11:20] #23958 closed, assigned to nobody

[2019-03-03 11:20] franz-wohlkoenig commented on #23958
closed as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23958">issues.joomla.org/tracker/joomla-cms/23958</a>.</sub>

[2019-03-03 11:22] infograf768 commented on #24070
One has to click on the bottom left icon to see debug (lang or system or both).
<img width="384" alt="screen shot 2019-03-03 at 12 21 40" src="https://user-images.githubusercontent.com/869724/53694424-f2e1d100-3dae-11e9-9192-232ab5ed76a0.png">

[2019-03-03 11:23] HLeithner commented on #23937
file doesn't exists on transfernow.

@ZerooCool Is this a new problem after an upgrade or is this site new? Did you set the redirect in the menu item?

I think its not a Joomla! core problem, more a problem of the template. You should ask in the forum for help.

[2019-03-03 11:24] infograf768 commented on #24070
Closing as not a bug.

[2019-03-03 11:24] #24070 closed, assigned to nobody

[2019-03-03 11:24] HLeithner commented on #23937
Btw. which Joomla version do you use?

[2019-03-03 11:26] HLeithner commented on #23983
@artur-stepien do you have benchmarks or any information about b/c
@alikon can you check this suggestion?

[2019-03-03 11:39] infograf768 commented on #23890
The date format entered should be correctly done if done manually. It depends on the format used by the language used.
The first time it is saved as it has no date yet, it will pick the language defined format.
When editing thereafter and whatever the language, the format should be similar to the one displayed in the field.
In French, it would be 03-03-2011 while in en-GB it will be 2011-03-03

No

[2019-03-03 11:39] #23890 closed, assigned to nobody

[2019-03-03 11:44] infograf768 commented on #23988
Try "Fix" database and then indeed ask in forums as someone may want to help you by accessing yor site.

[2019-03-03 11:46] chrisvphogan commented on #23988
Yes in the Joomla forum...the above error has been fixed via ‘extentions database manager’ but i now get

[2019-03-03 12:22] artur-stepien commented on #23983
@HLeithner There are benchmarks. Here is one http://sqlblog.com/blogs/andrew_kelly/archive/2007/12/15/exists-vs-count-the-battle-never-ends.aspx
In short. The more records in the table the more expensive COUNT(*) is. Cause COUNT requires from the server to look for every row matching query. Where EXISTS stops after the first one found.

And after I create the PR I will make a benchmark too to chec

[2019-03-03 12:28] franz-wohlkoenig commented on #24070
thanks @infograf768

[2019-03-03 12:29] franz-wohlkoenig commented on #23890
thanks @infograf768

[2019-03-03 12:31] franz-wohlkoenig commented on #23937
@ZerooCool Please ask on [Forum](https://forum.joomla.org/) as suggested by @HLeithner.

[2019-03-03 12:31] #23937 closed, assigned to nobody

[2019-03-03 12:32] franz-wohlkoenig commented on #23937
closed as stated above. Issue can always be reopened.

[2019-03-03 12:33] #23988 closed, assigned to nobody

[2019-03-03 12:33] franz-wohlkoenig commented on #23988
closed as issue for Forum.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23988">issues.joomla.org/tracker/joomla-cms/23988</a>.</sub>

[2019-03-03 12:35] #23770 closed, assigned to nobody

[2019-03-03 12:35] franz-wohlkoenig commented on #23770
closed as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23770">issues.joomla.org/tracker/joomla-cms/23770</a>.</sub>

[2019-03-03 12:37] franz-wohlkoenig commented on #23763
@kofaysi can this Issue be closed?

[2019-03-03 12:38] franz-wohlkoenig commented on #23761
@HLeithner can you please comment?

[2019-03-03 12:42] wilsonge commented on #21024
I can confirm. Like ultimately with this it's just a merge policy thing - we have to delete files added and then re-removed from beta -> stable into the deleted files list somehow (that's something that needs modifying in the build script - that needs to be rewritten anyhow due to the way we've reworked composer and npm dependencies) and we have to not modify sql upgrade files similarly - we just

[2019-03-03 12:43] franz-wohlkoenig commented on #23703
@HLeithner can you please comment?

@thuebschmann changed Status "Urgent" to "Medium" according to https://docs.joomla.org/Bug_and_Issue_Tracker_Priority

[2019-03-03 12:46] franz-wohlkoenig commented on #23734
@infograf768 can you please comment?

[2019-03-03 12:48] franz-wohlkoenig commented on #23720
@HLeithner can you please comment?

[2019-03-03 12:53] HLeithner commented on #23983
ok  please go forward and create a PR against 4.0-dev thx

[2019-03-03 13:00] franz-wohlkoenig commented on #23748
@dgrammatiko can you please comment?

[2019-03-03 13:13] HLeithner commented on #23720
@mbabker do you know the reason for this and if its fixable?

[2019-03-03 13:17] franz-wohlkoenig commented on #23666
this is for [4.0]?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23666">issues.joomla.org/tracker/joomla-cms/23666</a>.</sub>

[2019-03-03 13:19] franz-wohlkoenig commented on #23618
@zero-24 can you please comment?

[2019-03-03 13:20] franz-wohlkoenig commented on #23663
can you please test on latest Version?

[2019-03-03 13:41] fr56 opened #24071 "Option setting for User Action Logs isn't working"
### Steps to reproduce the issue

Joomla 3.9.3. Users, User Action Log, Options, Events to log. Uncheck the (new) box Check-in.

### Expected result
No events for check-in will be shown in the User Actions Log.

### Actual result
The events for check-in are shown.
"User x performed a check in to table #__content " every time an article, menu item or module is opened, saved or closed.

### System i

[2019-03-03 14:08] HLeithner commented on #23703
@continga can you check this please?

[2019-03-03 14:31] 200MPHMEDIA commented on #24066
This is nonsense.  EVERY TIME you click on "Control Panel" the back-end checks for updates to Joomla, Extensions etc.  That is not necessary to do more than one time when the back-end is accessed, not EVERY TIME the "Control Panel" link has been clicked.  This uses up system resources, bandwidth plus data time if using a mobile device.  That ISN'T A FEATURE - IT IS A FLAW.  Check it once ... but n

[2019-03-03 14:34] HLeithner commented on #23761
@tht2p I created a PR please test it

Closing issue because we have a PR #24073

[2019-03-03 14:34] #23761 closed, assigned to nobody

[2019-03-03 14:35] 200MPHMEDIA commented on #24067
Joomla! 4alpha7 is where it is showing up.  Isn't this a "4.0" post?  If so, should not be necessary to identify it as a "4.0" problem.  If selecting a filter, and it functions, then going to the main content area and clicking on the screen, and the filter opens screen-width on top of the content area, hiding the resulting list, is a normal process - someone needs to re-think it.  And, why no "X"

[2019-03-03 14:52] bembelimen commented on #23251
I got my feet wet with the first tests ([https://github.com/bembelimen/joomla-cms/commits/tinymce-5.0](https://github.com/bembelimen/joomla-cms/commits/tinymce-5.0)) and it does not look that hard to run it in default mode.

Adding the parameter needs some clean up (some JS errors), but most stuff from 4.x works in the 5.x version.

[2019-03-03 15:03] Milglius commented on #23991
@infograf768 you understand problem corectly. Just log in frontend. Tested with an author account from frontend the issue still is. Using default joomla protostar template.

Please reopen this issue

[2019-03-03 15:14] 200MPHMEDIA commented on #24067
Installed the nightly build and the issue has been fixed. So someone saw the problem and fixed it, instead of defending why it functioned like that.  Thanks for the fix.

[2019-03-03 15:29] rolandalsace commented on #23973
J3.9.3

[2019-03-03 15:36] ZerooCool commented on #23937
From what I've been looking for, this behavior has been normal for a long time on Joomla.

After registering a user, we arrive on a page that displays the message "Confirm your user account, from the mail".

The body of this page is empty.
Only the account creation confirmation message is displayed.

I do not know if some people know better than others, not to have a blank page, but, I found a mes

[2019-03-03 15:57] mbabker commented on #21024
The `build/deleted_file_check.php` script can pick this up, it's ultimately just doing a diff between two commit references (usually tags).  You might have to run it from first beta to stable instead of stable to stable (so 3.8.13 to 3.9.0-beta then 3.9.0-beta to 3.9.0 instead of only 3.8.13 to 3.9.0) to pick up these kinds of changes in the beta cycle as I'm pretty sure if you try to diff two ref

[2019-03-03 16:09] mbabker commented on #24066
Every time you land on the control panel there are two extra AJAX calls for those plugins to get their stats.  What happens under the hood is first the current update cache is checked to see if update data is cached then determine if that cache has expired.  If it doesn't exist or is expired, then for every entry that needs to be checked, the update server for that resource is called and the updat

[2019-03-03 16:48] #24067 closed, assigned to nobody

[2019-03-03 16:51] Quy commented on #23703
@roland-d

[2019-03-03 17:06] franz-wohlkoenig commented on #24067
Its about see in Title that a 4.0-Issue is reported.

[2019-03-03 17:12] franz-wohlkoenig commented on #24071
@HLeithner can you please comment?

[2019-03-03 17:13] puneeth-chanda opened #24076 "[4.0] Toggle editor place change"
### What needs to be fixed
Toggle editor is presently below the text box If this is aside alias it would be nice
![screenshot from 2019-03-03 22-41-22](https://user-images.githubusercontent.com/43813460/53698658-d624b800-3e05-11e9-9ebb-4dddd4bed520.png)

### Why this should be fixed

### How would you fix it

### Side Effects expected

[2019-03-03 17:13] franz-wohlkoenig commented on #23659
@infograf768 can you please comment?

[2019-03-03 17:16] franz-wohlkoenig commented on #23657
This is about which Joomla-3-Version?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23657">issues.joomla.org/tracker/joomla-cms/23657</a>.</sub>

[2019-03-03 17:56] ReLater commented on #23991
I've tested it again with an Author account and still can't reproduce the issue. Author can change the category without any issues.

**If the Author saves the article and then opens edit again** (after an admin has published it), yes, then the Author cannot select another category from the dropdown but can create a new category (which sounds wrong for me, not only because the redirection after Sav

[2019-03-03 18:23] C-Lodder commented on #24076
Tagging @coolcat-creations and @rdeutz

[2019-03-03 20:51] creative-resort commented on #23663
done,
same story with Joomla! 3.9.3

[2019-03-03 20:59] Fedik commented on #23703
@thuebschmann you should not use `filter="user_utc"` in your `config.xml` for subform field. Because it not applied to subform field while saving, but applied by calendar field while displaying.

At current point of time the fields in the subform field does not support filtering/validation.

[2019-03-03 21:03] zero-24 commented on #23618
What kind of comment? @franz-wohlkoenig ? :D

[2019-03-03 21:21] brianteeman commented on #21540
Is there any work being done on this?

[2019-03-03 21:51] brianteeman commented on #21209
As far as I can tell this has now been resolved as I had no problem creating custom positions

[2019-03-03 21:51] ReLater commented on #23663
Did you read this thread already? https://github.com/joomla/joomla-cms/issues/24066

[2019-03-03 21:53] ReLater commented on #23663
BTW: I can't confirm "16 seconds and more" on a medium performant server.

[2019-03-03 22:18] zwiastunsw commented on #23896
@franz-wohlkoenig : I think you can close it. @brianteeman fixed the descriptions in the controls: acesslevel, calendar, combo, email, list, number, range, tel, text, textarea, url.  If we find other cases, a new issue will be reported

[2019-03-03 22:18] #23896 closed, assigned to nobody

[2019-03-04 03:35] zwiastunsw commented on #24035
Keyboard functionality and predictable consistent behavior are a prerequisite for accessibility.
@brianteeman rightly points out that my brief & quick comment is not correct.

I should only write that the Expected result indicated in the issue description is not correct.

Generally, the Enter key is used to confirm the action. What are the standard default effects of pressing the Enter key?
* Star

[2019-03-04 05:58] franz-wohlkoenig commented on #23896
@zwiastunsw thanks for cleaning up.

[2019-03-04 05:59] franz-wohlkoenig commented on #23618
If this is something to discuss or close.

[2019-03-04 06:01] franz-wohlkoenig commented on #23663
@creative-resort can this Issue be closed?

[2019-03-04 06:04] #21209 closed, assigned to nobody

[2019-03-04 06:04] franz-wohlkoenig commented on #21209
closed cause comment above. Please reopen if i'm wrong.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21209">issues.joomla.org/tracker/joomla-cms/21209</a>.</sub>

[2019-03-04 06:51] infograf768 commented on #23924
I can't reproduce the issue here.

[2019-03-04 07:11] #23924 closed, assigned to nobody

[2019-03-04 07:11] franz-wohlkoenig commented on #23924
closed as unconfirmed Report. Please reopen if closing was wrong.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23924">issues.joomla.org/tracker/joomla-cms/23924</a>.</sub>

[2019-03-04 08:43] franz-wohlkoenig commented on #23651
closed as Issue seems solved; please reopen if its not.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23651">issues.joomla.org/tracker/joomla-cms/23651</a>.</sub>

[2019-03-04 08:44] franz-wohlkoenig commented on #23645
@infograf768 can you please comment?

[2019-03-04 08:45] #23643 closed, assigned to nobody

[2019-03-04 08:45] franz-wohlkoenig commented on #23643
closed as Issue seems resolved; please reopen if its not.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23643">issues.joomla.org/tracker/joomla-cms/23643</a>.</sub>

[2019-03-04 08:47] #23641 closed, assigned to nobody

[2019-03-04 08:47] franz-wohlkoenig commented on #23641
closed as no Core-Issue. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23641">issues.joomla.org/tracker/joomla-cms/23641</a>.</sub>

[2019-03-04 08:50] franz-wohlkoenig commented on #23636
closed as having Pull Request #23906

[2019-03-04 08:51] #23634 closed, assigned to nobody

[2019-03-04 08:51] franz-wohlkoenig commented on #23634
Duplicate of #23028

[2019-03-04 08:53] franz-wohlkoenig commented on #23633
closed on Base of Comment above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23633">issues.joomla.org/tracker/joomla-cms/23633</a>.</sub>

[2019-03-04 08:54] franz-wohlkoenig commented on #23628
closed as this should be reported if the new Design have this issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23628">issues.joomla.org/tracker/joomla-cms/23628</a>.</sub>

[2019-03-04 08:57] franz-wohlkoenig commented on #23626
Reminder at @coolcat-creations for above Comment by @infograf768 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23626">issues.joomla.org/tracker/joomla-cms/23626</a>.</sub>

[2019-03-04 08:58] #23622 closed, assigned to nobody

[2019-03-04 08:58] franz-wohlkoenig commented on #23622
closed, Please ask on [Forum](https://forum.joomla.org/). You can always reopen if needed.

[2019-03-04 08:59] franz-wohlkoenig commented on #23621
@HLeithner  can you please comment?

[2019-03-04 09:02] franz-wohlkoenig commented on #23611
@HLeithner  can you please comment?

[2019-03-04 09:11] ciar4n commented on #23636
@franz-wohlkoenig #23906 is not a solution to this issue

[2019-03-04 09:27] fgonc124 commented on #23651
This ptoblem is not solved<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23651">issues.joomla.org/tracker/joomla-cms/23651</a>.</sub>

[2019-03-04 09:28] brianteeman commented on #23628
Please reopen until the new design solves it

[2019-03-04 09:33] HLeithner commented on #23621
@yvesh is Legal DC, may he can answer this better.

[2019-03-04 09:45] brianteeman commented on #23251
Great that someone has started to work on this

[2019-03-04 09:47] HLeithner commented on #23611
If the Model is new you have to first get the State and then you can change the state, don't ask me why thats Joomla behavior.

simple make ```$model->getState();``` before you make the setState call

[2019-03-04 10:16] kurtroesand commented on #24056
Sounds like this should be modified in the core then. Why use technology that obviously have been broken for years.

[2019-03-04 10:32] franz-wohlkoenig commented on #23636
sorry @ciar4n , reopened

[2019-03-04 10:33] franz-wohlkoenig commented on #23651
thanks for Info @fgonc124 , reopened.

[2019-03-04 10:34] franz-wohlkoenig commented on #23628
reopened as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23628">issues.joomla.org/tracker/joomla-cms/23628</a>.</sub>

[2019-03-04 10:34] ciar4n commented on #23636
Thank you @franz-wohlkoenig

[2019-03-04 11:04] wilsonge commented on #21024
i mean it has to be more i think. it has to be 3.8.13 to 3.9.0-beta then 3.9.0-beta to 3.9.0-beta2 then 3.9.0-beta2 to 3.9.0-rc1 etc as files are added/removed - but probably safer to always do it than risk missing one. but yes

[2019-03-04 11:31] HLeithner commented on #24071
@zero-24 could you look at this?

[2019-03-04 11:33] brianteeman commented on #23621
The link is already present in both joomla 3 and joomla 4

![image](https://user-images.githubusercontent.com/1296369/53730946-3c92f000-3e71-11e9-8e3f-5e3ecc89498b.png)

![image](https://user-images.githubusercontent.com/1296369/53730981-4fa5c000-3e71-11e9-8c48-799f68a1078f.png)

[2019-03-04 11:35] franz-wohlkoenig commented on #23582
@HLeithner  can you please comment?

[2019-03-04 11:36] franz-wohlkoenig commented on #23580
can this issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23580">issues.joomla.org/tracker/joomla-cms/23580</a>.</sub>

[2019-03-04 11:37] franz-wohlkoenig commented on #23568
@HLeithner  can you please comment?

[2019-03-04 11:39] #23621 closed, assigned to nobody

[2019-03-04 11:39] franz-wohlkoenig commented on #23621
closed following above Comment, thanks @brianteeman <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23621">issues.joomla.org/tracker/joomla-cms/23621</a>.</sub>

[2019-03-04 11:41] artur-stepien commented on #23621
It was about adding it to the Help menu not keeping in a hidden section where 99% of users doesn't even look. In Polish for example the Help articles are non-existing therefore no one looks there at all. So the non-working help section has the direct link but the license doesn't.

[2019-03-04 11:43] franz-wohlkoenig commented on #23544
@HLeithner as new Feature didn't go in J3 should that get a J4-Label.

[2019-03-04 11:44] HLeithner commented on #23582
iirc @Hackwar looked at this for j4

[2019-03-04 11:49] franz-wohlkoenig commented on #23582
this is for J3.

[2019-03-04 11:50] HLeithner commented on #23544
Yes

[2019-03-04 11:51] #23532 closed, assigned to nobody

[2019-03-04 11:51] franz-wohlkoenig commented on #23532
closed as Issue solved. Please reopen if its not.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23532">issues.joomla.org/tracker/joomla-cms/23532</a>.</sub>

[2019-03-04 11:51] brianteeman commented on #23544
Not sure it is a correct observation anyway

[2019-03-04 11:52] franz-wohlkoenig commented on #23529
@ghazal closing this Issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23529">issues.joomla.org/tracker/joomla-cms/23529</a>.</sub>

[2019-03-04 11:54] Milglius commented on #23991
@ReLater yes this is what I am talking about.

And also as @infograf768  described it but just as author.

[2019-03-04 11:54] aasimali commented on #23544
@brianteeman
Can you please explain to me the correct one?

[2019-03-04 11:56] franz-wohlkoenig commented on #23544
@HLeithner can you set a j4-Label as i have no Permissions.

[2019-03-04 11:58] HLeithner commented on #23544
It's a valid feature request so select multiple access levels similar to multiple categories

[2019-03-04 11:58] brianteeman commented on #23544
If a user is in many groups eg members and specialmembers then setting the filter to members will find the user AND setting the filter to specialmemembers will find the user. So I am not sure what it is you are trying to achieve

[2019-03-04 11:59] brianteeman commented on #23544
@HLeithner it is nothing like categories. An item can only be in one category. A user can be in multiple groups

[2019-03-04 12:00] HLeithner commented on #23544
Isn't the target to show all articles visible to access group "A", "B" and "C"?

[2019-03-04 12:01] HLeithner commented on #23871
You have the access level of the article in $item in the template but not the access level title, so this could be get by a query or have to be joined in article query. But this query is already really big and till now nobody needs it... If you find someone that write the PR we will consider to include it.

[2019-03-04 12:02] brianteeman commented on #23544
The settings within a filter are OR not AND
And the request is not for com_articles but com_users

[2019-03-04 12:03] aasimali commented on #23544
@brianteeman
Let me explain to you why I raised this?
- I have 1k users on my website
- Out of which 5 users belong to admin + registered
- 10 belongs to admin level only

So to know the name of the users who actually belongs to admin + registered, how I will use the filters?

[2019-03-04 12:08] brianteeman commented on #23544
@aasimali the problem is that no other filter works as an AND filter. If the code3 was changed to make this one filter work as an AND instead of OR then that would create confusion

[2019-03-04 12:14] aasimali commented on #23544
@brianteeman
I got your point, but don't you think this case is also confusing and filters are not serving their purpose?

[2019-03-04 12:16] franz-wohlkoenig commented on #23504
closed as Issue seems resolved. If not please reopen.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23504">issues.joomla.org/tracker/joomla-cms/23504</a>.</sub>

[2019-03-04 12:17] #23476 closed, assigned to nobody

[2019-03-04 12:17] franz-wohlkoenig commented on #23476
closed as Issue seems to be resolved; if not sorry and reopen it.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23476">issues.joomla.org/tracker/joomla-cms/23476</a>.</sub>

[2019-03-04 12:19] franz-wohlkoenig commented on #23466
@Ninja-007 can you please Comment?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23466">issues.joomla.org/tracker/joomla-cms/23466</a>.</sub>

[2019-03-04 12:22] franz-wohlkoenig commented on #23456
any Comment by Maintainers?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23456">issues.joomla.org/tracker/joomla-cms/23456</a>.</sub>

[2019-03-04 12:23] HLeithner commented on #23544
Oh yeah its com users, mixing filter types could be really confusing so I'm not sure if this makes the interface easier one the other site the category filter is a OR filter and would have the same behavior

[2019-03-04 12:24] franz-wohlkoenig commented on #23444
@artur-stepien can this be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23444">issues.joomla.org/tracker/joomla-cms/23444</a>.</sub>

[2019-03-04 12:25] #23435 closed, assigned to nobody

[2019-03-04 12:25] franz-wohlkoenig commented on #23435
closed as no Core-issue. This one can always be reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23435">issues.joomla.org/tracker/joomla-cms/23435</a>.</sub>

[2019-03-04 12:25] artur-stepien commented on #23444
@franz-wohlkoenig There is the usual "no cause of reasons" so I assume it can be closed.

[2019-03-04 12:27] #23444 closed, assigned to nobody

[2019-03-04 12:27] franz-wohlkoenig commented on #23444
thanks @artur-stepien <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23444">issues.joomla.org/tracker/joomla-cms/23444</a>.</sub>

[2019-03-04 12:29] franz-wohlkoenig commented on #23427
@ReLater does your Comment mean this Issue can be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23427">issues.joomla.org/tracker/joomla-cms/23427</a>.</sub>

[2019-03-04 12:54] franz-wohlkoenig commented on #23358
@AK-CCM can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23358">issues.joomla.org/tracker/joomla-cms/23358</a>.</sub>

[2019-03-04 12:55] #23352 closed, assigned to nobody

[2019-03-04 12:55] franz-wohlkoenig commented on #23352
closed as no Response but Issue can always be reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23352">issues.joomla.org/tracker/joomla-cms/23352</a>.</sub>

[2019-03-04 12:59] #23316 closed, assigned to nobody

[2019-03-04 12:59] franz-wohlkoenig commented on #23316
closed as no Answer was send, but Issue can always be reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23316">issues.joomla.org/tracker/joomla-cms/23316</a>.</sub>

[2019-03-04 13:01] #23315 closed, assigned to nobody

[2019-03-04 13:01] franz-wohlkoenig commented on #23315
closed as Issue seems to be solved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23315">issues.joomla.org/tracker/joomla-cms/23315</a>.</sub>

[2019-03-04 13:02] #23311 closed, assigned to nobody

[2019-03-04 13:02] franz-wohlkoenig commented on #23311
closed as Question is answered.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23311">issues.joomla.org/tracker/joomla-cms/23311</a>.</sub>

[2019-03-04 13:04] #23301 closed, assigned to nobody

[2019-03-04 13:04] franz-wohlkoenig commented on #23301
closed based on Answers above. Issue can always be reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23301">issues.joomla.org/tracker/joomla-cms/23301</a>.</sub>

[2019-03-04 13:07] franz-wohlkoenig commented on #23283
is ther anyone or should this Issue be closed as its for Forum?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23283">issues.joomla.org/tracker/joomla-cms/23283</a>.</sub>

[2019-03-04 13:12] franz-wohlkoenig commented on #23270
@Hackwar  can you please comment?

[2019-03-04 13:24] kofaysi commented on #23763
I made a stupid mistake and merged the PR into staging only now. I guess, a code will be attached soon. So, the issue should stay open until the PR is accepted or dismissed, right?

[2019-03-04 13:37] franz-wohlkoenig commented on #23268
can you please with latest Version and Protostar?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23268">issues.joomla.org/tracker/joomla-cms/23268</a>.</sub>

[2019-03-04 13:39] franz-wohlkoenig commented on #23763
if there is a PR the issue can be closed.

[2019-03-04 13:41] franz-wohlkoenig commented on #23267
can you please update on latest Version and use Default-Settings like Protostar?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23267">issues.joomla.org/tracker/joomla-cms/23267</a>.</sub>

[2019-03-04 13:41] brianteeman opened #24082 "Upload and Update"
The message on the Upload and update tab of com_joomlaupdate says

` You can use this feature to update Joomla if your server is behind a firewall or otherwise unable to contact the update servers. First download the Joomla Upgrade Package in ZIP format from the official Joomla download page. Then use the fields below to upload and install it.
`

With the link going to https://downloads.joomla.org

[2019-03-04 13:43] franz-wohlkoenig commented on #23262
any Comment @dmurphy779 or should this be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23262">issues.joomla.org/tracker/joomla-cms/23262</a>.</sub>

[2019-03-04 13:45] #23763 closed, assigned to nobody

[2019-03-04 13:48] jeckodevelopment commented on #24082
There's the button "View all packages" to see all the packages of the latest release.

Do you think that linking to the single release page would be better?
e.g. https://downloads.joomla.org/cms/joomla3/3-9-3
Otherwise it could go to: https://downloads.joomla.org/cms

[2019-03-04 13:54] brianteeman commented on #24082
**If** the intention is to use **only** the upgrade package then the link should go to a page with the update packages

[2019-03-04 13:55] brianteeman commented on #24082
linking directly to a single release specific url is obviously not a viable option

[2019-03-04 14:29] ReLater commented on #23427
@franz-wohlkoenig
From my point of view yes because

[2019-03-04 14:36] #23427 closed, assigned to nobody

[2019-03-04 14:36] franz-wohlkoenig commented on #23427
closed as stated above, thanks.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23427">issues.joomla.org/tracker/joomla-cms/23427</a>.</sub>

[2019-03-04 14:43] ReLater commented on #24056
I propose to use JLayout - Overrides for full_image and introimage like Joomla4 does it:
https://github.com/joomla/joomla-cms/blob/4.0.0-alpha6/layouts/joomla/content/full_image.php
https://github.com/joomla/joomla-cms/blob/4.0.0-alpha6/layouts/joomla/content/intro_image.php

Then you have full control via CSS.

Provide a pr or you have to wait for a volunteer.

[2019-03-04 14:44] franz-wohlkoenig commented on #23250
@infograf768 can you please comment?

[2019-03-04 14:45] franz-wohlkoenig commented on #23246
@HLeithner  can you please comment?

[2019-03-04 14:49] franz-wohlkoenig commented on #23232
Any Comment @simbus82 or can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23232">issues.joomla.org/tracker/joomla-cms/23232</a>.</sub>

[2019-03-04 14:50] franz-wohlkoenig commented on #23228
@HLeithner  can you please comment as this is about 3.9?

[2019-03-04 14:51] franz-wohlkoenig commented on #23209
any Comment @DeWillem78 or can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23209">issues.joomla.org/tracker/joomla-cms/23209</a>.</sub>

[2019-03-04 14:56] hardik-codes commented on #24082
I'm working on it and I wanted to know that is this issue for joomla 4.0

[2019-03-04 15:00] ReLater commented on #23991
Could you then please update your "Steps to reproduce the issue" for others. You forgot to mention the "Save" and "Edit again" steps.

- Install Joomla3 with testing sample data
- Create an user with group `Author`
- Log into front-end with this account
- Click on menu item `Submit new article`
- Create an article, select a category
- Save the article
- Publish the article in back-end
- Open the a

[2019-03-04 15:07] brianteeman commented on #24082
it is for every version of joomla and I dont believe it can be solved in joomla it can only be solved at the download server

[2019-03-04 15:11] ReLater commented on #23991
Addition: I've tested with `SEF`, `Use URL Rewriting`, `Modern URL Routing`,  and `Remove IDs from URLs`.
I don't know if that's relevant here.

[2019-03-04 15:12] SharkyKZ commented on #24056
As explained before, this is expected behavior. Nothing is broken. Why wasn't it working as expected on your site until 3.9.3 update is a different question.

You can override this by placing a modified `caption.js` script in your template's `js/system/` directory.

[2019-03-04 15:17] hardik-codes commented on #24082
Ok got it

[2019-03-04 15:32] mbabker commented on #24082
I would suggest linking to the page for the release the user is running.  The URL structure isn't going to change, so this should be stable code for 3.0 or newer.  The only issue you'll have is for people running git the potential of false reports because the release page for the git versions (presently 3.9.4, 3.10.0, and 4.0.0) won't exist.

[code]

[2019-03-04 15:34] brianteeman commented on #24082
but then it wont be "upload and update" it will just be "upload and reinstall"

[2019-03-04 15:39] infograf768 opened #24084 "[4.0] SmartSearch Indexing debug js errors"
### Steps to reproduce the issue
Click on Index in a multilingual site with 4 languages

EDIT: modified issue after doing clean install
### Actual result

**When system debug is on**
[code]
@Hackwar

[2019-03-04 15:39] mbabker commented on #24082
Wires crossed then, thought you were referring to the reinstall thing for some reason (need more coffee).

It was an intentional design decision to only list the full install packages on the latest release page as the primary target user for that page is folks newly downloading Joomla.  It'd be a design decision to make to add the full package listing to that page if it were so desired.  Also keep

[2019-03-04 15:41] mbabker commented on #24082
Considering the component is already going to have the version for the latest release, one potential is that same code snippet I pasted just change it to use the version string from the update server for the new release instead of using the Version class.

[2019-03-04 15:53] brianteeman commented on #23232
It is not a canonical URL plugin.
It is only canonical domain

[2019-03-04 15:58] Quy commented on #24071
@alikon

[2019-03-04 16:06] Hackwar commented on #23270
Yes, this is indeed true, but I don't see us fixing this in 3.x. Smart Search in 3.x has loads of issues, among them serious performance issues, which we fixed in 4.0. When now all core changes to Smart Search for 4.0 have been made, we should have a look at overhauling the finder plugins to add such features. However we should not automatically add this to 3.x, since there are several side effect

[2019-03-04 16:22] Hackwar commented on #24084
I can't replicate the issue. We lately merged a PR that contains database changes which would result in this error. Please make sure that your #__finder_taxonomy table contains lft, rgt and language columns.

[2019-03-04 16:25] simbus82 commented on #23232
Sorry, I thought the discussion had evolved on the issue of canonicals.

[2019-03-04 16:27] Ninja-007 commented on #23466
I am not using the code now. If you want you may close it now,

[2019-03-04 16:27] infograf768 commented on #24084
It is a clean install.
I modified the issue (maybe while you were responding) and the table is OK.
The issue in fact concerns the errors for debug js files when Indexing.

[2019-03-04 16:28] infograf768 commented on #24084
Modified issue to
"SmartSearch Indexing debug js errors"

[2019-03-04 16:28] Hackwar commented on #24084
In that case I will ask @elkuku to have a look here.

[2019-03-04 16:28] #23466 closed, assigned to nobody

[2019-03-04 16:29] franz-wohlkoenig commented on #23466
closed as stated above, thanks @Ninja-007<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23466">issues.joomla.org/tracker/joomla-cms/23466</a>.</sub>

[2019-03-04 16:37] infograf768 commented on #23232
Closing this.
As explained, proper canonical URLS as defined by various posters here (and the posted plugin) are not provided by joomla 3.9.x.
I am sure that for 4.0 any specific proposal (plugin or else) would be welcome.

[2019-03-04 16:37] #23232 closed, assigned to nobody

[2019-03-04 16:46] #23270 closed, assigned to nobody

[2019-03-04 16:46] franz-wohlkoenig commented on #23270
@Hackwar thanks for Comment.

Closing this for Reasons stated in above Comment.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23270">issues.joomla.org/tracker/joomla-cms/23270</a>.</sub>

[2019-03-04 16:58] franz-wohlkoenig commented on #23090
@csthomas as your Suggestions works is there a PR for 4.0 coming or closing the Issue?

[2019-03-04 17:02] franz-wohlkoenig commented on #23077
can you please test on latest Release [3.9.3](https://github.com/joomla/joomla-cms/releases/tag/3.9.3 "")<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23077">issues.joomla.org/tracker/joomla-cms/23077</a>.</sub>

[2019-03-04 17:04] franz-wohlkoenig commented on #23076
can you please test with https://developer.joomla.org/nightly-builds.html<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23076">issues.joomla.org/tracker/joomla-cms/23076</a>.</sub>

[2019-03-04 17:07] franz-wohlkoenig commented on #23067
@wilsonge is this an Issue which should go to j4?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23067">issues.joomla.org/tracker/joomla-cms/23067</a>.</sub>

[2019-03-04 17:09] franz-wohlkoenig commented on #23046
@HLeithner is this Issue solved?

[2019-03-04 17:12] franz-wohlkoenig commented on #23024
@ghazal can this Issue be closed?

[2019-03-04 17:14] franz-wohlkoenig commented on #23001
@HLeithner  can you please comment?

[2019-03-04 17:21] franz-wohlkoenig commented on #22944
@BPBlueprint cn this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22944">issues.joomla.org/tracker/joomla-cms/22944</a>.</sub>

[2019-03-04 17:22] brianteeman commented on #21540
There may be additional issues but the one you reported here is still an issue

[2019-03-04 17:23] #22938 closed, assigned to nobody

[2019-03-04 17:23] franz-wohlkoenig commented on #22938
closed as Issue by Thread-Opener is solved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22938">issues.joomla.org/tracker/joomla-cms/22938</a>.</sub>

[2019-03-04 17:24] franz-wohlkoenig commented on #22922
@brianteeman does your Comment mean to close this Issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22922">issues.joomla.org/tracker/joomla-cms/22922</a>.</sub>

[2019-03-04 17:27] #22908 closed, assigned to nobody

[2019-03-04 17:27] franz-wohlkoenig commented on #22908
closed as having Pull Request #22926

[2019-03-04 17:31] brianteeman commented on #22922
That is my personal opinion

[2019-03-04 17:32] franz-wohlkoenig commented on #22858
does this Issue exist on latest Version?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22858">issues.joomla.org/tracker/joomla-cms/22858</a>.</sub>

[2019-03-04 17:33] franz-wohlkoenig commented on #22857
@mixahlos can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22857">issues.joomla.org/tracker/joomla-cms/22857</a>.</sub>

[2019-03-04 17:36] #22922 closed, assigned to nobody

[2019-03-04 17:36] franz-wohlkoenig commented on #22922
thanks @brianteeman

closing this Issue as there is no Response; it can always reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22922">issues.joomla.org/tracker/joomla-cms/22922</a>.</sub>

[2019-03-04 17:40] franz-wohlkoenig commented on #22804
look like not.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22804">issues.joomla.org/tracker/joomla-cms/22804</a>.</sub>

[2019-03-04 17:45] franz-wohlkoenig commented on #22738
closed as Issue solved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22738">issues.joomla.org/tracker/joomla-cms/22738</a>.</sub>

[2019-03-04 17:47] franz-wohlkoenig commented on #22734
@B3nito does this Issue exist on latest Version?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22734">issues.joomla.org/tracker/joomla-cms/22734</a>.</sub>

[2019-03-04 17:49] franz-wohlkoenig commented on #22723
@infograf768 can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22723">issues.joomla.org/tracker/joomla-cms/22723</a>.</sub>

[2019-03-04 17:53] franz-wohlkoenig commented on #22622
does the Issue exist on latest Version?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22622">issues.joomla.org/tracker/joomla-cms/22622</a>.</sub>

[2019-03-04 17:55] #22600 closed, assigned to nobody

[2019-03-04 17:55] franz-wohlkoenig commented on #22600
closed as expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22600">issues.joomla.org/tracker/joomla-cms/22600</a>.</sub>

[2019-03-04 17:56] alikon commented on #24071
i'll look at it

[2019-03-04 18:01] franz-wohlkoenig commented on #22569
@HLeithner  can you please comment?

[2019-03-04 18:04] franz-wohlkoenig commented on #22550
@basd82 can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22550">issues.joomla.org/tracker/joomla-cms/22550</a>.</sub>

[2019-03-04 18:10] franz-wohlkoenig commented on #22516
can you please test the issue in latest Version?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22516">issues.joomla.org/tracker/joomla-cms/22516</a>.</sub>

[2019-03-04 18:11] brianteeman commented on #22516
No need to test - nothing has changed

[2019-03-04 18:12] HLeithner commented on #22569
The Allow attribute is only supported on chrome, as long as it's not a standard it makes less sense for us to support it.

But you can create a template overwrite and add the allow attribute to the iframe-tag.

I'm closing this, if you have questions how to create a override please ask in the forums for help.

[2019-03-04 18:13] brianteeman commented on #24082
I am - its the same thing its just we only call it "upload and install"

[2019-03-04 18:15] kurtroesand commented on #24056
Well, "broken". A car could have square wheels – technically it is not broken, but it'll give you one hell of a bumpy ride. :)

I'm really not a programmer, and I should not try to even think I could fix this.

[2019-03-04 18:18] #24056 closed, assigned to nobody

[2019-03-04 18:20] basd82 commented on #22550
yes

Met vriendelijke groet,

Bas van den Dikkenberg

Van: Franz Wohlkönig <notifications@github.com>
Verzonden: maandag 4 maart 2019 19:05
Aan: joomla/joomla-cms <joomla-cms@noreply.github.com>
CC: Bas van den DIkkenberg <bas@dikkenberg.net>; Mention <mention@noreply.github.com>
Onderwerp: Re: [joomla/joomla-cms] throw new \InvalidArgumentException('The image file does not exist.'); (#22550)

@ba

[2019-03-04 18:23] alikon commented on #24071
please test #24086

for

i'll dig it later cause is not a bug imho more an improvement

[2019-03-04 18:26] ghazal commented on #23529
Yes. Sorry.

[2019-03-04 18:26] #23529 closed, assigned to nobody

[2019-03-04 18:27] ghazal commented on #23024
Yes.

[2019-03-04 18:27] #23024 closed, assigned to nobody

[2019-03-04 18:28] franz-wohlkoenig commented on #22483
can you please test if this is an Issue using latest Version?

According to the https://docs.joomla.org/Bug_and_Issue_Tracker_Priority i changed from "Urgent" to "Medium".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22483">issues.joomla.org/tracker/joomla-cms/22483</a>.</s

[2019-03-04 18:30] #22450 closed, assigned to nobody

[2019-03-04 18:30] franz-wohlkoenig commented on #22450
closed as Issue seems resolved; if not please reopen and apologize.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22450">issues.joomla.org/tracker/joomla-cms/22450</a>.</sub>

[2019-03-04 18:31] HLeithner commented on #23228
I don't have WSL so I can't test it, but there seams to be a reason why the delete function does such things.

It also tries to chmod because other windows versions seams to fail.

maybe @mbabker can explain it or has a suggestion?

[2019-03-04 18:32] franz-wohlkoenig commented on #22412
does the Issue stay in latest Version 3.9.3?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22412">issues.joomla.org/tracker/joomla-cms/22412</a>.</sub>

[2019-03-04 18:33] franz-wohlkoenig commented on #23024
thanks @ghazal

[2019-03-04 18:33] franz-wohlkoenig commented on #23529
thanks @ghazal

[2019-03-04 18:34] franz-wohlkoenig commented on #22569
thanks @HLeithner

[2019-03-04 18:35] #24071 closed, assigned to nobody

[2019-03-04 18:36] franz-wohlkoenig commented on #24071
closed as having Pull Request #24086

[2019-03-04 18:42] franz-wohlkoenig commented on #22411
can you please test if this is still an Issue in latest Version?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22411">issues.joomla.org/tracker/joomla-cms/22411</a>.</sub>

[2019-03-04 18:43] mbabker commented on #23228
Not a clue.  Haven't run PHP on Windows since 2013.

https://github.com/joomla-framework/filesystem has a decent suite of unit tests in place these days, and runs on AppVeyor (so there is Windows coverage).  Creating a reproducible test case there would help.  FWIW, I do think the check is valid because the next line after that is a (error suppressed) call to `chmod()`, so checking the file can ac

[2019-03-04 18:43] franz-wohlkoenig commented on #22394
@HLeithner  can you please comment?

[2019-03-04 18:43] franz-wohlkoenig commented on #22114
@HLeithner  can you please comment?

[2019-03-04 18:45] franz-wohlkoenig commented on #21998
@coolcat-creations  makes it sense to keep this Issue open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21998">issues.joomla.org/tracker/joomla-cms/21998</a>.</sub>

[2019-03-04 18:46] franz-wohlkoenig commented on #21997
@coolcat-creations should this Issue stay open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21997">issues.joomla.org/tracker/joomla-cms/21997</a>.</sub>

[2019-03-04 18:47] mbabker commented on #23228
Since I have a few minutes while a test suite finishes up...

- `chmod()` check introduced by https://github.com/joomla/joomla-cms/commit/c02dfede2f9d50c4575d01d3b76b64cee9b41be1
- [Relevant issue report](https://developer.joomla.org/joomlacode-archive/issue-6003.html)

[2019-03-04 18:49] #22550 closed, assigned to nobody

[2019-03-04 18:49] franz-wohlkoenig commented on #22550
closed as stated above, thanks @basd82 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22550">issues.joomla.org/tracker/joomla-cms/22550</a>.</sub>

[2019-03-04 18:50] franz-wohlkoenig commented on #22516
thanks @brianteeman <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22516">issues.joomla.org/tracker/joomla-cms/22516</a>.</sub>

[2019-03-04 18:53] HLeithner commented on #23228
ok the chmod makes sense but why is the if check before?

iirc for deleting file you don't need write permissions to the file you need it to the folder (at least under linux) so the chmod makes no sense under linux only under windows.

I think the problem is for filesystems that can't handle unix permission system so ftp or samba wrapper could have the same problem?