[2017-03-08 12:31] infograf768 commented on #14411
mig already asked them. will make sure a new pack is released to cover the issue in the mean while

[2017-03-08 12:34] dgt41 commented on #14411
@ghasemy50 I'm guessing that it fails due to missing strings in your language:
[code]
PS. These are from en-GB, and should reflect the local settings for Persia.

[2017-03-08 12:36] coolcat-creations commented on #14419
I had to reinstall everything 3 days ago due to the strange Routing error... It´s all fresh :) I try if it happens only there...

[2017-03-08 12:38] infograf768 commented on #14411
@dgt41
i don't think so. will test later

[2017-03-08 12:44] coolcat-creations commented on #14413
Look... When i create an override for a view and want to insert customfields, i can map the alias and use the fields later like that:

$customFields['companyname']->value;

instead of

$this->item->fields[3];

even if it would be
$customFields['companyname-3']->value;
it would be ok...

it makes my live as a frontend-dev way easier as i don´t have to comment each output to remember which field i o

[2017-03-08 12:51] ghasemy50 commented on #14411
i added it in fa-ir.ini file but not solved.
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14411">issues.joomla.org/tracker/joomla-cms/14411</a>.</sub>

[2017-03-08 12:52] ghasemy50 commented on #14411
this code not need to convert to jalali date.
thanks<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14411">issues.joomla.org/tracker/joomla-cms/14411</a>.</sub>

[2017-03-08 13:00] Spudley opened #14420 "User profile plugin: Empty tab in admin when all fields except TOS are disabled"
I am using the User Profile plugin to give me a TOS checkbox, but I am not using any of the other profile fields so I have disabled them.

### Steps to reproduce the issue

* Enable the User Profile plugin.
* In the plugin config, disable all the fields except for Terms Of Service.

### Expected result

* The user edit form on the admin panel does not need to display the "User Profile" tab, since

[2017-03-08 13:14] alikon commented on #14331
@waader  can be closed for the same reason of #14332

[2017-03-08 13:29] rgmears commented on #14409
Protostar
Warning
Extension Install: Field 'system_data' doesn't have a default value
Error
Error installing template
Unable to install new template from temporary folder.

Atum
Warning
JInstaller: :Install: File does not exist /home/juxresearch/j4.juxresearch.org/tmp/template_copy_58c006bf11a83/img
Template Install: Could not copy files from the files source.
Error
Error installing template
Unabl

[2017-03-08 13:39] Bakual commented on #14413
I have closed my PR to remove it long ago. That's not a topic anymore for me ☺

[2017-03-08 13:44] MrMusic commented on #13101
Thank you! For me it looks good. :smile:
@Chraneco: Can you confirm this fix?

[2017-03-08 13:50] mbabker commented on #14413
I don't know how all the relations work in fields, but at least using the existing data model in com_content (articles and categories) as an example, here's why you can't JUST use alias.

I have two articles in two different categories that result in an alias of "f-a-q" (I've actually done this on a site).  So if I were to do something like `JTable::getInstance('Content')->load(array('alias' => 'f

[2017-03-08 13:54] dgt41 commented on #14411
@ghasemy50 can you test this: https://gist.github.com/dgt41/c970c43037303da465996acc94f2c5c4

[2017-03-08 14:01] coolcat-creations commented on #14413
Thank you for your explanation Michael. Ok last try from my side to rescue this :-)

What about if the fieldname itself takes the former function in my code in combination with the id?

1) The "Alias" would be removed from the field-creation-form and is not of interest for the editor himself
2) The field has an internal alias which is a combination of Fieldname and Fieldid and the frontenddev is s

[2017-03-08 14:01] ghasemy50 commented on #14411
thanks , Where do I put it?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14411">issues.joomla.org/tracker/joomla-cms/14411</a>.</sub>

[2017-03-08 14:03] coolcat-creations commented on #14374
is this possible @laoneo ? :)

[2017-03-08 14:03] dgt41 commented on #14411
Just replace `media/system/js/fields/calendar.min.js` and try it

[2017-03-08 14:05] ghasemy50 commented on #14411
thank you very much,
it's ok.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14411">issues.joomla.org/tracker/joomla-cms/14411</a>.</sub>

[2017-03-08 14:05] mbabker commented on #14413
As long as that alias is displayed somehow, it could work.  Generating and using them isn't a major issue, it's just making sure that ultimately if you're using it you're certain you get what you're expecting, and that part is the major issue 😄

[2017-03-08 14:21] infograf768 commented on #14411
@Fedik @dgt41
I confirm the issue.
After save whatever was entered in "Finish Publishing" and "Created date" displays the field empty.

[2017-03-08 14:21] infograf768 commented on #14411
Release Blocker!

[2017-03-08 14:22] dgt41 commented on #14411
@infograf768 can you try https://github.com/joomla/joomla-cms/issues/14411#issuecomment-285046173

[2017-03-08 14:23] infograf768 commented on #14411
On it

[2017-03-08 14:26] infograf768 commented on #14411
It solves the issue here. :
I am now uploading an improved Persian pack with the right xml

[2017-03-08 14:27] dgt41 commented on #14411
Excellent, I'll try to fix also https://github.com/joomla/joomla-cms/issues/14341 and then do a PR for both.

[2017-03-08 15:10] Bakual commented on #14419
The only ACL setting which matters (or at least should matter) in that context is the "Edit Custom Field Value" one. The others are used when it comes to creating or editing the field itself, not its value.
That should make testing a bit easier.

What does the calculated settings column show for the field?

[2017-03-08 15:32] franz-wohlkoenig commented on #14420
#### Confirmed Issue on
Joomla! 3.6.5
PHP 7.0.4
MySQLi 5.5.54-0+deb7u2
macOS Sierra, 10.12.3
Firefox 51.0.1

[2017-03-08 15:33] laoneo commented on #14401
I got similar errors when discovering extensions in Joomla. Should the default value not being defined in the table schema?

[2017-03-08 15:39] laoneo commented on #14374
Yes it is.

[2017-03-08 15:42] laoneo commented on #14362
Guess we can close this one then as we have a pr.

[2017-03-08 15:45] zero-24 commented on #14331
@alikon what is about the #__updates error and the offset error message?

[2017-03-08 15:47] #14362 closed

[2017-03-08 16:01] ghasemy50 commented on #14411
hi again
just a tip:
'fa-ir.js' file in `\media\system\js\fields\calendar-locales` have a bad translate.
exit parameter is translated to 'ستن' , good translate is 'بستن'.
please correct it in joomla 3.7 stable , thank you

[2017-03-08 16:24] nileshprasad137 commented on #14164
I am not able to reproduce this issue using "default protostar" template or "Beez3" template on Joomla 3.6.5.
![capture](https://cloud.githubusercontent.com/assets/16336390/23712499/2dd76ff0-0449-11e7-8182-d1347dec6486.PNG)
![capture2](https://cloud.githubusercontent.com/assets/16336390/23712691/b125f6ec-0449-11e7-9f9a-8bde36c1bb53.PNG)

.

[2017-03-08 18:55] alikon commented on #14331
i'm unable to reproduce  problem 1)

Table 'gblq8_updates' does not have column 'data' with type IS NOT NULL. (From file 3.1.0.sql.)

i'm able to reproduce the notice the fix is #14423

[2017-03-08 18:56] #14331 closed

[2017-03-08 18:56] zero-24 commented on #14331
Thanks for checking 😄

[2017-03-08 18:57] waader commented on #14331
With latest staging I didn´t get Table 'gblq8_updates' -Error
And while I am typing @alikon has a patch for the other problem. I will test that.

[2017-03-08 19:33] waader opened #14424 "Postgresql: Notice message in Multilingual Associations"
### Steps to reproduce the issue
Install latest stageing with testing data and one additional language. Go to Multilingual Associations and select as item type "articles" and "english" as language. You should get this notice:

Notice: Undefined index: link in /var/www/html/joomla34p/layouts/joomla/content/associations.php on line 18

### Expected result

### Actual result

### System information (

[2017-03-08 19:39] waader opened #14425 "Postgresql: invoking the styles menu in backend shows an error"
### Steps to reproduce the issue
In backend go to extensions > template > styles and you will get this error:

FEHLER: Spalte »l.sef« muss in der GROUP-BY-Klausel erscheinen oder in einer Aggregatfunktion verwendet werden LINE 1: ..._id, l.title AS language_title, l.image as image, l.sef AS l... ^ FEHLER: Spalte »l.sef« muss in der GROUP-BY-Klausel erscheinen oder in einer Aggregatfunktion verwend

[2017-03-08 19:47] infograf768 commented on #14424
testing data is not fit to multilingual testing.
please use no sample data and follow up

[2017-03-08 22:49] rgmears commented on #14409
I'm not sure about the live installation, but in my local version the less files were missing from media/jui/.
I was having trouble compiling the Protostar css in NetBeans. Copying the files from a J3.6 site fixed the problem.

[2017-03-09 00:13] tonypartridge commented on #14350
@bertmert do you have any errors in your error logs that could help us pin point the issue?

[2017-03-09 00:54] #14425 closed

[2017-03-09 00:54] wilsonge commented on #14425
Closing as we have a PR

[2017-03-09 05:51] Chraneco commented on #13101
Yes, I can confirm that, thanks!

[2017-03-09 05:51] #13101 closed

[2017-03-09 07:07] franz-wohlkoenig commented on #14350
@tonypartridge Test new Article in Modal at Menu Item Type "Single Article":

- Click `Read-more`-Button: `TypeError: b is undefined. admin-article-readmore.min.js:1:160`
- Click `Save`-Button: `Use of getAttributeNode() is deprecated. Use getAttribute() instead.  jquery-migrate.min.js:2:1714`
- Click `Save & Close`-Button: `TypeError: n.getComputedStyle(...) is null. tinymce.min.js`

![bildschirm

[2017-03-09 07:16] franz-wohlkoenig commented on #14409
Confirmed Issue:
![bildschirmfoto 2017-03-09 um 08 15 17](https://cloud.githubusercontent.com/assets/8235763/23739719/999c4772-04a0-11e7-8d02-7a328b8048eb.JPG)
#### Test on:
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-09 08:00] dgt41 commented on #14409
Protostar will be removed/replaced by a new bootstrap 4 template. To test the copy functionality try to copy the Atum (administrator) template

[2017-03-09 08:05] ciar4n commented on #14353
There is an existing option with the color field to set to an RGBA format... https://github.com/joomla/joomla-cms/pull/10129

[2017-03-09 08:06] franz-wohlkoenig commented on #14409
![bildschirmfoto 2017-03-09 um 09 05 12](https://cloud.githubusercontent.com/assets/8235763/23741207/90a0d26c-04a7-11e7-9049-b5626722c7ae.JPG)

[2017-03-09 08:07] franz-wohlkoenig commented on #14409
Can Tester have Info what to test now make Sense or where to Look? Like "Templates" or "Media Manager" not for testing cause ...?

[2017-03-09 08:10] dgt41 commented on #14409
@franz-wohlkoenig this is pre-Alpha so expect random failures and glitches all over...
But whatever reported will get fixed, either from the backend or the frontend team

[2017-03-09 08:19] franz-wohlkoenig commented on #14409
got it, thanks @dgt41

[2017-03-09 08:29] franz-wohlkoenig opened #14429 "[4.0] Multilingual Status: "Group by"-Error"
### Steps to reproduce the issue
Click on `Multilingual Status` at Backend-Bottom got Error `Group by`:
![bildschirmfoto 2017-03-09 um 09 23 58](https://cloud.githubusercontent.com/assets/8235763/23741820/a35d29a2-04aa-11e7-882a-dc11215638b5.JPG)

### System information (as much as possible)

Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- My

[2017-03-09 08:35] franz-wohlkoenig opened #14430 "[4.0] Modules: More Space for Switch "Site/Administrator""
### Steps to reproduce the issue
Modules, click on Button `Site/Administrator`, there is less Space:
![bildschirmfoto 2017-03-09 um 09 30 49](https://cloud.githubusercontent.com/assets/8235763/23742002/6b86945e-04ab-11e7-8308-35ddcb14bb56.JPG)
### Test on:
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-09 08:41] franz-wohlkoenig opened #14431 "[4.0] Change Color of Active and Inactive Tabs"
### Steps to reproduce the issue
Looks like active Tab (Module) is inactive and vice versa, blue Line under active Tab isn't enough:
![bildschirmfoto 2017-03-09 um 09 36 41](https://cloud.githubusercontent.com/assets/8235763/23742211/49b34600-04ac-11e7-8822-6d151278c0bb.JPG)

### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
####

[2017-03-09 08:42] infograf768 commented on #14350
I confirm the issue for all modals displayed after using a Create and it is consistent. (Firefox)
@Fedik @dgt41
This looks related to the modals themselves. The fact that the modal is limited to the buttons once using Save and Close is a totally new behavior. That aspect is also the case for Safari, although Safari does not save the item as locked.

[2017-03-09 08:50] franz-wohlkoenig commented on #14401
Can't confirm:
![bildschirmfoto 2017-03-09 um 09 48 17](https://cloud.githubusercontent.com/assets/8235763/23742573/aeb02d6a-04ad-11e7-8ce2-e182f3d62b6a.JPG)
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-09 08:58] pnkr opened #14432 "Calendar date at greek language locale"
### Steps to reproduce the issue
From Extensions > Plugins > Fields - Calendar
There is a format to show the calendar date. The default is this:
![screen shot 2017-03-09 at 08 40 33](https://issues.joomla.org/uploads/1/4fa9e93e45903bcedd8d05bdbe75e8ec.png)

In Greek Language we use it in another format, i did the change
![screen shot 2017-03-09 at 08 40 36](https://issues.joomla.org/uploads/1/2a36

[2017-03-09 09:17] infograf768 commented on #14350
@mbabker
We have the same issue when Edting an existing category or article through the modal, etc, not only when creating.
It's quite serious.

[2017-03-09 09:19] Artwebco opened #14433 "Embeding YouTube video issue (Joomla 3.7 beta 3)"
Hello,

Just I want to report an issue.
Is not possible embed YouTube video in Joomla 3.7 beta 3, I have tried with JCE and Tiny editor also I removed "iframe" from the "prohibited elements" of TinyMCE plugin, but no success.

Best Regards,

[2017-03-09 09:26] infograf768 commented on #14432
This parameter does not show in the plugin as of latest staging

[2017-03-09 09:31] infograf768 commented on #14432
the calendar will follow (When Greek language is updated to 3.7.0) the preferred format used in the language pack.
For French, I used the same as for Greek
[code]
and it rightfully displays:
![screen shot 2017-03-09 at 10 30 50](https://cloud.githubusercontent.com/assets/869724/23744171/831bf764-04b3-11e7-9a08-57c104e9ca44.png)

[2017-03-09 09:36] infograf768 commented on #14432
@laoneo @Bakual
the  showtime field parameter present in
https://github.com/joomla/joomla-cms/blob/staging/plugins/fields/calendar/params/calendar.xml
does not display anywhere it seems.

[2017-03-09 09:43] franz-wohlkoenig commented on #14429
known Issue #14095

[2017-03-09 09:43] #14429 closed

[2017-03-09 09:45] franz-wohlkoenig commented on #14022
Works now.

[2017-03-09 09:45] #14022 closed

[2017-03-09 09:48] dgt41 commented on #14350
The modal approach has a few problems:
- tinyMCE sets up a listener for form submit, this is not removed when the modal is closed
- This could be true for any script that's loaded in the iframe
- the code is a bit weird for me:
[code]

So to prevent the redirect you have this odd behaviour...

[2017-03-09 09:51] franz-wohlkoenig opened #14434 "[4.0] Notices at opened Modules "Menu", "Login""
### Steps to reproduce the issue
Open Module "Menu" got:
![bildschirmfoto 2017-03-09 um 10 48 06](https://cloud.githubusercontent.com/assets/8235763/23744857/327e595c-04b6-11e7-9f15-8711da1ecac5.JPG)

Same on Module "Login".
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-09 09:54] franz-wohlkoenig commented on #14180
Same happens if save an Article:
![bildschirmfoto 2017-03-09 um 10 54 14](https://cloud.githubusercontent.com/assets/8235763/23744978/c346203c-04b6-11e7-9c5b-30ea90028693.JPG)

[2017-03-09 10:03] C-Lodder commented on #14431
doesn't look inactive to me (personally).

Blue underline, well that's pretty straight forward. And then the darker background to show it has been clicked on.

[2017-03-09 10:18] franz-wohlkoenig commented on #14431
@C-Lodder its also my personal Feeling, cause i have to "think" what is active. Lok at Tabs in Firefox:
![bildschirmfoto 2017-03-09 um 11 18 15](https://cloud.githubusercontent.com/assets/8235763/23745865/22c2e02e-04ba-11e7-98bf-4a5e203e2eec.JPG)

[2017-03-09 10:20] C-Lodder commented on #14431
@ciar4n thoughts?

[2017-03-09 10:57] pnkr commented on #14432
@infograf768 Thank you very much. Indeed it was not a Joomla Issue but a translation issue after all.

Worked fine, case closed

[2017-03-09 11:05] johnoros opened #14435 "Meta Tag validation error in validator.w3.org"
### Steps to reproduce the issue

Follow this link
https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.joomlage.com%2F

### Expected result
To not have the error with the meta tag created by joomla cms

### Actual result
A document must not include both a meta element with an http-equiv attribute whose value is content-type, and a meta element with a charset attribute.
From line 18, column 2; to li

[2017-03-09 11:23] #14432 closed

[2017-03-09 11:25] C-Lodder commented on #14434
PR: https://github.com/joomla/joomla-cms/pull/14436

[2017-03-09 11:27] infograf768 commented on #14350
I think we HAVE to solve this in 3.7.0. It's really bad.

[2017-03-09 11:34] #14434 closed

[2017-03-09 11:36] C-Lodder commented on #14435
`<meta http-equiv="content-type" content="text/html; charset=utf-8" />` is only added when `JFactory::getDocument()->setHtml5(true);` is defined in the template's `index.php`.

So, it would seem the template you mentioned has NOT set HTML to true and have manually included `<meta charset="utf-8">` in the `<head>`.

This is not a core issue, but simply a matter of the template not using the correct

[2017-03-09 11:42] tonypartridge commented on #14350
I agree with @infograf768 it's a UX pain and can come across as buggy from an end users perspective.

[2017-03-09 12:40] ciar4n commented on #14431
The current design is influenced by Googles tabs... http://materializecss.com/tabs.html

It does go away from the traditional tabs which everyone is familiar with however the current (Google influenced) is increasingly becoming an accepted alternative.

[2017-03-09 12:55] franz-wohlkoenig commented on #14431
@ciar4n Tabs-Color look all same, Difference is Line under active Tab. That looks clear.

[2017-03-09 13:01] ciar4n commented on #14431
@franz-wohlkoenig Presuming I understand you correctly do you think this would be better....

![tabs](https://cloud.githubusercontent.com/assets/2803503/23751268/745c6f46-04c8-11e7-9a0c-5fdedf6c7603.png)

[2017-03-09 13:01] rdeutz commented on #14435
not a bug, I am closing this

[2017-03-09 13:01] #14435 closed

[2017-03-09 13:07] ciar4n commented on #14431
Or simply...

![tabs2](https://cloud.githubusercontent.com/assets/2803503/23751455/57ed566c-04c9-11e7-9cd0-dace125086a6.png)

[2017-03-09 13:09] franz-wohlkoenig commented on #14431
if you go with http://materializecss.com/tabs.html then:
![57ed566c-04c9-11e7-9cd0-dace125086a6](https://cloud.githubusercontent.com/assets/8235763/23751520/08515f5a-04d2-11e7-9b59-990ddf45583c.png)

[2017-03-09 13:26] C-Lodder commented on #14431
As the tabs are in a header, with a background, they're more boxed in, therefore using a line only won't be as visible. The "line only" will only work well when the tabs are more free:

UIKit 3.0 example: https://getuikit.com/docs/tab

[2017-03-09 13:28] coolcat-creations commented on #14413
i ran just in another argument pro having at least a hidden alias. It is used also for the #id container around the field. Which is important to add js functions to the field.

[2017-03-09 14:03] coolcat-creations commented on #14374
@laoneo just tried to help and add it myself, but no idea which files has to be changed.
For  now i added the parameter here: /plugins/fields/text/params/text.xml
But where do i call it?

[2017-03-09 14:06] franz-wohlkoenig commented on #14431
@C-Lodder so inactive Tabs should have darker Background.

[2017-03-09 14:18] C-Lodder commented on #14431
not necessarily "*should*" :) Different software/sites will vary.

cc'ing UX team to see what they have to say:

@cpfeifer @artisanwebandprint @BrittaStender

[2017-03-09 15:13] b2z opened #14437 "System - Fields plugin: $fields property in onContentPrepare method"
Testing custom component on Joomla 3.7 beta3 and found an issue with **System - Fields** plugin.

In my component I allow to perform `onContentPrepare` event on item that has `fields` property. I am passing correct context like `com_component.entity`. But **System - Fields** plugin simply resets `fields` property and sets CMS fields instead of my fields.

[code]

The question is - am I the only on

[2017-03-09 15:20] laoneo commented on #14437
What would be the alternative to make the fields available on the entity? This is something which comes from dpfields, there was the name more unique as it was unlikely that another extension will have a property with the name dpfields.

[2017-03-09 15:40] marcodings commented on #14413
Just want to second eliza's argumentation. Its something i argued in the early days of dpfields. If one has developed an alternate layout / view for a content item. One would not want to reference the fields by an Id as the id's on a next site probably are not the same. Using an alias to reference the field makes it reusable.

[2017-03-09 16:14] N6REJ commented on #14433
As you can see J! does infact embed YT in current staging.
![image](https://cloud.githubusercontent.com/assets/1850089/23758654/12f1ac8e-04b0-11e7-805b-6c5261e101f6.png)
The solution is in "set 0" remove ",iframe" in the editor->tinymce plugin.
![image](https://cloud.githubusercontent.com/assets/1850089/23758954/ed2564ae-04b0-11e7-853f-667b047062fb.png)
![image](https://cloud.githubusercontent.com

[2017-03-09 17:27] b2z commented on #14437
May be we can check for `fields` property and if it is set then assign fields to another property, like `jfields` or something. I do not think this will break anything in the CMS.

[2017-03-09 18:51] coolcat-creations opened #14438 "Feature Request - Select Editor per Usergroup"
For now you can select a default-Editor per User or a default Editor for all Users. But what if the registered Users should not have an Editor but the Administrators? Then you would need to set up the default Editor to none and assign tinyMCE to each Admin. I think it could be nice to have an Default Editor Setting in the Group Params for each Group.
Any thoughts?

[2017-03-09 19:04] mbabker commented on #14438
This would mean you're giving users a plain text area and basically forcing them to write in HTML versus having a WYSIWYG option available to them.  At that point, I'd question why you're not just using a `<textarea>` form element or hardcoding the form to only use the none editor if you really need this type of configuration.

I don't think this should be changed on a per-group basis.  Also remem

[2017-03-09 19:52] ggppdk commented on #14437
You are not the only one, i have same problem, i have to save / restore / rename properties ...

A more unique name would be nice

[2017-03-09 20:19] rdeutz commented on #14037
Ok, so the short answer is no. Just wondering how we should decide, if something is a bug or intended behaviour.

[2017-03-09 20:28] #14433 closed

[2017-03-09 20:28] zero-24 commented on #14433
Please post such requests to https://forum.joomla.org

[2017-03-09 21:17] Hackwar commented on #14037
Then let me help you with my guidelines how I decide if it is a bug or intended behavior:

- Rule 1: Can you describe the behavior in a reasonably simple paragraph?
- Rule 2: Is the behavior logically consistent?
- Rule 3: How close is it to the current behavior?
- Rule 4: Does it solve issues that we currently have with the router?
- Rule 5: Does the behavior not contain something like this: "Ste

[2017-03-09 21:22] kgapski opened #14440 "4 duplicate sql found!"
### Steps to reproduce the issue

Clean install joomla 3.7
Logging the user on the front.
Debug OFF.
4 duplicate found!

### Expected result

0 duplicate

### Actual result

4 duplicate

### System information (as much as possible)

Joomla! 3.6.5 - 3.7.0

### Additional comments

SELECT *
  FROM `shyn8_users`
  WHERE `id` = 716

SELECT `g`.`id`,`g`.`title`
  FROM `shyn8_usergroups` AS g
  INNER JO

[2017-03-09 21:50] brianteeman commented on #14438
Don't forget that in 3.7 you can completely customise tinymce per usergroup. That should cover most real world examples

[2017-03-09 22:27] Bakual commented on #14413
Again, at this point nobody wants to remove the alias and replace it with the field ID. I have closed that PR long ago.
There is a PR open which will enforce uniqueness for the alias (and rename it to "name" which is more meaningful), which **is** needed because it creates issues otherwise.
It doesn't need a "hidden alias" and adding the ID to the alias would make the layout not reusable anymore,

[2017-03-09 22:27] #14413 closed

[2017-03-09 22:58] yvesh commented on #14037
@Hackwar anything from this readability we can backport into 3.7? :-)

[2017-03-09 23:14] cpfeifer commented on #14431
The difference is subtle. In 3.x the active tab has a white or transparent border which blends with the content background, giving it the appearance of being part of the active content window while the others have a bottom border. That's what makes it pop out a bit more.

I do like the blue highlight border, but a border creates separation between the content and the active tab, and that's why the

[2017-03-10 00:37] Hackwar commented on #14037
Nope, not backwards compatible. Feel free to look at the code and then compare it to our current application router. It is pretty neat, but the cleaned up version, while functionally the same or even better, is not backwards compatible to the current application router code.

[2017-03-10 07:04] franz-wohlkoenig commented on #14430
Less Space is in all Dropdowns.

[2017-03-10 07:07] franz-wohlkoenig opened #14441 "[4.0] No Progress-Bar at Update"
### Steps to reproduce the issue
Joomla Update > Tab Upload & Update: After click on "Install" there is no Progress-Bar like 3.*.
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-10 08:06] b2z commented on #14437
We need something like this:
[code]

[2017-03-10 08:35] Bakual commented on #14437
I wouldn't do a conditional. We either use `fields` or another name. Best is to use another name if we know it will clash.
In https://github.com/joomla/joomla-cms/pull/13353 I use `com_fields` as the fieldset name (instead of params). I guess we could use that here as well as the property name. It would be clear for anyone what it is and it is highly unlikely that this property already exists in a

[2017-03-10 08:36] ggppdk commented on #14437
[code]

The above is problematic, having 2 names means
that all code using custom fields will need to check if '**jfields**' property is set and then use it instead of '**fields**'

Can 'fields' just be rename to 'jfields' ? or 'jcfields' ?

[2017-03-10 08:39] #14411 closed

[2017-03-10 08:40] ggppdk commented on #14437
Also i think i remember a couple of other components using $item->fields property (i need to search and confirm)

[2017-03-10 08:45] b2z commented on #14437
Of course this could be the best option. `jcfields` is a winner, I think :)

[2017-03-10 08:49] DevelPott opened #14448 "Custom field: Generate view over Menu?"
### Steps to reproduce the issue
Not possible to show articles with specifeid custom field entrys?

e.g. 3 Checkboxes with topics choose. Only show for example all articles with defined checkbox/topic 1 choose?

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-03-10 08:50] laoneo commented on #14437
`jcfields`sounds for me also ok.

[2017-03-10 08:59] Bakual commented on #14437
Something wrong with `com_fields`? Just to keep it consistent with my other proposal if possible.
If it is not possible then I'm fine with `jcfields` as well. I could also use that in my other PR to be consistent.

[2017-03-10 09:00] laoneo commented on #14437
For me it looks awkward to have a property with the name com_fields.

[2017-03-10 09:39] laoneo commented on #14448
Do you mean assigning a custom field to a specific article?

[2017-03-10 09:43] coolcat-creations commented on #14438
@brianteeman yes, but i can´t remove the buttons there :( I would need to set ACL for each button seperately...

[2017-03-10 09:46] laoneo commented on #14353
I would not close this one as the pr #14427 does default the $changeFormat field to false. So this must be activated in the color custom field then explicitly, which needs a code change.

[2017-03-10 09:49] DevelPott commented on #14448
No, generate Category listings (article overview) with specified custom field. Show all article with checkbox value xy

[2017-03-10 09:50] coolcat-creations commented on #14448
I think he means something like a hidden search. Showing Articles from Category X but only those which have checked Mercedes in the Car-Custom fields.

[2017-03-10 09:52] coolcat-creations commented on #14438
An alternative Layout for EDITING an Article inside a specific Category would solve this issue too. It´s just like the plugin from @dgt41 but seeing something like that in core would be great.

[2017-03-10 09:56] DevelPott commented on #14448
Use now a component (jreviews) for this feature, but now with the custom fields we get the option with the joomla core

[2017-03-10 09:56] coolcat-creations commented on #14437
i like jfields more 👍 :)

[2017-03-10 09:59] coolcat-creations commented on #14448
Actually this would mean that after selecting the Menutype Article or Categoryblog and assigning a Category or Article which has fields, the Fieldtab appears in the Menutype. Then you can select options there and only Articles will be shown that match this option.

So this could be a nice Feature Request for 3.8 ?

[2017-03-10 10:31] brianteeman commented on #14318
cannot confirm. All the extensions I tested just displayed the titlle. Can you supply a sample extension that displays this issue

[2017-03-10 10:49] C-Lodder commented on #14318
@brianteeman - my bad, I should have mentioned, it only seems to occur when you use the following in in your `script.php`

[code]

[2017-03-10 11:05] brianteeman commented on #14318
See #14453 for PR

[2017-03-10 11:06] #14318 closed

[2017-03-10 11:10] brianteeman commented on #14206
see 14454 for a PR

[2017-03-10 11:11] #14206 closed

[2017-03-10 11:12] brianteeman commented on #14053
Are you using the banner module in a template position or are you including it in an article using the loadmodule plugin

There was a report in the past that this will not work when included in an article

[2017-03-10 11:12] C-Lodder commented on #14441
PR: https://github.com/joomla/joomla-cms/pull/14455

[2017-03-10 11:13] #14441 closed

[2017-03-10 11:59] franz-wohlkoenig opened #14457 "[4.0] Missing "Reinstall package URL" (nightly builds)"
### Steps to reproduce the issue
Joomla Update in 3.* got a `Reinstall package URL`
![bildschirmfoto 2017-03-10 um 12 57 07](https://cloud.githubusercontent.com/assets/8235763/23794603/3e9d2106-0591-11e7-9c60-ad14bbf27cba.JPG)
in Joomla4 its missing:
![bildschirmfoto 2017-03-10 um 12 58 48](https://cloud.githubusercontent.com/assets/8235763/23794620/54ee829c-0591-11e7-821c-f30d0f2daf14.JPG)
### Sy

[2017-03-10 12:06] laoneo commented on #14374
You was on the right track. The parameters from the core form fields can be added on the params and the plugin xml file.

Check out pr #14458 which adds the max length parameters to the text and textarea fields. If you want to add more parameters by yourself you can use that pr as template. Just ping me on glip when you need help for another parameter.

Guess this issue can be closed as we have a

[2017-03-10 12:30] brianteeman commented on #13891
This is for a very old and unsupported version of Joomla and should be closed - Support should be given on the forum @zero-24

[2017-03-10 12:49] PhilETaylor opened #14461 "Turning off cache doesnt ignore cache files"
### Steps to reproduce the issue

**Can anyone replicate this  - or is it just me?**

Enable cache
generate cache files by visiting the site - then turn the site offline in Joomla global config
visit the site and see it offline
enable the site online again in Joomla config

reload the home page...

### Expected result

Expect that I see the site online again

### Actual result

I see the site offl

[2017-03-10 12:56] #14374 closed

[2017-03-10 12:57] #13891 closed

[2017-03-10 13:13] brianteeman commented on #13365
Agree with @bertmert about the cause of this broken behaviour

https://github.com/joomla/joomla-cms/blob/staging/components/com_tags/views/tags/view.html.php#L189

[2017-03-10 13:14] brianteeman commented on #13197
This can be closed as fixed @zero-24

[2017-03-10 13:15] #13197 closed

[2017-03-10 13:15] zero-24 commented on #13197
Thanks

[2017-03-10 13:19] brianteeman commented on #12522
This should have been resolved by #13516 and can be closed

[2017-03-10 13:20] PhilETaylor commented on #12522
@brianteeman (welcome back) do you no longer have close permissions?

[2017-03-10 13:21] brianteeman commented on #12410
@zero-24 this can probably be closed as we have another bigger Issue regarding the inability of the new router to create a 404

[2017-03-10 13:28] brianteeman commented on #14461
I would not expect that until the cache has expired

[2017-03-10 13:29] PhilETaylor commented on #14461
If you turn off the cache then its reasonable to expect Joomla NOT to use cached files (Im not talking browser cache here)

[2017-03-10 13:32] mbabker commented on #14461
Nowhere in your report have you given instruction to turn off the cache.  Just changing the offline option.  So, as written, the cache is correctly used.

[2017-03-10 13:33] PhilETaylor commented on #14461
Its friday...... doh...

[2017-03-10 13:33] #14461 closed

[2017-03-10 13:34] PhilETaylor commented on #14461
Although one could argue that enabling the site online, should clear the "site offline" caches ;-)

[2017-03-10 13:34] brianteeman commented on #12522
@PhilETaylor i have no permissions

[2017-03-10 13:35] PhilETaylor commented on #12522
@brianteeman Nor me :(

[2017-03-10 13:35] mbabker commented on #14461
Feel free to  submit a PR 😉

[2017-03-10 13:35] brianteeman commented on #14438
iirc The buttons are not the editor they afre plugins that are being displayed in the editor

[2017-03-10 13:37] brianteeman commented on #14393
I can confirm that there are no option for this menu type to have a list limit on the number of categories displayed in the list.  (the options you refer to are for the content of the categories not for the list itself

[2017-03-10 13:38] dgt41 commented on #14438
@brianteeman true, but specifically for tinymce we render those button inside the editor, in other words they are part of the tinymce configuration parameters

[2017-03-10 13:40] #12522 closed

[2017-03-10 13:52] sjkelley commented on #14393
Brian,

Yes, that's what I've determined too.  Are there any plans to add
pagination support to the "List All Categories" view in the near
future?  After doing some searching I can see people have been
requesting this feature as far back as 2010.

If not, do you know of any patches, hacks or modified versions of
//components/com_content/views/categories/tmpl/default_items.php/ that
include paginat

[2017-03-10 13:59] #12410 closed

[2017-03-10 14:25] brianteeman commented on #12730
@zero-24 this can be closed as it was fixed here https://github.com/joomla/joomla-cms/pull/13019/files#diff-2f89d1829941ad2925fcb5cafff47fce

[2017-03-10 14:29] brianteeman commented on #8840
Can not confirm on current staging - must have been fixed elsewhere and can be closed @zero-24

[2017-03-10 14:42] C-Lodder commented on #14457
Perhaps this hasn't been merged in yet. @wilsonge when was the last merge from staging to 4.0?

[2017-03-10 14:58] brianteeman opened #14466 "TinyMce Save warning"
### Steps to reproduce the issue
Make sure the plugin is set to have Save Warning ON

<img width="380" alt="screenshotr14-55-33" src="https://cloud.githubusercontent.com/assets/1296369/23799836/dfdabe2e-05a1-11e7-8a8e-05131356986f.png">

### Expected result

Warning when you close a content item without saving

### Actual result

No warning

### System information (as much as possible)
3.7 staging

[2017-03-10 15:01] dgt41 commented on #14466
![screen shot 2017-03-10 at 17 00 12](https://cloud.githubusercontent.com/assets/3889375/23799958/1de2b71a-05b3-11e7-8510-fd519bab1aa3.png)

Works here! You need to have some data altered in the editor area. Works with browser's back, close and reload

[2017-03-10 15:04] brianteeman commented on #14466
And what happens when you change the setting to off? I still got that message so I assumed it was not coming from tinyMCE

[2017-03-10 15:06] dgt41 commented on #14466
It works correctly here, the browser doesn't throw an alert and you loose all the data :)

[2017-03-10 15:07] dgt41 commented on #14466
From a UX perspective even having that option is wrong!

[2017-03-10 15:08] #8840 closed

[2017-03-10 15:08] zero-24 commented on #12730
Thanks @brianteeman

[2017-03-10 15:08] #12730 closed

[2017-03-10 15:09] zero-24 commented on #14457
@franz-wohlkoenig reinstall should be on the `Live Update` Tab. Can you double check that?

[2017-03-10 15:12] brianteeman commented on #14466
I still get the warning ;(

On 10 March 2017 at 15:07, Dimitri Grammatikogianni <
notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2017-03-10 15:15] dgt41 commented on #14466
Which browser are you using?

[2017-03-10 15:19] wilsonge commented on #14457
About 8 days ago. I desperately need to find time to do an update

[2017-03-10 15:19] brianteeman commented on #14466
tested on both edge and chrome on windows 10

[2017-03-10 15:20] franz-wohlkoenig commented on #14457
@zero-24:
![bildschirmfoto 2017-03-10 um 16 19 06](https://cloud.githubusercontent.com/assets/8235763/23800630/71831c26-05ad-11e7-80ef-0ee52aaab8da.JPG)

[2017-03-10 15:27] dgt41 commented on #14466
I must be drunk or something, I get that here as well, when disabled the alert keeps appearing

[2017-03-10 15:39] C-Lodder opened #14467 "[4.0] PHP fatal error on password reset view"
### Steps to reproduce the issue

In the frontend, on the login form, click `forgot username` or `password reset`

### Expected result

A form allowing me to reset my password

### Actual result

[code]
![screeny](https://cloud.githubusercontent.com/assets/2019801/23801343/be8ea568-05a7-11e7-9cbc-668dfe1f8888.png)

### System information (as much as possible)

- Joomla 4.0-nightly
- PHP 7.0.10

[2017-03-10 15:44] C-Lodder opened #14468 "[4.0] PHP notice on com_menus"
### Steps to reproduce the issue

In the backend, go to:
- `Menus` >> `All menu items`
- Then click `Menu Items` on the subnav (sidebar)

### Expected result

- A normal view

### Actual result

[code]

### System information (as much as possible)

- Joomla 4.0-nightly
- PHP 7.0.10

[2017-03-10 15:55] shivamdiehard commented on #14466
After disabling the save warning option to off i also get the alert when i tried to move away without saving the content in the editor.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14466">issues.joomla.org/tracker/joomla-cms/14466</a>.</sub>

[2017-03-10 16:21] dgt41 commented on #14467
@laoneo can you check that this field is extended correctly in 3.x as well?

[2017-03-10 16:24] C-Lodder commented on #14466
I really dont see why this needs to be a parameter.

@dgt41 - is there a way to detect is any changes have been made, then if no changes have been made, the user can close without seeing that message, else ask for confirmation?

[2017-03-10 16:24] dgt41 commented on #14467
@C-Lodder I think the correct is `Fatal error: Interface 'JFormFieldinterface'`

[2017-03-10 16:31] dgt41 commented on #14466
That's the default, if you create a new article (or open an existing one) and close the tab without typing anything in the editor you get no warning...

[2017-03-10 16:42] C-Lodder commented on #14466
So why is this a parameter then?

[2017-03-10 17:09] laoneo commented on #14467
That interface was abandoned long time ago. Will have a look.

[2017-03-10 17:55] zero-24 opened #14471 "[4.0] com_joomlaupdate don't find a new version package"
### Steps to reproduce the issue

#### First test
- Install 4.0.0
- go to the options and set this: `https://update.joomla.org/core/nightlies/next_major_list.xml` as your custom update URL (note#1)

#### Seccond test
- Install 3.6.4
- go to the options and confirm the default update server is set
- go to com_joomlaupdate and confirm 3.6.5 is shown

### Expected result (first test)

Joomla find the

[2017-03-10 17:57] zero-24 commented on #14457
@franz-wohlkoenig @C-Lodder it has nothing to do with a not uptodate 4.0 vs staging (that can be checked too but it should not be a problem) as the feature is included since 3.6.x it looks like the complete updater is broken in 4.0.. i have opend a issue with my findings: https://github.com/joomla/joomla-cms/issues/14471

[2017-03-10 18:02] franz-wohlkoenig commented on #14457
@zero-24 is there a way to get daily update of nightly-builds by click on Joomlaupdate without have them manually downloaded and installing?

[2017-03-10 18:25] zero-24 commented on #14457
As the updater is broken in 4.0 no. ;) in 3.7 you can use the reinstall button as it does the same ;)

[2017-03-10 18:34] franz-wohlkoenig commented on #14457
Using Button `Reinstall Joomla core files` updates to latest nightly builds? Thanks, this Info i missed.

[2017-03-10 18:47] zero-24 commented on #14457
Yes if you set the correct update server and the url points to the nightly build. ;)

[2017-03-10 22:10] mbabker opened #14473 "Fields Performance - Value Queries"
For every field, a single query is issued to look up its value:

[code]

This article was in a context where 13 fields were available to it, and on a category view, so in essence it was issuing 13 lookup queries for each article.

This is not going to scale well.

[2017-03-10 22:12] brianteeman commented on #13851
This can be closed as there is a pr @zero-24

[2017-03-10 22:13] brianteeman commented on #13816
this is not correct. on a site that is not 100% on https then you can set a single menu item to use https . So if you have a setting ON you must also have a setting off

[2017-03-10 22:20] Bakual commented on #14473
Yep, that's indeed not going to scale well.
I think we should be able to drop the `WHERE `field_id` = 25` part and retrieve all values for a given context and item_id in one query and work from that (maybe using some cache).
Pinging @laoneo, what do you think?

[2017-03-10 22:21] brianteeman commented on #13827
~This message is very wrong. Not only does it appear everywhere there is no information about how to remove the message, There is no way for a user to discover that if they simply go to the plugin and save the settings without making any change then the message will disappear.~

~**This is currently a very bad user experience. I agree that it should be a post install message and not present everyw

[2017-03-10 22:24] brianteeman commented on #14473
It was commented before this code was ever committed that for every field you are adding a query. I was told it wasnt a real issue :(

[2017-03-10 22:26] mbabker commented on #14473
Well it is.  We ran into this on our company's dev site with a slightly misconfigured fields setup that resulted in 260 extra queries being run (and inherently the page being basically dead).

Fields is essentially unusable in a category view.  That's my conclusion from today's experience.

[2017-03-10 22:27] AlexRed commented on #13816
but not work off  :(

[2017-03-10 22:28] brianteeman commented on #13929
The problem is that as far as i can tell the options is generic for all fields so cant be enabled or disabled per field type.

[2017-03-10 22:28] Bakual commented on #14437
Maybe, but it's crystal clear and doesn't need a comment what it is 😄
It's been merged now.
It doesn't need to be the same name, but it may help.

[2017-03-10 22:30] brianteeman commented on #13393
@zero-24 this should be closed

[2017-03-10 22:31] AlexRed commented on #13827
please also explains that editing the plugin you lose all your previous tinymce setting.

[2017-03-10 22:31] brianteeman commented on #13364
As this is related only to weblinks then please can you close this here @zero-24

[2017-03-10 22:32] #13851 closed

[2017-03-10 22:36] brianteeman commented on #12983
Can this be closed as we have a pr @zero-24

[2017-03-10 22:36] Bakual commented on #14448
The search will find items with sepcific field values. But other than that, it was decided to not allow to filter a list based on custom field values. It basically would mean that the fields plugin has to alter queries and we get into devils kitchen doing that. Or each extension has to add filters into their list queries, which makes the whole plugin architecture kinda useless.
If you need such a

[2017-03-10 22:36] #14448 closed

[2017-03-10 22:37] brianteeman commented on #12878
Looks like this can be closed as it has been solved elsewhere @zero-24

[2017-03-10 22:38] #12983 closed

[2017-03-10 22:41] brianteeman commented on #12789
it has been three months since you said you conducted the user research. did you do it? What were the results?

[2017-03-10 22:45] brianteeman commented on #12658
Can this be closed as it is not possible to do as @Bakual has stated and we do now have the custom admin menu ability if a user wants to create it for their own site @zero-24

[2017-03-10 22:46] brianteeman commented on #12563
The same is true when creating menus

[2017-03-10 22:47] csthomas commented on #14473
Please remove fields from category/featured view. Otherwise joomla (outside tags) will have to load fields too.

[2017-03-10 22:48] brianteeman commented on #14473
i only say what I was told not what i believed to be true :)

[2017-03-10 22:49] brianteeman commented on #13816
it absolutely does work in the scenario i explained. it obviously cannot turn off https if it is configured at a server level

[2017-03-10 22:51] jjaracz commented on #14353
@laoneo
I do it in that way because extensions which use only hex format and parse it, could crush when you try to set rgb or rgba format. It's suggestion from @Bakual (see comments in pr) and I agree with him :slightly_smiling_face:

[2017-03-10 22:53] brianteeman commented on #12388
With the current status of the modern aka experimental router being uncertain please keep this open for now

[2017-03-10 22:57] Bakual commented on #14473
And the next one will ask to add it again...
And even if you remove it you still have the issue with the single article view that each field is looked up individually, one query for each field.
If we can get it at least down to one per item, it should not be that bad in list views imho.
It could maybe be reduced to one per list, but that would likely mean loading and caching all values for a given

[2017-03-10 23:01] csthomas commented on #14473
Ca not we load all fields per article? And do not use fields in categories. I have to take a look in code.

[2017-03-10 23:09] csthomas commented on #14473
About categories: maybe add some new parameter to menu item.
"Show fields": article view, category view, ...

[2017-03-10 23:09] mbabker commented on #14473
It's not so much adding fields to categories, but our issue was we had fields assigned to a category and a category page that was rendering 20 articles.  1 value lookup for each field in each article that's being displayed adds up quickly.

It's tolerable on a single item view unless you're adding 100 fields (if you do you're doing it wrong).  But any config that is adding more than ~50 queries is

[2017-03-10 23:10] csthomas commented on #14473
I always mean fields for articles in category view.

[2017-03-11 05:13] Kunal0143 commented on #8871
Hello,

I am using joomla 3.6.0 version and i am still getting the same error, when i refresh the page it start working fine..

Can you please help me where i need to update to fix this error ?

Thanks

[2017-03-11 06:03] laoneo commented on #14473
As long as we don't have events which are triggered for multiple articles at once it will be difficult to solve. Another approach would be to integrate com_fields into the models and abandon the plugin approach.

[2017-03-11 06:41] gocha-gochitashvili opened #14475 "List All Categories - Pagination"
### Steps to reproduce the issue

1) Install fresh joomla 3.6.5
2) Go to admin and create 10 sample category (cat1, cat2, cat3)
3) Go to menu manager and create List All Categories menu
3) Shared tab > set pagination to show

### Expected result

Must show pagination on live site eg after 5 category

### Actual result

Pagination not working

### System information (as much as possible)

Joomla 3.

[2017-03-11 06:43] franz-wohlkoenig commented on #14475
known Issue #14393

[2017-03-11 06:47] #14475 closed

[2017-03-11 06:53] franz-wohlkoenig opened #14476 "[4.0] Control Panel: `Extensions are up to`"
### Steps to reproduce the issue
Open Control Panel, after checking Extensions Message ist cutted:
![bildschirmfoto 2017-03-11 um 07 50 16](https://cloud.githubusercontent.com/assets/8235763/23821348/cd3bd72e-062f-11e7-89d0-e150db341cf0.JPG)
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.

[2017-03-11 06:58] franz-wohlkoenig opened #14478 "[4.0] Control Panel: `Joomla is up to`"
### Steps to reproduce the issue
Open Control Panel, after checking Joomla Message ist cutted:
![bildschirmfoto 2017-03-11 um 07 50 16](https://cloud.githubusercontent.com/assets/8235763/23821348/cd3bd72e-062f-11e7-89d0-e150db341cf0.JPG)
It depends on Browser-Window-Size.
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP

[2017-03-11 07:03] franz-wohlkoenig opened #14479 "[4.0] [3.7] Control Panel: Joomla! vs Joomla"
### Steps to reproduce the issue
Load Control Panel,Message at checking Joomla:
![bildschirmfoto 2017-03-11 um 08 00 21](https://cloud.githubusercontent.com/assets/8235763/23821389/e7e80d58-0630-11e7-9f46-2ae68e5859c8.JPG)
After Check:
![bildschirmfoto 2017-03-11 um 08 00 34](https://cloud.githubusercontent.com/assets/8235763/23821392/0b826f4c-0631-11e7-90e0-ee7290040609.JPG)
### Expected result
S

[2017-03-11 07:08] joomdonation opened #14480 "[4.0] com_users routing"
### Steps to reproduce the issue
1. Install Joomla 4.0, no sample data.
2. Go to homepage http://localhost/cms40
3. Click on Forgot Password and Forgot Username links
- Forgot password link is http://localhost/cms40/index.php/remind?Itemid=101
-Forgot username link is http://localhost/cms40/index.php/reset?Itemid=101

### Expected result
The links work

### Actual result
Receiving 404 error URL in

[2017-03-11 07:16] laoneo commented on #14473
Having a look on the code, some optimisation should be possible. Will make a pr later.

[2017-03-11 07:18] joomdonation commented on #14467
I created a PR https://github.com/joomla/joomla-cms/pull/14481 to remove implements from class definition. Could @laoneo takes a look at it to see whether it is OK?

[2017-03-11 07:29] franz-wohlkoenig commented on #14468
Can't confirm,  Error Reporting is set on `Maximum`, also tested on `Development`

[2017-03-11 07:39] joomdonation commented on #14468
@franz-wohlkoenig Make sure you don't select a Menu in Select Menu dropdown, see this screenshot

![menus- all menu items - joomla cms 4 0 - administration](https://cloud.githubusercontent.com/assets/977664/23821554/83788fea-0668-11e7-9278-b524b0d8c8fa.png)

[2017-03-11 07:52] franz-wohlkoenig commented on #14468
Select `Menu Items`, no Error shown:
![bildschirmfoto 2017-03-11 um 08 50 58](https://cloud.githubusercontent.com/assets/8235763/23821610/05f0db70-0638-11e7-8242-8325b84f3046.JPG)

[2017-03-11 07:53] ciar4n commented on #12563
The issue appears to be related to the media field type. Removing these fields in article edit appears to resolve the issue.

@brianteeman Great to see you back!) You've certainly been missed.

[2017-03-11 07:56] franz-wohlkoenig commented on #14480
Issue confirmed.

[2017-03-11 07:57] infograf768 commented on #14473
Shall we consider this as a Release Blocker?

[2017-03-11 08:07] dgt41 commented on #12563
@ciar4n can you describe the steps that you followed? Is the modal open? Which element is in focus?

[2017-03-11 08:11] AlexRed commented on #13816
Sorry but in my test it don't work. If https is enable in the global configuration you can't disable it in a single menu item. Also @wilsonge confirm me it can't work and ask me to open the issue.
For me also the same parameter in the login options need to be investigate.

[2017-03-11 08:13] joomdonation commented on #14468
@franz-wohlkoenig At the right, there is a a dropdown Sort Table By. Select **Ordering ascending** and you should see the notice

[2017-03-11 08:14] dgt41 commented on #12563
@ciar4n Found it:
https://github.com/joomla/joomla-cms/blob/staging/media/media/js/mediafield.js#L119
change it to
`return false;`

Can you make a PR for this?

[2017-03-11 08:15] ciar4n commented on #12563
@dgt41 Admin -> Content -> Articles -> [AnyArticle]. Click the 'Alias' field. Hit Enter key.

[2017-03-11 08:15] ciar4n commented on #12563
Sure.

[2017-03-11 08:20] franz-wohlkoenig commented on #14468
Changed ordering in `Sort Table By:`, no Notice.

[2017-03-11 08:27] infograf768 commented on #12563
Has also to be changed in the compressed file. :)

[2017-03-11 08:29] franz-wohlkoenig opened #14482 "[4.0] Add Menu: Error > Field `asset_id` has no default Value"
### Steps to reproduce the issue
Add new Menu, after `Save` get:
![bildschirmfoto 2017-03-11 um 09 25 10](https://cloud.githubusercontent.com/assets/8235763/23821767/f86479f8-063c-11e7-9c14-dac5d11a28d1.JPG)
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-11 08:31] joomdonation commented on #14468
Don't know why you don't see this error :(

[2017-03-11 08:34] JamesShaver commented on #12388
Agreed, this should remain open until a stable release is established.

[2017-03-11 08:36] franz-wohlkoenig commented on #14468
Tried Safari instead Firefox, same Result. But other see Notice, PR works, all fine.

[2017-03-11 08:36] dgt41 commented on #12563
https://github.com/joomla/joomla-cms/issues/12563

We need to replace all the buttons in the modals...

[2017-03-11 08:36] infograf768 commented on #12563
Close?

[2017-03-11 08:38] dgt41 commented on #12563
Someone needs to take care all the modal buttons and change them to `a`, but yes close

[2017-03-11 08:49] franz-wohlkoenig commented on #12563
Please don't close until we know who "Someone" is.

[2017-03-11 08:57] joomdonation commented on #14482
Confirm the issue. The asset_id field in __menu_types must has default value set to 0 like in other tables. @csthomas could you take a look ?

[2017-03-11 09:07] brianteeman commented on #13816
I already said that this is for when the site is not default to https

On 11 Mar 2017 8:11 a.m., "Alessandro Rossi" <notifications@github.com>
wrote:

Sorry but in my test it don't work. If https is enable in the global
configuration you can't disable it in a single menu item. Also @wilsonge
<https://github.com/wilsonge> confirm me it can't work and ask me to open
the issue.
For me also the same p

[2017-03-11 09:17] joomdonation commented on #14409
Confirmed this issue. Someone good with database skill needs to check the following fields in #__extensions table:
- folder
- params
- custom_data
- system_data

When I look at the data from this table, many records contains empty data for these fields but in the create table command to create this table, these fields are marked as NOT NULL and don't have default value

Maybe @csthomas could help?

[2017-03-11 09:26] AlexRed commented on #13816
so it is just to delete the choice "Off"

[2017-03-11 09:32] Bakual commented on #14409
* **folder** is used for the plugins.
* **params** contains the extension settings (if saved)
* **custom_data** and **system_data** aren't used by core currently. I used the `system_data` column in J2.5 to store compatibility informations to give people a clue what to expect after upgrading to J3. See https://github.com/joomla/joomla-cms/pull/5015. That code could be reimplemented into J3.x of cou

[2017-03-11 09:33] joomdonation commented on #14401
Could not re-procedure the issue. The error message indicate that the content field of #__modules doesn't have default value. However, looking at this https://github.com/joomla/joomla-cms/blob/4.0-dev/installation/sql/mysql/joomla.sql#L1472 , I see that the content field has default value already, so this issue should not happen

[2017-03-11 09:38] brianteeman commented on #13816
You can not do that. Let me try and explain again

You hahve a site that you only want the registration page to be on https
You go to the menu item for the registration page and set the option to On

On the other pages you must therefore have something to SHOW that https is
not on. That is what the Off does

On 11 March 2017 at 09:26, Alessandro Rossi <notifications@github.com>
wrote:

--
Brian Te

[2017-03-11 09:38] joomdonation commented on #14409
@Bakual I asked about whether we should set default value for these fields as some records contain empty data for these fields/columns. Since these fields don't have default value (custom_data  in this issue), it causes the issue with saving record - or we will have to add code to set value for this field empty while saving.

[2017-03-11 09:41] csthomas commented on #14482
I it done in https://github.com/joomla/joomla-cms/pull/14321

[2017-03-11 09:42] brianteeman commented on #14482
this can be closed as it is resolved by #14321

[2017-03-11 09:44] infograf768 commented on #12563
See https://github.com/joomla/joomla-cms/pull/14483#issuecomment-285855181 for what remains

[2017-03-11 09:44] joomdonation commented on #14482
Great. Thanks for the info

[2017-03-11 09:49] AlexRed commented on #13816
but if you enable https only in the menu item for the registration page the other pages are not in https you can't disable it in other pages. The other pages are set in "Ignore" (https is not on)

[2017-03-11 10:02] csthomas commented on #14482
I can not test it on the latest 4.0-dev joomla because after installation I get `Class 'JAuthenticationHelper' not found`.

[2017-03-11 10:08] csthomas commented on #14409
Take a look at https://github.com/joomla/joomla-cms/pull/14321/files#diff-6c6cf64555b76205d9e9e6451b6d2d3c

It should fix the problem at least in part. Can I ask for RTC (may be another test is required).

[2017-03-11 10:10] brianteeman commented on #13887
I agree that a clearfix should be present in the protostar template

[2017-03-11 10:11] brianteeman commented on #13872
Can this be closed @zero-24

[2017-03-11 10:14] #13872 closed

[2017-03-11 10:14] #12658 closed

[2017-03-11 10:15] #12878 closed

[2017-03-11 10:15] #13364 closed

[2017-03-11 10:16] #13393 closed

[2017-03-11 10:17] brianteeman commented on #13873
Not sure why its not available on the front end - that sounds like a bug to me BUT even without addressing that if a field can not be used in the frontend or inn the admin then there shouldnt be the option to set it to display there at all. The option should be disabled in the field creator. That woudl be the correct way to do it - not displaying a message

[2017-03-11 10:26] chmst opened #14486 "[com_fields] Calendar with onchange=this.form.submit: Time selection is not possible"
### Steps to reproduce the issue
Add the attribute onchange="this.form.submit" to a calendar field or make a calendar like this:

echo JHtml::_('calendar', JFactory::getDate()->format('Y-m-d'), 'date', 'date', '%Y-%m-%d', array('onChange' => 'this.form.submit();'));

Try to select a Time with hours and minutes.
This is not possible. You can select either a hour or minutes, but not both, as the onC

[2017-03-11 10:26] #14467 closed

[2017-03-11 10:27] zero-24 commented on #14467
Closing as there is a PR thanks @joomdonation

[2017-03-11 10:30] Bakual commented on #14409
I never understood why we set "NOT NULL" for an optional field, but I'm not going to argue that anymore :)

The issue is that TEXT fields afaik can't have a default value specified. So the only solution is indeed setting the default value in PHP like @csthomas proposed. Or drop the "NOT NULL" requirement. I'd do the latter but people think for some reason it is important to not have NULL there.

[2017-03-11 10:52] laoneo commented on #14473
I think so.

[2017-03-11 10:55] csthomas commented on #14409
I have this same feeling.

I would set NULL also on every TEXT field, IMO this is the right way.

[2017-03-11 11:24] C-Lodder commented on #14476
@ciar4n - didn't I fix this ages ago?

[2017-03-11 11:40] franz-wohlkoenig opened #14487 "[4.0] Better Breakpoints for "Global Configuration""
### Steps to reproduce the issue
Resize Browserwindow in "Global Configuration":
![bildschirmfoto 2017-03-11 um 12 37 17](https://cloud.githubusercontent.com/assets/8235763/23822951/c8d392c6-0657-11e7-8d08-a1b4f06943eb.JPG)
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-11 11:56] dgt41 commented on #14486
Hmm, that's tricky, onChange fired when something is changed (basically this event makes sense for inputs and selecting a date, time has 2 or 3 inputs [hour, mins, am/pm as select elements] so it correctly fires when **only one of these is changed**)

[2017-03-11 12:01] dgt41 commented on #14486
Said that, what you can do is do some checking before submitting the form.

[2017-03-11 12:18] ciar4n commented on #14476
Looks like I messed this up... https://github.com/joomla/joomla-cms/blame/4.0-dev/administrator/templates/atum/scss/blocks/_quickicons.scss#L73

I'll put in a PR to fix tomorrow

[2017-03-11 12:54] laoneo commented on #14353
@jjaracz that's absolutely fine. But to properly integrate it into com_fields, we need to make some code changes in the color custom field plugin. That's why this issue will not be solved when your pr got merged. There is then still work needed on the com_fields side. That's why this issue should stay open.

[2017-03-11 14:43] jjaracz commented on #14353
@laoneo
What changes ? Maybe I could do it in this pr.

[2017-03-11 15:01] max123kl opened #14489 "Update J!v3.4.8 via J!v3.5.1 to J!v3.6.5 fails"
### Steps to reproduce the issue
given J! 3.4.8 installation
Hoster's PHP restrictions (disabled):  disk_free_space, diskfreespace, disk_total_space, dl, exec, fsockopen, get_current_user, get_headers, getrusage, headers_list, leak, link, openlog, passthru, pfsockopen, popen, proc_close, proc_get_status, proc_nice, proc_open, proc_terminate, shell_exec, stream_socket_client, stream_socket_server,

[2017-03-11 15:24] zero-24 commented on #14489
There is no need for a step between updates. You can do a direct update using the normal update component.

[2017-03-11 15:27] brianteeman opened #14490 "Multilingual Associations - innaccurate info"
### Steps to reproduce the issue
Install a second language
Ensure that the System - Language Filter plugin is enabled with item associations
Create a new article in English - do not associate it with any other language
Open Multilingual Associations component
Select Articles as type and English as reference language

### Expected result
Newly created article is listed and associations column is em

[2017-03-11 15:29] zero-24 commented on #14489
BTW. The last error indicates that there is not transport driver for downloading a package. Please contact your host to enable curl on the server. Please use the forum if you have more questions.

[2017-03-11 15:29] #14489 closed

[2017-03-11 15:30] zero-24 commented on #14489
Closing as server issue ;) (missing transport driver ;))

[2017-03-11 15:32] max123kl commented on #14489
You see my problem now
The hoster is **not** willing to enable transport driver :((

[2017-03-11 15:35] brianteeman opened #14491 "[com_fields] hathor needs an override"
### Steps to reproduce the issue
try to create a field or field group with the hathor admin template

### Expected result
template looks ok

### Actual result
See movie

![fields](https://cloud.githubusercontent.com/assets/1296369/23824543/661072b2-0670-11e7-9941-c558677fcead.gif)

### System information (as much as possible)

### Additional comments

[2017-03-11 15:37] brianteeman commented on #14489
get a real host then

On 11 March 2017 at 15:32, Dieter Ziller <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2017-03-11 15:40] zero-24 commented on #14489
If there is no transport driver (e.g. curl) there is no way that joomla can connect to the update server to check for and update and download the package.

I suggest to change the hoster than.

A workarround could be the folowing.

https://docs.joomla.org/J3.x:Upgrading_from_Joomla_3.4.x_to_3.5 but this should not be a constant solution just a short time workarround.

[2017-03-11 15:55] max123kl commented on #14489
That's what I am looking for! Did not find it yet.
The affected site is for testing only.
A producting site will be hosted elsewhere.

[2017-03-11 16:07] laoneo commented on #14437
Please have a look on pr #14493. It renames the field to jcfields. Can we close this one?

[2017-03-11 16:13] #14437 closed

[2017-03-11 16:45] tonypartridge commented on #14479
Last time I checked it should be Joomla! @brianteeman can you confirm?

[2017-03-11 16:56] brianteeman commented on #14479
https://developer.joomla.org/en-gb-user-interface-text-guidelines/joomla-name.html

[2017-03-11 17:38] JanKrohn-Khalibre commented on #14401
Interesting... In my db the content field has no default value.

![image](https://cloud.githubusercontent.com/assets/5867975/23825412/060853e8-06bc-11e7-8520-9e7ffc8a39d5.png)

I've certainly not tampered with the db after the initial installation.

[2017-03-11 17:44] infograf768 commented on #14490
it is associated when the icon is grey. as one may directly click on the icons, one will get in the side by side an empty item already tagged to the chosen language when it is orange.

[2017-03-11 17:46] brianteeman opened #14495 "[fields] calendar plugin missing strings"
### Steps to reproduce the issue
Open the fields plugin in the plugin manager

### Expected result
all language keys have value

### Actual result
PLG_FIELDS_CALENDAR_PARAMS_FORMAT_LABEL
PLG_FIELDS_CALENDAR_PARAMS_FORMAT_DESC

These are both missing from the language file

I am not sure what they are supposed to be or I would have submitted a PR @laoneo
***

[2017-03-11 17:51] zero-24 commented on #14495
Do you have the last version of staging? This option should be removed ;)

[2017-03-11 18:05] Bakual commented on #14353
We are talking about a custom field here, not an extension setting (as specified in the XML file). We should add the option to allow more formats to the custom field so the administratpor setting up that field can decide if the picker should allow different formats or not.

[2017-03-11 18:07] Bakual commented on #14495
It's taken care of by https://github.com/joomla/joomla-cms/pull/14344

[2017-03-11 18:07] #14495 closed

[2017-03-11 18:08] brianteeman commented on #14495
Ah. I will check later.

On 11 Mar 2017 5:51 p.m., "zero-24" <notifications@github.com> wrote:

[2017-03-11 18:10] brianteeman commented on #14490
That's a MASSIVE accessibility fail. You should NEVER just use a colour to
indicate anything.

On 11 Mar 2017 5:44 p.m., "infograf768" <notifications@github.com> wrote:

[2017-03-11 18:22] humblehumanbeing opened #14497 "Transliteration function won't work for field/field groups"
### Steps to reproduce the issue
Add the "public static function transliterate($string)" block to language\en-GB\en-GB.localise.php to replace all accented UTF-8 characters by unaccented ones
[code]
Add field/field groups with titles of non-Latin characters.
### Expected result
Field/field group aliases  should be in transliterated form

### Actual result
They are not

### System information (as m

[2017-03-11 18:26] Bakual commented on #14497
Why do you think they should be transliterated? The "alias" here isn't used in URLs.

[2017-03-11 18:33] humblehumanbeing commented on #14497
Alias of a field title like 'Współczesny' will be 'wspczesny' when saved. Is this a desired result?
On the other hand if alias isn't used in URLs then it is obsolete in field/field groups.

[2017-03-11 18:50] brianteeman commented on #14497
Url.is not the purpose of the field here

On 11 Mar 2017 6:33 p.m., "humblehumanbeing" <notifications@github.com>
wrote:

[2017-03-11 18:53] humblehumanbeing commented on #14497
The problem is that transliteration works everywhere except fields.
Even if alias is not used for any purpose do you think transliteration is not necessary here?

[2017-03-11 19:25] laoneo commented on #14380
What happens when somebody doesn't have view access but can edit the field, should the field then be visible when editing an article?

[2017-03-11 19:35] laoneo commented on #13874
It was a misunderstanding with the user field. The groups field should work on the front end. Please test pr #14498 which should fix it.

[2017-03-11 19:36] Bakual commented on #14380
Try to keep it consistent with other places in the CMS. Eg look what happens if a user isn't set to see an article but could edit it.

[2017-03-11 19:43] brianteeman commented on #13874
As we have a pr now then this can be closed @zero-24

[2017-03-11 19:44] infograf768 commented on #14490
i would not use UPPERCASE like this, but, anyway, the intent was to show if an item was already associated or not in the available content languages.
To keep this information (which is important), i am sure it would be possible to display another column titled something like 'Not yet Associated' to separate them.

[2017-03-11 19:46] Bakual commented on #14497
There is no alias in "field groups" anyway. We're only talking about fields which have an alias (hopefully renamed to "name" soon).

I don't know why it doesn't work to be honest. We use the Joomla method `JApplicationHelper::stringURLSafe()` to sanitise the alias here. That method should also do the transliterating.

I don't know if it is needed or not. The "alias" is used as the name and id of t

[2017-03-11 19:47] brianteeman commented on #14490
This code is an accessibility fail. It can't be released like this. We
should take accessibility seriously.

On 11 Mar 2017 7:44 p.m., "infograf768" <notifications@github.com> wrote:

[2017-03-11 19:51] Bakual commented on #14497
Can you try if https://github.com/joomla/joomla-cms/pull/14499 fixes it? That's the only difference I saw to com_content.

[2017-03-11 19:51] #13874 closed

[2017-03-11 19:52] laoneo commented on #13873
Pr #14500 removes the show on option when editing the field. Implementing the user field for the front can be done in another pr.

[2017-03-11 19:54] infograf768 commented on #14490
cool. i will,look at this tomorrow.

[2017-03-11 19:55] zero-24 commented on #13873
So we can close here @PhilETaylor @laoneo ?

[2017-03-11 20:01] humblehumanbeing commented on #14497
It solves the problem.
Thanks.

[2017-03-11 20:08] zero-24 commented on #14497
Thanks @humblehumanbeing for the feedback can you add yout test to that PR using issues.joomla.org? https://issues.joomla.org/tracker/joomla-cms/14499 ?

I'm closing here as we have a PR that fixes the issue. Thanks @Bakual

[2017-03-11 20:08] #14497 closed

[2017-03-11 21:11] cpfeifer commented on #12789
Initial testing and feedback testing provided generally inconclusive results. Most of these buttons are useful under various circumstances. The only button that stands out is the edit button which has no batch functionality and I have yet to encounter anyone who ever uses it.

Bottom line, this is not a UX issue. It’s a minor responsive design issue which is the result of a design change. The new

[2017-03-11 22:37] Bakual commented on #14497
Cool 😅

[2017-03-11 23:06] chmst commented on #14486
I'll find a solution for me :) but maybe others will find this issue too.
We could say - if onChange is in the attributes: Or make a submit button when rendering the calendar and remove the attribute?
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14486">issues.joomla.org/tr

[2017-03-11 23:19] avila-devlogic opened #14502 "Strip whitespace from Json string before decoding"
At some occasions JSON data in the database (options data) might contain whitespace characters that will effectively bring the website down since v3.6.3 because stringToObject() throws an exception whenever Json is malformed.

### Expected result
That stringToObject strips any whitespace as it's already partially done in https://github.com/joomla/joomla-cms/blob/staging/libraries/vendor/joomla/reg

[2017-03-11 23:38] mbabker commented on #14502
Joomla doesn't do any sort of parsing of raw JSON strings, other than to remove wrapping whitespace and validate the first and last characters are the expected brackets before trying to convert a string to an object (and if that bracket condition can't be met then it tries to treat it as an INI string).  IMO, it shouldn't try to do any manipulation of a potential JSON string either, especially as

[2017-03-12 00:22] avila-devlogic commented on #14502
I understand your point and I'm not suggesting to remove error throwing - it's there for the fail-fast sake.
At the very least, we seem to agree that hard-fail "Error decoding JSON data: Syntax error" message isn't solution either as it urges administrator of the web site to look into the code and modify it in order to uncover JSON string and to find offending content.

I don't see any case where

[2017-03-12 00:36] mbabker commented on #14502
The only room for improvement is to basically wrap all uses of `new Registry($string);` or `$registry->loadString($string);` in a try/catch.  Which means going through a massive ton of code to add error handling for what is essentially someone direct altering the database to create invalid JSON strings.  The registry API is only running `json_decode()` to read a string and `json_encode()` to write

[2017-03-12 00:53] avila-devlogic commented on #14502
Hi Michael,

I'm sorry if I'm ignorant to the Joomla's policy on handling code decoupling, but standing point "there isn't a softer option" is too brittle for my taste.
Component's purpose is not to be purposeful to itself, but to be more manageable and finally to find it's purpose for the user. Hence suggestion to do something about a way to propagate errors in a softer way instead of slapping th

[2017-03-12 01:07] mbabker commented on #14502
To be honest, it is not the fact that there is whitespace in the database that has been the problem.  It has primarily been other formatting errors (bracket placement, quoting, etc.).  So a whitespace fix is honestly a minimal at best solution and doesn't really address the most common problems.

Also, not knowing 100% the JSON specification, it seems to me like it could be a bad idea to do a mass

[2017-03-12 01:23] avila-devlogic commented on #14502
I couldn't agree more on downstream responsibility and core API sets should definitely be strict and not let bad data pass by unnoticed, but that opens another set of questions like why exception couldn't been handled more gradually for downstream to adjust to it. Registry being API so close to the PHP could actually use warnings that would go to the php's error_log instead.
I think that would be

[2017-03-12 04:48] yasirunilan commented on #14468
I also tried, can't confirm

[2017-03-12 04:55] joomdonation commented on #14468
That's so strange to me. Could you please:

1. Try to check it using a nightly build installation https://developer.joomla.org/nightly-builds.html

2. Access to Menus -> All Menu Items (the URL looks like this http://localhost/cms40/administrator/index.php?option=com_menus&view=items&menutype=)

3. In the Sort Table By dropdown, set it to Ordering ascending

(See this screenshot, the selected valu

[2017-03-12 06:21] franz-wohlkoenig commented on #14468
@joomdonation, done like you wrote, same Result (no Notice):
![bildschirmfoto 2017-03-12 um 07 19 40](https://cloud.githubusercontent.com/assets/8235763/23829536/7e3efc58-06f4-11e7-94f6-212bc5432b71.JPG)

[2017-03-12 07:01] joomdonation commented on #14468
Final try: Go to System -> Global Configuration, look at Server tab, set the config option **Error Reporting** to **Maximum**, then try again

If still no notices, I don't have any other clues

[2017-03-12 07:19] franz-wohlkoenig commented on #14468
"Error Reporting" is set on `Maximum` or on `Development`: No Notice.

[2017-03-12 07:32] joomdonation commented on #14468
Strange. I can see the error, both from the test and from reading the source code. We will have to wait for others to test it, then

[2017-03-12 07:40] franz-wohlkoenig commented on #14468
i tried also with branch https://github.com/zero-24/joomla-cms/archive/indexphp-40.zip – no Notice. Wait on other Testers.

[2017-03-12 09:58] C-Lodder commented on #14468
I'll try reinstalling J4 later on.

[2017-03-12 10:21] ciar4n commented on #14478
PR created.. https://github.com/joomla/joomla-cms/pull/14507

[2017-03-12 10:21] ciar4n commented on #14476
PR created.. https://github.com/joomla/joomla-cms/pull/14507

[2017-03-12 10:31] #14478 closed

[2017-03-12 10:35] Magnytu2 opened #14508 "Editor field Joomla! 3.7"
Hello, I have just done several tests, but I notice that the 4 options of the general tab for the editor field does not work. Whether for the buttons or the dimensions of the editor. Also in the description it is written that the width adjustment is done in pxel and the picture shows a % ?
Thank you for your help.

"This is the result of my personal tests, if you notice any anomaly, error, ..., th

[2017-03-12 11:34] infograf768 commented on #14490
@brianteeman
would that be OK for you?

![screen shot 2017-03-12 at 12 31 32](https://cloud.githubusercontent.com/assets/869724/23831384/3d7fbbae-0720-11e7-9d1e-8665d4161850.png)

[2017-03-12 11:42] brianteeman commented on #14490
1. Technically this will still fail accessibility rules as you are still using colour to indicate a meaning.

2. What is the purpose of even showing the not associated languages? The list of languages you are generating it the list of installed site languages. NOT the content languages. On a site at joomla.com for example where all the available joomla languages are installed you would have a list

[2017-03-12 11:54] franz-wohlkoenig opened #14512 "[4.0] Notice tinymce after save Plugin, Editor not loaded"
### Steps to reproduce the issue
After saving Plgin TinyMCE (opened and saved, no Set changed) got:
![bildschirmfoto 2017-03-12 um 12 50 52](https://cloud.githubusercontent.com/assets/8235763/23831487/d3467a22-0722-11e7-84cb-003d697f0d12.JPG)
Console:
![bildschirmfoto 2017-03-12 um 12 54 09](https://cloud.githubusercontent.com/assets/8235763/23831496/05116de6-0723-11e7-9e73-5b45aeb59570.JPG)
### S

[2017-03-12 11:57] ciar4n commented on #14487
PR created... #14487 (Step 1 of 2)

[2017-03-12 11:58] #14487 closed

[2017-03-12 12:06] ciar4n commented on #14487
PR created... #14487 (Step 2 of 2)

[2017-03-12 12:14] pot1906dk opened #14515 "More flexible user registration"
## Problem
When User Account creation is set to Admin verification, Joomla sends a mail to user when his account has been created.
And when an admin has activated the account, user get another mail about this.

## Reason
These mails are hardcoded in the language file, and it is hard or impossible to ensure that the activation link in the mail leads to a page using the correct template.

## Suggest

[2017-03-12 12:19] zero-24 commented on #14515
You can do this using language overrides: https://docs.joomla.org/J3.x:Language_Overrides_in_Joomla

[2017-03-12 12:53] brianteeman opened #14519 "[fields] media and image list paths"
The tooltip says
The filesystem path to the directory containing the image files to be listed.
but it starts the display at  /
Which implies to the user that it is pointing to the root folder
It is actually displaying the filesystem path AFTER the "Path to Images Folder" as defined in the Media component options

Either the code needs to be updated to include the Path to Images Folder or the toolt

[2017-03-12 12:55] pot1906dk commented on #14515
Overrides only allow me to create another mail, but how can I make different mails for different groups?
I don't think overrides can do that?

And I still cannot make HTML mails that look nice.

[2017-03-12 13:03] zero-24 commented on #14515
Confirmed.

We need to move the mail part from this:
https://github.com/joomla/joomla-cms/blob/staging/components/com_users/models/registration.php#L54

and this:
https://github.com/joomla/joomla-cms/blob/staging/components/com_users/models/registration.php#L387

methods out to plugins. So you can just disabled that plugin and implement your own registration mail handling.

[2017-03-12 13:39] brianteeman opened #14524 "Admin Menu - Categories"
The new ability to add Admin menus allows you to create a menu link to Categories for the elected component. In the list of available components is Users. But users doesnt have categories

<img width="754" alt="screenshotr13-37-30" src="https://cloud.githubusercontent.com/assets/1296369/23832268/4e2d9832-0729-11e7-8619-f827fdb141a4.png">

[2017-03-12 13:42] infograf768 commented on #14490
I was opposed to the fact that Content languages were created at the same time as languages was installed. And that is indeed what would happen now if more languages than necessary are installed...
In any case, I doubt that users would install more languages than they need. The multilang feature in core is not designed to take care of big sites with dozains of languages and thousands of items

The

[2017-03-12 13:45] brianteeman commented on #14524
In addition some components already have an option to create a category link - eg banners and contacts but some do not eg articles

It really should be consistent. Either there is a category link for each component or there is no link and you have to use the categories link as shown in the screenshot above

[2017-03-12 13:49] dgt41 commented on #14490
Hmmm, com_assosiations, com_fields and com_tags fall in the same category. The idea of adding more functionality with a high price tag on performance makes the cms a toy...
Let's go back to the idea of modularising the system, there are better solutions for tags, fields and multilingual from 3PDs

[2017-03-12 13:52] infograf768 commented on #14490
@dgt41
That was not the question here. 😄
Shall we present only the associated items in one column or use 2 columns as Brian is opposed to the present situation?

[2017-03-12 13:56] zero-24 commented on #14490
:+1: for the two colums.

[2017-03-12 13:57] brianteeman commented on #14490
My comments are nothing to do with one or two columns

My comments are threefold -
1. accessibility - current one column and two column proposals both fail
2. what is the purpose of showing languages that do not have an association
3. why are we showing installed languages as opposed to content languages. Remember as I stated that joomla.com is preinstalled with all languages

[2017-03-12 14:02] infograf768 commented on #14490
3. We are showing Content Languages and not Installed languages.
You can see that easily by deleting one of the automatically created Content Languages.

2. The purpose of showing languages that do not have an association is clear: it is a very important information and I already explained that it saves clicks.

1. I do nit see why using 2 columns changes accessibility: it is a list.

Making PR no

[2017-03-12 14:06] brianteeman commented on #14490
Ah so it is using content languages but completely ignoring if the content language is published?

[2017-03-12 14:08] brianteeman commented on #14490
it also ignores if the content language is trashed

[2017-03-12 14:08] infograf768 commented on #14490
The system we have and had since 1.6 is that one can prepare a full Content Language and publish it only when ready.
As for Trashed, it is as everything in J!: if not deleted it still exists.

[2017-03-12 14:10] brianteeman commented on #14490
We dont display categories that are trashed ;)

[2017-03-12 14:11] brianteeman commented on #14490
(now that I know it is referring to content and not installed languages  we can ignore the joomla.com comments

[2017-03-12 14:13] infograf768 commented on #14490
https://github.com/joomla/joomla-cms/pull/14530

[2017-03-12 14:14] infograf768 commented on #14490
Closed as we have a patch.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14490">issues.joomla.org/tracker/joomla-cms/14490</a>.</sub>

[2017-03-12 14:20] beetabonk opened #14531 "hr tag in article breaks pagination"
### Steps to reproduce the issue

create an article with an ```<hr />``` anywhere prior to an ```<hr class="system-pagebreak" />```

### Expected result

normal pagination

### Actual result

the text between the first ```<hr />``` and the page break is stripped at render

### System information (as much as possible)

Joomla! 3.6.5

### Additional comments

the cause is the page splitting regular

[2017-03-12 14:24] zero-24 commented on #14531
@beetabonk please send you changes as Pull Request agains the staging branch 😄

Feel free to ask any questions if you need help please also see here: https://docs.joomla.org/Using_the_Github_UI_to_Make_Pull_Requests

[2017-03-12 14:31] brianteeman opened #14532 "Admin menu recovery mode"
### Steps to reproduce the issue
Create a new admin menu with just a single item in it and make sure you have create a module for it. Publish the module and unpublish the default admin menu module

You will get a Recovery menu with mulltiple dropdowns - all good

Now publish the default admin menu module as well.

Expected result the Recovery menu displays as before - it doesnt - see menu

Yes I k

[2017-03-12 14:31] brianteeman commented on #14532
oops

[2017-03-12 14:42] Fedik commented on #14350
please test #14537

[2017-03-12 14:44] Fedik commented on #14192
please test #14537

[2017-03-12 14:44] beetabonk commented on #14531
@zero-24 i just added the pull request.  did i do something wrong that it does not show up here as well?  or should i have not created an issue and only done the pull request?  (sorry new to github).

[2017-03-12 14:59] ot2sen commented on #14192
Confirmed @Fedik this solved the issue here too for having a lock when using FF. After your #14537 patch this get solved here :)

[2017-03-12 15:01] mbabker commented on #14468
`$saveOrderingUrl` is only defined if both `$saveOrder` and `$menuType` evaluate to true, but is only used if `$saveOrder` is true.  Just on reading the code, @joomdonation instructions are correct for reproducing the error.  If nothing else, it shows there's a logic error in the layout.

[2017-03-12 15:17] Fedik opened #14539 "[4.0] Improve admin menu ordering"
New aside menu looks cool.
But the ordering need to improve, from the often used items to the less used items.

I would suggest, next ordering:
- Content
- Media
- Components
- Menu
- Users
- Extensions
- System
- Help

[2017-03-12 15:22] wilsonge commented on #14512
@dgt41 this is probably from your multiple tinymce instances pr - i had lots of conflicts to solve can you review?

[2017-03-12 15:24] rdeutz commented on #14490
just one note as I worked on it, I saw that to show a status with only one indicator is not a brillant idea but I was focused on the functionality. It is something we should look at.

[2017-03-12 15:27] zero-24 commented on #14471
ok it is realted to the database strict mode in 4.0 if we disable that the update can be found.

[2017-03-12 15:34] dgt41 commented on #14512
Ok

[2017-03-12 15:40] brianteeman commented on #14490
reopened as we no longer have a patch

[2017-03-12 15:54] bertmert commented on #14531
@beetabonk
You referenced the wrong issue in your PR https://github.com/joomla/joomla-cms/pull/14535

It should be issue "14531" (this one) instead of "14393"

Then a link to the correct PR occurs here automatically.

And yes, if you know already a solution you don't have to open an issue first.

[2017-03-12 15:57] zero-24 commented on #14471
please test #14540

[2017-03-12 15:57] #14471 closed

[2017-03-12 15:58] zero-24 commented on #14457
please test #14540 and please manuall apply the changes to 4.0 if you test there as the PR is against staging.

[2017-03-12 15:58] #14457 closed

[2017-03-12 16:01] bertmert commented on #14350
Closed as we have a PR

[2017-03-12 16:01] #14350 closed

[2017-03-12 16:02] zero-24 commented on #14531
@beetabonk i have fixed the wrong reference for you.

The other question @bertmert already answeard. If you have a fix you can directly create a PR. Only if you don't know a solution you should open a issue. Thanks! As we have a PR I'm closing here.

[2017-03-12 16:02] #14531 closed

[2017-03-12 16:11] zero-24 commented on #14532
@brianteeman it looks like your gif is broken?

![image](https://cloud.githubusercontent.com/assets/2596554/23833489/e2105cf2-0746-11e7-8d8c-1dacc59fef15.png)

[2017-03-12 16:14] zero-24 commented on #14192
Thanks for the patch @Fedik I'm closing this Issue than 😄

[2017-03-12 16:14] #14192 closed

[2017-03-12 16:14] brianteeman commented on #14532
@zero-24 better?

![recovery](https://cloud.githubusercontent.com/assets/1296369/23833516/e1cb6924-073e-11e7-8930-9e128555eba3.gif)

[2017-03-12 16:14] mbabker opened #14543 "[JHtml] Move non-output related helper methods"
Some JHtml helpers are utility helper methods which are solely issuing database queries and returning a result set.  Two quick examples are in JHtmlMenu and JHtmlContentlanguage.

Helpers which are not being used to produce output for the page (HTML or loading media assets) should be moved out of the HTML package.

[2017-03-12 16:15] zero-24 commented on #14532
Yes.

[2017-03-12 16:24] brianteeman opened #14544 "Multilingual Associations - titles"
Current titles are in the format

Multilingual Associations (Articles > Articles)
Multilingual Associations (Articles > Categories)

In other places we use the format

Articles
Articles: Categories

So to me consistent I would expect it to be something like

Multilingual Associations (Articles)
Multilingual Associations (Articles: Categories)

Is there a reason that this isn't the case here? If no

[2017-03-12 16:37] AmaliDeveloper commented on #9373
You can get the solution for send mail using phpmailer Here [Link](https://youtu.be/Edx7pPcPfs8)

[2017-03-12 17:26] beetabonk commented on #14531
@zero-24 and @bertmert thanks for the assistance and explanations!

[2017-03-12 18:28] laoneo commented on #13873
I don't know if somebody will ever volunteer to make the user field available on the front. But the issue itself is not solved. @PhilETaylor should decide.

[2017-03-12 18:33] PhilETaylor commented on #13873
Well it comes down to expectation and documentation - like most of com_fields, its inconsistent, has no defined structure or documented goals...

Therefore its hard to know if this is a bug, a feature, an oversight, or just plain wrong.

If only there were some documentation or design document, or ux team that could be consulted...

[2017-03-12 18:35] PhilETaylor commented on #13873
Also as the "User" custom field has configuration:

<img width="574" alt="screen shot 2017-03-12 at 18 34 37" src="https://cloud.githubusercontent.com/assets/400092/23834695/98239616-0752-11e7-8b79-3da228c84281.png">

One can quite rightly expect that it could be rendered on the frontend...

[2017-03-12 18:47] PhilETaylor opened #14549 "truncated placeholders"
### Steps to reproduce the issue

Install https://github.com/akeeba/loginguard

Go to the Joomla Global Configuration Page for that extension

url: http://example.com/administrator/index.php?option=com_config&view=component&component=com_loginguard&path=

### Expected result

non truncated placeholders

### Actual result

<img width="477" alt="screen shot 2017-03-12 at 17 53 46" src="https://cloud

[2017-03-12 18:55] infograf768 commented on #14544
there is a reason.

[2017-03-12 19:04] brianteeman commented on #14544
and we have to guess?

[2017-03-12 19:07] mbabker commented on #13873
The field (`JFormFieldUser`, not the com_fields thing) requires a view that is only available in the backend component.  If it is desired to support this field on the frontend then proxy support used in other components must be added.

[2017-03-12 19:26] PhilETaylor commented on #14549
`<input type="text" value="Type or select some options" class="default" autocomplete="off" style="width: 90px;">`

Its the 90px width thats killing it I think... Im no frontend guru though

[2017-03-12 19:37] infograf768 commented on #14544
look at the code. it is a sprintf contrary to our other titles. no other way to do it. it simplifies translation by using a > between the 2 variables. otherwise, a : depending on languages would have to be moved (rtl or ltr, space before the : or not)

[2017-03-12 19:49] N6REJ opened #14551 "Form field parameter "required" doesn't follow showon"
### Steps to reproduce the issue
create a pair of fields, one creating a showon the other a text box.
add showon and required to the textbox.
turn off showon
go to form in admin and attempt to save.

### Expected result
required will not be tested since showon is false.

### Actual result
required error is thrown.

### System information (as much as possible)
[code]

### Additional comments
![imag

[2017-03-12 19:51] brianteeman commented on #14544
So the reason is just a lack of coding skill and nothing more. There is no
special meaning between the changed string and doing it in an inconsistent
way. :(

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=

[2017-03-12 19:53] brianteeman commented on #14549
sounds about right - i saw this earlier today with another field (cant remember which now) and it either "fixed itself" when i clicked in the field or on refresh - dont remember that either)

[2017-03-12 19:53] mbabker commented on #14551
`showon` is a UI parameter only, it isn't altering other attributes of the form such as `required`.

Further explained in https://github.com/joomla/joomla-cms/issues/11243 why this is how the system is designed.

[2017-03-12 19:55] franz-wohlkoenig commented on #14549
similar Issue #13594

[2017-03-12 19:56] PhilETaylor commented on #14549
Diplicte

[2017-03-12 19:56] #14549 closed

[2017-03-12 20:03] brianteeman commented on #14549
thanks @franz-wohlkoenig thats exactly where I saw it

[2017-03-12 20:08] franz-wohlkoenig commented on #13873
@PhilETaylor please have a Look at #14500 which removes "Show on" at "User" custom field.

[2017-03-12 20:18] PhilETaylor commented on #13873
I already left my thoughts here

https://github.com/joomla/joomla-cms/pull/14500#issuecomment-285964922 <https://github.com/joomla/joomla-cms/pull/14500#issuecomment-285964922>

[2017-03-12 20:24] N6REJ commented on #14551
ugh.... ok.. I'll just have to check for empty field..  ty... sorry for false report.

[2017-03-12 20:24] #14551 closed

[2017-03-12 20:28] franz-wohlkoenig commented on #14539
1. Content
2. Media
3. Users
4. Menu
5. Components
6. Extensions
7. System
8. Help

[2017-03-12 21:23] bertmert commented on #13594
The reason is that chosen.js calculates the width of the INPUT depending on the width of it's outer container.

https://github.com/joomla/joomla-cms/blob/staging/media/jui/js/chosen.jquery.js#L1340

Because somebody added in template.css of Isis:

[code]

So: Remove the max-width here and find another selector to limit the width!

I removed the whole CSS block above and the placeholder is no longe

[2017-03-12 21:23] EBAMAN opened #14553 "Cannot login with neither MS IE nor MS Edge"
### Steps to reproduce the issue
I cannot login to Joomla 3.6.5 with neither Internet Explorer nor MS Edge.
This applies for both backend and frontend
After filling in username and password and press the login-button, the login-form is cleared and no login is performed.
FF and Chrome works ok.
The similar happens when trying to install from IE or EDGE, it stays on step 1 nothing more happens

###

[2017-03-12 21:49] zero-24 commented on #14553
I can not reproduce this behavior on my end.

[2017-03-12 21:52] zero-24 commented on #14553
It sounds like a local problem. Did you try a different PC?

btw. your link could not be resolved ;)

Please also check this warning:
![image](https://cloud.githubusercontent.com/assets/2596554/23836316/6f5bb758-0776-11e7-9db0-424628105305.png)

Please move any other questions to https://forum.joomla.org/

I'm closing that than as not a core bug.

[2017-03-12 21:52] #14553 closed

[2017-03-12 22:00] infograf768 commented on #14544
components are not limited to unique item as core components do.
we may have multiple items: we do need the 2 variables all the time.
the code is adapted to any components.
we can't have
articles
articles : categories

it has to be articles : articles
you could change the > to : in the string if you insist heavily, but do not touch at the code.

don't start the insulting with 'coding skills' btw..

[2017-03-12 22:03] brianteeman commented on #14544
I thought this was open source.

On 12 Mar 2017 10:00 p.m., "infograf768" <notifications@github.com> wrote:

[2017-03-12 22:07] mbabker opened #14555 "Improve sprintf Strings"
[code]

No comment in the source language file, and it's apparently a dynamic key because searching that exact key returns one result.

Is this really the quality of information we are giving to translators?

[2017-03-12 22:09] brianteeman commented on #14555
Sadly yes it is

[2017-03-12 22:10] brianteeman commented on #14490
closing again as the patch has been re-opened

[2017-03-12 22:10] #14490 closed

[2017-03-12 22:13] mbabker commented on #14555
Well, excuse my French, but it's a load of 💩

[2017-03-12 22:17] brianteeman commented on #14555
it is indeed

[2017-03-12 22:20] brianteeman commented on #14555
COM_CATEGORIES_TIP_ASSOCIATED_LANGUAGE="%s %s"
COM_CONTACT_TIP_ASSOCIATED_LANGUAGE="%s %s (%s)"
COM_CONTENT_TIP_ASSOCIATED_LANGUAGE="%s %s (%s)"
COM_CONTENTHISTORY_COMPARE_VALUE1="Saved on %s %s"
COM_CONTENTHISTORY_COMPARE_VALUE2="Saved on %s %s"
COM_MENUS_TIP_ASSOCIATED_LANGUAGE="%s %s (%s)"
COM_NEWSFEEDS_TIP_ASSOCIATED_LANGUAGE="%s %s (%s)"

These are the most ambiguous but there are others whic

[2017-03-12 22:25] mbabker commented on #14555
https://github.com/joomla/joomla-cms/commit/99b02d050f2810650baa08fedd65c9ab04472a02

ALL OF THOSE TIP_ASSOCIATED STRINGS HAVEN'T EXISTED FOR FOUR &@!&ING YEARS!

@infograf768 @Bakual The translation policy needs to be addressed sooner than later.

[2017-03-12 22:29] brianteeman commented on #14555
lol

[2017-03-12 22:33] N6REJ opened #14556 "ghost fields when using list type in repeatable fields."
### Steps to reproduce the issue
create a set of fields that are list type.
view the fields in admin you will see 2, one functions one doesn't.

### Expected result
standard list form field
as in 3.6.x
![image](https://cloud.githubusercontent.com/assets/1850089/23836625/3faed6b6-0749-11e7-8a88-122d047e998f.png)

### Actual result
2 fields for each list field, one functional one none.
![image](http

[2017-03-12 22:36] EBAMAN commented on #14553
I Have tried it on 10 different PCs, the issue is the same<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14553">issues.joomla.org/tracker/joomla-cms/14553</a>.</sub>

[2017-03-12 22:38] mbabker opened #14557 "WTF do these strings even mean?"
[code]

1) These are writing to a log file.  Why are we translating log messages?
2) Anyone who can write these in a form of English that I might be able to read wins a beer.  I'll even take Spanish at this point, my broken understanding of it is probably enough to work with.

[2017-03-12 22:38] zero-24 commented on #14553
Please fix the server warning i have showed you with your hoster. ;) If you have more questions please ask to the forum :)

[2017-03-12 22:40] zero-24 commented on #14557
It come from me. Feel free to replace it with a different message. It should just show in the logs that we bypassed the token checks here.

[2017-03-12 22:42] mbabker commented on #14557
Since I'm mildly annoyed at the moment (sorry), it's not my intent to trash anyone's English.  Just so it's clear.  I'm just mildly annoyed chasing down ghost strings and trying to decipher messages.

I'm only doing the en-US variant on Crowdin right now and I'm struggling in places.  And I'm supposed to be able to speak English (so the US school system says, others may feel differently).  This is

[2017-03-12 22:44] EBAMAN commented on #14553
I don’t get those warnings, in any browser, neither FF nor Chrome or IE/Edge.

I have tried to login with IE and EDGE from at least 10 different PCs and servers, A mix of XP/W7/W10 and Server 2k8R2.

All showing the same problem.

Some of them was fresh installs where IE/Edge hasn’t been used.

So obviously It cannot be a local PC-problem, but rather a JOOMLA problem

With best regards

Tomas Lars

[2017-03-12 22:55] zero-24 commented on #14557
I agree. So we can fix this by a native speaker suggests a better string and we use this. ;)

Btw it was used as language string as the other log messages in com_joomlaupdate got translated too e.g.
https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_joomlaupdate/models/default.php#L315

We can also completly remove that string / translation.

[2017-03-12 23:04] bertmert commented on #13594
The CSS changes have been made here by @ciar4n
https://github.com/joomla/joomla-cms/pull/13586

[2017-03-13 06:26] Bakual commented on #14555
Did you have a look what is being passed there?

[2017-03-13 06:45] franz-wohlkoenig commented on #14553
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla coding.

[2017-03-13 07:00] laoneo commented on #14473
Please test pr #14558. It reduces some queries to fetch the values of the fields.

[2017-03-13 07:07] franz-wohlkoenig commented on #14482
thanks for resolving Issue @csthomas

[2017-03-13 07:07] #14482 closed

[2017-03-13 07:12] laoneo commented on #13594
Unfortunately this pr doesn't solve this issue here, the pr got merged over two months ago and we still have the issue.

[2017-03-13 08:19] ciar4n commented on #13594
Sounds like a very similar issue to https://github.com/joomla/joomla-cms/issues/11835 . Probably related somehow.

[2017-03-13 08:46] laoneo commented on #13594
Guess it is about the same thing.

[2017-03-13 09:06] Ruud68 opened #14559 "mod_custom only one tab (module)"
### Steps to reproduce the issue
open custom module in modules manager

### Expected result
all tabs should be visible:
[Module] [Menu Assignment] [Module Permissions] [Options] [Advanced]

### Actual result
Only one tab shown (and configuarble):
[Module]

### System information (as much as possible)
Joomla! 3.7.0-beta3 Beta [ Amani ] 21-February-2017 15:03 GMT
MySQL: 5.7.17-0ubuntu0.16.04.1
PHP:

[2017-03-13 09:12] franz-wohlkoenig commented on #14559
Can't confirm:
![bildschirmfoto 2017-03-13 um 10 11 39](https://cloud.githubusercontent.com/assets/8235763/23848035/7a06e97a-07d5-11e7-86cc-c934605bc16f.JPG)
### System information (as much as possible)
Joomla! 3.7.0-rc1
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-13 09:12] bertmert commented on #13594
I said/meant that PR https://github.com/joomla/joomla-cms/pull/13586 is the reason for misbehavior that we have now!! It must be reverted/corrected/whatever!!

[2017-03-13 09:16] laoneo commented on #13594
Ah ok, tought this PR should solve it. @ciar4n any idea how to fix this one without reverting the behavior in #13586?

[2017-03-13 09:19] infograf768 commented on #14559
Can't confirm either. Looks like you have customised your site (looking at the editor buttons)

[2017-03-13 09:34] Ruud68 commented on #14559
Thnx @infograf768 started switching off editorxtd plugins and it turned out that the culprit was in the advpoll plugin.
Will take this up with the developer of this component.
Sorry for the 'false-positive'.
Keep up the good work!

[2017-03-13 09:34] #14559 closed

[2017-03-13 09:36] brianteeman opened #14560 "Multilingual Associations and Flags"
### Steps to reproduce the issue
Setup multilingual associations and in the content language setting make sure that you set the image to none. now go to multilingual associations and check the tooltips.

### Expected result
The tooltip will display the name of the language only - and not the language and the image (flag)

### Actual result
The tooltip displays the name of the language and we have

[2017-03-13 09:38] brianteeman commented on #14560
the same is true for the list view where the missing image and alt tag are still used in the languages column

[2017-03-13 09:44] ciar4n commented on #13594
I don't think #13586 is causing this as the issue was there for some time before it (#11835).

[2017-03-13 09:49] brianteeman opened #14561 "Multilingual associations copy reference"
### Steps to reproduce the issue
Using multilingual associations select an article and then Copy Reference to Target and save the target

### Expected result
Target has been in saved as an identical article but in the new language

### Actual result
Target article has been saved but it is not published

[2017-03-13 09:54] brianteeman opened #14562 "Multilingual associations doesnt save language"
### Steps to reproduce the issue
Using Multilingual Associations select an article and a target language
Select Copy reference to target in the toolbar
Message on screen that the new article has been saved
Close and return to the article manager

### Expected result
A duplicate article has been created but in the selected target language

### Actual result
An unpublished article (see #14561) has b

[2017-03-13 09:57] brianteeman commented on #14562
Note it says **default** language which is odd as this isnt actually something you can select anywhere else as the language for anything????

[2017-03-13 10:00] ciar4n commented on #13594
Just looking in to this. A slightly different issue to #11835. I'll see what I can do but will probably have to revert #13586. Chosen seems to require a set width.

[2017-03-13 10:11] laoneo commented on #13594
Thanks @ciar4n!!

[2017-03-13 10:12] infograf768 commented on #14560
I confirm.
The GSOC project was done before the PR which allowed content languages to have no image and the other PR using boostrap.popover for the tips in the Managers Associations Column.

@Bakual
As you coded this last one (which uses no flags), can you see what you can do to change the code in com_associations helper?

For the Language column, it is pretty simple:
Change in the default.php and

[2017-03-13 10:40] brianteeman commented on #14560
See #14563 for a PR

[2017-03-13 10:40] #14560 closed

[2017-03-13 10:49] brianteeman commented on #14557
Closed as we have a PR #14564  I hope I understood it correctly

[2017-03-13 10:49] #14557 closed

[2017-03-13 10:51] wilsonge commented on #14562
@infograf768 this seems like a pretty big bug. Adding a release blocker here

[2017-03-13 11:00] woluweb opened #14565 "New Invisible Catpcha by Google : need for new plugin (?)"
### Steps to reproduce the issue
After reCaptcha v2, Google has now introduced "Invisible Catpcha".
More information on
https://www.google.com/recaptcha/admin
The current Joomla native plugin allows for "reCaptcha".

### Expected result
A new plugin is needed (I guess) to allow for "Invisible Captcha"
As J!3.7 should be released in a near future, that new feature would be an extra "plus" :-)

###

[2017-03-13 11:01] brianteeman commented on #14164
I cannot confirm this either

[2017-03-13 11:13] infograf768 commented on #14560
Patch is not good.

[2017-03-13 11:45] brianteeman opened #14569 "Multilingual Associations - hathor"
### Steps to reproduce the issue
Switch to the hathor template and visit the multilingual associations templae

### Expected result
Columns and layout are correct

### Actual result
Column headings do not line up with the row contents
Example the Title header is center aligned so it is displayed "disconnected" from the row data

<img width="909" alt="screenshotr11-42-15" src="https://cloud.githubu

[2017-03-13 11:53] C-Lodder commented on #14479
It shouldn't contain a `!` but this is an issue for 3.x, not 4.0

[2017-03-13 11:55] C-Lodder commented on #14539
As mentioned in a previous issue, the sidebar menu is going to be revamped again, which includes changing the ordering and structure.

[2017-03-13 12:58] markboos opened #14571 "PHP Security alert in control panel after installing 3.7.0-beta3"
### Steps to reproduce the issue
Install Joomla testing

On sites hosted on the stable PHP 5.6 (which many webhosters use because its stable), Every time admin logs in the Control panel he sees this text:

"Your PHP version, 5.6, is only receiving security fixes at this time from the PHP project. This means your PHP version will soon no longer be supported. We recommend planning to upgrade to a ne

[2017-03-13 13:14] franz-wohlkoenig commented on #14479
changed Issue-Title for 3.7 too.

[2017-03-13 13:15] brianteeman opened #14572 "Multilingual Associations Sort order"
### Steps to reproduce the issue
Open multilingual associations component and compare the order of the Sort table filters with the order of the columns

### Expected result
Sort filters will match the order of the columns as they do throughout Joomla and that they will all have an Ascending and Descending option

### Actual result
A sort filter for Associations appears at the end of the list and w

[2017-03-13 13:31] brianteeman opened #14573 "[fields] sort order and error"
### Steps to reproduce the issue
Open fields and compare the order of the Sort table filters with the order of the columns and they all work

### Expected result
Sort filters will match the order of the columns as they do throughout Joomla and that they will all have an Ascending and Descending option

### Actual result
A sort filter for Field Group appears at the end of the list and without an As

[2017-03-13 13:34] gagnonjeanfrancois commented on #14565
Google recaptcha dev docs : https://developers.google.com/recaptcha/docs/invisible<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14565">issues.joomla.org/tracker/joomla-cms/14565</a>.</sub>

[2017-03-13 13:50] wilsonge commented on #14512
@franz-wohlkoenig can you please test #14575

[2017-03-13 13:50] #14512 closed

[2017-03-13 14:00] joeforjoomla opened #14577 "Missing translation for the new 'Components menu container' menu item type"
### Steps to reproduce the issue
Install an extension such as Virtuemart

### Expected result
All values in 'Show or Hide Menu Items' are translated as the standard Joomla admin menu

### Actual result
Only item marked as <name>COM_XXX</name> in the XML manifest file are translated, none of the <name>XXX</name> are translated
![menu_container_translation](https://cloud.githubusercontent.com/assets

[2017-03-13 14:05] zero-24 commented on #14577
@joeforjoomla please send the change as PR than :smile:

[2017-03-13 14:12] brianteeman opened #14579 "Custom Admin Menus - Hathor"
### Steps to reproduce the issue
Switch to hathor admin template and try to create a new admin menu type
The option present in Isis is not present in Hathor

### Hathor
<img width="886" alt="screenshotr14-10-22" src="https://cloud.githubusercontent.com/assets/1296369/23857969/f116e56c-07f6-11e7-9c81-a4f227a94563.png">

### Isis
<img width="458" alt="screenshotr14-12-21" src="https://cloud.githubus

[2017-03-13 14:18] mbabker commented on #14555
The `TIP_ASSOCIATED_LANGUAGE` strings were all removed in the commit I linked 4 years ago.  So nothing is being passed to them because nothing is using them.

[2017-03-13 14:25] brianteeman commented on #14579
Closed as I created a PR #14580

[2017-03-13 14:25] #14579 closed

[2017-03-13 14:47] brianteeman opened #14581 "Create admin menu item Hathor"
In Hathor it is not possible to create an admin menu item because there is no client selector.

(I tried but failed to code it)

[2017-03-13 14:57] brianteeman commented on #14569
Also I see now that there is no hathor override at all for this component so all the filters, search tools etc are using the ISIS styles and not the hathor styles that are used elsewhere

[2017-03-13 15:01] brianteeman commented on #14491
The same is true for Field groups where the layout is unusable and also is using the ISIS stlye for search tools and selects

<img width="1254" alt="screenshotr15-00-00" src="https://cloud.githubusercontent.com/assets/1296369/23860138/f19af8c8-07fd-11e7-90d1-0af5a5ec03f6.png">

[2017-03-13 15:06] brianteeman commented on #14571
iirc if you click on the close icon in the message then it will disappear

[2017-03-13 15:18] mbabker commented on #14571
It's a plugin that can be disabled too.

[2017-03-13 15:27] markboos commented on #14571
Ok good, can close the message :) But can the text be changed ?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14571">issues.joomla.org/tracker/joomla-cms/14571</a>.</sub>

[2017-03-13 16:19] brianteeman opened #14582 "Add version number or not based on global configuration"
### Steps to reproduce the issue
In global configuration is an option to Show Joomla Version in the metadata

### Expected result
When set to yes

When set to no

### Actual result
in both cases

[2017-03-13 16:20] brianteeman commented on #14582
oops i was looking at the wrong site

[2017-03-13 16:20] #14582 closed

[2017-03-13 16:40] joeforjoomla commented on #14577
Done: https://github.com/joomla/joomla-cms/pull/14584

[2017-03-13 16:52] zero-24 commented on #14577
Looks like you closed the pr?

[2017-03-13 16:56] joeforjoomla commented on #14577
Sorry just created a new one https://github.com/joomla/joomla-cms/pull/14585

[2017-03-13 16:57] joeforjoomla commented on #14577
Closing this issue hence we have a PR https://github.com/joomla/joomla-cms/pull/14585

[2017-03-13 16:57] #14577 closed

[2017-03-13 17:10] woluweb commented on #14565
See #14583 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14565">issues.joomla.org/tracker/joomla-cms/14565</a>.</sub>

[2017-03-13 17:11] #14565 closed

[2017-03-13 17:11] zero-24 commented on #14565
Closing as there is a PR. Thanks @810

[2017-03-13 17:29] C-Lodder commented on #14571
@markboos - Why? The text in the alert is factual. If the message is bothering you, disable the plugin

[2017-03-13 18:00] shivamdiehard commented on #14573
Hi,I tried testing this. After selecting sort filter for Field group it is displaying the error "Unknown column "category_title" in "order_clause".
But after that when I am trying to open again fields from content dropdown, the sort filter page is not displaying, it is showing just and nothing else.
Now there is no display of field view, any idea how to get it back? <hr /><sub>This comment was cre

[2017-03-13 18:22] Fedik opened #14587 "JDate always resets time zone to the Server default, but why?"
Let's say, I have a Hosting with default timezone "Europe/Berlin",

And in my extension I want work with UTC, so I am doing:

[code]

It is a bit annoying, and produce unexpected bugs, especially when use external libraries which provide the time data as DateTime, and important to keep timezone in UTC for correct datetime comparison.

so the question, why JDate  [reset Timezone](https://github.com

[2017-03-13 18:25] markboos commented on #14571
I tried to explain the why, I think the message in this form is creating unnecessary unrest about security of PHP 5.6. If i am alone in this, well... then I withdraw :)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14571">issues.joomla.org/tracker/joomla-cms/14571</a>.</sub>

[2017-03-13 18:28] mbabker commented on #14571
It's not aimed specifically at PHP 5.6.  The logic is pretty generic across all PHP branches (5.6 is a special case because of its elongated security support status).

PHP's general rule is 2 years of bug fixes and 1 year of security, then end of support.  So the plugin's logic starts giving the notification when the release hits the security phase because it generally only has a year of support r

[2017-03-13 18:30] brianteeman commented on #14573
That's why it's a nasty bug. You need to clear local browser storage iirc

On 13 Mar 2017 6:00 p.m., "Shivam" <notifications@github.com> wrote:

Hi,I tried testing this. After selecting sort filter for Field group it is
displaying the error "Unknown column "category_title" in "order_clause".
But after that when I am trying to open again fields from content dropdown,
the sort filter page is not dis

[2017-03-13 18:31] mbabker commented on #14587
The static is set based on the first caller to the `JDate` and uses `@date_default_timezone_get()` to get the timezone.  So it would read whatever timezone is set at that time, and uses that for the reset through the rest of the process.

[2017-03-13 18:36] Fedik commented on #14587
yeap, which makes JDate more unpredictable,
currently the first call of JDate happens at initialization, by some Deprecation log

[2017-03-13 18:46] mbabker commented on #14587
Throw it into the 4.0 queue and see what happens I guess.  Either way it couldn't be done in 3.x because you'd be removing a static class property that's not marked private (and it's a behavior breaking change, even if it'd be to something that's more correct).

[2017-03-13 19:48] Bakual commented on #14555
Ah, didn't understand that comment while on my mobile.
I fully agree we need to adjust that policy. I'm not sure if it makes sense to change it for the 3.x series anymore, but for 4.0 we need a better plan for sure (if it can be applied to 3.x as well, even better).

Imho the current policy comes mainly from the fact that language packs made for 3.7.0 can also be installed in any Joomla 3.x versio

[2017-03-13 19:59] Bakual commented on #14473
Closing as we have a PR.

[2017-03-13 19:59] #14473 closed

[2017-03-13 20:59] franz-wohlkoenig opened #14588 "[POC] Articles-Options grouped in 2 Columns"
### Steps to reproduce the issue
In `Articles`, Tab `Options` is a ungrouped Column. A proposal for a 2 Column-Solution:
![bildschirmfoto 2017-03-13 um 21 51 21](https://cloud.githubusercontent.com/assets/8235763/23874976/0952d942-0838-11e7-854e-9de217ec2b88.JPG)

[2017-03-13 21:15] brianteeman commented on #14588
How would that display on mobiles?

[2017-03-13 22:05] Quy opened #14589 "[com_fields] json_decode() warning with checkbox/radio field type"
### Steps to reproduce the issue
Create a new field of checkboxes type.
Add a checkbox values.
Click Save & Close button.
Edit this field.
Click Save & Close button.

In the PHP error log:
[code]
### System information (as much as possible)
PHP 5.6.3

[2017-03-13 23:55] yvesh commented on #14589
@Quy Latest staging? And can you add a screenshot how your checkbox configuration field looks like?

ping @laoneo

[2017-03-14 01:02] Quy commented on #14589
Yes, latest staging as of today.
![checkboxes](https://cloud.githubusercontent.com/assets/368084/23881316/0f759876-0817-11e7-975c-91ab6a1c6124.jpg)

[2017-03-14 03:23] tvoeten opened #14590 "Database install error"
### Steps to reproduce the issue
Install Joomla 3.7.0 Beta 3
After filling tabs: configuration and tab: database, tab: total
next step results in error message:
"Fout
Index column size too large. The maximum column size is 767 bytes."

### Expected result
correct installation

### Actual result
error message:
"Fout
Index column size too large. The maximum column size is 767 bytes."

### System inf

[2017-03-14 03:54] Quy opened #14591 "Remove Article/Category dropdown in search under Fields and Field Groups?"
Under `Fields` and `Field Groups`, why is there a dropdown to select `Articles` or `Category` when searching?

[2017-03-14 05:48] franz-wohlkoenig commented on #14588
Similar to Tabs like `Images and Links` or `Publishing`.

[2017-03-14 05:50] laoneo commented on #14591
You can create fields for articles or categories.

[2017-03-14 05:51] dgt41 opened #14592 "[4.0] Remove unmaintainable scripts"
### Steps to reproduce the issue
Check this uncompressed (well not really) file https://github.com/joomla/joomla-cms/blob/4.0-dev/media/com_contenthistory/js/diff_match_patch.js

There's no way anyone will ever make a PR to patch anything on this file and someone could review the changes (without spending some good amount of time)

This is **unacceptable**, either we get the non minified source, o

[2017-03-14 06:56] franz-wohlkoenig commented on #14130
Update after merged #14570:
![00 module user status](https://cloud.githubusercontent.com/assets/8235763/23889116/b24fcffc-088b-11e7-91b4-d1aa3887059e.JPG)

[2017-03-14 07:33] dgt41 commented on #14130
@franz-wohlkoenig make a PR

[2017-03-14 07:47] franz-wohlkoenig opened #14595 "[4.0] Wrong Cursertyp if moving Menu-Items"
### Steps to reproduce the issue
If moving Menu-Items a Text-Curser is shown instead a 4-Side-Arrow like in 3.*:
![menu-wrong-curser](https://cloud.githubusercontent.com/assets/8235763/23890563/b3ce3952-0892-11e7-83ba-18bcde002a12.gif)
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-14 08:12] franz-wohlkoenig commented on #14130
@dgt41 I have no Skills and Knowledge in php, css, ... i can test and report Issues.

[2017-03-14 09:08] Bakual opened #14596 "[4.0] /media/vendor contains extension specific media"
### Steps to reproduce the issue
Have a look what is in https://github.com/joomla/joomla-cms/tree/4.0-dev/media/vendor

### Expected result
Only "global" available ressources should be there. Extension specific ressources (like codemirror) should still live in their extension specific folders.

### Actual result
Every 3rd party code used by core seems to end up in that folder

### Additional comme

[2017-03-14 09:14] csthomas commented on #14590
Which mysql version do you have? < 5.7

I assumed that the problem lies in  `#__session` table.
Before installation you can change file installation/sql/mysql/joomla.sql

from:
[code]

to

[code]

In above I only added ` ROW_FORMAT=DYNAMIC`.

There is a lot of more fields which could be better designed:
* `session_id` does not need to be utf8, ASCII will be enough
* `time` should be  int(10) unsig

[2017-03-14 09:18] C-Lodder commented on #14596
I dont see anything wrong with this directory at all. It contains all 3rd party JS that we pull down via Grunt/Node.

All extension specific JS is still in the media root: https://github.com/joomla/joomla-cms/tree/4.0-dev/media

Updating these is easily done. You simply need to change the version number in here: https://github.com/joomla/joomla-cms/blob/4.0-dev/grunt_settings.yaml and run `grunt`

[2017-03-14 09:23] dgt41 commented on #14596
@mbabker @wilsonge some input here?

[2017-03-14 09:24] Bakual commented on #14596
Sure, I understand that. My point is another one.
For example codemirror is specific to the codemirror editor and not meant to be used by 3rd parties. Because we may want to upgrade codemirror to v6 in future, but you would break each 3rd party extension that is using codemirror with that move. So you will have to stay on v5 for the life of J4.
Instead if you put **extension specific** media into

[2017-03-14 09:26] Bakual commented on #14596
So the main question here is imho if the libraries are meant to be used by 3rd parties.
If yes, put them into the vendor folder and keep B/C with it.
If no, put them into the extension folder (template, component, whatever).

[2017-03-14 09:28] brianteeman commented on #14596
@bakual I understand what you are saying but
1. presumably we would only be upgrading a vendor file if it was b/c anyway - thats current practice
2. we want people to be using these instead of installing their own
3. if it is in the media folder then it can be overriden if required

[2017-03-14 09:29] brianteeman commented on #14596
Also looking through the list of files in the vendor folder I am not sure you can say they are **extension specific** which ones do you see that are **extension specific**

[2017-03-14 09:30] brianteeman commented on #14596
sorry I just saw that tinymce and codemirror are there - i missed those. I still dont see the upgrade issue

[2017-03-14 09:31] dgt41 commented on #14596
codemirror and tinymce I guess

[2017-03-14 09:38] dneukirchen commented on #14596
what about cropperjs, dragula, minicolors, perfect-scrollbar and tether? They all look very extension/use-case specific to me.

I understand the purpose of the media/vendor folder, but im not quite sure if it is a good idea to put all 3dp frontend libs in there.

If we expect 3dp to use those extension/use-case specific libs, thats not going to happen. They will continue using the new fancy stuff

[2017-03-14 09:47] C-Lodder commented on #14596
Oh yeah, lets just put them back in the original folders and let people core hack them again. +1

[2017-03-14 10:00] dneukirchen commented on #14596
Sorry, i dont get your point here.
Why do you need a core hack, when we have our extension/use-case specific libs in media/[extension] instead of media/vendor? Im not talking about general stuff like jq and bootstrap.

Template devs can easily override them using media file overrides.
Component/Module/Plugin devs will use their own/different libs anyways for reasons i explained in my last comment.

[2017-03-14 10:10] brianteeman opened #14597 "Media Manager : Root"
### Steps to reproduce the issue
<img width="242" alt="screenshotr10-09-05" src="https://cloud.githubusercontent.com/assets/1296369/23895622/4de1c65c-089e-11e7-99ca-fdc8c4f79927.png">

In media manager the path is prefixed wth the word **Root:** Is that needed? It doesnt provide any information and is confusing.

This came up in a training session where the user was looking for a folder called roo

[2017-03-14 10:20] Bakual commented on #14596
@brianteeman If we want people to be using these instead of their own, then it's fine to be in the vendor folder. Absolutely.
As for point 3, that was maybe me not clear enough. With extension specific folder I meant an extension specific folder within /media/. Eg /media/com_foo or /media/plg_content_bar. Like we do today to allow it being overriden.
Not in /components/com_foo or plugins/content/b

[2017-03-14 10:28] Bakual commented on #14596
As for extension specific files, that's indeed mainly the codemirror and tinyMCE I saw.
There may be more but I don't know what they are.
* "minicolors" looks like specific to the color formfield (we need to keep B/C here anyway since it's a library field)

Others look template specific (eg "perfect-scrollbar"?).

[2017-03-14 11:11] C-Lodder commented on #14595
PR: https://github.com/joomla/joomla-cms/pull/14600

[2017-03-14 11:11] #14595 closed

[2017-03-14 11:11] zero-24 commented on #14595
Closing as we have a PR thanks @C-Lodder

[2017-03-14 11:15] gwsdesk commented on #14590
I cannot replicate this. I was able to install 3.7.0-Beta3 and RC1 (nightly) without issues. (5.5.5-10.1.13-MariaDB-cll-lve)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14590">issues.joomla.org/tracker/joomla-cms/14590</a>.</sub>

[2017-03-14 11:42] brianteeman commented on #10971
@bakual yes or no. If no then this can be closed. If yes then I will make the Pr

[2017-03-14 11:58] Bakual commented on #10971
Imho, the PR can be done. The question is more if it should be merged into 3.7.0 (will probably be close to language freeze) or better shortly after release.
As said, if coordinated it can be done without an impact on Crowdin, but all other tools (com_localise, manual diff) will show a ton of changed strings.

[2017-03-14 12:01] brianteeman commented on #10971
OK I will do it and then you can decide when to merge it - probably after
3.7.0

On 14 March 2017 at 11:58, Thomas Hunziker <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2017-03-14 12:05] MATsxm commented on #10971
merci with success!

[2017-03-14 12:40] csthomas commented on #14590
I'm wrong about `#__session` index but error may be related to other table.

Important may be old value for `innodb_file_format`.
On `barracuda` error does not exists.

Joomla uses a long index for ex. on `#__extensions`:

[code]

I have not tested it yet.

[2017-03-14 12:51] Artwebco commented on #14433
Thank you for the answer.

I understand that it is not bug, but why it is not "set 0" by default, it may confuse many Joomla users.

Regards,

[2017-03-14 13:06] franz-wohlkoenig opened #14605 "[4.0] Modules > Menu Assignment: More Space on Select-Row"
### Steps to reproduce the issue
In Select-Row are on 2 Parts less Space:
![1](https://cloud.githubusercontent.com/assets/8235763/23901883/6ed87dc6-08bf-11e7-9550-5451874aa011.png)
### System information (as much as possible)
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
PHP 7.0.15
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-14 13:13] franz-wohlkoenig opened #14606 "[4.0] Arrows in `Menus: Items` like in `Modules > Menu Assignment`"
### Steps to reproduce the issue
in `Modules > Menu Assignment` are Arrows to expand and hide Menu-Levels:
![bildschirmfoto 2017-03-14 um 14 01 53](https://cloud.githubusercontent.com/assets/8235763/23902050/f8473872-08bf-11e7-9e8a-5fa2a92e0c16.JPG)
![bildschirmfoto 2017-03-14 um 14 02 17](https://cloud.githubusercontent.com/assets/8235763/23902067/0925b66e-08c0-11e7-9125-5adf20dd3946.JPG)
in `Men

[2017-03-14 13:23] brianteeman commented on #10971
Can be closed as there is a PR

[2017-03-14 13:25] brianteeman commented on #14433
It is for security purposes

[2017-03-14 13:25] mbabker commented on #14433
Certain HTML tags are prohibited by default because of possible security side effects (embedding iframes or script elements from unsafe sources).  So it has a tradeoff of requiring additional configuration to allow them.

[2017-03-14 13:30] dgt41 commented on #14433
@mbabker we can provide a simple tinymce plugin for oembed sources will make the process much easier for end users.
info: https://github.com/iamcal/oembed

Let me know if that's considered, then it shouldn't take too long to prepare a PR

[2017-03-14 13:31] Bhola-B2C commented on #14502
Actually, It is referring to which white space... I cant understand..Can anyone help me out?

[2017-03-14 13:31] mbabker commented on #14433
Anything logical should be considered.

[2017-03-14 13:37] C-Lodder commented on #14605
@ciar4n - could you take a look at this when you get a mo please?

[2017-03-14 13:41] #10971 closed

[2017-03-14 13:44] brianteeman commented on #14433
there is also a tinymce specific youtube plugin available

On 14 March 2017 at 13:31, Michael Babker <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2017-03-14 13:55] zero-24 commented on #14433
btw the tinymce filter can be switched of by the setting "Use the Joomla Text filters". In the Joomla Text filters the super user is not filtert.

[2017-03-14 14:01] Maartinsh opened #14608 "Errors in administrator after clean installation using MSSQL server as DB."
### Steps to reproduce the issue
Installing joomla 3.6. After installation -> administrator -> global configuration

### Expected result

Global configuration interface.

### Actual result

 Warning: Invalid argument supplied for foreach() in ..\libraries\joomla\database\query\sqlsrv.php on line 394

### System information (as much as possible)

Joomla 3.6
PHP 5.6
Wamp 3.2
MSSQL SERVER 2016

### A

[2017-03-14 14:10] zero-24 commented on #14608
@Maartinsh Which exact version of Joomla do you use? Can you try the last beta release of 3.7 and confim that it is still a issue?

[2017-03-14 14:16] Quy opened #14609 "[com_fields] & causes unterminated entity reference warning with List type field"
### Steps to reproduce the issue
Create a `List` type field.
Add `R&B` for a list value.
Save and close.
Edit an article to see the following warning:
[code]

[2017-03-14 14:24] franz-wohlkoenig commented on #14609
@Quy what is R&B?

[2017-03-14 14:24] Maartinsh commented on #14608
@zero-24 Thank you! 3.7 works flawless! 👍

[2017-03-14 14:25] franz-wohlkoenig commented on #14608
@Maartinsh if Issue is solved please close it.

[2017-03-14 14:37] Quy commented on #14609
R&B stands for Rhythm And Blues. It is only an example. It appears that the `&` is the culprit for the warning.

[2017-03-14 14:42] franz-wohlkoenig commented on #14609
Confirmed:
![bildschirmfoto 2017-03-14 um 15 41 53](https://cloud.githubusercontent.com/assets/8235763/23905916/d520d9ae-08cc-11e7-9fdf-2f11cba8f257.JPG)

[2017-03-14 14:43] franz-wohlkoenig commented on #14609
@Quy can you please append in front of Title: [com_fields] – thanks.

[2017-03-14 14:49] franz-wohlkoenig opened #14610 "[4.0] Menu Items > Layout: `Select Categories` looks messed"
### Steps to reproduce the issue
#### Open a `Menu Item`, Type `Featured Articles` Tab `Layout`:
![1](https://cloud.githubusercontent.com/assets/8235763/23906185/89f35eb0-08cd-11e7-83e5-3738df2d9a9d.png)
#### Compare Joomla 3:
![j3](https://cloud.githubusercontent.com/assets/8235763/23906203/9558eeaa-08cd-11e7-8060-3b0b78b194bc.JPG)
### System information
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Fi

[2017-03-14 15:05] C-Lodder commented on #14610
@dgt41 isn't this the one we're waitng for awsomeplete to be updated for?

[2017-03-14 15:06] dgt41 commented on #14610
Yup! the pull request is already in the other repo

[2017-03-14 15:08] zero-24 commented on #14608
Thanks for cheking. As 3.7 is the next release i'm going to close here.

[2017-03-14 15:08] #14608 closed

[2017-03-14 15:28] brianteeman opened #14612 "Field width???"
### Steps to reproduce the issue
go to the tinymce plugin and look at the field lengths - see screenshot
<img width="699" alt="screenshotr15-26-24" src="https://cloud.githubusercontent.com/assets/1296369/23907978/966b1596-08ca-11e7-961f-0d80b16e20f7.png">

### Expected result
field widths are the same as the selects

### Actual result

### System information (as much as possible)

### Additional c

[2017-03-14 15:35] dgt41 commented on #14592
Thanks @C-Lodder

[2017-03-14 15:35] #14592 closed

[2017-03-14 15:50] brianteeman opened #14614 "Statistics plugin - debug options"
do we need the debug option? It says this is to send a report on every page load? Is that of any use to us at all @mbabker or is this a remnant code block that should have been removed

<img width="454" alt="screenshotr15-48-52" src="https://cloud.githubusercontent.com/assets/1296369/23909157/e4094784-08cd-11e7-8e0d-470f15f2900b.png">

[2017-03-14 15:52] mbabker commented on #14614
Guess it's easier than hacking around the code or database if you're doing something that needs to trigger a send on every request.  But there's no practical use for it for all but like 3 or 4 people I'd guess.

[2017-03-14 15:56] mbabker opened #14615 "Stats plugin can force HTML document"
The stats plugin registers media during the [onAfterInitialise](https://github.com/joomla/joomla-cms/blob/staging/plugins/system/stats/stats.php#L77) event, which is done before the application has handled routing and figured out which view format it should actually use.  This media loading needs to be deferred.

[2017-03-14 16:05] brianteeman commented on #14614
Yeah thats what I was thinking - dont really see the need for this in core

[2017-03-14 16:44] brianteeman commented on #14614
Should I remove it?

[2017-03-14 16:57] brianteeman opened #14619 "Popular & Latest Articles - admin modules"
The category selector for both of these modules is a single select but the tooltip implies it should be a multi select.

This is either a copy & paste error from the equivalent front end modules which are multiple select or an error in the module xml where they should be defined as multiples.

Any suggestion what the correct behaviour should be so it can be fixed

MOD_LATEST_FIELD_CATEGORY_DESC="S

[2017-03-14 17:03] brianteeman commented on #14612
This is caused by the xml having the value

Was there a specific reason for this - it just looks wrong?

[2017-03-14 17:05] flashfs opened #14620 "Problem with update behind proxy"
### Steps to reproduce the issue

Use McAfee Web Gateway proxy behind the server. Do not configure Joomla's proxy settings, but do configure Apache to access external addresses throught the proxy. Try to update Joomla using /administrator/index.php?option=com_joomlaupdate.

### Expected result

Update is found and clicking on Install works as planned.

### Actual result

Update is found, but it is

[2017-03-14 17:06] mbabker commented on #14620
This is fixed in 3.7.  https://github.com/joomla/joomla-cms/pull/13221

[2017-03-14 17:06] #14620 closed

[2017-03-14 17:09] bertmert commented on #14619
After code review (helper.php) of both modules:
Description should be something like "Select only articles from one specific Category.".  Otherwise from all categories.
Multiple categories is not intended in helper.php

[code]

[2017-03-14 17:10] brianteeman commented on #14619
Ok thanks for  confirming that the code only supports a single select

[2017-03-14 17:10] #14619 closed

[2017-03-14 17:14] brianteeman commented on #14619
See #14621

[2017-03-14 18:37] brianteeman commented on #14612
Closing as we have a PR - thanks

[2017-03-14 18:37] #14612 closed

[2017-03-14 19:07] franz-wohlkoenig opened #14624 "[3.7] Warning in `Multilingual Associations: Edit Associations`"
### Steps to reproduce the issue
Open Reference and Target in Multilingual Associations:
![bildschirmfoto 2017-03-14 um 20 05 25](https://cloud.githubusercontent.com/assets/8235763/23918068/cab90994-08f1-11e7-9a9c-a6745ae572db.JPG)
### System information
Joomla! 3.7.0-rc1
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-14 19:58] zero-24 commented on #14624
@franz-wohlkoenig do you still have the field with R&B from https://github.com/joomla/joomla-cms/issues/14609 ?

[2017-03-14 20:00] zero-24 commented on #14614
:+1: @brianteeman

[2017-03-14 20:02] mbabker commented on #14614
I'm impartial either way.  On the one hand if you ever have to work on the plugin it's going to be a useful thing to have, on the other hand it's not something most anyone would ever have a legitimate use for.

[2017-03-14 20:04] zero-24 commented on #14614
What about make it use JDEBUG? or something like we have in the update mail plugin? ;)

[2017-03-14 20:05] zero-24 commented on #14614
https://github.com/joomla/joomla-cms/blob/staging/plugins/system/updatenotification/updatenotification.php#L12

[2017-03-14 20:12] brianteeman commented on #14614
If you ever have to work on the plugin then the two or three people that will need to will be more than cpaable of adding the required code manually

[2017-03-14 20:19] franz-wohlkoenig commented on #14624
Shame on me, thanks @zero-24

[2017-03-14 20:19] #14624 closed

[2017-03-14 20:20] zero-24 commented on #14624
No problem 😄

[2017-03-14 20:22] zero-24 commented on #14590
closing as there is a PR by @csthomas Thanks 👍

[2017-03-14 20:22] #14590 closed

[2017-03-14 20:59] franz-wohlkoenig commented on #13887
If `Navigation` is set on `Show` Breadcrumbs stay at Bottom, but if User don't wan't Navigation?
![bildschirmfoto 2017-03-14 um 21 57 06](https://cloud.githubusercontent.com/assets/8235763/23922116/73dadc1e-0901-11e7-9cc9-a24afacdb21a.JPG)

[2017-03-14 21:09] franz-wohlkoenig commented on #14430
Looks like this is a global Change on all Dropdowns, @C-Lodder?

[2017-03-14 21:11] franz-wohlkoenig commented on #14317
@PhilETaylor i tried it now for a few Days and its as you wrote. Is it possible to change this?

[2017-03-14 21:24] franz-wohlkoenig commented on #13686
Works on Joomla! 3.7.0-rc1.

[2017-03-14 21:24] #13686 closed

[2017-03-14 23:30] C-Lodder commented on #14430
Also getting this issue with Windows Chrome on the official BS docs, so believe this may be a BS issue. I remember they made some `custom-select` changes for the beta version so I'll wait till this has been released.

[2017-03-15 02:14] JanKrohn-Khalibre opened #14629 "[4.0] CodeMirror broken on Custom HTML module"
### Steps to reproduce the issue

* Select CodeMirror as the default editor
* add a new Custom HTML module or edit an existing one

### Expected result

I can edit the custom HTML code in CodeMirror

### Actual result

I can see the custom HTML code in a textbox, but can't save any changes.

### System information (as much as possible)

PHP Built On	Linux server.heidoc.net 2.6.32-042stab112.15 #1

[2017-03-15 02:28] avila-devlogic commented on #14502
Whitespace that might appear in JSON string coming from a database for whatever the reason. For me it turned out to be database export/import, different mysql versions. But it can happen for whatever reason.

[2017-03-15 04:19] nileshprasad137 opened #14630 "[4.0]Not able to select a new image for Component Banners"
### Steps to reproduce the issue
1. go to component banners
2. Add a new Banner.(Click new)
3. In the details tab, try to select an image. The image doesn't get selected. Insert button doesn't work.

### Expected result
The image should have been selected.

### System information (as much as possible)
PHP 7.0.0
Database Version 	5.7.9
Joomla! Version -	Joomla! 4.0.0-dev Development
Database Collat

[2017-03-15 06:20] franz-wohlkoenig commented on #14430
thanks for Info, @C-Lodder

[2017-03-15 06:25] Bhola-B2C commented on #14502
Do we need to trim whitespace just from beginning and end or do we need to consider those present in middle also?

[2017-03-15 06:44] Bhola-B2C commented on #14502
Do we need to trim whitespace just from beginning and end or do we need to consider those present in middle also?

[2017-03-15 06:49] franz-wohlkoenig commented on #14630
Issue confirmed.
### System information
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-15 06:53] franz-wohlkoenig commented on #14629
Can't confirm:
![bildschirmfoto 2017-03-15 um 07 53 07](https://cloud.githubusercontent.com/assets/8235763/23936830/7c55194c-0954-11e7-8290-0a592c4ef97b.JPG)
### System information
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-15 07:30] laoneo commented on #14589
I can't reproduce the issue. Did you had some old data as the field configuration got updated from repeatable to subform field.

[2017-03-15 08:10] schultz-it-solutions opened #14631 "Improve "general error" view in administration templates (templates/isis/error.php)"
### Steps to reproduce the issue
1) set "debug system" in global configuration to YES
2) provoke any kind of PHP error in a backend script (e.g. call an not existing function in
         /httpdocs/administrator/components/com_banners/banners.php )
3) call the "banners" component in the administration

### Expected result
Give a general error message ("An error has occurred.") with as much informat

[2017-03-15 08:49] zero-24 commented on #14631
@schultz-it-solutions please send you changes as Pullrequest. agains the staging branch.

btw what about extending the renderBacktrace method in order to display the line / file?

Please also consider a translation string using JText::_() if you want to add text to the output ;)

[2017-03-15 09:52] franz-wohlkoenig commented on #13646
will make Issues with one Problem each.

[2017-03-15 09:52] #13646 closed

[2017-03-15 10:27] C-Lodder commented on #14629
Can't confirm either.

Please try fetching the latest code from the repo, reinstalling Joomla 4 and trying again.

[2017-03-15 10:28] b2z commented on #14437
Hello! Please help to test #14493

[2017-03-15 10:29] JanKrohn-Khalibre commented on #14629
I'm testing on a fresh installation from the nightly build. Is the code in the repo any different?

[2017-03-15 10:30] JanKrohn-Khalibre commented on #14629
I'll also test different browsers.

[2017-03-15 10:31] dgt41 commented on #14629
@JanKrohn-Khalibre you can try also applying this patch: https://github.com/joomla/joomla-cms/pull/14575

[2017-03-15 10:46] brianteeman commented on #14614
Closed as we have a PR see #14634

[2017-03-15 10:46] #14614 closed

[2017-03-15 11:01] alikon commented on #14631
if i'm not wrong should be already fixed by #14169

[2017-03-15 11:07] zero-24 commented on #14631
Ok i think we can close it than here. Thanks @alikon and @schultz-it-solutions

[2017-03-15 11:07] #14631 closed

[2017-03-15 11:11] brianteeman commented on #14581
@izharaazmi could you take a look please

[2017-03-15 11:12] brianteeman commented on #14532
@izharaazmi can you take a look please

[2017-03-15 11:12] brianteeman commented on #14524
@izharaazmi can you take a look please

[2017-03-15 11:19] schultz-it-solutions commented on #14631
yes - please close it!

That is what you would call "parallel invention" - I am sorry...
this issue was on my mind for at least two years, but I never actually got to investigate a solution. But now I did - only to find out that three weeks ago somebody else did the very same thing.

[2017-03-15 11:22] kortex123 commented on #13757
Same issue to my website. Is there a fix?

[2017-03-15 11:23] zero-24 commented on #14631
No Problem. Thanks!

[2017-03-15 11:28] marcochirienti commented on #5819
I agree with "featured status" not being in the ''state" column.
And I think that the use of the words "state", "status", and "spublished" should be "standardized" in J4.
Actually there are, for similar purpose,  columns with different names in different tables (state or published).
Filters are of type "status" and with name "published".
Language labels use "STATE" or "STATUS" are used interchange

[2017-03-15 11:35] franz-wohlkoenig opened #14635 "[com_tags] Alt-Text of Teaser Image isn't shown in Sourcecode"
### Steps to reproduce the issue
Tab `Images`: Append `Alt`-Text for `Teaser Image`:
![1](https://cloud.githubusercontent.com/assets/8235763/23946700/bc156bf0-097b-11e7-8123-26a87ac0b1e3.png)
### Expected result
`Alt`-Text is shown in Sourcecode
### Actual result
![2](https://cloud.githubusercontent.com/assets/8235763/23946721/d4ce2826-097b-11e7-9d87-57e0469b15dd.JPG)
### System information
Joomla

[2017-03-15 11:50] franz-wohlkoenig opened #14636 "[com_tags] Teaser-Image: `Caption` is `Title`"
### Steps to reproduce the issue
Tab `Images`: Append `Caption`-Text for `Teaser Image`:
![1](https://cloud.githubusercontent.com/assets/8235763/23946941/ca4b6c3c-097c-11e7-996a-7f9c4119c7f8.png)

### Expected result
Caption-Text is shown near Image.

### Actual result
Text is shown if you hover the Image, so its a `Title`.
![2](https://cloud.githubusercontent.com/assets/8235763/23947171/dbe8a9fe-

[2017-03-15 12:03] brianteeman commented on #14635
What is the front end menu item view you are using? Looks like the same is true for the full images as well but I am struggling to find the view used to show the teaser image - i rarely if ever use com_tags ;)

[2017-03-15 12:11] izharaazmi commented on #14581
Sorry, I totally overlooked hathor. I'll see what can be done.

Btw, are we getting rid of this template any sooner? 😄

[2017-03-15 12:11] franz-wohlkoenig commented on #14635
index.php/en/component/tags/

No Menu to get only Tags-Issues. Using Protostar.

[2017-03-15 12:41] zero-24 commented on #14581
@izharaazmi

Not before 4.0 ;)

[2017-03-15 13:04] brianteeman commented on #14532
Closing as we have a PR for testing see #14640

[2017-03-15 13:04] #14532 closed

[2017-03-15 13:07] izharaazmi commented on #14524
In the initial feature PR I decided to display all components irrespective that they use categories or not. later in another PR it was modified to show only the components that have at least one category in the database.  Please confirm this situation in your test environment.

@infograf768 Please have a look

[2017-03-15 13:19] brianteeman commented on #14524
Users doesnt have categories ;)

Also I am not convinced if we should have a separate categories type at all if we have it already in the component (sometimes). whatever is decided it must be consistent. As you can see from the screenshot below there is a category option in the Banners but not in the Articles for example

<img width="265" alt="screenshotr13-18-42" src="https://cloud.githubusercont

[2017-03-15 13:25] avila-devlogic commented on #14502
yes we do as it can end up having whitespaces within

On Wed, Mar 15, 2017 at 7:25 AM, Bhola-B2C <notifications@github.com> wrote:

--

Ahmed Vila | Software engineer

[image: Symphony - email signature_UNI.png]

Mobile | +387 62 139 348

Web | www.symphony.is

San Francisco | Sarajevo | Belgrade
No one can whistle a symphony.

[2017-03-15 13:26] izharaazmi commented on #14524
Users ~doesnt~ have categories ;)

![image](https://cloud.githubusercontent.com/assets/6706189/23950399/deaf5542-09b0-11e7-9843-3fd2a08d6de6.png)

[2017-03-15 13:28] izharaazmi commented on #14524
@brianteeman. See also #13902

[2017-03-15 13:30] izharaazmi commented on #14524
Btw, user categories are used as notes categories, as I remember.

[2017-03-15 13:41] brianteeman commented on #14524
Then it needs to be clear it is notes categories and not categories of
users

On 15 Mar 2017 1:30 p.m., "Izhar Aazmi" <notifications@github.com> wrote:

[2017-03-15 13:43] izharaazmi commented on #14524
I want to address this type of things with my said PR. Please see if my
approach is acceptable and feasible or not.

[2017-03-15 14:50] franz-wohlkoenig opened #14643 "[com_tags] Menu `List of all tags`: Columns-Width not equal"
### Steps to reproduce the issue
#### Set in Menu `List of all tags > Number of Columns` to `3`:
![bildschirmfoto 2017-03-15 um 15 44 49](https://cloud.githubusercontent.com/assets/8235763/23953980/63f975d6-0996-11e7-9e33-96d8f4c15fb9.JPG)
#### Create 3 Tags with different Description-Length:
![bildschirmfoto 2017-03-15 um 15 39 40](https://cloud.githubusercontent.com/assets/8235763/23954028/83f27

[2017-03-15 15:14] Quy commented on #14589
This is a clean install with no data. Also tested on PHP 7.0.16 and got the same warning in the error log.

[2017-03-15 16:50] crystalenka opened #14644 "Linking menu item alias to another alias"
### Steps to reproduce the issue
1. Create a new menu item (type: alias).
2. Link to another menu item, which is also an alias.
3. Attempt to save.

### Expected result
Error message of some sort

### Actual result
Successful save! The user thinks it works because there is no indication it shouldn't, but it will be a broken link in the front-end.

### System information (as much as possible)
N/A

[2017-03-15 16:56] ciar4n commented on #14597
I would say remove it or replace with ../

[2017-03-15 17:02] brianteeman commented on #14597
Replace with ../ would not always be correct

[2017-03-15 17:31] ciar4n opened #14645 "Showon looks a little 'trippy' with nultiple fields"
### Steps to reproduce the issue
Have multiple showon fields.

Eg.

[code]

### Expected result
Possibly have the fields fade in/out after slideDown and before slideUp

### Actual result
![showon1](https://cloud.githubusercontent.com/assets/2803503/23962014/aa6583a8-09a4-11e7-8d5d-26dcd65a5e4f.gif)

![showon2](https://cloud.githubusercontent.com/assets/2803503/23962118/fe9be80e-09a4-11e7-8f3f-fea5

[2017-03-15 18:14] brianteeman commented on #14644
i can confirm this on 3.6.5 but not on 3.7 - can you please check with 3.7 as the way you can select menu items to alias to has changed and is no longer a select list but a modal popup and from my test the modal popup did not display any menu items that were alliases

[2017-03-15 18:43] brianteeman opened #14647 "[com_associations] Newsfeeds Notice displayed"
### Steps to reproduce the issue
In the multilingual associations component and select Newsfeeds as the Item type and any language (not all)

### Expected result
No errors

### Actual result
Notice displayed

<img width="1044" alt="screenshotr18-41-07" src="https://cloud.githubusercontent.com/assets/1296369/23965259/4f8b5ba0-09af-11e7-9e54-a0bfd0b01a65.png">

[2017-03-15 18:58] brianteeman opened #14649 "[3.7] Cache changes"
In 3.7 there are some changes to the cache settings in the Global configuration that dont seem correct to me (I might be missing something)

1. The option to turn on cache is now after the configuration of the cache and not before - this seems wrong?

2. There is a new field to set the path to the cache folder but it does not have a default entry? Shouldnt it have a default of /cache??

<img width

[2017-03-15 19:01] mbabker commented on #14649
No.  If `$cache_path` is set in your `configuration.php` file, that path is used for all filesystem caching.  When it isn't set, the `JPATH_CACHE` constant is used (`administrator/cache`, `cache`, depends on active app).  Setting that value lets you move the cache path somewhere else on the system (like outside the web root, but this could be problematic if extensions writing cached images or CSS

[2017-03-15 19:03] brianteeman opened #14650 "Global configration Error Reporting settings"
In global configuration the tooltip for the Error Reporting settings says

But when you open the help screen by clicking on the help button in the toolbar and the page https://help.joomla.org/proxy/index.php?keyref=Help37:Site_Global_Configuration is loaded in a popup the only information about the error reporting says is

paging @MATsxm

[2017-03-15 19:04] zero-24 commented on #14647
hmm can you double check that you are on the last staging as the error just points to a opening `{`. ?

https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_associations/helpers/associations.php#L523

[2017-03-15 19:19] brianteeman commented on #14649
Ah ok - I understand what you mean about the displayed content of the cache path - I would recommend that the description is updated then to reflect that eg changing

to

And what abou the change in order of the fields?

[2017-03-15 19:22] mbabker commented on #14649
Not sure on that one, I can only comment in depth on the change I made (exposing cache path config).

[2017-03-15 19:22] brianteeman commented on #14647
Updated staging and it show line 531

[2017-03-15 19:23] brianteeman commented on #14649
So are you ok on the changed string?

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 15 March 2017 at 19:22, Michael Babker <notifications@github.com> wr

[2017-03-15 19:23] mbabker commented on #14649
Works for me.

[2017-03-15 19:27] brianteeman commented on #14649
and it seems that moving the field to the end was my idea to resolve a confusion as to what the values refer to as they also apply to system cache #12742 so I will leave that

[2017-03-15 19:31] brianteeman commented on #14649
Closed as we have a PR - thanks @mbabker

[2017-03-15 19:31] #14649 closed

[2017-03-15 21:26] bertmert commented on #14597
Because Joomla and most extensions normally are saving paths in DB like this: `images/sampledata/parks/animals/example.jpg` and also display paths accordingly in inputs (e.g. Article > Images and Links) my preference is to remove `Root:`.

![15-03-_2017_22-21-54](https://cloud.githubusercontent.com/assets/11038612/23971397/1945a932-09ce-11e7-94a4-9605168faa26.jpg)

[2017-03-15 21:55] MATsxm commented on #14650
@brianteeman
Is this could be ok?
(if I understand well what you want)

[2017-03-15 22:06] brianteeman opened #14655 "Admin Menu Sort options"
The new ability to create admin menus is awesome.
When you have created an admin menu etc then you can see a list of the admin menu items that you have created.
The Available Sort orders in the select box are the same ones that are used for the frontend menu items - this is not correct as admin menu items do not have as many fields to sort by

<img width="1058" alt="screenshotr22-03-50" src="https

[2017-03-15 22:06] brianteeman commented on #14655
Paging @izharaazmi

[2017-03-15 22:29] MATsxm commented on #14650
Updated here and forced FuzzyBot to crawl the page.
https://docs.joomla.org/Help36:Site_Global_Configuration
I guess we will need time for the "help proxy" and/or caches but the Helpscreen called is ok (https://docs.joomla.org/Help36:Help_screens)

[2017-03-15 22:35] brianteeman commented on #14597
closed see #14656

[2017-03-15 22:35] #14597 closed

[2017-03-15 22:35] brianteeman commented on #14650
great thanks - I can close this here then :)

[2017-03-15 22:35] #14650 closed

[2017-03-16 06:36] franz-wohlkoenig opened #14657 "[4.0] Joomla Update: File-Name too long"
### Steps to reproduce the issue
Joomla Update > Joomla Package File: Append a nightly-Build:
![bildschirmfoto 2017-03-16 um 07 31 57](https://cloud.githubusercontent.com/assets/8235763/23984707/3f744cce-0a1b-11e7-9830-ed6df1e65f00.JPG)
### System information
Joomla! 4.0.0-dev
macOS Sierra, 10.12.3
Firefox 52.0 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-16 08:41] laoneo commented on #14589
@yvesh could you reproduce the issue?

[2017-03-16 08:53] franz-wohlkoenig opened #14660 "[com_tags] Alt-Text of Full Image isn't shown in Sourcecode"
### Steps to reproduce the issue
#### 1. Select an Full-Image and append Alt-Text:
![1](https://cloud.githubusercontent.com/assets/8235763/23988351/2408cf2e-0a2e-11e7-8978-ffb69e6c9e8c.JPG)
#### 2. Display in Frontend is correct:
![2](https://cloud.githubusercontent.com/assets/8235763/23988364/3c233e46-0a2e-11e7-8f2d-4d5896cffaab.JPG)
#### 3. Sourcecode don't show Alt-Text:
![3](https://cloud.gith

[2017-03-16 08:56] franz-wohlkoenig commented on #14635
@brianteeman Full-Image-Alt & Sourcecode: #14660

[2017-03-16 09:02] brianteeman commented on #14647
closed as we have a Pr

[2017-03-16 09:02] #14647 closed

[2017-03-16 10:39] yvesh commented on #14589
@laoneo Yep i can confirm it.. It's not shown because of the redirect.. But he's right it's in the logs

[16-Mar-2017 11:38:06 Europe/Berlin] PHP Warning:  json_decode() expects parameter 1 to be string, array given in /Users/g0ne/projects/joomla/joomla-cms/administrator/components/com_fields/models/field.php on line 160
[16-Mar-2017 11:38:06 Europe/Berlin] PHP Stack trace:
[16-Mar-2017 11:38:06 E

[2017-03-16 12:35] wilsonge opened #14662 "Allow JLayout for HTML overrides in com_associations"
HTML output here needs to be allowed to be overridden by a template: https://github.com/infograf768/joomla-cms/blob/15a3bb16356d3f62e6a590a996b5bac4d5d3f315/administrator/components/com_associations/helpers/associations.php#L172

### Expected result
The HTML is over-rideable with a JLayout

### Actual result
It's hardcoded

### Additional comments

[2017-03-16 13:26] brianteeman opened #14664 "Categories on the issue tracker"
is there a reason that Issues are no longer being categorised on the Issue tracker? it was very useful

[2017-03-16 13:30] mbabker commented on #14664
Auto categories or someone manually doing it?

[2017-03-16 13:41] brianteeman commented on #14660
Closed as we have a PR ##14665

[2017-03-16 13:41] #14660 closed

[2017-03-16 13:41] brianteeman commented on #14635
Closed as we have a PR ##14665

[2017-03-16 13:41] #14635 closed

[2017-03-16 13:45] brianteeman commented on #14664
Autocategories is only for PR not issues

I used to do it manually - I assume others that  had access used to do it as well.

There used to be zero issues without category - now there are 5 pages

It was particularly useful during sprints

[2017-03-16 13:57] mbabker commented on #14664
Nudging @nibra

[2017-03-16 14:03] franz-wohlkoenig opened #14667 "[com_tags] Menu `List of all tags`: `Maximum Characters` not respected"
### Steps to reproduce the issue
#### Set `Maximum Characters` to "4":
![bildschirmfoto 2017-03-16 um 14 57 23](https://cloud.githubusercontent.com/assets/8235763/23999680/62772d84-0a59-11e7-9aa4-7621e57e060f.JPG)
#### In Frontend full Description is showed:
![bildschirmfoto 2017-03-16 um 14 59 07](https://cloud.githubusercontent.com/assets/8235763/23999775/96c3d2a4-0a59-11e7-995c-9823c112bac5.JPG

[2017-03-16 14:08] brianteeman commented on #14667
if i am correct then the option to hide the tags also doesnt work - can you confirm

[2017-03-16 14:22] nibra commented on #14664
Can't see an option to add categories. /me being blind? Missing permissions? My username on the tracker is nibra.

[2017-03-16 14:29] brianteeman opened #14669 "Template Preview overlay issue"
### Steps to reproduce the issue
Select the template preview button in the Template manager as shown in the video. In Chrome on windows I have an overlay issue

### Expected result
Recorded with Edge on Win10
![edge](https://cloud.githubusercontent.com/assets/1296369/24000924/945bb216-0a54-11e7-9d61-6a56a832f6cd.gif)

### Actual result
Recorded with Chrome on Win10
![chrome](https://cloud.githubus

[2017-03-16 14:30] mbabker commented on #14664
It looks like you weren't in the JBS group on the tracker to do it yourself, added you now.

Users in JBS group:

- MAT978
- vdespa
- SniperSister
- Hackwar
- infograf768
- pjwiseman
- Harmageddon
- nibra
- chrisdavenport
- richard67
- dgt41
- gunjanpatel
- PhilETaylor
- andrepereiradasilva

Users in the maintainer group (adds manage permission on the tracker, which IIRC lets them manage the ACL b

[2017-03-16 14:31] brianteeman commented on #14573
Can we have a Release Blocker on this please as it kills the component on your site if you select the broken selector and is a pia to get your site usable again

[2017-03-16 14:32] infograf768 commented on #14662
let's first merge https://github.com/joomla/joomla-cms/pull/14661 as it is just an improvment on the existing.
then see how it could be done. not sure i know.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14662">issues.joomla.org/tracker/joomla-cms/14662</a>.</sub>

[2017-03-16 14:37] nibra commented on #14664
Thank you, Michael!

[2017-03-16 15:45] nibra commented on #13201
This seems to be nothing, we can fix from Joomla's side. The problem needs to be documented together with a description on how to solve it through correct server settings.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13201">issues.joomla.org/tracker/joomla-cms/13201</a>.</s

[2017-03-16 15:46] brianteeman commented on #14664
sorry my message above must have crossed out of sync so it made no sense and i have deleted it

[2017-03-16 15:50] nibra commented on #14664
@mbabker Can't edit/remove Joomla! CMS #13208 since the GitHub entry is gone. How should that be handled?

[2017-03-16 15:53] brianteeman opened #14672 "Install from Web message"
I was going to do a PR to change NOW to IS as it has now been available for a long time. But then I saw

I have no idea what those terms are or how you can legally agree to a term that you cannot see first.

[2017-03-16 15:53] mbabker commented on #14664
Deleted it in the database.

[2017-03-16 16:02] C-Lodder commented on #14657
PR: https://github.com/joomla/joomla-cms/pull/14673

[2017-03-16 16:03] dgt41 commented on #13340
@Bakual can we do something similar to http://codepen.io/dgt41/pen/BQEgvp in the php part of the date?
If value is bad => value = now ??

[2017-03-16 16:26] astridx opened #14674 "[com_fields] Parameter "Default Users" in Custom Fields"
The Parameter Field "Default value" changed into "Default Users". I think this was done in this PR: https://github.com/joomla/joomla-cms/pull/14404
But I do not understand why?

If I create a Custom Field of the Type Media and insert into the Parameter Field "Default Users" a comma separeted list of User IDs I see no result.

If I create a Custom Field of the Type Media and insert into the Paramet

[2017-03-16 16:28] Bakual commented on #13340
Either "now" or "empty value" would work for me, I don't care. Is it only on JS side where it breaks currently?

[2017-03-16 16:53] brianteeman commented on #14674
Yes it looks like the PR was wrong as it was intended to just solve an issue with the User field type but seems to have effected them all.

@laoneo can you take a look please

@zero-24 @rdeutz can we have a release blocker?

[2017-03-16 17:23] infograf768 opened #14677 "[com_fields] multiplication of strings with same value"
Let's take "Safe html"
we find it 3 times
[code]
same for "Raw", etc.
![screen shot 2017-03-16 at 18 20 56](https://cloud.githubusercontent.com/assets/869724/24009461/5dbdcc0a-0a75-11e7-9a69-558e82d10769.png)

We could just add them once in com_fields.ini and get rid of these redundancies.

@brianteeman @laoneo @Bakual
What do you think?

[2017-03-16 17:25] brianteeman commented on #14677
Agree - we should never have KEYS with the same name in different language files

[2017-03-16 17:33] infograf768 commented on #14677
You mean same value I guess.
But some maybe necessary to let customise depending on languages.
In this case there is no customisation possible (or even desired).

We could for example use
`<option value="safehtml">COM_FIELDS_PARAMS_FILTER_SAFEHTML</option>`
instead of
`<option value="safehtml">PLG_FIELDS_EDITOR_PARAMS_FILTER_SAFEHTML</option>`

[2017-03-16 17:35] brianteeman commented on #14677
oops sorry - was reading on my phone i thought these had the same key

In this case I guess its ok to use a generic string but its something to be careful with for others as they might be translated differently depending on the context - although they wont be here

[2017-03-16 17:36] infograf768 commented on #14677
That's why I wrote

[2017-03-16 17:43] jeckodevelopment commented on #14672
Not sure about which terms we're talking about.
Third party licenses for code included in IFW?

[2017-03-16 17:53] brianteeman commented on #14672
Whatever they are you cannot agree to them without seeing them

On 16 Mar 2017 5:43 p.m., "Luca Marzo" <notifications@github.com> wrote:

[2017-03-16 18:37] #14657 closed

[2017-03-16 18:42] franz-wohlkoenig commented on #14667
@brianteeman which Option you mean? It's the Menu item Type `List of all Tags` without Option hiding Tags. You can hide `Tag Descriptions`, which works.

[2017-03-16 19:00] zero-24 commented on #13201
Thanks for the update @nibra please dokument that behavior and link it back here. 😄

[2017-03-16 19:07] Bakual commented on #14677
I don't think com_fields.ini is the right place to add it. You would have to load com_fields language files when editing the plugin parameters.
You may add it to the en-GB.ini or the lib one (if that one is loaded at that place always). For the filter options, this may make sense as they basically are referring to a library class method.

But there is something wrong for sure as https://github.com

[2017-03-16 19:12] zero-24 commented on #14674
@brianteeman can't you do it yourself? I'm in the same team on gitthub than you are 😄

-> Done 😄

[2017-03-16 19:18] laoneo commented on #14674
Please check #14679, which should show only on the user field the specific text.

[2017-03-16 19:19] #14674 closed

[2017-03-16 19:19] zero-24 commented on #14674
Thanks @laoneo

[2017-03-16 19:23] Bakual commented on #14672
By installing the IFW tab, you don't have to agree to any 3rd party terms anyway.
If you install any software **using** that IFW tab, **then** you may have to agree to terms of the extension you're installing, but that's a completely different story.

I would just remove that part of the string.

[2017-03-16 19:25] zero-24 commented on #14672
Yes but is there a check or message that you need to check / agree on that?

[2017-03-16 19:35] alikon commented on #14672
imo should be managed like all plugins no message at all
guess defualt disabled ?

[2017-03-16 19:55] nibra commented on #13201
Should not be closed before the documentation is created / updated. Otherwise, it will go lost.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13201">issues.joomla.org/tracker/joomla-cms/13201</a>.</sub>

[2017-03-16 21:17] zero-24 commented on #13201
There for we have the doc label (that i have just added)? But you are the leader so you can decide. Thanks.

[2017-03-16 21:41] Bakual commented on #14672
For downloading/installing an extension? There is no check or message of course. Similar to how there is none if you download it using JED itself.

[2017-03-16 23:20] #13201 closed

[2017-03-16 23:20] nibra commented on #13201
Added **caveat** to documentation, see https://docs.joomla.org/J3.x:Upgrading_from_Joomla_3.4.x_to_3.5<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13201">issues.joomla.org/tracker/joomla-cms/13201</a>.</sub>

[2017-03-17 04:30] JanKrohn-Khalibre commented on #14629
Issue still occurring after fresh installation, both on Chrome and Edge.

![image](https://cloud.githubusercontent.com/assets/5867975/24028837/dfaa2116-0b04-11e7-806f-575db4ef4820.png)
![image](https://cloud.githubusercontent.com/assets/5867975/24028845/f1cfa58c-0b04-11e7-96f9-133d812fec39.png)

I wonder why this error happens on the edit module screen, and not on the edit article screen. I'll kee

[2017-03-17 07:24] infograf768 commented on #14677
@Bakual
As far as I could see with debug language, com_fields.ini is always loaded when custom fields are edited. xx-XX.ini is always loaded as well as xx.XX.lib.joomla

[code]
I would prefer to use com_fields ini as we have other strings in the same case. for example these with the value "Use From Plugin", 9 of them...
[code]

As for editor, yep, I really wondered why telephone (to take only one

[2017-03-17 07:42] infograf768 commented on #14677
Or
we could add the "Use from Plugin" in com_fields.ini as it is specific to custom fields
and the others in lib rather than xx-XX.ini as lib is loaded both in front and backend and indeed could be used in the future for other stuff.

[2017-03-17 07:57] Bhola-B2C commented on #14636
How to produce this issue ?
Complete link.... i.e, from where Administrator ?

[2017-03-17 08:16] infograf768 commented on #14677
If used in lib we would have:
[code]

[2017-03-17 08:17] laoneo commented on #14677
What wonders me more is why is the com_fields language file loaded when editing a plugin?

[2017-03-17 08:18] laoneo commented on #14677
@infograf768 the JLIB strings do make sense IMO. Would go that way.

[2017-03-17 08:19] infograf768 commented on #14677
Well, happily it does as we already have global strings there:
Example
[code]

[2017-03-17 08:21] franz-wohlkoenig commented on #14636
- Backend: Open a Tag, Tab `Images` (Screenshot above).
- Frontend: Move Curser over Teaser Image and wait till Title is shown.

[2017-03-17 08:23] laoneo commented on #14677
These strings should only be used when editing a field, but not the plugin.

[2017-03-17 08:29] infograf768 commented on #14677
Indeed, that's why the params above have to go into the lib to be sure they are loaded.
The global strings are not used for the plugins.
Therefore those with "Use from Plugin" can be safely change to a global one in com_fields.ini

Doing patch today

[2017-03-17 08:34] mahagr commented on #13201
True, I didn't find a proper solution for this even after a few tries. It is nice to see it documented, though!

[2017-03-17 08:35] mahagr commented on #13201
@nibra Can you fix the documentation, though.. The value needs to be 0 (turned off) instead of 1 second.

[2017-03-17 09:11] C-Lodder commented on #14629
@JanKrohn-Khalibre did you try with the patch mentioned above?

[2017-03-17 09:16] jeckodevelopment commented on #14672
imho we can change this message.
@brianteeman can you do it, please?

[2017-03-17 09:44] brianteeman commented on #14672
closed as we have a PR #14682

[2017-03-17 09:44] #14672 closed

[2017-03-17 09:47] Bakual commented on #14677
@infograf768 You can't use com_fields because those strings are used in two places. Once when you create/edit a field (here com_fields is loaded). The other place is in the plugin options itself and there com_fields has no business at all. Thus it would fail.
That's what @laoneo and me meant :smile:

[2017-03-17 10:32] infograf768 commented on #14662
we already use
`return JLayoutHelper::render('joomla.content.associations', $items);`

as in other places in core for the same type of display.
Do you mean we have to create another type of layout?

[2017-03-17 10:49] #14677 closed

[2017-03-17 10:49] infograf768 commented on #14677
Closed as we have a patch: https://github.com/joomla/joomla-cms/pull/14683<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14677">issues.joomla.org/tracker/joomla-cms/14677</a>.</sub>

[2017-03-17 10:51] infograf768 commented on #14677
Yep, I understood. That's why I just added one string to com_fields. :smile: <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14677">issues.joomla.org/tracker/joomla-cms/14677</a>.</sub>

[2017-03-17 11:20] nibra commented on #13201
Fixed documentation.

[2017-03-17 11:34] Bakual commented on #14662
The problem is that this JLayout isn't an ideal one. You pass allready generated HTML (the link with a tooltip) and it only creates an list from it.
Ideally you would pass it the needed raw data (url, language) and the JLayout creates the link itself from it.
Also the `JHtml::_('bootstrap.popover');` should be in that JLayout.

I don't think it is possible to change it now without breaking anythin

[2017-03-17 12:18] wilsonge commented on #14662
This is a 3.7 feature. Why can't we do it without breaking things?

[2017-03-17 12:19] brianteeman commented on #14645
Not as "trippy" as this

![trippy](https://cloud.githubusercontent.com/assets/1296369/24042896/f415e19c-0b0b-11e7-8139-4cc71a3bb2b0.gif)

[2017-03-17 12:20] brianteeman commented on #14644
@crystalenka can you confirm that this is no longer an issue in Joomla 3.7 so that this can be closed<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14644">issues.joomla.org/tracker/joomla-cms/14644</a>.</sub>

[2017-03-17 12:34] brianteeman commented on #14636
Yes that is the correct behaviour - look at the generated source<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14636">issues.joomla.org/tracker/joomla-cms/14636</a>.</sub>

[2017-03-17 12:56] franz-wohlkoenig commented on #14636
@brianteeman in Backend its called `Caption`, so this is something at ie. Bottom of Picture to show user additional Infos without hover. Mean: The Fieldname `Caption` is wrong.

[2017-03-17 13:17] alvarodp opened #14686 "Login robots tag not present"
### Steps to reproduce the issue

1. Create menu item for "Login form" (alias: login)
2. In "Metadata" tab, set "Robots" field to "No index, no follow"
3. Go to http://www.example.com/login (Created item)
4. View source

### Expected result

`<meta robots=robots content="noindex, nofollow"/>` should be present.

### Actual result

It is not.

### System information (as much as possible)

- Multili

[2017-03-17 14:12] infograf768 commented on #14662
is'nt it similar to
https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_content/helpers/html/contentadministrator.php#L32

[2017-03-17 14:29] Bakual commented on #14662
The JLayout that is currently used here isn't a new one, it exists since Joomla 3.1 (https://github.com/joomla/joomla-cms/pull/1178). You can't break that one.

We could create a new Jlayout for the association manager that isn't used anywhere else (and put it itno the component folder pretty please) or use the existing JLayout as we currently do and refactor the JLayout in future to make it more

[2017-03-17 14:55] nibra commented on #13382
Since the form fields do not work with JLoader (due to the folder name being `form/fields` instead of `form/field`), the JForm field class must be loaded manually, if (and only then) the filename of a field in any additional field path matches the filename of core field. In the case from this issue, the field class should look like

[code]
<hr /><sub>This comment was created with the <a href="http

[2017-03-17 14:57] #13382 closed

[2017-03-17 15:18] Spudley opened #14691 "User Profiles plugin creates "dob" records, even when the DB field is not active"
I was looking at the records in my `##__user_profile` table recently and noticed there were records there for the dob field, even though that field has always been disabled on my system.

### Steps to reproduce the issue

* Set up the user profile plugin and disable all fields except Terms Of Service.
* Now create a few user accounts.

### Expected result

The new accounts should only have a singl

[2017-03-17 15:18] ysrostov opened #14692 "If custom field is added in the backend with option "required", then adding/editing an article in frontend becomes impossible - on submit we get en error message "Warning Field required: NameOfField""
### Steps to reproduce the issue
http://take.ms/UELYZ
https://monosnap.com/file/ro44ho1KFf21uwugs7lL51kRoHcZFu

the custom field in this case is a newly added field when some articles are already published

[2017-03-17 15:22] maxidabid opened #14693 "Configuración de componente easy Staging version 1.2.2 en joomla 3.6.5"
### Steps to reproduce the issue
Al ingresar a la interfaz del componente y configurar los parámetros que son necesarios al presionar el botón de tes sobre el Rsync, se visualiza lo siguiente:

### Expected result
![screen shot 2017-03-17 at 15 18 31](https://issues.joomla.org/uploads/1/997d3e25a4d3fcaa7e4b49f14951e2ba.png)

### Actual result
Con lo cual esto queda en un loop infinito  en el cual

[2017-03-17 15:28] ptrouw opened #14695 "contact form with email address containing apostrophe doesn't work"
We have a user with following valid email address with apostrophe: jean.o’malley@xyz.com
This email address is not allowed in Joomla. I think the code should be changed to accept this.
I did fix it temporarily in core file, but this should be changed in a next release I think!

/libraries/joomla/mail/helper.php and replace:
$allowed = 'a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-';
..with:
$allowed = 'a-zA-Z0-9

[2017-03-17 15:36] jeckodevelopment commented on #14693
Hi,
This repository is ONLY for reporting issues with the Joomla! CMS.

For user support issues, please go to: https://forum.joomla.org/ or to the developer of the extension you're using.
Thanks!

[2017-03-17 15:36] #14693 closed

[2017-03-17 15:47] coolcat-creations opened #14697 "Frontend Submission form: Predefined Category is not selected"
### Steps to reproduce the issue
- Create Category "A"
- Create a Field Group "Example" for Articles
- Create Field "Testfield" assigned to Group "Example" and to Category "A"
- In Joomla! Global config allow Article Content Creation and Editing Custom Fields for Registered Users.
- Create a Menüitem for submitting Content and it´s set in the options of the menütype to automatically post into Cate

[2017-03-17 16:05] brianteeman commented on #14697
Cannot confirm with current staging

<img width="353" alt="screenshotr16-04-58" src="https://cloud.githubusercontent.com/assets/1296369/24051899/89aaeb84-0b2b-11e7-8d58-af7b53786483.png">
<img width="564" alt="screenshotr16-05-06" src="https://cloud.githubusercontent.com/assets/1296369/24051900/89bfe73c-0b2b-11e7-8149-366bec260511.png">

[2017-03-17 16:07] brianteeman commented on #14697
Sorry @coolcat-creations i didnt mean to close it. please can you confirm it is indeed fixed in current staging

[2017-03-17 16:35] coolcat-creations commented on #14697
Maybe it has something to do with the Usergroup then. I have the Usergroup Registered and creation allowed?

[2017-03-17 16:38] brianteeman commented on #14697
My test was with the super user. But i expect that it's something that has
already been fixed so please can you test with current staging to remove
that possibility.

On 17 Mar 2017 4:35 p.m., "coolcat-creations" <notifications@github.com>
wrote:

[2017-03-17 16:39] nibra commented on #13382
Added to documentation:
https://docs.joomla.org/Creating_a_custom_form_field_type

[2017-03-17 16:54] tobias-wedel opened #14700 "Textarea with a lot characters produce error"
### Steps to reproduce the issue

I build my own plugin and i need to save a lot (And i mean a lot!) text in a textarea. It seems that if i save to much text that this error occur: **Error decoding JSON data: Control character error, possibly incorrectly encoded**

I tried it with different extensions like modules and put a lot of text in a textarea. This error occur always.

### System informatio

[2017-03-17 16:57] brianteeman commented on #14700
How much is a lot? Is it more than the size of the database field?

On 17 Mar 2017 4:54 p.m., "Tobias Wedel" <notifications@github.com> wrote:

[2017-03-17 17:02] tobias-wedel commented on #14700
I just checked it out and it seems that its more than the size of the database field. It cuts the params value. Is there a way to handle the size?

[2017-03-17 17:04] infograf768 opened #14701 "[com_fields] Usergrouplist params issue"
This screenshot explains it more than a thousand words

![screen shot 2017-03-17 at 17 58 12](https://cloud.githubusercontent.com/assets/869724/24054181/9d1c83c0-0b3b-11e7-89d1-3b58e3dbe169.png)

Multiple can't apply here and we need specific Default Usergroups I guess a bit similar to the User field.

@laoneo @Bakual

[2017-03-17 17:08] brianteeman commented on #14701
why cant it be multiple?

[2017-03-17 17:10] infograf768 commented on #14695
Please read

https://en.wikipedia.org/wiki/Email_address#Local-part<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14695">issues.joomla.org/tracker/joomla-cms/14695</a>.</sub>

[2017-03-17 17:19] nibra commented on #14664
Made the JBS Team aware (call to action), also working on it myself. This can be closed.

[2017-03-17 17:21] #14664 closed

[2017-03-17 17:33] #14591 closed

[2017-03-17 17:33] infograf768 commented on #14591
Closing as there was a correct reply<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14591">issues.joomla.org/tracker/joomla-cms/14591</a>.</sub>

[2017-03-17 17:38] infograf768 commented on #14701
you don't choose Yes and No And sUse plugin together.

We should have a field where we list usergroups ids and no default value: look at user field

[2017-03-17 17:41] dgt41 commented on #14701
@infograf768 the label refers to the field not the select tag next to it, so yes you can have multiple usergroups (it's not multiple values like: yes, no,none)

[2017-03-17 17:41] infograf768 commented on #14701
EDIT:
In fact it is only the DEFAULT VALUE which should be changed as done in User field.
It indeed can be multiple.

[2017-03-17 17:42] infograf768 commented on #14701
![screen shot 2017-03-17 at 18 42 11](https://cloud.githubusercontent.com/assets/869724/24055721/79f8eb30-0b41-11e7-9cf6-d770e250796e.png)

[2017-03-17 17:43] marcochirienti opened #14703 "UX - Misleading delete button text"
The JToolbarHelper::deleteList method uses as default text the JTOOLBAR_DELETE language key.
The language key JTOOLBAR_DELETE is translated as "Delete".

In core components the language key used for deleteList buttons is JTOOLBAR_EMPTY_TRASH.
The language key JTOOLBAR_EMPTY_TRASH is translated as "Empty trash".

As a non-native English speaker, I think "Empty trash" is misleading.
It sounds to me

[2017-03-17 17:46] infograf768 commented on #14573
@laoneo Please look.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14573">issues.joomla.org/tracker/joomla-cms/14573</a>.</sub>

[2017-03-17 17:53] infograf768 commented on #14703
As far as I know we do have  a difference.
We use `JTOOLBAR_DELETE` when there is no trash for the items i.e. deleting directly.
Example: `administrator/index.php?option=com_installer&view=updatesites`
or
`administrator/index.php?option=com_languages&view=overrides`

[2017-03-17 18:04] Quy commented on #14591
I tried different searches when `Category` is selected in the dropdown and always `No Matching Results `. I don't understand what it is searching for. Please provide example.

[2017-03-17 18:06] infograf768 commented on #14701
And in this case (when corrected as User), and looking at the code, Multiple is useless. It is no use in the params in the plugin as in the specific created field.

We should have instead of the 2 fields, something like
[code]
and
[code]

[2017-03-17 18:10] brianteeman commented on #14701
Multiple refers to the USER selecting multiple usergroups when this field is displayed

[2017-03-17 18:13] brianteeman commented on #14701
<img width="565" alt="screenshotr18-13-08" src="https://cloud.githubusercontent.com/assets/1296369/24056930/65b9e204-0b3d-11e7-8e6b-20329578f39e.png">

[2017-03-17 18:34] marcochirienti commented on #14703
I think that the difference between items that can be trashed and items that can't be trashed is already clear.

For items that can be trashed, there is another button and is the "Trash" button (JToolbarHelper::trash).
The JToolbarHelper::trash method uses the JTOOLBAR_TRASH language key.
The language key JTOOLBAR_TRASH is translated as "Trash".

In core components the default behaviour in list vi

[2017-03-17 18:59] infograf768 commented on #14701
ok. now what is the default value for?

[2017-03-17 19:46] AlexRed commented on #14692
you need to see the "Fields" Tab<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14692">issues.joomla.org/tracker/joomla-cms/14692</a>.</sub>

[2017-03-17 20:37] leifneve opened #14707 "ReCaptcha fails behind proxy"
### Steps to reproduce the issue
Configure host with a proxy server.

### Expected result
ReCaptcha should still work normally.

### Actual result
ReCaptcha fails. The JHttpResponse->body method strips off the proxy server headers but leaves intact the headers from the originating server. So ReCaptcha, which needs a clean JSON response in the body is unable to parse the response and fails.

### Sy

[2017-03-17 20:47] brianteeman commented on #14707
Did you set the proxy in joomla global configuration?

[2017-03-17 20:48] mbabker commented on #14707
This is fixed for curl in 3.7... https://github.com/joomla/joomla-cms/pull/13221

[2017-03-17 21:02] leifneve commented on #14707
Yes.

In Global Configuration -> Server:

Enable Proxy: Yes

Proxy Host: 130.14.55.36

Proxy Port: 3128

On 03/17/2017 04:47 PM, Brian Teeman wrote:

[2017-03-17 21:08] brianteeman commented on #14707
As @mbabker has pointed out this has been solved for the next release 3.7

[2017-03-17 21:08] #14707 closed

[2017-03-17 21:14] leifneve commented on #14707
Why did you guys close this? This has nothing to do with curl. How do I reopen it?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14707">issues.joomla.org/tracker/joomla-cms/14707</a>.</sub>

[2017-03-17 21:17] mbabker commented on #14707
The cURL transport that populates the body was adjusted as noted in the linked item to better handle proxy responses.

[2017-03-17 21:19] leifneve commented on #14707
I guess what you are saying is that curl is used to implement JHttpGet and so this problem should be fixed. That's great news if so.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14707">issues.joomla.org/tracker/joomla-cms/14707</a>.</sub>

[2017-03-17 23:14] slibbe opened #14708 "error in query when using old postgresql version with setup multi-language site"
### Steps to reproduce the issue
Setting up new multi-language site (5 languages), with PostGresQL 8.4.10.

### Expected result
Joomla multi-language site.

### Actual result
Joomla multi-language site with post-install errors that cannot be fixed.

Error

ERROR: column "a.title" must appear in the GROUP BY clause or be used in an aggregate function LINE 1: SELECT a.id, a.title, a.checked_out, a.c

[2017-03-17 23:30] slibbe commented on #14708
When the same is tested against current staging a similar but much shorter error occurs:

Error

ERROR: column "a.title" must appear in the GROUP BY clause or be used in an aggregate function LINE 1: SELECT a.id, a.title, a.checked_out, a.checked_out_time, a.... ^
An error has occurred.

With PHP 5.6 and the old PostgreSQL 8.4.10 as well.<hr /><sub>This comment was created with the <a href="https:

[2017-03-17 23:32] slibbe commented on #14708
Text may be unclear, sorry. I tested staging against the setup with the old postgresql, not with the recent one.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14708">issues.joomla.org/tracker/joomla-cms/14708</a>.</sub>

[2017-03-18 06:20] laoneo commented on #14701
The default value preselects some ustegroups when the field is the first time visible when editing an article. If the field got emptied on an article save, then it reverts to the default value. Same behavior as everywhere in Joomla.

[2017-03-18 07:02] infograf768 commented on #14701
Ok, this is what I found.
If one usergroup id is entered in default value, then the chosen usergroup is indeed showing whether Multiple is set to Yes or No.

So, one can't enter in the default value more than one id.

My suggestion is to use specific strings for the default value explaining this.

[2017-03-18 07:49] infograf768 commented on #14655
Not only the sort, but also the language filter in searchtools should not display.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14655">issues.joomla.org/tracker/joomla-cms/14655</a>.</sub>

[2017-03-18 09:08] brianteeman commented on #14708
Issues with this old version of postgres have come up before. I suggested that we updated our system requirements to postgres 9.x

To be honest thee are so few postgres users in total and even less (if any) on such an old version my 2c is that this isnt worth volunteer time to fix

[2017-03-18 09:24] ptrouw commented on #14695
Yes I have read it. But what should I notice. So the apostrophe is allowed. Valid email addresses are: #!$%&'*+-/=?^_`{}|~@example.org
So back to my original remark, Joomla should accept this apostrophe on email form.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14695">issu

[2017-03-18 10:03] #14468 closed

[2017-03-18 10:03] wilsonge commented on #14468
Fxied

[2017-03-18 11:22] Sukinoz opened #14719 "Search by Fields doesn appears"
### Steps to reproduce the issue

Create a search module or a smart search module

### Expected result
As said in https://docs.joomla.org/J3.x:Adding_custom_fields  "Can you search custom fields?Short answer: Yes, you can."
Available to search by custom fields

### Actual result

I cant find this option

### System information (as much as possible)

joomla 3.7

### Additional comments

maybe it is

[2017-03-18 11:46] Bakual commented on #14719
It's not an option, just search for a value you stored in a field and it should find the corresponding item (eg the article).

[2017-03-18 12:01] mbabker commented on #14708
7 systems running PostgreSQL 8.4 have pinged the stats server in the last week.  So sadly, there are people running it it seems.

[2017-03-18 13:58] wilsonge commented on #14629
This is now working again for me in the 4.x branch after doing some fixes today. Please post here if it's still an issue for you :)

[2017-03-18 13:58] #14629 closed

[2017-03-18 14:16] wilsonge commented on #14170
I've fixed the plugin event. @csthomas can you look into the database queries here. there's a few places that is affected by `custom_data` and `system_data` (such as in https://github.com/joomla/joomla-cms/issues/14409)

[2017-03-18 14:21] yasirunilan commented on #14667
For what is this maximum character amount is given? is it for the description?

[2017-03-18 14:23] tonypartridge commented on #14630
@nileshprasad137 the media manager is getting a full re-work for 3.8 and this type of change will / can be looked into more detail then.

[2017-03-18 14:27] franz-wohlkoenig commented on #14667
@yasirunilan Characters count for Discreption, point Curver above `Maximum Characters` you get Tooltip.

[2017-03-18 14:38] yasirunilan commented on #14655
so can we remove the language filter in the searchtools??

[2017-03-18 14:40] yasirunilan commented on #14667
The word maximum characters doesn't give that idea, isn't it?

[2017-03-18 14:45] franz-wohlkoenig commented on #14667
Thats what Tooltips are for but a polished UI would reduce looking at Tooltips.

[2017-03-18 15:19] photodude commented on #14708
I question when the last time we tested (or had testers using) the minimum of PostgreSQL 8.3.18
recommended is PostgreSQL 9.1+ even our test suit defaults to PostgreSQL  9.1 https://github.com/travis-ci/travis-cookbooks/tree/a68419ebe0ce92876a70534cd145ddd931d0feee/ci_environment/postgresql

The last PR I know of which was discussing the option to raise the minimum version of PostgreSQL is https:/

[2017-03-18 15:31] franz-wohlkoenig commented on #14479
closing cause PR

[2017-03-18 15:31] #14479 closed

[2017-03-18 15:33] yasirunilan commented on #14605
Issue can be confirmed.

[2017-03-18 16:00] yasirunilan commented on #14605
How about this sort of a fix? any feedback?

![3](https://cloud.githubusercontent.com/assets/9814784/24073727/f72a7ba6-0c21-11e7-8f79-f4ff38e7b09b.PNG)

[2017-03-18 16:36] tonypartridge opened #14734 "Default ReCaptcha"
### Steps to reproduce the issue
View: Global Config -> Site -> Default ReCaptcha. If no plugins are enabled it shows - None Selected -. This is misleading since they cannot select a ReCaptcha Plugin.

I suggest we also override the getInput method and change noticed, do not render a list and instead output a message:

No ReCaptcha plugins enabled/installed.

Or similar.

Thoughts?

#UX ?

[2017-03-18 16:40] brianteeman commented on #14734
It's selected in the plugin. Also see the toolkit

On 18 Mar 2017 4:37 p.m., "Tony Partridge" <notifications@github.com> wrote: