[2017-03-29 08:51] ciar4n commented on #14201
This should only be an issue when resizing the browser window. The issue should not be present on load with smaller screens (eg. resize the browser window and then refresh). I am not sure if browser resizing is considered normal behavior and should be considered?

I could extend #13586 to include this field however that comes with it's own issues (#14975).

[2017-03-29 08:56] Magnytu2 commented on #14978
Simply release the "contact plug" component. Make it more flexible to make other types of cards. Example: recipe cards, catalogs, etc ...<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14978">issues.joomla.org/tracker/joomla-cms/14978</a>.</sub>

[2017-03-29 09:22] Jnyawira opened #14984 "Fatal error: Call to undefined method Joomla\Registry\Registry::loadJSON() in /hermes/walnaweb02a/b1950/pow.kttcadmin/kttc.ac.ke/plugins/system/jdownloads/jdownloads.php on line 39"
Hello

I was trying to upgrade my joomla cms from version 2.5.28 to 3.5.1 and in the process this message came up upon completion.Kindly any assistance to resolve this as I have not really been able to sort this out.I can't access my joomla back end to disable the mention plugin.

Any assistance will be be of great help for me to resume normalcy.

Note: I am partly new to this.

### Actual result

[2017-03-29 09:38] brianteeman commented on #14984
You will need to disable the plugin directly in the database.

I am closing this here as it is not the correct place to ask for support. Please use the forum https://forum.joomla.org

[2017-03-29 09:38] #14984 closed

[2017-03-29 09:40] brianteeman commented on #14967
@dgt41 whether it is fixing the typo or removing the lines can you do a PR for it please

[2017-03-29 09:42] Jnyawira commented on #14984
thanks

[2017-03-29 09:49] AlexRed commented on #13397
Sorry...  but where can I set Home Directory to "yes"  ?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13397">issues.joomla.org/tracker/joomla-cms/13397</a>.</sub>

[2017-03-29 09:52] laoneo commented on #13397
This issue can be closed as the home option got removed with pr #13893.

[2017-03-29 09:54] brianteeman commented on #13397
Closed as requested

[2017-03-29 09:54] #13397 closed

[2017-03-29 09:56] nikolayt opened #14987 "[com_fields] MySQL migration file 3.7.0-2016-08-29 missing if exists clause"
The file 3.7.0-2016-08-29.sql is missing IF EXISTS clause on CREATE TABLE #__fields_categories

[2017-03-29 10:32] zero-24 commented on #14987
@nikolayt can you send this change as pull request? Than this change is linked to your account :smile:

https://docs.joomla.org/Using_the_Github_UI_to_Make_Pull_Requests

[2017-03-29 12:57] mbabker commented on #14923
The problem is though archived articles are in essence only accessible through search, they fall off the site navigation.  That might be the behavior you want in some cases but not all.

Going back to that Team News change, I actually tried archiving the category first leaving the articles published.  That broke the routing (that's a bug on its own IMO).  Re-published the category, archived articl

[2017-03-29 13:05] brianteeman commented on #14920
Closed as we have a PR for testing #14989

[2017-03-29 13:05] #14920 closed

[2017-03-29 13:13] brianteeman commented on #14923
And yes I think it is another bug that the archive view doesnt have any category filters

[2017-03-29 14:20] Bakual commented on #14935
@dgt41 You're right, that did fix it for me both for custom fields and when specified in the XML.
I'm closing this issue since there is a PR.

[2017-03-29 14:23] PhilETaylor commented on #14935
Please reopen as #14520 DOESNT fix the reported issue

[2017-03-29 14:27] PhilETaylor commented on #14935
PLEASE watch this video http://screenshot.myjoomla.io/232g3O1C0K0B

It seems many of you in this thread misunderstand the reported issue.

#14520 DOESNT fix the reported issue.

[2017-03-29 14:33] zero-24 commented on #14935
Thanks reopening.

[2017-03-29 14:49] dgt41 commented on #14935
@PhilETaylor out of curiosity, what are the names of the fields in your test?

[2017-03-29 14:53] brianteeman commented on #14935
@dgt41 doubt that matters as I can replicate it

[2017-03-29 14:55] dgt41 commented on #14935
@brianteeman the reason that I'm asking this is because the solution in #14520 is based on the names of the fields...

[2017-03-29 15:07] PhilETaylor commented on #14935
for the record then, my custom fields editors were named

 - editor1
 - editor2

However, if you are expecting things to work based on user inputted field names, then we have lost already and we should all just pack up and go home. :-)

I have tested again and the custom field names make no difference to the issue reported.

[2017-03-29 15:16] Bakual commented on #14935
@PhilETaylor That's exactly the issue I was talking about as well and which got fixed for me. After clearing browser cache of course since the JS has changed.
The only difference I see is that I named my field just "editor" and I only used one custom editor field.

I can try again later this evening when kids are sleeping.

[2017-03-29 15:27] AlexRed commented on #11882
I can confirm the problem in 3.7.0-stagin<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11882">issues.joomla.org/tracker/joomla-cms/11882</a>.</sub>

[2017-03-29 15:30] PhilETaylor commented on #14935
Im now home on a different mac.

This is not a cached issue. This is not fixed by #14520 with caching disabled.

This happens with even a single custom editor field called "editor" - the results of the buttons in the bottom row are injected to the wrong editor.

tested just now on the very latest 4ba67b7de454befe851da3d120773d0bbd4855ea

[2017-03-29 15:34] PhilETaylor opened #14990 "com_fields custom editor field page break not working"
### Steps to reproduce the issue

install joomla-cms/staging @ 4ba67b7de454befe851da3d120773d0bbd4855ea
(Tested WITH and WITHOUT PR #14520 applies - makes no difference)

Add a single Editor custom field with name "editor" and otherwise default configuration

Create a new article, go to the editor on the fields tab,

Click Page Break

Click Insert Page Break

### Expected result

That a page break

[2017-03-29 15:34] PhilETaylor commented on #14935
If interested here is another multiple editors on page bug reported just now #14935

[2017-03-29 15:34] PhilETaylor commented on #14935
If interested here is another multiple editors on page bug reported just now #14990

[2017-03-29 15:41] Quy opened #14991 "[com_fields] Undefined index: tag"
### Steps to reproduce the issue
Go to Contents > Fields.
Create a text field.
In the Fields list, click Check All checkbox.
Click Batch button.
Select from the dropdowns or leave it as it.
Click Process button.

In the PHP error log:

[2017-03-29 15:45] AlexRed commented on #14990
I can confirm the problem<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14990">issues.joomla.org/tracker/joomla-cms/14990</a>.</sub>

[2017-03-29 15:50] Bakual commented on #14935
@PhilETaylor Can you try what happens if you set "Show Buttons" to "Yes" in the editor field plugin? Looks like that setting doesn't work properly with TinyMCE. By default ("Use Plugin") it would be off which would mean no buttons at all, but TincyMCE shows them still but broken.
Codemirror properly follows that setting.

So there is another bug in Tiny which needs fixing, but not sure how much re

[2017-03-29 15:54] Bakual commented on #14990
#14520 does fix that one for me as well and it also only happens with TinyMCE (Codemirror is fine).
Make sure to have "Show Buttons" enabled in the editor fields plugin as that seems to be an issue with TinyMCE as well.

[2017-03-29 15:56] PhilETaylor commented on #14990
Why should I (a dump user) have to enable "Show buttons" to get a feature to work as expected?

This is a "out of the box" installation of Joomla. The features should work without me going and fudging my settings.

[2017-03-29 16:11] PhilETaylor commented on #14990
Simply stating that something works for you, under a totally different set of circumstances, doesnt mean that the reported issue is fixed or invalid... it means you did not test what was reported as an issue!

So, testing with 4ba67b7de454befe851da3d120773d0bbd4855ea, with #14520 applied, an editor called editor, a clean cache, **I CAN STILL REPLICATE THE REPORTED ISSUE!**

[2017-03-29 16:12] PhilETaylor commented on #14935
So, testing with 4ba67b7de454befe851da3d120773d0bbd4855ea, with #14520 applied, an editor called editor, AND with setting "show buttons" to Yes (as opposed to 'use from plugin' default), a clean cache, **I CAN STILL REPLICATE THE REPORTED ISSUE!** (this issue, and also #14990)

[2017-03-29 16:15] PhilETaylor commented on #14935
I can confirm that with CodeMirror enabled (instead of TinyMCE) this issue doesn't happen. However thats probably because the buttons for the code mirror editor are those under the editor - and for tinymce they are integrated into the tinymce interface.

[2017-03-29 16:15] PhilETaylor commented on #14990
I can confirm that with CodeMirror enabled (instead of TinyMCE) this issue doesn't happen.

[2017-03-29 16:52] cokencorn commented on #14791
I'm planning to implement Google's recent invisible recaptcha on the login button, you will still be able to turn it off or set failed login count for it to start checking. What do you think? I believe it's a good alternative to 2FA. (NOT A REPLACEMENT)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.jooml

[2017-03-29 16:56] Simon-Davies commented on #14791
I personally think implementing Google's invisible recaptcha is a great idea especially if it can be toggled on and off for those who do not want to use it.

[2017-03-29 17:07] Bakual commented on #14990
I haven't said you should have to, I asked you to try if that helps so we can narrow down the issue.
I agree with you that the default value for this parameter should be "Yes", as I would expect the buttons to be enabled by default. But that's a completely different issue (and an easy one to sovle actually)

I can't follow you. I have tested exactly the same (actually also additional scenarios) an

[2017-03-29 17:09] Bakual commented on #14935
That's strange. I really wonder where the difference is between your installation and mine.

[2017-03-29 17:10] PhilETaylor commented on #14935
As my videos clearly show - Im resetting hard my git, installing from scratch, and then replicating the issues....

[2017-03-29 17:15] Bakual commented on #14935
My installation is pretty much the same. It's an installation only a few days old with sample testing data and updated to current staging.
I can install it fresh this evening but I honestly doubt this will make a difference.

[2017-03-29 17:17] dgt41 commented on #14935
@PhilETaylor try saving the tinyMCE plugin!

[2017-03-29 17:23] PhilETaylor commented on #14935
by "tinyMCE plugin" I assume you mean Extensions -> Plugins -> `Editor - TinyMCE`

Testing with 4ba67b7, with #14520 applied,

I did

 - Extensions -> Plugins -> `Editor - TinyMCE` -> save
 - Hard clear google chrome cache
 - Open Google Chrome Inspector, Netwrok Tab, Check Disable Cache

No difference - same issue as reporting in the opening comment of this issue (Pagebreak issue #14990 is also n

[2017-03-29 17:23] PhilETaylor commented on #14935
hmmm @mbabker what was that issue with the Patch tester where it doesnt apply patches right?

[2017-03-29 17:24] NunoLopes96 opened #14992 "[4.0] com_banners ordering by drag"
### Steps to reproduce the issue

Administrator -> Sidebar menu -> Component -> Banners -> Banners

If you have more than 1 banners and try to order them by drag an error will pop in the console, although this saves the order and there is no errors visible.

### Expected result

No error in console

### Actual result

![screenshot from 2017-03-29 18-16-20](https://cloud.githubusercontent.com/asset

[2017-03-29 17:25] mbabker commented on #14935
It doesn't patch files.  It replaces files based on the contents of the remote branch.  So if that branch is nowhere close to matching staging, that would cause side effects too.

[2017-03-29 17:30] Fedik commented on #14935
no need to save, no need to reinstall 😄
I can confirm the bug also, and I think I know the reason, but I will tell nothing :neckbeard:

well, if I get some free time I will make a fix

@Bakual try to add next fields in article XML, and you will get the same bug 😉
[code]

[2017-03-29 17:47] dgt41 commented on #14935
@Fedik but you already told us 🤔

[2017-03-29 18:09] N6REJ commented on #11882
That explains alot!

[2017-03-29 18:48] Bakual commented on #14935
@Fedik Ah I see, if "hide" isn't specified, then the bug is still present.
My component has that specified and that's why it was fixed for me.
I also had one button set to hide (due to doing testing) in my editor field which is the difference to the setup of @PhilETaylor.

[2017-03-29 19:26] zero-24 commented on #14992
@NunoLopes96 did you close this for a reasone or because you fixed the problem?

[2017-03-29 19:27] zero-24 commented on #14992
or accidentally?

[2017-03-29 20:09] YoKoGFX commented on #14791
Yeah, the new invicible recaptcha would be great for that :)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14791">issues.joomla.org/tracker/joomla-cms/14791</a>.</sub>

[2017-03-29 20:17] NunoLopes96 commented on #14992
Hello @zero-24 ! I found this issue with outdate files, after pulling files and updated my branch i got a bigger error:

![screenshot from 2017-03-29 21-15-15](https://cloud.githubusercontent.com/assets/20955884/24474536/d67d6174-14c4-11e7-8364-ada9217a4526.png)

This is happening because there is no banners.php in administrator/component/com_banners

I'm looking more on this issue and will report

[2017-03-29 20:31] dgt41 commented on #14992
You have to reinstall Joomla

[2017-03-29 20:54] NunoLopes96 commented on #14992
@dgt41 I reinstalled and still have the same problem, can you check?

[2017-03-29 21:10] brianteeman commented on #14950
Closing as we now have a PR for testing - thanks see #14993

[2017-03-29 21:10] #14950 closed

[2017-03-29 21:37] jdolinski commented on #14950
@brianteeman Thanks - the Travis CI failed because of the dependency on AWS memcached module. Do you need me to work through that? This made me realize I also need to test this pull on a server using the standard PHP memcached module. I will do this tomorrow.

[2017-03-30 00:13] asika32764 opened #14994 "[Proposal] A new Joomla.Http client script"
A new idea when I'm writing https://github.com/joomla/joomla-cms/pull/14952 , it is a proposal to try creating a `Joomla.Http` object to make our frontend programming more modern.

I dont't think it is necessary for Joomla CMS now since our controller didn't handle PUT and DELETE methods, but I still note a new idea here to consider maybe some developers may need this to call 3rd party APIs.

## I

[2017-03-30 08:30] laoneo commented on #14872
Is not a bad idea.

[2017-03-30 08:34] laoneo commented on #14865
A solution for the initial issue description can be to fall back to the language of the site, when the item doesn't have a language property.
The issue discovered by @Bakual and @brianteeman should probably be solved the same way as with categories, with a page reload when the language changes and some intelligence when a new article is created.

[2017-03-30 08:39] laoneo commented on #14753
A solution can be to use a [second layout for the inline fields](https://github.com/joomla/joomla-cms/pull/13814#issuecomment-276890592) or to switch to a template engine (eg. Mustache) like DPFields has and was included in the early stages of com_fields, more information why and why not can be found here https://github.com/joomla-projects/custom-fields/pull/135.

[2017-03-30 08:42] infograf768 commented on #14865
Not sure about this one. I explain:
On a monolanguage site where multiple languages are installed, a user may look at the site in a specific language (depending on her/his choice) **for the UI** but the contents are the same.

[2017-03-30 08:43] Bakual commented on #14865
@infograf768 On a site with only one language, the user doesn't have fields assigned to specific languages (since there are no other content languages), so it's no issue at all.

[2017-03-30 08:44] laoneo commented on #14865
As long as the item (article) has a language property, then nothing changes, but as soon as the item has no language property, then the language from the site is used. That was my intention.

[2017-03-30 08:45] Bakual commented on #14753
I don't think it needs a second layout. The current one just has to much in it and that `<dd>` tag should go to the calling layout instead.

[2017-03-30 08:49] infograf768 commented on #14865
@Bakual

Not true, now, when someone install a language, (and although I was against it), a content language is always created. Even if it is not published, it will display in the Language field.
Therefore someone may assign a language to a field or fieldgroup on a monolanguage site.
Let's not forget that multiple languages can be installed on a monolanguage site and they are not used the same way

[2017-03-30 08:56] laoneo commented on #14991
Can you please test pr #14995 if it fixes the issue?

[2017-03-30 09:09] laoneo commented on #14927
As @brianteeman already said, this media manager view is loaded also when you edit an article and want to change the images of an article, so the user experience is crap there as well. But there is some hope. For Joomla 4 we are going to revamp the media manager and are working close with the UX team (by the way, UX is looking for some people, perhaps you might consider to join them), so hopefully

[2017-03-30 10:29] schnuti commented on #14917
I had a short look and I would say those parameters should be removed.
width and height are set in the editor form field with defaults: width= 100%, height=500  (px)
That is used in the article text edit.

[2017-03-30 10:38] Bakual commented on #14865
Yes, of coursse the user can misconfigure a field, but honestly then I would also expect the field to be filtered by the language even on a site that is not set up as multilingual.

[2017-03-30 11:23] franz-wohlkoenig opened #15001 "[3.7] Multi.-Lang: Unable to install Chinese Simplified Lang."
### Steps to reproduce the issue
Warning after install Muliti-Lang.:
![bildschirmfoto 2017-03-30 um 13 09 27](https://cloud.githubusercontent.com/assets/8235763/24501953/fa180a1c-154b-11e7-97c7-b53548fd6100.JPG)
### System information
Joomla! 3.7.0-rc1
macOS Sierra, 10.12.3
Firefox 52.0.1 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-30 11:32] alikon commented on #15001
did yuo experieneced this issue  only with "Chinese Simplified Lang" ?

[2017-03-30 11:38] uglyeoin commented on #14972
In some cases the site is a blog, so in that instance you would not want a root category called blog.  It can remain closed as I do not have a better solution, but in terms of UX this is a pretty big fail in my opinion.

[2017-03-30 11:53] brianteeman commented on #14972
Please explain why this is a fail.

On 30 Mar 2017 12:38 p.m., "uglyeoin" <notifications@github.com> wrote:

[2017-03-30 11:57] uglyeoin commented on #14972
I don't believe a new user will intuitively be able to work this out.  I have been using Joomla! since 2008 and I didn't know this.  Perhaps I am wrong, but I think a user would expect to be able to choose "all categories" from their menu item.  Maybe it is something for @cpfeifer to look at and do some user research as 1 persons [my] opinion is hardly evidence.

My point is that it doesn't matter

[2017-03-30 12:18] franz-wohlkoenig commented on #15001
Yes, also installed english-gb, german-at and french

[2017-03-30 12:22] PhilETaylor commented on #14927
Yeah, I heard the same story for Joomla 3, never happened...

The same UX team headed by @cpfeifer who told me I was "expecting too much of him" to make simply timely decisions about "basic" UX issues months ago... yeah, I've lost all hope in that team - the real people that know about UX have already abandoned that team, like @

Absolutely no chance. I'm a developer, not a UX expert. Although I k

[2017-03-30 12:35] Bakual commented on #15001
Apparently, the chinese package is corrupt.
@infograf768 Do you know where that comes from?

[2017-03-30 12:40] rjcf18 commented on #14757
Regarding this improvement will this only be approached after the UX update? Or there can be a PR implementing this befor that?

[2017-03-30 12:51] #14914 closed

[2017-03-30 12:54] PhilETaylor commented on #14935
ok I have manually applied every change in #14520 to f45c0da5ba84ef7538e13879a1b096ed9e05c24d and I can still replicate the reported issue

Im 100% convinced #14520 doesnt resolve this reported issue

[2017-03-30 12:54] PhilETaylor commented on #14990
ok I have manually applied every change in #14520 to f45c0da5ba84ef7538e13879a1b096ed9e05c24d and I can still replicate the reported issue

Im 100% convinced #14520 doesnt resolve this reported issue

[2017-03-30 13:46] Quy commented on #14991
Yes. Please fix for Field Groups too. Sorry I should have checked it before.
[code]

[2017-03-30 13:47] infograf768 commented on #15001
I found the issue.
The install.xml <name> should not contain Chinese characters in 3.7.0
<name>简体中文</name>
That was apparently not a problem before as more than 14500 downloads on joomlacode
Will upload a new pack.

[2017-03-30 13:58] infograf768 commented on #15001
@Bakual
It is a weird error though. I suggest to look into it.

[2017-03-30 14:13] PhilETaylor commented on #13861
This StackOverflow article describes the same issue and proposes some fixes... none look nice.

http://stackoverflow.com/questions/34184377/chrome-shows-blank-page-on-rtl-language-site-until-window-is-resized

[2017-03-30 14:18] PhilETaylor commented on #13861
Wordpress also has this issue https://core.trac.wordpress.org/ticket/40147

[2017-03-30 14:21] brianteeman commented on #13861
So it's a browser issue and not something we can do anything about then -
sadly?

On 30 Mar 2017 3:18 p.m., "Phil Taylor" <notifications@github.com> wrote:

[2017-03-30 14:22] PhilETaylor commented on #13861
As the stackoverflow article states - there is much that can be done to overcome this issue - the question is do we want to bother ...

[2017-03-30 14:22] schnuti commented on #14789
It depends on the user groups you have. You'll probably set up SET0 for the superuser and maybe some more groups at the beginning of a project. If you later set up new usergroups in new SETs it's probably better to open the latest SET i.e. SET4.
If you only have one SET, as up to now with tinyMCE,  you can use SET3 for all usergroups that are using the editor. So it's flexible! and up to you.

[2017-03-30 14:22] infograf768 opened #15004 "[com_fields] Notice in system fields plugin when deleting a Content Language"
As title says:
If I delete a content language, I get:
[30-Mar-2017 14:18:24 UTC] PHP Notice:  Undefined property: JTableLanguage::$id in ROOT/plugins/system/fields/fields.php on line 149

@laoneo @Bakual

[2017-03-30 14:31] laoneo commented on #14991
I'v changed the pr, so the group should be fixed as well. Guess this issue can be closed as we have a pr.

[2017-03-30 14:36] brianteeman commented on #14991
Closed as we have a PR for testing #14995

[2017-03-30 14:36] #14991 closed

[2017-03-30 14:46] MartijnMaandag opened #15005 "Field in Fields Calendar type giving error in display Article TABs when typo in Default Date"
### Steps to reproduce the issue
Create a new Field with Type 'Calendar'
Enter 'nu' instead of 'now' in the Default Date field.
Save & Close.
Go to an article and go to the 'Fields' TAB.
All the TABs will disappear.

### Expected result
Prevent that you can enter an invalid value OR show the TABs.

### Actual result
Article TABs disappearing.

### System information (as much as possible)
Nightly b

[2017-03-30 14:54] laoneo commented on #15004
Please check #15006.

[2017-03-30 14:59] Bakual commented on #15001
Maybe the name is sanitised now and invalid characters get stripped, leaving nothing?

[2017-03-30 15:09] AlexRed commented on #9129
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9129">issues.joomla.org/tracker/joomla-cms/9129</a>.</sub>

[2017-03-30 15:13] AlexRed commented on #8600
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8600">issues.joomla.org/tracker/joomla-cms/8600</a>.</sub>

[2017-03-30 15:13] AlexRed commented on #8582
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8582">issues.joomla.org/tracker/joomla-cms/8582</a>.</sub>

[2017-03-30 15:14] AlexRed commented on #8569
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8569">issues.joomla.org/tracker/joomla-cms/8569</a>.</sub>

[2017-03-30 15:14] AlexRed commented on #8244
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8244">issues.joomla.org/tracker/joomla-cms/8244</a>.</sub>

[2017-03-30 15:36] C-Lodder commented on #14992
@laoneo @yvesh any idea?

[2017-03-30 15:47] infograf768 commented on #15001
@franz-wohlkoenig
New Chinese Simplified pack is now available through install languages and I guess when installing a clean multingual site.

[2017-03-30 15:51] #15004 closed

[2017-03-30 15:51] infograf768 commented on #15004
Closing as we have a patch <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15004">issues.joomla.org/tracker/joomla-cms/15004</a>.</sub>

[2017-03-30 16:01] franz-wohlkoenig commented on #15001
New Chinese Simplified pack is now installed by "Install Languages". Will reinstall and close if works.

[2017-03-30 16:05] joomdonation commented on #14992
This issue happens because there was some changes in component dispatcher implement. Basically, with the current implement, if a component has file dispatcher.php, it must be a namespaced component

Why waiting for namespacing banner component, the easiest fix would be restore original banners.php file and remove the file administrator\components\com_banners\dispatcher.php

[2017-03-30 16:07] franz-wohlkoenig commented on #15001
Works at Installation.

[2017-03-30 16:07] #15001 closed

[2017-03-30 16:12] Sukinoz commented on #14753
Thanks @laoneo and @Bakual for replaying,

From my point of view, the objective of including selected fields inside the article content should be different from the "automatic display", so we need a different way to do it.

**Case 1: "AUTOMATIC Display":**
- To display the COMPLETE LIST OF FIELDS (so, with `<dd>` or `<div>` it is ok).
- To display them rendered automatically (with render.php)
- To

[2017-03-30 16:14] Rakeshmvd opened #15008 "Redis failed connection infinite loop"
### Steps to reproduce the issue

Activate Redis in Cache settings
add all settings

### Expected result

save config settings
Redis::pconnect(): connect() failed: Connection timed out

### Actual result

infinite loop cycle
can't save setting adjustments

### System information (as much as possible)

### Additional comments

[2017-03-30 16:28] joomdonation commented on #14992
OK. I made PR https://github.com/joomla/joomla-cms/pull/15009 which should fix this issue for now.

[2017-03-30 16:58] Hackwar commented on #14923
As I said already for Joomla 1.6: Archived articles are not properly defined, they don't fill a special void right now and from my perspective should be removed asap. Define a behavior, and especially one that is consistent to all our other views, and then we can implement something that we can call archived articles, but right now those are pretty useless.

To be honest, the longer I think about

[2017-03-30 17:02] brianteeman commented on #14923
There are several use cases for them

1. Keep content on the site (prevents 404s etc) but exclude it from the blog and list views and/or exclude it from the search (through the plugin setting)
2. Have a date based display of content such as old press releases or announcments

Those are just two use cases that I regularly see

[2017-03-30 17:43] AlexRed commented on #11306
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11306">issues.joomla.org/tracker/joomla-cms/11306</a>.</sub>

[2017-03-30 17:57] Slobodoslav commented on #9663
Tak a look at:
https://forum.joomla.org/viewtopic.php?t=913828
And than install:
https://github.com/redCOMPONENT-COM/redCORE/releases
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9663">issues.joomla.org/tracker/joomla-cms/9663</a>.</sub>

[2017-03-30 18:08] AlexRed commented on #15005
I can confirm in Joomla! 3.7.0-staging<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15005">issues.joomla.org/tracker/joomla-cms/15005</a>.</sub>

[2017-03-30 18:19] Bakual commented on #14923
Archived state makes sense as it is. Think about the real world equivalent of putting an item into an archive (eg in a museum). It will not be shown in the vitrines but it is still available for those searching explicitely for it and it is listed in the inventory.
Same is true for archived articles in Joomla. They don't show in general list views but can be found when using searches or when you kn

[2017-03-30 18:27] Bakual commented on #14935
Closing this again since #14520 now fixes the issue for real 👍

[2017-03-30 18:27] #14935 closed

[2017-03-30 18:28] Bakual commented on #14990
Closing as we have a PR #14520

[2017-03-30 18:28] #14990 closed

[2017-03-30 18:33] franz-wohlkoenig commented on #14915
Closed as there is no Content.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14915">issues.joomla.org/tracker/joomla-cms/14915</a>.</sub>

[2017-03-30 18:35] franz-wohlkoenig commented on #14915
Haven't seen Content in opened Comment.

[2017-03-30 18:49] Bakual commented on #14753
See https://github.com/joomla/joomla-cms/pull/15013 for fixing the `<dd>` in the article body.

We can improve on that later if someone wants to write the code for it. This should be possible in a B/C manner.
On the other hand you can already set the field label to hide and it will also not show in the article body (so it is possibly to only show the value). If you only want to show the label, you

[2017-03-30 19:06] Rakeshmvd commented on #15008
Even tho I have Cache settings to OFF, it is still trying to connect with Redis server. Creating an extreamly long load time or timed out.

[2017-03-30 19:57] Sukinoz commented on #14753
@bakual thank for replaying,

But reading what you said:

And

I see i didnt explain well, because this is not the problen and either the solution.

Maybe my English is not good enough. I am trying to explain again:

Yes i know you can set the field label to hide . I have wrote about it in "_Case 1: Automatic Display_".
It is great to show a "`<dd>field label: field value</dd>`" list of fields aut

[2017-03-30 20:07] PhilETaylor commented on #14990
This is fixed by #14520 @ 96603d295c396c173cb22825576af8d6ca4bdf0c - confirmed

[2017-03-30 20:07] PhilETaylor commented on #14935
This is fixed by #14520 @ 96603d295c396c173cb22825576af8d6ca4bdf0c - confirmed

[2017-03-30 20:13] Bakual commented on #14753
Yep, that is true. If you want to have the field both in automatic display shown with the label and in the article without, that is not possible today.
But as said, this should be possible to do later as it has no B/C implications. I will likely not have the time to do it but if anyone else wants to do it should be possible.

[2017-03-30 20:14] PhilETaylor opened #15014 "Multiple editor instances causes unexpected behaviour"
### Steps to reproduce the issue

install from joomla-cms/staging @ f45c0da5ba84ef7538e13879a1b096ed9e05c24d
Add a custom field, of type "editor"
Edit content item
Click the Read More TinyMCE Button
Click the Read More TinyMCE Button
Click the Read More TinyMCE Button
Click the Read More TinyMCE Button

### Expected result

A read more `<hr id="system-readmore" />` appears in the TinyMCE as a red

[2017-03-30 20:16] philmarty opened #15015 "[com_fields] Is there a "file" type ?"
### Additional comments

Maybe I'm wrong, but I can't find a _File_ type for custom field.
For a upcoming project, I need that kind of field in order to add easily a link to a pdf or doc file for example to a Joomla article.
It could have options like automatic icon display, size file display, open file in a new tab... (like the [file manager plugin](https://www.joomlacontenteditor.net/support/doc

[2017-03-30 20:23] brianteeman commented on #15015
no you didnt miss anything - see https://gist.github.com/brianteeman/569cb12243b9dc13706ffb8495e888e1

[2017-03-30 20:24] Bakual commented on #15015
There isn't. https://github.com/joomla/joomla-cms/tree/staging/plugins/fields gives you the list of fields.
The closest is the media field, but it is hardcoded to images only.

I'm quite sure, after 3.7.0 is released there will be additional such custom fields surfacing in JED.

[2017-03-30 20:32] yvesh commented on #14992
Thank you @joomdonation

[2017-03-30 20:42] philmarty commented on #15015
OK Brian, so there's a hope to add full file types management, if I understood your "update 1" at the end of your linked page?
I'm sorry not to be a developer, to work on that part :/

[2017-03-30 21:02] zero-24 commented on #14992
closing as we have a PR thanks @joomdonation

[2017-03-30 21:02] #14992 closed

[2017-03-30 22:54] Sukinoz commented on #14753
I understand.

You dont have time and i dont have enough knowledge to do it. Hope someone have both...

Thanks for your time!

[2017-03-31 07:01] lausianne commented on #6993
This helped me solve it: "I was having the same error as this and found it was caused by a menu item with an alias that was the same as my redirect." - J3.6.5

I have several menu aliases on this site. All I did to fix the issue was going through the menu items, open ("Edit"), then Save/Close. No changes.
Maybe routing gets confused when a redirect points at a menu item that has an alias menu item

[2017-03-31 07:12] brianteeman opened #15018 "double backslash in configuration.php"
Just noticed on my windows machine that the paths in configuration.php are being written with a double slash. Not sure but doesnt seem to be a problem

[code]

[2017-03-31 08:28] C-Lodder commented on #15018
If I remember rightly, Windows ignores double baskslashes, so shouldn't be an issue.

[2017-03-31 08:47] brianteeman commented on #15018
Yeah as I said it seems to work fine it just looks odd

[2017-03-31 08:51] joomdonation commented on #15018
I think the reason is because backslash is a special character in PHP, so to prevent it in a string, we will have to have double backslash. So there is no problem with it and actually, double backslash is needed

[2017-03-31 10:13] Webdongle opened #15025 "Adds Suffix to URL setting not working correctly"
### Steps to reproduce the issue
Install with sample data
In Global config set 'Adds Suffix to URL' Yes
Visit the frontend and navigate to any page

Remove the .html and press enter

### Expected result
The url will show with .html appended
After removing the .html and pressing enter the .html should be appended again

### Actual result
The url will show with .html appended
After removing the .htm

[2017-03-31 10:23] Bakual commented on #15025
The suffix just specifies the format in which the page should be delivered which defaults to HTML. So if there is no suffix, HTML is assumed.

I don't see an issue with that behaviour.
Otherwise we would have to do a redirect to force the suffix.

[2017-03-31 10:25] infograf768 commented on #14555
Concerning the strings with
_TIP_ASSOCIATED_LANGUAGE

I think they can safely be deleted as no code uses it since 3.1.4. (or maybe even 3.1.2)

[2017-03-31 10:40] brianteeman commented on #14555
Removing them goes against our current language policy

[2017-03-31 10:41] brianteeman commented on #15025
This is working as intended

[2017-03-31 10:54] infograf768 commented on #14555
I know the policy...
We could do an exception for these as I doubt that anyone is using a pre-3.1.4 Joomla.
And if someone does, that would be a very good sign it is time to update. These tips were only used in the associations column to edit directly an associated item. We now use a very different way.

Concerning the usage of multiple %s in a string value, most of the time they have been done by

[2017-03-31 10:59] brianteeman commented on #14555
I am not in favour of making this exception

[2017-03-31 12:23] ghazal opened #15026 "hathor - com_installer's drag'ndrop not working"
### Steps to reproduce the issue
Select hathor admin template.
Go to Extensions->Manage->Install
Try to install any extension

### Actual result
Impossible to install any extension

### System information (as much as possible)
Last build with the shiny new Drag'nDrop feature in com_installer

### Additional comments
Tried on 2 options :
Updated install 3.7.0-rc1
Newly installed 3.7.0-rc1

[2017-03-31 12:31] franz-wohlkoenig commented on #15026
JS-Error:
![bildschirmfoto 2017-03-31 um 14 30 34](https://cloud.githubusercontent.com/assets/8235763/24550514/ac5903a2-161e-11e7-8ed5-c729e68f8978.JPG)

[2017-03-31 12:32] mbabker commented on #15018
PHP has all sorts of goofy behaviors with the backslash and it gets more goofy depending on the type of quoting wrapping the string.  `echo "\t"` will print a tab character while `echo '\t'` prints out "\t" literally.

You'll see that double backslash notation a lot in code, especially dealing with namespaced classes (i.e. https://github.com/joomla/joomla-cms/blob/staging/libraries/vendor/joomla/r

[2017-03-31 12:32] #15018 closed

[2017-03-31 12:33] Bakual commented on #15005
Unfortunately that's not that easy as you can see in the discussion at https://github.com/joomla/joomla-cms/pull/14368.

[2017-03-31 12:38] mbabker commented on #15025
While working as intended, IMO it's really one of those inconsistent and goofy behaviors that might be good to one day create a "fix" for (which should honestly just be a simple plugin but with the magical black box known as Joomla's router who knows...).

[2017-03-31 12:40] mbabker commented on #14555
The whole point is they were never marked in the language files as unused and fact is even if they were still used it would be next to impossible to know what value goes where without getting into the code.  So sprintf keys should be better documented.

[2017-03-31 12:42] Bakual commented on #14753
@Sukinoz @laoneo I was a bit bored today at work and got an idea: https://github.com/joomla/joomla-cms/pull/15027
This will allow for alternative layouts to be used by the plugin tag. That would allow to customise the appearance of the field within an article body. So you could create a layout which only shows the label or only the value or whatever.

[2017-03-31 12:45] brianteeman commented on #15018
thanks for clarifying and confirming

[2017-03-31 12:52] ghazal commented on #15026
Good catch.
The pb is that the new com_installer default.php (in views/install/tmpl) has not been included in Hathor's html override files in com_installer

[2017-03-31 13:56] AlexRed commented on #14788
seems ok now for me in 3.7.0 stagin

[2017-03-31 13:57] AlexRed commented on #14790
seems ok now for me in 3.7.0 stagin

[2017-03-31 14:05] laoneo commented on #15005
I guess I have an idea, give me a day or two. I guess it can be solved with rules.

[2017-03-31 14:14] AlexRed commented on #15026
I can confirm the problem on 3.7.0 Beta4<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15026">issues.joomla.org/tracker/joomla-cms/15026</a>.</sub>

[2017-03-31 14:34] Quy opened #15028 "Popover hidden behind modal header"
### Steps to reproduce the issue
Edit article.
Under Publishing, click blue button to Select User.
Hover mouser over a column header.
![popover](https://cloud.githubusercontent.com/assets/368084/24555040/801e1564-15e4-11e7-86a4-650b4acaffff.jpg)

### Expected result
See entire popover.

### Actual result
Popover hidden behind modal header.

[2017-03-31 14:45] franz-wohlkoenig commented on #15028
Confirmed on
Joomla! 3.7.0-beta4
macOS Sierra, 10.12.4
Firefox 52.0.2 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-03-31 14:48] franz-wohlkoenig commented on #14790
@AlexRed successfully test?

[2017-03-31 14:49] franz-wohlkoenig commented on #14788
@zero-24 successfully Test?

[2017-03-31 14:58] AlexRed commented on #14790
I try it also in 3.7.0 Beta 4 and I can't confirm the problem now.
And for you ?

[2017-03-31 15:02] euismod2336 opened #15029 "Error on installing Joomla:staging on MySQL database"
### Steps to reproduce the issue
Use staging image as basis to install a new Joomla site. Proceed with installation as normal.

### Expected result
Successful installation of Joomla.

### Actual result
Returns to step 2 with the message: `Error: Index column size too large. The maximum column size is 767 bytes.`

### System information (as much as possible)
MySQL server 5.5-5.7 with `innodb_large_

[2017-03-31 15:10] C-Lodder commented on #15028
Believe it's due to the modal content being part of an iframe. The `z-index` stacking is then lost.

[2017-03-31 15:37] Paladin opened #15031 "Using the supplied htaccess file will crash some servers"
### Steps to reproduce the issue
1) create an apache web server instance that does not load the auto index module
2) rename htaccess.txt to .htaccess

### Expected result
Site will work

### Actual result
Site crashes with error in log 'IndexIgnore not allowed here'

### System information (as much as possible)
The one I encountered it on was CentOS 7.2 with apache 2.4.25 but this is a fundamental

[2017-03-31 15:41] laoneo commented on #15005
Please check #15032 which adds a default value check based on JFormRules. It should fix this issue.

[2017-03-31 15:43] Webdongle commented on #15025
@brianteeman

If  'Adds Suffix to URL'  is working as expected when set Yes then it is not working as expected when set No.  Because when set No then www.site.com/page.html the .html is removed when the page is  reached.

Either both settings (Yes and No) add .html or remove .html (respectively) ... or .html and .html are not changed by either

Also  'Adds Suffix to URL'  set No prevents code in t

[2017-03-31 15:44] #15005 closed

[2017-03-31 16:27] alikon commented on #15008
please add more details, like redis version , joomla version etc.....

[2017-03-31 16:29] brianteeman commented on #15031
Closing.  Arlren if you create a pr you don't need to create an issue as well the system is clever

[2017-03-31 16:29] #15031 closed

[2017-03-31 16:39] zero-24 commented on #15029
@euismod2336 there is no need to open a issue if you have code to fix the issue 😄 I'm closing here. becuase of the PR #15030

[2017-03-31 16:39] #15029 closed

[2017-03-31 16:58] #14867 closed

[2017-03-31 18:25] Paladin commented on #15031
I created the issue first. I'd forgotten GitHub does all this neat stuff automatically; figured I had to update my repo from upstream, then bring it down to my machine and branch, edit, push up and only then do a PR, so I was going to wait until closer to the end of the day here to do the PR. When I remembered I could just do it all without leaving my browser, and GitHub would manage the rest for

[2017-03-31 18:30] brianteeman commented on #15031
No worries your not the only one

On 31 Mar 2017 7:26 p.m., "Arlen Walker" <notifications@github.com> wrote:

[2017-03-31 19:07] chmst opened #15034 "Error 500 'malformed' when Installing a new language"
I have updated one of my installations from 3.6.5 to 3.7 - beta4 (but the same effect is in beta3 and the newest nightly build).

When I click on the button "install language" in com_install, I get the Error 500-malformed.

It seems to me that during the installation process, the #__update_server is not updated correctly.

In com_installer/models/languages, the query in getUpdateSites() gives an e

[2017-03-31 21:43] klas commented on #14959
Confirmed with staging 8215b36df509fbcb1c8c8b05002c883f9520d442<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14959">issues.joomla.org/tracker/joomla-cms/14959</a>.</sub>

[2017-03-31 22:17] Quy opened #15036 "[com_tags] Undefined index: tag"
### Steps to reproduce the issue
Go to Components > Tags
Click `Check All` checkbox.
Click `Batch` button.
Click `Process` button.

In PHP error log:

[2017-04-01 01:33] NunoLopes96 opened #15037 "Installation field password"
### Steps to reproduce the issue

When trying to install joomla, if you write 1/2 or 3 characters on passwords this will appear:

![screenshot from 2017-04-01 02-25-24](https://cloud.githubusercontent.com/assets/20955884/24573917/aef29718-1682-11e7-8d0e-e922a1a21397.png)

But as we can see, it is not empty, this message only dissapears when the password is accepted ( for what I have saw the passwo

[2017-04-01 01:54] NunoLopes96 commented on #15037
I made a PR to fix this here:
https://github.com/joomla/joomla-cms/pull/15038

[2017-04-01 06:29] franz-wohlkoenig commented on #15036
Confirmed on:
### System information
Joomla! 3.7.0-beta4 (nightly Build)
macOS Sierra, 10.12.4
Firefox 52.0.2 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-04-01 07:53] AlexRed commented on #15036
I can confirm the problem on Joomla! 3.7.0-beta4 (nightly Build)
seems similar to #14995  by @laoneo

[2017-04-01 09:19] brianteeman commented on #15037
Closed as we have a PR

[2017-04-01 09:19] #15037 closed

[2017-04-01 10:21] franz-wohlkoenig commented on #15014
Added a custom Field Type "Editor", opened an Article, could only one Time use Button "Read more" in Article Content; so i can't confirm.

[2017-04-01 10:34] omilen opened #15039 "Registration form doesn't work"
Registration form doesn't work on this page: https://gorizont-optika.ru/component/users?view=registration
After Register button is clicked I get message **"The most recent request was denied because it contained an invalid security token. Please refresh the page and try again."**

The same issue for Reset password page https://gorizont-optika.ru/component/users?view=reset

Probably, the issues  ap

[2017-04-01 11:11] zero-24 commented on #15039
Please disable the output changer and try again. Maybe it is also server side cache.

I'm closing this as this looks mor like one of the reasons above. If you can confirm this with a vanila 3.6.5 you can reopen here.

If this issue is still there please ask for help in the forums: https://forum.joomla.org

Thanks.

[2017-04-01 11:11] #15039 closed

[2017-04-01 11:36] PhilETaylor commented on #15014
Maybe you should actually read the issue reported then !

Sent from my iPhone

[2017-04-01 11:44] franz-wohlkoenig commented on #15014
have read issue report. As far as i understand it i tried to get same behavior as reported. So if we want to solve Issue can you help me to understand?

[2017-04-01 12:01] PhilETaylor commented on #15014
did you apply PR #14520  ?

[2017-04-01 12:09] PhilETaylor commented on #15014
ok on a totally different mac I installed from joomla-cms/staging with commit 9bf372640f973ea934d232342218702328167729

add a custom editor field - keep defaults but enable SHOW BUTTONS

You DONT need to apply #14520

Then you can replicate the above issue

Without the show buttons enabled on the custom editor field this problem is not replicate-able.

[2017-04-01 12:29] bertmert commented on #15036
Pls test PR https://github.com/joomla/joomla-cms/issues/15040

[2017-04-01 12:31] omilen commented on #15039
Would you be so kind to explain me how to  disable the output changer (with a screenshot if it possible)?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15039">issues.joomla.org/tracker/joomla-cms/15039</a>.</sub>

[2017-04-01 12:31] franz-wohlkoenig commented on #15014
Thanks for Info, understand now more, will try later.

[2017-04-01 12:33] laoneo commented on #13340
This issue can be closed as we have a pr #15032.

[2017-04-01 12:36] laoneo commented on #13753
Can we close this issue as it looks like it is fixed, or?

[2017-04-01 12:42] laoneo commented on #14380
I would like to get that solved, any opinions about the proposal to make it work the same way as with articles?

[2017-04-01 12:43] #15036 closed

[2017-04-01 12:44] laoneo commented on #14753
Can we close this issue as we have a pr?

[2017-04-01 12:49] #13753 closed

[2017-04-01 12:53] brianteeman commented on #14753
closed as we have a Pr #15027

[2017-04-01 12:53] #14753 closed

[2017-04-01 12:53] #13340 closed

[2017-04-01 13:17] zero-24 commented on #15039
Please disable any plugin with ID < 10000 you can also try to change the template back to protostar and check if the error is gone as it can also be a broken override.

But i think the real reason could be a wrong configured cache.

But this is not something we should discuss here please open an question on https://forum.joomla.org Thanks!

[2017-04-01 13:58] joomdonation opened #15041 "[4.0] Namespace - default controller problem"
In the current component dispatcher implement, if a request doesn't specify a controller, the dispatcher will use COMPONENT_NAME as default controller  https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/src/Cms/Dispatcher/Dispatcher.php#L131. The default controller, in most case, just contains display method to display a view in the component.

While it will be fine for com_content (becau

[2017-04-01 14:50] franz-wohlkoenig commented on #14556
i don't get this Issue, two rows are shown and editable:
![bildschirmfoto 2017-04-01 um 16 49 35](https://cloud.githubusercontent.com/assets/8235763/24579744/437196a0-16fb-11e7-8509-54c026076160.JPG)
### System information
Joomla! 3.7.0-beta4 (nightly Build)
macOS Sierra, 10.12.4
Firefox 52 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-04-01 15:01] Bakual commented on #14556
@franz-wohlkoenig This report isn't about custom fields. The report is a bit misleading.
It's about the "repeatable" formfield, which can be specified in a form.xml (not as custom field).

[2017-04-01 15:06] franz-wohlkoenig commented on #14556
Thanks for Info @Bakual

[2017-04-01 15:07] nikslor opened #15043 "Custom fields for users seem not to be language specific"
### Steps to reproduce the issue

You need Joomla 3.7 (beta 4 in my case) and at least two languages installed/enabled.
Add a custom field to the user and assign it to one of the languages, then add a second field and assign this field to the second language.

### Expected result

If I open the the user profile page in the frontend I expect to only see the field I assigned to the current language.

[2017-04-01 15:13] franz-wohlkoenig commented on #15043
@nikslor can you please look if #14865 is same Issue?

[2017-04-01 15:23] nikslor commented on #15043
@franz-wohlkoenig jep, you're right, sorry for the noise, I'll close my issue in that case!

Thanks for you support!

All the best,
Nicolas

[2017-04-01 15:23] #15043 closed

[2017-04-01 15:31] franz-wohlkoenig commented on #15043
thanks for Report @nikslor If you find another Issue, please report also.

[2017-04-01 15:42] N6REJ commented on #14556
@Bakual in this particular case its in a template if that matters.

[2017-04-01 15:47] JDTravel commented on #6647
Hi,
The saveascopy behaviour may be technically correct to copy accross the original created datestamp of the article, but from a practical stand point I agree with user hgh-esn, that it should create a new current datestamp.   <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/

[2017-04-01 16:42] N6REJ commented on #14556
fixed by pr #15042

[2017-04-01 17:15] zero-24 commented on #14556
Closing as there is a PR thanks for the update.

[2017-04-01 17:15] #14556 closed

[2017-04-01 17:59] tarakbz commented on #15025
I think this is a real bug, search engines see these url's as different and think it is duplicate content and penalize all joomla sites<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15025">issues.joomla.org/tracker/joomla-cms/15025</a>.</sub>

[2017-04-01 18:08] mbabker commented on #15025
This is probably something to address for 4.0.  IMO it is too risky to try and change the behavior in 3.x because it will change URLs (even if most would be redirected sufficiently by default) and system behaviors (if you arbitrarily redirect non suffixed to HTML suffixed you could possibly break URLs not supplying a suffix but expecting JSON views).

[2017-04-01 18:47] duetltd opened #15045 "Error reporting: None displays mysql errors"
### Steps to reproduce the issue
Going into administrator and setting error reporting to "None"
Opening a custom written component (that worked using Joomla 2.5.xx) displays a Mysql error message.

### Expected result
Since the option states: Display errors: None - one would assume that no errors would display.
The component should then display the content following where the error occurs.

### Ac

[2017-04-01 20:07] brianteeman commented on #15045
the display errors option refers specifically to php errors

Set the option to maximum or development and you should see the php error that you need to fix.

I am closing this here as the option is working as intended and we cannot support specific issues with non core code here. If you have further questions regarding making your component work please use the forum https://forum.joomla.org

[2017-04-01 20:07] #15045 closed

[2017-04-02 00:37] obuisard opened #15048 "[com_fields] values are saved without context"
### Steps to reproduce the issue
Create a custom field of type 'checkboxes' in the 'contact' context. Do not assign it to a group.
Edit a contact, check a couple values of the created custom field. Save

### Expected result
In the database table #__fields_values, the values are stored with the context column filled up

### Actual result
In the database table #__fields_values, the values are stored

[2017-04-02 05:31] franz-wohlkoenig commented on #15048
Confirmed, but the Values are saved.

[2017-04-02 05:39] #13594 closed

[2017-04-02 05:43] franz-wohlkoenig commented on #13887
Issue still exists:
### System information
Joomla! 3.7.0-beta4 (nightly Build)
macOS Sierra, 10.12.4
Firefox 52 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-04-02 05:53] joomdonation opened #15049 "[4.0] Namespace 'format' controller"
Our legacy MVC allows creating separate controller class for each format (raw, json...) like in this class https://github.com/joomla/joomla-cms/blob/staging/components/com_users/controllers/profile.json.php

We need to decide how we want handle it in in namespace MVC for Joomla 4.. Some possible class names:

- Joomla\Component\Content\Site\Controller\Json\Profile
- Joomla\Component\Content\Site\C

[2017-04-02 05:53] franz-wohlkoenig commented on #14095
should this Issue be closed as expected behavior cause there are no Lang.-Packs now?

[2017-04-02 05:58] joomdonation commented on #14095
Please leave it open as it looks like an SQL error (not related to lang-packs)

[2017-04-02 06:19] franz-wohlkoenig commented on #14742
@yasirunilan can you please make a PR?

[2017-04-02 06:20] #14183 closed

[2017-04-02 06:30] franz-wohlkoenig commented on #14605
@yasirunilan can you please make a PR?

[2017-04-02 06:34] #14610 closed

[2017-04-02 06:41] #14794 closed

[2017-04-02 06:50] chriswagner0815 commented on #14848
Dear colleagues,
we are still working on the router project seo team internally and do not have everything together because non-voluntary work needed our attention the last week.

Once we know when we can continue, we will provide you with a new deadline.

Please apologize the inconvenience - we are on it!
Chris

[2017-04-02 06:52] Bakual commented on #15048
The context is ŕemoved from that table. It is no longer used.

[2017-04-02 06:52] #15048 closed

[2017-04-02 07:03] laoneo commented on #15048
This was changed with #14558 as it is redundant data. On a new install, this column will not exist anymore.

[2017-04-02 07:13] pulsarinformatique commented on #13598
Hi

Still not solved in J 3.7beta4

Cyril

[2017-04-02 07:37] franz-wohlkoenig commented on #15014
Test on latest staging (includes 9bf3726), in com_field "Editor" `Show Buttons` set on `Yes` > can only Click one Time on `Read More`-Button of Field-Editor.

[2017-04-02 08:05] joomdonation commented on #14095
@franz-wohlkoenig I made PR https://github.com/joomla/joomla-cms/pull/15051 which should fix the issue, so you can close this issue now

[2017-04-02 08:07] infograf768 commented on #14095
Folks, how do you want we test anyhting multilang related when it is still impossible to install a language pack?
I am not talking about using the EXtensions=>Install Languages as it iss normal to not be able to install from there as the script does not take into account version4, but of simply installing a 3.7 pack from Installation=>Install.

[2017-04-02 08:10] joomdonation commented on #14095
I just enable Language filter plugin, and the module, then click on the link, see the error (the error can be seen even with just one language installed)

If it is not valid, then I will close that PR

[2017-04-02 08:59] #14095 closed

[2017-04-02 09:20] reygoch opened #15053 "Can't add "Install from Web" tab, 504 gateway time out."
### Steps to reproduce the issue

Try to enable "Install from Web" tab, or visit :
https://appscdn.joomla.org/webapps/jedapps/webinstaller.xml

### Expected result

Joomla successfully enables "Install from Web" feature, or browser (if visiting url with browser) returns xml file

### Actual result

In Joomla :

[code]

In chrome when visiting url :

[code]

### System information (as much as possi

[2017-04-02 10:43] zero-24 commented on #15053
Thanks for your report. I have just posted that to the internal channel where the sys admin can take a look into that.

[2017-04-02 13:50] franz-wohlkoenig commented on #14906
pinging @dgt41

[2017-04-02 13:59] dgt41 commented on #14906
Th problem is that this code:
[code]
Is not respected or is overridden, the solution is to bound these settings to the proper settings array. Since the introduction of the customisable settings, tinyMCE by default has 2 pairs of settings, but those variables are defined once, I hope this explains the problem. Anyhow let me debug this and make a PR and move the discussion there

[2017-04-02 15:02] mbabker commented on #15049
What is the need for separate controller classes based on the request format?  The only classes that should have an architectural need for variants based on request format should be views.

[2017-04-02 15:04] joomdonation commented on #15049
I don't really know as I haven't checked the code carefully yet. Saw it in legacy MVC and in the code of com_users as the link I posted above

[2017-04-02 15:05] mbabker commented on #15049
I know the code is doing it now, what I'm basically asking is why do we need to carry that behavior forward?  Is this a behavior we can deprecate?

[2017-04-02 15:09] joomdonation commented on #15049
To have the answer, I will have to look at the current code/ function to see whether we need it in namespace controller. As I said, I haven't looked at that part of code carefully yet. Will update here once I looked at it and understand the purpose of the current code

[2017-04-02 15:10] joomdonation commented on #15049
While you are here, could you please take a look at the other question https://github.com/joomla/joomla-cms/issues/15041 ?

[2017-04-02 15:13] mbabker commented on #15041
Naming it a display controller implies a single task controller.  So that's not a good name.

Default seems a little "goofy".

[2017-04-02 15:14] dgt41 commented on #14906
Please test: #15057

[2017-04-02 15:18] joomdonation commented on #15041
What could be a good name, then? Was thinking about a generic name **Controller** like in current none namespace implement, but then there would be be more writing in the code:

class Controller extends \Joomla\Cms\Controller\Controller

Or

use \Joomla\Cms\Controller\Controller as CmsController;

class Controller extends CmsController

[2017-04-02 15:30] obuisard commented on #15048
Thank you!

[2017-04-02 15:50] #14906 closed

[2017-04-02 16:22] reygoch commented on #15053
Why exactly is this closed? Issue still persists. I'm still getting 504 gateway time out.

[2017-04-02 16:29] franz-wohlkoenig commented on #15053
Cause @zero-24 comment.

But no Problem to reopen.

[2017-04-02 16:42] reygoch commented on #15053
Well... @franz-wohlkoenig I like to keep the issue open until it is resolved, just in case ;D

[2017-04-02 19:46] Hg347 opened #15060 "Bug: password is always sent via email / class Registry::get default handling"
### Steps to reproduce the issue
1) In admin backend goto System;Global config;Users
2) set `Send Password=No`

But the password is always sent!

### Expected result
The password does not appear in email.

### Actual result
The password does appears in email.

### System information (as much as possible)
Joomla! 3.6.5 Stable [
OS Linux l
PHP 7.0.7
MySQLi 5.5.5-10.0.29-MariaDB

### Additional comme

[2017-04-02 20:49] AlexRed commented on #15060
I can confirm the problem<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15060">issues.joomla.org/tracker/joomla-cms/15060</a>.</sub>

[2017-04-02 20:52] Quy opened #15063 "[com_smartsearch] Toggle selection does not toggle in accordion"
### Steps to reproduce the issue
Go to Components > Smart Search > Search Filters
Click `New` button.
Click on an accordion.
Click `Toggle Selection` button.
Checkbox(es) within not toggled.
Also `class` attribute declared twice (see highlighted).

![smartsearch](https://cloud.githubusercontent.com/assets/368084/24590948/7ce9bf2e-17ab-11e7-91c6-942524ad6700.jpg)

[2017-04-02 21:19] brianteeman opened #15064 "Unused file"
``administrator/components/com_messages/layouts/toolbar/mysettings.php`
was added with #2088 by @mbabker

But the changes made in that PR to use the layout were removed in #8173` by @dgt41

So the layout is not used at all.

??

[2017-04-02 21:20] yvesh commented on #15041
Tough one, personally I would go with Controller than, makes most sense ..

[2017-04-02 21:24] dgt41 commented on #15064
@brianteeman hathor maybe?

[2017-04-02 21:29] brianteeman commented on #15064
@dgt41 nope hathor has its own override
joomla-cms/administrator/templates/hathor/html/layouts/com_messages/toolbar/mysettings.php

[2017-04-02 21:30] brianteeman commented on #15064
@dgt41 from what i can see your pr for some reason (perhaps by accident) reverted the earlier pr that added the layout

[2017-04-02 21:34] dgt41 commented on #15064
nope, the code is correct, we don't need the extra layout file just for the toolbar button (with the modal) we are doing that in the main layout (and the button in the html) as the rest of the jooma stuff

[2017-04-02 21:36] brianteeman commented on #15064
wondering why it was put in the first place then, later removed by you but
not removed from the core files

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

O

[2017-04-02 21:39] dgt41 commented on #15064
The first time around was needed (mootools modal). My code just refactor this part to use the Bootstrap Modal, so probably you could blame me for leaving that useless code there...

[2017-04-02 21:41] mbabker commented on #15064
The original purpose was to kill off the remaining hardcoded markup for toolbar buttons.  As long that isn't lost then we're good.

[2017-04-02 21:45] brianteeman commented on #15064
Ok. In the morning i will do a pr to remove this unused file and check the other component specific layouts to see if any others are redundant and should be removed.

[2017-04-02 21:45] dgt41 commented on #15064
That button now uses the `popup` with a url for the iframe so there is no html fragment heeded there. Maybe we should review the popup creator but that's another scope

[2017-04-02 21:47] dgt41 commented on #15064
@brianteeman maybe the batch parts are also candidates...

[2017-04-02 21:51] brianteeman commented on #15064
I am not refactoring only looking at unused stuff :)

[2017-04-03 05:36] franz-wohlkoenig commented on #15063
Can you give more Information about iE. Joomla-Version?

[2017-04-03 06:42] franz-wohlkoenig commented on #14838
as [Comment](https://github.com/joomla/joomla-websites/issues/897#issuecomment-290738180) says, can this Issue be closed?

[2017-04-03 07:32] franz-wohlkoenig commented on #14806
Can't confirm: Set Postal-, Phone- and Website-Field required:
![bildschirmfoto 2017-04-03 um 09 30 39](https://cloud.githubusercontent.com/assets/8235763/24599427/6f5396be-1850-11e7-96fb-46c27a8964ad.JPG)

[2017-04-03 07:45] franz-wohlkoenig commented on #14805
In 3.6.5 and 3.7-staging (nightly build):

- Set "Phone" as "Required" on "registration and administrator user forms" and "User profile fields for profile edit form"
- let "Phone" empty
- user Profile is saved.

[2017-04-03 08:10] #14838 closed

[2017-04-03 08:23] brianteeman commented on #15064
Closed see #15065

[2017-04-03 08:23] #15064 closed

[2017-04-03 08:27] zero-24 commented on #14805
See: https://docs.joomla.org/J3.x:Update_from_3.6.x_to_3.6.5_Profile_fields altest this should fix the frontend error

[2017-04-03 09:21] franz-wohlkoenig commented on #14805
thanks for Info, @zero-24, should i  open a new Issue about same Behaviour in 3.7?

[2017-04-03 10:12] zero-24 commented on #14805
If this is still a issue in 3.7 the FAQ thing i linked is not the right fix. Maybe @blanderson22 can confirm if that fixes the problem or not?

[2017-04-03 10:23] franz-wohlkoenig commented on #14805
@zero-24 tested on 3.6.5 and 3.7: FAQ thing linked doesn't fix Problem.

[2017-04-03 10:40] franz-wohlkoenig commented on #14741
@wilsonge shouldn't this be closed cause of https://developer.joomla.org/roadmap.html?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14741">issues.joomla.org/tracker/joomla-cms/14741</a>.</sub>

[2017-04-03 10:51] #14686 closed

[2017-04-03 10:51] franz-wohlkoenig commented on #14686
On 3.6.5 `<meta name="robots" content="noindex, nofollow" />` is shown in Source.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14686">issues.joomla.org/tracker/joomla-cms/14686</a>.</sub>

[2017-04-03 11:00] mbabker commented on #14741
No.  Legitimate issues should not be closed just because something is a known work in progress or planned to be replaced.  Because if the plan to replace it doesn't get followed up on for whatever reason, then this has to be acted upon.  It's a low priority issue, but one nonetheless.

[2017-04-03 11:00] franz-wohlkoenig commented on #14662
@infograf768 #14661 is merged.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14662">issues.joomla.org/tracker/joomla-cms/14662</a>.</sub>

[2017-04-03 11:03] franz-wohlkoenig commented on #14741
thanks for Info, @mbabker

[2017-04-03 11:15] franz-wohlkoenig commented on #14644
In 3.7 creating a Alias-Menu in Modal-Window "Select or Change Menu Item" a existing Alias-menu isn't shown.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14644">issues.joomla.org/tracker/joomla-cms/14644</a>.</sub>

[2017-04-03 12:30] mediafish opened #15071 "Alternate hreflang for the current language"
### Steps to reproduce the issue
I have a [website ](http://www.mediafish.es/)available in 3 languages: Spanish (default), English & German.
If you check the source code of the Spanish version (as an example but behaviour is the same on all) [homepage](view-source:http://www.mediafish.es/) you can see the alternate hreflang for:  Spanish, English and German but:

### Expected result
I expect on th

[2017-04-03 12:35] brianteeman opened #15072 "namespace"
Maybe its just me but everytime i see something like
`\\Joomla\\Cms\\Helper\\AuthenticationHelper',`

I want to scream USE UPPERCASE
`Use all capitals if an abbreviation is pronounced as the individual letters (an initialism): HTML, CSS
`

[2017-04-03 12:41] mbabker commented on #15072
Nope, not just you.  Personal preference with namespaced code is to use uppercase for acronyms unless there's a technical reason not to.  Composer's autoloader doesn't have that reason, I sure hope JLoader doesn't too.

[2017-04-03 12:46] brianteeman commented on #15072
So can we change it then to CMS ??

Now is the time to get it right - we wont be able to change it later (I think)

[2017-04-03 13:07] SharkyKZ commented on #15071
This behavior is correct as per Google guidelines:

https://support.google.com/webmasters/answer/189077?hl=en

[2017-04-03 13:14] Bakual commented on #15071
Closing as expected behavior.

[2017-04-03 13:14] #15071 closed

[2017-04-03 13:14] Quy commented on #15063
Latest staging version.

[2017-04-03 13:16] mediafish commented on #15071
well ok but they write:

why do they use X and not es?

[2017-04-03 13:39] franz-wohlkoenig commented on #15063
@Quy after click on "New"-Button:
![bildschirmfoto 2017-04-03 um 15 37 32](https://cloud.githubusercontent.com/assets/8235763/24611800/8f8c6db0-1883-11e7-8a64-a96fc18feed3.JPG)
where to "Click on an accordion"

[2017-04-03 13:55] Quy commented on #15063
Sorry. Updated testing instructions.

[2017-04-03 13:57] joomdonation commented on #15041
Look like Controller is the best one, so I made PR #https://github.com/joomla/joomla-cms/pull/15075 to change it

[2017-04-03 13:57] #15041 closed

[2017-04-03 14:07] Bakual commented on #15071
It's a placeholder for the language, like back in school when you had algebra :smile:
In the examples on the page it's clear that "x" isn't a valid value.

[2017-04-03 14:10] infograf768 commented on #15026
Folks, many of the new features we got into 3.7.0/staging were just not pushed to Hathor:
For example, admin menus, Associations, etc.
I have asked PLT what we should do with these.

[2017-04-03 14:17] Fedik commented on #14805
Last time when I tried to debug this thing, the problem was that `onContentPrepareForm` called twice in some reason

[2017-04-03 14:22] blanderson22 commented on #14806
Please test by leaving a required core field empty. Also, my description
specifies that this is an issue during registration, not edit.

On Mon, Apr 3, 2017 at 3:32 AM, Franz Wohlkönig <notifications@github.com>
wrote:

[2017-04-03 14:26] blanderson22 commented on #14806
Regarding "leaving a required core field empty", example: leave username or
email empty as well as a profile plugin field during registration. You'll
see that only username and email are validated. The profile plugin fields
are only validated in the case that all other non-plugin required fields
are completed. It seems profile plugin field validation is only triggered
if the first validation proce

[2017-04-03 14:31] infograf768 commented on #15063
JS error:
"SyntaxError: unterminated string literal"

[2017-04-03 14:49] infograf768 commented on #15063
@dgt41
Dimitri, you did that code a loong time ago.
` 					<button class="btn btn-default" type="button" class="jform-rightbtn" onclick="jQuery('.filter-node').each(function () { this.click(); });"> `

Can you look?

[2017-04-03 15:34] AlexRed commented on #15026
I can confirm the problems, Hathor not support the new Plugins Editor - TinyMCE setting, Fields, media manager, Advanced Permissions Report, etc.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15026">issues.joomla.org/tracker/joomla-cms/15026</a>.</sub>

[2017-04-03 15:35] rolandalsace opened #15077 "problem setFieldAttribute on com_users.registration Form"
On J 3.6.5 it's not possible to change form attribute (Jform setFieldAttribute) on com_users.registration Form (and only on this one).

You can test it on  user plugin 'profile'.

Regards.

[2017-04-03 15:38] dgt41 commented on #15063
Try `jQuery('.filter-node').each(function (i, el) { el.click(); });`

[2017-04-03 15:49] franz-wohlkoenig commented on #15077
do you mean #14806 or is this another Issue?

[2017-04-03 15:51] Quy commented on #15063
The mention button works. The issue is with this button:
`<button class="btn" type="button" class="jform-rightbtn" onclick="jQuery('[id="tax-4"]').each(function(){this.click();});">`

[2017-04-03 16:35] rolandalsace commented on #15077
I don't realy understand the problem of #14806 issue, but it's possible.

I discover à 2nd problem wich seems linked.

Alway with con_user.registration context.

On onContentPrepareData, you cannont save data on profil form.

It's seems that the on_user.registration form data and attribute are reseted before displayed.
(Attributes are reseted to profile form description).

So after a onUserBeforeS

[2017-04-03 17:02] dgt41 commented on #15063
This code will never work due to double quotes mess:
`onclick="jQuery('[id="tax-4"]').each(function(){this.click();});"`

[2017-04-03 17:28] franz-wohlkoenig commented on #9343
@staniii1 can you please test if this Issue is solved in 3.7?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9343">issues.joomla.org/tracker/joomla-cms/9343</a>.</sub>

[2017-04-03 17:32] Bakual commented on #15026
The problem is that Hathor needs overrides for almost each view. Which means Hathor still isn't really a J3 admin template.
We should just remove it... Nobody in their right mind is using it anyway.

[2017-04-03 17:33] franz-wohlkoenig commented on #9323
@thndrbck can you please test if this Issue still exist?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9323">issues.joomla.org/tracker/joomla-cms/9323</a>.</sub>

[2017-04-03 17:54] Fedik commented on #14805
hm, I just tested on the Staging branch, and all works fine, I cannot save an empty value in a required field

[2017-04-03 18:08] franz-wohlkoenig commented on #14805
Field "Phone" is set required:
![bildschirmfoto 2017-04-03 um 20 08 16](https://cloud.githubusercontent.com/assets/8235763/24623630/59824fde-18a9-11e7-863a-5d7b11eb5b11.JPG)

[2017-04-03 19:34] rdeutz opened #15079 "[RFC] Freeze Hathor backend template in the current state"
# Situation today
We are shipping two backend templates with Joomla! 3.x: Isis and Hathor. While Isis is widely used and the first template we test and implement functionality Hathor is badly supported and has a lot of issues.

# Plans for the future
It is already decided to remove Hathor in Joomla 4.

# Proposal
For Joomla 3.7 we are not adding the new features we have implemented into Joomla and

[2017-04-03 19:36] brianteeman commented on #15079
Fine by me - in some ways hathor is already less accessible than isis anyway

[2017-04-03 19:40] dgt41 commented on #15079
Haha, I read that as Heathrow...

[2017-04-03 20:06] Fedik commented on #14805
@franz-wohlkoenig ah you about the backend, I tested frontend only 😄

[2017-04-03 20:53] ghazal commented on #15026
I would not care if Hathor was removed.
As Bakual said ... Nobody ...
But if it remains in the distribution, it has to be dealt with.
Otherwise, get rid of it.

[2017-04-03 21:25] brianteeman commented on #15072
If its ok to change to CMS I am happy to make the changes

[2017-04-03 21:34] mbabker commented on #15072
I'm good with it personally.  Just know you'd need to fix the casing in the filesystem too and that always gets a little tricky (luckily we aren't dealing with anything that's been released yet).

[2017-04-03 21:35] brianteeman commented on #15072
so you are or are not in favour of me spending the time to address this.

[2017-04-03 21:46] mbabker commented on #15072
I am in favor.

[2017-04-03 21:48] brianteeman commented on #15072
OK - will close this and will try to work on a PR for 3.8 branch I assume and I need to find where in the filesytem it is defined

[2017-04-03 21:48] #15072 closed

[2017-04-03 21:49] dgt41 commented on #15072
@brianteeman it's the first folder in libraries: https://github.com/joomla/joomla-cms/tree/staging/libraries

[2017-04-03 21:53] jsubri opened #15080 "[3.7] com_search: Unknown column 'fv.context' in 'where clause'"
### Steps to reproduce the issue
staging or 3.7b4
http://localhost/staging-3.7/index.php/search?searchword=fruit&ordering=newest&searchphrase=all

### Expected result
search to return results without error

### Actual result
Unknown column 'fv.context' in 'where clause'

### System information (as much as possible)
context is from the #__fields table and not from #__fields_values
https://github.co

[2017-04-03 21:56] brianteeman commented on #15072
yeah - got it - just doing the rename in git

[2017-04-03 22:01] brianteeman commented on #15072
OK gave it a go see #15081

[2017-04-03 22:02] brianteeman commented on #14581
awaiting decision on #15079

[2017-04-03 22:02] dgt41 commented on #15072
how about dropping the `Cms` or `CMS` in favour of `Core`? It makes more sense to me

[2017-04-03 22:03] brianteeman commented on #14569
awaiting decision on #15079

[2017-04-03 22:03] brianteeman commented on #14491
awaiting decision on #15079

[2017-04-03 22:03] brianteeman commented on #15026
awaiting decision on #15079

[2017-04-03 22:16] brianteeman commented on #14917
Closed see #15059

[2017-04-03 22:16] #14917 closed

[2017-04-03 22:21] brianteeman commented on #14669
Closed as I can no longer replicate it

[2017-04-03 22:21] #14669 closed

[2017-04-03 22:24] brianteeman commented on #15053
Are you still having problems @reygoch
If you are then it is a server issue and not a joomla software issue

[2017-04-03 22:41] izharaazmi commented on #15079
I'm all in for this. However, it would be bad if things break while using Hathor. As far I'm aware, the Admin Menu Manager feature breaks the Menu Manager in Hathor very badly.

Not implementing further features is fine. But not taking care of what already is there would be a fake B/C. In that case removing it would be way better option.

In case we decide to keep it for now, I'd suggest fixing br

[2017-04-03 22:51] zero-24 commented on #15053
It is still an issue. I have been told it is a CDN issue. But maybe michael or someone from the webmasters team can tell us the current status as i have no access to that Information / tickets

[2017-04-04 01:55] ysrostov opened #15083 "[3.7] Can't create a menu item "Create Article""
### Steps to reproduce the issue
1. Go to Menu -> Main Menu
2. Click New button
3. Click Select button -> Article -> Create Article
4. Input Menu Title
5. Click Save button

### Expected result
A confirmation message that a new menu item was created

### Actual result
Error message
Invalid field:  Choose a Category
https://monosnap.com/file/bfIGrREt15QwBSClFKmjrQkFkDdGjg

[2017-04-04 02:06] ysrostov commented on #15083
Is it probably a result of outdated PHP - PHP 5.5.12 on my server ??

[2017-04-04 04:53] puneet0191 commented on #15079
I agree with the proposal.  :+1:

[2017-04-04 05:02] Bakual commented on #15083
You need to choose a category (under Options). It is a required field.

[2017-04-04 05:05] laoneo commented on #15079
I agree here with @izharaazmi. If we don't support all features, then it is broken and thus needs to be removed from the installation package. The sites who do upgrade will still have it installed, so no change (despite the fact that not all features do work). But it should not be there on new installs. We need to clearly communicate that in the release notes that hathor is broken for upgrades and

[2017-04-04 05:07] ysrostov commented on #15083
In the Options tab for this particular Menu item there are only two items:
- Default Category (yes/no)
- Submission Redirect
Neither of them is a required field

[2017-04-04 05:11] franz-wohlkoenig commented on #15083
@ysrostov click on Default Category "Yes" open below new Field to choose Category.

[2017-04-04 05:13] ysrostov commented on #15083
What if I don't need a default category...? If it's not an option then why there is NO settings possible?

[2017-04-04 05:19] franz-wohlkoenig commented on #15083
@ysrostov you're right. "No" should choose Category "uncategorized" by Default.

Now User have to choose a Category and then click "No" on "Default Category" to make Menu work.

[2017-04-04 05:32] ysrostov commented on #15083
@franz-wohlkoenig  thanks! I got it working, though I would suggest to change the error message to be more explanatory and let users know about these steps and this new change. Somethin like:
"Please choose a default category, then you can set NO for "Uncategorised"
The previous UI scenario was fine to me, more straightforward at least - don't see reason why it has changed.

[2017-04-04 05:37] franz-wohlkoenig commented on #15083
@ysrostov set in Tracker to "Needs review" so maintainer can decide. Thanks for reporting Issue and your Proposal.

[2017-04-04 05:42] franz-wohlkoenig commented on #14806
@blanderson22 thanks for Hint. Can confirm Issue:
![bildschirmfoto 2017-04-04 um 07 42 00](https://cloud.githubusercontent.com/assets/8235763/24642800/4719e846-190a-11e7-9dc1-a3b4c427d130.JPG)

[2017-04-04 05:46] maz001 opened #15084 "Custom field layout"
At the moment in joomla you can add anything to an item page - Text, images and even modules using the LOADPOSITION plugin, and arrange the layout of the page as you like. Thats the beauty of joomla!

From an example I have seen, the new joomla 3.7 custom fields are  'automatically' placed at the top (or bottom) of a standard joomla item page. This is very limiting.

I am creating a site with hund

[2017-04-04 05:56] franz-wohlkoenig commented on #15084
At the Moment you can set Display:
![bildschirmfoto 2017-04-04 um 07 54 33](https://cloud.githubusercontent.com/assets/8235763/24643110/fa68c1aa-190b-11e7-97bf-2fb8c7cd9034.JPG)
and also (like loadposition) Fields in Content (don't know syntax now).

[2017-04-04 05:58] ysrostov commented on #15083
@franz-wohlkoenig , could you please kindly outline steps that I need to do to set this "Needs review" proposial correctly?

[2017-04-04 06:12] franz-wohlkoenig commented on #15083
this depends on Rights given by Bug Squad Team in Joomla Issue Tracker. Reports like yours get Categorized, prioritezed ... to help Maintainers.

[2017-04-04 06:13] maz001 commented on #15084
Its the syntax for 'Fields In Content' which I think is vital to have full control over layout. Does anyone know this?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15084">issues.joomla.org/tracker/joomla-cms/15084</a>.</sub>

[2017-04-04 06:17] franz-wohlkoenig commented on #15084
there's also a Button #13875

[2017-04-04 06:19] franz-wohlkoenig commented on #15084
there you find: {fieldgroup 17823} {field 123312}

[2017-04-04 06:25] maz001 commented on #15084
Thank you so much!!! <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15084">issues.joomla.org/tracker/joomla-cms/15084</a>.</sub>

[2017-04-04 06:26] franz-wohlkoenig commented on #15084
if this is solved, please close Issue.

[2017-04-04 06:27] alikon commented on #15079
IMHO  should be removed  ....... who is still using Hathor ?

[2017-04-04 06:28] #14508 closed

[2017-04-04 06:29] franz-wohlkoenig commented on #14508
Similar #15059

[2017-04-04 06:34] #15084 closed

[2017-04-04 07:07] Bakual commented on #15080
Please test https://github.com/joomla/joomla-cms/pull/15086

I'm closing this issue since we have a PR.

[2017-04-04 07:07] #15080 closed

[2017-04-04 07:23] brianteeman commented on #15083
Setting no does not mean uncategorized!

On 4 Apr 2017 7:12 a.m., "Franz Wohlkönig" <notifications@github.com> wrote:

[2017-04-04 07:31] ysrostov commented on #15083
Then it's totaly unclear why we have to choose some default category as a requred option to be able then set it to NO later... obscure UX/UI imho
Everything worked nicely in beta3, I am just curious why it's changed in beta4... or I'am missing here something?

[2017-04-04 07:34] brianteeman commented on #15083
Will review soon when I've had my coffee but No should mean that the user can save an article on any category

[2017-04-04 07:38] infograf768 commented on #15079
Not only Admin menus, Multilingual associations have also issues.
Basically all modals have issues as they use Search Tools.

[2017-04-04 07:40] brianteeman commented on #15083
Yes it was a mistake by me in #14639

I will do a PR to fix this and revert that behaviour soon

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 4 April 2

[2017-04-04 07:47] AlexRed commented on #15079
maybe we should be inserted an alert message in the control panel (like for the old PHP version or for the editor update ecc..) to display if the template Hathor is set to default.

[2017-04-04 07:50] brianteeman commented on #15083
PR created to fix this issue

@franz-wohlkoenig FYI uncategorised is just a name of a category - it does not have to be present on a site  and has no special meaning or function

[2017-04-04 07:50] #15083 closed

[2017-04-04 07:54] brianteeman commented on #15079
@alexred suggestion is a good one

Something like

"We have detected that you are using the Hathor Admin template. This may not work well with some Joomla features and we recommend that you switch to use the Isis template <link>"

[2017-04-04 08:09] infograf768 commented on #15079
Just did a test creating a menu item with Hathor... Then I switched to Isis and tried to create a menu item: I got a Fatal Error:

`Fatal error: Cannot use object of type stdClass as array in /administrator/components/com_menus/models/item.php on line 603`

[2017-04-04 08:17] infograf768 commented on #15079
My conclusion is that I think that we have at least to solve the menu issue and indeed display the Alert proposed above.

[2017-04-04 08:18] Gavakshi commented on #15079
@izharaazmi I hope if things can be fixed then what else can be a better option.

[2017-04-04 08:22] franz-wohlkoenig commented on #15083
thanks @brianteeman for Info & new PR.

[2017-04-04 09:09] infograf768 commented on #15063
Yep, in fact, looks like it comes from
ROOT/components/com_finder/helpers/html/filter.php

[2017-04-04 09:28] ghazal commented on #15026
Pls read #15079:
[RFC] Freeze Hathor backend template in the current state

[2017-04-04 09:28] #15026 closed

[2017-04-04 09:42] ch2856 opened #15088 "keep media on the same path for article editing"
### Steps to reproduce the issue
Not an "issue" but an important usability feature.  When ever a user want to end images to an article body, a click on "add image" opens the root to the media directory (images/ or images/stories) so if I want to add 10 images to an article, I need to, again and again, navigate from the root folder to the folder where I uploaded the image (to keep things organized)

[2017-04-04 09:52] franz-wohlkoenig commented on #14419
@coolcat-creations @Bakual keep this issue open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14419">issues.joomla.org/tracker/joomla-cms/14419</a>.</sub>

[2017-04-04 09:54] franz-wohlkoenig commented on #14394
@coolcat-creations hold Issue still open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14394">issues.joomla.org/tracker/joomla-cms/14394</a>.</sub>

[2017-04-04 10:01] franz-wohlkoenig commented on #14379
reminder @Bakual <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14379">issues.joomla.org/tracker/joomla-cms/14379</a>.</sub>

[2017-04-04 10:06] franz-wohlkoenig commented on #14358
@coolcat-creations let Issue open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14358">issues.joomla.org/tracker/joomla-cms/14358</a>.</sub>

[2017-04-04 10:08] franz-wohlkoenig commented on #14356
reminder @laoneo for <a href="https://issues.joomla.org/tracker/joomla-cms/14356#event-247166">comment</a><hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14356">issues.joomla.org/tracker/joomla-cms/14356</a>.</sub>

[2017-04-04 10:10] franz-wohlkoenig commented on #14355
@coolcat-creations did Issue still happen?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14355">issues.joomla.org/tracker/joomla-cms/14355</a>.</sub>

[2017-04-04 10:55] franz-wohlkoenig commented on #14348
@laoneo added in Tracker to "Feature Request", "UI/UX".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14348">issues.joomla.org/tracker/joomla-cms/14348</a>.</sub>

[2017-04-04 10:57] #14341 closed

[2017-04-04 10:58] franz-wohlkoenig commented on #14341
closed as PR #14484

[2017-04-04 11:01] BastianWie opened #15089 "Feature request: Remove the "Forgot your password?" link via GUI"
### Actual result
If you are using Joomla with an LDAP implementation you do not need the "Forgot your password" or "forgot your username". However its not possible to disable these features without doing a "hack" which might cause security issues as the modules aren´t then updated. There seamed to be huge need as you can find multiple handouts in the internet how to do that with an "hack".

### E

[2017-04-04 11:06] franz-wohlkoenig commented on #14335
on which Field-Type you get this issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14335">issues.joomla.org/tracker/joomla-cms/14335</a>.</sub>

[2017-04-04 11:10] brianteeman commented on #15089
You don't need a hack. Just do a regular override in your template

[2017-04-04 11:17] zero-24 commented on #15089
you can take a look here:
https://www.j-over.de/en/overrides/mod_login/login-module-without-links.html
https://www.j-over.de/en/overrides/com_users/login-component-without-links.html

Where i have documented the needed things about the overrides. (wich is not a hack ;))

[2017-04-04 11:33] laoneo commented on #14348
Yes this is planed for the media manager in 4. Guess we can close this one.

[2017-04-04 11:35] #14348 closed

[2017-04-04 11:35] franz-wohlkoenig commented on #14348
closed as Feature is planned on new Media Manager.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14348">issues.joomla.org/tracker/joomla-cms/14348</a>.</sub>

[2017-04-04 11:40] franz-wohlkoenig commented on #15088
@dgt41 can you please have a look (we talked about)

[2017-04-04 12:01] bertmert commented on #14440
I don't understand. If debug is OFF how/where do you find/see the duplicates?

[2017-04-04 12:01] #14328 closed

[2017-04-04 12:01] franz-wohlkoenig commented on #14328
closed for Reason above commented.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14328">issues.joomla.org/tracker/joomla-cms/14328</a>.</sub>

[2017-04-04 12:06] #14327 closed

[2017-04-04 12:06] franz-wohlkoenig commented on #14327
closed as sidebar menu is being completely rewritten.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14327">issues.joomla.org/tracker/joomla-cms/14327</a>.</sub>

[2017-04-04 12:17] #14310 closed

[2017-04-04 12:17] franz-wohlkoenig commented on #14310
@kevinkli closed cause your above comment. If you have still Issue, please reopen.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14310">issues.joomla.org/tracker/joomla-cms/14310</a>.</sub>

[2017-04-04 12:18] coolcat-creations commented on #14335
On all "list" fields.

Sorry - i try to reply to all the issues you mentioned me, but i´m currently not so good available...

[2017-04-04 12:19] franz-wohlkoenig commented on #14304
any comment @infograf768?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14304">issues.joomla.org/tracker/joomla-cms/14304</a>.</sub>

[2017-04-04 12:21] laoneo commented on #14356
Is it somehow possible to assign that issue to me. Actually I don't have time to fix it, but it is no release blocker, so we can do it also in a later release.

[2017-04-04 12:21] BastianWie commented on #15089
Maybe I wasn´t clear here. I´m not searching for a way to hide the visible appearance from the links. I´m searching for a way to BLOCK this feature so that a bot isn´t able to put in random email addresses or usernames. Removing the visual appearance from the links will not help here :). The issue is that on some of my joomla installations the users got a VERY large amount of "do you wish to reset

[2017-04-04 12:29] franz-wohlkoenig commented on #14335
issue confirmed, test on Field-Type `List (list)`.
### System information
Joomla! 3.7.0-beta4 (nightly Build)
macOS Sierra, 10.12.4
Firefox 52 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-04-04 12:34] franz-wohlkoenig commented on #14356
can you give a 3.8-Milestone so it don't get lost?

[2017-04-04 12:35] laoneo commented on #14356
3.8 should be only router but I guess I can do it in 3.7.1 or so

[2017-04-04 12:38] franz-wohlkoenig commented on #14302
@tonypartridge can this Issue be closed cause #13572?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14302">issues.joomla.org/tracker/joomla-cms/14302</a>.</sub>

[2017-04-04 12:40] franz-wohlkoenig commented on #14300
is a PR coming or mark as "Feature Request"?

[2017-04-04 12:43] franz-wohlkoenig commented on #14356
added Build 3.7.1 in Issue Tracker.

[2017-04-04 12:44] mbabker commented on #14356
Build on the tracker should be the version the issue was reported against, not a projected version where an issue is fixed.

[2017-04-04 12:48] franz-wohlkoenig commented on #14286
is this Issue still present?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14286">issues.joomla.org/tracker/joomla-cms/14286</a>.</sub>

[2017-04-04 12:50] Flocke28 commented on #14286
Yes. :-(<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14286">issues.joomla.org/tracker/joomla-cms/14286</a>.</sub>

[2017-04-04 12:53] franz-wohlkoenig commented on #14286
Set on "Needs Review" on Issue Tracker, so Maintainers can decide how to handle Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14286">issues.joomla.org/tracker/joomla-cms/14286</a>.</sub>

[2017-04-04 12:57] franz-wohlkoenig commented on #14356
set on "staging".

@laoneo don't know if / how to assign it to you – @mbabker? Can set "related to Issue" if this helps.

[2017-04-04 13:02] mbabker commented on #14356
1) You can't do assignments through the tracker, we aren't wired up to work with the assignees field on GitHub

2) Assignees on GitHub is only team members with access to a repository, so even if we had that integration you can't assign this to Allon because he's not in a team with access to this repo

[2017-04-04 13:04] panopt commented on #7988
"It works badly, but at least we know it".
Why did you close the bug?

**FREE IS NOT CHEAP !**

[2017-04-04 13:06] franz-wohlkoenig commented on #14356
thnaks for Info @mbabker

[2017-04-04 13:48] brianteeman commented on #14987
Are you sure? That was the sql where the table was first introduced  wasnt it?

[2017-04-04 14:38] infograf768 commented on #15063
I guess I found the issue. Will make PR.

[2017-04-04 14:54] infograf768 commented on #15063
Please test
https://github.com/joomla/joomla-cms/pull/15092

[2017-04-04 15:07] #15063 closed

[2017-04-04 15:07] dgt41 commented on #15088
@ch2856 you can use: https://github.com/dgt41/imageUploaderHelper and have the custom structure  that you need.

[2017-04-04 15:07] infograf768 commented on #15063
Closed as we have a patch<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15063">issues.joomla.org/tracker/joomla-cms/15063</a>.</sub>

[2017-04-04 15:07] Bakual commented on #14379
I don't have that on my to-do list. So if someone wants to take a go at it...

[2017-04-04 15:11] #14302 closed

[2017-04-04 15:11] Bakual commented on #14419
I couldn't replicate it, so I have no clue where that may come from.

[2017-04-04 15:13] dgt41 commented on #15088
@ch2856 discard my last comment, I misunderstood your issue. We can easily implement that. If no PR the coming days ping me back

[2017-04-04 15:25] franz-wohlkoenig opened #15093 "[3.7] Isis: `Collapse Administrator Menu` on `No` messed Menu"
### Steps to reproduce the issue
Set Isis-Style, Tab "Advanced" Field `Collapse Administrator Menu` on `No`:

set Field `Collapse Administrator Menu` on `Yes`:

[2017-04-04 15:28] tonypartridge opened #15094 "[3.7] Beta 4 - Fresh Install Menu hides sub items"
It's a slight UX issue, if the user does a fresh install the pre-setup menu block is set to hide sub menu items. Which can cause confusion when they create sub menu items as to why they are not being displayed.

We should set this to show sub menu items by default as we do if we create a new menu module.

[2017-04-04 15:28] Bakual commented on #15079
That would have to be a postinstall message. Please don't do messages in the cPanel itself.

[2017-04-04 15:34] franz-wohlkoenig commented on #15094
Confirmed.

[2017-04-04 15:55] brianteeman commented on #15093
Confirmed - although to be perfectly honest I never saw that point of that option anyway ;)

[2017-04-04 16:02] franz-wohlkoenig commented on #15093
me too - was testing another Issue.

[2017-04-04 16:11] #14270 closed

[2017-04-04 16:13] franz-wohlkoenig commented on #14270
closed as unconfirmed Report. If this Issue stay for you or other, please reopen.

[2017-04-04 16:19] #14261 closed

[2017-04-04 16:21] franz-wohlkoenig commented on #14261
as @Bakual wrote closing this Issue. @JurgenG please feel free to reopen Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14261">issues.joomla.org/tracker/joomla-cms/14261</a>.</sub>

[2017-04-04 16:28] franz-wohlkoenig commented on #14916
@marcochirienti is this Issue solved and can be closed?

[2017-04-04 16:34] franz-wohlkoenig commented on #14260
@marcochirienti can you make an Issue-Report?

[2017-04-04 16:36] #14260 closed

[2017-04-04 16:37] Quy opened #15095 "[com_postinstall] Invalid markup due to truncation"
### Steps to reproduce the issue
Go to Components > Post-install Messages.
View page source.
Scroll to the bottom of the page.
Locate the following invalid markup `<a</p>` due to truncation.
[code]

[2017-04-04 16:37] franz-wohlkoenig commented on #14260
closed Issue because Discussion seems ended. Please reopen if needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14260">issues.joomla.org/tracker/joomla-cms/14260</a>.</sub>

[2017-04-04 16:41] #14257 closed

[2017-04-04 16:41] franz-wohlkoenig commented on #14257
Closed as expected Behaviour (comment above)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14257">issues.joomla.org/tracker/joomla-cms/14257</a>.</sub>

[2017-04-04 16:52] franz-wohlkoenig commented on #14218
@simkea i don't get what "if the menu closed" means, so i guess change to another Menu. This tested on 3.7, Error Reporting on `Development` don't get a Notice.

[2017-04-04 16:55] #14211 closed

[2017-04-04 16:55] franz-wohlkoenig commented on #14211
closed as Discussion seems ended.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14211">issues.joomla.org/tracker/joomla-cms/14211</a>.</sub>

[2017-04-04 17:01] franz-wohlkoenig commented on #8437
@nemmar  at http://www.nemmar.com/real-estate-library SubCat. works, so i guess thie Issue is solved?

[2017-04-04 17:48] franz-wohlkoenig commented on #14201
@ciar4n #14975, #13586 doesn't solve issue.

[2017-04-04 17:52] #14199 closed

[2017-04-04 17:52] franz-wohlkoenig commented on #14199
closing as Expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14199">issues.joomla.org/tracker/joomla-cms/14199</a>.</sub>

[2017-04-04 17:55] #14193 closed

[2017-04-04 17:55] franz-wohlkoenig commented on #14193
closing as Expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14193">issues.joomla.org/tracker/joomla-cms/14193</a>.</sub>

[2017-04-04 18:02] franz-wohlkoenig commented on #14173
Can confirm both Issues on 3.7<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14173">issues.joomla.org/tracker/joomla-cms/14173</a>.</sub>

[2017-04-04 18:05] franz-wohlkoenig commented on #14164
closed as unconfirmed Report. @AndySDH please reopen if closed too early.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14164">issues.joomla.org/tracker/joomla-cms/14164</a>.</sub>

[2017-04-04 18:15] nemmar commented on #8437
The sub-categories can be expanded by clicking the + symbol. But Joomla still does not display the sub-categories already expanded when you view the categories pages even if you have the configs set to display all sub-cats. So it seems to me that it's not fixed but if the plus sign is the only option, then that's what I'll have to leave it with. It would be better if the sub-cats could be displaye

[2017-04-04 18:22] ciar4n commented on #14201
I'm not suggesting #13586 solves this issue. I just question is it really an issue if only present when resizing the browser window.

[2017-04-04 18:50] franz-wohlkoenig commented on #14201
closed as expected Behaviour<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14201">issues.joomla.org/tracker/joomla-cms/14201</a>.</sub>

[2017-04-04 18:58] franz-wohlkoenig commented on #8437
Try to understand: On your Site is

- Cat. "Nemmar Real Estate Training Top-Rated Books and DVD Videos"
- SubCat. "Energy Saving Home Improvements from A to Z"

Click on SubCat. opens Menu for SubCat. Where should SubCats shown?

[2017-04-04 18:59] dgt41 commented on #14201
@coolcat-creations @infograf768 @ciar4n someone needs to remove the filter from the left pane and make it consistent with all the other filters in joomla. That also solve correctly this problem, the filters should be on the top not on the left pane

[2017-04-04 19:12] brianteeman commented on #14201
@dgt41 there is an open issue from Andre that searchtools etc. needs to be added to this viee

[2017-04-04 19:41] tschechniker opened #15096 "appscdn.joomla.org Down"
Hi,

the appscdn.joomla.org is broken.

Example: https://appscdn.joomla.org/webapps/jedapps/webinstaller.xml --> HTTP 504

[2017-04-04 19:48] mbabker commented on #15096
Fine here (Minnesota, USA).  Probably a CDN related issue.  What's the location where you're experiencing issues?

[2017-04-04 19:53] zero-24 commented on #15096
Yes. This is a know CDN Problem maybe @mbabker can give us a status here?

[2017-04-04 19:54] zero-24 commented on #15096
From Germany i can confirm it too ;)

[2017-04-04 19:55] mbabker commented on #15096
I don't have a status because we generally don't open tickets with hosting for a single reported outage from a single user.  So if there is a CDN issue, we need confirmation from more than one or two individuals, preferably in different geographic regions so we can determine if it is indeed CDN or something else.

[2017-04-04 20:02] zero-24 commented on #15096
Same issue is also reported here: https://github.com/joomla/joomla-cms/issues/15053

[2017-04-04 20:04] mbabker commented on #15096
So far that makes 3 individuals, only one of whom we have any kind of location info from.  Not enough info to submit an adequate ticket yet, unless you like the kinds of tickets that say "hey, some people can't get to this site, we don't know why, but fix it" 😉

Not trying to write this off as not an issue, but right now we don't have adequate reports/information to process this any further.

[2017-04-04 20:07] tschechniker commented on #15096
I'm also from Germany

[2017-04-04 20:08] AlexRed commented on #14049
Editor user field can be edit by default in the User Registration page but not work also if set the acl permission, not data saved for the user in the editor field.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14049">issues.joomla.org/tracker/joomla-cms/14049</a>.</sub>

[2017-04-04 20:18] zero-24 commented on #15053
@reygoch are you from germany too? Or a different country?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15053">issues.joomla.org/tracker/joomla-cms/15053</a>.</sub>

[2017-04-04 20:25] mbabker commented on #15096
Ticket in.

[2017-04-04 20:34] zero-24 commented on #14790
Looks like this is fixed using the last beta package. Thanks

[2017-04-04 20:34] #14790 closed

[2017-04-04 20:35] zero-24 commented on #14788
looks like this is also fixed. i can't reproduce this anymore. Thanks!

[2017-04-04 20:36] #14788 closed

[2017-04-04 20:37] nemmar commented on #8437
Hi,

The link to my online real estate library that you posted has the example of what I'm referring to.
https://www.nemmar.com/real-estate-library
Screenshot: https://drive.google.com/file/d/0BwXZzY2mIiORUkJCLVZKdE96dk0/view?usp=sharing

If you click any of the + icons next to the main categories, you will see them open to display the sub-categories. Some of the main categories have multiple sub-

[2017-04-04 20:40] zero-24 commented on #14916
I'm closing here. If this is sill a problem @marcochirienti can just reopen it.

[2017-04-04 20:40] #14916 closed

[2017-04-04 20:42] reygoch commented on #15053
@zero-24 I'm from Croatia<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15053">issues.joomla.org/tracker/joomla-cms/15053</a>.</sub>

[2017-04-04 20:43] zero-24 commented on #15053
Thanks for the feedback.

[2017-04-04 20:44] zero-24 commented on #15096
As there is a ticket I'm goint to close here and we update the first issue #15053 with all new infos please.

Thanks!

[2017-04-04 20:44] #15096 closed

[2017-04-04 20:45] zero-24 commented on #15053
@mbabker opend a ticket with the CDN hoster.

[2017-04-04 20:51] Anmast opened #15098 "[3.7] Additional fields"
Делаю проект на Joomla 3.7.0-beta4. Использую огромное количество доп полей. Понимаю что это beta и заметил недоработку. Дело в том что если создавать поля с одинаковыми именами в разных группах полей. То при записи данных в одно из полей, они будут перезаписанными из поля созданного в первую очередь. Это из за того что алиасы сохраняются одинаковые. А по идее должно проверять и не давать сохранит

[2017-04-04 20:54] zero-24 commented on #15098
@Anmast please just write in englisch here.

I have just used GT to translate it:

[code]

[2017-04-04 20:55] zero-24 commented on #15098
And for the record you can do this using field Groups.

Did you try that?

[2017-04-04 20:55] rdeutz commented on #15053
@reygoch can you check again, they made a change and I can now access the file

[2017-04-04 21:02] Anmast commented on #15098
Не понял Ваш вопрос. К сожалению я плохо знаю английский. Извините(

[2017-04-04 21:06] zero-24 commented on #15098
И для записи вы можете сделать это, используя Группы полей.

Вы пробовали это?

Вы можете использовать Google Translate для перевода английского языка на русский

https://translate.google.com

[2017-04-04 21:19] reygoch commented on #15053
@rdeutz it works!

[2017-04-04 21:36] Anmast commented on #15098
Вот что у меня получилось при создании полей.
это не реклама, извините за ссылку.
http://barysh-jkh.ru/r-p-starotimoshkino/18-obl-ulyanovskaya-r-n-baryshskij-rp-starotimoshkino-ul-mikrorajon-d-19.
У меня созданы группы полей. Но всё идёт в один список. Они не разделены по блокам. Для того, чтобы мне их распределить по табам  я использовал jQuery.

Ещё при создании полей в разных группах полей с од

[2017-04-04 21:54] zero-24 commented on #15098
Спасибо, у меня проблема сейчас. Но в основном это должно быть то, что вы можете сделать с помощью переопределений

Thanks i got the problem now. But basically this should be something you can do via overrides

### for the not russian

The Problem is that the field grups are rended in the backend and frontend but in the normal article there is not distiction in which field group the field is.
I pe

[2017-04-04 21:55] zero-24 commented on #15053
Thanks. So I'm closing here.

[2017-04-04 21:55] #15053 closed

[2017-04-05 03:45] ysrostov commented on #15098
OK, here is the **steps to reproduce the issue:**
Я воссоздал сценарий на примере двух групп и двух полей

1. Create custom field group with title Group1
2. Create custom field group with title Group2
3. Create text custom filed titled "Field" and assign it to Group1
4. Create text custom field titled also "Field" and assign it to Group2
5. Go to any article and put in the values for the fields, f

[2017-04-05 04:17] RonakParmar commented on #15095
Confirming the issue.
Joomla! 3.7.0-rc1
![screen shot 2017-04-05 at 04 17 07](https://issues.joomla.org/uploads/1/0a174def474eb7be39c2c22d393fff12.png)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15095">issues.joomla.org/tracker/joomla-cms/15095</a>.</sub>

[2017-04-05 05:27] franz-wohlkoenig commented on #8437
So you want the +-Sign gone and all SubCat. are shown - got it?

[2017-04-05 05:46] Bakual commented on #15098
For the issue with duplicate name/alias, see (and test) https://github.com/joomla/joomla-cms/pull/14554.

I'm closing here as we have a PR.

[2017-04-05 05:46] #15098 closed

[2017-04-05 06:28] franz-wohlkoenig commented on #14163
tried using Smart Search module with this Settings but don't get the Issue to understand. Can you please describe?

[2017-04-05 06:31] franz-wohlkoenig commented on #14162
set Status on "Needs Review" in Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14162">issues.joomla.org/tracker/joomla-cms/14162</a>.</sub>

[2017-04-05 06:32] ysrostov commented on #15098
I've tested the update - the issue seems resolved, now the checking for duplicate alisses is implemented and works fine.
Я протестировал обновление - проблема, похоже, решена, теперь проверка дублирующихся алиасов выполняется.

[2017-04-05 07:23] infograf768 commented on #15094
Patch is easy to do.

Remains to decide if we do it for all sample data or only for the basic joomla.sql

@rdeutz @mbabker

What do you think?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15094">issues.joomla.org/tracker/joomla-cms/15094</a>.</sub>

[2017-04-05 07:26] rdeutz commented on #15094
We are talking about the frontend menu modules, right?

[2017-04-05 07:27] franz-wohlkoenig commented on #15094
Yes, Frontend-Modules

[2017-04-05 07:28] brianteeman commented on #14201
Yes

[2017-04-05 07:30] rdeutz commented on #15094
So then we should use the default value, where ever it makes sense.

[2017-04-05 07:32] infograf768 commented on #15094
OK, will do patch for ALL frontend menu modules in all sql<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15094">issues.joomla.org/tracker/joomla-cms/15094</a>.</sub>

[2017-04-05 07:37] #14120 closed

[2017-04-05 07:41] #14114 closed

[2017-04-05 07:41] franz-wohlkoenig commented on #14114
closed PR #13785 solved issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14114">issues.joomla.org/tracker/joomla-cms/14114</a>.</sub>

[2017-04-05 07:43] #14106 closed

[2017-04-05 07:43] franz-wohlkoenig commented on #14106
closed as issue is solved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14106">issues.joomla.org/tracker/joomla-cms/14106</a>.</sub>

[2017-04-05 07:57] infograf768 commented on #15094
Please test
https://github.com/joomla/joomla-cms/pull/15099

[2017-04-05 07:57] #15094 closed

[2017-04-05 08:02] AlexRed commented on #14049
In the latest stagin the Editor user field can be edit by default in the User Registration page but not work if no set the acl permission. Other Field type can't be edit if no ACL permission.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14049">issues.joomla.org/tracker/joom

[2017-04-05 08:04] infograf768 commented on #15079
I have to insist that Hathor not being able to handle menus is a big issue as I posted above. Basically, if this is not corrected, we should delete hathor and redirect to Isis for ALL users.

[2017-04-05 08:11] infograf768 commented on #15079
Basically, if we do not do it, this is a release blocker.

[2017-04-05 08:14] laoneo commented on #15079
I'm with @infograf768. We should not ship something which is broken and we have no intention to fix it.

[2017-04-05 08:16] izharaazmi commented on #15079
I am trying to spare some time to fix it myself, though its likely not
possible before this weekend I guess.

However, I vote for removing hathor as menu manager is not the only issue
with it, and I don't know much about others.

[2017-04-05 08:21] franz-wohlkoenig commented on #14049
@AlexRed means closing is okay?

[2017-04-05 08:23] C-Lodder commented on #8408
@brianteeman - can this be closed? No testing instructions provided and cannot replicate the issue. Have never had any problems with com_ajax myself having used it serveral times

[2017-04-05 08:28] brianteeman commented on #8408
Nothing to do with me

[2017-04-05 08:30] #8408 closed

[2017-04-05 08:30] franz-wohlkoenig commented on #8408
closed as unconfirmed Report.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8408">issues.joomla.org/tracker/joomla-cms/8408</a>.</sub>

[2017-04-05 08:31] AlexRed commented on #14049
Nooooooooo
The problem is in the stagin.
The Editor user field can be edit by default in the User Registration page but not work if no set the acl permission.

[2017-04-05 08:32] franz-wohlkoenig commented on #14049
misreading your Comment, so no closing.

[2017-04-05 08:35] AlexRed commented on #14049
oppsss...  sorry for my bad english.
Please can you try it and confirm ?

[2017-04-05 08:43] franz-wohlkoenig commented on #14049
to be honest: i don't get the Issue-Point. I guess you mean Editor-Field should also get by ACL-Default to not edit.

[2017-04-05 08:45] AlexRed commented on #14049
it is ACL-Default to not edit, but you can edit it  :(
But the text not saved in the database

[2017-04-05 08:56] franz-wohlkoenig commented on #14049
thanks, got it, set "confirmed" on Issue Tracker.

[2017-04-05 09:02] AlexRed commented on #14049
the same Editor Field in the contact Mail form can be edit when permission is not set but in this case the data is saved or better the data is send in the mail body.

for me an ACL "column" in the field list is important, to show if the field can be edit or no.

[2017-04-05 09:09] franz-wohlkoenig commented on #14098
set "confirmed" at Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14098">issues.joomla.org/tracker/joomla-cms/14098</a>.</sub>

[2017-04-05 09:19] infograf768 commented on #14049
I confirm the issue.
If the Editor field does not allow Public to use it, we have an issue indeed, specially if the field is required.

[2017-04-05 09:19] brianteeman commented on #14098
It is the order of the items that have been tagged NOT the order of the tags

[2017-04-05 09:23] franz-wohlkoenig commented on #14098
thanks @brianteeman so the Order of Tag in an Article can't changed?

[2017-04-05 09:28] infograf768 commented on #14049
@laoneo @Bakual
please look into this. It is easy to mistake here.
I even get the Readmore and Field by default as editor-xtd buttons.

[2017-04-05 09:34] laoneo commented on #14049
I guess this is more of a problem of the editor that it doesn't have a disabled mode.

[2017-04-05 09:35] infograf768 commented on #14087
I would need an extension which has such a script to test.

[2017-04-05 09:36] franz-wohlkoenig commented on #14074
Issue confirmed:
### System information
Joomla! 3.7.0-beta4 (nightly Build)
macOS Sierra, 10.12.4
Firefox 52 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-04-05 09:38] franz-wohlkoenig commented on #14087
@sfs-it do you have such an Extension?

[2017-04-05 09:43] AlexRed commented on #14049
for me an ACL "column" in the field list is important, to show if the field can be edit or no by the public. By default all new field are set to no edit in the ACL but the administrator can't see it.

[2017-04-05 09:45] AlexRed commented on #14049
we can use the "checkbox" icon:
red "checkbox-unchecked" for no permissio for all (default)
green "checkin" if allow for all
checkbox-partial  if permission for only some group

[2017-04-05 09:45] laoneo commented on #14049
Every field has permission
![image](https://cloud.githubusercontent.com/assets/251072/24699775/67037abe-19f5-11e7-97a5-84277306c706.png)

[2017-04-05 09:48] AndySDH commented on #14163
This does not refer to Smart Search (so not sure if this is an issue there as well or not), this refers to the normal regular Search module.

When you enabled this setting for the Search module, it adds the autodiscovery code to the head of the document, but the contains the ItemID of the page that you're currently viewing. It should instead contain the fixed ItemID that you set in module settings

[2017-04-05 09:50] brianteeman commented on #14049
What is the problem here? You can set the acl.for everything so I don't understand the issue

[2017-04-05 09:51] AlexRed commented on #14049
the editor field is editable with ACL set to no edit. But not work, no data saved.

[2017-04-05 09:54] peterpeter commented on #14098
Ah, I see, my fault. Because![screen shot 2017-04-05 at 09 54 35](https://issues.joomla.org/uploads/1/73311b5be6607059f090b20fe29a68d6.jpg) I'm managing this site with tags in german language, switched to english just to post the right labels, and overlocked the meaning. Because the german translation is a little misleading, in my opinion (Screenshot).

But a order parameter for the tags would be

[2017-04-05 09:57] brianteeman commented on #14049
So it is not editable then. It would be a security issue for public users
to be able to use the rich text editor and definitely should not save any
data by default

Are you saying that the field should not be displayed.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_me

[2017-04-05 09:57] AndySDH commented on #14164
I tested this further. I noticed this happens with sh404sef installed. Apparently it's because, with sh404sef installed, the browser path is kept in the URL bar when the site is offline, while with default Joomla, it redirects to the browser path in the URL bar to the root.
Since the path is redirect to the root, the image is displayed correctly.

However, it is still technically wrong to have the

[2017-04-05 09:58] brianteeman commented on #14163
Indeed it is only regular search as there is no Open Search Autodiscovery available if using smart Search (there is an issue for that)

[2017-04-05 10:00] AlexRed commented on #14049
for me yes, why display a field in the User registration form or in the Contact Mail form if it is not editable ?
But it can be "required" and block the procedure

[2017-04-05 10:04] brianteeman commented on #14163
Looking at the open search link on my blog I can see that the itemid in the link is always that of the current page - exactly as you report
eg
`	<link href="https://brian.teeman.net/component/search/?Itemid=147&amp;format=opensearch" rel="search" title="Search Brian Teeman" type="application/opensearchdescription+xml" />
`
HOWEVER
When i try to use the open search then it correctly uses the Itemid

[2017-04-05 10:07] laoneo commented on #14049
That's a different question and a very valid one which nobody raised till now. We can make it that way, when a field is not editable, then it will not be shown. But then I guess we will get tons of requests why a field is not visible just because the permission is wrong set (keep in mind, the edit value permission is initially only allowed for super admins).

[2017-04-05 10:07] AndySDH commented on #14163
Hello,
Yeah, that seems to work correctly, it's just the code generated in the head that it's wrong. But this causes duplicate URLs, for example when using sh404sef this stores the duplicate URLs for every single ItemID. So the code generated in the head should be corrected too to be 100% precise.

[2017-04-05 10:08] kgapski commented on #14440
I'm using mysql profiler [app neor profiler] Joomla connected to mysql on port 4040<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14440">issues.joomla.org/tracker/joomla-cms/14440</a>.</sub>

[2017-04-05 10:08] AlexRed commented on #14049
But also now I guess we will get tons of requests why a field is visible but no editable, just because the permission is wrong set (by default).
So for me an ACL "column" in the field list is important, to show if the field can be edit or no by the public. By default all new field are set to no edit in the ACL but the administrator can't see it.

[2017-04-05 10:10] AlexRed commented on #14049
and if the Field is not visible we solve the editor problem.

[2017-04-05 10:14] brianteeman commented on #14049
Now that I understand what you mean my personal recommendation would be that if a user does not have the acl priviliges to edit a field then it should be disabled but styled to show that you dont have the permission to edit it. We already have similar styling elsewhere for example in the edit profuile page when you have set the option to disable changing the username

[2017-04-05 10:16] brianteeman commented on #14163
Sorry but this sounds like an issue in sh404 to me as I have shown that opensearch is working correctly in the core of joomla using the itemid specified in the module

[2017-04-05 10:20] AlexRed commented on #14049
but you can't do it for the editor field.
And like for the username is not editable is not editable now the other user custom field, no special styling, only not editable. We need a message about not editable for no permission or similar, but also for the editor field if we decide to show the field also it is not editable

[2017-04-05 10:22] AndySDH commented on #14163
The issue is not with sh404sef, the issue is that the wrong ItemID is generated in the head of the document by the module.
sh404 does its job, which is storing every URL that it's found on each page.
The problem is that those URLs with the wrong ItemID shouldn't be there :)

[2017-04-05 10:28] franz-wohlkoenig commented on #14164
reopened for Discussion.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14164">issues.joomla.org/tracker/joomla-cms/14164</a>.</sub>

[2017-04-05 10:29] franz-wohlkoenig commented on #14163
reopened #14164

[2017-04-05 10:31] alan8585 opened #15100 "Smart search - Suggestion function - reduce only to some desired elements"
### Steps to reproduce the issue

Smart Search module has a Suggest function.
For example if I have the following statement in an article: "This is a test article."

When I start typing "test" in the search module, it starts to suggest other items that are not in my article. For example: test 1, test 2 or other.

### Expected result
In above example. Only "test".

I would like to be able to select

[2017-04-05 10:33] Bakual commented on #14049
The problem is that the editor formfield (not the custom field itself) doesn't support readonly/disabled states.
It's a duplicate of https://github.com/joomla/joomla-cms/issues/13665, thus I'm closing this issue.

[2017-04-05 10:33] #14049 closed

[2017-04-05 10:38] AlexRed commented on #13665
Also the User editor field (and contact Mail editor field) is editable with ACL set to no edit. But the User editor field not work, no data saved.
Why display a field in the User registration form or in the Contact Mail form if it is not editable?
But it can be "required" and block the procedure.
I guess we will get tons of requests why a field is visible but no editable, just because the permissi

[2017-04-05 10:44] #14098 closed

[2017-04-05 10:44] franz-wohlkoenig commented on #14098
closed as Expected Behaviour. @peterpeter can you please open a Issue for ordering Tags?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14098">issues.joomla.org/tracker/joomla-cms/14098</a>.</sub>

[2017-04-05 10:48] franz-wohlkoenig commented on #14062
@mstrigkos can you please confirm Issue exists on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14062">issues.joomla.org/tracker/joomla-cms/14062</a>.</sub>

[2017-04-05 10:53] #14055 closed

[2017-04-05 10:53] franz-wohlkoenig commented on #14055
closed as known Issue #14919<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14055">issues.joomla.org/tracker/joomla-cms/14055</a>.</sub>

[2017-04-05 10:58] flyingwombats commented on #15060
Tested in nightly on 5 April 2017 and its now working correctly with no not sending the password and yes sending it.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15060">issues.joomla.org/tracker/joomla-cms/15060</a>.</sub>

[2017-04-05 10:59] #14034 closed

[2017-04-05 10:59] franz-wohlkoenig commented on #14034
closed as Expected Behaviour. @imnlimited feel free to reopen for further Discussion.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14034">issues.joomla.org/tracker/joomla-cms/14034</a>.</sub>

[2017-04-05 11:01] Bakual commented on #13665
As for the default ACL settings, that's a different issue. You can see the (closed) issue here: https://github.com/joomla/joomla-cms/issues/14336
That will be a question of documenting that usecase. It's not something we can (or should) fix in code imho.

It is shown in the permission tab, so the administrator **can** know it. Honestly, custom fields will have some learning curve associated with i

[2017-04-05 11:01] franz-wohlkoenig commented on #15060
@Hg347 @AlexRed can you confirm @flyingwombats so this Issue can be closed?

[2017-04-05 11:01] AlexRed commented on #15060
yes, now is ok. Joomla! 3.7.0-beta4 (nightly Build)

[2017-04-05 11:03] #15060 closed

[2017-04-05 11:03] franz-wohlkoenig commented on #15060
closed as Issue is resolved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15060">issues.joomla.org/tracker/joomla-cms/15060</a>.</sub>

[2017-04-05 11:04] AlexRed commented on #13665
Sorry but no Documentation about ACL permission for custom field  :(
For me it is a bug: the User editor field (and contact Mail editor field) is editable with ACL set to no edit.

[2017-04-05 11:05] franz-wohlkoenig commented on #14017
closed as this Issue is not an Core-Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14017">issues.joomla.org/tracker/joomla-cms/14017</a>.</sub>

[2017-04-05 11:07] franz-wohlkoenig commented on #13665
@AlexRed guessing Documentation is coming up.

[2017-04-05 11:08] Bakual commented on #13665
Custom fields aren't released yet, documentation is still a work in progress. Hopefully someone also writes something about ACL there.

Yep, there is a bug that the editor doesn't support readonly/disabled, that is what this issue here is about. Unfortunately nobody stepped up to add that to the editor formfield yet.
My comment before was about the default ACL values which would be a diffreent iss

[2017-04-05 11:08] franz-wohlkoenig commented on #14014
@drewgg can you please confirm Issue on latest staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14014">issues.joomla.org/tracker/joomla-cms/14014</a>.</sub>

[2017-04-05 11:09] laoneo commented on #13665
It is a bug in the editor and that should not be solved with a particular setting which nobody will understand. The point is that the bug in the editor must be solved and not done some workarounds.

[2017-04-05 11:14] marcochirienti commented on #14916
It's OK, it was just a problem of my test installation.

[2017-04-05 11:16] franz-wohlkoenig commented on #13999
ping @rdeutz as Issue is also on latest Staging.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13999">issues.joomla.org/tracker/joomla-cms/13999</a>.</sub>

[2017-04-05 11:16] mbabker commented on #15079
If the 3.6.5 Hathor can work with 3.7, I'd say move it to a `joomla-extensions/hathor` repo and pull it from the distro with 3.7.  Then if it ever gets functionally updated to work with 3.7 an update can be pushed out separate from the main release schedule (decoupled extension style).  Otherwise it can sit there like the GeSHI content plugin and never get updated if there's no interest.  But in t

[2017-04-05 11:17] laoneo commented on #13665
If you think we should hide the fields instead of showing them disabled when they are not editable then please open an issue for that.

[2017-04-05 11:19] izharaazmi commented on #15079
The problem is that unfortunately 3.6.5 state of Hathor too won't work with
3.7, as far as I know.

[2017-04-05 11:20] brianteeman commented on #13665
Hiding them just creates a different support issue. "I added fields and they don't display"

[2017-04-05 11:21] mbabker commented on #14017
It is a core issue.  The build script lives in the repository and is how we build release packages.  So someone needs to confirm the build script works correctly on PHP 7.1 and if not fix it.

[2017-04-05 11:23] #13967 closed

[2017-04-05 11:23] franz-wohlkoenig commented on #13967
closed as Discussion ended. @hennysmafter feel free to reopen for further Discussion.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13967">issues.joomla.org/tracker/joomla-cms/13967</a>.</sub>

[2017-04-05 11:24] laoneo commented on #13665
But should we then not try to fix the editor instead of workarounding things?

[2017-04-05 11:28] mbabker commented on #13665
CodeMirror has a readOnly option - https://codemirror.net/doc/manual.html
TinyMCE can be set to a read only mode - https://www.tinymce.com/docs/api/tinymce/tinymce.editor/#setmode
"None" editor is just a textarea, HTML `disabled` should work

If the editor form field, editor plugins, and JEditor can't somehow enable these, that is the bug that needs to be fixed.

[2017-04-05 11:30] marcochirienti opened #15101 "com_content - Articles without creation author Id"
As pointed out in issue #14260, in com_content is possible to save an article without the author Id.
I'm not sure if this is an issue, but I have been asked to reopen it, so here I am...

### Steps to reproduce the issue

Create a new article and save it. If the created_by field has not been set by the user, the store method of JTableContent sets the created_by field with the current user id and t

[2017-04-05 11:37] #13966 closed

[2017-04-05 11:37] franz-wohlkoenig commented on #13966
close as unconfirmed Report. @anfo7 please reopen if further Discussion is needed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13966">issues.joomla.org/tracker/joomla-cms/13966</a>.</sub>

[2017-04-05 11:38] sfs-it commented on #14087
@franz-wohlkoenig you fixed it on 3.6.5 or 3.7?
I can build an extension dedicated if you need for it.

[2017-04-05 11:40] franz-wohlkoenig commented on #13962
@Bakual close this Issue because #13974?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13962">issues.joomla.org/tracker/joomla-cms/13962</a>.</sub>

[2017-04-05 11:42] brianteeman commented on #15101
Isn't. This the same as when the user who created the item is removed from the web site?

[2017-04-05 11:42] nemmar commented on #8437
Hi,

You can still have the + sign display next to the categories and sub-categories, but just have the Global configs settings match the expanded or collapsed view of the sub-cats. For example, the plus sign is useful to expand/collapse the cats/sub-cats while users view the page. But if possible have Joomla function like it used to with the config setting of expanded or collapsed display of the

[2017-04-05 11:42] franz-wohlkoenig commented on #13945
@Napoleon-BlownApart can you please confirm this issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13945">issues.joomla.org/tracker/joomla-cms/13945</a>.</sub>

[2017-04-05 11:42] brianteeman commented on #13665
Exactly!!

[2017-04-05 11:43] Bakual commented on #15101
It's is just an informational field. Nothing is broken if you don't select a user there. So imho is working as expected.

[2017-04-05 11:48] franz-wohlkoenig commented on #8437
@nemmar i don't really get you Scenario, so calling others to discuss this issue to move forward.

[2017-04-05 11:50] franz-wohlkoenig commented on #14087
@sfs-it @infograf768 was asking for an Extension, guessing 3.7

[2017-04-05 11:50] marcochirienti commented on #15101
It's fine for me, it shouldn't be a problem. As i said, i reopened a separate issue just because i have been asked to do it...

[2017-04-05 11:51] franz-wohlkoenig commented on #13933
@tonypartridge can you make a PR?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13933">issues.joomla.org/tracker/joomla-cms/13933</a>.</sub>

[2017-04-05 11:53] #13929 closed

[2017-04-05 11:53] franz-wohlkoenig commented on #13929
closed as similar #14335<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13929">issues.joomla.org/tracker/joomla-cms/13929</a>.</sub>

[2017-04-05 11:56] franz-wohlkoenig commented on #15101
close as Expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15101">issues.joomla.org/tracker/joomla-cms/15101</a>.</sub>

[2017-04-05 11:59] mbabker commented on #15101
It may be expected but that doesn't necessarily make it right.  IMO we really need to review our data model and ensure our PHP code matches the data schema and the data schema has sensible configurations (like fields which are supposed to be foreign keys should not have a `DEFAULT 0` type statement).

Created by isn't just informational.  It can have ACL implications.

[2017-04-05 12:02] franz-wohlkoenig commented on #13926
@svenbluege can you please confirm Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13926">issues.joomla.org/tracker/joomla-cms/13926</a>.</sub>

[2017-04-05 12:05] nemmar commented on #8437
Hi,

Screenshot: https://drive.google.com/file/d/0BwXZzY2mIiORa3pkei1qNTV3N2c/view?usp=sharing

As the site admin, in the backend, if you go to Articles > Options > Category. There is an config setting to choose how you want to display the sub-categories on a page. If you select "All" then Joomla should display all the sub-categories expanded, or at least that is how it used to work before this bu

[2017-04-05 12:09] franz-wohlkoenig commented on #15101
reopened as "Needs Review" in Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15101">issues.joomla.org/tracker/joomla-cms/15101</a>.</sub>

[2017-04-05 12:12] franz-wohlkoenig commented on #13904
reminder at @dgt41 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13904">issues.joomla.org/tracker/joomla-cms/13904</a>.</sub>

[2017-04-05 12:13] sfs-it commented on #14087
Gimme 20' and I build one for testing.

[2017-04-05 12:16] chriswagner0815 commented on #14888
Hi guys,
for better understanding, I would also make you aware of what Googles webmaster trends analyst said about the general issue of the nofollow use of links to other pages (in general) for your information:

https://youtu.be/GVKcMU7YNOQ?t=50m48s

[2017-04-05 12:18] franz-wohlkoenig commented on #13880
@11john canyou confirm issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13880">issues.joomla.org/tracker/joomla-cms/13880</a>.</sub>

[2017-04-05 12:21] franz-wohlkoenig commented on #13876
set Staus on "Needs Review" on issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13876">issues.joomla.org/tracker/joomla-cms/13876</a>.</sub>

[2017-04-05 12:22] franz-wohlkoenig commented on #13866
@tomekstach can you confirm Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13866">issues.joomla.org/tracker/joomla-cms/13866</a>.</sub>

[2017-04-05 12:24] franz-wohlkoenig commented on #13864
set Status "Needs Review" on Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13864">issues.joomla.org/tracker/joomla-cms/13864</a>.</sub>

[2017-04-05 12:28] brianteeman commented on #15101
If you remove the ability to set the author to none (and.i get the logic) you also have to address what to do when a user is deleted from a site and they are an author. The same logic/acl issue applies to both cases.

[2017-04-05 12:34] mbabker commented on #15101
Created and modified are fine as nullable fields IMO.  It just needs to be better communicated what this means and the code should actually null the field instead of using a 0 value (if proper foreign keys were used, the insert/update queries would fail with that because there isn't a 0 foreign key to the users table).

[2017-04-05 12:38] franz-wohlkoenig commented on #13827
set Stauts on "Needs Review" on issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13827">issues.joomla.org/tracker/joomla-cms/13827</a>.</sub>

[2017-04-05 12:42] #13826 closed

[2017-04-05 12:42] franz-wohlkoenig commented on #13826
closed as Issue solved.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13826">issues.joomla.org/tracker/joomla-cms/13826</a>.</sub>

[2017-04-05 12:43] #13824 closed

[2017-04-05 12:44] franz-wohlkoenig commented on #13824
closed as "No Reply"<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13824">issues.joomla.org/tracker/joomla-cms/13824</a>.</sub>

[2017-04-05 12:49] brianteeman commented on #15100
Sorry but thats not going to be possible, If the search term exists somewhere and has been indexed then it will be suggested. Think of it like google making suggestions to you. you cant control those suggestions. Much as google would like to and thus avoid embarrassing suggestions

Also please update your installation of Joomla immediately

[2017-04-05 12:50] franz-wohlkoenig commented on #13807
@tgv604 can you confirm this Issue in latest staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13807">issues.joomla.org/tracker/joomla-cms/13807</a>.</sub>

[2017-04-05 12:51] marcochirienti commented on #15101
IMO they are related problems, but not exactly the same thing. I don't see any benefits of allowing the user to save an article without author. So first of all the user should not be able to set the author id to none.
To handle orphan items maybe a solution could be to develop a functionality, available only to Super Users, to batch change the author ID only on orphan items.

[2017-04-05 13:02] #13772 closed

[2017-04-05 13:02] franz-wohlkoenig commented on #13772
closed as "No Reply"<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13772">issues.joomla.org/tracker/joomla-cms/13772</a>.</sub>

[2017-04-05 13:12] alex7r opened #15102 "Metadata priority changed?"
### Steps to reproduce the issue
I really do not know if that's really the case, so I'm looking for some to verify.
But as far as I remember at 3.3 (may be even 3.4-5) and prior the metadata priority was always different from what it is now.

### Expected result
Menu item meta-params are used in priority to article meta-params (like description)

### Actual result
Article meta-params are used in p

[2017-04-05 13:32] alan8585 commented on #15100
Thanks brianteeman for swift reply

[2017-04-05 13:50] sfs-it commented on #14087
I placed 2 empty install packages.
fist one is for a system plugin => https://www.sfs.it/downloads/J36-plg_system_testing_uninstall_demo.zip
second is a template =>  https://www.sfs.it/downloads/J36-tpl_testing_uninstall_demo.zip

both had all events enabled on script.php.

Template uninstall dont generate any script.php call on 3.6.5.

Attachments:
[J36-plg_system_testing_uninstall_demo.zip](http

[2017-04-05 13:59] franz-wohlkoenig commented on #14087
@infograf768 can you please have a look above?

[2017-04-05 14:01] #15100 closed

[2017-04-05 14:01] franz-wohlkoenig commented on #15100
closed as Expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15100">issues.joomla.org/tracker/joomla-cms/15100</a>.</sub>

[2017-04-05 14:15] franz-wohlkoenig commented on #13764
@fdesanto can you please confirm Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13764">issues.joomla.org/tracker/joomla-cms/13764</a>.</sub>

[2017-04-05 14:16] izharaazmi commented on #15079
I tried fixing Menu manager but searchtools is heavily broken in hathor.
Can't do much about that.

I am doing a PR now to remove Hathor as a separator repo. Rest is on the
teams decision to accept it or close.

[2017-04-05 14:18] franz-wohlkoenig commented on #13757
set Status "Needs Review" on Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13757">issues.joomla.org/tracker/joomla-cms/13757</a>.</sub>

[2017-04-05 14:19] #13734 closed

[2017-04-05 14:19] franz-wohlkoenig commented on #13734
closed as "unconfirmed Report".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13734">issues.joomla.org/tracker/joomla-cms/13734</a>.</sub>

[2017-04-05 14:24] #13700 closed

[2017-04-05 14:24] franz-wohlkoenig commented on #13700
closed as Expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13700">issues.joomla.org/tracker/joomla-cms/13700</a>.</sub>

[2017-04-05 14:31] franz-wohlkoenig commented on #13680
set Issue on Category "Feature Request".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13680">issues.joomla.org/tracker/joomla-cms/13680</a>.</sub>

[2017-04-05 14:42] Bakual commented on #15101
There is also no benefit in enforcing an author since technically it is not needed. So to each their own.
Plus we don't need special code for when users are deleted, which by itself is a benefit.

Of course @mbabker is right that it should be a "NULL" value instead of 0. But for some (unknown to me) reason in Joomla land coders think all fields should be defined as "NOT NULL".

[2017-04-05 14:44] Bakual commented on #13962
If people (eg @AndyGaskell) are fine with that solution, this can be closed.

[2017-04-05 14:47] franz-wohlkoenig commented on #13657
@sajalaspl Tooltip "Auto log out a User after they have been inactive for the entered number of minutes." Close this Issue as Discussion ended. Please reopen in case of further Discussions.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13657">issues.joomla.org/tracker/joomla

[2017-04-05 14:47] #13657 closed

[2017-04-05 14:51] franz-wohlkoenig commented on #13633
closed cause Decision of #14919 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13633">issues.joomla.org/tracker/joomla-cms/13633</a>.</sub>

[2017-04-05 14:53] brianteeman commented on #13633
please dont close this. its a valid issue and will need to be resolved for 3.8

[2017-04-05 15:20] #13491 closed

[2017-04-05 15:20] franz-wohlkoenig commented on #13491
closed as "No Reply".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13491">issues.joomla.org/tracker/joomla-cms/13491</a>.</sub>

[2017-04-05 15:24] franz-wohlkoenig commented on #13214
@jonathan00 can you please give System Informations?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13214">issues.joomla.org/tracker/joomla-cms/13214</a>.</sub>

[2017-04-05 15:34] infograf768 commented on #14087
I fail to understand the issue as well as the code proposed.

The proposed plugin (its type is NOT `package` but `plugin`) installs/uninstalls OK and the uninstall message displays OK, i.e., as I changed the string
`PLG_SYSTEM_TESTING_UNINSTALL_DEMO_UNINSTALL_TEXT="Uninstallation went perfectly"`
this without the patch.

It does not work for the template with or without patch, no message at all, b

[2017-04-05 15:38] hamlingordon commented on #7916
I've been having this problem for over a year know luckily the above patch works perfectly <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/7916">issues.joomla.org/tracker/joomla-cms/7916</a>.</sub>

[2017-04-05 15:41] mbabker commented on #14087
The template install adapter is only on the standardized install path.  So install actions should trigger the scriptfile.

The uninstall path will be fixed in 4.0.  Mainly because standardizing all of that for all of the adapters will most require B/C breaks in the system internals.

[2017-04-05 15:47] ysrostov opened #15112 "[3.7] TinyMCE - unable to configure the simplest setup"
I apologise in advance if I'm missing something here, but I'm stuck in attempts  to configure tinyMCE for frontend editing with simple buttons setup without result.

### Steps to reproduce the issue
(Fresh installation)
1.In Options for Users choose "Allow User Registration - Yes" and "New User Registration Group - Author"
2. Go to Plugins -> TinyMCE and configure it so the Simple set №2 with mini

[2017-04-05 15:47] sfs-it commented on #14087
Sorry... I create pkg, gimme 10'

[2017-04-05 16:09] sfs-it commented on #14087
Demo package
[J36-pkg_testing_uninstall_demo.zip](https://github.com/joomla/joomla-cms/files/900038/J36-pkg_testing_uninstall_demo.zip)

[2017-04-05 16:12] sfs-it commented on #14087
Here there are the pkg
[J36-pkg_testing_uninstall_demo.zip](https://github.com/joomla/joomla-cms/files/900052/J36-pkg_testing_uninstall_demo.zip)

[2017-04-05 16:24] ableanswers commented on #7916
Don't forget to check for this going into core Joomla.

If you take a look above you can see that it was aborted as a Joomla bug problem to solve.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/7916">issues.joomla.org/tracker/joomla-cms/7916</a>.</sub>

[2017-04-05 16:33] Quy opened #15114 "Remove .row0 and .row1"
If/when Hathor is removed, `.row0` and `.row1` can be removed because of `.table-striped`.

To be removed: `class="row<?php echo $i % 2; ?>"`

[2017-04-05 16:39] dgt41 commented on #15112
@ysrostov those buttons are not controlled by tinyMCE, you can disable the relative plugins in the  plugin manager

[2017-04-05 16:43] brianteeman commented on #15114
Even if it is removed from core we shouldn't do stuff to prevent people using it today from using it in the futurem

[2017-04-05 16:47] mbabker commented on #15114
We can drop that convention in 4.0.  But for 3.x it'd need to stay as removing the class could potentially alter the appearance of someone's site using those classes.

[2017-04-05 16:51] franz-wohlkoenig commented on #12690
@iv660 is this Issue on latest Staging too?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12690">issues.joomla.org/tracker/joomla-cms/12690</a>.</sub>

[2017-04-05 16:51] brianteeman commented on #15114
Closed as stated above

[2017-04-05 16:51] #15114 closed

[2017-04-05 16:53] #12632 closed

[2017-04-05 16:53] franz-wohlkoenig commented on #12632
closed as Expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12632">issues.joomla.org/tracker/joomla-cms/12632</a>.</sub>

[2017-04-05 17:01] franz-wohlkoenig commented on #12552
@ch2856 ist this Issue solved?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12552">issues.joomla.org/tracker/joomla-cms/12552</a>.</sub>

[2017-04-05 17:09] franz-wohlkoenig commented on #12448
between 631 and 481 looks messed:
![screen shot 2017-04-05 at 17 09 13](https://issues.joomla.org/uploads/1/5c9e2c27698c62655a49120ac23598c3.jpg)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12448">issues.joomla.org/tracker/joomla-cms/12448</a>.</sub>

[2017-04-05 17:15] franz-wohlkoenig commented on #12302
@DreamlessDancer can you confirm Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12302">issues.joomla.org/tracker/joomla-cms/12302</a>.</sub>

[2017-04-05 17:22] ysrostov commented on #15112
@dgt41  thanks a lot! I should've guessed. So we only can turn them website-wide back&front ON or OFF...   Not much of a choice)

[2017-04-05 17:25] franz-wohlkoenig commented on #12072
@quannv can you confirm this Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12072">issues.joomla.org/tracker/joomla-cms/12072</a>.</sub>

[2017-04-05 17:29] #12053 closed

[2017-04-05 17:29] franz-wohlkoenig commented on #12053
closed as Duplicate of #13757 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12053">issues.joomla.org/tracker/joomla-cms/12053</a>.</sub>

[2017-04-05 17:37] ch2856 commented on #12552
Nope, it's not solved yet. It takes about 30 second to save an article. I solved it with saving to other category and then save it again to the right one. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12552">issues.joomla.org/tracker/joomla-cms/12552</a>.</sub>

[2017-04-05 17:39] Bakual commented on #15112
@ysrostov You can use the view levels to specifiy which editor buttons show for each usergroup.

[2017-04-05 18:00] ysrostov commented on #15112
Thank you @Bakual , sorry am not good at solving this quest)) I see now how I can turn them on only for a super user.
As far as the issue is concerned I would still consider to switch showing of some these buttons by default OFF for a any other ACL group but Super User...  Module, Menu, Contact buttons for sure

[2017-04-05 18:41] svenbluege commented on #13926
@franz-wohlkoenig seems like this issue was resolved.

Here is my test code:
[code]

The second run renders both values as expected.

[2017-04-05 18:41] #13926 closed

[2017-04-05 19:07] laoneo commented on #15079
Fyi https://twitter.com/laoneo/status/849625687338221569, there are people using hathor so we need a proper way to migrate them.

[2017-04-05 19:12] alex7r commented on #15079
Sounds like "migrating not working feature". )
p.s. from my personal experience with Hathor only

[2017-04-05 19:16] Bakual commented on #15112
That depends a lot on the use case.

[2017-04-05 19:21] Bakual commented on #15079
Migrating isn't hard. If Hathor isn't available anymore, they are migrated automatically to Isis (an error is shown that "the template isn't available for this view" and Isis is the fallback) :p

[2017-04-05 21:09] zALEHANz opened #15117 "joomla 4"
### Steps to reproduce the issue

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-04-05 21:24] #15117 closed

[2017-04-05 21:56] brianteeman opened #15119 "No message on install with drag and drop"
When you install an extension using the browser and upload you get a success message - see screenshot below

When you install using drag and drop you get no feedback that the extension has been installed

<img width="804" alt="screenshotr22-55-43" src="https://cloud.githubusercontent.com/assets/1296369/24728721/06bce3c6-1a53-11e7-9bd0-a600114442b3.png">

[2017-04-06 04:15] Quy opened #15123 "[com_menus] Undefined index: assetgroup_id & Undefined index: language_id"
### Steps to reproduce the issue
Create an Administrator menu.
Create a menu item under this Administrator menu.
Click `Save & Copy` button.
Click `Check All` button.
Click `Batch` button.
Click this menu item under `- Don't copy or move-` dropdown.
Click the `Move` radio button.
Click `Process` button.

In the PHP error log:
[code]
### Additional comments
Latest staging version

[2017-04-06 05:07] franz-wohlkoenig commented on #12552
thanks for Info. Set Status "Needs Review" on Issue Tracker.

[2017-04-06 05:13] franz-wohlkoenig opened #15124 "[3.7] Joomla Update: 1054 Unknown column 'hathor' in 'where clause'"
### Steps to reproduce the issue
After Update on nightly Builds:
![bildschirmfoto 2017-04-06 um 07 11 15](https://cloud.githubusercontent.com/assets/8235763/24738801/79c8778c-1a98-11e7-8ea5-583614dc7efd.JPG)
### System information
Joomla! 3.7.0-beta4 (nightly Build)
macOS Sierra, 10.12.4
Firefox 52 (64-bit)
#### MAMP 4.1.1
- PHP 7.0.15
- MySQLi 5.6.35

[2017-04-06 05:19] zero-24 commented on #15124
See the comments by Brian here: https://github.com/joomla/joomla-cms/commit/4e825aadb6e5811c2f11c8d9366e6b59f8878e1b

[2017-04-06 05:22] franz-wohlkoenig commented on #15124
closed as known Issue<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15124">issues.joomla.org/tracker/joomla-cms/15124</a>.</sub>

[2017-04-06 05:39] zero-24 commented on #15124
This needs fixing. Please let that open until it is fixed by @rdeutz ;)

[2017-04-06 05:42] N6REJ commented on #15079
Is there anyone like Andy that can test accessibility anymore?  @brianteeman aren't you well versed in that?

[2017-04-06 05:45] franz-wohlkoenig commented on #15124
reopened for fixing.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15124">issues.joomla.org/tracker/joomla-cms/15124</a>.</sub>

[2017-04-06 06:11] tonypartridge commented on #14757
The UX update might be a little way away yet. What about someone @C-Lodder doing a PR then we can ask users to test on the new system and the J4 research could contain questions and comments on this.

[2017-04-06 06:25] #12044 closed

[2017-04-06 06:25] franz-wohlkoenig commented on #12044
closed as Duplicate of #13194 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12044">issues.joomla.org/tracker/joomla-cms/12044</a>.</sub>

[2017-04-06 06:44] franz-wohlkoenig commented on #12038
did #13737 resolve this Issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12038">issues.joomla.org/tracker/joomla-cms/12038</a>.</sub>

[2017-04-06 06:48] franz-wohlkoenig commented on #12010
@coolcat-creations do you this Issue also on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12010">issues.joomla.org/tracker/joomla-cms/12010</a>.</sub>

[2017-04-06 06:50] franz-wohlkoenig commented on #12002
@Fedik @RonakParmar did you get this issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12002">issues.joomla.org/tracker/joomla-cms/12002</a>.</sub>

[2017-04-06 07:08] phproberto commented on #12038
Yes. We can close this.

[2017-04-06 07:15] #12038 closed

[2017-04-06 07:15] franz-wohlkoenig commented on #12038
closed as Issue is solved, thanks @phproberto <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/12038">issues.joomla.org/tracker/joomla-cms/12038</a>.</sub>

[2017-04-06 07:43] franz-wohlkoenig commented on #11805
@olejenya can you confirm Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11805">issues.joomla.org/tracker/joomla-cms/11805</a>.</sub>

[2017-04-06 07:46] franz-wohlkoenig commented on #11771
@andrepereiradasilva should this issue stay open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11771">issues.joomla.org/tracker/joomla-cms/11771</a>.</sub>

[2017-04-06 07:49] franz-wohlkoenig commented on #11666
@YHartonuk can you make a PR so this Issue get resolved?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11666">issues.joomla.org/tracker/joomla-cms/11666</a>.</sub>

[2017-04-06 07:52] franz-wohlkoenig commented on #11551
@webchun are com_fields a Solution?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11551">issues.joomla.org/tracker/joomla-cms/11551</a>.</sub>

[2017-04-06 07:56] franz-wohlkoenig commented on #11490
@eshiol can you make a PR to resolve this Issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11490">issues.joomla.org/tracker/joomla-cms/11490</a>.</sub>

[2017-04-06 08:01] franz-wohlkoenig commented on #11476
@AnrietteC can you confirm this Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11476">issues.joomla.org/tracker/joomla-cms/11476</a>.</sub>

[2017-04-06 08:02] AndySDH opened #15127 ""Use Global" in Menu Options should be changed to "Inherit""
### Steps to reproduce the issue
So, we know that the priority order for Articles is "Menu Options > Article Options > Global Options".

You can try with any Article Setting. Let's use "Show Category" as an example.

LEVEL 1 - Global Options: SHOW
LEVEL 2 - Article Options: HIDE
LEVEL 3 - Menu Options: USE GLOBAL

### Actual result in the Menu Item

The result is that the Category is SHOWN (takes

[2017-04-06 08:02] franz-wohlkoenig commented on #11422
@saraheagle can you confirm this Issue on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11422">issues.joomla.org/tracker/joomla-cms/11422</a>.</sub>

[2017-04-06 08:18] Fedik commented on #11551
@franz-wohlkoenig nope

[2017-04-06 08:32] brianteeman commented on #15079
No idea what you are aksing @N6REJ but the reality from an a11y perspective is that hathor really isnt much better (if at all) than isis

[2017-04-06 08:40] C-Lodder commented on #14757
There are 2 options:

1. There is now a UX survey out and one of the questions asks which button you use the most in the toolbar. We can wait for that.

2. Just go ahead and make the default `Save & Close`

As for the `Save as Unpublished`, this is a nice idea.

[2017-04-06 08:44] C-Lodder commented on #14757
Sounds good. In which case we can ditch the dropdown and display a single button, in this case.

[2017-04-06 08:46] brianteeman commented on #14757
No we still need a dropdown for the other options "save as copy" etc just that my proposal for save as unpublished wouldnt be needed unless the workflow scenario matched

[2017-04-06 08:48] C-Lodder commented on #14757
Ah does `Save as Copy` set the item to unpublished too?

[2017-04-06 08:49] tonypartridge commented on #14757
Yes

Thanks
Tony

On 6 Apr 2017, 09:48 +0100, Lodder <notifications@github.com>, wrote:

[2017-04-06 09:06] AlexRed commented on #15119
I can confirm the problem on Joomla! 3.7.0-beta4 (nightly Build)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15119">issues.joomla.org/tracker/joomla-cms/15119</a>.</sub>

[2017-04-06 09:09] ghazal commented on #15119
Problem confirmed.
I do admit that it is a bit unsettling.

[2017-04-06 09:32] infograf768 commented on #15119
It also could be the same issue for eventual errors as these are in the install.php code

@asika32764
could you please look into this?
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15119">issues.joomla.org/tracker/joomla-cms/15119</a>.</sub>

[2017-04-06 09:37] asika32764 commented on #15119
I guess it is the message session issue since new drag n drop installation use ajax instead form submit.

I will take a look to the code later.

[2017-04-06 09:44] franz-wohlkoenig commented on #11551
thanks @Fedik, set Status on "Needs Review".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11551">issues.joomla.org/tracker/joomla-cms/11551</a>.</sub>

[2017-04-06 09:52] dneukirchen opened #15131 "[4.0] Session cookie does not get updated"
### Steps to reproduce the issue

Go to homepage
Open dev tools
Go to "Application" tab
Select domain cookies
See expires_at/max-age of the session cookie
Refresh the page

### Expected result

The max-age of the cookie should get updated on every request.

### Actual result

The cookie does not get updated. If the user was logged in, he gets logged out after expiration.

### System information (a

[2017-04-06 10:07] infograf768 commented on #14087
@sfs-it

@mbabker has replied to you above:
https://github.com/joomla/joomla-cms/issues/14087#issuecomment-291902787

[2017-04-06 10:13] infograf768 commented on #13633
Changed title to reflect in which conditions the issue may appear<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/13633">issues.joomla.org/tracker/joomla-cms/13633</a>.</sub>

[2017-04-06 10:18] franz-wohlkoenig commented on #15123
closed cause PR #15132 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15123">issues.joomla.org/tracker/joomla-cms/15123</a>.</sub>

[2017-04-06 10:28] sfs-it commented on #14087
@mbabker what do you mean with "The template install adapter is only on the standardized install path. So install actions should trigger the scriptfile."
I've write an template and if I uninstall it, the class in script file arent call...

[2017-04-06 10:47] franz-wohlkoenig commented on #10896
@designbengel Mockup coming?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10896">issues.joomla.org/tracker/joomla-cms/10896</a>.</sub>

[2017-04-06 10:51] #10879 closed

[2017-04-06 10:51] franz-wohlkoenig commented on #10879
closed as no reply. @anabarcellos feel free to reopen and discuss further.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10879">issues.joomla.org/tracker/joomla-cms/10879</a>.</sub>

[2017-04-06 10:53] franz-wohlkoenig commented on #10874
@ChrisHoefliger is this Issue resolved by #13498?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10874">issues.joomla.org/tracker/joomla-cms/10874</a>.</sub>

[2017-04-06 10:58] franz-wohlkoenig commented on #10871
@laoneo should this Issue closed caus no file-field-Plugin is in 3.7?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10871">issues.joomla.org/tracker/joomla-cms/10871</a>.</sub>

[2017-04-06 11:06] MATsxm commented on #12044
@franz-wohlkoenig yes... duplicate as this was #12044

[2017-04-06 11:11] Hackwar commented on #13633
Could someone explain to me again what the issue is here? Because if you are referring to the original poster, then this is expected behavior. Featured Articles is not a menu item that can lead to a category view or an article view. (And no, the new router is not supposed to be 100% backwards compatible. Just because the old router somehow worked, doesn't mean that it was right that way.) If you m

[2017-04-06 11:15] ChrisHoefliger commented on #10874
@franz-wohlkoenig Just tested in J! 3.7 Beta 4. It's not being resolved, sitauation still the same. Words without Umlauts get highlighted, words with Umlauts will be found, but no highlighting.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10874">issues.joomla.org/tracker/jo

[2017-04-06 11:19] franz-wohlkoenig commented on #10874
thanks @ChrisHoefliger set Status on "Needs Review" on Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10874">issues.joomla.org/tracker/joomla-cms/10874</a>.</sub>

[2017-04-06 11:30] franz-wohlkoenig commented on #14923
what i remembered in [comment](https://issues.joomla.org/tracker/joomla-cms/14923#event-254624 "comment") was #14863<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/14923">issues.joomla.org/tracker/joomla-cms/14923</a>.</sub>

[2017-04-06 11:33] franz-wohlkoenig commented on #10864
@VasyaV01 can you please confirm if Issue is also in latest staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10864">issues.joomla.org/tracker/joomla-cms/10864</a>.</sub>

[2017-04-06 11:46] franz-wohlkoenig commented on #10820
@molteber is the Issue also on latest Staging?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10820">issues.joomla.org/tracker/joomla-cms/10820</a>.</sub>

[2017-04-06 11:56] franz-wohlkoenig commented on #10624
@grantg182 can you confirm Issue on latest Staging too?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10624">issues.joomla.org/tracker/joomla-cms/10624</a>.</sub>

[2017-04-06 12:26] Bakual commented on #15127
Just to be precise, this depends on what the menu item type is.
If the active menu item is an "Single Article" pointing to that exact article, then it is as you wrote, Menu takes precedence over article.
If the menu item is something different (eg "Single Article" but for another article or a category view), then it is "Article Options > Menu Options" > Global Options". Article settings take prece

[2017-04-06 12:30] AndySDH commented on #15127
Oh, well, in that case, this causes way less issues than I thought. So from problematics standpoint, we're good. For consistency, however, I guess it could improved anyway?
What is the purpose of "Use Article Options" if, as you way:
[quote]If the menu item is something different (eg "Single Article" but for another article or a category view), then it is "Article Options > Menu Options" > Global

[2017-04-06 12:43] Bakual commented on #15127
Honestly, I don't know that. You would have to ask the one who implemented it :smile:

[2017-04-06 12:55] mbabker commented on #14087
Right.  The install path was standardized in 3.4.  The uninstall path hasn't yet, and as such each extension adapter still has different behaviors.

[2017-04-06 13:24] franz-wohlkoenig commented on #10609
@conconnl have you opened an issue so i can close this Issue?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10609">issues.joomla.org/tracker/joomla-cms/10609</a>.</sub>

[2017-04-06 13:26] #10580 closed

[2017-04-06 13:26] franz-wohlkoenig commented on #10580
closed as no Reply.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10580">issues.joomla.org/tracker/joomla-cms/10580</a>.</sub>

[2017-04-06 13:38] franz-wohlkoenig commented on #10447
@andrepereiradasilva is your Statement above also in 3.7 so i let this Issue open?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10447">issues.joomla.org/tracker/joomla-cms/10447</a>.</sub>

[2017-04-06 13:45] franz-wohlkoenig commented on #10259
@dgt41 can this Issue be closed?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10259">issues.joomla.org/tracker/joomla-cms/10259</a>.</sub>

[2017-04-06 13:48] #10086 closed

[2017-04-06 13:48] franz-wohlkoenig commented on #10086
closed as Duplicate of #9756, thanks for Hint @PhilETaylor <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10086">issues.joomla.org/tracker/joomla-cms/10086</a>.</sub>

[2017-04-06 13:52] franz-wohlkoenig commented on #9747
@addondev can you confirm Issue on latest Staging too?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9747">issues.joomla.org/tracker/joomla-cms/9747</a>.</sub>

[2017-04-06 13:56] #9323 closed

[2017-04-06 13:56] franz-wohlkoenig commented on #9323
closed as no Reply. @thndrbck feel free to reopen for further Discussions.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/9323">issues.joomla.org/tracker/joomla-cms/9323</a>.</sub>

[2017-04-06 14:07] franz-wohlkoenig commented on #8444
@CerberusMkII do you have a working prototype?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/8444">issues.joomla.org/tracker/joomla-cms/8444</a>.</sub>

[2017-04-06 14:33] Quy opened #15133 "[com_menus] Hide options until an Administrator menu/parent item is selected in Batch mode"
### Steps to reproduce the issue
Create an Administrator menu.
Create a menu item under this Administrator menu.
Click this menu item.
Click `Batch` button.

### Expected result
Copy/Move radios to display only after a menu/parent item is selected.

### Actual result
![batchmenu](https://cloud.githubusercontent.com/assets/368084/24759500/845c17e2-1a9a-11e7-95af-26cc18793cd7.jpg)

[2017-04-06 15:01] cpfeifer commented on #12789
Our new interface survey is live, you can help us by taking it and sharing it.
https://ux.joomla.org/content-management-survey

The initial results from our testing phase are attached. As you can see there isn't necessarily a clear path to follow here. Some buttons jump out as not being particularly valuable, but that's about it. We'll be running this for a few weeks and we'll see what we get. Aga

[2017-04-06 15:03] conconnl commented on #10609
No and i'm not sure for what I need to make a issue. I don't have any issues at the moment.

[2017-04-06 15:12] franz-wohlkoenig commented on #10609
@conconnl i misread your comment above, sorry for that.

[2017-04-06 15:12] cpfeifer commented on #14972
What is the real world usage for this? Why it is important to have this feature and who is it important to? Those are the questions we need to ask for any new feature concept.

I hear what you're saying, but I don't think this is the solution. It would be better to address the category / article / menu item workflow, the number of steps, options and screens required to do this is the real reason i

[2017-04-06 15:13] franz-wohlkoenig commented on #10609
@laoneo should i open an ssue like this on  https://github.com/joomla-projects/media-manager-improvement?

[2017-04-06 15:15] laoneo commented on #10609
Yes I think it is a good idea, then we have it tracked.

[2017-04-06 15:17] laoneo commented on #10871
yes

[2017-04-06 15:29] Quy opened #15134 "[com_menus] Hide Process button when in Trashed status (Admin menu)"
### Steps to reproduce the issue
Create an Administrator menu.
Create a menu item in this Administrator menu.
Trash this menu item.
Click `Search Tools` button.
Select `Trashed` in `- Select Status -` dropdown.
Select the Administrator menu in `- Select Menu -` dropdown.
Click `Select All` checkbox.
Click `Batch` button.

### Expected result
Cancel button only.

### Actual result
![hide-process-bu

[2017-04-06 15:39] brianteeman commented on #15134
Confirmed - it is cancel only when on site menus so should be cancel only when on admin menus.

[2017-04-06 15:41] cpfeifer commented on #8600
It should keep as many values as possible. If I remember correctly, it's also an issue with nested categories and menu items losing parent item relationships, but it's been awhile since I've had to do that. It would be very helpful and help users avoid more steps.

[2017-04-06 15:44] brianteeman commented on #15133
Confirmed. It should be the same as for site menu items

[2017-04-06 15:45] asika32764 commented on #15119
Fixed in https://github.com/joomla/joomla-cms/pull/15135

[2017-04-06 15:47] brianteeman commented on #15119
Closed as we have a PR

[2017-04-06 15:47] #15119 closed

[2017-04-06 15:47] franz-wohlkoenig commented on #10609
done: https://github.com/joomla-projects/media-manager-improvement/issues/166

[2017-04-06 15:48] #10609 closed

[2017-04-06 15:57] #10871 closed

[2017-04-06 15:57] franz-wohlkoenig commented on #10871
closed as Issue resolved, thanks for Info @laoneo <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10871">issues.joomla.org/tracker/joomla-cms/10871</a>.</sub>

[2017-04-06 16:19] dneukirchen opened #15137 "[RFC 4.0] Create gh project boards for planned 4.0 features"
It is currently not very easy to get an overview of the joomla 4.0 development progress.
I see the planned feature list and a lot ungrouped issues / prs, but im not able get a clear overview.

* who is in charge of a feature?
* what is the current state?
* what needs to be done (next)?
* where can i help?
* what is the roadmap of the feature?
* what is the goal?
* technical instructions.

Imo we n

[2017-04-06 16:25] brianteeman commented on #15137
Anything is better than nothing

[2017-04-06 16:27] jeckodevelopment commented on #15137
It's up to @mbabker and Production Dept.

[2017-04-06 16:28] mbabker commented on #15137
I'm cool with it.  Honestly, just getting the roadmap page into the state it is in now was a good step forward, but using the project boards helps too (I'm doing it on the downloads site repo, if I ever get around to working on those tasks anyway).

[2017-04-06 16:41] laoneo commented on #15137
Perhaps we should move j4 development into its own repo to reduce noise here? It will be easier then to woek with projects and issues and assign them to people.

[2017-04-06 16:44] brianteeman commented on #15137
Personally thats a much better idea as it makes the tracker much easier to handle. Not sure why it was decided not to do it that way but I assume there was good reason

[2017-04-06 16:57] Fedik commented on #12002
it seems fixed, cannot reproduce it anymore

[2017-04-06 16:57] #12002 closed

[2017-04-06 17:11] mbabker commented on #15137
Why?  It's one thing for feature teams to work in separate repos, but to have a separate repo for each version?

[2017-04-06 17:13] brianteeman commented on #15137
a new repo every 4 years isnt much of a hardship ;)

[2017-04-06 17:15] mbabker commented on #15137
It breaks continuity.  Also, new SVN repos were never set up when jumping 1.0 to 1.5 or 1.5 to the middle ages or then to 3.0.  The difference is the issue trackers were fragmented per version.

IMO, that's not a strong argument for a new repo for each major version.

[2017-04-06 17:19] alikon commented on #11666
easy pr made
maybe @YHartonuk  can test with his custom extension

[2017-04-06 17:30] laoneo commented on #15137
There was it's own repo for Atum and aurora, so why not making one for the rest? Even media manager and web services do have their own repo.

[2017-04-06 17:30] dneukirchen commented on #15137
Imo new repo is not necessary. It might clean up issue tracker, but that can be achieved with proper filtering and project assignments. Creating a new repo does not solve the problems i mentioned in my initial post.

Lets start with project boards and see how that goes.

[2017-04-06 17:31] laoneo commented on #15137
What to do then when a project finished?

[2017-04-06 17:32] dneukirchen commented on #15137
Then we can close it.

Lets make not a big discussion out of this one... i think feedback was positive.

Can i help settings things up?

[2017-04-06 17:44] #11666 closed

[2017-04-06 17:44] franz-wohlkoenig commented on #11666
closed as PR made, thanks @alikon <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11666">issues.joomla.org/tracker/joomla-cms/11666</a>.</sub>

[2017-04-06 17:47] mbabker commented on #15137
Those are project repos meant for bigger feature projects.  But the work is still merging back to this main repo when it reaches that state.  That's different than having a different repository for a new version of the software.

I've turned the projects board on.  I don't remember how GitHub deals with ACL on who can or can't edit it but anyone with access is free to do what they can.

[2017-04-06 18:00] bertmert commented on #15123
@Quy
Could you please split your issue https://github.com/joomla/joomla-cms/issues/15123
to make clear that it contains 2 different issues (see comment https://github.com/joomla/joomla-cms/pull/15132#issuecomment-292251478) .

@franz-wohlkoenig
https://github.com/joomla/joomla-cms/pull/15132 just solves the second part of this issue. Could you please re-open here.

Thank you!

[2017-04-06 18:28] uglyeoin commented on #14972
I'm not sure I understood your answer, but happy to discuss, in private if you prefer.  The use case for me would be blog style websites only.  The only time it could work is when you want to show all of your content on one page.  Even then there's a chance you have Ts & Cs that you don't really want on your blog page.  It might be preferable in that instance to show all articles except category X

[2017-04-06 18:59] CSchaefer70 commented on #11635
I had this problem with Joomla 3.48 attempting to upload to 3.6.5... C-Lodder suggestions (di step by step) worked for me without and issues... Thank you so much!

[2017-04-06 19:22] Bakual commented on #13665
I had a look if I can get the editors into readonly mode. For codemirror I was able to set that flag hardcoded in the editor plugin, for TinyMCE I couldn't figure out yet where I would have to set it.
But then that isn't the biggest problem anyway. The way the editors work, the editor plugins are completely disconnected from the editor formfield. They go through JEditor and only a very limited set

[2017-04-06 20:48] dgt41 commented on #13665
@Bakual
[code]
should do it!

[2017-04-06 20:50] dgt41 commented on #13665
or client side using Joomla's new API:
[code]

[2017-04-06 20:52] Quy opened #15140 "[com_menus] 'UnexpectedValueException' with %ss::moveByReference() when making a child of itself"
### Steps to reproduce the issue
Create an Administrator menu.
Create a menu item under this Administrator menu.
Click `Save & Copy` button.
Click `Check All` button.
Click `Batch` button.
Click this menu item under `- Don't copy or move-` dropdown.
Click the `Move` radio button.
Click `Process` button.

A warning message is displayed:
[code]
### Additional comments
Latest staging version

[2017-04-06 20:55] Quy commented on #15123
Separated the 2nd issue into its own.

[2017-04-06 20:55] #15123 closed

[2017-04-06 20:55] Ssupreme opened #15141 "smart tags search"
### Steps to reproduce the issue
1. open "tags" component and create tags simular to following:
йцукен
йцукенг
йцукенгш
фывапрол
фывапролдж
фывапр
ячсмитьб
ячсми
ячсмитьбю.
qwertyuiop
qwerty
qwert
asdfghjkl
asdfgfgh
zxcvbnm,.
zxcvbn
2. go to article editor and in tags selector, try to type 3 first chars from non-latin language tags.

### Expected result
smart search displays list of tags, which ha

[2017-04-06 21:15] mihailnovak opened #15142 "Unknown column 'a.name' in 'field list'"
### Steps to reproduce the issue
After update Joomla 3.7.0 beta4 to Joomla! 3.7.0-rc1

### Expected result
Unknown column 'a.name' in 'field list'

### Actual result

### System information (as much as possible)

### Additional comments

[2017-04-06 21:16] mbabker commented on #15142
Known issue with how database upgrades are managed for non-stable releases, see https://github.com/joomla/joomla-cms/issues/13661

In your `#__fields` table, rename the alias column to name and you'll be good.

[2017-04-06 21:25] mihailnovak commented on #15142
No access to custом fields in administration.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15142">issues.joomla.org/tracker/joomla-cms/15142</a>.</sub>

[2017-04-06 21:27] mbabker commented on #15142
You have to do it in the database.

[2017-04-06 21:33] mihailnovak commented on #15142
Thank you mbabker!!!<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15142">issues.joomla.org/tracker/joomla-cms/15142</a>.</sub>

[2017-04-06 22:20] uglyeoin opened #15143 "Error with drag and drop installer - NULL"
### Steps to reproduce the issue
Create a zip file which plainly won't install in Joomla!
Use the new drag and drop installer (which is a great addition btw)
Drag the file into the dotted lines and release.

### Expected result
An error message saying it doesn't work for example the following:

Warning

JInstaller: :Install: File does not exist /home/*****/******/tmp/install_58e6bb5c4cd59/com_****

[2017-04-06 22:43] Gitjk opened #15144 "[com_fields] Joomla 3.7.0. RC1: Warning Error loading component: com_fields, Component not found."
### Steps to reproduce the issue
1. Update a Joomla 3.6.5 site to Joomla 3.7.0 RC1
2. Go to the Control Panel

### Expected result
The following warning should not display

### Actual result

Warning
Error loading component: com_fields, Component not found.

Some files missing in the 3.7.0. RC1 package?

### System information (as much as possible)

### Additional comments

[2017-04-06 22:47] bertmert commented on #15133
The relevant JS is part of JLayout `/joomla/html/batch/language.php` that is not included in batch modals for  Administrator menu items.
https://github.com/joomla/joomla-cms/blob/3.7.0-rc1/layouts/joomla/html/batch/language.php#L18-L36

I don't know where to move this script block. In a custom JLayout? A JHtml methode? ...?

[2017-04-06 22:55] Quy commented on #15133
This dropdown works on the Site menus, but not on the Administrator menus.

[2017-04-06 22:59] Gitjk opened #15145 "Joomla 3.7.0 RC1: Notices upon completion of update from 3.6.5 to 3.7.0 RC1"
### Steps to reproduce the issue
Update a Joomla 3.6.5 site

### Expected result
No notices

### Actual result

### System information (as much as possible)

Tested locally with xampp using php 5.4.x

### Additional comments
![Screenshot](https://expirebox.com/download/e32a7ec780abe70cd329dc32914d57f2.html "Screenshot")
Image will automatically disappear after aproximately 48 hours.

[2017-04-06 23:34] grantg182 commented on #10624
Yes, unfortunately it appears to be no different in 3.6.5 using the above example.

[2017-04-07 00:36] mbabker commented on #15137
I've taken a first stab at populating https://github.com/joomla/joomla-cms/projects

Improvements welcome

[2017-04-07 04:29] Quy opened #15147 "[com_banners] Undefined variable: canDo & Call to a member function get() on null in Hathor"
### Steps to reproduce the issue
Install demo.
Go to Components > Banners > Clients.
Edit a client.

![banner-clients](https://cloud.githubusercontent.com/assets/368084/24785571/fd4ffaae-1b0f-11e7-9325-b000dd04b6a6.jpg)

[code]

[2017-04-07 04:57] #15142 closed

[2017-04-07 05:50] franz-wohlkoenig commented on #10624
thanks for Info, set Status to "Need Review" on Issue Tracker.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/10624">issues.joomla.org/tracker/joomla-cms/10624</a>.</sub>

[2017-04-07 05:57] Bakual commented on #13665
But how does the plugin know when to set it? It doesn't know anything about the formfield and the formfield doesn't know anything about the editor.
The current call goes through JEditor::display() (see https://github.com/joomla/joomla-cms/blob/staging/libraries/cms/editor/editor.php#L289) which then passes the arguments to the editor plugin here https://github.com/joomla/joomla-cms/blob/staging/li

[2017-04-07 06:59] Gitjk commented on #15145
Looks like my screenshot link doesn't work. Trying to attach it here again.![screen shot 2017-04-07 at 06 59 31](https://issues.joomla.org/uploads/1/40b0f807b95a14b1130f6cb823529b97.png)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15145">issues.joomla.org/tracker/joomla-cm

[2017-04-07 07:11] coolcat-creations commented on #10896
@franz-wohlkoenig i can. Just not available for the next 2 weeks...

[2017-04-07 07:17] mediafish commented on #15071
Well ok you know that because of your experience and thanks for pointing that out :-)

...but if you start talking about algebra; at school we only used placeholders if we were talking about unknown values - but  here the value is Spain so no need for "x "but "es" ;-)

[2017-04-07 07:34] laoneo commented on #15144
How did you update?

[2017-04-07 07:35] AlexRed commented on #15147
I can confirm the problem on Joomla! 3.7.0-rc1 (nightly Build)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15147">issues.joomla.org/tracker/joomla-cms/15147</a>.</sub>