[2018-07-03 15:06] mbabker commented on #20960
Re-opening.  At a minimum we can do something about the frontend issue.  What, I don't know, but either way this isn't a 100% dead topic.

[2018-07-03 15:12] PhilETaylor commented on #20960
Also when `https://www.google.com/recaptcha/api/js/recaptcha_ajax.js` loads it attempts to load `https://www.google.com/recaptcha/api/challenge?k=66Ldyn-YSAAAAAGs3Br16Q87JRDg9cu05rpmbKn0j&ajax=1&cachestop=0.1370436095683205&lang=en` which in turn attempts to write the warning to the page - but fails in google chrome due to `security`

<img width="1199" alt="screen shot 2018-07-03 at 16 11 06" src=

[2018-07-03 15:32] PhilETaylor commented on #20960
@mbabker something like https://github.com/joomla/joomla-cms/pull/20965 ? the light touch approach.

[2018-07-03 15:35] PhilETaylor commented on #20960
or maybe something more generic in libraries/src/Captcha/Captcha.php that just flat out refuses to load the captcha if the params version is v1.0?

At the moment #20965  leaves a form with a form field for captcha (optional) which is silly:

<img width="695" alt="screen shot 2018-07-03 at 16 35 27" src="https://user-images.githubusercontent.com/400092/42229745-1c9ec230-7edf-11e8-867b-4618186103da.

[2018-07-03 15:41] mbabker commented on #20960
The plugin's the right place to deal with it.  Because the `Captcha` class is supposed to be an abstraction layer of sorts to allow any captcha system to be plugged in, you start putting logic in there and it gets murky as all hell (how does the class know it's dealing with a Google captcha system, implementing version 1 of the API, etc. etc.).

[2018-07-03 15:43] PhilETaylor commented on #20960
I honestly could not recall the name of any other captcha system that I would ever use ;-) ;-) haha

---
Sent from my iPhone

[2018-07-03 16:03] germi opened #20966 "[4.0] How to load plugins into custom component in Joomla 4"
### Steps to reproduce the issue
Hi guys, I'm not sure if this is the right place to post these kind of questions. I didn't see a "developer Joomla 4" section on Joomla forum.. if there's somewhere else I should be posting this, please let me know.
I'm migrating my custom extensions to Joomla 4. One issue I am facing is that plugins don't seem to be loaded.
I'm using the `JPluginHelper::importPlug

[2018-07-03 19:02] Raere commented on #15369
There is definitely a use for readonly and disabled fields. A good case example for readonly would be a membership organization who wants to assign member id, type, and expiration. An administrator can set those for recordkeeping and not allow the user to edit the fields but to only view them. A good case example for disabled is allowing members to have access to a file so the URL to the file woul

[2018-07-03 19:09] brianteeman commented on #15369
that can be ahieved with the acl

[2018-07-03 21:00] PhilETaylor commented on #16086
This was closed as there is nothing else to fix in Joomla.

Check the mime type of the file you are uploading with the tool at http://mime.ritey.com/ - then decide if you are happy to whitelist that mime type, and if you are then whitelist it. Simple.

Out of the box the Joomla filter is set up to be secure. But its your site, so if you want to change the settings you can. No one is stopping you!

[2018-07-03 21:11] PhilETaylor commented on #16086
Of course if your file doesnt have the mime type of application/octet-stream then that is correct - adding application/octet-stream will not solve your issue.

PDF's are notorious for being badly created by all kinds of apps. Although the P D F Format is well documented, it has many many different implementations, and PDF's can generate a lot of different mime types, from application/octet-stream

[2018-07-03 21:11] PhilETaylor commented on #16086
There is more technical discussion here https://github.com/joomla/joomla-cms/issues/16238

[2018-07-03 21:45] ggppdk commented on #16086
@PhilETaylor

yes as you said there is the topic of
- doing proper configuration
- about having server with proper detection of mime ...

but the problem of @uglyeoin and @goforitweb
and of many others who result in using 3rd party media manager
is

- the false positives during the safety checks !!

Uploaded files are always treated as text even if they are binary
searching inside the file for
`<?

[2018-07-03 23:06] goforitweb commented on #16086
“This was closed as there is nothing else to fix in Joomla.”  -- @PhilETaylor

I respectfully disagree.  An application developer's job is to provide a solution – whether it be Media Manager or something else – as a means of uploading PDFs … unless you are saying that you are completely against PDFs being on a website at all.  And if that’s the case, SAY IT!  And while you're at it - tell people w

[2018-07-03 23:23] mbabker commented on #16086
Nobody's saying that.  What is being said is that Joomla must be explicitly configured to support PDF uploads for various reasons and that we are not enabling this out-of-the-box.  Extensions may be bypassing the Joomla upload checks, which is fine if they are doing their own checks.  That's all it boils down to.

The absolute safest file upload method is to send the file to an authorized individu

[2018-07-03 23:33] goforitweb commented on #16086
@mbabker

So I'm telling my non-technical content contributors (the clients!) to "send the file to an authorized individual (me??)  to perform a rudimentary virus scan and FTP upload?"  Exactly how do I do that with a straight face. :dagger:

[2018-07-03 23:40] mbabker commented on #16086
I said that's the safest, not that it would be the best option for everyone.  File uploads are an inherent security risk in any application and if you're supporting them generally there should be explicit configuration about who can do them and what types of files are allowed (with appropriate server side checks before processing the upload).  All I can do is say why we have our code set up in the

[2018-07-03 23:53] goforitweb commented on #16086
@mbabker

I understand your point of view, i.e. of the developer.  I really do.  I used to be one many moons ago. :D

But you also know that DropBox still has ~45% of the market share with its shoddy security despite losing masssive amounts to its competitors.

I think the happy medium here is to _provide visible guidance_ (possibly in the Media Manager?) where content contributors learn and decid

[2018-07-04 01:20] danielmreck commented on #20955
@brianteeman, that's a great question and from it I will try to refine my proposal.  Thank you!

Perhaps in the 4.0 branch we can examine which extensions should be in the _core_ project and are absolutely required for Joomla to function versus which component should be part of the Joomla project but not in the core.

Let's set up this discussion with a comparison: Google produces the source which

[2018-07-04 01:30] mbabker commented on #20955
Being blunt, the odds of anything else being decoupled from the core project are slim to none.  Just look at what happened after weblinks was decoupled (when's that 3.7 stable release coming, beta was tagged a year ago).  At this point, it's better to just say we're killing the code off in full than the false promise of decoupling and maintained.

Joomla is a monolithic package.  Even if the entir

[2018-07-04 02:16] csthomas commented on #16086
I added one more solution https://github.com/joomla/joomla-cms/pull/20968

[2018-07-04 03:50] danielmreck commented on #20955
I appreciate bluntness, @mbabker.  It saves a lot of time.

For what its worth, until you mentioned Weblinks was removed, I had forgotten about it ever existing.  That's another one I never used and always wished I could get rid of.  (Belated thanks for retiring it!)

Therefore I put in a vote to eventually drop Banners and Newsfeeds as core components that are no longer necessary:  Their function

[2018-07-04 07:04] Fedik commented on #20903
I had similar issue, but  with script options. It hard to reproduce.
Yes, it somehow related to Cache  "workaround",
which is ignore `<script type="application/json" class="joomla-script-options">`.
I not often use the cache enabled, do not really had a time to debug.

I do not see how #20843  is related

[2018-07-04 08:34] infograf768 opened #20969 "an xtd plugin to download media files"
### Is your feature request related to a problem? Please describe.
We do have a specific Images XTD plugin that lets browse images through a modal window in the folders defined in com_media  and insert these images very simply in an article or else.
This works fine.

But we do not have an XTD plugin to enter links to files chosen after browsing these folders in order to download them. That would b

[2018-07-04 09:03] ggppdk commented on #20903
@Fedik

yes #20843 does not try to fix any caching issues so the purpose of #20843 is not related

But the discussion in #20843, about the 2nd parameter is discussed and analyzed there

[2018-07-04 09:44] alexandraciobica commented on #20958
@SharkyKZ, I know there is a routing issue, I am currently trying to fix the router. I managed to make it see the layouts, but the link doesn't look how it should.

For example, I have a menu item for "Password reset" that when you are logged in redirects to the edit profile. The link that is displayed is `index.php/password-reset?view=profile&layout=edit` where password-reset is the menu item. I

[2018-07-04 10:40] brianteeman opened #20971 "[4.0] Atum pagination override"
As you can see in this code it will generate TWO class attributes. you can only have ONE

https://github.com/joomla/joomla-cms/blob/4b01c64aad89d687ecb22c8a2d01fc8c86f2814d/administrator/templates/atum/html/pagination.php#L191-L199

[2018-07-04 10:42] franz-wohlkoenig commented on #20958
@Hackwar can you please help @alexandraciobica?

[2018-07-04 10:46] Quy commented on #20969
Is PR #19967 related?

[2018-07-04 11:14] infograf768 commented on #20969
It verywell could be. Posting there now. Please do not close for now

[2018-07-04 11:14] brianteeman opened #20972 "[4.0] Timezone field - duplicate class"
If you **view** the source of com_config you will see duplicate classes. This is invalid markup

`<div class="controls"><select id="jform_offset" name="jform[offset]"  class="custom-select" class="custom-select">`
 
The first one comes from
https://github.com/joomla/joomla-cms/blob/4b01c64aad89d687ecb22c8a2d01fc8c86f2814d/libraries/src/Form/Field/GroupedlistField.php#L151

The second one comes fro

[2018-07-04 11:32] Quy commented on #20972
Related PR #20196

[2018-07-04 11:40] brianteeman commented on #20972
You can see the same in other places such as the module style field

[2018-07-04 11:40] brianteeman commented on #20972
Closed as a duplicate

[2018-07-04 11:40] #20972 closed, assigned to nobody

[2018-07-04 11:48] Fedik commented on #20903
I guess need to debug how Cache "workaround" works for `<script>`  and fix it for our options tag,
just need a brave man and a time :neckbeard:

[2018-07-04 13:25] brianteeman opened #20975 "[4.0] Menu empty targets"
View the source and you will see that all the menu items have target=""
That is invalid markup

I am assuming the error is in this code block but I don't really understand it to fix
[code]

[2018-07-04 14:16] SharkyKZ commented on #20975
Test PR #20976 please.

[2018-07-04 14:45] #20975 closed, assigned to nobody

[2018-07-04 16:36] aaron-harding opened #20977 "[4.0] Editors-xtd plugin, include onpostrender property for TinyMCE"
### Is your feature request related to a problem? Please describe.

I am writing an Editor xtd plugin for the TinyMCE editor to integrate into Joomla 4. The custom plugin is context sensitive and I would like to disable/change the state of my button. Currently the TinyMCE editor plugin in Joomla only allows you to register an "onclick" callback. The TinyMCE library allows you to register a callbac

[2018-07-04 17:08] #20971 closed, assigned to nobody

[2018-07-04 17:08] Quy commented on #20971
Please test PR #20978<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20971">issues.joomla.org/tracker/joomla-cms/20971</a>.</sub>

[2018-07-04 18:02] dgrammatiko commented on #20977
PRs are welcome

[2018-07-04 18:39] mbabker commented on #20927
Re-opening.  Someone needs to fix this test so it stops creating false positives on so many PRs or just flat out remove the test since it seems so critically broken.

[2018-07-05 00:54] byungwook-kim commented on #20079
@venomDeved
I installed PHP v7 (7.1.9) and libraries/vendor/bin/PHPUnit using composer.
But the above issue was not solved.

[2018-07-05 06:55] venomDeved commented on #20079
Are all the modules now installed for PHP v7?

[2018-07-05 07:20] byungwook-kim commented on #20079
@venomDeved

Sure, I checked already some PHP functions for version 7.
for "php --version " displayed as following:

PHP 7.1.19 (cli) (built: Jun 21 2018 07:32:04) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies

[2018-07-05 08:21] anuragteapot opened #20980 "[4.0] Manage folder not working."
### Steps to reproduce the issue
Open template manager. Select your template.
And try to manage folder.

![selection_003](https://user-images.githubusercontent.com/30978328/42307440-0d7c75b4-8050-11e8-9603-3880c0094e38.png)

### Expected result
You can manage folder and able to select a folder from tree.

### Actual result
Folder tree not selectable you are not able to manager folder.

[2018-07-05 08:56] ashik685 commented on #8821
I have faced same issue , just make sure for everyone, clear your cache.

[2018-07-05 08:58] coolcat-creations commented on #20869
I have the solution if someone has time to change the less and to compile it, if not I will update it next week:
.field-media-input has to have an width:auto; and not 100% when showing in a subform.

.control-group, .controls, .controls input[type="text"], .controls input[type="number"], .controls input[type="email"], .controls select, .controls textarea is overriding this width so it has to be sp

[2018-07-05 09:10] #20980 closed, assigned to nobody

[2018-07-05 09:11] franz-wohlkoenig commented on #20980
closed as having Pull Request #20981

[2018-07-05 09:59] ciar4n commented on #20869
If we could just get https://github.com/joomla/joomla-cms/pull/20209 tested and merged, I will continue fixing up these subforms.

[2018-07-05 12:21] brianteeman opened #20983 "[4.0] [a11y] pagination"
in #18357 and #18326 I spent a lot of time ensuring that the pagination was fully accessible. That code needs to be ported across to J4

_I still don't understand why we have an override for this in atum_

[2018-07-05 14:39] coolcat-creations opened #20985 "Joomla 3.9 - Modern Routing fails in frontend - issues with mediafield inside repeatable field"
### Steps to reproduce the issue
1) Install the current staging.
**Backend**
2) Klick on Content » Fields and create a new Field of the type repeatable
3) Set 2 Fields there: Title and a media field.
4) Setup a menuitem to add new articles
5) Enable Modern Routing in the Article Options in the Integration Tab (Modern Routing, remove ID)
**Frontend**
1) Go into your frontend and login as Superuser

[2018-07-05 15:35] laoneo commented on #20985
Can you try it with the 3.9 branch? Same behavior?

[2018-07-05 16:45] brianteeman opened #20986 "[4.0] Custom Element Switcher [a11y]"
The implementation of the switcher element completely fails accessibility. The label is not associated with the custom element so is ignored by the screen reader.

To make it easier for you this is a video recording using nvda

https://www.youtube.com/watch?v=hpo1qgFLZR0

I thought that the a11y team had tested and approved this

[2018-07-05 18:16] brianteeman commented on #20986
This article explains  the problem and solution https://medium.com/@robdel12/creating-an-accessible-custom-checkbox-64bd87b5c195

[2018-07-05 21:14] brianteeman commented on #20839
Closing here as @alikon has started

[2018-07-05 21:14] #20839 closed, assigned to nobody

[2018-07-05 21:16] brianteeman commented on #20281
A lot of people here wanted to see the privacy component in Joomla. We worked hard to create it - now its your turn. **You** volunteered to help test - without those tests it will **not** be released. Find out how here #20800

[2018-07-05 22:05] frogydiak opened #20988 "[4.0] Where is the Uncompressed template.js for Atum>"
The admin template atum js folder only has the compressed version of the script template.min.js.

Where's the uncompressed version?

[2018-07-05 22:48] brianteeman opened #20990 "[4.0]Duplicate class"
Any field that uses groupedlist or is extended from grouped list has a duplicate custom select class.

 View the source on any module edit page and you will find the duplicate class

`<div class="controls"><select id="jform_params_style" name="jform[params][style]"  class="custom-select" class="custom-select">
 `

The cause is this line https://github.com/joomla/joomla-cms/blob/0044c708eeff4d3489b

[2018-07-05 23:25] zwiastunsw opened #20992 "[4.0] [a11y] Incorrect role=button in quickicon module"
The lines in the Quickicon module are assigned the role=button attribute. This is incorrect. These are not buttons. These are the links that open new pages
See:
* [2.1 First rule of ARIA use](https://www.w3.org/TR/aria-in-html/#rule1)
* [2.2 Second rule of ARIA use](https://www.w3.org/TR/aria-in-html/#secondrule)
* [Links vs. Buttons in Modern Web Applications](https://marcysutton.com/links-vs-but

[2018-07-05 23:35] zwiastunsw opened #20993 "[4.0][a11y]Insufficient contrast in the Quickicon module"
The contrast between white text and green background in "Joomla is up to date" & "Extension are ap to date" icons is  3.46:1. It should at least amount to: 4.5:1, e.g #ffffff/#148914
See: [Contrast minimum](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html)

[2018-07-05 23:39] brianteeman commented on #20993
For things like this it is best to wait a week or so for the latest version of the template to be merged in OR to do the test against https://github.com/joomla/40-backend-template/

[2018-07-05 23:43] zwiastunsw opened #20994 "[4.0][a11y]Insufficient contrast in the badges in the modules on the Control Panel page"
Contrast ratio = 3.32:1 (#ffffff/#868e96;).
Minimum contrast required 4.5:1 (AA level). I suggest: #ffffff/#6e7881
See: [Contrast minimum](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html)

[2018-07-05 23:48] brianteeman commented on #20992
changed title to show it is for Joomla 4

[2018-07-05 23:50] brianteeman commented on #20992
The file in question is layouts\joomla\quickicons\icon.php

[2018-07-05 23:52] zwiastunsw opened #20995 "[4.0][a11y] Mark the link group in the Quickicon module as a list"
Quick icon module include a set of navigation links.
A group of links in the Quick icon module is not marked as a list.
Links are not part of the list.
In addition, it shall be marked as a navigation element (nav).
See: [Info and Relationships (Level A)](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0&showtechniques=111#info-and-relationships)

[2018-07-06 00:02] zwiastunsw opened #20996 "[4.0][a11y] Progress bar in Sample data module is not accessible"
Screen reader does not announce progress information.
See:
* Success Criteria [4.1.2 Name, Role, Value Level A](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0&showtechniques=111#name-role-value)
* [ARIA4](https://www.w3.org/TR/WCAG20-TECHS/ARIA4.html): Using a WAI-ARIA role to expose the role of a user interface component
* [ARIA5](https://www.w3.org/TR/WCAG20-TECHS/ARIA5.html): Using WAI-AR

[2018-07-06 00:06] brianteeman commented on #20995
Sorry but I haven't got a clue what you mean. You really are going to have to provide more information

[2018-07-06 00:07] brianteeman commented on #20994
For things like this it is best to wait a week or so for the latest version of the template to be merged in OR to do the test against https://github.com/joomla/40-backend-template/

[2018-07-06 00:10] zwiastunsw commented on #20995
Currently, the module contains a group of 6 links. But this is not a list of links. Each is covered by the div tag.

[2018-07-06 00:12] brianteeman commented on #20996
**Sorry but this is of no use at all. Just sending a link to a generic page in the documentation is absolutely zero help at all.**

What we need is specific information about what is not accessible and suggestions on how to make it accessible.

An example of that might be suggesting to use the progressbar role with a link to https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Tech

[2018-07-06 00:15] brianteeman commented on #20995
and why should it be a list of links?

If you want to say something is wrong and expect someone to fix it then you really need to explain what is wrong and why

[2018-07-06 00:16] zwiastunsw opened #20997 "[4.0][a11y] Button incorectly marked as a link in Sample data module"
The Install button in Sample data module is incorrectly marked as a link.
See:
* [1.3.1 Info and Relationships](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0&showtechniques=111%2C412#info-and-relationships) (Level A)
* [G115](https://www.w3.org/TR/WCAG20-TECHS/G115.html): Using semantic elements to mark up structure
* [Links vs. Buttons in Modern Web Applications](https://marcysutton.com/li

[2018-07-06 00:20] brianteeman commented on #20997
Sorry but this is of no use at all. Just sending a link to a generic page in the documentation is absolutely zero help at all.

What we need is specific information about what is not accessible and suggestions on how to make it accessible.

[2018-07-06 00:38] mbabker commented on #20997
So, a lot of us following this tracker and doing the heavy lifting on the UI stuff aren't as well versed in accessibility matters as some on the accessibility team.  To help us all be able to address these issues, a more clear explanation of what the issue is and how it can be addressed would really be helpful.  Linking to the W3C docs helps explain the concepts at a high level, but for someone li

[2018-07-06 06:35] #20992 closed, assigned to nobody

[2018-07-06 06:36] franz-wohlkoenig commented on #20992
closed as having Pull Request #20998

[2018-07-06 07:20] brianteeman commented on #20995
so how are these links any different to the links in the latest articles module. what is it that makes these links to be navigation links and the others are not.

[2018-07-06 07:21] brianteeman commented on #20993
I am going to close this at this time as it is completely different in the latest template

[2018-07-06 07:21] #20993 closed, assigned to nobody

[2018-07-06 07:22] brianteeman commented on #20994
I am going to close this at this time as it is different in the latest template

[2018-07-06 07:22] #20994 closed, assigned to nobody

[2018-07-06 08:08] #20990 closed, assigned to nobody

[2018-07-06 08:16] coolcat-creations commented on #20985
I could not reproduce it myself but it happens randomly to my customer. I asked for the url that is called so hopefully someone can read from the url what might go wrong in this case?

[2018-07-06 08:57] zwiastunsw commented on #20995
Of course, not every set of links should be marked as a navigation element, but every important navigation element - yes. Bruce Lawson wrote about that in his book "Introduction HTML.5". In one of his presentations, however, he stressed that these must be only important sets of links. Because if everything is highlighted, nothing is highlighted.
The links in the Quickicon module are an important n

[2018-07-06 09:02] chmst opened #21001 "[4.0] Admin Modules in cpanel have wrong bootstrap size after editing"
### Steps to reproduce the issue
You must have an istallation where the modules on cpanel are not edited yet.
The modules then have class "col-md-6" and are visible in two columns.

Klick on the edit button of a module, edit something, i.e. the number of items to be shown, save and close and go back to the cpanel.

### Expected result
The Module has col-md-6 as before.

### Actual result
The modul

[2018-07-06 09:07] brianteeman commented on #20995
the last two (update) and are more than just navigation

[2018-07-06 09:12] zwiastunsw commented on #20995
I agree, but they are also navigation.

[2018-07-06 09:46] micker opened #21003 "Better translation workflow"
It will be good to **make easier translation with com_association**
my light idea is to add a **tranlation button in editing view  in toolbar** (only if plugin language is enable) :

- article
- menu
- contact
- module

it can launch com_associations with context variable
like
`itemtype=com_content.article`
`id=12`
for a content with id 12
the workflow can be more simplier for translation !
**Afte

[2018-07-06 09:48] tassosm opened #21004 "Custom Field script declaration is added twice"
I am not sure if #18066 should have fixed this issue but it's still happening on 3.8.10. I am currently working on a new Field which adds a custom script declaration and for some reason the script is added twice.

### Steps to reproduce the issue

1. Add a Text custom field to an article without touching any of the settings.
2. Add the following code to /plugins/fields/text/tmpl/text.php

[code]
#

[2018-07-06 09:53] brianteeman commented on #21003
Please see this google summer of code project

https://github.com/joomla-projects/gsoc18_automatic_multilingual_association

https://community.joomla.org/gsoc-2018/automatic-multilingual-association-follow-up.html

[2018-07-06 10:09] infograf768 commented on #21003
This proposal is quite different from the GSOC project where the matter (for which I posted some comments) is to create automatically some associations WITHOUT taking into account the translation (when a translation is necessary) of the item itself.

As far as I understand the original post here, the proposal by the user is to create a direct link to com_associations with the item already chosen t

[2018-07-06 10:17] micker commented on #21003
yes that it for me 3 interesting point
- translation workflow will be smooth
- encourage user to use association
- not realy a big coding feature (but i am a prorammer lol)
we have com_association but no link between content type and this tool no sense
for now using com_ association is
go out content type >extension > com_asso > select type > select language ... (5 step)
with this button
content t

[2018-07-06 10:19] #20997 closed, assigned to nobody

[2018-07-06 10:19] franz-wohlkoenig commented on #20997
closed as having Pull Request #21002

[2018-07-06 10:34] infograf768 commented on #21003
@micker
This is imho what is possible in a simple way.
Let's say we have an article with id `1`.
We need to directly link to com_associations side to side page.
Therefore we need a link of the type
`administrator/index.php?option=com_associations&view=association&layout=edit&itemtype=com_content.article&task=association.edit&id=1`

This will give
<img width="1225" alt="screen shot 2018-07-06 at 12

[2018-07-06 10:37] infograf768 commented on #21003
Obviously the same can be done for each component where associations are implemented.
I like the idea.

[2018-07-06 10:53] infograf768 commented on #21003
@micker
Do you want me to have a try at it?

[2018-07-06 11:33] infograf768 commented on #21003
Forget "Edit Translation(s). 😄
Associated items are not specifically translations, they can be anything which content is unrelated to the original.
maybe `Edit Associations`

As for a redirect, once we are in com_associations, we have direct access to all possible item types associations. Therefore it is not needed to redirect to anything imho.

[2018-07-06 11:35] micker commented on #21003
yes

[2018-07-06 11:37] infograf768 commented on #21003
Ok. I will contact some maintainers and ask them if this feature would be accepted before even coding it, so I don't lose time.
Will let you know.

[2018-07-06 11:37] micker commented on #21003
yep !
thanks

[2018-07-06 11:44] rdeutz commented on #21003
I think it is a goog idea @mbabker and @wilsonge what do you think?

[2018-07-06 14:31] Quy commented on #20988
\administrator\templates\atum\css\template.css<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20988">issues.joomla.org/tracker/joomla-cms/20988</a>.</sub>

[2018-07-06 14:36] dgrammatiko commented on #20988
FYI there won't be a template.js for Autum. Right now that file contains (wrongly) the logic of the:
- menu (that will be transferred in the menu module)
- the code for the grouped buttons (that code will be transferred in the relative custom element)

[2018-07-06 14:50] brianteeman commented on #21001
This sounds like it's a result of the installation SQL default value not matched the default value in the modules. @sharkykz

[2018-07-06 14:53] brianteeman commented on #20955
Closed as answered by @mbabker

[2018-07-06 14:53] #20955 closed, assigned to nobody

[2018-07-06 14:56] brianteeman commented on #20891
Closed. It can. Always be reopened if more information provided.

[2018-07-06 14:56] #20891 closed, assigned to nobody

[2018-07-06 16:52] C-Lodder commented on #20986
They had approved it.

[2018-07-06 16:54] brianteeman commented on #20986
So they obviously never tested it

[2018-07-06 16:57] C-Lodder commented on #20986
If I rightly remember, they tested the live link we provided, then Dimitris and myself wasted a Saturday discussing and rewriting it based on feedback.

[2018-07-06 17:01] brianteeman commented on #20986
Anyway the past is irrelevant. It is not accessible as it is and can't be used.

[2018-07-07 03:44] #20988 closed, assigned to nobody

[2018-07-07 03:44] franz-wohlkoenig commented on #20988
Closed as allready answered above. issue can always be reopened.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20988">issues.joomla.org/tracker/joomla-cms/20988</a>.</sub>

[2018-07-07 03:45] franz-wohlkoenig commented on #20966
@dgrammatiko any Hint?

[2018-07-07 06:21] Bakual commented on #21003
I don't see a reason against this idea. So imho goahead.

[2018-07-07 06:55] Fedik commented on #20903
please test #21007

[2018-07-07 07:55] infograf768 commented on #21003
Thanks. Working on it now.

[2018-07-07 08:02] #20903 closed, assigned to nobody

[2018-07-07 08:02] franz-wohlkoenig commented on #20903
closed as having Pull Request #21007

[2018-07-07 10:29] JoomliC commented on #20966
Did you test EventDispatcher instead ? (JDispatcher was already deprecated in Joomla 3 i think)

`use Joomla\Event\Dispatcher as EventDispatcher;`

[2018-07-07 12:13] SharkyKZ commented on #21001
`bootstrap_size` value is not present in SQL files but Atum's module chrome defaults to `6`.

[2018-07-07 14:18] infograf768 opened #21009 "[4.0] Autoloader broken when not fetched in libraries?"
### Steps to reproduce the issue

Create a multilingual site.

### Expected result

The multilingual status module displays in the status position.

### Actual result

the icon does not display
var_dump gives

Error: Class 'Joomla\Module\Multilangstatus\Administrator\Helper\MultilangstatusAdminHelper' not found: Class 'Joomla\Module\Multilangstatus\Administrator\Helper\MultilangstatusAdminHelper'

[2018-07-07 14:19] chmst commented on #21001
Let's wait for the new template.
If the param bootstrap_size is not set when the module is edited, bootstrap_size must remain null or '' and not be set to 0 as it is now.

[2018-07-07 14:23] brianteeman commented on #21009
Same.as #20823 ?

[2018-07-07 16:14] infograf768 commented on #21009
maybe similar but not the same afaik. this one concerns modules

[2018-07-07 16:21] infograf768 commented on #21009
@wilsonge @laoneo

[2018-07-07 16:28] mbabker commented on #21009
https://github.com/joomla/joomla-cms/issues/20902

[2018-07-07 16:54] brianteeman commented on #21009
Delete the namespace map and let the plugin recreate it as explained in 20902 and see if that fixes it. If it did then it's not an error in joomla and is caused by an old branch

[2018-07-07 17:08] mbabker opened #21013 "Make template layout configurable (similar to alternate component/module layouts)"
In Joomla exists a `tmpl=foo` query parameter to change the template file used to render a page (commonly `tmpl=component` for modals).  But there is no real way in the UI to configure this.  Essentially, if you'd like for a template to support multiple layouts, you have to ship your own plugin hooking the right forms to offer this capability otherwise strictly using out-of-the-box features you ha

[2018-07-07 20:55] frogydiak opened #21014 "[4.0] Error Class MenuHelper Not Found"
### Steps to reproduce the issue
Pulled the latest 4.0-dev branch as of July 7, 2018 at 1:53PM PST, going to the frontend and getting this error:

Error: Class 'Joomla\Module\Menu\Site\Helper\MenuHelper' not found: Class 'Joomla\Module\Menu\Site\Helper\MenuHelper' not found

This is a fresh install. Actually this error appeared like 3-4 days but as of the current updates, it has not been fixed.

[2018-07-07 21:06] frogydiak commented on #21001
Is there a branch or fork of the new backend template? Can it be tested, I want to help. Thanks!

[2018-07-07 21:15] TobsBobs commented on #21001
This is the pull request #21006 an this is the repository https://github.com/joomla/40-backend-template

[2018-07-07 21:19] chmst opened #21015 "[4.0] Table Options in com_content does not show hints in fields with multiple="true""
### Steps to reproduce the issue
Go to com_content and click the Table Options. Here a modal is opened with several input fields, some of them are dropdowns with multiple="false" some of them like categories have multile="true"

### Expected result
The Fields contain hints what the user can select

### Actual result
The fields are empty.![screen shot 2018-07-07 at 21 16 42](https://issues.joomla.o

[2018-07-07 21:36] brianteeman commented on #21014
Doing a pull won't help as the file doesn't exist in the repo any more. It is built by your site. Just delete the file and let the plugin rebuild it. See #20902

[2018-07-07 21:36] #21014 closed, assigned to nobody

[2018-07-07 22:36] frogydiak commented on #21014
@brianteeman I already tried [https://github.com/joomla/joomla-cms/issues/20902](url) and it doesn't work. Besides the regenerated file  autoloader_psr4.php under /libraries/ does not have the class referred above. This issue is in the frontend and not in the administrator as what is in #20902

[2018-07-08 00:02] #21015 closed, assigned to nobody

[2018-07-08 00:02] Quy commented on #21015
Duplicate #19882<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21015">issues.joomla.org/tracker/joomla-cms/21015</a>.</sub>

[2018-07-08 06:13] infograf768 commented on #21009
OK, found the issue and will solve it.

### Background
**This happens on a clean install, not an old branch at all**
Deleting `autoload_psr4.php` and letting the plugin recreate it has no effect.
Deleting the `namespacemap.php` file makes no sense and, if done, kills the site with "Error".

Real tests saves a lot of time: It takes 10 minutes to create such a site.

The call to ` MultilangstatusAdm

[2018-07-08 07:16] infograf768 commented on #21009
I prepared a patch but my results are weird for anew install.
[code]

When I do a clean install, the namespace is still NOT added in the column.
If I update with the specific query, it works fine.

Any idea?

[2018-07-08 15:09] infograf768 commented on #21003
I have a working patch. already done for articles and categories.
Just waiting for @Bakual code check.

[2018-07-08 15:59] chrkoe opened #21019 "Joomla 3.8.10 problem with language switcher, ampersand in link"
In one site of my customer I have the language switcher module activated. It worked fine for a long time. Now I get a call that after updating to 3.8.10 the language switcher "destroys" the page when changing the language.
The menu items are linked corrected and after switching, the article show up in correct language.

BUT: All modules, linked to this site where not displayed. I found out that th

[2018-07-08 16:12] infograf768 commented on #21019
The switcher has been slightly modified in 3.8.10 by using `htmlspecialchars` for security reasons, which indeed changes `&` to `&amp;` .
This has no impact on the urls produced.

[2018-07-08 16:16] chrkoe commented on #21019
You can look at the page and check the result: sfb138.de
The language switcher is in the top right corner under the menu.

[2018-07-08 17:01] chrkoe commented on #21019
Well, for a faster solution I enabled SEF.
For me, the problem is solved with this.

[2018-07-08 17:01] #21019 closed, assigned to nobody

[2018-07-08 17:02] infograf768 commented on #21019
1. the fact that some of your modules do not display is totally independent from the switcher urls.
2. using sef does not force you to use also htaccess.

in any case, it looks like your issues are unrelated to joomla code but rather t your site settings.
You should seek fo help in the forums imho.

[2018-07-08 18:02] guardsol commented on #11372
I understand this issue is closed.  I understand the software no longer creates the datestamp as the URL.  But now, my menu alias pages are coming up as having duplicate metadescriptions.  For SEO purposes, how do I get around this?

[2018-07-08 18:10] franz-wohlkoenig commented on #11372
@guardsol have you asked for help on the [forums](https://forum.joomla.org/)? This repository concerns in first Place Joomla-Core coding.

[2018-07-08 18:16] guardsol commented on #11372
I have not because I was researching this issue and it is related.  I will ask on the forums but my understanding based on an article by Cliff Pfeiffer is that the menu item alias using the date was specifically so you didn't end up with duplicate content.  Since that functionality was taken away, I am at a loss for how to handle this.

[2018-07-09 03:59] #21009 closed, assigned to nobody

[2018-07-09 03:59] franz-wohlkoenig commented on #21009
closed as having Pull Request #21020

[2018-07-09 10:11] infograf768 commented on #21003
@micker Please test https://github.com/joomla/joomla-cms/pull/21022

[2018-07-09 10:11] #21003 closed, assigned to nobody

[2018-07-09 10:44] Hackwar opened #21023 "[4.0] Typo in Media Manager"
The css class of the images in the media manager list view is named ```brackground``` instead of background.

[2018-07-09 10:47] Quy commented on #21023
Please open this issue in media manager repo. https://github.com/joomla-projects/media-manager-improvement

[2018-07-09 13:25] mbabker opened #21024 "[RFC] Continuous Upgrade Path"
The existing status quo, and section 4.4 of the development strategy, explicitly state that the only supported upgrade path is a stable release to a stable release.  This is problematic for a number of reasons:

- Discourages testing: To test updates or new features, you have to either clone an existing site or set up a test instance not emulating your production site.  Once upon a time sites on t

[2018-07-09 13:40] mbabker opened #21025 "[RFC] Raising Minimum Tech Requirements"
Section 6.4 of the development strategy explicitly prohibits raising the minimum technical requirements without a major version bump.  While the intent of this is to ensure that no user is left behind in a release series, it can also tie the project's hands as it relates to how long it supports EOL platforms.  With the current 3.8 release series, over 90% of all sites reporting metrics are using a

[2018-07-09 13:43] brianteeman commented on #21024
the traditional argument against this is that it would facilitate people using alpha etc on live sites and the alpha code might not be secure

[2018-07-09 13:50] mbabker commented on #21024
Nothing stops users from running the `staging` branch on a live site, or starting a new site on a beta release and never updating it since we say we don't support it.

As I've said in the past, there is no technical reason we cannot support non-stable updates beyond how our SQL deltas are managed (changing them after a tagged release of any stability basically screws everyone over).

I think we sh

[2018-07-09 13:50] Hackwar commented on #21024
Are you suggesting to advertise non-stable versions to live installations? (I guess not, but still asking.) Providing a beta channel to do upgrades from beta -> RC -> stable would be fine with me. As far as I understand you, you just want us to promise that you can update from a beta to a stable, right?

[2018-07-09 13:51] mbabker commented on #21024
Absolutely not, unless you are subscribed to a beta release channel (which we don't actually have consistently, right now the testing channel we have is pointed to nightly builds for next patch release).

Correct.

[2018-07-09 13:52] brianteeman commented on #21024
We have the channel - we just need the commitment to ensure that its possible

[2018-07-09 13:54] Hackwar commented on #21024
I support this change with the condition that instead of SQL files, we provide an XML representation of our schema, so that we can compare and fix tables. That would also allow to ship only one db schema file...

[2018-07-09 13:56] Hackwar commented on #21024
Ok, maybe not the condition, but with the proposal to (finally) go down that route...

[2018-07-09 13:57] HLeithner commented on #21024
At least a RC -> Final would make release testing easier.
I would also like to see beta -> Final upgrade paths but that may mean less flexibility as seen in com_fields.

[2018-07-09 13:59] mbabker commented on #21024
It's not that the com_fields change was bad.  Instead of modifying the SQL delta that had already been released, a new delta should've been created with the added change (unless for some reason it was technically infeasible to do so).  That would've avoided that specific issue.

That would definitely be nice...

[2018-07-09 14:10] Bakual commented on #21024
The XML representation would only help with stuff that our db fixer already can handle. It wouldn't help with things where we modify content. Allthought that happens rarely.
It would be nice of course, but it's not a requirement imho. We just need to add a new SQL delta instead of modifying the old one.

I think allowing updates from beta releases should be doable and makes sense.
I probably would

[2018-07-09 14:11] HLeithner commented on #21025
At the moment we have a PHP cycle of 1 year per minor version which is supported for 3 years.
I personally like the idea to stop supporting old php version as soon as they are EOL, but to be realistic I'm sure not all installation can/will follow this release cycle.

For example Debian, they will support
* Jessie till June 2020 which include PHP 5.6
* Stretch till 2022 which includes PHP 7.0
* Bus

[2018-07-09 14:12] Hackwar commented on #21025
I'm very torn between sticking with what we promised and forcing people to update. Considering all the workarounds that we had to do because of old PHP versions, I'm leaning towards updating our PHP requirements. I actually would create an automatism here.

"We support PHP version X. If version X reaches its EOL, we support it for another timeframe Y and then go to the next minor version. Major PH

[2018-07-09 14:12] HLeithner commented on #21024
Is XML the best way? Laravel and others uses PHP migration scripts for this, no I idea if this is better.

[2018-07-09 14:15] germi commented on #20966
Doesn't seem to make a difference...
How would you use EventDispatcher, exaclty? I'm trying this:

[code]

but no results...

[2018-07-09 14:18] mbabker commented on #21025
Nothing says we have to be aligned with any of the Linux distros either.  When we jumped from PHP 5.3.1 to 5.3.10 for the minimum we dropped every distro which was a PHP 5.3.3-whatever-42 build.  That's not to say they should be ignored either; a lot of organizations have policies to only use the versions in the distro's mainline channels (so with Ubuntu 16.04 only using its "core" PHP 7.0 build a

[2018-07-09 14:19] Hackwar commented on #21024
I don't know if XML is the best way to go, but an XML instead of our spaghetti-install-sql file would be a lot better to manage. I'm using Netbeans and SQL files are simply random text files for it. There is no way for me to jump to a specific table in a large file. I would guess that with an XML file (or even included in our manifests), we could also do some very fancy verification and testing st

[2018-07-09 14:22] mbabker commented on #20966
[code]

Instantiating a new dispatcher is going to give you just that, a new (empty) dispatcher.  If you want the one loaded with all the plugins, use the dispatcher loaded into the application (and the best part is that snippet is B/C to 3.x).

If `importPlugin()` isn't doing anything that is a bug unrelated to the event dispatching.

[2018-07-09 14:23] rdeutz commented on #21024
Mirgration files make life so much easier :-) I like the way laravel is doing it.

Back to the initial question, +1 on the proposal

[2018-07-09 14:24] mbabker commented on #21024
Anything is better than relying on the fact that we don't have the full SQL schema available in a site after it's installed (because the root SQLs are in the deleted installation directory) and we therefore rely on checking the SQL deltas in `com_admin` to determine if things are in the right state based on whether certain changes are applied.

[2018-07-09 14:28] germi commented on #20966
Then... the plugins actions are not being called.

now I'm thinking.. is it possible that in J4 you are required to "register" the events before using them?
in J3, I just created a plugin with functions in them (for example, "onContentSave"), and then I just used the `triggerEvent('onContentSave')` and it would work.

Is there any kind of `registerEvent('onContentSave')` action required when loadi

[2018-07-09 14:29] mbabker commented on #21025
It doesn't have to only be "2.5% of users are on our oldest supported PHP branch, that's enough to drop support".  But, part of the reason for collecting that data is to have it available to make data driven decisions.  In the case of the present 5.3 minimum, how many issues and concerns go away by simply dropping 5.3 support?  How much time are we spending to ensure we don't break builds on PHP 5

[2018-07-09 14:30] mbabker commented on #20966
There is no registration requirement unless you are very explicitly making changes to not autoregister (the 3.x and earlier behavior which is basically deprecated in 4.0 to be removed in 5.0).

And if importing plugins isn't working, we'd probably notice because that would mean the core plugins wouldn't work either 😉

[2018-07-09 14:33] HLeithner commented on #21025
Thats the reason why I added the "And we have a reason..." part ;-)

[2018-07-09 14:34] HLeithner commented on #21025
Especially with PHP 5.3 we have some security concerns...

[2018-07-09 14:35] germi commented on #20966
I know... that's why I'm so lost. I'm using the same syntax that J4 uses (I'm taking the com_content triggers as an example, and within component com_content, plugin events are called like `triggerEvent('onContentAfterSave')`
I do the same with my component / plugins and it does not work...

and what's more, I have a plugin that contains both functions of "core joomla", like `onContentAfterSave` a

[2018-07-09 14:38] mbabker commented on #20966
Without seeing the exact code it's hard to say where your issue lies, but I can say with certainty that [the event dispatcher works](https://travis-ci.org/joomla-framework/event/branches) and that importing plugins works so either there's something goofy/incorrect in your code or you've hit some extremely edge case that without seeing the code nobody's going to track down.

[2018-07-09 14:40] germi commented on #20966
yes, I guess...
I'll try to dig deeper...
but again, the same plugin in J3 works fine, and when using it in J4 (using triggerEvent), it doesn't. It only calls the core funcitons, to my own.

[2018-07-09 14:41] germi commented on #20966
sorry, last thought... maybe in J4, plugin can only be imported "before" some point in app execution cycle?

[2018-07-09 14:43] mbabker commented on #20966
There is no restriction on when plugins can be imported in 4.0.  There is no underlying change in 4.0 regarding the import of plugins or registration of events as long as your plugin class is extending `Joomla\CMS\Plugin\CMSPlugin` in some form (either directly or in the case of Smart Search its plugin subclass).

The app's triggerEvent method in 3.x and 4.0 both refer to a global event dispatcher

[2018-07-09 15:05] roland-d commented on #21024
I see no harm in supporting updates from betas as users would need to actively enable it. So they should be aware of the consequences. As for the SQL deltas, I have given up on them and implemented the XML approach in my own extensions. Over were the update issues :)

[2018-07-09 15:10] roland-d commented on #21025
What is the benefit of raising the PHP minimum requirement? So we can use PHP features not available in earlier releases? Must we use those features or can we do it with the current versions of PHP? I guess what I am wondering is if PHP 7 support is good enough or must we say that PHP 7.2 is a minimum requirement?

The biggest pain point I see here is that, what was pointed out before, that people

[2018-07-09 15:11] germi commented on #20966
is there a way I can share the code with you (if you want and can take a look, of course)?

[2018-07-09 15:33] germi commented on #20966
ok, here's an interesting update...

my event name was "getItemName". it didn't get called.

if I change the name for a string starting with "on", it WORKS"

`onItemName` gets called, `getItemName` does not...!
that seems like a new requirement in J4, because this was not like this in J3... event names should start with 'on'.. is that possible? doesn't make much sense to me to force that...

[2018-07-09 15:43] mbabker commented on #21025
Well, let's take the 3.8.9 release as the practical example.

The core issue that was reported related to the behavior of `class_exists()` on PHP 5.3.  It spun into several "micro" issues directly related to that issue.  The entire series of patches were based on a reproducible issue on PHP 5.3 builds, and one of the changes was only really required because of PHP 5.3 support (the others fixed an

[2018-07-09 15:49] mbabker commented on #20966
The convention has always been that event names start with "on".  The dispatcher in 3.x and earlier would take every public method in a plugin class and register those as listeners, so it would allow you to use any name (and it basically worked because the convention was "event name maps to method name").  So the fact it worked before I personally would call a case of "it works by accident but it'

[2018-07-09 16:08] dgrammatiko commented on #21025
+1 for the minimum requirements change proposed by @mbabker

+1 to make PHP 7.2 the minimum

[2018-07-09 17:40] brianteeman commented on #20966
Closed as not a bug

[2018-07-09 17:40] #20966 closed, assigned to nobody

[2018-07-09 19:17] anibalsanchez commented on #21025
It would be great to use the features introduced by each PHP version in a meaningful way. Otherwise, we are just limiting the places where the CMS can be installed and raising the requirements without the associated benefits.

There is a lot that can be done with a minimum requirement of PHP 5.6 (constants, traits, closures, use functions / facades, etc).

[2018-07-09 19:22] laoneo commented on #21025
I would raise it not before 3.10 (or what the last minor would be for 4) to the min requirements J4 has. Till then I would stay where we are.

[2018-07-09 19:24] brianteeman commented on #21025
@laoneo it is only proposed for from 4.0 as stated in the op

@anibalsanchez If the JED didnt repeatedly tell people that J4 would break extensions for things that it wont break it would really help people updating far more than the php version

[2018-07-09 19:37] anibalsanchez commented on #21025
... as far as I know ... JED is publishing only official links.

[2018-07-09 19:40] mbabker commented on #21025
It's the manner in which you're communicating.  Almost every JED report since 3.8 was released has basically said "Joomla 3.8 broke backward compatibility by renaming a bunch of classes, see the Joomla 4 migration docs for more info".

[2018-07-09 19:45] brianteeman commented on #21025
It is not the link it is the statement that has appeared on every meeting report

With a link to a doc that makes no mention of those alleged issues

[2018-07-09 19:48] anibalsanchez commented on #21025
Ah ok, I'll remove it in the next report.

[2018-07-09 19:50] brianteeman commented on #21025
Thank you - never good to spread un needed FUD - and a report is supposed to be a report of the meeting and not padded out with the contents of the previous reports

[2018-07-09 20:08] anibalsanchez commented on #21025
I feel that the reports help us to keep the list of open tasks and priorities that we monthly strive to accomplish. Even, if we are outnumbered by the number of tasks at hand, and we have to postpone every time.

[2018-07-09 21:00] photodude commented on #21025
Second on the following
+1 for the minimum requirements change proposed by @mbabker
+1 to make PHP 7.2 the minimum

[2018-07-09 21:08] csthomas commented on #21025
Maybe we should support only a limited number of php versions in the life cycle of J4.

For example, J4.0 would support only 5 versions of php: 7.0, 7.1, 7.2, 7.3 and 7.4. If php 7.5 will be released then joomla will drop support for 7.0 in the next 4.(x+1) release.

#### [Only as an example]

From above idea,  J3.8 should support only php 5.5 ... 7.2.
If php 7.3 will be released before the J3.9 r

[2018-07-09 21:14] alikon commented on #21025
is not only about on PHP, imo is much more about on PHP adoption  by hosting providers and much more about main distro adoption, just not to  mention about db's versions&type adoption... (oops redis) ...

[2018-07-09 22:05] chmst commented on #20986
I said already here https://github.com/joomla/40-backend-template/pull/395 that swithers are not userfriendly as they are. In the actual version it seemed to be better - I did not hear the speaker.

The only way for accessible switchers in my opinion this https://codepen.io/nickbottomley/pen/uhfmn.
Labels for the state on/off must be left and right of the switcher.
If this is not possible, then we

[2018-07-10 01:20] mbabker opened #21027 "[4.0] Admin Breadcrumb Contrast Unsuitable"
Go to install from web, go to any extension, look at the breadcrumb

<img width="1140" alt="screen shot 2018-07-09 at 8 19 06 pm" src="https://user-images.githubusercontent.com/368545/42483841-80e58c26-83b5-11e8-829e-95679f220024.png">

[2018-07-10 01:23] mbabker opened #21028 "[4.0] jQuery not defined in installer.js"
Extension manager, install view, check the console

I don't care that the plan is to decouple the jQuery dependency, while it's still there it should still be loaded as needed and it's not being loaded before a script that needs it.

[2018-07-10 01:27] mbabker opened #21029 "[4.0] card-header hijacked in admin template"
The Bootstrap `card-header` class is being used outside of cards in the backend, as an example in the well module chrome which isn't enforcing a card element.  I had used the `card-header` class as part of the cards for the 4.0 install from web layouts and this hijacking/reuse basically breaks the display and makes it impossible to use Bootstrap cards.

[2018-07-10 05:12] iamkeng commented on #20789
I tested on debug mode already, not found htis problem. This provlem occurs on minified version only.
I think cause of validate() function on debug mode is fully variables:

validate = function(el) {
 	 	var $el = jQuery(el), tagName, handler; //<---------- I think this line is not same with compressed version of validate.js.
 	 	// Ignore the element if its currently disabled, because are not sub

[2018-07-10 06:04] infograf768 commented on #20789
Can you try to minify the uncompressed file via an online tool like https://jscompress.com/ and then exchange the file to test?

[2018-07-10 10:00] germi opened #21033 "Module position names no longer "free" in J4"
Hi guys,

in J3 and before, you could type a module position, and virtually create any possible module position you may need.

in J4, looks like this option is gone and the position selector (while editing a module) is, again, just a dropdown where you can choose from pre-defined options (from the template).

Is this how it's supposed to work? this takes a way a great deal of versatility compared

[2018-07-10 10:23] dgrammatiko commented on #21033
This is due to the removal of chosen from that field...

[2018-07-10 10:31] brianteeman commented on #21033
That explains why it has changed but doesnt say if that is the intended behaviour for this field

[2018-07-10 10:36] dgrammatiko commented on #21033
I don't think that anyone actually wants to remove this feature
We have to find a replacement for chosen that fulfils at least the 3 basic side operations:
- tags
- category creation
- search/add option (eg, this one was used in the modules)

[2018-07-10 10:59] brianteeman commented on #21033
thats the problem with merging incomplete software - no ones knows if it is a bug, missing feature or intended design

[2018-07-10 10:59] #21033 closed, assigned to nobody

[2018-07-10 13:28] #21028 closed, assigned to nobody

[2018-07-10 13:45] ManfredHuebner opened #21035 "Filter Type select list not working in Extension Manager"
### Steps to reproduce the issue
Go to Extension Manager. The dropdown list for extension types is not visible, instead a text field without functionality.

### Expected result
I should be able to select all extensions by extension type

### Actual result
A textbox without functionality is displayed

### System information (as much as possible)

### Additional comments

[2018-07-10 13:46] mbabker commented on #21035
Duplicate of #20881

[2018-07-10 13:46] #21035 closed, assigned to nobody

[2018-07-10 13:59] muuvmuuv opened #21036 "Menu items should have fields too"
### Is your feature request related to a problem? Please describe.

I‘m currently using the `pageclass_sfx` to get a unique name for each unit we have on our webpage. So if I give one top-level menu the class "Software" the body will have a page attribute with this string in it. Now I came up to the problem that I need to give one menu item a _class_ and this is not going to work anymore…

### Des

[2018-07-10 14:02] ManfredHuebner commented on #20881
Fix works! thanks a lot to you guys :-)

[2018-07-10 14:12] geqo commented on #18818
Newly installed joomla have same problem, links to articles look like `/?view=article&id=10:vremennyj-10&catid=2`

[2018-07-10 14:19] brianteeman commented on #21036
why wont it work - you can have multiple words in that field

[2018-07-10 14:24] muuvmuuv commented on #21036
@brianteeman Yes that is correct, but I want to have them separated. Can I get a workaround for that with a plugin?

[2018-07-10 14:33] brianteeman commented on #21036
The best place to ask is the forum. Its not a generic use case that should go in the core

[2018-07-10 14:33] #21036 closed, assigned to nobody

[2018-07-10 14:49] micker opened #21039 "[4.0] sidebar menu backend design suggestion"
in new admin template sidebar take to many space in width and many time only for 2 or 3 links ...
it just to jump intot sub level
For now
![2018-07-10_16h40_32](https://user-images.githubusercontent.com/2539440/42517827-efb03164-8460-11e8-8ba5-680be0c4a225.png)

My proposition : remove sidebar to add a jump list with a simplier select list
![after-jump](https://user-images.githubusercontent.com/25

[2018-07-10 14:56] mbabker commented on #21039
I'm no UI/UX person by any means but to be honest using a select list as a navigational element just seems wrong.

[2018-07-10 14:58] franz-wohlkoenig commented on #18818
@geqo can you please open a new Issue? Comments on closed Issues didn't get much Notice.

[2018-07-10 15:01] micker commented on #21039
it different maybe select list isn't the solution but we need to consider this because we lost many space and add some information not realy necessary (we always select the good part in menu)

[2018-07-10 15:06] JoomliC commented on #21039
Maybe using Bootstrap dropdowns?
https://getbootstrap.com/docs/4.1/components/dropdowns/

[2018-07-10 15:08] mbabker commented on #21039
If it's within an existing navigational element then sure.  A button floating around on its own as a navigation element though still doesn't feel right.  Especially if you start considering accessibility.

Also, apparently there is no sidebar in the new template design so the action is to remove the sidebar and keep the menu functional for the page context.

[2018-07-10 15:15] WebGuruCanada commented on #15629
Made My Day

[2018-07-10 15:19] brianteeman commented on #21039
please comment on the design and not the current implementation as it is
nowhere near complete

On 10 July 2018 at 16:08, Michael Babker <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2018-07-10 15:59] dgrammatiko commented on #21039
There are 2 PRs already for this in the 4.0-dev branch. Please close this issue and divert people to comment there?

[2018-07-10 17:03] #21039 closed, assigned to nobody

[2018-07-10 17:03] franz-wohlkoenig commented on #21039
closed as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21039">issues.joomla.org/tracker/joomla-cms/21039</a>.</sub>

[2018-07-10 17:06] 810 opened #21040 "[4.0] page-title width doesn't work on Edge/IE11"
### What needs to be fixed

![image](https://user-images.githubusercontent.com/876623/42525448-793d6a0c-8473-11e8-9edd-d58a8383fd21.png)

### Why this should be fixed

### How would you fix it

.d-flex.col {
    flex-basis: auto;
}

### Side Effects expected

[2018-07-10 19:08] Bakual commented on #21025
Having an automated minimum release based on PHP release cycles doesn't make sense to me.
If there is no strong technical reason to raise the minimum, we shouldn't raise it. But we should be able to raise the requirements in case of strong technical reasons.
From memory within J3, we wanted to support stronger password encryption which we could only do (while still keeping our sanity) by raising P

[2018-07-10 19:21] ggppdk commented on #18818
@geqo

there is no bug, it is like this by design

you will get such URLs if an appropriate menu item is not found for current view
e.g. you unpublished or changed access/language or did not create the needed menu items

If you want prettier URLs, check that you have menu items linking to at least your top level categories,
and that are of a language and of an access level that can be selected dur

[2018-07-10 19:54] csthomas commented on #21025
The human factor is also important. At least I like to write code in a newer version.

Support for 3 years after the last php x.y release - EOL can also be considered.

See http://php.net/supported-versions.php

This would mean that in September 2018, Joomla 3.10 could drop support for php  <= 5.4.

Sticking to the minimal php version (5.3.10) until the next major release, absorbs human resources

[2018-07-10 23:53] mbabker commented on #21025
There is no technical reason to raise the PHP minimum for Joomla 4.  Everything we need is available to us on a PHP 5.3 build with polyfills (the only true newer feature we depend on is the PHP 5.5 password hashing API, polyfilled down to PHP 5.2.4; I can't think of anything we have a hard dependency to that if there weren't a polyfill we would have issues working around).  There are a lot of non

[2018-07-11 00:51] brianteeman commented on #21013
maybe i am missing something but dont you define the layout you want to use in the menu item

[2018-07-11 01:03] mbabker commented on #21013
You have template styles, component layouts, and module layouts.  Thinking
about it, basically adding a param to template styles to set the layout
file (default index.php) would cover it without needing to change too much.

It’s basically an alternative to creating an entire second template when
you have an entire custom page layout, you add a new layout to the existing
template and more easily re

[2018-07-11 03:53] Quy commented on #20836
I assume this is no longer applicable with the new backend template.

[2018-07-11 03:57] Quy commented on #18181
Is this still an issue with the new backend template?

[2018-07-11 05:50] #20546 closed, assigned to nobody

[2018-07-11 05:50] franz-wohlkoenig commented on #20546
closed as having Pull Request #21007

[2018-07-11 06:15] gerald-b opened #21041 "Tags on milestones"
### Is your feature request related to a problem? Please describe.
If i read the Issues of a milestone, i can't find out, which issue is a security issue.
On Joomla.org in the Release notes i can identify there are some security issues.
but if you go to see the full list you can't see which one is the security one.
for example https://www.joomla.org/announcements/release-news/5734-joomla-3-8-9-rel

[2018-07-11 06:38] infograf768 commented on #21041
Security issues are treated separately by the JSST. They should not be public.
Corrections are specifically done just before stable is released.
If one finds a security issue, one has to mail to JSST.
security@joomla.org

[2018-07-11 06:43] #21041 closed, assigned to nobody

[2018-07-11 06:43] franz-wohlkoenig commented on #21041
closed as answered.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21041">issues.joomla.org/tracker/joomla-cms/21041</a>.</sub>

[2018-07-11 07:02] #20836 closed, assigned to nobody

[2018-07-11 08:22] Bakual commented on #21025
We're not talking about the major J4.0.0 release here, right? We're talking about the successive J4.x minor and patch releases. The topic is also not the J3 series like some implicate as far as I understood.

Of course it's fine for J4.0.0 to drop support for all PHP5.x releases and even older PHP7 releases. That is already possible with the existing strategy and is also already decision. But that

[2018-07-11 09:43] schtomi87 opened #21049 "Reflected Cross-Site Scripting"
Hi,

It is possible to exploit an XSS vulnerability through the following request:

POST /index.php HTTP/1.1
Host: www.anything.com
[...]

[2018-07-11 09:46] schtomi87 commented on #21049
http://www.kepfeltoltes.eu/images/hdd1/2018/07/11/265anything.jpg<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21049">issues.joomla.org/tracker/joomla-cms/21049</a>.</sub>

[2018-07-11 09:48] schtomi87 commented on #21049
The following content is returned by the web server:

<input type="hidden" name="layout" value="" accesskey="X" onclick="alert(1)" />
<input type="hidden" name="option" value="com_mailto" />
<input type="hidden" name="task" value="send" />
<input type="hidden" name="tmpl" value="component" />
<input type="hidden" name="link" value="0" />
<hr /><sub>This comment was created with the <a href="https:

[2018-07-11 09:50] #21049 closed, assigned to nobody

[2018-07-11 09:51] HLeithner commented on #21049
@schtomi87 please report the issue to the security team at https://developer.joomla.org/security/contact-the-team.html and not in the public tracker
@joomla/security

[2018-07-11 09:53] brianteeman opened #21050 "Drone failures"
getting really sick of seeing the following drone failure

[2018-07-11 10:28] soulevilx opened #21071 "Invalid variable type declared"
### Steps to reproduce the issue
Check: libraries/src/Layout/LayoutHelper.php
Line 57
`* @param   object  $displayData  Object which properties are used inside the layout file to build displayed output
`

### Expected result
$displayData should be declared as array

### Actual result
But it's declared as object

### System information (as much as possible)

### Additional comments

[2018-07-11 11:00] franz-wohlkoenig commented on #21049
can this kind of Report be deleted?

[2018-07-11 11:04] franz-wohlkoenig commented on #21049
thanks @infograf768

[2018-07-11 11:58] mbabker commented on #21025
I was just responding to your "we should only raise if there's a technical reason" comment.  Fact of the matter is that since 2012 there has been exactly one technical need and that was to be able to reliably use bcrypt hashing, since then there have been none and the odds of one being introduced into PHP are very low.  So if the argument is "there should be a technical need first", then that mile

[2018-07-11 12:26] #21023 closed, assigned to nobody

[2018-07-11 12:45] anibalsanchez commented on #21025
It also depends on the definition of what is a "technical need" for the project.

The current code base has been developed for PHP 5.3. So, it is confined to 5.3 or superior, per definition.

On the other hand, Symfony 4.0 and Laravel 5.6 both require PHP 7.1.3 or higher (and they won't run on previous versions) due to the features they use.

[2018-07-11 13:33] HLeithner commented on #21025
@mbabker your definition is less technical then "required to write code", my definition is more "would we like to use this new feature because we have a big benefit of it".

For example typed variables or properties which may increase performance with the planned JIT.

But each of this version requirements would anyway need its own discussion.

The other problem are our dependency as anibal mentio

[2018-07-11 13:43] mbabker commented on #21025
I don't know the implementation of typed properties yet (seen the RFC, haven't code reviewed), but with scalar typehinting and return typing those are B/C breaks without a PHP 7.2 minimum because of the parameter widening and type covariance/contravariance support added in that release.  So even if there are nice to have features in the pipeline (and I personally favor strict typing over duck typi

[2018-07-11 13:52] brianteeman commented on #21040
confirmed the issue on ie11

[2018-07-11 14:07] brianteeman opened #21073 "[4.0]Sample data menu creation"
### Steps to reproduce the issue
Install joomla and then install the sample data

### Expected result
Menus are created with unique alias that  are lowercase and do NOT include spaces eg **author-menu**

### Actual result
Menus are created without any changes eg **Author Menu**

This results in menu links in the administrator that are invalid markup because they have a space in the href

### Addit

[2018-07-11 14:07] Quy commented on #18669
I couldn't produce an error to see where it is displayed. Is this still valid issue with the nightly build?

[2018-07-11 14:12] brianteeman opened #21074 "[4.0]Joomla-tabs custom element"
### Steps to reproduce the issue
go to the permissions page of an article and then the permissions tab and view source

### Actual result
`<joomla-tab orientation="vertical" data-ajaxuri="' . $ajaxUri . '" id="permissions-sliders">
`

### Expected result
The $ajaxUri is replaced with something

[2018-07-11 14:47] AdamDocherty commented on #12832
You can actually get at it with JFormRule

https://docs.joomla.org/Server-side_form_validation

[2018-07-11 15:03] anuragteapot opened #21075 "[4.0] Null alert in administrator section."
### Steps to reproduce the issue
Install new fresh  j4 and go to the administrator section.
Null alert.

### Expected result
No alert.

### Actual result
![selection_007](https://user-images.githubusercontent.com/30978328/42581091-9ec353f0-8549-11e8-8144-4fc741a55977.png)

### System information (as much as possible)
Linux

[2018-07-11 15:24] Anu1601CS commented on #21075
Closing it's my development package fault.

[2018-07-11 15:24] #21075 closed, assigned to nobody

[2018-07-11 15:31] Bakual commented on #21073
You mean the "Menu Type"? I don't see an alias for the menu itself. In J3 they seem to work fine, or I miss where it breaks.

[2018-07-11 16:17] ggppdk commented on #21074
Permissions modifications seem to be working properly

Attributes
` data-ajaxuri="' . $ajaxUri . '" id="permissions-sliders"`
do not seem to be needed here:

https://github.com/joomla/joomla-cms/commit/bb52edf5726b8357579b19e2c1302d495abf72f4#diff-fcdfc03068f0957f766ac041cc0eedbcR81

The tag attributes are only needed here ? @dgrammatiko
https://github.com/joomla/joomla-cms/commit/bb52edf5726b8357

[2018-07-11 17:34] brianteeman opened #21076 "[4.0] installer script as vanilla, es6"
new installer script from #21034 does not work

### Steps to reproduce the issue
try to drag and drop install an extension in the extension installer

### Expected result
extension installs

### Actual result
spinner never stops and errors in the console
[code]

[2018-07-11 17:38] brianteeman commented on #21074
I am just reporting the error that needs to be fixed

[2018-07-11 17:39] dgrammatiko commented on #21074
actually there are more things that needs to be patched with tabs (the accordion implementation is not a11y although it passed the audit :( )

[2018-07-11 17:54] brianteeman commented on #21074
roflmao two elements tested for a11y and both failed

[2018-07-11 18:06] dgrammatiko commented on #21074
it's not funny, it means that we need to spend more time and redo them

[2018-07-11 18:07] ghazal commented on #21001
I have been noticing this for a while.
The setting is in administrator/templates/atum/html/modules.php,
lines 56 and 97 (well and body):
``$moduleClass    = ($bootstrapSize) ? 'col-md-' . $bootstrapSize : 'col-md-12';``
In my opinion it should be "col-md-6" but maybe we should wait for more advanced changes on Atum.

[2018-07-11 18:34] dgrammatiko commented on #21076
@brianteeman can you check #21077

[2018-07-11 18:38] Bakual commented on #21073
Works for me in Chrome and Edge both in J3 and J4.
May that be related to the browser how the link is handled?

The line that would need to be changed is
https://github.com/joomla/joomla-cms/blob/39ab4f80f981e552c1b8ed9fd0d7beb50d0d0022/plugins/sampledata/blog/blog.php#L339
Adding `ApplicationHelper::stringURLSafe($type);` to the mix probably solves the issue.

[2018-07-11 18:41] dgrammatiko commented on #21074
Check #21078

[2018-07-11 18:41] brianteeman commented on #21073
There are two issues.

1. A link with a space in it is invalid html. It might work as a link but assistive technology may not understand it.

2. As shown in the video the value changes when you save

[2018-07-11 18:46] #20499 closed, assigned to nobody

[2018-07-11 18:46] Quy commented on #20499
Please test #21079<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20499">issues.joomla.org/tracker/joomla-cms/20499</a>.</sub>

[2018-07-11 18:48] #21074 closed, assigned to nobody

[2018-07-11 19:02] Bakual commented on #21073
Check #21080. That did fix it for me. I did it for J3 since the same issue is present there as well.

I'm closing this issue since we have a PR.

[2018-07-11 19:02] #21073 closed, assigned to nobody

[2018-07-11 19:56] #21076 closed, assigned to nobody

[2018-07-11 19:56] franz-wohlkoenig commented on #21076
closed as having Pull Request #21077

[2018-07-11 20:21] zero-24 commented on #21050
I'm sorry to say but that part it out of my control of drone. In some cases a reboot of the tests help but this is definitely not the final solution.

[2018-07-11 20:22] brianteeman commented on #21050
Well someone needs to fix it

[2018-07-11 20:32] ggppdk opened #21081 "[4.0] Toolbar with button using 2 different Html Tags as button container stuck to each other"
### Steps to reproduce the issue

I have this issue with my extension but there are other backend screens that have same issue:

Go to backend templates manager and edit atum template
Toolbar contains

[code]

### Expected result

[code]
have spacing between them

### Actual result
They are stuck to each other
![stuck_button](https://user-images.githubusercontent.com/5092940/42597637-15387a48-8562

[2018-07-11 20:44] mbabker commented on #21050
Same groan as in https://github.com/joomla/joomla-cms/issues/20927#issuecomment-401480129

In general, we're getting way too many false positives on the CI systems.

[2018-07-11 20:48] zero-24 commented on #21050
Just for the record in general the CI systems works very great ;) Just one part of that test process has problems and this is not a issue about drone. That kind of tests don't run on travis at all when I remember correctly.

[2018-07-11 20:51] mbabker commented on #21050
I'm not saying the tests are bad.  I'm not saying the systems are bad.  I'm saying that far too frequently Drone and AppVeyor at least are failing for no good reason (AppVeyor timing out on the PHP 5.6 builds for 3.x, the reoccurring JS test failure on 3.x, etc.).  Those are the types of issues that we need to be looking at.  To be frank I'm merging way too many pull requests that have a failing C

[2018-07-11 20:52] brianteeman commented on #21050
it is not a failing test
it is a failure of the architecture

[2018-07-12 04:34] Diversal commented on #18316
So what's the solution?

[2018-07-12 08:45] zwiastunsw commented on #20986
I tested it with a new template. Screen reader: NVDA 2018.2.1. Windows 10. The switch works correctly when you are in **focus mode** (NVDA + space). If you are in **browse mode**, the switch does not work.
I also tested with the ChromeVox. It is working properly.

[2018-07-12 08:50] brianteeman commented on #20986
In all my tests the label is never announced

[2018-07-12 08:53] wojsmol commented on #17998
@Diversal Please open new topic on forum https://forum.joomla.org/viewforum.php?f=710.

[2018-07-12 09:00] zwiastunsw commented on #20986
see: [test switcher, article option, j4](http://fundacjapcj.smarthost.pl/jat4/tmp/switcher.mp4)

[2018-07-12 09:06] brianteeman commented on #20986
yes that is exactly what my first video showed. the label is never announced

[2018-07-12 09:07] zwiastunsw commented on #20986
You are right!  The label is not announced.

[2018-07-12 09:09] brianteeman commented on #20986
finally

[2018-07-12 09:13] dgrammatiko commented on #20986
@brianteeman apart the not announced label are there any other problems with this component?

[2018-07-12 09:15] brianteeman commented on #20986
that was all i checked. read the article I linked to for the solution

[2018-07-12 09:17] ciar4n commented on #20986
What markup would be considered a11y?

The current switcher...

[code]

[2018-07-12 09:19] brianteeman commented on #20986
@ciar4n it is not the switcher code itself it is that the label is never announced. read the article I linked to for the solution

[2018-07-12 09:19] dgrammatiko commented on #20986
well that article refers to a single checkbox, clearly what we have here is totally different

[2018-07-12 09:24] brianteeman commented on #20986
The issue as far as I can tell is that you have
				// Aria-label ONLY in the container span!

[2018-07-12 11:08] SharkyKZ commented on #21040
Test PR #21086 please.

[2018-07-12 12:13] #21040 closed, assigned to nobody

[2018-07-12 12:13] franz-wohlkoenig commented on #21040
closed as having Pull Request #21086

[2018-07-12 14:40] ghost opened #21089 "[4.0] Can't install on dockerized/kubernetes envrionments"
### Steps to reproduce the issue
Create an lamp container environment an Nginx proxy i.e. with docker.
Download Joomla_4.0.0-alpha3-Alpha-Full_Package.zip and start the Installer.

### Expected result
Installation is successful and can be used.

### Actual result
1. Installation process hangs up after enter mysql credentials getting this error:
[code]

2. Installation succeeded but after login in

[2018-07-12 15:03] brianteeman commented on #21089
Please retest with the nightly package as the alpha3 is very old https://developer.joomla.org/nightly-builds.html

[2018-07-12 15:33] f-hamel commented on #21089
I have same problem with the nightl bulid.
It has to something with session, cause sometime the installation process succeeded.
But then my session get terminated aft I login to the administrator.

I add a screenshot to the actual result and some more description

[2018-07-12 16:17] Diversal commented on #17998
@wojsmol  I've done so - see here: https://forum.joomla.org/viewtopic.php?f=710&t=963606

[2018-07-12 16:42] brianteeman opened #21090 "[4.0] com-messages broken"
The links in com_messages are all wrong

Make sure that you have a message in your inbox.

Try and select that message by checking the box and you will be redirected to
index.php?option=com_fields&context=com_users.user

try and select all messages by checking the box in the table header and you will be redirected to
index.php?option=com_users&view=levels

Note also that the redirect is on click b

[2018-07-12 23:06] 810 opened #21091 "[4.0] Error page backend is not displayed correctly"
### What needs to be fixed

![image](https://user-images.githubusercontent.com/876623/42664020-dd1da958-8638-11e8-8e2b-0e8ce501c201.png)

### Why this should be fixed

### How would you fix it

### Side Effects expected

[2018-07-12 23:12] mbabker opened #21092 "Exceptions in Joomla\CMS\Table\Usergroup refer to categories"
Some Exception messages are making references to categories.  That's not the right context for this class.

[2018-07-13 06:12] dreamztechsupport opened #21093 "Taxi Booking Extension - Coupon Code not working"
I have an issue on Taxi Booking Component Extension. The Coupon Code cannot working. I already set all the setting and have a try few times but it still can't work. When I enter the Coupon Code, the subtotal for the price did not deduct the coupon code price. Can you try to look at this issue ?

Thank you

[2018-07-13 06:15] alikon commented on #21093
please ask support at developer, this is only for joomla core

[2018-07-13 06:16] #21093 closed, assigned to nobody

[2018-07-13 06:16] franz-wohlkoenig commented on #21093
closed as no Core-Issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21093">issues.joomla.org/tracker/joomla-cms/21093</a>.</sub>

[2018-07-13 06:18] #21091 closed, assigned to nobody

[2018-07-13 06:18] franz-wohlkoenig commented on #21091
closed as having Pull Request #21094

[2018-07-13 07:34] SharkyKZ commented on #20846
Global option is used when accessing components directly (without menu item). The issue is that `Use Global` placeholder was added to menu item form by mistake.

[2018-07-13 07:46] SharkyKZ commented on #20846
Test PR #21095 please.

[2018-07-13 08:51] #20846 closed, assigned to nobody

[2018-07-13 08:51] franz-wohlkoenig commented on #20846
closed as having Pull Request #21095

[2018-07-13 11:16] SharkyKZ commented on #21090
Template issue. Collapsed menu items aren't being hidden.
![untitled](https://user-images.githubusercontent.com/7325021/42688657-e15233a0-86a5-11e8-86df-afae01472316.png)
@C-Lodder @ciar4n can you take a look at this please.

[2018-07-13 12:59] C-Lodder commented on #21090
@brianteeman @SharkyKZ Not tested the new template so can't confirm, but try adding:

`overflow: hidden;`

to this line: https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/templates/atum/scss/blocks/_sidebar-nav.scss#L4

Or find it in the CSS file if you're not set up to compile SCSS

[2018-07-13 13:32] SharkyKZ commented on #21090
That menu doesn't user `.sidebar-nav` class. I think this could be it:

[code]
`.show` is not used also . Instead `.open` is added/removed from parent. So this seems to work:

[code]

[2018-07-13 14:55] hfittipaldi opened #21099 "[Modern routing] Fix wrong link to user edit profile"
### Steps to reproduce the issue
Create a menu item to link to user profile menu option of com_users, set alias to user-profile. Create a menu item to link to user edit profile menu option of com_users, set alias to user-edit-profile.
Go to user profile and click on link 'Edit Profile'

### Expected result
Go to the correct page user-edit-profile

### Actual result
The link is going to user-profil

[2018-07-13 15:05] mbabker commented on #21099
Duplicate of #20485 and #20958

[2018-07-13 15:05] #21099 closed, assigned to nobody

[2018-07-13 15:21] hfittipaldi commented on #21099
Well, not quite. The issue #20485 refers to the cancel button, this is working fine. And the issue #20958 asks for a link to the profile view from the edit profile form, this is the cancel button.
Mine issue refers to the link 'edit profile' on profile page when there is a menu item pointing to edit profile page.

[2018-07-13 15:30] hfittipaldi commented on #21099
So, you're suggesting that I override the profile view layout pointing to the correct page? It is easy. But, to me, it seems an issue that has to be correct.

[2018-07-13 15:34] brianteeman commented on #21092
closed - fixed with #21098

[2018-07-13 15:34] #21092 closed, assigned to nobody

[2018-07-13 15:35] mbabker commented on #21099
And that's why the other two items are still open 😉 (it's a confirmed bug, we don't need multiple issues open for the same item and generally close duplicates to keep things in one spot)

[2018-07-13 15:36] brianteeman commented on #21090
good spot. - i didnt even think that could be the issue - its likely to effect other components then as well

[2018-07-13 15:41] hfittipaldi commented on #21099
My two cents, then: close the issue #20958, because there already is the cancel button. The other one refers to Joomla! 4.0 which is still in development, and my issue is the 'correct one'  😉

[2018-07-13 17:32] brianteeman commented on #15771
@wilsonge can we have a decision on this please. If it is an accepted proposal it will need quite a bit of work and so it should start soon

[2018-07-13 17:37] brianteeman commented on #16683
Closed as resolved with #20951

[2018-07-13 17:37] #16683 closed

[2018-07-13 17:39] brianteeman commented on #17112
That works again so do we still need a second clear button?

[2018-07-13 17:41] csthomas commented on #15771
Option 3.

Create a new parameter in the com_content component, where you can choose whether you want to or not, count hits.

It can be joined with Option 1.

[2018-07-13 17:42] brianteeman commented on #18557
closing - we have other open issues about the installer ux. no need for keeping this one which is unrelated to be open

[2018-07-13 17:42] #18557 closed, assigned to nobody

[2018-07-13 19:28] #17112 closed, assigned to nobody

[2018-07-13 20:01] brianteeman commented on #15582
as the password strength validator is no longer present in the installer I am closing this

[2018-07-13 20:01] #15582 closed

[2018-07-13 20:07] brianteeman commented on #15583
Bizarrely I just tested this (on windows) and successfully created a database called **&*(%£""%^*(`;**

but I agree we should be validating on entry https://stackoverflow.com/questions/9537771/mysql-database-name-restrictions

[2018-07-13 20:19] brianteeman commented on #18602
@schnuti thanks - silly confusion with thinking it was an admin module

[2018-07-13 20:29] brianteeman commented on #18602
with #21103 there wont be any extensions left to discover. Thanks for reporting

[2018-07-13 20:29] #18602 closed, assigned to nobody

[2018-07-13 21:03] brianteeman opened #21106 "[4.0] Blog/Featured columns ??"
### Steps to reproduce the issue
Install J4 and setup a blog and a featured article menu

### Expected result
Option to set the number of columns at the menu item
The set number of columns are displayed in the front end

### Actual result
Featured articles has the setting but no effect
Category blog doesnt have the option. The option still exists in the com_content options but it has no effect

[2018-07-13 21:05] brianteeman commented on #19408
Any update on the new modal its been 3 months

[2018-07-13 21:09] brianteeman commented on #19187
@dgrammatiko any update on this refactoring - its been 6 months

[2018-07-13 21:42] ReLater commented on #15771
As long as the hit counter also counts hits of deactivated articles and 404 pages and as long it counts hits even if the site is offline and counts reloading of pages and coming back to the same page during navigation for the same session and doesn't identify stupid bots "that never forget" and pushes up the article on the starting page and ... it's complete senseless and not reliable eyewash.

Ev

[2018-07-13 21:51] brianteeman commented on #15771
None of those alternatives (while more accurate) can be used on a site that wants to display the hits or to sort articles based on hits

[2018-07-13 21:57] ReLater commented on #15771
You could also show random numbers as hits ;-) Just a joke.

[2018-07-13 22:18] f-hamel commented on #21089
@brianteeman changing to which handller. It's allready set to files.

If diesable both ini settings session.save_path and session.save_handler, php is using redis as session handler, which seems not to work currently at all.

So using files is the only way to getting the installer work to the point where we are now.

So in the few times I could finished the installtion, I tried to access the backe

[2018-07-13 23:04] brianteeman commented on #21089
I wouldnt be surprised that 3.x works and 4.x doesnt - there are a lot of fundamental changes

you can set the 	`public $session_handler = 'database';
`

that might help to track down the problem

[2018-07-14 00:58] 810 opened #21107 "MailHelper::isEmailAddres false positive"
### Steps to reproduce the issue

````echo Joomla\CMS\Mail\MailHelper::isEmailAddress('demo@democom');````

### Expected result

false, because no dot

### Actual result

true

### System information (as much as possible)
Joomla! 3.8.11-dev

### Additional comments

[2018-07-14 03:07] brianteeman commented on #21107
That is correct as it is a valid email address on an intranet

[2018-07-14 04:09] #21107 closed, assigned to nobody

[2018-07-14 04:09] franz-wohlkoenig commented on #21107
closed as expected Behaviour.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21107">issues.joomla.org/tracker/joomla-cms/21107</a>.</sub>

[2018-07-14 04:36] ghost opened #21108 "[4.0] Install "Blog Sample Data" fails"
### Steps to reproduce the issue
Try to install "Blog Sample Data". Message "Something failes" comes up, it ends with this:
![screen shot 2018-07-14 at 06 32 18](https://user-images.githubusercontent.com/8235763/42720878-14e54b5a-8730-11e8-9223-6cfb2d403de5.jpg)
### System information
- Joomla! 4.0.0-alpha4-dev
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.n

[2018-07-14 05:01] ghost opened #21109 "[4.0] "Batch"-Button isn't greyed out without marked Article"
### Steps to reproduce the issue
As Title say:

![screen shot 2018-07-14 at 06 59 58](https://user-images.githubusercontent.com/8235763/42721065-93d2340c-8733-11e8-935a-d375ca5227cc.jpg)

Also notice "Check in"- and "Batch"-Button container stuck to each other which is reported at #21081.

### System information
- Joomla! 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS S

[2018-07-14 05:59] infograf768 opened #21110 "[4.0] Multilang: com_associations broken for contacts and newsfeeds"
See https://github.com/joomla/joomla-cms/pull/20692#issuecomment-404848428
### Steps to reproduce the issue
Create a multilingual site.
Create at least a contact and a newsfeed tagged to one of the content languages
Load multilingual associations, choose the contact or the newsfeed as type + its corresponding language.

`Notice: Trying to get property of non-object in /Applications/MAMP/htdocs/ins

[2018-07-14 06:04] franz-wohlkoenig commented on #14430
@brianteeman can you please reopen this directly on Github? I want to comment that a Part works like expected.

[2018-07-14 06:06] franz-wohlkoenig commented on #14430
––@brianteeman can you please reopen this directly on Github? I want to comment that a Part works like expected.~~
False Thinking of me, please ignore Comment above.

[2018-07-14 08:41] ghost opened #21111 "[4.0] Fatal Error on creating new Banner Category"
### Steps to reproduce the issue
As Title says: ```Fatal error: Cannot use Joomla\CMS\Factory as Factory because the name is already in use in /administrator/components/com_categories/Model/CategoryModel.php on line 32```
### System information
- Joomla! 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.net
- PHP 7.1.1

[2018-07-14 09:03] franz-wohlkoenig commented on #14430
thanks @infograf768

[2018-07-14 09:30] infograf768 commented on #14430
@franz-wohlkoenig
We have to keep in mind though that the backend template is WIP.

[2018-07-14 09:47] dgrammatiko commented on #19187
@brianteeman the code is here: https://codepen.io/dgrammatiko/pen/zLvXwR

Haven't published anything because there was a discussion about using web components or just custom elements so I needed to know is shadow dom is something we will consider for such components. This has been resolved in our last meeting and once we have the building scripts ready for shadow dom I'll PR this as well

[2018-07-14 12:14] franz-wohlkoenig commented on #14430
@infograf768 true, Discussion was "bug in bs4" so i was surprised that one Select (i haven't searched more) works. So there must something different than other Select.

[2018-07-14 12:34] brianteeman commented on #14430
the category select is still using "chosen" which is supposed to be replaced

[2018-07-14 12:52] ghost opened #21112 "[3.9] [com_fields] Fields - Repeatable: __DEPLOY_VERSION__"
### Steps to reproduce the issue
In "Extensions: Manage" the Fields - Repeatable has Version __DEPLOY_VERSION__:
![screen shot 2018-07-14 at 14 48 29](https://user-images.githubusercontent.com/8235763/42724594-811dc6ea-8775-11e8-8fd8-754d7737d8a9.jpg)
### System information
- 3.9-dev
- Template: Protostar
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.net
- PHP 7.2.3
- MySQLi 5.7.1

[2018-07-14 12:58] SharkyKZ commented on #21106
Columns option was supposed to be removed with #18319 but some related code remains.

@ciar4n can you give an update on this? Are columns still being removed?

[2018-07-14 13:01] brianteeman commented on #21112
Expectrd behaviour. Automatically changed when the release is tagged.

[2018-07-14 13:06] franz-wohlkoenig commented on #21112
thanks @brianteeman

[2018-07-14 13:06] #21112 closed, assigned to nobody

[2018-07-14 13:10] ghost opened #21113 "[4.0] "Showon" shown on Top instead Bottom"
### Steps to reproduce the issue
Test in Options "Articles", "Contacts", Tab "Integration":

Select "URL Routing":
![screen shot 2018-07-14 at 15 05 23](https://user-images.githubusercontent.com/8235763/42724711-b44b5a3a-8777-11e8-82cd-86894001d391.jpg)

Showon "Remove IDs from URLs" shown on Top instead Bottom:
![screen shot 2018-07-14 at 15 05 36](https://user-images.githubusercontent.com/823576

[2018-07-14 13:21] SharkyKZ commented on #21111
Test PR #21114 please.

[2018-07-14 13:31] #21111 closed, assigned to nobody

[2018-07-14 13:31] franz-wohlkoenig commented on #21111
closed as having Pull Request #21114

[2018-07-14 14:49] #21113 closed, assigned to nobody

[2018-07-14 14:49] franz-wohlkoenig commented on #21113
closed as having Pull Request #21115

[2018-07-14 19:21] ghost opened #21119 "[4.0] Nightly Build on launch.joomla.org (CloudAccess) give Error"
### Steps to reproduce the issue
Using Custom URL https://update.joomla.org/core/nightlies/next_major_list.xml on launch.joomla.org
give Error:

![screen shot 2018-07-14 at 21 18 27](https://user-images.githubusercontent.com/8235763/42727702-ae5be34a-87ab-11e8-8d17-43cd01110533.jpg)

Looks like a CloudAccess-Problem as discussed with Tobias Zulauf.
### System information
- Joomla! 4.0.0-alpha4-dev

[2018-07-14 19:40] ghost opened #21120 "[4.0] Featured Articles: Search shown twice"
### Steps to reproduce the issue
As Title say:
![screen shot 2018-07-14 at 21 38 13](https://user-images.githubusercontent.com/8235763/42727871-69d5c346-87ae-11e8-9a1f-802c07f5d84f.jpg)
### System information
- Joomla! 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.net
- PHP 7.1.15
- MySQLi 5.7.18-cll-lve

[2018-07-14 19:45] wojsmol commented on #21119
@franz-wohlkoenig Do you know whether this issue was reported to Cloud Acces?

[2018-07-14 19:49] ghost opened #21121 "[4.0] Click on Article-Category give Fatal Error"
### Steps to reproduce the issue
Click on a Category on Pencil or Name, got:
```Fatal error: Cannot use Joomla\CMS\Factory as Factory because the name is already in use in /administrator/components/com_categories/Model/CategoryModel.php on line 32```
### System information
- Joomla! 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
###

[2018-07-14 19:51] franz-wohlkoenig commented on #21119
I haven't as People of CA are here writing.

[2018-07-14 19:53] Sandra97 commented on #21119
Reported to CA.

[2018-07-14 19:54] franz-wohlkoenig commented on #21119
@Sandra97 so in Future its better to Report at CCP?

[2018-07-14 20:00] Sandra97 commented on #21119
For all issues related to launch, the best is to open them in the websites repo, like for any of our properties.

[2018-07-14 20:02] brianteeman commented on #21120
needs this same fix i put in #21087

[2018-07-14 20:05] franz-wohlkoenig commented on #21119
haven't found launch.joomla.org at Website-Repo.

[2018-07-14 20:09] Sandra97 commented on #21119
You can use the .com label (as it's for *.joomla.com websites) for the moment. I can add launch to the readme file and I'll see with CA if they can add the report link in the footer of launch

[2018-07-14 21:01] #21120 closed, assigned to nobody

[2018-07-14 21:01] Quy commented on #21120
See PR #21123<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21120">issues.joomla.org/tracker/joomla-cms/21120</a>.</sub>

[2018-07-14 21:25] #21121 closed, assigned to nobody

[2018-07-14 21:31] Quy commented on #21109
@Fedik

[2018-07-15 03:47] franz-wohlkoenig commented on #21119
thanks @Sandra97

[2018-07-15 03:54] franz-wohlkoenig commented on #21121
Test on Nightly Build: Issue stay. Maybe solved in Staging? If not, please reopen here as at Issue Tracker i got "Invalid response from GitHub".

[2018-07-15 04:13] franz-wohlkoenig commented on #21004
@laoneo can you please have a Look?

[2018-07-15 04:39] ggppdk commented on #21004
The display of fields (their ... ->value property) is always created twice
aka the layout will be load twice

- once for automatic display via an event (this can be disabled) and
- once for manual display (there is no option to disable this)

See this PR for explanation **and for discussion**,
about option to disable manual creation , it was decided to be a B/C break or something

**[com_fields] F

[2018-07-15 05:36] infograf768 opened #21125 "[4.0] custom admin menu issue"
### Steps to reproduce the issue
Create an admin menu.
Create, as we can do in 3.x, a Menu Heading item.
Add various menu items with the Menu Heading as parent.
(Keep the default admin menu displayed.)
### Expected result
The Menu Heading displays and its children can be found by clicking on it.

### Actual result
Another `Toggle Menu` is displayed below the existing core admin Menu. It should not

[2018-07-15 06:09] Anu1601CS commented on #21108
@franz-wohlkoenig Can you please test again with fresh and latest j4?
I think this issue is solved after this #21114

[2018-07-15 06:15] Fedik commented on #21109
yeah, that a valid issue,
this is for reference https://github.com/joomla/joomla-cms/pull/20777#issuecomment-397859740 (with explanation)

[2018-07-15 06:29] franz-wohlkoenig commented on #21108
On latest Nightly Build Multilang. Sample Data are installed, tried to install also Blog Sample Data got no "Something fails"-Message but same as Screenshot above: spinning Logo, so i closed it after a few Minutes waiting.

[2018-07-15 06:30] franz-wohlkoenig commented on #21004
@ggppdk thanks for Comment, so Issue can be closed as expected Behaviour?

[2018-07-15 07:09] infograf768 commented on #21108
Which sample data is installed before you try the Blog Sample Data?
If it is the Multilingual sample data, no issue here.

[2018-07-15 07:15] franz-wohlkoenig commented on #21108
Issue reported trying to install Blog Sample Data.

In the Meantime installed Multilang Sample Data. So if the Blog Sample Data fail is no Issue i will try on a clean Install if Blog Sample Data works as @Anu1601CS guessed.

[2018-07-15 07:37] franz-wohlkoenig commented on #21108
@Anu1601CS is correct, Issue is solved as Blog Sample Data get installed as expected.

[2018-07-15 07:37] #21108 closed, assigned to nobody

[2018-07-15 07:43] infograf768 commented on #19997
I am closing this as the errors have changed since this issue was posted.

[2018-07-15 09:08] Hackwar commented on #21025
Can we sum this up that we support the original RFC? I would propose the following wording:

Feel free to improve the wording, but whatever we do, we should come to a conclusion here.

[2018-07-15 09:15] Hackwar commented on #21024
Can we sum up that we support the original RFC? I propose the following wording:

Feel free to change the wording, but lets try to come to a solution here.

[2018-07-15 11:38] ggppdk opened #21131 "[RFC] Performance and scalabity of Debug bar(s) (and sliders) for SQL queries"
[J3.8.10]

The implementation of the debug screen for SQL queries,
has a horrible performance, it does not scale

it is O(N*N)  (or something like this) where N is the number of SQL queries

we are creating N debug bars .... 1 for every SQL
(and then also N JS sliders for the information of every query)

thus having a total N*N links e.g. if you have a page with 300 queries e.g.  because of Joomla

[2018-07-15 15:34] mbabker commented on #21131
Ya know, working from a proper debug system would help massively instead of something glued together with random bits and pieces.  AKA https://github.com/joomla/joomla-cms/pull/20380

[2018-07-15 15:39] infograf768 opened #21132 "[4.0] Multilanguage wrong url given by language switcher for homes of type category"
### Steps to reproduce the issue
Create a multilingual site with the multilingual sample data.
Make sure sef is on. Tested here with url rewriting
Load frontend home and switch language via the language switcher.

### Expected result
We should get urls of type
`whatever/fr`
`whatever/en`

### Actual result
We get
`/en?view=category&id=8`
and
`/fr?view=category&id=9`

### Supplementary information.

[2018-07-15 15:59] franz-wohlkoenig commented on #21132
Issue confirmed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21132">issues.joomla.org/tracker/joomla-cms/21132</a>.</sub>

[2018-07-15 17:06] brianteeman commented on #20821
@Kubik-Rubik could you take a look at this please

[2018-07-15 17:26] RichardZimmerEschborn opened #21134 "[4.0] Casseiopaia Frontend Template horizontal/vertical"
I see versions (screenshots) of casseiopaia with main menu horizontal, others vertical.

Would it not be nice to have a switch in the template to select horizontal/vertical and have the template to automatically add apropriate css classes to the html?

I found alot of questions in forums about how to switch a menu from horizontal to vertical or vice versa.

Especially for new joomla admins, like m

[2018-07-15 18:05] laoneo commented on #21132
@infograf768 when you revert #20692, does it work correctly then?

[2018-07-15 18:17] laoneo commented on #21004
@tassosm set a break point in your tmpl. Where do the two different calls do come from?

[2018-07-15 18:43] dgrammatiko commented on #21004
You can create a js file include it through jhtml::script();. There problem solved

[2018-07-15 18:49] dgrammatiko commented on #21004
To explain a little better my suggestion above: joomla doesn’t have any way to force uniqness on inclusion of inline scripts. The only way to assure you will only load once an asset is through jhtml script for a static js file. There are way too many pitfalls in the architecture here that needs to be patched and is far easier to just say use always js files for your scripts than try to fix wrong a

[2018-07-15 18:59] ggppdk commented on #21004
@laoneo
i checked layout is loaded once, did something change ? some magic method for manual display or other change ?

[2018-07-15 19:50] ggppdk commented on #21004
Ok what i wrote above applies,
the layout is loaded twice as expected ...

just the output is captured, lol, i forgot of it
so you can not print a back-trace in it, instead you should log it to a file or ... use a debugger

**Manual display** (in case they are needed)
[code]

**Automatic display** (according to configuration, e.g. in my case set to onContentBeforeDisplay)
[code]

----

**Back-trac

[2018-07-15 20:43] Kubik-Rubik commented on #20821
@brianteeman Yes, I will check tomorrow morning. Thank you for mentioning me!

[2018-07-15 20:52] brianteeman commented on #20821
if there is a plesk expert then we should take advantage of their expertise - thanks buddy

[2018-07-15 20:57] maxsenft opened #21135 "Wrong order in Category Blog"
### Steps to reproduce the issue
* Create various articles with different publish dates
* Create a Category Blog menu item with the following settings at "Blog Layout":
    * Category Order: No Order
    * Article Order: Most Recent First
    * Date for Ordering: Published

### Expected result
Articles shown sorted from last published (top) to first published (bottom).

### Actual result
Articles

[2018-07-15 21:37] brianteeman commented on #21135
Please use the forum for support https://forum.joomla.org.

On an unrelated issue I can see that gallery you are using is inserting hidden spam links into your ssite which will drastically effect your appearance in search engines and I strongly recommend that you remove that

 
 ```
 | < div style="display:block; font-size:10px; overflow:hidden; height:1px; padding-top:1px;" >< br / >< a href="htt

[2018-07-15 21:37] #21135 closed, assigned to nobody

[2018-07-16 06:32] franz-wohlkoenig commented on #21132
@infograf768 is this new Error connect with this Issue or should i open a new Issue?
![screen shot 2018-07-16 at 08 29 17](https://user-images.githubusercontent.com/8235763/42745335-7c058a2c-88d2-11e8-8506-fb155018089d.jpg)
### System information
- Nightly Build 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.net
- P

[2018-07-16 07:47] infograf768 commented on #21132
What do you mean?

@laoneo

Concerning the home being a category, yes, it works fine. I now get via the switcher or from menu item
`whatever/fr`
`whatever/en`

For articles as home (with OR without https://github.com/joomla/joomla-cms/pull/20692 ), mixed results
If I use the switcher I do get
`whatever/fr`
`whatever/en`
as well when using another specific menu item displaying the same article

But

[2018-07-16 07:56] laoneo commented on #21132
So this is the only thing which does not work correct since #20692?

[2018-07-16 08:16] Hackwar opened #21139 "[4.0] Drag&Drop install in com_installer does not work"
In the current 4.0-dev, drag&droping an install package into the installer as advertised, results in the browser trying to give you back that file insted of uploading it to the server.

[2018-07-16 08:17] Hackwar commented on #21139
Clicking the "Select file" button doesn't work either.

[2018-07-16 08:29] franz-wohlkoenig commented on #21132
@infograf768 Was a Browser-Cache-Issue.

[2018-07-16 08:29] brianteeman commented on #21139
please test #21077

[2018-07-16 08:30] infograf768 commented on #21132
I mean which error was?

[2018-07-16 08:31] franz-wohlkoenig commented on #21132
Screenshot deleted, can't say what the Error-message was.

[2018-07-16 08:33] infograf768 commented on #21132
Ok, understand now.

[2018-07-16 08:34] franz-wohlkoenig commented on #21132
As far as i remeber got a 404, after reload of Page it works.

[2018-07-16 09:21] infograf768 commented on #21132
No. remains the original issue when category is home
### Actual result

We get
/en?view=category&id=8
and
/fr?view=category&id=9

But I think I found the issue in the language switcher WHEN using #20692

Can you solve in the mean while the Fatal error for contact and newsfeed?
Could not test with a contact category as I have
Fatal error: Cannot declare class Joomla\Component\Contact\Site\Helper\Ro

[2018-07-16 09:34] infograf768 commented on #21132
Forgot to say that this works only perfectly when sef is on. When off we can get for homes a very long url or a simple one of type `index.php?lang=en`

[2018-07-16 09:59] csthomas commented on #21131
Some time ago there was also PR https://github.com/joomla/joomla-cms/pull/13622

[2018-07-16 10:15] infograf768 commented on #21132
OK. This modif does work for single newsfeed, after I corrected a wrong call to FeedFactory.
will make patch.

[2018-07-16 10:59] infograf768 commented on #21132
as we have https://github.com/joomla/joomla-cms/pull/21141 closing

[2018-07-16 10:59] #21132 closed, assigned to nobody

[2018-07-16 11:23] Kubik-Rubik commented on #20821
Okay, just analysed it in detail, this happens due to security restrictions in Plesk's PHP handler.

You need to add the path _/var/lib/php/session_ to the **open_basedir** value to be able to start the installation process in Joomla! 4.

Go to the PHP settings and change the **open_basedir** value to:

`{WEBSPACEROOT}{/}{:}{TMP}{/}{:}{/}var{/}lib{/}php{/}session{/}`

**TODO** We should check why

[2018-07-16 12:52] astridx opened #21142 "[4.0] New backend template - change tab issue"
### Steps to reproduce the issue
1. Open the `System` Menü and click on `Site Template`
2. Open the `Styles` Menü on the left side and select the template `cassiopeia`.
3. Select the Tab `Advanced` and insert a `title`.
4. Click on the toolbar button save.

### Expected result

Everything is saved and you stay in the Tab `Advanced`

### Actual result

Everything is saved and you are redirected int

[2018-07-16 13:03] astridx opened #21143 "[4.0] New backend template - distance between toolbar buttons issue"
### Steps to reproduce the issue
1. Open the `Users|Manage` Menü.

![users test administration](https://user-images.githubusercontent.com/9974686/42759823-9450f43c-8908-11e8-8539-ab0c989267d6.png)

### Expected result

Between all toolbar buttons is the same distance

### Actual result

The last toolbar button has no distance to the left.

### System information (as much as possible)
Current 4.0-d

[2018-07-16 13:05] SharkyKZ commented on #21143
Duplicate #21081 and  #21109.

[2018-07-16 13:20] #21143 closed, assigned to nobody

[2018-07-16 13:22] dgrammatiko commented on #21142
This is expected. The new tabs script is including the tabs state behaviour but the old one is used here (and almost everywhere else, we just changed a couple views). Also, the tabs state script has already been moved to legacy with the aim to totally drop it

[2018-07-16 13:25] franz-wohlkoenig commented on #21142
Issue confirmed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21142">issues.joomla.org/tracker/joomla-cms/21142</a>.</sub>

[2018-07-16 13:31] Codereamp opened #21145 "Media manager doesn't obey relative pathes for video files"
### Steps to reproduce the issue
- Make sure video files can be uploaded (legal extensions, MIME times). Let's the media folder is www.mysite/media
- Create any sub-folder in main Media folder (for example 'myvideos')
- Upload a video to this new folder, so the correct location is www.mysite/media/myvideo/myvideo.mp4.
- Hover the mouse, notice that the lacking sub-folder part (www.mysite/media/myv

[2018-07-16 13:33] franz-wohlkoenig commented on #21134
Thanks for your feature Request. As far as i know you can do this by using [Bootstrap](https://v4-alpha.getbootstrap.com/components/navs/#horizontal-alignment "Bootstrap"). Also its a difficult Decision which Switch should be added to Core and on the other Hand don't have to much Options.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application<

[2018-07-16 16:36] humblehumanbeing opened #21146 "Multibyte encoding in module params"
Many third party modules (Rockettheme's Gantry modules or Joomlart's content module, for example) store the values in the field params and those values are encoded as multibyte if they consist non-latin characters.
This naturally makes it hard to manipulate them via database.
Can Joomla devs offer a solution for this issue?

[2018-07-16 18:28] tassosm commented on #21004
@laoneo the 2nd call is coming from the Automatic Display option as @ggppdk described very well.

@dgrammatiko loading a script file seems to be the only solution here, indeed. However, in my case, seems like an overkill to use a script file for just two lines of code.

[2018-07-16 19:00] laoneo commented on #21004
You will be then CSP compliant. Another benefit, even for two lines.

[2018-07-16 19:23] ggppdk commented on #21004
@tassosm , also a static variable should work
[code]

[2018-07-16 19:43] ggppdk commented on #21004
And a reminder here
layouts (whatever their type is ...) are reused

even if you eliminate the double loading of the layout file for this particular field instance

there are still legitimate reasons to load it multiple times
e.g. you have 3 fields of type 'myfieldtype', and you display all 3 fields
then layout file should be loaded at least 3 times

or even you may set a modified value or configu

[2018-07-16 20:23] billtomczak opened #21148 "JFormFieldCalendar using 12 hour format"
This is a re-report of the issue reported in #18304. PR #18240 did not fix these issues and they remain as of v3.8.10

Creating a new issue as requested by [franz-wohlkoenig](https://github.com/franz-wohlkoenig)

### Steps to reproduce the issue
Edit /administrator/components/com_content/models/forms/article.xml and edit the publish_up field attributes:
* remove `translateformat`
* add `format="%Y

[2018-07-17 03:49] franz-wohlkoenig commented on #21071
@Quy can you please have a Look?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21071">issues.joomla.org/tracker/joomla-cms/21071</a>.</sub>

[2018-07-17 03:53] franz-wohlkoenig commented on #20665
Issue confirmed.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20665">issues.joomla.org/tracker/joomla-cms/20665</a>.</sub>

[2018-07-17 05:31] infograf768 opened #21153 "[4.0] Notices when uninstalling a language pack"
### Steps to reproduce the issue
Install a language pack (German, French or Persian are available through Install Languages)
Then go to Extensions : Manage and uninstall the pack

### Actual result
Pack is correctly uninstalled.
Notices in php logs
[code]

[2018-07-17 07:09] #21139 closed, assigned to nobody

[2018-07-17 07:20] tonypartridge commented on #21145
Can you do a PR please? I’ve noticed it too.

[2018-07-17 08:11] Codereamp commented on #21145
I see a new status "Information Required". Is addition information required from the issue creator?  <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21145">issues.joomla.org/tracker/joomla-cms/21145</a>.</sub>

[2018-07-17 09:43] csthomas commented on #21025
I would add one sentence, something like this.

Minimum requirements can be increased when the software version is 3 years after EOL and we have a big benefit of it and if available, less than 3% of all sites contain reporting data in this version.

We can give 4 instead of 3 years.

[2018-07-17 10:09] wojsmol commented on #21145
@Codereamp @tonypartridge Please test PR https://github.com/joomla/joomla-cms/pull/21156

[2018-07-17 10:29] #21145 closed, assigned to nobody

[2018-07-17 10:29] franz-wohlkoenig commented on #21145
closed as having Pull Request #21156

[2018-07-17 10:37] Hackwar commented on #21025
@csthomas Why would you limit yourself like that? Joomla 3.2 was released November 2013 and had a huge issue with the password encryption because of PHP 5.3. PHP 5.3 wasn't EOL until August 2014. So if we would stick with your requirements that we can only change requirements 3 years after EOL, we wouldn't have solved anything of the issues that started this RFC.

We are not creating rules against

[2018-07-17 10:44] RichardZimmerEschborn commented on #21134
@franz: I understand, it is done with bootstrap. But it is not as easy as it looks like in the first place. And too bad, compared to other cms packages, like wordpress, for example. Joomla has almost no support through free templates.

Before everyone starts complaining I am talking about free templates, which are just examples for simple customizable Joomla only templates. I am not talking about

[2018-07-17 11:06] franz-wohlkoenig commented on #21134
i do understand your Comment as i'm also no Developer and Switches would be the easiest Way for me.

To be honest: i also understand Volunteers here saying "Documentation is a wiki, please help by writing yourself" as Example.

[2018-07-17 11:37] RichardZimmerEschborn commented on #21134
especially there are so many fields and switches, which are completely useless, if one is not that deep into it. (For the others it is so easy to add a field to the template)

Writing documentation is a good idea, after one is into it. But right now one needs to understand what the hole thing does, in this stage there is no chance to document anything. From my programming experience, documentation

[2018-07-17 11:55] csthomas commented on #21025
My main intention is to remove old things (php 5.3, postgresql 8.3, ...). I set 3 years because I looked at it from today's perspective - it was my fault.

@Hackwar Then you can remove the condition with the end of life.

Then it would be "a big benefit of it" but still problem not less than 3%.

Today we could remove support for php 5.3 (3 years after EOL)
and postgresql 8.3 or even higher.

Firs

[2018-07-17 11:56] mbabker commented on #21134
It's not as simple as a toggle for horizontal or vertical menus.  The various module positions aren't really designed to support all potentials (the nav area at the top isn't designed for a vertical menu, a sidebar isn't designed for a horizontal menu, etc.).  It's also impossible for us at a core level to say "mod_menu is assigned to position X, automatically include Y classes", these are the typ

[2018-07-17 12:01] mbabker commented on #21025
"Big benefit" is too vague.  As I've already pointed out, as a project we honestly have very little need to move beyond the PHP 5.3 feature set; almost everything in newer versions is syntactic sugar and the few functions we truly rely on are all polyfilled.

Locking to a hard "we can only do this three years after EOL" is kind of against the aim here.  It's not intended to set a timeframe into th

[2018-07-17 12:29] mbabker commented on #18562
This one is specifically regarding 4.0 minimum.  #21025 deals with policy regarding when bumps may be made.

[2018-07-17 12:29] csthomas commented on #21025
As maintainers take a decision then "big benefit" may be replaced by "no interest to support deprecated version or effort in relation to the benefits is too large".

[2018-07-17 12:33] beat commented on #21025
:+1: for PHP 7.2 for Joomla 4. Strongly.
People with a PHP 5.6-7.1 host can stay on Joomla 3.10 for 2 years after Joomla 4 release.

@mbabker has listed here very valid and powerful benefits for Joomla to move minimum up, and 7.2 brings the maximum benefits: https://github.com/joomla/joomla-cms/issues/18562#issuecomment-400875142

Also suggesting to raison MySQL minimum requirement for Joomla 4 to

[2018-07-17 12:36] anuragteapot opened #21160 "[4.0] Error in Joomla update. Invalid Ajax data."
### Steps to reproduce the issue
try to do a Joomla update.

For test you can use: https://www.jah-tz.de/downloads/core/gsoc18_override_management/gsoc18_update_list.xml

### Expected result
Update successfully needs to be done!.

### Actual result
Error : `Invalid Ajax data.`

![screenshot from 2018-07-17 17-59-29](https://user-images.githubusercontent.com/30978328/42817380-92b8e0e2-89eb-11e8-864

[2018-07-17 12:46] wilsonge commented on #21110
This stems from this line https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_categories/helpers/association.php#L41 - we're importing the class through the Joomla Autoloader and then again additionally through the composer autoloader leading to class conflicts I believe

@mbabker @laoneo any good ideas?

[2018-07-17 12:51] csthomas commented on #21025
I remembered one more thing.

If contributor or automated tests can not test Joomla on the old software for the last year, it means that such support is zero and should be removed. An example is PostgreSQL 8.3 where you can not install joomla 3.

[2018-07-17 12:55] brianteeman opened #21162 "[4.0] add new css - where?"
As the list views now have a checkbox in the thead with a class of td and not th I need to create some styling for it

Its a really simple piece of css
.table thead tr td {padding:0}

I know how to build the css from the scss

**I have no idea which scss file to put it in? Any clues?**

[2018-07-17 13:01] ciar4n commented on #21162
I guess.. https://github.com/joomla/joomla-cms/blob/4.0-dev/administrator/templates/atum/scss/vendor/bootstrap/_table.scss

[2018-07-17 13:02] brianteeman commented on #21160
possibly due to line 128 restore_finalisation.php

[2018-07-17 13:03] brianteeman commented on #21162
but that's a vendor file isnt it?

[2018-07-17 13:09] ciar4n commented on #21162
I can't blame you for thinking that but no. It is just CSS targeting the vendor classes. Personally I think this folder should be removed as it is a little misleading.

Regardless it is where such CSS is been currently added.

[2018-07-17 13:11] ciar4n commented on #21162
To make a true vendor folder we would need something like this in SCSS... https://github.com/sass/sass/issues/779

Currently there is not.

[2018-07-17 13:12] brianteeman commented on #21162
ok thanks or that - it is definitely confusing nomenclature

[2018-07-17 13:12] #21162 closed, assigned to nobody

[2018-07-17 13:31] mbabker commented on #21160
We're going to have to get tricky with this file.  The intent is to overload the core classes, so as they're now namespaced, the overloading has to use the correct namespacing as well.

I think this is right (there are no IDE reported errors and no reported syntax errors linting the file), but I never write files using multiple namespaces, so I have no idea if this is going to do what we want it t

[2018-07-17 13:45] franz-wohlkoenig commented on #21134
@RichardZimmerEschborn all true and often discussed. Discussion ends at the Point that only this happens what a Volunteer do. All start like you and me:-)

[2018-07-17 14:51] infograf768 opened #21165 "[4.0] Multilang: Fatal Error for contacts and newsfeeds"
### Steps to reproduce the issue
Here on a multilingual site, ~~but I guess same on a monolanguage site~~.
Create a multingual site with multilingual sample data.
Create a contact category tagged to a specific language.
Create a contact —without selecting a user— tagged to the same language in this category.
Create a **contact category menu item** to display the contact category tagged to the same

[2018-07-17 15:01] infograf768 commented on #21165
Edit: the issue (for contacts) is specific to the `List Contact in a Category` Menu Item Type

[2018-07-17 15:46] Hackwar commented on #21025
However we are not discussing here what the minimum requirements should be, but if we can change the requirements after the release of a major version. And we are also not talking about raising requirements because "new is oh-so-cool". We are talking about raising the minimum requirements because we are forced to update our password hashing and the PHP version that we supported has/had a breaking

[2018-07-17 15:50] mbabker commented on #21025
Text makes sense to me.

[2018-07-17 15:55] mbabker commented on #21024
Text makes sense to me.

Also keep something in mind here.  We're working toward the 4.0 release.  Once we get that to the beta milestone, we REALLY should be providing best effort to ensure continuous upgrades between tagged releases.  I think it actually hurts testing or early adoption of new releases/features if we can't give users a bit of assurance that we'll do our best to ensure they can mo

[2018-07-17 16:36] csthomas commented on #21025
Then OK.

Can we expect any real changes in the code, or joomla will change only point 6.4.

[2018-07-17 18:23] Hackwar commented on #21025
As was written in the original RFC, this is aimed at 4.0. But regardless of the original RFC: What would you expect now to happen? Would there be a good reason to change the minimum requirements for 3.x now? I mean a real reason, not just "PHP5.3 is so 2012". And for 4.0 we are still open to raise the requirements to whatever we want.

[2018-07-17 18:57] csthomas commented on #21025
I would expect to raise PostgreSQL to 9.0 (or at least to 8.4) for J3.

Then it would be true that joomla real support minimal requirement version.
Also then we can remove a workaround for `ROW_NUMBER` to support Postgresql 8.3.

[2018-07-17 20:12] brianteeman opened #21166 "[4.0] Custom element joomla-tab fails on ie11"
### Steps to reproduce the issue
Open any page using tabs eg article edit using internet explorer 11

### Expected result
Page loads without error

### Actual result
Page stops rendering when it hits the first occurrence of the custom element joomla-tab

The console reports
SCRIPT438: Object doesn't support property or method 'append'
joomla-tab-es5.min.js (1,5496)

[2018-07-17 20:44] Spudley commented on #21025
The biggest valid objection to raising PHP version requirements is the one voiced at the top of this  thread by @HLeithner, where site owners find themselves unable to upgrade PHP due to version constraints of their host operating system.

This is a very valid point and has historically been a strong factor in many applications choosing to hold back their adoption of newer PHP versions.

However,

[2018-07-18 04:01] franz-wohlkoenig commented on #21134
@C-Lodder you know more, can you please advice?

[2018-07-18 05:16] RichardZimmerEschborn commented on #21134
Well, it seems to me, that flex-column is hard coded in modules/mod_menu/tmpl/default.php line 21. As I understand, that is one of the core files. This the contrary of what @mbabker wrote.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21134">issues.joomla.org/tracker/joomla-

[2018-07-18 05:50] infograf768 commented on #21110
@wilsonge
You may be confusing this with https://github.com/joomla/joomla-cms/issues/21165 which does concern categories for these components in frontend.

This one here concerns only single contacts or newsfeeds.

Note: as of today July 18th, the errors are a bit different (although same concern)
[code]

[2018-07-18 05:56] RichardZimmerEschborn commented on #21134
So my idea:
Add something like:
<field
   name="menuOrientation"
   type="radio"
   class="flex-column"
   default="0"
   label="TPL_CASSIOPEIA_MENU_ORIENTATION"

   <option value="1">TPL_CASSIOPEIA_MENU_VERTICAL</option>
   <option value="0">TPL_CASSIOPEIA_HORIZONTAL</option>
</field>
to template/cassiopeia/templateDetails.xml

Than add something like <?php echo $params->get('menuOrientation'); ?

[2018-07-18 05:58] RichardZimmerEschborn commented on #21134
Sorry, it seems that formatting is messed up a little in my last comment.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21134">issues.joomla.org/tracker/joomla-cms/21134</a>.</sub>

[2018-07-18 06:45] infograf768 commented on #21165
Edit: The issue is only present on a multilingual site.

[2018-07-18 07:10] C-Lodder commented on #21134
Are you referring to the main menu at the top of the page? If so, I'm not sure how this can be vertical.

[2018-07-18 07:33] astridx commented on #21160
I can confirm this issue.

[2018-07-18 08:16] margieoestreich commented on #6809
Bonjour
Je veux dire que les points positifs n'aiment pas les sites qui sont faits avec l'aide d'un système de gestion de contenu. Le système de gestion de contenu est Joomla, donc les systèmes de recherche n'aiment pas les sites qui utilisent Joomla. Ces sites doivent être optimisés avec - <a href='https://sitechecker.pro/fr/'>https://sitechecker.pro/fr/</a>, un programme qui donnera des indices

[2018-07-18 08:20] ghost opened #21170 "[4.0] com_content Preview Overlay hide everything + can't be closed"
### Steps to reproduce the issue
Pagereload close Preview.
![screen shot 2018-07-18 at 10 14 01](https://user-images.githubusercontent.com/8235763/42868974-f9d839e8-8a73-11e8-9a52-7ef6edabd0b0.jpg)
Similar https://github.com/joomla-extensions/patchtester/issues/208
### System information
- Nightly Build 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Fi

[2018-07-18 08:23] franz-wohlkoenig commented on #6809
@margieoestreich please oen a new Issue as Comments on closed Issues didn't get much Notice and also write English, thanks.

[2018-07-18 09:28] #21170 closed, assigned to nobody

[2018-07-18 10:19] wilsonge commented on #21110
PR in https://github.com/joomla/joomla-cms/pull/21171

[2018-07-18 10:19] #21110 closed, assigned to nobody

[2018-07-18 11:38] ghost opened #21172 "Multilanguage Sample Data for J3 too"
Using launch.joomla.org i get a default 3.8. The Way in J4 using Multilang. Sample Data can be helpful
to start with an Multilanguage Site.

[2018-07-18 11:40] infograf768 commented on #6809
This is not an issue, it is a spam imho

[2018-07-18 11:43] mbabker commented on #21134
The core layouts are written in a way where some stuff is hardcoded in, they aren't just blissfully ignorant of any CSS framework (as much as some people groan about this).  What I'm saying can't be done (or rather shouldn't be attempted) is you can't just arbitrarily magically change the class just because you assign the module to a specific position on the page, and that not every position on th

[2018-07-18 11:48] franz-wohlkoenig commented on #6809
thanks @infograf768. @brianteeman can you please delete the Spam-Comment?

[2018-07-18 11:50] thaneshs opened #21173 "Upgrade to 3.8.10 - Helper call not supported?"
I have upgraded site to latest Joomla3.8.10 successfully. But custom components are throwing blank page on Helper function call. componentNameHelperhelperName::functionName() method is not supporting i guess.

An error has occurred.
0 Class 'DirectoryHelpersDirectory' not found

I am getting a response (return value) from helper function, but page is blank. Is there any changes in helper or helper

[2018-07-18 11:54] mbabker commented on #21165
OK, this is nitpicking, but the error path has an all lowercase path.  In 4.0 it should be `/components/com_contact/Helper/Route.php` (note the 2 uppercase characters).  So, does your checkout have both `/components/com_contact/Helper/Route.php` (correct with uppercase) AND `/components/com_contact/helper/route.php` (3.x with lowercase)?

On a case sensitive filesystem that really shouldn't be doi

[2018-07-18 11:56] mbabker commented on #21173
Component code isn't autoloaded.  Without seeing your code, we can't diagnose your issue.  As long as you are correctly loading your helper class it should be working.

[2018-07-18 14:04] RichardZimmerEschborn commented on #21134
Thanks, for formatting, so my last comment is readable!

@mbabker: I think, I installed alpha 2 of 4.0, badly in the top of the admin screen it says Joomla! 4.0.0-dev, so it does not tell exactly which release it is. If anyone is curious, I attach the whole file. (too bad, it does not allow to upload .php file)

The lines 19-21 of modules/mod_menu/tmpl/default.php look like the following:

[code]

[2018-07-18 14:08] mbabker commented on #21134
Yeah, that's definitely outdated.  https://github.com/joomla/joomla-cms/pull/20702 actually took the Bootstrap `flex-column` class out of that particular `<ul>` element, https://github.com/joomla/joomla-cms/blob/4.0-dev/modules/mod_menu/tmpl/default.php is the current state of that particular layout file.

[2018-07-18 14:58] Quy commented on #20262
Duplicate #20479 ?

[2018-07-18 15:00] brianteeman commented on #20262
No. This refers to the installer

[2018-07-18 15:06] ReLater commented on #20262
I don't think that it's a duplicate. This issue here was meant as reminder with additional information for users that wonder how to install sample data.

Sample data installation is broken completely with linked plugin above at the moment. That's why I've updated this issue here with new informations.

[2018-07-18 15:09] C-Lodder commented on #21134
It _should_ always be horizontal.

The design doesn't really cater for a vertical menu. You can simply utilise some of the flex classes provided by bootstrap to achieve this.

[2018-07-18 15:46] RichardZimmerEschborn commented on #21134
I understand. My suggestion, like all the other fields in the template, which are very often not used, implement a field in the template, which selects if the main menue is output horizontal (the default, which makes most sense) or vertical, in case someone wants it to.

It seems to me, that it is very little effort to implement something like this and it would help quite some people. For example

[2018-07-18 16:05] GCLW opened #21175 "Choosing a Layout for a Category Blog Menu Item Type"
### Steps to reproduce the issue

Created an override for com_content > category
Which did create an override directory in my template directory:
/templates/TEMPLATE_NAME/html/com_content/category/
Which has the following files:
blog.php
blog_children.php
blog_item.php
blog_links.php
default.php
default_articles.php
default_children.php

### Expected result

Create additional php files that will g

[2018-07-18 16:06] mbabker commented on #21134
Sure, it's a low effort thing.  That still implies though that whatever module position you're putting your menu in supports both horizontal and vertical orientations.  Very rarely is that actually the case, so even putting such a parameter in place honestly doesn't help much.  Plus, that means the horizontal/vertical toggle has to be something that can be done at the template level (either in the

[2018-07-18 16:11] mbabker commented on #21175
If you're trying to create a new layout `new.php`, you need a corresponding XML file to go with it for the menu manager to pick it up.

[2018-07-18 16:31] GCLW commented on #21175
Thank you for the response.

I guess I am expecting the same behavior with module custom views.
For example if I created a template override for mod_articles_latest the system would create a directory under my template's : html/mod_articles_latest and have a default.php file. I would basically create my own customview.php and when I would go into the module's advanced tab, under the layout dropdow

[2018-07-18 16:36] mbabker commented on #21175
It all depends on what you're doing.

A menu item is generally a set combination of a layout within a view within a component (so the category blog menu item is the `blog.php` layout of the `category` view of `com_content`).  So if you're aiming to create a custom category layout that can be routed to (assigned a menu item), yes you'd need that.

[2018-07-18 16:36] SharkyKZ commented on #21175
Layouts are added in a merging fashion. If you create an override of existing layout e.g. `default.php`, it will automatically override component/module layout and will not be shown in layout list. Meanwhile, if you add a custom layout (e.g. `custom.php`), it will not be used by default but it will appear in layout list for you to choose.

[2018-07-18 16:44] GCLW commented on #21175
Thank you gentlemen for the detailed explanations. You can close this, and my apologies for reporting a bug without fully understanding how it works to begin with.  <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21175">issues.joomla.org/tracker/joomla-cms/21175</a>.</sub>

[2018-07-18 17:13] #21175 closed, assigned to nobody

[2018-07-18 17:13] franz-wohlkoenig commented on #21175
closed as stated above.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21175">issues.joomla.org/tracker/joomla-cms/21175</a>.</sub>

[2018-07-18 17:34] brianteeman commented on #21175
No apologies necessary

[2018-07-18 17:40] RichardZimmerEschborn commented on #21134
I do not think so.

Right there in mod_menu, where I found the flex-column could be something like the following meta-code:

[code]
This way, the template designer could decide, if he supports flipping the menue. He could decide, which class to use for flipping. Even, if an additional class is added for flipping horizontal or if one is added for flipping vertical or both, that for either horizonta

[2018-07-18 18:01] mbabker commented on #21134
Doesn't quite work that way.

You can't tie a module to template parameters because templates do not consistently offer the same parameters (or even if they do under the same naming).  So you can't rely on `$app->getTemplate(true)->params->get('menuOrientation')` to work with every template.  Likewise, it's pretty much impossible for templates to extend the module form on their own (you have to ha

[2018-07-18 18:42] Hackwar commented on #21025
Ok, so there is no objection to the proposal above from 3 days ago. Can we simply add this to the Dev strategy or do you want to discuss this again in the PLT or something?

Sorry for pushing this like this, but it feels as if this is slowly devolving into an endless discussion that will eventually simply taper out without a decision. Since no one objected the basic idea of this RFC, maybe we can

[2018-07-18 19:14] mbabker commented on #21134
I'm not disagreeing the current state isn't the most user friendly.  But even small things like this create a lot of overhead in the core default template, then the expectation of the template providers picking up on and using these same options.  That's where things get tricky.

Joomla's complexity comes from the fact that we put options in the backend UI to control so much of the frontend interf

[2018-07-18 19:23] RichardZimmerEschborn commented on #21134
I am certain, if one wants to build a webpage, he MUST get into html and css. Very many things are sooo simple, if you do it there. What Joomla is doing, it makes things so complicated, that almost nobody can handle it. I think the MVC design is very good, but give the view designers the chance to design the view and do not try to design the view out of the core!<hr /><sub>This comment was created

[2018-07-18 22:47] wilsonge commented on #21165
Commenting out that line definitely solves the issue for me. Given having done a `git blame` that line is 6 years old. Are we sure that isn't just a typo and that it should have been `helpers` anyhow?

[2018-07-18 22:49] wilsonge commented on #21165
@bembelimen given you added this 6 years ago can you remember what it is for :P https://github.com/joomla/joomla-cms/commit/c093329ff5f80c7ac18faf3b54b0de841e566e40#diff-6f7be9c393def360d4bcf5bdbfcca15dR43

[2018-07-18 22:51] mbabker commented on #21165
`helper` is a [special case](https://github.com/joomla/joomla-cms/blob/0a976c3811da3f9ddfab358ba6fbcfacdb05f759/libraries/loader.php#L201) in `JLoader::import()`.  So it's right for that part of things, though I don't think that line could've ever worked right to load something from the helper**s** directory.

[2018-07-19 03:04] frogydiak opened #21177 "[4.0] Front End Error 'Joomla\Module\Menu\Site\Helper\MenuHelper' not found"
### Steps to reproduce the issue
Downloaded 4.0-dev branch and freshly installed it locally with the dummy data. Installation went well but going to the frontend, this error appears:

Error: Class 'Joomla\Module\Menu\Site\Helper\MenuHelper' not found: Class 'Joomla\Module\Menu\Site\Helper\MenuHelper' not found

I tried to delete the file `/libraries/autoload_psr4.php` but it doesn't help. I also j

[2018-07-19 03:50] franz-wohlkoenig commented on #21177
can you give System information (as much as possible)?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21177">issues.joomla.org/tracker/joomla-cms/21177</a>.</sub>

[2018-07-19 03:50] franz-wohlkoenig commented on #21177
Updated Title to make clear whtas the Issue is about.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21177">issues.joomla.org/tracker/joomla-cms/21177</a>.</sub>

[2018-07-19 06:40] infograf768 opened #21178 "3.8 and 4.0: com_associations issue with contacts and newsfeeds"
### Steps to reproduce the issue
Create a multingual site. 2 languages are enough.
Create a contact in each language and associate them in their edit page.
Load Multilingual Associations component.
Select Contact as type and one fo the languages.
Click on the greyed icon in the Associations column.
This will load the side by side page.

### Expected result
When using the Associations Tab (or butto

[2018-07-19 06:49] thaneshs commented on #21173
Hi Michael,

I found the root cause of this issue and fixed it now. This front end issue is due to declaring same class name in both front-end and admin component (same component).  This was working fine in our previous version Joomla3.6.5.

PHP Fatal error:  Cannot declare class DirectoryHelpersDirectory, because the name is already in use in /administrator/components/com_directory/helpers/direct

[2018-07-19 08:20] infograf768 commented on #21178
You are right. changing to `#jform_name` solves the issue.
Now, we do have equivalent in `ContactAssociationsHelper`
`case 'contact':
					$fields['title'] = 'a.name';`

therefore, we have to find a way to change the #jform in the side by side js depending on this parameter.

[2018-07-19 08:45] infograf768 commented on #21178
we get the equivalent to title in associations helper with `$titleFieldName`

[2018-07-19 09:11] infograf768 commented on #21178
OK. I have a patch.Will create PR

[2018-07-19 09:35] infograf768 commented on #21178
Closing as we have a PR for 3.x
https://github.com/joomla/joomla-cms/pull/21180

[2018-07-19 09:37] #21178 closed, assigned to nobody

[2018-07-19 10:32] Condorious opened #21182 "4.0.0-dev - Article manager: change article don't have "Insert image" button"
How to add images in article if I don't have "Insert image" button in editor panel?

[2018-07-19 10:44] franz-wohlkoenig commented on #21182
do you mean this?
![screen shot 2018-07-19 at 12 43 25](https://user-images.githubusercontent.com/8235763/42938084-64e63f5e-8b51-11e8-861b-5473d073899e.jpg)

[2018-07-19 10:51] Condorious commented on #21182
Where you get CMS Content button???
![jb](https://user-images.githubusercontent.com/5928109/42938394-8fc5be42-8b6b-11e8-8ab7-de200f15ccd5.png)

[2018-07-19 11:38] franz-wohlkoenig commented on #21182
latest Nightly: https://update.joomla.org/core/nightlies/next_major_list.xml

or

https://developer.joomla.org/nightly-builds.html

[2018-07-19 11:48] mbabker commented on #21173
Joomla does not arbitrarily load any files out of a component.  Again, without seeing some of your code, there isn't much that we can troubleshoot here to determine if it's an issue in the core code or your implementation.

Remember, none of the component extension code is mapped to an autoloader.  For files to be loaded, they must follow convention.  That generally covers the files used for MVC (

[2018-07-19 11:52] C-Lodder commented on #21166
What happens if you replace both `append`'s with `appendChild`?

[2018-07-19 11:59] brianteeman commented on #21166
yes that fixes it

@C-Lodder @dgrammatiko can you do a pr to fix it

[2018-07-19 12:04] dgrammatiko commented on #21166
Sure, since we are here can I have an audit for the tabs component also from you, @brianteeman ?

[2018-07-19 12:06] brianteeman commented on #21166
you mean for a11y?
If so then I really would prefer it if you asked the a11y team

[2018-07-19 12:12] dgrammatiko commented on #21166
I have already the results of their audit I just wanted to see what you will come up also

[2018-07-19 12:14] brianteeman commented on #21166
I can tell you that it fails on a11y as there is no indicator that you are in a group of tabs or how many there are. It is keyboard accessible but not screenreader accessible

Here is an example of an accessible tab set
https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-1/tabs.html

There may be other ways to achieve it. If you have nvda installed then you can easily compare this example

[2018-07-19 12:21] brianteeman commented on #21166
perhaps easier to understand what needs to be changed https://www.deque.com/blog/a11y-support-series-part-1-aria-tab-panel-accessibility/

[2018-07-19 12:29] Condorious commented on #21182
Franz, thank you!
I tried update my old version and I crash my joomla.
I maked clean install last joomla version and used previous database, all content from previous version is work in new version!
And yes, now I have image button :0))

[2018-07-19 12:36] franz-wohlkoenig commented on #21182
+1, so can you please close the Issue?

[2018-07-19 12:38] #21182 closed, assigned to nobody

[2018-07-19 13:04] brianteeman commented on #21166
basically the screenreader should say something like
This is a group of 6 tabs, First tab - content
then
Second tab - images
etc

[2018-07-19 13:12] dgrammatiko commented on #21166
So instead of the `<ul><li>` we should have `<button>`, fairly easy change

[2018-07-19 13:41] brianteeman commented on #21166
weird - just restarted nvda and it announced the tabs correctly. Will have to look again and see what I did before that made it not work

[2018-07-19 13:53] brianteeman commented on #21166
ok found the problem, should be an easy fix that I will look at tonight
basically when you go to the second tab it announces
tab1title, tab2title tab 2 of 6

[2018-07-19 14:57] infograf768 commented on #18552
Closing as we have patch https://github.com/joomla/joomla-cms/pull/21176

[2018-07-19 15:00] infograf768 commented on #18552
In fact I reopen as the issue here concerns 3.x and not https://github.com/joomla/joomla-cms/pull/21176

[2018-07-19 15:16] QuotesUK commented on #16979
I have this issue in Joomla v3.8.10

I know that previous discussion has explained how to fix this but without the context of surrounding code fragments for a "before" and "after" it is difficult working out what I need to do. Some authors have refered to modifying two files, and others in different places. Where exactly - line 19, 20, 162 or 270?

For example my file (v3.8.10) com_search/views/se

[2018-07-19 15:23] infograf768 commented on #21165
Indeed. Tested also in 3.x and it does not have here any side effect with core components.

[2018-07-19 15:40] infograf768 commented on #21165
Even with this change (in 4.0), router behaves weirdly:
I have for the menu item
`/index.php/en/contact-category-en-gb` // now works fine
For the link on that page displaying the contact
`/index.php/en/contact-category-en-gb/mycontact` // see below direct menu item. this url is a double with the one below.
// I do also have a direct menu item to that contact alias `mycontact`
When I use this last

[2018-07-19 15:56] franz-wohlkoenig commented on #16979
@QuotesUK please open a new Issue (and link to this Issue) as Comments on closed Issues didn't get much Notice, thanks.

[2018-07-19 16:11] QuotesUK opened #21184 "Search results in title show search keyword tag"
### Steps to reproduce the issue

Use search box to find keyword in title

### Expected result

highlighted keyword in search result titles

### Actual result

visible span class html code

### System information (as much as possible)

Joomla 3.8.10

### Additional comments

Clarification of https://github.com/joomla/joomla-cms/issues/16979

I have this issue in Joomla v3.8.10

I know that previou

[2018-07-19 16:19] ghost opened #21185 "[4.0] Modules: Position-Dropdown miss Style"
### Steps to reproduce the issue
As Title say:

![screen shot 2018-07-19 at 18 14 23](https://user-images.githubusercontent.com/8235763/42956439-3d8aed72-8b80-11e8-80e1-8eccf458ad68.jpg)

### System information
- Nightly Build 4.0.0-alpha4-dev
- Multilingual Sample Data
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.net
- PHP 7.1.15
- MySQLi 5.7.18-cll-lve

[2018-07-19 16:38] brianteeman commented on #21184
As stated in the other issue. There is no issue with the core of Joomla. The issue is with an override of the defaults in your template. There is nothing that the core of Joomla can do to fix something that your template is replacing.

[2018-07-19 16:38] dgrammatiko commented on #21185
It’s a known side effect of removing chosen

[2018-07-19 16:41] brianteeman commented on #21185
But it hasn't been removed yet

[2018-07-19 16:44] dgrammatiko commented on #21185
Are you sure? I thought this was one of the places we’ve removed it before getting a working solution (eg no way to insert custom position)

[2018-07-19 16:46] franz-wohlkoenig commented on #21185
this works Yesterday (or the Day before).

[2018-07-19 16:55] QuotesUK commented on #21184
Yes, that’s perfectly understandable, however authors have described code alterations that will prevent this issue. Maybe the actual fault lies with certain templates but if the core of Joomla can be modified to prevent this issue then it works as a fix for everyone.

Personally I would rather choose a new template or fix the existing but that is not an option for me. Hence the universal fix would

[2018-07-19 17:21] brianteeman commented on #21184
You should NOT be changing anything in the core of Joomla ever!!! If you do that then you will have to do it every single time you update joomla. Also there are always specific reasons why code changes - giving the instructions you are asking for will negate those. The correct solution is to update the code in your template override. There is no other solution

[2018-07-19 17:33] brianteeman commented on #21184
The solution is in my comment above. The solution is not editing core files.

[2018-07-19 17:43] QuotesUK commented on #21184
Yes Brian, I do appreciate you have a view that the core files are sacrosanct but others (before me) have modified them. I am not trying to ask for a change to core code, just a clarification on what others have already done.

[2018-07-19 17:46] brianteeman commented on #21184
Sorry but you are not going to find instructions how to modify core files here. It is not about them being sacred. There are reasons for that code change.

[2018-07-19 17:53] QuotesUK commented on #21184
Thank you Brian. Maybe someone else can clarify the modifications **already described** in https://github.com/joomla/joomla-cms/issues/16979

[2018-07-19 18:08] mbabker commented on #21184
You should modify your template's layout override for the search results page to remove the escaping of the result title as was done in the pull request which changed core, https://github.com/joomla/joomla-cms/pull/16484

That is the only valid change to be made.  There is no other change you can or should make which will fix this that is not a core hack that won't be replaced at next update.

Clo

[2018-07-19 18:08] #21184 closed, assigned to nobody

[2018-07-19 18:35] SharkyKZ commented on #21185
Caused by #20196.

[2018-07-19 20:26] #21185 closed, assigned to nobody

[2018-07-19 21:04] ReLater commented on #21177
There is no /libraries/autoload_psr4.php in the newest nightly build. And also no sample datas during installation.

Maybe you're using an oudated alpha release(?) Did you download here: https://developer.joomla.org/nightly-builds.html ?

[2018-07-19 21:06] mbabker commented on #21177
The file is generated in the local environment, it's not part of the package.

[2018-07-19 21:19] wilsonge commented on #20355
OK this no longer fatals. There's still some odd issues with this page but let's open them as we go with separate issues.

[2018-07-19 21:19] #20355 closed, assigned to nobody

[2018-07-19 21:37] Stevec4 commented on #21173
This could be related to the b/c issue that was found in component creator when J3.7 was released.

https://www.component-creator.com/en/blog/80-joomla-3-7-backwards-compatibility-issue

[2018-07-19 21:42] ReLater commented on #21177
Thank you for info.

I cannot confirm this issue with XAMPP7.2.7, Nightly build of today, Blog sample data (cpanel installation).

PHP Built On | Windows NT DELL-M6800 10.0 build 17134 (Windows 10) i586
-- | --
Database Type | mysql
Database Version | 5.5.5-10.1.34-MariaDB
Database Collation | latin1_swedish_ci
Database Connection Collation | utf8_general_ci
PHP Version | 7.2.7
Web Server | Apache

[2018-07-19 22:17] wilsonge commented on #20478
Fixed by https://github.com/joomla/joomla-cms/commit/3e1f27b01f7145771b8c49942dfd79c6353db105

[2018-07-19 22:17] #20478 closed, assigned to nobody

[2018-07-19 22:32] wilsonge commented on #20372
With sample data the only thing that I have in that position is the copyright. So I'm going to close as cannot reproduce. But may potentially need reopening if i'm missing something obvious

[2018-07-19 23:34] wilsonge commented on #18562
For now we're going to keep with our 7.0 minimum. However when we move out of alpha and are into beta then we will reconsider our minimum requirements. There's no point in constantly deciding for the duration of the pre-release lifecycle. I suspect we might well end up requiring at least 7.1 in line with various other major PHP projects - but I don't want predict anything ahead of time.

I would r

[2018-07-19 23:34] #18562 closed, assigned to nobody

[2018-07-20 00:44] wilsonge commented on #18686
OK So I've added the columns back with https://github.com/joomla/joomla-cms/commit/7af4a1d31f3deba5c906d02632dcf4a4d049ab36 - that part was easy. However apparently this view is totally foobar'd because we are matching up the com_config descriptions with the permissions levels here https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_users/models/debuguser.php#L85 we are

[2018-07-20 00:56] mbabker commented on #18686
It's a side effect of the prepared statement support.  [`mysqli_stmt::bind_result`](https://secure.php.net/manual/en/mysqli-stmt.bind-result.php) can silently typecast bound variables, and the way our code is structured all query results will go through that method (because of the old mysqlnd problem).

[2018-07-20 03:52] #20958 closed, assigned to nobody

[2018-07-20 03:53] franz-wohlkoenig commented on #20958
closed as having Pull Request #21187

[2018-07-20 03:58] #20485 closed, assigned to nobody

[2018-07-20 03:59] franz-wohlkoenig commented on #20485
closed as having Pull Request #21187

[2018-07-20 04:00] franz-wohlkoenig commented on #21177
Closed as unconfirmed Report. Issue can always reopened.

[2018-07-20 08:09] brianteeman commented on #21166
Not an easy fix at all. Spent some time with @fuzzbomb reviewing this verbosity last night. Not found a solution to it yet

[2018-07-20 08:49] dgrammatiko commented on #21166
@brianteeman let me know if you need some help here. I want to make another release of the custom elements before the next alpha release, so it would be great if we can tackle this issue as well

[2018-07-20 08:57] brianteeman commented on #21166
If you can fix the ie issue with appendchild I will keep looking into this verbosity issue

[2018-07-20 09:21] dgrammatiko commented on #21166
I'm gonna patch the append and some wrong id variable, later on and make another release

[2018-07-20 09:36] kmd-muc opened #21192 "Manage extensions > Search Tools > Select Type is textfield instead of select"
### Steps to reproduce the issue
In Backend Go to Menu Extensions > Manage > Manage
Click on Search Tools next to search field

### Expected result
Search Tools are displayed with "Select Type" as dropdown

### Actual result
Search Tools are displayed with "Select Type" as textfield

### System information (as much as possible)
Joomla 3.8.10
PHP Built On | Linux d396.x-mailer.de 3.10.0-862.3.3.el7

[2018-07-20 09:46] brianteeman commented on #21192
Thank you for the report. This ha already been reported and fixed and will be in the next release

[2018-07-20 09:46] #21192 closed, assigned to nobody

[2018-07-20 10:10] chmst opened #21193 "[4.0] Return value of PlgSystemHttpHeaders::setDefaultHeader() must be an instance of void, none returned"
### Steps to reproduce the issue
Make a fork of https://github.com/joomla/joomla-cms, take the 4.0 branch - (state july 20th)
Make a fresh installation and you will get this:

### System information (as much as possible)
Localhost in
WIN 10
Xampp 3.2.2
![screen shot 2018-07-20 at 10 10 18](https://issues.joomla.org/uploads/1/fe90fd8cec0170d7c9e26df32047c30c.png)

![screen shot 2018-07-20 at 10 10

[2018-07-20 10:30] wilsonge commented on #18686
Cool. That needs documenting then

https://github.com/joomla/joomla-cms/pull/21188 Will fix the issue reported here (although will needing merging through 3.x to 4 once it's merged. So I'm going to close this as we have a PR

[2018-07-20 10:30] #18686 closed, assigned to nobody

[2018-07-20 10:36] chmst commented on #21193
@franz-wohlkoenig - I think it is not the installer, or not only.

At the moment, it is not possible to work with the 4.0 dev at all. Could you add a label for system plugin? <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21193">issues.joomla.org/tracker/joomla-cms/21193</a>

[2018-07-20 11:51] franz-wohlkoenig commented on #21193
changed to com_plugins. Mostly i'm guessing.

[2018-07-20 12:44] wilsonge commented on #21165
OK I'll play safe and just remove the line from 4.x - given I don't understand it's purpose completely i'm nervy about removing it from 3.x

[2018-07-20 12:46] wilsonge commented on #21165
Removed with https://github.com/joomla/joomla-cms/commit/0af0077da93d7a671205bb0b71c4116d02603802

[2018-07-20 12:55] astridx opened #21198 "[4.0] Width of a joomla-field-switcher"
### Steps to reproduce the issue
If I change the width in a joomla-field-switcher element, the width of the span in which the text is located does not change.

![bildschirmfoto vom 2018-07-20 10-57-54](https://user-images.githubusercontent.com/9974686/42993562-f6a8773a-8c0b-11e8-8e84-5a3267b10c73.png)

Only the width of the switcher changes.

![bildschirmfoto vom 2018-07-20 11-00-32](https://user-

[2018-07-20 13:03] wilsonge commented on #21165
@infograf768 I've reproduced your issue with contacts and can confirm it. Can we open that as a fresh issue please as it's not strictly related to the fatal? Thanks!

[2018-07-20 13:03] #21165 closed, assigned to nobody

[2018-07-20 13:19] wilsonge commented on #21193
Closing as confirmed fixed :)

[2018-07-20 13:19] #21193 closed, assigned to nobody

[2018-07-20 13:20] wilsonge commented on #21106
Get rid of the options. It's been totally superseded by the grid classes you've mentioned @SharkyKZ

[2018-07-20 13:24] infograf768 commented on #21165
OK

[2018-07-20 13:34] wilsonge commented on #21153
PR https://github.com/joomla/joomla-cms/pull/21199

[2018-07-20 13:34] #21153 closed, assigned to nobody

[2018-07-20 13:38] infograf768 opened #21200 "[4.0] Router bug: contacts"
This report is limited to com_contacts but it could also touch some other components in core.

### Steps to reproduce the issue
Use latest 4.0-dev
Tested on a multilingual site.
Create a contact category tagged to each language.
Create a contact in each of these categories, tagged to the same language.

I have as menu item type "List Contacts in a category"
`/index.php/en/contact-category-en-gb`

[2018-07-20 13:38] infograf768 commented on #21165
Done https://github.com/joomla/joomla-cms/issues/21200

[2018-07-20 13:48] Agustin-Pantoja commented on #18028
I finally found the problem. The key is to check where is the problem. It has to be related to the menu of the template.
I tried to check the log on the server, but not a  clue there. At the end I did point number 5 of this website.
https://www.collectiveray.com/joomla/joomla-tutorials/joomla-blank-page.html
In my case I  found out that I tried to override the menu of the backend some time ago, ca

[2018-07-20 15:22] brianteeman commented on #21106
except that is completely undocumented and unnecessarily breaks all upgrading sites with a complex option that requires code knowledge instead of the current simple solution

[2018-07-20 15:29] schnuti commented on #21071
Most, if not all, core JLayouts use an object for $displayData. In the beginning of JLayout the documentation said "use an array". If I understand it correct, the object data is sent by reference, array data not.
e.g.
[code]

[2018-07-20 15:37] mbabker commented on #21106
This is the type of option that should've never been part of the component options to begin with.  It always should've been at the template level.  Now you have a set of options that might be friendly in the user interface but results in complex as hell code in the layouts because it has to dynamically calculate everything to set up the "grid" correctly.  And it is inherently tied very explicitly

[2018-07-20 15:46] dgrammatiko commented on #21106
Well, the web has moved forward, css grid layout is here to stay. That said is pretty stupid to serve two gods (css grind and Bootstrap grid) at this point (css grid has support for over 90% of the browsers). Also hardcoded template positions seem a very outdated approach for css grid...

[2018-07-20 15:55] brianteeman commented on #21106
I am referring to the solution being simple for the user and not about the technical aspects of how it is implemented. The user couldn't care how it is done - they just need to know what to do.

[2018-07-20 16:05] ciar4n commented on #21106
I would say remove all column options. Classes are more versatile, remove any b/c promise and simply the views.

[2018-07-20 16:08] brianteeman commented on #21106
and how does a user know what to do?
how do they know how to get their old layout working again?
Without a user knowing what to do it doesnt matter how versatile it is

[2018-07-20 16:09] ciar4n commented on #21106
I agree on Brians point, these classes need to be either well documented by the template.  Or and more ideally, classes included in the template XML and in turn be presented within the UI.

[2018-07-20 16:11] brianteeman commented on #21106
Finally someone understands what the hell i am talking about.

[2018-07-20 16:17] ciar4n commented on #21106
It would be great to have similar to Michael's suggestion (https://github.com/joomla/joomla-cms/pull/18319#issuecomment-336637993). I am largely at sea outside of CSS so I am certainty not the one to attempt to implement it.

[2018-07-20 16:47] brianteeman commented on #20709
has this been resolved?

[2018-07-20 16:49] brianteeman commented on #20102
I am closing this as sit has been addressed elsewhere

[2018-07-20 16:49] #20102 closed, assigned to nobody

[2018-07-20 17:12] brianteeman commented on #21081
closed see #21202

[2018-07-20 17:12] #21081 closed, assigned to nobody

[2018-07-20 17:18] franz-wohlkoenig commented on #21119
closed as reported on launch.joomla.org<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21119">issues.joomla.org/tracker/joomla-cms/21119</a>.</sub>

[2018-07-20 17:18] #21119 closed, assigned to nobody

[2018-07-20 17:23] brianteeman commented on #15439
As far as I can tell this has now been resolved so I am closing - it can always be re-opened if I am mistaken.

[2018-07-20 17:23] #15439 closed

[2018-07-20 17:23] brianteeman commented on #16639
As far as I can tell this has now been resolved so I am closing - it can always be re-opened if I am mistaken.

[2018-07-20 17:23] #16639 closed

[2018-07-20 17:30] brianteeman commented on #15789
As of the time of this comment the reported error no longer occurs and you do get the expected result

[2018-07-20 17:30] #15789 closed

[2018-07-20 18:18] ghost opened #21203 "[4.0] com_content: Cannot write in Tags-Field"
### Steps to reproduce the issue
Create a new Article (or Category) you get in Tags-Field:
![screen shot 2018-07-20 at 20 13 35](https://user-images.githubusercontent.com/8235763/43018335-a26af8fc-8c59-11e8-87ad-ddc809410341.jpg)
You cannot write in Field to create new Tag.

After Click in IE. "Note" Tags-Field is available ("Select some Options"):
![screen shot 2018-07-20 at 20 13 51](https://use

[2018-07-20 20:50] wilsonge commented on #21200
@hackwar can you look into this please?

[2018-07-20 22:21] brianteeman commented on #18617
I can no longer replicate this. I can only assume it was resolved elsewhere so I shall close it. If I am mistaken it can always be reopened

[2018-07-20 22:21] #18617 closed, assigned to nobody

[2018-07-20 22:22] brianteeman commented on #19045
Closing as we have another issue on the same topic #21106

[2018-07-20 22:22] #19045 closed, assigned to nobody

[2018-07-20 22:29] #18668 closed, assigned to nobody

[2018-07-20 22:35] brianteeman commented on #20651
No one has an opinion on this?

[2018-07-20 22:39] brianteeman commented on #21050
closing this as no one deems to be interested in looking at it and we will just keep having the same issues

[2018-07-20 22:39] #21050 closed, assigned to rdeutz

[2018-07-21 00:56] mbabker commented on #21106
So, adding a section to the template manifest is easy (especially as we refuse to maintain [XML definitions for our schemas](https://github.com/joomla/schemas)).  Adding a form field to use this data is relatively easy (it essentially has to behave like the tags field, multiselect plus the ability for users to input their own customizations).  What is difficult is the fact that all of our manageme

[2018-07-21 01:02] mbabker commented on #20927
Re-closing, same reason as https://github.com/joomla/joomla-cms/issues/21050#issuecomment-406744030

Looks like failures are just going to keep being ignored.

[2018-07-21 01:02] #20927 closed, assigned to nobody

[2018-07-21 10:16] dgrammatiko commented on #20665
@tassosm can you please disable the CSP plugin and try again?

[2018-07-21 10:31] franz-wohlkoenig commented on #20665
com_csp disabled, same Result `TypeError: e.split is not a function ... webcomponents-sd-ce.min.js:1:64022`

[2018-07-21 10:32] dgrammatiko commented on #20665
Sorry I meant the plugin System - HTTP Headers, not the csp component

[2018-07-21 10:57] franz-wohlkoenig commented on #20665
Same Result havin Plugin "System - HTTP Headers" disabled and Browser Cache cleared.

[2018-07-21 12:48] brianteeman commented on #20477
closed see #21207

[2018-07-21 12:48] #20477 closed, assigned to nobody

[2018-07-21 17:15] brianteeman opened #21208 "[4.0] frontend routing to admin views [meta]"
This is a meta issue to combine several related issues and deal with them all in the same issue.
**Fix dispatcher to use the backend**

This can be seen when editing content on the frontend and using
- [ ] xtd-editor plugin
- [ ] content history

The **only** xtd-editor plugin that works is the one for com_media so hopefully someone with more knowledge than me (and @wilsonge #18679) is able to fix

[2018-07-21 17:19] brianteeman commented on #20488
closed see #21208

[2018-07-21 17:19] #20488 closed, assigned to nobody

[2018-07-21 17:19] brianteeman commented on #20483
closed see #21208

[2018-07-21 17:19] #20483 closed, assigned to nobody

[2018-07-21 17:22] #20475 closed, assigned to nobody

[2018-07-21 19:54] schnuti opened #21209 "[4.0] Custom module positions"
### Steps to reproduce the issue
Try to enter a custom module position e.g. "hidden" to create a hidden menu module.
I can't. (An empty string is possible.)

### Expected result
It must be possible to add custom module positions as in 3.x. Not only needed for menu modules.

A "Not used/Hidden" position should be added to the frontend templates positions. I think there is one in the backend templat

[2018-07-21 20:12] schnuti opened #21210 "[4.0] Where did Modules go. I miss them."
### Steps to reproduce the issue
I guess it's an "error" during development progress. Only want to say that in my latest 4.0 update the module manager only can be reached from the Control Panels oversized button.

(The first thing I'll remove/override in a stable 4.0)

###
I do think the module manager should be included in the menu. It should not be hidden in the System view. As for now it's NOT

[2018-07-21 20:29] SharkyKZ commented on #21210
Modules are available in the menu under Content.

[2018-07-21 20:51] schnuti commented on #21210
OK thanks. Isn't almost everything content if all modules are? Not very user friendly

[2018-07-21 20:51] #21210 closed, assigned to nobody

[2018-07-21 22:43] brianteeman commented on #13809
Been nearly a year and with no further updates etc I am closing this.

[2018-07-21 22:43] #13809 closed

[2018-07-21 23:29] C-Lodder commented on #21198
Not inspected, but just looking at the screenshot I'm not sure how a block element cant have aligned to the right

[2018-07-21 23:48] ReLater commented on #21209
Yes, it's a bit confusing what's happening with Chosen like features at the moment:
Related(?)
https://github.com/joomla/joomla-cms/issues/21033
https://github.com/joomla/joomla-cms/issues/21185

[2018-07-21 23:51] ReLater commented on #21203
Related(?): https://github.com/joomla/joomla-cms/issues/21209
Chosen has been removed at the moment without any similiar replacement(?)

[2018-07-21 23:54] dgrammatiko commented on #21203
no for the tags chosen is still there

[2018-07-22 00:04] ReLater opened #21211 "[4.0] AJAX error with com_joomlaupdate Upload&Install"
### Steps to reproduce the issue
- Try to update a 2 days old Nightly Build with full or update packages of today.

### Actual result
AJAX error:
`Invalid AJAX data: ... cannot declare class Text because the name is already in use in restore_finalisation.php on line 128 `

![22-07-_2018_01-56-06](https://user-images.githubusercontent.com/20780646/43040981-7642ef5a-8d53-11e8-893a-6da75b672441.jpg)

[2018-07-22 00:15] mbabker commented on #21211
Duplicate of #21160

On Sat, Jul 21, 2018 at 7:04 PM ReLater <notifications@github.com> wrote:

--
- Michael Please pardon any errors, this message was sent from my iPhone.

[2018-07-22 00:44] wilsonge commented on #21106
Then the menu item will also need to override the CSS Grid modifier to be used

[2018-07-22 02:17] #21211 closed, assigned to nobody

[2018-07-22 02:52] SirioAstarot opened #21212 "[4.0] Request: Master/details pattern in Frontend UI"
It would be a good idea to implement in the user interface, the Master/details pattern through Webix UI Library, in this way you can see a website similar to a Flash application, with the most modern technologies.

A way to browse websites without reloading the page as in the example.

http://cloudsovercuba.com

Thank you.

[2018-07-22 04:17] franz-wohlkoenig commented on #21212
Changed Title as Issue is about 4.0.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21212">issues.joomla.org/tracker/joomla-cms/21212</a>.</sub>

[2018-07-22 04:38] schnuti commented on #21209
@ReLater Yes they are the same or related. I reverted but that is not a fix for custom positions. I can only add a "search text" not a new value. I care less about the look.

[2018-07-22 04:57] schnuti commented on #21209
Checked in 3.8.10 that it still works as before. It does!

[2018-07-22 10:57] ReLater commented on #21160
@mbabker  After adding the proposed file https://gist.github.com/mbabker/5e171b1df99f71a30290125e0292b1d9 to an update or full package (Nightly Builds) I could afterwards update via Upload&Update without any issues. AJAX error is gone.

[2018-07-22 15:03] franz-wohlkoenig commented on #16174
@FoTo50 can you please open a new Issue (and link to this Issue) as Comments on closed Issues didn't get much Notice, thanks.

[2018-07-22 15:21] FoTo50 opened #21216 "illegal string offsets in libraries/cms/html/html.php"
As I already mentioned in #16174 ...

Having notices/warnings enabled, you might see several messages like

`Warning: Illegal string offset 'relative' in ./libraries/src/HTML/HTMLHelper.php on line 626` (Joomla3.x)
or
`Warning: Illegal string offset 'relative' in ./libraries/src/HTML/HTMLHelper.php on line 715` (Joomla4Alpha)

These messages are mostly caused by adding a stylesheet the old way, e.

[2018-07-22 17:14] mbabker opened #21220 "[4.0] Gemfile.lock committed to repo?"
I have a `Gemfile.lock` file in my local checkout that's always in `git status` trying to be added to the repo.  We don't actively exclude it in `.gitignore` but there isn't a lock file checked in.  Can we commit the appropriate lock file to the repo?

[2018-07-22 17:15] mbabker opened #21221 "[4.0] Cleanup various Node/NPM iterations"
There are remnants of the various ways Node/NPM based tooling has been implemented into the repo (`yarn.lock` in `.gitignore`, that `/dev/assets` directory that's unused (which really should be in the `build` directory anyway), etc.).  Cleanup the legacy stuff please.

[2018-07-22 18:03] ReLater commented on #21216
Methods script() and stylesheet() are marked inside docblock with:

So, I think the concerning parts will be removed finally in Joomla 4.

[2018-07-22 19:18] roland-d commented on #6687
@Hackwar I want to call you one more time, is this something that should be fixed with the new router or is it unrelated?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/6687">issues.joomla.org/tracker/joomla-cms/6687</a>.</sub>

[2018-07-22 19:29] brianteeman commented on #20608
@roland-d is this still something you are going to be looking at with the students?

[2018-07-22 19:30] roland-d commented on #20608
@brianteeman Yes, I just arrived today and we are starting tomorrow with the students.

[2018-07-22 19:33] brianteeman commented on #20608
great stuff - I guessed that might be the case

[2018-07-22 19:49] roland-d commented on #11488
@zero-24 Now that issue #18926 has been merged do you want to revisit this topic?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/11488">issues.joomla.org/tracker/joomla-cms/11488</a>.</sub>

[2018-07-22 19:55] zero-24 commented on #11488
What do you mean by revisit? The issue here can't be fixed by the changes merged. They are just fall backs in case of errors.

[2018-07-22 20:03] roland-d commented on #11488
@zero-24 I thought that PR #11497 contained the fixes to allow patch installs. In issue #18926 Michael wrote:

So I was under the impression your PR would allow doing this.

[2018-07-22 20:18] zero-24 commented on #11488
After the PR was ignored and than broken because of merge conflicts I have closed it. The PR (from Michael) that got merged is just a fallback and does not support the feature requested here.

[2018-07-22 20:19] roland-d commented on #11488
@zero-24 Ok, clear. Do you have any interest in picking up the PR again?

[2018-07-22 20:21] zero-24 commented on #11488
No not at the moment. When you have time feel free to pick it up.

[2018-07-22 20:22] roland-d commented on #11488
Was not interested in picking it up but we are getting students to do some testing the next two days. This may have been tested. Will leave this for whomever wants to pick it up.

[2018-07-22 22:38] wilsonge commented on #21221
Removed yarn. @dgrammatiko can you confirm that the `dev/assets` directory is now no longer used

[2018-07-22 22:39] dgrammatiko commented on #21221
yup, kill it

[2018-07-22 22:40] wilsonge commented on #21220
Added the Gemlock. As this is ruby I don't think there is an npm command that can be run for this?

[2018-07-22 22:41] wilsonge commented on #21221
Removed with https://github.com/joomla/joomla-cms/commit/43f313c99210d6087d049acd8710a3d29ba7c5ee

[2018-07-22 22:41] #21221 closed, assigned to nobody

[2018-07-22 22:52] ReLater commented on #21177
That's not right. As you can see above I've tested it with new installations and cannot confirm it in a local or online environment.

Maybe in a MacBook environment like yours?

[2018-07-23 05:08] franz-wohlkoenig commented on #21146
Can a Dev please comment on this Issue as it has Status "New" since one Week?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21146">issues.joomla.org/tracker/joomla-cms/21146</a>.</sub>

[2018-07-23 05:09] franz-wohlkoenig commented on #21148
@dgrammatiko a Comment by you?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21148">issues.joomla.org/tracker/joomla-cms/21148</a>.</sub>

[2018-07-23 05:18] roland-d commented on #21146
@humblehumanbeing How 3rd parties store their data is not something Joomla can control. So there is no solution that can be offered from Joomla. If you need to change those settings I guess you would need to change them in the UI or do it programmatically. If you need more help with this please post it on our forum at https://forum.joomla.org

I am going to close this as this is not a Joomla issue

[2018-07-23 05:18] #21146 closed, assigned to nobody

[2018-07-23 05:46] ghost opened #21223 "[4.0] Joomla Update: Trying to get property of non-object"
### Steps to reproduce the issue
On a clean Installation:
![screen shot 2018-07-23 at 07 42 42](https://user-images.githubusercontent.com/8235763/43059369-642809c8-8e4c-11e8-9771-4c9d6a9247b6.jpg)

![screen shot 2018-07-23 at 07 46 35](https://user-images.githubusercontent.com/8235763/43059429-9f018fba-8e4c-11e8-803b-a1f64576b0d7.jpg)

### System information
~~Nightly Build 4.0.0-alpha4-dev~~
- Ni

[2018-07-23 05:46] roland-d commented on #20665
Confirmed as well. However turning on the Joomla Debug doesn't make it load the uncompressed version of webcomponents-sd-ce.min.js. I can't find the file where this is loaded to see if there is a bug there.

[2018-07-23 07:18] C-Lodder commented on #21220
I dont believe my gemfile.lock has ever been generated but yes, commit the file if you have it

[2018-07-23 08:47] infograf768 opened #21225 "[4.0] Undefined index: parent_id in ItemModel.php"
In php log: Undefined index: parent_id in /administrator/components/com_menus/Model/ItemModel.php on line 1401

### Steps to reproduce the issue
Edit a menu item. Change its menu.
![menu_parentid](https://user-images.githubusercontent.com/869724/43065997-c9345aee-8e63-11e8-8163-9ee7d2f3d75d.gif)

1. The Parent Item is not automatically populated by Menu Item Root although the menu item is saved su

[2018-07-23 08:53] infograf768 commented on #21225
Maybe due to
<img width="1476" alt="screen shot 2018-07-23 at 10 52 10" src="https://user-images.githubusercontent.com/869724/43067055-8e31d8d8-8e66-11e8-97b8-bd1c1609fb7c.png">

[2018-07-23 08:54] FoTo50 commented on #21216
I get your point dgrammatiko

But then I recommend to change in HTMLHelper.php at the beginning of _public static function stylesheet()_ from currently
`if (!is_array($attribs))`
to
`if (!is_array($attribs) || !is_array($options))`
since the css wont get included with these parameters anyway.

But this way the notices are gone and eventually a deprecated message is logged

[2018-07-23 08:57] infograf768 commented on #21225
When debug is on
<img width="926" alt="screen shot 2018-07-23 at 10 56 38" src="https://user-images.githubusercontent.com/869724/43067257-2311adca-8e67-11e8-93af-7b98a5a242a9.png">

@dgrammatiko

[2018-07-23 09:03] dgrammatiko commented on #21225
Well, the script expects that the ajax will return a valid json but due to php error we get html and there is no conditional to handle this case. But even if such a fallback existed the page is still kinda unusable I guess without that input value (is that field mandatory?)

[2018-07-23 09:03] dgrammatiko commented on #21216
@FoTo50 please feel free to submit a PR with that code

[2018-07-23 09:07] infograf768 commented on #21225
If I set the field as required, I get the same error. In fact worse as we are in a loop and it's impossible to save the menu item.

[2018-07-23 09:17] brianteeman opened #21226 "[4.0] [a11y] Custom Elements"
**_I am creating this as a new issue instead of it being on each of the open pr for custom elements as it effects  them all._**

When testing the custom elements there are several accessibility issues identified

1. Clicking on a label should give focus to the field
2. The label for the field should be announced but it is not

Looking at the following video from google and the associated examples

[2018-07-23 09:42] dgrammatiko commented on #21226
The video is irrelevant as none of our custom elements is hiding the contents into the shadow DOM.

[2018-07-23 09:43] brianteeman commented on #21226
so it may be irrelevant but it oesn't get around the fact that we do have the problems described

[2018-07-23 12:21] brianteeman commented on #21226
Can we please just use already existing custom elements that work instead of trying and failing to write our own.

[2018-07-23 12:40] dgrammatiko commented on #21226
@brianteeman you have any suggestions?
The only requirement we have is to not have any dependencies

[2018-07-23 12:42] brianteeman commented on #21226
why not? there are plenty of dependencies already in joomla

[2018-07-23 12:45] mbabker commented on #21226
He basically means "no hard jQuery or UI framework (Bootstrap) dependencies".

[2018-07-23 13:40] 810 opened #21232 "[4.0] Wrong error page"
### Steps to reproduce the issue

Try making a fatal error

### Expected result

### Actual result

![image](https://user-images.githubusercontent.com/876623/43079889-a14ea9d2-8e8e-11e8-9de5-e820fe190a6e.png)

### System information (as much as possible)

### Additional comments

[2018-07-23 14:02] #21232 closed, assigned to nobody

[2018-07-23 15:02] uzielweb opened #21235 "[4.0] Alpha 4 Installation problem Index column size too large. The maximum column size is 767 bytes."
## Steps to reproduce the issue
Perform default installation

### Expected result
Proceed to finish the installation

### Actual result
Installation does not proceed after insert database form data (clicking in Install) and this message appears for a little moment before redirect to the first installation step:
"Index column size too large. The maximum column size is 767 bytes."

### System inform

[2018-07-23 15:14] infograf768 commented on #21235
at which precise stage does it redirect to first step

[2018-07-23 15:32] uzielweb commented on #21235
Database installation step. After insert database user, name and host and click in **Install**

[2018-07-23 15:34] ggppdk commented on #21235
Which exact DB (MySql or MariaDB) do you have and which version of it ?

The default settings for some version of MySql <5.7.7 and also for Maria DB < 10.2 will behave like this

See here:
https://stackoverflow.com/questions/43379717/how-to-enable-large-index-in-mariadb-10

Joomla should not have such requirement for this kind of custom configuration of the database

[2018-07-23 15:38] uzielweb commented on #21235
MYSQLi mysqlnd 5.0.12-dev - 20150407

All Joomla installations works fine, except Joomla 4 Alpha 4

[2018-07-23 15:40] csthomas commented on #21235
Index on `#__finder_logging`.`searchterm` column should be limited to the first 191 characters, the same is in the `#__session`.`session_id`.

[2018-07-23 15:45] C-Lodder commented on #21235
Does J4 even support 5.0.12-dev @mbabker?

[2018-07-23 15:50] infograf768 commented on #21235
MySQL 5.5.3 is minimum afaik

[2018-07-23 15:52] uzielweb commented on #21235
I will see this with my host provider. In other installations i have this version.

[2018-07-23 15:53] csthomas commented on #21235
5.0.12-dev this is client version, not mysql server version. See at https://stackoverflow.com/questions/35260305/database-client-version-in-phpmyadmin

[2018-07-23 15:54] uzielweb commented on #21235
Oh, this!

[2018-07-23 15:59] uzielweb commented on #21235
10.1.34-MariaDB.
This is my correct MYSQL version. :)

[2018-07-23 16:15] uglyeoin opened #21237 "RFC sort out the invalid token problem when your session expires."
### Steps to reproduce the issue
Wait a while until your session expires and then try to login or logout.  I think browsing is ok just logging in and logging out that causes a problem but I could be wrong.

### Expected result
Logs me out and I have to login again.  Shows a reason why in the system messages part of the page.

### Actual result
gives a white screen and tells me my session has expir

[2018-07-23 16:36] franz-wohlkoenig commented on #21237
@uglyeoin i guess you mean Build "3.8.10" instead "3.7.10".<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21237">issues.joomla.org/tracker/joomla-cms/21237</a>.</sub>

[2018-07-23 16:37] uzielweb commented on #21235
Table structure for table `#__finder_logging` can be the problem
 *steps to reproduce*
- copy/paste joomla.sql into phpmyadmin  SQL query form and execute
- message appears like this: #1709 - Index column size too large. The maximum column size is 767 bytes.

[2018-07-23 16:39] uglyeoin commented on #21237
@franz-wohlkoenig yes I do.  Although it's been a long standing problem.  Interesting the front end handles it slightly differently.  It gives you an error but logs you in anyway.  <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21237">issues.joomla.org/tracker/joomla-cms/212

[2018-07-23 16:41] franz-wohlkoenig commented on #21237
@uglyeoin thanks, changed Build at Issue Tracker.

[2018-07-23 16:58] brianteeman commented on #21237
Should be resolved by #12801

[2018-07-23 17:00] uzielweb commented on #21235
Solution Found:
Modify joomla.sql installation file in the line 862 adding ROW_FORMAT=DYNAMIC before ";" character

like this:

CREATE TABLE IF NOT EXISTS `#__finder_links_terms` (
--
-- Table structure for table `#__finder_logging`
--

CREATE TABLE IF NOT EXISTS `#__finder_logging` (
  `searchterm` VARCHAR(255) NOT NULL DEFAULT '',
  `md5sum` VARCHAR(32) NOT NULL DEFAULT '',
  `query` BLOB NOT NU

[2018-07-23 17:03] uzielweb commented on #21235
Solution Found:
Modify joomla.sql installation file in the line 862 adding ROW_FORMAT=DYNAMIC before ";" character

like this:
`
CREATE TABLE IF NOT EXISTS `#__finder_logging` (
  `searchterm` VARCHAR(255) NOT NULL DEFAULT '',
  `md5sum` VARCHAR(32) NOT NULL DEFAULT '',
  `query` BLOB NOT NULL,
  `hits` INT(11) NOT NULL DEFAULT '1',
  `results` INT(11) NOT NULL DEFAULT '0',
  UNIQUE INDEX `md5sum`

[2018-07-23 17:06] uzielweb commented on #21235
Now the steps stucks on the installation of Sample Data.

[2018-07-23 17:08] uzielweb commented on #21235
All is fine for now.

[2018-07-23 17:10] ghost opened #21238 "[4.0] Fatal error: Cannot use Joomla\CMS\Language\Multilanguage as Multilanguage"
### Steps to reproduce the issue
Open in Backend an Article, get:
` Fatal error: Cannot use Joomla\CMS\Language\Multilanguage as Multilanguage because the name is already in use in /administrator/components/com_content/Helper/PreviewHelper.php on line 18`

Edit: Same Error-Message at "Multilingual Associations: Edit Associations (Articles > Articles)"
### System information
- Nightly Build 4.0.0-a

[2018-07-23 17:27] #21237 closed, assigned to nobody

[2018-07-23 17:48] Quy commented on #21238
This is fixed in #21224. Be sure to download the latest version.

[2018-07-23 18:10] franz-wohlkoenig commented on #21238
@Quy thanks for Info, installed Today Morning new via Cloud Access Nightly.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/21238">issues.joomla.org/tracker/joomla-cms/21238</a>.</sub>

[2018-07-23 18:35] brianteeman commented on #21173
closed as not  core joomla bug

[2018-07-23 18:35] #21173 closed, assigned to nobody

[2018-07-23 18:38] brianteeman commented on #20882
closed for the reasons stated my Michael above

[2018-07-23 18:38] #20882 closed, assigned to nobody

[2018-07-23 18:40] brianteeman commented on #20867
Closed. Feel free to submit the documentation to the docs site - it's a wiki and/or submit a pr to add the esception

[2018-07-23 18:40] #20867 closed, assigned to nobody

[2018-07-23 18:41] brianteeman commented on #20821
@Kubik-Rubik Is there anything "we" need to do

[2018-07-23 18:42] brianteeman commented on #20707
@rdeutz any update?

[2018-07-23 18:42] brianteeman commented on #20651
Closed due to lack of interest

[2018-07-23 18:55] brianteeman commented on #20187
I am going to close this. There doesnt seem to be any interest from someone to create the code etc

[2018-07-23 18:55] #20187 closed, assigned to nobody

[2018-07-23 18:57] brianteeman commented on #20071
As that has been merged then I am going to have to close this - sorry

[2018-07-23 18:57] #20071 closed, assigned to nobody

[2018-07-23 19:01] brianteeman commented on #19904
@izharaazmi any update?

[2018-07-23 19:02] mbabker commented on #11840
The odds of this happening are slim to none.

[2018-07-23 19:02] #11840 closed

[2018-07-23 19:03] mbabker commented on #12402
Unfortunately this is going nowhere.

[2018-07-23 19:03] #12402 closed

[2018-07-23 19:03] brianteeman commented on #19899
In the absence of a code proposal for this minor issue I am closing this.

[2018-07-23 19:03] #19899 closed, assigned to nobody

[2018-07-23 19:03] mbabker commented on #14543
No interest it seems.

[2018-07-23 19:03] #14543 closed

[2018-07-23 19:04] mbabker commented on #15188
To be honest, this is damn near impossible to support at the CMS level with too many dynamic moving pieces.  Leaving this one for plugin territory.

[2018-07-23 19:04] #15188 closed

[2018-07-23 19:06] mbabker commented on #17879
I don't see this going any further at the core architecture level than where it already is.  So, closing.  The base API's there, if someone wants to find a way to solve the DX issues that remain please do so.

[2018-07-23 19:06] #17879 closed, assigned to nobody

[2018-07-23 19:06] mbabker commented on #18848
I guess plugins are where we keep our critical core API these days.

[2018-07-23 19:06] #18848 closed, assigned to nobody

[2018-07-23 19:07] mbabker commented on #20114
Anyone?  PostgreSQL 11 is already in beta too.

[2018-07-23 19:08] mbabker commented on #20782
We have enough CI related issues without adding to the wishlist.

[2018-07-23 19:08] #20782 closed, assigned to nobody

[2018-07-23 19:11] brianteeman commented on #19760
If someone writes the code then yes

[2018-07-23 19:13] Kubik-Rubik commented on #20821
@brianteeman Not at the moment, I'm still on this topic internally. I will keep you informed here!

[2018-07-23 19:15] brianteeman commented on #20821
great - thanks

[2018-07-23 19:18] brianteeman commented on #19607
I did find some uses of setDebug to try and learn from them and create a pr but I failed

[2018-07-23 19:20] brianteeman commented on #20070
As #16879 has been merged I am going to close this at this time. It can always be reopened if needed if that didnt solve it.

[2018-07-23 19:20] #20070 closed, assigned to nobody

[2018-07-23 19:23] brianteeman commented on #19292
@zero-24 did you make any progress with this?

[2018-07-23 19:25] #19211 closed, assigned to nobody

[2018-07-23 19:30] brianteeman commented on #18921
Closing as the original report that the session timer doesnt auto logout has been resolved

[2018-07-23 19:30] #18921 closed, assigned to nobody

[2018-07-23 19:42] brianteeman commented on #18725
all adding the type=url and associated validation does is to force http:// at the beginning of the garbage

[2018-07-23 19:44] zero-24 commented on #19292
No. Feel free to take over if you wish. I currently don't have the time to dig deeper into this. Sorry

[2018-07-23 19:47] brianteeman commented on #20286
Personally I would remove this functionality completely from joomla

[2018-07-23 19:49] stutteringp0et commented on #19073
Someone did it in a 3rd party extension

[2018-07-23 19:53] zero-24 commented on #20286
As of [3.8.9](https://github.com/joomla/joomla-cms/pull/20265) we have added captcha support so this is as save as the contact form. By that time the removal was suggested but never confirmed in the internal security tracker.

@wilsonge can you take a moment and take a decision for 4.0? We would also need to take care what happen on upgrades.

[2018-07-23 19:54] brianteeman commented on #18702
Closed as this preview now opens in a new tab and not a modal

[2018-07-23 19:54] #18702 closed, assigned to nobody

[2018-07-23 20:00] brianteeman commented on #17405
@mbabker any ideas?

[2018-07-23 20:04] brianteeman commented on #17444
It looks like this has been resolved elsewhere as I correctly get

[2018-07-23 20:04] brianteeman commented on #17444
Closing for now - it can always be reopened

[2018-07-23 20:07] ggppdk commented on #19760
I am now using a custom TagsHelper and method that also includes some feedback why the tags were not created

but at least the SQL error can be fixed with this PR: #21239 allowing the form to be saved
about feedback to the user, it can be in some other PR if someone is interested

[2018-07-23 20:08] #19760 closed, assigned to nobody

[2018-07-23 20:09] brianteeman commented on #16629
One year later and we are still waiting for the panacea of custom elements to fix everything. With only one person working on custom elements we really need to rethink if its an achievable thing to do

[2018-07-23 21:12] alikon commented on #20114
shame on me still on 9.X

[2018-07-23 21:14] nanivc commented on #16921
Notice: Trying to get property 'layout' of non-object in C:\Xampp\htdocs\Joomla\plugins\system\helix3\core\classes\menu.php on line 260

Notice: Trying to get property 'attr' of non-object in C:\Xampp\htdocs\Joomla\plugins\system\helix3\core\classes\menu.php on line 263

Notice: Trying to get property 'moduleId' of non-object in C:\Xampp\htdocs\Joomla\plugins\system\helix3\core\classes\menu.php on

[2018-07-23 21:21] brianteeman commented on #16921
@nanivc those are from your template and you should speak to the makers of the template

[2018-07-23 22:17] csthomas commented on #20114
For FR 2.x it should be resolved by https://github.com/joomla-framework/database/pull/125

I can test on postgreSQL 10.4

[2018-07-24 03:44] franz-wohlkoenig commented on #19073
@stutteringp0et can this be closed?

[2018-07-24 03:45] helpwise commented on #14221
It is useful. And its also a valid core field in my view. Lattitude Longtitude stored,  and a parser to go from an address into those values would be immensely useful.

[2018-07-24 06:10] infograf768 commented on #21235
In 4.0, you can install blog sample data or multilingual sample data from the Control Panel.
<img width="776" alt="screen shot 2018-07-24 at 07 54 39" src="https://user-images.githubusercontent.com/869724/43119490-e5d2191c-8f16-11e8-82cc-64e5e3ba4a00.png">

Concerning `ROW_FORMAT=DYNAMIC`
See https://dev.mysql.com/worklog/task/?id=8307

What do you think @csthomas @mbabker @ggppdk
and @Hackwar who

[2018-07-24 07:36] coolcat-creations opened #21241 "[4.0] Create an template var for famous css frameworks"
### Is your feature request related to a problem? Please describe.
There are extensions that offer any kind of output in the frontend and give you the possibility to chose between different css frameworks to adjust the styling to your template.

For now those extensions are asking you: Which css framework do you use ?

My desired solution would be to define official vars where template developers

[2018-07-24 07:41] degobbis commented on #21241
I am developing a lot of extensions and this information would be very helpful.

[2018-07-24 07:55] shoulders commented on #19073
This should be part of the core/framework, not via another 3rd party extension.

[2018-07-24 08:05] brianteeman commented on #19073
Yes it should and I am disgusted that @stutterinp0et came here, solicited support, advice and guidance and then released this as an extension