[2019-12-06 08:52] AshrafTayab commented on #27193
First :
This is Main Menu position and search position, Ok
I am talking about another new potions add up of Main menu position and search position.
Add new potions to Cassiopeia Default template for user menu (Login, Logout, User Profile ....et)

Second :
In the bottom of Cassiopeia Default template we have (Position: bottom-b) and (Position: footer).
I am saying to add another new potions after (

[2019-12-06 13:25] brianteeman opened #27214 "array_key_exists() with objects is deprecated in php 7.4"
https://wiki.php.net/rfc/deprecations_php_7_4#array_key_exists_with_objects

https://anastasionico.uk/blog/php-7-4-deprecations#array_key_exists

There are 300+ instances in J4

[2019-12-06 15:46] #15173 closed

[2019-12-06 15:46] Quy commented on #15173
Fixed #26352<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/15173">issues.joomla.org/tracker/joomla-cms/15173</a>.</sub>

[2019-12-06 16:04] SharkyKZ commented on #27214
Edited title to not be misleading.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27214">issues.joomla.org/tracker/joomla-cms/27214</a>.</sub>

[2019-12-06 16:05] mbabker commented on #27214
`array_key_exists()` is NOT deprecated, the deprecation is using the function with objects (i.e. something like `Joomla\Registry\Registry` which implements `ArrayAccess` meaning you can work with the registry object as an array).

[code]

[2019-12-06 16:51] robysev74 opened #27215 "Plugin privacy content in the new user registration not at the end"
### Steps to reproduce the issue
I inserted the plugin - privacy content to have in the new user registration the acceptance of the privacy policy only that I can't move it to the end after the user profile plugin. I was thinking of solving with sorting but I can't do it, it doesn't let me see all the plugins and therefore I can't. Does anyone have any idea how this can be done?
ps: I have attache

[2019-12-06 17:03] #27215 closed, assigned to nobody

[2019-12-06 17:03] SharkyKZ commented on #27215
Duplicate of https://github.com/joomla/joomla-cms/issues/22168.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27215">issues.joomla.org/tracker/joomla-cms/27215</a>.</sub>

[2019-12-06 17:41] robysev74 commented on #22168
you solved it? i ve the same problem

[2019-12-06 19:24] brianteeman commented on #27214
There are instances of using  the function with objects

[2019-12-06 22:00] SharkyKZ commented on #27214
It's possible. Could you point to some instances?

[2019-12-06 23:00] brianteeman opened #27217 "Mysql 8 joomla debug"
This is for joomla 3
### Steps to reproduce the issue
On a server with mysql 8 enable debug
Check the debug queries output

### Expected result
No errors

### Actual result
Every query says

Everything is working correctly otherwise

### System information (as much as possible)
 OS Windows
 PHP 7.4.0
 MySQLi 8.0.18

### Additional comments
Maybe its my config, maybe its the debug plugin

[2019-12-07 07:26] alikon commented on #27217
most the  2nd
please test #27218

[2019-12-07 07:27] #27217 closed, assigned to nobody

[2019-12-07 08:47] vuchkov commented on #27208
Thank you very much!

Can I ask, do you planning to use (in future) composer and CLI version of Joomla CMS?
I'm ready to participate in a future Composer & CLI dependency repository of Joomla.
Thank you again.

[2019-12-07 09:02] alikon commented on #22168
as already stated a possible solution is to Create an  Override of the registration form
    in your Joomla administrator area,

-  go to Extensions > Templates > Templates
-  Click Protostar Details and Files
- Editing Joomla template files
-  Click the Create Overrides tab
-  Find the column named Components
-  Click on the com_users folder
-  Click registration

well now you have an override fo

[2019-12-07 09:02] #22168 closed, assigned to nobody

[2019-12-07 10:33] alikon commented on #27208
take a look at this PR maybe you are interested ..... #21452

[2019-12-07 12:22] ReLater opened #27221 "[3.9] com_media. Why are video filenames truncated?"
### Steps to reproduce the issue
- Upload a mp4 video to your /images/ folder. Filename longer than 10 characters
- Go to Media Manager > Detail View.
- Video filename is truncated while other media filenames are not truncated.
https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_media/views/medialist/tmpl/details_videos.php#L45
- Any reason for this behavior?

![07-12-_2

[2019-12-07 15:58] Harmageddon opened #27222 "Page Break pagination links lack style"
### Steps to reproduce the issue
1. Create a new article that contains page breaks.
2. Make sure that the plugin "Content - Page Break" is enabled and presentation style is set to "Pages".
3. Use the "Protostar" template (or Cassiopeia in 4.0).
4. Navigate to the article in frontend and pay attention to the page navigation links.

### Expected result
The pagination links (Previous, Next) should be

[2019-12-07 17:29] regexaurus commented on #26479
@stell I'm curious why you closed this issue...?
I encountered a similar error today, while attempting to install the Gantry 5 framework (v. 5.4.31) on a clean Joomla 4 alpha 12 site:

Error: Unknown asset "template.atum.ltr": Call to undefined method Joomla\CMS\Application\AdministratorApplication::isSite()

And now when attempting to access the front end:

Error: Call to undefined method Joomla\

[2019-12-07 17:42] stell commented on #26479
Has nothing to do with my question, but:
`isSite()` is depricated in J4 Use isClient('site') instead.  Is Gantry 5 Joomla 4 compatible?

[2019-12-07 17:52] regexaurus commented on #26479
Apparently not yet... RocketTheme/Gantry developers are preparing for Joomla 4 compatibility.
I restored front/backend access by modifying the _prefix__extensions table, setting the Enabled field to 0, for plg_system_gantry5, plg_quickicon_gantry5, mod_gantry5_particle, Gantry 5 Framework, gantry5_nucleus, com_gantry5, pkg_gantry5
Disabling all of those was probably unnecessary. plg_gantry5_preset

[2019-12-08 00:06] N6REJ opened #27226 "Form element classes don't honor class"
### Steps to reproduce the issue
create the subform
[code]
change class on element and font from tiny-input to small-input and visa versa

### Expected result
tiny class fields have tiny input boxes
small have slightly larger

### Actual result
![Annotation 2019-12-07 175922](https://user-images.githubusercontent.com/1850089/70382128-247a6080-191c-11ea-9de9-dce84a8e9d0a.jpg)
![image](https://user-

[2019-12-08 09:02] SharkyKZ commented on #27226
`tiny-input` and `small-input` classes don't exist in J3. Can you test with default template?

Classes are applied to all mentioned field types. Only `color` field width can't be controlled because it has CSS for that in `media/jui/css/jquery.minicolors.min.css`. You can override this file in your template.

[2019-12-08 12:44] ghazal opened #27227 "[4.0- Title Edited] Crash installing node-sass 4.13 on node 13.2"
[Edit]
After inquiring about this on github sass/node-sass project, I have been told that the binary that is downloaded might not work on macOS Catalina.
See:

https://github.com/sass/node-sass/issues/2807

macOS Catalina
npm
6.13.1
node
v13.2.0
Composer version 1.9.1
git version 2.24.0

I got a node-sass package not found on my Terminal:
Cannot download "https://github.com/sass/node-sass/releases

[2019-12-08 13:20] brianteeman commented on #27227
can you check and see if this issue is in the media manager by going to administrator/components/com_media and running composer install from there

[2019-12-08 13:58] ghazal commented on #27227
I have no pb to install composer.
I use npm ci to install node-modules, which is quite strict.
Check line 5466 in package-lock.json

Version and integrity -> sha512-xxx should be updated.
PS: my node version is 13.2.0

[2019-12-08 14:05] brianteeman commented on #27227
can you please do what i asked

[2019-12-08 14:44] mbabker commented on #27227
`npm update` needs to be run on both the main repo and the media manager it sounds like.

[2019-12-08 14:46] mbabker commented on #27226
If you're going to include screenshots then the raw HTML would be something to include here.  Showing the rendered page next to a Joomla form XML does nothing useful.

[2019-12-08 15:58] AshrafTayab commented on #27193
![Joomla 4 Postion](https://user-images.githubusercontent.com/26835611/70392062-5f47cb80-19e4-11ea-96b3-be932ba0930e.jpg)

[2019-12-08 16:55] Quy commented on #26704
@lalitkumarjoomdev Please test again with the nightly build. https://developer.joomla.org/nightly-builds.html

@brianteeman Are you zooming in for the screenshot?

Please advise which browser you are using.

[2019-12-08 18:08] delamanche commented on #18970
I am having the exact same issue on Joomla 4 alpha7. Pages that are not public show 404 instead of redirecting to login page.

[2019-12-08 18:14] Quy commented on #18970
You are testing with a very old version. Please test the nightly build. https://developer.joomla.org/nightly-builds.html

[2019-12-08 19:49] infograf768 commented on #27193
I can easily add a bottom-c position as proposed above, but I would not know how to add a header position on top of those existing.

[2019-12-09 04:58] Quy commented on #26704
This is reproducible with Alpha 12, but not with the nightly build.

[2019-12-09 05:43] C-Lodder commented on #27227
Now that the media manager is now back as part of core, it would be wise to move the build scripts to the core, rather than have them separated.

[2019-12-09 10:02] HLeithner commented on #27221
Seams like unexpected behavior, at least I didn't found a good reason. Also in the first column there should be a video icon which seams to not exists... could you create a PR for this?

[2019-12-09 11:50] odmv18528 opened #27229 "Issue with privacy issue in iframe [4]"
357/5000
When clicking in the front end contact form on the link, with which the privacy policy is to be called, an empty modal window (iframe) appears.

Through a test I have removed in the consentbox.php in the directory plugins / content / confirmconsent / fields the addition "& tmpl = component".

This will also show the content of the linked page.

xampp 3.2.4 PHP 7.3 Joomla 4 beta1

[2019-12-09 12:19] ReLater commented on #27221
Yes.

The paths to the video icon pngs is wrong

[code]

[2019-12-09 13:19] ReLater commented on #27221
Please test https://github.com/joomla/joomla-cms/pull/27230

[2019-12-09 13:19] #27221 closed, assigned to nobody

[2019-12-09 16:31] N6REJ commented on #27226
@mbabker here you go, looks like a div is missing at subformT?
[code]

[2019-12-09 16:34] N6REJ commented on #27226
idky its cropping the code.
[output.txt](https://github.com/joomla/joomla-cms/files/3940749/output.txt)

[2019-12-09 16:35] brianteeman commented on #27226
The text file is the same

[2019-12-09 16:35] N6REJ commented on #27226
frock

[2019-12-09 16:39] N6REJ commented on #27226
@brianteeman yeah, it's cropping it in FF
This is one from view page
[output.txt](https://github.com/joomla/joomla-cms/files/3940775/output.txt)

[2019-12-09 16:42] N6REJ commented on #27226
here's the css maybe the layout class's in j! have changed or I've simply blown it.
[code]

[2019-12-09 16:51] brianteeman commented on #27226
That css is nothing to do with the code you shared

[2019-12-09 16:53] brianteeman commented on #27226
and the code in your output file is nothing to do with the code in the original post

[2019-12-09 17:00] SharkyKZ commented on #27226
Classes appear in HTML output correctly. So it's most likely to do with your CSS.

[2019-12-09 17:16] brianteeman commented on #27226
I can confirm that the code is correct and that your css is obviously wrong (assuming you pasted the correct css)

With the correct css

![image](https://user-images.githubusercontent.com/1296369/70457196-9af79980-1aa7-11ea-93d0-88855dbe7dfe.png)

Please close this as it is **not** a core issue. If you still need help then use the forum

[2019-12-09 17:53] N6REJ commented on #27226
@SharkyKZ seems I had it specifically for a given form.  Perhaps this is more generic?
[code]
This does work for that form.

[2019-12-09 17:54] #27226 closed, assigned to nobody

[2019-12-09 17:55] dgrammatiko commented on #27227
Not to mention that the build tools for media manager are deprecated (Webpack 3, not using cue cli, etc)

If the production team will accept such thing Im willing to bring Rollup instead of Webpack and also use the vue-cli (as this is the norm these days) in the main tools

[2019-12-09 18:09] dgrammatiko commented on #27192
@brianteeman I don't think that we're doing anything different than the demo of the used script: https://fengyuanchen.github.io/cropperjs/

To patch this someone needs to dig into the options of that script and if the functionality is not available then restrict the area by some own code (I think we can interfere in the process)

[2019-12-09 19:15] robysev74 commented on #22168
great mr Alicon!!! thank you so much. Is it possible to assign  "jform_terms_terms" a particular class?

[2019-12-09 23:50] ZerooCool commented on #11005
This plugin for Joomla work, for search a word in Mediawiki :
https://github.com/rebootl/plg_search_mediawiki

Resolved

[2019-12-10 04:53] #23819 closed, assigned to nobody

[2019-12-10 04:53] Quy commented on #23819
Fixed #26890<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/23819">issues.joomla.org/tracker/joomla-cms/23819</a>.</sub>

[2019-12-10 07:12] SharkyKZ commented on #27196
As far as I can tell, this only bypasses editor's client-side validation. If I had to guess you did this as a Super User and Super Users are actually allowed to insert Javascript in editor text by default.

I also tried this as Editor and it saved only `<svg />`. So server-side filtering seems to work fine.

[2019-12-10 07:13] SharkyKZ commented on #27196
Let's ask the experts @zero-24 @SniperSister.

[2019-12-10 12:26] johnnydevs opened #27231 "Custom Fields Issues Saving - Video Included"
### Steps to reproduce the issue

I have configured a number of custom fields for my contacts, they are all type text.

When I create a new contact and click save, the page refreshes with a success message but some of the fields are empty, even though the data exists in the database.

### Expected result

The data in the database should be displayed in the contact editing form, and not randomly di

[2019-12-10 13:41] 810 opened #27232 "[4.0] Backend: Duplicated query"
### Steps to reproduce the issue

Enable debug.

Login backend.

### Expected result

1x the query

### Actual result

2x the query

### System information (as much as possible)

Nightly build

### Additional comments
[code]

[2019-12-10 14:26] richard67 commented on #27232
As you can see the query uses bind variables (the things starting with colon). These may have different values, and for sure they have at least different values for :id, because the statement is used to update status of an update site for a particular if, and so it is not a duplicate query.

[2019-12-10 14:28] richard67 commented on #27232
P.S. Please close your issue due to reasons stated in my previous comment. I could close it for you, but I prefer not to use this power.

[2019-12-10 14:35] 810 commented on #27232
when i set it to old id, then i got just 1 query

[code]

[2019-12-10 16:09] mbabker commented on #27232
Again, just because the text of the query is the same does not mean it is a duplicated query.  Please confirm whether the query is being executed for a single row multiple times or for multiple rows.  Without a confirmation that the query is being executed multiple times for one row, this is not an issue report that can be processed in any way other than closing it.

[2019-12-10 16:51] #27232 closed, assigned to nobody

[2019-12-10 17:26] zero-24 commented on #27196
Exactly what @SharkyKZ said by default this is expected behavior for Super Users that no filtering is applyed. You can review and change the setting in the "Text Filter" Options at the Global Configuration.

[2019-12-10 18:03] brianteeman commented on #27231
From the video the issue is with a field labelled email
The form that these fields are on already has an email field (on the first tab).
Do they perhaps have the same fieldname?

[2019-12-10 18:06] richard67 commented on #27232
That's the disadvantage of parametrized queries or prepared statements or however you call it: They are parsed on server side (including bind variable replacement), and so in debug we don't see the final query. Not sure if this can be changed to be parsed on client side. I've once seen such option in an ODBC driver, I think I remember, but I'm not 100% sure.

[2019-12-10 18:38] Quy commented on #27232
@richard67 See #26135

[2019-12-10 18:42] richard67 commented on #27232
@Quy I saw that one. But I'm not sure if there is a solution, except of replacing the bind vars on client side just for debugging, but there would not be a guarantee that we see the same query as the server does. It just needs some mistake when doing thatz replacement, and you see something in the debugger which is not equal to what the db server executes.

[2019-12-10 20:51] joeforjoomla opened #27235 "[4.0] Language file not loaded during installation of components after #27130"
### Steps to reproduce the issue
Related to #27130
Try to install an extension including the language folder and files such as:

language/en-GB/com_xxx.ini
language/en-GB/com_xxx.sys.ini

Use the 'description' tag in the XML installation file:
<description>COM_XXX_INSTALLATION_MESSAGE</description>

### Expected result
The string COM_XXX_INSTALLATION_MESSAGE is correctly translated based on the la

[2019-12-10 20:52] joeforjoomla commented on #27235
@Bakual this is your thing

[2019-12-10 22:50] Quy opened #27236 "[4.0][com_associations] Undefined index: link"
### Steps to reproduce the issue
Install Multilingual Sample Data (English, French, German, Persian)
Under System > Content Languages, delete Persian.
Under Components > Multilingual Associations, select Articles and English (en-GB).
Under Associations and Not Associated columns, see error.

### Actual result

[2019-12-10 23:43] #27235 closed, assigned to nobody

[2019-12-11 00:47] mbabker commented on #27232
@richard67 there are already plenty of libraries that have logic for replacing parameters with their parameterized values (the Laravel extension of the PHP Debug Bar used in 4.0 has support for this, and somewhere within the code used by the DoctrineBundle for Symfony is code to show an executable query).  So it's really not as brittle as you might think it is.

[2019-12-11 04:07] #19301 closed, assigned to nobody

[2019-12-11 04:07] Quy commented on #19301
Fixed with #23918 that has ported to J4.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/19301">issues.joomla.org/tracker/joomla-cms/19301</a>.</sub>

[2019-12-11 04:29] l-arnold commented on #23290
For me, this was caused by trying to add as a Menu Item. to the Admin Menu "Advanced Module Manager" from Regular Labs.
After crashing my system, doing a backup/restore I seem to have been able to remove it now.

The Joomla Admin Menu does not seem to be editable nor have editable Menu Items..  There are 4x Modules of the Menu in the system.

At one Point I was able to get some "intermixing" of th

[2019-12-11 06:11] richard67 commented on #27232
@mbabker That‘s good to know. That will save a lot of work. Thanks for the info.

[2019-12-11 06:55] infograf768 commented on #27236
Confirmed.

[2019-12-11 06:58] infograf768 commented on #27236
It also breaks for example the Associations tab content when editing an article;
I.e. It displays the current language (In the case above Persian (fa-IR) in the possible associations to create.)

[2019-12-11 07:55] infograf768 commented on #27236
This happens when the article has already a fa-IR associated item before the Content Language is trashed or deleted.

[2019-12-11 09:08] johnnydevs commented on #27231
@brianteeman Good guess, but no the field names are different.

On the first tab the field name is `jform[email_to]` and on the custom field tab the field name is `jform[com_fields][email]`

Any other ideas?

[2019-12-11 11:33] ReLater commented on #27231
Which browser?
Any "clever" AddOns installed that "help" to fill browser forms?

[2019-12-11 12:00] johnnydevs commented on #27231
@ReLater Using Chrome browser, but I've also tried FFox and Edge, same issue. Also tried incognito mode. I really thought the duplicate email field would be the issue!

I've updated my question with some more details including installed third party plugins / components.

[2019-12-11 12:38] Milglius commented on #26511
Can someone point me where is the PR with compression (=quality) parameters schnuti wanted to submit? Or is it abandoned or is schnuti still working on it?

[2019-12-11 13:19] HLeithner commented on #27231
I tried to replicate this issue without success, can you please try to replicate this issue on joomla.com or with a clean installation without any 3rd party addon?

[2019-12-11 14:14] johnnydevs commented on #27231
@HLeithner I'm not able to replicate this issue on a fresh install. Where do I go from here?

[2019-12-11 14:18] HLeithner commented on #27231
Use your existing site and disable all 3rd party extensions/modules/plugins. If it works then one of the extensions seams to make a problem.

[2019-12-11 14:34] brianteeman opened #27239 "[4.0] readmore array offset"
### Steps to reproduce the issue
Create a new article with full php errors displayed

### Actual result

Notice: Trying to access array offset on value of type null in C:\htdocs\joomla-cms\plugins\editors-xtd\readmore\readmore.php on line 52

### System information (as much as possible)
php 7.4.0
mysql 8

[2019-12-11 20:57] Luchen6 opened #27242 "[4.0] Create article in a non published category"
### Steps to reproduce the issue
Create content category with status [unpublished]
Create new article in the newly created category
Save the article

### Expected result
Article is saved

### Actual result
Argument 2 passed to Joomla\Component\Finder\Administrator\Indexer\Result::addNestedTaxonomy() must implement interface Joomla\CMS\Tree\ImmutableNodeInterface, null given, called in C:\xampp\htd

[2019-12-11 21:05] brianteeman commented on #27192
@dgrammatiko its actually simpler than that.
The settings for cropperjs are in the media-action plugin and com_media uses the media-action plugin

However com_templates is simply loading the cropperjs files directly and not using the plugin :(
So presumably instead of doing that com_template should be doing
`		PluginHelper::importPlugin('media-action');
`

Someone better than me can dig in and res

[2019-12-11 21:06] #27242 closed, assigned to nobody

[2019-12-11 21:06] Quy commented on #27242
Thank you for reporting. This is already fixed in the nightly builds. https://developer.joomla.org/nightly-builds.html<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27242">issues.joomla.org/tracker/joomla-cms/27242</a>.</sub>

[2019-12-11 22:51] Quy commented on #25522
OK to close?

[2019-12-12 07:54] #27196 closed, assigned to nobody

[2019-12-12 07:54] alikon commented on #27196
expected behaviour<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27196">issues.joomla.org/tracker/joomla-cms/27196</a>.</sub>

[2019-12-12 08:22] Razzo1987 opened #27243 "[4.0] API login"
### Steps to reproduce the issue

Create a user with:
Username: `api`
Password: `Aa1Bb2Cc3Dd4Ee5!`

Do a API call: GET {{base_path}}/api/index.php/v1/content/article

### Expected result

The List of Articles

### Actual result

[code]

### System information (as much as possible)

Tested with Joomla_4.0.0-beta1-dev-Development-Full_Package

### Additional comments

If you use a password like "api

[2019-12-12 08:32] Razzo1987 opened #27244 "[4.0] API for Media"
### Describe the solution you'd like

A set of API for:

- upload imege (or media) in "imeges" directory
- upload imege (or media) in sub-directory
- create a new folder/subfolder in "images" directory
- list the folder tree of the "imeges" directory
- list the media in directory/subdirectory

### Additional context

With these API it will be possible to insert images in Joomla that can then be us

[2019-12-12 08:46] #27243 closed, assigned to nobody

[2019-12-12 08:46] SharkyKZ commented on #27243
Please test PR https://github.com/joomla/joomla-cms/pull/27245.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27243">issues.joomla.org/tracker/joomla-cms/27243</a>.</sub>

[2019-12-12 10:50] Ninja-007 commented on #27121
The feature in interesting. I am not sure that how many percentage of Joomla users need the feature?
You can achieve some functionality using fabrik.

[2019-12-12 13:20] niteshkesarkar opened #27246 "[‎4.0.0-alpha11] Language constants are shown during installation process"
### Steps to reproduce the issue
1. Download the Joomla 4.0.0-alpha11 version.
2. Successfully install Joomla till you get Congratulations! Your Joomla site is ready.
3. Now click on customize installation button
4. Now click on Skip button
5. Check the screen language constants are shown for
   - `INSTL_SITE_INSTALL_SAMPLE`
   - `INSTL_SITE_INSTALL_SAMPLE_LABEL`
   - `INSTL_SITE_INSTALL_SAMPLE_DE

[2019-12-12 13:24] alikon commented on #27246
the alpha 11 is quite old please test with the nightly builds https://developer.joomla.org/nightly-builds.html

[2019-12-12 16:36] #27246 closed, assigned to nobody

[2019-12-12 16:36] Quy commented on #27246
Duplicate #26412<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27246">issues.joomla.org/tracker/joomla-cms/27246</a>.</sub>

[2019-12-12 16:42] n9iels commented on #25522
No. I can still reproduce this bug in chrome `78.0.3904.108`.

[2019-12-12 18:01] dgrammatiko commented on #27192
I had to dig in the history and what I found is that the functionality is the same as what exists in the J3.x. I did the ES6 renaming/changes and Charlie did the initial clean up of the file. The functionality was never questioned by either of us, I guess because we didn't encounter this case (?) https://github.com/joomla/joomla-cms/pull/15449/files#diff-3e83167bf7041bbf0b6294e5e132e9fdR106-R125

[2019-12-13 00:04] #27231 closed, assigned to nobody

[2019-12-13 00:04] Quy commented on #27231
Closing as not a core issue. Please ask in Joomla! Forum if you need help. https://forum.joomla.org/<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27231">issues.joomla.org/tracker/joomla-cms/27231</a>.</sub>

[2019-12-13 00:05] brianteeman commented on #27192
Are you able to do that please

[2019-12-13 00:06] #27022 closed, assigned to nobody

[2019-12-13 00:09] #25989 closed, assigned to nobody

[2019-12-13 00:20] brianteeman commented on #25854
Closed as most of this has been resolved and the rest is very minot

[2019-12-13 00:20] #25854 closed, assigned to nobody

[2019-12-13 03:37] Quy commented on #26639
Closing as non-reproducible.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26639">issues.joomla.org/tracker/joomla-cms/26639</a>.</sub>

[2019-12-13 06:51] SharkyKZ commented on #26639
Same with almost every other form. Contact, Tag, User Note, User Level, etc.

[2019-12-13 07:07] SharkyKZ commented on #26639
I see 2 options:

1. Not use `Joomla\CMS\ToolbarHelper::apply()` here.
2. Make use of methods defined in `Joomla\CMS\Toolbar\CoreButtonsTrait` in `Joomla\CMS\ToolbarHelper` methods.

@asika32764 What do you think?

[2019-12-13 07:17] asika32764 commented on #26639
I need check the code, since the HTML side is changed to CE, I' not sure the form validation process how to work with toolbar buttons

[2019-12-13 07:38] SharkyKZ commented on #26639
It's not to do with CE but with `ToolbarHelper` adding a button in a basic way:
https://github.com/joomla/joomla-cms/blob/efca0fbceec2bbaf43806c7066e15ae173c4c851/libraries/src/Toolbar/ToolbarHelper.php#L477-L483

Instead we can use the trait which also enables validation:

https://github.com/joomla/joomla-cms/blob/efca0fbceec2bbaf43806c7066e15ae173c4c851/libraries/src/Toolbar/CoreButtonsTrait.php

[2019-12-13 08:41] asika32764 commented on #26639
I see,

I think we can try proxy `ToolbarHelper::apply()` to `CoreButtonsTrait::apply()` so that all components which uses ToolbarHelper won't break and keep B/C.

CoreButtonsTrait has already uses by `Toolbar` class so we can do like this:

[code]

[2019-12-13 10:15] dgrammatiko commented on #27192
Ok I’ll try to do a PR this weekend

[2019-12-13 10:38] brianteeman commented on #27192
Thank you

[2019-12-13 12:28] brianteeman opened #27252 "joomla update array offset [php 7.4]"
### Steps to reproduce the issue
open joomla update with no errors displayed

### Actual result
### 4.0
Notice: Trying to access array offset on value of type bool in C:\htdocs\joomla-cms\administrator\components\com_joomlaupdate\View\Joomlaupdate\HtmlView.php on line 142

### staging
Notice: Trying to access array offset on value of type bool in C:\htdocsjoomla-cms\administrator\components\com_jo

[2019-12-13 12:44] brianteeman commented on #27252
Updated to show this is for all versions of joomla

[2019-12-13 13:43] brianteeman commented on #21806
Can someone add the release blocker tag to this please

[2019-12-13 13:53] brianteeman opened #27256 "[4.0] Associations UI"
### Steps to reproduce the issue
On a multilingual site create Contact-Categories for each language and associate them

At first I failed to do this because I clicked on the associations button in the toolbar instead of the associations tab on the category.

Its very confusing to have two things with the same label that do different things

![image](https://user-images.githubusercontent.com/129636

[2019-12-13 13:56] #27192 closed, assigned to nobody

[2019-12-13 13:56] alikon commented on #27192
please test #27255<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27192">issues.joomla.org/tracker/joomla-cms/27192</a>.</sub>

[2019-12-13 14:01] brianteeman commented on #21780
I confirm the issue is still present.

[2019-12-13 14:04] brianteeman opened #27257 "[4.0] menu item select array offset [php 7.4]"
### Steps to reproduce the issue
Create a new menu item

### Expected result
select a menu type with no problems

### Actual result
Notice: Trying to access array offset on value of type bool in C:\htdocs\joomla-cms\libraries\cms\html\bootstrap.php on line 440

![image](https://user-images.githubusercontent.com/1296369/70805690-75bda080-1db1-11ea-8163-92f5e61d06b8.png)

### System information (as

[2019-12-13 14:12] brianteeman opened #27258 "[4.0] warning language has been changed"
### Steps to reproduce the issue
On a multilingual site create anything and change the language from all to one of the installed languages

![image](https://user-images.githubusercontent.com/1296369/70806076-70ad2100-1db2-11ea-841d-eca4d17fb901.png)

1. On a new item this message is not relevant
2. Is it really correct to display this every single time? It's an incredibly bad user experience to se

[2019-12-13 14:22] brianteeman opened #27259 "default object from empty value articles list [php 7.4]"
### Steps to reproduce the issue
Create a menu for of type articles list with enough articles for there to be pagination

### Expected result
Use the pagination without error

### Actual result
### 4.0
Warning: Creating default object from empty value in C:\htdocs\joomla-cms\components\com_content\tmpl\category\default_articles.php on line 24

### Staging - protostar
Warning: Creating default obje

[2019-12-13 14:30] brianteeman commented on #21750
As far as I can tell this has been resolved elsewhere and can be closed. If there are other RTL issues then they should be opened in a new issue

[2019-12-13 14:33] #21750 closed, assigned to nobody

[2019-12-13 14:35] brianteeman commented on #23181
Is this still an issue?

[2019-12-13 14:38] brianteeman commented on #23070
Seems to be ok until you toggle

[2019-12-13 14:39] brianteeman commented on #23905
can someone put the release blocker tag back please

[2019-12-13 15:02] rick9004 opened #27260 "Copy Template Fails"
### Steps to reproduce the issue
Select Cassiopeia template, then select copy template, fill out a new name, then enter.  The error then gets thrown.

2 error messages:

Warning
Jlnstaller: :lnstall: File does not exist bcd87\language
Template Install: Could not copy files from the files source.

Error
Error installing template
Unable to install new template from temporary folder.

### Expected re

[2019-12-13 15:03] brianteeman opened #27261 "[4.0] order of css files"
### Steps to reproduce the issue
Expand the module position dropdown
![image](https://user-images.githubusercontent.com/1296369/70809055-ef0cc180-1db8-11ea-8bba-988f0ba94fba.png)

### Expected result

This css is loaded
https://github.com/dgrammatiko/joomla-cms/blob/28245843b39e1ec3365dfa33c2b89d2b0e6b185f/administrator/templates/atum/scss/vendor/choicesjs/choices.scss#L24

### Actual result
The c

[2019-12-13 15:14] b2z commented on #23181
Well :) I will check later. Need to install fresh 4.0 to test.

[2019-12-13 15:41] #27148 closed, assigned to nobody

[2019-12-13 15:41] Quy commented on #27148
Please test PR #27251<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27148">issues.joomla.org/tracker/joomla-cms/27148</a>.</sub>

[2019-12-13 15:45] Quy commented on #20312
Please test PR #27253<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20312">issues.joomla.org/tracker/joomla-cms/20312</a>.</sub>

[2019-12-13 16:01] brianteeman commented on #23816
I can no longer replicate this
![image](https://user-images.githubusercontent.com/1296369/70813691-cfc66200-1dc1-11ea-85bc-e808c1c6ae87.png)

[2019-12-13 16:02] brianteeman commented on #24493
I assume that this can be closed now?

[2019-12-13 16:04] brianteeman commented on #24302
I can not replicate this

[2019-12-13 16:06] brianteeman commented on #24337
@SniperSister is this something you will be working on or should it be closed?

[2019-12-13 16:07] brianteeman commented on #24299
or should this be closed?

[2019-12-13 16:24] #27260 closed, assigned to nobody

[2019-12-13 16:24] Quy commented on #27260
Thank you for testing. Duplicate #26259<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27260">issues.joomla.org/tracker/joomla-cms/27260</a>.</sub>

[2019-12-13 17:20] SniperSister opened #27262 "New user registration default group - remove high-privilege usergroups"
Originally reported to JSST, moving over here:

### Steps to reproduce the issue
- Enable user registration.
- Set group for new users to Super Users.
- Wait for some time.
- Find Spamers and Hackers as Super User.

### Expected result
- No one should be able to register as Super User on registration.

### Actual result
- Everyone can get complete access to the site, if someone by
mistake/idiocy/b

[2019-12-13 18:16] Bakual commented on #24493
Indeed. Thanks for the reminder.

[2019-12-13 18:16] #24493 closed, assigned to Bakual, wilsonge

[2019-12-13 18:50] Quy commented on #23816
Reproducible.

![23816](https://user-images.githubusercontent.com/368084/70824043-2b7af600-1d96-11ea-8e03-809360ec194a.jpg)

[2019-12-13 18:59] brianteeman commented on #20312
Please re-open as I closed the PR

[2019-12-13 19:01] Quy commented on #27261
@dgrammatiko

[2019-12-13 19:03] brianteeman commented on #23816
Is that mobile as stated in the issue ?

[2019-12-13 19:07] brianteeman commented on #27262
Can we really protect against all "stupidity"?

For example we don't prevent someone from being able to create content at the front end as a guest with all filters disabled and the ability to upload images etc.

[2019-12-13 19:12] Quy commented on #23816
In the description, it states for smaller screens so I assume tablets too.

[2019-12-13 19:23] brianteeman commented on #25620
Having just had to do something like this for a university I can tell you that the menu approach does have some serious security implications as suggested by @HLeithner The only way I was able to achieve this was to use completely different forms for registration

[2019-12-13 19:28] brianteeman opened #27263 "[4.0] edit module frontend [php 7.4]"
### Steps to reproduce the issue
Open an module for editing on the frontend

### Actual result
Notice: Trying to access array offset on value of type bool in C:\htdocs\joomla-cms\libraries\cms\html\bootstrap.php on line 440

Notice: Trying to access array offset on value of type bool in C:\htdocs\joomla-cms\libraries\cms\html\bootstrap.php on line 441

Notice: Trying to access array offset on valu

[2019-12-13 19:33] dgrammatiko commented on #27261
Once https://github.com/jshjohnson/Choices/pull/794 is merged upstream we could just add the preferred z-index before importing their SCSS.

If someone needs to patch this at all costs the `!important` needs to be added at the relevant line (please let's not do that)

[2019-12-13 19:40] DavidBoggitt commented on #27262
You can never protect against all 'stupidity', but that's not a reason not to protect against what you can.

[2019-12-13 19:41] brianteeman commented on #25500
Sorry I tried to understand the js to fix this but it's still all greek to me

[2019-12-13 19:42] brianteeman commented on #27262
@DavidBoggitt We can protect against the example I gave as well and its much more likely but we dont

[2019-12-13 21:03] Open2logic commented on #25620
Noooo, ohhh
I was finishing a plugin for this functionality and I was going to add it here and see your opinions

Now my work in the trash.

But it would be a great improvement for Joomla 4 and for the type of teaching websites, gym websites, etc. and I am not a security expert to provide a solution according to your comment, if you could tell me what I should consider.

I will also add my plugin

[2019-12-14 07:27] infograf768 commented on #27256
Same for all core components, for categories as well as items, since 3.9.0. https://github.com/joomla/joomla-cms/pull/21022

FYI info, you already commented on that and the string was modified:

<img width="768" alt="Screen Shot 2019-12-14 at 08 25 00" src="https://user-images.githubusercontent.com/869724/70845130-46f40880-1e4b-11ea-846e-5d7b28941c80.png">

[2019-12-14 07:29] infograf768 commented on #21780
@laoneo
can you look at this please?

[2019-12-14 07:34] infograf768 commented on #27257
No problem here on php 7.3.1

[2019-12-14 07:59] infograf768 commented on #27258
It is correct to display the message when appropriate, but this is supposed to happen only when there are associations for the item and the item language is modified while editing the item.

This means that the js is not working properly.

in the non-minified association-edit.js, we have
First
[code]
and further
[code]
@dgrammatiko @Fedik

[2019-12-14 08:13] brianteeman commented on #27257
It is b/c break in PHP 7.4

[2019-12-14 08:16] infograf768 commented on #21750
Some aspects are solved, but NOT the display of the article info in Cassiopea as well as the logo description which should align right.

<img width="351" alt="Screen Shot 2019-12-14 at 09 04 09" src="https://user-images.githubusercontent.com/869724/70845571-be786680-1e50-11ea-9403-d6b0dc889dc8.png">

Will make patch.

[2019-12-14 08:22] brianteeman commented on #27256
So I was wrong

[2019-12-14 09:00] infograf768 commented on #21750
Please test https://github.com/joomla/joomla-cms/pull/27266

[2019-12-14 09:29] infograf768 commented on #27256
The issue is that using `Edit/Create Associations` in the toolbar would make it extremely long already in English, not speaking for some other languages.
Any suggestion?

[2019-12-14 10:42] Fedik commented on #27258
JavaScript are ok, the bug comes from the association field, it have a `value="Select an Article"` when nothing selected,
that is wrong of course

![screen 2019-12-14 12 39 12 1083x407](https://user-images.githubusercontent.com/1568198/70847605-f1315780-1e6e-11ea-836c-7b0621bc49c6.png)

[2019-12-14 10:58] Fedik commented on #27256
what if name the toolbar button "Translate", or "Translations" or  "Go Translate" or similar?
that what it actually doing, opens a window for edit the article translations

"Associations" are confusing me in general :)

[2019-12-14 11:06] TheKLF99 commented on #27262
I see no problems with this - if the webmaster is dumb enough to change the default registration group to super user then they either have a genuine reason for this or they need to learn their job as webmaster fast.

Most webmasters if they didn't know what this did would leave it as registered, and if they did they might have a genuine reason for doing so - like if the site is running on a privat

[2019-12-14 11:34] Fedik opened #27267 "[4.0] The alert message closes overview and distract from content managing"
### Steps to reproduce the issue
Try edit and save the article.
Or add this to the index.php of admin template:
`$app->enqueueMessage('Lorem ipsum dolor sit amet, ei vim causae expetenda efficiendi, quem altera everti mea no. Est mutat congue ad. His no esse impetus appetere.');`

### Expected result
You should get a message that **not distract** you from content managing.
You should be able to se

[2019-12-14 13:24] brianteeman commented on #27262
What would be the criteria as to which groups could not be used for a default usergroup?
It could not be based on the user group name or the user group id. It would have to be based on the permissions for that group and in that case what permissions?

[2019-12-14 13:25] brianteeman commented on #27267
Thats why we want to change them to be auto dismiss but that has been stuck waiting for javascript

[2019-12-14 14:58] Fedik commented on #27267
Unfortunately, I think it also not a best solution, because we cannot predict how fast user can read the message. It will vary from a message size and user read experience.
Also message may happen when user was went out from PC for a couple min (or just switch to another browser tab), then he/she will miss the massage (example when processing backup or other long task by 3rd extension)

In my opin

[2019-12-14 16:57] brianteeman commented on #27267
We can't change the styling until the script is fixed

[2019-12-14 17:20] infograf768 commented on #27256
It may not be a translation at all. This why we used Associations from the beginning of the feature implementation.

[2019-12-14 17:24] infograf768 commented on #27258
@Fedik
I see. It happens even if the item is set to All, which means the fields are not displayed.
There must be a solution.

[2019-12-14 17:52] ghazal commented on #27227
See
 https://github.com/sass/node-sass/issues/2807
and
https://github.com/nodejs/node/issues/30581

Actually, it was an issue  with node 13.2
So comment closed.

[2019-12-14 17:53] #27227 closed, assigned to nobody

[2019-12-14 18:17] infograf768 commented on #27267
See discussion here:
https://github.com/joomla/joomla-cms/pull/27213

[2019-12-14 19:08] Fedik commented on #27258
@infograf768 you were right, it a script

[2019-12-14 19:14] Fedik commented on #27258
please test #27269

[2019-12-14 19:53] infograf768 commented on #27258
Replied there. Will explain further tomorrow.
Please do not close this issue now.

[2019-12-14 21:53] Quy opened #27270 "[4.0][com_installer] Undefined index: :pkgname"
PHP Notice:  Undefined index: :pkgname in \libraries\vendor\joomla\database\src\Mysqli\MysqliStatement.php on line 403
PHP Warning:  mysqli_stmt::bind_param(): Number of variables doesn't match number of parameters in prepared statement in \libraries\vendor\joomla\database\src\Mysqli\MysqliStatement.php on line 420

### Steps to reproduce the issue
Go to System > Update Sites
Click Rebuild
See `An

[2019-12-14 22:05] brianteeman commented on #27257
The same error when editing a module on the frontend

[2019-12-14 22:06] brianteeman commented on #27263
Closing as the cause is the same as in #27257

[2019-12-14 22:06] #27263 closed, assigned to nobody

[2019-12-14 22:11] #27252 closed, assigned to nobody

[2019-12-14 22:24] #27270 closed, assigned to nobody

[2019-12-14 22:24] SharkyKZ commented on #27270
Please test PR https://github.com/joomla/joomla-cms/pull/27272.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27270">issues.joomla.org/tracker/joomla-cms/27270</a>.</sub>

[2019-12-14 22:48] #27259 closed, assigned to nobody

[2019-12-14 22:48] SharkyKZ commented on #27259
Please test PR https://github.com/joomla/joomla-cms/pull/27273.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27259">issues.joomla.org/tracker/joomla-cms/27259</a>.</sub>

[2019-12-15 00:02] #27257 closed, assigned to nobody

[2019-12-15 00:02] SharkyKZ commented on #27257
Please test PR https://github.com/joomla/joomla-cms/pull/27274.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27257">issues.joomla.org/tracker/joomla-cms/27257</a>.</sub>

[2019-12-15 06:45] infograf768 commented on #27258
Patch https://github.com/joomla/joomla-cms/pull/27269 works fine.
Closing this.

[2019-12-15 06:45] #27258 closed, assigned to nobody

[2019-12-15 07:29] infograf768 commented on #23070
This has been totally solved a while ago.
Remains only one toggle button. Closing.

[2019-12-15 07:29] #23070 closed, assigned to nobody

[2019-12-15 07:34] infograf768 commented on #24302
Indeed, we do not have this anymore.
Closing.

[2019-12-15 07:34] #24302 closed, assigned to nobody

[2019-12-15 07:59] infograf768 opened #27275 "[4.0] Languages Overrides Search broken for en-GB"
### Steps to reproduce the issue
Install French fr-FR language
Create a new override after setting Language and Client to
`English (United Kingdom) - Site`
Search for a constant OR a value
JYES or Yes will fit

### Actual result
No result or wrong result (Only the SampleData testing plugin will give results as strings have the en-GB prefix)

### Switch Language Client to French
Search for Constant

[2019-12-15 08:39] brianteeman commented on #27152
@thanhnv37 As a developer the best and fastest way to support this is for **you** to submit a pull request

[2019-12-15 08:43] brianteeman commented on #26991
That makes no sense. Please explain further exactly your use case for this.

[2019-12-15 08:56] brianteeman commented on #26697
Unable to replicate

![fields](https://user-images.githubusercontent.com/1296369/70860367-ca2f6000-1f18-11ea-8f25-e561b5522cb9.gif)

[2019-12-15 09:03] #27275 closed, assigned to nobody

[2019-12-15 09:11] #26697 closed, assigned to nobody

[2019-12-15 09:11] alikon commented on #26697
no more reproducible<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26697">issues.joomla.org/tracker/joomla-cms/26697</a>.</sub>

[2019-12-15 09:15] chmst commented on #23070
thx. Some problems are solved by waiting a year :)

[2019-12-15 09:20] infograf768 commented on #23070
Patience is a virtue... LOL

[2019-12-15 11:29] infograf768 commented on #27256
Maybe "Associations Component" ?

[2019-12-15 11:53] brianteeman commented on #27256
Could you please using one sentence for each explain the purpose/role of the button and the tab

[2019-12-15 16:50] simbunch opened #27277 "[4.0] List field type with `showon` for options work only if field has `showon`"
Ver. Joomla 4.0 Alpha 12

### Steps to reproduce the issue
Using the example at the bottom of this page: https://docs.joomla.org/List_form_field_type

    <field
        name="fielda"
        type="list"
        label="FIELDA_LABEL"
        description="FIELDA_DESC"

        <option value="editor">TYPE_EDITOR</option>
        <option value="text">TYPE_TEXT</option>
        <option value="textarea"

[2019-12-15 17:55] 200MPHMEDIA opened #27279 "[4.0] Insert Module into Article Not Working"
In the Article Workspace, we attempting to insert a Module into the Article Content, when clicking "Module" in the CMS Content dropdown, it opens the list of Site Modules. However, when selecting a Module, nothing happens.

No code is inserted into the Article Content when a Module is chosen.

Additionally, using the {loadmoduleid xx} and other code to insert Modules does not work either.

The app

[2019-12-15 17:56] 200MPHMEDIA opened #27280 "[4.0] Beta 1 Adding Extensions Fail"
Several attempts to add Extensions into the Beta 1 version of Joomla! 4 has resulted in failures.

Attempted to use the "Upload Package File" with a Joomla! 4 Compatible Extension continually fails.

Please advise the Developers of this issue.

### Actual result

### System information (as much as possible)

### Additional comments

[2019-12-15 17:57] 200MPHMEDIA opened #27281 "[4.0] Beta 1 Blog/Featured Laouts Missing Items"
In Joomla! 4 Beta 1, under the Options tab for Blog/Featured Layouts, there are two fields missing. They are also missing in the Menu Link Item Manager for this type of layout. They are:

1) Number of Columns - to set the number of columns for Intro Articles.

2) Multi Column Order - to set how Articles flow into the mutlicolumns.

These two items are present in the Joomla! 3 Blog/Featured Layout

[2019-12-15 17:58] 200MPHMEDIA opened #27282 "[4.0] Beta 1 Editing Layout Missing Items"
n Joomla! 4 Beta 1, under the Options tab for Editing Layouts, there are three fields missing. They are:

1) Edit Screen Options

2) Article Permissions

3) Multilingual Associations

The associated Help Screens do not list or explain the purposes and use of these Options.

### Actual result

### System information (as much as possible)

### Additional comments

[2019-12-15 21:22] SharkyKZ commented on #27281
Columns have been replaced with custom classes. See https://github.com/joomla/joomla-cms/pull/18319 for details.

[2019-12-15 21:22] #27281 closed, assigned to nobody

[2019-12-15 21:22] SharkyKZ commented on #27281
Closing as expected behavior.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27281">issues.joomla.org/tracker/joomla-cms/27281</a>.</sub>

[2019-12-15 21:31] SharkyKZ commented on #27279
The code responsible for this functionality has been removed https://github.com/joomla/backend-template/pull/146/commits/c4e893d3f4912ddb42cb3678cc89bef6a0fd8dc5.

[2019-12-15 21:34] SharkyKZ commented on #27280
Can't replicate this issue. Which extensions are you trying to install and what errors are you getting?

[2019-12-15 22:11] N6REJ commented on #23279
tracking

[2019-12-15 22:24] brianteeman commented on #23279
Please use the tools on GitHub to follow a topic

[2019-12-16 06:33] infograf768 commented on #27256
Tab:
Edit/Create Associations for this item right here in this Edit form.
Button
Edit/Create Associations through the com_associations component, loading the edited item as Reference in a side by side UI.

[2019-12-16 07:18] infograf768 opened #27283 "[4.0] Cassiopea broken com_config features"
### Steps to reproduce the issue
Install Blog sample data

Log as Super User in frontend.
Stay on the Home page.

In the TOP Author Menu, click on Site Settings
Save the form
Result: `{"error":true,"code":0,"message":"Form::loadForm could not load file"}`

Also in the TOP Author Menu, click on template settings
Change the description and save (Do not try to change to fluid Layout as it is really b

[2019-12-16 08:31] SharkyKZ commented on #27283
See https://github.com/joomla/joomla-cms/issues/27283 for first issue.

[2019-12-16 08:32] infograf768 commented on #27283
On it.

[2019-12-16 08:48] Fedik commented on #23279
@wilsonge drop subform script from J3 and use only j4, the script was rewritten two year ago #19184

#17552 this was need only for j3, it already implemented in j4
#22444 some random classes that may even not exits in j4, little layout changes
#23190 this fix of #17552 that only for j3,  it is not need for j4

This should work without modification:
#20222
#12996
the event `subform-row-add` still e

[2019-12-16 09:02] infograf768 commented on #27283
First issue OK after patch

[2019-12-16 09:07] Fedik commented on #23279
I just noticed the issue from Dec 2018 😁

[2019-12-16 10:02] Quy commented on #27283
Duplicate #25435 for last issue.

[2019-12-16 10:10] Quy commented on #27279
Duplicate #26768?

[2019-12-16 11:19] lisandroTSilva opened #27285 "[Joomla 3.9.x] Plugin install - missing constant description"
### Steps to reproduce the issue
Manage > Extensions > Install

- Install the extension plugin with any language, use this example [here.](https://github.com/lisandroTSilva/profile5)

### Expected result
![image](https://user-images.githubusercontent.com/794679/70902532-cca6be00-1fdb-11ea-848c-cd60b078bb15.png)

### Actual result
![image](https://user-images.githubusercontent.com/794679/70902503-b

[2019-12-16 11:24] brianteeman commented on #27285
Without seeing the extension it is impossible to comment

[2019-12-16 11:48] lisandroTSilva commented on #27285
@brianteeman please, read the issue.

[2019-12-16 11:51] 200MPHMEDIA commented on #27280
The Extension was the Date & Time Extension obtained via the JED and attempted to install via Package Upload.

[2019-12-16 11:54] 200MPHMEDIA commented on #27267
With the messages floating above the screen, when clicking anywhere else, re: a link item on the open admin screen, the popup should close automatically vs. the need to manually do so before proceeding.  We are experiencing this issue in all incidents of action taken results messages.

[2019-12-16 11:57] HLeithner commented on #27262
I see no reason to restrict this.

[2019-12-16 12:01] 200MPHMEDIA commented on #27281
What/Where is the User Guidance for creating multicolumn layouts and how to set the flow for the Blog/Featured Layouts.  Should these two important Blog/Featured Layout "options" be included intuitively vs. the need to know how to implement classes?

[2019-12-16 12:23] brianteeman commented on #27285
not checked but I see in the original

[2019-12-16 13:02] lisandroTSilva commented on #27285
@brianteeman supplemental fields are not the focal point of this problem, so the code has been simplified and unnecessary files have been removed in commit https://github.com/lisandroTSilva/profile5/commit/3a3fc9c9072c8c532264655e68af357fd5839da8

[2019-12-16 13:05] C-Lodder opened #27287 "[4.0] Update to Bootstrap 4.4.1"
Newest version of BS here:
https://github.com/twbs/bootstrap/releases/tag/v4.4.1

[2019-12-16 13:10] SharkyKZ commented on #27280
Can you post a link to the extension on JED?

[2019-12-16 13:18] 200MPHMEDIA commented on #27280
Here is the link to the Extension:

[https://extensions.joomla.org/extension/display-date-time/](url)

[2019-12-16 13:21] SharkyKZ commented on #27280
This extension is not compatible with 4.0.

[2019-12-16 13:29] 200MPHMEDIA commented on #27280
OK, thank you very much for noting that for us.  We will check further Extensions closer hence.  Thank you again.

[2019-12-16 13:37] brianteeman commented on #27280
Please close this

[2019-12-16 13:38] Bakual commented on #27280
Please note that Joomla 4.0 isn't in Beta yet. It's still Alpha.
And obviously neither Alpha nor Beta should be used in production.

[2019-12-16 13:38] #27280 closed, assigned to nobody

[2019-12-16 14:15] 200MPHMEDIA commented on #27280
Thanks Bakual:
Was using "Beta 1" on a prototype testing site, not for production.  Appreciate the advice, but we are/were well aware of the version used and the cautions about using on a production site.

[2019-12-16 15:55] peteruoi commented on #27287
Bootstrap 4 will move to Long Term Support after we release v4.4 and will no longer receive new features from then on. It will continue to receive bug fixes, security updates, and documentation updates.

[2019-12-16 16:24] #27279 closed, assigned to nobody

[2019-12-17 06:04] infograf768 opened #27291 "[4.0] Getting a 500 when displaying Menus Manager"
### Steps to reproduce the issue
Load Menus Manager
`/administrator/index.php?option=com_menus&view=menus`

### Result
`[17-Dec-2019 06:00:51 UTC] PHP Warning:  mysqli_stmt::bind_param(): Number of variables doesn't match number of parameters in prepared statement in /Applications/MAMP/htdocs/newfolder/joomla40/libraries/vendor/joomla/database/src/Mysqli/MysqliStatement.php on line 430`

### Syste

[2019-12-17 06:10] life777eternal opened #27292 "How to increase container width"
Hi, I recently combined a couple articles and one of them is appearing over top of the left side of the container, how do I make the changes to the Container that I found when I inspected the page?
https://i.imgur.com/7RXAM2y.png

https://joomla.wholisticapproaches.net/index.php/8-security/2-secure-your-email-with-gnupg-pgp

Thank you.

[2019-12-17 06:20] infograf768 commented on #27291
Closing as https://github.com/joomla/joomla-cms/pull/27044 needs composer install

[2019-12-17 06:20] #27291 closed, assigned to nobody

[2019-12-17 06:58] SharkyKZ commented on #27285
There is an error in documentation. Language file structure in installation packages must follow the same convention as everywhere else. Language files must be in `language/xx-XX` folders where `xx-XX` is the language code.

This should work:

[code]

Can be simplified when shipping only 1 language:

[code]

And from 3.10 language prefix for files will no longer be required:

[code]

[2019-12-17 07:46] thoni56 opened #27293 "Improved handling of overrides"
### Is your feature request related to a problem? Please describe.

Creating overrides is fairly easy (but see #24484), but managing them after that is cumbersome and leaks the implementation to the user. To delete an override you have to delete the file, it is hard to see which overrides you have already created. And, in particular, it is very hard to see what changes are made to an override.

##

[2019-12-17 07:50] SniperSister commented on #27262
I would suggest the global core.admin permission.

[2019-12-17 07:54] #27287 closed, assigned to nobody

[2019-12-17 07:54] SharkyKZ commented on #27287
Please test PR https://github.com/joomla/joomla-cms/issues/27294.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27287">issues.joomla.org/tracker/joomla-cms/27287</a>.</sub>

[2019-12-17 07:59] SharkyKZ commented on #27292
To add custom CSS without copying the entire template, create `user.css` file in template's `css` directory. See documentation https://docs.joomla.org/J3.x:Adding_a_custom_CSS_with_Protostar.

[2019-12-17 08:48] jjnxpct opened #27295 "E-mail through Google Suite with OAuth"
### Is your feature request related to a problem? Please describe.
Starting February 15, 2021, G Suite accounts will only allow access to apps using OAuth. Password-based access will no longer be supported. We have some sites that are set to use a Google Suite e-mail account ins the CMS mail settings. I think this change by Google will stop this mail setup from working?

### Describe the solution

[2019-12-17 08:58] brianteeman commented on #27293
I think you will find that all of this is already present in joomla 4.

[2019-12-17 09:32] thoni56 commented on #27293
Lovely! I'm looking forward to seeing that. Just a few months from now ;-)

[2019-12-17 10:01] apimon opened #27296 "Bad: Unsupported PHP version on *.joomla.com"
You are doing it right, and then you are doing it very wrong.

It is a very cool feature to offer a free site on *.joomla.com - I was very positively touched by that, a very good marketing feature and indeed I was already looking at the prices for a yearly support contract.

But then you do something very stupid: after login into my newly setup Joomla instance I see a warning about an unsupported

[2019-12-17 10:03] apimon commented on #27296
Also this ultra-primitive issue tracker seems to have a problem with uploading images. I sent a screenshot of that error, but that was too much for this software (no, it was not too big, just 25k). Unbelievable. Why not let people do these things that have some professional experience with programming?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracke

[2019-12-17 10:06] jeckodevelopment commented on #27296
@jonathanCA can you please look at this issue?

[2019-12-17 10:21] infograf768 commented on #27296
Looks like this "ultra-primitive" issue tracker is used by hundreds of projects and that it is quite easy to drag and drop any image...
![images_stress](https://user-images.githubusercontent.com/869724/70986901-22a06200-20bf-11ea-98d2-f1bf052d3dac.jpg)

[2019-12-17 10:24] infograf768 commented on #27293
You can test the present 4.0 beta by using the nightly build (NOT for production)
https://developer.joomla.org/nightly-builds.html

If you find there what you want, please close this Issue.

[2019-12-17 10:36] chang-zhao opened #27297 "[4.0] Content Security Policy should deny style-src 'unsafe-inline' & script-src 'unsafe-eval'"
### Steps to reproduce the issue
- In the server config, set HTTP header "Content-Security-Policy" "script-src 'self'; style-src 'self'; object-src 'none'".
- Navigate to the web site on that server, with Joomla 4 files unpacked & ready for installation.

### Expected result
Functional installation page.

### Actual result
Non-functional installation page:

(1) The buttons (such as "Setup Login Da

[2019-12-17 10:39] lisandroTSilva commented on #27285
@SharkyKZ i think your point interesting, but in what adds to the resolution of the problem? Were the above steps performed with the supposed correction suggested? Have positive results been obtained?

_There is an **error** in documentation. Language file structure in installation packages must follow the **same convention** as everywhere else. Language files **must** be in language/xx-XX folders

[2019-12-17 10:48] infograf768 commented on #27285
@lisandroTSilva
Not sure you understood what @SharkyKZ explained above.
Basically, the language files should be put into the plugin specific language folder.
The code he proposes also install them in the core language folders but it is not even necessary.
Here is a typical structure:

![Screen Shot 2019-12-17 at 11 44 36](https://user-images.githubusercontent.com/869724/70988733-a1e36500-20c2-11ea

[2019-12-17 11:07] lisandroTSilva commented on #27285
@SharkyKZ actually did the test wrong. So thank you very much.
@infograf768 This may seem like a silly question, but is this behavior valid for all extensions?

[2019-12-17 11:12] infograf768 commented on #27285
It is valid for all extensions and @SharkyKZ explained it quite well: `Language files should be in language/xx-XX folders where xx-XX is the language code.`
Choosing to also install these files in the core language folders is then the decision of the developer.

[2019-12-17 11:37] #25359 closed, assigned to nobody

[2019-12-17 11:48] lisandroTSilva commented on #27285
OK thank you

[2019-12-17 11:48] #27285 closed, assigned to nobody

[2019-12-17 13:10] mbabker commented on #27296
You’ll be happy to know my involvement with Joomla has slowed down massively then :trollface:

[2019-12-17 13:27] GCLW commented on #27292
I don't know how you combined the articles, but your added html is using the .row class which has a margin-left attribute set to -20px.
You are nesting the header tag.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27292">issues.joomla.org/tracker/joomla-cms/27292</a>.</sub>

[2019-12-17 14:05] jonathanCA commented on #27296
This was a mistake on LJO systems - Joomla 4.x currently launches with PHP 7.3.x (confirmed working) and Joomla 3.x  should be launching with PHP 7.2.x.

I'm confident that this has only been an issue for a short period of time.

[2019-12-17 14:05] chang-zhao commented on #27297
Partial correction: [pull 27298](https://github.com/joomla/joomla-cms/pull/27298)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27297">issues.joomla.org/tracker/joomla-cms/27297</a>.</sub>

[2019-12-17 14:07] HLeithner commented on #27296
Thanks @jonathanCA it should be possible to use PHP 7.4 for J3 and J4.

Thanks @apimon for reporting this issue. I'm closing this ticket.

[2019-12-17 14:07] #27296 closed, assigned to nobody

[2019-12-17 14:09] jonathanCA commented on #27296
Yes, the system runs all major versions simultaneously. It can be toggled by users, and/or it can be set to run the higher version across the board. I'll bring this up so we can come to a consensus on it.

In general. running Joomla 3.x on PHP 7.2.x is done so that we can ensure 3rd party extension compatibility.

[2019-12-17 17:38] mbabker commented on #23868
Given the JSST elected to not treat this as a security issue, I am now publicly posting the detailed writeup as to why this should have been considered one, as emailed to the JSST on November 8.

<hr>

Why is this a security issue?  Through the Joomla extension installer, a properly crafted package can be installed that can replace the core files in the following directories:

- libraries/cms
- li

[2019-12-17 18:18] zero-24 commented on #23868
I fully agree that this is an issue that should be fixed in the API / architecture so this can't happen by using our API.

... and maybe more importantly installing an extension is executing all code included in the package, just think about that any deletion / move / replace logic can be as plain php (or even using our filesystem package) in the script.php too.

Any extension can run plain php co

[2019-12-17 20:03] Bakual commented on #23868
A blacklist sounds like a simple and effective way to deal with the issue. Or is there some downside I don't see to having a blacklist for library names?

[2019-12-17 21:17] mbabker commented on #23868
A blacklist is the simplest and probably most maintainable solution given the limited number of reserved directories inside the libraries folder.

[2019-12-17 22:08] AMurray2016 commented on #27280
@Bakual  If beta is not yet out, what is the nightly build Beta 1 currently available on Devleoper network page https://developer.joomla.org/nightly-builds.html ?

Joomla! 4.0
These packages were built based on commit fb716857ba76d37fd53ca1384afb99ccba857ad2
These packages were last built: Tuesday, 17 December 2019 03:00:45 UTC

    Joomla_4.0.0-beta1-dev-Development-Full_Package.zip
    Joomla_4.

[2019-12-17 22:17] Bakual commented on #27280
`beta1-dev` means it's still in the development process for the upcoming first beta version. It's not a released beta yet (thus still in alpha version). After first beta (4.0.0-beta1) is released, the version in the nightlies will become beta2-dev until beta2 is released. And so on.

[2019-12-17 22:18] Bakual commented on #23868
Please test #27300
Closing as we have a PR.

[2019-12-17 22:18] #23868 closed, assigned to wilsonge

[2019-12-18 10:32] SniperSister commented on #24337
It's on the agenda for 4.x

[2019-12-18 10:47] ciar4n commented on #26887
PR.. https://github.com/joomla/joomla-cms/pull/27301

[2019-12-18 11:14] #26887 closed, assigned to nobody

[2019-12-18 11:14] alikon commented on #26887
closed as we have a pr #27301 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26887">issues.joomla.org/tracker/joomla-cms/26887</a>.</sub>

[2019-12-18 11:26] MusosGuide opened #27302 "Dead Site"
Site www.musosguide.org.uk displaying this at both front end and back end:- INSERT command denied to user 'dbo451955272'@'infong-uk7.clienthosting.eu' for table 'musos_session' SQL=INSERT INTO `musos_session` (`session_id`, `client_id`, `time`) VALUES ('fdcbc22d746a1b1ac3fd336f846d596a', 0, '1576668349')

### Actual result

### System information (as much as possible)

### Additional comments

[2019-12-18 11:30] brianteeman commented on #27302
As already informed by @pe7er this is not the correct place for this. Please use the links he gave you

[2019-12-18 11:33] MusosGuide commented on #27302
The first link sent me there.

Kenny McMurtrie
Editor-in-Chief
www.musosguide.org.uk

On Wed, Dec 18, 2019 at 11:30 AM Brian Teeman <notifications@github.com>
wrote:

[2019-12-18 11:33] #27302 closed, assigned to nobody

[2019-12-18 11:33] alikon commented on #27302
This is a permissions problem, not a core issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27302">issues.joomla.org/tracker/joomla-cms/27302</a>.</sub>

[2019-12-18 11:34] MusosGuide commented on #27302
Like I know what that means.

Kenny McMurtrie
Editor-in-Chief
www.musosguide.org.uk

On Wed, Dec 18, 2019 at 11:33 AM Nicola Galgano <notifications@github.com>
wrote:

[2019-12-18 11:39] alikon commented on #27302
It means that the user `'dbo451955272'` don't have the right GRANT to access/write your data, but yet again this has nothing to do with a core issues,  for which this is place is for, please use the forum https://forum.joomla.org/

[2019-12-18 11:42] MusosGuide commented on #27302
Still Greek to me as I've no idea who or what that user name relates to.

Kenny McMurtrie
Editor-in-Chief
www.musosguide.org.uk

On Wed, Dec 18, 2019 at 11:39 AM Nicola Galgano <notifications@github.com>
wrote:

[2019-12-18 12:05] Bakual commented on #27302
Still wrong place. You have to go to the forum.
Locking this thread.

[2019-12-18 12:21] djalondon opened #27303 "Database creation throws error and cannot proceed Joomla 4.0 Alpha 11"
### Steps to reproduce the issue

Uploaded Joomla! 4.0.0-alpha11 zip file. Created new database with cPanel database wizard. Set PHP version to 7.2 and ran the installer.

### Expected result

Progress to next step in Installer

### Actual result

The database is created, and configuration.php contains correct database details but cannot proceed past the Install Joomla > step

Error: Can't create/

[2019-12-18 12:40] ReLater commented on #27303
Could you please test again with a nightly build package?
https://developer.joomla.org/nightly-builds.html

Many things have changed since 4.0.0-alpha11

[2019-12-18 12:43] brianteeman commented on #27303
from the error message it sounds like a server issue and not related to joomla

[2019-12-18 13:07] djalondon commented on #27303
There was a server issue but the database was installed and I couldn't progress past that window in the installer, which to my mind is a Joomla issue, isn't it?

[2019-12-18 13:10] ReLater opened #27306 "[3] Installation. Misleading de-DE alert text"
I really don't know if it's worth to change something here. Pedantry...

### Steps to reproduce the issue
- Install J3 and set language to de-DE for install process.
- In databse settings fill all fields but clear the table prefix field.
- Try to go to next installation step.

You'll see an alert (language string `INSTL_DATABASE_PREFIX_MSG`) that says:

`Der Tabellenpräfix muss mit einem Buchstabe

[2019-12-18 14:04] #27303 closed, assigned to nobody

[2019-12-18 14:04] alikon commented on #27303
please use a nigthly build, 4.0.0-alpha11 is too old
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27303">issues.joomla.org/tracker/joomla-cms/27303</a>.</sub>

[2019-12-18 14:12] life777eternal commented on #27292
Hello @GCLW thank you, aye, I see now the row class, though the text on the original website is farther to the right to begin with.

@SharkyKZ Thank you, I have a new user css file now,

[2019-12-18 14:18] jikometrix commented on #23201
I had same issue trying update from 3.9.13 to 3.9.14 on Windows server 2016, PHP 7.3 and MySQL 5.7. Invalid login. I was using chrome on Mac Mahaje. I switched my browser to FireFox and was able update without error.  Maybe something is up with my chrome install.

[2019-12-18 14:42] alikon commented on #27292
@life777eternal  if solved then please the issue
thanks

[2019-12-18 15:21] cinemarene opened #27307 "Subform with wrong/double field name array keys"
Joomla 3.9.14

[code]

Go to the form.
Now there is one row with key 0.
Add one row with "+" button.
Now there are two rows with 0 and 1.
Remove first row with key 0 over button "-".
Now there are one row with key 1.
Add one row with "+" button.
Now there are two rows with key 1 and 1.

![double_field_array_keys](https://user-images.githubusercontent.com/9309569/71098551-282aa480-21b2-11ea-8fcd-83

[2019-12-18 16:10] #27292 closed, assigned to nobody

[2019-12-18 17:01] brianteeman opened #27308 "validate"
1. Could someone please explain the criteria that was used for adding validate=options to **some** select lists but not adding it to others

2. Could someone please explain why it is necessary to have server side validation in this way on a list but not on a radio

/cc @wilsonge @zero-24 @HLeithner

[2019-12-18 17:15] brianteeman commented on #27306
@Bakual one for you

[2019-12-18 17:16] zero-24 commented on #27306
@ReLater hmm I'm not an regex pro but it does not seam to be required: https://github.com/joomla/joomla-cms/blob/3601da2a2398e8da31fdc2399c3e5aa9de122107/installation/model/database.php#L128

Demo
https://3v4l.org/SD0XE

[2019-12-18 17:37] zero-24 commented on #27308
The filter should have been added to all list fields where we use the value from the list `a.created` in a SQL statement.

IMO the validate options should be added to all list fields to make sure that only the values that exists are saved.

Radio values are usually 1/0, are not directly used in SQL queries and based on a quick test does not seam to be affected by this issue anyway.

[2019-12-18 17:58] brianteeman commented on #27308
That's what I guessed

I agree 100% and that would mean we would not have needed to update a gazillion lines of xml and it could have been just done once in one place

Without validation of some sort then they can be modified to have any value (including none as @HLeithner kept telling me)

Anything that will be passed into a sql query needs to be validated etc it is not just list fields.

I have

[2019-12-18 18:07] zero-24 commented on #27308
Well I can tell that this has not been raised in the time that I'm in JSST.

List fields yes i have tried to do this for a radio field and it did not work.

As you know this would be a B/C break and an change like that has to be done in the public tracker anyway. But IMO there is nothing against doing this for 4.0. That would mean an default value `validate="options"` but maybe with some sort of d

[2019-12-18 18:10] brianteeman commented on #27308
Adding validation like this could not be a b/c break

issue was raised sometime in august - can be discussed off list

[2019-12-18 18:18] zero-24 commented on #27308
You know how to contact me and JSST :)

Well something is not working like it was before. This would also need to be more deeply tested with fields that extend list and also allow `any` input like the position field etc. Therefore i suggested to change it in 4.0.

[2019-12-18 18:22] ReLater commented on #27306
It's required. I've tested it without underscore.

See also description of the related input field: https://github.com/joomla/joomla-cms/blob/staging/installation/language/de-DE/de-DE.ini#L44

`enthält nur alphanumerische Zeichen und MUSS mit einem Unterstrich enden.`

[2019-12-18 18:24] brianteeman commented on #27308
Not much point in me contacting JSST again - I did that :(

Think about that for a second.
- The intended behaviour of the list is exactly the same as it would be before. It is only abusive behaviour that would be blocked
- Any change required for security is **never** limited by b/c

[2019-12-18 18:29] zero-24 commented on #27306
Well than please send an issue / PR against https://github.com/joomlagerman/joomla so we make it more clear that the underscore is required in that string too. Any changes in the official language repo gets synced back in here.

[2019-12-18 18:43] ReLater commented on #27307
Addition: If you save then 1 row is lost.

[2019-12-18 18:50] ReLater commented on #27307
Same issue in Joomla 3.9.13.

Side effect: If there's an editor field in the subform it's not loaded correctly if you follow the instructions above.

[2019-12-18 19:24] Fedik commented on #27307
can someone check 3.9.0 and older, I suspect this #22757 a reason

[2019-12-18 19:35] ReLater commented on #27306
PR: https://github.com/joomlagerman/joomla/pull/847

[2019-12-18 19:35] #27306 closed, assigned to nobody

[2019-12-18 19:40] zero-24 commented on #27306
Thanks @ReLater

[2019-12-18 19:58] ReLater commented on #27307
No issue with 3.9.1.

Issue confirmed with 3.9.0.

Tested with subform in "Users Options" > "Email Domain Options"

[2019-12-18 20:00] ReLater commented on #27307
Corrected my last post (Joomla versions).

[2019-12-18 21:26] mbabker commented on #27308
From an in practice perspective, this is correct.  BUT, you should not hard couple a FormField to a FormRule, and you should not hard couple any list based field to requiring the options validation rule.  A form's overall structure is a totally separate thing from a set of validation constraints for its data (hence the reason any properly mature application or framework has a dedicated validation

[2019-12-18 23:32] brianteeman opened #27312 "[4.0] Associations return url"
### Steps to reproduce the issue
On a multilingual site edit an article and then click on the associations button in the toolbar. This will open the article in the multilingual associations component. Then click on Close in the toolbar

### Expected result
return to the article OR return to the  main multilingual associations with the item type already selected.

### Actual result
returned to the

[2019-12-18 23:33] brianteeman commented on #27312
I am guessing that this can be achieved by adding a new variable to the button layout as a boolean for enabling the setting of a return url and then updating the js to use it in the generated output of the custom element

[2019-12-18 23:55] brianteeman commented on #24850
![image](https://user-images.githubusercontent.com/1296369/71133227-c853ee00-21f1-11ea-8f64-5dbc061aca69.png)

The same needs to be done for the buttons in com_associations

[2019-12-19 08:45] infograf768 commented on #27312
I am not in favor of returning to the original edit article in com_content as the main reason for this Associations button is a shortcut to work with associations in the component and go on working on other stuff there.

When coming from an edited item clicked in the Associations Manager and closing in the side by side, we are redirected to the associations Manager with the type and language last

[2019-12-19 08:51] brianteeman commented on #27312
That behaviour is not consistent with other toolbar buttons. If you want to work on lots of associations then you would use the component link and not a link inside an article

[2019-12-19 08:54] mazharvai007 opened #27314 "Invisible reCaptcha does not work"
### Steps to reproduce the issue
I used the unique site and secrete key in the **CAPTCHA - Invisible reCAPTCHA** plugin. But, in the front-end showing like the image
![Screenshot on 2019-12-19 at 14_50_45](https://user-images.githubusercontent.com/3949434/71158996-1bb85180-226f-11ea-92a4-25a9eb172deb.png)

### Expected result

### Actual result

### System information (as much as possible)

### Ad

[2019-12-19 09:07] infograf768 commented on #27312
You are entitled to have your own opinion. If you don't like it, do not use it, but do not prevent users from using it.

[2019-12-19 09:12] brianteeman commented on #27312
It is illogical to have your desired behaviour

[2019-12-19 10:09] C-Lodder commented on #27314
The badge is always shown by default. You can hide it using CSS:

[code]

Note: Do not use `display:none`

If you hide it, you must include the fact you're site uses reCaptcha in the user flow, as per their T&C's: https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed

[2019-12-19 10:16] #27314 closed, assigned to nobody

[2019-12-19 12:13] ReLater commented on #27307
Pinging @continga for the sake of completeness

[2019-12-19 13:16] technicaldwiti commented on #27283
Hii everyone. As a beginner to the world of open source and having intermediate experience on front end and back end how can how can i start contributing to JOOMLA?

[2019-12-19 14:59] zero-24 commented on #17969
see: https://github.com/joomla/joomla-cms/pull/27318

[2019-12-19 14:59] #17969 closed, assigned to nobody

[2019-12-19 15:05] zero-24 opened #27319 "[3.10] Pre Update checker can't handle extension set update servers"
### Steps to reproduce the issue

While fixing this: https://github.com/joomla/joomla-cms/issues/17969 (here: https://github.com/joomla/joomla-cms/pull/27318) i noticed that the Pre Update checker can't handle extension set update servers

### Expected result

The pre update checker can handle extension set update servers

### Actual result

The pre update checker can not handle extension set upda

[2019-12-19 15:32] Scrabble96 commented on #27261
This is exactly what I was referring to some months ago regarding the z-index of full-screen codemirror: the vendor css opens after the Joomla! core css, rendering the Joomla! css useless without !important added. See my issue https://github.com/joomla/joomla-cms/issues/23512 and closed PR https://github.com/joomla/joomla-cms/pull/23528, neither of which were resolved, but it all hinges on the ord

[2019-12-19 15:46] dgrammatiko commented on #27261
@Scrabble96 the order of the styles is like that (although I don't really understand what this joomla core css is).
Eg for com_content edit the css should be:
- the layout css
- all the css from each input
- the css from the template

[2019-12-19 16:16] Quy commented on #27283
@technicaldwiti Please read this article to get started. https://docs.joomla.org/Git_for_Coders

[2019-12-20 02:00] Quy commented on #25435
Duplicate #27283

[2019-12-20 02:00] #25435 closed, assigned to nobody

[2019-12-20 04:03] Quy commented on #24497
#27032 com_finder

[2019-12-20 04:40] Quy commented on #24497
Closing as one is RTC and the other has its own issue #.

[2019-12-20 04:40] #24497 closed, assigned to wilsonge

[2019-12-20 11:09] Scrabble96 opened #27322 "[J3] Cannot remove links from category list titles"
### Steps to reproduce the issue
Create a new menu item of type "Articles > Category List"
In the 'Options' tab, ensure that 'Linked Titles' is set to 'No'.

Why do I want to do that? Well, when creating this menu item in a menu for front editors, I want them to click the 'Edit' button which takes them straight to the editor. Clicking an article title link takes them not to the editor but to the a

[2019-12-20 12:14] richard67 commented on #27319
@zero-24 Do you have a link to an extensionset update server so we can check and investigate for a possible solution?

[2019-12-20 12:19] zero-24 commented on #27319
You can use this extension as an example: (example: [JUEP für Joomla 3.zip](https://github.com/joomla/joomla-cms/files/3984192/JUEP.fur.Joomla.3.zip))

example updateserver are: https://www.jah-tz.de/downloads/extensions/juep/update.xml

[2019-12-20 12:21] richard67 commented on #27319
Thanks, that helps a lot. Is anybody working on it already?

[2019-12-20 12:32] degobbis opened #27323 "Correction of the fix #19781"
In my opinion, the correct interpretation of the code should look like this (#19781):
[code]
In the original code it is first checked if the path is in the array, if not it is checked if the path is really a path (a continue if true is missing).
In the fix after the check in the array, i.e. the path is in the array, there is no check if it is really a path.
This does not correspond to the meaning

[2019-12-20 12:55] richard67 commented on #18736
@zero-24 The first link https://github.com/joomla/joomla-cms/blob/4.0-dev/libraries/vendor/joomla/database/src/Mysqli/MysqliDriver.php#L230 you give in the "Additional comments" leads to nowhere ... maybe you can replace it with a link to thesame code in the database framework package?

[2019-12-20 13:01] HLeithner commented on #18736
@richard67 you can find it here https://github.com/joomla-framework/database/blob/master/src/Mysqli/MysqliDriver.php#L220 now

[2019-12-20 13:04] richard67 commented on #18736
@HLeithner Thanks. Maybe @zero-24 should update the link in the description?

[2019-12-20 13:05] mbabker commented on #27323
It is fine to skip checking the path actually exists at this point.  This is just building the potential list of lookup paths for later use, the use later will necessitate proper path exists checks for the resource in question.

Filesystem I/O remains a performance bottleneck even in current PHP versions.  Adding a check both when paths are pushed into the registry and when the registry is used wi

[2019-12-20 13:09] degobbis commented on #27323
I don't know what's in $new or $paths, but if you want to prevent a file without an extension from being displayed as a path, you need to run the is_dir() check and not leave the path in the array, right?
At least that's what the code has done before.

[2019-12-20 13:31] degobbis commented on #27323
@mbabker I misinterpreted the process. You're right. I'll close the issue

[2019-12-20 13:31] #27323 closed, assigned to nobody

[2019-12-20 16:56] janstieler opened #27324 "Tag-Component link to other language"
Hello,
will the tag-component in future get a language linking or is the component not developed further?
Another possible solution would to use jText for the tags. but actually it is not really smart to work with the tag-component in multilanguage websites.

Cheers

[2019-12-20 21:37] brianteeman commented on #26475
closed see #27325

[2019-12-20 21:37] #26475 closed, assigned to nobody

[2019-12-20 21:49] brianteeman commented on #26476
closed see #27326

[2019-12-20 21:49] #26476 closed, assigned to nobody

[2019-12-20 22:02] brianteeman commented on #27239
closed see #27327

[2019-12-20 22:02] #27239 closed, assigned to nobody

[2019-12-20 22:12] Quy commented on #24780
Please test PR #27328

[2019-12-20 22:12] #24780 closed, assigned to nobody

[2019-12-20 22:13] Quy commented on #25632
@AdityaTaware Please test PR #27328

[2019-12-20 22:32] brianteeman commented on #26604
If you have a site in german and dont install the language pack then this would be the least of your worries =- all success/error messages etc would be in english

[2019-12-20 22:47] zero-24 commented on #18736
updated.

[2019-12-20 22:54] zero-24 commented on #27319
Not that I'm aware of.

[2019-12-21 01:50] Quy commented on #27324
Duplicate #25998 ?

[2019-12-21 08:38] alikon commented on #27262
i've made a quick test, and you cannot register from frontend a new user as SuperUser even when this setting is in place

![Screenshot from 2019-12-21 09-33-51](https://user-images.githubusercontent.com/181681/71305473-2c82d780-23d5-11ea-8ab1-810174a38168.png)

there is already a  check that prevent this https://github.com/joomla/joomla-cms/blob/staging/libraries/src/User/User.php#L791

[2019-12-21 09:40] HLeithner commented on #27262
nice @alikon thanks for this simple test... sorry we didn't do this in the first place

[2019-12-21 09:42] infograf768 commented on #27262
BTW, "User not Super Administrator" should be translatable...

[2019-12-21 10:04] Gnevyshev commented on #24560
I join this question! I want to be able to set the access level for the templates!

[2019-12-21 10:07] alikon commented on #27262
yes right.... it can be improved, it's not really easily understandable, plus the same test should be made on j4... my fault still didn't have the time to do it on j4

[2019-12-21 10:15] brianteeman commented on #27262
@HLeithner

This does raise the issue however of how that initial site was compromised as the original assumption was not correct (as shown by @alikon) and that code has been in place for a decade or more.

[2019-12-21 10:22] infograf768 commented on #27262
@alikon
Same result in J4.

[2019-12-21 10:31] brianteeman commented on #27322
You could resolve this by creating an override. The code is probably the same as for a blog title

https://github.com/joomla/joomla-cms/blob/e15a20a189e018e0acb363f563779b2f9eed916a/layouts/joomla/content/blog_style_default_item_title.php#L20-L31

[2019-12-21 10:43] alikon commented on #27262
thanks @infograf768  to cover my back.... :smile:
so i'm considering this as it was a false negative issue

[2019-12-21 10:45] brianteeman commented on #27282
I assume you mean these
![image](https://user-images.githubusercontent.com/1296369/71306860-0ada1e00-23de-11ea-85a8-f5b11c6a1118.png)

I assume that when you say missing you expected something to be displayed on this page when you switch them on/off

If my assumption is correct then you misunderstood the purpose of these fields. They are in the section for the "editing layouts" and they govern wha

[2019-12-21 10:49] brianteeman commented on #27256
All I can think of right now is to revert my previous suggestion and go back to your original name for the toolbar button

[2019-12-21 11:00] infograf768 commented on #26604
One can have a non-multilingual site which has content in various languages, independent from installed languages and therefore independent from the default site language.
Errors, etc, are totally independent from the contents which is what finder is only concerned with.
The language stemmer choice depends only on installed languages.
The Site Default Language may not have a specific stemmer but i

[2019-12-21 12:07] Scrabble96 commented on #27322
Yes, I realise I could create an override (and I'll have to), but it doesn't explain why it isn't working as expected, but does in J4 Alpha. The default.php code is almost identical apart from the params/helper part. Something in there, perhaps?

[2019-12-21 12:35] janstieler commented on #27324
Which Kind of code should I add? It is a functionally problem and not a bug in any code.
And which further information is required?

I you show the taghelper object there is no key in the array where a connection to another language is saved.

[code]

[2019-12-21 12:55] 200MPHMEDIA commented on #27282
Brian:  We reinstalled J!4 from a new nightly build and the issues noted in the original post no longer exist, so it may have been missing on an earlier version.  Solved Now.  Thanks again.

[2019-12-21 13:55] #27282 closed, assigned to nobody

[2019-12-21 13:59] brianteeman opened #27329 "[4.0] com_finder php 7.4"
### Steps to reproduce the issue
use com_finder and check error logs

[code]

Based on the description of this vendor library and the lack of updates it looks unlikely that this will be fixed

PHP 7.4 will now deprecate the curly brace syntax for accessing array elements and string offsets and it is expected that support will be completely removed in PHP 8.0.
Ref: https://wiki.php.net/rfc/deprecat

[2019-12-21 14:03] brianteeman commented on #27214
Closing for now - will keep an eye on my error logs

[2019-12-21 14:17] brianteeman opened #27330 "[4.0] com_newsfeeds menu items"
### Steps to reproduce the issue
The menu for newsfeeds is displayed with categories before feeds
It should be the other way around

I am guessing this is a lft rgt issue in the installation sql

[2019-12-21 14:22] Quy commented on #27324
Is your issue duplicate/related to issue #25998?

[2019-12-21 14:25] brianteeman opened #27331 "[4.0] Link validation in newsfeeds"
### Steps to reproduce the issue
1. Create a newsfeed without entering a link
2. create a newsfeed with an invalid link protocal such as blank://test

### Expected result
1. Required field missing alert on save
2. Info about incorrect scheme on save

### Actual result
1. message about scheme
2. message about invalid link but without the scheme information

![newsfeed](https://user-images.githubuse

[2019-12-21 15:15] HLeithner commented on #27329
Upgrading to v2 (dev) of wamania/php-stemmer could solve the problem but I'm not sure if the API is compatible

[2019-12-21 15:32] Quy commented on #27236
Elsewhere such as Content>Articles and Content>Categories, you don't get this notice under the `Association` column. Should the badge for the trashed/deleted Content Language be displayed?

[2019-12-21 17:07] marco-pistone opened #27332 "[3.9.14] Option Value Label rendered incorrectly"
### Steps to reproduce the issue
in my language file i have these labels

[code]

this is my form file

[code]

### Expected result
this is what i expect as result:
![joom2](https://user-images.githubusercontent.com/15220440/71311041-c8cfcd00-241b-11ea-9f01-b9119d819f17.png)

### Actual result
instead i have this
![joom1](https://user-images.githubusercontent.com/15220440/71311091-65926a80-241c-11

[2019-12-21 18:41] ReLater commented on #27332
Confirmed. Also with Joomla 3.9.13.

Image is with language debug activated. Strings in "en-GB.override.ini".

![21-12-_2019_19-36-45](https://user-images.githubusercontent.com/20780646/71312337-cbd1ba00-2429-11ea-9dba-71983eb79e38.jpg)

[2019-12-21 18:50] ReLater commented on #27332
Test with article.xml in Joomla 3.9.1. Seems to be OK there.

![21-12-_2019_19-48-33](https://user-images.githubusercontent.com/20780646/71312418-0b4cd600-242b-11ea-91b4-dc3917c2a412.jpg)

Looks like something happend between Joomla 3.9.1 and 3.9.13-

[2019-12-21 18:56] ReLater commented on #27332
Test with Joomla 3.9.13 and "list" instead of "radio". Same issue:

![21-12-_2019_19-54-41](https://user-images.githubusercontent.com/20780646/71312500-f58be080-242b-11ea-967b-35cb6c448546.jpg)

[2019-12-21 20:00] ReLater commented on #27332
I've found the resaon for your special case:
Your field name is "moderator".

In `JFormField::getOptions()` your label `COM_MPROWBUILDER_TITLE_SPEAKER` is sent through
Methode `Text::alt()`
See: https://github.com/joomla/joomla-cms/blob/3.9.14/libraries/joomla/form/fields/list.php#L158

which means in your case
[code]
These lines lead to the error:
https://github.com/joomla/joomla-cms/blob/3.9.14/

[2019-12-22 00:32] Quy commented on #26542
Please comment/test in PR #25849.

[2019-12-22 00:32] #26542 closed, assigned to nobody

[2019-12-22 07:33] infograf768 commented on #27236
In the managers, we use `HTMLHelper()` and the service files.
In com_associations we use `getAssociationHtmlList()`

These are very different methods.
I don't see where we would have a Trash for a Content Language deleted (Except in the multilingual status obviously where it already shows)

I guess the only solution would be to get an error message and prevent showing the items concerned in the as

[2019-12-22 08:14] infograf768 commented on #27236
For com_associations, we would get
<img width="1276" alt="Screen Shot 2019-12-22 at 09 13 46" src="https://user-images.githubusercontent.com/869724/71319208-7635f580-249b-11ea-98e9-de36964da01f.png">

[2019-12-22 08:54] infograf768 commented on #27236
Shall I make the patch?

[2019-12-22 10:46] #26218 closed, assigned to nobody

[2019-12-22 10:46] alikon commented on #26218
since no response i'm closing
it can always be re-opened if needed<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26218">issues.joomla.org/tracker/joomla-cms/26218</a>.</sub>

[2019-12-22 10:53] #26091 closed, assigned to nobody

[2019-12-22 10:53] alikon commented on #26091
i'm closing here as per suggested workaround<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26091">issues.joomla.org/tracker/joomla-cms/26091</a>.</sub>

[2019-12-22 10:55] #26004 closed, assigned to nobody

[2019-12-22 10:55] alikon commented on #26004
closing for the reason stated above<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26004">issues.joomla.org/tracker/joomla-cms/26004</a>.</sub>

[2019-12-22 11:09] alikon commented on #23090
@SharkyKZ whould you still like to backport #26465 to 3.x?

[2019-12-22 11:10] Fedik commented on #27307
please test #27334

[2019-12-22 11:11] alikon commented on #27307
please test #27334<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27307">issues.joomla.org/tracker/joomla-cms/27307</a>.</sub>

[2019-12-22 11:33] Quy commented on #27236
Yes please.

[2019-12-22 11:42] Fedik commented on #27236
I think it not only about deletion.

I have this issue also when I add a content language manually (without install language), without deletion anything.

so it available at index.php?option=com_languages&view=languages
but not exists at index.php?option=com_languages&view=installed

It sounds like com_associations looking on installed languages only or?

[2019-12-22 11:58] Fedik commented on #27307
I found this bug also in j4, but this need to be fixed separately as the subform script was rewritten there.

#27334 only for j3

@alikon can you please reopen it? and maybe tag somehow that it also j4, if possible

[2019-12-22 12:07] alikon commented on #27307
reponed as requested <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27307">issues.joomla.org/tracker/joomla-cms/27307</a>.</sub>

[2019-12-22 12:08] alikon commented on #27307
reopened
p.s
unfortunately i don't ave that superpower

[2019-12-22 14:39] infograf768 commented on #27236
Hmm, normally (at least this was the concept when we started multilang) one is supposed to be able to work when a language is not yet installed by just creating the Content Language.
Will look at this.

[2019-12-22 16:41] infograf768 commented on #27236
@fedik
Thanks for finding this.
When we only have a content language and no corresponding installed language:

1. We can tag an item to this content language. That part works fine.
2. The problem exists indeed in com_associations: the target choice will not propose that Content Language language and it is not displayed in the `No associations` column
3. The language is not proposed in the Associat

[2019-12-22 17:34] 4digitalworld opened #27337 "post-installation messages [Class XMLReader not found]"
### Steps to reproduce the issue
Go to:
`your website  /administrator/index.php?option=com_postinstall&eid=700`

### Actual result

![изображение](https://user-images.githubusercontent.com/3662519/71325186-38b48500-24fa-11ea-9d12-06a44ec3970a.png)

### System information (as much as possible)
Joomla! 3.9.14

### Additional comments
This bug is visible on all websites, on all versions of Joomla

[2019-12-22 18:13] Quy commented on #27337
Duplicate #17556

[2019-12-22 18:13] #27337 closed, assigned to nobody

[2019-12-22 18:38] sanek4life commented on #27337
@Quy thanx! My problem is resolved.

Where can I see a complete list of all recommended PHP extensions that I should **turn on**? My hosting didn't turn on all extensions.

[2019-12-22 19:07] sanek4life commented on #27337
@brianteeman Please help me. Are there any other PHP extensions that I should include? I have not found a complete list of recommended PHP extensions for Joomla 3.9 anywhere.

It may be necessary to check the included instrument for PHP extensions so that each administrator can see this in the administrative panel, in order to avoid such issues. My hosting unfortunately disabled some of the PHP ex

[2019-12-22 19:17] brianteeman commented on #27337
Best solution is to get a real host who understands the needs of its users and not a host that once read a random blog post on the Web with a suggestion to disable things

[2019-12-23 00:22] brianteeman commented on #27329
I have asked the question https://github.com/wamania/php-stemmer/issues/5

[2019-12-23 06:13] infograf768 commented on #27236
Hmm, concerning `$checkinstalled`, looks like we have the same issue in 3.x
I have been trying to find out when that was implemented to find the reason for it but I fail because history on github stops when the helper is moved to `src` in 3.8.0

If I remember well @andrepereiradasilva was the one who originally created that method, but not sure.

[2019-12-23 07:17] infograf768 commented on #27236
The PR was https://github.com/joomla/joomla-cms/pull/12344 (tks @Bakual for helping me find it.)
I must say that I never tested the case at the time...
As stated above, will try to look at it later.

[2019-12-23 07:47] SharkyKZ commented on #23090
OK, working on it.

[2019-12-23 08:00] SharkyKZ commented on #23090
See #27338 for removing group clause.

[2019-12-23 08:01] sanek4life commented on #27337
@brianteeman I'm using hosting now GoDaddy.com and I have similar problems. My previous hosting did not have such problems.

I know that when installing Joomla there is a check for compatibility with the hosting. But what if I move the website from one hosting to another?

I think it would be possible to add such a check to the Joomla admin panel so that you can check the site at any time.

[2019-12-23 08:17] SharkyKZ commented on #23090
For removing `DISTINCT` test https://github.com/joomla/joomla-cms/pull/27339 please.

[2019-12-23 08:18] #23090 closed, assigned to nobody

[2019-12-23 08:29] Gaurav-Punjabi commented on #27331
Can i work on this issue?

[2019-12-23 08:38] SharkyKZ commented on #27331
@Gaurav-Punjabi of course. And you don't need to ask for permission. Just be aware this is a duplicate of #26639 and the solution is discussed there.

[2019-12-23 08:44] Gaurav-Punjabi commented on #27331
Okay, got it👍.

[2019-12-23 09:16] brianteeman commented on #27337
Go to the system menu and then there is an information menu.

[2019-12-23 09:34] sanek4life commented on #27337
@brianteeman I know about this menu. I mean, maybe there you need to make indicators, as when installing Joomla?

I mean green (recommended value), red (need to be changed)?

There are just inscriptions now - on / off. This is not very informative. It is necessary to make green indicators for each value, if everything is in OK.

You need something like this (I saw this in JomSocial):
![изображение

[2019-12-23 09:38] sanek4life commented on #27337
@brianteeman I have no idea at the moment which values are recommended and which need to be changed in the PHP settings, because this is normal static information.

You must add green indicators for each value, if everything is OK.

![изображение](https://user-images.githubusercontent.com/3662519/71349804-e9fdfe00-2580-11ea-84db-384030b87edc.png)

[2019-12-23 09:49] sanek4life commented on #27337
@brianteeman We have a green value for folders, but this is not enough. It is necessary to do the same for system requirements and for PHP extensions. I think this will be correct and will help to avoid many questions, such as mine. Moreover, such settings are in a very popular hosting GoDaddy.

![изображение](https://user-images.githubusercontent.com/3662519/71350429-62b18a00-2582-11ea-87a0-4316b

[2019-12-23 12:20] wilsonge commented on #23279
OK if this should be working then what issues are you having @N6REJ

[2019-12-23 12:30] richard67 commented on #20853
@astridx It seems this issue is back on current 4.0-dev, i.e. the change from backend template either got not merged into the CMS or was lost again later. Shall I reopen this issue for you, or do you want to reopen it, or do you want to make a new one?

[2019-12-23 14:47] Quy commented on #27236
See PR #27340 & #27341

[2019-12-23 14:47] #27236 closed, assigned to nobody

[2019-12-23 15:49] astridx commented on #20853
I can only comment on the issue. I don't see a button to reopen.

If you are sure that the issue is back, please open it.

I will not be able to take a closer look at this the next two weeks. If someone else likes, that would be great.

[2019-12-23 15:51] richard67 commented on #20853
@astridx I think I will open a new issue and/or maybe a new PR if I find the solution soon. I wish you a merry x-mas.

[2019-12-23 16:06] Quy commented on #27307
Thank you! Please test #27342 for J4.

[2019-12-23 16:06] #27307 closed, assigned to nobody

[2019-12-23 16:13] ilmoralito commented on #14744
Thanks bakul, your comment works for me

[2019-12-23 16:14] HLeithner commented on #27262
@brianteeman that's the question, we will give this feedback to the reporter.

The original report started with:

So I think he / she didn't tested it before reporting his / her concern.

I will report back when I get an answer.

[2019-12-23 23:37] brianteeman commented on #27329
@HLeithner positive reply from upstream. Can you take over that please?

[2019-12-24 01:26] #26762 closed, assigned to nobody

[2019-12-24 01:26] Quy commented on #26762
Closing as expected behaviour. Please open PRs for improvements.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26762">issues.joomla.org/tracker/joomla-cms/26762</a>.</sub>

[2019-12-24 05:26] StefanSTS commented on #27262
Hello,

I actually missed to give an information I wasn't aware at that time. The guest user group setting below the newly registered user group has to be set to super user too. The guest is then able to register as Super User.

[2019-12-24 08:40] HLeithner commented on #27329
thx, will do

[2019-12-24 09:21] ankush-maherwal opened #27345 "wrong id gene"
### Steps to reproduce the issue

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2019-12-24 09:21] #27345 closed, assigned to nobody

[2019-12-24 10:25] brianteeman commented on #27262
could you please share a screenshot of that to avoid confusion

[2019-12-24 13:15] diddipoeler opened #27346 "[4.0] xreference Feld in Tabelle #__content fehlt"
Ich habe eine Sportsmanagement Komponente für J3 entwickelt die auf Inhalte der Tabelle #__content zugreift. Als Verbindung habe ich das Feld xreference in der Tabelle #__content benutzt.

Das Feld xreference in der Tabelle #__content gibt es in J4 nicht mehr.
Wo Finde ich es ?
Gibt es eine Alternative zu dem Feld ?

[2019-12-24 13:35] diddipoeler commented on #27346
Kann geschlossen werden.
Habe eine andere Lösung gefunden :-)

[2019-12-24 13:46] #27346 closed, assigned to nobody

[2019-12-24 14:35] N6REJ commented on #23279
@wilsonge the page shows blank when subform is used.

[2019-12-24 16:45] Fedik commented on #23279
This something with `<fieldset>` inside subform xml, maybe something changed in JForm class, or with form layout rendering.
It was fixed once in past https://github.com/joomla/joomla-cms/pull/12813

If you remove `<fieldset>` from your subform, it should work again.

[2019-12-24 18:53] Quy commented on #26667
Please test PR #27347

[2019-12-24 18:53] #26667 closed, assigned to nobody

[2019-12-25 17:10] N6REJ commented on #23279
@Fedik that would mean half of the purpose of subforms would be lost.

[2019-12-26 09:14] Fedik commented on #23279
can you please open an issue for your problem with detail description and subform example?
it may lost here

[2019-12-26 13:33] EJBJane opened #27349 "ItemListelement 'position' does not exsist and throws error in Google Rich Snippets Testing Tool"
### Steps to reproduce the issue
Create a tag.
Create list of tagged items.
Select type : Article
### Expected result
List of articles with correct itemListElement properties
### Actual result
itemListElement property 'position' is missing in the list element properties.
### System information (as much as possible)
The Google Structured Data Testing Tool throws the error: 'value for the position f

[2019-12-27 09:52] HLeithner commented on #27349
Hello @EJBJane if I understand you correctly then this seams to be a template problem and you have to create a template override to solve this issue.

The github issue tracker is not the right place for this, please post your questin the https://forum.joomla.org

I'm closing this, if I'm wrong with my assumption you can always reopen the issue.

[2019-12-27 10:13] HLeithner commented on #27262
if you mean something like this screenshot
![image](https://user-images.githubusercontent.com/1497730/71513255-db258d00-2899-11ea-9dde-163366cdac7a.png)
then you already lost the war because every site visitor is super user already and don't need to register...

[2019-12-27 10:49] HLeithner commented on #27329
@brianteeman waiting for upstream merging my PR https://github.com/wamania/php-stemmer/pull/6

[2019-12-27 11:28] HLeithner commented on #27295
Thanks for the info, hopefully someone come up with a PR till the end of 2020.

[2019-12-27 11:55] EJBJane commented on #27349
thank you

[2019-12-27 13:31] ReLater commented on #27349
No. See `<li>` HTML tags here:
https://github.com/joomla/joomla-cms/blob/staging/components/com_tags/views/tag/tmpl/default_items.php#L69

No `<meta itemprop="position" content="[number]">` there.

On the other hand I ask myself why this list layout is the only one in Joomla core (besides mod_breadcrumbs where it's a must) that uses these `itemprop="itemListElement"` for `<li>`.

[2019-12-27 13:34] HLeithner commented on #27349
Does this mean core supports it but it's wrong implemented?

[2019-12-27 13:44] ReLater commented on #27349
Yes. I think just a missing `<meta itemprop="position" content="[number]">` for each li that has a `itemprop="itemListElement"`.

I'll have a look on it.

[2019-12-27 13:46] HLeithner commented on #27349
Ok thanks

[2019-12-27 14:08] ReLater commented on #27349
Please test pr https://github.com/joomla/joomla-cms/pull/27350

[2019-12-27 16:12] #27349 closed, assigned to nobody

[2019-12-27 17:52] joomleb opened #27353 "Do not show Nested Tag into Tag"
Hi guys,
when I'm editing in frontend (an article for example), into the Tag selector, nested tags (tags with parent) are shown as:
- "World/China" (where "Word" is the parent Tag)

As far as I see there is no any Setting Option for that, Please, Am I missing anything ?

[2019-12-27 18:01] joomleb opened #27354 "Do not create Frontend Tags on the fly by User Groups"
Hi guys,
I want to enable the Frontend On the fly Tags creation only to, let me say, Super Admins
As far as I see when I select "Tags > Options > Data Entry > Tag Entry Mode" I cannot find any option about it

Please, Is there any trick / tip to disable the Tags creation on the fly from Frontend ?
As far as I understand I could just create an "hybrid" solution through Permissions > Edit State...

[2019-12-27 18:02] brianteeman commented on #27354
that's not a "hybrid" solution. it is the correct solution

[2019-12-27 18:12] joomleb commented on #27354
Hi Brian,
so the right way, in first of all, is to disable the Create permission to all the Usergroups that have access only to the Frontend...

Thanks for your attention!

[2019-12-27 18:13] brianteeman commented on #27354
yes

[2019-12-27 19:05] #27354 closed, assigned to nobody

[2019-12-27 19:19] richard67 commented on #18736
I think I will work on it soon.

[2019-12-27 21:29] richard67 commented on #20853
@astridx New PR is #27355 . I didn't add onclick, only onchange, because click on a switcher always means change and because we also don't have onclick for a list field. Wish me good luck with getting testers ;-)

[2019-12-27 21:34] simbunch opened #27356 "[4.0] Joomla 4 Error with Joomla\CMS\Router only for Joomla's registration page"
### Steps to reproduce the issue
1: Enable Joomla SEF.

2: Create a simple system plugin, and inside `onAfterRoute` add the following code:

	function onAfterRoute() {
		$uri = JURI::getInstance();
		$uriparams = JFactory::getApplication()->getRouter()->parse($uri);
                var_dump($uriparams);
        }

Go to any com_users link (eg. /index.php/component/users/registration)

### Expected

[2019-12-27 23:05] brianteeman commented on #27356
thats all? it just says error and the line - nothing else?

[2019-12-27 23:07] simbunch commented on #27356
Hi Brian

![image](https://user-images.githubusercontent.com/1129054/71535374-9b65b080-2940-11ea-8a0c-66bd4aaf2225.png)

Here is a screenshot of the 404 error thrown.

[2019-12-27 23:10] Quy commented on #27356
Please test the nightly builds to see if this is still an issue.
https://developer.joomla.org/nightly-builds.html

[2019-12-27 23:15] simbunch commented on #27356
Hi Quy
Updated to the beta1-dev and the same error occurs. Also tried incognito mode and another browser to make sure it's not a session/cookie issue, same error too.

Really excited beta is next to release!

[2019-12-27 23:19] simbunch commented on #27277
Fixed with beta1-dev

[2019-12-27 23:19] #27277 closed, assigned to nobody

[2019-12-27 23:22] sozzled commented on #27353
See the discussion at the J! forum:  https://forum.joomla.org/viewtopic.php?f=708&t=976710

I do not support this feature request because it would probably cause problems/confusion if there were like-named child tags displayed without the accompanying parent tags.

[2019-12-28 08:24] alikon commented on #27356
without much info about the 3dp plugin "parainvite" should be hard to guess

[2019-12-28 11:47] richard67 commented on #18736
Hmm, maybe the checks have to be added to routine "validateDbConnection" in file "SetupModel.php" and not to routine "initialise" in file "DatabaseModel.php"?

[2019-12-28 11:55] simbunch commented on #27356
Hi Alikon
I stripped out everything in the plugin with just the code in the original post, it's still the same.

[2019-12-28 11:58] richard67 commented on #18736
@zero-24 I see that the commented out code is inside the `if (in_array($options->db_type, ['pgsql', 'postgresql']))` block in file "DatabaseModel.php". It should be below the next closing `}` so it comes after that "if" block. Maybe that was the reason why it did not work? And maybe it should be moved to routine "validateDbConnection" in file "SetupModel.php", like I wrote in my previous comment?

[2019-12-28 12:25] dgrammatiko commented on #18736
@richard67 there's nothing in the front end to support this so without creating some html and js this won't work.
Also from a UX point of view the checks are better to kick off before start asking the user to input anything. I do understand that the current code is checking the db but maybe you could twist the logic a bit to fit in the preinstall checks. It will make a much more better UX experien

[2019-12-28 12:29] richard67 commented on #18736
@dgrammatiko I see no html to be created, can be all done with alerts. am working on it, and parts are already working. If the check make sense or not is on the sst to decide, they once have requiested it as far as I know, and I only wanna solve this issue here and maybe improve that a bit. If later someone says throw it away I have no problem with it.

[2019-12-28 12:51] HLeithner commented on #27356
The reason for this is that the parse detects com_content based on Itemid 101 and ignores com_users and registration. is not part of com_content and the error occur...

The Url:
http://example.com/joomla-cms/index.php/component/users/remind?Itemid=101

Ends in:
[code]

After processParseRules in Router is called. Maybe @Hackwar can help here?

The Itemid with the menu item is higher rated then the

[2019-12-28 12:53] simbunch commented on #27356
Maybe this will help. If you comment out the throw exception line on Router.php at line 153 and replace it with `print_r($uri);`, you'll see that all the URIs that triggers the error are the same:

    Joomla\CMS\Uri\Uri Object
    (
        [uri:protected] => https://new.simbunchdev.com/index.php/component/users/registration?Itemid=101
        [scheme:protected] => https
        [host:protected]

[2019-12-28 12:58] brndt commented on #26386
This bug is still happening.

That's exactly what it is. If you disable preloading/prefetching in your browser settings, the problem doesn't occure anymore.

I tested it with the latest and clean Joomla version in different servers with different browsers.

[2019-12-28 13:00] HLeithner commented on #27353
In Joomla 3 you can't not easy change this, I see only a hackish way to use a override with str_replace/regex.

In Joomla 4 you are able to override the layout for tags and can modify the title.

Since such a change will not go into j3 and you can change it in j4 by your self I'm closing this. Feel free to reopen if you think I missed something.

[2019-12-28 13:00] #27353 closed, assigned to nobody

[2019-12-28 13:02] HLeithner commented on #27356
As mentioned the Itemid 101 is per default the menu item for featured articles. You see this in the 'vars' entry of the uri object.

If you create a menu item for com_users this should fix your problem too but not the root of the problem.

[2019-12-28 13:05] simbunch commented on #27356
Hi HLeithner
So sorry I deleted my reply before I saw your reply. I found a link that's actually for com_content > featured, which is the default Home. I unpublished that but it didn't help. The next link on the menu threw the same error.

With regards to your reply, removing the Itemid parameter from the URL didn't help either. The registration link itself does not have a menu item attached to it

[2019-12-28 13:12] HLeithner commented on #27356
Ok I hope that @Hackwar can help here.

[2019-12-28 13:13] simbunch commented on #27356
Yes you're right, I just tried it and it works. I understand the bug now. Without a menu item attached to the component, the Router overrides it with the Itemid of another menu item and assumes its path.

[2019-12-28 14:02] ReLater opened #27358 "[3 and 4] com_tags. Tagged Items. Microdata. Duplicate values for itemListElement.url are not allowed."
This issue is a find of @EJBJane (https://github.com/joomla/joomla-cms/pull/27350#pullrequestreview-336814997) .

### Steps to reproduce the issue
- Create a tag "Joomla".
- Add this tag to some articles.

- **Add intro images to these articles.**

- Create a menu item of type "Tagged Items":

![27-12-_2019_14-56-50](https://user-images.githubusercontent.com/20780646/71519819-4cc10380-28b9-11ea-9e

[2019-12-28 14:14] ReLater commented on #27358
**Joomla 4:**
I propose to remove at least the nonsensical ItemList microdata from this view.

**Joomla 3:**
I'm not sure if it would be a B\C break to remove it.

[2019-12-28 14:19] HLeithner commented on #27358
It it makes sense to remove it because it's useless or creates an error we can remove it in J3.
Would it break anything in J3?

[2019-12-28 16:17] joomleb commented on #27353
Hi guys, many thanks for the attention you have dedicated to me:

@sozzled as I wrote on the discussion there is no any chance to cause problems/confusion with like-named child tags displayed if the same "- nameofthetag" Administrator Panel list layout is applied into the tag selector.
On the same discussion I also wrote where my need was born.

@HLeithner Please, Do you know if there is yet any t

[2019-12-28 16:20] HLeithner commented on #27353
for j4 the related layout is: layouts/joomla/form/field/tag.php

[2019-12-28 16:46] richard67 commented on #18736
PR is #27360 , but it is still work in progress so please don't close this issue yet.

[2019-12-28 19:31] sozzled commented on #27353
Thanks, @HLeithner.  Please close this.

[2019-12-28 22:24] joomleb commented on #27353
@HLeithner Thanks, I appreciate

[2019-12-28 22:50] richard67 commented on #18736
PR #27360 is ready for testing. This issue can be closed. @zero-24 Please test.

[2019-12-28 22:50] #18736 closed, assigned to nobody

[2019-12-28 22:51] richard67 commented on #18736
Closed as having PR.

[2019-12-29 12:35] pjdevries opened #27372 "API basic authentication plugin does not allow passwords with spaces"
### Steps to reproduce the issue
Create a user with a password containing spaces.
Send a valid API request, authenticated by the above mentioned user's name and password.

### Expected result
200 response

### Actual result
403 response

### System information (as much as possible)
Windows 20 + Docker
Apache 2.4.41
PHP 7.3.12
MySQL 5.6.46

[2019-12-29 12:44] Bakual commented on #26386
That part will always be the case. The remember-me doesn't allow to log in more than once with the same cookie value, so it has to be changed after each successfull login. It's part of the security mechanism.
And last I checked, I didn't see a way to detect if the browser does a prefetch or a real access. If we could detect that, we could deny the login on the prefetch or something like that. But

[2019-12-29 12:54] richard67 commented on #27372
Joomla version is 4.0-dev, right? The description is missing this information.

I think J3 doesn't have webservices, ut maybe I'm wrong.

[2019-12-29 14:58] richard67 commented on #27372
Closing as there is pull request PR #27373 .

@pjdevries If you have an issue for which you have already a fix you don't need to make an issue and a pull request (PR), it is sufficient to make the PR only. But if you have an issue for which you don't know yet that you have a solution, then of course open an issue. And so or so if there is a PR to solve an issue, the issue can be closed, that's why

[2019-12-29 14:58] #27372 closed, assigned to nobody

[2019-12-29 14:58] brndt commented on #26386
Hello, Bakual!

Even if somebody stole your cookie, he would need to have the same headers as you otherwise Joomla will receive different getShortHashedUserAgent value, isn't it?

Maybe it would be great to add an option in Joomla admin panel to choose if admin wants to cancel cookie value changes or modify algorithm of cookie validation because almost every modern browser has prefetching by defau

[2019-12-29 15:02] StefanSTS commented on #27262
![com_user_option](https://user-images.githubusercontent.com/5731922/71558326-f221d600-2a77-11ea-91c9-f9d2ab5f6847.png)

This is the setting I am talking about. There is no need to change any arrangement for user groups if the guest is set to super user.
If the guest is super user he becomes super user at registration.
So if someone tries this setting while playing/learning on a live system there

[2019-12-29 15:13] yashrajbothra commented on #27358
Hey , Can i work on this issue?

[2019-12-29 15:37] brianteeman commented on #27262
I can confirm that in the scenario tested by @alikon you can **not** register as a super user

I can confirm that in the scenario above from @StefanSTS you **can** register as a super user

[2019-12-29 15:49] ghazal opened #27375 "[4.0] php 7.4 Hitting a wall with password hash algorithm Argon2"
PHP 7.4
web servers : bitnami and xampp

I have been trying to test joomla 4 with php 7.4.
BDD is installed OK but I can't overcome this error while entering a password:

"This is not implemented, as it is not possible to implement Argon2i with acceptable performance in pure-PHP "
Tested on bitnami and xampp vm for mac, both equipped with php 7.4.

Any workaround ?
I know it's quite early to ask t

[2019-12-29 15:56] mbabker commented on #27375
You need to install `ext/sodium` through PECL or compile PHP with Argon support enabled (both of which require `libsodium` installed).

The `sodium_compat` library cannot polyfill all functions in pure PHP, you have hit one of those cases.

Issue can be closed, nothing to do with core Joomla.

[2019-12-29 15:58] Quy commented on #23101
Please test PR #27368

[2019-12-29 15:58] #23101 closed, assigned to nobody

[2019-12-29 16:04] richard67 commented on #27375
Closing as not a core issue, see [https://github.com/joomla/joomla-cms/issues/27375#issuecomment-569517885](https://github.com/joomla/joomla-cms/issues/27375#issuecomment-569517885) for details.

[2019-12-29 16:04] #27375 closed, assigned to nobody

[2019-12-29 16:14] ghazal commented on #27375
Thanks anyway.

[2019-12-29 16:17] richard67 commented on #27375
@ghazal No problem. Thanks for reporting. Better a false alarm for no bug than no alarm for a bug.

And thanks @mbabker for the information above.

[2019-12-29 19:54] brianteeman commented on #26397
This is easily achieved using a template override. No need for something in the core to address your specific case. Can be closed

[2019-12-29 19:54] #26397 closed, assigned to nobody

[2019-12-29 21:08] ReLater commented on #27358
@yashrajbothra
Yes

[2019-12-29 21:33] brianteeman commented on #25683
As stated by @alikon this is already done by the user actions log and should be closed

[2019-12-29 21:37] #25683 closed, assigned to nobody

[2019-12-29 21:38] brianteeman commented on #25270
From what I can tell the problem is that when you change the menu in the select then the menu items in that select dont update at the same time

[2019-12-29 21:46] brianteeman commented on #24692
In my opinion this should be closed. The complete architecture of joomla is of a menu based system and not a page based system so this idea is never going to produce something that is really usable

[2019-12-29 21:53] chris001 commented on #24642
Ran into this site crash bug today.  It was caused by uploading a template believed to be compatible with J4.  Alas the template was crafted for J3 and contained the unholy call to `isAdmin()`, which caused a blank white page, on site and on admin, with only the word `Error` printed at the top left corner.  Both Site and admin were down for quite some time while someone had to pick over each file

[2019-12-29 22:00] #24692 closed, assigned to nobody

[2019-12-29 22:01] brianteeman commented on #24642
a blank white page is always a php error message in disguise. If you had enabled php error reporting either at the server level or in global configuration then the error would have been revealed

[2019-12-29 22:08] brianteeman commented on #23534
This should be closed base don @fedik comment above

[2019-12-29 22:10] #23534 closed, assigned to nobody

[2019-12-29 22:12] brianteeman commented on #23451
This is just waiting on an update from the choices js script. The fix has been merged and hopefully it will be merged soon

[2019-12-29 22:12] uglyeoin commented on #25270
Possibly you have described the problem better than I. Thank you.

[2019-12-29 22:24] brianteeman opened #27378 "[4.0] com_redirects alerts"
I have no idea why we have the alerts on com_redirects to show that it is enabled but there has to be a better way than the current implementation which loads the alert on **every** page load. Personally I dont see the need for the notice at all.

![redirect](https://user-images.githubusercontent.com/1296369/71563586-e50de280-2a89-11ea-82d3-c61eb623f31d.gif)

[2019-12-29 22:39] Quy commented on #27378
I don't see the need for it either when it is enabled and it is not like this in other places. I vote to remove the notice.

[2019-12-29 22:44] HLeithner commented on #27378
A section for such (static) information (iirc in j3 you get a notification if the plugin is disabled) would be good...

A link in components to related plugins would be useful... unrelated I know...

[2019-12-29 22:45] Quy commented on #27293
This can be reopened if you have further feedback after testing J4.

[2019-12-29 22:45] #27293 closed, assigned to nobody

[2019-12-29 22:46] brianteeman commented on #27378
the notification that the plugin is disabled is sensible. I am just referring to the notice saying its enabled

[2019-12-29 22:48] HLeithner commented on #27378
both is annoying, if you don't want to auto collect  urls it's a pain too

[2019-12-29 22:59] #27324 closed, assigned to nobody

[2019-12-30 00:10] #27049 closed, assigned to nobody

[2019-12-30 01:20] Quy commented on #26546
Closing due to lack of response. You can comment here and we can re-open the issue.

[2019-12-30 01:20] #26546 closed, assigned to nobody

[2019-12-30 01:34] Quy commented on #25756
Please ask help in Joomla Forum. https://forum.joomla.org/

[2019-12-30 01:34] #25756 closed, assigned to nobody

[2019-12-30 02:02] Quy commented on #26122
Duplicate

[2019-12-30 02:02] #26122 closed, assigned to nobody

[2019-12-30 06:05] Quy commented on #27108
OK to close? See #26772 for dark theme request.

[2019-12-30 07:07] SharkyKZ commented on #27353
You can change `Tag Entry Mode` to `Nested` in `com_tags` configuration to get the layout you want. But that will also disable creating tags on the fly.

https://help.joomla.org/proxy?keyref=Help39:Components_Tags_Manager_Options&lang=en#Data_Entry

[2019-12-30 09:25] brianteeman commented on #27378
See #27380

[2019-12-30 09:25] #27378 closed, assigned to nobody

[2019-12-30 12:34] chmst commented on #27108
ok :)

[2019-12-30 13:43] Kasbonita opened #27382 "Joomla werkt niet (meer) op chromebook"
### Steps to reproduce the issue

### Expected result

### Actual result

### System information (as much as possible)

Goedendag,

Mijn website wordt niet meer geopend op chromebook. Ik krijg de melding:
Je verbinding is niet privé
Cybercriminelen proberen mogelijk je gegevens van my.vodafone.nl te stelen (bijvoorbeeld wachtwoorden, berichten of creditcardgegevens). Meer informatie
NET::ERR_CERT_

[2019-12-30 13:44] richard67 commented on #27382
In English please.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27382">issues.joomla.org/tracker/joomla-cms/27382</a>.</sub>

[2019-12-30 13:45] richard67 commented on #27382
And it seems not to be a Joomla issue.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27382">issues.joomla.org/tracker/joomla-cms/27382</a>.</sub>

[2019-12-30 13:46] Kasbonita opened #27383 "My website is no longer opened on chromebook"
### Steps to reproduce the issue

### Expected result

Hello,

My website is no longer opened on chromebook. I get the message:
Your connection is not private
Cyber ​​criminals may be trying to steal your data from my.vodafone.nl (for example, passwords, messages or credit card details). More information
NET :: ERR_CERT_COMMON_NAME_INVALID

Help improve Chrome security by sending URLs of some page

[2019-12-30 13:46] richard67 commented on #27382
Looks to me like an issue with the SSL certificate, not related to Joomla. But I don't understand Dutch well enough to be 100% sure.

[2019-12-30 13:56] Quy commented on #27382
Please ask help in Joomla Forum. https://forum.joomla.org/

[2019-12-30 13:56] #27382 closed, assigned to nobody

[2019-12-30 13:56] #27383 closed, assigned to nobody

[2019-12-30 13:57] #27108 closed, assigned to nobody

[2019-12-30 14:08] sanek4life opened #27385 "oEmbed"
### Is your feature request related to a problem? Please describe.
I suggest adding this standard to Joomla. This standard is already used by WordPress, Drupal and TYPO3, which allows you to display content from all well-known websites on the Internet.

I want this standard to be in the CMS at the kernel level (or as a plugin that can be enabled). So that any editors, modules and components can us

[2019-12-30 14:51] sanek4life commented on #27295
I recently created a new site and can no longer send mail. I do not can pass identification. Perhaps it will be for old sites from 2021, but I already have a problem - I can not send letters from my new website.

Can you implement OAuth 2.0 as soon as possible?

[2019-12-30 16:31] brianteeman commented on #27295
@sanek4life did you follow the instructions because it works perfectly for me https://docs.joomla.org/How_do_I_use_Gmail_as_my_mail_server%3F

[2019-12-30 16:45] brianteeman commented on #27385
https://oembed.com/#section3

[2019-12-30 16:52] brianteeman opened #27386 "Localise.php and php 7.4"
With php 7.4 you will get this notice with the farsi language pack. Maybe other language packs will as well.

`Deprecated: Unparenthesized `a ? b : c ? d : e` is deprecated. Use either `(a ? b : c) ? d : e` or `a ? b : (c ? d : e)` in C:\htdocs\joomla-cms\language\fa-IR\fa-IR.localise.php on line 115
`

@Bakual I guess you need to inform the translators?

[2019-12-30 16:55] infograf768 commented on #27386
@alikon has already a patch for that and I have the corrected file.
I still have to test it on php 7.3 before giving the file to the Persian TT.

[2019-12-30 18:28] sanek4life commented on #27385
@brianteeman Maybe then you can make a whitelist by default from all domains that are published on the site oembed.com. I think all sites are safe there.

And also make it possible to select in the plugin as an option:

a) show domains only from the white list
b) do not show from the black list
c) show all domains

And the second - if the administrator wants it, he can choose a provider to display

[2019-12-30 18:31] peteruoi commented on #27385
https://wordpress.org/support/article/embeds/#oembed

There are ways to preven security issues. Unless you want to file a security issue against wordpress oembeded.

I think it's a very nice feature (maybe for 4.1) but the problem is who is gonna program it...

[2019-12-30 18:36] sanek4life commented on #27385
@peteruoi Yes, I said about the same. I hope this feature will be included in a future release!
We can by default make a white list of sites - such as Facebook, YouTube, Twitter and others that are officially represented on this site - [https://oembed.com/#section7](url) and also warn that this will threaten the website’s security if the administrator enables this function without a white list.

[2019-12-30 18:52] brianteeman commented on #27385
You do realise that there are extensions already available

[2019-12-30 19:19] Bakual commented on #27386
Thanks for the notice.
I'm closing this issue as it's not a language pack and thus doesn't need to be tracked here.

[2019-12-30 19:19] #27386 closed, assigned to nobody

[2019-12-30 19:27] Bakual commented on #26386
The name of the cookie isn't something that is part of the security mechanism. Imho it could be named `rememberme` and still be exactly the same safety.
I guess it's also easy to answer the request with a completely different cookie, as that part is controlled by the browser and not the server.

No, that would be a horrible option. If you don't change the value, then the remember-me feature is abs

[2019-12-30 19:42] chris001 commented on #24642
Right, but can't we do better than letting php bomb in such a user-unfriendly admin-unfriendly and developer-unfriendly way.  Can't J4 be made to be smart enough to do, either: 1. "Component installed.  Deprecated API call detected.  Uninstalling, reverting." and stay alive, or, 2. at the very least, when the user is on the admin, and is logged into the admin, print the call stack of the crash, or

[2019-12-30 19:51] sanek4life commented on #27385
@brianteeman This is necessary at the core level of the CMS. Like a plugin with options. Standard component com_content and modules and all website content can use this option to embed content.

Here is a white list of all trusted providers:

Everyone will be able to use content embedding without third-party components. There are many trusted providers. This is much better than any other Joomla co

[2019-12-30 19:56] peteruoi commented on #27385
I think copy paste a youtube link or a twitter or something similar should be available to joomla core editor. It 's not rocket science, and i think it's a missing feature from our code editor. The ombeded project seems alive and other major cms players trust it. If you think that other extensions from joomla eco system will die from integrating this ok let it be.
I also understand the don't propo

[2019-12-30 20:13] micker commented on #27385
I am agree oemebed works like a charm... It Will be à good Adding on editor

[2019-12-30 20:22] mbabker commented on #24642
The core templates should print the stack trace so long as error reporting is enabled and debug mode is enabled.  This can also be done with your template’s `error.php` file.

Realistically, you should only WSOD if your error template (or something used by it, as 4.0 can “properly” support modules in error templates) triggers an error and error reporting is turned off.  There is also good reason w

[2019-12-30 20:24] joeforjoomla commented on #24642
Honestly i don't agree with the removal of isSite and isAdmin in this breaking way. It seems the most frequent reason why a PHP fatal error is trigged when installing an extension running on Joomla 3. Even worse, if the isSite/isAdmin is located in system plugin, like it's often out there, the entire website will be down, both frontend and backend.
If we imagine that people will update from J3 to

[2019-12-30 20:58] brianteeman commented on #24642
is it not possible to alias isSite to isClient('Site')

[2019-12-30 21:12] joeforjoomla commented on #24642
@brianteeman Yes that would have been the way to go

[2019-12-30 21:34] brianteeman commented on #24642
Create a pull request and then it can be tested ;)

[2019-12-30 22:24] HLeithner commented on #26386
So actually we have to fix getShortHashedUserAgent because we should remove all browser versions we can find in it... and getShortHashedUserAgent is not a really good security mechanism at all. Because the chance that you get the useragent with the cookie is really high (it's part of the cookiename) so the attacker has already the information he/she needs to generate the correct user-agent. In add

[2019-12-30 23:39] brndt commented on #26386
As far as I understand not all browsers send special headers while prefetching the link:
https://bugs.chromium.org/p/chromium/issues/detail?id=86175

So there are no any solutions in terms of current Remember-Me mechanism of Joomla?

[2019-12-31 00:53] brndt commented on #26386
Excuse me, could you please explain me why using persistent token value is unsafe in comparison with its changing after every log-in.

I read this article and they only say: "Important: If the user should ever change their password, you should invalidate all existing long-term authentication tokens for that user."
https://paragonie.com/blog/2015/04/secure-authentication-php-with-long-term-persiste

[2019-12-31 00:53] Quy commented on #27149
See  PR #27390

[2019-12-31 03:16] ReLater commented on #27385
Just to clarify this statement: When I look around only wordpress seems to. Others use 3rd extensions. Or am I weong?  When I follow your Drupal link above I read "This project is not covered by Drupal’s security advisory policy.".

Hm, is there a TinyMCE plugin on the market? I couldn't find any.

In Joomla:
All you have to do is to write a editor-xtd plugin and a second plugin, normally a conten

[2019-12-31 09:18] brianteeman commented on #27385
its already available as an extension

[2019-12-31 10:02] Bakual commented on #26386
@HLeithner You don't have to fix the function. It's not really a big issue. All it does is invalidating the cookie if you update the browser. So you have to log in earlier than expected if the browser string changes. But we could also use a different unique string. We just need a way to differentiate multiple instances of the same user on different devices/browsers so we can look up the correct en

[2019-12-31 11:15] brndt commented on #26386
Yes but if somebody steal your current remember-me cookie (how, if you use https?) he can still use it whether Joomla changes it every time when user log-in or not. Just as in the case with the real password which you don't change every time.

[2019-12-31 17:29] Bakual commented on #26386
If someone steals the cookie from your computer and uses it, then yes. He still has to use the same browser or fake the correct UA String. But yes, that's the risk you take by using the remember-me feature. However it will only work as long as the original user doesn't try to login as well. If that happens, both cookies will be invalidated and a regular login is required for both user (orginal and

[2019-12-31 20:30] mbabker commented on #24642
That is exactly how `isAdmin` and `isSite` function ever since the deprecation was introduced.

Short of Monopoly Matt™ and WordPress' approach of never removing deprecated elements (seriously there are things tagged as deprecated from a 0.x version), then removing something that is properly deprecated is going to cause someone pain somewhere along the way.  There's no getting around it.

Trust me

[2020-01-01 13:35] brndt commented on #26386
Maybe we should set a fixed amount of trying (for example, 3 or 5) to log in by adding a counter to DB. If somebody has N numbers of fails, the algorithm has to invalidate the token. Are you referring to this code?

![b0730afdca963b2fda685fadd69beef1](https://user-images.githubusercontent.com/21007364/71641782-92a70e80-2ca1-11ea-9456-358b48ae71a8.png)

Anyway, in this case it doesn't depend on typ

[2020-01-01 14:47] Fedik commented on #26386
just a note: you can write a custom authentication plugin for your specific case, wich will work for your mobile-webview.

[2020-01-01 16:55] chris001 commented on #24642
If you really thing it's best to leave the deprecated methods out of 4.0, and I can see why you would, then at the very least, it'd be great if J4 could do something more helpful than WSOD when a deprecated removed method gets called, such as when a J3 component system plugin calls `isAdmin()`, for example.  The code would need to catch the bad method call and then show the logged in authenticated

[2020-01-01 18:35] Bakual commented on #26386
No. It's fundamental from a security view that it works only once.

If someone steals your user/password or a persistent value, he could login as many times as he wants with it, and we or the user will not notice it at all.
However with the current implementation, it will invalidated as soon as the original user logs in. That's the whole point. Changing that is absolutely not acceptable.

[2020-01-01 23:27] brianteeman commented on #27059
Looking into this and I see that the ability to set the default language has _never_ been part of the installer in J4 - oops

[2020-01-02 09:48] chandanndeep commented on #26697
@brianteeman

Yes working fine.

[2020-01-02 11:24] HLeithner commented on #27059
@infograf768 can you look into this and port it from j3?

[2020-01-02 11:25] HLeithner commented on #27087
Duplicate of #27059

[2020-01-02 11:25] #27087 closed, assigned to nobody

[2020-01-02 12:30] infograf768 commented on #27059
@HLeithner
I am afraid j installation for j4 is so different from j3 that I do not have the knowledge to help on this. What I know is that the methods still exist in the model, that’s about all. Same for the session issue.

[2020-01-02 13:08] HLeithner commented on #27059
ok thanks, hope someone can have a look at it soon.

[2020-01-02 14:15] HLeithner commented on #26386
Beside this discussion, isn't there a no prefetch header/ attribute?

[2020-01-02 15:43] Fedik commented on #26386
I think it not a core issue, but issue of the tamplate/extensions used on that site,
 `<link rel="prefetch" ..` (or headers) should not be added for "preload" any kind of login page

[2020-01-02 17:42] Quy commented on #26991
Closing due to lack of response. You can comment here and we can re-open the issue.

[2020-01-02 17:42] #26991 closed, assigned to nobody

[2020-01-02 18:52] Bakual commented on #26386
To my knowledge, there are browsers which send such a header (Safari and Firefox, each a different one) and browsers which don't (eg Chrome). So there is no standard yet and no secure way to detect a prefetch.
Of course it could be done for the browsers which send a header, if someone is willing to do that. In that case, you would just have to ignore the authentication request in the cookie plugin

[2020-01-02 21:34] Quy commented on #26817
@brianteeman Please test PR #27394

[2020-01-03 03:45] jwaisner commented on #27222
Confirmed in staging branch that issue exists.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27222">issues.joomla.org/tracker/joomla-cms/27222</a>.</sub>

[2020-01-03 10:38] astridx opened #27395 "[4.0] Abandoned message while run `composer i`"
### Steps to reproduce the issue
1. Clone this repo and change to the branch `4.0.-dev`
2. run `composer i`

### Expected result
No warnings or abandoned messages.

### Actual result
I see this message
[code]

### System information (as much as possible)
[code]

### Additional comments

[2020-01-03 11:14] astridx commented on #27395
Soory, I made a mistake.
This message appears only on the staging branch.

[2020-01-03 11:14] #27395 closed, assigned to nobody

[2020-01-03 13:20] HLeithner commented on #27222
It would be great If one of you can provide a pr for j3.

[2020-01-03 18:01] ReLater commented on #27222
If nobody is busy with a pr already I'll have a look and try to provide one for Joomla 3.

Please ping me if somebody is already working on it.

[2020-01-03 18:53] Quy commented on #26018
In Editor - TinyMCE plugin, change `URLs` to `Absolute` for `Set 0`.

[2020-01-03 21:13] Quy commented on #27222
Please test PR #27398

[2020-01-03 21:13] #27222 closed, assigned to ReLater

[2020-01-03 23:15] brianteeman commented on #24465
AS stated above by the original reporter this should be closed

[2020-01-03 23:16] #24465 closed, assigned to nobody

[2020-01-03 23:19] brianteeman commented on #22767
This is a very old request for a new feature in Joomla 3. As there has been no interest in providing any code to satisfy this and we are not accepting any new features in Joomla 3 I recommend that it is closed.

[2020-01-03 23:20] brianteeman commented on #22257
This is a very old request for a new feature in Joomla 3. As there has been no interest in providing any code to satisfy this and we are not accepting any new features in Joomla 3 I recommend that it is closed.

[2020-01-03 23:26] brianteeman commented on #22019
Based in the comments above this should be closed

[2020-01-03 23:27] brianteeman commented on #20969
This is a very old request for a new feature in Joomla 3. As there has been no interest in providing any code to satisfy this and we are not accepting any new features in Joomla 3 I recommend that it is closed.

[2020-01-03 23:28] brianteeman commented on #20264
This is a very old request for a new feature in Joomla 3. As there has been no interest in providing any code to satisfy this and we are not accepting any new features in Joomla 3 I recommend that it is closed.

[2020-01-03 23:29] brianteeman commented on #20223
This is a very old request for a new feature in Joomla 3. As there has been no interest in providing any code to satisfy this and we are not accepting any new features in Joomla 3 I recommend that it is closed.

[2020-01-03 23:50] ReLater opened #27399 "[3] plg_content_pagenavigation. Accessibility."
### Steps to reproduce the issue
According to pr review https://github.com/joomla/joomla-cms/pull/27398#pullrequestreview-338299411 by @brianteeman the button texts "Next/Prev" of page navigation should not have the attributes `aria-hidden`. We removed these attributes in pr 27398 in pagebreak plugin.

[code]

https://github.com/joomla/joomla-cms/blob/staging/plugins/content/pagenavigation/tmpl/de

[2020-01-03 23:53] brianteeman commented on #27399
the original pr was https://github.com/joomla/joomla-cms/pull/17508

maybe i am wrong

[2020-01-04 02:04] Quy commented on #23181
Closing for now. You can comment here and we can re-open the issue.

[2020-01-04 02:04] #23181 closed, assigned to nobody

[2020-01-04 02:35] Quy commented on #25620
OK to close?

[2020-01-04 06:20] #20264 closed, assigned to nobody

[2020-01-04 06:20] alikon commented on #20264
Closed as stated above<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20264">issues.joomla.org/tracker/joomla-cms/20264</a>.</sub>

[2020-01-04 06:21] #20223 closed, assigned to nobody

[2020-01-04 06:21] alikon commented on #20223
Closed as stated above<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/20223">issues.joomla.org/tracker/joomla-cms/20223</a>.</sub>

[2020-01-04 06:26] #22257 closed, assigned to nobody

[2020-01-04 06:26] alikon commented on #22257
Closed as stated above<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22257">issues.joomla.org/tracker/joomla-cms/22257</a>.</sub>

[2020-01-04 06:34] #22019 closed, assigned to nobody

[2020-01-04 06:34] alikon commented on #22019
closed<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22019">issues.joomla.org/tracker/joomla-cms/22019</a>.</sub>

[2020-01-04 06:36] #22767 closed, assigned to nobody

[2020-01-04 06:36] alikon commented on #22767
Closed as stated above<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/22767">issues.joomla.org/tracker/joomla-cms/22767</a>.</sub>

[2020-01-04 07:28] alikon commented on #26018
nice found, it do the trick....missing that option in the sea of options

[2020-01-04 07:29] #26018 closed, assigned to nobody

[2020-01-04 07:30] alikon commented on #20969
@infograf768 can we close this one ?

[2020-01-04 08:30] Fedik commented on #20969
It more like feature for Joomla in general ;)

And it really missing thing (or make new xtd btn or extend existing media extd btn), until someone find a time to implement it I would keep it open, and set label to j4, j5 ... jX so on :)

[2020-01-04 09:10] micker commented on #20969
Yes you have a beautifull New file manager... Need to be perfect

[2020-01-04 09:25] brianteeman commented on #17770
2 years later and I guess either this has been fixed or no one sees it as a bug worth fixing

[2020-01-04 10:31] richard67 commented on #27319
@zero-24 I've updated the link in the description to point to the right line of code due to recently merged changes in the same file. Will seee if I can work on this issue.

[2020-01-04 11:04] dgrammatiko commented on #17770
@brianteeman it will worth the effort if someone could implement my suggestion in my first comment:
**that was the reason I proposed that the calendar field should sent and receive from the front end only UTC datetime**

[2020-01-04 11:11] richard67 commented on #27319
@zero-24 Important question: The build for this issue is "staging" in the issue tracker. But the link in your description is to the file on the 3.10-dev branch. Shall this be fixed in staging or in 3.10-dev?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27319">issues.joomla.

[2020-01-04 17:20] ReLater commented on #27399
Pinging @zwiastunsw

[2020-01-04 17:30] SharkyKZ commented on #27399
#17508 added a different description for screen readers via `aria-label` attribute. Original description was made invisible to screen readers to avoid duplicated description.

[2020-01-04 18:06] ReLater commented on #27399
Yes, but that's nearly the same in https://github.com/joomla/joomla-cms/pull/27398

We have an aria-label like `aria-label="Next: Title of next page (Page 3 of 7)"` and a visible button `Next` (no `aria-hidden=true`). Thus a screenreader provides nearly duplicated informations with current state of code.

I don't know...

[2020-01-04 19:20] jwaisner commented on #26695
Confirmed this still exists in 4.0.0-beta1-dev<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26695">issues.joomla.org/tracker/joomla-cms/26695</a>.</sub>

[2020-01-04 20:35] jwaisner commented on #26639
I cannot reproduce this issue in 4.0.0-beta1-dev. I am using Firefox for the browser and MYSQL for database.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/26639">issues.joomla.org/tracker/joomla-cms/26639</a>.</sub>

[2020-01-04 20:37] wilsonge commented on #27297
I would add that we're never going to fully support style element - because ultimately all the WYSIWYG editors (tinymce etc) are always going to apply inline styles to element whenever people style their text. I don't think this is easily fixable so as a result - happy to do what we can there but I don't see it as a huge priority.

Fixing the javascript on the other hand is definitely a priority.

[2020-01-04 22:25] brianteeman opened #27401 "[4.0] Password view toggle"
![image](https://user-images.githubusercontent.com/1296369/71772190-e5512680-2f3e-11ea-9d57-6f52b7eb2616.png)

It doesn't matter what the state of the field the sr-only text never changes from JSHOW

The code is in passwordview.js

I am _guessing_ the issue is with the code changed made in #22666

(I spotted this because I was looking to change the text)

[2020-01-04 22:55] brianteeman opened #27403 "[4.0] version"
Is it possible please to change the version in the manifest

There are a lot of users who get confused when downloading the nightly and think that beta 1 is now available

[2020-01-05 00:14] Quy opened #27404 "[4.0] Active indicator on wrong side in RTL"
The active indicator in RTL needs to be on the right side.

![sidebar-ltr](https://user-images.githubusercontent.com/368084/71773160-b752ee80-2f0c-11ea-9c6d-e9f964b85d86.jpg)

### Actual result
![sidebar-rtl](https://user-images.githubusercontent.com/368084/71773157-abffc300-2f0c-11ea-86e7-fb5396b25142.jpg)

[2020-01-05 00:29] Quy commented on #27404
See #27405.  Thank you!

[2020-01-05 00:29] #27404 closed, assigned to nobody

[2020-01-05 01:23] jwaisner commented on #27229
I cannot reproduce this. Can you provide steps to replicate what you are reporting?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27229">issues.joomla.org/tracker/joomla-cms/27229</a>.</sub>

[2020-01-05 06:26] petrovicivan opened #27407 "Contact form with Captcha and Custom fields"
### Steps to reproduce the issue
I created Custom fields in Mail form and they showed up after Captcha field and before Send button

### Expected result
Captcha should be last field in form before Send button

### Actual result

### System information (as much as possible)

### Additional comments

[2020-01-05 09:12] odmv18528 commented on #27229
Hello @jwaisner,

the error no longer occurred in the latest version. The contact form now works and also shows the selected page in the modal window.

[2020-01-05 09:12] #27229 closed, assigned to nobody

[2020-01-05 09:20] alikon commented on #26695
please test #27408

[2020-01-05 09:40] alikon commented on #27407
this can be solved with https://docs.joomla.org/How_to_override_the_output_from_the_Joomla!_core

[2020-01-05 09:47] alikon commented on #27403
do you mean that we need an Alpha 13 ??
so it should be 4.0.0-alpha13-dev instead of 4.0.0-beta1-dev

[2020-01-05 10:01] brianteeman commented on #27403
I mean anything other than 4.0.0-beta1-dev

perhaps it should be 4.0.0-alpha12+-nightly

[2020-01-05 10:03] petrovicivan commented on #27407
It seems that we can't override, I have tried chaneging order of fields in tempaltes/mytemplate/html/com_contact/contact/default_form.php

`<?php
/**
 * @package     Joomla.Site
 * @subpackage  com_contact
 *
 * @copyright   Copyright (C) 2005 - 2019 Open Source Matters, Inc. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

defined('_JEXEC')

[2020-01-05 10:05] petrovicivan commented on #27407
Her is suggested that only way to archive this is hardcode custom field in override template
[Your text to link here...](https://www.websolutionz.com.au/blog/modifying-a-joomla-contact-form-with-custom-fields "https://www.websolutionz.com.au/blog/modifying-a-joomla-contact-form-with-custom-fields")<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Ap

[2020-01-05 10:16] alikon commented on #27407
yes, maybe not the most easy/clean override, but the way to go

[2020-01-05 10:25] petrovicivan commented on #27407
There is a problem with multilingual sites, you have to create 2 overrides

[2020-01-05 11:24] richard67 commented on #27319
It seems that not only the pre-update checker has problems with extensionset updates.

When testing with @zero-24 's plugin [JUEP.fur.Joomla.3.zip](https://github.com/joomla/joomla-cms/files/3984192/JUEP.fur.Joomla.3.zip) I've modified the version number in xml and database so that an update should be found for this plugin.

The plugin has 2 update sites: One with an extensionset xml and another o

[2020-01-05 14:20] richard67 commented on #27319
@zero-24 Meanwhile it is also clear to me that this issue is for 3.10-dev, because on staging we don't have the pre-update check yet. Could you change the branch in the issue tracker from "staging" to "3.10-dev"? I could do that for you, but I don't like very much to modify other people's issues or PRs without having asked them.

[2020-01-05 21:10] richard67 commented on #27319
PR #27410 is ready. @zero-24 and others please test.

[2020-01-05 21:10] richard67 commented on #27319
Clsoing as having PR #27410 .

[2020-01-05 21:10] #27319 closed, assigned to nobody

[2020-01-05 21:50] Open2logic commented on #25620
Wait Quy, not in such a hurry to close improvements for Joomla 4, Brian has also experienced this problem in Joomla when working on a university website.
Obviously it is a necessity for many websites and it would be a great improvement for Joomla. Let me upload my plugin and you think

[2020-01-06 00:39] Quy commented on #27149
Reverted PR #27390 as it affected the copy/move radio buttons in the batch window.

[2020-01-06 07:27] #27401 closed, assigned to nobody

[2020-01-06 07:27] SharkyKZ commented on #27401
Please test PR #27412.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27401">issues.joomla.org/tracker/joomla-cms/27401</a>.</sub>

[2020-01-06 08:25] #27147 closed, assigned to nobody

[2020-01-06 08:25] SharkyKZ commented on #27147
Please test PR https://github.com/joomla/joomla-cms/pull/27413.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27147">issues.joomla.org/tracker/joomla-cms/27147</a>.</sub>

[2020-01-06 08:50] SharkyKZ opened #27414 "[4.0] Error: There is no a "template.cassiopeia.ltr" asset of a "preset" type in the registry.: Page not found"
### Steps to reproduce the issue

Open a non-existing page.

### Expected result

Joomla! error page.

### Actual result

White screen with error:

### Additional comments

CC @Fedik

[2020-01-06 09:22] joeforjoomla commented on #27414
Probably effect of this merge https://github.com/joomla/joomla-cms/pull/25775
Pinging @wilsonge as requested by @Fedik must be reverted and not merged for the moment

[2020-01-06 09:48] SharkyKZ commented on #27407
You can use this override to move captcha to bottom https://gist.github.com/SharkyKZ/592cc44c68eac9b3ef7e0b3abb2699f3.

[2020-01-06 10:12] Fedik commented on #27414
@SharkyKZ please check #27415

[2020-01-06 10:27] #27414 closed, assigned to nobody

[2020-01-06 10:27] alikon commented on #27414
please test #27415 <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27414">issues.joomla.org/tracker/joomla-cms/27414</a>.</sub>

[2020-01-06 13:12] miojamo commented on #23504
I have this issue under Windows Ubuntu 18.04  WSL, mounted directory with all permissions set to 777 by default by WSL. This patch worked great!  There is no other solution so far. Thanks.

[2020-01-06 15:08] N8Solutions commented on #27295
@brianteeman Any chance you can provide an update on this as to whether or not Joomla will eventually support OAuth for mail sending?
If so, what is the potential timeline?

Also tagging @mbabker @wilsonge

[2020-01-06 15:24] GeoTimber opened #27419 "Why are the custom callback filters not executed in the InputFilter::clean method?"
### Is your feature request related to a problem? Please describe.

I expected to find the custom callback filters to be included in the InputFilter class in the clean method but I can only find them in the Form class under the filterField method

### Describe the solution you'd like

Move the callback filter check to InputFilter::clean method

### Additional context

This would allow us to call
[

[2020-01-06 15:27] Fedik commented on #27419
it works:
[code]

[2020-01-06 15:40] GeoTimber commented on #27419
Fair enough but that is not the same, I have not knowledge about the 'default' value in my myCustomFilter::filter method and may destroy it in my filter.

It will work, I just can't see why it is not in the InputFilter class.

[2020-01-06 15:47] mbabker commented on #27419
The `InputFilter` class by design does not support callbacks.  Why a set of non-standard filters was introduced into the `Form` class to me makes no sense (in a couple of cases this implies that someone confused filtering logic with validation logic as at least the "TEL" case should be a validation rule and not a filtering rule (and strangely enough there does exist a "tel" validation rule 🤦‍♂)).

[2020-01-06 15:54] mbabker commented on #27403
This would require the CI script generating the nightly builds to alter the version string throughout the application and therefore the nightly builds would not actually match up with the commit they are based upon.  Not to mention that `-nightly` isn't a SemVer compliant string and would potentially mess with using the version string in the `version_compare()` function.

You're right though that

[2020-01-06 15:57] mbabker commented on #27295
I don't get email notifications on this repository anymore but randomly pinging people in hopes that it will expedite a feature request in an entirely volunteer driven software platform isn't going to get you an answer any faster or the request completed any sooner.  You're basically at the mercy of hoping someone volunteers to give up their time to either provide a fix to the upstream PHPMailer l

[2020-01-06 16:07] brianteeman commented on #27403
I dont get what the version is called - just not something that doesnt exist nd confuses people such as beta1
which presumably will then be beta2 in nightly once that has been released etc etc

[2020-01-06 16:15] mbabker commented on #27403
If done right, the 4.0 branch should have `4.0.0-alpha13-dev` as the version string right now.  When someone decides to cut the next release, at that point they can decide if it will be an alpha or beta release and bump the version appropriately.  Prematurely bumping it to `beta1-dev` makes it harder to go backwards to another alpha release (and the same problem theoretically exists if someone wer

[2020-01-06 17:44] Mausino opened #27420 "Bootstrap 5 instead of 4.4.x (last minor version) in stable Joomla! 4"
### Is your feature request related to a problem? Please describe.

Latest Joomla! 3 have problem with outdated major Boostrap 2 version (where it stucked)
New Joomla! 4 Alpha X.version is comming with major version Bootrsrap 4 (now 4.4.1 )
Bootstrap 5 is on horisont and it could be relased in early 2020.

**Bootstrap 4,4.x - is the latest minor version of major 4 Bootstrap**

Would Joomla! 4 have

[2020-01-06 17:51] N8Solutions commented on #27295
@mbabker WOW, Someone woke up on the wrong side of the bed today. I didn't randomly ping anyone, I knew exactly who I was pinging. I knew of your involvement with the Joomla project but was unaware you were no longer associated with it in any official capacity. I am also well aware that Joomla is Open Source and volunteer driven. It was only a question, not intended to pressure anyone. I did not d

[2020-01-06 19:44] wilsonge commented on #27420
Thank you for posting. I’d agree if there was anything sort of release date but their tracker currently suggests a date of March 2019. Without an alpha there’s nothing stable to use and by the history of bootstrap 4 there’s nothing to come.

If the release is available we’ll move to it but there’s really nothing we can do right now

[2020-01-06 19:44] #27420 closed, assigned to nobody

[2020-01-06 23:36] Quy commented on #26316
See PR #27425 for Show/Hide  Password.

[2020-01-06 23:37] Mausino commented on #27420
@wilsonge thank you for your answer 👍 i know that nothing is relased yet in Bootstrap 5

I happy that if will something stable available (and if will before stable relase of Joomla! 4) you're as Joomla team open to look/think on it/about it :) if it has some potencional or not.

My refences also were:

https://github.com/twbs/bootstrap/projects/11
and in the issue section you can see intesive work

[2020-01-07 03:50] Quy commented on #25831
#25775 Merged

[2020-01-07 03:50] #25831 closed, assigned to nobody

[2020-01-07 06:57] corne8422 commented on #26386
Hi there. I spent a couple of months studying this issue on the following platforms: 1. Desktop Browsers, 2. Webkit/Chrome for Android App, 3. Windows 10 App.

In the customer’s scenario they use one Joomla Platform for the above implementations. On all 3 of them the current implementation of Remember Me is problematic, whether its Browser prefetching or the Version of the browser changing. It occ

[2020-01-07 12:06] beat commented on #26386
It is quite standard behavior with most websites and web-platform that you regularly have to login again. Especially after website upgrades and browser upgrades. I see this as reasonable and needed security and a non-issue.

[2020-01-07 12:57] HLeithner commented on #26386
there is no security gain because the ShortHashedUserAgent is based on the browser user-agent and is part of the cookie name. If someone get the cookie he/she has the ShortHashedUserAgent token too and can generate the browser agent based on this information. In case of a mitm the browser agent is known too.

Removing all numbers in the ShortHashedUserAgent and add the site "secret" key to the mix

[2020-01-07 13:20] Bakual commented on #26386
Just to be clear, since there seems to be some confusion: The browser name (= cookie name) is just an identifier (a bit comparable to username but specific to the browser). It doesn't need to be secure. Mixing it with the site secret doesn't add any value.
But it needs to be unique enough so you can differentiate the various instances on the server side. So  if a user logs in with Chrome on Deskto

[2020-01-07 16:41] EJBJane commented on #26258
I  used a CCK fpr many years. Joomla Custom Fields was at last an opportunity to get rid of it for good. I have just spent many month exporting and importing content from CCK to Joomla! I am content however I would much appreciate a way to insert custom fields easily in blog layouts and lists.

[2020-01-07 17:43] brianteeman commented on #13342
It would be great to get the count links implemented for J4

[2020-01-07 22:10] Sulpher opened #27431 "User Actions Log notification to be sent on email: problem with URLs"
### Steps to reproduce the issue
Go to Users > edit user > User Actions Log

Send notifications for User Actions Log * - set to YES
![Screen Shot 2020-01-08 at 01 03 36](https://user-images.githubusercontent.com/3432048/71933589-93fd9d00-31b3-11ea-818f-6173700178fa.png)

Now the admin receives a notification on email about any changes made on the site by this user.

### Expected result
The action

[2020-01-07 23:23] brianteeman commented on #18828
Please see #27429

[2020-01-07 23:25] #18828 closed, assigned to nobody

[2020-01-08 02:59] Quy commented on #24312
See PRs #27412 #27425

[2020-01-08 07:08] #27431 closed, assigned to nobody

[2020-01-08 07:08] SharkyKZ commented on #27431
Please test PR #27432.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27431">issues.joomla.org/tracker/joomla-cms/27431</a>.</sub>

[2020-01-08 09:34] EJBJane opened #27433 "No 'helper' folder found for fields"
### Steps to reproduce the issue
I wanted to create a few custom fields in my article overrides. To achieve this, I was following the instructions posted here (answer 2):
https://joomla.stackexchange.com/questions/21252/joomla-custom-fields-in-category-list?rq=1
The solution wasn't working for me, so I checked the url to the helper file for fields.
Found that there is no 'helper' folder on my Joom

[2020-01-08 09:58] brianteeman commented on #27433
Were you looking in
\administrator\components\com_fields\helpers

I suspect you were looking in
\components\com_fields\helpers

[2020-01-08 10:09] mggcodes opened #27435 "J3: repeatable Subform remove & add"
### Steps to reproduce the issue
- login to administrator
- edit an existing item with a repeatable subform (the subform should have more then 1 entry already)
- delete the first entry of the repeatable
- add a new entry to the repeatable
- save the item

### Expected result
at the function JModelAdmin::save($data)

all entries of the subform should be in the $data object

[code]
example code in E

[2020-01-08 11:04] brianteeman commented on #27059
I am working on this - hope to have a draft later tody

[2020-01-08 11:10] richard67 commented on #27435
Should be already solved with PR #27334 . @mggcodes Please check, and if solved close this issue.

[2020-01-08 11:33] Fedik commented on #27435
yeah, that the same as #27307
the fix (#27334) will be available in 3.9.15

[2020-01-08 11:47] #27435 closed, assigned to nobody

[2020-01-08 11:47] alikon commented on #27435
we already have a fix and will be available in 3.9.15<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27435">issues.joomla.org/tracker/joomla-cms/27435</a>.</sub>

[2020-01-08 15:06] brianteeman opened #27437 "com_redirect count hits"
### Steps to reproduce the issue
enable the redirects plugin and the collect urls option
visit several non-existing urls multiple times

com_redirects will now list all of the non-existing urls with a hit count

Take one of the non-existing urls and edit it so that it has a new url and enable the link

Revisit all of the same non-existing urls

### Expected result
com_redirects increases the hit c

[2020-01-08 15:16] dawe78 opened #27438 "Database connection error if database name contains dots (sqlsrv)"
### Steps to reproduce the issue
I was trying to connnect to a MSSQL database using the JDatabase-Class but got the "Could not connect to SQL Server database." error. After lots of hours checking SQL Server, Firewall, PHP... I checked the Joomla library and found the issue. The database name contains dots - and renaming database is not possible.

### Expected result
Connect to database and return

[2020-01-08 15:26] EJBJane commented on #27433
I was indeed :-)

[2020-01-08 15:40] #27433 closed, assigned to nobody

[2020-01-08 15:46] HLeithner commented on #27437
I found the same problem last year on a project and wondered way existing redirects aren't counted.

Have you checked whats the reason is?

Your linked issue seams unrelated?

[2020-01-08 15:48] brianteeman commented on #27437
The reason is that the code is not there.

The reason the linked issue is related was because the single line of code I added to make it log the last date didn't work because the enabled do not get updated.

It's an easy fix just dont know the reasoning. I would have thought it was useful

[2020-01-08 15:54] vbv2312 commented on #27331
which file do we need to look up for this issue ??i am a beginner please help a bit

[2020-01-08 18:28] alikon commented on #27438
i didn't have a sqlsrv instance for test right now ....
but if you can test...
[code]

probably are uneeded.....
please report back if you have the time to test...

[2020-01-08 18:56] wilsonge commented on #25130
Fix https://github.com/joomla/joomla-cms/pull/27439

[2020-01-08 18:56] #25130 closed, assigned to nobody

[2020-01-08 19:35] alikon commented on #27437
if i've understand correclty the issue please test #27440

[2020-01-09 06:04] dawe78 commented on #27438
I tried to add square brackets using $this->quoteName() method now. The result is not as I expected; example: My database name is database2.0.3. Result should be [database2.0.3]; but I got [database2].[0].[3] and the connection fails.

[2020-01-09 07:09] SharkyKZ commented on #27283
Please test #27441 for module issue.

[2020-01-09 07:33] SharkyKZ commented on #27283
Please test #27442 for template issue.

[2020-01-09 07:36] #27283 closed, assigned to nobody

[2020-01-09 07:36] SharkyKZ commented on #27283
Closing this as there are PRs for all mentioned issues.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27283">issues.joomla.org/tracker/joomla-cms/27283</a>.</sub>

[2020-01-09 07:45] alikon commented on #27438
an interesting reading on the subject https://dba.stackexchange.com/questions/1166/is-it-okay-to-put-dots-in-sql-server-database-names

[2020-01-09 08:48] SharkyKZ commented on #27331
@vbv2312 See #26639.

@Gaurav-Punjabi Are you still working on this?

[2020-01-09 09:05] dawe78 commented on #27438
Yes, I agree, but it wasn't my decision. This database is a external database of a key management system which I need to manage via joomla. The database still exists and I'm not able to change the database name. So, unfortunally, I do have to use it as it is... for my own databases I would't use dots or characters like this...

[2020-01-09 11:14] richard67 commented on #27438
That's by design: The quoteName has a special treatment of dots. It assumes that they are separator between a table alias and a column name, e.g. `a.id` with `a`being the table alias, which has to be quoted with squared brackets as `[a].[id]` in MS-SQL.

[2020-01-09 11:32] HLeithner commented on #27438
looking at the Stack Exchange example ```[MAIN-SQL\EXPRESS].[MyApp.Sales].sch_HR.[Products From.Our-Competitors]```seams to be unfixable for quoteName.

I would suggest to not include the database name in the query if possible or to quote it by hand in your database queries.

I'm closing this. Feel free to reopen it.

[2020-01-09 12:02] brianteeman opened #27446 "[4.0] Module Assignment bug Prepared statements (#26364)"
Looks like this is caused by the prepared statement changes in #26364 @SharkyKZ

### Steps to reproduce the issue
Create an admin menu
Create at least one item in the new admin menu
Go to Module manager
Open a site module and go to the menu assignment tab
Select "Only on the selected pages" from the Module Assignment Tab

### Expected result
Tree of all SITE menus and menu items

### Actual result

[2020-01-09 12:23] brianteeman opened #27447 "[4.0] Menu type filter"
### Steps to reproduce the issue
Create an admin menu
Create at least one item in the new admin menu
Select any menu (site or admin)
Try to change the Site/Admin filter

### Expected result
List of menu items changes

### Actual result
Nothing happens. Unless you deselect the Menu filter as well

### Additional comments
Either we get rid of the Site/Admin filter as I doubt it is very useful
OR
Whe

[2020-01-09 12:26] brianteeman opened #27448 "[4.0] Admin menu title"
### Steps to reproduce the issue
Create an admin menu
Create at least one item in the new admin menu
Close that new item and then open it again

### Expected result
![image](https://user-images.githubusercontent.com/1296369/72067672-3c5a5100-32db-11ea-8ba4-2449d1a23713.png)

### Actual result

![image](https://user-images.githubusercontent.com/1296369/72067642-277dbd80-32db-11ea-97bb-95dca51d6f71.

[2020-01-09 12:27] SharkyKZ commented on #27446
Oops, what a silly mistake 🤦‍♂.

[2020-01-09 12:28] #27446 closed, assigned to nobody

[2020-01-09 12:28] SharkyKZ commented on #27446
Please test PR #27449.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27446">issues.joomla.org/tracker/joomla-cms/27446</a>.</sub>

[2020-01-09 12:32] brianteeman opened #27450 "[4.0] Edit Module Settings from menu item"
### Steps to reproduce the issue
Open any menu item
Go to the module assignment tab
Click on any of the module titles

### Expected result
Module opens (in a  modal?) for editing

### Actual result
Nothing

### System information (as much as possible)

### Additional comments

[2020-01-09 12:44] brianteeman commented on #27448
I see now that this is intentional to be displayed and its just a poor design

`	<?php // Add the translation of the menu item title when client is administrator ?>
`

[2020-01-09 12:58] infograf768 commented on #27448
One can call the title: MY_FEATURED_ARTICLES and then create langs overrides for each languages used in admin.
Then the box will show the translated title in the menu and as well when editing the menu item when the translation exists in the admin language used. If no translation, it will show the raw title.

[2020-01-09 13:27] sakiss opened #27452 "[4.0] sql update queries are not executed on Installer "Update Structure" process"
### Steps to reproduce the issue
Add an sql file with the name (4.0.0-2020-01-08.sql) under the folder: administrator/components/com_admin/sql/updates/mysql/mysql

Inside that file put an sql update query.

``UPDATE `#__users` SET `lastResetTime` = NULL WHERE `lastResetTime` = '0000-00-00 00:00:00';``
*This was taken from a previous update script which obviously did not work, hence it's safe for t

[2020-01-09 13:41] SharkyKZ commented on #27452
You're trying to modify data, not update structure.

[2020-01-09 13:42] SharkyKZ commented on #27452
That's exactly what's happening and it's expected behavior.

[2020-01-09 13:46] #27452 closed, assigned to nobody

[2020-01-09 14:03] sakiss commented on #27452
Fine!
Though the sql files are misleading as many of them contain update queries.
Also how can the data change to reflect the schema changes?
For example in the query i mentioned, it previously changed/altered the default value to NULL.

[2020-01-09 14:33] vbv2312 commented on #26639
how to know if the client side verification is happening or not ??
can't reproduce the issue

[2020-01-09 15:28] PedroFLCorreia opened #27453 "Get module parameters"
### Steps to reproduce the issue

I am working on a web site on localhost, had the site in version 2.5.28 so decided to upgrade to version 3.6.5. When I upgraded while accessing the site products, I got the following error.

### Expected result

I expected to see the product list on the site.

### Actual result

PHP Fatal error:  Call to a member function get() on string in D:\Utilizadores\DELL-Pe

[2020-01-09 16:08] PedroFLCorreia commented on #27453
I find a bug in your tracker report

See attachment<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27453">issues.joomla.org/tracker/joomla-cms/27453</a>.</sub>

[2020-01-09 16:39] brianteeman commented on #23887
I have reported this upstream

[2020-01-09 16:57] Quy commented on #27450
See PR #23609

[2020-01-09 17:00] brianteeman commented on #27450
looks like that pr needs a new owner as it has been abandoned

[2020-01-09 18:01] richard67 commented on #27453
Which attachment?

[2020-01-09 19:13] vbv2312 commented on #27331
@SharkyKz thanks but with the help of discussions there i faced issues
1) i cannot replicate the issues on my system
2) i did not understand where was that particular code to be found
3) i don't know how to create a fix on the basis of the comments i got there because they had no end to it .the function joomla.submitform(task,document.getElementbyId()) was called in for all article,newsfeed and us

[2020-01-09 20:00] Quy commented on #27450
See PR #27455

[2020-01-09 20:00] #27450 closed, assigned to nobody

[2020-01-09 20:10] emma113140 opened #27456 "The default module language switcher does not apply good practices SEO"
### Steps to reproduce the issue

Version joomla: 3.9.11
Adress: https://www.memozor.com

I have a Joomla Multilingual site correctly configured.
I followed one by one all the recommendations for a multilingual joomla site.

This is my configuration:
- I use the native joomla for the multilingual, and I don't use any external plugin
- The default language is english
- I have only one module langua

[2020-01-09 21:04] Ankit7Das commented on #26624
I would like to work on it

[2020-01-09 22:21] 810 opened #27459 "[4.0] Autoload Libraries/Media namespace not working"
### Steps to reproduce the issue

Install a libraries plugin or media plugin.

example: [Kunena 6.0 Libraries](https://www.kunena.org/lib_kunena_v6.0.0-ALPHA6-DEV.zip)

on kunena.xml file has

[code]

### Expected result

autoload_psr4.php has the libraries namespace.

### Actual result

No libraries or media dir has been added to the autoload_prs4.php file.

other namespaces has been added:
[code

[2020-01-10 04:48] Quy commented on #26453
https://developer.joomla.org/nightly-builds.html

For V4, see the following from the above link.

[2020-01-10 05:03] ankush-maherwal commented on #26639
@vbv2312 The form is getting submitted even if the required fields are not filled. If the client-side validations are working then the form will not be submitted at all if any required filed is not filled.

[2020-01-10 05:45] dawe78 commented on #27438
Yes, that's right, but as I wrote in my first post, the only thing that needs to be fixed is the select-method in sqlsrv.php on line 775 by adding square brackets for the database name. Its not necessary to use the quoteName-method in this case. The select-method is defined in sqlsrv.php, so square brackets are always the right choice for quoting the database name inside this file.

Code: 'USE ['

[2020-01-10 06:45] Bakual commented on #26624
As a background: It will remember you on that specific browser. So it is not device and not IP based.
The duration in days is set in the "Authentication - Cookie" plugin. It's a maximum duration, in practice it may be invalidated before that time (eg due to browser updates).

[2020-01-10 07:17] SharkyKZ commented on #27459
Right, currently namespace mapper doesn't support libraries.

The plugin method should work but you need to pass the autoloading type (`psr4`) . `JLoader::registerNamespace()` doc block says it should default to `psr4` in 4.0 but that hasn't been done yet.

Note, autoloading is based on filesystem. Directory/file casing must match class names otherwise the code will fail on case sensitive filesyst

[2020-01-10 08:42] HLeithner commented on #27438
If someone write a PR for it would merge it, in J4 we don't support sqlsrv any longer but you can still use the joomla framework to access sqlsrv.

[2020-01-10 09:15] PedroFLCorreia commented on #27453
More an bug in google chrome. I dont can do upload attachment<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27453">issues.joomla.org/tracker/joomla-cms/27453</a>.</sub>

[2020-01-10 09:28] HLeithner commented on #27456
We need this redirect to set the new language for the current user session.

You can add the /en/ to the English version then you don't have an additional redirect.

I'm closing this because there is nothing we can't do about this, feel free to comment or reopen it.

[2020-01-10 09:28] #27456 closed, assigned to nobody

[2020-01-10 09:52] richard67 commented on #27452
When the Joomla update is done using the Joomla Update component, the all sql statements update sql file are executed, i.e. also the `UPDATE` statements. The "Fix" button for structure is only for fixing structure if something goes wrong with the update. The ancient method "copy the Joomla files and then use the database "Fix" button and then discover the extensions is not supported anymore since

[2020-01-10 10:05] dawe78 commented on #27438
I wrote a pull request #27462 but I think I did something wrong... ;-(

[2020-01-10 10:06] HLeithner commented on #27438
your pull request is based on 3.10-dev but have to be based on staging

[2020-01-10 10:12] brianteeman commented on #26753
@HLeithner @SniperSister Anything we can do here or should it be closed?

[2020-01-10 10:36] brianteeman commented on #27438
Its easy to change or @HLeithner can do it for you (I dont have the permissions to do it)

https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/changing-the-base-branch-of-a-pull-request

[2020-01-10 10:39] brianteeman commented on #26937
Unable to replicate this - even at the exact resolution in the report.

I would recommend that this is closed at this time. Maybe one of the gazillion changes since the report fixed it. It can always be reopened.

[2020-01-10 10:43] infograf768 commented on #27456
@emma113140
Please do not post all over the place.
I have replied to you both in the French Forum and in https://forum.joomla.org/viewtopic.php?f=711&t=977013#p3591690

[2020-01-10 10:58] brianteeman commented on #27011
That wont be possible afaict

the versions is only storing the data in #__content. The optional start and finish featured data is in #__content_frontpage

imho displaying that would also be confusing as people may think it is the date that the article was changed to be featured

[2020-01-10 11:25] brianteeman commented on #26921
Was this not resolved by #26912 ?

[2020-01-10 11:36] brianteeman commented on #27214
If you compare two versions of an article you will get the error
`Deprecated: array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead in \joomla-cms\administrator\components\com_contenthistory\Model\CompareModel.php on line 104`

[2020-01-10 11:59] HLeithner commented on #27438
The problem is not the target branch, he used 3.10-dev as source branch. That can't be changed.

[2020-01-10 12:21] brianteeman commented on #27438
Ah - oops

[2020-01-10 13:07] brianteeman commented on #26633
This is necessary as we now support the ability to have unlimited status

[2020-01-10 13:44] Quy commented on #26316
See PR #27461 for Show Frontend

[2020-01-10 13:44] #26316 closed, assigned to nobody

[2020-01-10 14:32] Tanyansp commented on #21258
Подскажите, у меня такая же проблема, но такого кода в index нет. Как решить? ошибка: Error: Call to undefined method Error::get(): Using $this when not in object context

[2020-01-10 15:46] #27011 closed, assigned to nobody

[2020-01-10 15:48] Quy commented on #26633
Closing for stated reason.

[2020-01-10 15:48] #26633 closed, assigned to nobody

[2020-01-10 15:56] brianteeman commented on #26333
Closed see #27465

[2020-01-10 15:56] #26333 closed, assigned to nobody

[2020-01-10 17:10] Quy commented on #26907
Please test PR #27463

[2020-01-10 17:10] #26907 closed, assigned to nobody

[2020-01-10 17:30] Quy commented on #26921
It is a separate issue. See https://github.com/joomla/joomla-cms/pull/26912#issuecomment-549028926

[2020-01-10 17:34] richard67 commented on #26453
The reinstall core button shall reinstall the files from the same version which is already installed, it shall not do an update and not do anything with database.

If you are on the nightly build URL as custom URL then the nightly build is not the same "version" as installed, even if they both are "4.0-beta1-dev", because between the installed software and the current nightly build there might hav

[2020-01-10 19:17] #26937 closed, assigned to nobody

[2020-01-10 20:49] wilsonge commented on #23279
OK Closing this as apparently none of these issues need porting

[2020-01-10 20:49] #23279 closed, assigned to nobody

[2020-01-10 22:30] brianteeman commented on #27448
Closed see #27469

[2020-01-10 22:30] #27448 closed, assigned to nobody

[2020-01-10 22:32] brianteeman commented on #25937
Based on the comments above I believe this should be closed

[2020-01-10 22:33] brianteeman commented on #25921
@zero-24 Do you plan to work on this - it's a great idea

[2020-01-10 22:34] #25937 closed, assigned to nobody

[2020-01-10 22:40] brianteeman commented on #25903
If I read this correctly the issue is that we require strict_mode and with 5 year old (but still supported) versions of mariadb it is not enabled by default. If that is correct then either
1. We document that strict mode is required in the system requirements
2. If possible check for strict mode in the installer

[2020-01-10 22:44] brianteeman commented on #25850
Thanks to #27394 this is no longer an issue

One more release blocker bites the dust

[2020-01-10 23:09] brianteeman commented on #25013
anyone?

[2020-01-11 00:14] wilsonge commented on #26816
Finally got around to this. Please test https://github.com/joomla/joomla-cms/pull/27470

[2020-01-11 00:14] #26816 closed, assigned to nobody

[2020-01-11 07:46] zero-24 commented on #25921
This is not something that I have the time to work on right now.

[2020-01-11 08:35] richard67 commented on #25921
Not sure if I have enough knowledge and time to work on it, but I will help where I can e.g. with testing.

But whoever will work on it, do me one favour: Don't use silly percentage figures like "99.9 % up to date" or "99.9 % healthy" or so like they do in this "alternative backend template" project. Beside the question how such percentages shall be calculated the main problem with them is that th

[2020-01-11 09:30] brianteeman commented on #26050
Note for myself
Show Help - now works correctly

will look at the other two later today

[2020-01-11 10:25] richard67 commented on #27438
@HLeithner Am confused now because to me it looks vice versa:

![pr-27462](https://user-images.githubusercontent.com/7413183/72202889-f7fabc80-3464-11ea-8561-7caffd703c14.png)

Into 3.10-dev from staging ... or am I getting something wrong?

[2020-01-11 10:34] richard67 commented on #27438
@HLeithner I just see it is even worse: The PR wants to merge the CMS' staging branch into the CMS' 3.10-dev branch!!!
![pr-27462_2](https://user-images.githubusercontent.com/7413183/72202984-3a70c900-3466-11ea-949a-7faa62d16238.png)

![pr-27462_3](https://user-images.githubusercontent.com/7413183/72202986-3d6bb980-3466-11ea-988d-df6a442f272e.png)

[2020-01-11 10:42] richard67 commented on #27438
@HLeithner I've posted a link to instructions in the PR.

@dawe78 Please check [https://github.com/joomla/joomla-cms/pull/27462#issuecomment-573304912](https://github.com/joomla/joomla-cms/pull/27462#issuecomment-573304912) and let us know if you need further advise.

[2020-01-11 13:12] brianteeman opened #27475 "[4.0] TinyMCE editor.css"
### Steps to reproduce the issue
Tinymce will load the contents of the editor.css file found in templates/system

By doing this we get various styling applied to the tinymce dropdown menus AND to the pagebreak and readmore lines

The last few lines of that file are
https://github.com/joomla/joomla-cms/blob/0f16a077ffd9874d48d6bd3602719db732620662/templates/system/css/editor.css#L53-L59

Yet only t

[2020-01-11 13:16] 200MPHMEDIA opened #27476 "[4.0] Change Order of Menu Item Types for Articles"
### Steps to reproduce the issue
When creating a Menu Link Item for an Article, when the "Articles" selector is opened, "Archived Articles" (likely the least used), appears at the top, while "Articles" (likely the MOST used), is at the bottom and it is necessary to scroll down to it.

Is it remotely possible that "Articles" (the most used option), be moved to being the first item on the list of Me

[2020-01-11 13:20] Fedik commented on #27475
interesting, if make it `.system-pagebreak { border: gray dashed 1px; color: gray; } ` then it work

[2020-01-11 13:25] brianteeman opened #27477 "[4.0] Drag n Drop Images in TinyMCE kills site"
Well not exactly kills it but it will do eventually

In Joomla 3 a drag and drop image plugin was added so that you could add images to your content more easily and the images would be saved automatically in a specified folder on your server.

In Joomla 4 that isnt working at all

Instead the native tinymce drag and drop image is used. This is a problem because this saves the image as a base64 blo

[2020-01-11 13:25] brianteeman commented on #27476
The list is displayed in alphabetical order

[2020-01-11 13:30] 200MPHMEDIA opened #27478 "[4.0] Blog Layout Ordering"
### Steps to reproduce the issue

When setting up a Blog Layout, the choice to align by parameters and/or by row or column order is missing in Version 4.  RE: Align by date horizontal vs. Align by Title Vertical.  This option should be restored as selectors vs. "classes."

Why?  How man beginning users 1) know what classes are, and 2) know what class to place where for a desired result.

Can anyon

[2020-01-11 13:38] 200MPHMEDIA commented on #27476
Should the list not be ordered for “convenience” vs fixed.

The need to scroll down each time for Articles is not necessary.

Change the name from “Single Article” to “Article-Single” would put it near the top.

Changing “Archived Articles” to “Articles-Archived” would order those two items correctly.

From: Brian Teeman <notifications@github.com>
Sent: Saturday, January 11, 2020 8:26 AM
To: jooml

[2020-01-11 13:46] infograf768 commented on #27476
These naming depend on the language used. What may be OK in English is not necessary correct in other languages.
This should be closed.

[2020-01-11 13:51] ankurshr01 commented on #27478
can I work on this issue?

[2020-01-11 13:53] richard67 commented on #27438
Reopened because PR #27462 was closed due to reasons stated there.

[2020-01-11 14:00] richard67 commented on #27477
@brianteeman Do you think this is a release blocker? To me it seems to be one.

[2020-01-11 14:11] brianteeman commented on #27476
The only thing I could think of would be to change the name so that it has a numerical prefix. That _should_ work in all languages. eg 2.. Archived Articles 1. Categpry Blog

Or you could do it yourself with language overrides as I just did here

![image](https://user-images.githubusercontent.com/1296369/72205543-410a3b00-347c-11ea-9120-057cf9cb8cdc.png)
,

[2020-01-11 14:13] 200MPHMEDIA commented on #27476
Does the back end not change based on language.

In any case, thanks for the push back on helping with the issue.

Guess we just need to “live with it” and keep scrolling down for the most used choice.

From: infograf768 <notifications@github.com>
Sent: Saturday, January 11, 2020 8:47 AM
To: joomla/joomla-cms <joomla-cms@noreply.github.com>
Cc: 200MPHMEDIA <herb200mph@gmail.com>; Author <author@no

[2020-01-11 14:23] 200MPHMEDIA commented on #27478
Have no objection to anyone working on the issue.

We are not code capable, so appreciate your help.

Joomla! 3 had this option for the Blog Layout, yes?

If you refer back to 3, you will find a better configuration of choices for the Category Blog Layout.

We cannot figure out “why” the option choices were removed.

Understand that “classes” may have been added to configure this, but what beginni

[2020-01-11 14:23] #27459 closed, assigned to nobody

[2020-01-11 14:23] SharkyKZ commented on #27459
Please test PR #27479.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/27459">issues.joomla.org/tracker/joomla-cms/27459</a>.</sub>

[2020-01-11 14:25] 200MPHMEDIA commented on #27476
Numbering might make sense.

Problem with “overrides” reverts back to the question of: how many beginner users know how to create/invoke overrides?  So that does not appear to be a proper solution.

In any case, any way that the MOST USED (Articles) should appear on a list before the LEAST USED (Archived Articles) makes sense.

From: Brian Teeman <notifications@github.com>
Sent: Saturday, January

[2020-01-11 14:46] rajkumaar23 commented on #26881
Hi @Giuse69  , I'm all new to Joomla. Could you please let me know what I can do to fix this issue ?