[2022-01-17 17:46] Quy commented on #36720
Please read the code. If client_id is null, display nothing and don't display the logout button.

[2022-01-17 17:49] brianteeman commented on #36720
Your not listening - I give up!!

[2022-01-17 17:51] sjb1963 commented on #36720
Kind of completely invalidates the usefulness of "shared sessions" if you ask me.
Why screw with something that was working fine? To make it look and act even MORE like Wordpress?

[2022-01-17 17:53] brianteeman commented on #36720
Shared sessions is just a way to have you logged in on the frontend when you are logged in to the admin. Thats all. It is NOT enabled by default. It's something that some people will find useful but not all.

[2022-01-17 17:56] Quy commented on #36720
Sorry, I understand your point now. I am trying to explain why the Login button won't display under Shared Session.

shared = nothing
1 = Administration
0 = Site + login button

[2022-01-17 17:57] brianteeman commented on #36720
I understood why ;)

[2022-01-17 18:08] brianteeman commented on #36720
@quy I understand the code why the logout button doesnt appear I am just wondering why it has been setup this way as this limitation was not present in j3. My apologies to @sjb1963 for not checking that - I thought shared sessions was new to j4

[2022-01-17 18:14] sjb1963 commented on #36720
So, if it's true then that "Shared Sessions" serves no other useful purpose than to allow a person with the proper rights to login to the back end and "share" that login with the front end - if that is true, then...

Wouldn't it be safe to say there is an issue with the display of the "logout" button that has nothing to do with shared sessions?

[2022-01-17 18:20] richard67 commented on #36718
@galamarco Is this issue about the (old) search component, com_search? Or is it for the new Smart Search, com_finder?

If it is for com_search, it could be a duplicate of #34724 , and the issue should be opened in the search repository here: https://github.com/joomla-extensions/search/issues .

[2022-01-17 18:25] brianteeman commented on #36718
based on the url it is the old com_search

[2022-01-17 18:30] richard67 commented on #36718
Thanks, I saw it now, too.

[2022-01-17 19:25] richard67 commented on #36720
@sjb1963 What is the use of shared sessions for you, and why do you want to be able to force logout a user in a shared session who might currently be logged in in backend?

To me it seems that you just insist in this issue to be an issue because you don't want to change your opinion, regardless of any explanations or reasons.

What does that issue here have to do with look abd act of Wordpress? Th

[2022-01-17 19:35] dagroupinc opened #36722 "Invalid field: Log Priorities"
### Steps to reproduce the issue
Following Joomla 4 Installation, when configuring the following:

### Expected result
Successfully Saved Settings

### Actual result
When saving any of the above settings the setting was not saved and we received the following error message: Invalid field: Log Priorities

### System information (as much as possible)
Joomla 4.0.5
PHP 7.4.27

### Additional comments

[2022-01-17 19:36] sjb1963 commented on #36720
As I have repeatedly stated, I want the ability to log a user off of the front end, from the back end - just like in Joomla 3.x, and not be told it's a "feature".

This was a very simple question to which you @richard67 have not contributed one useful insight or solution.

Call me a troll if you like - I.do.not.care.

[2022-01-17 19:51] Quy commented on #36718
Thank you for the report. Please post your issue to https://github.com/joomla-extensions/search/issues.

[2022-01-17 19:51] #36718 closed, assigned to nobody

[2022-01-17 19:53] richard67 commented on #36720
@sjb1963 Switch off the shared sessions option and you can do that as you like.

So what’s your problem?

[2022-01-17 19:57] richard67 commented on #34724
@Hackwar I just see this issue here is for 3.x where search is part of the core. Should we really move this to the search repository?

[2022-01-17 20:05] sjb1963 commented on #36720
Look up Richard. Read what was written before you. I'm not going to justify a single thing to you about why I want to use a single feature of Joomla, or how I use it.

This is a bug. I have reported it that way. Its clear from what has been said that this is not the way it should work.
Unless you are actively trying to solve this issue, please refrain from actually BEING a troll on my post. Thank

[2022-01-17 20:10] Hackwar commented on #34724
To be honest, I would consider this a wontfix for 3.x and only fix it in the 4.0 version in the standalone repo. However I don't even know what the functions/methods involved here are supposed to do. I'm not sure why we can't simply use htmlspecialchars() or something similar...

[2022-01-18 02:25] nobicycle opened #36724 "API Errors"
### Steps to reproduce the issue
TOKEN=c2hhMjU2OjczMzo5NmFhZWRkYWYyNDEyZDA3MjAyMDk1YjA1NzJjOTZmYTc2NTJlMDY0ZjQ2NmJlZGNhNDhkNTA2MjQ5NjUwMzU2
curl -H "Authorization: Bearer $TOKEN" 'http://joomla4.localdomain/api/index.php/v1/tags'

### Expected result
Json output

### Actual result
[code]

### System information (as much as possible)

Proof the base URL is OK:

[code]

![2022-01-18 10 18 45 joomla4

[2022-01-18 06:41] ditsuke commented on #36453
@niharikamahajan02 I believe we can leave the behavior as-is once it is renamed to just "Run task", however if the alternative behavior is needed it might require some changes in the Task driver class or just the place where $task->run() is being called. It should make for another PR however so you should limit the scope of #36725 to just the language. :)

[2022-01-18 07:58] PhilETaylor commented on #36453
This is absolutely needed! Any manual runs should have no effect on the scheduling of the next run. There are legitimate reasons for having the ability to be able to ad-hoc run a task.

For example, if a task is to run a backup, you might want to run several manual backups, not effecting the weekly schedule - just an example.

[2022-01-18 10:47] #36701 closed, assigned to nobody

[2022-01-18 10:48] PhilETaylor commented on #36724
4.0.6 was released a few hours ago - please try that

[2022-01-18 10:53] alikon commented on #36724
you need to have only 1  api-authentication  plugin enabled

[2022-01-18 10:53] drmenzelit commented on #36634
Moving this to discussions

[2022-01-18 10:53] #36634 closed, assigned to nobody

[2022-01-18 11:09] richard67 commented on #36453
@PhilETaylor Could you check if PR #36725 and if yes, close the issue here, or if no report back there in the PR what's missing? The author of the PR is a new contributor so he might need some advise in case if something's missing. Thanks in advance.

[2022-01-18 11:28] HLeithner commented on #36720
Hello @sjb1963,

first of all thanks for reporting this issue and tbh honest using a rude language doesn't help much. Any way the behavior change is actually a security measure to be consistent with the behavior that you can't log out users from the backend.
The reason for this that nobody should be able to logout a super user (not even another super user).

Never the less this behavior can be imp

[2022-01-18 11:39] brianteeman commented on #36720
@HLeithner wont this lead to confusion where only some users are listed with a logout button?

[2022-01-18 11:47] HLeithner commented on #36720
per default only super users wouldn't have a logout but and only super users can see the logout button... but yeah an info on docs  (or somewhere else) would make sense why you can't logout a super user. Maybe there is already a docs entry?

[2022-01-18 12:09] ditsuke commented on #36453
Absolutely, I can see the use case now! Once the current PR to rename it gets through I'll work on making this possible.

[2022-01-18 12:12] richard67 commented on #36453
@ditsuke You mean #36725 ? Or is there another one I am not aware of?

[2022-01-18 12:13] ditsuke commented on #36453
@richard67 the current PR does not take care of:
- Ensuring manual runs cannot be executed by public users.
- Modifying manual runs so that they no longer affect the next planned execution of the task.

I believe these should be dealt with in a separate PR.

[2022-01-18 12:16] richard67 commented on #36453
So according to the description of this issue, PR #36725 would solve it. The other aspects came up later in the discussion. So if we shall keep this issue open, title and description should be adjusted so they cover the other issues, too, beside the naming thing.

[2022-01-18 12:17] ipresencesa opened #36730 "Internal Server Error 500"
### Steps to reproduce the issue
After updating to Joomla 4.0.6 I ran the site audit using an SEO tool.

### Expected result
All redirected URLs should be redirected to new URLs.
Example: https://www.allmaids.co.za/gardeners --> https://www.allmaids.co.za/domestic-placements/gardeners

### Actual result
Internal Server Error 500 on all on previously working redirects.

### System information (as m

[2022-01-18 12:19] brianteeman commented on #36730
that redirect is working for me

[2022-01-18 12:22] richard67 commented on #36453
For the permission thing ("Ensuring manual runs cannot be executed by public users.") I think there is issue #36677 and PR #36719 , or is that something else?

For the "Modifying manual runs so that they no longer affect the next planned execution of the task." it would need a new issue if we close this here.

[2022-01-18 12:35] richard67 commented on #36730
For me, too ... I clicked the first URL in the example and got redirected to the 2nd.

Maybe that SEO tool uses a user agent which is blocked by an .htaccess rule for blocking bad user agents, like it is created by certain tools, i.e. not the default from the htaccess.txt coming with Joomla?

But on the other hand, that should not return a 500.

@ipresencesa Does the redirect work for you when tes

[2022-01-18 12:53] #36586 closed, assigned to nobody

[2022-01-18 13:08] ditsuke commented on #36453
The issue/PR do not take care of public permissions yet, but I think we could include them since they're pretty close!

@PhilETaylor

[2022-01-18 13:16] ipresencesa commented on #36730
The SEO tool is working fine after I downgraded to 4.0.5

I found that it happens only with first level redirects.

Example:

https://www.allmaids.co.za/gardening-services

but not

https://www.allmaids.co.za/domestic-services/gardening-services

I don’t understand which it works immediately after downgrading without changing anything.

I will try upgrading again and give an update.

From: Richard

[2022-01-18 13:22] niharikamahajan02 commented on #36453
Ok sir!

[2022-01-18 13:23] ipresencesa commented on #36730
Nope, the tool and the browser give same errors.

Updating again gives same error 500.

From: Richard Fath ***@***.***>
Sent: 18 January 2022 02:36 PM
To: joomla/joomla-cms ***@***.***>
Cc: ipresencesa ***@***.***>; Mention ***@***.***>
Subject: Re: [joomla/joomla-cms] Internal Server Error 500 (Issue #36730)

For me, too ... I clicked the first URL in the example and got redirected to the 2nd.

M

[2022-01-18 13:28] brianteeman commented on #36730
and have you done what it tells you to do?

[2022-01-18 13:33] richard67 commented on #36730
Besides documentation block changes I see no other changes in the code of com_redirect between 4.0.5 and 4.0.6 so I have no idea why that should change behaviour after an update.

[2022-01-18 13:35] brianteeman commented on #36730
But if you follow the instructions we will have a better idea

[2022-01-18 13:36] richard67 commented on #36730
@brianteeman You mean me? If so, which instructions?

[2022-01-18 13:37] brianteeman commented on #36730
no I mean  @ipresencesa and the instructions on the 500 error page

[2022-01-18 13:44] ipresencesa commented on #36730
The following is the output after Debug = true

Error

in  <https://www.allmaids.co.za/how-it-works> /home1/allmalvb/public_html/plugins/system/redirect/redirect.php (line 243)

238.                 // Always count redirect hits

239.                 $redirect->hits++;

240.

241.                 try

242.                 {

243.                     $db->updateObject('#__redirect_links', $redirect

[2022-01-18 13:45] ipresencesa commented on #36730
The extended output:

Error

in  <https://www.allmaids.co.za/how-it-works> /home1/allmalvb/public_html/plugins/system/redirect/redirect.php (line 243)

238.                 // Always count redirect hits

239.                 $redirect->hits++;

240.

241.                 try

242.                 {

243.                     $db->updateObject('#__redirect_links', $redirect, 'id');

244.

[2022-01-18 14:46] richard67 commented on #36730
Closing as having a pull request. Please test #36733 . Thanks in advance.

@ipresencesa Just apply the change of that PR on your 4.0.6 and check if it helps. If it does, please mark the test result in the issue tracker here https://issues.joomla.org/tracker/joomla-cms/36733 by using the "Test this" button, selecting the appropriate test result and submitting. Thanks in advance.

[2022-01-18 14:46] #36730 closed, assigned to nobody

[2022-01-18 15:31] drmenzelit commented on #36722
Go to global configuration -> Logging and check that the Log Priorities field is not empty, All is the standard value. Save and then try to change the configuration again. It should work.

[2022-01-18 15:38] sjb1963 commented on #36720
This was a very simple issue about ADMINISTRATION.

AN ADMINISTRATOR SHOULD BE ABLE TO LOG A USER OUT FROM THE BACKEND.
**Basic Administrative functionality.**

That's all. **Nothing else.** This post was not about ANYTHING else.

STILL NO SOLUTION.

I have REASON to be pissed off.

I've had people who didn't even know this feature was IN Joomla 3 - let alone in Joomla 4 - commenting, people who d

[2022-01-18 15:41] richard67 commented on #36720
@sjb1963 Just for the records in case if you later delete your post as a proof that is was you who started to offend people here and so violate the code of conduct.

[2022-01-18 15:44] akuropka commented on #36614
Hi @zero-24,

thank you for your reply in detail.

That may be that there have not been any stable builds most recently but now the stable is offered again, everything as you indicated. I think the proposed solution is workable. The disadvantage is that by default frequently update notices are sent by email which is a good feature in General.

I will be switching to the default channel now as I ca

[2022-01-18 15:44] #36614 closed, assigned to nobody

[2022-01-18 15:46] sjb1963 commented on #36720
And Still the issue goes unresolved.

[2022-01-18 15:48] richard67 commented on #36720
If users offend contributors who spend their free time without payment for Joomla so they stop to contribute so there are too few contributors at the end because it is not fun being offended, you should not expect issues to be solved quickly.

[2022-01-18 15:51] sjb1963 commented on #36720
That's right, this is MY fault.

Thank you for making my point.

[2022-01-18 16:09] richard67 commented on #36724
@nobicycle Please disable the "API Authentication - Web Services Basic Auth" and report back if the error persists or not. Thanks in advance.

[2022-01-18 16:19] Fedik commented on #36720
I closing it as expected behavior for Joomla 4 when Shared session is enabled.
If you want to be able to force Site User to logout, please disable shared session.

[2022-01-18 16:19] #36720 closed, assigned to nobody

[2022-01-18 16:38] pritam825 commented on #36453
Can I work on this issue,or  it's already solved

[2022-01-18 16:45] rdeutz commented on #36720
@sjb1963 I give you a week to think about your behaviour.

[2022-01-18 17:01] drmenzelit commented on #36668
I can confirm the issue

[2022-01-18 17:33] crystalenka opened #36734 "[J4.x] Media fields in non-repeatable custom fields subform toggle display on save"
Buckle up, folks, this is a weird one.

### Steps to reproduce the issue
1. Create a media custom field. Configuration doesn't matter.
2. Create another custom field, any type but media. Configuration doesn't matter.
3. Create a subform with those two fields. **Set the "Repeatable" toggle to no. (This is important!)**
4. Open an article with the subform field. Fill out the fields, or don't. It doe

[2022-01-18 17:39] brianteeman commented on #36734
confirmed

[2022-01-18 17:40] crystalenka commented on #36734
Thanks Brian. Felt like I was going crazy for a while!

[2022-01-18 17:40] brianteeman commented on #36734
that;s why I quickly posted a confirmation. No idea on the solutions (yet)

[2022-01-18 17:42] richard67 commented on #36734
Maybe something for @Fedik ?

[2022-01-18 17:42] richard67 commented on #36734
I wish we always had such precise instructions on how to reproduce an issue.

[2022-01-18 17:45] brianteeman commented on #36734
Must be related to the subform NOT being repeatable as everything works as expected when it is repeatable

[2022-01-18 17:50] crystalenka commented on #36734
Yup, that's why I included the important note on that step. :)

[2022-01-18 17:58] brianteeman commented on #36734
About to start filming but I found the problem Maybe someone else will write the fix while I am filming

The record saved in #__filed_values when it is not a reapeatable subform

{"field3":{"imagefile":"","alt_text":""},"field4":""}

The record saved in #__filed_values when it is a repeatable subform

{"row0":{"field3":{"imagefile":"","alt_text":""},"field4":""}}

Adding the "row0" container to th

[2022-01-18 19:20] PhilETaylor commented on #29942
@wilsonge added the Release Blocker label on 18 Aug 2021

Im guessing, as there have been multiple releases since then, that this is not a release blocker after all and can have that label removed.

[2022-01-18 19:22] PhilETaylor commented on #35920
@zero-24 added the Release Blocker label on 20 Nov 2021

Im guessing, as there have been releases since then, that this is not a release blocker after all and can have that label removed.

[2022-01-18 19:47] zero-24 commented on #35920
@PhilETaylor This is correct after that release an "workaround" has been implemented by not delivering said broken update packages. Still this is an issue that should be looked at and fixed, will take down the label for now while it is defenitly not a ideal solution at all.

[2022-01-18 19:51] Hackwar commented on #26436
Ok, I looked into this again and we actually have this behavior implemented. Smart Search differentiates between the simple and the advanced form for searches and in case of the simple form, it directly submits the form upon selecting the suggestion. However, when you have an advanced form, so with additional fields for taxonomies, etc., then the form is not submitted directly.

Long story short:

[2022-01-18 21:17] crystalenka commented on #36734
I think the answer is in `plugins/fields/subform/subform.php`, possibly rows 174-177 because that's where the plugin tries to account for the non repeatable subform. I have no idea how to debug it but I suspect something is not working as expected there when the subform has a media field?

I don't know, I'm wayyyy out of my depth here.

[2022-01-18 21:38] Hackwar commented on #32402
How about
Manage the update sites for extensions and Joomla.

[2022-01-18 21:45] Hackwar commented on #29121
So... Joomla 3.10 was the last version with new features and adding such a switch would really be a new feature. By that, we can't introduce such a switch for J3.x anymore and for J4 this issue is solved by not including mootools at all anymore. For 3.x, you can use third party extensions to remove mootools. Thus I would vote to close this issue as WONTFIX.

[2022-01-18 21:52] richard67 commented on #29121
That's right. Closing for the reasons stated above.

[2022-01-18 21:52] #29121 closed, assigned to nobody

[2022-01-18 21:54] Hackwar commented on #30449
Yes, this is a good codestyle, however as @brianteeman stated, pull requests would be welcome. Otherwise I would vote to close this issue for now.

[2022-01-18 22:26] dagroupinc commented on #36722
That was also one of the issues. When we entered 'Critical' into the Log Priorities field we got the same error {Invalid field: Log Priorities} and Joomla wouldn't save the option. The only way we could save ANY config on this teb was to make the changes directly in the configuration.php file.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Applica

[2022-01-18 22:30] nikosdion commented on #36734
I have figured it out. It's a “simple” matter of data format discrepancy. I will submit a PR for 4.1 very soon.

[2022-01-18 22:56] nikosdion commented on #36734
There you go. It should fairly simple to test.

BTW, neither Brian nor Crystal got the right reason. Since Crystal asked me how did I debug it: The only way to figure out what is going on was to go through a debugger and walk backwards from the subform rendering. After several false starts, I hit `Joomla\CMS\Form\Field\SubformField::getInput` where I observed that the `$forms[0]` would include the

[2022-01-18 22:58] brianteeman commented on #36734
yeah I just got back from filming. My main priority was to confirm the bug

[2022-01-18 23:00] richard67 commented on #36734
Closing as having a pull request. Please test #36736 . Thanks in advance.

[2022-01-18 23:00] #36734 closed, assigned to nobody

[2022-01-19 00:37] #26436 closed, assigned to nobody

[2022-01-19 04:22] nobicycle commented on #36724
Thanks for replies.

Using a freshly installed 4.06 without  "API Authentication - Web Services Basic Auth"  disabled, obviously with new token, I get the same error.

[code]
Also with a different request (users) ... the same

[code]

[2022-01-19 06:29] alikon commented on #36668
fixed by #36736

[2022-01-19 06:29] #36668 closed, assigned to nobody

[2022-01-19 09:12] brianteeman commented on #36423
closing as the rc is now available on the testing channel

[2022-01-19 09:12] #36423 closed, assigned to nobody

[2022-01-19 09:42] Fedik commented on #36724
To me it looks like server error, wrong path or something.

[2022-01-19 10:46] alikon commented on #36724
made i quick test with nginx and confirm what is reported all fine with apache

[2022-01-19 11:25] #35013 closed, assigned to nobody

[2022-01-19 14:47] mrownicki opened #36744 "[4.0] Com Redirect not working"
Hi. Core extension redirect not working in J4.x

### Steps to reproduce the issue
Make redirect /custom to /exist-alias-url
simple redirect 301

### Expected result
redirect to /exist-alias-url

### Actual result
Error 500

Error:
Call to a member function updateObject() on null

  at nowa/plugins/system/redirect/redirect.php:243
  at PlgSystemRedirect->handleError(object(ErrorEvent))
     (nowa/l

[2022-01-19 15:20] pmleconte commented on #36744
Please check https://github.com/joomla/joomla-cms/pull/36733

[2022-01-19 15:22] richard67 commented on #36744
Closing as duplicate repost, see precious issue #36730 and pull request #36733 for the solution.

@mrownicki To solve the problem, apply the changes from that pull request. A FAQ document for 4.0.6 will be written soon.

[2022-01-19 15:22] #36744 closed, assigned to nobody

[2022-01-19 15:24] DSist commented on #36643
It is not about the suggestion list font, it is about temporary substitution font while you hovering over the suggestion list. I have no idea where this temporary substitution takes font parameters from as DevTools is of no help here, is is not only about font size, it is about the font family too. I have described above how to reproduce the issue.

[2022-01-19 16:01] mrownicki commented on #36744
@richard67
Thank you! Great info!
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36744">issues.joomla.org/tracker/joomla-cms/36744</a>.</sub>

[2022-01-19 19:20] okynnor opened #36745 "Media module doesn't display images after upload"
### Steps to reproduce the issue

Go to the Images module
Upload an image
It will show up once -- sometimes
but notice that other priorly uploaded images do not display anymore.
Also if close image module and return, the last uploaded images won't show anymore too.

### Expected result

Show all images uploaded now and before

### Actual result

no images gets displayed

see this video: https://re

[2022-01-19 20:07] pritam825 commented on #36745
@okynnor I have checked, I haven't faced any issue, I am able to see the photos, can you please reinstall and check again, thanks :)

[2022-01-19 20:25] pritam825 commented on #36620
@Scrabble96 , can you please post the screenshot of these, because I am worked and familiar with 4.0 and 4.1, but I can solve this issue to, can you please help me by posting the scrrenshots, thanks :)

[2022-01-19 23:08] Hackwar commented on #35688
I assume this is a duplicate to #12829.

[2022-01-20 00:34] Quy commented on #35622
Can this be closed?

[2022-01-20 01:09] Quy commented on #36274
Please test PR #36531. Thanks.

[2022-01-20 08:47] Shubhamverma2796 commented on #36302
please test #36754.

[2022-01-20 08:51] richard67 commented on #36302
Closing as having a pull request. Please test #36754 . Thanks in advance.

[2022-01-20 08:51] #36302 closed, assigned to nobody

[2022-01-20 08:58] derMaxi opened #36755 "Update to Joomla 4.0.6 not possible"
### Steps to reproduce the issue

![image](https://user-images.githubusercontent.com/45736810/150305437-3185faed-e01b-4061-beac-e5e10f63ae53.png)
Click on update.

### Expected result

Joomla should show the update and let me update.

### Actual result

![image](https://user-images.githubusercontent.com/45736810/150305663-46babdd8-6ca6-44f3-84f8-0c7752742595.png)

### System information (as much a

[2022-01-20 09:04] zero-24 commented on #36755
Please upgrade your mysql version mysql 5.5.68 is not supported for J4. The minimum is 5.6 ;-)

https://downloads.joomla.org/de/technical-requirements-de

[2022-01-20 09:09] rgtr commented on #35622
Yes of course.
The cleaning up process remains ....
Richard

[2022-01-20 09:16] richard67 commented on #36755
And when that worked for you close this issue please. Thanks in advance.

[2022-01-20 09:18] Scrabble96 commented on #36620
Here you are. The 'event description' field is a text area field. I have tried 200, 600, etc but the culprit is the text-area width code on line 912 of the Isis template.css

![text-area-custom-field-cols](https://user-images.githubusercontent.com/36987494/150307952-74e317ba-fe1b-41cd-b804-667b3daf4b73.jpg)

If you block that code, the text area custom field ```cols="n"``` comes into play:

![text

[2022-01-20 09:22] dawe78 opened #36756 "Fancy-Select: remove old options on requestLookup()"
### Is your feature request related to a problem? Please describe.
Some fancy select fields need to be reloaded via ajax if other form values were changed. To do that, you can call requestLookup() method in joomla-field-fancy-select class (media/system/js/fields/joomla-field-fancy-select.js). But if select field has options before calling request method, new items will be added to old options, but

[2022-01-20 09:47] StefanSTS commented on #36151
On Joomla 4.0.5 to 4.0.6 update the "quadruple" problem is fixed.
Only one screen appeared in the update process.
Only one checkbox to tick.
So the major issue is solved.

Missing would be a change of the label like suggested above.
Does anyone have a better suggestion for COM_JOOMLAUPDATE_UPDATE_CONFIRM_BACKUP?

My version is quite long, so there might be some native English speaking person who g

[2022-01-20 09:53] richard67 commented on #36151
I do not see the need to change that text. In my opinion the 2nd part of the sentence "and have made a backup." shows what being prepared means.

But maybe we should ask a native speaker.

@brianteeman Do you think the text could or should be improved as suggested in [this comment above](https://github.com/joomla/joomla-cms/issues/36151#issuecomment-981569419)?

[2022-01-20 09:57] brianteeman commented on #36151
Is this even still relevant. I thought there was a PR that changed this

[2022-01-20 09:59] richard67 commented on #36151
Hmm, I've just checked if the string is different in the 4.1-dev branch, but it's the same as in 4.0-dev, and that hasn't changed compared to the above comment.

[2022-01-20 10:00] richard67 commented on #36151
@brianteeman Would the text suggested by @StefanSTS be ok?

[2022-01-20 10:01] brianteeman commented on #36151
#36531 changed this didnt it?

[2022-01-20 10:01] richard67 commented on #36151
@brianteeman The quadruple times problem is not relevant anymore. The remaining point is only if the "COM_JOOMLAUPDATE_UPDATE_CONFIRM_BACKUP" text can or should be improved.

[2022-01-20 10:51] jschmi102 opened #36757 "[3.10] Progessive caching disables style setting"
When progressive caching is enabled inline style settings of module is ommitted.
Module creates style definition via "addStyleDeclaration". Definition is successfully created - but only once! Then on all following pages style setting is gone (means "addStyleDeclaration" will not be executed anymore). This problem does not happen with Version 4.0.x

[2022-01-20 11:43] zero-24 commented on #36757
Hmm when did this happen or changing and do you have an example extension to test with?

Please also show us the exact configuration options set compared to the default settings so we can reproduce and debug the issue.

[2022-01-20 12:13] jschmi102 commented on #36757
Hi,
Module issues:` $document->addStyleDeclaration($stylesheet);`
This results (correctly) in style definition:
[code]
Setting Joomla's Global Configuration->"System ->System cache->ON Progressive caching" will cause problem.
First call will setup module layout on page correctly - subsequent calls (e.g. "reload page") will omit style setting and layout of module is incorrect as style definition is

[2022-01-20 12:31] pritam825 commented on #36459
can I do like if it fails then run test color becomes red, and if passed then it will become green, can I work in this direction?

[2022-01-20 12:31] pritam825 commented on #36459
should we change the run test button name also, shouldn't it be Run Task?

[2022-01-20 12:43] Scrabble96 opened #36758 "[4.0] Hits and ID columns disappear in Articles list view in Admin (Atum template)"
### What needs to be fixed
Both the 'Hits' and 'ID' columns (th and td) have class ```d-lg-table-cell```. All the others have ```d-md-table-cell```
(In modules view, the 'ID' column has ```d-md-table-cell```)

### Why this should be fixed
When the screen is less than 992px wide these two columns disappear

### How would you fix it
Change ```d-lg-table-cell``` to ```d-md-table-cell```
Where, I have

[2022-01-20 12:59] nobicycle commented on #36724
Since apache was confirmed above OK, I tried it:

I have apache  2.4.52 running on port 8011
The Cassiopea website opens fine. API Authentication - Web Services Joomla Token plugin enabled
Same Token

It produces **401 Unauthorized**

[code]

Server config:
[code]

[2022-01-20 13:06] alikon commented on #36724
can you try the following

[code]
or via postman  when your server is apache

[2022-01-20 13:16] ditsuke commented on #36459
@pritam825 I'm afraid I'd done some work on this issue already. I've tried a group of indicators and think I finally settled on one so PR comes soon.

[2022-01-20 13:23] brianteeman commented on #36758
No idea but when the columns pr is merged it will be redundant

[2022-01-20 13:28] brianteeman commented on #36459
No - you must never rely on color alone as an indicator for anything.

[2022-01-20 13:32] jschmi102 commented on #36757
hi,
when checking my module's setting I found that "$document->addStyleSheet" does work correctly - only
$document->addStyleDeclaration seem to be affected and cause problem.

[2022-01-20 13:48] richard67 commented on #12829
Closing as there is a pull request. Please test #36747 . Thanks in advance.

[2022-01-20 13:48] #12829 closed

[2022-01-20 15:11] StefanSTS commented on #36151
In Joomla 4.0.6 it is
COM_JOOMLAUPDATE_UPDATE_CONFIRM_BACKUP="I'm prepared for the update and have made a backup of the files and database."

In 4.1 dev at this time it is the same:
https://github.com/joomla/joomla-cms/blob/4.1-dev/administrator/language/en-GB/com_joomlaupdate.ini

As I expressed earlier, there is not always a good reason to make a backup. Test sites e.g., if it breaks it will be

[2022-01-20 15:17] #36632 closed, assigned to nobody

[2022-01-20 15:39] #36755 closed, assigned to nobody

[2022-01-20 15:40] richard67 commented on #36755
Thanks for reporting back.

[2022-01-20 16:17] niharikamahajan02 commented on #36453
I have already submitted a PR for this issue .But did not solve  Ref: (https://github.com/joomla/joomla-cms/issues/36453#issuecomment-1001793962)  , so if you want you may resolve this (if no one is working on it). Thanks.

[2022-01-20 17:04] richard67 commented on #35977
Closing as having a pull request. Please test #36759 . Thanks in advance.

[2022-01-20 17:04] #35977 closed, assigned to nobody

[2022-01-20 19:01] Hackwar commented on #26876
I'm sorry, but @mbabker is right here. We can't simply assume everybody is using Apache and we can't force everybody to use mod_rewrite SEF URLs, etc. The simple fact that there are thousands of websites out there without mod_rewrite URLs and we would invalidate all their URLs by forcing them to use mod_rewrite, makes this a non-starter. Yes, we can improve Joomla quite a bit, but your proposals a

[2022-01-20 19:04] Hackwar commented on #27929
As @infograf768 wrote, this is definitely the case for at least Joomla 4.0 and I think also for 3.x. Thus this issue can be closed.

[2022-01-20 19:06] #27929 closed, assigned to nobody

[2022-01-20 19:15] dieseitenwerkstatt opened #36760 "Button fur submit batch process in administrator menus not existent"
### Steps to reproduce the issue
**Create additional admin menu**
- switch to administrator/index.php?option=com_menus&view=menus
- switch to "Administrator" in top left
- Click New and create Menu

**create menu entries in the new menu**
- switch to menu entry editing: administrator/index.php?option=com_menus&view=items&menutype=NEWMENU
- add some entries in the newly created menu

**try to move

[2022-01-20 19:45] brianteeman commented on #36760
The submit button **is** present only when you have more than one admin menu. This is obviously wrong.

[2022-01-20 20:18] Hackwar commented on #34377
#36749 should fix this.

[2022-01-20 20:21] richard67 commented on #34377
Closing as having a pull request. Please test #36749 . Thanks in advance.

[2022-01-20 20:21] #34377 closed, assigned to nobody

[2022-01-20 20:30] richard67 commented on #29386
I think this can be closed meanwhile.

[2022-01-20 20:30] #29386 closed, assigned to nobody

[2022-01-20 20:38] chmst commented on #28239
Closing as it seems to be fixed in j4. @gbonnefille if the problem still exist for you, please  comment and we can re-open the issue.

[2022-01-20 20:39] chmst commented on #33126
Closing as there is PR

[2022-01-20 20:39] #33126 closed, assigned to nobody

[2022-01-20 20:44] #35622 closed, assigned to nobody

[2022-01-20 22:36] cmbr commented on #28442
Apparently what I was trying to do is not possible, at least in that old version of Joomla. Perhaps this issue should now be closed.

[2022-01-20 22:58] Quy commented on #36760
Closing as having a pull request. Please test #36762 . Thanks in advance.

[2022-01-20 22:58] #36760 closed, assigned to nobody

[2022-01-20 23:05] richard67 commented on #28442
Closing as stated above. Thanks for reporting back.

[2022-01-20 23:05] #28442 closed, assigned to nobody

[2022-01-20 23:35] nobicycle commented on #36724
[code]

[2022-01-21 00:59] Quy commented on #33714
#25489

[2022-01-21 01:00] Quy commented on #25489
Consolidate with #33714

[2022-01-21 01:00] #25489 closed, assigned to nobody

[2022-01-21 05:57] pritam825 opened #36763 "[4.1] Scheduled Taks Help button instruction isn't useful"
### Steps to reproduce the issue

go to Scheduled Tasks click on help button

### Expected result
the content in the page after clicking the help button, should be useful and helpful

### Actual result
there isn't any helpful content in the page after clicking the help button

### Additional comments
if it won't be the part of issue then I will close this.

![Screenshot (1904)](https://user-images

[2022-01-21 07:26] drmenzelit commented on #36745
You are talking about the media manager, not an image module. I can't reproduce the problem, but I don't have a Docker container. Can you please check the browser console for errors or blocked content? You can also try deleting browser cache and another browser.

[2022-01-21 07:45] alikon commented on #36724
so with apache it's working  right ? @nobicycle

[2022-01-21 08:28] jschmi102 commented on #36757
this is interesting... if i change
 `$document->addStyleDeclaration($stylesheet);`
into
[code]
which creates same html-code the problem disapears - seems that addStyleDeclaration interferes so with caching configs that a problem may be created.

[2022-01-21 09:34] nobicycle commented on #36724
Requests below  ... OK
[code]
But articles ... after creating one, title 'test', article-text  'test' and saving ...

[code]

[2022-01-21 09:45] nobicycle commented on #36724
Hi alikon, I replied o you above.
Any idea how to debug nginx?

[2022-01-21 10:04] nobicycle commented on #36724
Single Menu Fails
[code]

All menus is OK```

$ curl --location --request GET 'http://joomla4.localdomain:8011/api/index.php/v1/menus/site' --header "X-Joomla-Token: $TOKEN" --data-raw  ''
{"links":{"self":"http:\/\/joomla4.localdomain:8011\/api\/index.php\/v1\/menus\/site"},"data":[{"type":"menus","id":"1","attributes":{"id":1,"menutype":"mainmenu","title":"Main Menu","description":"The main menu

[2022-01-21 11:27] pritam825 commented on #36758
https://github.com/joomla/joomla-cms/pull/36767
can you please test this?

[2022-01-21 11:30] richard67 commented on #36758
Closing as having a pull request. Please test #36767 . Thanks in advance.

[2022-01-21 11:30] #36758 closed, assigned to nobody

[2022-01-21 12:09] richard67 commented on #36763
@brianteeman Do I assume right that this issue here is a duplicate to your issue #36713 ?

[2022-01-21 12:10] brianteeman commented on #36763
No

[2022-01-21 12:11] richard67 commented on #36763
It's a CMS issue or an issue with the help docs?

[2022-01-21 12:12] brianteeman commented on #36763
#36713 is a cms issue http://localhost/joomla-cms/administrator/index.php?option=com_admin&view=help

[2022-01-21 12:13] richard67 commented on #36763
@brianteeman I mean this one here.

[2022-01-21 12:13] brianteeman commented on #36763
this one is a docs issue i believe

[2022-01-21 12:16] richard67 commented on #36763
@brianteeman Just found your PR #36714 ... does that solve this issue here? To me it reads as if so.

[2022-01-21 12:17] richard67 commented on #36763
.. Hmm, on a deeper look maybe not.

[2022-01-21 12:33] pritam825 commented on #36763
Yes, this one is the docs issue

[2022-01-21 13:05] abinash185 commented on #25785
I'm working on it . Please guide me.

[2022-01-21 13:23] #26876 closed, assigned to nobody

[2022-01-21 15:55] pritam825 commented on #36453
sir, can we create the separate issue for this, because I have solved for the button and column header, so if you are fine with this, then I will open the PR , otherwise don't thanks :)

[2022-01-21 16:13] brianteeman commented on #36722
I had no problem setting the log priorities to critical and saving

![image](https://user-images.githubusercontent.com/1296369/150561213-85b8d4fc-14f0-4aac-96ea-8c51abdd3d4e.png)

[2022-01-21 16:23] sakiss commented on #36587
Could you please purge and re-index you content from the Smart Search back-end?

[2022-01-21 16:28] niharikamahajan02 commented on #36453
I think issue #36677 corresponds to that issue only . As far as button and column header is concerned , PR #36725 would solve it (once it is reviewed).

[2022-01-21 16:50] beat opened #36772 "[4.1] [PHP 8.1] Debug plugin: 4 type issues (in vendor/maximebf/DebugBar):"
### Steps to reproduce the issue

Go PHP 8.1, Enable debug, and see in backend the warnings

### Expected result

No warnings

### Actual result

[code]

### System information (as much as possible)

4.0.6, PHP 8.1.1

### Additional comments

This file is not in the joomla/joomla-cms repository, where is it so I can propose a MR ?

The first 2 warnings are already fixed upstream here:
https://gith

[2022-01-21 16:58] brianteeman commented on #36772
In summary - you've done all you can and there is no need for an open issue here and this can be closed.

[2022-01-21 17:03] beat commented on #36772
ok, closing then.

[2022-01-21 17:49] alikon commented on #36724
you should use this for menu item `{{base_path}}/api/index.php/v1/menus/site/items/101`

[2022-01-21 20:15] Quy commented on #34676
PR #36088

[2022-01-21 20:37] brianteeman commented on #30354
I have checked again and this is definitely resolved and can be closed

[2022-01-21 20:41] #30354 closed, assigned to nobody

[2022-01-21 21:08] brianteeman commented on #31278
As we dont package the libraries/vendor/bin folder in releases I think this can be closed

https://github.com/joomla/joomla-cms/blob/a17ef734eb05e7814489916a1c41c1ffc551afd9/build/build.php#L116

[2022-01-21 21:14] brianteeman commented on #31495
I have no idea wht the "information required" tag is for on this issue.

I started to look at using onbeforeunload BUT the problem with that is you do not have any control on the message. It is defined by the browser for security reasons.

That in itself might not be a problem except that chromium says

Only Firefox gets it right with

Maybe there is some other means instead of using onbeforeunloa

[2022-01-21 21:16] richard67 commented on #31278
Correct, we excluded that from the build a while ago. Closing for reasons stated above.

[2022-01-21 21:16] #31278 closed, assigned to nobody

[2022-01-21 21:38] okynnor commented on #36745
Yup!  The console says:

index.php:1

       Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at onSuccess (media-manager.min.js?0b09178863807435515ca0fbe2f2bcb351159642:1:110463)
    at XMLHttpRequest.o.onreadystatechange (core.min.js?17121a112ecec3d656efe5c5f493429c9acf2179:1:6186)

[2022-01-21 21:38] okynnor commented on #36745
Yup, the console says:

`   Uncaught SyntaxError: Unexpected token < in JSON at position 0
at JSON.parse (<anonymous>)
at onSuccess (media-manager.min.js?0b09178863807435515ca0fbe2f2bcb351159642:1:110463)
at XMLHttpRequest.o.onreadystatechange (core.min.js?17121a112ecec3d656efe5c5f493429c9acf2179:1:6186)`

[2022-01-21 22:37] Quy commented on #36745
You maybe experiencing #33062 or #36053.

Enable Debug System.
Go to the Media Manager.
Clear the browser's cache.
Upload an image.
In console, please advise the error.

[2022-01-21 22:46] Quy commented on #36459
Closing as having a pull request. Please test #36765. Thanks in advance.

[2022-01-21 22:46] #36459 closed, assigned to nobody

[2022-01-22 00:02] n3t opened #36779 "[4.0] Nested subforms"
### Steps to reproduce the issue
- Install attached test plugin [plg_test.zip](https://github.com/joomla/joomla-cms/files/7917193/plg_test.zip)
- go to Test plugin configuration, there is subform field called Test
- add 2 elements to this field
- it contains another subform field, ad some elements to it also
- drag the outer form element
- drag the inner form element

### Expected result
Outer ele

[2022-01-22 01:13] Quy commented on #35688
Closing as duplicate.

[2022-01-22 01:13] #35688 closed, assigned to nobody

[2022-01-22 01:50] okynnor commented on #36745
Done.  If there's a location that I can go to fetch you the Joomla debug logs in an Ubuntu 18.04 (Dockerized) please advise.

Please see the result in the attached short video.

https://recordit.co/5bpgp1gFpz

[2022-01-22 02:37] Quy commented on #36745
Are there other images in the images directory? Can you backup/clear the images directory and upload an image? This to determine if there is a corrupt image affecting the listing of images.

[2022-01-22 07:06] deltapapa01 commented on #36322
Hi,
I have exactly the same problem: After migrating a J3 site to J4, I noticed that the root group is named "Öffentlich". I now wanted to rename this to Public, simply to name the groups of clarity in all my Joomlas in the same way. That works good, except for the lowest level. Renaming from "Öffentlich" to "Public" is not possible. Presumably the parent level field is there and empty but hidden,

[2022-01-22 07:13] brianteeman commented on #30699
Can someone tell me where this page sub-headinng is?

[2022-01-22 08:05] pritam825 commented on #35851
@brianteeman sir, sorry for disturbing you, I have installed all the languages for checking that for which language version is missing, I found "Norwegian bokmål (Norway)" and "Arabic (اللغة العربية)" version is missing and date is updated for all the languages, so for the version updation, will I have to change like this as I have pasted the scrrensho
![Screenshot (1913)](https://user-images.gith

[2022-01-22 08:51] brianteeman commented on #30270
Cannot replicate - probably fixed elswehere

[2022-01-22 08:59] brianteeman commented on #33494
Unable to replicate - maybe it was fixed elsewhere?

[2022-01-22 09:40] Fedik commented on #36779
I can confirm

[2022-01-22 10:39] tecpromotion commented on #36763
May ping @coolwebcreations (Mike Brandner) and his team for help

[2022-01-22 10:55] pritam825 commented on #35850
after removing the me-2 class from sample_data_title, it giving the correct as desired.
![Screenshot (1914)](https://user-images.githubusercontent.com/54195688/150635625-28b8aad8-1c95-4653-a614-bc2eb32e0f78.png)
Is this the correct way, then I will open the pr for this, thanks :)

[2022-01-22 10:58] brianteeman commented on #35850
is it still correct in ltr when you do that?

[2022-01-22 11:07] #36779 closed, assigned to nobody

[2022-01-22 11:22] pritam825 commented on #35850
sorry, I didn't understand ltr?

[2022-01-22 11:27] pritam825 commented on #36763
@tecpromotion thanks

[2022-01-22 11:30] pritam825 commented on #35850
@brianteeman  Yes I have checked now, It's still correct

[2022-01-22 11:36] brianteeman commented on #35850
great

[2022-01-22 11:37] pritam825 commented on #35850
Thanks

[2022-01-22 11:41] hsm-berlin opened #36781 "No Database in redirect system plugin"
### Steps to reproduce the issue
I get the following error-message php-fpm-error:
[22-Jan-2022 09:59:48 Europe/Berlin] PHP Notice:  Undefined variable: db in .../www/plugins/system/redirect/redirect.php on line 243

redirect.php uses at line 243 the $db variable that was never initialized.

###Solution
use the class variable $this->db at line 243 fixes the error:
$this->db->updateObject('#__redire

[2022-01-22 11:47] bembelimen commented on #35068
Reopened as the PR was not the full solution.

[2022-01-22 12:00] hsm-berlin opened #36783 "PHP-Error /libraries/src/Access/Access.php get property 'rules' of non-object"
### Steps to reproduce the issue
I get the following php-errors:
[22-Jan-2022 11:04:18 Europe/Berlin] PHP Notice:  Trying to get property 'rules' of non-object in .../www/libraries/src/Access/Access.php on line 548
[22-Jan-2022 11:04:18 Europe/Berlin] PHP Notice:  Undefined offset: 33 in .../www/libraries/src/Access/Access.php on line 553

### System information (as much as possible)
CentOS 8 | PH

[2022-01-22 12:18] richard67 commented on #36781
This has been fixed 4 days ago with PR #36733 . Closing.

[2022-01-22 12:18] #36781 closed, assigned to nobody

[2022-01-22 12:23] richard67 commented on #36783
@hsm-berlin Could you switch on debug in the global configuration so you can see the complete call stack and report it back? Thanks in advance.

[2022-01-22 12:27] richard67 commented on #36781
See also https://docs.joomla.org/J3.x:Redirects_from_Redirect_system_plugin_(if_enabled)_cause_internal_server_errors_500 .

[2022-01-22 12:59] richard67 commented on #35850
@brianteeman Is this issue solved with that PR? Or is there something remaining?

[2022-01-22 13:06] hsm-berlin commented on #36783
@richard67 I will try it, but this is my production website and the error was not generated by myself. But I check the access-log.

[2022-01-22 13:14] richard67 commented on #36783
Since when do you get these errors? Have they started to appear after an update? We need more information.

At a first look it seems there has an extension not been uninstalled properly, so assets (i.e. access rules) were remaining for which no extension exists anymore.

[2022-01-22 13:14] brianteeman commented on #35850
That PR addresses the visual issue with the example I gave. It doesnt address the fact that we are not using the bootstrap rlt utilties

[2022-01-22 13:16] richard67 commented on #35850
Thanks for confirming my understanding. So I think we should leave the issue open, and maybe later when that PR has been merged just change the description so it doesn't handle the visual thing anymore.

[2022-01-22 13:16] brianteeman commented on #35850
That PR is also not correct

[2022-01-22 13:53] richard67 commented on #36783
@hsm-berlin Could you test and report back if the changes here solve your issue? https://github.com/joomla/joomla-cms/pull/36786/files

Of course make a backup of the original PHP file because you modify it or replace it by the modified version from my PR, so you can later revert it if necessary.

Thanks in advance.

[2022-01-22 14:03] Scrabble96 commented on #36599
Can anything be done about this? My client can't do any useful front-end editing without access to images

[2022-01-22 14:38] chmst commented on #36722
I had a similiar error some days ago. After migrating an installation from one server to a new one. In the original application the value was "all". After migrating to the new server (akeeba backup), it was empty and gave the error message mentioned above.

[2022-01-22 14:53] devarsh-mavani-19 commented on #36648
I tried to reproduce the issue but I am getting the expected result.

[2022-01-22 16:01] hsm-berlin commented on #36783
O.K. I was able to find the link that caused the error. It was a menu entry to an article. The link was missing the .html. After I called the link with .html for the first time, the error was no longer displayed. Therefore, unfortunately, I can no longer test it. If I find the error again, I will test the new code.

[2022-01-22 16:04] richard67 commented on #36783
@hsm-berlin You always do all works on the life site, not have a copy on a subdomain there for testing or on a local computer with a webserver? That's very courageous. Do you do at least backups of files and database (with or without the help of well known useful products) before updating the CMS or extensions or installing questionable extensions? If not: Would you mind if we call you "danger see

[2022-01-22 16:12] hsm-berlin opened #36788 "Open_basedir warning on creating menu-item #35895"
### Steps to reproduce the issue
There is an open_basedir exception on line 1221 see:
[22-Jan-2022 15:44:57 Europe/Berlin] PHP Warning:  is_file(): open_basedir restriction in effect. File(/metadata.xml) is not within the allowed path(s): (...www:/tmp/) in ....www/administrator/components/com_menus/src/Model/ItemModel.php on line 1221

as reportet in the closed issue #35895 if you create an new Me

[2022-01-22 16:23] hsm-berlin commented on #36783
@richard67 I have a test-system on a local server, but that did not produce this error. So what should I do? O course I make daily backups. ;-) Thanks for your work!

[2022-01-22 16:26] richard67 commented on #36783
Anyway, closing as having a pull request of which I am convinced it will solve it if it can be reproduced again, see #36786 . Thanks for reporting.

[2022-01-22 16:26] #36783 closed, assigned to nobody

[2022-01-22 17:30] Quy commented on #36274
Related #35055

[2022-01-22 18:13] ChristineWk commented on #36788
Confirm the issue (see also closed one)
Hoster had a suggested solution, but I can't understand resp. comprehend it.
I don't know the right solution.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36788">issues.joomla.org/tracker/joomla-cms/36788</a>.</sub>

[2022-01-22 18:27] pritam825 commented on #30449
@mickmackusa sir, I have found multiple occurrences of "$this->getDbo()", so, sir can you please upload an screenshot to approach this, so that I will accordingly, and will change in the best manner, thanks in advance :)

[2022-01-22 18:31] Fedik commented on #31495
I closing it as expected behavior.

It need to save the form to store your changes before open another one.

[2022-01-22 18:36] brianteeman commented on #31495
Please do not close this. It is a real user problem and we can/should solve it.

From a user perspective there is no difference between changing tabs when editing an article and changing the option set here

[2022-01-22 18:46] Fedik commented on #36788
please test #36789

[2022-01-22 18:46] #36788 closed, assigned to nobody

[2022-01-22 18:52] Shubhamverma2796 commented on #36109
please test #36790

[2022-01-22 18:52] Fedik commented on #36788
and for Joomla 4 #36791

[2022-01-22 18:57] Fedik commented on #31495
Okay, then

[2022-01-22 18:58] Fedik commented on #31495
Then I think it need to be re-designed, so it does not looks like a the same page.

[2022-01-22 19:13] brianteeman commented on #31495
perhaps

[2022-01-22 19:18] richard67 commented on #36109
Closing as having a pull request.

[2022-01-22 19:18] #36109 closed, assigned to nobody

[2022-01-23 08:49] alikon commented on #36724
I cannot confirm your findings about` com_content `endpoints,
i need more details for that
what i can confirm is about `{{base_path}}/api/index.php/v1/languages` i'm still struggle to understand what it's supposed to be

p.s
thank you for testing all the endopints

[2022-01-23 08:53] mger1994 opened #36800 "[4.0.6] Fatal error redirect.php"
After changeng one language to another and again to the first lange redirect system get fatal error. ![screen shot 2022-01-23 at 08 51 49](https://issues.joomla.org/uploads/1/cf55a6c7bb2986110f179534f9b310a8.png)

![screen shot 2022-01-23 at 08 51 53](https://issues.joomla.org/uploads/1/58a14f009fd920e7f1066d99d06d31da.png)
In previous version i had no problem with redirect.

[2022-01-23 09:03] brianteeman commented on #36800
https://docs.joomla.org/J3.x:Redirects_from_Redirect_system_plugin_(if_enabled)_cause_internal_server_errors_500

[2022-01-23 09:54] richard67 commented on #36800
@mger1994 Please check and report back if the information linked in the previous comment solves your issue. I think it will. If it does, this issue can be closed. Thanks in advance.

[2022-01-23 10:58] brianteeman commented on #34707
Final part #36801

[2022-01-23 11:23] crystalenka opened #36802 "[4.x] Filter articles in admin module mod_latest by workflow stage"
### Is your feature request related to a problem? Please describe.
You can filter by category or author, but not by workflow stage.

### Describe the solution you'd like
An option to select one (or more) workflow stages to filter articles in the admin module. This would be helpful to quickly see articles that are pending review, for example, since those are not always the most recently published o

[2022-01-23 11:24] #34707 closed, assigned to nobody

[2022-01-23 11:46] richard67 commented on #36788
@hsm-berlin Could you test if the changes from pull request (PR) #36791 fix this issue for you and if so, report back in that PR? Thanks in advance.

[2022-01-23 11:49] richard67 commented on #35895
@rachelwalraven @TLWebdesign @UlrichDamm Could you test if the changes from pull request (PR) #36789 fix this issue for you and if so, go to the issue tracker here https://issues.joomla.org/tracker/joomla-cms/36789 and use the "Test this" button to submit your test result?

If you are not on 3.10 anymore but on 4.0.x, please test the equivalent PR #36791 for J4.

Thanks in advance.

[2022-01-23 11:50] roland-d commented on #31495
Why not use AJAX to save the options?

[2022-01-23 11:57] richard67 commented on #36802
Makes sense to me.

[2022-01-23 13:34] #36800 closed, assigned to nobody

[2022-01-23 13:34] richard67 commented on #36800
Closing as it's for sure solved with PR #36733 . See the linked documentation for a workaround until the fix is released: https://docs.joomla.org/J4.x:Redirects_from_Redirect_system_plugin_(if_enabled)_cause_internal_server_errors_500<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/jooml

[2022-01-23 15:10] Fedik commented on #31495
It does not make difference, User still should push the "save" button.

And we cannot auto-save while navigation between different forms, because User expect that it not saved untill he/she push  the "save" button.

So only re-design helps here.

[2022-01-23 15:23] phunsoft opened #36806 "Getting "assets - No asset found for com_modules.module.90, falling back to com_modules" log entries at backend logout"
### Steps to reproduce the issue
Log into Joomla! 4.0.4 or 4.0.6 backend.
Enable System Debug.
Log out.
Lock at the log entries.

### Expected result
No log entries at all.

### Actual result
The are two entries as follows:
`assets - No asset found for com_modules.module.90, falling back to com_modules (warning)`

### System information (as much as possible)
Joomla! 4.0.4 as well as 4.0.6
The runt

[2022-01-23 15:35] roland-d commented on #31495
That is a fair point. So how does the redesign looks like? A dropdown with the extensions like we have in other places, such as custom fields?

![image](https://user-images.githubusercontent.com/359377/150686166-d68fbf7a-2a39-42cd-a391-20e04514e14d.png)

[2022-01-23 15:49] richard67 commented on #36806
For new installations this has been fixed already with 4.0.6 here: #36481 .

In updates we can't fix that, but you can go into the module manager in backend, change from site to admin and the search for a module named "Login Support" in an English Backend. If found, edit the options of that module and just save without making changes. This should created the missing record in the assets table.

@p

[2022-01-23 16:09] Fedik commented on #31495
No idea, but it should be obvious that it no a "single page with tabs" .
And do not complicate navigation in the same time.

Some kind of dropdown sounds as not a bad idea to me.
With this we can even save some space for the form itself.

[2022-01-23 16:10] brianteeman commented on #31495
Why are the other components even present when I click on Template Options

[2022-01-23 16:14] zero-24 commented on #36620
Hmm what about setting width="auto" whin the [layout](https://github.com/joomla/joomla-cms/blob/4.1-dev/layouts/joomla/form/field/textarea.php) that should do the trick right?

[2022-01-23 16:21] zero-24 commented on #36757
Hmm I'm not deep into our caching code but from my understanding progressive cache fully caches the module content that would include addStyleDeclaration and that there is a setting within modules to disable caches: Please take a look here for an example:
https://github.com/joomla-extensions/weblinks/blob/master/src/modules/mod_weblinks/mod_weblinks.xml#L191-L208

[2022-01-23 16:32] Scrabble96 commented on #36620
That sort of works for me when trying it on Firefox Inspector - it goes to maximum width of the available parent 'controls' container regardless of what figure is entered into 'cols' in the field setup. Which is probably ok if you only have one field per line.
If you don't have anything in the 'cols' field setup, changing max-width to 'auto' actually makes the field slightly smaller!

[2022-01-23 16:34] Fedik commented on #31495
That is good for usability, when "everything at hand".
I usually go to Global Configuration first and select needed component from there.

[2022-01-23 16:43] jschmi102 commented on #36757
hi,
I had done this check already - I think that there is a bug processing caching. Main indication is that  progressive cache works perfectly with joomla 4 but does not with 3.10.5. My guess is that caching of html-header goes wrong, as "addStyleDeclaration" will modify/add inline style definitions to  html-header.

[2022-01-23 18:06] Scrabble96 commented on #29942
Why can't it behave the same as Publish/Unpublish? Unpublishing an article from the article list view doesn't remove the dates.

[2022-01-23 18:43] crystalenka opened #36808 "[4.x] Permissions "cascade" in workflows not clear and/or broken?"
### Steps to reproduce the issue
When creating a simple workflow, I am trying to set a user group to edit only their own articles, only when the article is in a certain stage (for example "draft").

User group has "edit own" permissions in com_content, edit permissions in the example "draft" workflow stage, and no edit permissions in any other workflow stage.

### Expected result
User group can ed

[2022-01-23 20:33] phunsoft commented on #36806
@richard67 Thanks for the quick reply. I testet your fix instructions and can confirm that the log messages are gone.

[2022-01-23 20:33] #36806 closed, assigned to nobody

[2022-01-23 20:35] richard67 commented on #36806
Thanks for reporting back.

[2022-01-23 22:36] chmst commented on #36642
@dgrammatiko thanks for this information. Do you see a chance to introduce you solution in Joomla?

[2022-01-24 06:18] akshitrattan commented on #36802
I would like to work on this issue!!

[2022-01-24 07:18] brianteeman commented on #36642
While the script from @dgrammatiko is good it is not a drop in replacement.

[2022-01-24 08:20] shagungarg0 commented on #36808
Can i work on this issue?

[2022-01-24 08:22] teoberi commented on #36370
I have the same installation error regardless of the database used (MariaDB or PostgreSQL). I have tested several times, it is solved after a restart of the web server but I am not sure if the installation is complete.
Installing additional languages does not work from the administration console (System -> Install -> Languages) either, only as an extension (System -> Install -> Extensions).

[2022-01-24 08:45] crystalenka commented on #36802
Anyone can propose a fix in a PR. Give it a try :)

[2022-01-24 08:45] crystalenka commented on #36808
Anyone can propose a fix in a PR. :) What do you think the best way to handle this is?

[2022-01-24 09:35] brianteeman commented on #18789
Could someone please change the tag on this from J3 to J4

[2022-01-24 09:35] dgrammatiko commented on #36642
@brianteeman is right, it's not a drop in replacement. Someone needs to check if some kind of fallback could be written for the old validators but still there are expected changes in the form XMLs (probably a default could be used and extended/overridden in the XML definition to make it b/c). The short version is it needs a bit of investigation how (or even IF) this could be done in a minor versio

[2022-01-24 09:38] brianteeman commented on #36642
I spent some time on this. As the script is not a drop in replacement it couldnt be done until J5 but I am not 100 convinced that it should be even then. There are other scripts that do not require changing the xml on all the files which would be a better fit. They might not be as complete but they are much less time to implement for core and extensions

[2022-01-24 09:52] dgrammatiko commented on #36642
That's true but as I said if this is implemented with some default data-attr then not all fields would need entries. BTW the entries in the XML are the validation error messages, you can even skip the custom messages and let the browser provide whatever is the default per input. Most of the things are opt in, very few from all these attributes are the hard requirements, eg in the from element all

[2022-01-24 09:55] brianteeman commented on #36642
we really dont need to add the data-

[2022-01-24 10:04] dgrammatiko commented on #36642
This decision is not up to me but having a way to provide your own error messages is kinda good foe the UX, forms could be way more approachable (maybe not for the backend)...

[2022-01-24 14:51] Fedik commented on #31495
What about move the nav, and display it as configuration menu,
Basically create a Configuration menu that displayed only when `index.php?option=com_config` (or one of Component config) is active.
![Screenshot_2022-01-24_16-46-45](https://user-images.githubusercontent.com/1568198/150805517-93b3f8c7-e278-46f6-b74e-ab22b3a55f80.png)

[2022-01-24 15:07] brianteeman opened #36814 "Permitted characters in usernames"
Permitted characters in Usernames

The error message says

BUT if you try the following

[code]

The code is

https://github.com/joomla/joomla-cms/blob/4.1-dev/libraries/src/Table/User.php#L226-L232

So it should be matching on the < and > characters and they should be in the error message

But other parts of the validation are breaking that _i think_

[2022-01-24 15:17] chmst commented on #31495
What about

1) styling the Configuration menu like the main menu (dark background)
2) When a user opens a component then disable all other buttons until the active component is saved or cancelled

[2022-01-24 15:40] niharikamahajan02 commented on #36802
Does this new option need to be added here?
![image](https://user-images.githubusercontent.com/72392580/150814130-594cc77b-9846-41ee-b4f2-647c0869ef37.png)

[2022-01-24 15:44] richard67 commented on #36802
@niharikamahajan02 Yes, and that's here: https://github.com/joomla/joomla-cms/blob/4.1-dev/administrator/modules/mod_latest/mod_latest.xml

[2022-01-24 15:47] Fedik commented on #31495
I suspect that in current position it still will looks like tabs ;)

We definitely should not block anything, I may want to switch the component without saving active one.

[2022-01-24 18:15] roland-d commented on #31495
@Fedik I like the idea of having the navigation in the sidebar. What I was also thinking is that as soon as you click one of these components, you get the same view as when you edit an item. Your "only" way out is the toolbar buttons (ignoring the browser back option). That would prevent users from accidentally clicking outside of the designated area and losing their changes.

[2022-01-24 19:15] brianteeman commented on #31495
The problem with that approach (and the one I suggested) is that it is very useful to click on one component to see the permissions and then click on the next component etc

[2022-01-24 19:16] roland-d commented on #31495
However in my suggestion you will not see the other components. Your page will look like this:
![image](https://user-images.githubusercontent.com/359377/150849157-8e72a40c-7f4f-4288-a0a7-45ee69a2513c.png)

[2022-01-24 19:23] brianteeman commented on #31495
I think you posted the wrong screenshot.

[2022-01-24 19:26] roland-d commented on #31495
I did not. It is just an example of how the config screen would look like of course the fields are different etc. I have not build a new UI, just trying to say that this same principle of editing an article for example can be applied to editing a component configuration.

[2022-01-24 19:33] brianteeman commented on #31495
so similar to my rfc #36807 but completely full width

[2022-01-24 19:36] chmst commented on #31495
This is an interesting UX problem - it depends completely on the workflow.

I agree: someone wants to click through and compare settings, this should be possible without restriction, so blocking is a bad idea.
Can we make an alert, if someone has changed the input "you have made changes, they will be lost if you don't save them"

[2022-01-24 19:37] roland-d commented on #31495
Oh yes, I did see that RFC before but somehow did not register the screenshots. Indeed, exactly like that but without the side menu because you are basically in edit mode.

Where does a user go when they click on `Close` in your RFC?

[2022-01-24 19:37] roland-d commented on #31495
@chmst

Brian already looked at that but not really feasible, see his remark: https://github.com/joomla/joomla-cms/issues/31495#issuecomment-1018864087

[2022-01-24 19:39] brianteeman commented on #31495
The options button is on the component page so when you close the options page you return to the component page as it uses &return= in the url

[2022-01-24 22:47] richard67 opened #36833 "[4.1] Update from 3.10 to 4.1 fails with blank page but can be resumed by page reload when opcache is used"
### Steps to reproduce the issue

Update a current 3.10-dev installation which has Zend Opcache enabled and working to the latest 4.1 nightly by using the custom update URL https://update.joomla.org/core/nightlies/next_minor_list.xml or the previously downloaded update package https://developer.joomla.org/nightlies/Joomla_4.1.0-dev-Development-Update_Package.zip .

### Expected result

Works witho

[2022-01-24 22:53] dgrammatiko commented on #36833
Tthe problem probably is related to the alias of the namespavced class, in 3.10 the driver is `JDatabaseDriverMysqli`
[code]

In 4.1 it's `JDatabaseDriverMysqli`
[code]

My hunch is that the alias is not yet established...

[2022-01-24 22:58] richard67 commented on #36833
@dgrammatiko I think your hunch is right, and it could be a similar if not the same reason why we have to mock some methods from the filesystem class like File or Folder in the "administrator/components/com_joomlaupdate/finalisation.php" file.

I remember having debugged that once and found that sometimes it needs these mocks and sometimes not, on the same environment with the same starting condit

[2022-01-24 23:24] dgrammatiko commented on #36833
The File and Folder mocked classes in the update.php should be fine as that file **is** an entry point (an application) that doesn't extend any of the known applications (CLI, Administrator, Site, etc). The finalization though should (?) be called from the AdministratorApplication thus all the JLoader classes should be there (?). Anyway, @nikosdion probably got all the answers here

[2022-01-24 23:28] richard67 commented on #36833
Hmm, right ... I always forget that but should know it.

[2022-01-24 23:30] richard67 commented on #36833
As soon as anybody else beside me can reproduce this so we can be sure it's not an error in my environment, we should make it a release blocker ... but not before.

[2022-01-24 23:57] dgrammatiko commented on #36833
My tests were inconclusive here, although I manage to get an error (I forgot to enable debug so it might be this or some random glitch)

<img width="1792" alt="Screenshot 2022-01-25 at 00 44 21" src="https://user-images.githubusercontent.com/3889375/150884898-004d0b67-56bc-462c-99e1-181cf38c7cdb.png">

[2022-01-25 00:07] richard67 commented on #36833
When you reload that page, does the update resume and finish?

[2022-01-25 00:08] dgrammatiko commented on #36833
yes, I could successfully update with ctrl+F5

[2022-01-25 00:35] Quy commented on #33172
I cannot reproduce `0 items` using iPad Air 2 with OS 15.2.1.

[2022-01-25 00:42] Quy commented on #36620
PR #26755 attempts to fix this.

[2022-01-25 07:47] nikosdion commented on #36833
## How is `finalisation.php` used

No. The `finalisation.php` file is loaded from extract.php right after the extraction is over, outside Joomla's execution. It's at the very end of the file, under the `finalizeUpdate` case. It is **CRITICALLY IMPORTANT** to keep it that way. Joomla may move its core files around. If we don't remove the old files (and clean up the OPcache) the next Joomla pageload

[2022-01-25 07:50] richard67 commented on #36833
Un doppio doppio doppio espresso, per favore 😄 I' will check later to be sure, but I think on my testing environment opcache was not enabled.

[2022-01-25 08:06] richard67 commented on #36833
Hmm, I've just checked and it seems it's exactly what @nikosdion supposed. I still had opcache on with SHM caching from some past test long ago so I have forgotten about it in the mean time. Will switch off and test again later.

[2022-01-25 08:21] richard67 commented on #36833
Confirmed. It does not happen when opcache is disabled. Will update title and description.

[2022-01-25 08:28] nikosdion commented on #36833
If you can consistently reproduce this with OPcache do the change in update.js and give it another go. I have a feeling that would work.

[2022-01-25 08:29] richard67 commented on #36833
@dgrammatiko Can you check if you have opcache enabled on your environment?

[2022-01-25 08:30] richard67 commented on #36833
If it turns out to be opcache and page reload helps, we should add something to the 4.x FAQ that when updating from 3.10 and that happens, one should just reload the page to get the update finished.

[2022-01-25 08:38] nikosdion commented on #36833
As a hunch, I'd set `opcache.revalidate_freq` in php.ini to something quite longer than 2 seconds. Possibly 120 seconds (ideally, set this to 2x the time it takes for the Joomla 3.10 to 4.x update to download and run on your machine). This would prevent OPcache from figuring out by itself that the file has changed.

[2022-01-25 08:41] TLWebdesign commented on #35895
For me it fixed the problem thanks!

[2022-01-25 09:05] zero-24 commented on #36833
I'm happy to accept such a workaround when that works but I dont have a server with such configuration. @richard67 can you give it a try and send a PR?

[2022-01-25 09:08] 1inkin opened #36837 "Tags pagination not working after upgrading from Joomla 3.10 to 4.0"
### Steps to reproduce the issue
- upgrade site from Joomla 3.10 to 4.0.
- in front-end click on a tag to open the list of articles for that tag.
- go to another page number of the list of articles for the selected tag.

### Expected result
continuation of the list of articles for the selected tag

### Actual result
Error 404. View not found [name, type, prefix]: tagname, html, site

### System in

[2022-01-25 09:09] richard67 commented on #36833
Will do later today, and if @dgrammatiko can reproduce too that it only happens with opcache, we would have one tester and one author (the one or the other way).

[2022-01-25 09:20] brianteeman opened #36838 "[4.1] remove fof from code comments"
One for you @PhilETaylor

starts here
https://github.com/joomla/joomla-cms/blob/360409f51cd81de6ca302ee3a51e718f26d3fa7b/administrator/components/com_postinstall/src/Model/MessagesModel.php#L443-L447

[2022-01-25 09:42] joomdonation commented on #36837
It is a known bug. See https://github.com/joomla/joomla-cms/issues/35382#issuecomment-906477897 for a workaround until we can fix this bug.

[2022-01-25 09:54] Worti2 opened #36839 "There is a <nav>-Tag to many in the menu module with "Collapsible Default Menu""
Hi everybody,

### Steps to reproduce the issue
1. Create a new menu module with a template which includes no overrides and the module position is deffined with the html5 style.
2. Put the module to a module position of the template.
3. Under Advanced take the setting "Collapsible Default Menu" for Layout and take the setting "div" for Module-Tag.

### Expected result
[code]

### Actual result
[co

[2022-01-25 10:13] Scrabble96 commented on #36620
Possibly, but nothing seems to have been done with this since August 2021. It says it's now out of date with the latest code.

[2022-01-25 10:43] dgrammatiko commented on #36833
@richard67 OPCache was/is enabled with these settings (MAMP default)
<img width="908" alt="Screenshot 2022-01-25 at 11 41 40" src="https://user-images.githubusercontent.com/3889375/150962082-46c95741-5d24-47f4-aeda-6bbd0a08e9ed.png">

[2022-01-25 10:57] richard67 commented on #36833
@dgrammatiko Can you confirm that it works fine when opcache is disabled?

[2022-01-25 11:36] richard67 commented on #36833
@dgrammatiko Could you do the PR for 3.10-dev? My knowledge on JS, especially asynchronous execution, is too little.

[2022-01-25 11:46] dgrammatiko commented on #36833
@richard67 #36841 (but I haven't tested it)

[2022-01-25 11:57] richard67 commented on #36833
I will test later today.

[2022-01-25 11:58] brianteeman commented on #36839
Sorry I dont agree that there is a problem here. You have chosen to add the extra nav.

_Or am I missing something?_

[2022-01-25 12:03] richard67 commented on #36833
Closing as having a pull request. It's for 3.10-dev as the investigations above have shown the problem has to be handled there.

[2022-01-25 12:03] #36833 closed, assigned to nobody

[2022-01-25 12:28] MartijnMaandag opened #36847 "COM_CONFIG_FIELD_TEMP_PATH_DESC"
### Steps to reproduce the issue
COM_CONFIG_FIELD_TEMP_PATH_DESC
Content is: Joomla needs to temporarily store some files to perform actions such as installing / updating extensions or uploading files. Enter the absolute path of a directory that is writeable be PHP. <em>Do not</em> use the system–wide temporary folder (e.g. <code>/tmp</code>) for security reasons.
**writeable be PHP** must be **wr

[2022-01-25 12:31] brianteeman commented on #36847
confirmed. will you please make a pull request to fix it.

[2022-01-25 13:51] richard67 commented on #36847
Closing as having a pull request. Thanks for reporting the issue.

[2022-01-25 13:51] #36847 closed, assigned to nobody

[2022-01-25 16:55] Hackwar commented on #33494
Should be fixed in the meantime.

[2022-01-25 19:01] richard67 commented on #36837
@joomdonation Is this a duplicate report to #35382 ?

[2022-01-25 20:20] pritam825 commented on #36837
For me, it' looks like totally same as #35382

[2022-01-25 20:35] pritam825 opened #36850 "Alias already existed so a number was added at the end but instead adding of number it's increasing the year"
### Steps to reproduce the issue

go to article-> create more than one articles with the same name

### Expected result

if the article already exist with the same name then it will add the number instead of increasing year

### Actual result

![Screenshot (1960)](https://user-images.githubusercontent.com/54195688/151054498-cccb06a5-f1b6-406a-8e9c-1a08231d2e55.png)

### Additional comments
@richar

[2022-01-25 22:08] Razzo1987 opened #36851 "[J4] BLOG_SAMPLEDATA_CONTENT_ARTICLE_4_INTROTEXT plg_sampledata_blog.ini"
### Steps to reproduce the issue
Install J4 with blog sample data.
compare the description of the article 4 with the Joomla administrator side

### Expected result
the name of the module match the description

### Actual result
Actual text:
`<p>Your site has some commonly used modules already preconfigured. These include:</p><ul><li>Image Module which holds the image beneath the menu. This is a Cu

[2022-01-25 22:21] richard67 commented on #36851
The text says „These include …“ at the very beginning and so makes perfectly clear that it is not a complete list of all possible modules but a list with often used examples.

Making the text describe all possible modules would make it so long that nobody will read it. We have the help pages for that purpose, telling which kinds of modules are available.

So this issue here should be closed in my

[2022-01-25 22:34] richard67 commented on #36851
Well maybe I misunderstood at first reading. If the module names in that text shall be made consistent with the module names in the module manager it might be ok. I only think the text should not be extended to describe all modules.

[2022-01-25 22:39] Razzo1987 commented on #36851
No, the idea is only to have the correct name of the module.
And where is **Most Read Posts**? If we have removed we need to also remove from the article text.

[2022-01-25 23:14] richard67 commented on #36850
I do not understand. What should the year be increased in the title? How shall Joomla know what you put into your title, a year or a time or any arbitrary number, and which rule you want it to use to increase? It really depends on what you do with your title. One may have a year in it and wants to increase it, and another wants it not to be increased.

[2022-01-25 23:14] chmst commented on #36851
It is not removed, it only is not activated in your list. Look here: Articles - most read is what you are missing.

![grafik](https://user-images.githubusercontent.com/1035262/151075135-f8e10bad-16d1-4810-b9b2-2c9a7350086c.png)

[2022-01-26 00:32] Quy commented on #26752
@Hackwar

[2022-01-26 03:30] nobicycle commented on #36724
"i need more details for that"

I am using official Joomla Documentation

https://docs.joomla.org/J4.x:Joomla_Core_APIs#Create_Menu

Some errors during testing:

**Install Language**

## Documentation
curl -X POST -H "Content-Type: application/json" /api/index.php/v1/languages -d

{
	"package": "pkg_fr-FR"
}
## Testing

[code]
**Get Single Content Language**
## Documentation
curl -X GET /api/index

[2022-01-26 03:50] okynnor commented on #36745
@Quy By following your suggestion, I was able to regain image upload functionality.  Because I use Xen Orchestra and XCP-NG, I was able to take a snapshot prior to deleting all images.

`https://recordit.co/JORJXRXBGL`. Proof that the site is able to upload images again.

Now I have to restore the website, is there a way to find out which image is the offending image?

[2022-01-26 05:01] Quy commented on #36745
Sorry I don’t know a quick way to find the culprit. Please try uploading via FTP or your hosting control panel 5 to 10 images at a time and browse the Media Manager. When the issue arises, then you can narrow down the offending  image in the batch.

[2022-01-26 05:16] okynnor commented on #36745
Thank you @Quy.

[2022-01-26 06:26] pritam825 commented on #36850
sorry for my issues, which was not an issues, Now I understood completely from your above message how it's working, sorry for taking your time, Thanks a lot for helping me.
and the last thing I had to ask, sorry for this, is underlined necessary for the title, for example when I will create the article with article name "Thank_You" then "_" will get collapse with underlined, Thanks a lot in advanc

[2022-01-26 07:10] richard67 commented on #36850
@pritam825 Lonks are underlined for accessibility. It shall be visible not only by the colour that a link is a link.

[2022-01-26 07:10] richard67 commented on #36850
Closing as expected behavior.

[2022-01-26 07:10] #36850 closed, assigned to nobody

[2022-01-26 07:14] pritam825 commented on #36850
Ok sir thanks and sorry for taking your precious time

[2022-01-26 07:54] Razzo1987 commented on #36851
@chmst yes, I know (I use it in one of my J4 installation ;-) ). but the article say which modules have been configured in the SITE side: `Your site has some commonly used modules already preconfigured. [...]`.

In my opinion, it might be a good idea to have both names in the article (that of the configured module and that of the module type).

I'll try to write the text by this evening to get an

[2022-01-26 08:05] Hackwar commented on #26752
This is not an issue of smart search, but as Michael wrote, of the content plugins excluding themselfs from fireing during indexing. We should review the core plugins, but Smart Search is working as expected. I've not been responding to this issue so far, because I first wanted to review our plugins.

[2022-01-26 09:48] nikosdion opened #36853 "Remove useless Block FLoC feature from Joomla 3 and 4"
Joomla offers a feature called “Block FLoC” in its Global Configuration in both Joomla 3 and 4.

However Google [announced yesterday](https://blog.google/products/chrome/get-know-new-topics-api-privacy-sandbox/) that it is [discontinuing FLoC](https://www.theregister.com/2022/01/26/google_floc_topics/?td=keepreading-top) and replacing it with Privacy Sandbox. They even explain [the problems which

[2022-01-26 09:53] toonetcreation opened #36854 "[3.10.5] Two Factor Authentication is not working anymore"
### Steps to reproduce the issue

- update joomla to 3.10.5 version
- go to a user profile
- enable Two Factor Authentication
- save user profile
- edit again user profile
- you will see that Two Factor Authentication is disabled, even if you enable it before

### Expected result

Two Factor Authentication working, able to connect on front/back end

### Actual result

Even If I enable Two Factor A

[2022-01-26 10:03] brianteeman commented on #36853
+100 it was only ever a political decision and had no bearing on reality

[2022-01-26 10:20] drmenzelit commented on #36839
Your expected result with a div instead a nav element will be semantically not correct.
What do you mean with "The <nav> tag after the <h3> tag is not accessible because the screenreader skips the heading when jumping to the navigation." ? I tested a demo site using the screen reader in Chrome and I get a correct information about the button to open / close the menu...

[2022-01-26 11:04] Worti2 commented on #36839
Hi Viviana,
hi Brian,

with the help of the screenreader the user is able to skip to the next navigation, if the owner of the website is using the `<nav>` Tag. In the "Actual Result" the user will skip to the navigation but behind the title of the navigation and not befor the title. In my opinion the title of the navigation is very important for the blind user. Here he is possible to regognise if

[2022-01-26 11:06] richard67 commented on #36853
Closing as having a pull request, see #36855 . In case if that gets not accepted we have to re-open the issue.

[2022-01-26 11:06] #36853 closed, assigned to nobody

[2022-01-26 11:12] Hans-63 opened #36856 "Redirects '500' error Joomla 4."
### Steps to reproduce the issue
To redirect non-existing urls on my Joomla sites to a logical, existing url on my site I use (like many) the redirects plugin.
It worked fine until a while ago.
Today I got a notification from google that some pages are not available.
When you go to the url you get a (joomla) orange screen with an error message: Sorry, there was a problem we could not fix.
The serv

[2022-01-26 11:58] sternenvogel commented on #36587
Thank you guys!
@sakiss - I did this several times, no difference.

@alikon - I can exactly tell now the situation that does the harm. The fatal configuration is when you combine a search filter with the option "Allow Empty Search". How to reproduce:

1. Set up a clean new installation with Joomla 3.10.5 with sample article ("Getting Started")
2. Index content and set up a new search filter "All A

[2022-01-26 12:06] joomdonation commented on #36837
@richard67 Yes, it is the same issue. Closing as this is a duplicate issue.

[2022-01-26 12:06] #36837 closed, assigned to nobody

[2022-01-26 12:06] joomdonation commented on #36856
@Hans-63 It is a known issue. See https://docs.joomla.org/J4.x:Redirects_from_Redirect_system_plugin_(if_enabled)_cause_internal_server_errors_500 for solution.

[2022-01-26 12:06] #36856 closed, assigned to nobody

[2022-01-26 12:09] Shubhamverma2796 commented on #36814
so failed message should be displayed if the user name contains < or > right?

[2022-01-26 12:21] brianteeman commented on #36814
or it should be accepted. Depends if the code is correct or the text is correct

[2022-01-26 12:22] sternenvogel opened #36857 "Smart Search filter should get criteria from tables users/categories/tags etc., NOT from finder_xy!"
### Problem identified

When you set up a search filter with some criteria like Author / Categories / Tags etc. and then clear and reindex content, all your filter options are gone. Clearing index is needed to get rid of deleted articles - but this is killing the filter criteria too. :-(

### Proposed solution

Smart Search filter configuration should use search criteria (Search by Author/Category

[2022-01-26 13:04] ReLater commented on #36839
The first `<nav>` comes from the module style and you have selected it like that. The second `<nav>` comes from the module layout. The style doesn't know what content will come from the layout. From my point of view it would be a complete overhead to let Joomla check if you have chosen an "incorrect" tag for the style.

There are so many (from case to case) "incorrect" Module-Tags that you can sel

[2022-01-26 13:20] richard67 commented on #36857
@Hackwar I think this is something for you.

[2022-01-26 13:26] Hackwar commented on #36857
When using the "proper" method to delete articles, they are already removed from the index. It is not necessary to delete and reindex just for that.

Smart Search is building an index and needs to query that index. Taxonomies are part of that index. If you want to filter by data from those other tables, it would quickly run into the same issues we have for com_search, where you can DoS a site easi

[2022-01-26 13:27] richard67 commented on #36857
@Hackwar So we should close this issue here as expected behaviour, right?

[2022-01-26 13:30] Razzo1987 commented on #36851
Old Article:
![image](https://user-images.githubusercontent.com/906604/151125113-121d6291-e3a7-4d9a-a7a1-7812c14f3285.png)

NEW Article:
![image](https://user-images.githubusercontent.com/906604/151171306-f554d6e8-7954-454e-b254-8d3eb7904fa5.png)

If you agree with the proposal I can create the PR.

The new text of the language value is:
`<p>Your site has some commonly used modules already preconf

[2022-01-26 13:52] ReLater commented on #36853
It was a clear, necessary and correct statement to add the unFloc feature also in Joomla. It wasn't "premature and unwarranted".

[2022-01-26 14:23] nikosdion commented on #36853
@ReLater No, it was never necessary, it was never correct, it was never a security feature and — the best part! — _it never actually worked_.

The Google FLoC **EXPERIMENT** was only run against **SOME** North Americans. It was an experiment, meaning that it only run on a very subset of Chrome installations. It was proposed as a W3C standard but by the time the code experiment was live it was alre

[2022-01-26 14:42] brianteeman commented on #36851
makes sense to me

[2022-01-26 14:43] richard67 commented on #36851
Agree.

[2022-01-26 18:38] heelc29 opened #36859 "[4.1] Scheduler: "task failed" counts twice"
### Steps to reproduce the issue

- Go to _Scheduled Tasks_ and add a _GET Request_
- Enter an invalid url to _Request URL_ (e.g. http://jooomla.org)
- _Execution Rule_: manual
- Save the task
- Run the task **once**

### Expected result

![image](https://user-images.githubusercontent.com/66922325/151224512-a0729bd7-57ac-4bf1-8a73-1ff53faab40d.png)

### Actual result

![image](https://user-images.

[2022-01-26 18:43] heelc29 commented on #36859
Here the two lines:

https://github.com/joomla/joomla-cms/blob/6d0ad10ab39f4b6874f24579e90fbb50837aeb0c/administrator/components/com_scheduler/src/Task/Task.php#L274

https://github.com/joomla/joomla-cms/blob/6d0ad10ab39f4b6874f24579e90fbb50837aeb0c/administrator/components/com_scheduler/src/Task/Task.php#L415

[2022-01-26 19:08] pritam825 commented on #36457
![Screenshot (1962)](https://user-images.githubusercontent.com/54195688/151229923-d3cc8984-82ef-4fa8-8909-87c8040d644d.png)
is this the correct position for the reset button?

[2022-01-26 19:09] Shubhamverma2796 commented on #36274
please test #36860

[2022-01-26 19:32] dgrammatiko commented on #17786
This should be closed @richard67

[2022-01-26 19:35] dgrammatiko commented on #19187
@bembelimen theres a pr for the color field https://github.com/joomla/joomla-cms/pull/35639 so this should be closed

[2022-01-26 19:37] dgrammatiko commented on #22164
The ie poly fills are irrelevant so this can be closed @richard67

[2022-01-26 19:57] richard67 commented on #17786
Closing for reasons stated above.

[2022-01-26 19:57] #17786 closed, assigned to nobody

[2022-01-26 19:59] richard67 commented on #22164
Closing for reason stated in the previous comment.

[2022-01-26 19:59] #22164 closed, assigned to nobody

[2022-01-26 20:01] #36274 closed, assigned to nobody

[2022-01-26 20:09] Hackwar commented on #36857
yes

[2022-01-26 20:15] richard67 commented on #36857
Closing as expected behavior.

[2022-01-26 20:15] #36857 closed, assigned to nobody

[2022-01-26 20:40] #36421 closed, assigned to nobody

[2022-01-26 20:56] coolwebcreations commented on #36763
The HELP pages are created. Please check, if issue is solved.

[2022-01-26 21:12] Gratia-Mira opened #36862 "Bug: User defined links (newUrl) were overwritten in redirect plugin"
### Steps to reproduce the issue
1. install last fix from GitHub (#36733)
2. arrange a redirection in the redirect pugin
3. retrieve it and set any parameter
4. repeat it with another parameter
5. check the input in the redirect plugin

### Expected result
the entry for new Url in the plugin value was not changed

### Actual result
All parameters were added to the entry. Ugly urls are created

###

[2022-01-26 21:44] richard67 commented on #36862
How do you know so sure that it is a bug so you add „[Bug]“ to the title? Does it work differently in Joomla 3?

A bug is when a software behaves in a way not intended by the programmer. It is not necessarily a bug when it does not behave like some users want.

You should leave it to us to classify if it is a bug or not.

[2022-01-26 21:48] Hackwar commented on #34841
#36863 fixes this.

[2022-01-26 21:54] Gratia-Mira commented on #36862
Sorry, but I really got scared when I realized that my entries were overwritten. I was first afraid that I was hacked and then realized that it was related to the latest update of Joomla. For me, it resulted in 100 "server errors" on Google Search Console. Is not great and was certainly not the goal of the programmer.

Thanks but for the great work of Joomla! I will not write more bug next time!

[2022-01-26 21:57] richard67 commented on #36862
Hmm you could be right and it was introduced with the last release with the feature to always incremental the hits counter with every 404.

[2022-01-26 22:01] richard67 commented on #36862
For reference: The change was introduced with PR #34640 .

@tonypartridge Could you check if your PR could have caused this issue? Thanks in advance.

[2022-01-26 22:04] tonypartridge commented on #36862
I'll check the issue out. But it has nothing to do with that PR directly since that just does a DB count update.

[2022-01-26 22:13] richard67 commented on #36851
Closing as having a pull request.

[2022-01-26 22:13] #36851 closed, assigned to nobody

[2022-01-26 22:16] chmst opened #36866 "Quickicon for global checkin does not count numbers"
### Steps to reproduce the issue### Steps to reproduce the issue
This is probably related to php version 8 as it is not in online  applications with php7.3
Maybe also related to com_language, I got an error 500 on the ajax request with and answer related to com_language when I was in a german backend.

In quickicons, set the icon for global check-in to "items with count".

### Expected result
A nu

[2022-01-26 22:17] Hackwar commented on #33721
I've taken a look at this and to me right now this works as expected. Can you check if this has been solved in the meantime?

[2022-01-26 22:55] richard67 commented on #36862
@tonypartridge It writes the complete object and not just the hits count, so that could be the problem, but maybe I am missing something.

[2022-01-26 23:47] Quy commented on #36054
@Hackwar

[2022-01-26 23:52] Hackwar commented on #36054
That looks like a third party finder plugin, not a core issue. I had similar issues with DOCman, who have insanely long routes which they want to store in that field. The field in the DB is already 400 chars long and I don't want to extend that further, among other reasons because we are getting issues with index length. Normally, the route should be like 50 chars at max...

[2022-01-27 00:53] Hackwar commented on #26233
Here is the PR to implement this: #36867

[2022-01-27 00:53] Hackwar commented on #32900
Would #36867 be an acceptable fix for this to you?

[2022-01-27 00:59] Quy commented on #26233
Closing as having a pull request.

[2022-01-27 00:59] #26233 closed, assigned to nobody

[2022-01-27 00:59] Quy commented on #34841
Closing as having a pull request.

[2022-01-27 00:59] #34841 closed, assigned to nobody

[2022-01-27 08:13] toonetcreation commented on #36854
any news or infos?<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36854">issues.joomla.org/tracker/joomla-cms/36854</a>.</sub>

[2022-01-27 08:21] brianteeman commented on #36866
on a monolingual site with php 8.0.10 I could not replicate this

[2022-01-27 08:25] chmst commented on #36866
Was the number of folder > 0?

I found this in the ajax request answer, seems to be the plural language string.

-- libraries\\src\\Language\\Text.php(251): sprintf('Globales Freige...', 2)
-- administrator\\components\\com_checkin\\src\\Controller\\DisplayController.php(120): Joomla\\CMS\\Language\\Text::plural('COM_CHECKIN_N_Q...', 2)\n
-- \\libraries\\src\\MVC\\Controller\\BaseController.php(73

[2022-01-27 08:27] brianteeman commented on #36866
it was 1

[2022-01-27 08:28] Shubhamverma2796 commented on #36859
Removing +1 from line 415 fixes the issue. After removing +1, if the task fails the count is incremented by +1 only and does not get doubled. Please let me know if this is a valid fix then I will open a pr.

[2022-01-27 08:29] chmst commented on #36866
Then it is another language key which does not replace the %D

COM_CHECKIN_N_QUICKICON_SRONLY="Globales Freigeben: %D Tabellen haben gesperrte Einträge."

[2022-01-27 08:30] brianteeman commented on #36866
I did locate another problem though - note the count. only the first image has the correct count

![image](https://user-images.githubusercontent.com/1296369/151321018-b9685e5d-60da-42f1-a0c2-1fc55ac81796.png)

![image](https://user-images.githubusercontent.com/1296369/151321027-ac3faf62-8da4-4206-8a1c-e6e69ff00bf2.png)

![image](https://user-images.githubusercontent.com/1296369/151321035-ac77fea7-

[2022-01-27 08:34] chmst commented on #36866
The first one counts the number of records, the quickicon counts the number of folders. I agree that this is not self explaining.

[2022-01-27 08:35] brianteeman commented on #36866
folders is wrong. you are checking in items

[2022-01-27 08:38] chmst commented on #36866
Can you open another issue then? Then it will not be forgotten if this one will be closed.

[2022-01-27 08:59] brianteeman commented on #36866
will do

[2022-01-27 09:24] zero-24 commented on #36854
I just did a quick check with a site where I use 2FA and I can not confirm that issue. Can you check your php error log and maybe check error messages when you set error reporting to maximum? Please also check that the 2FA Plugin have been enabled.

As a quick fix you can go and disable the plugins via the database or by renaming the /plugins/twofactorauth/ folder to plugins/back_twofactorauth/ th

[2022-01-27 09:47] Hackwar commented on #33494
@PhilETaylor can you check this again so that we either further investigate or we can close this?

[2022-01-27 09:51] Hans-63 commented on #36856
Thanks a lot for the answer; my search earlier didn't give this answer.....

[2022-01-27 09:51] Hackwar commented on #36648
How is the second article linked in your site? You will need a categories, category or article menu entry for an article to get a "nice" URL. If you are expecting the old behavior (Frontpage article menu item as homepage of the site and everything falls back to that one), that has been removed.

[2022-01-27 10:19] toonetcreation commented on #36854
I have tried again and otday works fine.
weird because yesterday I tried many times and problem was the same.
so problem closed for me.
thanks<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36854">issues.joomla.org/tracker/joomla-cms/36854</a>.</sub>

[2022-01-27 10:27] zero-24 commented on #36854
Are you using Google 2FA or YubiKey 2FA? Maybe the YubiKey server was not reachable at that very moment where you tested?

But as its solved I will close here for now feel free to reopen when it happens again or you have more infos for us.

[2022-01-27 10:27] #36854 closed, assigned to nobody

[2022-01-27 10:51] ThomasGarcia05 opened #36869 "Automatic update with PROXY"
Hello,

it seems to me that there is an issue when updating Joomla under a proxy

The proxy is well designated in the config panel, but the update don't run.

In the log we get the following error :
[04-Jan-2021 18:06:06] WARNING: child 9550 said into stderr: "NOTICE: PHP message: PHP Warning: get_headers(https://downloads.joomla.org/cms/joo..._Package.zip): failed to open stream: Connection timed

[2022-01-27 11:02] richard67 commented on #36869
@ThomasGarcia05 Could you provide some information about from which to which Joomla version you are updating? Thanks in advance.

[2022-01-27 11:03] richard67 commented on #36859
Closing as having a pull request. Please test #36868 . Thanks in advance.

[2022-01-27 11:03] #36859 closed, assigned to nobody

[2022-01-27 11:04] toonetcreation commented on #36854
I'm using Google 2FA.
yes probably out yesterday...<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36854">issues.joomla.org/tracker/joomla-cms/36854</a>.</sub>

[2022-01-27 11:08] zero-24 commented on #36869
Hmm on a quick look it looks like we have to add something like this when there is a proxy setting:
https://stackoverflow.com/questions/17111112/using-get-headers-with-a-proxy

Or can we do what get_headers does via our HTTP class somehow that would be a better solution I guess as IIRC there we already handle all that proxy stuff.

[2022-01-27 11:10] zero-24 commented on #36869
Does anyone know how to easlily "simulate" an proxy so that we could setup an test enviorment? Or does someone have a proxy setup that we could use to test on?

[2022-01-27 11:11] brianteeman commented on #36854
You should also note that 2fa is extremely time sensitive. If the time of your device (or server) is not correct then 2fa will fail

[2022-01-27 11:12] brianteeman commented on #36869
You can use [Charles](https://www.charlesproxy.com/) - @hleithner was able to help me set it up previously

[2022-01-27 11:12] richard67 commented on #36869
@ThomasGarcia05 How are the Proxy Settings set in the "Server" tab of Global Configuration?

[2022-01-27 11:41] ThomasGarcia05 commented on #36869
The last time it was to 3.10.5 from the version just before.
For the Proxy Settings (my translation from french, sorry for mistakes)
Behind a load balancer : no
Enable outbound proxy : yes
Outbound proxy host : http://proxy.ac-aix-marseille.fr
Outbound proxy port : 8080

Other fields without answer<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Ap

[2022-01-27 12:03] MartijnMaandag opened #36870 "PLG_SYSTEM_JOOA11Y_EMBED_AUDIO"
### Steps to reproduce the issue
I am translating new J4.1 strings into Dutch and did find this in de content of the above Languagestring.

Text:
Please ensure to provide a <strong>transcript for all podcasts.</strong> Providing transcripts for audio content is a mandatory Level A requirement. Transcripts support people who are **D/deaf** or hard-of-hearing, but can benefit everyone. Consider plac

[2022-01-27 12:24] brianteeman commented on #36870
Well spotted. It's not actually a typo.

The word deaf is used to describe or identify anyone who has a severe hearing problem.

We use Deaf with a capital D to refer to people who have been deaf all their lives, or since before they started to learn to talk.

[2022-01-27 12:51] richard67 commented on #36870
So the issue should be closed as expected behaviour? Or should the text maybe enhanced to "Deaf or deaf" instead of "D/deaf"?

[2022-01-27 13:37] Hackwar opened #36872 "[4.1] Core templates SCSS does not compile in release"
Try to compile the SCSS of the frontend template for example in media/templates/site/cassiopeia/scss/template.scss That is what we are shipping to our users with 4.1 and it does not compile, since it is a copy from the /build folder to the /media folder. However in the /build folder it is another level deeper than in the /media folder and thus for example the above file tries to include files by t

[2022-01-27 13:38] brianteeman commented on #36872
How are you trying to compile it?

[2022-01-27 13:39] brianteeman commented on #36870
D/deaf is a common term so should be left as it is for english. Translators are free to handle this as they wish

[2022-01-27 13:40] richard67 commented on #36870
Closing as expected behaviour.

[2022-01-27 13:40] #36870 closed, assigned to nobody

[2022-01-27 13:42] euphoriatek commented on #36648
I think I need to create a category list menu and then need to assign a module in that particular category menu. It can solve my issue.

[2022-01-27 13:44] Hackwar commented on #36872
I've tried it with the code from #35403.

[2022-01-27 13:45] toonetcreation commented on #36854
ok undertsood, many thanks ;-)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36854">issues.joomla.org/tracker/joomla-cms/36854</a>.</sub>

[2022-01-27 13:50] Hackwar commented on #21439
#36867 would be the above described solution to this problem and I think the only possible solution here. There for I would ask @quy to close this.

[2022-01-27 14:05] richard67 commented on #36872
@dgrammatiko Could you have a look on this issue? Thanks in advance.

[2022-01-27 14:12] dgrammatiko commented on #36872
The `scss` folder in the `media/...` is a **deliverable** and not the **source** thus they should **NOT** used (in conjunction with Joomla's own tools) for compiling the css files, for those you need to use the folder `build/...`. But anyways the PHP compiler should be abandoned as it's not a real replacement of the actual tools for compiling SCSS to CSS...

[2022-01-27 14:14] Hackwar commented on #36872
However we aren't talking about the PHP compiler, but about the SCSS we are going to ship with 4.1 and that SCSS right now is broken. You can not create an SCSS file which includes that template.scss and run npm to compile it. So please stay on topic.

[2022-01-27 14:16] dgrammatiko commented on #36872
You can, the source files are in the build folder...

[2022-01-27 14:16] dgrammatiko commented on #36872
Yes probably should be removed

[2022-01-27 14:18] brianteeman commented on #36872
That folder is not distributed

Irrespective of the phpcss thing having the scss for the templates is useful - assuming that the paths are fixed and they can be used.

@Hackwar raises a valid issue here

[2022-01-27 14:22] tonypartridge commented on #36862
You are correct, but it's due to poor previous logic. I'll create a PR. Thanks for your issues @Gratia-Mira

[2022-01-27 14:24] richard67 commented on #36862
@tonypartridge Yeah, that was what I expected, I did not think your PR broke something, only that it may have unmasked an older issue.

[2022-01-27 14:26] dgrammatiko commented on #36872
Let me disagree here. Bootstrap 5.2 will have most of their components (I think their missing only the forms, but have;t checked lately) using CSS Variables. Meaning you will never-ever need to recompile Bootstrap... The whole SCSS precompiling is not needed anymore...
Here's what Bootstrap is doing regarding CSS Variables:
- https://github.com/twbs/bootstrap/pull/35428
- https://github.com/twbs/b

[2022-01-27 14:28] dgrammatiko commented on #36872
What I'm trying to say is **JUST KILL SCSS** It was a **mistake**

[2022-01-27 14:40] tonypartridge commented on #36862
Don’t know how it’s been missed this long tbh! Directly changing the new
value which should never be changed unless done by a user in the admin.

On Thu, 27 Jan 2022 at 14:24, Richard Fath ***@***.***> wrote:

--
Tony Partridge
Xtech Web Services Ltd

Managing Director/Developer

[2022-01-27 15:38] #21439 closed, assigned to nobody

[2022-01-27 16:21] yurypinchuk opened #36874 "Redirection, Joomla 4.0.6"
The built-in redirection does not work. Previously, there was no such problem.

https://mirx100.com/muzei
https://mirx100.com/registration

[2022-01-27 16:28] Quy commented on #36874
It is a known issue. See https://docs.joomla.org/J4.x:Redirects_from_Redirect_system_plugin_(if_enabled)_cause_internal_server_errors_500 for solution.

[2022-01-27 16:28] #36874 closed, assigned to nobody

[2022-01-27 16:35] yurypinchuk commented on #36874
Thank you very much!<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36874">issues.joomla.org/tracker/joomla-cms/36874</a>.</sub>

[2022-01-27 16:40] HLeithner commented on #36869
you can't use a "normal" proxy or better only the proxy without manually disable the certificate validation for joomla update.

We force https and a valid certificate, if your proxy has a root certificate which can be used by joomla you should be possible to use the proxy. else it will only be possible with a core hack

actually think about it it's a feature that can be removed since hopefully 99%

[2022-01-27 17:40] chmst commented on #36866
The german language strings use %D instead of %d as placeholder for variables in this language file (com_checkin.ini).  With php 7 this does not matter but in php 8
@tecpromotion @zero-24.

Solution in the language file or in the sprintf function of text.php in case of other languages who also use %D??
Regex is not what I want to touch ...

[2022-01-27 18:03] tecpromotion commented on #36866
fixed in https://github.com/joomlagerman/joomla/pull/2253
thanks @chmst

[2022-01-27 18:10] heelc29 commented on #36676
In addition, when the task is closed (or saved&closed), the values for `checked_out` and `checked_out_time` are also not correctly reset to `NULL`. This is indicated in _Maintenance: Global Check-in_.

![image](https://user-images.githubusercontent.com/66922325/151415507-5a1fdc24-a281-4fee-9c31-f19f79fbae47.png)
![image](https://user-images.githubusercontent.com/66922325/151415794-04041212-9bc5-41

[2022-01-27 18:31] zero-24 commented on #36869
The get_header calls are there since 3.7.0 without anyone reporting any issues. https://github.com/joomla/joomla-cms/pull/12817

My question would by why did we need that thing anyway? Doesnt JHttp usually follow the location anyway?

@ThomasGarcia05 please test this new method and report back whether that workes for you:

[code]

Looks like we would also have to test that change on windows as on

[2022-01-27 18:34] Gratia-Mira commented on #36862
@tonypartridge Thanks back for your work!

[2022-01-27 18:37] richard67 commented on #36862
Closing as having a pull request. Please test #36873 . Thanks in advance.

[2022-01-27 18:37] #36862 closed, assigned to nobody

[2022-01-27 18:41] richard67 commented on #36676
Closing as having a pull request. Please test #36875 . Thanks in advance.

[2022-01-27 18:41] #36676 closed, assigned to nobody

[2022-01-27 19:05] #36866 closed, assigned to nobody

[2022-01-27 19:14] brianteeman commented on #36872
Maybe so but for at least the next 6 months we will be shipping it - so it should be usable

[2022-01-27 20:29] PhilETaylor commented on #33494
Cannot replicate 8 months after opening.

[2022-01-27 20:29] #33494 closed, assigned to nobody

[2022-01-27 20:48] dgrammatiko commented on #36872
Ok will try to do a pr this weekend

[2022-01-28 09:52] brianteeman opened #36881 "[4.1] Media Manager [a11y]"
### Steps to reproduce the issue
Use this keyboard only and try to create a new folder in the media manager

The _modal_ never gets keyboard focus - you can see navigation taking place on the main window below the modal

![media](https://user-images.githubusercontent.com/1296369/151525612-73aa5b36-a402-401b-91a1-248dd53a251a.gif)

[2022-01-28 10:31] dgrammatiko commented on #36872
This can be closed

[2022-01-28 10:33] richard67 commented on #36872
Closing as having a pull request. Please test #36879 . Thanks in advance.

[2022-01-28 10:33] #36872 closed, assigned to nobody

[2022-01-28 10:48] ThomasGarcia05 commented on #36869
Hello,

this last method work for us. But after the update we come back to the original file.
Is it possible to put it in the future version of Joomla ?

Thank you.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36869">issues.joomla.org/tracker/joomla-cms/36869</a>.</sub>

[2022-01-28 10:53] zero-24 commented on #36869
Sure thats the plan but i have not been able to setup the PR yet. Thanks for the test will prepare a PR over the weekend.

[2022-01-28 13:17] pritam825 commented on #36838
can I remove FOFModel code comments, if you allow me.

[2022-01-28 13:22] pritam825 commented on #36881
I am working on this

[2022-01-28 15:13] jschmi102 commented on #36757
hi,
after have done a couple of tests on my sites I found that the problem disapears if I enable the page cache system plugin. As content now is retrieved from cached page entry all content is complete (nothing missing).
On the other hand I could not find out any reason for my problem.

[2022-01-28 15:13] #36757 closed, assigned to nobody

[2022-01-28 15:17] rbuelund opened #36883 "[3.10] Error in Smart Search indexer"
### Steps to reproduce the issue
Start the Smart Search indexing.

### Expected result
The Indexing should finish without errors

### Actual result
The Smart indexer stops at around 80%
Throws this error: Call to undefined method Joomla\CMS\Application\AdministratorApplication::getParams()

### System information (as much as possible)
Joomla 3.10.5
PHP 7.4

### Additional comments
It is not possib

[2022-01-28 15:37] zero-24 commented on #36757
Thanks for checking back :)

[2022-01-28 17:35] pritam825 commented on #36881
I have replace this code
      MediaManager.Event.listen('onClickCreateFolder', function () {
        return _this2.$store.commit(SHOW_CREATE_FOLDER_MODAL);
      });
with this
      MediaManager.Event.listen('onClickCreateFolder', function () {
       document.querySelector('[tabindex="-1"]').focus();
        return _this2.$store.commit(SHOW_CREATE_FOLDER_MODAL);
      });
But it's not working ,

[2022-01-28 17:50] brianteeman commented on #36357
Quite a few people on facebook have reported this today.

It is easy to replicate by doing an update to the latest j3 and then immediately updating to j4

[2022-01-28 17:51] brianteeman commented on #36881
If I could have fixed it then I would have done it myself. Sorry I dont have a clue

[2022-01-28 17:57] pritam825 commented on #36881
ok sir Thanks, I will try until I get the solution.

[2022-01-28 18:20] PMWilliams123 opened #36885 "Overrides need checking on an uninstalled template"
### Steps to reproduce the issue

Updated Joomla Core form 4.0.5 to 4.0.6
Updated Template Creator CK form 5.0.9 to 5.0.11
Checked templates noticed I had two copies of the same template.
Changed site template to Cassiopeia and uninstalled the template made in Template Creator CK template.
Both instance of that template gone.
Recreated installed the template form template creator CK.
Noticed that

[2022-01-28 18:23] brianteeman commented on #36885
Thanks very much for the report

[2022-01-28 19:35] brianteeman commented on #35277
The override check wont do anything in this scenario

If only it was that easy. By default neither svg nor ico files can be uploaded using the editor

[2022-01-28 19:46] dgrammatiko commented on #35277
Also you can't create `.min.css` or `.min.js` and countless more limitations I've discovered as I was patching com_templates. The editor part of com_templates is really bad (no A11y, awful UX, etc) but I was asked to not introduce more B/C breaks than the absolute minimum to get the new functionality (reasonable decision as 4.1 is not a major version).
I might have another solution...

[2022-01-28 19:48] richard67 commented on #35277
Well, if I shall re-open this issue in the mean time, let me know and I do so.

[2022-01-28 20:00] dgrammatiko commented on #36881
@pritam825 you will need to jail the tab functionality only to the modal focusable elements, eg:
- get the modal focusable elements: https://github.com/joomla-projects/custom-elements/blob/1b3b9e7a0a19eca44c5f91eb89f6d6009e8b3f90/src/js/modal/modal.js#L13
- jail logic: https://github.com/joomla-projects/custom-elements/blob/1b3b9e7a0a19eca44c5f91eb89f6d6009e8b3f90/src/js/modal/modal.js#L165-L189

[2022-01-28 20:23] pritam825 commented on #36881
@dgrammatiko Thanks, I am working according to your instruction

[2022-01-29 08:34] akshitrattan commented on #36881
Where do we have to make the changes for the modal, as in which file???

[2022-01-29 08:45] akshitrattan commented on #36881
`const focusasbleElements = ['a[href]', 'area[href]', 'input:not([disabled])', 'select:not([disabled])', 'textarea:not([disabled])', 'button:not([disabled])', 'iframe', 'object', 'embed', '[contenteditable]', '[tabindex]:not([tabindex^="-"])'];
    const firstFocusableElement = modal.querySelectorAll(focusableElements)[0];
    const focusableContent = modal.querySelectorAll(focusasbleElements);

[2022-01-29 10:08] akshitrattan commented on #36814
I think the problem is not with the preg_match function
I tried a lot of permutations and combinations, and the problem only occurs when inputting "<>", maybe there is a problem with the clean function, because the input "<akshitrattan" is accepted but saved as "akshitrattan".

[2022-01-29 10:15] akshitrattan commented on #36814
can you guide me as to where I would be able to check the code for executing the 'TRIM' return type for the clean function being used here

[2022-01-29 10:19] heelc29 commented on #36239
Do you think that's no log file is created when you do a "Test Run" or "Run Task" manually?

[2022-01-29 11:45] zero-24 commented on #36869
An PR has bee created here please test there again as i have improved the code to more closly follow what we did with the get_headers call: https://github.com/joomla/joomla-cms/pull/36886

Will close here as there is a PR.

[2022-01-29 11:45] #36869 closed, assigned to nobody

[2022-01-29 12:15] Quarx64 opened #36887 "Install Languages is not possible"
Debian 10
PHP 8.0.14
Apache 2.4

[Sat Jan 29 12:50:08.310049 2022] [php:warn] [pid 25493] [client 192.168.100.101:6403] PHP Warning:  simplexml_load_string(): Entity:
line 1: parser error : Start tag expected, '&lt;' not found in /var/www/html/joomla4/administrator/components/com_installer/src/Model/LanguagesModel.php on line 154, referer: http://192.168.100.104/joomla4/administrator/index.php?opt

[2022-01-29 13:00] chmst commented on #36887
Please add more information. Which joomla version? Downloaded from where? Which language are you installing? During installation of Joomla or into an existing installation?
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36887">issues.joomla.org/tracker/joomla-cms/36887</a>.<

[2022-01-29 14:45] Kostelano opened #36889 "[4.1] Components pass database table prefix to user activity log"
### Steps to reproduce the issue
Components pass the database table prefix to the user activity log. Probably not worth doing.

See https://github.com/joomla/joomla-cms/issues/36889#issuecomment-1038065923

~~To reproduce the problem, just play with the task scheduler component in the plan to create / execute / unlock the task, then look in the action log, having previously checked the scheduler c

[2022-01-29 15:20] N6REJ commented on #36839
why would you NOT use a div there?  the H3 is not part of the navbar so it makes no sense for it to be part of nav.

[2022-01-29 15:27] akshitrattan commented on #36881
I have 2 solutions to this, problem and I tried applying it on my local system but due to some reason the changes don't seem to work, I would need a little help regarding the solutions form anyone who is familiar with vue.js

[2022-01-29 15:40] akshitrattan commented on #36881
this problem is with the delete modal also

[2022-01-29 16:27] alann60 opened #36890 "[4.1] Scheduled Tasks Dashboard Typo?"
On the Scheduled Tasks Dashboard, after the add your first task screen the tasks Set Site Online and Set Site Offline have the same description see attached screenshot.

![screen shot 2022-01-29 at 16 23 49](https://issues.joomla.org/uploads/1/cca4f093f8738120df7b29675dd4c2b4.png)

Same typo in task view:

![task_scheduler_online_offline2](https://user-images.githubusercontent.com/30389463/1516692

[2022-01-29 16:47] Quy commented on #36890
Fixed in #36589. Please test using the nightly builds. https://developer.joomla.org/nightly-builds.html

[2022-01-29 16:47] #36890 closed, assigned to nobody

[2022-01-29 16:59] pritam825 opened #36891 "[4.2] clicking on the Help Button, it's giving 404 - RuntimeException"
### Steps to reproduce the issue

goto components->index-> then click on the  help button

### Expected result

help button should not be given the error on clicking help button on every page, one of the screenshot is as below

### Actual result

![Screenshot (1971)](https://user-images.githubusercontent.com/54195688/151669732-aa2aa868-d48b-44ba-939c-a18bad4756e3.png)

[2022-01-29 17:00] pritam825 commented on #36891
can I replace the link with this -> "https://docs.joomla.org/Help25:Components_Finder_Manage_Indexed_Content"

[2022-01-29 17:25] tramber91 commented on #35848
Same issue on my side Joomla 4.0.6.
If I follow @jjnxpct seems I have to install JCE to do the job today !!<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/35848">issues.joomla.org/tracker/joomla-cms/35848</a>.</sub>

[2022-01-29 17:56] brianteeman commented on #36891
that is the exoected behaviour until the help server is configured for joomla 4.2

[2022-01-29 18:13] drmenzelit commented on #35848
I have a customer on a IONOS server (MySQL 5.7.36 and PHP 7.4.25) using the TinyMCE and the Media Manager, I can upload, edit and delete files without problems, I can't confirm this issue.

[2022-01-29 18:37] tramber91 commented on #35848
On my side, website is hosted at o2switch (php 7.4.26 mysql 10.3.32-MariaDB).
At this moment i use only TinyMCE i want to keep.
I've got only error message when i want to delete a picture. No other message even if i enable "error message" in config.
@+

[2022-01-29 19:06] pritam825 commented on #36891
oh ok ,I thought there is some mistakes, Thanks sir

[2022-01-29 19:06] #36891 closed, assigned to nobody

[2022-01-29 19:16] Kostelano commented on #36889
I wrote carefully :)

At first glance, it's hard for me to imagine a situation with a security breach, even if NOT a super administrator (but just an administrator) knows the prefix of the database tables.

I think that more experienced developers will be able to appreciate this behavior. If I'm wrong, just close.

[2022-01-29 19:22] brianteeman commented on #36889
You are correct it should not show the prefix

[2022-01-30 02:40] Quy commented on #36889
I am unable to replicate. Please provide steps to reproduce.

[2022-01-30 09:29] brianteeman opened #36893 "[4.1] Moving menu item"
This is easiest to test if you have installed the sample data. These test instructions depend on the presence of the sample data.

1. Create a new menu item in the "main" menu called "test". Save and close.

2. Re-open the "test" menu item and move it to the "main menu blog" by selecting the new menu on the right hand side - do not save just yet

3. The parent item dropdown is now populated with t

[2022-01-30 09:31] brianteeman commented on #36889
From your screenshot it looks odd because there are 4 logs of a checkin and only one of those does not have the prefix removed.

[2022-01-30 09:46] Kostelano commented on #36889
Hmmm, now I have the prefix displayed in any component, not just the scheduler. I have not yet determined what sequence in the Joomla control panel should be done to get this behavior.

I'll close this for now.

[2022-01-30 11:26] chmst commented on #36649
I tried to replicate the error with an own webiste but here it is as expected. You are sure that you have set the Switch for user friendly url in your local installation?
Or is there a  template override from J3 for for  the article category module?

[2022-01-30 11:38] ditsuke commented on #36457
@pritam825 it should go under "Execution History". Also I think the button should be inlined into a field (for example the calendar and user buttons besides "Created" an "Created By".

[2022-01-30 11:40] richard67 commented on #36881
@akshitrattan You know that you have to compile the js, e.g. with `npm ci` or `npm run build:js`? See here for a description: https://docs.joomla.org/J4.x:Setting_Up_Your_Local_Environment

[2022-01-30 11:41] richard67 commented on #36881
Closing as having a pull request.

[2022-01-30 11:41] #36881 closed, assigned to nobody

[2022-01-30 12:50] richard67 commented on #36869
@ThomasGarcia05 Please test #36886 . Thanks in advance.

[2022-01-30 13:15] pritam825 commented on #36457
@ditsuke  is this fine?
![Screenshot (1976)](https://user-images.githubusercontent.com/54195688/151701234-9b5848c2-6298-47fd-a5c0-ed4829757a0c.png)

[2022-01-30 13:55] pritam825 commented on #36457
or you are taking about this, here in the input field there will two values, one is yes and another one is no, and default value will be no, when we will click on yes, then it will so a warning message and after clicking "ok" on the warning button, it resets the history
![Screenshot (1979)](https://user-images.githubusercontent.com/54195688/151702625-554dc1cf-0f1b-45f5-8836-f0881ba23f72.png)

[2022-01-30 14:02] richard67 commented on #36887
Most important is which language as it seems that either the XML file of that language download site or the manifest XML of the package is broken.

[2022-01-30 15:11] zero-24 commented on #36887
FYI @Llewellynvdm and me are looking into this and try to avoid it in the future. I would say we keep this open till we have a PR to check and validate that it worked.

[2022-01-30 15:33] brianteeman commented on #36887
If only someone had said we had an issue with bad languages before

[2022-01-30 15:34] ditsuke commented on #36457
@pritam825 take a look at this reset button for user API tokens. I believe we should have a similar radio here. You can have a look at the underlying form XML at `plugins/user/token/forms/token.xml`

![image](https://user-images.githubusercontent.com/72784348/151706093-d901a16e-6791-4657-844f-1a6b479c1d59.png)

[2022-01-30 15:40] zero-24 commented on #36887
The things we are investigating have nothing to do with bad languages for example we also got other reports where all languages where down. The latest issue that have beem fixed where an issue of the language that was wrongly setup by the admin on the downloads portal.

[2022-01-30 15:41] Quarx64 commented on #36887
Fresh Joomla 4, downloaded from joomla.org
Installation: OK
In Admin panel klick on "Install Languages" -> no effekt and Errors as described in apache.log

[2022-01-30 15:49] Quy commented on #36457
Or add a reset button next to Time Executed  and Times Failed. See Banners component where this is done.

[2022-01-30 15:53] brianteeman commented on #36457
Definitely this way is the way to go

![image](https://user-images.githubusercontent.com/1296369/151706927-0712bf15-fe63-4152-a610-9a69b29b5665.png)

[2022-01-30 15:56] ditsuke commented on #36457
Better yet! Inline these buttons for supported stats. Although not sure if Times Failed and Times Executed should be decoupled.

[2022-01-30 17:14] brianteeman opened #36896 "[4.1] Child Templates & Task Schedule"
Maybe my search skills are failing but I can't find any documentation for either of these new features. Not even a three sentence summary.

[2022-01-30 17:31] dgrammatiko commented on #36896
Depends on your expectations:
- If you're looking for documentation on the usage of those features, I guess there are no docs.
- If you're looking for the explainers of the features, then for the child templates is [here](https://gist.github.com/dgrammatiko/7aa31a2e7f82b9878eb35f8bc7e1203b)

[2022-01-30 17:41] brianteeman commented on #36896
I guess I was looking for both and expecting to find them on docs.joomla.org

[2022-01-30 17:52] brianteeman commented on #36896
Actually I was also looking for a high level overview of why we have both these new features. I've made an attempt at that which if correct someone can add to the docs site in the correct place as a start.

## Child Templates
How do you override an override and not lose it on update? How do you create multiple different overrides of the same view?

Welcome to the world of Child Templates.

A child

[2022-01-30 21:26] wilsonge commented on #35714
Pretty sure you proposed choices ;) https://github.com/joomla/40-backend-template/pull/19#issuecomment-249361490

But also chosen was included as a b/c for j3.x components until they could move to J4 and use the at the time modern choices.js. Choices is back to being maintained again at least for now by the way. They found a new maintainer.

[2022-01-30 21:31] wilsonge commented on #18833
I'm happy to take pull requests to improve the installer at any point. But going to close this for now as it's unlikely anything more is going to happen here given it's sat here for 3 years with no PRs and there's no clear proposals on how to improve the UX further.

[2022-01-30 21:31] #18833 closed, assigned to nobody

[2022-01-30 22:40] Quy commented on #36745
Closing as this an issue with a corrupt image as reported in #33062. Please report with any details of the corrupt image. Thanks.

[2022-01-30 22:40] #36745 closed, assigned to nobody

[2022-01-31 00:55] vitali-korezki opened #36898 "Support for Environment Variables in configuration.php"
### Steps to reproduce the issue
Whenever I save the configs, the file configuration.php will be overwritten, which makes it impossible to adopt in a way, so that the values can be passed over from the environment variables.

### Expected result
Could you please add support for passing environment variables instead of saving values as strings in configuration.php? Maybe there could be a way to add

[2022-01-31 04:28] durian808 commented on #36788
I just discovered this on the site I'm working on, when attempting to add a new menu item.  I rebuilt menus, but error remains.

Joomla 3.10.5
PHP 7.4.27

**Error message:**
Warning: is_file(): open_basedir restriction in effect. File(/metadata.xml) is not within the allowed path(s): (/var/www/vhosts/mywebsite.org/:/tmp/) in /var/www/vhosts/mywebsite.org/httpdocs/new/administrator/components/com_m

[2022-01-31 04:33] durian808 commented on #35895
I just discovered this on the site I'm working on, when attempting to add a new menu item. I rebuilt menus, but error remains.

Joomla 3.10.5
PHP 7.4.27

Error message:
Warning: is_file(): open_basedir restriction in effect. File(/metadata.xml) is not within the allowed path(s): (/var/www/vhosts/mywebsite.org/:/tmp/) in /var/www/vhosts/mywebsite.org/httpdocs/new/administrator/components/com_menus/

[2022-01-31 08:33] Worti2 commented on #36839
Hi everybody,

the `<h3>` must be part of the navbar! Please have a look to most of the sites in the web. Mostly there is a topmenu, a sidebar menu and a footermenu. How should a blind person differentiate all the menus when there is no explaining heading? Although there is a heading, the screenreader will skipp directly to the menuitems. The blind user have to listen to all the items before he wi

[2022-01-31 08:38] drmenzelit commented on #36839
That is a very interesting video about several navs on a page: https://www.youtube.com/watch?v=I1lq2ge7g4g

[2022-01-31 08:45] brianteeman commented on #36839
Actually the issue is not having the h3 within the nav but ensuring the nav is described by the h3.

I will submit a pr later today that addresses this.

Note it will not prevent a user adding an additional nav wrapper around the existing nav

[2022-01-31 08:48] wedevlops opened #36899 "2 bugs found for Joomla 4.0.6"
### Steps to reproduce the issue
Hi,

I have seen two bugs so far:

1. the private massage does not work in Joomla 4 ver. 4.0.6
Go to:
User - massaging - Private massage

2. Article options has also a bug; basically if you change the Author to hide in global configuration is working; but when you sent this to an individual page like hiding author, hits, publish date, category, and other fields won

[2022-01-31 08:59] durian808 commented on #35895
UPDATE:

This is a bug because a function in item.php is passed incorrect value(s).

Here's the breakdown of what's causing this bug...

The warning is produced in ./administrator/components/com_menus/models/item.php

The function in question is:  preprocessForm

Inside preprocessForm:

`$link     = $this->getState('item.link');`

The getState function is in libraries/src/MVC/Model/BaseDatabaseMod

[2022-01-31 09:07] brianteeman commented on #36899
Neither of these are bugs

1. Private messages will only offer to send a message to users with access to the administrator. If you dont have any users with administrator access then there will be no users offered.

2. You also need to consider the options settings in the menu

[2022-01-31 09:17] zero-24 commented on #36887
The server side patch from @Llewellynvdm has been deployed now.

[2022-01-31 09:19] richard67 commented on #35895
@durian808 The same question from my previous comment goes to you:

Could you test if the changes from pull request (PR) #36789 fix this issue for you and report back here? The fix has already been merged and so will be included in the next 3.10 release.

[2022-01-31 09:29] durian808 commented on #35895
Yes, it is equivalent to my WORKAROUND noted above.

The coding of item.php is worrisome to me.  It appears there should be separate logic for the case of $base being null, up front in the function, and clarification of what $base being null actually means.  I.e. Why should $base ever be null?  If that is not normal, what is causing it?  Why would this function be called with $base being null, and

[2022-01-31 09:34] wedevlops commented on #36899
Thanks for point number 1. Now; I know that only part of the administrator can send messages.

but for number 2 items. see attached file. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36899">issues.joomla.org/tracker/joomla-cms/36899</a>.</sub>

[2022-01-31 09:36] richard67 commented on #36899
@wedevlops Which attached file? There is none.

[2022-01-31 09:41] richard67 commented on #36839
Closing as having a pull request. Please test #36900 . Thanks in advance.

[2022-01-31 09:41] #36839 closed, assigned to nobody

[2022-01-31 09:45] wedevlops commented on #36899
![screen shot 2022-01-31 at 09 45 29](https://issues.joomla.org/uploads/1/44748c60e7199b71e189b38d256ae4ad.jpg)

sorry; i miss out the attachment<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36899">issues.joomla.org/tracker/joomla-cms/36899</a>.</sub>

[2022-01-31 09:47] wedevlops commented on #36899
if you also try hide the hits and publish date.. it will not work as well. I just create a one example on my marking author hide. <hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36899">issues.joomla.org/tracker/joomla-cms/36899</a>.</sub>

[2022-01-31 09:49] richard67 commented on #36899
@wedevlops What does your screenshot show? The article settings? Or the menu item settings? The menu item settings tale precedence over the article settings, and these take precedence over the global settings.

[2022-01-31 13:11] Orgoth commented on #36311
I don't know who downvoted this comment, but for german users without an annoying cookie-consent, using this plugin is not possible.
With the new law ttdsg, the users needs to consent before any request to google or other non european country is allowed.
The use of svg icons or a minimal font-icon-set from icomoon local hosted, would be the perfect solution.

https://www.gesetze-im-internet.de/ttd

[2022-01-31 13:36] phunsoft opened #36901 "Preview does not show changes in article, unless the changes were saved before"
### Steps to reproduce the issue
1. Write and save an article. Backend or frontend diesn't matter for this step
2. Edit the article in the backend. DON'T save yet.
3. Hit "Preview" button.

### Expected result
The preview should show the *changed* article, despite the fact the changes haeve not been saved yet.

### Actual result
The preview shows the last saved state of the article

### System inf

[2022-01-31 14:04] niharikamahajan02 commented on #36901
We need to click on the save button first  ,after that by clicking preview button changes are visible.

[2022-01-31 14:06] niharikamahajan02 commented on #36901
I think it's better to save the article before clicking  preview button.

[2022-01-31 14:10] phunsoft commented on #36901
Yes, this is what I see. But what is the purpose of the preview when I
need to save first?

For me "preview" means I can verify the changes *before* saving, so that
the public would not see it yet. This is how preview works on (most)
forums.
If a "save" is required for "preview" to work, "preview" is useless.

Am 31.01.2022 um 15:04 schrieb niharikamahajan02:

[2022-01-31 14:41] martiniturbide commented on #36185
Hi.

I started to experience the same problem on Joomla 3.10 while trying to reach  3.10.5 .
I'm stuck in 3.10 with the same error.
- I can not downgrade PHP
- I can not upgrade to Joomla 4 yet. (My community uses an old browser and Joomla 4 does not display right in it)

Is there any other solution?

Regards<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J

[2022-01-31 14:52] martiniturbide commented on #36185
Hi

If I try to upgrade manually to 3.10.5 (Changing the files directly), do you think this error will be gone?

Regards<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36185">issues.joomla.org/tracker/joomla-cms/36185</a>.</sub>

[2022-01-31 15:24] richard67 commented on #36901
@phunsoft You can save the article with unpublished state so people visiting cannot see it, but in the preview you can. I would not call this useless.

[2022-01-31 15:36] brianteeman commented on #36901
@richard67 you can only do that if you are also logged in at the front end with permissions set to view unpublished articles

[2022-01-31 15:39] richard67 commented on #36901
@brianteeman I see ... not very comfortable, it seems. So this is a valid issue? But technically I have problems to imagine how we could show a preview without the article having been saved.

[2022-01-31 15:40] brianteeman commented on #36901
Its a valid issue for me. Have the same problem obviously with the accessibility checker. @roland-d did try to resolve this before but it didnt complete

[2022-01-31 15:41] niharikamahajan02 commented on #36901
yes that was a point I was also thinking about.

[2022-01-31 15:42] niharikamahajan02 commented on #36901
Is having a save as copy button going to help?

[2022-01-31 15:43] richard67 commented on #36901
Well, that I can't imagine how it can be done doesn't mean it can't be done.

Save as copy won't help here.

[2022-01-31 15:45] niharikamahajan02 commented on #36901
Ohkk . If it is a valid issue , I would think of a way to solve it then .

[2022-01-31 16:53] sunnydrake commented on #35196
stumped on same hoster issue with php 8.1 .. in akeeba following code is used to check for function
			if (function_exists('set_time_limit'))
			{
				set_time_limit(0);
			}<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/35196">issues.joomla.org/tracker/joomla-cms/35196</a>.

[2022-01-31 16:55] PhilETaylor commented on #35196
This should be reopened and fixed the same way

[2022-01-31 16:55] sunnydrake commented on #35196
also according to code this function is disabled in safe_mode<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/35196">issues.joomla.org/tracker/joomla-cms/35196</a>.</sub>

[2022-01-31 16:56] PhilETaylor commented on #35196
Its not 1990 any longer - any respectable web host would not be using `safe_mode` - there are very very little reasons now to run such a configuration.

[2022-01-31 16:56] sunnydrake commented on #35196
if (function_exists('ini_get') && function_exists('set_time_limit'))
			{
				if (!ini_get('safe_mode'))
				{
					@set_time_limit(0);
				}
			}<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/35196">issues.joomla.org/tracker/joomla-cms/35196</a>.</sub>

[2022-01-31 17:36] sternenvogel commented on #36857
@Hackwar What's 'the "proper" method to delete articles'? I use to trash articles in the article list (/administrator/index.php?option=com_content&view=articles), then reindex. But the trashed article remains in the search index.
Same after then emptying trash and reindexing again. Even after clearing all caches and reindexing again it was still not renoved from search index.

[2022-01-31 17:46] #36054 closed, assigned to nobody

[2022-01-31 17:50] Hackwar commented on #36857
The moment you trash articles, they shouldn't show up in the frontend anymore. They stay in the index as unpublished content. Only when you clear the trash, they will be removed from the index. You never need to click the index button in the backend. If they aren't unpublished and/or removed, then I would assume that the content finder plugin is not active and you are indexing with something else.

[2022-01-31 17:57] StefanSTS opened #36904 "[4.0] Language Override changes HTML5 to XHTML"
### Steps to reproduce the issue

Make a new language override in Joomla.
TEST_BR with content test&lt;br&gt;test

### Expected result

test&lt;br&gt;test

### Actual result

test&lt;br /&gt;test

### Additional comments

The language overrides should not convert HTML5 into XHTML.

[2022-01-31 20:48] sternenvogel commented on #36857
That was the clue: I assumed that all plugins needed for smart search to work properly are enabled by default. But "Content - Smart Search" was not enabled by default. With this, everything is doing fine. Thanks for your valuable hint and sorry for bothering you :)

[2022-01-31 20:50] Hackwar commented on #36857
You should be getting a message in the smart Search component that that plugin is not enabled.

[2022-01-31 21:16] Hackwar commented on #36883
This looks more like a content plugin that doesn't behave properly. There is no getParams() on an application object in the core finder plugins. However, during indexing the content plugins are run on the indexed content and quite a lot of plugins exclude themselfs when in the indexing context. This sounds a bit like a content plugin doesn't take that into consideration and runs regardless.

[2022-01-31 22:00] phunsoft commented on #36901
Well, if I unpublish the article, it becomes invisible to the public. I don't want to unpublish a published article, be it only temporaily. The odds will be a user needs this very information just at this point in time.

If it is not possible to implement a real preview with reasonable effort, then the preview button should be removed. Still better than what we have now. IMHO.

[2022-01-31 22:00] phunsoft commented on #36901
Even more clumsy. I'd need to publish in some category only the editor has access to, look at the article, and if ok, change the category, unpublish the old article, then rename the new one, and finally modify menu entries.

[2022-01-31 22:41] brianteeman commented on #19381
Confirming the exact same issue is present in j4

[2022-01-31 22:42] zero-24 commented on #28925
Closing as there is a PR: #36907 by @brianteeman thanks!

[2022-01-31 22:42] #28925 closed, assigned to nobody

[2022-01-31 22:45] brianteeman commented on #36904
Confirmed. Almost certainly for the same reason as #34135

[2022-01-31 22:48] brianteeman commented on #18423
4 and half years later I think that can be closed

[2022-01-31 22:53] wmienis commented on #35751
I Have the same issue.
After entering all fields for the website, the database and al the right credentials the installation comes up with the Joomla Logo and looks as if it is installing.
After a while (1 min) the startpage form the installation is loaded again. No error message anywhere.
The database is created.
If I rename the install folder to check if anything is happend it gives the message

[2022-01-31 22:59] brianteeman commented on #24430
If I remember correctly this is NOT about moving the category but using the drag and drop to change the order. There definitely was a problem in the past that the entire tree would not move but that has been fixed some time ago.

I recommend closing this as resolved elsewhere - it can always be reopened if I am wrong _(but that never happens😂)_

[2022-01-31 23:07] brianteeman commented on #23778
I guess this can be closed now that j4 is released?

[2022-01-31 23:08] brianteeman commented on #25522
@zero-24 is there any point in keeping this open. Shouldnt it just be closed as a _known issue cant fix_

[2022-01-31 23:11] brianteeman commented on #25270
@uglyeoin dam - I remembered it but didnt find it when I created an issue the other day https://github.com/joomla/joomla-cms/issues/36893

Happy to close mine but as its newer perhaps it will get noticed and acted upon in which case can you close this one.

[2022-02-01 01:15] #23778 closed, assigned to nobody

[2022-02-01 05:27] Quy commented on #36661
Duplicate #31889?

[2022-02-01 05:30] alehei3333333 opened #36908 "Joomla 4 - Error 404"
### What needs to be fixed

### Why this should be fixed

### How would you fix it

### Side Effects expected

[2022-02-01 05:36] alehei3333333 commented on #36908
Wrote a trial component

schooltech.xml
`<?xml version="1.0" encoding="utf-8"?>
<extension type="component" method="upgrade">

    <name>SchoolTech</name>

    <creationDate></creationDate>

    <author>MuCompani</author>
    <authorUrl></authorUrl>
    <copyright></copyright>
    <license></license>

    <version>0.1</version>

    <description>
        Контент для сайта
    </description>

    <

[2022-02-01 05:39] rbuelund commented on #36883
Just tried to deactivate all content plugins on the site and run the indexer - the problem is still there ?

[2022-02-01 07:17] Hackwar commented on #36883
System plugins can react on content events as well, so unfortunately you would have to test that further.

[2022-02-01 08:14] b2z commented on #36908
This should be closed as not related to CMS at all

[2022-02-01 08:26] chmst commented on #36908
@alehei3333333 please ask such questions in forum.joomla.org, this is for issues with the joomla core. So closing.

[2022-02-01 08:26] #36908 closed, assigned to nobody

[2022-02-01 10:18] brianteeman commented on #36887
I guess this can be closed now?

[2022-02-01 10:38] richard67 commented on #36887
@Quarx64 Please test and report back if it works now for you. Thanks in advance.

[2022-02-01 12:02] simbus82 commented on #36901
I understand very well what the OP says, and it's right. Do you ever used the preview tab here in Github?

![image](https://user-images.githubusercontent.com/1375730/151964735-25768874-3dec-4742-8c97-60e7aa7decc8.png)

This is what a "preview" has to do. I need a preview BEFORE saving. But in Joomla we can use versioning to obtain this, but semantically and from UX side the "preview" in Joomla is

[2022-02-01 12:12] brianteeman commented on #36901
No you cant

[2022-02-01 12:13] brianteeman commented on #36901
Not really comparable

[2022-02-01 13:25] simbus82 commented on #36901
@brianteeman, I think you didn't understand.

It is objective that the Joomla preview is a "fake preview" compared to any other system that includes some preview logic (and the Github example is striking, I see what will be rendered without saving anything).

I said that it can be done with versioning, on the user side: it's a fact that users uses the preview as a tool to "evaluate" whether what w

[2022-02-01 20:06] rbuelund commented on #36883
Hmmm.. seems that the error is happening in a model file of a custom component on the site - but why is the smart search indexing that component ?? It has no Smart Search plugin.

[2022-02-01 20:11] Hackwar commented on #36883
As I said, most likely a plugin is acting on a content event and is including that custom component.

[2022-02-01 20:15] rbuelund commented on #36883
Is there any tips to debug on this.. it is a needle in a haystack for me..

[2022-02-01 20:25] sunnydrake commented on #34952
BAD SLOW FIX
Deprecated: Automatic conversion of false to array is deprecated in /libraries/vendor/joomla/uri/src/UriHelper.php on line 50
add line
                              if ($result===false) $result=array();

Deprecated: trim(): Passing null to parameter #1 ($string) of type string is deprecated in libraries/src/Uri/Uri.php on line 143
add line
			if(is_null($live_site)) $live_site='';<hr

[2022-02-01 20:34] rbuelund commented on #36883
Tried to insert this in the module - but it is skipped, and the error just happens right after..

ob_start();
debug_print_backtrace();
$trace = ob_get_contents();
ob_end_clean();
mail("xxxxxx@xxxxxx.xx","",$trace);

[2022-02-01 21:16] rbuelund commented on #36883
Ahh.. i found it by inserting this line $backtrace = print_r(debug_backtrace(), true); and mailing the result.
It was the Sourcerer plugin making trouble. It has a setting to remove it from search! Thank you for your help on this.

[2022-02-01 21:16] #36883 closed, assigned to nobody

[2022-02-01 21:40] dgrammatiko commented on #36901
it's totally viable:
- get the FormData from the current form
- validate the data, if not valid return an error message
- POST the data as JSON to the a new (the code that needs to be written) controller function
- do a server side validation of the data and if ok then pass the data to the model and then the view

That should enable previews for non saved forms

caveats: The link IS NOT shareable

[2022-02-01 22:15] martiniturbide commented on #36185
Hi

I did something stupid, maybe not recommended, but I think it worked for me.

I was on Joomla 3.10 experiencing the "Missing field in database: Joomla\CMS\Table\Extension &#160; extension_id." Error.

First I took some backups.

I got "Joomla_3.10.5-Stable-Full_Package", unzip it and started to replace the 3.10 files to the 3.10.5 ones by hand.
- Administrator, bin, cli and compoments
When I e

[2022-02-01 22:16] sunnydrake commented on #34952
JOOMLA 3.10
Deprecated: str_replace(): Passing null to parameter #3 ($subject) of type array|string is deprecated in  libraries/src/Uri/Uri.php on line 141
replace
			$live_site = ($uri->isSsl()) ? str_replace('http://', 'https://', (string) $config->get('live_site')) : $config->get('live_site');

database/driver/mysqli.php :254 possible passing param as null
at line  240 add
                if (i

[2022-02-01 22:32] zero-24 commented on #34952
@sunnydrake please create a dedicated issue with the coresponding versions and stacktraces so the issue can be debugged and fixed thanks.

[2022-02-01 23:00] #36485 closed, assigned to nobody

[2022-02-01 23:00] #36472 closed, assigned to nobody

[2022-02-01 23:01] #36230 closed, assigned to nobody

[2022-02-01 23:01] #36232 closed, assigned to nobody

[2022-02-01 23:02] #36046 closed, assigned to nobody

[2022-02-01 23:02] #35770 closed, assigned to nobody

[2022-02-01 23:02] #35401 closed, assigned to nobody

[2022-02-01 23:02] #34909 closed, assigned to nobody

[2022-02-01 23:03] #34676 closed, assigned to nobody

[2022-02-01 23:03] #34641 closed, assigned to nobody

[2022-02-01 23:03] #34215 closed, assigned to nobody

[2022-02-01 23:04] #34083 closed, assigned to nobody

[2022-02-01 23:05] #35062 closed, assigned to nobody

[2022-02-01 23:05] #34694 closed, assigned to nobody

[2022-02-01 23:05] #33418 closed, assigned to nobody

[2022-02-01 23:07] brianteeman commented on #33125
Must have been resolved elsewhere

[2022-02-01 23:07] #33125 closed, assigned to nobody

[2022-02-01 23:07] #32402 closed, assigned to nobody

[2022-02-01 23:08] #29461 closed, assigned to nobody

[2022-02-01 23:08] #25777 closed, assigned to nobody

[2022-02-01 23:09] #28026 closed, assigned to nobody

[2022-02-01 23:10] #25020 closed, assigned to nobody

[2022-02-01 23:10] #30349 closed, assigned to nobody

[2022-02-01 23:14] #36216 closed, assigned to nobody

[2022-02-01 23:14] #34298 closed, assigned to nobody

[2022-02-01 23:15] #33761 closed, assigned to nobody

[2022-02-01 23:15] #35851 closed, assigned to nobody

[2022-02-01 23:16] #27331 closed, assigned to nobody

[2022-02-02 07:58] wedevlops opened #36915 "CAPTCHA - reCAPTCHA"
### Steps to reproduce the issue
1. Enable CAPTCHA - reCAPTCHA (input site key and secret key) - everything is working normally
2. BUT when you decide to disable the CAPTCHA - reCAPTCHA even if the plugin is disabled - you cannot save it unless you put any character on the site key and secret key

### Expected result

You should be able to save it if the plugin is disabled (But in this case you ne

[2022-02-02 07:59] wedevlops commented on #36915
![adding recapcha](https://user-images.githubusercontent.com/69560329/152115128-4b9a5cf5-cdeb-4ab0-83f8-1d57ac1a14fa.JPG)

Attaching files

[2022-02-02 08:15] brianteeman commented on #36915
This is the expected behaviour. Why would you want to save a form with invalid data? Also please remember that any plugin can be enabled directly from the plugin manager.

[2022-02-02 08:16] brianteeman commented on #36661
Closed as a duplicate

[2022-02-02 08:16] #36661 closed, assigned to nobody

[2022-02-02 08:17] brianteeman commented on #30461
resolved eleswhere

[2022-02-02 08:17] #30461 closed, assigned to nobody

[2022-02-02 08:24] brianteeman commented on #36677
closed as there is a draft pr

[2022-02-02 08:24] #36677 closed, assigned to nobody

[2022-02-02 08:28] wedevlops commented on #36915
when I move the demo site to the actual domain and decided not to use google Recaptcha then I encounter this.  to close that window (screenshot) your need to input any character just to close it; even the plugin is disabled.

[2022-02-02 08:32] thefbi79 opened #36916 "Joomla 4 search bar in menu link / categories missing"
### Steps to reproduce the issue
Go to admin panel. Create a new menu link. Search for the parent menu link. Here in Joomla 3.x was a search field to quickly find your menu when have many menu. Idem for the categories search.

### Expected result
Have a search field to find the item.!

### Actual result
No search field available

### System information (as much as possible)
Joomla 4.0.6

### Addit

[2022-02-02 08:38] brianteeman commented on #36915
ah I think I see your use case. please confirm if my understanding is correct.

You have a site with captcha keys setup and then you want to disable captcha AND remove reference to those keys?

[2022-02-02 08:38] wedevlops commented on #36899
![article option _ settings](https://user-images.githubusercontent.com/69560329/152120168-d173efc6-9808-49a9-a587-e2dd5eb50890.jpg)

[2022-02-02 08:40] brianteeman commented on #36916
Confirmed

[2022-02-02 08:41] wedevlops commented on #36915
yes; right.. i tested in J3 it works fine.

[2022-02-02 08:41] Quarx64 commented on #36887
no changes
ive inserted a line "echo $response->body;"
after $updateSiteXML = simplexml_load_string($response->body);
in joomla file /administrator/components/com_installer/src/Model/LanguagesModel.php on line 154
after klick on "Install Languages" it takes 1 Minute an then i get the Result: 19ee 0 on screen

[2022-02-02 08:43] thefbi79 commented on #36916
EDIT : This problem is on all search field, even if you want to find an article by the filters for example.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36916">issues.joomla.org/tracker/joomla-cms/36916</a>.</sub>

[2022-02-02 08:44] brianteeman commented on #36915
I can  not confirm that. The behaviour in j3 is identical

It can't really be fixed whilst it is a required field

[2022-02-02 08:48] zero-24 commented on #36887
@Quarx64 can you run a var_dump on the `$response` variable at line 146? `var_dump($response);` Would be interesting to know what you get back.

[2022-02-02 08:48] wedevlops commented on #36899
I tried that as well. Global settings Hide author and article settings show author. the result is it will always follow a global setting. you cannot show the author to a particular Article.

[2022-02-02 08:52] wedevlops commented on #36915
okay... I am just sharing my experience for J4. thanks..

[2022-02-02 08:58] richard67 commented on #36899
@wedevlops You still do not tell us anything about the **_menu item_** settings for what we have asked several times.

[2022-02-02 08:58] brianteeman commented on #36899
If the menu item is a "single article"
Global - hide
Article - show
Menu - show

If the menu item is a blog category
Global - hide
Article - show
Menu - Use article settings

[2022-02-02 08:59] brianteeman commented on #36915
Thank you it is appreciated

[2022-02-02 09:04] wedevlops commented on #36899
yeah.. I miss that out the Menu settings.. Thanks.. CASED SOLVED!

[2022-02-02 09:09] richard67 commented on #36899
That was hard but finally you found it. Closing as not as bug.

@wedevlops Please in future try to use better titles. As you have seen, not everything of which you think it is a bug is a bug at the end, and the title also doesn't tell anything about what is not working. Thanks in advance.

[2022-02-02 09:09] #36899 closed, assigned to nobody

[2022-02-02 09:11] richard67 commented on #36915
So the issue shall be closed as expected behavior?

[2022-02-02 09:35] KaleGlassman opened #36917 "Spam removed"
Removed

[2022-02-02 09:37] #36917 closed, assigned to nobody

[2022-02-02 10:01] phunsoft commented on #36901
Am 01.02.2022 um 22:40 schrieb Dimitris Grammatikogiannis:

The current preview opens a "popup" in the current window, and is *not*
showing an address field. So the (temporary) link is not seen, and
cannot be copied.

[2022-02-02 10:23] thefbi79 commented on #36916
EDIT 2 : Sorry, in the search field for article it is OK.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36916">issues.joomla.org/tracker/joomla-cms/36916</a>.</sub>

[2022-02-02 10:52] brianteeman commented on #36917
@zero-24 please remember to remove the pdf from the issues server

[2022-02-02 10:56] brianteeman commented on #36915
Yes I would say so. The only other option would be to have a default value for the two fields set to something like 00000000000 but then that defeats the purpose of it being a required field

[2022-02-02 11:11] richard67 commented on #36915
Closing as expected behavior. Details see previous comments. Feel free to re-open if you don't agree.

[2022-02-02 11:11] #36915 closed, assigned to nobody

[2022-02-02 12:30] zero-24 commented on #36917
I do not have access to that server but will ask who has to get it removed. Thanks

[2022-02-02 12:31] brianteeman commented on #36917
@HLeithner has access

[2022-02-02 12:31] pe7er opened #36918 "[4.0] Menu Item edit - order of Start/Finish Publishing"
### What needs to be fixed
In Joomla 4 you can set the **Start Publishing** and **Finish Publishing** date of a menu item.
IMHO the order in the **Menus: Edit Item** of those new fields is not logical.

![menu_item](https://user-images.githubusercontent.com/1217850/152152415-b34e29d2-b477-4607-97ec-cb3cb59737b6.png)

### Why this should be fixed
The **Access** and **Language** fields are used more

[2022-02-02 12:32] Atamich commented on #20865
Hi! I've hound this topic searching on the spam error.
The solution is:
Go to the Component "Contact" (com_contact) through the Components menu in admin panel. Then click Name and go to the right side -> E-mail settings -> Hide "copy" option or both if you don't need that contact form.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a>

[2022-02-02 12:38] brianteeman commented on #36918
What do you base that on? Only your own experience.

Personally I've never used the language field and only rarely the access field - probably about as often as the start/end publishing

[2022-02-02 12:42] karan-vaishnav commented on #36918
Hello Sir!
may I work on this issue??

[2022-02-02 12:52] HLeithner commented on #36917
Removed

[2022-02-02 13:17] pe7er commented on #36918
@brianteeman Yes, you are right. I base it on my personal experience with portal and multilingual websites.
And on the opinions of other Joomla (non-native English) users with whom I discussed about it.
For portal websites with multiple User Groups and Viewing Access Levels the Access field is used a lot.
And for multilingual website the Language field is essential.

Actually, although the start/e

[2022-02-02 13:22] brianteeman commented on #36917
thanks

[2022-02-02 13:23] pe7er commented on #36918
I tried moving the Start Publishing and Finish Publishing date from the Details tab to the "Page Display" tab. And I found out that when you put those 2 fields on the "Page Display", they are saved as parameters in the ``params`` field. Instead they should be saved to the ``publish_up`` and ``publish_down`` fields.

I'll create a new PR just to move the Start Publishing and Finish Publishing date

[2022-02-02 13:36] pe7er commented on #36918
@karan-vaishnav Yeah, if you like.
I created another PR to move the fields to the bottom, so they won't be in the way anymore.
If you know a better solution, then you are welcome to write another PR.

[2022-02-02 14:56] richard67 commented on #36918
Closing as having a pull request.

@pe7er You could have closed the issue yourself as you know we close issues when having a PR, and you made both the issue and the PR.

[2022-02-02 14:56] #36918 closed, assigned to nobody

[2022-02-02 14:56] pe7er commented on #36918
Ok, thanks!

[2022-02-02 15:18] brianteeman opened #36922 "iframe-height js"
What does this script do (or what is it supposed to do)?

https://github.com/joomla/joomla-cms/blob/88b03dd506233117f7225140387ad0ad365d6a5f/components/com_wrapper/tmpl/wrapper/default.php#L15

[2022-02-02 15:20] dgrammatiko commented on #36922
Nothing, kill it

[2022-02-02 15:22] brianteeman commented on #36922
So I wasnt going mad

[2022-02-02 15:26] brianteeman commented on #36922
(but if its not doing anything why did you spend your time converting it to es6?)

[2022-02-02 15:28] dgrammatiko commented on #36922
Actually I'm wrong here, the script will try to set the height of the iframe according to the contents inside it. Probably it shouldn't be useful as you can do that with css. So it's there for those that didn't actually styled correctly the iframe. In an perfect world that people used correctly HTML5 this should be redundant...

[2022-02-02 15:45] brianteeman commented on #36922
Doesnt seem to do that in my tests

Really? I dont think you can but would like to learn

[2022-02-02 15:50] dgrammatiko commented on #36922
Is the iframe in the same origin? Cross origin I think won't work anymore (although it's the iframe that shouldn't have right on the parent doc)

[2022-02-02 16:11] dgrammatiko commented on #36922
Do you have attribute `load` appended on the iframe?
Comes from here:
https://github.com/joomla/joomla-cms/blob/88b03dd506233117f7225140387ad0ad365d6a5f/components/com_wrapper/src/View/Wrapper/HtmlView.php#L82

[2022-02-02 16:21] brianteeman commented on #36922
MY FAULT

I didnt set autoheight on

![image](https://user-images.githubusercontent.com/1296369/152193873-fc5fa969-548e-4087-ac91-3e9e5d956a5d.png)

[2022-02-02 16:21] #36922 closed, assigned to nobody

[2022-02-02 16:48] drmenzelit commented on #26398
Maintainers are closing this. It is an individual case and not a joomla issue.

[2022-02-02 16:48] #26398 closed, assigned to nobody

[2022-02-02 17:01] drmenzelit opened #36924 "[4.1] Module position list without connection to template"
### Steps to reproduce the issue
On a Joomla site with 2 or more installed templates go to any module and start typing the name of a position.

### Expected result
You will see a list of positions ordered by the corresponding template. That is how it looks in Joomla 3

![grafik](https://user-images.githubusercontent.com/9153168/152200499-56e9455e-1dfa-402c-b58c-4c828d0dd64b.png)

### Actual result

[2022-02-02 17:08] SamusUA commented on #26398
@drmenzelit, It's not Joomla problem! This is a new feature to improve the friendliness and competitiveness of the CMS. Are you going to develop the CMS or stagnate behind the WP? There have been no major changes in the standard modules for 5 years already! When will you surprise users? Is it really that difficult.

[2022-02-02 17:29] drmenzelit commented on #36893
Confirmed

[2022-02-02 22:10] Hackwar commented on #27691
See? Just 2 years later and I'm reacting to your ping... 😉 Yes, this looks wrong and since nobody touched that code yet, it should also still be valid. To be honest, the proper solution would most likely be to have a switch to enable this advanced search feature or to simply search for the string, maybe with the later being the default.

Expected behavior for such a feature:
Simple Search (default

[2022-02-02 22:12] brianteeman commented on #36924
Confirmed

[2022-02-02 22:20] Hackwar commented on #36643
I can't replicate the behavior you are describing.

[2022-02-02 22:55] Hackwar commented on #36608
I can guarantee you, that we will not implement what you want in Joomla in the core. We would get literally thousands of people complaining about duplicate content (regardless of "duplicate content" even existing or not) and we would make a giant step backwards in our development. I also don't see how editing an article would be dependent on the menu item. Either you have edit rights to an asset o

[2022-02-02 23:00] richard67 commented on #36608
Closing as expected behavior due to reasons stated in the previous comment.

[2022-02-02 23:00] #36608 closed, assigned to nobody

[2022-02-02 23:03] richard67 commented on #36567
Solved with #36585 .

[2022-02-02 23:03] #36567 closed, assigned to nobody

[2022-02-02 23:07] Hackwar commented on #36183
As was stated before, I don't see how this is a core issue or what we could do here. Can we close this?

[2022-02-02 23:10] richard67 commented on #36183
Closing as not an issue with the CMS core. See previous comments.

[2022-02-02 23:10] #36183 closed, assigned to nobody

[2022-02-02 23:11] BrainforgeUK commented on #36183
Ok to close.

[2022-02-02 23:20] ReLater commented on #36916
Please test https://github.com/joomla/joomla-cms/pull/36925

[2022-02-02 23:23] Hackwar commented on #25448
1.5 years later and I still stand to my previous comment. Can we please close this?

[2022-02-02 23:31] #25448 closed, assigned to nobody

[2022-02-02 23:32] #18423 closed, assigned to nobody

[2022-02-02 23:34] #36916 closed, assigned to nobody

[2022-02-02 23:47] Quy commented on #25270
Closing as duplicate. Thanks.

[2022-02-02 23:47] #25270 closed, assigned to nobody

[2022-02-03 02:04] mtechoh commented on #30822
This appears to still be an issue. mod_custom default template doesn't reference the module class at all:

<div id="<?php echo $modId; ?>" class="mod-custom custom">

And unless I'm missing something, most of the mod_* items ignore the module class and don't attempt to make moduleclass_sfx available.
<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker

[2022-02-03 05:55] #24430 closed, assigned to wilsonge

[2022-02-03 06:57] drmenzelit commented on #30822
"Inherited" means the module will take the style defined in the template position
`<jdoc:include type="modules" name="bg" style="none" />`
If the position has `style="none"` the module will be loaded without chrome around. That is expected behavior.

[2022-02-03 07:30] #30822 closed, assigned to nobody

[2022-02-03 07:35] richard67 commented on #36452
Closing as having a pull request. Please test #36927 . Thanks in advance.

[2022-02-03 07:35] #36452 closed, assigned to nobody

[2022-02-03 08:42] pnkr opened #36928 "Plugin: System - Additional Accessibility Features Google Fonts remove"
### Steps to reproduce the issue
Enabling this plugin tries to use Google Fonts
https://fonts.googleapis.com/icon?family=Material+Icons
through this css file /media/vendor/accessibility/js/accessibility.min.js?3.0.14

As of recent events Google Fonts breaches European law GDPR and should be optional.

### Expected result
Plugin should be google font independent. So it should use a embeded font or

[2022-02-03 09:01] zero-24 commented on #36928
Hmm looks like its a default option to use the remote font: https://github.com/ranbuch/accessibility/blob/09e9e21dadd5d0861c676cba008d8341533c2ef7/src/common.js#L75-L94
https://github.com/ranbuch/accessibility/blob/09e9e21dadd5d0861c676cba008d8341533c2ef7/src/main.js#L5-L6

But It looks like its possible to override it on the lib using end. But I'm not a JS expert to know how that could be done.

[2022-02-03 09:13] brianteeman commented on #36928
https://ranbuch.github.io/accessibility/#icon-image

[2022-02-03 09:15] zero-24 commented on #36928
Looks like we can pass the relevant options here: https://github.com/joomla/joomla-cms/blob/4.1-dev/plugins/system/accessibility/accessibility.php#L73 and that icons can be stored and served locally

[2022-02-03 09:16] brianteeman commented on #36928
Just read the docs!!!

[2022-02-03 09:19] zero-24 commented on #36928
Yes the docs says we can set a option in the array. Now I pointed to the place where the options can be changed :)

[2022-02-03 13:40] mtechoh commented on #30822
Perhaps this is just an adjacent issue, then, but re-read my comment and check the code in mod_custom/tmpl/default.php (and others). No individual module instance style is possible in the template on 4. This was possible in 3 and there was code there to pull the style from the module instance. Adding that code back in an override makes it possible again.

[2022-02-03 13:50] JulianR-HR opened #36931 "Joomla 4.0.1-4.0.6 - Post API for article creation throws a 404 error"
Hi,

as written in the subject, creating an article via the API with a POST on on the /content/article endpoint does not work.

### Steps to reproduce the issue

- Enable the API Authentication for a user which is allowed to create articles (superuser in my case)
- try to create an article:
** myurl.com/api/index.php/v1/content/article** with the following body:
{
    "alias": "my-article",
    "a

[2022-02-03 13:54] zero-24 commented on #36931
Please try to post against: /v1/content/articles (adding an "s" to article)

https://github.com/alexandreelise/j4x-api-collection/blob/master/j4x-api-complete-collection.postman_collection.json#L1509-L1535

[2022-02-03 14:41] uglyeoin commented on #25270
Thanks both.  It makes no odds to me whether this is the one closed or the other one, hopefully it gets solved :)

[2022-02-03 15:10] Quarx64 commented on #36887
New server, new installation:
Die Update-Quelle #2 "Accredited Joomla! Translations", URL: https://update.joomla.org/language/translationlist_4.xml, konnte nicht geöffnet werden.

[2022-02-03 15:41] b2z commented on #35915
I have exactly the same problem on Joomla 4.0.6 running on joomla.com (CCP).  Wanted to update to Joomla ‎4.1.0-rc2, but:
![image](https://user-images.githubusercontent.com/3051676/152375777-b343bd75-560a-42d6-a295-993ca7bb60f1.png)
![image](https://user-images.githubusercontent.com/3051676/152375881-1f0ec217-811c-40fa-ae4a-478e4af654d7.png)
![image](https://user-images.githubusercontent.com/30516

[2022-02-03 15:43] richard67 commented on #35915
@b2z And does it help to apply the change from PR #35951 ?

[2022-02-03 15:45] zero-24 commented on #36931
Well its the correct post URL for now. I have not implemented the API myself yet but you can have a look at the tests how it should work: https://github.com/joomla/joomla-cms/blob/4.1-dev/tests/Codeception/api/com_content/ContentCest.php

[2022-02-03 15:47] zero-24 commented on #36887
Hmm interesting can you check whether curl is installed and enabled on said server?

[2022-02-03 15:48] Quy commented on #36931
Please read the doc for required properties.  You are missing `catid`.
https://docs.joomla.org/J4.x:Joomla_Core_APIs#Create_Article

[2022-02-03 15:55] b2z commented on #35915
@richard67 I thought #35951 was merged into 4.0 already.

[2022-02-03 15:58] JulianR-HR commented on #36931
Hi Quy,

no, I don't forgot the <code>cadid</code>

Please check the screenshot.

![screen shot 2022-02-03 at 15 58 00](https://issues.joomla.org/uploads/1/c36ced29524e0f328a40911e3d035076.jpg)<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36931">issues.joomla.org/tracker/jo

[2022-02-03 15:59] richard67 commented on #35915
@b2z Yes, you are right. Then I have no idea. Maybe you can see something when switching debug on in global configuration and setting error reporting to maximum and then going to the database checker (Maintenance: Database)? If you get a call stack in that case, could you post it here?

[2022-02-03 15:59] brianteeman commented on #36931
@quy the catid is there - thats literaly a copy/paste from the link you shared,

What I dont know is if the user has a category with an id of 64 and if not would the request fail because of that

[2022-02-03 16:02] JulianR-HR commented on #36931
Hi @brianteeman - I used another canid as you might see in the screenshot. canid 11 is valid on my page.<hr /><sub>This comment was created with the <a href="https://github.com/joomla/jissues">J!Tracker Application</a> at <a href="https://issues.joomla.org/tracker/joomla-cms/36931">issues.joomla.org/tracker/joomla-cms/36931</a>.</sub>

[2022-02-03 16:09] Chaosxmk opened #36933 "HTMLHelper::calendar needs style updates"
### What needs to be fixed
There are several bits about the resulting popup from HTMLHelper::calendar that feel very out of date and in need of some fixes.
![image](https://user-images.githubusercontent.com/32301627/152377119-6133e265-b462-425d-9921-68190af37ea3.png)

### Why this should be fixed
It unfortunately looks like it's been unchanged since Joomla! 2.5 despite having the brand new Bootstr

[2022-02-03 17:57] Quy opened #36934 "[4.1] Scheduled Tasks - Argument 1 passed must be of the type array"
### Steps to reproduce the issue
Apply PR #36927.
Create a new task.
For the Execution Rule, select `Cron Expression (Advanced)`.
Leave selections empty under Cron Match.
Click Save button.

@ditsuke

[2022-02-03 21:32] phunsoft opened #36935 "Variables $title and $content are initialised twice in module layouts\joomla\content\emptystate.php"
### What needs to be fixed

At the beginning of file layouts\joomla\content\emptystate.php, some variables are initialized. Variables $title and $content are initialised twice. See below. Although this doesn't have any impact, it should be fixed.

$formURL    = $displayData['formURL'] ?? '';
$createURL  = $displayData['createURL'] ?? '';
$helpURL    = $displayData['helpURL'] ?? '';
$title      = $

[2022-02-03 22:05] nbradshaw45 opened #36936 "Joomla 4 API REST - Create User when there is a required field and Editable in 'Site' is selected"
### Steps to reproduce the issue
Set a User->Field (Phone as an example) to 'Required'="yes", AND 'Editable In'="Site"

Create a user with REST API:
POST: {{base_url}}/{{base_path}}/users

BODY:
{"block":"0","email":"bob.smith@test.com","groups":["2"],"lastResetTime":"","lastvisitDate":"","name":"Bob Smith","params":{"admin_language":"","admin_style":"","editor":"","helpsite":"","language":"","tim

[2022-02-04 00:09] Quy commented on #36935
Please test #36937. Thanks.

[2022-02-04 01:42] #36935 closed, assigned to nobody

[2022-02-04 03:29] Quy commented on #36931
Please enclose the value with double quotes: "Titel"

[2022-02-04 03:39] Quy commented on #36724
Be sure to use the ID value under System > Content Languages.

[2022-02-04 04:52] Quy commented on #33447
Closing as #36933 is more comprehensive.

[2022-02-04 04:52] #33447 closed, assigned to nobody

[2022-02-04 04:58] Quy commented on #20255
It is still reproducible in J3, but probably not worth fixing as it does not affect the indexing. @zero-24 close?

[2022-02-04 07:01] laoneo commented on #36898
Can you give an example what do you exactly expect. I doubt the configuration.php file is the right place to store your variables there. I would rather go with a .env file.

[2022-02-04 08:50] BPBlueprint opened #36938 "CustomField Type Media (media) > Changing Preview doesn´t work"
### Steps to reproduce the issue
Create a customField of type Media (media).
Set preview 1. Tooltip, 2. Inline and 3. No
Test the view in backend for 1, 2 and 3

### Expected result
View of CustomField in Backend is
1. Tooltip
2. inline
3. No

### Actual result
View of CustomField in Backend is
1. and 2. are the same view
3. is No (means 3. works correct)

### System information (as much as possib

[2022-02-04 09:44] simbus82 opened #36939 "[4.2] Hard limit need to be removed in Meta Description field"
### Steps to reproduce the issue
Try to add more than 160 ch in a Meta Description field, for example a Menu Voice.

### Expected result
The counter become red or go to negative after 160ch, i can continue to write what i want, and maybe will be the search engine to truncate my content.
On mobile and in some devices (combination of resolution/dpi), Google use a pixels limit for Meta Description, s

[2022-02-04 09:57] BPBlueprint opened #36940 "CustomField Type Media (media) > Hide Image Description and No Description Fields at Admin-Forms"
When I use the Custom Field Type Media (media) there are three fields/formfields
1. image
2. Image Description (Alt Text)
3. No Description [Checkbox]

For sure Field 1 (image) is the one we always need.
But fields 2 (Image Description) and field 3 (No Description) are sometimes really disturbing, cause they take alot of space at the screen.

Especially when you use a Media CustomField at a subfor

[2022-02-04 10:24] brianteeman commented on #36940
No - they are extremely important fields and you always need them all

[2022-02-04 10:25] brianteeman commented on #36939
I'm sure we have discussed this before

[2022-02-04 11:01] BPBlueprint commented on #36940
Well, I donot agree ... or I ask like this: WHY are those alyways needed?
If you see in my screenshots J3 vs J4 -> it is hard to explain to people, why they now have such really user-unfriendly forms to fill, when it was much easier bevor
![j3_having_alt-text_with_customfield-text](https://user-images.githubusercontent.com/34511344/152518111-bdea91d7-205c-4d9e-a142-0b0d08343870.JPG)
![j4_takes_soo

[2022-02-04 11:28] simbus82 commented on #36939
I checked if there was some talk about the "hard" limit, but I didn't find any other "issues" on this subject.
There were some discussions about the length (which is correct anyway).
We work with these fields on a daily basis, and with Joomla 4 we have found a slowdown in the process with our copywriters and SEOs.

[2022-02-04 12:30] laoneo commented on #36938
@dgrammatiko any feedback here? Is this done on purpose?

[2022-02-04 12:32] dgrammatiko commented on #36938
Yes, there is no tooltip anymore. That was by design

[2022-02-04 12:56] laoneo commented on #36938
Then we need to remove that options from the custom field?

[2022-02-04 13:03] BPBlueprint commented on #36938
Option "NO" should still be there. This works and is really helpful.
TOOLTIP can be removed, when it´s no more wanted. Cause it´s a bit confusing like that.

[2022-02-04 13:05] dgrammatiko commented on #36938
FWIW early in the J4 development we were keeping things even if the functionality was removed (eg `behavior.framework`), later most got dropped, this one slipped...

[2022-02-04 13:49] ReLater commented on #36939
That was a political decision of Google disciples to force this limit. Nobody knows which limits will be recommended in the future and who is using meta fields for what purposes.

You can test this plugin that can also be configured to just not limit the length of some Meta fields.
https://github.com/GHSVS-de/plg_system_characterscounterghsvs#possible-settings-for-each-field-individually
**But fir

[2022-02-04 14:03] ReLater commented on #36940
That is one aspect of accessibility (a11y). An ALT text equals not always the visible description of images, e.g. in a `<figcaption>`. It can, but it doesn't have to.

I agree that the checkbox is useless overhead for most users. If the ALT attribute (= the ALT field) is empty than it has the same meaning as "just a decorative image". Why do we have to confirm that?

[2022-02-04 14:04] simbus82 commented on #36939
I'm sorry about that, and a little worried.
I'm a SEO and I would never have made such a decision.

Probably those who led you down this path (blocking the entry in the field) lack some SEO and UX skills.

Google has constantly changed, and continues to change, the length of meta. Two years ago on mobile they exceeded 200 ch, to date there are continuous tests (doing a lot of SEO we often fall int

[2022-02-04 14:16] simbus82 commented on #36939
Found it, you are right! But no one considered the comment https://github.com/joomla/joomla-cms/pull/27804#issuecomment-595310546

![image](https://user-images.githubusercontent.com/1375730/152543853-933ddf73-f26d-42bf-9430-e9902cb4bc3e.png)

[2022-02-04 15:09] brianteeman commented on #36939
The script being used takes its count from the maxlength value in the field. To achieve what you want would require using a different attribute eg data-maxlength and changing the script to allow characters greater than the length and to count how many characters above that length.

Currently that script can not do this. Maybe if you submitted an issue report they will be able to make the change ht

[2022-02-04 15:13] Quy commented on #36763
Confirmed help page has info. Thank you!

[2022-02-04 15:13] #36763 closed, assigned to nobody

[2022-02-04 15:34] DSist commented on #36643
I have just checked it again with Cassiopea default template. Try to enlarge font for the search field via DevTools to see the difference clearly.

.com-finder .input-group .form-control { font-size: 20px; }

[2022-02-04 15:37] mtechoh opened #36942 "Module Class ignored"
### Steps to reproduce the issue
1) Create an instance of mod_custom (or several mod_* content modules).
2) Enter any value into Advanced > Module Class, save, check front end.

### Expected result
That class should be added to the rendered code for that module.

### Actual result
The class is not added. Looking at mod_custom.php, the class is no longer grabbed, and tmpl/default.php makes no attem

[2022-02-04 15:46] Chaosxmk commented on #36942
The layout chrome handles that stuff in Joomla 4, specifically the html5 and table layouts. I assume it was done to reduce repetition of classes.

[2022-02-04 15:52] mtechoh commented on #36942
That seems like a leap backward in functionality. You'd need to create a module position to add chrome for every instance of a module you used, and then add the chrome styling. I'm referring to the module css class, not the chrome. The Module Class field is also still available to be added, but it currently being ignored. If I'm missing something on how classes entered into that field are rendered

[2022-02-04 15:59] Chaosxmk commented on #36942
A module position isn't 100% necessary, the Module Style field contains a list of all available chromes, and that choice will override what a layout position has set by default.

[2022-02-04 16:01] mtechoh commented on #36942
That still means that a chrome style must be set instead of a css class. It also does address that the Module Class field is ignored.

[2022-02-04 16:29] brianteeman commented on #36940
1. Because it should be a conscious decision to mark an image as only a decorative image.
2. An image marked as decorative will have an alt of "". This means that you wont be "bothered" by an accessibility error.

[2022-02-04 17:10] N6REJ commented on #36839
great video. @Worti2 based on the video looks like aria-label="YOURH3TEXT" solves the issue.
I could be wrong.

[2022-02-04 17:19] pritam825 commented on #36763
@coolwebcreations thanks

[2022-02-04 17:48] Hackwar commented on #36898
You can write a plugin, which adds or removes options from the configuration.php. See line 912 (event onApplicationBeforeSave) in administrator/components/com_config/src/Model/ApplicationModel.php. Or do you need something else?

[2022-02-05 15:15] brianteeman commented on #36942
As well not instead

Only if the chrome doesnt support the module class

Nothing has really changed

[2022-02-05 15:40] akshitrattan commented on #36933
we can stylize the time dropdown menu by using the Bootstrap timepicker from the Bootstrap 4 datetimepicker library

[2022-02-05 15:47] mtechoh commented on #36942
Code from J4 mod_custom/tmpl/default.php:
`<div id="<?php echo $modId; ?>" class="mod-custom custom">`

Code from J3 mod_custom.tmpl/default.php:
`<div class="custom<?php echo $moduleclass_sfx; ?>" ... >
`

That is a difference in how css classes get added. I see that chromes can use the class, just as I can use the class by adding back the code in the override, but that's adding work and complexi

[2022-02-05 16:21] bcwang535 commented on #28852
Hi everyone, I just solved this need through @Razzo1987[Razzo1987](https://github.com/Razzo1987)'s guidance, let me thank him first.

Next, let me explain why this feature is still important to people like me. Basically, my hosting plan choice is less expensive, which means I have less node storage, so I always use existing web image assets, including the intro images. Furthermore, there will be m

[2022-02-05 16:35] dgrammatiko commented on #28852
I'm against for the reasons I stated https://github.com/joomla/joomla-cms/issues/28852#issuecomment-692966112 and https://github.com/joomla/joomla-cms/issues/28852#issuecomment-692972999
Also I already provided the [solution](https://github.com/joomla/joomla-cms/issues/28852#issuecomment-692966112) for those that want **TO COMPROMISE THE PERFORMANCE** of their sites by entering directly the url of

[2022-02-05 16:46] Quy commented on #35918
@austin7-21 I cannot replicate with a fresh install of 4.0.3 to 4.0.6.
Do you see a `Hide all Messages` button and no messages or `Reset Messages` button in the middle of the page?

[2022-02-05 17:11] coolcat-creations commented on #28852
This is against all usability, I can't tell you how often I need to paste the path because of migrating between sites or articles. If there must be a special path to increase performance, ok, but then let me paste a path and transform it into the weird format?

[2022-02-05 17:14] chmst commented on #35918
@austin7-21 I did my test on php 7.4 and php 8.0.1.
As you write "The latest of everything" does this mean php 8.1?

[2022-02-05 17:22] chmst commented on #36343
Looks as if the new "Empty state" screen ignores messages.

[2022-02-05 17:23] dgrammatiko commented on #28852
If you want to do it your way, as I said before, create an override of the media field layout and remove the `readonly` attribute. The core shouldn't ship broken things and thus a proper implementation requires as I said before quite more logic: validate the URL, get the image adapter, get the image dimensions. If you're willing to provide this functionality then you can have the non readonly inpu

[2022-02-05 17:31] coolcat-creations commented on #28852
Sorry but I am not skilled enough to do something like this and feel pushed miles backwards as a user.
What does this feature cost exactly so I can maybe organise a crowdfunding?

[2022-02-05 18:36] dgrammatiko commented on #28852
You know you can just create a PR removing the readonly attribute, so no crowdfunding is needed. Pretty sure it will also be accepted...

[2022-02-05 18:39] #34940 closed, assigned to nobody

[2022-02-06 10:02] brianteeman commented on #35498
Please test #36946

[2022-02-06 10:04] #35498 closed, assigned to nobody

[2022-02-06 10:05] brianteeman commented on #35342
This should be closed for the reasons stated by @bembelimen https://github.com/joomla/joomla-cms/pull/36557#issuecomment-1019125779

[2022-02-06 10:09] #35342 closed, assigned to nobody

[2022-02-06 10:13] brianteeman commented on #35055
Should be resolved with #36860

[2022-02-06 10:15] richard67 commented on #35055
Closing as having a pull request. Please test #36860 . Thanks in advance.

[2022-02-06 10:15] #35055 closed, assigned to nobody

[2022-02-06 10:49] alikon commented on #28852
please test #36945

[2022-02-06 10:49] #28852 closed, assigned to nobody

[2022-02-06 11:09] brianteeman commented on #34936
Please test #36947

[2022-02-06 11:10] #34936 closed, assigned to nobody

[2022-02-06 11:15] brianteeman commented on #34657
@chmst please can you try to replicate this

[2022-02-06 11:17] brianteeman commented on #34628
No idea what this issue is about or what is expected. Maybe the bug squad should review it and make a decision to close?

[2022-02-06 11:18] brianteeman commented on #34626
@chmst is this resolved for you now after @wilsonge changes?

[2022-02-06 11:23] brianteeman commented on #33657
This would be great for 4.2 @roland-d

[2022-02-06 11:32] brianteeman commented on #33277
I guess this never happened again and can be closed

[2022-02-06 11:47] richard67 commented on #34628
@angieradtke What's the problem? That jQuery is pulled and you don't know why? I'm not sure if I get this issue right. Have you meanwhile found time to check if it is also an issue with J4?

[2022-02-06 11:59] Hackwar commented on #34628
The problem is, that the pagination class throws a deprecation notice that the usage of the pagination file function thing-a-ma-bob is deprecated, but actually doesn't seem to use the layouts its suggesting in that same deprecation notice.

[2022-02-06 12:06] richard67 commented on #34628
@Hackwar I see. Do you know how it's in J4? And what would you suggest to do?

[2022-02-06 12:08] Hackwar commented on #34628
I didn't look into this in J4 and basically only looked at this half a year ago. I would have to start from scratch as well.

[2022-02-06 12:14] roland-d commented on #33657
@brianteeman I totally agree.

@PhilETaylor So if you are willing to do this, I am happy to include this in 4.2.

As for the question on how to handle multi-language, the mail templates are also just language strings. Can´t we do this the same way as Language Overrides work. Select an extension in a dropdown and select the language in another dropdown.

[2022-02-06 12:15] Fedik commented on #34628
Should use `$pagination->getPaginationLinks($layout)`,
if `$layout` is empty then will be used default `joomla.pagination.links`.

https://github.com/joomla/joomla-cms/blob/88b03dd506233117f7225140387ad0ad365d6a5f/libraries/src/Pagination/Pagination.php#L436

[2022-02-06 12:21] Fedik commented on #34628
I see that default Admin tables still use `$pagination->getListFooter()` wich uses of `template-name/html/pagination.php`,
Deprecation just means it should we switched to `$pagination->getPaginationLinks($layout);` that will use `joomla.pagination.links`.

Tricky issue, it still need to update all our list view to use new method.

[2022-02-06 12:25] Fedik commented on #34628
Hm, but `$pagination->getListFooter()` is proxy to `$pagination->getPaginationLinks()` :)
So yeah, use override for `joomla.pagination.links`.

Sorry for confusing :)

[2022-02-06 12:26] richard67 commented on #34628
@Fedik So it can be closed again?

[2022-02-06 12:26] Fedik commented on #34628
Yeap ;)

[2022-02-06 12:26] #34628 closed, assigned to nobody

[2022-02-06 13:57] Scrabble96 commented on #35915
I'm having the same problem with a recent installation of J4.0.5 on cloudaccess.host and I haven't installed any beta versions, just J4.0.5 as it was installed for me by CCP.

[2022-02-06 16:15] zero-24 commented on #36928
PR created: https://github.com/joomla/joomla-cms/pull/36948

[2022-02-06 16:15] #36928 closed, assigned to nobody

[2022-02-06 16:34] loretxt commented on #35686
Hello everyone, I've the same problem, but autoload_psr4.php is missing on my cache folder. Both frontend and backend are offline with the following message: "Fatal error: Trait 'Joomla\Plugin\System\Webauthn\PluginTraits\AjaxHandler'..."
Any idea?

Joomla 3.10, PHP 7.4
Thanks!

[2022-02-06 16:37] brianteeman commented on #35686
Are you sue you are running Joomla 3.10?

[2022-02-06 16:40] brianteeman commented on #30905
There doesnt appear to be any reason for this Issue to remain open?

[2022-02-06 16:42] loretxt commented on #35686
I tried to install Joomla 4 but had issues so I restored a backup with a previous version (3.10). Just checked now, to be sure, version file in /libraries/src folder (file attached):

	 * Major release version.
	 *
	 * @var    integer
	 * @since  3.8.0
	 */
	const MAJOR_VERSION = 3;

	/**
	 * Minor release version.
	 *
	 * @var    integer
	 * @since  3.8.0
	 */
	const MINOR_VERSION = 10;

	/**
	 *

[2022-02-06 16:43] PhilETaylor commented on #35686
"so I restored a backup "

but you did not delete all the files specific to Joomla 4...

[2022-02-06 16:44] brianteeman commented on #35686
What he said ⬆️⬆️⬆️

[2022-02-06 16:47] loretxt commented on #35686
mmm right, guess this can possibly be the cause, then. Is there a way to check and find which files I need to delete now?

[2022-02-06 16:48] brianteeman commented on #35686
Not possibly the cause it is **100% the cause.**

[2022-02-06 16:56] brianteeman commented on #30270
Can someone please close this as stated above or if I am wrong then update the issue.

[2022-02-06 17:01] brianteeman commented on #29924
Should be closed as the code referred to doesnt exist

[2022-02-06 21:02] Quy commented on #30270
It is reproducible.

![30270](https://user-images.githubusercontent.com/368084/152701196-6d86f45a-246f-4fac-9cb5-2ae99839f551.png)

[2022-02-06 21:47] Quy commented on #36375
Fixed in #24651. Tested with MySQL.

[2022-02-06 21:47] #36375 closed, assigned to nobody

[2022-02-06 21:50] richard67 commented on #35587
Closing as having a pull request. Please test #36954 . Thanks in advance.

[2022-02-06 22:00] richard67 commented on #35587
Sorry, re-opening because the PR solved the issue only partly.

[2022-02-07 04:48] joomla-admin opened #36955 "Unable to save article successfully, happens randomly in J4"
### Steps to reproduce the issue
Create an article. Type something in the content. Select save. Type "Edit" to return to enter edit mode for the same article.
Type some words to update the article. Then select save.
The system shall spin during saving process.
Please note the duration of the spinning time. Instantly or 3~5 seconds.
Make sure your article is saved with new update.
If not, user will

[2022-02-07 06:20] richard67 commented on #36955
Please give this issue a meaningful title.

[2022-02-07 07:59] brianteeman commented on #36955
If that were true this would **not** be the first report

So clearly something is happening **onsave** that is causing the problem.

You didnt provide any system information as requested so its impossible to debug. You should look at all plugins that operate onsave/aftersave for example the smartsearch content plugin.

[2022-02-07 08:53] angieradtke opened #36956 "[4.0] [3.9] com_contact - custom fields- category"
### Steps to reproduce the issue

 I have two com_contact categories and assign different custom fields to these categories in the email form.
This leads to  a mess in the frontend. The custom fields do not know to which category
they belong and when switching between the different contact forms,
the fields are alternately assigned to one or the other category.

The issue is located in:
components

[2022-02-07 08:55] brianteeman commented on #36956
If you have the solution then please submit a pull request

[2022-02-07 09:35] simbus82 commented on #33730
All the admins of our CMSs (customers above all) are asking me to remove that button from the user management (and permissions) from their 4.x websites because it is "literally unwatchable".
I am acting brutally with css to hide it (practically nobody uses the notes system) but obviously it is not a solution.
In Joomla 4.1 there is still this huge UI flaw.
Also the "Permission" button has the same

[2022-02-07 09:46] brianteeman commented on #33730
Unfortunately not

[2022-02-07 10:00] bcwang535 commented on #28852
Haha, did I poke a hornet's nest?

Basically, Joomla4 is a very good CMS build tool, I like its flexibility and hierarchical permission control, which is why I choose it as the base of the website.

To talk a little about my background, I'm a UX/UI designer, and I know some interactive programming.

However, with my fairly rich design background, I still encountered many obstacles in solving the r

[2022-02-07 10:14] coolcat-creations commented on #28852
@bcwang535 I don't know what you try to show in the screenshots but I appreciate your work to create and share :-)

So to summarize my problem:

1) As an admin I sometime migrate between articles and website-copies or speed up my workflow by copying a path and typing the image name myself. That all happens with relative paths, no absolute paths.

Example 1: Article A has images/general/intros/main

[2022-02-07 11:01] dzandut opened #36957 "COM_CONTACT_EMAIL in default_address.php"
### Steps to reproduce the issue
Enable email display

### Expected result
The value of the language variable

### Actual result
language variable

### System information (as much as possible)

### Additional comments
No required variable in language files
extra characters **">** at the end of the variable
[code]

[2022-02-07 11:32] angieradtke commented on #36956
@brianteeman  If it was that easy for me, I would do that